[2022-10-27 16:56] Ali-Flt commented on #3016
@tvdboom thanks for the fix, Is this PR also going to fix any of #3034 or #2960?

[2022-10-28 03:30] #2874 closed

[2022-10-28 06:41] tvdboom commented on #3016
Yes, hadn't seen those issues but I ran a test for each and it seems to work now

[2022-10-29 12:06] #1790 closed

[2022-10-29 13:47] ngupta23 commented on #3036
@ConnorReedAvantum Thanks for raising this. This seems to be an issue with the underlying sktime library. I have raised an issue with them. Once this is resolved by them and we upgrade pycaret to their fixed version, this should be fixed automatically.

Thanks!

[2022-10-29 13:59] ngupta23 commented on #2770
@gfragi I looked into this data further and it does not look like the data is coming from a "single instance". Can you elaborate on what problem you are trying to solve? The time series module in pycaret currently only works on a single instance of data (coming from one product for example). Also, are you interested in time series forecasting, time series classification or something else?

![image

[2022-10-29 14:00] ngupta23 commented on #2836
@Yard1 @tvdboom Are we making any changes to this for the RC5 release?

[2022-10-29 14:01] ngupta23 commented on #2940
@turkalpmd  I am going to close this for now. If you can provide a minimal reproducible example that I can use for debugging, please feel free to reopen this. Thanks!

[2022-10-29 14:01] #2940 closed

[2022-10-30 04:48] nagamatz opened #3059 "[BUG]: Runs recorded in MLflow nests all recursively when [full] installed"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-30 15:52] #3016 closed

[2022-10-30 15:52] #3034 closed

[2022-10-30 15:52] #2960 closed

[2022-11-01 20:52] Sidney-Bishop opened #3060 "[INSTALL]: Installation on MAC"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

macOS-10.16-x86_64-i386-64bit

### Installation Method

pip install

### pycaret Version

2.3.10

### Python Version

3.8.13

### Description

Hi,

Following the instructions on the PyCaret webpage [here](https://pycaret.gitbook.io/docs/get-started/installati

[2022-11-02 02:13] k7e7n7t opened #3061 "[BUG]: plot_model not plotting"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-02 12:17] ItayGabbay commented on #2882
Hey @moezali1
Deepchecks maintainer here. Just letting you guys know we've finally released a new version (0.9.2) that relaxes this strict plotly requirement. Deepchecks is now compatible with the latest version of plotly.

[2022-11-02 21:37] Bodhi8 opened #3065 "[INSTALL]:"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Windows-10-10.0.19044-SP0

### Installation Method

pip install

### pycaret Version

pycaret-2.2.3

### Python Version

3

### Description

Trying to import time series. Getting this error:
from pycaret.time_series import *

ModuleNotFoundError

[2022-11-03 10:23] ngupta23 commented on #3065
You are installing the wrong version of pycaret (it does not have time series in it). Please check the readme on the main pycaret page for install instructions.

https://github.com/pycaret/pycaret#-pycaret-time-series-module

[2022-11-03 10:23] #3065 closed

[2022-11-03 10:24] ngupta23 commented on #3061
Can you try it on the Windows machine instead of WSL? I am trying to narrow does the problem because it works on Windows for me. Thanks!

[2022-11-03 17:52] k7e7n7t commented on #3061
![image](https://user-images.githubusercontent.com/28897326/199797697-972a6944-32bd-4837-9983-3870d4c068d6.png)

Same result.  Thanks.

[2022-11-04 10:46] acivit opened #3066 "[BUG]: Tune model finished but CPU at 100%"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-04 11:08] SSMK-wq opened #3067 "[INSTALL]: Could not build wheels for scikit-learn which use PEP 517 and cannot be installed directly"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Windows-10-10.0.19044-SP0

### Installation Method

pip install

### pycaret Version

I assume pip install does the latest version

### Python Version

Python 3.9.12

### Description

I tried the below

`pip install pycaret`

I am getting this error:

ERROR:

[2022-11-05 04:17] k7e7n7t commented on #3061
I just created a new environment in Windows Code and installed a master branch pycaret and now it is plotting.  I tried the same is WSL but it did not work.  Thank you.

[2022-11-05 12:36] ngupta23 commented on #3061
11th Nov 2022 Meeting:

Verified that time series plots show on Google Colab (Ubuntu) and Windows (VSCode Jupytrr Notebook), but does not show up on Jupyter Notebook on the browser

Actions: @Yard1 will look into migrating time series plotting to use the internal `Display` class that is used for other modules like classification.

[2022-11-05 12:37] ngupta23 commented on #3036
5th Nov 2022 meeting

Discussed with @Yard1 . It does not make sense to display metrics on Test set after finalizing the model. The following section from `supervised_experiment.py` should be removed.

![image](https://user-images.githubusercontent.com/33585645/200120177-8ebaf0f0-5e63-416f-89cf-296536ddd332.png)

[2022-11-05 12:39] ngupta23 commented on #2980
Can you paste the output of following command to this issue

[code]

[2022-11-05 12:44] ngupta23 commented on #2934
5th Nov 2022 Meeting

- @moezali1 verified this is working on Colab which is using Ubuntu.
- Maybe related to https://github.com/pycaret/pycaret/issues/3061 since these 2 plots use Plotly while others use matplotlib.
- @Yard1 will look at this with #3061

[2022-11-05 12:45] ngupta23 commented on #2927
Other option would be to try with the latest prerelease version of pycaret to see if it works for you.

[code]

[2022-11-05 12:50] ngupta23 commented on #2924
5th Nov 2022 meeting:

@moezali1 reproduced the error (it works without `use_holdout` but gives the error with `use_holdout`)

[code]

[2022-11-05 12:54] ngupta23 commented on #2887
5th Nov 2022 meeting:

- Able to reproduce this. Solution is to add the tuning grid for dummy classifier/regressor with the strategy parameter

[code]

[2022-11-05 12:59] ngupta23 commented on #2836
5th Nov 2022

This is an enhancement to existing code (not a bug). The current workaround would be create a loop with various models around `create_model` and pass custom `fit_kwargs` based on the model in the loop iteration.

We will consider adding an enhancement to the code base later to do this more seamlessly for `compare_models`

[2022-11-05 13:00] #2825 closed

[2022-11-05 13:01] ngupta23 commented on #2667
5th Nov 2022 meeting

@Yard1 is looking into this for rc5 release.

[2022-11-05 13:03] ngupta23 commented on #2506
5th Nov 2022:

@moezali1 will fix this when he fixes the doc for 3.0.0 (final release)

[2022-11-05 14:57] ngupta23 commented on #3007
Closing due to missing info. Feel free to send the reproducible example and reopen this.

[2022-11-05 14:57] #3007 closed

[2022-11-05 14:57] #3047 closed

[2022-11-05 14:59] ngupta23 commented on #3002
Closing due to inactivity. Feel free to reopen if the issue persists with the pre-release version.

[2022-11-05 14:59] #3002 closed

[2022-11-05 15:56] Ali-Flt commented on #2924
Actually if you call `get_leaderboard()` before you call `automl` each time, you can use `use_holdout=True` too. It appears to me that the bug is related to `automl()` popping the best model out of the models' list each time its called, so next time you call it the model is not there and you get an error unless you've called `get_leaderboard()` to recreate the models' list.
Note that these are all

[2022-11-06 07:56] SSMK-wq opened #3069 "[BUG]: Input contains NaN, infinity or a value too large for dtype('float32')."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-06 10:21] tvdboom commented on #3006
This issue has been fixed in #3057. Feel free to reopen if the issue persists.

[2022-11-06 10:21] #3006 closed

[2022-11-06 10:28] tvdboom commented on #2882
@ItayGabbay Thanks for the update. I added the dependency in #3070

[2022-11-06 10:28] #2882 closed

[2022-11-06 10:30] tvdboom commented on #3069
Please, retry this using the latest version of pycaret `pip install --pre pycaret` and post a reproducible example (with data and code)

[2022-11-06 21:10] Sidney-Bishop commented on #3060
@ngupta23  thanks I didn't check out the FAQ's. I have tried them since but unsuccessfully. I followed the steps of this link (https://pareekshithkatti.medium.com/setting-up-python-for-data-science-on-m1-mac-ced8a0d05911)  but even after manually installing the additional (the those mentioned in the requirements.txt) required libraries I got an incompatible version of scikit-learn. I'm just checki

[2022-11-07 13:30] celestinoxp commented on #3067
Try install pycaret 3 with this command `pip install --pre pycaret -U`

[2022-11-07 15:51] drewaight opened #3071 "[BUG]: Group column labels not recognized in Classifier"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-07 18:51] Ali-Flt commented on #3071
There has been a recent PR on groupkfold #3057.
Did it not work even by installing from the master branch?
`pip install -U git+https://github.com/pycaret/pycaret.git@master`
It is possible that groupkfold still has bugs so for now try `fold_groups=df_train['labels']`

[2022-11-07 19:01] Ali-Flt opened #3072 "[BUG]: groupkfold issue: string as fold_groups causes automl to fail"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-07 19:14] Ali-Flt opened #3073 "[BUG]: groupkfold issue: Learning Curve plot in evaluate_model() returns error"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-07 22:23] drewaight commented on #3071
Confirmed works with regression and 3.0.0.rc4 (fresh installed as suggested above)

![image](https://user-images.githubusercontent.com/53615928/200427547-f53a54d9-fa95-4917-8992-726ee0003474.png)

Classification gives "Column labels is not present in the dataset". Referencing dataframe X['labels'] (or variants thereof) gives the "empty compare models result"

![image](https://user-images.githubuse

[2022-11-08 00:22] Ali-Flt commented on #3071
Even for the regression module after running `compare_models()`, `automl()` fails for me (when giving a string as `fold_groups`). It appears that the groupkfold strategy code is very buggy at the moment.

[2022-11-08 10:41] tdekelver-bd commented on #3059
In addition, runs of `compare_models `and `create_model` get nested recursively as well in pycaret > 2.3.6.
See screenshot below where the red line shows the behaviour in pycaret==2.3.6 (which is the wanted and expected behaviour) and in orange the nested unwanted behaviour in pycaret 2.3.8 , 2.3.9 and 2.3.10
![image](https://user-images.githubusercontent.com/50994394/200543740-0883c8ba-9f4a-4d1f-

[2022-11-08 17:51] moezali1 commented on #3072
@Ali-Flt Can you please provide reproducible Notebook along with the sample data?

[2022-11-08 17:53] moezali1 commented on #3067
Installing pycaret with `pip install --pre pycaret` should resolve the issue. Make sure to restart the kernel after installation.

[2022-11-08 17:53] #3067 closed

[2022-11-08 17:54] moezali1 commented on #3066
@acivit Can you try with `use_gpu = False` and let us know if you have the same issue.

[2022-11-08 17:57] moezali1 commented on #3071
@tvdboom Seems like related to the issue you were working on. Mind taking a look?

[2022-11-08 18:11] moezali1 commented on #2999
@binaryyskull I have tried to reproduce this using pre-release and couldn't. It seems to be working fine.

Here is the Notebook: https://colab.research.google.com/drive/1YXZyEj3yxzIsOiDCHNFBGSZGPOeKeZkT?usp=sharing

[2022-11-08 18:11] #2999 closed

[2022-11-08 18:20] moezali1 commented on #2996
@ArtificialZeng It is unclear to me why you want to convert pkl into txt. Can you explain a little bit.

[2022-11-08 18:21] #2991 closed

[2022-11-08 18:23] moezali1 commented on #2993
@tvdboom Can you remind me what was our conclusion on this. With PyCaret 3.0, do we need to have pycaret installed in the inference environment or just sklearn would work? I think originally our assumption is pickle format is self-contained, hence we do not need pycaret installed in target inference environment but I can't remember if this was our final conclusion?

[2022-11-08 18:37] moezali1 commented on #3001
@Louis-udm Hi, Here is how you can achieve this:

[code]
![image](https://user-images.githubusercontent.com/54699234/200647808-588c564c-a235-4645-afb5-2459c3bfc0ae.png)

[2022-11-08 18:37] #3001 closed

[2022-11-08 18:40] moezali1 commented on #2983
@celestinoxp This is a great idea. We do not have a lot of resources in our core team to get to this. Would you like to help?

Also, we can combine this with #3005

[2022-11-08 18:41] moezali1 commented on #3005
Related with #2983

[2022-11-08 18:53] celestinoxp commented on #2983
@moezali1 I'd love to help, but I don't have much technical knowledge. I started learning python and machine learning in early 2022 on my own, although I already knew how to program in other languages.

Gradually I'm making small contributions with bugs, comments. I've already made several entries in pycaret's issues page.

I recently started exploring VSCode to try to help directly with the pycar

[2022-11-08 19:02] Louis-udm commented on #3001
Cool! Thanks @moezali1

[2022-11-08 20:05] beckernick opened #3075 "[INSTALL]: Proposal to resolve the cuML integration problems"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Linux-5.8.0-38-generic-x86_64-with-glibc2.31

### Installation Method

Built from source

### pycaret Version

Source build

### Python Version

3.9.13

### Description

https://github.com/pycaret/pycaret/issues/2710, https://github.com/pycaret/pycaret/issues

[2022-11-09 03:20] #2865 closed

[2022-11-09 07:17] ArtificialZeng commented on #2996
The ordinary lightgbm library supports exporting models to .txt. After converting to .txt. After opening that .txt file, You can easily see the split nodes of the tree, how many trees are used, and even the exact value of the tree separation.
And the .txt model can be converted into C code, (using https://github.com/BayesWitnesses/m2cgen)which greatly speeds up reasoning and facilitates visualizat

[2022-11-09 07:19] ArtificialZeng commented on #2996
The ordinary lightgbm library supports exporting models to .txt. After converting to .txt. After opening that .txt file, You can easily see the split nodes of the tree, how many trees are used, and even the exact value of the tree separation.
And the .txt model can be converted into C code (using m2cgen: https://github.com/BayesWitnesses/m2cgen), which greatly speeds up reasoning and facilitates v

[2022-11-09 10:20] tvdboom commented on #3071
I fixed the bug in #3070. Thanks for pointing it out. I tested it for both classification and regression, fold_groups as str and as array. `automl` also works now

[2022-11-09 11:59] tvdboom commented on #2993
Unfortunately , it's not possible to use pycaret's transformation pipeline without installing the library. The reason is that sklearn didn't offer all transformation steps we desired for pycaret (nor the pipeline flexibility, think off allowing transformers that drop rows) so we created custom ones. Pickle is not self-contained. You need the library to be able to use the unpickled object correctly

[2022-11-09 13:05] Azlich opened #3076 "[BUG]: Normalization or Transformation works incorrectly when data contains categorical variable"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-09 14:00] SSMK-wq commented on #3067
@moezali1 - This resulted in another error as shown below

` ImportError: cannot import name '_joblib_parallel_args' from 'sklearn.utils.fixes' (C:\Users\Akshay\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\fixes.py)`

[2022-11-09 14:04] ngupta23 commented on #3067
Are you installing this in a fresh environment?

[2022-11-09 14:06] SSMK-wq commented on #3067
@ngupta23 - I uninstalled my old version and redid from beginning. I followed the below steps

[code]

[2022-11-09 14:11] SSMK-wq commented on #3067
@ngupta23 - Just to clarify the the above error message is not during installation

This happens when I type the below line

`from pycaret.regression import *` (import pycaret works fine though)

[2022-11-09 14:25] ngupta23 commented on #3067
That is not the same though. You need to create **a new conda environment**, then install pycaret from scratch in that conda environment using the command mentioned.

The issue you have is that somehow you have an older version of sklearn installed and that is causing issues (even after installing pycaret). Following the recommended instructions should resolve it.

[2022-11-09 17:09] moezali1 commented on #3076
@tvdboom Not sure if there is any background to this, but have we intentionally chosen to apply normalization and transformation on categorical features as well?

[2022-11-09 18:55] tvdboom commented on #3072
I fixed this issue here #3070. Please, wait for the merge and try again

[2022-11-09 19:01] tvdboom commented on #3076
Normalization is applied through sklearn's [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html), which transforms all numerical features. Since the features sex, smoker and region have been encoded before, they are no longer categorical and are therefore transformed. This is intended behavior and definitely not a bug since it doesn't influen

[2022-11-09 19:47] juangaitanv commented on #3060
Not a lot of M1 support it seems 😞

[2022-11-10 01:46] Azlich commented on #3076
@tvdboom  At first, I thought it should get the same result as PyCaret 2.3.10. After I did some research I found it has both scaling and not IMO I think it should allow users to choose.

reference from [here](https://stats.stackexchange.com/questions/59392/should-you-ever-standardise-binary-variables)

[2022-11-10 01:46] #3076 closed

[2022-11-10 02:38] Azlich opened #3078 "[BUG]: In Regression, when using transform_target=True all scores returned 0"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-10 04:17] d4deva opened #3079 "import win32api; ImportError:"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Windows-10-10.0.19041-SP0

### Installation Method

pip install

### pycaret Version

pycaret[full]

### Python Version

3.8.8

### Description

Hi Team, I was trying to install pycaret full in my windows laptop usiny "pip install pycaret[full]" command after

[2022-11-10 09:24] celestinoxp commented on #3079
I recommend install pycaret version 3, you need to add --pre sufix, so you can try with these 2 lines:
[code]
after that tell if pycaret installed successfully

[2022-11-10 09:57] celestinoxp commented on #3066
1- I think you have another package with some bug. As i can see you use a mix of old packages with recent packages.
scikit-learn 0.23.2 is to old for example, it is possible use scikit-learn 0.24.2? I think its latest supported for pycaret 2.3.10.

2-Maybe you can show us more details about packages instaled.
Please paste the output of `from pycaret import show_versions; show_versions()`. If this

[2022-11-10 10:49] 1grigoryan opened #3080 "[BUG]: no feature_selection_threshold"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-10 11:10] d4deva commented on #3079
If i uninstall pycaret and install it again i am getting following error:
**Failed to build aiohttp multidict
ERROR: Could not build wheels for multidict, which is required to install pyproject.toml-based projects**

Please recommend or post the link of anaconda that is supportable for the latest version of pycaret.

[2022-11-10 11:22] celestinoxp commented on #3079
How have some problem/conflict with packages.
Try these steps.

1.Uninstall anaconda.
2.Go to https://www.anaconda.com/ and download and install anaconda
3. After anaconda installed, install pycaret with this command: pip install --pre pycaret

This should work without problems

[2022-11-10 11:27] d4deva commented on #3079
The above method work but won't be able the full version of pycaret correct?

[2022-11-10 11:28] celestinoxp commented on #3079
Of couse, use pip install --pre pycaret[full]

[2022-11-10 11:29] d4deva commented on #3079
Failed to build aiohttp multidict
ERROR: Could not build wheels for multidict, which is required to install pyproject.toml-based projects

getting the following error if i use use pip install --pre pycaret[full]

[2022-11-10 11:34] celestinoxp commented on #3079
@ngupta23 @Yard1 Some suggestion?

[2022-11-10 12:41] celestinoxp commented on #3079
the problem is not from pycaret but from a third party.
I found this: https://stackoverflow.com/questions/74255709/error-could-not-build-wheels-for-frozenlist-multidict-yarl-which-is-required

Try install Microsoft C++ Build Tools. and try install pycaret again

[2022-11-10 13:20] #3071 closed

[2022-11-10 13:20] #3072 closed

[2022-11-10 13:37] d4deva commented on #3079
did that getting a new error
ERROR: Cannot uninstall 'TBB'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

[2022-11-10 13:59] celestinoxp commented on #3079
Ok, go to anaconda directory normally C:\Users\your username\anaconda3\Lib\site-packages
then find all folders or files with TBB in the name and delete.
after that install pycaret again, it works for me

[2022-11-10 14:27] d4deva commented on #3079
it worked thanks

[2022-11-10 14:27] #3079 closed

[2022-11-10 23:48] celestinoxp opened #3082 "[BUG]: Pull-Request #3070 have some bug"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-10 23:50] celestinoxp commented on #3082
@Yard1 it works for you after Pull-Request #3070 ?

[2022-11-11 09:52] celestinoxp commented on #3082
After 3070 a can´t use predict. see error log above.

And exclude function is not working

![bug_3070](https://user-images.githubusercontent.com/41735311/201314499-218e6650-cf08-44b5-86e2-2a86bfecee77.png)

[2022-11-11 12:33] #3082 closed

[2022-11-12 03:11] #2719 closed

[2022-11-12 09:17] atwahsz opened #3083 "[BUG]: when passing test_data , metrics scores do not make sense"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-12 13:25] ngupta23 commented on #3075
The changes to numba pinning (i.e. relaxing it) look to be ok from my perspective.

[2022-11-12 13:27] ngupta23 commented on #3075
@beckernick Feel free to submit the PR. If it passes on GitHub, we can accept it. I think you are missing the vocabulary dictionary locally which is why the local tests are failing.

[2022-11-13 08:50] tvdboom commented on #3080
pycaret 3.0 uses new features. The documentation hasn't been updated yet. See https://github.com/pycaret/pycaret/blob/8fc8d2bff9ae75d067e2a3424a8cbee592f34e0d/pycaret/classification/oop.py#L518 here the available parameters.

[2022-11-14 01:27] Yard1 commented on #3039
Fixed in 64f4fe5b58ed0fa795da58546ef3ec2012f2b98c

[2022-11-14 01:27] #3039 closed

[2022-11-15 01:41] huangliang0828 opened #3087 "How to use the evaluate/interpret model that has saved in the local trained .pkl file"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

How to use the evaluate/interpret model that has saved in the local .pkl file
enviment:
win10 64
anaconda=2022.10
pycaret[full]=2.3.10

the trained  model final_rf.pkl(just a example) loaded
model_loaded= load_m

[2022-11-15 08:30] SSMK-wq commented on #3067
@ngupta23 - No, I tried with latest scikit-learn version as well. This error doesn't go away. I still get the same joblib error when I try to do the below line

`from pycaret.regression import *`

[2022-11-15 14:19] AndIaAnd opened #3088 "Anomaly detection reverse!?"
### Describe the feature you want to add to this project

Hello my dear friends.
I have a question, I need to look for an anomaly, but not at the edges of the data, but rather inside. That is, the search for saturated zones (high data accumulation) in the central zones and middle zones of the data frame or frame classters.
Can you please tell me if there is such an algorithm or function?
Thank you

[2022-11-15 15:40] beckernick commented on #3075
Yeah, you're right. Looks like 5/8 are from not downloading the spacy model ahead of time.

And sounds good, thanks! Will open a PR (may take a few more days due to some internal approvals contributing to a new project).

[2022-11-15 17:23] ngupta23 commented on #3075
Sounds good. If you get the latest master, some of the remaining 3 tests should be fixed as well.

[2022-11-15 17:28] ngupta23 commented on #3067
Can you post the output of the following command?

[code]

[2022-11-16 10:12] celestinoxp opened #3089 "[ENH]: Integration of new algorithm: LamdaMart"
### Describe the feature you want to add to this project

Integration of new algorithm LambdaMart.

### Describe your proposed solution

LambdaMART is the boosted tree version of LambdaRank, which is based on
RankNet. RankNet, LambdaRank, and LambdaMART have proven to be very successful algorithms for solving real world ranking problems: for example an ensemble of LambdaMART rankers won Track 1 of

[2022-11-17 02:39] EvilCalf opened #3090 "[BUG]: from pycaret.classification import * AttributeError: 'NoneType' object has no attribute 'extensions_by_name'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-17 07:43] Mcd6 commented on #3090
I also encountered a similar problem.
Like this：
AttributeError: 'NoneType' object has no attribute 'split'

[2022-11-17 08:35] tvdboom commented on #3090
Please, retry using the master branch `pip install -U git+https://github.com/pycaret/pycaret.git@master` and share a full reproducible example (data + code). We can't debug without

[2022-11-17 08:35] #3080 closed

[2022-11-17 08:42] SSMK-wq commented on #3067
@ngupta23 - Please find the details below

[code]

[2022-11-17 08:58] #2993 closed

[2022-11-17 11:41] henriquepett opened #3091 "[BUG]: Kernel Restarting (Kernel appears to have died.)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-17 13:19] moezali1 commented on #2689
This problem has been solved in rc4.

[code]

![image](https://user-images.githubusercontent.com/54699234/202457101-8543bb47-8dc6-41ce-a2b6-9e9bb6946da0.png)

[2022-11-17 13:19] #2689 closed

[2022-11-17 13:26] moezali1 commented on #2980
Closing issue due to lack of reproducible example and OP not responding.

[2022-11-17 13:26] #2980 closed

[2022-11-17 13:30] moezali1 commented on #2927
This has to do with `bokeh` support for VS code. The underlying library we use to support `eda` function uses `bokeh` underneath and bokeh is not yet interactive on VS code.

Unfortunately nothing can be done here from our end. sorry.

[2022-11-17 13:30] #2927 closed

[2022-11-17 14:50] ngupta23 commented on #3067
The installation seems to be correct. Can you paste the complete error stack that you are getting? We need to trace the internal code that is causing this and need the complete error trace for this.

[2022-11-18 08:10] vvatlin commented on #2987
Same issue for me

[2022-11-19 02:59] #2731 closed

[2022-11-19 12:15] KeepNoob opened #3097 "[BUG]: setup(data = diabetes, target = 'Class variable', feature_selection = True), feature_selection does not work"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-19 13:21] Yard1 commented on #2934
I cannot reproduce this issue with 3.0.

[2022-11-19 13:22] Yard1 commented on #3061
I can reproduce the issue with 3.0

[2022-11-19 13:23] moezali1 commented on #3083
@atwahsz This seems like specific to this dataset. I have tried fitting a linear model and don't see such a gap between train and test set. Xgboost for some reasons is not doing a good job on this dataset. Here is a residual plot from xgboost:

![image](https://user-images.githubusercontent.com/54699234/202852816-934e35c6-76da-43cd-b622-bdc586d5aa51.png)

Also, I noticed the way you sampled `train

[2022-11-19 13:28] moezali1 commented on #3078
@tvdboom I am able to reproduce the issue successfully. Attached is the log file where you can see the exception as well.
[logs.log](https://github.com/pycaret/pycaret/files/10047083/logs.log)

[2022-11-19 13:38] moezali1 commented on #3083
@tvdboom I have run the house dataset through 2.3.10 and also 3.0rc4. I see wildly different cross-validation results. I am more concerned about that rather than differences between train and test scores. I believe these huge swings in performance are because of difference in preprocessing pipelines between 2 and 3. I am concerned that it could be some kind of bug in the pipeline of 3.0. Would you

[2022-11-19 13:42] atwahsz commented on #3083
See how LightGBM preforming differently

[2022-11-19 13:44] moezali1 commented on #2934
I also cannot reproduce this in Jupyter Notebook.

[2022-11-19 13:44] #2934 closed

[2022-11-19 13:45] #2770 closed

[2022-11-19 13:46] moezali1 opened #3099 "[BUG]: Remove nlp and arules module from 3.0"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-19 13:47] #2887 closed

[2022-11-20 17:48] moezali1 commented on #2823
@alejandroLlorentePiperLab This issue was fixed recently. Can you please try rc4 version.

https://github.com/pycaret/pycaret/issues/2975

[2022-11-20 17:48] #2823 closed

[2022-11-20 17:50] moezali1 commented on #2259
@tvdboom Is this resolved now as well?

[2022-11-20 21:16] tvdboom commented on #2259
This is resolved.

In rc5, you don't need to set `data_split_shuffle=False`, but you have to specify `index=True` to leave the rows with their original index after shuffling

[2022-11-20 21:16] #2259 closed

[2022-11-21 03:26] moezali1 commented on #3090
Unable to reproduce.

[2022-11-21 03:26] #3090 closed

[2022-11-21 03:30] moezali1 commented on #3097
@tvdboom I have tried. Facing the same issue. Error message changes when `feature_selection_method` change. See below:

`feature_selection_method = 'classic':`
ValueError: 'max_features' should be 0 and 8 features.Got 10 instead.

`feature_selection_method = 'univariate':`
ValueError: k should be >=0, <= n_features = 8; got 10. Use k='all' to return all features.

`feature_selection_method = 'sequ

[2022-11-21 03:31] moezali1 commented on #3091
Can you print the output after `setup`. How many columns are created in train set after transformation?

[2022-11-21 03:32] moezali1 commented on #3073
@tvdboom

[2022-11-21 03:35] moezali1 commented on #3059
@nagamatz @tdekelver-bd This issue was recently fixed on last rc release. Can you try installing pycaret with `pip install --pre pycaret` and let me know if you still face the issue.

[2022-11-21 03:39] moezali1 commented on #3015
@mkn-skrb Can you try with the updated version of pycaret and let us know if u still face the issue.

[2022-11-21 03:43] moezali1 commented on #2804
Unfortunately `IPython` module is not available for use in Databricks. I heard it is coming soon in future but not yet.

[2022-11-21 03:43] #2804 closed

[2022-11-21 03:44] moezali1 commented on #2801
@DerekKane We need more details than `code error out` to be able to help.

[2022-11-21 03:46] moezali1 commented on #2800
@nockn Works in the latest version of pycaret.

`pip install --pre pycaret`

![image](https://user-images.githubusercontent.com/54699234/202961440-d19820a1-a882-4b63-94b7-4f381fed0c92.png)

[2022-11-21 03:46] #2800 closed

[2022-11-21 03:48] #2025 closed

[2022-11-21 03:49] #2676 closed

[2022-11-21 03:49] moezali1 commented on #2676
Unable to reproduce.

[2022-11-21 09:22] tvdboom commented on #1624
This issue has been fixed in #3057

[2022-11-21 09:22] #1624 closed

[2022-11-21 09:28] tvdboom commented on #3097
This is not a bug. Your dataset has less than 10 features and you leave the default value of `n_features_to_select`, which is 10. You can't use feature selection on 8 features and expect it to return 10. We should change the example, as it is unclear that you have to specify the `n_features_to_select` parameter as well @moezali1 .

Anyway, I changed the code a bit in #3101 to output a better error

[2022-11-21 09:28] #3097 closed

[2022-11-21 09:28] tvdboom commented on #3073
Thanks for pointing out this issue. I fixed it in #3101

[2022-11-21 09:28] #3073 closed

[2022-11-21 10:10] PabloJMoreno commented on #2791
Thank you friends.
I also noticed another issue in PyCaret 2.3.10 with the same function. Here is the error when I run it in PyCaret 2.3.10:

---------------------------------------------------------------------------
ContextualVersionConflict                 Traceback (most recent call last)
Cell In [11], line 1
----> 1 create_app(xgb_final)

File ~\anaconda3\envs\ml\lib\site-packages\pycaret\cla

[2022-11-21 12:00] henriquepett commented on #3091
Sure!

I reran it and realized that the problem is on setup(), not in compare_models(). My mistake!

The state of the notebook after restarting the kernel:

<img width="589" alt="CleanShot 2022-11-21 at 08 55 48@2x" src="https://user-images.githubusercontent.com/115732084/203046972-6d019db9-1591-45ee-8c0d-a3ec27553831.png">

[2022-11-21 13:14] #3078 closed

[2022-11-21 13:49] tvdboom commented on #3083
@moezali1 This is not a bug. The difference is that 3.0 doesn't use one hot encoding for categorical columns with more than 5 classes (default value `max_encoding_ohe=5`). When set to a higher value, 3.0 performs better than 2.3.10.

![image](https://user-images.githubusercontent.com/32366550/203071179-1e02375c-535f-4b50-b059-88610f11ec1d.png)

I changed the default value of max_encoding_ohe to 10

[2022-11-21 17:20] #2914 closed

[2022-11-21 17:20] #2987 closed

[2022-11-21 17:20] #3075 closed

[2022-11-21 17:20] #2710 closed

[2022-11-22 13:33] #658 closed

[2022-11-22 13:34] #698 closed

[2022-11-22 13:36] #1427 closed

[2022-11-22 13:38] moezali1 commented on #3091
@henriquepett I am guessing this is because one of these feature is categorical or being treated as categorical with many levels and hence it takes a huge time. Can you explicitly pass the data types by using `categorical_features` and `numeric_features` parameter in the `setup`.

[2022-11-22 13:39] #3059 closed

[2022-11-22 13:49] moezali1 commented on #2764
@tvdboom Can we close this if the issue is fixed?

[2022-11-22 13:50] moezali1 commented on #3083
@tvdboom What do you think about keeping the default same as 2.X and have this as a feature?

[2022-11-23 07:48] tvdboom commented on #3083
Leaving it to unlimited can cause unexpected memory issues for columns with many categorical values. If you think 10 is too few I would suggest to set it higher, maybe 20 or 25

[2022-11-23 19:31] celestinoxp opened #3108 "[ENH]: Integration of new algorithm: IsolationForest"
### Describe the feature you want to add to this project

Integration of new algorithm: IsolationForest

### Describe your proposed solution

All details: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.IsolationForest.html

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-11-23 23:14] moezali1 commented on #2533
@ngupta23 There is some progress made on https://github.com/sktime/sktime/issues/2637. Can we check if this solves our problem so we can close this issue?

[2022-11-23 23:15] moezali1 commented on #404
@tvdboom With the new preprocessing module, can we pass sparse matrix in `setup`?

[2022-11-23 23:16] moezali1 commented on #1218
This issue has been resolved now in PyCaret 3rc-4

[code]

To retain the original index pass `index=True` in the `setup` function,

[2022-11-23 23:16] #1218 closed

[2022-11-23 23:17] moezali1 commented on #1263
Most likely this issue is resolved in the new version of PyCaret. Closing the issue.

[2022-11-23 23:17] #1263 closed

[2022-11-23 23:19] moezali1 commented on #1333
Can't reproduce.

[2022-11-23 23:19] #1333 closed

[2022-11-23 23:31] moezali1 commented on #2789
By changing few things in `setup` I was able to run your code successfully using 3.0rc4

[code]

Check out the [Notebook](https://colab.research.google.com/drive/1sygG6ZNcGfBURkH54_tQsBiDaBqpFJVM?usp=sharing).

[2022-11-23 23:31] #2789 closed

[2022-11-23 23:37] moezali1 commented on #1470
@tvdboom Do you mind taking look issue with `predict_model` in `pycaret.anomaly` when `model_only=True` used with `save_model`.

Here is the notebook to reproduce: https://colab.research.google.com/drive/16rMVlFB__RGBdZEEPIozZpJCY6OxxVWa?usp=sharing

After `save_model` don't forget to restart the kernel.

[2022-11-23 23:50] moezali1 commented on #2801
Just tested this scenario with latest pycaret==3.0.0rc4 and it works fine.

If you are still facing issue, please feel free to open new ticket.

[2022-11-23 23:50] #2801 closed

[2022-11-23 23:56] moezali1 commented on #3108
@celestinoxp Its already available in `pycaret.anomaly`. We have used implementation from `pyod`.

[2022-11-23 23:56] #3108 closed

[2022-11-24 13:01] moezali1 commented on #3083
Ok @tvdboom let's set it to 25 then and close this issue once done.

[2022-11-24 13:15] moezali1 commented on #2831
@asmaier I have tested the latest rc4 release of pycaret `pycaret==3.0.0rc4` on Databricks community edition. `plot_model` function works fine. `evaluate_model` doesn't work because of no support of IPython.

In Databricks Runtime 11.0 and above, Python notebooks use the IPython kernel to execute Python code.

Read More: https://docs.databricks.com/notebooks/ipython-kernel.html

[2022-11-24 13:15] #2831 closed

[2022-11-25 08:03] tvdboom commented on #3083
ok. I changed it in #3101

[2022-11-25 08:17] tvdboom commented on #2533
Using the newest version of sktime, `TSFreshFeatureExtractor` fails for both np.array and pf.DataFrame (without pycaret). @ngupta23 Do you know why this is or what they expect?

[2022-11-25 08:23] tvdboom commented on #404
Yes, the new rc version accepts sparse matrices as input. However, many of the preprocessing steps don't work with sparse data so either use `preprocess=False` or select which steps to use carefully. Also, not all models have native sparse data support. Using `compare_models` will return a limited list.

[2022-11-25 08:23] #404 closed

[2022-11-25 09:08] #1470 closed

[2022-11-25 10:02] ngupta23 commented on #2533
We are not using it so it should not matter.

[2022-11-25 10:05] tvdboom commented on #2533
The original post was about using it in a custom pipeline. But I guess it's not strictly necessary to make it work. Close this issue then?

[2022-11-25 14:56] ngupta23 commented on #2533
I will reopen this. May look at it after 3.0.0 release.

[2022-11-26 19:18] ngupta23 commented on #2961
Closing due to missing information. Feel free to reopen if you have an update.

[2022-11-26 19:18] #2961 closed

[2022-11-27 12:23] #2324 closed

[2022-11-27 12:49] moezali1 opened #3111 "[BUG]: check_metric import from pycaret.utils not working"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 12:50] moezali1 opened #3112 "[BUG]: ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 13:03] moezali1 opened #3113 "[BUG]: predict_model not working in clustering and anomaly"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 13:11] moezali1 opened #3114 "[BUG]: plot_model(plot = 'umap') in anomaly detection failing"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 13:34] moezali1 commented on #3114
To fix this error install umap-learn by `pip install umap-learn`.

[2022-11-27 13:34] #3114 closed

[2022-11-27 13:49] moezali1 commented on #2811
@Yard1 Can you give me a hand here? I ended up spending a lot of time in figuring out where is it coming from. The names inside `containers/regression.py` seems to be fine but even then the run name is wrong.

![image](https://user-images.githubusercontent.com/54699234/204138706-db0d0cc3-9a08-46d3-8037-fbaee414876b.png)

Any ideas?

[2022-11-27 13:54] moezali1 commented on #2791
@PabloJMoreno I just tried to reproduce this with rc4 and couldn't.

Can you upload upload reproducible notebook along with sample data here for me to diagnose and fix the issue.

[2022-11-27 14:07] ngupta23 opened #3116 "[BUG]: Aligning `get_config` with class attributes"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 14:37] ngupta23 commented on #3116
From @Yard1 on Slack

[2022-11-27 14:42] ngupta23 opened #3118 "[BUG]: Order of pipeline in Time Series"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-27 14:43] ngupta23 commented on #3118
Per @Yard1 on Slack

[2022-11-27 15:46] moezali1 opened #3120 "[ENH]: update all official tutorials before 3.0 release"
### Describe the feature you want to add to this project

update all official tutorials before 3.0 release

### Describe your proposed solution

update all official tutorials before 3.0 release

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-11-27 15:50] moezali1 opened #3121 "[ENH]: Delete maint_tools folder - redundant"
### Describe the feature you want to add to this project

Delete maint_tools folder - redundant

### Describe your proposed solution

Delete maint_tools folder - redundant

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-11-27 15:53] moezali1 opened #3122 "[DOC]: update contributing.md file for pycaret 3.0 release"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

update contributing.md file for pycaret 3.0 release

### Documentation problem

update contributing.md file for pycaret 3.0 release

### Suggested fix for documentation

update contributing.md file for pycaret 3

[2022-11-27 15:54] moezali1 opened #3123 "[DOC]: remove_setup_ts_alpha.py file from the root"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

remove_setup_ts_alpha.py file from root

### Documentation problem

remove_setup_ts_alpha.py file from root

### Suggested fix for documentation

remove_setup_ts_alpha.py file from root

[2022-11-27 15:55] moezali1 opened #3124 "[DOC]: remove NLP and arules related libraries from requirements-optional"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

remove NLP and arules related libraries from requirements-optional

### Documentation problem

remove NLP and arules related libraries from requirements-optional

### Suggested fix for documentation

remove NLP

[2022-11-27 15:56] moezali1 opened #3125 "[DOC]: create benchmark comparison report b/w 2.0 and 3.0"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

create benchmark comparison report b/w 2.0 and 3.0

### Documentation problem

create benchmark comparison report b/w 2.0 and 3.0

### Suggested fix for documentation

create benchmark comparison report b/w 2.0

[2022-11-28 09:30] #3118 closed

[2022-11-28 12:06] sathishkumar999 opened #3126 "[BUG]: Unable to allocate 20.2 GiB for an array with shape (88884, 60950) and data type float32"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-28 13:37] moezali1 commented on #3126
@sathishkumar999 Can you please upload Notebook and dataset so that we can debug.

[2022-11-28 13:45] #3116 closed

[2022-11-28 14:26] Gyagupta opened #3128 "[INSTALL]:"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

google colab

### Installation Method

pip install

### pycaret Version

Pycarate=2.0

### Python Version

Pycarate=2.0

### Description

Please help driving the final regression equation after belnding of top 3 models in PyCaret!!
Blending of models
I am ble

[2022-11-28 14:34] #3113 closed

[2022-11-28 16:18] ngupta23 commented on #3099
@moezali1 @Yard1 I was thinking about this. Would it be better to make a release of 3.0 with NLP and arules so that these modules can be used with the latest version of sklearn, python 3.9, 3.10, etc? We can add a deprecation warning in 3.0.0 so users are aware that this will be removed and then we can remove this in 3.1.0.

[2022-11-29 11:58] sathishkumar999 commented on #3126
[Loan_Approval_Data.csv](https://github.com/pycaret/pycaret/files/10112722/Loan_Approval_Data.csv)

This is a classification problem, we have to predict the loan approval status

[2022-11-29 12:00] sathishkumar999 commented on #3126
When I checked in the stack overflow, people suggested that it will be fixed by converting float32 data type to int8 type or by using dask parallel processor

[2022-11-29 14:19] moezali1 opened #3131 "[BUG]: get_config('X_train') doesn't return right dataframe"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-29 14:38] moezali1 opened #3132 "[BUG]: get_config in functional API not complete"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-29 14:52] tvdboom commented on #3131
We just merged a PR to change this behavior #3117

[2022-11-29 15:11] ngupta23 commented on #3131
@moezali1 With the latest change, you should try getting instead of X_train

[code]

[2022-11-29 17:00] #1417 closed

[2022-11-29 22:45] k3ybladewielder opened #3135 "[BUG]: AttributeError: 'Make_Time_Features' object has no attribute 'list_of_features'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-11-29 23:27] diegovalenzuelaiturra commented on #1971
`scikit-learn-intelex` is not available for apple silicon (M1) macs and it is a dependency of `pycaret[full]`, which breaks the installation.

[2022-11-30 02:46] moezali1 commented on #3135
@k3ybladewielder Please update the version. Can you try installing pycaret in a new environment using `pip install --pre pycaret`. This will install pycaret==3.0.0rc4.

Please let us know if you still face the issue in the new version.

[2022-11-30 02:59] moezali1 commented on #1322
@tvdboom I believe this should be fixed now?

[2022-11-30 07:57] tvdboom commented on #1322
Yes, this is fixed. I tested it with the reproducible example. Preprocess takes around 3 seconds (it's still a very large dataset).

[2022-11-30 07:57] #1322 closed

[2022-11-30 12:25] tvdboom commented on #3132
@ngupta23 Could you have a look at this one? I think you refactored `get_config` recently. My opinion here is that we perhaps need a bigger refactoring to do this right. My thoughts:

* Having global variables is awful practice in general. Avoid them at all cost. Just keep the current experiments in global for functional API (maybe this is already the case, haven't checked)
* We should have all th

[2022-11-30 12:33] #3111 closed

[2022-11-30 12:33] #3112 closed

[2022-11-30 12:36] moezali1 commented on #3099
@ngupta23 That's a good idea. Do we know if nlp and arules work with python 3.9 and latest version of sklearn. I can test.

[2022-11-30 12:42] moezali1 commented on #3131
@ngupta23 @tvdboom For classification and regression module when I try to get transformed dataset using `get_config('X_train_transformed')` I get this:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
[<ipython-input-12-5dba283e8527>](https://localhost:8080/#) in <module>
----> 1 get_config('X_t

[2022-11-30 12:46] #3091 closed

[2022-11-30 12:50] moezali1 commented on #2931
@Prashavu You can pass `class_weight` parameter in the `create_model` it self. Example:

[code]

If you want to pass sample_weight you have to use fit_kwargs. Like this:

[code]

Hope this helps.

[2022-11-30 12:50] #2931 closed

[2022-11-30 12:52] moezali1 commented on #2990
Can you try removing gamma from custom_grid and show what happened?

[2022-11-30 13:52] sathishkumar999 commented on #3126
[Loan_Approval_Data.csv](https://github.com/pycaret/pycaret/files/10123726/Loan_Approval_Data.csv)
can't able to upload  the notebook file, please check the screenshot for code
![pycaret memory error](https://user-images.githubusercontent.com/40235632/204813699-55eb2c89-1f8b-4850-9922-6f6026264665.png)

[2022-11-30 16:11] #3131 closed

[2022-11-30 16:13] ngupta23 commented on #3128
@Gyagupta The issue is not clear. Please file the right issue with details to reproduce it. Thanks!

[2022-11-30 16:13] #3128 closed

[2022-11-30 16:15] ngupta23 commented on #3099
I have not tested manually, but our unit tests for NLP and rules work on Python 3.9 and 3.10.

FYI... related to https://github.com/pycaret/pycaret/issues/3124

[2022-11-30 16:17] ngupta23 commented on #3124
@moezali1 @Yard1 If we agree on #3099, then this issue should be changed to 3.1.0 milestone.

[2022-11-30 16:46] napetrov commented on #1971
I would say that defining requirements for platform would be better option - using platform.machine and pin in to x86 only