[2020-11-02 19:15] danbricedatascience opened #797 "Feature Request : Add the possibility to get list of class names with get_config('class_names')"
Add the possibility to get list of class names with `get_config('class_names')`

This is useful for instance in such situations:

[code]

That could be more generic with:

[code]

[2020-11-02 19:19] danbricedatascience opened #798 "Issue with tree plot from Jupyterlab 2"
Jupyterlab 2.2.6

When displaying a tree plot with:

[code]
The resulting plot is badly displayed, see screenshot.
<img width="1120" alt="tree" src="https://user-images.githubusercontent.com/10685563/97909550-b2d3ae00-1d48-11eb-86f3-a87e6bafa33f.png">

[2020-11-02 19:20] pycaret commented on #796
@danbricedatascience The documentation is created automatically using sphinx. I don't know If we can control the sub-section in this situation? Would you know how to do it?

[2020-11-02 19:29] danbricedatascience commented on #796
I don't know for sphinx but generaly use Mkdocs and it have such option is the [styling option](https://www.mkdocs.org/user-guide/styling-your-docs/)

[code]

With google I found it, maybe it can help : https://www.sphinx-doc.org/en/1.5/templating.html?highlight=depth

[2020-11-02 19:29] rohitnig commented on #788
Any updates on this?

[2020-11-02 21:37] pycaret commented on #788
@rohitnig The fix is already there on `master` branch. Can you please install pycaret from the master branch and test?

[2020-11-02 21:44] Yard1 commented on #798
I'll have to fiddle with it some more, looks like. It is very tricky to balance it between being readable and taking as little space as possible.

[2020-11-02 21:52] Yard1 commented on #797
This is already possible, albeit it's not documented.
[code]
Let me know if this works for you!

[2020-11-02 21:56] Yard1 commented on #796
It's not possible currently, due to how API doc autogeneration works. We'd need to manually add a header to each function. Perhaps this could be done in the future.

[2020-11-02 22:15] garar commented on #788
Hi @pycaret !

It seems that now I get different error:

[code]

It happens when I use `add_metric('logloss', 'LogLoss', log_loss, greater_is_better=False)`. It works without `logloss` metric.

[2020-11-02 22:25] garar commented on #788
Great news! :)

I was able to reproduce using master and iris example:

[code]

Traceback:

[code]

PS. Sorry for the spam.

[2020-11-02 22:49] Yard1 commented on #788
Well, the issue here is twofold. The log loss metric seems to not be playing nicely with a multi label problem - but this is not something caused by PyCaret, as all we do is just pass this metric to sklearn and get the result. The other issue here are the exceptions that hapoen

[2020-11-02 22:56] garar commented on #788
Interesting, sklearn docs don't mention that logloss is dedicated to binary classification: https://scikit-learn.org/stable/modules/model_evaluation.html#log-loss

I will try most recent version tomorrow and see if the issue when all models fail is fixed.

Thanks!

[2020-11-02 22:59] Yard1 commented on #788
The documentation says that:
[code]

You can pass `labels` in `add_metric()` as a keyword argument. Perhaps that will help? You can also get the preprocessed target dataframe which this score function will be ran on with `get_config('y_test')`, so perhaps something like `np.unique(get_config('y_test'))` would give you an array you can use for `labels`.

[2020-11-03 04:35] leonsolon opened #799 "Dataframe with custom index breaks prediction"
Test dataframes with custom index (unseen data) breaks at prediction. It seems the Score column is set with positional index and the rest of the values of the rows with no matching indexes are all set to NaN.

To avoid, this one has to reset index to positional and then recover the custom original index, which is not the way it should work.

That being said: pycaret is the bomb, you guys created a

[2020-11-03 05:34] MunSunouk opened #800 "TypeError"
hi. i enjoy so much about pycaret
but i got problem -> compare_models(blacklist = ['catboost'])
i using jupyter notebook and window , i got error as

TypeError: compare_models() got an unexpected keyword argument 'whitelist'
and
TypeError: compare_models() got an unexpected keyword argument 'blacklist'

i want to know how i should do

[2020-11-03 05:38] #800 closed

[2020-11-03 05:38] MunSunouk commented on #800
i solve problem as replace to exclude

[2020-11-03 06:35] VinayChaudhari1996 commented on #794
So, how can I **integrate any custom encoding technique in existing pycaret pipeline ?**
Is it possible ?

Final Aim is to **use original features for inference** (not encoded one?

Beacuse in traditional ways, we loose all mapping information after any encoding techniques and it becomes very tricky for inference.

Thanks ,

[2020-11-03 07:03] Yard1 commented on #794
At this moment, the only way to do that is to preprocess the data yourself and pass it to `setup()` with `preprocess=False` argument.

[2020-11-03 07:25] atwahsz commented on #640
i get an error "ValueError: Pipeline not found" when im trying to use predict_model()

[2020-11-03 07:27] atwahsz opened #801 "error when predict_model()"
good morning

i get an error when it try to predict_model()

ValueError: Pipeline not found

it happens when i use iterative imputation

[2020-11-03 07:58] danbricedatascience commented on #798
Using graphviz instead of plot_tree enable getting a better rendering, but it can be quite big.

Maybe a solution can be to export a temporary .png through graphviz then display it according to a scale factor that can be tuned in `plot_model`, so only the .png size will change, but the leafs will never hide each other.

<img width="1711" alt="Capture d'écran-1" src="https://user-images.githubuser

[2020-11-03 08:00] Hveemos commented on #404
Ok, so I guess I have to wait until this bug is resolved before I use Pycaret with a sparse matrix.

[2020-11-03 09:55] Lion-Mod commented on #679
Tried and seems like it works. Takes a while to run but produces a result! Thank you.

[2020-11-03 10:28] VinayChaudhari1996 commented on #794
**There is one method in pycaret 2.2 called :-**
_____

`custom_pipeline: (str, transformer) or list of (str, transformer), default = None`

1) How to use it , there is no valid resources about it.

2) Does it update existing pipeline ?

Thanks,

[2020-11-03 10:50] anneleroytotal commented on #784
If this cannot be solved at the present time, is there a way to get the yhat for the train, so I can plot it myself ?

[2020-11-03 12:01] pycaret commented on #801
@atwahsz What's your version of PyCaret? Can you please update `logs.log` file here?

[2020-11-03 12:03] pycaret commented on #799
@leonsolon Thank you for reporting.

Is it possible for you to upload Notebook and sample data here so we can reproduce the issue?

[2020-11-03 12:06] pycaret commented on #795
@atwahsz Yes, `lightgbm` is used by default but you can change it to any estimator available in the library using `categorical_iterative_imputer` and `numeric_iterative_imputer` parameters in the setup.

In case you meant to ask for a sequence of steps, missing value imputation is applied right after data type identification that means before all other preprocessing in the setup.

If this answers

[2020-11-03 12:22] VinayChaudhari1996 commented on #789
`pull()` is worked for me ,
Thanks

[2020-11-03 12:40] Yard1 commented on #794
Custom pipeline is applied after the default PyCaret pipeline steps (one of which is one hot encoding). You could set `preprocess=False` in `setup` and then use this parameter. You should just pass a list of sklearn transformers as a value for `custom_pipeline` argument.

[2020-11-03 12:55] anne-leroy-T opened #802 "How to get train_yhat for create_model and tune_model - and test_yhat for predict_model"
As I have an issue with the plot error (#784), I would like to get the yhat resulting from the create_model and tune_model; as well as the yhat from test, in order to plot it by myself.

How can I achieve this ?

Thanks

[2020-11-03 12:57] anneleroytotal opened #803 "Documentation for automatic tuning"
Is there a place where I can check for each algorithm which parameters and values are specified in the automatic tuning function ?
So I can check if I need to be more specific about some of these and make my own specified grid search.

Thanks a lot.

[2020-11-03 13:52] Yard1 commented on #802
`create_model()` and `tune_model()` return a trained model object. You can get the train and test data frames with `get_config('X_train')`, `get_config('X_test')`, `get_config('y_train')` and `get_config('y_test')`.

[2020-11-03 13:52] Yard1 commented on #803
`models(internal=True) ["Tune Grid"]` should give you what you need.

[2020-11-03 14:26] anneleroytotal commented on #802
Great, it's working fine.  In the meantime, I found : predict_model(my_model_tuned, data=train) where I can get results as well. I will check if it gives me the same results before closing the subject

[2020-11-03 14:28] anneleroytotal commented on #803
This is exactly what I need. Thanks a lot. I close the subject.

[2020-11-03 14:28] #803 closed

[2020-11-03 15:00] anne-leroy-T commented on #802
I do not want the real y_train and y_test from my dataset, I would like to get the y that are predicted by the create_model and tune_model.
This is because the plot "error" has obviously an issue (see my (#784) and I want to plot it by myself instead to check prediction versus real.

Thanks

[2020-11-03 15:09] Yard1 commented on #802
`predict_model()` will return a dataframe with the `Label` column being the predicted values.

[2020-11-03 15:15] #679 closed

[2020-11-03 15:16] pycaret commented on #778
@doraemonlei Can you please elaborate on your question? Maybe include some examples so that somebody can help you.

[2020-11-03 16:10] Yard1 commented on #799
@leonsolon  I just pushed commit 9c5d00077bb12749bdd25965d5501e27eb645c71 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-03 16:19] ParthaKarthikeyan opened #804 "Unable to access Optimize_threshold results"
Hi,

I am using pycaret for a classification project. I am trying to optimize the model for my use case, but I am not able to return the optimize_results dataframe which consists of the Optimal Probability Threshold and the Optimized Cost Function.

I tried using get_config() but that doesnt seem to work either.

![image](https://user-images.githubusercontent.com/45417280/98011904-1946e380-1dbe-11

[2020-11-03 16:52] pycaret commented on #359
@sarikanyaram Are you still facing this issue, please confirm?

[2020-11-03 18:16] javierperezcastan opened #805 "Big errors with predict_models for classification"
Hi,
Thank you very much for your work. It is amazing.
I have a database that I would like to apply classification techniques. I have follow the different steps you use in your tutorial. I have trained a rf , I have tuned it to optimize 'f1' and once I apply the predict_model I can obtain the database with the label and score of the predict_model().
The problem arises when I compare the return metr

[2020-11-03 18:29] leonsolon commented on #799
Great, it worked! Thanks a lot.

[2020-11-03 18:29] #799 closed

[2020-11-03 18:44] Yard1 commented on #805
Where possible, metrics use the probability scores instead of a binary correct/incorrect score. That is most likely what's happening here.

[2020-11-03 18:53] javierperezcastan commented on #805
Using the confussion matrix and obtainnig the predicted value of the predict_model() they do not correspond with the formulaes of accuracy =TN / (TN+FP) and recall = TN / (TN+FN). If you are using the probability scores, how do you calculate the respective values of these metrics?
Thx

[2020-11-03 19:28] gm039 opened #806 "Add area under the Precision-Recall curve (AUPRC): a useful metric for class imbalance."
The area under the Precision-Recall curve (AUPRC) is very useful metric for class imbalance. Here is the source (https://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html).

I tried using the add_metric feature in Pycaret 2.2 as below.

_from sklearn.metrics import average_precision_score
add_metric('AUPRC_ID','AUC_PRC',average_precision_score, greater_is_bette

[2020-11-03 19:57] leonsolon opened #807 "Iterative imputer with error"
When I set the imputation_type to "iterative" I get an error:

TypeError: can't pickle dict_keys objects

Here's the notebook and data. Thanks!

[iterative_imputer.zip](https://github.com/pycaret/pycaret/files/5483747/iterative_imputer.zip)

[2020-11-03 21:11] Yard1 commented on #805
Sorry, I was mistaken. What I said only applies to AUC. This is due to how we handle multiclass problems. However, this behavior should not be triggered for binary problems.

I just pushed commit 499ac03df22d7b5a73ed2b42fbcd8edba12207a5 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try

[2020-11-03 21:27] Yard1 commented on #807
@leonsolon Thanks for reporting this issue. I just pushed commit f03581a4bbea9c70650f6ea5291c7b8ea25658b0 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-03 23:08] leonsolon commented on #807
Already? Working! Tested with default iterative imputer, knn and catboost: all good.

You guys are fast, thanks a lot!

[2020-11-03 23:08] #807 closed

[2020-11-04 01:44] #778 closed

[2020-11-04 04:13] DesiKeki opened #808 "plot_model(kmeans) not working"
Pycaret version 2.2.0
Data:
40 clusters
300 features type: float

Hi Team,

The vanilla usage of plot_model(kmeans) is erroring out.
I am getting following error:

[code]

The code I used is:

[code]

Am I missing something here?

[2020-11-04 04:18] DesiKeki opened #809 "tune_model function of clustering not accepting estimator argument"
Pycaret Version: 2.2.0

Hi Team,

The tune_model function of clustering is erroring out at passing estimator argument:

[code]

Is the name of the argument changed?

[2020-11-04 07:05] javierperezcastan commented on #805
It actually works, thank you very much for your attention¡

[2020-11-04 07:05] #805 closed

[2020-11-04 07:45] sarikanyaram commented on #359
THis issue is was solved but when i am using univariate time series for
xgboost using create_model(xgb) i am getting the below error. For rf and
lightgbm it is working.

I am unable to build the stack model using selected model.

IntProgress(value=0, description='Processing: ', max=4)

Initiated . . . . . . . . . . . . . . . . . . 12:56:33
Status . . . . . . . . . . . . . . . . . . Fitting 10 Fold

[2020-11-04 08:04] anne-leroy-T commented on #802
This looks not so easy as I want the prediction on the train.

The solution I can find to get the predict on train is :
- get_config('X_train') in order to know the records that were selected by the create_model for the train/test split. Because this is already the transformed dataset, I cannot use it directly for the predict however.
- extract from my full input dataset, the records that are spec

[2020-11-04 08:06] anne-leroy-T commented on #784
This is due to the fact i think that my target is a very small number between 0.001 and 0.10

Is this a bug ?

[2020-11-04 08:56] Yard1 commented on #809
It's `supervised_estimator` since 2.2.

[2020-11-04 08:56] Yard1 commented on #808
Thanks for the report, will look into it.

[2020-11-04 13:47] anne-leroy-T commented on #802
ok ... it seems that get_config('y_train')   does not give the label from the train set ... but the predicted label ... am I right ...if I'm right, this is exactly what I need.  could you confirm ?  Sorry, I did not find this info in the doc ... (or at least understood it ;-) )

[2020-11-04 14:17] anne-leroy-T commented on #802
It seems I don't understand, the predict as described by :
The solution I can find to get the predict on train is :

get_config('X_train') in order to know the records that were selected by the create_model for the train/test split. Because this is already the transformed dataset, I cannot use it directly for the predict however.
extract from my full input dataset, the records that are specified i

[2020-11-04 14:19] anne-leroy-T commented on #802
I do want to mention I do all this in order to plot by myself the plot-error diagram, that is not working when having targets low below zero :  issue with the plot error (#784), Anyway I think it would be interesting for everyone to easily retrieve the calculated values from create_model and tune_model

[2020-11-04 14:22] garar commented on #788
Hi @Yard1 !

Thanks for the tip about labels and thank you for the `master_display_` fix. It seems to be working. I've tested it using master branch.

Unless @faruktufekci objects, it seems like this can be closed.

[2020-11-04 14:26] faruktufekci commented on #788
working on my machine as well. thank you @Yard1 !

[2020-11-04 14:26] #788 closed

[2020-11-04 14:30] pycaret commented on #802
@anne-leroy-T See the below example on how to do what you are trying to achieve:

[code]

![image](https://user-images.githubusercontent.com/58118658/98123839-668b8980-1e80-11eb-8960-887f0c8fbc06.png)

Hope this helps.

[2020-11-04 15:00] pycaret commented on #804
@ParthaKarthikeyan It's unclear why you are trying to access optimize_threshold using `get_config`.

The output of `optimize_threshold` is a visual:

![image](https://user-images.githubusercontent.com/58118658/98127346-98065400-1e84-11eb-93ae-6b6954b2bf58.png)

Read the documentation here: http://pycaret.org/optimize-threshold/

[2020-11-04 15:02] pycaret commented on #809
@DesiKeki The parameter `estimator` has been renamed to `supervised_estimator`.

![image](https://user-images.githubusercontent.com/58118658/98127503-c7b55c00-1e84-11eb-89e4-6bc797b91e1c.png)

Please see documentation here:  https://pycaret.readthedocs.io/en/latest/api/clustering.html

[2020-11-04 15:02] #809 closed

[2020-11-04 17:52] ParthaKarthikeyan commented on #804
I understand that it is a visual.

I just want to extract the optimized probability threshold value. Is there any way to do that?

[2020-11-04 18:03] pycaret commented on #804
@ParthaKarthikeyan Got it. I have just pushed a commit that will return the threshold value as numpy float. Can you please install the latest from the master and try?

`pip install git+https://www.github.com/pycaret/pycaret@master`

Once you update it, `optimize_threshold` will return the numpy float containing the optimized threshold value.

Please let me know if this solves your problem.

Thanks

[2020-11-04 20:24] bmberetta opened #810 "Strange behavior when "remove_outliers=True" in classification.setup"
When I set "remove_outliers=True" in classification.setup, the transformed train set, and transformed test set, number of columns differs. When I set "remove_outliers=False", the transformed train set, and transformed test set, number of columns match.

With "remove_outliers=False"

X_train = get_config('X_train')
X_test = get_config('X_test')
X_train.shape, X_test.shape

((499, 24), (215, 24))

W

[2020-11-04 20:28] Yard1 commented on #810
Would it be possible for you to provide a dataset?

[2020-11-04 20:33] bmberetta commented on #810
Not easily I'm afraid. I would have to obfuscate the data.

[2020-11-04 20:36] pycaret commented on #810
@bmberetta In that case can you try to reproduce the issue on one of the available datasets on our github? You can access sample data:

[code]

[2020-11-04 20:51] bmberetta commented on #810
Using the test dataset "juice"

s = setup(
    data=juice,
    target="STORE",
    session_id=42,
    normalize=True,
    normalize_method="robust",
    transformation=True,
    remove_multicollinearity=True,
    remove_perfect_collinearity=True,
    multicollinearity_threshold=0.95,
    remove_outliers=False,
    numeric_imputation="zero",
    data_split_stratify=True,
    silent=True,
)

X_train

[2020-11-04 20:54] pycaret commented on #810
@bmberetta Thanks. the special character might cause an issue. In this case, it would really be helpful if you can somehow anonymize the dataset with actual column names and see if the issue persists and if you can share that here so we can investigate and fix. You can only upload the first 50 rows anonymized with actual col headers. Can you do that?

[2020-11-04 21:00] bmberetta commented on #810
I will remove the special characters in the column headers, retest my dataset and report back.

[2020-11-04 21:02] pycaret commented on #810
Thanks @bmberetta

[2020-11-04 21:02] gm039 commented on #810
@bmberetta @pycaret  The mismatch in column size is probably due to the addition of two extra columns (pca & vote_outlier) appended at the end along with the actual X_Train.

[2020-11-04 21:06] pycaret commented on #810
@gm039 There shouldn't be new columns introduced in `X_train` due to `remove_outliers`. Do you have any example where we can reproduce this issue?

[2020-11-04 21:18] gm039 commented on #810
@pycaret I tried it with my case and found these two columns got added. Unfortunately, I can't share my data. I will try to reproduce on public data and share it with you.

[2020-11-04 21:20] gm039 commented on #806
@pycaret What is the default input argument to the metric defined through the add_metric feature in Pycaret 2.2?

[2020-11-04 21:21] pycaret commented on #810
@gm039 Are you using pycaret `2.2`. We would really appreciate if you can reproduce the issue and share it here? I can't reproduce this error on `juice` dataset.

[2020-11-04 21:25] pycaret commented on #806
@gm039 You can actually access the metrics PyCaret is using by calling the `get_metrics` function.

[2020-11-04 21:30] gm039 commented on #810
@pycaret Yes, I am using pycaret 2.2.
Even I am unable to reproduce the issue. It works fine with juice data as both the Transformed Train and Test Set have equal feature size.

[2020-11-04 21:39] gm039 commented on #806
@pycaret Thanks! Below are the metrics used.

![image](https://user-images.githubusercontent.com/50217085/98170103-6e1c5400-1ebb-11eb-82c1-717aa3d15ea6.png)

The input argument to the metric should be Target and Predicted Score but its taking Target and Predicted Label as  verified in the previous snapshot.

Unfortunately, the average precision calculated is different from the score obtained using

[2020-11-04 21:48] pycaret commented on #806
@gm039 You can pass the `target = 'pred_proba'` inside the `add_metric` call and it will work just fine :) See below:

[code]
![image](https://user-images.githubusercontent.com/58118658/98171305-83927d80-1ebd-11eb-8fe1-2530a21d6632.png)

![image](https://user-images.githubusercontent.com/58118658/98171311-88efc800-1ebd-11eb-90e4-2ec599679082.png)

Hope this helps?

[2020-11-04 21:49] pycaret commented on #806
@gm039 Please close the issue, if this answers the question.

[2020-11-04 21:55] gm039 commented on #806
@pycaret Thankyou so much. It worked.

[2020-11-04 21:55] #806 closed

[2020-11-04 23:46] bmberetta commented on #810
I have confirmed that the issue occurs when any of the column headers include any non-alphabetic character, including a space.

[2020-11-05 02:42] shapatel13 commented on #808
Hello I am having the same issue.

[2020-11-05 02:45] DesiKeki commented on #808
Sure @Yard1
Please find the dataset attached.
[data_pycaret_plot_issue.zip](https://github.com/pycaret/pycaret/files/5491634/data_pycaret_plot_issue.zip)

[2020-11-05 07:51] anne-leroy-T commented on #802
I submitted the example you gave me and it explains my problem.

If you look at the R2 of the create_model(dt), it gives you 0.7154.
If you calculate the R2 from the label predicted, it gives you 0.9999

You can see by looking at your output that the prediction on the X_train is almost perfect and you get the y_predicted equal the real y-value. So this is definitely not the values that were calcul

[2020-11-05 09:38] Yard1 commented on #808
@DesiKeki Hey, I can't replicate this. Is it possible for you to share an entire, reproducible notebook?

[2020-11-05 09:57] anne-leroy-T commented on #802
In fact, you don't even have to execute the previous code to see that something is wrong with the predict on train set :
![image](https://user-images.githubusercontent.com/25195665/98225915-9ce70880-1f55-11eb-8826-ec655f3a30ff.png)

[2020-11-05 10:39] #789 closed

[2020-11-05 10:39] Practcdi commented on #789
`Pull ()` worked for me!
Thanks ,

[2020-11-05 13:24] pycaret commented on #801
@atwahsz Please update your version to `2.2`. I am closing this issue for now as there are no details we can work on. Please feel free to open another issue, if it persists and when you are ready.

[2020-11-05 13:24] #801 closed

[2020-11-05 13:25] krlng commented on #592
Would be great, if this could be changed in the docs as well: https://pycaret.org/compare-models/

[2020-11-05 13:25] pycaret commented on #784
@anne-leroy-T Nope. This is due to the target variable being too small. We are using `yellowbricks` at the back end which seems like not scaling the graph appropriately.

[2020-11-05 13:26] pycaret commented on #795
@atwahsz I am closing the issue for now as there are no details on which we can act. Please feel free to open another issue when you are ready and if required.

[2020-11-05 13:26] #795 closed

[2020-11-05 13:27] pycaret commented on #359
@sarikanyaram Please update your `xgboost` version by `pip install --upgrade xgboost`.

[2020-11-05 13:29] #311 closed

[2020-11-05 13:33] anne-leroy-T commented on #784
OK; I found an easy solution by multiplying my target by 1000; but well it's anyway an issue ....   with yellowbricks then ;-)

I close the subject. Thanks for your answer. Have a nice day.

Anne

[2020-11-05 13:33] #784 closed

[2020-11-05 13:41] wsn4iv commented on #788
I receive the same error, but I am not adding any variables. I am just running compare_models.

---------------------------------------------------------------------------
UnboundLocalError                         Traceback (most recent call last)
<ipython-input-19-cae85f799be1> in <module>()
----> 1 best_model=compare_models(exclude=['knn'])

~\AppData\Roaming\Python\Python37\site-packages\pycare

[2020-11-05 13:58] garar commented on #788
Hi @wsn4iv !

Does it happen on master? This error is indirectly caused by custom metrics, the main cause is: when pycaret can't create any models in compare_models it will fail, because `master_display_` is not initialized.

Did you try master?

[2020-11-05 14:01] wsn4iv commented on #788
How do I try master?

Sent from my iPhone

Scott Newbern

[2020-11-05 15:42] bmberetta commented on #810
I have managed to narrow down the issue. It appears to do with the number of numeric and ignored features I have defined. You can reliably reproduce the problem with the Jupyter notebook and data I have uploaded. If you run the notebook as is, you will see that the transformed train and transformed test set columns number differ. If you randomly comment out any one of the numerical or ignored feat

[2020-11-05 18:07] ParthaKarthikeyan commented on #804
@pycaret Thank you for the prompt reply and update. I have installed and tried to get the output. But the return still seems to be a part of the image.

The output of the optimize_threshold still says NoneType.

I want to be able to store that value such that I can dynamically call it in the Predict_model function, without having to go back and manually check the optimize threshold and input it in

[2020-11-05 18:35] shapatel13 opened #811 "Pycaret clustering, how does it identify the target, so it knows to ignore? The previous version had a supervised target option."
Hello, I noted in the new version of pycaret, there is no supervised target option in the clustering.  How will it recognize the target, so it can ignore it?  I am trying to cluster with k means first and then do classification after.  Thank you

[2020-11-05 20:02] linhy1993 opened #812 "Unable to load_config"
Hello guys,

I am able to save config as pkl file use save_config, however, when I want to load the config by using load_config, it return empty.
I check `/pycaret/internal/tabular.py`, in line 9492 `r = pycaret.internal.utils.load_config(file_name, globals())` but it doesn't return anything to r in function `pycaret.internal.utils.load_config()`

Could you check that? Thanks in advance.

[2020-11-05 21:38] Yard1 commented on #812
`load_config()` is not supposed to return anything. It sets global variables that `setup()` would set up normally, allowing you to use PyCaret without calling `setup()` again.

[2020-11-05 21:39] Yard1 commented on #811
You should pass the name of the target column to `ignore_features` argument in Clustering's `setup()`.

[2020-11-05 21:42] Yard1 commented on #810
@gm039 @bmberetta I just pushed commit 8856db994d57f38d8b40776677cfcef37979b7d0 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-05 21:45] Yard1 commented on #804
@ParthaKarthikeyan @pycaret I think it should be `pip install --upgrade git+https://www.github.com/pycaret/pycaret@master` - without `--upgrade`, it won't overwrite the release PyCaret version.

[2020-11-05 21:48] Yard1 commented on #788
@wsn4iv `pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` will install PyCaret's development version, which includes the fix for this issue.

[2020-11-05 21:53] shapatel13 commented on #811
Ok, thank you.  I am also having issues performing clustering when I choose
iterative as my imputing strategy.  Any thoughts?

On Thu, Nov 5, 2020 at 4:40 PM Antoni Baum <notifications@github.com> wrote:

[2020-11-05 22:03] bmberetta commented on #810
@Yard1 I upgraded pycaret per your instructions. Still failing on the test data I sent earlier.

[2020-11-05 22:06] shapatel13 commented on #811
I am having issues using iterative imputer for clustering.  The error I get below.

UnboundLocalError                         Traceback (most recent call last)
<ipython-input-18-b471737b2079> in <module>()
----> 1 exp_clu = setup(df,normalize=True, normalize_method='minmax',imputation_type='iterative',ignore_features=['target'])

1 frames
/usr/local/lib/python3.6/dist-packages/pycaret/internal/tab

[2020-11-05 22:09] linhy1993 commented on #812
OK, so I can create the model directly?
I will close the issue. Thanks

[2020-11-05 22:09] #812 closed

[2020-11-05 22:20] Yard1 commented on #812
Yeah you can just carry on as you would after calling `setup()`.

[2020-11-05 22:20] Yard1 commented on #811
Thanks for the report, will look into it.

[2020-11-05 22:22] Yard1 commented on #810
That's odd. I have used the exact same notebook you posted, and it is working as intended for me (column counts are the same and outlier rows are removed from train). I will double check.

[2020-11-05 22:25] bmberetta commented on #810
@Yard1 Just to be sure, I'll go through the whole update and test process again as well.

[2020-11-05 22:27] Yard1 commented on #810
@bmberetta Try `pip uninstall pycaret` before `pip install`, and make sure to restart your notebook so that it reloads the library.

[2020-11-05 22:30] Yard1 commented on #811
@shapatel13 I just pushed commit 6e9f758531f4505a135360cd53983a2b98130e1c that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version, restart your notebook and try again?

[2020-11-05 22:55] bmberetta commented on #810
@Yard1 I can confirm that the issue is resolved. I had a copy of release pycaret-2.2 in a global directory that was overriding my local copy.

Many thanks for resolving the issue so quickly.

[2020-11-05 22:55] #810 closed

[2020-11-06 11:05] xgdgsc opened #813 "crash on regression.setup using gpu"
The kernel crashes on running setup() forcing gpu. Any ideas?
[code]

[2020-11-06 11:47] Yard1 commented on #813
This would be an issue either with your hardware or dependent libraries. Sadly, we cannot help with this. Try opening an issue in cuML repository.

[2020-11-06 12:03] shambhavithakur opened #814 "Logging, Pickling, and Graphing Errors"
Hi,

Thanks for conceptualizing and building the PyCaret library. PyCaret can help us quickly identify relevant models and parameters at the beginning of a project. It is also good for implementing ML workflows end to end. What adds to its appeal is that its documentation is concise and coherent.

I discovered PyCaret recently, and I am delighted that PyCaret 2.2  includes many of the features tha

[2020-11-06 12:36] xgdgsc commented on #813
Thanks.

[2020-11-06 12:36] #813 closed

[2020-11-06 13:52] Yard1 commented on #814
Pickling issues should be fixed on master. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-06 14:51] joschkazj commented on #802
Hi,
I came here looking for an explanation on the mismatch between the results from tuning/cross-validation and the model plots.
Would you care to elaborate how the scores are computed, i.e. on which data (sub)sets?

In my case the R² **training** score in the residual plot does not resemble anything displayed during model comparison, or tuning. The R² **test** score, however, is at least consiste

[2020-11-06 14:58] fjehlik opened #815 "Feature importance list/plotting feature importance"
Is there a way that one can adjust the length of the plot_model(model, plot='feature') figure output? In other words, select the number of  features one would like on the plot (increase or decrease)? Additionally, is there a way to access the entire feature importance list results once it has been calculated? Apologies if I have missed it, I just haven't found a way to do either of these.

[2020-11-06 15:28] shambhavithakur commented on #814
Thanks, Antoni. The errors have been resolved in the development version of PyCaret.

[2020-11-06 15:28] #814 closed

[2020-11-06 16:28] Yard1 commented on #814
I'll take a look at the other things too. Not sure if anything can be done about `evaluate_model`, it is a very intensive function, but we can probably tweak how `profile` works.

[2020-11-06 16:30] Yard1 commented on #815
You can do `plot='feature_all'` to get a plot with all features. Sadly, in the current version, it's either top 10 or all. You can get the feature importances from the models themselves - usually it's either `coef_` or `feature_importances_` attributes. Refer to sklearn/other model library documentation.

[2020-11-06 16:30] lusis-ai opened #816 "Documentation : add source reference for included datasets"
While some datasets are well known, it's not the case for all of them, so it could be very helpful to have the source reference of each dataset to enable quickly getting features descriptions.

[2020-11-06 17:11] pycaret commented on #811
@shapatel13 You can still use `supervised_target` parameter available in the `tune_model` for `pycaret.clustering`.

![image](https://user-images.githubusercontent.com/58118658/98394617-0ab03480-2029-11eb-9937-d8aa5de27a52.png)

See this link for more info: https://pycaret.readthedocs.io/en/latest/api/clustering.html#pycaret.clustering.tune_model

`ignore_features` will ignore the particular colum

[2020-11-06 17:12] pycaret commented on #816
@lusis-ai This issue has been brought in the past several times. The problem is we haven't got anyone who would be willing to put time and add sources to the datasets. Many have committed but none of them actually worked. Will you be willing to work on this and add sources to available datasets?

[2020-11-06 17:18] pycaret commented on #815
@fjehlik If you are using a model that provides coefficient value or built-in feature importance like Random Forest, you can simply call off the attribute from the trained model. For example:

[code]
![image](https://user-images.githubusercontent.com/58118658/98395398-308a0900-202a-11eb-98f0-5b7a6dadc0d6.png)

![image](https://user-images.githubusercontent.com/58118658/98395387-2b2cbe80-202a-11eb-

[2020-11-06 18:06] fjehlik commented on #815
Excellent and thank you both. This addresses what I was looking for and appreciate your time~

[2020-11-06 19:23] pycaret commented on #815
Thanks @fjehlik

[2020-11-06 19:23] #815 closed

[2020-11-06 20:01] shapatel13 commented on #808
https://colab.research.google.com/drive/1tNzRAPhUZaJQV1qBL-BRK8If_E8zNsPq?usp=sharing

[2020-11-06 20:03] shapatel13 commented on #808
![image](https://user-images.githubusercontent.com/50153301/98409672-46ef8f00-2041-11eb-8596-80fa2aa5ed81.png)

[2020-11-06 20:04] shapatel13 commented on #808
I am still having the same issue, I am using the new version

pip install --upgrade --user git+git://github.com/pycaret/pycaret.git

[2020-11-06 20:05] Yard1 commented on #808
Thank you, I will look into it.

[2020-11-06 20:14] Yard1 commented on #808
@shapatel13 Hey, I can't access the colab notebook. Could you make sure everyone can view the link? Thanks.

[2020-11-06 21:02] shapatel13 commented on #808
hello, here is a link where you can edit/acces

https://colab.research.google.com/drive/1tNzRAPhUZaJQV1qBL-BRK8If_E8zNsPq?usp=sharing

On Fri, Nov 6, 2020 at 3:14 PM Antoni Baum <notifications@github.com> wrote:

[2020-11-06 21:04] pycaret commented on #774
@flachboard `interpret_model` only works with test/holdout set. The `observation` parameter passed in the `interpret_model` refers to the index of the test set. Hope this answers your question.

[2020-11-06 21:10] jisho-iemoto commented on #359
I have a similar error when loading a model.
Now I'm re-building a model with updated PyCaret (ver2.2) and will see if the said error will arise.

Then, I can't import a module named 'pycaret.preprocess' and this is the very error I've encountered.
Do you have any ideas on this?

[2020-11-06 21:27] jtrenkle opened #817 "Difference in Screen Printouts between 2.0.0 and 2.2.0"
Note: I am using `pycaret` in a Databricks notebook to tackle a classification problem.

When doing a classification task using _compare_models_, I would see running results like this as the job progressed:

![image](https://user-images.githubusercontent.com/38893214/98415924-0a1c9b80-2033-11eb-84c2-044906e6e8c9.png)

However, with the upgrade to 2.2.0, I no longer see the informative table, but t

[2020-11-06 21:28] Yard1 commented on #808
@shapatel13 Would it be possible to also share the dataset? Thanks.

[2020-11-06 21:29] Yard1 commented on #817
@jtrenkle Try passing `html=False` in `setup()`.

[2020-11-06 21:31] jtrenkle commented on #817
I tried that and let it run, but after 20 minutes there was still no output at all in the cell with _compare_models_.

I can try again.

[2020-11-06 21:32] jtrenkle commented on #817
actually, that job is _still_ running.  No output.

![image](https://user-images.githubusercontent.com/38893214/98416778-9085ad00-2034-11eb-939b-9959f2e6c07f.png)

[2020-11-06 21:35] jtrenkle commented on #817
BTW, here is the cell with the setup:

![image](https://user-images.githubusercontent.com/38893214/98416918-e35f6480-2034-11eb-8bd8-e3a4c2f10469.png)

[2020-11-06 21:37] jtrenkle commented on #817
BTW, I think the issue is in this file in the `pycaret` repo:

pycaret/pycaret/internal/tabular.py

this is where the pandas styler is defined

[2020-11-06 21:50] shapatel13 commented on #808
https://drive.google.com/file/d/1VwlYP2xZGc4zmbE4mGBXMfekAxGCXk69/view?usp=sharing

On Fri, Nov 6, 2020 at 4:28 PM Antoni Baum <notifications@github.com> wrote:

[2020-11-06 21:50] pycaret commented on #817
@jtrenkle I don't think so there is an issue with this. The `compare_models` command might take some time because of the size of the dataset especially if you aren't excluding models like `kNN`.

Since Databricks does not support IPython, we cannot render an interactive progress bar in the Databricks environment. Hence you will have to pass `html = False` in the `setup` function in order to avoid

[2020-11-06 21:51] Yard1 commented on #817
With `html=False`, it should print the dataframe when the method finishes.

[2020-11-06 21:57] jtrenkle commented on #817
What has changed between 2.0.0 and 2.2.0 that makes this so different? With no running output from the comparision, I am running blind on any training.  How does this work in other environments?

[2020-11-06 21:59] pycaret commented on #817
@jtrenkle Are you using Azure Databricks or any other managed service or directly databricks.com?

[2020-11-06 22:01] jtrenkle commented on #817
Our company goes directly off DB in AWS.

BTW, this job nornally takes 3-4 hours.  No cell output makes this pretty dicey

[2020-11-06 22:01] Yard1 commented on #817
Previously, `compare_models` has been displaying a normal pandas dataframe as it was running, and a styler at the end. For consistency, it is now always displaying stylers (as long as `html=True`). That way we can control the output in interactive notebooks like Google Colab better. However, you have a point that this puts non-html users at a disadvantage. I'll see if something can be done.

[2020-11-06 22:01] jtrenkle commented on #817
BTW,  I love `pycaret` and am a big advocate

[2020-11-06 22:02] jtrenkle commented on #817
Any help in this front would be appreciated.  I mayh have to fall back to 2.0.0 to keep things working, but I hate to not be able to leverage new functionality

[2020-11-06 22:03] pycaret commented on #817
@jtrenkle With 2.0, did you had to pass `html = False` or not?

[2020-11-06 22:05] jtrenkle commented on #817
Originally I did _not_ have to pass that param -- things worked right out of the box. I only discovered that param today in trying to get things working

[2020-11-06 22:05] pycaret commented on #817
@jtrenkle One more question. With 2.0 did you also had an interactive progress bar shown up as well?

[2020-11-06 22:06] jtrenkle commented on #817
rendering pandas dataframes works out of the box, but Stylers recall a call to `display` or `displayHTML`

[2020-11-06 22:07] jtrenkle commented on #817
I don't recall a progress bar.  When I successfully fall back, I can comment on that

[2020-11-06 22:22] Yard1 commented on #808
@shapatel13 @DesiKeki I have pushed commit 40ed93e836451ffcfbfd60ae8e1498875dc85da3 which should fix this issue. Can you install PyCaret through `pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` again and see if it solves the problem for you?

[2020-11-06 22:33] Yard1 commented on #817
@jtrenkle I just pushed commit 4183bf47999f8575ea59aa545ebca61f78ef4a7b that should help with this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again? Let me know if that sort of output is acceptable.

[2020-11-06 23:05] Yard1 commented on #814
@shambhavithakur You should be able to pass arguments to the `ProfileReport` using `profile_kwargs` argument in `setup()` which I have just added in commit 74ad34d26d734ea8ca4bd0806b4aa410cf60be40.

[2020-11-07 00:19] jtrenkle commented on #817
Just seeing this.  Will try and report back. I greatly appreciate your effort here.

[2020-11-07 00:57] jtrenkle commented on #817
Some good news, some bad news.

Bad News. installing the upgrade did not seem to change the behavior -- I still only see the pandas.io... line

Good News:  the previous run did finish -- with no intermediate output -- but it did print the final table with the outcomes for all classifiers

Unfortunately, I'll still need to fall back to an older version because when I experiment and try new things t

[2020-11-07 00:59] jtrenkle commented on #817
Actually, one more sanith check.  Does this appear to be a successful upgrade as per your instructions?:

[code]

[2020-11-07 02:09] jisho-iemoto commented on #359
The message attached below is the actual one when loading a model.

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Admin\Anaconda3-2\envs\New_AK\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "<ipython-input-94-76e714b91ac4>", line 167, in EveryWeek
    Shutsu_2()
  File "<ipython-input-105-a8f72c53d653>", line 9, in Shutsu_2

[2020-11-07 05:10] gm039 opened #818 "Evaluate model performance and obtain all the metrics and plots on unseen data?"
Hi,

 I would also like to ask what is the recommended way out for saving and reloading the model and testing later on unseen data.
I want to obtain all the metrics and plots on unseen data.

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#Save the model
save_model(tuned_model_best,'tuned_model_best')
save_config('tuned_model_best_config.pkl')
import pycaret.classification import *

#Load the saved model

[2020-11-07 07:14] gm039 opened #819 "AttributeError: probability estimates are not available for loss='hinge'"
Hi,
I encountered a new error in PyCaret 2.2. Reporting it FYI.

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_scorer.py in _cached_call(cache, estimator, method, *args, **kwargs)
     55     try:
---> 56         return cache[method]

[2020-11-07 09:33] Yard1 commented on #817
Yes, the output looks correct. Can you make sure you do `html=False` after update?

[2020-11-07 09:35] Yard1 commented on #819
Is it possible for you to share the notebook or code that causes this error?

[2020-11-07 12:14] osabobo opened #820 "Please help resolve"
from pycaret.utils import check_metric
check_metric(unseen_predictions.price.ast, unseen_predictions['Label'], 'MSE')
---------------------------------------------------------------------------
UnboundLocalError                         Traceback (most recent call last)
<ipython-input-33-5d499e1b50e9> in <module>
      1 from pycaret.utils import check_metric
----> 2 check_metric(unseen_predictions

[2020-11-07 13:30] kusumy opened #821 "Error running examples"
trying to run an example located at (using pycaret v2.2):

1. https://github.com/pycaret/pycaret/blob/master/examples/Pycaret_2.1_Regression_EmployeePerformance.ipynb

    There is an error message after compare_models:

    _LinAlgError: SVD did not converge_

2.  https://github.com/pycaret/pycaret/blob/master/examples/TimeSeries_Forecasting.ipynb

    There is an error message after compare_mode

[2020-11-07 17:41] Yard1 commented on #820
It appears that your version of PyCaret is outdated. Please run:
[code]

to install the latest version.

[2020-11-07 17:41] #820 closed

[2020-11-07 17:44] Yard1 commented on #818
You can get the last displayed dataframe using `pull()`:
[code]

You can create and save individual plots with `plot_model(model, save=True, plot="PLOTNAME")`.

[2020-11-07 17:48] jtrenkle commented on #817
Dang,  with the upgrade and `html=False` I get no running output from _compare_models_

[2020-11-07 20:13] Yard1 commented on #817
That's really odd. We'll keep looking into this, then.

[2020-11-07 21:03] jtrenkle commented on #817
Thanks, I appreciate it

[2020-11-08 03:41] kusumy commented on #821
Error number 3 was solved by using latest development version.

[2020-11-08 03:52] hayilmaz opened #822 "tune model causing error"
tuned_kmeans = tune_model(model = 'kmeans', supervised_target = 'result')

 IndexError: list index out of range
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-25-71f34533b05f> in <module>
----> 1 tuned_kmeans = tune_model(model = 'kmeans', supervised_target = 'result')

/opt/anac

[2020-11-08 09:28] Yard1 commented on #822
Can you share the code/notebook that caused this?

[2020-11-08 14:29] Yard1 commented on #822
@hayilmaz It appears that your version of PyCaret is outdated. Please run:
[code]

to install the latest version.

[2020-11-08 14:29] #822 closed

[2020-11-08 22:02] shapatel13 commented on #808
Thank you its working now.

On Fri, Nov 6, 2020, 5:23 PM Antoni Baum <notifications@github.com> wrote:

[2020-11-09 01:53] pycaret commented on #821
@kusumy Error no 1 should also be gone away. Can you check?

[2020-11-09 03:38] DesiKeki commented on #808
Thanks @Yard1
Working now!

[2020-11-09 03:38] #808 closed

[2020-11-09 08:58] anne-leroy-T commented on #802
Hi "pycaret", As "joschkazj" confirms above there's a mismatch between the CV scores and the predict on train score.

Could you check this please ?

This issue can be checked with the boston script dataset you sent me either using the predict on get_config(X_train) or simply after creating the model, plotting the residuals where you can see that the R2 on train is not correct.
Please note the R2 o

[2020-11-09 09:01] rananuryavuz opened #823 "SimpleImputer object has no attiribute validate data"
I would like to use my data set with anomaly detection library but I got this error all the time which is in enclosed file.
![pycaret](https://user-images.githubusercontent.com/22149365/98520570-45150e00-2283-11eb-9087-e3d1c7888c48.PNG)

[2020-11-09 09:53] kusumy commented on #821
I have to run cell containing compare_models() twice to eliminate the error no. 2.

[2020-11-09 11:34] Yard1 commented on #823
Is it possible for you to share the code and dataset?

[2020-11-09 14:28] joschkazj commented on #802
My colleague figured out what the two R² scores refer to: they are computed on the **entire train/test set**, respectively.
Note below how the two values of R² = 0.558 and 0.724 are reproduced:

![image](https://user-images.githubusercontent.com/1842005/98553436-e6aa5880-229f-11eb-8f85-1b35943aaa3d.png)
![image](https://user-images.githubusercontent.com/1842005/98553482-f32eb100-229f-11eb-8891-1d8

[2020-11-09 15:37] anne-leroy-T commented on #802
i'm not sure about that. Anyway if it was the case, the label : train R2 is misleading and my question is still valid : how do I get the predictions on the train.

Why am I not sure ?

Because when i get_config(X_train), which we agree is only the train set and not the test set, and then predict, I get the same result mentioned on your residual plot.

on the boston dataset, for a TREE algorithm, d

[2020-11-10 07:42] aniketkumar88 opened #824 "Tune Function degrades model accuracy"
Hi Team,

Tune_model function degrades model accuracy even though after trying multiple iterations. Its not happening with 1 datset, but happens with most of them. Is there any work around or I am missing something ?

Thanks

[2020-11-10 07:58] sagarnildass opened #825 "Unable to load model in pycaret 2.2.0"
Hi

I am unable to load a model. I tried loading both from aws and local via:

1. load_model(model_name='titanic_model_sagarnil', platform='aws', authentication={'bucket': 'bucket_name'}, verbose=False)
2. load_model('titanic_model_sagarnil')

In both cases, the following error is thrown: ModuleNotFoundError: No module named 'pycaret.preprocess'

Here's the full stack trace:

Traceback (most recen

[2020-11-10 08:53] rananuryavuz commented on #823
pip install pycaret[full]
from pycaret.anomaly import *
exp_name = setup(data = df2)

Sample from the dataset
date                      | value
01.12.19 00:20:55 | 33.77
01.12.19 00:21:55 | 38.49
01.12.19 00:22:55 | 45.27
01.12.19 00:23:55 | 50.72
01.12.19 00:24:55 | 55.27
01.12.19 00:25:55 | 58.09
01.12.19 00:26:55 | 60.32
01.12.19 00:27:55 | 62.16
01.12.19 00:28:55 | 63.67
01.12.19 00:29:55 | 64

[2020-11-10 09:38] Yard1 commented on #824
Tuning is not guaranteed to always choose better hyperparameters. You can add `choose_better=True` to the arguments to make sure that the original model will be returned if it's better.

[2020-11-10 09:40] Yard1 commented on #825
If those models were created with an earlier version of pycaret, they may not work correctly.

[2020-11-10 11:28] sagarnildass commented on #825
Got it! Thanks a lot.

[2020-11-10 11:28] #825 closed

[2020-11-10 17:08] pycaret commented on #824
@aniketkumar88 As @Yard1 mentioned tuning does not guarantee improved performance. If you want, you can use the `choose_better` parameter inside the `tune_model` function to get the original model back.

There is nothing that can be done here. I am closing this issue.

[2020-11-10 17:08] #824 closed

[2020-11-10 17:10] pycaret commented on #774
@flachboard Please update your pycaret to `2.2.1`. There is a new parameter `use_train_data` available in the `plot_model` and `interpret_model` function which when set to True returns the plot on train data instead of test data as usual.

[2020-11-10 17:11] pycaret commented on #804
@Yard1 Thanks.

@ParthaKarthikeyan I am closing this issue as we have tested and `optimize_threshold` returns an optimized value as a numpy array. In case you are still having a problem after upgrading pycaret to `2.2.1`, please feel free to open another issue.

Thanks

[2020-11-10 17:11] #804 closed

[2020-11-10 17:41] #774 closed

[2020-11-10 17:41] flachboard commented on #774
Thanks so much!

[2020-11-10 18:34] linhy1993 opened #826 "Anomaly Detection Methods"
Hi there, I have a question about anomaly detection.

Is it only supporting "pca" as "outlier_methods" now? Because I find that class Outlier could send different methods including pca, knn and iso, but now is hard coded with pca, and there is not any method parameter could be used when I call setup().

Is there any way to use different methods for outlier detection now?

Thanks in advance.

[2020-11-11 03:14] aniketkumar88 opened #827 "Ignore Feature removing the column from data"
Hi Team,

I see the that ignore_features function is removing the column from the data. I believe this function ignores the column while training or prediction rather than removing the column .

Is this a bug ? Or if there is any other way to keep the column as it but do not consider as a feature for training ?

Currently ignore function removes the column from test data / predicted data set as we

[2020-11-11 06:51] Yard1 commented on #827
Yes, it indeed removes the column. It's not possible to implement this feature otherwise.

[2020-11-11 06:53] aniketkumar88 commented on #827
But in previous version it di not use to remove the columns .

[2020-11-11 07:04] Yard1 commented on #827
Are you sure about that? The implementation of that feature has not changed much.

[2020-11-11 07:06] aniketkumar88 commented on #827
I am sure about that. As I have been using this feature to ignore few of my variables in prediction datset. But that did not remove my variable.

[2020-11-11 07:08] Yard1 commented on #827
Can you show me the code you used? You are talking about `predict_model`, yes?

[2020-11-11 07:18] aniketkumar88 commented on #827
Yes predict_model removes the ignored variables from new data set.

[2020-11-11 15:03] graillou opened #828 "BrokenProcessPool"
Hello,
I've tried pyCaret with a DataFrame having the following features :
puissance_moyenne     float32
nb_ampli                int32
nb_sect                 int32
Zone5                category
Trafic3GVoix          float32
Trafic2GData          float32
Trafic2GVoix          float32
nb_bande_freq           int32
Trafic4GData          float32
nb_bande_4G             int32
Trafic3GData          flo

[2020-11-11 21:09] pycaret commented on #828
@graillou Can you please upload the logs file here?

`logs.log` is generated automatically in the folder your Notebook is.

[2020-11-12 07:00] graillou commented on #828
Hello @pycaret

please find the logs, thanks in advance

Processing:

Initiated 	. . . . . . . . . . . . . . . . . . 	16:00:31
Status 	. . . . . . . . . . . . . . . . . . 	Fitting 10 Folds
Estimator 	. . . . . . . . . . . . . . . . . . 	Random Forest Regressor
	MAE 	MSE 	RMSE 	R2 	RMSLE 	MAPE

---------------------------------------------------------------------------
_RemoteTraceback

[2020-11-12 07:32] gm039 opened #831 "ValueError: DataFrame constructor not properly called!"
Hi,

I am getting an error "ValueError: DataFrame constructor not properly called!".
The same error goes away when I use classical feature selection instead of boruta.

Any suggestions?

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-19-85c65aed1211> in <module>()
     11

[2020-11-12 13:03] Yard1 commented on #831
@g0lemXIV FYI. Can you look into this? You know Boruta best.

[2020-11-12 13:43] CHERKAOUISOUFIANE commented on #166
Scale your data, in case you didn't do that

[2020-11-13 17:38] sagarnildass opened #833 "Pycaret model monitoring"
This might be a new feature request, I don't fully know if we can do this with pycaret's new version but here goes my question:

I have trained a model using pycaret and deployed it in aws as a REST API using AWS elastic beanstalk and docker. Now I have to keep a track of daily hits on this API, the model's prediction value and show it in a dashboard so that if the prediction values crosses a thre

[2020-11-13 19:07] Yard1 opened #834 "[2.3] Preprocessing Refactoring"
All PyCaret transformers need to be refactored to conform to sklearn API (separate X and y). In this iteration, support only for Pandas is required To this end:
* Individual transformers need to be refactored - opportunities to improve performance should be considered
* A new pipeline class inheriting from `imblearn` Pipeline needs to be created to allow for additional features (ensuring that the

[2020-11-13 19:14] wkuopt commented on #834
Hi, I am interested in working on this. Thanks!

[2020-11-13 19:21] Yard1 commented on #834
Please make any PRs to `preprocessing-refactoring` branch.

[2020-11-13 21:26] sparvaneh opened #839 "Defining positive class in classification"
Hi,

Is there any way to define a positive class to get the right metrics in classification?

For example, if we have a **Cardiac** class with 20 cases and a **NonCardiac** class with 80 cases. NonCardiac is considered as a positive class due to builtin target encoding. Is there any way to change positive class to Cardiac in this case?

Thanks

[2020-11-13 21:35] sparvaneh opened #840 "Showing original target name rather than encoded target in plot_model for classification"
**Is your feature request related to a problem? Please describe.**
This is a feature request. plot_model for confusion_matrix and error in classification will use integer target labels rather than original labels.

**Describe the solution you'd like**
Rather than showing 0 and 1 for binary classification, it shows original target labels (sepsis/nonsepsis).

**Describe alternatives you've considere

[2020-11-13 21:40] Yard1 commented on #839
No, but this is a good idea. Tagging as enhancement.

[2020-11-14 17:13] pycaret commented on #833
@sagarnildass This is a great idea. Would you like to work on this?

[2020-11-14 17:13] pycaret commented on #828
@graillou Thanks for sharing. This is the traceback message. What we need is a file called `logs.log` that is automatically generated in the folder your Notebook or py file is. Can you upload the `logs.log` here?

@Yard1 FYI.

[2020-11-14 17:15] pycaret commented on #831
@gm039 Can you share the dataset and Notebook for troubleshooting?

[2020-11-14 17:20] pycaret commented on #827
@Yard1 That's true indeed. I am sharing the Notebook with you by email. Let's fix this in the next sprint.

[2020-11-14 17:21] gm039 commented on #831
Sure,

Please find the attached.

Thanks & Regards
Gourav Modanwal

On Sat, Nov 14, 2020 at 12:15 PM PyCaret <notifications@github.com> wrote:

[2020-11-14 18:20] sagarnildass commented on #833
Sure. Can you please guide me for the next steps?

[2020-11-14 20:01] Yard1 commented on #827
I have pushed commit 707d3418481365a8411cdec6a56e354ce091336e which should fix this issue.

[2020-11-15 06:59] weishunc5 opened #841 "Installation Error: failed building wheel for lightgbm and numba"
I want to install PyCaret with my anaconda environment. I follow the instruction by first creating a conda environment, second activate it, and failed at third step: pip install pycaret. Specifically, I failed at the step building wheel for lightgbm and numba. I tried both pip install pycaret and pip install pycaret-nightly. Neither works. Here is the issue log.

#---------------------------------

[2020-11-15 07:54] aniketkumar430 commented on #827
Thanks alot for considering this issue. This will help Pycaret and end users like us to scale and rely upon Pycaret capabilities and features.

[2020-11-15 12:06] jisho-iemoto commented on #602
Please let me learn about this, for my poor understanding.
I have a dataset containing imbalanced labels: Class 0:10, 1:1, 2:1, 3:1 in ratios, for example.
Then, where and how should I pass the parameters?

1. in setup, compare_models, create_model, tune_model, blend_models, ...?
2. How can I cast the parameter?
    <eg> compare_models(DF, target=TGT, class_weight={0:10,1:1,2:1,3:1})

[2020-11-16 10:32] RobVor commented on #250
Hi,

Same problem.

Resting the index, as suggested by djcunniffe, doesn't change the outcome.

[2020-11-16 10:47] weishunc5 opened #842 "Failed to handle ordinal features"
Hi,

I am practicing using PyCaret to build a regression model for the famous house price data on Kaggle. The dataset has a lot of ordinal features. I try to write a dictionary for all the ordinal features based on data description. But only some of the degree shows in train data hence in the setup step, error exists.

For example, there are 'Po', 'Fa', 'TA', 'Gd', 'Ex' 5 degrees for a quality fea

[2020-11-16 10:59] weishunc5 commented on #842
After I read over your documentation, if you treat it like a categorical feature and handle unseen categories as the least frequent one. Here is an example. If the unseen category is 'excellent' but the least frequent category is 'poor' hence it messes things up...What do you think?

[2020-11-16 11:32] weishunc5 opened #843 "Fail on blacklist, whitelist and catboost modelling while compare_models() On Kaggle Notebook"
Hi,

I am running codes on Kaggle notebook. I want to go through compare_models() step with blacklist or whitelist options. It says:
TypeError: compare_models() got an unexpected keyword argument 'blacklist'.

When I compare all models, it says
CatBoostError: catboost/libs/metrics/metric.cpp:5119: All train targets are equal

FYI, I install pycaret inside Kaggle notebook via !pip install pycaret.

[2020-11-16 11:54] pa-blan commented on #843
blacklist -> exclude
whitelist -> include

https://pycaret.readthedocs.io/en/latest/api/classification.html#pycaret.classification.compare_models

[2020-11-16 12:36] weishunc5 opened #844 "ValueError: Input contains NaN, infinity or a value too large for dtype('float64')."
I am running the following code.

from pycaret.regression import *

pipeline = setup(data = train, target = 'SalePrice',
                 categorical_features = cat_feat,
                 ordinal_features = ordinal_dict,
                 high_cardinality_features = high_cardinal_feat,
                 ignore_features = ignore_feat,
                 numeric_imputation = 'median',
                 n

[2020-11-16 12:55] Yard1 commented on #842
Thanks for the suggestion, will look into this.

[2020-11-16 12:55] Yard1 commented on #843
What @pa-blan said. If this doesn't solve your issue, feel free to make a new one.

[2020-11-16 12:55] #843 closed

[2020-11-16 12:57] Yard1 commented on #844
Would it be possible for you to share the notebook and dataset?

[2020-11-16 13:45] cdurakci opened #845 "COF Broken"
today I upgraded to v2.2.1 and my simple code has broken both on my local machine and colab throwing the same error.
It has been working since inception unchanged

[code]

[code]

[2020-11-16 14:45] Yard1 commented on #845
This is actually an issue with the `pyod` library we use for models. We haven't caught it before. I have pushed commit 4cb383d9c39e42429f84174000d552e605d9d204 which should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-16 14:47] Yard1 commented on #842
Would it be possible for you to share the notebook and the dataset? I believe I made a similar request in another issue, so feel free to just do it in one.

[2020-11-16 14:48] Yard1 commented on #841
This is not a PyCaret issue. It looks like you are missing `gcc`? Not sure. I'd make an issue in numba/lightgbm repos.

[2020-11-16 15:43] graillou commented on #828
@pycaret sorry, didn't get. Please find the log fil
[logs.log](https://github.com/pycaret/pycaret/files/5547325/logs.log)

[2020-11-16 15:57] javierperezcastan opened #846 "Categorical variables"
Hi,

When I apply the setup() for the database, the categorical variables of the features are combined, for instance, cat_1 (a,b,c) and cat_2(a,b,c) are transformed to cat_1_2(a,b,c). However, can I obtain cat_1_a, cat_2_a, ....

Best regards
Javier

[2020-11-16 15:58] #846 closed

[2020-11-16 16:21] bigjoedata opened #847 "High Cardinality Features on Anomaly Detection Key error"
When I use the high_cardinality_features flag in anomaly detection, I get "KeyError: '[None] not found in axis'". I have updated to the latest dev version of pycaret.  It's always possible I'm using this wrong, but it looked like the best way based on the documentation.
Thank you!

Sample code below:
`ano1 = setup(df3, session_id=246, log_experiment=True, experiment_name='anomaly1', profile=True,

[2020-11-16 16:21] Yard1 commented on #828
@graillou @pycaret This doesn't seem to be an issue with PyCaret itself.

@graillou Could you try passing `n_jobs=1` in `setup()`?

[2020-11-16 16:43] Yard1 commented on #847
Thanks for the report. I just pushed commit 905d696fa6249a05c59d97adf0a8e32234f992a3 that should fix this issue.

[2020-11-16 16:49] bigjoedata commented on #847
Confirmed working. Wow, that was so fast, thank you so much!

[2020-11-16 16:59] #847 closed

[2020-11-16 18:22] cdurakci commented on #845
It seems working in the development version now.
assign_model generated anomaly binary label column name changed from 'Label' to 'Anomaly' but it is not a big issue maybe it is related with one of the new features of this release.
Thank you very much.

[2020-11-16 18:22] #845 closed

[2020-11-16 19:45] bigjoedata opened #848 "Anomaly detection fails when imputation_type = 'iterative'"
Hello, I discovered another issue, I'm using the latest build. This works fine when imputation not included
[code]

Sample output:

`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
~\AppData\Roaming\Python\Python37\site-packages\pycaret\internal\preprocess.py in _impute_one_feature(self, X, colu

[2020-11-16 20:51] dgg32 opened #849 "blend_models() missing 1 required positional argument: 'estimator_list'"
Hi. while following the tutorial in Google Colab: [Binary Classification Tutorial Level Intermediate](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Intermediate%20-%20CLF102.ipynb) at In[25], I have encountered the following error:

TypeError: blend_models() missing 1 required positional argument: 'estimator_list'

[2020-11-16 21:00] Yard1 commented on #849
The tutorial is sadly outdated. You must now specify a list of model objects (created with `create_model`) and pass it as that parameter.

[2020-11-16 21:01] Yard1 commented on #848
Thanks for the report. Can you share the notebook and dataset with us?

[2020-11-16 21:23] bigjoedata commented on #848
Unfortunately, I can't share much, it's not a public dataset and I don't own so I can't really share. But the pandas dtypes are:
20 categorical
1 datetime64[ns] - no missing values
1 int32 - no missing values
2 string objects

I'm realizing upon rereading the documentation that I don't need this function because it is separate from categorical imputation so that might be the root cause. I don't ha

[2020-11-16 21:28] Yard1 commented on #848
Yeah I believe the issue is with the datetime column. I'll be able to look into it regardless. Thanks.

[2020-11-16 21:35] dgg32 opened #850 "ValueError: Method parameter not acceptable. It only accepts 'auto', 'predict_proba', 'decision_function', 'predict'."
Hi in Google Colab, in the tutorial [Binary Classification Tutorial Level Intermediate](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Intermediate%20-%20CLF102.ipynb), at cell In [31]: stack_hard = stack_models(top3, method='hard'), I encountered the following error:

ValueError                                Traceback (most recent call last)

[2020-11-16 21:55] Yard1 commented on #850
The tutorials are sadly outdated. `stack_models` doesn't accept `method` parameter anymore.

[2020-11-17 04:43] vbrenck opened #851 "Documentation - Replace "whitelist" and "blacklist" for "include" and "exclude" on Compare Models page examples."
When comparing models (compare_models()), if you want to "blacklist" or "whitelist" a model, you should use include= or exclude= in the latest versions, since the expressions "blacklist" and "whitelist" were deprecated. However, the examples shown in page [Compare Models - PyCaret](https://pycaret.org/compare-models/) still use the old parameter names. I only found out that they have been replaced

[2020-11-17 10:06] Practcdi opened #852 "get_logs() shows incorrect metrics."
### Pycaret version :  2.2.1

GPU : False

Steps Included :
1) I have created a DT regressor model
2) After that I perform tuning on it and save the model eval plot

___
**Problem:**
When I checked model eval score using `pull()` its shows R2 = 0.9624 and in Prediction Error Plot its is exactly same R2 = 0.9624.

But when I checked `get_logs()` all 3 values were different!
you can see R2=0.9100 in

[2020-11-17 10:30] Yard1 commented on #852
IIIRC the metrics in the logs are based on test set results, while the ones displayed are from cross validation. Can you use `predict_model` on the tuned model and see what you get?

[2020-11-17 12:54] batmanscode opened #854 "TypeError when using pycaret rule mining in streamlit"
I get:

`TypeError: expected string or bytes-like object`

When running:

[code]

Env:
- streamlit 0.71.0
- pycaret 2.2.0
- python 3.8.5 (miniconda)

I'm not sure what's going wrong here. Any help is much appreciated!

[2020-11-17 13:32] anne-leroy-T opened #855 "Columns suppressed by setup"
HI,

Do you have an idea why the setup function has removed several columns from my input dataset. These are regular numerical columns with values and I have not changed the remove multicollenearity which is to false.

Thanks

[2020-11-17 14:13] Yard1 commented on #854
Could you send us the `logs.log` file in the directory form where you run PyCaret?

[2020-11-17 14:13] Yard1 commented on #855
Could you send us the `logs.log` file in the directory form where you run PyCaret?

[2020-11-17 14:49] graillou commented on #828
Thanks, it works well now, for the different function I've tried (compare_models, create_models, tune_models). I'll check the others.
I don't know if you need it, but in case, the logs file.
[logs.log](https://github.com/pycaret/pycaret/files/5554189/logs.log)
If you have the time, can you explain me, or redirect me to a link, to understand what n_jobs=1 has changed?

Thanks again

[2020-11-17 15:09] anne-leroy-T commented on #855
Hello,   I found the issue.  I had variables that were at the start polynomial of others and it seems the option :
remove_perfect_collinearity is True by default.
I changed to False and my issue is now solved.

[2020-11-17 15:10] #855 closed

[2020-11-17 15:38] Yard1 commented on #828
Nothing has changed with PyCaret in this regard. You seem to have some sort of an issue when processes are ran in parallel, unrelated to PyCaret.

[2020-11-17 15:58] batmanscode commented on #854
I ran it again to try and get logs but this time it worked! This might be a bigger problem since I don't know what the problem actually was lol

And how can I find `logs.log`? I tried `get_system_logs()` but got `NameError: name 'get_system_logs' is not defined`

Also, I tried the `get_rules()` instead of `setup()` and `create_model()` and got `TypeError: 'bool' object is not callable`

[2020-11-17 17:45] Yard1 commented on #854
`logs.log` is just a file that will be created in the directory from which you run the notebook/script.

[2020-11-17 18:26] Yard1 commented on #848
I just pushed commit e0018bc458f290bea8e9e54c1b8ef60c49792a80 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-17 19:03] hakobjan opened #856 "Pycaret Power Bi Issue"
Hello, when trying to run a python script in Power Query Editor to train machine learning models in a Power BI environment:

`from pycaret.anomaly import *
saved_iforest = load_model('‪C:/Users/Gtech/Final IForest Model powerbi')
dataset = predict_model(iforest, data = dataset)`

Getting the following error message

DataSource.Error: ADO.NET: Python script error:
--- Logging error ---
Traceback (m

[2020-11-17 19:30] weishunc5 commented on #844
https://www.kaggle.com/damnguychen/houseprice-pycaret

Here is the link. Thanks in advance!

[2020-11-18 01:46] bigjoedata commented on #848
Confirmed working. Great job on a great product!

[2020-11-18 02:47] gm039 commented on #831
Hi @pycaret @g0lemXIV

Any updates?

[2020-11-18 02:54] Practcdi commented on #852
**How can I check metrics for train data and its model eval plots?**
___

I want to perform a comparison between:
1)  **Metrics score** and model eval plot for **Train data**
2)  **Metrics score** and model eval plot for **Test data**

[2020-11-18 06:53] #848 closed

[2020-11-18 09:31] joey1616 opened #857 "About pycaret.classification.blend_models"
When I use pycaret.classification.blend_models in Colab, It reported a mistake with
'TypeError: __init__() got an unexpected keyword argument 'verbose''.
How should I blend models?
Thanks

[2020-11-18 10:25] dgg32 opened #858 "catboost/libs/metrics/metric.cpp:5119: All train targets are equal"
Hi I am following the [regression intermedia](https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Intermediate%20-%20REG102.ipynb). At cell In [7], I have encounter the following error:

_catboost.pyx in _catboost._CatBoost._train()

_catboost.pyx in _catboost._CatBoost._train()

CatBoostError: catboost/libs/metrics/metric.cpp:5119: All train targets are equal

[2020-11-18 11:04] noorikhalifa opened #859 "Difference performance metrics in every run with same session_id"
Similar to issue #417 I am getting different performance metrics with catboost classifier after I restart the kernel and run the cells again. I am using pycaret version 2.2.0 and I am not changing any variable selection methods either (as it was mentioned in the previous issue).
![image](https://user-images.githubusercontent.com/63507090/99493460-40dca500-2995-11eb-937f-f25e0b9ed31c.png)
![image](

[2020-11-18 11:20] Yard1 commented on #857
Can you show us the exact code?

[2020-11-18 11:21] Yard1 commented on #858
Yes, the tutorials are in the process of being updated. Apologies for any inconvenience.

[2020-11-18 11:23] Yard1 commented on #859
It seems to be due to how CatBoost works. This is not something we, as PyCaret, can account for, as we are already doing everything we can do (that is, passing the same seed to the CatBoost estimator). I'd imagine that you could improve your reproductibility if you set `n_jobs=1, use_gpu=False` in `setup()`, at a cost of performance.

[2020-11-18 11:32] joey1616 commented on #857
Hello.The code is
blender = cls.blend_models(estimator_list = [xgboost_classifier, lightgbm_classifier, catboost_classifier], method = 'hard')
And the error is
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-31-64e2121f26bb> in <module>()
----> 1 blender = cls.blend_models(estimat

[2020-11-18 11:32] joey1616 commented on #857
Hello.The code is
blender = cls.blend_models(estimator_list = [xgboost_classifier, lightgbm_classifier, catboost_classifier], method = 'hard')
And the error is
TypeError Traceback (most recent call last)
in ()
----> 1 blender = cls.blend_models(estimator_list = [xgboost_classifier, lightgbm_classifier, catboost_classifier], method = 'hard')

2 frames
/usr/local/lib/python3.6/dist-packages/pycaret/

[2020-11-18 12:32] Yard1 commented on #857
Thank you, I'll look into it.

[2020-11-18 12:48] Yard1 commented on #857
Could you send us the `logs.log` file which is automatically generated in the folder from which you run a notebook/script?

[2020-11-18 13:00] joey1616 commented on #857
Hello, this is my logs.log in colab.
https://drive.google.com/file/d/1-0ZnjqPGnJ--ckIxoWCg-fNkIYY1OvxJ/view?usp=sharing

[2020-11-18 15:02] Yard1 commented on #857
Sorry, I don't have access. Please make sure you have chosen that everyone with this link can view it.

[2020-11-18 16:46] davins90 commented on #859
is it not possible to add the "session_id / random_state" also as a parameter of each model?

[2020-11-18 19:00] Yard1 commented on #859
That's already being done.

[2020-11-18 21:16] batmanscode commented on #854
I can't seem to find a `logs.log` file unfortunately.

Sure. I made a new script with some cleaned up code since the main one is super messy and incomplete.

It's fairly short so I will paste the code below. It's requirements are pandas, streamlit and of course pycaret.

To run, save this and use `streamlit run <filename.py>` in the terminal to launch the app and once in, press the **"Get rules"**

[2020-11-18 22:06] pycaret commented on #854
@batmanscode Thanks for sharing this. I have not tried the streamlit but I ran the code you gave in your first post and It ran okay for me.

It may be some dependency issue. Can you try creating a new conda environment and install pycaret using `pip install pycaret[full]`.

Let me know how that goes.

![image](https://user-images.githubusercontent.com/58118658/99593833-4d2a2780-29c0-11eb-9a57-26eb

[2020-11-18 22:07] pycaret commented on #859
@davins90 @noorikhalifa

The `random_state` is propagated to all the models including CatBoost using the `session_id` defined in the `setup` function. But this seems like an issue with CatBoost. I will be willing to take this up with their team one of you can share the reproducible Notebook with a sample dataset here?

Thanks

[2020-11-18 22:09] pycaret commented on #858
@dgg32 Can you update the Catboost version by `pip install --upgrade catboost`.

I believe the error should go away with the new version of Catboost.

[2020-11-18 22:09] pycaret commented on #856
@hakobjan Can you share the dataset so we can try to reproduce the issue in Power BI?

[2020-11-18 22:10] pycaret commented on #828
@graillou @Yard1

If I am not wrong this is a very old issue with loky library (you will find it if you google it). This issue is mostly seen in scenarios with >30 cores in a machine.

[2020-11-19 03:46] pycaret commented on #852
@Practcdi

- `MLFlow` logs what is displayed in the Notebook, so for example when you use the `create_model` function the score grid displayed is cross-validated results across the N folds. When you use the `predict_model` function without explicitly passing the `data` parameter, it logs the score on the hold-out set i.e. your test set.

- `plot_model` function shows the plot using the trained mod

[2020-11-19 04:59] joey1616 commented on #857
Sorry, I updated the link again. Please use the new link to view.
https://drive.google.com/file/d/1-0ZnjqPGnJ--ckIxoWCg-fNkIYY1OvxJ/view?usp=sharing

[2020-11-19 06:47] Yard1 commented on #857
Could you update `scikit-learn` and try again? You can do it with `pip install -U scikit-learn`.

[2020-11-19 07:08] joey1616 commented on #857
The problem has been solved by update 'scikit-learn'. Thank you.

[2020-11-19 07:08] #857 closed

[2020-11-19 07:25] onkarS23 commented on #166
**MemoryError: Unable to allocate 231. GiB for an array with shape (176066, 176066) and data type float64**
![memory error](https://user-images.githubusercontent.com/73878916/99634445-7c519f00-2a7b-11eb-8606-6ea76d80670b.png)

Hi I am using, the latest PyCaret (2.2.1), I have a dataset with 10,000 and 7000 rows. while using this dataset I am getting a memory error, so is there any way to fix it. I

[2020-11-19 10:16] onkarS23 opened #860 "# memory error #PyCaret 2.2.1"
**MemoryError: Unable to allocate 231. GiB for an array with shape (176066, 176066) and data type float64**
Hi I am using, the latest PyCaret (2.2.1), I have a Train, test and validation dataset with (total number is 70K rows  9k columns).
However, I used small dataset with 8K rows and 9K columns but  I am getting a memory error, so is there any possibility to fix it. I am running the code on serv

[2020-11-19 11:01] anne-leroy-T opened #861 "Bayesian optimization (skopt) : is there a way to pass the callback parameter ?"
Hello,

For tuning with Bayesian (outside of Pycaret), i generally use the callback parameter which allows me to specify timebudget, specific early stopping but also you can pass a function in which you can do everything you want during the process of tuning.
The regular way to do is to create a BayessearchCV object and then : optimizer.fit(X, y, callback=on_step)   in which on_step is the name of

[2020-11-19 11:19] dgg32 commented on #858
@pycaret Unfortunately no. I have pip upgraded it to catboost-0.24.3. Still the same error.

[2020-11-19 11:25] Yard1 commented on #861
Please try `tune_model(my_model,search_library="scikit-optimize", search_algorithm="bayesian",choose_better=True, callback=on_step)`. Let me know if that works.

[2020-11-19 12:04] batmanscode commented on #854
@pycaret Thank you for trying it out. The code in my first post worked after I restarted my env (I am not sure why though).

`get_rules()` still gives me an error [only] in streamlit and the resulting table [doesn't get printed properly](https://discuss.streamlit.io/t/problem-with-how-a-df-is-being-displayed/7218) but this is probably a problem with streamlit.

I will try creating a new environmen

[2020-11-19 12:35] anne-leroy-T commented on #861
Hello,

Thanks for the quick answer; unfortunately it is not working :

__init__() got an unexpected keyword argument 'callback'

[2020-11-19 12:42] Yard1 commented on #861
I see. I am afraid this is impossible in the current release, but I'll mark it down as an improvement for the future.

[2020-11-19 12:56] anne-leroy-T commented on #861
ok; thanks a lot for your answer. it's not a big issue; but i can be interesting.

[2020-11-19 12:59] anne-leroy-T commented on #802
Hello,

Do you allow me to close this issue and to open a new one with a more clear title and explanation please ; as my first question was answered but in fact generated a new issue and the title and flow of the comments could be misleading ?

[2020-11-19 13:22] pycaret commented on #802
Thats a good idea. Please close this thread and open a new issue.

[2020-11-19 13:30] #802 closed

[2020-11-19 13:56] anne-leroy-T opened #862 "Metrics for train not consistent between CV and predict"
Hello,

Could you please run the following code :

from pycaret.datasets import get_data
from pycaret.regression import *
data = get_data('boston')
s = setup(data, target = 'medv',silent=True)
my_model = create_model('xgboost')
plot_model(my_model)

train_data = data.iloc[get_config('X_train').index.to_list()]
r2_score(x["medv"], x["Label"])

You will notice the following :

- For the create model

[2020-11-19 13:57] anne-leroy-T commented on #862
Could you change the title to ... not consistent between CV and predict ON TRAIN ...    because of course, it's different with predict on test ....

[2020-11-19 14:15] pycaret commented on #862
@anne-leroy-T I  see your confusion.

The score that you see after the `create_model` is the averaged CV score. What you are trying to find out if you were to use your trained model on the training set what would be the score, which is what you see when you use `plot_model` with the `use_train_data=True`. See the example below that you can reproduce:

[code]

![image](https://user-images.githubuse

[2020-11-19 14:18] pycaret commented on #860
@onkarS23 Can you convert float64 to lower float32, that might help?

[2020-11-19 14:18] pycaret commented on #858
@dgg32 Can you share the reproducible Notebook with the sample dataset for us to troubleshoot?

[2020-11-19 14:26] dgg32 commented on #858
@pycaret It is just the [tutorial notebook](https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Intermediate%20-%20REG102.ipynb). Not my code.

[2020-11-19 14:59] anne-leroy-T commented on #862
Hello,

I'm really sceptical about the fact that on my personal use case, the CV score is 0.30 and that the predict on train is 1.00 ... and this only for tree algorithm...

But if you say so ...

Maybe future will tell i'm true.

[2020-11-19 15:21] pycaret commented on #862
@anne-leroy-T Decision Trees are always constructed in full which means that they are constructed until the leaf node that's why they are always fit. When you are checking CV, it trains the model on the N-1 fold and uses the Nth fold for prediction hence you get an error.

Hope this helps.

[2020-11-19 15:21] #862 closed

[2020-11-19 16:07] graillou commented on #828
@pycaret thanks for the explanation.
Every function I've tested works well now. Thanks a lot for your help

[2020-11-19 16:34] roberthoyt opened #863 "Where is the plot?"
I just finished the beginner module on clustering and noticed that several plots are missing, in particular, plot_model(kmeans) . It is missing in the tutorial and when I uploaded my own data, I did not see plotted clusters. I also tried this command which did not generate a plot - plot_model(kmeans, plot = 'cluster')
See PDF below

[Untitled11.pdf](https://github.com/pycaret/pycaret/files/5568281

[2020-11-19 19:20] davins90 opened #865 "Features importance ensamble model"
hi,

how could be possible to get features importance after stacked or blended model?
thanks

[2020-11-19 19:52] davins90 commented on #859
thanks for the answer! tomorrow i'll try to provide you a reproducible notebook! thanks

[2020-11-20 01:28] jpcaico opened #866 "Change cross validation method [Leave One Group Out cross-validator]"
Is it possible to change cross validation method while compare_models or create_model?
There are case where is needed to apply Leave One Group Out cross-validator and compare performances, regular k-fold cross validation does not goes well in this cases since it mixes same group data in training/test folds

[2020-11-20 13:00] pycaret commented on #866
@jpcaico It is possible to change the fold strategy by defining the `fold_strategy` parameter when calling the `setup` function.

![image](https://user-images.githubusercontent.com/58118658/99802818-5cb38880-2b06-11eb-9190-25e60ebaea34.png)

Please read more about it in the documentation here: https://pycaret.readthedocs.io/en/latest/api/classification.html

Hope this helps. Thanks

[2020-11-20 13:00] #866 closed

[2020-11-20 13:02] pycaret commented on #865
@davins90 Unfortunately this is not possible. Both the `VotingClassifier` and `StackingClassifier` does not support `coef_` or `feature_importance_` attributes. We rely on model attributes to generate the feature importance plot.

[2020-11-20 13:03] pycaret commented on #863
@roberthoyt Can you update your pycaret version to `2.2.0` by using `pip install --upgrade pycaret`.

Let me know if that solves the problem.

[2020-11-20 13:04] pycaret commented on #858
@dgg32 Thanks, I will try to look at this today. Will let you know if I have any updates.

[2020-11-20 13:06] pycaret commented on #851
@vbrenck Thanks for notifying us. Our documentation on the website only gets updated for major versions.

The most up-to-date documentation is here: https://pycaret.readthedocs.io/en/latest/

Anyways, I will put a Note on the website to make sure people are re-directed to the updated documentation to avoid confusion.

Thanks.

[2020-11-20 13:06] #851 closed

[2020-11-20 13:08] pycaret commented on #841
@weishunc5 One trick might work here. Can you uninstall `numba` using pip and re-install using conda, like this:

[code]

Hope this may help. Please let us know.

[2020-11-20 13:19] pycaret commented on #842
@weishunc5 This is really difficult to determine whether you would want to merge the unknown with most frequent or least request, hence there is a parameter in the `setup` to set that. It is called `unknown_categorical_method` which is by default set to `least_frequent` but you can set it to `most_frequent`.

For ordinal feature mapping, I think the factor levels should be present in train and tes

[2020-11-20 13:20] pycaret commented on #844
@weishunc5 This is the link to the competition, not the Notebook itself. If you still need help on this, please upload a reproducible Notebook that generates this error along with the data.

[2020-11-20 13:32] pycaret commented on #854
@batmanscode Unfortunately I can't help you with this. I tried to troubleshoot to see if `get_rules` is returning frozenset instead of pandas.DataFrame but indeed it returns pandas.DataFrame so I am not sure why `streamlit` is not formatting it correctly.

![image](https://user-images.githubusercontent.com/58118658/99805546-bb7b0100-2b0a-11eb-80ac-f18cbd177d99.png)

I hope you will be able to reso

[2020-11-20 13:32] #854 closed

[2020-11-20 13:33] #865 closed

[2020-11-20 13:34] #852 closed

[2020-11-20 13:45] pycaret commented on #827
@aniketkumar430 Can you test this?

[2020-11-20 13:57] pycaret commented on #818
@gm039 Is this issue resolved? If yes, can you please close the issue.

[2020-11-20 13:58] pycaret commented on #811
@shapatel13 Is the problem resolved?

[2020-11-20 13:59] #669 closed

[2020-11-20 14:16] shapatel13 commented on #811
Hi I apologize, yes it is resolved .  Thank you again

On Fri, Nov 20, 2020, 8:58 AM PyCaret <notifications@github.com> wrote:

[2020-11-20 14:47] aniketkumar430 commented on #827
Thanks for fixing this ! It works fine in  pycaret-nightly-2.2.1.dev1605659215 version.

[2020-11-20 15:33] #827 closed

[2020-11-20 15:33] #811 closed

[2020-11-20 16:57] jpcaico opened #867 "LeaveOneOutGroup cross-validation do not use test split"
Hello, I'm trying to use leaveoneoutgroup cross validation from scikitlearn.

I need to train my model on X-y samples and test in y samples

In my specific examples I have 32 distinct groups
So it should train on 31 and test on 1, and so on..

[code]
In the setup, it shows that the data is being splitted in train and test set (I dont want), and that 10 folds are generated. It is increasing my mode

[2020-11-20 17:17] batmanscode commented on #854
@pycaret Thank you for trying. I get frozenset printed when I try `create_model` and `get_rules` just returns: `TypeError: expected string or bytes-like object`.

So right now `create_model` is the only one that works and when using streamlit it returns a df with frozenset.

Thankfully, I got a [workaround ](https://discuss.streamlit.io/t/problem-with-how-a-df-is-being-displayed/7218/4) on the str

[2020-11-20 17:21] roberthoyt commented on #863
After upgrading I now have a setup error when I press Enter I did not have before

I can't export the Jupyter Lab as a PDF or any other format accepted on this forum from what I can tell

 

 

 

[2020-11-20 18:00] danielmarostica opened #868 "Score seems incoherent with class prediction"
This doesn't make sense to me. How can higher scores (which is supposed to be probability, right?) return 0 instead of 1?

![image](https://user-images.githubusercontent.com/3595998/99833556-f0a24600-2b40-11eb-8c11-e231076b3097.png)

[2020-11-20 18:29] pycaret commented on #868
@danielmarostica Can you please upload the Notebook with a sample dataset?

[2020-11-20 18:38] pycaret commented on #868
@danielmarostica The probability value is the value of the predicted class. So in your example Label 0 with a score of 0.9542 means 95.42% probability of class 0 and (1 - 0.9542) would be the probability of Class 1 (incase you want to calculate).

![image](https://user-images.githubusercontent.com/58118658/99837425-8e901380-2b35-11eb-882f-9fcc21969217.png)

[2020-11-20 18:38] #868 closed

[2020-11-20 18:38] pycaret commented on #867
@Yard1 Can you take a look at this one?

[2020-11-20 18:59] Yard1 commented on #867
Train-test splitting is always going to happen as that's needed for PyCaret to work. You can set the size of the train set with `train_size` parameter - you could set it to, eg. `0.99`. Alternatively, you can pass a dummy train dataframe with `train_data` param, but you need to make sure it has all of the same columns as test data. The number of folds in setup is just a graphical oversight - as yo

[2020-11-20 21:09] roberthoyt commented on #863
I was able to upload and analyze with unsupervised learning problem in CoLab so case closed

[2020-11-20 21:09] #863 closed

[2020-11-20 21:17] dvdhoo opened #869 "models(type='ensemble') returns KeyError"
When I run  `models(type='ensemble').index.tolist()` it gives me a KeyError from pandas. It seems the .loc indexing with missing values is not supported anymore in favour of reindex.

Python 3.8.3
pandas 1.0.5
PyCaret 2.2.1

[code]

[2020-11-20 21:47] Yard1 commented on #869
Thanks for the report, will look into it.

[2020-11-21 15:26] Arun-Chhikara opened #870 "ValueError: Input contains NaN, infinity or a value too large for dtype('float64')"
Hello, I am getting this ValueError when i try to use create_model() from below provided setup() configuration:-

from pycaret.datasets import get_data
dataset = get_data('diamond')
exp_reg102 = setup(data = data, target = 'Price', session_id=133, numeric_imputation = 'mean', categorical_imputation = 'mode', normalize = True, transformation = True, transform_target = True,  combine_rare_levels = T

[2020-11-21 15:32] Arun-Chhikara opened #871 "compare_model() giving ZERO R2 (and all other regression metrics as well) when fold = 1 in compare_model()"
Hello, This is what i get with following setup() configuration:-

from pycaret.datasets import get_data
dataset = get_data('diamond')

from pycaret.regression import *
exp_reg102 = setup(data = data, target = 'Price', session_id=133, numeric_imputation = 'mean', categorical_imputation = 'mode', normalize = True, transformation = True, transform_target = True,  combine_rare_levels = True, rare_leve

[2020-11-21 15:40] Arun-Chhikara commented on #844
I have also faced the same issue but with different dataset. The issue seems to be generated by setting transform_target = True. The error disappeared with transform_target = Fslse.
Could you also try setting transform_target = False?

[2020-11-21 21:10] muyonaise commented on #823
I found I had this error when I used the sklearn.model_selection.train_test_split module on the same dataset

[2020-11-21 21:12] rananuryavuz commented on #823
Great Can you please brighten me ?

[2020-11-21 21:58] yixin0711 opened #872 "compare_model() does not print anything after finished"
I'm using the `compare_model()` for the classification problem. It was running well during the process but in the end, it does not print anything but an empty list.
[code]
I used code like this:
[code]
Is there anything I did wrong with?

[2020-11-22 00:54] weishunc5 commented on #844
Thanks mate, you are right. Once I turn off the transform_target option, there is no such error.

[2020-11-22 03:50] Arun-Chhikara commented on #844
So it appears that applying transformations to target variable is introducing some unacceptable values. This might also happen with independent variables.
@pycaret Is there any way to peek into the resulting dataset once all the preprocessing steps defined in setup() are applied? Also, how we can access the objects and their attributes in the pipeline created by setup()?

[2020-11-22 10:14] Yard1 commented on #872
Could you send us your log.logs file? It will be present in the directory from which you ran the notebook or script.

[2020-11-22 10:15] Yard1 commented on #844
@Arun-Chhikara Can you share your dataset?

[2020-11-22 10:56] Arun-Chhikara commented on #871
Apologies. I just found in the documentation that 'fold' must be at least 2.

[2020-11-22 10:56] #871 closed

[2020-11-22 11:20] Yard1 commented on #871
We should probably raise an exception in this case. Thanks.

[2020-11-22 11:30] Arun-Chhikara commented on #844
Hello @Yard1 You can use diamond data set to reproduce this. Below are the line from PyCaret Tutorial

from pycaret.datasets import get_data
dataset = get_data('diamond')
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)
data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

exp_reg102 = setup(data = data, target = 'Price'

[2020-11-22 11:38] Yard1 commented on #844
Thanks, I'll take a look.

[2020-11-22 11:41] Arun-Chhikara commented on #844
Hello @Yard1 Is there any way that I can access/get the transformed train and test data sets the model/pipeline/stack is trained on?

[2020-11-22 18:29] Yard1 commented on #844
`get_config('X')`, `get_config('X_train')`, `get_config('X_test')`. Same goes for `y`. Please note that target transformation is applied during model fitting and thus will not be shown.

[2020-11-22 18:45] Yard1 commented on #844
@Arun-Chhikara @weishunc5 I just pushed commit a17051a842186e31fdb53f833f1af93d4772908e that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-22 18:48] Yard1 commented on #869
I just pushed commit d3bcfdbf0a255943b930339d096451f3500b3f0f that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-22 18:51] Yard1 commented on #823
@muyonaise @rananuryavuz Could you share your `logs.log` files? It's generated in the directory from which you run the notebook/script.

[2020-11-22 21:41] charljduplessis opened #873 "When plotting silhouette for k-means, I get an n_clusters error."
### Issue:
I was working through tutorial CLU101. When I created and assigned the kmeans model I tried to do the silhouette plot but got this error:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
...\lib\site-packages\pycaret\internal\tabular.py in silhouette()
   6314

[2020-11-22 21:58] Yard1 commented on #873
The tutorials are sadly not yet up to date.

[2020-11-22 22:02] charljduplessis commented on #873
No problem, is there a workaround for this?

On Sun, 22 Nov 2020, 23:58 Antoni Baum, <notifications@github.com> wrote:

[2020-11-22 22:35] yixin0711 commented on #872
Thank you for directing me! I was able to identify the error in the log file. Now it works as expected!
[code]

[2020-11-22 22:56] HighPerformance01 opened #874 "classification.models() not working anymore"
Hello

df = classification.models()

is not working anymore

[2020-11-23 02:44] pycaret commented on #874
@HighPerformance01 Can you please elaborate more? Which version you are using and what is the complete error?

[2020-11-23 02:45] pycaret commented on #872
@yixin0711 Can you try passing `n_jobs=1` during the `setup` call?

[2020-11-23 02:47] pycaret commented on #873
@Yard1 This could be a bug as well. I will try to run CLU101 tutorial tomorrow and see If get the same error.

[2020-11-23 02:49] pycaret commented on #841
@weishunc5 Are you still facing the issue?

[2020-11-23 02:49] pycaret commented on #860
@onkarS23 Do you still need help?

[2020-11-23 02:54] onkarS23 commented on #860
Sorry for my late reply, I am beginner and was trying to find the way to convert float64 to lower float32 by looking online or is there anyway to convert in pycaret itself? Thank you for your reply and help.
after that I can tell it is working or not. but thank you so much your reply

[2020-11-23 03:44] HighPerformance01 commented on #874
Sorry, I just thought it can be noticed directly as I have tried this on two computers

Both of them are upgraded from the earlier version to the recent version that is pycaret 2.2.1

The error says:

logger.info(f"gpu_param set to {gpu_param}")
NameError: name 'logger' is not defined

Thank you

[2020-11-23 08:19] Yard1 commented on #872
Also, would it be possible for you to share the dataset and the part of the script where you load the data? There seems to be some sort of a type issue.

[2020-11-23 08:22] Arun-Chhikara commented on #844
@Yard1 Thank you so much! I will check and let you know.

[2020-11-23 13:58] anne-leroy-T commented on #862
That's why the tree depth parameter exists in order to limit overfitting and not go to the leaf nodes !  you should not overfit your train model

[2020-11-23 17:20] javierperezcastan opened #875 "Cross-validation sets"
Hi,

I would like to know how apply the cross-validation during the model evaluation. After applying the setup function of Pycaret I have a training and test set. When I create a model, for instance a decission tree, a cross-validation is performed to obtain the average value of the metrics. Is the CV applied to the whole dataset (training + test) or just in the trainnig set?

[2020-11-23 17:22] Yard1 commented on #875
CV is only applied to the training set. No part of the test set is used for any model fitting whatsoever.

[2020-11-24 00:08] xg1990 opened #876 "AttributeError: '_PredictScorer' object has no attribute 'display_name'"
Code to reproduce the error

[code]

error message
[code]

[2020-11-24 07:29] Yard1 commented on #876
@xg1990 You need to add the metric to PyCaret metrics in order for it to work correctly.

[code]

Please note that a function and not a scorer from the function is passed to `add_metric`.

[2020-11-24 07:54] super233 opened #877 "The inconsistent results between computing AUC by two ways"
The AUC computed by `predict_model()` and `get_metrics().loc['auc', 'Score Function']` are not the same.
Is this a bug? Or pycaret has hidden some details of computing?
My pycaret version is 2.2.1

![image](https://user-images.githubusercontent.com/35358984/100064084-067b7800-2e6d-11eb-9bfb-053c5cc2ffe9.png)

[2020-11-24 08:17] #877 closed

[2020-11-24 08:22] Yard1 commented on #877
For Binary classification problems, the score returned by PyCaret is the probability of the selected class, while scikit-learn expects the probability of the positive class. You can use the following code to obtain the latter from the former.

[code]

Where `score_function` is the AUC score function.

This will give the same metric value as from `predict_model`.

[2020-11-24 09:03] super233 commented on #877
Thanks, I got it.

[2020-11-24 11:39] xg1990 commented on #876
Thanks a lot!
Would be great if we update the demo (add_metric wasn't mentioned there)

[2020-11-24 12:10] rajatscibi opened #878 "tune_model in NLP Intermediate tutorial causing Exception"
Running the NLP INtermediate notebook in Jupyter labs.

The command,

tuned_unsupervised = tune_model(model = 'lda', multi_core = True)

returns

---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
~\Anaconda3\lib\site-packages\pycaret\nlp.py in create_model(model, multi_core, num_topics, verbose, s

[2020-11-24 13:01] Yard1 commented on #876
We are working on bringing them up to speed :)

[2020-11-24 13:42] Cokral opened #879 "Compare models with different features"
Hello,

I've been using pycaret recently in order to build a regression model to predict some retail daily quantities.
In order to figure out the best variables to use, especially the lag features, I'd like to be able to specicify a list of variables to try with / without in a grid search fashion.

I believe this is not currently possible as you setup your dataset once and then run the comparison

[2020-11-24 22:27] ngupta23 opened #880 "Support for Custom Metrics in "check_metric""
**Is your feature request related to a problem? Please describe.**
check_metric does not support custom metrics yet. I defined a custom metric and used it in the training. But when I try to check that against unseen data predictions, it gives an error

[code]
![image](https://user-images.githubusercontent.com/33585645/100158038-2f9e0780-2e71-11eb-95f2-59cc3077192e.png)

[code]
![image](https://use

[2020-11-24 23:14] Yard1 commented on #880
It's already planned for the next feature release.

[2020-11-25 03:42] Practcdi opened #881 "How to get more dataset details about - PyCaret’s Data Repository"
### Pycaret v2.2.1
___

### How to get this dataframe for specific dataset details?
![image](https://user-images.githubusercontent.com/58843833/100180310-e2b44280-2efd-11eb-8677-446ee5ad5f37.png)

___
Thanks,

[2020-11-25 05:30] joey1616 opened #882 "About setup"
Hi,my target have 123 classes,when i use regression.setup and classification.setup, program error with
[code]
How can i solve it. Thanks

[2020-11-25 07:00] Practcdi commented on #881
✔️ FIxed by :

`pip install autoscraper html-table-parser-python3
`
[code]

![image](https://user-images.githubusercontent.com/58843833/100193354-9676fb80-2f19-11eb-9874-0428df75ccd0.png)

____

Thanks

[2020-11-25 07:00] #881 closed

[2020-11-25 17:46] weishunc5 commented on #841
Hi,

Thanks for the followup and sorry for my late reply. Yes I am still facing this issue. I have successfully installed numba using conda. And I have lightgbm satisfied but still failed at the lightgbm step when I install PyCaret.

Here is the log when I run pip install lightgbm. I appreciate in advance for any clue.

Requirement already satisfied: lightgbm in ./anaconda3/lib/python3.6/site-pack

[2020-11-25 18:18] batmanscode opened #883 ""TypeError: expected string or bytes-like object" but only sometimes"
**Is your feature request related to a problem? Please describe.**
This works most of the time but when running `setup `and `create_model` in `arules`, every now and then I get this error.

**How/when it happens:**
I am currently working on a little streamlit project which has a button that runs `setup` and `create_model` when pressed.

This usually works and I get the get the results as expected.

[2020-11-25 18:41] batmanscode opened #884 "Suggestion for plots: display_format='streamlit'"
**Is your feature request related to a problem? Please describe.**
Plots don't get displayed in streamlit because it needs `st.write(fig)` instead of `fig.show()`

**Describe the solution you'd like**

*I've noticed this only in arules because it's what I'm using right now but this will be a problem for streamlit wherever `fig.show()` is.

In [arules](https://github.com/pycaret/pycaret/blob/master

[2020-11-25 20:37] roberthoyt opened #885 "Unsupervised learning"
1. I was able to visualize a few plots using Google CoLab but using Jupyter Lab I could only plot an elbow plot. I can't import the ipynb file here
2. I thought the clusters created in GoLab looked good with good separation. I now need to profile clusters. Each row was assigned a cluster when I assigned the model. What is the next logical step to profile the clusters?

[2020-11-25 23:53] sparvaneh opened #886 "Getting prediction probability for each class in predict_model"
Hi,

predict_model returns the probability of predicted class. Is there any way to get the probability for each class?

Thanks,
Saman

[2020-11-26 04:24] happytk opened #887 "predict_model error on cross_validation=False"
In my cases, following error always occurs when I call `predict_model(..cross_validation=False)`

[code]

I inspected pycaret-code, and below explanation is what I found.

1. below function return values are float32, not int
[code]

2. so next logic could be error. python index must be int not float.
[code]

using:
- pycaret==2.2.1

[2020-11-26 10:41] chsafouane opened #888 "Proceeding with setup function without validation"
When calling the function `setup()` on a dataset, it asks for validation of configuration.
I would like to use it in a pipeline and I don't to validate the configuration of the setup. Is there a way to do this ?

Thanks

[2020-11-26 10:46] chsafouane commented on #888
For anyone looking for this, there is a parameter called `silent` that allows to do exactly this.

Thanks

[2020-11-26 10:46] #888 closed

[2020-11-26 11:51] eccodolf commented on #755
Same error ater trying to log to mlflow.
Appears after trying to finish any model (compare_model, create_model).
With log_experiment=False in setup everything goes normal. Except there are no logs in mlflow to track experiments..
Pycaret==2.1.2 mlflow=1.2.0 pandas = 1.1.4

[2020-11-26 13:08] raultomasmora opened #889 "compare_models RMSLE error metric with setup(use_gpu = False)"
Regarding "compare_models", when you run it with "use_gpu = False"  in setup(), the RMSLE error metric comes out zero in all ML algorithms.
When "use_gpu = True", the RMSLE metric is calculated.

pycaret v. 2.2.2

[2020-11-26 16:00] JosAndr commented on #859
I'm having a similar problem without using CatBoost,  i'm getting a different merics in each try, sometimes i'm getting a differetn clasifier as the best one,   i'm using the same dataset and the  same initial setup configuration.

![image](https://user-images.githubusercontent.com/54367290/100371393-b0761400-2fd5-11eb-9d95-c7e7a8ba3668.png)

![image](https://user-images.githubusercontent.com/5436

[2020-11-26 16:56] pycaret commented on #874
@HighPerformance01 This issue has been fixed. Please update your version to `pycaret==2.2.2`.

If the issue persists, please feel free to open another ticket.

[2020-11-26 16:56] #874 closed

[2020-11-26 16:57] pycaret commented on #873
@charljduplessis This issue has been fixed. Please update your version to `pycaret==2.2.2`.

If the issue persists, please feel free to open another issue.

Thanks for reporting.

[2020-11-26 16:57] #873 closed

[2020-11-26 16:57] pycaret commented on #869
@dvdhoo This issue has been fixed. Please update your version to `pycaret==2.2.2`.

If the issue persists, please feel free to open another issue.

Thanks for reporting.

[2020-11-26 16:57] #869 closed

[2020-11-26 16:57] pycaret commented on #844
@Arun-Chhikara @weishunc5 This issue has been fixed. Please update your version to `pycaret==2.2.2`.

If the issue persists, please feel free to open another issue.

Thanks for reporting.

[2020-11-26 16:57] #844 closed

[2020-11-26 16:58] pycaret commented on #850
@dgg32 The tutorials are now updated.

Thanks for reporting.

[2020-11-26 16:58] #850 closed

[2020-11-26 16:58] pycaret commented on #849
@dgg32 The tutorials are now updated.

Thanks for reporting.

[2020-11-26 16:58] #849 closed

[2020-11-26 16:59] pycaret commented on #889
@raultomasmora Can you please upload a reproducible Notebook and sample data, that will help us troubleshoot the error?

[2020-11-26 17:00] pycaret commented on #887
@happytk Can you please share the exact code that is generating the error?

`predict_model` function does not accept the `cross_validation` parameter.

[2020-11-26 17:00] pycaret commented on #887
@Yard1 FYI

[2020-11-26 17:02] pycaret commented on #886
@sparvaneh In the case of binary classification you can simply use 1 - score to get the probability of other class. For multiclass, unfortunately at the moment, you cannot get the probability of all classes using the native `predict_model`  functionality. However, if you want you could use the model object and call of `.predict_proba` method to get an array of the probability of all classes.

Howe

[2020-11-26 17:03] pycaret commented on #886
@Yard1 For multiclass problems, we can append the N number of columns in the `predict_model` return in `pycaret.classification` where N = number of classes.

[2020-11-26 17:04] pycaret commented on #885
@roberthoyt You can use the `assign_model` function to assign the cluster labels or use the `predict_model` function on unseen/new data to profile them into clusters using the trained model. You can save the model using the `save_model` function and load it back using the `load_model` function.

Hope this helps.

[2020-11-26 17:05] pycaret commented on #882
@joey1616 Please upload the reproducible Notebook and sample data to help us troubleshoot the error.

[2020-11-26 17:06] #885 closed

[2020-11-26 17:07] pycaret commented on #879
@Cokral Thanks for sharing. I have tagged this as an enhancement. Can you please write a more detailed user story with examples and expected outcomes so that they help our developers when implementing the functionality.

[2020-11-26 17:07] pycaret commented on #876
@xg1990 We will include this in our Advance tutorials which are still WIP.

Thanks for reporting.

[2020-11-26 17:08] pycaret commented on #875
@javierperezcastan As @Yard1 confirmed the CV is only applied on the train set.

Please feel free to open another issue, if you have more questions.

[2020-11-26 17:08] #875 closed

[2020-11-26 17:09] pycaret commented on #870
@Arun-Chhikara This issue has been fixed. Please update the version to `pycaret==2.2.2`.

To get access to the transformed dataset, please use the `get_config` function. Check the docstring of the function for more information.

[2020-11-26 17:09] #870 closed

[2020-11-26 17:11] pycaret commented on #858
@dgg32 This issue has been fixed in `pycaret=2.2.2`. Please update your version and try again.

Feel free to open another ticket, if the issue persists.

[2020-11-26 17:11] #858 closed

[2020-11-26 20:43] pa-blan opened #890 "Pycaret pipeline for other ml-frameworks"
**Is your feature request related to a problem? Please describe.**

Hi, first of all, I would like to say that pycaret is really good. I want to use the pipeline, that is created in the setup for a Keras model. How do I get new data in the same format via the created pipeline so that it has the same format as via get_config("X_train")? I tried to use the transform function, but I just get the One-

[2020-11-26 21:09] Yard1 commented on #886
We can have this behavior toggled with a parameter, will be easy to add.

[2020-11-26 21:17] pycaret commented on #890
@Yard1

[2020-11-26 21:24] Yard1 commented on #890
Compatibility with other frameworks is something we will be working on for the next major release.

[2020-11-26 21:43] OnceUponATime-Syd opened #891 "classification.load_model is not compatible in different version"
**Is your feature request related to a problem? Please describe.**
I have a classification model saved with pycaret 2.1, and lately I upgraded to pycaret 2.2, then I got an error message "ModuleNotFoundError: No module named 'pycaret.preprocess'" when I tried to load the model. After freshly re-installed the whole environment several times, I eventually found that the load_model function from pyca

[2020-11-26 21:47] Yard1 commented on #891
We are sorry for any inconvenience this has caused. Maintaining compatibility with previous versions is something we always try to take into account, but large scale refactors as in 2.2 sometimes make it impossible.

[2020-11-27 01:26] HighPerformance01 commented on #874
Thank you very much

[2020-11-27 08:33] pa-blan commented on #890
I think i solved my problem with:
#%%
prep_pipe = pycc.get_config("prep_pipe")
prep_pipe
#%%
prep_pipe.steps.append(['trained_model', model])
#%%
prep_pipe.predict(df_test)

[2020-11-27 09:25] rotimi2020 commented on #467
I think for now inbalanced dataset is not working using pycaret because if you use evaluate() and under class report u found our that the recall is very low.
The best you can do it,use your traditional code(R or python),duplicate your class by using smote and export it out using to_CSV() and feed it back to pycaret.
Tnks

[2020-11-27 09:39] ngupta23 commented on #880
Thanks. Looking forward to it!

[2020-11-27 09:43] ngupta23 opened #892 "Returning untransformed feature values from get_config()"
**Is your feature request related to a problem? Please describe.**

Currently, I can only get the transformed values of the features from get_config(). Is it possible to get the original values as well (without any transformation

[code]
[code]

**Describe the solution you'd like**
Get the original values using something like

[code]

[2020-11-27 09:52] rotimi2020 commented on #210
I think pycaret is having issue with imbalanced classification.

[2020-11-27 10:01] jasonchanhku opened #893 "Obtaining Transformed Unseen Data"
Hi there,

I was wondering is there a way to extract the transformed unseen data that has been passed through the pipeline? I understand that below is the usual way to predict on unseen data. However, I have yet to find a way to extract the transformed version of `data_unseen`. Correct me if I am wrong but `get_config()` only allows use to extract the transformed labelled seen data. Any feedback w

[2020-11-27 10:07] ngupta23 commented on #89
Thank you. It works great!

[2020-11-27 10:11] ngupta23 opened #894 "Custom Grid (partial update of intenal grid)"
**Is your feature request related to a problem? Please describe.**

This is a followup on https://github.com/pycaret/pycaret/issues/89

If I pass a custom grid, does it only take the parameters in that grid or does it append that to the internal grid?
If it only takes the parameters in the custom grid, could you provide an option to append the parameters to the internal grid. For example, sometime

[2020-11-27 10:29] chsafouane opened #895 "Many setups in the same notebook"
I have a function to which one can pass a dataframe and it's going to create a setup for each pair of columns and try to predict the one from the other. It does this for all the columns in the dataframe.

When I do this, I get this error:
`ERROR:logs:(Process Exit): setup has been interupted with user command 'quit'. setup must rerun.`

So, I have a couple of questions:
1- Is there a way to quit a

[2020-11-27 12:41] Yard1 commented on #892
`get_config('X_before_preprocess')` should work.

[2020-11-27 14:06] jasonchanhku commented on #893
Hi all,

Closing this issue as I found my own solution using `get_config()`:

[code]

[2020-11-27 15:05] ngupta23 commented on #892
Thanks. Does it tell you which ones are used for training and which ones are used for testing (before finalizing the model)?

[2020-11-27 18:23] Yard1 commented on #892
No, but you can get the indices from `get_config('X_train')` and `get_config('X_test')` and just select the matching rows.

[2020-11-27 18:23] #893 closed

[2020-11-27 18:26] Yard1 commented on #894
The custom grid replaces the internal grid completely. The internal grids can be obtained using `models(internal=True)` - the `"Tune Grid"` column. In your case, something like this should work:
[code]

[2020-11-27 18:27] Yard1 commented on #895
Could you post the entire code?

[2020-11-27 19:17] Mads-hg opened #896 "AttributeError: 'Remove_100' object has no attribute 'columns_to_drop'"
Hi,

While trying to use Pycaret with data from the attached file (had to rename it to .txt, to upload it). I get the following error:

[code]

This is my code:
[code]

Important: If I reduce the data file to only include 4 rows of data, the problem doesn't occur.

Thanks for your help!

[LRT_RRMS.txt](https://github.com/pycaret/pycaret/files/5609302/LRT_RRMS.txt)

[2020-11-27 21:26] Yard1 commented on #896
I just pushed commit b2833e6a4daa1c6286f3c5a3c17fb8404a01d23e that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-28 04:13] JproChen opened #897 "Date time feature did not fit"
I was using the same dataset for training and testing
and when using the predict_model for testing
some of the data success, but some of them failed
this input "Timestamp":"2020-09-01-10:00:00 " is fine
this input "Timestamp":"2020-09-01-00:00:00 " fails
and give me the error says the feature did not fit
the Timestamp displays as  Date data type in the setup
So, do I have to manually change the Ti

[2020-11-28 09:10] Yard1 commented on #897
Would it be possible for you to share the dataset and the code?

[2020-11-28 09:34] Mads-hg commented on #896
That fixed the issue! Thanks.

[2020-11-28 10:45] #890 closed

[2020-11-28 12:05] #896 closed

[2020-11-28 12:39] sathishkumar999 opened #898 "error while saving the model"
# finalizing the best model
final_model = finalize_model(tuned_best)
print(final_model)
DecisionTreeRegressor(ccp_alpha=0.0, criterion='friedman_mse', max_depth=13,
                      max_features=10, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=2,
                      min_weight_fract

[2020-11-28 12:59] #898 closed

[2020-11-30 01:29] JproChen commented on #897
https://drive.google.com/file/d/1Dm20j0Iw83BYEHNqDoUKXqNFpcT0RM_0/view?usp=sharing

The link provided my minimum reproducible example, and dataset
Thanks!

[2020-11-30 03:40] angus001 commented on #166
I am using this dataset from Kaggle and still having the same issue using Pycaret 2.2.0
https://www.kaggle.com/ntnu-testimon/paysim1

The dataset is 190879 rows and 11 columns. I did sample just make smaller sample.

[2020-11-30 10:14] ngupta23 commented on #894
Thanks!

[2020-11-30 10:14] #894 closed

[2020-11-30 10:16] ngupta23 commented on #892
Thanks. That will work. I hope this shortcut can be added to get_config as well!

[2020-11-30 12:35] Yard1 commented on #897
I just pushed commit 311ab2aff8599563baa4e66f3e677542f5f8b669 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-11-30 22:15] raultomasmora commented on #889
It seems to be a problem with the configuration of my system, sorry for the inconvenience.

[2020-11-30 22:15] #889 closed

[2020-12-01 04:14] HighPerformance01 commented on #874
The issue still there even though it has been tested in 3 computers so far (2 windows and 1 Linux)

Code:
from pycaret import classification
df = classification.models()

Error Message:
Traceback (most recent call last):

  File "C:\Users\MSG-PC\Google Drive\py\dash01\test03.py", line 3, in <module>
    df = classification.models()

  File "C:\Users\MSG-PC\Anaconda3\lib\site-packages\pycaret\class

[2020-12-01 04:21] HighPerformance01 opened #899 "df = classification.models() not working"
Hi,

classification.models() is not working

The issue still there even though it has been tested in 3 computers so far (2 windows and 1 Linux)

Code:
from pycaret import classification
df = classification.models()

Error Message:
Traceback (most recent call last):

File "....\test03.py", line 3, in
df = classification.models()

File "...\classification.py", line 2239, in models
type=type, interna

[2020-12-01 06:02] noorikhalifa opened #900 "Confusion matrix retreival"
The way there is pull() for obtaining the model metrics, is there a way to get the confusion matrix into a csv directly?

[2020-12-01 06:28] batmanscode commented on #884
#901

[2020-12-01 12:59] pa-blan opened #902 "Question: Setup, get_config"
Which settings in the setup affect the get_config("X_train") function? (X_train, X_test, y_train, y_test, X, y)

[2020-12-01 13:01] pa-blan commented on #899
@HighPerformance01 Try first the classification.setup() with all needed parameters and then  the classification.models() function.

[2020-12-01 17:46] Yard1 commented on #902
I am not sure what you mean by "what settings affect". All the preprocessing settings affect the final forms of data.

[2020-12-01 19:19] pa-blan commented on #902
For example, when I apply smote (fix_imbalance) in the Setup, does this change something in the transformed train_test_split which I can get from get_config?

import pycaret.classification as pycc

clf1 = pycc.setup(df, target = 'Survived', session_id=123, verbose= False, silent = True, use_gpu=False, fix_imbalance=True)

X = pycc.get_config('X').reset_index(drop=True)
y = pycc.get_config('y').res

[2020-12-01 20:31] HighPerformance01 commented on #899
But at that point, still, I do not have all information to setup the model.

The idea is first to show the user the available algorithms.

[2020-12-01 20:32] HighPerformance01 commented on #899
But at that point, still, I do not have all information to setup the model.

The idea is first to show the user the available algorithms.

Also, this was working perfectly in the old version which causes the issue when trying to move to the new version.

[2020-12-01 23:31] Yard1 commented on #899
Since 2.2 release, it is necessary to run `setup()` first in order for this function to work. This behavior may change in the future.

[2020-12-01 23:33] Yard1 commented on #902
SMOTE is applied for each CV fold and not during setup, therefore it will not be visible in preprocessed data you can get with `get_config`. However, as of now, SMOTE is the only data preprocessing step with this behavior.

[2020-12-01 23:35] Yard1 commented on #900
As of now, this is not possible.

[2020-12-02 00:26] sparvaneh commented on #886
How do you find and assign a Score in binary classification using predict_model? Why changing a threshold is changing score?

[2020-12-02 03:49] JaneCuiQin opened #903 "Custom Pipeline Clarification"
Hi,
I defined a custom_pipline as below for pycaret.
class CreateNewFeature(BaseEstimator, TransformerMixin):
    def __init__(self):
        print('CreateNewFeaturer Init method: ')

    def fit(self, X, y=None):
        return self

    def transform(self, X_):
        X = X_.copy()
        X['age_class'] = X['Age']*X['Pclass']

        return X
    def fit_transform(self, X, y=None):
        re

[2020-12-02 08:27] OleksiyAnokhin opened #904 "Lightgbm fails in PyCaret regression"
Hi team, have some issues with `lightgbm` in regression.

`import pycaret`
`from pycaret.regression import *`
`mlb_pycaret = setup(data = pycaret_df, target = 'pts', train_size = 0.8, session_id = 123)`

`lightgbm_model = create_model('lightgbm', fold = 10)` gives me all zeros. Other models work fine.

![image](https://user-images.githubusercontent.com/24446791/100847770-d708d480-3445-11eb-97a0-a7

[2020-12-02 08:28] OleksiyAnokhin commented on #904
Other models works just fine.
![image](https://user-images.githubusercontent.com/24446791/100847865-f7389380-3445-11eb-9e2e-80a7a0acf150.png)

Also tried this and failed too
![image](https://user-images.githubusercontent.com/24446791/100847899-04ee1900-3446-11eb-8549-ced1be8de807.png)

[2020-12-02 09:39] Yard1 commented on #903
The custom pipeline is applied at each CV step, and therefore is not visible in `X_train`.

[2020-12-02 09:40] Yard1 commented on #904
Would it be possible for you to share the dataset?

[2020-12-02 10:05] atwahsz opened #905 "Issue in Xgboost in pycaret 2.2"
When trying to do regression
On Xgboost I get this error in both GPU and non GPU
XGBoostError: need to call fit or load_model beforehand

[2020-12-02 10:08] Yard1 commented on #905
Would it be possible for you to share the notebook and the dataset?

[2020-12-02 10:17] atwahsz commented on #905
Im using sklearn breast cancer dataset

[2020-12-02 10:31] atwahsz commented on #905
In pycaret 2.1 the regression runs smoothly for the same dataset

[2020-12-02 14:58] Yard1 commented on #905
Can you share the code?

[2020-12-02 15:47] atwahsz commented on #905
I tried to recreate the problem in Google colab but everything ran smoothly ! .

The system in which I have the problem runs on python 3.6.x

[2020-12-02 16:02] pycaret commented on #891
@OnceUponATime-Syd Unfortunately nothing can be done at the moment. We will improve our processes in the future to ensure the compatibility of certain functions like `save_model`, `load_model`, `predict_model` is not impacted.

[2020-12-02 16:02] #891 closed

[2020-12-02 16:03] pycaret commented on #905
@atwahsz This seems like an issue with your local installation. We suggest create a separate conda environment and install pycaret==2.2.2 from scratch. You can follow the instructions here: https://pycaret.readthedocs.io/en/latest/installation.html

[2020-12-02 16:03] #905 closed

[2020-12-02 16:05] pycaret commented on #902
@pa-blan As @Yard1 mentioned, SMOTE is applied during CV hence there is no single `X_train`. The number of over-sampled datasets in case of over-sampling = number of folds and it is strictly applied during CV to avoid leakage.

[2020-12-02 16:05] #902 closed

[2020-12-02 16:07] pycaret commented on #899
@Yard1 In the next release we can remove the dependency of the `models` function on the `setup`. We may have to think about what to show in metrics and models when `internal=True`.

[2020-12-02 16:09] pycaret commented on #895
@chsafouane At this time you cannot have multiple set up in the same instance, unfortunately. However, you are right on time in saying this as our next release will fix this problem by allowing you to import an instance of setup, and all global variables will be within the scope of the instance as opposed to the Notebook environment's scope.

[2020-12-02 16:09] pycaret commented on #895
@Yard1 FYI - We have already discussed this. I guess you are already up to it.

[2020-12-02 16:10] pycaret commented on #897
@JproChen Can you please test and confirm?

[2020-12-02 16:11] pycaret commented on #860
@onkarS23 You can read about it here: https://stackoverflow.com/questions/45955186/convert-numpy-array-type-and-values-from-float64-to-float32

[2020-12-02 16:11] #860 closed

[2020-12-02 16:12] pycaret commented on #841
@weishunc5 Can you try creating a new conda environment and do a fresh installation of pycaret. You can read the instructions here: https://pycaret.readthedocs.io/en/latest/installation.html

[2020-12-02 16:12] #856 closed

[2020-12-02 16:13] pycaret commented on #904
@OleksiyAnokhin Whats the version of your lightgbm?

[2020-12-02 16:14] pycaret commented on #903
@Yard1 We will have to think about this for `2.3`. Since we are planning to apply all the transformations within CV, we will have to see how we can make everything available in `X_train`, `X_test` ... etc. etc.

[2020-12-02 16:16] pycaret commented on #892
@ngupta23 Good idea. We can create new global variables in `2.3`. @Yard1 FYI.

X_train_org
X_test_org
y_train_org
y_test_org

[2020-12-02 16:17] pycaret commented on #882
@joey1616 Are you still facing the problem. If not, please close the issue.

[2020-12-02 16:17] pycaret commented on #872
@yixin0711 Are you still facing the issue? if not, can you please close this thread.

[2020-12-02 16:18] pycaret commented on #137
@ngupta23 FYI.

[2020-12-02 16:31] pycaret commented on #454
@Yard1 Can you take a look at this when you get chance?

[2020-12-02 16:32] pycaret commented on #887
@happytk Is this still a problem and you need help?

If not, please close this thread.

[2020-12-02 16:34] pycaret commented on #821
@kusumy All official tutorials are now updated and they will work with the `pycaret>2.0` version.

[2020-12-02 16:34] #821 closed

[2020-12-02 16:34] pycaret commented on #748
@clgarciga Do you think you can still do this?

[2020-12-02 16:35] pycaret commented on #627
@devil-cyber @ezeeetm Official tutorials are now updated.

[2020-12-02 16:35] #627 closed

[2020-12-02 16:47] chsafouane commented on #895
That's some very good news, thanks !

[2020-12-02 17:55] OleksiyAnokhin commented on #904
@Yard1, this is a simple baseball dataset. Pretty big, so not sure if it is worth of it.

Interestingly enough, initially the model worked on my colab, but when I tried to use it for other subsetted datasets, it failed
![image](https://user-images.githubusercontent.com/24446791/100911567-0561d080-3495-11eb-8437-8db53c36f82f.png)

The model also works as a part of a broad comparison, but not indivi

[2020-12-02 17:58] OleksiyAnokhin commented on #904
Found existing installation: lightgbm 2.2.3
    **Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3**
Successfully installed feature-selector-1.0.0 **lightgbm-2.1.1** matplotlib-2.1.2 numpy-1.14.5 pandas-0.23.1 scikit-learn-0.19.1 seaborn-0.8.1

[2020-12-02 21:04] Yard1 commented on #903
I do have an idea for it - we can just dynamically apply the transformations on the dataset whenever the user asks for X_train.

[2020-12-02 21:05] Yard1 commented on #454
This should have been fixed in the meantime.

[2020-12-02 21:09] Yard1 commented on #904
I'd like to ask for the dataset again, if it's not confidential. It's quite hard to debug otherwise. Can you also post the `logs.log` file created in the directory from which the notebook/script is ran?

[2020-12-03 03:36] JproChen commented on #897
Thanks, it worked
but the prediction is very slow comparing to the old version

[2020-12-03 09:20] blanpa opened #906 "Feature request get_config("setup_config")"
**Is your feature request related to a problem? Please describe.**
I think it would be useful for non-notebook environments like streamlit to get the Setup Config as a panda dataframe.

**Describe the solution you'd like**
`get_config("setup_config")`

return pd.dataframe

**Describe alternatives you've considered**
via `get_config("experiment__")[0]`

[code]

[2020-12-03 10:03] actcod01 commented on #904
#### pycaret - 2.2.2
##### dataset used : Diamond
____
I have checked, `lightgbm` has some issues with regression task

![image](https://user-images.githubusercontent.com/67143298/100994633-cb6bf980-357c-11eb-9afd-0421ba08a107.png)

[2020-12-03 10:50] chsafouane commented on #895
I have another question regarding the logger. The logger that is used now is the "root" logger. I don't know if that's going to change but is it possible to have a logger that is named after the session_id of the setup as well, and do something like {task}_{session_id} (classification_42)?

[2020-12-03 10:58] Yard1 commented on #895
I'll look into it but no promises.

[2020-12-03 12:18] pycaret commented on #904
@actcod01 I cannot reproduce this issue. I just did a fresh installation on colab and it just works fine. Here is the code you can use to reproduce this:

[code]

![image](https://user-images.githubusercontent.com/58118658/101017186-bfaa1400-3537-11eb-998a-58f007f43f90.png)

![image](https://user-images.githubusercontent.com/58118658/101017203-c5075e80-3537-11eb-9552-f8338b6b48f8.png)

Let me know

[2020-12-03 12:19] pycaret commented on #906
@pa-blan Thanks. Will tag this as an enhancement for future release.

[2020-12-03 12:19] pycaret commented on #906
@Yard1 FYI

[2020-12-03 12:21] Yard1 commented on #906
We can just hook it up to the display container tbh, if it's not already

[2020-12-03 12:37] atwahsz opened #907 "Question about Iterative imputation"
Is the process executed in setup once or does it rerun every time a model is fitting ?

[2020-12-03 13:11] Yard1 commented on #907
Once in setup.

[2020-12-03 14:34] Yard1 commented on #906
With commit 314848a4b15221e6ac7d9c95b6ad88929df8e094, the `setup` dataframe can now be obtained with `pull()`, like the dataframes displayed by other functions.

[2020-12-03 14:54] traveler000 commented on #387
I came across this mistake "ValueError: feature_names mismatch: " while  use the 'predict_model()', and the data  is pandas DataFrame which was  same as the training. however I can use compare_models() successfully

[2020-12-03 15:24] kusumy commented on #821
Great news, thank you

[2020-12-03 15:37] Yard1 commented on #387
@traveler000 Could you please make a new issue and attach the dataset there?

[2020-12-03 15:42] jamesmyatt opened #908 "Too many mandatory dependencies"
**Is your feature request related to a problem? Please describe.**

There are too many heavyweight mandatory dependencies. For example, is it mandatory to have lightgbm, catboost and xgboost when you have an image classification problem? Do you really need spacy and nltk even when you're doing anything involving natural language? Do you really need ipython and other notebook-oriented dependencies

[2020-12-03 15:56] happytk commented on #887
I couldn't reproduce this problem again. I'll write down if something is found.

[2020-12-03 15:56] #887 closed

[2020-12-03 16:18] Yard1 commented on #908
Improving modularity and decreasing the amount of mandatory dependencies is something we are planning to do in the future.

[2020-12-03 17:00] S-UP commented on #166
Same here. DF with shape (48394, 4). Unable to allocate 8.72 GiB for an array with shape (48394, 48394) and data type float32. The very same dataset runs kmeans easily but has issues with pycaret. I've normalized the data myself to check if this is causing it (it is not).

[code]

[2020-12-03 17:07] OleksiyAnokhin commented on #904
@Yard1, thanks, I will ask my project team and might share the dataset. Nothing confidential there, just it is a team project.
@pycaret, @actcod01, thanks for looking into this!

[2020-12-04 00:57] traveler000 opened #909 ""ValueError: feature_names mismatch" while use predict_model()"
unlike the formal issue https://github.com/pycaret/pycaret/issues/387 ,I can use compare_models(), but cannot use predict_model
![image](https://user-images.githubusercontent.com/66821033/101107415-3c5af200-360d-11eb-8029-208239416a43.png)
![image](https://user-images.githubusercontent.com/66821033/101107460-5268b280-360d-11eb-9321-2271522df9e2.png)
![image](https://user-images.githubusercontent.c

[2020-12-04 01:24] #897 closed

[2020-12-04 03:37] JianWang2016 opened #910 "which fold is used to create the model?"
Hi,  Great python package!

I have a couple of questions:

1) The following function fits 5 folds and the accuracy scores (along with other metric scores) are generated for each of the 5 folds.  There are 5 independent models from the cross-validation. I am trying to understand which fold the constructed "myknn" comes from, the one with the best score?

myknn = create_model('knn', fold=5)

2) I co

[2020-12-04 04:27] JianWang2016 commented on #350
I wonder if this has been worked on.  What exactly do you mean model sensitivity analysis? Is it feature importance analysis?

[2020-12-04 05:57] OleksiyAnokhin commented on #904
Team, I ran my code from scratch and LGBM regression worked this time. So it is definitely not my dataset.
![image](https://user-images.githubusercontent.com/24446791/101127452-36402380-35c3-11eb-9468-b66eac51037e.png)
I think it is the issue with `!pip install` on Colab ( I do it everytime). But still good fot you to know and be aware.

[2020-12-04 11:24] Yard1 commented on #909
It would be very helpful if you could provide the full exception traceback, with the line number and such.

[2020-12-04 11:35] Yard1 commented on #910
1. Cross-validation (not just in PyCaret, but in general) is only used to determine the mean metrics of all folds in order to reduce the influence of overfitting on the scores. The returned model is fitted on the entire train dataset.

2. You can pass sklearn CV generators in the fold parameter:
[code]

3. The displayed dataframe shows the scores for each fold. You can get it with `pull()`:
[code]

[2020-12-04 11:38] Yard1 commented on #904
We cannot really change how Colab works, I'm afraid. Thank you for taking the time to figure this out.

[2020-12-04 11:57] kilotwo commented on #872
I have the same problem.It was running well during the process but in the end, it does not print anything but an empty list.Could you tell me how to solve this problem?

[2020-12-04 12:02] Yard1 commented on #872
Please run it with `errors="raise"` to see what could have caused it.

[2020-12-04 12:24] javierperezcastan opened #911 "Doubts Stratification regression problems"
Hi,
I wonder about when we apply stratify in a regression problem. How the model do that? It calculate percentiles or quantiles?

I have tried also to introduce an ad-hoc column with the classes that I want to consider. However, after applying the set up method this column will be placed in the data to include in the model. How can I remove it?

Best regards
Javier

[2020-12-04 12:35] Yard1 commented on #911
We use sklearn's `train_test_split()` to perform stratification. Please refer to its documentation. I believe that it only accepts integer labels in the columns to stratify by.

Something like this should be possible to stratify by an adhoc column - if it doesn't work, let me know:
[code]

[2020-12-04 12:51] traveler000 commented on #909
![image](https://user-images.githubusercontent.com/66821033/101165964-7b6f5e80-3672-11eb-8eea-f9d44ce0a715.png)

[2020-12-04 12:53] Yard1 commented on #909
Is it possible to show the entire code?

[2020-12-04 13:08] traveler000 commented on #909
![image](https://user-images.githubusercontent.com/66821033/101166841-e79e9200-3673-11eb-9590-51b616c46af8.png)
i'm sorry , i'm greenhand in github
it seems that the feature order was not well organized cause the feature_name is the same, and i used the same dataset

[2020-12-04 13:36] kilotwo commented on #872
Thanks for your help, the problem has been solved!
Seems like the data type is not identifiable.
The problem can be solved by changing the type of 'label' to integer.

[2020-12-04 13:49] Yard1 commented on #909
What about the code used to create the model? Including `setup()`.

[2020-12-04 14:02] traveler000 commented on #909
![image](https://user-images.githubusercontent.com/66821033/101171807-43b8e480-367b-11eb-927c-e622f26fcb76.png)
![image](https://user-images.githubusercontent.com/66821033/101171886-5e8b5900-367b-11eb-9106-413f5eb2b38a.png)
And I used save_model(final_xg,'./final')
The "final" mentioned before is from load_model('./final')
These codes have run well in pycaret2.1

[2020-12-04 14:07] Yard1 commented on #909
Are you loading and using a model created on an older version of PyCaret?

[2020-12-04 14:15] traveler000 commented on #909
No, this model was created on pycaret2.2.2 , but the same code used well in 2.1

[2020-12-04 14:17] Yard1 commented on #909
I imagine it is not possible for you to share the dataset, correct?

[2020-12-04 14:20] traveler000 commented on #909
I just update the pycaret and run the same code again ,in another folder...

[2020-12-04 14:25] traveler000 commented on #909
I'm sorry , I cannot share the dataset .
Maybe I can try to  reproduce the error in other dataset?

[2020-12-04 14:26] javierperezcastan commented on #911
Perfect, it works¡¡

[2020-12-04 14:26] #911 closed

[2020-12-04 15:05] Yard1 commented on #909
Would it be possible to at least share the dataset with just the column names and one row with random values that match the data types? The column names are what's the most important here.

[2020-12-04 15:48] Lion-Mod opened #912 "Q: Acquiring preprocessed data?"
I've looked through the docs and couldn't see anything to do with how to acquire preprocessed data?

Is this possible?

[2020-12-04 19:15] ericbugin commented on #162
spark support would be very useful

[2020-12-04 19:29] JianWang2016 commented on #910
Thanks so much for your prompt feedback.  The answers are very helpful.

To clarify the statement in 5 below
"choose_better=True. choose_better=True will return the original model/the best of the original models if the metric selected in optimize is better than in the ensembled/blended/stacked model".

e.g. boosted_dt = ensemble_model(dt, method = 'Boosting', fold=5, optimize='AUC', choose_better=

[2020-12-04 19:36] Yard1 commented on #910
`choose_better` compares the mean score for all the folds of the original model (`dt`) with the final ensembled model.

You can tell that the original model was returned by comparing it with `dt`:
[code]

Model ensembling is done through sklearn's `BaggingClassifier`/`BaggingRegressor` if method is set to `Bagging` and `AdaBoostClassifier`/`AdaBoostRegressor` if method is set to `Boosting`. Please

[2020-12-04 21:50] JianWang2016 commented on #910
thanks much.

[2020-12-04 21:50] #910 closed

[2020-12-04 23:31] gm039 opened #913 "PicklingError: Can't pickle <function Styler.apply.<locals>.<lambda> at 0x7f2666835e18>: it's not found as pandas.io.formats.style.Styler.apply.<locals>.<lambda>"
Hi,

I am getting an error in saving the configuration file using save_config('Setup_config'). Although it saves the Setup_config file but also throws the below error.

Not sure if it because of Pycaret?

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
AttributeError                            Traceback (most recent call last)
/usr/lib/python3.6/pickle.py in save_global(self, obj, name)

[2020-12-04 23:58] Yard1 commented on #913
Thanks, will look into it. Is it possible for you to share the entire notebook/script?

[2020-12-05 02:35] traveler000 commented on #909
I found my mistake ,before I saved the model I have run this script to draw a 10-fold ROC curve
![image](https://user-images.githubusercontent.com/66821033/101231350-916a3700-36e5-11eb-9131-93671b8a8456.png)
![image](https://user-images.githubusercontent.com/66821033/101231212-aabeb380-36e4-11eb-8aa2-2a4b1c734922.png)
It would be fine to save the model earlier, but I cannot explain why this did no

[2020-12-05 02:40] JianWang2016 opened #914 "Add a custom metrics to compare_models(), and other functions such as create_model, tune_models etc"
Hi, Any advice on the following questions is greatly appreciated.

Unbalanced data for binary classification.
1) add specificity as a custom metric to compare_models()'s output.

2) Any support from pycaret to use a different threshold than probability = 0.5 to get the crisp label

3) If I want to control specificity as 0.9, for example, is there a way to set it so the other metrics would be adjus

[2020-12-05 08:28] #882 closed

[2020-12-05 09:39] JaneCuiQin opened #915 "Mrs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-05 09:41] JaneCuiQin commented on #915
Hi Team,
I am using the following data to do a simple prediction and then noticed that the Label and Scores has no relationships by even by using default cutoff =0.5 ( e.g scores with 0.9 , some of the label is 1 and some are 0 which are contradicted)

Please check and clarify

data = pd.read_csv('../data/titanic_raw.csv')
clf1 = setup(data = data,
             target = 'Survived',
#

[2020-12-05 11:31] sathishkumar999 opened #916 "error while predicting on new data"
Hi pycaret team!

we are trying to create an auto_ml by using pycaret as a wrapper.
it worked well to train the model and saving it on the server. but it's creating an issue while predicting on new data.
the new data is a single input value but not on batch data.

pls find the attachment
![Screenshot (584)](https://user-images.githubusercontent.com/40235632/101241380-79150f00-371b-11eb-8dd8-29bbb0

[2020-12-05 11:37] Yard1 commented on #916
Are you sure that the data you are passing is indeed a pandas dataframe?

[2020-12-05 11:40] Yard1 commented on #915
The scores for binary classification are the probability of the chosen class, and not the probability of the positive class (what sklearn uses). For example, if the label is 0 and score is 0.9, then the probability of positive class (1) is 0.1.

[2020-12-05 11:43] Yard1 commented on #914
You can add sklearn-compatible metrics using the `add_metric()` function. Metrics added that way will be calculated and visible in every function.

Unfortunately, in order to have metrics depend on another metric, you would need to create your own versions of the metrics and add them with `add_metric()`.

You can change the threshold when using `predict_model()` with the `probability_threshold` ar

[2020-12-05 11:44] Yard1 commented on #912
The following functions should help:
`get_config(X)` and `get_config(y)`
`get_config(X_train)` and `get_config(y_train)`
`get_config(X_test)` and `get_config(y_test)`

[2020-12-05 14:44] sathishkumar999 commented on #916
@Yard1
thanks for immediate replay,
got the results buddy.

![Screenshot (585)](https://user-images.githubusercontent.com/40235632/101245646-3e6ba080-3734-11eb-877c-5f935c631fcf.png)

![Screenshot (583)](https://user-images.githubusercontent.com/40235632/101245773-395b2100-3735-11eb-8336-44b874811d56.png)

I have a small question, Instead of making a data frame for along with column name for testi

[2020-12-05 15:08] pycaret commented on #915
@JaneCuiQin Please read the documentation. As @Yard1 mentioned the score is the probability of the predicted class, not the positive class.

![image](https://user-images.githubusercontent.com/58118658/101246514-dc824b00-36e1-11eb-8dfb-482bfe8474b2.png)

[2020-12-05 15:08] #915 closed

[2020-12-05 15:10] pycaret commented on #914
@JianWang2016 You can read more about `add_metric`, `remove_metric` in the documentation here

You can pass the `probability_threshold` in the `predict_model` function as @Yard1 mentioned.

add_metric documentation: https://pycaret.readthedocs.io/en/latest/api/classification.html#pycaret.classification.add_metric

predict_model documentation: https://pycaret.readthedocs.io/en/latest/api/classifica

[2020-12-05 15:10] #914 closed

[2020-12-05 15:11] #912 closed

[2020-12-05 15:11] #907 closed

[2020-12-05 15:13] pycaret commented on #904
Thanks, @OleksiyAnokhin for confirming.

Thanks, @Yard1 for your help.

[2020-12-05 15:13] #904 closed

[2020-12-05 15:22] #872 closed

[2020-12-05 15:46] rahul-raoniar commented on #350
In research articles even after suggesting the best model, reviewers generally ask for model sensitivity analysis. In general, if we vary the values of a variable of interest and fix all other variables, then how it will change the output values.

Here is an example. This is implemented in R but reading the theory one could definitely get the core idea. This will be very very useful for researcher

[2020-12-05 16:13] sathishkumar999 commented on #916
Hi pycaret team,

Do you mean to say, It won't work. without data frame as input. sorry, it's just my concern. if there is a way, then it will be great.

thanks for helping me out, @Yard1 and to the pycaret team.

[2020-12-05 21:27] JaneCuiQin commented on #915
Thanks Antoni!

Don’t understand why we not using Sklearn’s logic which is already known to lots of the users. The documentation it’s not very clear to explain the logic saying probability is only about predicted . as data scientist tend to treat their interested target as positive.

Jane
________________________________
发件人: Antoni Baum <notifications@github.com>
发送时间: 2020年12月5日 19:40
收件人: pycar

[2020-12-05 22:00] minhaajre opened #917 "Direct deployment from IDE on PyCaret servers without GCP, Azure and IBM Cloud using Docker."
Creating issue based on our LinkedIn conversation on replicating Shinyapps.io model from RStudio that deploys apps directly from within IDEs to RStudio Servers. You can monetize that and create a more user-friendly point-n-click interface for end-users.

[2020-12-06 17:46] Yard1 commented on #913
I just pushed commit c192ed7144658cc2f17e17363aa256a4fa36fc4b that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-12-07 05:49] hugomsouto commented on #166
I was having the same issue with some categorical features. Solved passing the category collumns to setup(high_cardinality_features), like this:
[code]

[2020-12-07 06:08] sahil0094 opened #918 "Features removed through multicollinearity"
I have provided remove_multicollinearity = True, multicollinearity_threshold = 0.7 in setup function. How do I get to know which all features have been removed. I have long list of features in dataset

[2020-12-07 06:19] sahil0094 opened #919 "Categorical features taken other than mentioned"
I have provided list of categorical features in setup but it is considering other features as well as categorical. Any way to avoid that?

[2020-12-07 10:48] Yard1 commented on #919
Provide a list of numerical features as well.

[2020-12-07 11:02] #919 closed

[2020-12-07 13:12] Yard1 commented on #918
This is a good idea for an enhancement and will be simple to implement. Thanks.

[2020-12-07 13:44] sahil0094 commented on #918
It would be great if you could add support for VIF technique to remove multicollinearity

[2020-12-07 17:57] Lion-Mod opened #920 "Q: optimize threshold understanding"
Quick question regarding optimize threshold.

I'm working on a classification problem where like most, false negatives are a big no no.

I understand that I want to weight these as being "worse" if predicted incorrectly and ultimately minimise the loss function.

Using optimize threshold could someone explain how I would do this? (let's say tp, fp and tn are weighted equally).

Also looking at the

[2020-12-07 19:13] #878 closed

[2020-12-07 19:14] rajatscibi commented on #878
installation issue at my end

[2020-12-07 22:44] roberthoyt opened #921 "Adding a step to unsupervised learning"
I followed the tutorial for clustering which was extremely helpful. What I didn't like about it was the fact that I was left with n clusters but had no clue what was in each cluster which is particularly important. In addition, the elbow plot did not help in determining the number of clusters. After viewing this tutorial on another website https://www.analyticsvidhya.com/blog/2020/12/a-detailed-in

[2020-12-08 01:33] clgarciga commented on #748
No, I've unassigned myself.

[2020-12-08 18:14] ericbugin opened #922 "Pull from s3 and specify folder"
Hello,

Can't find documentation on how to use the 'load_model' function to pull from s3 and specify the folder that the model is in.

[2020-12-09 01:04] dmangonakis commented on #922
Hi @ericbugin,

[pycaret.regression.load_model](https://pycaret.readthedocs.io/en/latest/api/regression.html?highlight=load_model#pycaret.regression.load_model)

BR

[2020-12-09 02:07] PP-YE opened #923 "What does scores mean when I use predict_model?"
What does scores mean when I use predict_model?

[2020-12-09 08:28] Mads-hg opened #924 "Keyerror during setup"
Hi,

While I was trying to use Pycaret with data from the attached file (had to rename it to .txt, to upload it), I got the following error:

[code]

This is my code:
[code]

Thanks for your help!

[LRT_RRMS.txt](https://github.com/pycaret/pycaret/files/5664410/LRT_RRMS.txt)

[2020-12-09 13:29] Yard1 commented on #923
It is the probability of the chosen class. In other words, how "confident" the model is that it made a good prediction. The bigger the value, the more confident it is.

[2020-12-09 14:11] Yard1 commented on #924
I just pushed commit 678c49e2569ec9a9e71fc35ab07190c641d543b7 that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-12-09 15:05] ericbugin commented on #922
Yeah I saw that documentation, and thanks for your reply. I get now that the model_name variable should include the entire path and file name.

Another issue I am running into: When I put the path into load_model it keeps generating random characters and adding them to the end of the path.

For example:

model_location = "models/learning/pycaret_model/pycaret_model.pkl"
model = load_model(model_na

[2020-12-09 15:32] Mads-hg commented on #924
That fixed it. Thanks!

[2020-12-09 15:32] #924 closed

[2020-12-09 20:02] TKassis opened #925 "CatBoost on GPU"
I have a large dataset and a powerful GPU, I've noticed that while using CatBoost enabling the GPU gives strange behavior after the 50,000 sample size mark (which is when the GPU kicks in according to PyCaret). The top plot is with GPU enabled, the bottom plot is with GPU disabled. 'Number of Scans' here refers to the number of training samples which are sampled randomly from a 350k dataset. Is th

[2020-12-09 21:55] Yard1 commented on #925
This would be a question to ask the Catboost authors, I am afraid. We do not change the behavior aside from making it switch to GPU mode above 50k samples (if `use_gpu=True`).

[2020-12-09 23:06] DXcarlos commented on #921
I need this, currently I do this in excel after get the means in python

[2020-12-10 11:54] #916 closed

[2020-12-10 12:31] JproChen opened #926 "Predict model normalize input"
I see the setup function has normalize argument
Question is, the model generated with normalization
I have to predict datas that are not normalized
So, do I have to handle the normalization before predict by myself?
Thanks

[2020-12-10 14:46] Yard1 commented on #926
No, PyCaret will preprocess data to predict on automatically. It should be in the same format as the data passed to `setup()`.

[2020-12-11 03:12] Practcdi opened #927 "How to save interpret_model() plots ?"
### Pycaret - v2.2.0
_________________________

1) How to save **interpret_model() plots** like normal `save = True` ?
There is no method available for saving the SHAP plots on disk.

#### Required :+1:

1) Save `interpret_model()`  plots on disk
2) Need extra arguments like , `save=True & set PATH for dumping the plots at any location `

Thanks,

[2020-12-11 05:21] #926 closed

[2020-12-11 11:15] anacarolinarodrigues opened #928 "Feature Selection Methods"
I would like to be able to use supervised feature selection methods such as univariate t-test, lasso feature selection, mRMR, etc. It would be useful to add these options to the feature_selection_method argument in the setup function. And/or even to be able to pass a list of feature selection methods as arguments, and have the compare_models function compare them.

[2020-12-11 17:24] JosAndr opened #929 ""feature_selection_threshold / top_pick_features" is not working when feature_selection_method='boruta'"
I'm testing this feature selection method,but when i change the value of feature_selection_threshold the selected features ans the models performance are the same for each threshold:
0.9
![image](https://user-images.githubusercontent.com/54367290/101933699-8f531d00-3baa-11eb-8d1a-ab36a1f40ef5.png)
![image](https://user-images.githubusercontent.com/54367290/101933734-9c700c00-3baa-11eb-9809-b3e286f

[2020-12-11 22:55] PranayMehta opened #930 "Better way to productionize Topic Models in NLP module"
From my experience of using NLP module in Pycaret, I feel like there is a need to re-structure or re-do the module in a better way so that it becomes production ready. From my usage of this module, I have noticed that experimenting with topic models is fairly straight forward and easy and fun.

But when we try to `save()` a model and lets say use that saved model back again to `score` unseen examp

[2020-12-12 03:53] DXcarlos opened #931 "MLFlow doesn't save model artifact and some plots - Clustering"
I'm using clustering module of pycaret and the integration with mlflow but I have problems because I think it doesn't save all artifacs and the status is always failed.
![image](https://user-images.githubusercontent.com/12554263/101971863-66f70d00-3c02-11eb-9710-01cf228fca1b.png)

This is my code:

[code]
My logs are the following

[code]

I'm using Pycaret version : 2.2.0

[2020-12-13 14:27] Luoyunsong commented on #914
Hello, I want to know why I added precision and recall of sklearn, but the result is different from that of pycaret, while ACC, MCC and kappa are the same.
![1](https://user-images.githubusercontent.com/33373798/102014709-54abd900-3d92-11eb-998f-a6ef163cc9b5.png)
![2](https://user-images.githubusercontent.com/33373798/102014710-56759c80-3d92-11eb-9c1e-918f94a26950.png)

[2020-12-13 14:37] brunobarella opened #932 "Anomaly Detection Parameters"
Through the method of creating models in the anomaly detection package, it is not possible to change the value of the "contamination" parameter.
For the Local Outlier Factor method, it is not possible to access the "Novelty" parameter to work as a novelty detection.

[2020-12-13 14:39] Luoyunsong commented on #914
@Yard1 @pycaret

[2020-12-13 16:24] pmmc92 opened #933 "Compare Models doesn't return comparative table?"
I've been using pycaret almost from the beginning of this project and I never had any problem with it.

Recently, i've been having a problem while comparing models. The summary table simple doesn't show and the process simply returns "[]".

Any idea what the problem may be?

[2020-12-13 16:35] #933 closed

[2020-12-13 16:36] pmmc92 commented on #933
I discovered the problem. There was a mistake with the main data frame.

[2020-12-13 18:16] sanjalchetu8055 opened #934 "Pycaret: Anomaly Detection"
Hi, I am working on anomaly detection using pycaret. I have got the visualization of the 3D graph but when I hover around the anomaly its shows 0,1, feature, and anomaly. Could anyone explain to me what is that?
![doubt](https://user-images.githubusercontent.com/63895873/102020169-4fa05700-3d9d-11eb-9e7b-50904c0bd975.png)

[2020-12-13 19:09] Yard1 commented on #932
Thanks for the suggestion. Will add kwarg support to it, similar to other modules.

[2020-12-13 19:12] Yard1 commented on #914
Is this for multilabel classification?

[2020-12-13 19:13] Yard1 commented on #932
It is possible to pass additional arguments to the model using keyword arguments, for example
[code]

[2020-12-13 19:35] pycaret commented on #934
@sanjalchetu8055 1 and 2 is the PCA value and Anomaly 1 or 0 represents the anomaly flag. 1 being outlier and 0 being inlier.

[2020-12-13 19:40] pycaret commented on #931
@DXcarlos I have tried to reproduce the error on `jewellery` dataset available on our GitHub repository and I couldn't reproduce this error.

Is it possible for you to share the Notebook along with the dataset so we can reproduce the error and troubleshoot what is causing this?

I am including @Yard1 in this thread to see if he can understand what's going on with the log file you shared above. Ant

[2020-12-13 19:42] pycaret commented on #930
@PranayMehta Thanks for reporting. You are right. Unfortunately, there is no easy way to use `pycaret.nlp` in production to predict using trained topic models. As you can see there is no `predict_model`  function in `pycaret.nlp`. Whereas, there is a function called `predict_model` which is available in all the other modules of pycaret which is used for inference on new data using the trained mode

[2020-12-13 19:44] pycaret commented on #929
@JosAndr I am guessing `feature_selection_threshold` will not work when `feature_selection_method` is not `classic`. However, I am not 100% sure if this was intentional.

[2020-12-13 19:45] #934 closed

[2020-12-13 19:45] pycaret commented on #922
@amjadraza Can you help on this one?

[2020-12-13 19:46] #923 closed

[2020-12-13 19:47] pycaret commented on #920
@Lion-Mod Hi. You are right. Mostly the cost is associated with FP and FN however for the purpose of completeness the parameters for TP and TN are also available. If you want you can leave them blank.

[2020-12-13 19:47] #920 closed

[2020-12-13 19:55] pycaret commented on #927
@Practcdi Currently not possible. Would you like to work on this and include the functionality to save plots in the `interpret_model`. Please have a look at the codebase.

[2020-12-13 19:56] pycaret commented on #925
@TKassis Thanks for reporting. As @Yard1 mentioned, would you like to open this issue with the Catboost repo? We can link up that issue here for other people having similar issues.

Thanks for your help!

[2020-12-13 19:59] pycaret commented on #913
@gm039 Can you please test if the issue is resolved?

[2020-12-13 20:00] pycaret commented on #906
@pa-blan Can you please test this?

[2020-12-13 20:02] brunobarella commented on #932
Correct however it is not working.

[2020-12-13 20:03] brunobarella commented on #932
When the model parameters are printed, it remains with the default value of 0.05.

[2020-12-13 20:29] gm039 commented on #913
Thanks! The issue is resolved now.

[2020-12-13 20:29] #913 closed

[2020-12-13 22:44] Yard1 commented on #932
I believe that could be an issue with the pyod library, but I will investigate. Do you have a sample code to reproduce?

[2020-12-13 23:03] brunobarella commented on #932
When I use the create_model method with the contamination parameter it does not make the configuration.
![image](https://user-images.githubusercontent.com/28939189/102026535-2cfe4600-3d7d-11eb-9c9c-23b1309cc159.png)

The alternative I found to parameterize was to use the tune_model function:
![image](https://user-images.githubusercontent.com/28939189/102026717-31772e80-3d7e-11eb-8a83-aba5c812243b.

[2020-12-14 01:14] sanjalchetu8055 commented on #934
Thank you for the information. But what does 0 & feature represent?

[2020-12-14 05:01] aniketkumar430 opened #935 "Feature Hashing/Embedding"
Hi Team,

Its not an issue or bug. But its a query to know that do we have any feature hashing or feature embedding options available with pycaret. If not, will it be good idea to have that ?

Regards
Ani

[2020-12-14 06:52] Yard1 commented on #932
Our LOF model is from the pyod library and not sklearn, so that is to be expected.

[2020-12-14 06:53] Yard1 commented on #935
Adding support for those is in our road map.

[2020-12-14 06:53] #935 closed

[2020-12-14 07:03] Luoyunsong commented on #914
No， it is a binary classification

[2020-12-14 09:20] ty-lyc1030 opened #936 "Cannot reproduce the outcome"
I'm frustrated when using pycaret for NLP.

I use the following code to generate a NLP model

`from pycaret.nlp import *
exp_nlp101 = setup(data = data, target = 'sent', session_id = 117, experiment_name = 'yelpNH', custom_stopwords = add_stop_word)`

Then I create a LDA model
`lda_11topics = create_model('lda', num_topics = 11, multi_core = True)`

and

`lda_11topics_results = assign_model(lda_11

[2020-12-14 09:35] Kowndinya25 commented on #640
Hi, i have created 2 .py scripts train.py and predict.py. in train i have trained the model and saved it as pickle file in a path. in predict i have called this pickled trained model to use in predict_model() method. Both train and predict are using 2.2.2 version. but still i'm getting this error "ValueError: Pipeline not found". i tried to call both train and predict in single py script, even her

[2020-12-14 11:04] Yard1 commented on #914
Please make sure PyCaret is up to date with `pip install -U pycaret`.

[2020-12-14 11:07] Yard1 commented on #932
@brunobarella the `contamination` parameter is set by `fraction` parameter of `create_model()`.

[2020-12-14 11:25] Yard1 commented on #927
Should be possible starting with commit 7e98fc54ce8e0936d030a3096d2f59f33f363c1f

[2020-12-14 13:40] vtoliveira commented on #918
You could try comparing original dataset with the one in `get_config('X_train')`, from my understanding it is the train set already transformed, right?

[2020-12-14 22:30] #909 closed

[2020-12-14 22:31] #454 closed

[2020-12-15 07:00] Practcdi commented on #927
So, Now is possible to save SHAP plots?

[2020-12-15 09:52] Yard1 commented on #927
No, not yet. But you can install the development version that allows it with `pip install -U git+https://github.com/pycaret/pycaret.git`.

[2020-12-15 11:11] thibaultdaoulas opened #937 "Access to model expected input"
Hi,

After loading a model, it would be very helpful to know what the expected input columns for the processing pipeline are. I was not able to find documentation about and could not access relevant members of the model while debugging.

I have new data coming in regularly that needs a forecast to be run on, and it occurs often that a few new variables appear, or features from the trained model no

[2020-12-15 11:40] thibaultdaoulas commented on #937
I have just found how to retrieve the columns needed :
Given the loaded model m, these are the columns needed : m.named_sted['dtypes'].final_training_columns

Is this the right way to do so, or is there a less verbose method?

[2020-12-15 12:07] Yard1 commented on #937
In general, PyCaret excepts all columns that were present in the data that was passed in `setup()`. Lacking any of those columns n data to be predicted may (though it's not a hard rule) raise an exception. Any columns that were not present in `setup()` data are simply ignored.

[2020-12-15 13:37] thibaultdaoulas commented on #937
Thank you for the info! Right, in my case it did raise an exception that the column was missing. I created an additional column filled with 0.

[2020-12-15 13:42] #937 closed

[2020-12-15 15:43] DXcarlos commented on #931
@pycaret @Yard1 How can I share you privately?

[2020-12-15 16:29] nurrochmanmuhammad commented on #294
what about prep_pipe of features, is it already conditioned using that way?

[2020-12-16 16:14] brunobarella opened #938 "Different size of Features after Regression Setup"
Why the setup get 375 features but in dataset have 400?
![image](https://user-images.githubusercontent.com/28939189/102374732-7084ca00-3fa0-11eb-850b-2f1005bb2733.png)

[2020-12-16 17:48] Yard1 commented on #938
By default, features with perfect correlation are removed. You can change that behavior by passing `remove_perfect_collinearity=False` to `setup()`.

[2020-12-16 17:53] brunobarella commented on #938
Worked perfectly.

[2020-12-16 17:53] #938 closed

[2020-12-16 19:50] ttandozia commented on #165
I'm facing the same issue with jupyter notebook, python 3.8.6

[2020-12-17 01:51] IncubatorShokuhou opened #939 "Is it possible to use pycaret on multi nodes?"
I have several  Intel(R) Xeon(R) Silver 4210 CPU managed by a slurm system. Each of the CPU node is rather small and it is very slow to train a model on a single node using pycaret.
So,I am wonderinf if it is possible to use pycaret on multi nodes,instead of on a single node. For example, is it possible to use dask or mpi4py when training multi jobs?

[2020-12-17 07:29] Yard1 commented on #939
This is something we are planning to add support for in the future.

[2020-12-17 13:54] igorkf commented on #882
I had the same issue.
It went away when I changed `data_split_shuffle=False` to `data_split_shuffle=True`.

[2020-12-18 05:43] ericbrownaustin opened #940 "setup() inferring wrong data types"
I have tried to use setup() to split a data set that is all either int64 or float64 (per pandas.dataFrame.dtypes).  Data set has 44 columns.  Setup() infers only 6 of the columns as numeric with the rest as categorical or label.

`clf = setup(data = dat2, target = 'transactionSessions', train_size = 0.7)`
![py1](https://user-images.githubusercontent.com/11723172/102579186-98b81a00-40c1-11eb-8782-c

[2020-12-18 09:30] Yard1 commented on #940
In case pycaret fails to determine the column type properly, please pass `categorical_feautres = []` and `numerical_features=[]` to `setup()` with the lists containing the names of the columns of a given type.

[2020-12-18 15:39] JosAndr opened #941 "custom_pipeline not apply transformations"
I would like to use a custom pipeline, i first test it with a couple of common transformations but they are not getting applied to
the features

![image](https://user-images.githubusercontent.com/54367290/102632108-97680b00-411c-11eb-9e39-3c2bb46576ef.png)

![image](https://user-images.githubusercontent.com/54367290/102631940-5bcd4100-411c-11eb-86d2-63d24eabfd9c.png)

![image](https://user-images.

[2020-12-18 15:42] JosAndr commented on #941
I also would like to knwo if its possible to change the  steps Pycaret internal pipeline

[2020-12-18 20:12] Yard1 commented on #941
Custom pipeline steps are applied during cross validation for every fold and thus will not be visible in data obtained with `get_config`.

[2020-12-18 20:20] JosAndr commented on #941
Alrigth,
Another question out of nowhere in this topic: can you use Pycaret to do nested cross-validation?

[2020-12-18 21:06] Yard1 commented on #941
You can use any sklearn-API cross validation generator.

[2020-12-19 14:14] hbaniecki opened #942 "How to differentiate between sklearn model and pycaret model?"
Hi, I would like to differentiate a typical model made with the `sklearn` module, from the `pycaret` model. This is to know for sure that `predict_model` needs to be used. Is there any hidden attribute in the model instance that could be used for finding the origin?

![image](https://user-images.githubusercontent.com/32574004/102691428-c9f13100-420c-11eb-982e-b382433a8642.png)

[2020-12-19 14:29] Yard1 commented on #942
There is no difference. Pycaret uses sklearn underneath. If you want to use the model outside PyCaret, run `finalize_model()` to retrain it on all data and then you will be left with a normal sklearn object.

[2020-12-19 14:40] hbaniecki commented on #942
I am aware that `pycaret` uses `sklearn` underneath.

It would be useful to have any hidden property so that the user can check the origin of the model (e.g. `model._pycaret is not None`). `finalize_model()` doesn't help, since afaik it forgets the pipeline.

![image](https://user-images.githubusercontent.com/32574004/102691932-623ce500-4210-11eb-9425-a2f16af20d4f.png)

[2020-12-19 15:21] Yard1 commented on #942
You can get the pipeline with `finalize_model(model, model_only=False)`.

I'm not sure what the use case would be for this. Could you explain how this functionality would help you?

[2020-12-19 17:10] hbaniecki commented on #942
Ofc: I was trying to add native support for `pycaret` models to [`dalex`](https://github.com/ModelOriented/DALEX/tree/master/python/dalex). The package would automatically detect when to use a custom predict, which would return only `numpy` array (something around `predict_model(m, d, verbose=False)['Score'].values`).

Anyway, Thanks! `model_only=False` works for me, since the `sklearn` API is con

[2020-12-19 17:10] #942 closed

[2020-12-19 19:10] minkim88 opened #943 "sklearn's logloss with in multiclass problem"
Hi, I greatly appreciate your hard work for this amazing library.

I saw the example of using sklearn's log_loss metric in pycaret and tried with a multiclass classification dataset and it doesn't seem to work.

1. When I run the compare_model() function it works fine at first.
1. When I run the compare_model() function, after running the "add_metric('logloss', 'LogLoss', log_loss, greater_is_bett

[2020-12-19 20:22] Yard1 commented on #943
Can you send us the logs.log file generated in the folder form where you ran the script/notebook?

[2020-12-19 20:52] jtrenkle opened #944 "Proper way to use the newly-added fit_kwargs for the classification compare_models routine"
I have been using `pycaret` for the last several months with great outcomes, so thanks for that.

The current issue is as follows:  I am using compare_models to determine the Top 5 algos for my task, but I have noticed that
`XGBoost` is taking more time to run than all of the other techniques combined.  In digging, I found a recommendation to set it to _hist_ mode for a dramatic speed-up; however,

[2020-12-19 22:59] Yard1 commented on #944
`fit_kwargs` will be applied to every model, so this will most likely cause an exception. Furthermore, `tree_method` is not a `fit` argument but rather a model parameter. What you could do, however, is to use the `include` parameter of `compare_models` in conjunction with `models(internal=True)` to create a modified version of xgboost while keeping everything else the same.

[code]

Let me know if

[2020-12-19 23:33] jtrenkle commented on #944
Aha, I misconstrued how _fit_kwargs_ was meant to be used.  I definitely like your solution because it is so much clearer how each model is modified.  I had similar tweaks I wanted to do for `CatBoost` and now it's crystal clear.  Thanks!

Just plugged that in and it seems to be working like a charm.  Thanks, I appreciate you quick and useful response!

[2020-12-19 23:33] #944 closed

[2020-12-19 23:34] jtrenkle commented on #817
Things work better in the latest 2.2.  Thanks

[2020-12-19 23:34] #817 closed

[2020-12-20 02:12] JosAndr commented on #941
Ok, i'm going to close this

[2020-12-20 02:12] #941 closed

[2020-12-20 04:51] minkim88 commented on #943
[logs.log](https://github.com/pycaret/pycaret/files/5720549/logs.log)

[2020-12-20 10:59] bhaskoro-muthohar opened #945 "Showing raw proba in classifications"
I have trained model using lightgbm algorithm for binary classification and fit it to predictions. The predictions dataframe only show Label and it's probability score.

![image](https://user-images.githubusercontent.com/35159954/102711541-0431ff80-42ed-11eb-847b-469822f9f8e2.png)

I want to see the raw proba of the predictions, how can I do that in PyCaret like in sklearn?

[2020-12-20 12:10] Yard1 commented on #945
This feature will be present in a future release.

[2020-12-20 12:16] bhaskoro-muthohar commented on #945
For now, let say I want to retrieve the probability of Label class 0, so I just need to do `1-(score of Label 0)` right?

[2020-12-20 12:34] Yard1 commented on #945
Indeed.

[2020-12-20 14:28] minkim88 commented on #943
I just tried using

**add_metric('logloss', 'LogLoss', log_loss, greater_is_better=False)**

with the **< Multiclass Classification Tutorial (MCLF101) - Level Beginner >**  example on your github and it doesn't work.

Is there another parameter that I should set to use  sklearn.metrics.log_loss function in multiclass problems?

Thanks.

[2020-12-20 16:04] bhaskoro-muthohar opened #946 "ValueError: Estimator lightgbm does not have the required fit() method"
When I tried to use blend_models of lightgbm and catboost
[code]

It raised
[code]

[2020-12-20 16:09] bhaskoro-muthohar commented on #946
Np, I figured it out. I wrongly put model list as a string, not objects of estimator

[2020-12-20 16:09] #946 closed

[2020-12-21 06:37] SAnand47 opened #947 "add_metric has problems while executing code the second time throws error "ValueError: id already present in metrics dataframe""
Added "macro-f1" using add_metric function as below
[code]
The first time the above code was executed, it added the macrof1 and could be checked with get_metrics() function. The output of get_metrics() is shown below

![get_metrics](https://user-images.githubusercontent.com/56620094/102747650-d9ac6a80-431d-11eb-8b0e-364dbe6292d1.JPG)

As seen in last line microf1 is added.

The problem is when add

[2020-12-21 06:55] Yard1 commented on #947
`add_metric` should be only ran once per metric. If you cannot change your code so that it's only ran once, put it in a `try...except` block.

[2020-12-21 10:22] WebDevelopmentLabs commented on #63
I am also having the same problem and it is not imputing the missing values. I am using a heart disease dataset. Shall I share that here?

[2020-12-21 13:52] pycaret commented on #940
@ericbrownaustin Please close this issue if your problem is resolved 👍

[2020-12-21 13:53] pycaret commented on #932
@brunobarella If the issue is resolved, can yu please close it?

[2020-12-21 15:34] bhaskoro-muthohar opened #948 "[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31)."
When I tried to initialize setup training environment
[code]

It raised
[code]

![image](https://user-images.githubusercontent.com/35159954/102793383-687fbc80-43dc-11eb-9ffd-9a677322a8bb.png)

No problem about the predictors, LightGBM is running and give nice results. I just want to report this warning message that maybe someone able to give workaround.

[2020-12-21 15:54] Yard1 commented on #943
`ValueError: y_true and y_pred contain different number of classes 6, 2. Please provide the true labels explicitly through the labels argument. Classes found in y_true: [0 1 2 3 4 5]`

This is the exception. It would appear had you tried using logloss without PyCaret, as all we are doing is passing it to sklearn objects and methods. The fix would be to modify `add_metric` like so:

[code]

[2020-12-21 16:35] leocd91 opened #949 "Hi, how to know which parameter that got the best result after tune_model?"

[2020-12-21 20:11] minkim88 commented on #943
Sorry but it doesn't work.
It raises an error
**ValueError: The number of classes in labels is different from that in y_pred. Classes found in labels: [0 1 2 3 4 5]**

I just found what works. It works when I set **labels = [0,1]**
My guess is that it's because pycaret internally uses one vs rest method.

The problem now is that the logloss value is way higher than what I've been seeing before usi

[2020-12-21 21:43] Yard1 commented on #943
I am not sure why it would be different, as we use sklearn's `cross_validate` function underneath the hood. Could you maybe share the full code you are using to compare the two scores?

[2020-12-22 03:00] brunobarella commented on #932
The problem with `contamination`parameter still exists.

[2020-12-22 09:52] Yard1 commented on #932
Even if you do `fraction`?

[2020-12-22 12:35] Practcdi opened #950 "Question : Why some algorithms doesn't support feature importance plot ?"
#### Pycaret 2.2.2
____

Hello Guys ,

1) Why some algorithm like knn,svm etc doesn't support `feature importance` plot?

2) Can you provide the list of all algorithm in Pycaret which doesn't have support for `feature importance` plot?

Thanks,

[2020-12-22 12:42] vtoliveira commented on #949
You can use `plot_model` function.

[code]

https://pycaret.readthedocs.io/en/latest/api/classification.html#pycaret.classification.plot_model

[2020-12-22 13:35] brunobarella commented on #932
It worked with the faction parameter!

`create_model(model="lof", fraction=0.2)`

[2020-12-22 13:35] #932 closed

[2020-12-22 15:47] gitJoachim commented on #896
yeah! this also worked for me I had the same problem...

[2020-12-22 16:21] HSubbu opened #951 "ValueError: Sklearn version error"
I am getting following error while using pycaret. I am using pycaret as a beginner.

ValueError: Sklearn version error

I am using  0.24.0  sklearn and pycaret 2.2.2 .

Please advise

[2020-12-22 16:37] minhaajre commented on #951
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-12-94b688d97f7b> in <module>()
----> 1 from pycaret.classification import *
      2 clf1 = setup(df, target = 'TargetValue', session_id=123, log_experiment=True, experiment_name='test')

5 frames
/usr/local/lib/python3.6/dist-package

[2020-12-22 19:22] bhaskoro-muthohar commented on #951
Same experuence. When trying to import pycaret
[code]

[2020-12-22 19:23] vtoliveira commented on #928
An idea: Instead of options as paramaters, since sklearn has a wide variety of feature selection methods that use `fit` and `transform` standards, why not implement it to pass a custom feature selection pipeline?

[2020-12-22 19:44] augustomolke opened #952 "PyCaret in Azure Databricks issue"
when running the create_model command in Azure data bricks:

setup1 = setup(data, normalize = True, session_id = 123, silent=True, html=False)
rf= create_model(estimator = 'rf', verbose=False)

It takes a very long time to run the cell and does not converge.
any idea why is it happening or is there a fix?
Thanks in advance

[2020-12-22 19:45] Yard1 commented on #951
We are aware and will release a fix very soon.

[2020-12-22 19:47] bhaskoro-muthohar commented on #951
For meanwhile the workaround is using sklearn version 0.23.2
[code]

[2020-12-22 19:51] pahire opened #953 "check_metric reports same value for MSE and RMSE for a regression use case"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-22 19:54] pahire commented on #953
Sample code and results.
unseen_data_mse = check_metric(unseen_predictions['fieldA'], unseen_predictions.Label, 'MSE')
print(unseen_data_mse)
-------------
79959.3149
-------------

unseen_data_rmse = check_metric(unseen_predictions['fieldA'], unseen_predictions.Label, 'RMSE')
print(unseen_data_rmse)
--------------
79959.3149
-------------

MSE values seems correct, while the RMSe value is not per

[2020-12-22 20:05] Yard1 commented on #953
Is it possible to share the dataset with us?

[2020-12-22 20:16] pahire commented on #953
No, the dataset is confidential.

[2020-12-22 20:20] pahire commented on #953
I see proper values for RMSE and MSE in compare_models, tune_model and ensemble_model calls. RMSE is the square root of MSE. The value of MSE is of a similar order of magnitude as seen above.

[2020-12-22 20:33] Yard1 commented on #953
Would it be possible for you to check if this issue can be reproduced on a public dataset (like the ones provided by `pycaret.datasets`)? Thanks.

[2020-12-22 20:58] pahire commented on #953
I have seen it before. Would this link help ? In cells 52, 53 I encountered the same problem. The dataset and code is available there.

https://www.kaggle.com/paviah/credit-score-prediction-light-gbm-pycaret

[2020-12-22 21:48] dmangonakis commented on #951
pycaret 2.2.1 doesn't work either ...

[2020-12-23 00:08] Cytotoxicity opened #954 "compare_models() returns empty list in Rstudio"
Hello, I'm using pycaret with reticulate package in Rstudio 1.3 version.
To try pycaret in this, I used the sample code.

[code]

But it returned
[code]

In IDLE, pycaret returned
`>>> type(best)
<class 'catboost.core.CatBoostClassifier'>`

Why compare_models() returns empty list in only Rstudio? Is it the problem with Rstudio? If so, will this be solved in Rstudio 1.4 Release which supports pytho

[2020-12-23 05:24] pahire commented on #953
class RMSEMetricContainer(RegressionMetricContainer):
    def __init__(self, globals_dict: dict) -> None:

        super().__init__(
            id="rmse",
            name="RMSE",
            score_func=metrics.mean_squared_error,
            greater_is_better=False,
            args={"squared": False},
            scorer="neg_root_mean_squared_error",
        )
Isn't the score_func wrong ?

[2020-12-23 05:52] #949 closed

[2020-12-23 06:01] JproChen opened #955 "Feature Importance?"
Is there a way that I can check each feature's importance score from a trained model in pycaret?
Thanks

[2020-12-23 07:17] atwahsz opened #956 "Question about setup"
Is it possible to extract preprocessed data frame after setup ? Possibly to use the data frame for ml/dl frameworks that doesn't follow sklearn api

[2020-12-23 08:25] Yard1 commented on #956
`get_config(X)` and `get_config(y)`

[2020-12-23 09:44] joaopalotti commented on #234
HI @Yard1, first of all, thanks for the amazing package!

I am having the same problem as everybody here, and I am afraid ``choose_better=True`` is not helping.

[code]

I am using pycaret==2.2.2 and catboost==0.24.3, both installed with pip.
Am I doing something wrong here?

Thanks,

Joao

[2020-12-23 10:14] Yard1 commented on #234
@joaopalotti Even when using `choose_better`, the printed dataframe will still be for the tuned model. However, the returned model object will be different.

[2020-12-23 11:48] joaopalotti commented on #234
Hi @Yard1 , thanks for your quick reply.
The ``n_iter=1`` was just an example, I am actually using ``n_iter=1000` and still not improving from the default model (probably the default parameters of catboost are already amazing).

I could see that ``tune_model`` is actually returning the best model (in this case, the original one) as you mentioned.
One silly remaining question here is: once a model

[2020-12-23 13:14] Yard1 commented on #234
CV results are saved in an internal list, but it is kot intended to be used by the users. The best way would be to run `create_model` again with the model object (instead of a string) and pull the resulting dataframe.

[2020-12-23 14:43] atwahsz opened #957 "How to apply custom cv ?"
Spouse I want to apply GeneticSelectionCV

How do I pass it as it requires an estimator

[2020-12-23 14:58] Yard1 commented on #957
Through the `fold` argument of most functions.

[2020-12-23 15:02] atwahsz commented on #957
Ok what about group k fold . While groups are available in the dataset as a column

[2020-12-24 02:19] Anuj-sultania commented on #273
For kaggle notebooks
Kaggle uses Jupyter notebook format. We can run Command Line Codes by using the Exclamation mark " ! " before the codes.

ex. !pip install 'new packages'

**Just remember to go to "Setting"(at bottom right of kernel) and Turn the internet "ON" before installing the packages. **

[2020-12-24 06:58] Kowndinya25 commented on #640
Hi , i've trained the classification model using Pycaret and saved it as .pkl file in azure blob. When i'm trying to load this trained pkl model from blob it's loading successfully, but my predict_model() generating error "pipeline not found". can someone help me out to fix this issue.

[2020-12-24 09:49] lcast5576 opened #959 "predict model on unseen data"
I'm new to pycaret, I'm using the unseen data to predict the models. My unseen data shape is 1 less column than the training data, which what it's suppose to be, yet it still throwing error asking for that 1 less index. I'm not sure what is wrong from my side or this is an ongoing issue?

[2020-12-24 10:49] #959 closed

[2020-12-24 13:29] PiotrAntoniak opened #960 "CountVectorizer / TfidfVectorizer with pycart"
Hi, Great tool! Still can't wrap my head around how good it is.

However, I have run into a slight problem. I have dataset with loads of urls and want to use them in the classification problem. The CountVectorizer /TfidfVectorizer seems to be the way to go. However, I couldn't figure out how to make them work in the setup - so I tried to just feed the transformed data into the pycart. HOWEVER, thi

[2020-12-24 14:37] Yard1 commented on #960
Can you post the code you are using? With both the data transformation and how you call `setup()`.

[2020-12-24 15:11] PiotrAntoniak commented on #960
![image](https://user-images.githubusercontent.com/67911055/103095946-3fd50e00-45fa-11eb-8072-843c9c5465b8.png)
and the error:
![image](https://user-images.githubusercontent.com/67911055/103095806-d228e200-45f9-11eb-85ed-81cbe5ca0dd8.png)
I got exactly the same using TfidfVectorizer.

[2020-12-24 15:50] Yard1 commented on #960
I am afraid that PyCaret doesn't support sparse matrices just yet. Only Pandas dataframes are supported, which may not quite work with how much data you have. Sorry.

[2020-12-24 16:03] developpeur-windev-php-python opened #961 "Dynamic Classifier Selection Ensembles"
Is it possible to use or to implemnt DESlib with pycaret ?

https://github.com/scikit-learn-contrib/DESlib

[2020-12-24 16:10] Yard1 commented on #961
It is one of the things we would like to implement eventually, but it is not coming soon. In the meantime, you can use PyCaret to create models and preprocess data and pass it to other sklearn API objects with `get_config() `.

[2020-12-24 17:38] PiotrAntoniak commented on #960
;/
Tried to use pandas and scale down the number of the features but the setup would still take ages.
However, by doing this:
fake = pd.DataFrame(data = {"col1":[1,2,3,4,5,6,7], "col2":[2,2,3,4,5,6,7], "target":[1,0,1,0,1,0,0]})
exp1 = setup(fake,target = "target",
             fold = 5, train_size = 0.7, session_id = 2137, fix_imbalance = True, use_gpu = True)
and then supplying the actual data:

[2020-12-24 17:40] harveyren1 opened #962 "Issue installing PyCaret"
I get the following error when pip install pycaret. Any help will be greatly appreciated.

    ERROR: Command errored out with exit status 1:
     command: 'c:\users\harve\desktop\codinglesson\pythonprojects\env\scripts\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\harve\\AppData\\Local\\Temp\\pip-install-7hft2bt1\\llvmlite_8839b549fd114786af65d22bb73a3fe9\\set

[2020-12-25 00:43] hamzahmhmmd commented on #962
idk how to solve the error, but u can use google colab instead and install pycaret on that

[2020-12-25 00:52] hamzahmhmmd commented on #962
after install pycaret on colab, u must downgrade the sklearn version on colab using `pip install scikit-learn==0.23.2` (temporarily pycaret facing dependency issue with sklearn version that installed on colab)

[2020-12-25 07:11] brainlescoder opened #963 "Pycaret not working for mulltioutput multilabel classification"
I am currently working on a multioutput classification problem. Just when I use pycaret for the setup the target thing is causing an error.
Because I have to provide 2 strings there and it's not taking it..

[2020-12-25 09:05] Yard1 commented on #963
Multioutput classification is not supported.

[2020-12-26 22:45] volkanakcora commented on #219
I am getting that error when I execute: setup()

Setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None), or set shuffle=True.

[2020-12-26 23:01] popcsev commented on #962
I have the same issue and so far I have tried to install it on a virtual env with both python 3.6 and 3.9.1 with no luck.

[2020-12-27 03:11] satyam2829 opened #964 "ERROR: Command errored out with exit status 1:"
I am getting this error while installing pycaret. Not sure how to resolve it.

Collecting pycaret
  Using cached pycaret-2.2.3-py3-none-any.whl (249 kB)
  Using cached pycaret-2.2.2-py3-none-any.whl (249 kB)
  Using cached pycaret-2.2.1-py3-none-any.whl (248 kB)
  Using cached pycaret-2.2-py3-none-any.whl (248 kB)
  Using cached pycaret-2.1.2-py3-none-any.whl (252 kB)
  Using cached pycaret-2.1.1-

[2020-12-27 05:46] gm039 commented on #818
Thanks for the suggestion.

plot_model(model, save=True, plot="PLOTNAME")

The above command will give the plot for the holdout data. How to obtain them for the data_unseen?

[2020-12-27 08:43] Yard1 commented on #818
That's not possible if the unseen data is missing the true target values. However, if it is not missing those, you can use it as the holdout set by specyfing `test_data=data_unseen` in `setup()` and then plot.

[2020-12-27 20:29] minhaajre opened #966 "Pycaret crashing both in Kaggle and Google Colab on small datasets"
Less than 1500 row dataset utilizes all the RAM and session crashes everytime i use either Kaggle or Google Colab. Here is the link to notebook

https://colab.research.google.com/drive/1BPfpFh47FuWTE2gXaN63gsJpM-6I0HgH?usp=sharing

[2020-12-27 20:50] pycaret commented on #966
@minhaajre Thanks for reporting. Can you please make the Notebook public and also upload the dataset so we can troubleshoot whats going on.

![image](https://user-images.githubusercontent.com/58118658/103179546-41e9d780-485b-11eb-8bec-e91185469229.png)

[2020-12-27 20:51] pycaret commented on #964
@satyam2829 Can you please give more details about what environment you are using and are you using any virtual environment like conda or virtualenv?

[2020-12-27 20:55] pycaret commented on #962
@popcsev @harveyren1 Can you please try installing PyCaret in a conda environment and let us know if the installation error persists. Instructions here: https://pycaret.readthedocs.io/en/latest/installation.html. Just reading your error message it seems like there is an issue with Python installation. Also, please note PyCaret is not yet supported on Python 3.9.

@hamzahmhmmd You do not need to ma

[2020-12-27 20:56] minhaajre commented on #966
it should have been open https://colab.research.google.com/drive/1BPfpFh47FuWTE2gXaN63gsJpM-6I0HgH?usp=sharing

[2020-12-27 20:57] minhaajre commented on #966
![image](https://user-images.githubusercontent.com/59568642/103179658-04fc0000-48b0-11eb-9b2b-099090cefd81.png)

[2020-12-27 20:57] pycaret commented on #960
@PiotrAntoniak This is a good trick.

[2020-12-27 20:58] pycaret commented on #957
@atwahsz You can pass the column name containing groups in the `fold_groups` parameter when initializing the `setup` function. See below:

![image](https://user-images.githubusercontent.com/58118658/103179680-6d20f680-485c-11eb-9cce-2f183eee7dbe.png)

[2020-12-27 20:58] #957 closed

[2020-12-27 20:59] #947 closed

[2020-12-27 21:00] #940 closed

[2020-12-27 21:02] popcsev commented on #962
@pycaret I tried to install it on a 3.6 conda environment, this is the error I get.

` Building wheel for argon2-cffi (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: /Users/mark/opt/miniconda3/envs/pycaret36/bin/python /Users/mark/opt/miniconda3/envs/pycaret36/lib/python3.6/site-packages/pip/_vendor/pep517/_in_process.py build_wheel /var/folders/c3/tr4tvc6s0m16h58r

[2020-12-27 21:02] pycaret commented on #950
@Practcdi PyCaret uses `scikit-learn` algorithm attributes to generate feature importance plots. Hence the algorithms that do not support the `feature_importances_` attribute or `coef_` are not supported for feature importance plots. I don't have a complete list of such algorithms but any algorithm that returns weights, in general, will be supported for feature importance.

Hope this helps.

[2020-12-27 21:02] #950 closed

[2020-12-27 21:03] pycaret commented on #952
@augustomolke How big is the dataset?

[2020-12-27 21:04] pycaret commented on #955
@JproChen You can generate feature importance plot by using the `plot_model` function. For example:

[code]

Hope this helps.

[2020-12-27 21:04] #955 closed

[2020-12-27 21:05] #956 closed

[2020-12-28 00:30] satyam2829 commented on #964
Am following the same steps as specified in pycaret website like creating the environment, activating the environment and then installing pycaret.

Am using conda environment.

[2020-12-28 03:30] minkim88 commented on #943
Sorry for the late response.

Here's the full code.

from sklearn import datasets
from sklearn.metrics import log_loss
from sklearn.model_selection import cross_val_score
import catboost
import xgboost
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold

wine = datasets.load_wine()
winedata = pd.DataFrame(wine.data)
winedata['target'] = wine.targ

[2020-12-28 04:01] muriloafonso commented on #215
The Score column in predict_model () is returning a value of 0.5 to 1, instead of 0 to 1. How can I fix this?

[2020-12-28 06:01] muriloafonso opened #968 "Range of the Score Column in the predict_model output"
The Score column (for Catboost Classifier) in the predict_model output is returning a value between 0.5 and 1 for both classes, instead of 0 to 1. How can I fix this?

[2020-12-28 12:18] Yard1 commented on #968
The probability in the score column is for the predicted class, and not for the positive class (like in sklearn). An option to get the sklearn-like scores will be added in a future update.