[2020-07-02 06:38] sathishkumar369 opened #260 "request to add extracting the pre_processed data after setup"
Hi pycaret team!

requesting to add a new feature which is extracting the preprocessed data in Dataframe format from setup model, before creating the model for all regression,classification,clustering and nlp models. so that we can use the preprocessed data for some another data analysis.

![image](https://user-images.githubusercontent.com/40235632/86324740-a5080200-bc5c-11ea-9822-a5966e5ce32d.png

[2020-07-02 13:55] ganapatihl opened #261 "Transformed train and test data has less number of features"
Hi,

orginal data has 466 features. after train and test split it become 256 features, how its happened, could you help me on this.

![image](https://user-images.githubusercontent.com/29286110/86367599-c89d6d80-bc99-11ea-9484-c06e2a9946d5.png)

[2020-07-02 14:19] sathishkumar369 opened #262 "request to add categorical labels for multi_class classification but not in numerical categories."
Hi pycaret team!

when I gave prediction on unseen data, the output come up with label values.
I want it in categorical(original form) form but not in label form.

hope you will understand my points by looking into images.

Actual inputs mentioned in the figure and it's a multiclass one

![Screenshot (244)](https://user-images.githubusercontent.com/40235632/86370484-70686a80-bc9d-11ea-9535-8373fad

[2020-07-02 14:46] ganapatihl commented on #261
this will happen only when we pass numerical feature list.

[2020-07-06 11:13] sumeshmr opened #263 "Option to pass param_distributions in tune_model"
Hello,

Thank you for making this excellent library!

I can see that the parameter combinations are hardcoded in **tune_model**. It would be good if the user can pass his custom parameter combinations. Making it a parameter in the tune_model would be great.

Thanks in advance.

[2020-07-06 12:46] JBOE22175 commented on #179
I just installed PyCaret based on current installation guide in Win10 with Anaconda evnironment and got the same error.
I saved the diamond dataset as csv, created a separate environment and installed pandas-profiling based on their installation guide. Loading the diamond dataset and and executing pf = pandas_profiling.ProfileReport(dataset) does work!
Difference: PyCaret installs pandas-profiling

[2020-07-06 15:06] pycaret commented on #248
@skrunt7 Thanks for reporting. This is a known issue in PyCaret 1.0.0 which has been fixed.

Can I please ask you install **pycaret-nightly** and try to replicate the issue. Please let me know if this has been resolved.

[2020-07-06 15:11] pycaret commented on #248
@skrunt7 Also can you please share the complete trace back of error and the environment you were using?

[2020-07-06 15:19] pycaret commented on #249
Good suggestion @sparvaneh.

Tagging this as an enhancement for future release.

[2020-07-06 15:20] pycaret commented on #250
@ManuelBanza Thanks for reporting. Can you please share the dataset so I can try to reproduce this issue?

[2020-07-06 15:21] pycaret commented on #263
@sumeshmr Thanks for the suggestion. parameter called **custom_grid** is added for next release. If you would like to test, you can install **pycaret-nightly** and let me know how it goes.

For now - I am tagging this issue as an enhancement and will close on release of 2.0x

[2020-07-06 15:23] pycaret commented on #252
@Om-patel2398 This seems like it is same as #128

[2020-07-06 15:23] #252 closed

[2020-07-06 15:27] pycaret commented on #257
@npapan69 Thanks for reporting. In order to answer this, can you please provide more details about this issue. Example, dataset, expected result and outcome, I might be able to help.

[2020-07-06 15:28] pycaret commented on #255
@ajaysh2193 Can you share more details about the environment the version of joblib.

[2020-07-06 15:29] pycaret commented on #260
@sathishkumar369 Thanks for the suggestion. Tagging this as an enhancement.

[2020-07-06 15:29] pycaret commented on #258
@raheems Not yet possible. Tagging this as an enhancement for future release.

[2020-07-06 15:31] pycaret commented on #262
Thanks for the suggestion @sathishkumar369.

Tagging this as an enhancement.

[2020-07-06 15:33] pycaret commented on #261
@ganapatihl Thanks for reporting. I guess this is happening because by default PyCaret removes variable with perfect collinearity i.e. two variables are 100% correlated. Unfortunately there is no way to disable that in 1.0x. However in next release there is a parameter **remove_perfect_collinearity** being added to _setup()_.

Can you please install pycaret-nightly and test it on the same dataset

[2020-07-06 15:34] pycaret commented on #261
Labelled as **enhancement**

[2020-07-06 15:37] pycaret commented on #259
Thanks for reporting @sathishkumar369. Will take this correction in next release.

[2020-07-06 15:38] pycaret commented on #256
@joaopcnogueira Thanks. That's a great suggestion.

Would you like to work on this for future release?

[2020-07-06 15:39] pycaret commented on #254
@bourbe Not possible yet. Adding this to **enhancement** list.

[2020-07-06 15:39] Kunalthebug opened #264 "pip install pycaret"
When I was trying to download pycaret for the first time, basic libraries like pandas,scipy,nltk,tqdm along with any other libraries started downloading. I am very curious to know the reason behind because this doesn't happen while downloading other libraries, Is it because pycaret is recently launched and there are dependencies? Can somebody figure this out?

[2020-07-06 15:41] pycaret commented on #264
@Kunalthebug Thanks for reporting. There are dependencies listed in requirements.txt file which PyCaret will download when you use "pip install pycaret".

Other alternate is to build from source from cloning the repo.

In either case, if you already have those libraries installed on your machine, It will not install it.

[2020-07-06 15:41] #264 closed

[2020-07-06 16:27] pycaret commented on #7
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 16:28] pycaret commented on #6
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

You can test this and let us know what you think? Please close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 16:30] pycaret commented on #8
@Riazone **create_stacknet** is deprecated and will be removed from PyCaret 3.0x.

Closing this issue.

[2020-07-06 16:30] #8 closed

[2020-07-06 16:37] pycaret commented on #12
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

New parameter **folds_shuffle** is now added in setup. By default it is set to _False_.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 16:40] pycaret commented on #16
@madazone

### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

New parameter **html** is now added in setup. By default it is set to _True_. If you are using PyCaret outside of notebook environment, please pass html = False in **setup**.

Can you please test this and close the issue if the enhancement addresses the original issue

[2020-07-06 16:43] ajaysh2193 commented on #255
pycaret==1.0.0, joblib==0.15.1

[2020-07-06 17:03] #17 closed

[2020-07-06 17:03] #18 closed

[2020-07-06 17:05] pycaret commented on #21
@fcakyon Can you please try uploading **pycaret-nightly** on conda and let me know if that works?

[2020-07-06 17:06] #30 closed

[2020-07-06 17:07] pycaret commented on #31
@andrealbh

### Feature now available in pycaret-nightly.
You can install pycaret-nightly using "pip install pycaret-nightly".

New function named **pull()** is now added which allows you to store the dataframe printed as a variable. See example below:

variable **results** will be a dataframe.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will

[2020-07-06 17:08] #32 closed

[2020-07-06 17:10] pycaret commented on #43
@shamv Sorry for late response. Can you please explain what's the issue in the Association Rule Example you have shown above?

[2020-07-06 17:12] #31 closed

[2020-07-06 17:12] pycaret commented on #44
Not needed anymore.

[2020-07-06 17:12] #44 closed

[2020-07-06 17:12] pycaret commented on #50
Not needed anymore.

[2020-07-06 17:12] #50 closed

[2020-07-06 17:15] pycaret commented on #68
Feature now available in pycaret-nightly.
You can install pycaret-nightly using "pip install pycaret-nightly".

New parameter folds_shuffle is now added in setup. By default it is set to False.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:17] pycaret commented on #84
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

New parameter **folds_shuffle** is now added in setup. By default it is set to False.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:18] pycaret commented on #89
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

New parameter **custom_grid** is now added in **tune_model()**.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:18] vishal-subedi commented on #84
Yeah..surely. Just give me a couple of days

On Mon, 6 Jul 2020, 22:47 PyCaret, <notifications@github.com> wrote:

[2020-07-06 17:20] pycaret commented on #90
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

**kwargs now supported under **create_model()** function.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:22] pycaret commented on #91
### Feature now available in pycaret-nightly.

You can install pycaret-nightly using "pip install pycaret-nightly".

You can now use custom model objects in **create_model** function. The custom model must be compatible with fit_predict API used by sklearn.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few week

[2020-07-06 17:25] pycaret commented on #100
@alittlesliceoftom

### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

New parameter **_whitelist_** is now added in **compare_models()**. See an example below:

This will only train 4 models as mentioned in **_whitelist_** parameter.

Can you please test this and close the issue if the enhancement addresses the original issue.

[2020-07-06 17:27] pycaret commented on #107
@azharirfan

### Feature now available in pycaret-nightly.

You can install pycaret-nightly using "pip install pycaret-nightly".

New parameter **remove_perfect_collinearity** is added in setup. By default is set to True.

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:28] #115 closed

[2020-07-06 17:37] pycaret commented on #9
@Riazone

Its not possible to default _meta_model_ to best model as a user may or may not run **compare_models** before stacking. However, what you can do to achieve this in PyCaret 2.0x is as follows:

If this answers your question, can you please close the issue?

[2020-07-06 17:52] pycaret commented on #263
### Feature now available in pycaret-nightly.

You can install **pycaret-nightly** using "pip install pycaret-nightly".

Can you please test this and close the issue if the enhancement addresses the original issue.

It will be shipped to PyCaret 2.0x in few weeks.

[2020-07-06 17:54] pycaret commented on #259
@sathishkumar369

Can you please try this using **pycaret-nightly**. Please close the issue if this has been fixed.

[2020-07-06 17:55] pycaret commented on #226
@hermandr Please let us know, if this is still a problem?

[2020-07-06 18:15] pycaret commented on #232
@ebpetrov Would you still like to help us resolve this issue?

[2020-07-06 18:17] pycaret commented on #245
@ajatau This issue has been fixed in pycaret-nightly build. Can you please install **pycaret-nightly** using pip and let me know if the issue is gone. If not, the source code is on dev-1.0.1 branch.

[2020-07-06 20:25] #224 closed

[2020-07-06 20:26] #215 closed

[2020-07-06 20:28] pycaret commented on #179
@JBOE22175 Thanks for reporting. This problem has been resolved in pycaret nightly build. Would you please like to test this and let me know if the issue is fixed for you. You can install pycaret nightly build using pip.

Thanks for your help.

[2020-07-06 20:29] pycaret commented on #187
@atwahsz

### Feature available now.

This feature is now available for your testing. You can install pycaret nightly build using pip.

[2020-07-06 20:57] ManuelBanza commented on #250
Hi @pycaret
here it is the link: https://we.tl/t-HM6IBZRalK

Thanks for the help

[2020-07-06 22:01] sACPDX commented on #16
Very impressive library.  I am trying to use PyCaret with Python 3.8 and Streamlit.

I am experiencing a similar issue running this in python and streamlit locally.  I installed the pycaret-nightly as recommended.

VS Code Terminal shows results of Setup() as running fine when setup runs in Streamlit.
Setup Succesfully Completed.
                      Description      Value
0

[2020-07-07 10:57] npapan69 commented on #257
Thanks for your response, let me come back with a more specific question. In order to get the performance of a model on a subset of features that have been selected by the RFECV, the feature_selection in the setting of Environment should be set to true? And if yes when I set that to true I get for example 45 features shown on the setup output while the RFECV selects less than 45. The measured perf

[2020-07-07 13:59] sumeshmr commented on #263
I could see the option in the nightly build. Thanks.

[2020-07-07 14:03] sumeshmr opened #265 "UnboundLocalError: local variable 'visualizer' referenced before assignment"
Hello,

I was trying the nightly build version(pycaret-nightly).
I got the below error when I tried the **Validation Curve** in **evaluate_model**

![image](https://user-images.githubusercontent.com/24572078/86792957-a7f75e00-c073-11ea-85ae-5038c8bbbcce.png)

[2020-07-07 14:14] sathishkumar369 opened #266 "getting an error while tuning the model"
Hi,
I installed pycaret nightly. while tuning the model I ran into an error.

![Screenshot (261)](https://user-images.githubusercontent.com/40235632/86794392-19420b80-c08a-11ea-97da-d31ac13597b1.png)

[2020-07-07 14:28] sathishkumar369 opened #267 "can't able to see the parameters inside the model"
Hi team!
I installed pycaret-nightly today..
when I use print for model,it's showing the parameters. how could I customize those parameters without seeing.
this will bring into a huge problem while we work with clustering data, because parameters plays a vital role in every ML model.
even in version 1, there is no option for controlling parameters. but here in nigtly it's not showing even paramete

[2020-07-07 14:33] sumeshmr opened #268 "save_experiment failed in pycaret-nightly"
Hello,

I got the below error when saving the experiment while trying pycaret-nightly.

![image](https://user-images.githubusercontent.com/24572078/86797095-f27ad980-c077-11ea-82f0-f44c60245c70.png)

[2020-07-07 14:34] pycaret commented on #267
@sathishkumar369 This is because the default behaviour in sklearn 0.23 changed. If you want to see all parameters, you can check that by get_params() method. See example below:

lr = create_model('lr')
lr.get_params()

Please close the issue if this answers your question.

[2020-07-07 14:36] pycaret commented on #266
This is because in 2.0x tune_model accepts trained model only. See example below

dt = create_model('dt')
tuned_dt = tune_model(dt) ... not 'dt'

[2020-07-07 14:42] pycaret commented on #268
@sumeshmr Thanks for reporting. We are going to remove save_experiment / load_experiment as 2.0 will support MLFlow backend for experiment logging.

If you would like to see how that works you can pass logging = True in setup() and then at end of your notebook run this code:

!mlflow ui

You should then be able to see a server on localhost:5000 in your browser.

Let me know how that goes.

[2020-07-07 15:00] sumeshmr commented on #268
The mlflow ui looks excellent. Looking forward to this.

[2020-07-07 15:22] asherdiamant opened #269 "compare_models docstring error (blacklist is a list, not str)"
The compare_models docstring (and documentation on the site) note that blacklist is of type string, when it in fact should be a list of strings. Minor error, but a bit confusing initially.

[2020-07-07 16:17] JBOE22175 commented on #179
After removing current environment and creating a new one with pycaret-nightly it works perfectly.
Thank you!

[2020-07-07 17:56] pycaret commented on #265
@sumeshmr Thanks for reporting. Can you please share the complete code and dataset? I am unable to reproduce this error on juice dataset.

![image](https://user-images.githubusercontent.com/58118658/86822462-a882fb00-c059-11ea-9b32-de7f6c2e3a11.png)

[2020-07-07 17:59] #266 closed

[2020-07-07 17:59] pycaret commented on #269
@asherdiamant Thanks a lot for pointing that out.

[2020-07-07 18:01] pycaret commented on #268
@sumeshmr Thanks.

[2020-07-07 18:01] #268 closed

[2020-07-07 18:01] #267 closed

[2020-07-07 18:41] sumeshmr commented on #265
I can see that there is a typo in the variable name in regression.py. Variable defined as **viz** instead of **visualizer**.

![image](https://user-images.githubusercontent.com/24572078/86827106-44ccf200-c09a-11ea-8545-54e750dc1275.png)

[2020-07-07 18:47] pycaret commented on #265
@sumeshmr Thank you so much. I have fixed this and it will pushed tonight into pycaret-nightly==0.18.

Appreciate your help.

![image](https://user-images.githubusercontent.com/58118658/86828106-c99b1a00-c060-11ea-87fa-5fa7c2015b22.png)

[2020-07-07 23:12] #232 closed

[2020-07-07 23:12] ebpetrov commented on #232
I resolved the problem. Thank you.

[2020-07-08 02:26] Harish12137 opened #270 "Topic Modeling - Deployment and Predict Functionality"
Hi Team,

I am not able to use predict_model on unseen data to get the topics, which is available in other models but not functioning for topic modeling in Pycaret. I might be wrong but not sure why is this not available for topic modeling.

<img width="357" alt="Untitled picture" src="https://user-images.githubusercontent.com/58198071/86867497-86888780-c0f0-11ea-8551-eef42f7f6195.png">

If so, ho

[2020-07-08 07:01] sathishkumar369 commented on #259
Thanks Moez and Team for fixing this error. I'm very happy to close the issue.
Thanks once again for your hardwork.

[2020-07-08 07:01] #259 closed

[2020-07-08 11:51] sathishkumar369 commented on #267
Hi Moez!
Please create some notebooks in github and upload it for public that all the changes in this nightly or 2.0.
which makes it easier to practice the things.
looking forward to see the changes in 2.0 and also I believe you guys will fix all the request and suggestions that created in github.
tons of Thanks to the pycaret team and Moez for creating this wonderful library to the data science c

[2020-07-08 16:03] bjuncklaus commented on #241
There's actually a way of retrieving it after `setup` @sparvaneh . The `setup` documentation is this: "This function returns various outputs that are stored in variables as tuples. They are used by other functions in pycaret.". However, after analyzing the source code I found out that the function returns a tuple with this content:
- `X`
- `y`
- `X_train`
- `X_test`
- `y_train`
- `y_test`
- `seed`

[2020-07-08 16:09] bjuncklaus commented on #260
There's actually a way of retrieving it after `setup` @sathishkumar369 . The `setup` documentation is this: "This function returns various outputs that are stored in variables as tuples. They are used by other functions in pycaret.". However, after analyzing the source code I found out that the function returns a tuple with this content:
- `X`
- `y`
- `X_train`
- `X_test`
- `y_train`
- `y_test`
-

[2020-07-08 16:26] bjuncklaus opened #271 "Question - Overwrite String as Data Type on Setup"
Hi, is it possible to overwrite the data type on setup to Strings? I don't want my data to be categorical I want it to be String/Object, however I can't find a way do it.

![image](https://user-images.githubusercontent.com/9988985/86944726-84d5b880-c11e-11ea-8119-04457ec8bf61.png)

[2020-07-08 16:36] pycaret commented on #271
@bjuncklaus Can you please clarify a little. Why do you want data types to be of type string? All strings/object are converted into categorical so that encodings can be done.

Please provide more details about use-case of why you would want certain columns to be string? This will help us to answer your question.

[2020-07-08 16:57] bjuncklaus commented on #271
Hi, I want to do some feature engineering with the Strings, for example use the Name to extract the Title (Mr, Miss, Mrs).

[2020-07-08 17:22] alittlesliceoftom commented on #100
I'll aim to take a look

[2020-07-09 04:51] rahul-raoniar opened #272 "XGboost throwing an error: `ValueError: feature_names may not contain [, ] or <`"
In Pycaret compare_model( ) throwing an error while training a xgboost while other models showing no such error.

![image](https://user-images.githubusercontent.com/26122609/86998815-cc1b8200-c1ce-11ea-84fd-9506d58994c9.png)

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-94-9ff

[2020-07-09 05:27] pycaret commented on #272
@rahul-raoniar Check categorical variables. , or < must be appearing in one of the values and when one hot encoding is performed column name inherits the value. You are checking column names of original dataset, thats why you cant see , or <.

Let me know if this helps.

[2020-07-09 08:40] rahul-raoniar commented on #272
Yes, you are right. In my data, some variable has these symbols. My age variable has <18 and >60 categories. Thus, during one-hot encoding, this generates column names with these symbols, which created the problem with GBM.

I re-encoded my categorical variables and now XGBoost working fine.

Thank you for your help.

[2020-07-09 12:28] rijesh123 opened #273 "PyCaret installation problems"
I am unable to install PyCaret on my office machine (It is working fine on my personal Laptop).

Please see the errors below (tried via Jupyter notebook and Anaconda prompt)
Via Jupyter notebook: error:

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection obje

[2020-07-09 13:29] sathishkumar999 opened #274 "Is there any way to get the top keywords as a separate columns while assigning LDA for topic modelling"
Hi Pycaret team!

could you please add one more column, which is top_keywords in topic modelling while assigning LDA.

lda = create_model(model='lda', num_topics=6, top_keywords=10, multi_core = True)

I'm expecting the above syntax with number of top_keywords as a new column.

below figure is the Actual result of pycaret.

![Screenshot (270)](https://user-images.githubusercontent.com/40235632/870

[2020-07-09 16:48] pycaret commented on #271
@bjuncklaus Yes. please do it before passing your data into setup.

Thanks.

[2020-07-09 16:48] #271 closed

[2020-07-09 16:48] pycaret commented on #272
Thanks @rahul-raoniar

Closing the issue now.

[2020-07-09 16:48] #272 closed

[2020-07-09 16:49] pycaret commented on #273
@rijesh123 Are you using pip install in anaconda prompt or jupyter notebook?

[2020-07-09 16:50] pycaret commented on #274
@sathishkumar369

Hi Sathish, It wouldn't be a good to add key words in column to original dataset. There would be a lot of repetition. If dataframe has 10000 cols with 5 topics. You should build a df with 5 rows and 2 cols (each row for a topic and key word in col) instead of repeating it throughout the dataframe.

Let me know what you think.

[2020-07-09 16:52] pycaret commented on #257
@npapan69 I see your confusion.

RFECV in plot_model is for analysis only. It actually doesn't effect your dataset.

Please close the issue if this answers your question.

[2020-07-09 17:47] rijesh123 commented on #273
Thanks for quick reply.
Yes. I tried "pip install pycaret" in both anaconda prompt and Jupyter notebook. (Bother errors are shown in above post)

[2020-07-09 18:01] bjuncklaus commented on #271
Thank you

[2020-07-09 18:32] npapan69 commented on #257
So I don't see the meaning of being there if it doesn't affect the model. Can anyone explain?
Thanks anyway

[2020-07-09 18:32] #257 closed

[2020-07-09 19:41] SSITB opened #276 "Pandas proffilling is corrupted after installing pycaret"
Create a new environment and install pandas profiling as below
pip install pandas-profiling

run the below code in any notebook
# Profiling

import pandas_profiling as pdp
import pandas as pd
data = pd.read_csv('anyfile.csv')
pdp.ProfileReport(data)

The code works perfect

Now install pycaret and run the above code again
pip install pycaret

You get an error, not sure what is the issue but it see

[2020-07-10 00:20] joaopcnogueira commented on #256
Hi! Thank you for the answer!

I have never builded a feature like this, but I would like to help!

[2020-07-10 03:18] sathishkumar369 commented on #274
Yes, Moez! I got your point. It wouldn't be good to add keywords as a column, there will be a lot of repetition through out the data frame.if we give only 5 topics.

We have come up with a solution for that, actually we have 11thousand documents(rows). We apply clustering on this . So we got 138 clusters.
Then we group the documents based on the cluster.finally we got only 138 documents.
On this 1

[2020-07-10 10:26] sathishkumar369 opened #278 "Request for SGD algorithm"

[2020-07-10 12:52] sathishkumar369 commented on #270
@Harish12137  It's better you read what's actually a topic modelling. we can't use predict on unsupervised learning algorithms.

[2020-07-10 12:54] sathishkumar369 commented on #270
@Harish12137  It's better you read what's actually a topic modelling is. we can't use predict on unsupervised learning algorithms.

[2020-07-10 14:45] Raghibshams456 commented on #269
i have made changes please review it..i have created pull request...

[2020-07-10 19:41] dplew opened #280 "Error when loading dataset with profile=True"
I can successfully run the following two lines:

from pycaret.datasets import get_data
dataset = get_data('diamond')

When I run the same lines (from the regression tutorial) with profile=True:

from pycaret.datasets import get_data
dataset = get_data('diamond', profile=True)

I get the following Traceback:

<ipython-input-1-6b54b7dd7674> in <module>
      1 # Loading data from pycaret
      2 fro

[2020-07-12 02:04] skrunt7 commented on #248
Thanks for the response.  I installed pycaret-nightly as noted.  I now get
a different error regarding logger.  It looks like the clear_output has
been changed to logging and I see the global variable but I now get
NameError: name 'logger' is not defined.

Traceback (most recent call last):
  File "\AppData\Local\Continuum\anaconda3\lib\site-packages\flask\app.py",
line 2309, in __call__
    retur

[2020-07-12 05:47] dre2004 opened #281 "Save metadata with model"
Hi,

Is there a way to save the parameters that were passed to setup when the model is pickled?

From a pickled model I can't see a way to be able to tell what parameters were used to train the model so I have to either save that separately or try and come up with a naming convention for the saved models that capture these details.

[2020-07-12 06:08] DJ-LYH commented on #229
Could this be used in pycaret-nightly?

[2020-07-13 04:44] soloblack commented on #68
Thx

[2020-07-14 07:38] ajsharma007 commented on #255
Any suggestion?

[2020-07-14 07:40] ajaysh2193 commented on #255
Any suggestion?

[2020-07-14 15:32] 64617665 opened #282 "compare_models AttributeError: 'NoneType' object has no attribute 'display_id'"
_https://colab.research.google.com/drive/1GqQ3XAIzg4krBbnOpKyeRqT0qBQhdwYL#scrollTo=VqG1NnwXEQvK
ipython display broken on regular pycaret build as of 20200714
using pip install pycaret-nightly to get around initial bug_

from pycaret.datasets import get_data
dataset = get_data('credit')
#check the shape of data
dataset.shape
data = dataset.sample(frac=0.95, random_state=786).reset_index(drop=True

[2020-07-14 15:49] 64617665 commented on #282
exp_clf101 = setup(html = False, data = data, target = 'default', session_id=123)

per previous github issues,

I suggest adding this to your tutorials as a note.

[2020-07-14 15:49] #282 closed

[2020-07-15 07:11] ganapatihl commented on #261
Hi Team,

How to know which all features are correlating and correlating with which
features. Because before adding features to pycaret i have removed highly
correlated features. please let me know how to get those feature lists in
pycaret version 1.0.0

*Thanks and Regards:*

*Ganapati H L*

*Linked IN :https://www.linkedin.com/in/ganapati-h-l-26885660/
<https://www.linkedin.com/in/ganapati-h-l-2

[2020-07-15 07:39] abhisht51 commented on #169
Has this issue been resolved ?

[2020-07-15 10:45] rijesh123 commented on #273
@PyCaret - what may be the reason of this error?

[2020-07-15 10:45] rijesh123 commented on #273
@PyCaret - what may be the reason of this error?

[2020-07-15 15:49] #169 closed

[2020-07-15 20:21] ramnathv commented on #281
I believe you can use `save_experiment` to save all the details. According to the [documentation](https://pycaret.org/save-experiment/)

[2020-07-15 20:24] ramnathv commented on #280
I believe the error occurs due to an older version of `pandas-profiling` installed. I was able to get profiling to work by installing the latest version of `pandas-profiling`. It does throw a warning since `pycaret` explicitly requires an older version, but does not lead to any issues as far as i know.

[code]

@pycaret Any specific reasons to explicitly require older versions (from what I remembe

[2020-07-16 01:50] hairfy opened #283 "Memory error"
I get memory error: MemoryError: Unable to allocate 46.3 GiB for an array with shape (69142, 89925) and data type float64.

I have tested with latest stable pycaret and also with dev version 1.01.
I am using conda virtual env and python=3.7
The dataset is not so big. Any clue why this is happening are highly appreciated!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89925 entries, 0 to 99999

[2020-07-16 01:51] #283 closed

[2020-07-16 01:51] hairfy commented on #283
Will post with other user!

[2020-07-16 01:57] ulfsv opened #284 "MemoryError: Unable to allocate 46.3 GiB"
I get memory error: MemoryError: Unable to allocate 46.3 GiB for an array with shape (69142, 89925) and data type float64.

I have tested with latest stable pycaret and also with dev version 1.01.
I am using conda virtual env and python=3.7
The dataset is not so big. Any clue why this is happening are highly appreciated!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89925 entries, 0 to 99999

[2020-07-16 12:18] tmontana commented on #12
It's great.  Thank you.

[2020-07-16 12:18] #12 closed

[2020-07-16 14:06] #281 closed

[2020-07-16 15:17] robert-hoyt opened #285 "No plots with unsupervised learning"
I have uploaded a file with all numerical values and wanted to run k-means to identify clusters. Based on tutorials I have gotten as far as kmean_results = assign_model(kmeans)
kmean_results.head() and it displays the rows and columns with the new column "clusters".

When I try to generate any of the plots with e.g. plot_model(kmeans, plot = 'distribution') no plots are generated. I'm not sure wha

[2020-07-16 16:06] g0lemXIV commented on #285
Have You got any error or warning message? If no, where You want to run the model? In Jupyter notebook, JupyterLab, Google Colab?

[2020-07-16 17:12] robert-hoyt commented on #285
This was run in a Jupyter Lab.

![image](https://user-images.githubusercontent.com/45010139/87701400-8b3ae480-c75d-11ea-8f82-af06295f20c5.png)

[2020-07-16 18:31] ulfsv commented on #284
I used the library datacleaner and the function autoclean which replaces missing values with median (for continuous variables) on a column-by-column basis and encodes non-numerical variables. That made the trick.

df = autoclean(data)

[2020-07-16 18:31] #284 closed

[2020-07-16 18:41] Sandy4321 opened #286 "explanations/details of your algorithms, for example how Multi-collinearity is removed?"
great package thanks!!!
1
do you have explanations/details of your algorithms?
2
for example how Multi-collinearity is removed?
2.2
Multi-collinearity: Multi-collinearity is a state of very high intercorrelations or inter-associations among the independent features in the dataset. It is a type of disturbance in the data that is not handled well by machine learning models (mostly linear algorithms)

[2020-07-16 19:10] sedy2014 opened #287 "PermissionError: [WinError 32] The process cannot access the file because it is being used by another process"
I am using anaconda environment , on windows with pycaret installed,and pycharm. i want to run a basic toy example with pycaret (not using freely available datasets), as a simple y=mx+c, where x is 1-d
[code]
this gives error:
PermissionError: [WinError 32] The process cannot access the file because it is being used by another process.
I was able to copy this into Jupyter notebook and have no erro

[2020-07-16 19:49] azharirfan opened #288 "Suggestion: Incorporate Sweetviz in Python Setup"
Sweetviz is an open source Python library that generates beautiful, high-density visualizations to kickstart EDA (Exploratory Data Analysis) with a single line of code. Output is a fully self-contained HTML application (https://github.com/fbdesignpro/sweetviz). It would be great to have such an extensive EDA option in Pycaret's setup.

[2020-07-17 03:01] Joydeep75 opened #289 "CatBoost error with plot_model() and evaluate_model()"
1.
#=================== Code with with plot_model ===================
plot_model(estimator = tuned_catbst_0) # OR plot_model(estimator = tuned_catbst_0, plot = 'AUC') # OR plot_model(estimator = tuned_catbst_0, plot = 'learning'

=============  ERROR Received with plot_model() ===================
_# An exception has occurred, use %tb to see the full traceback.
# SystemExit: (Estimator Error): CatB

[2020-07-17 06:51] g0lemXIV commented on #285
Can you try running it on Jupiter notebook, if it will be working then try to install Plotly extension for JupyterLab like [here](https://medium.com/analytics-vidhya/get-started-with-plotly-jupyter-lab-b280ddcc6008)

[2020-07-17 11:48] robert-hoyt commented on #285
Here is what happened
Collecting plotly
  Downloading https://files.pythonhosted.org/packages/bf/5f/47ab0d9d843c5be0f5c5bd891736a4c84fa45c3b0a0ddb6b6df7c098c66f/plotly-4.9.0-py2.py3-none-any.whl (12.9MB)
     |████████████████████████████████| 12.9MB 6.0MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: six in /Applications/anaconda3/lib/python3.7/site-packages (from plotly) (1.12.0

[2020-07-17 20:56] robert-hoyt commented on #285
I was able to get a plot in Jupyter Notebook, but not Jupyter Lab

[2020-07-17 21:59] #285 closed

[2020-07-18 15:54] similang opened #290 "Input contains NaN, infinity or a value too large for dtype('float32')."
Encountered this error when running `compare_models` step. However, the data does not have missing value or inf.

`print(np.any(np.isnan(X_train)),np.all(np.isfinite(X_train)))` returns False, True

Not sure what's the issue with my data.

[2020-07-18 18:01] Ojomiloju commented on #195
Hi, I'm having the same issue

[2020-07-18 18:06] GLevV commented on #132
It could be fixed with `allow_writing_files=False` when CatBoost model is initialized. It will prevent cb from writing files to disk

[2020-07-18 18:13] GLevV commented on #290
Can you please elaborate? At least add the whole error output
The problem could be not in the input data but in predictions, when they fed to function that calculates metric.

[2020-07-18 18:23] similang commented on #290
Here's the full error output.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-29-9d46714d5836> in <module>
----> 1 compare_models(sort='AUC',fold=10)

d:\anaconda\envs\pyc\lib\site-packages\pycaret\classification.py in compare_models(blacklist, fold, round, sort, turbo)
   3434

[2020-07-18 18:42] GLevV commented on #166
Downcasting to float32 instead of default float64, and int16/int32 instead of default int64 could reduce memory usage. Also, using 'category' pandas type instead of object will give gain in memory and speed.

[2020-07-18 19:03] GLevV opened #291 "Adding statistical outlier/anomaly detection via std and iqr"
It could be useful and it is very easy to implement
For std outlier: x<mean-2/3*std or x>mean-2/3*std
For iqr outlier: x<q1-1.5*iqr or x>q3+1.5*iqr

[2020-07-19 06:28] similang commented on #290
Not sure if the above error is helpful.. if needed I can share with you the data. Thanks.

[2020-07-19 07:07] NunezKant opened #293 "How exactly is the feature importance calculated?"
I was trying to get the exact value from the:

`plot_model(model,'feature')`

but I didn't found anything in the documentation related to the calculation process of that plot.

It would be a good idea to describe the calculation of every plot @pycaret

[2020-07-19 08:22] GLevV commented on #290
Can you run this on your training data, just to be sure:
`X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)`
Problem seems to occur in DecisionTreeClassifier input check, but it is not the first model in the default compare_model queue. Can you try to add it to blacklist, like this
`compare_model(blacklist=[dt])`

[2020-07-19 11:54] daikikatsuragawa opened #294 "Output prediction probability in classification"
I want PyCaret to output not only labels at the time of classification using LightGBM or logistic regression, but also their predictive probabilities. I propose extensions of such functions.

[2020-07-19 15:26] Joydeep75 opened #295 "Kaggle and Pycaret"
Hello All,

I am getting the following error 'Your notebook tried to allocate more memory than is available. It has restarted.' multiple times in a kaggle notebook in GPU mode even.

The dataset has 33,000-34,000 records.

It is breaking during the setup process,

[code]

[2020-07-19 15:28] Virajdatt commented on #294
Do you mean while training or during inference?

[2020-07-19 16:29] daikikatsuragawa commented on #294
I want PyCaret to output it during inference.

[2020-07-19 16:37] Virajdatt commented on #294
The create_model() method returns the model from sklearn, xgboost etc...
and each of these have the predict_proba method, we can use it as following

LGBM = create_model("lightgbm")

LGBM.predict_proba(test_data)

Hope this helps.

<img width="510" alt="Screen Shot 2020-07-19 at 9 05 56 PM" src="https://user-images.githubusercontent.com/20900791/87880063-3f619700-ca0c-11ea-9bb0-138dcfed3328.png">

[2020-07-19 17:06] Virajdatt commented on #276
Not sure why this is happening to you, I just tried it and didn't see any issues running pandas_profiling after installing pycaret.
Can u please add the details of the errors and the versions.

[2020-07-19 17:22] Virajdatt commented on #295
I just loaded a similar-sized dataset and built models on Kaggle with a train-dataset of (30050, 55) records and inference on
(551962, 54) records.

Can you please provide further details of the error!

[2020-07-20 00:05] Prabhu-kottapu opened #296 "Binary Classification Tutorial Level Intermediate - CLF102.ipynb - Data Profile error"
Pandas profiling step in the  tutorial is throwing  following  error "Requested level (var1) does not match index name (None)'

from pycaret.datasets import get_data
dataset = get_data('credit',profile= True)

[2020-07-20 00:33] uricod commented on #195
It was working fine then I changed the dataframe and tried
![pycaret issue](https://user-images.githubusercontent.com/50647681/87889329-0c64d680-c9ff-11ea-9fd8-cce90c8ad049.PNG)
 to rerun setup and got same error.

[2020-07-20 01:12] Joydeep75 commented on #295
So basically, my dataset has less number of (row, col) than yours, it is exactly (33126, 8). So I read train, test and submission file and check their heads. It shows fine.

After that when I perform the setup() as mentioned above. It shows that, it is consuming CPU memories gradually more and shows the above error message.

I also can mentioned that those csv files are the output from image and b

[2020-07-20 05:17] atwahsz opened #297 "Predict_model() scales features prior to prediction?"
As the title asks

All of the best

[2020-07-20 12:44] similang commented on #290
Hi, same error with the following code:

`
compare_models(sort='AUC',fold=10, blacklist=['dt'])
`
![image](https://user-images.githubusercontent.com/7208012/87938803-af822280-cac9-11ea-96ac-f80c2003f5e2.png)

[code]

[2020-07-20 16:17] GLevV commented on #290
Now it produces error in RandomForestClassifier, which is just a bunch of decision trees that you've blacklisted. Somewhy your dataset is acceptable by other classifiers and is not for tree-based methods.
It is really strange, you can try to blacklist all the tree based models (['dt', 'rf', 'et', 'ada', 'gbc']), but this is palliative. Maybe some error in preprocessing, when you setup pycaret envi

[2020-07-20 19:23] incoming-virus commented on #199
Restart the installation process again. The already installed packages will be skipped

[2020-07-20 19:31] saurabh1157 commented on #199
Hello,

Thank you for your response.

I did install miniconda and it is working fine now. My apologies for
missing the update in the forum.

Best regards,
Saurabh Olkar

On Mon, Jul 20, 2020 at 3:24 PM incoming-virus <notifications@github.com>
wrote:

[2020-07-20 23:28] pycaret commented on #273
@rijesh123 To me it seems like http failing. Can you try opening Anaconda Prompt with admin rights and then try **pip install pycaret**. If it doesn't work, can you also try **pip install pycaret-nightly**

Please let me know how it goes.

[2020-07-20 23:29] pycaret commented on #276
@SSITB Please update your pandas-profiling version using **pip install --upgrade pandas-profiling**.

Please close this issue, if this solves your problem.

[2020-07-20 23:30] pycaret commented on #280
@dplew -- please update your pandas-profiling as suggested by @ramnathv

@ramnathv - No specific reason. This issue has already been fixed in dev-1.0.1 branch. Please see **requirements.txt** for dev-1.0.1 branch.

Thanks

[2020-07-20 23:31] pycaret commented on #280
@dplew Please close this issue, if updating pandas-profiling solves your issue.

[2020-07-20 23:34] pycaret commented on #235
@ZamoraAndres Thank you so much for your help in pointing this out. Can I please ask you to install pycaret-nightly==0.28 in a new environment (or if using the same environment please uninstall pycaret first usig pip uninstall pycaret).

I have fixed this issue in pycaret.clustering plot_model( plot == 'cluster' / plot == 'tsne').

Can you please test and let me know if this is fine?

I have moved

[2020-07-20 23:35] pycaret commented on #290
@similang Can you please provide the sample dataset so that I can try to reproduce the issue on my end.

Also, can you please let me know the version of pandas and scikit-learn.

Thanks.

[2020-07-20 23:36] pycaret commented on #296
@Prabhu-kottapu Can you please provide complete message and traceback?

[2020-07-20 23:38] pycaret commented on #294
@daikikatsuragawa

When you use predict_model for inference on new dataset. Two new columns are attached to the dataframe returned. "Label" and "Score". Where Label is the actual target and "Score" is the probability of positive class.

Alternatively, what @Virajdatt suggested is also right. Incase you want to create your own inference, you can use predict_proba method on estimator.

Hope this hel

[2020-07-20 23:40] pycaret commented on #294
@daikikatsuragawa See this example:

![image](https://user-images.githubusercontent.com/58118658/87996619-ca9c6480-cac0-11ea-9920-b2f8fcbc026a.png)

If this helps, please close the issue.

[2020-07-20 23:41] pycaret commented on #289
@Joydeep75  Thanks. I tried to put a clear message as an exit.

SystemExit: (Estimator Error): CatBoost estimator is not compatible with plot_model function, try using Catboost with interpret_model instead._

Unfortunately catboost is not compatible with our plotting API.

[2020-07-20 23:42] pycaret commented on #297
@atwahsz Yes. If you have scaled / transformed your data during setup(), the transformers are stored in pipeline and when you infer new data using **predict_model** function, It will apply all the preprocessing before generating predictions.

Hope this helps.

[2020-07-20 23:43] pycaret commented on #295
@Joydeep75 When you are committing your Kaggle Notebook, are you passing **silent = True** in **setup()**.

Please provide complete message and sample of dataset so that I can reproduce the issue.

[2020-07-20 23:43] #297 closed

[2020-07-20 23:44] #289 closed

[2020-07-21 02:18] Prabhu-kottapu commented on #296
Sure here it is

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-42-be28a0622719> in <module>
      1 from pycaret.datasets import get_data
----> 2 dataset = get_data('credit',profile = True)

/anaconda3/lib/python3.6/site-packages/pycaret/datasets.py in get_data(dataset, save_cop

[2020-07-21 07:30] SSITB commented on #276
Hi, i was not able to run the above **pip install --upgrade pandas-profiling.** and got the below error

ERROR: pycaret 1.0.0 has requirement pandas-profiling==2.3.0, but you'll have pandas-profiling 2.8.0 which is incompatible.

even when i tried to run after pip install
pip install --upgrade pycaret

i got
Successfully uninstalled pandas-profiling-2.8.0
Successfully installed pandas-profiling-2.

[2020-07-21 09:22] subhash-tm opened #298 "ploting issue"
i want to plot validation curve(VC) and learning curve for decision tree but both the fig overlaping each other.
plot_model("dt",plot = 'vc').fig.savefig(fig1.jpg)
plot_model('dt',plot = 'learning').fig.savefig(fig2.jpg)
here fig1 overlap on fig2

[2020-07-21 15:02] dplew commented on #280
Thank you @ramnathv and @pycaret.  This solves the problem.

[2020-07-21 15:02] #280 closed

[2020-07-21 17:37] similang commented on #290
Files are big:

X_train: https://drive.google.com/file/d/1EXyVnpMpC7DgrNV88YbfCCUf8gA7ZAD5/view?usp=sharing
y_train: https://drive.google.com/file/d/1qXJ-b0YKQQ06JC7FO4SdNy_7hm7GgVJ7/view?usp=sharing

If too large to download, I will redo - with some sub-sampling - as I don't know which rows are with mistakes.

Also on the version:
![image](https://user-images.githubusercontent.com/7208012/8808769

[2020-07-21 21:28] singhrishu opened #299 "Unable to execute compare_models()"
File attached .
[pycaret_error.docx](https://github.com/pycaret/pycaret/files/4956346/pycaret_error.docx)

[2020-07-21 23:55] Joydeep75 commented on #295
Yes I have used both 'with' and 'without', silent = True in setup(). The actual code snippet is mentioned in my first message.

[2020-07-22 00:02] Joydeep75 commented on #289
I understand and I have used `interpret_model()`. But the output functionality of  `plot_model()` and `interpret_model()` are both different. Hence `interpret_model()` is not THAT helpful as 'plot_model()'. Moreover, `evaluate_model()` is also based on `plot_model()`. So is there any other way to get the functionalities of 'plot_model()' for CatBoost?

[2020-07-22 03:40] ritika1317 opened #300 "pip install pycaret error"
Error message log :

pip install pycaret
Collecting pycaret
  Using cached https://files.pythonhosted.org/packages/c7/41/f7fa05b6ce3cb3096a35fb5ac6dc0f2bb23e8304f068618fb2501be0a562/pycaret-1.0.0-py3-none-any.whl
Collecting wordcloud (from pycaret)
  Using cached https://files.pythonhosted.org/packages/7e/ea/e531ac225713af626d1d2d108ec4774ffdde54ac83c5c863b42a72e4a164/wordcloud-1.7.0-cp37-cp37m-ma

[2020-07-22 06:47] MislavSag commented on #16
I just want to confirm it works for me `html=False`. I use VSCode.

[2020-07-22 08:50] sumeshmr opened #301 "MLflow tracking server"
Hello,

Waiting for your next release and MLflow integration. Hope you will support MLflow remote-tracking server as well.

https://mlflow.org/docs/latest/quickstart.html#logging-to-a-remote-tracking-server

[2020-07-23 10:24] acipolletti opened #302 "Pycaret is Multithreading ?"
Hi, i'm trying to use pycaret in order to create multiple model : iforest and svm, concurrently, using multiple threads. But the pycaret seem to be not thread save. It is correct ? If pycaret can be used in a multithreads env how we should setup and use it?
Thanks in advance Antonio

[2020-07-23 12:42] reenal commented on #214
Hi @Taneja-Siddharth

step1)  go to your your pycaret environment  whichever you are using activate it
step2)  pip install --upgrade pandas-profiling
sterp3) environment  go to where all library are insatlled (in  my case) C:\Users\hp\AppData\Roaming\Python\Python36\site-packages\pycaret
step4) open datasets.py
from IPython.display import display
step5)
run code
from pycaret.datasets import get_da

[2020-07-23 13:51] reenal commented on #300
@ritika1317
please  mention which python version you are using
1)please create new environment  with python version 3.6
then try to install pycaret
and update pip install --upgrade pandas-profiling

[2020-07-24 10:53] fargoca commented on #299
Seems like your XGBoost library isnt property installed. Try re installing it separately
pip install XGBoost

[2020-07-24 16:52] MattiaVerticchio opened #304 "GPU acceleration for scikit-learn via H2O4GPU"
`pycaret` is great, however, there’s no GPU support. I’m using it Google Colab and it can be very slow with large datasets. Can I suggest using [H2O4GPU](https://github.com/h2oai/h2o4gpu) as a replacement for scikit-learn? It’s available as a [Python package](https://pypi.org/project/h2o4gpu/).

[2020-07-25 04:39] vis5254 opened #305 "Request to analyse Overfitting and Underfitting"
First of all , thanks for this remarkable tool .
One of the most common confusion is trade off between bias-variance . So what if there was a way to plot a graph denoting the chance of overfitting and underfitting .

[2020-07-26 11:23] Yard1 commented on #304
h2oai seems to have issues with python > 3.6, doesn't it?

[2020-07-27 16:34] VinayakDataScience opened #308 "Getting error while executing this code"

[2020-07-27 16:34] VinayakDataScience opened #309 "Getting error while executing this compare models code"
ImportError: DLL load failed: The paging file is too small for this operation to complete.

[2020-07-27 16:35] VinayakDataScience commented on #309
  |   |  
-- | -- | --

. . . . . . . . . . . . . . . . . . | 22:02:23
. . . . . . . . . . . . . . . . . . | Loading Dependencies
. . . . . . . . . . . . . . . . . . | Compiling Library
. . . . . . . . . . . . . . . . . . | Calculating ETC

[2020-07-28 03:06] davidgibsonp commented on #293
Depends on what model you are using. Looks like the [plot_model(model,'feature')](https://github.com/pycaret/pycaret/blob/e842c8fef42194f2b275654b62abd37fef0ca5fa/classification.py#L2968) will just call `feature_importances_` or `coef_`. So refer to the model docs to see how these are calculated.

For example:
- [sklearn.linear_model.LogisticRegression](https://scikit-learn.org/stable/modules/gene

[2020-07-29 15:32] rijesh123 commented on #273
@PyCaret Thank you.
Previously I tried "pip install PyCaret" in Anaconda prompt, but didn't work.
I will request again for Admin access on my office machine and will try >> pip install pycaret-nightly
I will let you know if that works

[2020-07-29 23:26] pycaret commented on #301
Yes it will.

[2020-07-30 05:39] sumeshmr commented on #301
I did not see the option to set **mlflow.set_tracking_uri** in the code:
https://github.com/pycaret/pycaret/blob/dev-1.0.1/pycaret/classification.py

[2020-07-30 06:09] yashmehta10 commented on #300
You can also try using use Anaconda. Create anaconda environment and then use pip install pycaret inside the environment.

[2020-07-30 13:22] GLevV commented on #295
It is not the CPU problem, it's RAM. In CPU mode you will have around 16GB, and in GPU it will be 14GB (so switching to GPU is the opposite of the solution). I don't know the internals of pycaret, so the only advice I can give is try to downcast as many variables as possible.

[2020-07-30 17:35] nkalhan commented on #84
any update.. i still have this error:

from pycaret.classification import *
clf1 = setup(data = data, target = 'Division', high_cardinality_features= ['Account Name'])

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-5-16b4a43fd42a> in <module>
      1 from pycaret.classification

[2020-07-30 19:18] #6 closed

[2020-07-30 19:18] #7 closed

[2020-07-30 19:19] #16 closed

[2020-07-30 19:19] #20 closed

[2020-07-30 19:20] #24 closed

[2020-07-30 19:20] #36 closed

[2020-07-30 19:20] #37 closed

[2020-07-30 19:21] #43 closed

[2020-07-30 19:22] #68 closed

[2020-07-30 19:28] #89 closed

[2020-07-30 19:28] #91 closed

[2020-07-30 19:29] #90 closed

[2020-07-30 19:30] #119 closed

[2020-07-30 19:31] #127 closed

[2020-07-30 19:32] #9 closed

[2020-07-30 19:32] #179 closed

[2020-07-30 19:32] #202 closed

[2020-07-30 19:33] #225 closed

[2020-07-30 19:33] pycaret commented on #229
@DJ-LYH Yes

[2020-07-30 19:34] pycaret commented on #301
@sumeshmr You can include this code in your notebook or script to set tracking uri

import mlflow
mlflow.set_tracking_uri()

https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.set_tracking_uri

It worked for me. Please close the issue if this resolves your problem.

[2020-07-30 19:34] #265 closed

[2020-07-30 19:35] #269 closed

[2020-07-30 19:36] pycaret commented on #219
shuffle parameter now available in **pycaret-nightly**

[2020-07-30 19:36] #219 closed

[2020-07-30 19:37] #135 closed

[2020-07-30 19:37] #136 closed

[2020-07-30 19:38] #263 closed

[2020-07-30 19:39] #261 closed

[2020-07-30 21:44] #245 closed

[2020-07-30 21:45] #235 closed

[2020-07-30 21:45] #229 closed

[2020-07-30 21:45] #187 closed

[2020-07-30 21:46] pycaret commented on #186
pull function now available in **pycaret-nightly**

[2020-07-30 21:46] #186 closed

[2020-07-30 22:05] #96 closed

[2020-07-30 22:11] #100 closed

[2020-07-30 22:12] #157 closed

[2020-07-30 22:12] #158 closed

[2020-07-30 22:18] #173 closed

[2020-07-30 22:30] #190 closed

[2020-07-30 22:30] #201 closed

[2020-07-30 22:31] pycaret commented on #241
Function available in PyCaret 2.0. please check documentation.

[2020-07-30 22:31] #241 closed

[2020-07-30 22:31] #102 closed

[2020-07-30 22:32] #117 closed

[2020-07-30 22:32] #193 closed

[2020-07-30 22:33] pycaret commented on #248
@skrunt7 Thanks for reporting. If you update your **pycaret-nightly** now. It should work. Thanks

[2020-07-30 22:33] #248 closed

[2020-07-30 22:34] pycaret commented on #164
Added **n_jobs** parameter in **setup**.

Please install **pycaret-nightly** or **pycaret==2.0**

[2020-07-30 22:34] #164 closed

[2020-07-30 22:35] pycaret commented on #276
@SSITB Can you try to reproduce the same error with **pycaret-nightly**?

[2020-07-30 22:39] pycaret commented on #304
@MattiaVerticchio Can you have a look at code on dev-1.0.1 branch? Maybe you would like to work on including this?

[2020-07-30 23:03] nkalhan opened #311 "ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2"
Have already installed pycaret-nightly but still have this error:

My code is:

from pycaret.classification import *
pce_1 = setup(data= lda_data, target = 'Division', session_id=23, train_size=0.80)

--------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-11-6815b39b1ac4> in <module>
----

[2020-07-30 23:07] #143 closed

[2020-07-30 23:20] #294 closed

[2020-07-31 14:36] swankyshahir commented on #155
hi, even i had the same problem, but on doing value counts of the target variable i found that one of the class value_counts was less than 2, so not possible to split the data into folds properly, so i removed that row which contained that instance and the problem was solved. Thanks Moezali and team for making this amazing stuff.

[2020-07-31 14:36] swankyshahir commented on #155
and yes it was a classification problem

[2020-07-31 19:13] mahmoudyusof commented on #311
telling by reading the error message, I can tell that the data you have is too skewed because one of the classes has only one sample which is too few, adding one more sample of the same class to the data or removing this class altogether should solve the problem.

[2020-07-31 19:46] mahmoudyusof commented on #296
@frh2020 @Prabhu-kottapu  they both work now with the new release pycaret==2.0 try upgrading and try again

[2020-07-31 20:39] sparvaneh opened #313 "Question: Providing train and test sets to Pycaret 2"
Congratulation on releasing Pycaret 2!
I have training and test sets that are created outside of Pycaret. Can I use Pycaret 2 with those datasets?

[2020-08-01 10:05] MattiaVerticchio commented on #304
Support for Python >3.6 is been worked on [right now](https://github.com/h2oai/h2o4gpu/pull/842).

Sure, I’ll  replace `sklearn` with `h2o4gpu` and test it on the tutorial examples. 👍

[2020-08-01 12:25] swankyshahir opened #314 "How to see all the feature importances, only top ten features are shown"
Dear sir/madam,
when i plot  the feature importance via
`plot_model(lr, plot='feature' , )`

i get to see only the top ten features. How do i see the importance of all the features.

[2020-08-01 17:32] swankyshahir commented on #311
Check value_counts of the target class and drop the row that has only one instance of it or add rows with more instances of the ssame.

[2020-08-01 19:29] MANISH007700 commented on #300
try this ,
go to your jupyter notebook and write

!pip install pycaret

 , it will be resolved

[2020-08-01 19:31] MANISH007700 commented on #273
try
 !pip install pycaret
in your notebook

[2020-08-02 05:22] eonsmile opened #315 "Logs.log"
Anyway to disable auto outputting of logs.log via some flags?

[2020-08-02 05:45] eonsmile opened #316 "Comparing tuned models"
Anyway to compare tuned models instead of raw untuned models?  Some models perform much better after tuning and it's good if these can "survive" the initial rounds with compare_models.

[2020-08-02 10:10] mtdearing opened #317 "AttributeError in plot_model for 2D Cluster PCA Plot"
For a clustering model I've been working on with pycaret pre-2.0, I was generating the PCA plot successfully. I updated to 2.0, and receive the error below when running plot_model(<my_model>, plot='cluster').  The other plot types, e.g., 'elbow', generate a plot output without an error. Does the error below suggest I would have a feature format issue in my dataset?

[code]

[2020-08-02 11:05] ngupta23 opened #318 "Spacy language model error in NLP example"
I get the following error when running the NLP example in the examples folder. Looks like Spacy needs to be installed

[code]

[code]

[2020-08-02 11:20] ngupta23 commented on #318
The solution is to add the following 2 lines to the notebook code

[code]

[2020-08-02 11:39] ngupta23 opened #319 "plot_model, evaluate_model and mlflow not producing any output in jupyter lab"
When I run the `plot_model`, `evaluate_model` and `mlflow` code cells in the NLP example notebok, they do not produce any output for me (just a blank space). I am using `jupyter lab`.

## Empty plot cells

![image](https://user-images.githubusercontent.com/33585645/89122130-8a5ac000-d48a-11ea-8fd2-eaaab7b93398.png)

## MLFlow
**The mlflow cell has been running for a long time without any output (I

[2020-08-02 12:04] ngupta23 commented on #319
# Update

`plot_model` and `evalaute_model` seems to work ok in `jupyter notebook` but not in `jupyter lab`. This seems to a `jupyter lab` specific problem.

I am still having issues running the following cell in `jupyter notebook`. It does not launch anything or produce an output.

[code]

[2020-08-02 13:45] pycaret commented on #311
@nkalhan If this solves your problem, please close then issue :)

[2020-08-02 13:48] pycaret commented on #319
@ngupta23 **plot_model** and **evaluate_model** is a known issue for Jupyter Lab. Would you like to have a look at code and try to troubleshoot?

For the second issue, can you please open localhost:5000 on your browser, it should open up MLFlow server. You can stop/interupt the last cell of your notebook and continue working. The server should stay up. Please let me know if that helps.

Even that

[2020-08-02 13:50] pycaret commented on #318
@ngupta23 This is the exception exit. Unfortunately "!python -m spacy download en_code_web_sm" cannot be part of the code. Therefore, in the documentation or also in the docstring of setup I have included that language model must be downloaded separately.

Once you have it downloaded, you won't get this error. The second line "spacy.load. .. " is part of pycaret.nlp setup function code.

[2020-08-02 13:50] #318 closed

[2020-08-02 13:55] pycaret commented on #313
@sparvaneh One hack around would be to use set_config parameter to change X_train, X_test, y_train and y_test after setup function is completed but in this case you cannot use inference pipeline of PyCaret for production because you have overwritten all the preprocessing by using set_config. Example:

**# load X_train, X_test, y_train, y_test**
X_train = pd.read_csv('X_train.csv)
X_test = pd.read_

[2020-08-02 13:56] pycaret commented on #315
@eonsmile Nope. Is there is a reason you want to disable? Maybe we can mark this as enhancement and somebody can work on making this functionality optional, if that make sense.

[2020-08-02 13:57] pycaret commented on #314
@swankyshahir

You can always call .coef_ or feature_importances_ method on model if it supports that. For example:

lr = create_model('lr')
lr.coef_

rf = create_model('rf')
rf.feature_importances_

Hope this helps.

[2020-08-02 13:57] #314 closed

[2020-08-02 13:59] pycaret commented on #305
@vis5254 Do you have any proposal or suggestion of visual? Please include examples.

[2020-08-02 14:00] pycaret commented on #302
@acipolletti

Yes it does. Please update PyCaret to 2.0 and use n_jobs parameter in setup function. By default is set to -1.

Hope this helps.

[2020-08-02 14:00] #302 closed

[2020-08-02 14:00] pycaret commented on #309
@VinayakDataScience

Can you please share more details about environment, version, OS, python etc and complete trace back for error message.

Thanks

[2020-08-02 14:01] pycaret commented on #317
@mtdearing Could be due to some formatting issues. I cannot reproduce the error on different datasets. Can you please share "logs.log" file generated in the working directory along with sample dataset? I can have a look into it. Most likely a bug that needs to be fixed.

[2020-08-02 14:02] #308 closed

[2020-08-02 14:41] eonsmile commented on #315
It's not something I need in my workflow, so I don't want some extra unnecessary files in my working directory.

[2020-08-02 14:50] pycaret opened #320 "Example Notebook Contributions Needed"
Do you have a Notebook you created using PyCaret you want to showcase?

Then, we need you.

Submit a pull request under examples on master branch. Address: https://github.com/pycaret/pycaret/tree/master/examples

A good notebook must include:

👉 Version used to develop (1.0 or 2.0) and last date updated
👉 Problem Statement: 4 - 5 lines about the use-case
👉 Data Description / EDA (highly recommende

[2020-08-02 14:57] #10 closed

[2020-08-02 14:58] pycaret commented on #21
Help wanted.

Can somebody please create a conda distribution for pycaret==2.0 so that users can also install pycaret using "conda install pycaret"

Reach out moez.ali@queensu.ca if discussion needed.

[2020-08-02 14:59] nkalhan commented on #311
Thank you for your reply:
after following your advice, I am getting different error now...

Here is the code below:

from pycaret.classification import *
exp_clf_1 = setup(data, target='Division', high_cardinality_features=['Account Name'], high_cardinality_method='clustering')

![Dataset Description](https://user-images.githubusercontent.com/54247640/89125832-7b532c80-d4e1-11ea-91a8-020994d83243.

[2020-08-02 15:00] pycaret commented on #114
Help wanted.

Can somebody please work on to include this functionality in **save_model** and **load_model** function in **pycaret.classification pycaret.regression pycaret.clustering pycaret.anomaly and pycaret.nlp**. New parameter "format" should be added. Default should be ".pkl". When format is set to ".pmml", pipeline should be saved as .pmml.

Reach out moez.ali@queensu.ca if discussion need

[2020-08-02 15:42] pycaret commented on #178
@ghcmartins With PyCaret 2.0 you can use custom models in **create_model** function. I tried install ModifiedNB and try fitting it on 'juice' dataset. This is the error I get.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-7-41725f07525b> in <module>
      3 from ModifiedNB impo

[2020-08-02 15:43] #192 closed

[2020-08-02 15:54] pycaret commented on #301
@sumeshmr Can we close this issue?

[2020-08-02 16:13] ngupta23 commented on #319
I don't have any luck running mlflow from the command line either.  I get this (below), but nothing happens even when I paste that localhost link in the browser

[code]

[2020-08-02 16:19] ngupta23 opened #321 "Anomaly Detection plot_model errors"
I am getting a couple of errors when running plot models in the anomaly detection beginner tutorial. I am running this in Jupyter Notebook

# TSNE

Plot is empty

![image](https://user-images.githubusercontent.com/33585645/89127251-bdfd1080-d4b1-11ea-9a58-6fe297255ec4.png)

# UMAP

[code]

Error as shown below - related to numba

[code]

[2020-08-02 16:21] ngupta23 opened #322 "Anomaly Detection save_model errors"
I am getting an error when I try to save a model from the anomaly detection module (from example tutorial). It looks like pickling is not supported or not working as expected.

[code]

[code]

[2020-08-02 16:31] ngupta23 opened #323 "Clustering setup not working"
I am using Jupyter Notebook to run the clustering example (beginner), but I get this error when I run the setup function

[code]

[code]

[2020-08-02 16:41] pycaret commented on #323
@ngupta23 Seems like a **numba** issue. Can you confirm if you are using any virtual environment (virtualenv or conda)? If not I highly recommand using conda environments. See pycaret.org/install for installing pycaret within new conda environment.

Irrespective, can you try this on command line:

1. Uninstall numba using pip
pip uninstall numba

2. Reinstall using conda dist
conda install numba

[2020-08-02 16:43] pycaret commented on #322
@ngupta23 I cannot reproduce the below error. Can you please confirm if you are using any virtual environment? If not, I highly recommend using conda environment. Please see https://pycaret.org/install for more details.

Can you share version of your pyod and joblib you are using.

[2020-08-02 16:44] pycaret commented on #321
@ngupta23 Can you please uninstall numba using pip and reinstall using conda.

# uninstall using pip
pip uninstall numba

# install using conda
conda install numba

Please closet the issue if this solves the problem.

[2020-08-02 16:45] pycaret commented on #316
@eonsmile This is not possible at the moment. I am tagging **enhancement** on this issue for future versions.

[2020-08-02 17:00] ngupta23 commented on #321
This works after upgrading the version of numba (0.49 --> 0.50), but I only see a blank output cell in jupyter notebook. Seems like a rendering issue. Do you know how to resolve it?

Also, I just installed pycaret this morning into its own anaconda env (previously had 1.0 installed, but today's installation overwrote it with 2.0). Do you know why the right version of numba would not be installed?

[2020-08-02 17:01] ngupta23 commented on #322
Yes, I am using a conda environment just to test out pycaret. I just installed pycaret this morning. Looks like the fix for https://github.com/pycaret/pycaret/issues/321 worked for this as well (installing the latest version of numba fixed the issue), probably because some other dependencies got updated too.

[2020-08-02 17:02] #322 closed

[2020-08-02 17:07] ngupta23 commented on #323
Yes, looks like that resolved the issue. But I just installed PyCaret today morning into its own conda env (overwrote previous installation of version 1.0), but it looks like it did not install the latest numba version. See more details in https://github.com/pycaret/pycaret/issues/321.

I will close this for now since the immediate issue has been resolved.

[2020-08-02 17:07] #323 closed

[2020-08-02 17:33] nkalhan commented on #245
Hi, I have the same error now: I used the below code:
(Downloaded the new Pycaret 2.0 as well)

from pycaret.regression import *
reg1 = setup(data, target='Division', high_cardinality_features=['Account Name'] , high_cardinality_method='clustering', remove_multicollinearity=True , session_id=123)

---------------------------------------------------------------------------
ValueError

[2020-08-02 17:35] nkalhan commented on #245
Hi, I have the same error now: I used the below code:
(Downloaded the new Pycaret 2.0 as well.)

from pycaret.regression import *
reg1 = setup(data, target='Division', high_cardinality_features=['Account Name'] , high_cardinality_method='clustering', remove_multicollinearity=True , session_id=123)

ValueError Traceback (most recent call last)
in
1 from pycaret.regression import *
----> 2 reg1 = se

[2020-08-02 19:16] korakot opened #325 "Link to Stack Overflow"
I have created the tag `pycaret` and marked some questions using the tag.

You can link to those questions and other future pycaret questions using this link

https://stackoverflow.com/questions/tagged/pycaret

Please update the link at the footer of web pages.

[2020-08-02 19:43] pycaret commented on #325
@korakot Thanks for doing that. I will update footer on website soon.

[2020-08-03 00:50] nkalhan commented on #84
i tried the recommendation of label class atleast 2... i still have this error:

from pycaret.classification import *
reg1 = setup(data, target='Division', high_cardinality_features=['Account Name'], train_size=0.2 , folds_shuffle=True)

ValueError Traceback (most recent call last)
in
1 from pycaret.classification import *
----> 2 reg1 = setup(data, target='Division', high_cardinality_features=['A

[2020-08-03 02:29] morestart opened #327 "ConnectionRefusedError"
[code]

this is full link `https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/juice.csv`

i see the source code use pd.read_csv to get the csv data, but it will get urlopen error

i change the get data part to this:
[code]

it work

[2020-08-03 05:25] sumeshmr commented on #301
Yes please

[2020-08-03 07:53] shadowWalker404 commented on #197
hi @pycaret，
I have the same problem. I load the juice data from pycaret.dataset by get_data('juice').
and when I setup,the kernel will restart.   (jupyter notebook)

[2020-08-03 08:01] RockLeeStudio opened #328 "alembic can't be installed"
ERROR: Command errored out with exit status 1:
   command: 'c:\app\python3\python.exe' 'c:\app\python3\lib\site-packages\pip' install --ignore-installed --no-user --prefix 'C:\Users\100026~1\AppData\Local\Temp\pip-build-env-h4yb0t20\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- 'setuptools>=40.8.0' wheel
       cwd: None
  Complete output

[2020-08-03 10:03] RockLeeStudio commented on #328
solved.

[2020-08-03 10:03] #328 closed

[2020-08-03 10:46] u1353279 opened #329 "compare model(n_select=5) not working in google colab ImportError: cannot import name 'six'"
Getting error ImportError: cannot import name 'six' when running compare_models()

ive tried to import the library but still same issue

[2020-08-03 11:23] acipolletti commented on #302
Thanks for answer, but my question was a bit different: can i run the functions setup and create_model concurrently in different threads?
Thanks in advance.

[2020-08-03 11:33] chamsdg opened #330 "SystemExit: (Type Error): using Tune_Model"
Hello, when i want to tune my model in jupyterLab
I get this error:

An exception has occurred, use %tb to see the full traceback.

SystemExit: (Type Error): The behavior of tune_model in version 1.0.1 is changed. Please pass trained model object.

Need help me

[2020-08-03 11:36] chamsdg commented on #330
i find the solution of my error

[2020-08-03 11:36] #330 closed

[2020-08-03 11:43] moritzwilksch opened #331 "Inference and Setting of categorical_features does not work with pandas categoricals"
Hey, I was just messing around with the seaborn-included "tips" dataset when I noticed the following:

- when features in the data frame have the type "categorical" they are not inferred as categorical. Instead, the type in the inferred table is just an empty string.
- when manually passing `categorical_features` = [...] the behaviour **does not change**, it does not override anything
- when manua

[2020-08-03 12:19] Yxang commented on #125
I also had this issue and solved it by using a proxy. I believe this is caused by the Great Firewall of China.

[2020-08-03 14:13] pycaret commented on #331
@moritzwilksch Can you please share the sample of the dataset here?

[2020-08-03 14:13] pycaret commented on #327
@morestart Whats the version of your pandas library?

[2020-08-03 14:20] #325 closed

[2020-08-03 14:26] pycaret opened #332 "Mailing list needed"
# Need help

Need someone who can help setting up the mailing lists. Please reach out moez.ali@queensu.ca if discussion needed.

Thanks.

[2020-08-03 14:28] moritzwilksch commented on #331
It is included with seaborn so:

[code]

or via direct download from:
https://github.com/mwaskom/seaborn-data/blob/master/tips.csv

It looks like this:
![image](https://user-images.githubusercontent.com/58488209/89193165-e2d2b000-d5a5-11ea-9d34-8e1f71e8f47c.png)

But running:
[code]

gives:
![image](https://user-images.githubusercontent.com/58488209/89193309-1a415c80-d5a6-11ea-8943-aca8226b1228.pn

[2020-08-03 14:28] pycaret commented on #321
@ngupta23 not sure about that. Did you do pip uninstall pycaret==1.0 before installing pip install pycaret==2.0? I am not sure if that's the reason, just trying to document as much as we can.

[2020-08-03 14:29] pycaret commented on #315
@eonsmile At the moment it;s not possible to disable system logs. However if you want you can delete the file using os module.

[2020-08-03 14:31] pycaret commented on #329
@u1353279 Can you please provide complete traceback. I can't seem to reproduce this error in Google Colab.

Can you try pip install six?

[2020-08-03 14:41] iEvidently opened #333 "NLP setup error in Mac OS"
Please, I am unable to run NLP on my Mac system, install all necessary packages:

`
[code]
`

[2020-08-03 14:47] #333 closed

[2020-08-03 15:20] u1353279 commented on #329
Yes i tried it, however it said its already satisfied.
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 15:31
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in google colab ImportErr

[2020-08-03 15:21] MattiaVerticchio commented on #304
I swapped `sklearn` with `h2o4gpu` [for supported calls](https://github.com/pycaret/pycaret/compare/dev-1.0.1...MattiaVerticchio:dev-1.0.1) and tried to `compare_models()`. There’s an overall 20% reduction in comparing times and `GradientBoostingClassifier` had a drop of ~90% in training time when running the Beginner Classification tutorial.

In my opinion, it could be a good improvement in train

[2020-08-03 15:22] u1353279 commented on #329
[cid:0b92e166-e57b-4d34-8b89-1dd510f76926]
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 15:31
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in google colab ImportError: cannot i

[2020-08-03 15:23] u1353279 commented on #329
sorry, i didnt read the first line of your email, i'll send a screenshot over
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 15:31
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in

[2020-08-03 15:23] sathishkumar369 opened #334 "custom parameters are not working for clustering algorithms."
Hi pycaret team!
Loved your work for pycaret 2.0 version.

custom parameters are not working for clustering algorithms, I have customized parameters for kmeans as well as dbscan. it's throwing an error.
I checked for the classification one with random forest by changing criterion= "gini to entropy", it's worked well.

PFA.
![Screenshot (324)](https://user-images.githubusercontent.com/40235632/8919

[2020-08-03 15:24] daikikatsuragawa opened #335 "Apply Python code formatter"
How about using a code formatter like [black](https://github.com/psf/black) to unify the format?

[2020-08-03 15:25] u1353279 commented on #329
code below

[cid:fc8b98c9-c50f-4053-b967-9548739f5287]

[cid:913d4d41-faa9-435c-903a-d47146fdfaa4]
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 15:31
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_sel

[2020-08-03 15:46] daikikatsuragawa opened #337 "List of unit tests that need to be added"
- [x] test_arules.py  #338
- [x] test_datasets.py #365
- [x] test_nlp.py https://github.com/pycaret/pycaret/commit/773f14329a7ec8208aded68afae272c7808acfec
- [x] test_preprocess.py #409
- [x] test_utils.py #393

[2020-08-03 17:18] chamsdg opened #339 "KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'"
hello when i applies fix_imbalance = True for my dataset churn

and i do model = compare_models() i get the below error

**KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'**

somebody can help me

[2020-08-03 17:55] swankyshahir commented on #314
lr.coef_ gives this output .....long array !!!! i dont think i have this many columns even after accounting for any number of one-hot encoding... also anyway to map the columns/print the columns ,  after transformation...???

array([[ 2.32325073e-01, -3.14324234e-01,  4.79592959e-01,
        -3.63525747e-01,  1.07050221e-01,  8.46515322e-01,
         6.21041569e-01, -4.27698354e-01, -7.23787023e-0

[2020-08-03 20:29] SSITB commented on #276
Ya it worked in pycaret-nightly

[2020-08-03 20:29] #276 closed

[2020-08-03 21:07] SSITB opened #340 "Compare_models add Model Abreviation"
Hi,

When running the compare_models, can you add the model abbreviation instead of going to the documentation always.

Regards

[2020-08-03 22:45] pycaret commented on #337
@daikikatsuragawa Thanks for working on this.

Will be waiting for rest of the tests.

[2020-08-03 22:46] pycaret commented on #331
@moritzwilksch Thanks for reporting. PyCaret doesn't work with categorical data type of pandas df. Can you please change the data type to object before passing to pycaret. Please let me know if that works? Thanks

[2020-08-03 22:46] pycaret commented on #329
@u1353279 I don't see any code traceback. What's the version of sklearn you are using?

[2020-08-03 22:47] pycaret commented on #335
@daikikatsuragawa Thanks. I will have a look at this. Thanks for submitting PR.

[2020-08-03 22:48] pycaret commented on #339
@chamsdg Please provide complete traceback message. Environment you are using, sample code and dataset if possible.

[2020-08-03 22:48] pycaret commented on #334
@sathishkumar369 Thanks for reporting. This is a bug (only impacting DBSCAN in pycaret.clustering).

[2020-08-03 22:50] pycaret commented on #340
@SSITB

You can use models() function to get the name and id's together. You can always attach it back in compare_models dataframe if you would like.

[2020-08-03 22:50] #340 closed

[2020-08-03 22:54] u1353279 commented on #329
I’ll take a look, it’s version 0.22.2

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PyCaret <notifications@github.com>
Sent: Monday, August 3, 2020 11:47:09 PM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select

[2020-08-03 23:02] u1353279 commented on #329
i've just upgraded my sklearn version to 0.23.1 but still same error
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 15:31
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in google c

[2020-08-03 23:54] sparvaneh opened #342 "Skipping Imputation"
Hi,

Is there anyway to disable imputation in setup?

[2020-08-04 00:34] morestart commented on #327
my pandas version is 1.1.0

[2020-08-04 03:24] pycaret commented on #210
# Feature available in PyCaret 2.0

## A new function **get_config()** has been added
https://www.pycaret.org/get-config

[2020-08-04 03:24] #210 closed

[2020-08-04 03:27] pycaret commented on #260
# Feature available in PyCaret 2.0

## A new function **get_config()** has been added in PyCaret 2.0. (pip install pycaret==2.0)
https://www.pycaret.org/get-config

[2020-08-04 03:27] #260 closed

[2020-08-04 03:30] pycaret commented on #304
@MattiaVerticchio It looks great. I can't understand why metrics for Logistic Regression is messed up. I agree with the change but we must handle it through setup function. That's where all the global variables are declared. We will create a new parameter "use_gpu" in setup function and then declare it global and make important dependent on the global variable. I will write a detailed user story i

[2020-08-04 03:36] pycaret commented on #148
@amjadraza Hi Amjad, Sorry for this long delay in getting back. Since PyCaret 2.0 is now released, I was planning to include this functionality in next sprint (2.1). Let me know if you have availability to work on this? I think you have already done most of the work, its just the testing.

We will have to incorporate this change in deploy_model function in all modules separately as the function us

[2020-08-04 03:38] pycaret commented on #298
@subhash-tm Which version of PyCaret are you using?

[2020-08-04 03:38] pycaret commented on #300
@ritika1317 Is this problem resolved?

[2020-08-04 04:43] sathishkumar369 commented on #334
Hi Moez,
Not only for dbscan, even I checked for kmeans.
It's throwing same error.
I guess keyword arguments kwargs** are not interpreted properly to clustering algorithms.

[2020-08-04 05:01] yashmehta10 commented on #184
I could only think of this workaround for time-being.
Try selecting target=target1 and ignore_features=[target2] to train classifier 1,
then target=target2 and ignore_features=[target1] to train classifier 2.
I hope this works!

[2020-08-04 05:11] yashmehta10 opened #344 "How to manually set learning rate ?"

[2020-08-04 06:45] rijesh123 commented on #273
Thanks @MANISH007700
I have tried this..but no luck

[2020-08-04 06:50] MANISH007700 commented on #273
You can try onething !

First write
!pip install pycaret
In your notebook. Let it run. If it's showing error  , let it be

Then try import pycaret. And if now there is no error. You can continue , or else you can try wheel building

[2020-08-04 06:54] amjadraza commented on #148
@pycaret, I understand your point. I had tested the functionality using google colab. Let me fork the Latest version and add the extra modules.

I can work on it and will send you the pull request soon.

Thanks

[2020-08-04 07:45] yairdata opened #345 "option to deploy to JVM environments"
would be good to be able to export the model + transformation pipeline to format that will allow to infer in a real time environment like a JVM.
pmml, mleap or native API will be great options.

[2020-08-04 08:12] #300 closed

[2020-08-04 08:12] ritika1317 commented on #300
Yes, its resolved now.

[2020-08-04 09:24] chamsdg commented on #339
@pycaret  i work in windows using jypyterLab
my code is bellow:

`from pycaret.classification import *
train = setup(data, target = 'Exited', train_size = 0.8, fix_imbalance = True, fix_imbalance_method = None, session_id = 123, log_experiment = True, experiment_name="churn")`

when i want to compare the performance

`best_model = compare_models()`

i get this error
`KeyError

[2020-08-04 09:58] u1353279 commented on #329
here is a screenshot of my error message, (its working fine in jupyter but not in colab)
[cid:59f919f5-375f-4f85-ad1b-eefc41900c64]
________________________________
From: PyCaret <notifications@github.com>
Sent: 03 August 2020 23:47
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pyc

[2020-08-04 10:37] neuratree opened #346 "Multilabel Binarizer"
Does Pycaret support categorical features that can take multiple categories? Like the multilabel binarizer of sklearn?

[2020-08-04 10:41] ingebert commented on #262
Hi Team,
thanks for making pycaret so useful and awesome, and thanks Satish for the suggestion.
I would highly appreciate this feature, too!
If I understand this right, this would be an implementation of sklearn.preprocessing.LabelEncoder.inverse_transform(transformed_label_as_in_prediciton)
It looks like the "sklearn label encoder" is already used in pycaret code but could be made accessible by s

[2020-08-04 11:19] moritzwilksch commented on #331
Yes as mentioned in my first post, after manually changing the type to object the auto-inference works just fine.

[2020-08-04 11:34] sandeepraizada opened #347 "using get_data and profile=True on a csv file"
Hi, I like the get_data feature and using profile = True to review the data. However, this seems to only work on the datasets that are available. How an I get to use this on my own data? I tried relacing e.g. 'kiva' with the path to the file and by downloading the file and providing the local path to it too, but I get an error. I am using Google Colab. Looks lik a feature that is not yet supported

[2020-08-04 12:58] pycaret commented on #331
Thanks for confirming @moritzwilksch. I will keep this issue open so that I can include this exception in documentation for next release.

[2020-08-04 12:58] pycaret commented on #331
# include as a documentation exception in 2.1 sprint.

[2020-08-04 12:59] pycaret commented on #329
@u1353279 Not sure how to help. I cannot reproduce this error on google colab.

[2020-08-04 13:00] pycaret commented on #344
Just pass learning rate inside create model.

For example:

[2020-08-04 13:00] #344 closed

[2020-08-04 14:14] ksharpeypd commented on #197
Hi,

I have the same problem following simple installation guide and tutorial, on an ubuntu server with p3.7.

when I get to classification the kernel dies

[2020-08-04 14:21] pycaret commented on #334
@sathishkumar369 This will only be an issue in DBSCAN.

For **Kmeans** and other algorithms, if you are trying to use **n_clusters**, that will be a problem. Instead you should use **num_clusters** which internally maps it with **n_clusters**.

Hope that helps.

[2020-08-04 14:23] pycaret commented on #347
@sandeepraizada

**get_data** function is only for internal repository. If you want to check profile on your data. **setup** function in each module as profile parameter. For example:

data = pd.read_csv('your-data-here.csv')
s = setup(data, target = 'name-of-target', profile = True)

If this helps. Please close this issue.

[2020-08-04 14:24] pycaret commented on #345
@yairdata Thanks for suggestion. I don't have experience working with pmml or mleap. Would you like to work on this issue? Please let me know. We can discuss before you start working on this (if you want). Reach out moez.ali@queensu.ca

[2020-08-04 14:25] pycaret commented on #342
@sparvaneh If there is no missing value in data, there is no impact.

Why would you want to disable imputation? If it's a general use-case, we can take this as an enhancement for future sprint.

[2020-08-04 15:12] Yard1 commented on #262
I added a PR for this, https://github.com/pycaret/pycaret/pull/348

[2020-08-04 15:24] eedeleon opened #349 "MLflow Projects Run Configuration in def setup?"
Are there plans to support MLflow Projects Run and associated configurations for running Model creation in separate processes during compare_models?

This would help me scale up the hyper parameter search.

For my scenario configuring the backend and passing the backend config would work.

https://mlflow.org/docs/latest/projects.html#running-projects

[2020-08-04 16:26] rahul-raoniar opened #350 "Please include model sensitivity analysis funtionality"
The PyCaret 2.0 library is really awesome. This library makes model training and evaluation very easy and fast. For researchers with model training and evaluation, the model sensitivity analysis is very vital. As publication reviewers always ask or encourage for model sensitivity analysis. I would request to add a model sensitivity analysis module that will make this package very very useful for r

[2020-08-04 18:14] vruusmann commented on #345
The PyCaret training process yields a data preparation pipeline and a model. They can be manually combined into an `PMMLPipeline` object and then converted to PMML representation using the [SkLearn2PMML](https://github.com/jpmml/sklearn2pmml) package as usual.

Example:
[code]

[2020-08-04 18:14] vruusmann commented on #345
Cross-linking with https://github.com/pycaret/pycaret/issues/114

[2020-08-04 18:16] dplew opened #351 "PyCaret 2.0 overwrites pandas-profiling 2.8 back to 2.3"
Related to Issues #276 and #280:

The aforementioned issues were cleared when pandas-profiling is updated to 2.8.
This may have been addressed in the nightly build.
However, the current install of PyCaret 2.0 removes pandas-profiling 2.8 and replaces with 2.3.
To prevent Issue #280, user needs to manually re-upgrade to pandas-profiling 2.8.
Advise to change PyCaret 2.0 build to keep pandas-profili

[2020-08-04 18:32] caiquefilipini commented on #317
I had the same error. Probably your index are shuffled. Try ".reset_index(drop=True)" and run again. For me it works.

[2020-08-04 21:44] sparvaneh commented on #342
As two general use cases:
1- Classifiers like XGboost can handle data with missing value very well and imputation might be unnecessary.
2- In some cases, it would be interesting to report results with and without imputation and enabling/disabling imputation allows to have this comparison.
3- Assuming that you will make it easier to use Pycaret with external training and test sets in the future, im

[2020-08-04 21:54] sparvaneh opened #353 "Reducing risk for data leakage"
It sees that pre-processing (e.g. imputation) is done before splitting data to train and test. Current workflow increase risk of data leakage as mean/median of the whole dataset will be used for imputation while in real application only mean/median of training set should be used for imputation.
Easy solution could be doing data split first and then pre-process/prepare data.

As another suggestion,

[2020-08-05 01:04] clgarciga opened #354 "Feature Suggestion: Group k-Fold"
Hello, I would like to suggest adding sklearn.model_selection.GroupKFold as a CV option in compare_models and related pycaret functionality and, along the same lines, sklearn.model_selection.GroupShuffleSplit for train/test splitting in pycaret setup.

[2020-08-05 02:30] shadowWalker404 commented on #197
1

[2020-08-05 02:35] shadowWalker404 commented on #197
I solve this problem. You can find the logs which is same path with your code and it will tell you which model have problem.I spent a day to adjust my lightgbm and xgboost

[2020-08-05 03:29] yashmehta10 commented on #329
I tried to dig into it and found that the error is with "imblearn/base.py" it imports "from sklearn.externals import six". This is depreciated from the latest version of sklearn. So, the base file needs to use "import six".
@pycaret have a look at this.
![error_img](https://user-images.githubusercontent.com/17799552/89368749-9f9c4c80-d71f-11ea-8898-3f15d563be73.png)

[2020-08-05 03:40] pycaret commented on #353
@sparvaneh Thanks for suggestion. Adding **enhancement** tag for now.

[2020-08-05 03:41] pycaret commented on #351
@dplew Hi. I have created a new conda environment and installed pycaret==2.0. I cannot reproduce the same behavior. I got pandas-profiling==2.8 by default.

This is the instruction I followed: https://www.pycaret.org/install

Can you create a new conda environment and confirm if pycaret==2.0 overwrites pandas-profiling?

[2020-08-05 03:42] pycaret commented on #346
Not yet.

[2020-08-05 03:42] pycaret commented on #342
Thanks @sparvaneh. Adding **enhancement** tag.

[2020-08-05 03:44] pycaret commented on #349
@eedeleon Can you please add some example. It will help me create a user story for next sprint. I haven't worked with MLFlow projects before but it looks interesting to me.

[2020-08-05 03:46] pycaret commented on #339
@chamsdg Can you please submit logs.log file that is generated in your local directory. This will help me troubleshoot.

Can you try creating a conda environment and see if the error goes away?  You can follow instructions on https://www.pycaret.org/install if you want.

[2020-08-05 03:47] pycaret commented on #273
@rijesh123 Do you still have issues installing pycaret==2.0?

[2020-08-05 03:49] pycaret commented on #128
@Anastassiiaa Can you confirm if the issues has been resolved?

[2020-08-05 03:50] pycaret commented on #139
@wukan1986

# This feature is now available in PyCaret 2.0

You can pass model hyper parameters within **create_model** function directly. For example:

lightgbm = create_model('lightgbm', learning_rate = 0.2)
xgboost = create_model('xgboost', max_depth = 10)

Hope this helps.

[2020-08-05 03:50] #139 closed

[2020-08-05 03:50] pycaret commented on #155
@swankyshahir Thanks

[2020-08-05 03:50] #155 closed

[2020-08-05 03:52] pycaret commented on #166
@RahulSinghYYC Looking at the dataset I can guess this is caused by cardinality for 'AccountID'. Can you pass **AccountID** into **ignore_features** parameter of the setup function.

Let me know if that works.

[2020-08-05 03:53] #199 closed

[2020-08-05 03:53] pycaret commented on #231
@simoneperazzoli I have tried this. It seems like the problem is caused by **sklearn.KMeans**. I can run other clustering models. Can you try fitting KMeans directly from sklearn and let me know if that works. You can open a issue on sklearn github if you want.

[2020-08-05 03:55] pycaret commented on #161
@ra67052 Check the value_count() on your target column. This error is normally caused when unique count of a class in target variable < number of folds. Please show the result of value_count of target column in your dataset.

[2020-08-05 03:57] pycaret commented on #167
@RahulSinghYYC Are you still facing this issue? If this is resolved, please close this issue.

[2020-08-05 04:06] u1353279 commented on #329
Ahh okay thanks, so should I add this line ‘sklearn.externals import six’ at the top of my code?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yash Mehta <notifications@github.com>
Sent: Wednesday, August 5, 2020 4:29:55 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.g

[2020-08-05 04:08] pycaret commented on #329
Can you please share version of imblearn

[2020-08-05 04:12] u1353279 commented on #329
Okay I’ll have to check it when I’m at work, it’s 5am in the morning at UK.
But really appreciate your help, I’ll get back soon

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PyCaret <notifications@github.com>
Sent: Wednesday, August 5, 2020 5:08:24 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>

[2020-08-05 04:41] dplew commented on #351
Ah.  Yes I see I missed something (see below for detail).  But perhaps I could amend my suggestion to change the PyCaret 2.0 install to require pandas-profiling 2.8.0 rather than allowing any version >2.3.0 (since 2.3.0 breaks functionality?)

I started in an environment that already had the most recent stable version of PyCaret installed along with pandas-profiling-2.8.0 that I had installed manu

[2020-08-05 04:54] yizhuozhang opened #356 "Is that possible to export results from compare_model"
Now the result table is directly print out. Is that possible to get/export results from compare_model ?

`
compare_models(fold=5,whitelist = ['lr','knn','nb','dt','svm'])
`
Model | Accuracy | AUC | Recall | Prec. | F1 | Kappa | MCC | TT (Sec)
-- | -- | -- | -- | -- | -- | -- | -- | --
SVM - Linear Kernel | 0.9157 | 0.0000 | 0.6129 | 0.9408 | 0.9390 | 0.8739 | 0.8749 | 0.6500
Logistic Regression |

[2020-08-05 05:48] ouwyukha commented on #297
I'm having trouble with the transform mechanism. call predict_model won't transform the features and straight up giving KeyError. I'm using pycaret 2.0, is it known bug or perhaps there's problem with my packages

[2020-08-05 06:05] ccll commented on #126
This shouldn't have closed, as it's a useful feature.
Can we reopen this issue and have `setup()` accept a blacklist parameter as `compare_models()`?

[2020-08-05 07:43] rahul-raoniar commented on #220
I have faced the same issue. The plot resolution is not suitable for publication. For publication, we need 300 dpi or more. It would be great if there are options such as dpi value, image size in cm or inch, and plot format like .jpeg or .png or other compressed formats. It would be great if PyCaret inherits the ggplot2 style i.e., ggsave( ) functional format.

`ggsave(
  filename,
  plot = last_p

[2020-08-05 08:21] MattiaVerticchio commented on #304
As of now, I figured out the AUC metric issue only. H2O4GPU was using a couple of outdated default parameters for `LinearRegression`. I opened two issues in `h2o4gpu` repo to fix [`solver`](https://github.com/h2oai/h2o4gpu/issues/856#issue-673297145) and [`multi_class`](https://github.com/h2oai/h2o4gpu/issues/857#issue-673305775).

[2020-08-05 09:00] Yard1 commented on #356
`get_config('display_container')[-1]` will return the latest printed out dataframe, so if you call it after `compare_models()` you'll get that into a variable.

[2020-08-05 09:15] chamsdg commented on #339
@pycaret  find below the file log

[logs.log](https://github.com/pycaret/pycaret/files/5027343/logs.log)

[2020-08-05 09:17] Yard1 opened #358 "Refractor compare_models() to use create_model()?"
It seems to me that it would be a good idea to move out all model-generating code out of `compare_models()`, and instead use `create_models()` internally. Right now, the code that essentially does the same thing is duplicated in two places, making maintenance and extensibility harder. If `compare_models()` was to be refactored like that, it would be much easier to add new models, and also, allow f

[2020-08-05 09:30] ngupta23 commented on #321
No I did not uninstall 1.0 first. I just installed 2.0 over it.

[2020-08-05 09:49] simoneperazzoli commented on #231
@pycaret thanks for the feedback.
It was possible to run KMeans directly from sklearn, without problems (it is a bit weird).
I will also try with other clustering models on pycaret. As soon as I get results, I'll tell you.

[2020-08-05 10:14] sarikanyaram opened #359 "AttributeError: module 'pycaret' has no attribute 'preprocess'"
AttributeError: module 'pycaret' has no attribute 'preprocess'  while
exp_red = setup(data = series, target = ' Bytes', session_id= 143, html = False)

Here I am using Time series data with two columns along the index column.
here I am pasting few lines of my dataset

                      Frames   Bytes
Dateandtime
1999-12-01 11:55:48      106    5194
1999-12-01 11:55:49      117    5733
1999-12-

[2020-08-05 10:41] HenriqueAJNB commented on #21
Can you assign me this issue? I'll make my best to solve it.

[2020-08-05 11:02] Yard1 commented on #353
I created a PR for this, https://github.com/pycaret/pycaret/pull/360. In addition, some code has been refactored for easier maintenance (identical code blocks in if elses have been moved outside).

[2020-08-05 11:47] pycaret commented on #356
@yizhuozhang You can also do this:

compare_models()
results = pull()

This will store the score grid as pandas df. Hope this helps.

[2020-08-05 11:47] #356 closed

[2020-08-05 12:04] pycaret commented on #21
Assigned. Thanks for contributing.

[2020-08-05 12:58] nkalhan opened #361 "ValueError: Invalid number of components: 2"
Hi any one familiar to this error:

I used the code:
import pycaret.classification import *
exp_reg = setup(data, target = 'Division', high_cardinality_features=['Account Name'], high_cardinality_method='clustering')

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-10-6ec95d66148c

[2020-08-05 13:38] g0lemXIV opened #362 "Future Selection: Boruta algorithm"
To increase the power of pycaret in finding the best features for classification (or regression) it will be nice to implement
[Boruta](https://d1wqtxts1xzle7.cloudfront.net/32056178/v36i11.pdf?1381442992=&response-content-disposition=inline%3B+filename%3DFeature_Selection_with_the_Boruta_Packag.pdf&Expires=1596638016&Signature=Rm4nvfhu2Dk-xkZks3C9k2H6FvdA99tVfduxxvs1HQl0UWQiNAlZFvvK4UYe-GMbFm11evs

[2020-08-05 14:21] MislavSag opened #363 "How to overcome overfitting in pycaret framework"
First, I like PyCaret approach to modeling. It is an AutoML framework but gives the researcher enough freedom to choose preprocessing steps. It is very simple to use.

My greatest concern with your and all other AutoML methods (e.g. H2o automl) is overfitting.

For example I have tried your (binary) classification module. I got very good results on the train set (accuracy 0.8) but bad results on u

[2020-08-05 14:28] pycaret commented on #362
@g0lemXIV Looking forward to it. I have no experience working with Boruta.

[2020-08-05 14:30] pycaret commented on #361
@nkalhan Can you please upload logs.log file generated in your local directory. Also please provide the details of version you are using, python environment, dataset sample and the environment.

[2020-08-05 14:30] pycaret commented on #359
@sarikanyaram Can you please provide sample data so that I can try to reproduce the issue?

[2020-08-05 14:34] u1353279 commented on #329
When I try to check the version I get;

NameError: name 'imblearn' is not defined.

do I need to install this separately?
________________________________
From: PyCaret <notifications@github.com>
Sent: 05 August 2020 05:08
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycar

[2020-08-05 15:07] Yard1 commented on #363
You can pass your own hyperparameter grids to tune_model - maybe that will help?

[2020-08-05 15:14] pycaret commented on #329
@u1353279 Sorry my bad.

Can you please check version of **imbalanced-learn**

[2020-08-05 15:35] MattiaVerticchio commented on #61
It should be doable by using `skopt.BayesSearchCV` in place of `sklearn.model_selection.RandomizedSearchCV`.

Extract from [`scikit-optimized` homepage](https://scikit-optimize.github.io/stable/auto_examples/sklearn-gridsearchcv-replacement.html):

[2020-08-05 15:44] daikikatsuragawa commented on #337
I will proceed step by step. After completing the process, we will review each test and improve the quality.

[2020-08-05 16:11] nkalhan commented on #361
thank you for reply... please find attached.
      -- my python version is 3.7.7
      -- anaconda environment
      -- i am using my work data. but I can share some details about it. It has ony one feature (text) and one target (text)
      -- Please let me know if there is more information

[logs.log](https://github.com/pycaret/pycaret/files/5029635/logs.log)

[2020-08-05 16:15] pycaret commented on #351
@dplew Got it. The issue was in PyCaret 1.0. It had a literal dependency to pandas-profiling==2.30. That's why.

The issue is resolved in PyCaret 2.0.

[2020-08-05 16:15] #351 closed

[2020-08-05 16:54] akshaykapila20392 opened #366 "Tune model on "mape" for regression is not available ?"
My first issue is with mape. Why is it negative ? Isn't mape = mean absolute percentage error which is
abs(Actual-Predicted)/Actual. Snip below :

![image](https://user-images.githubusercontent.com/50828423/89441018-2249f980-d76a-11ea-8eb5-8dcd1375e542.png)

Secondly, Why can't I tune my random forest regressor on accuracy metric as "mape".

tuned_rf = tune_model('rf',optimize = 'mape') gives me f

[2020-08-05 17:14] Yard1 commented on #366
You need to pass the model object (created with create_model) as the first argument and then use capital letters.

[2020-08-05 17:22] u1353279 commented on #329
sorry still error
[cid:1607cd8e-40e7-4aa9-8609-a1d4c8e0dbc8]
________________________________
From: PyCaret <notifications@github.com>
Sent: 05 August 2020 16:14
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in google colab Imp

[2020-08-05 17:28] akshaykapila20392 commented on #366
Thanks @Yard1 Can you give me an example w.r.t  to my code ?

raf = create_model('rf')
tuned_rf = tune_model(raf)

OR even if I write what you suggested

tuned_rf = tune_model(raf, optimize = "MAPE")

Above code is giving me following error :

![image](https://user-images.githubusercontent.com/50828423/89444337-2f1d1c00-d76f-11ea-8d6b-59294bdb1679.png)

[2020-08-05 17:30] Yard1 commented on #366
Are you using PyCaret 2.0?

[2020-08-05 17:41] akshaykapila20392 commented on #366
I am using pycaret==1.0.0 . Should I upgrade ?

[2020-08-05 17:48] Yard1 commented on #366
Yeah, you should. Though in your case, taking that into account, the only thing you need to change in the code in your first post is the capitalization - though IIRC some optimization metrics weren't available in 1.0.0, so it still may not work. Regardless, update to 2.0.0.

[2020-08-05 17:53] clgarciga opened #367 "Print Metrics for predict_model when specifying data parameter"
__Currently:__ `predict_model(estimator)` when run for Classification prints accuracy metrics:

![image](https://user-images.githubusercontent.com/13739205/89446437-8648cf80-d722-11ea-83c7-1f5b841b631c.png)

`predict_model(estimator, data)` does not:

![image](https://user-images.githubusercontent.com/13739205/89446550-aa0c1580-d722-11ea-90c9-a149e0601de4.png)

__Proposed Solution:__ Add `true_lab

[2020-08-05 17:54] akshaykapila20392 commented on #366
Sure , I will update then and yes I used the "mape" in capital words as well and it didn't work as well. Let me try with pycaret ==2.

I am like 70% completed with my current project and need to tune model w.r.t mape and do not want to switch from caret to manual coding all over again and hence want this to be rectified.

Will keep you posted on this and once again thankyou

[2020-08-05 17:59] Yard1 commented on #367
Sounds like this would be better rectified by allowing user to pass already split train and test sets to setup.

[2020-08-05 18:01] clgarciga commented on #363
Is it possible that your good results on the training data is due to the fact that your data are time series but pycaret uses k-Fold CV to choose the best model rather than some sort of splitting method specifically for time series such as, for example, [sklearn.model_selection.TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html#sklearn.m

[2020-08-05 18:02] clgarciga commented on #367
Thanks, I'll try that instead!

[2020-08-05 18:03] clgarciga opened #368 "Feature Suggestion: Add CV functionality for Time Series"
Hello, I would like to suggest adding [sklearn.model_selection.TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html#sklearn.model_selection.TimeSeriesSplit) as a CV option in compare_models and related pycaret functionality.

[2020-08-05 18:47] vmasrani commented on #354
+1! I have to write some awkward outer loops to address this - GroupKFold would be very helpful :)

[2020-08-05 19:51] ojaashampiholi commented on #320
Are you guys still accepting the PR's?

[2020-08-05 20:08] Prabhu-kottapu commented on #296
@mahmoudyusof I just tried but It is still not working Perhaps it is problem with Pandas profiling itself ??

[2020-08-05 20:14] Prabhu-kottapu opened #370 "Data profiling and over fitting Detector enhancement proposal"
Can we add data profiling function and a over fitting Detector  function just like in catboost.. Thank you

[2020-08-05 21:39] Yard1 commented on #61
I tried to add it in with https://github.com/pycaret/pycaret/pull/306, but it's broken on the current scikit-learn version, and it doesn't seem like the project is very much active, so an update may not come any time soon.

[2020-08-05 22:40] pycaret commented on #366
@akshaykapila20392 you should use `MAPE` instead of `mape` when you update it to PyCaret 2.0

[2020-08-05 22:41] pycaret commented on #368
@clgarciga There is a separate `timeseries` module planned for future 2.x release.

[2020-08-05 22:42] pycaret commented on #370
@Prabhu-kottapu Do you have any examples or existing implementation in Python you can provide?

[2020-08-05 22:53] atwahsz opened #372 "suggestion : big data imputation"
if it's possible to add this feature where to predict missing values weather it's a class or a number as preprocessing prior to modeling

train on non naan and predict nan values for every feature missing

[2020-08-06 01:16] Prabhu-kottapu commented on #370
@pycaret  Here is a implementation in catboost

https://catboost.ai/docs/features/overfitting-detector-desc.html#overfitting-detector-desc

[2020-08-06 01:56] pycaret opened #374 "Automated documentation / readthedocs account needed"
# Help needed

Looking for somebody who can help develop automated documentation with theme. Currently, documentation is manually managed on website through wordpress template. It's a lot of work to maintain. We should create automated documentation using sphinx and set up a workflow to generate documents automatically with PR requests.

Some work has already been done. Check closed PR and /doc fo

[2020-08-06 02:15] tyaoi opened #375 "Error report : the example code for AutoML"
When I ran the following example code for AutoML on jupyter notebooks, the error occured:

[code]

[code]

Using %tb, I got the following message:
[code]

[2020-08-06 02:18] pycaret commented on #375
@tyaoi This is because catboost happens to be in top5 models and it is not supported under **blend_models** function. To fix this error, you can blacklist catboost in **compare_models** and create it separately. See below code:

[code]

Hope this helps. If problem is solved, please close the issue.

[2020-08-06 02:20] pycaret commented on #372
@atwahsz Can you please give some example?

[2020-08-06 02:34] yashmehta10 commented on #329
The version seems to be 0.7.0
![Screenshot from 2020-08-06 12-31-50](https://user-images.githubusercontent.com/17799552/89484114-15b4b800-d7e1-11ea-8dc9-e7abc4856ab4.png)

[2020-08-06 03:27] u1353279 commented on #329
Is that the required version?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yash Mehta <notifications@github.com>
Sent: Thursday, August 6, 2020 3:34:31 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5)

[2020-08-06 04:46] akshaykapila20392 commented on #366
Thank you . It worked but MAPE is still showing as negative , can you tell me how the mape is being calculated ?

[2020-08-06 04:53] #375 closed

[2020-08-06 05:21] sarikanyaram commented on #359
import pycaret as pc
from pycaret.regression import *
import pandas as pd
from pycaret.preprocess import *

series = pd.read_csv('/home/sarika/Documents/papers/split pcaps/sample.csv', header=0, parse_dates=[0],index_col=0, squeeze=True)
print(series.head())
series = series.resample('H').mean()

print(series.head())
exp_red = setup(data = series, target = ' Bytes', session_id= 143, html = False)
c

[2020-08-06 07:28] atwahsz commented on #372
https://github.com/epsilon-machine/missingpy

[2020-08-06 08:46] harshag24 commented on #184
@yashmehta10 after creating this models how to get single output using both the classifiers?

[2020-08-06 10:01] MislavSag commented on #363
@Yard1 I have just discovered `custom_grid` argument is added in PyCaret 2! I believe I can use this option to tune models better.

@clgarciga , I am sure you are right. Time series split or even PurgedKfold split from mlfinlab package would be a better option, but I am afraid PyCaret doesn't support custom fold objects?

[2020-08-06 10:06] chamsdg commented on #339
hello, any help please

[2020-08-06 11:23] mtdearing commented on #317
@pycaret Thanks for taking a look. I appreciate that it is not possible to debug very far, especially as this could be an issue with my data formatting. I re-ran after trying @caiquefilipini recommendation to .reset_index (no success) and made sure my data only included int64 and object (text strings) (e.g., no floats). This is the output into the log immediate after running plot_model(<my_model>)

[2020-08-06 11:27] qinbinhao opened #377 "UnicodeDecodeError while running the example ( Interpret Model)"
In [1]:

# Importing dataset
from pycaret.datasets import get_data
diabetes = get_data('diabetes')
# Importing module and initializing setup
from pycaret.classification import *
clf1 = setup(data = diabetes, target = 'Class variable')
# creating a model
xgboost = create_model('xgboost')
# interpreting model
interpret_model(xgboost)

	Accuracy 	AUC 	Recall 	Prec. 	F1 	Kappa 	MCC
0 	0.7407 	0.8617

[2020-08-06 12:50] amjadraza commented on #148
@pycaret , I have added some functionality on below branch in `classification.py`

https://github.com/amjadraza/pycaret/blob/feature/gcp_zure_integration/pycaret/classification.py

Please have a look if I am following entirely different approach. Targeting to finalise GCP over the weekend.

Thanks

[2020-08-06 15:18] mtdearing commented on #317
@pycaret RESOLVED: I added a new index column to my data set, and re-set it with .reset_index(drop=True) for good measure, and it worked. So, I must have been running with an index that did not include well-defined integer values. Thank you!

[2020-08-06 15:59] daikikatsuragawa commented on #337
@pycaret #365

I propose two solutions to the `test_nlp.py` problem.

- Add `python -m spacy download en` to `.travis.yml`.
- Add `python -m spacy download en` to `.requirements.txt`.

[2020-08-06 17:13] sparvaneh commented on #377
Hi,

Based on my reading, this message is related to a bug in XGboost library. Can you try this to see if it resolve your issue?

#Temprary fix fo an error for xgboost
mybooster = xgboost.get_booster()
model_bytearray = mybooster.save_raw()[4:]
def myfun(self=None):
    return model_bytearray

mybooster.save_raw = myfun

[2020-08-06 17:21] delbrison opened #382 "(Suggestion) Feature Engineering: Use tsfresh to create features for time-series data"
We can use Tsfresh to create features:
https://tsfresh.readthedocs.io/en/latest/index.html

[2020-08-06 17:40] Yard1 commented on #374
If nobody picks this up I can take a look in a day or two.

[2020-08-06 19:13] pycaret commented on #366
[code]

[2020-08-06 19:20] pycaret commented on #317
Thanks.

[2020-08-06 19:20] #317 closed

[2020-08-06 19:21] pycaret commented on #377
@qinbinhao Please open an issue on xgoost github if you would like.

[2020-08-06 19:22] pycaret commented on #132
@yashwatwani Is this issue resolved? You can stop catboost from writing files on disk by passing `allow_writing_files` param.

[code]

Please close the issue if that works.

[2020-08-06 19:23] pycaret commented on #299
@singhrishu Can you please try installing `pycaret==2.0` in a new conda environment. Follow instructions here : **https://www.pycaret.org/install**

[2020-08-06 19:24] #347 closed

[2020-08-06 19:25] pycaret commented on #167
@RahulSinghYYC Do you still need help?

[2020-08-06 19:25] pycaret commented on #166
@RahulSinghYYC Is this issue resolved?

[2020-08-06 19:34] pycaret commented on #148
@amjadraza Which function should I look at?  Is this the code chunk?

[code]

[2020-08-06 23:25] webpolis commented on #304
Indeed, this library is fantastic but lacking of GPU implementation makes it unusable for large production datasets.

[2020-08-07 00:26] amjadraza commented on #148
@pycaret , Sorry I should have mentioned the exact location since file is more than 10,000 lines (May be you can think of modularisation later on) .

I have add my code in two functions and added two utility files

1. `gcp_utils.py` and `azure_utils.py`
2. `load_model` and 'deploy_model` are the functions with the code.

Added the documentation same format as were being adopted.

[2020-08-07 02:40] qinbinhao commented on #377
@sparvaneh @pycaret Thank you for your help. When I added the bug-fixing code, the program ran smoothly.

`# Importing dataset
from pycaret.datasets import get_data
diabetes = get_data('diabetes')

# Importing module and initializing setup
from pycaret.classification import *
clf1 = setup(data = diabetes, target = 'Class variable')

# creating a model
xgboost = create_model('xgboost')

#Temprary f

[2020-08-07 02:43] qinbinhao commented on #377
@sparvaneh @pycaret Thank you for your help. When I added the bug-fixing code, the program ran smoothly.

from pycaret.datasets import get_data
diabetes = get_data('diabetes')

from pycaret.classification import *
clf1 = setup(data = diabetes, target = 'Class variable')

xgboost = create_model('xgboost')

mybooster = xgboost.get_booster()
model_bytearray = mybooster.save_raw()[4:]
def myfun(self=N

[2020-08-07 03:19] daikikatsuragawa opened #384 "IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match)."
For check mape use [utils.py](https://github.com/pycaret/pycaret/blob/master/pycaret/utils.py#L96), the following error occurs. Do you know the solution?

[code]

Information
[code]

[code]

[2020-08-07 03:29] daikikatsuragawa commented on #384
I'm sorry! I solved it myself! I used `reset_index`.

[2020-08-07 03:29] #384 closed

[2020-08-07 05:43] yashmehta10 commented on #184
Can you show me how do you want the target to look like? @harshag24

[2020-08-07 05:46] yashmehta10 commented on #329
I believe 0.7.0 is installed automatically with PyCaret. Also, "requirements.txt" file does not mention any version.

[2020-08-07 06:14] RengarWang commented on #377
it works ! Thanks !

[2020-08-07 06:16] sparvaneh commented on #377
You can read more about this issue in this post: https://github.com/slundberg/shap/issues/1215

[2020-08-07 09:48] u1353279 commented on #329
Sorry I don’t understand, so do we know how to solve this error?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yash Mehta <notifications@github.com>
Sent: Friday, August 7, 2020 6:46:15 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/py

[2020-08-07 12:07] pycaret commented on #329
@u1353279 @yashmehta10 I am unable to reproduce this environment on google colab or even in local conda environment.

[2020-08-07 12:08] pycaret commented on #377
@sparvaneh Thanks for sharing.

[2020-08-07 12:08] pycaret commented on #184
@harikiran-mudipalli Maybe you are looking for Multi-label classifier not Multiclass classification. If you are looking for Multi-label, it's not supported in 2.0 as of yet.

[2020-08-07 12:09] pycaret commented on #366
@akshaykapila20392 Do you have negative target values in your dataset?

[2020-08-07 12:10] pycaret commented on #372
@atwahsz Thanks. Will have a look soon.

[2020-08-07 12:10] pycaret commented on #374
@Yard1 Thanks

[2020-08-07 12:13] pycaret commented on #349
@eedeleon Hi. Are you still interested in proposing this enhancement?

[2020-08-07 12:14] pycaret commented on #309
@VinayakDataScience Do you still need help?

[2020-08-07 14:05] neuratree opened #387 "Getting Error : Feature Names Mismatch"
feature_names mismatch: ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22', 'f23', 'f24', 'f25', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f42', 'f43', 'f44'] ['Component_1', 'Component_2', 'Component_3', 'Component_4', 'Componen

[2020-08-07 14:05] neuratree commented on #387
clf1 = setup(dataset, target = 'resolved', pca = True, pca_components = 0.9, fix_imbalance = True)

[2020-08-07 14:15] MattiaVerticchio commented on #304
I think we should also take a look at [RAPIDS cuML](https://github.com/rapidsai/cuml), it’s similar to H2O4GPU, but it’s actively developed and supports more algorithms, including KNN ones. It maintains `sklearn` API design where possible and supports GPU accelerated DataFrames using [cuDF](https://github.com/rapidsai/cudf).

The only issue I can see is that it uses `conda` as the main installatio

[2020-08-07 16:40] Yard1 commented on #374
What's the formatting issue exactly? Could you show me an example of how it should look like? Or should I look at the current site for guidance?

[2020-08-07 16:46] Yard1 commented on #374
Ok, yeah, it seems that the issue is that the current docstrings don't follow a format recommended by Sphinx. I'll see if this is something that can be fixed with Sphinx configuration itself, but I fear that we may need to rewrite all the docstrings to one standardized format. While we're at it, we could add typing to all the methods, too.

[2020-08-07 16:54] sathishkumar369 commented on #334
@pycaret
Yeah, thanks that helped.
But in real time scenario's dbscan has some special features which can also cluster unique (noisy) data.
Can I expect dbscan will work fine in tuning parameters?

[2020-08-07 16:59] Yard1 commented on #374
Ok, found the issue. The formatting for docstrings is missing indents. For example:

bad:
[code]
good:
[code]
I'll add indents where necessary and open a PR. Sphinx configuration itself seems to be fine.

[2020-08-07 17:14] sathishkumar369 opened #388 "Request to add Fbprophet for time series forecasting module."
Hi pycaret team!
please add time series forecasting modules in a list.
I have seen Fbprophet is more powerful and open source. You can take a wrapper of that in implementation.

[2020-08-07 17:21] OCTO16042020-Rahul opened #389 "y_gotdata=loaded_model.predict(np.array([test_list])) AttributeError: 'numpy.ndarray' object has no attribute 'predict'"
Hi pycaret team!
In flask almost done with upto the generation only in the last step i got the error that is AttributeError: 'numpy.ndarray' object has no attribute 'predict'.plz resolve this error.

[2020-08-07 18:47] mahmoudyusof commented on #296
@Prabhu-kottapu ok, if you have pandas-profiling==2.3.0 try upgrading to pandas-profiling==2.8.0, you could know which version you have by running `pip freeze | grep pandas-profiling`

[2020-08-07 19:00] Yard1 commented on #374
https://github.com/pycaret/pycaret/pull/390

If you want me to, I can set up an account on readthedocs as well - though I am not sure whether it will require some repo permissions or not.

[2020-08-08 03:13] amjadraza commented on #148
@pycaret

I have tested for GCP and Azure. Below is the link to the test google colab.

https://github.com/amjadraza/pycaret/blob/feature/gcp_zure_integration/tutorials/GCP_AZURE_Binary_Classification_Tutorial_Level_Beginner_CLF101.ipynb

[2020-08-08 04:34] zhaoli-IHEP opened #392 "Is it possible to have user defined loss function?"
Is it possible to have user defined loss function? We did not find this in the tutorial.

[2020-08-08 13:57] lcg29 opened #394 "Plot Model-how to Set image resolution and output high quality image"
I want to plot high-quality images, it doesn't seem to be in the current guidance. In addition, plot style also can't find.
Thanks.

[2020-08-08 15:39] mahmoudyusof commented on #311
is seems that the error hasn't change. one possible explanation is that pycaret splits the data by stratifying over the the label which means if you have 10 instances of a certain class and use a 70% 30% split then seven of them will end up in the training set and 3 in the validation set, if you only have 2 instances and do a 50-50 split, only one instance will end up in the training set thus caus

[2020-08-08 15:56] mahmoudyusof commented on #387
did this error occur when you called the `setup` function or when?

[2020-08-08 16:28] neuratree commented on #387
I got this on running the compare_models()

[2020-08-08 17:15] #374 closed

[2020-08-08 17:22] #296 closed

[2020-08-08 17:40] pycaret commented on #21
@HenriqueAJNB Any progress made on ths?

[2020-08-08 17:41] pycaret commented on #311
@nkalhan Can you please show the value_count of your target variables. One of the class < number of folds. This is the cause of the error.

[2020-08-08 17:43] pycaret commented on #394
@lcg29 It's not possible at the moment. Please feel free to propose what kind of change would be required inside `plot_model` function to allow high-quality images. We are using `yellowbricks` and `plotly` as backend for visualization. I think `yellowbricks` uses `matplotlib` which allows resolution to be modified.

[2020-08-08 17:43] pycaret commented on #387
@neuratree Can you please provide more details. Can you also upload sample dataset here so that we can try to reproduce the error?

[2020-08-08 18:30] mahmoudyusof commented on #38
does manually setting the `n_jobs` parameter of the `setup` function solve the problem? since it is -1 by default which uses all available threads. so maybe limiting it solves the problem

[2020-08-08 18:37] HenriqueAJNB commented on #21
I tried to add the pycaret to anaconda but I couldn't.

The main reason is because all dependencies must also be uploaded to conda, otherwise it will return dependency error...

[2020-08-08 18:38] HenriqueAJNB commented on #21
I'll list those dependencies that are not in conda environment yet

[2020-08-08 18:41] nkalhan commented on #311
@mahmoudyusof  thank you very much for your reply... it was i guess only because on eof the class was less than the number of folds.. i am able to overcome that error.. have some other kind of error now.. please have a look..
@pycaret  thank you very much for your support... please have a look at this error as well..

Logistic Regression model ran fine.. but KNN throws error

HOW CAN I OVERCOME TH

[2020-08-08 21:59] pycaret commented on #392
Not yet. @zhaoli-IHEP

[2020-08-08 21:59] pycaret commented on #392
I will add this as enhancement for future sprints.

[2020-08-09 01:51] amjadraza commented on #148
@pycaret

I have completed the documentation for GCP and azure utilities in `classification.py`

I think, we can include the features in `regression.py` and other modules..

[2020-08-09 03:08] clgarciga opened #398 "Possible bug: test_size in train_test_split when sampling=True"
In function `setup` of `regression.py` and `classification.py`, when `sampling is True and data.shape[0] > 25000`, sampling and the train/test split proceeds as follows:

[code]

My question is whether or not `test_size` in the second line should be hardcoded to 0.3 or whether it should be `test_size = 1-train_size`, where `train_size` is the user-specified parameter in `setup`.

[2020-08-09 07:39] lcg29 commented on #394
Yeah，set ` yellowbricks` uses `matplotlib`  is a good idea. Thanks.

I think `plot_model(modelname, dpi=600)`,  dpi of png maybe an excellent function.

[2020-08-09 12:02] sathishkumar369 opened #400 "error while predicting insurance charges using streamlit app.py"
Hi pycaret team!

I cloned the zip file from pycaret github.
when I gave predict, it's throwing an error.

could you please look into an attachment and let me know what was the issue.

![Screenshot (1)](https://user-images.githubusercontent.com/40235632/89731643-40637280-da66-11ea-8bc6-a44780177316.png)

[2020-08-09 13:11] swankyshahir opened #401 "interpret_model shows default 20 features only. How to see full list"
interpret_model documentation of SHAP library shows option for (max_display =  int) . so how to implement it in pycaret.
tried my luck with this
TypeError                                 Traceback (most recent call last)
<ipython-input-42-e54a9d40fbe8> in <module>()
----> 1 interpret_model(tuned_et , max_display = 50)

TypeError: interpret_model() got an unexpected keyword argument 'max_display'

[2020-08-09 14:34] pycaret commented on #148
@amjadraza That's great. I tried `azure` and it works perfectly fine. For GCP I am getting the following error.

Any idea?

![image](https://user-images.githubusercontent.com/58118658/89734724-d332eb80-da2b-11ea-8819-438b0eedaaf8.png)

[2020-08-09 14:40] swankyshahir opened #403 "how to see post tranformation dataframe"
after scaling , normalizing, one-hot encoding, how to see the final transformed dataframe ?

[2020-08-09 14:44] pycaret commented on #148
@amjadraza Also, Recently I have removed direct predict functionality from `predict_model` function so need to worry about that part. Going forward, `load_model` must load model from platform and then used loaded model object inside `predict_model`. This simplifies things a little. So we only have to manage the impact in `deploy_model` and `load_model`. Also following steps:

- `azure_utils.py` `g

[2020-08-09 14:47] pycaret commented on #403
@swankyshahir Please see https://www.pycaret.org/get-config

[2020-08-09 14:47] #403 closed

[2020-08-09 14:48] pycaret commented on #398
@clgarciga Thanks for reporting.

[2020-08-09 14:48] pycaret commented on #401
@swankyshahir Will add this in next release.

[2020-08-09 14:49] #301 closed

[2020-08-09 15:53] pycaret commented on #345
@vruusmann How do we load back `pmml` pipeline in notebook?

[2020-08-09 16:12] ByrdOfAFeather opened #404 "Problems with sparse matrix"
Hi all,
     I'm currently trying to leverage a sklearn CountVectorizer to extract word counts from a textual dataset. As you might imagine, this produces a sparse matrix. While the documentation on the website says that regression can deal with a sparse matrix, I am unable to get it to work.

-------
What I've tried:
[code]

This gives me a pandas DataFrame with some sparse columns. I have to con

[2020-08-09 18:18] pycaret commented on #345
@vruusmann When I try to save `prep_pipe` I get this error:

Standard output is empty
Standard error:
Aug 09, 2020 2:17:06 PM org.jpmml.sklearn.Main run
INFO: Parsing PKL..
Aug 09, 2020 2:17:06 PM org.jpmml.sklearn.Main run
INFO: Parsed PKL in 15 ms.
Exception in thread "main" java.lang.IllegalArgumentException: The object (Python class numpy.core.multiarray._reconstruct) is not a PMMLPipeline
	at

[2020-08-09 18:53] pycaret commented on #345
@vruusmann I have recently refactor `save_model` function to append estimator as a last step of pipeline so that only one object i.e. `Pipeline`  is saved as `pkl`, where last item of the pipeline is a trained `estimator`. (see `/pycaret/classification.py` on master). What I am trying to do now is add a parameter `type` in `save_model` so that when somebody selects `pmml` as type the entire `Pipel

[2020-08-09 18:59] pycaret commented on #114
Closing this thread. `duplicate`

[2020-08-09 18:59] #114 closed

[2020-08-09 19:04] pycaret commented on #404
@ByrdOfAFeather Can you show me head and shape of dataframe you are passing in `setup`.

[2020-08-09 19:04] vruusmann commented on #345
The SkLearn2PMML package saves the `PMMLPipeline` object to a temporary file in Pickle data format, and then executes a Java command-line application to perform the conversion work.

The above exception means that the Java exception is looking into the pickle file, but cannot find the `PMMLPipeline` object in it. Instead, there's an unexpected `numpy.ndarray` object.

TBH, I got this exception mys

[2020-08-09 19:07] ByrdOfAFeather commented on #404
The shape of the dataframe I want to use is (including target column):
(7405, 16396)
The shape of the dataframe in the case of the steps to reproduce is (including target column):
(2, 2)

[2020-08-09 19:09] pycaret commented on #404
@ByrdOfAFeather If you can attach the notebook and dataset incase that's not the problem for you. I will try to have a look at it or even somebody else might be able to help quicker.

Thanks.

[2020-08-09 20:12] vruusmann commented on #345
There is no going back from PMML to a (ML framework native-) Python object. PMML documents can be evaluated using PMML engines, such as [JPMML-Evaluator](https://github.com/jpmml/jpmml-evaluator) for Java or [JPMML-Evaluator-Python](https://github.com/jpmml/jpmml-evaluator-python) for Python.

I looked into `save_model` functions about a week ago when I was trying to figure out how to fetch all th

[2020-08-09 23:06] mahmoudyusof commented on #345
I've been trying with this for a while now and it seems that saving the model alone is working without a problem except with `lr` you need to set the `multi_class` kwarg to either `ovr` or `multinomial`, it cannot be left as `auto`, however saving the pipeline causes the java error that @pycaret  saw
[code]

[2020-08-09 23:14] mahmoudyusof commented on #345
after trying for a while I've come to the same conclusion, however, saving the model only works without a problem except when it comes to `LogisticRegression`, one must explicitly specify the `multi_class` argument to either `ovr` or `multinomial`, this is possible in pycaret==2.0 so
[code]
this code works, but I don't think it would be of great use.

[2020-08-09 23:21] amjadraza commented on #148
It is because, the project on GCP might not created or permissions are not set properly. For GCP, in order to create storage bucket, you must have a project created and enable the services to use. Once you create the project, it should be simple. we can create project from python command but it is easy to use the GUI for it.

[2020-08-10 02:09] yashmehta10 commented on #329
import six
import sys
sys.modules['sklearn.externals.six'] = six

Use this before importing pycaret.
This works for me and I have also set up a pull request #355
@pycaret @u1353279 have a look at this.

[2020-08-10 02:11] yashmehta10 commented on #329
@pycaret did you use fix_imabalance=True in setup?

[2020-08-10 03:43] pycaret commented on #329
@yashmehta10 Actually you are right. I get the error on google colab. I will look at a PR for this issue tomorrow.

[2020-08-10 04:00] yashmehta10 commented on #387
Hi @neuratree, did you get this error while running XGBoost? I got the same error while running XGBoost in compare_models()

[2020-08-10 04:54] alaparthishivaji opened #405 "Installation Problem in Python 3.6"
ERROR: Could not find a version that satisfies the requirement scikit-learn>=0.23 (from pycaret==2.0) (from versions: 0.9, 0.10, 0.11, 0.12, 0.12.1, 0.13, 0.13.1, 0.14, 0.14.1, 0.15.0b1, 0.15.0b2, 0.15.0, 0.15.1, 0.15.2, 0.16b1, 0.16.0, 0.16.1, 0.17b1, 0.17, 0.17.1, 0.18rc2, 0.18, 0.18.1, 0.18.2, 0.19b2, 0.19.0, 0.19.1, 0.19.2, 0.20rc1, 0.20.0, 0.20.1, 0.20.2, 0.20.3, 0.20.4, 0.21rc2, 0.21.0, 0.21

[2020-08-10 07:01] #405 closed

[2020-08-10 08:22] amjadraza commented on #148
A new branch with above modifications.

https://github.com/amjadraza/pycaret/tree/feature/gcp_azure_np_docs

Example Notebokks for classification and Regression

https://github.com/amjadraza/pycaret/tree/feature/gcp_azure_np_docs/examples

[2020-08-10 08:30] Jun-hub2020 opened #406 "#AttributeError: module 'matplotlib' has no attribute 'rcParams'"
when i want to run the 'setup':

 from pycaret.classification import *
training_set = setup(data = training,target='salClass',session_id=123)

there is an issue as follows:
![f95f26915a93eb2fab4a4a599fa1860](https://user-images.githubusercontent.com/62453598/89764307-b92a0380-db26-11ea-9994-f288268a2ca2.png)

could you tell me how i should do?

[2020-08-10 09:15] u1353279 commented on #329
Thanks for understanding, I’ll give it a try and let you know

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PyCaret <notifications@github.com>
Sent: Monday, August 10, 2020 4:43:13 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret

[2020-08-10 12:28] ByrdOfAFeather commented on #404
This should do the trick, just put the dataset in the same directory as the notebook.
[DQG.zip](https://github.com/pycaret/pycaret/files/5050768/DQG.zip)

Ensure you have the following packages installed:
- scikit-learn
- pandas
- pycaret (of course)

[2020-08-10 13:06] neuratree commented on #387
Yes, it was in one specific model, but then I am not sure if other models are running correctly

[2020-08-10 13:52] sathishkumar369 opened #408 "Request to anomaly plots for anomaly detection"
Hi pycaret team!
I know pycaret supports anomaly detection.
what i'm proposing is that I want to visualize the anomalies in time series format plots.
I have seen only label anomaly detection in pycaret.
My proposal plots are below,
When I give plot_model for anomaly, it has to provide following plots. First plot for assigned anomaly. Second plot is for predicted one on unseen data(new data)

[2020-08-10 14:13] yashmehta10 commented on #387
I am not sure about the solution but for time being try blacklisting the model when this happens.

[2020-08-10 18:48] mahmoudyusof commented on #406
could you specify which version of matplotlib you are using in this notebook?
in the notebook
[code]

[2020-08-10 19:08] mahmoudyusof opened #410 "Adding support for GCP deployment."
So far there is only support for AWS, so to expand for multiple platforms I suggest adding support for Google cloud platform as well.

[2020-08-10 19:10] pycaret commented on #410
@mahmoudyusof Thanks. This is already work in progress. Will hopefully be released in `2.1`.

[2020-08-10 19:10] #410 closed

[2020-08-10 19:10] pycaret commented on #410
#148

[2020-08-11 13:23] daikikatsuragawa commented on #337
For the time being, all Python files have been tested.

[2020-08-11 18:12] mvpalheta commented on #241
which is the function ?

[2020-08-11 19:45] sparvaneh commented on #241
Please check get_config
For getting training data you can use
training_data = get_config(variable="X_train")

[2020-08-11 21:14] ABorakati opened #415 "Error when loading saved models"
Hello,

I've made a logistic regression model and data transformation pipeline with Pycaret 2.0 :
save_model('finallr', 'lr')
Transformation Pipeline and Model Succesfully Saved
finallr=load_model('lr')
Transformation Pipeline and Model Sucessfully Loaded

When I then try and use this model to predict (even on the same data set it was trained on) I get this error:
predict_model(estimator=finallr)

[2020-08-11 22:18] juancrescente opened #416 "get rid of the data types confirmation input text, or add option to disable it in setup"
In jupyter lab, the textbox never shows, which makes it impossible for me to run the setup step.

"Following data types have been inferred automatically, if they are correct press enter to continue or type 'quit' otherwise."

BTW I got label in a regression in my Y values, is that correct?

[2020-08-11 23:14] mahmoudyusof commented on #415
I think I know the problem, you are passing the first argument to `save_model` as text while you should pass the model itself, for example
[code]

[2020-08-11 23:56] mvpalheta opened #417 "Different performance metrics values for same dataframe on Jupyter Notebook"
I ran compare_models twice for the same dataframe with the following settings. Before and after turning off and turning on the jupyter notebook and I got different values ​​for the performance metrics. What happens ??

settings
![image](https://user-images.githubusercontent.com/67707385/89960262-ee148400-dc14-11ea-91be-571c1052a938.png)

Run 1 - Before shutdown
![image](https://user-images.githubu

[2020-08-12 00:13] pycaret commented on #416
@juancrescente Thanks. You can avoid the input box by passing `silent` parameter within `setup` as `True`.

Hope this helps.

[2020-08-12 00:13] #416 closed

[2020-08-12 00:53] Jun-hub2020 commented on #406
thank you for your reply. I have soved it.
I think it was probably due to a problem during my installation. i reinstalled the 'matplotlib' and it works. However, the same problem occurs with other packages. so I reinstalled the faulty package.

[2020-08-12 10:51] ABorakati commented on #415
Thanks a lot! That fixed it

[2020-08-12 10:51] #415 closed

[2020-08-12 10:55] ABorakati opened #419 "Bootstrap Validation"
First of all, I'd like to say this is a really great library, massively speeds up my workflow,

One final thing that is missing, that would be really useful is giving the option of bootstrap validation rather solely crossfold,

Is there any way this could be added as an option in future releases? I appreciate scikit-learn does not have this any more, but other libraries do

[2020-08-12 11:38] korkile commented on #162
+1

[2020-08-12 11:53] #406 closed

[2020-08-12 11:54] pycaret commented on #417
@mvpalheta Can you please provide picture of the setup grid (one that is printed after setup is successfully executed) from both the instances?

[2020-08-12 11:55] pycaret commented on #337
@daikikatsuragawa Thank you so much.

[2020-08-12 11:55] #337 closed

[2020-08-12 11:56] pycaret commented on #404
@ByrdOfAFeather I have tried this. You are right. It doesn't with sparse matrix. Would you like to work on the fix?

[2020-08-12 11:56] #332 closed

[2020-08-12 11:58] #132 closed

[2020-08-12 11:58] #299 closed

[2020-08-12 11:59] pycaret commented on #419
@ABorakati Added enhancement tag.

[2020-08-12 12:10] ByrdOfAFeather commented on #404
I can certainly try to.

[2020-08-12 12:48] mvpalheta commented on #417
This is the grid from both instances
![image](https://user-images.githubusercontent.com/67707385/90016801-f30f1d00-dc80-11ea-84ba-937a5a6cabf5.png)

[2020-08-12 13:47] sambhe opened #420 "DNA sequence classification using k-mer and"
Hi,

I would say a good add on would be to have k-mer processing and Countvectorizer (Bag of words) if it's not there.  I am trying to do a classification problem on a genetic sequence (RNA/DNA) data in which I pre-process the alphabetical sequences data forming k-mers  and fit and transform (train data) using countvectoriser (extract frequencies of those words in a seuqnce).
Using same CV then, I

[2020-08-12 13:55] Yard1 commented on #417
I've noticed it too, on Kaggle. Even though session id is constant, the results are different.

[2020-08-12 14:48] karenc3 opened #421 "artifacts not getting logged"
Hi,

I'm just trying out the code in the `PyCaret 2 Classification.ipynb` notebook. I've setup the mlflow tracking server using `mlflow.set_tracking_uri()`

While checking the mlflow runs: metrics, params and tags are getting logged on the server. Everything except artifact. The artifact folder is empty.

This is the `setup()` function code I'm using

[code]

For installing `pycaret` I used: `pip

[2020-08-12 15:19] mvpalheta commented on #417
I tested it on Google Colab and another jupyter notebook on a remote server from my job

[2020-08-12 16:35] harshag24 commented on #184
@yashmehta10  I wanted outputs of both the models in separate columns in a dataframe , never mind I did that.

[2020-08-12 16:46] brinew27 opened #423 "Tune Model Never Completes"
Hi all,

I'm enjoying PyCaret quite a bit so far. However, when I attempt to tune a model of any size (say 5 million rows), the tune model stop simply never progresses, it begins, gives the initial output and then never changes. I let it run for over 8 hours last night with no progress.

The model I'm attempting to tune is a GPU accelerated xgboost ('xgboost', tree_method = 'gpu_hist', gpu_id = 0)

[2020-08-12 18:56] rijesh123 commented on #273
@PyCaret I am still waiting for admin access on my office system. I will try again after that.
I have upgraded to 2.0 on my personal laptop

[2020-08-12 20:26] MANISH007700 commented on #273
I don't know why you are getting error !
Try wheel building , or try installing in venv !

[2020-08-12 23:08] clgarciga opened #425 "Should data be explicitly a pd.DataFrame?"
In `setup`, parameter `data` is defined as:

[code]

But throughout the code it seems to me like `data` is implicitly assumed to be a `pd.DataFrame` . For example, passing a `numpy` array throws an error:

![image](https://user-images.githubusercontent.com/13739205/90076943-ef09ec00-dcce-11ea-928d-6b4a52cac3cb.png)

It isn't explicit in the docs that `data` must be a `pd.DataFrame`, and there is a

[2020-08-12 23:14] pycaret commented on #425
@clgarciga Yes. I remember `preprocess.py` is designed to work with the panda's data frame only. If we have to accept `numpy` we have to handle the conversion first thing in the `setup` function.

[2020-08-12 23:16] pycaret commented on #423
@brinew27 If you take a sample of dataset, would `tune_model` works. I think I know why this is happening. I think `tune_model` is not affected by `GPU` parameter. This could be a bug.

[2020-08-12 23:16] clgarciga commented on #425
Then should the docs be amended to reflect this, and should `setup` include a check for `data` being a `pd.DataFrame`?

[2020-08-12 23:17] pycaret commented on #421
@karenc3 Yes. you are right. `log_experiment` controls all logging. Can you check if without setting back-end you can see artifacts on `localhost:5000`

[2020-08-12 23:18] pycaret commented on #420
@sambhe Maybe if you share an example notebook with some clear user story, somebody might be interested in adding this as an enhancement. You are welcome to work on PR.

[2020-08-12 23:20] pycaret commented on #417
@mvpalheta I don't know if it could be due to remote run. I haven't experienced this in a local environment yet. Can you test in your local environment (ideally with a separate conda environment), If it works there as expected then we will start investigating why it behaves differently with remote run.

[2020-08-12 23:53] pycaret commented on #148
@amjadraza Hi.

I am still facing issues with deploying on GCP. I followed the instructions given here: https://cloud.google.com/docs/authentication/production and

- created a service account and downloaded `json`
- set environment var `GOOGLE_APPLICATION_CREDENTIALS` to `json path`
- executed `deploy_model`, this is my code and the error traceback:

Can you please sync the latest repo and try to

[2020-08-13 05:30] brinew27 commented on #423
Yes, when I trained and tuned on 10% of the data, it worked. I thought it might have been related to the n_jobs parameter, but I can confirm 10% data works on both n_jobs=-1 and n_jobs=1. When I set it back to full dataset, even with n_jobs=1 it never reaches the first fold, it stops at "Initializing RandomizedSearchCV" in the INFO logs.

Also, adding GPU support for tuning would be much appreciat

[2020-08-13 05:51] karenc3 commented on #421
Thank you for your reply!

You mean the `--backend-store-uri` parameter while starting the mlflow server right? I tried disabling it but still no artifacts are getting logged in the artifact folder.

[2020-08-13 05:52] rohan-gt opened #428 "[Feature Request] Support for Ray backend and Ray Tune"
Are there any plans for supporting something like a [Ray](https://github.com/ray-project/ray) backend for scaling up the ML in general and Ray Tune using [tune_sklearn](https://github.com/ray-project/tune-sklearn) which can scale up hyperparameter tuning and also support Bayesian optimization for tuning?

[2020-08-13 05:57] rohan-gt opened #429 "[Feature Request] Support for Featuretools"
The auto feature engineering module will benefit hugely from using the [Featuretools](https://github.com/FeatureLabs/featuretools) library which supports numerous custom transformations and aggregations

[2020-08-13 08:17] daikikatsuragawa opened #431 "Enhancement of test"
For each function, it is necessary to test it in detail.

For example, in test_utils.py:

[code]

[2020-08-13 08:41] daikikatsuragawa opened #432 "Introduction of GitHub Actions"
I think it is a good idea to run automated unit tests at a commit time. Currently, this project uses travis, but I feel that it has a higher affinity for development using GitHub. In some cases, you may use two together as a trial. Please consider.

Example:
https://github.com/stanfordmlgroup/ngboost

[2020-08-13 12:34] skykiseki opened #434 "How to config the mlflow ui server address?"
the anaconda enviroment is installed on my cloud server(Centos 7.3), so I can't  access the mlfow server address(cause 127.0.0.1 is listened) what am i supposed to do for access of mlflow ui server address?

!mlflow ui

some log are as follow:

[2020-08-13 19:17:31 +0800] [14985] [INFO] Starting gunicorn 20.0.4
[2020-08-13 19:17:31 +0800] [14985] [INFO] Listening at: http://127.0.0.1:5000 (14985)

[2020-08-13 13:18] Aditi81 commented on #434
follow this - https://medium.com/swlh/hyperparameter-tuning-with-mlflow-tracking-b67ec4de18c9

[2020-08-13 14:26] skykiseki commented on #434
it helps me solve the problem!  thanks a lot!

[2020-08-13 14:26] #434 closed

[2020-08-13 15:10] pycaret commented on #432
@daikikatsuragawa Happy to do that. Assigning this to you.

[2020-08-13 15:10] pycaret commented on #432
@Yard1 can help if you need @daikikatsuragawa

[2020-08-13 15:11] pycaret commented on #431
@daikikatsuragawa Agree. I have merged all the changes you submitted yesterday and today. Let's continue to improve unit tests.

[2020-08-13 15:12] pycaret commented on #425
@clgarciga I think so docs should be amended. Would you look to work on this?

[2020-08-13 15:13] pycaret commented on #428
@rohan-gt Would you like to work on this?

[2020-08-13 16:14] clgarciga commented on #425
@pycaret Sure!

[2020-08-13 16:41] Yard1 commented on #432
I've got some experience with Github Actions, so let me know if you need a hand @daikikatsuragawa

[2020-08-13 17:20] MattiaVerticchio commented on #304
@pycaret do you think it’s doable to use cuML/cuDF?
They’re only [available](https://rapids.ai/start.html#get-rapids) via Conda or by building from source and I’m not familiar with how `pip` deals with dependencies.

[2020-08-13 18:34] Yard1 commented on #304
I never tried this, but perhaps it is possible to make conda a dependency of pycaret, and then add a custom build step to use conda to download and install the package? Or perhaps just have the user do it themselves, and throw an exception asking them to do so if they choose to use GPU models without cuML installed.

[2020-08-13 18:36] brinew27 opened #436 "Is it possible to provide test dataset directly, bypassing test/train split?"
I am working with a time series classification dataset which contains multiple discrete "windows" of data. I intend to train on windows 1-4 for example and test against windows 5-6, which will hypothetically help with generalization to any future window. The % test/train split doesn't work well with this as if I do a fixed percent (ie 70%), I will likely get windows 1-4, with a bit of window 5, in

[2020-08-13 18:55] pycaret commented on #153
# Open for contribution

[2020-08-13 18:56] pycaret commented on #171
# Open for contribution

[2020-08-13 18:57] pycaret commented on #346
# Open for contribution

[2020-08-13 18:58] #349 closed

[2020-08-13 18:58] pycaret commented on #350
@rahul-raoniar Would you like to work on this issue?

[2020-08-13 18:58] pycaret commented on #350
# Open for contribution

[2020-08-13 18:59] pycaret commented on #353
@Yard1 Can you submit a separate PR just for the split change?

[2020-08-13 19:00] pycaret commented on #370
@Prabhu-kottapu Would you like to work on this?

[2020-08-13 19:01] pycaret commented on #398
@clgarciga Can you submit a PR for this fix?

[2020-08-13 19:03] Yard1 commented on #436
Doesn't seem like it'd be that hard to add, I can take a look at it tomorrow.

[2020-08-13 19:03] clgarciga commented on #398
@pycaret Yup.

[2020-08-13 19:04] Yard1 commented on #353
I'll redo this PR @pycaret

[2020-08-13 20:19] sambhe commented on #420
Sure, I will add a simple notebook in the coming days (3-4) . I might be available next month to work on this if no one is available to take this on.

[2020-08-13 20:55] pycaret commented on #436
@brinew27 This is because `regression` and `classification` modules were never intended for times series. There is a separate module being worked out at the moment which will allow for a split that is applicable for time series data.

However, you can always overwrite X_train, X_test, y_train, y_test after `setup` is executed using the `set_config` function. See https://www.pycaret.org/set-config

[2020-08-13 20:56] pycaret commented on #134
# Open for contribution now

[2020-08-13 20:56] pycaret commented on #254
# Open for contribution now

[2020-08-13 20:57] pycaret commented on #256
# Open for contribution now

[2020-08-13 20:57] pycaret commented on #258
# Open for contribution now

[2020-08-13 20:58] pycaret commented on #262
This issue is resolved.

Thanks for working on this @Yard1

[2020-08-13 20:58] #262 closed

[2020-08-13 20:58] brinew27 commented on #436
Wonderful, that should definitely work to manually overwrite after setup. Yeah, I recognize that doing classification on time series data is not a usual use case (it's actually tick level stock data, so not strictly time-series), but I think this should work well for me for now, thanks!

[2020-08-13 20:58] #436 closed

[2020-08-13 20:58] pycaret commented on #354
# Open for contribution now

[2020-08-13 20:59] pycaret commented on #362
@g0lemXIV Are you still working on this? I am assigning this to you if you are okay.

[2020-08-13 20:59] pycaret commented on #394
@lcg29 Would you like to work on this?

[2020-08-13 21:48] Prabhu-kottapu commented on #370
Will give it a shot. Thank you

[2020-08-13 23:37] pycaret commented on #66
# Open for contribution now

[2020-08-13 23:39] #108 closed

[2020-08-13 23:55] HenriqueAJNB commented on #21
I followed those steps at [building conda packages with conda skeleton](https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs-skeleton.html) and create the `meta.yaml` file.

The next step was to run `conda-build` where `meta.yaml` was created. I've got this error related to package dependencies:

[code]

After some research, I found, with help of [my opened a questi

[2020-08-14 01:25] amjadraza commented on #148
Looks like your service account does not have proper roles.

From the Role list, select Project > Owner.

Note: The Role field authorizes your service account to access resources. You can view and change this field later by using the Cloud Console. If you are developing a production app, specify more granular permissions than Project > Owner. For more information, see granting roles to service acc

[2020-08-14 01:45] pycaret commented on #148
@amjadraza Actually you are right. No need to reproduce this. I have figured it out. Closing this now.

[2020-08-14 01:45] #148 closed

[2020-08-14 02:41] daikikatsuragawa commented on #432
Thank you! !! @pycaret @Yard1

[2020-08-14 03:33] daikikatsuragawa commented on #432
#440

As a first step, I reproduced the work of Travis in GitHub Actions.

[2020-08-14 04:14] pycaret commented on #432
@daikikatsuragawa Thanks. I lack experience in GitHub actions.

Does this mean we will discontinue travis? What is the advantage of using GitHub actions to perform automatic testing compared to travis?

[2020-08-14 04:19] pycaret commented on #432
@daikikatsuragawa One thing I would like to achieve through GitHub actions is automatically publish the changes to `pycaret-nightly` pip package. Is this something we can easily implement?

[2020-08-14 04:21] pycaret commented on #374
@Yard1 One question. The sequence of modules in the documentation and the sequence of functions inside each module? Is it automatically determined by the position of code or is it something we can control? Can we have the following order of modules in documentation

- Classification
- Regression
- Clustering
- Anomaly Detection
- Natural Language Processing
- Association Rule Mining

[2020-08-14 04:24] daikikatsuragawa commented on #432
@pycaret

No, there is nothing in particular.

If the things you can do with GitHub Actions are fulfilling, I think that they may be combined and integrated.
I did the same job, hoping it would be helpful for that time.

After that, I thought that it was appropriate as the first step.

[2020-08-14 04:30] daikikatsuragawa commented on #432
Probably we can.

I think that there is something in the marketplace that can be helpful, so please check.

Are there any procedures for reference?

[2020-08-14 04:32] pycaret opened #441 "Embed contributors in github README.md"
Embed contributors in README.md so that active contributors are always automatically shown in README.md (until it's manageable - probably next few months). Once the number of contributors exceeds 50 we can move it to a separate file.

[2020-08-14 04:33] daikikatsuragawa commented on #432
I would like to make a list of what I expect from A.
In some cases I would like to make it an independent issue.

- Auto format
- automatically publish the changes to pycaret-nightly pip package

[2020-08-14 04:35] #441 closed

[2020-08-14 07:12] g0lemXIV commented on #362
@pycaret, Yes I will start develop this in next few days.

[2020-08-14 07:49] lcg29 commented on #394
Thanks for your invitation. I learned Python for less than a month....you know lack of ability. So I can't give you a definite answer. If I have worked out a solution, I will reply to you in time.

[2020-08-14 08:09] Yard1 commented on #432
Both are possible. pip package for nightly can be configured to update on every push to master or once per day.

[2020-08-14 08:10] Yard1 commented on #374
It's something we can control by editing the Sphinx files, yes. I'll make a PR for this.

[2020-08-14 08:11] Yard1 commented on #431
We could consider preparing datasets that are sure to give consistent results with a set session ID, and use them for testing, to make sure the output of the functions is as expected.

[2020-08-14 09:42] reenal opened #445 "New features"
can we add some algorithm for time series also

[2020-08-14 10:30] 13293824182 commented on #330
hi, i meet the same error, how do you slove the problem? thanks

[2020-08-14 10:43] murari-goswami commented on #21
@HenriqueAJNB Can - you try conda-forgeinstead ?

[2020-08-14 10:57] HenriqueAJNB commented on #21
I'm trying to generate the `meta.yaml` file with `grayskull pypi pycaret` command.

[2020-08-14 17:35] hartungalex24 commented on #287
I am having the same problem here. However, I am having the issue on Jupyter Notebook and it has persisted after multiple kernel and computer restarts.

[2020-08-14 19:46] #425 closed

[2020-08-14 19:48] #334 closed

[2020-08-14 19:48] #184 closed

[2020-08-14 20:39] pycaret commented on #445
@reenal Time-series module is in progress. This issue is `duplicate` so closing it. Keep an eye on this space for more updates.

[2020-08-14 20:39] #445 closed

[2020-08-14 20:41] pycaret commented on #21
@HenriqueAJNB This is great progress. Do you think it would be a big deal to upload datetime in conda-forge.  Unfortunately datetime parsing and feature engineering in `preprocess.py` has dependency on `datetime` package.

[2020-08-14 20:46] pycaret commented on #431
@Yard1 This sounds good. I plan to discuss this with you in the meeting but I guess the idea would be to release `2.1` in the next 10 days and then start major refactoring after that for `2.2` release.

Once we close all items added into project `2.1 Authors sprint`, we will be ready for the release.

Would love to wrap up the GitHub actions thing before that.

[2020-08-14 23:23] Yard1 commented on #432
@pycaret @daikikatsuragawa has set up the testing functionality mirroring Travis in the PR. What else do we want to have? We can have the bot automatically format PRs with black on merge, and push pycaret-nightly to pip with every master push (including PR merges). It's also possible to set it to push pycaret to pip when a Release is made.

Is there anything else you'd find useful?

[2020-08-14 23:40] SzQaNinja commented on #287
Also seeing the same error when trying to use blend_model(method='soft')...  have been using the same data for lots of other work all week, this seems strictly related to the blend_model function for me.

[2020-08-15 15:01] Yard1 commented on #428
If @rohan-gt isn't interested in working in it we could add it during the refactor, @pycaret

[2020-08-15 16:23] pycaret commented on #428
@Yard1 Sounds good.

[2020-08-15 16:24] pycaret commented on #287
@SzQaNinja @sedy2014 Can you try passing `n_jobs` as `None` in `setup`. By default its set to `-1`

[2020-08-15 16:30] pycaret commented on #432
@Yard1 I think we should do the following in order of priority for GitHub Actions:

- Check the build (already done by @daikikatsuragawa)
- Build automatic documentation (once in a day at a scheduled time, probably 12 AM EST)
- Publish to `pycaret-nightly` (once in a day at a scheduled time, probably 12 AM EST). I am not sure how the version will be controlled. As far as I understand to publish on

[2020-08-15 17:25] Yard1 commented on #432
Considering that Github Actions are 100% free for public repos like this one, we don't need to worry about reducing the number of times they are triggered. Therefore we could opt to have things happen on every push to master without any issues. Considering that nothing we are considering takes a lot of time, I feel that will be the best option.

* I could see about using check annotations for buil

[2020-08-15 17:33] Yard1 commented on #432
Also, forgot to mention, but we can also have it publish the `pycaret` proper package when a release here is made, using the tag as the version number.

[2020-08-15 19:20] Yard1 commented on #432
We can look to `pandas/pandas-dev` for inspiration - they run a comprehensive battery of CI checks for tests and formatting.

[2020-08-15 19:40] synapticarbors commented on #21
pycaret is already available on conda-forge:

https://anaconda.org/conda-forge/pycaret
https://github.com/conda-forge/pycaret-feedstock

You can see the recipe here:
https://github.com/conda-forge/pycaret-feedstock/blob/master/recipe/meta.yaml

If you would like to be a co-maintainer, please open a pull request there.

[2020-08-15 20:15] HenriqueAJNB commented on #21
Someone uploaded it 3 days ago. I've tested it in Windows platform and still not working. Can someone test it in Linux platform?

![2020-08-15_17h14_20](https://user-images.githubusercontent.com/54143210/90320852-dee64c80-df1a-11ea-9f45-619c328da2e9.png)

[2020-08-15 22:38] synapticarbors commented on #21
I've tested on OSX and Linux and both work fine. The issue with windows is due to `xgboost` not being available on that platform on either the `conda-forge` or anaconda `defaults` channels.

For some reason the recipes on `conda-forge` does not include `DateTime` as a dependency. I've grep'd through the code in the tarball on pypi for pycaret for both `import DateTime` and `from DateTime` and coul

[2020-08-16 02:46] yashmehta10 opened #451 "Word2Vec function for NLP."
if possible we should add word2vec function using gensim. I would be happy to work on this feature. https://radimrehurek.com/gensim/sklearn_api/w2vmodel.html

[2020-08-16 03:58] sathishkumar369 commented on #400
Hi pycaret team,

I solved this by running following commands in anaconda prompt.
pip uninstall scikit-learn
and then installing the old version of scikit learn
conda install scikit-learn=0.22

because the reset parameters are set to False in scikit learn 0.23 version.
please try to add scikit learn 0.22 version while installing pycaret==2.0. beacause while installing pycaret, the latest version i

[2020-08-16 04:00] sathishkumar369 opened #452 "error while predicting insurance charges using streamlit app.py"
Hi pycaret team!

I cloned the zip file from pycaret github.
when I gave predict, it's throwing an error.

could you please look into an attachment and let me know what was the issue.

![Screenshot (1)](https://user-images.githubusercontent.com/40235632/89731643-40637280-da66-11ea-8bc6-a44780177316.png)

[2020-08-16 04:01] #400 closed

[2020-08-16 04:02] sathishkumar369 opened #453 "error while predicting insurance charges using streamlit run app.py"
Hi pycaret team!

I cloned the zip file from pycaret github.
when I gave predict, it's throwing an error.

could you please look into an attachment and let me know what was the issue.

![Screenshot (1)](https://user-images.githubusercontent.com/40235632/89731643-40637280-da66-11ea-8bc6-a44780177316.png)

[2020-08-16 04:02] sathishkumar369 commented on #453
Hi pycaret team,

I solved this by running following commands in anaconda prompt.
pip uninstall scikit-learn
and then installing the old version of scikit learn
conda install scikit-learn=0.22

because the reset parameters are set to False in scikit learn 0.23 version.
please try to add scikit learn 0.22 version while installing pycaret==2.0. beacause while installing pycaret, the latest version i

[2020-08-16 04:03] #452 closed

[2020-08-16 05:10] iteachmachines commented on #171
Working on it.

[2020-08-16 15:31] sagarnildass opened #454 "TypeError: cannot astype a datetimelike from [datetime64[ns]] to [float64]"
Hi

I just trained a pycaret regression model with one date column in the training dataset. Pycaret correctly recognized it and from the documentation, I realized that pycaret would ignore that feature.

Now after saving the model, when I ran it on the test dataset (with the date column present), it gave me this error: TypeError: cannot astype a datetimelike from [datetime64[ns]] to [float64] .

A

[2020-08-16 15:39] u1353279 commented on #329
any updates?
________________________________
From: Yash Mehta <notifications@github.com>
Sent: 10 August 2020 03:09
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Muhammad Hussain (Researcher) <Muhammad.Hussain@hud.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] compare model(n_select=5) not working in google colab ImportError: cannot import name 'six' (#329)

im

[2020-08-16 16:31] HenriqueAJNB commented on #21
I got in touch with conda-forge group about this issue. Here is the answer of Chris Barker:

Is it possible to change the actual DateTime package used for the built-in one? This would solve the problem in Windows platform.

[2020-08-16 16:36] synapticarbors commented on #21
The `DateTime` package is not the problem on windows. See my comment above (https://github.com/pycaret/pycaret/issues/21#issuecomment-674453978).

[2020-08-16 16:38] pycaret commented on #454
@sagarnildass PyCaret doesn't ignore DateTime. In fact, its extracts feature out of it. Can you make sure in test data, DateTime is correctly formatted so new features can be parsed?

[2020-08-16 16:39] pycaret commented on #451
@yashmehta10 sure. I think the only change required would be in `create_model` in `pycaret.nlp` plus all the documentation that goes with that. It should be a very quick change. I am assigning this to you.

Thanks for working on this.

[2020-08-16 16:40] pycaret commented on #329
@u1353279 This issue has been fixed. Can you please download the repo and see if you still get the error.

[2020-08-16 16:42] #453 closed

[2020-08-16 16:44] daikikatsuragawa opened #456 "Sharing Python code metrics calculated using radon"
This is the result of analyzing Python code using [radon](https://github.com/rubik/radon). There are some parts that are evaluated as "F", so I hope it will be useful as a reference for future refactoring.

[code]

[2020-08-16 16:44] #398 closed

[2020-08-16 16:47] pycaret commented on #456
@daikikatsuragawa Thanks for sharing.

@Yard1 - FYI.

[2020-08-16 16:49] Yard1 commented on #456
Noted

[2020-08-16 17:29] daikikatsuragawa opened #458 "Questions about the part that calculates MAPE of utils.py"
In the test of utils.py(test_util.py), the output of MAPE is the data frame shown below.

[code]

I think it is desirable to get a numerical value, but how about that?

Currently, the test is responding as follows.
https://github.com/pycaret/pycaret/blob/276366a0f0d294910f26b95c5da88dc0925a9c1e/pycaret/tests/test_utils.py#L97-L99

[2020-08-16 17:31] daikikatsuragawa commented on #458
The following is for reference.

[code]

[code]

[2020-08-16 20:22] Yard1 commented on #428
I took a look at Tune (with tune_sklearn). It uses scikit-optimize underneath, which doesn't support the latest scikit-learn. I think we may have to think about, at least temporarily, writing our own bayes optimization function.

[2020-08-16 23:06] Yard1 commented on #458
What is returned for other metrics?

[2020-08-16 23:32] pycaret commented on #428
@Yard1 Yes. I don't think `scikit-optimize` is an active project. We will be better off writing our own Bayes optimizer if we can.

[2020-08-16 23:36] pycaret commented on #458
This is what I get for MAPE:

![image](https://user-images.githubusercontent.com/58118658/90346529-a9636100-dff7-11ea-86b5-0d794b50955c.png)

It's same for all other metrics in `pycaret.utils.check_metric`.

Does that help?

[2020-08-17 10:14] George3d6 opened #460 "Getting a model name out of `compare_models`"
In pycaret tutorials such as: https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Beginner%20-%20REG101.ipynb

It seems that the appropriate workflow to get a top-performing model is to get a list of the top models using `compare_models` and then separately create the best model using `create_model`.

However, `create_model` takes a magic string representing th

[2020-08-17 10:16] George3d6 opened #461 "How to only compare models that allow for blending and stacking ?"
It seems that a good approach to predicting is to use `compare_models` and then select the top `x` on which `blend_models`+`stack_models` can be used in order to get an ensemble model (which can then be optimized with `automl`).

However, some models don't support this and will throw errors if they happen to be in the list of top models.

Is there any way to call `compare_models` and specify that

[2020-08-17 10:34] MattiaVerticchio commented on #304
I edited the `compare_models()` function for `pycaret.classification` using the new global `gpu_param`.
Also, I added cuML SVM - radial kernel. Here’s the [notebook](https://www.kaggle.com/mattiavert/pycaret-h2o4gpu-cuml).

These are the improvements in training times:
- `RandomForestClassifier` — 4X
- `XGBClassifier` — 16X
- `GradientBoostingClassifier` — 35X
- `SVC` — 351X

`CatBoostClassifier`

[2020-08-17 11:17] Yard1 commented on #304
@MattiaVerticchio Doss cuML provide their own Catboost wrapper? Or was that with `task_type='GPU' ` for the original Catboost estimator? If not, could you check how that works? I think that for some algorithms, GPU acceleration is helpful only for large datasets.

[2020-08-17 11:29] MattiaVerticchio commented on #304
The only routine from cuML as of now is `SVC`. I tried setting `task_type='GPU'` for the official CatBoost estimator.

There is a [CatBoost blog post](https://catboost.ai/docs/concepts/speed-up-training.html) about training speed which advises setting `border_count=32` and I’ll try that too, but of course GPU training could only be worth it beyond a certain dataset size.

[2020-08-17 11:31] Yard1 commented on #460
@George3d6 you can use the code in my notebook for now - https://www.kaggle.com/yard1pl/predicting-icu-admission-using-with-pycaret-0-2

A built in way to do it should be available in a later release.

[2020-08-17 11:32] Yard1 commented on #461
Isn't it just Catboost? Regardless, this should too be improved in a future release.

[2020-08-17 11:35] Yard1 commented on #304
Does cuML not provide their own GPU accelerated versions of the estimators? It seems to me to be a good idea to try and cut down on the number of required libraries. Aside from that, looks pretty great. I need to talk it through with @pycaret first but one of the things I want to include in a general refactor is a centralized model repository per module which would make it very easy to change the

[2020-08-17 11:56] MattiaVerticchio commented on #304
Here’s the [API website](https://docs.rapids.ai/api/cuml/stable/api.html). There are a lot of accelerated estimators form Scikit-Learn, but CatBoost is not included in `sklearn` models.

I imported `RandomForestClassifier` and `GradientBoostingClassifier` from `h2o4gpu` because cuML implementation is not stable yet.

[2020-08-17 14:10] George3d6 commented on #461
I don't know. Is it just catboost that should behave like this ? tbh I think I only got the error for that one, but I might be wrong.

In that case should I be able to just use `blacklist = ['catboost']` and the approach will work fine otherwise ?

Also, quick followup to that question if you know: Does `automl` generate a "trained" model or does it generate "untrained" models similarly to `compar

[2020-08-17 14:13] George3d6 commented on #460
Hmh, I can't see anything in there that would achieve this, I see that the model is still create from a manually input string (`create_model('rf')`) rather than via somehow generating that string from the top models list.

[2020-08-17 14:16] g0lemXIV commented on #362
@pycaret , I have just implemented the first "beta" version of boruta algorithm base on this [sklearn contrib](https://github.com/scikit-learn-contrib/boruta_py), I don't know is it necessary to make it fully automated or not. I will pull request this version if I test it.

[2020-08-17 14:27] Yard1 commented on #461
It should be just Catboost, so blacklisting it should be enough. `compare_models`, `create_model` and `automl` return the same type of models, which need to be finalized. I am not sure what you mean by trained (do you mean finalized?). All methods call `fit` internally on training data.

[2020-08-17 14:29] George3d6 commented on #461
By `trained` I mean that they are fit on the data_frame that I give to `setup` and can be used to generate predictions using `predict_model`

As in, can I safely use the return value of `automl` (let's call it `auto_model`) as:

[code]

[2020-08-17 14:30] Yard1 commented on #460
If you call get_model_name from that notebook, cell 53 on an estimator it will return its name (like in cell 58).

Eg. `get_model_name(compare_models())` will return the name of the best model.

[2020-08-17 14:34] George3d6 commented on #460
Ah, alright, that works perfectly for what I need. Thanks :)

Feel free to leave the issue open if it's a feature you want to implement.

[2020-08-17 14:35] Yard1 commented on #461
Ok, so finalized. I checked the code and yes, it returns a finalized model indeed, so it is how you assumed. My bad.

[2020-08-17 16:05] joaomicunha commented on #387
any news on this? getting the same error with xgboost

[2020-08-17 16:07] daikikatsuragawa commented on #458
Thank you very much. It will be helpful.

In other calculations, the numbers were output safely. The following tests have passed.
https://github.com/pycaret/pycaret/blob/master/pycaret/tests/test_utils.py#L86-L99

[2020-08-17 16:20] daikikatsuragawa commented on #458
It is the following state when I am corrected with reference to the comment…

[code]
[code]

[2020-08-17 16:36] PBenavides commented on #195
Hi! I also have the same issue. With pandas 0.25.3 just installed.

![image](https://user-images.githubusercontent.com/40007882/90420511-af038a00-e07d-11ea-9301-1e38de54580d.png)

[2020-08-17 16:41] pycaret commented on #195
@PBenavides Can you please upload sample dataset so that I can try to reproduce the error?

[2020-08-17 16:44] pycaret commented on #461
Only `catboost` will cause a problem as it is not compatible with sklearn `VotingClassifier`. Although, it works fine in regression with `VotingRegressor`.

I agree this needs to be improved in next release with a condition to drop `catboost` in `blend_models`.

For now, your best option is to blacklist `catboost` in `compare_models` using `blacklist` param.

[2020-08-17 16:50] pycaret commented on #460
@George3d6 Unfortunately Tutorials are not updated. In `pycaret==1.0` , `compare_models` didn't returned any model but it should not be a problem in `pycaret==2.0` as `compare_models` return trained model object. See example below:

[code]

If you still want the names of the model you can call the `pull` function to store the score grid as a pandas data frame and then subset the model name column.

[2020-08-17 16:59] PBenavides commented on #195
Just resolved! The dtype attribute just works with pandas Series objects. I figure it out that there is some process in my feat.eng which duplicates columns names.  Maybe you should raise some error if df.shape[1] > 1 on the setup function.

Btw, thanks! Love your library <3

[2020-08-17 17:10] George3d6 commented on #460
Ah, I see, so I should be able to just call `predict_model` on that model directly, that makes sense.

I was doing that before, but getting low accuracies, so I assumed the models may not have been properly trained.

[2020-08-17 17:17] sagarnildass commented on #454
Sure, thanks I will take a look at it.

[2020-08-17 17:50] neuratree commented on #387
@pycaret : I also got this error with XGBoost..... Seems like a common issue....

@joaomicunha : Is it possible for you to share your dataset? My dataset is clients, so I can't share.....

[2020-08-17 19:49] rohan-gt commented on #428
@pycaret sorry for the late reply. I won't be able to work on this but as a suggestion using the [TuneBOHB](https://docs.ray.io/en/master/tune/api_docs/suggestion.html#bohb-tune-suggest-bohb-tunebohb) algorithm along with the [HyperBandForBOHB](https://docs.ray.io/en/master/tune/api_docs/schedulers.html#bohb-tune-schedulers-hyperbandforbohb) scheduler seems to be the best combination

[2020-08-17 20:06] Yard1 commented on #428
It looks like we could fork tune-sklearn and only replace the optimizer used with another one (like TuneBOHB) from ray.suggest. Since they all use the same API, it should be just a matter of converting the param grid to the specified format and other minor tweaks.

[2020-08-17 20:14] pycaret commented on #428
@Yard1 This sounds good to me.

[2020-08-17 20:15] pycaret commented on #460
Yes, @George3d6. You can call `predict_model` directly on the output of `compare_models` if n_estimators = 1. By default, its set to 1.

[code]

Hope this helps.

[2020-08-17 20:15] #460 closed

[2020-08-17 20:18] Yard1 commented on #460
@pycaret It should still be finalized before using it on unseen data, though, yes?

[2020-08-17 20:21] pycaret commented on #362
@g0lemXIV Sure. Looking forward for submission. Maybe it's a good idea that you propose the changes we will have to take and which module/functions will be impacted before raising a PR.

I am more concerned on design-related changes rather than the code itself.

Submitting a test notebook would be great start.

[2020-08-17 20:31] pycaret commented on #460
Yes @Yard1 That was just for example. finalize_model must be used to fit on the entire dataset before predicting on the new dataset.

Even without finalize_model it won't give any error but the estimator will only be trained on X_train.

[2020-08-17 21:23] George3d6 commented on #461
This is the code I ended up with for creating & optimizing a model using those functions:

[code]

It seems to work fine unlike previous attempts, but some of the accuracies produced are quite low.

At any rate, I'll go ahead and create another issue if I notice a weird pattern with very low accuracies on all datasets I test this one.

Thanks a lot for the help here :)

[2020-08-17 22:01] PabloJMoreno opened #465 "error with plotly.express during setup()"
Team,

since yesterday night I am experiencing issues when running PyCaret both in Power BI and Jupyter.

I have attached the screenshot of the Jupyter error, and bellow the error that I have in Power BI, and just happened yesterday. Previously to that, I worked with PyCaret perfectly, both in Power BI and Jupyter

It seems that I have some conflicts with versions and some packages like plotly.exp

[2020-08-17 22:15] pycaret commented on #465
@PabloJMoreno It seems like a dependency conflict of `plotly` with some other packages you have installed in the environment. I can suggest creating a separate conda environment for `pycaret`. To create a separate conda environment, please see below:

[code]

Hope this helps.

[2020-08-17 22:24] pycaret commented on #353
@Yard1 As discussed, we will hold-on for this one for `2.1` release and give some thought to fix it during refactoring.

[2020-08-17 22:24] pycaret commented on #431
@daikikatsuragawa Do you consider this complete for this sprint?

[2020-08-17 22:28] pycaret commented on #432
@Yard1 for `2.1` release if we can focus on publishing `pycaret-nightly` once in a day. It would be great.

Publishing a new release on `PyPi` with every merge will become messy if there are multiple merges during the day. What do you think?

I have `pycaret-nightly` registered on PyPi. I can help you get authorization to the account by adding you as `maintainer`

I think we can start working on c

[2020-08-17 22:44] clgarciga opened #466 "Hyperlink for available models in docs"
For example, this table is available under `create_model` in the classification docs:

![image](https://user-images.githubusercontent.com/13739205/90451205-4b974d80-e0b9-11ea-8179-6f5814fe8ebc.png)

But it is displayed nowhere else on the page, even though it would be useful to be able to see/reference easily for other functions, e.g. when specifying `blacklist` or `whitelist` in `compare_models`.

[2020-08-17 22:51] Yard1 commented on #432
That sounds fine. I'll let you know what I need in order to set it up soon - it'll probably involve you adding a secret to this repo so actions can authenticate with pypi.

[2020-08-17 23:22] Yard1 commented on #432
Now that I think about it, we may not need to do anything special with the version. For nightly versioning, we can just do `version.timestamp`. That way it will increment automatically due to time passing.

[2020-08-17 23:33] Yard1 commented on #432
@pycaret you can disable Travis completely now, btw, since the current actions config does exactly what Travis does.

[2020-08-18 00:53] PabloJMoreno commented on #465
Thanks PyCaret team,

I have the same problem again. I created a brand new environment, run one of your samples on Python 3.6 and here is the result

![pycaret error2](https://user-images.githubusercontent.com/17184092/90458201-59ea6700-e0c3-11ea-8080-9ccd38d59a82.png)

[2020-08-18 00:59] pycaret commented on #465
@PabloJMoreno

Can you try uninstall seaborn with pip and reinstall with conda:

[code]

[2020-08-18 01:17] pycaret commented on #392
`custom_scorer` param is now added in `tune_model` function in `classification.py` and `regression.py`

[2020-08-18 01:17] #392 closed

[2020-08-18 01:18] pycaret commented on #423
@brinew27 I have now amended `tune_model` function in `classification.py` and `regression.py` to inherit `params` from the estimator passed in `tune_model`.

Can you please sync the `master` branch and test it? I will close the issue upon your confirmation.

[2020-08-18 02:05] hamzahmhmmd commented on #387
@pycaret I got same error when comparing xgboost model, I think this happens because of the fix_imbalance parameter.
@joaomicunha https://drive.google.com/file/d/1l00mewy1ir54zBo6_jG-25xKurNFvmrW/view?usp=sharing -> dataset
envy = setup(data,
             target = 'default',
             categorical_features=['province'],
             fix_imbalance=True)

[2020-08-18 02:06] PabloJMoreno commented on #465
In the same environment where PyCaret is installed, right?

El lun., 17 de ago. de 2020 7:59 PM, PyCaret <notifications@github.com>
escribió:

[2020-08-18 02:33] pycaret commented on #401
@swankyshahir I have now added ****kwargs** support in `interpret_model` for `classification.py` and `regression.py`. You can now pass `max_display` or any other applicable param in `interpret_model`.

[code]
Please sync the latest `master` branch to test the feature. If you are having issues using it, please open another issue.

[2020-08-18 02:33] #401 closed

[2020-08-18 02:34] pycaret commented on #60
@shubhsoni This feature is now added. Please sync `master` repo to test the feature.

You can now pass `custom_scorer` in `tune_model` function for `classification.py` and `regression.py`.

If you are having issues with using this, please open another issue.

Hope this helps.

[2020-08-18 02:34] #60 closed

[2020-08-18 02:35] pycaret commented on #394
@Yard1 Do you want to have a look at this one when you get a chance?

User story : Can we add `dpi` parameter in `plot_model` to control the high resolution of plots.

[2020-08-18 02:36] pycaret commented on #461
Thanks

[2020-08-18 02:36] #461 closed

[2020-08-18 02:36] pycaret commented on #458
@daikikatsuragawa Is this still a problem? I see `utils` test has passed.

[2020-08-18 02:38] pycaret commented on #404
@ByrdOfAFeather For now we have changed all the documentation to specifically mention `pd.Dataframe` and removed `sparse-matrix` as a criterion for input param. Once you will make the change, we will change the documentation.

Have you made any progress on the upgrade?

[2020-08-18 02:39] pycaret commented on #429
# Open for contribution now

[2020-08-18 02:40] pycaret commented on #419
@ABorakati Would you like to work on this upgrade?

[2020-08-18 02:41] pycaret commented on #342
@sparvaneh Would you like to work on this change?

[2020-08-18 02:44] pycaret commented on #178
# Not related to PyCaret

[2020-08-18 02:44] #178 closed

[2020-08-18 02:46] pycaret commented on #176
@oguzhangur96 @doubianimehdi

`custom_scorer` parameter is added to `tune_model` in `classification.py` and `regression.py`. You can now pass your own optimizer created using `sklearn.make_scorer` in `tune_model`.

Please sync to `master` branch to use this feature. If you are having issues in the use, please open another issue.

[2020-08-18 02:46] #176 closed

[2020-08-18 02:49] pycaret commented on #84
@nkalhan This error is caused by too few instances for label classes. `StratifiedKFold` fails when `folds` > `number of instances in class`.

[2020-08-18 02:49] #84 closed

[2020-08-18 02:50] pycaret commented on #88
@wsn4iv **kwargs support now added in `interpret_model` in `classification.py` and `regression.py`. Now you can pass the feature inside `interpret_model` using the parameters of `shap`

[2020-08-18 02:50] #88 closed

[2020-08-18 02:50] pycaret commented on #106
@azharirfan `custom_scorer` now added in `tune_model` function in `classification.py` and `regression.py`

To test, please sync to `master` branch.

If you are having issues, please open another issue.

[2020-08-18 02:50] #106 closed

[2020-08-18 02:52] pycaret commented on #38
@nasospat Did you tried changing `n_jobs` parameter in `setup` to `None`

[2020-08-18 02:53] #191 closed

[2020-08-18 02:53] pycaret commented on #319
@ngupta23 Were you able to resolve this?

[2020-08-18 02:54] pycaret commented on #353
## Issue parked for `pycaret==2.2`. Assigned to @Yard1

### Please do not work on this issue.

[2020-08-18 03:12] pycaret commented on #171
@iteachmachines Would you be able to submit the PR in this week along with the documentation update in `classification.py` and `regression.py`. I am planning to include this change in `2.1` release next week.

[2020-08-18 03:13] iteachmachines commented on #171
@pycaret  Sure!

[2020-08-18 05:06] iteachmachines commented on #171
@pycaret  I'm facing some issues.I guess someone else should work in it.

[2020-08-18 06:45] yashmehta10 commented on #451
@pycaret, I believe it should be a part of `setup` in `pycaret.nlp`. Another way would be to have a new function to transform text data into vectors.

[2020-08-18 06:57] yashmehta10 opened #467 "Could we have a new test that checks pycaret.classification where setup has imbalance=True?"

[2020-08-18 08:09] Yard1 commented on #394
I cna take a look

[2020-08-18 08:43] AarthiKalyanasundaram commented on #166
Hi,
Is this issue got fixed?
![image](https://user-images.githubusercontent.com/36664362/90490926-dbda9e80-e15c-11ea-82f2-09df34fade75.png)
Still, i have this memory error. My dataset is not that big. Can anyone please let me know how to overcome this?

[2020-08-18 11:24] Anbulenin opened #469 "Support for custom Error & metrics function on data "SETUP""
### Example ### :
from pycaret.regression import *
pipeline = setup(
data=dataframe,
**error_fuction= custom_error(y_true,y_pred)
metrics =custom_metrics(y_true,y_pred)**
)

[2020-08-18 12:34] Yard1 commented on #432
@pycaret https://github.com/pycaret/pycaret/pull/470

[2020-08-18 14:31] MattiaVerticchio commented on #61
What about [Optuna](https://optuna.org/)? It leverages Tree-based Parzen Estimators, which support categorical hyperparameters too.

[2020-08-18 14:45] Yard1 commented on #61
We're considering using Ray Tune, which IIRC also wraps Optuna.

https://github.com/pycaret/pycaret/issues/428

[2020-08-18 14:52] pycaret commented on #432
@Yard1 Thanks. Looking at it now. Created `secret` in repo settings already.

[2020-08-18 14:53] pycaret commented on #465
@PabloJMoreno Yes.

[2020-08-18 14:57] pycaret commented on #467
@daikikatsuragawa FYA.

I think what we need to do now is incorporate all the different preprocessing combinations that can be incorporated in `setup`. Coverage will increase a lot by doing that. However, we have to decide on how should we do it, whether all preprocessing options in one `setup` call or multiple combinations with different preprocessing features. There are over 15+ preprocessing pa

[2020-08-18 14:58] pycaret commented on #467
@yashmehta10 : @daikikatsuragawa is already working on enhancing our unit tests and has already made a lot of progress in a short time. Please feel free to reach out to @daikikatsuragawa and see if you can extend any help and work together (if @daikikatsuragawa needs help in there).

[2020-08-18 15:08] daikikatsuragawa commented on #458
@pycaret

Yes. I could not judge whether it was the intended behavior, so I commented it out temporarily.

If you like, could you check it?

https://github.com/pycaret/pycaret/blob/a48b66a2a5ed2196bd122da74cca2abb889b2294/pycaret/tests/test_utils.py#L110-L112

[2020-08-18 15:34] clgarciga opened #471 "Request to add sklearn.impute.IterativeImputer"
It's bound to come up eventually so I thought I'd get there first :-)

[2020-08-18 15:36] clgarciga commented on #258
@pycaret I'm working on incorporating sklearn.model_selection.GroupShuffleSplit and sklearn.model_selection.PredefinedSplit and I think this would be a straightforward extension. Feel free to assign this to me if you'd like.

[2020-08-18 16:12] daikikatsuragawa commented on #431
At the very least, I want to complete all return type checks for the tests.
I think we can do it in the same way as before.

Also, I dare to solve this problem somehow. I can't solve it. #458

[2020-08-18 16:21] chamsdg opened #474 "inbalanced data"
Hello everyone, when a applied fix_inbalance = True,
There’s no effect in my dataset

i work in jupyterlab

below my code

[code]

[2020-08-18 16:31] pycaret commented on #474
@chamsdg

When you set `fix_imbalance` to `True`. `resampler` is applied on the training partition during CV under each function such as `create_model` `tune_model` `blend_models` etc. As such you won't see the impact on your `X_train`, `X_test` from `get_config`.

Hope this clarifies.

[2020-08-18 16:32] pycaret commented on #471
@clgarciga Would you like to work on including KNN and Iterative imputer? The change will happen in `preprocess.py` with the documentation change in `setup` function for `classification.py` `regression.py` `clustering.py` `anomaly.py`.

Let me know if that works for you so I can assign it to you.

Thanks

[2020-08-18 16:39] Yard1 commented on #431
@daikikatsuragawa opened a PR fixing it https://github.com/pycaret/pycaret/pull/476

[2020-08-18 16:49] daikikatsuragawa commented on #431
@Yard1 Thanks!!

[2020-08-18 17:16] #458 closed

[2020-08-18 17:16] #394 closed

[2020-08-18 17:21] #423 closed

[2020-08-18 17:21] pycaret commented on #423
@brinew27 If you are still having issues, please open another issue.

[2020-08-18 18:01] Yard1 commented on #428
I have toyed around with it and I believe I have managed to edit tune-sklearn to use TuneBOHB, making it compatible with the latest scikit-learn and thus pycaret. It was not hard, most of the heavy lifting was already done. I will now try to implement it in pycaret's `tune_model`s - if all goes well, we can drop it in with 2.2.

Would love to discuss how we should distribute this, though @pycaret

[2020-08-18 18:02] brinew27 opened #478 "Tune Model causes an error"
Hi there,

This is in relation to the new version of Tune Model in master. Previously it would simply run my CPU at 100% with no progress. Now, it quickly generates an error. The training takes about 3 seconds for 10 folds. Training data is 246779 rows. When it gets to Tune Model it displays the header for the results, I hear my computer fans speed up, it runs for about 15 seconds (no change in ou

[2020-08-18 18:04] pycaret commented on #478
@brinew27 It seems like `n_jobs` param causing an issue. Can you please try passing `n_jobs` as `None` in the `setup` function. By default, it is set to `-1`.

[2020-08-18 18:06] pycaret commented on #478
@brinew27 Would you also mind trying this with `lightgbm` estimator as well?

[2020-08-18 18:48] clgarciga commented on #432
With this addition, are there any tests or checks one should do before submitting a PR? Or is that now totally covered?

[2020-08-18 18:50] Yard1 commented on #432
@clgarciga For now, all that Actions will do is run pytest, exactly like Travis did.

[2020-08-18 19:36] brinew27 commented on #478
@pycaret I changed n-jobs to None. It did move past the first step to "Loading Dependencies" and didn't give an error, but it just sat on that step for 30 minutes with no changes.

I tried lightgbm, just with the default parameters (lightgbm = create_model('lightgbm')), and it did successfully tune the model and return. I am not sure if that was using my GPU or not.

[2020-08-18 20:17] pycaret commented on #478
@brinew27 You have to create `lightgbm` like this:

[code]

Let me know how that goes.

[2020-08-18 20:18] pycaret commented on #432
@Yard1 I will disable `travis` soon.

[2020-08-18 20:18] pycaret commented on #428
@Yard1 Yes. Let's drop this in `2.2`

[2020-08-18 20:50] Yard1 commented on #428
The best option would be for `tune-sklearn` team to integrate it. I'll open up a PR when I am done. I don't know how often they release, but it just needs to happen before PyCaret 2.2, which isn't coming soon anyway.

[2020-08-18 21:09] sparvaneh commented on #342
@pycaret Depends on your timeline, I would be happy to help.

[2020-08-18 21:37] g0lemXIV commented on #304
Excuse me for interrupting, it will be nice if the user could choose the version of background library. I know from experience GPU acceleration is frustrating on Windows, so it will be nice to make choose before using pycaret to avoid issues and errors.
[code]

[2020-08-18 21:42] g0lemXIV commented on #171
If I find the time, I will try to implement that by Saturday, @iteachmachines could You send me any publications/articles/blog posts about implementation?

[2020-08-18 21:56] Yard1 commented on #304
We'll have it as a param passed to setup, disabled by default.

[2020-08-18 22:21] Yard1 commented on #61
Made a PR to `tune-sklearn` - https://github.com/ray-project/tune-sklearn/pull/68 - hopefully this gets accepted so we can use it without having to worry about maintaining our own fork.

[2020-08-18 22:21] Yard1 commented on #428
Made a PR to `tune-sklearn` - https://github.com/ray-project/tune-sklearn/pull/68 - hopefully this gets accepted so we can use it without having to worry about maintaining our own fork.

[2020-08-18 22:39] PabloJMoreno commented on #465
Team, now Jupyter is working fine, but I have the following error in Power BI, which it seems a version conflict with some packages. Can you please advise?

DataSource.Error: ADO.NET: Python script error.
C:\Users\creyes\Anaconda3\envs\myenv\lib\site-packages\numpy\__init__.py:138: UserWarning: mkl-service package failed to import, therefore Intel(R) MKL initialization ensuring its correct out-of-