[2021-05-05 13:04] #954 closed

[2021-05-05 13:08] Yard1 commented on #1222
`n_jobs=-1` means all available processors will be used, `n_jobs=10` means that 10 processors will be used.

[2021-05-05 13:09] #952 closed

[2021-05-05 13:09] ngupta23 commented on #1219
The initial release in `pycaret` will only have univariate analysis. Multivariate analysis is dependent on the base `sktime` package. You can check with them on their repo for the [plan for multivariate analysis](https://github.com/alan-turing-institute/sktime/issues/228#Forecasting). Multivariate analysis will be added to `pycaret` after it has been added to `sktime`.

[2021-05-05 13:09] #948 closed

[2021-05-05 13:09] #982 closed

[2021-05-05 13:11] #943 closed

[2021-05-05 13:17] ngupta23 commented on #996
Hi @Leo-Ji2020 , we will close this out, but feel free to reopen it or open another issue if needed. Thanks!

[2021-05-05 13:17] #996 closed

[2021-05-05 13:17] #1000 closed

[2021-05-05 13:22] #1051 closed

[2021-05-05 13:22] #1036 closed

[2021-05-05 13:22] #1041 closed

[2021-05-05 13:24] #1087 closed

[2021-05-05 13:24] #1038 closed

[2021-05-05 13:25] ngupta23 commented on #1080
@pavangadde , we will close this issue. Feel free to reopen if the issue persists.

[2021-05-05 13:25] #1080 closed

[2021-05-05 13:25] #1035 closed

[2021-05-05 13:26] ngupta23 commented on #1032
Hi @rajpratyush , Is this in work?

[2021-05-05 13:27] ngupta23 commented on #1026
Hi @solondas007 , We will close this out. Feel free to reopen and provide the necessary information to debug.

[2021-05-05 13:27] #1026 closed

[2021-05-05 13:28] rajpratyush commented on #1032
No i am not working on it

[2021-05-05 13:31] ngupta23 commented on #1032
OK, thanks for getting back. Would you like to continue to own this issue?

[2021-05-05 16:41] amgfernandes commented on #1222
Thanks for the fast reply. I tried that but was not working. But I figure out why.

[2021-05-05 16:41] #1222 closed

[2021-05-06 01:06] Chopin2 commented on #1176
I want to know whether overfitting is occurring or not quickly after executing 'compare_models' without creating learning curve  for each model independently. Thanks!

[2021-05-06 01:20] farmboycycles opened #1225 "Model Tuning Value Error [BUG]"
**Describe the bug**
Caveat: decent chance this is due to user error.
In attempting to tune a NLP model, I keep receiving a "ValueError: Found array with 0 sample(s) (shape=(0, 14)) while a minimum of 1 is required." during the 'evaluating the regressor' step and always with when evaluating the least number of topics regardless of what I set custom_grid to be. This occurs when I'm running the mode

[2021-05-06 02:55] nateGeorge opened #1226 "[DOC] List default hyperparameters searched with different algorithms when using tune_model()"
#### Describe the issue linked to the documentation

When using the [`tune_model()` function](https://pycaret.readthedocs.io/en/latest/api/classification.html?highlight=tune_model#pycaret.classification.tune_model), it looks like it uses sklearn gridsearch by default and it looks like default hyperparameters are [here](https://github.com/pycaret/pycaret/blob/c04bf2ccf34c6087e5b88f87623563acba0e95b

[2021-05-06 02:58] nateGeorge opened #1227 "Access CV scores and hyperparameter combos after tuning"
**Description**
After using `tune_model()` I have no idea what the hyperparameters were that were searched if I didn't provide them. I also have no idea what the cross-validation (CV) scores were for the different hyperparameter combos. It seems like another function would be in order to print out the different hyperparameters and scores.

**Describe the solution you'd like**
A function to print o

[2021-05-06 06:28] georgeblck opened #1228 "[DOC] Add reference to original caret"
Thank you for this package. It is nice to see a well maintained caret-Package in python.
However, I find it very surprising that the [original caret](https://github.com/topepo/caret/) is not mentioned once in this repo or the docs --- shout-out to @rhjp and the indeed appropriate PR #713 to change this. Usually the data science community is very keen on giving credit where credit is due.

This par

[2021-05-06 07:37] rhjp commented on #1228
Thanks for reminding my @georgeblck, that PR has been sitting there for 7 months. Fixed some new README conflicts that arose and now ready for review and merging. I'm not worried about how caret is mentioned, but you're right; _give credit where credit is due_.

[2021-05-06 08:25] Yard1 commented on #1227
You can access the underlying tuner object by setting `return_tuner=True`. The function will then return a tuple of the fitted model and the fitted underlying tuner object (different depending on search library chosen):
[code]

[2021-05-06 08:27] Yard1 commented on #1226
I would just like to clarify that by default, `tune_model` runs a random grid search. There are other search algorithms and libraries available.

[2021-05-06 08:28] #892 closed

[2021-05-06 08:28] #899 closed

[2021-05-06 11:08] ngupta23 commented on #895
@Yard, The new OOP interface will solve this problem - correct?

[2021-05-06 11:10] ngupta23 commented on #906
@blanpa , we will close out this issue for now. Please feel free to reopen if the issue persists.

[2021-05-06 11:10] #906 closed

[2021-05-06 11:13] pycaret commented on #1228
@georgeblck Just added. Closing this issue now.

[2021-05-06 11:13] #1228 closed

[2021-05-06 11:13] ngupta23 commented on #925
@TKassis, we will close out this issue for now. Please feel free to reopen if needed.

[2021-05-06 11:13] #925 closed

[2021-05-06 11:14] #1227 closed

[2021-05-06 11:14] #927 closed

[2021-05-06 11:14] pycaret commented on #895
@ngupta23 Yes. OOP will solve this problem

[2021-05-06 11:16] ngupta23 commented on #931
@DXcarlos , we will close out this issue for now. Please feel free to reopen if you want.

[2021-05-06 11:16] #931 closed

[2021-05-06 11:18] pycaret commented on #1226
@nateGeorge You can access the default hyperparameters grids like this. See below the example I have created on the `juice` dataset.

[code]
This returns the following:
![image](https://user-images.githubusercontent.com/58118658/117289966-3dea4980-ae3b-11eb-813f-7fe69f719661.png)

I think it has to be made more prominent in the documentation somewhere. Thanks for bringing out.

[2021-05-06 11:19] ngupta23 commented on #895
ok, lets leave it open till that release.

[2021-05-06 11:19] #1172 closed

[2021-05-06 11:20] georgeblck commented on #1228
Thank you!

[2021-05-06 12:32] nateGeorge commented on #1226
Ah thanks, yes, it looks like the return_tuner can do it too. Honestly I think it would be worth putting both this method and the return_tuner in the docs/example of tune_model. I should've looked through the hyperparameters more carefully.

[2021-05-06 12:33] nateGeorge commented on #1227
Thanks, I overlooked that parameter.

[2021-05-06 12:54] pycaret opened #1229 "Custom transformers not compatible with sklearn"
I have been working on few integrations of the PyCaret pipeline with the sklearn eco-system particularly on the deployment side such as onnx runtime and pmml conversion.

The only thing that prevents us from integrating all those functionalities which I think will be very valuable is we have created many custom transformers in preprocessing pipeline and if we take a hard look we might be able to g

[2021-05-06 12:56] pycaret commented on #21
Thanks, @jamesmyatt for the update.

@HenriqueAJNB Are you still available to work on this issue?

[2021-05-06 13:01] HenriqueAJNB commented on #21
I'm not available at moment

[2021-05-06 13:38] ganesh3 commented on #1206
Thanks.

[2021-05-06 13:38] #1206 closed

[2021-05-06 22:07] nhm-7 opened #1233 "Remove preprocess when using fix_imbalance"
**Is your feature request related to a problem? Please describe.**
I suggest removing preprocess as a requirement to use imblearn methods. If I want to use only pycaret to try different imblearn methods and if the preprocess flag is False in the setup algorithm (because I've already made the preprocessing without using pycaret), the imblearn technique will be ignored.

**Describe the solution you'

[2021-05-07 05:09] akashg116414 commented on #1219
Hello,
I have tested that without Normalization and scaling timeseries model giving out large value of RMSE and prediction is also somewhat have large difference.

if i do Normalization and scaling then it gives low value of RMSE and prediction is also good.

it is better if it enabled in for testing timeseries.

thanks

[2021-05-07 06:48] sanath984 opened #1234 "Support for power ,log and box-cox transform for univariate timeseries"
In the current timeseries branch Transformation is not support so the rmse and the metric are too error prone.
we need transformation

[2021-05-07 06:52] sanathshenoy984 opened #1235 "Support for T SNE for dimentionality reduction"
We need support for TSNE feature reduction technique

[2021-05-07 07:00] sanath984 opened #1236 "We need to get the dataset at each stage of datapreparation"
We need to get the dataset at each stage of datapreparation  in mlflow
for example after imputation
after transformation
after PCA
at each stage

[2021-05-07 07:05] sanathshenoy984 opened #1237 "Automl for clustering"
there are clustering technique in pycaret much appreciated but if it could have automl with kmeans , kmodes , kmediod and their metric like regression and classification it will be kool

[2021-05-07 10:55] ngupta23 commented on #879
@Yard1 I think this would be possible by having separate objects in the new (unreleased) OOP flow by having different objects hold different sets of features. Then the `compare_model` results could be pulled from different objects, concatenated and used as needed. Is this correct?

[2021-05-07 11:00] ngupta23 commented on #1219
Thanks. We will add it. Just note that any metric with and without scaling is not comparable apples to apples since the data used to train is not on the same scale.

[2021-05-07 18:58] samuelmoss commented on #823
Would this be solved by updating your deployment of pycaret to require sci-kit learn >=0.24.0? Right now pycaret "requires" 0.23.2 according to pip's dependency resolver but these errors are happening when someone has 0.24.0 or above.

[2021-05-07 21:09] samuelmoss commented on #823
I forced my scikit version to 0.23.2 and that fixes the pipelining/transformations errors seen in this issue. There's another existing issue if you use 0.23.2 scikit-learn in Logistic Regression where you get an AttributeError saying that the message has no attribute 'decode'.

I personally went and updated my sklearn.utils.optimize.py to mirror the logic after line 230 here https://github.com/sci

[2021-05-08 00:51] farmboycycles commented on #1225
Update, I consolidated rating values by mapping all to 0 or 1 to increase sample size for each rating/topic combination and reran tune_model with supervised_target = 'rating' and received the same error.

[2021-05-08 19:06] nateGeorge commented on #1130
The hypeparameter search differs when using the GPU or not. Does anyone know why? It makes no sense to me.
You can see for grid search the depth is a smaller range of 1-8 instead of 1-11.

https://github.com/pycaret/pycaret/blob/c04bf2ccf34c6087e5b88f87623563acba0e95b9/pycaret/containers/models/classification.py#L1412

[2021-05-08 19:15] nateGeorge commented on #1130
I also noticed if you set `use_gpu=True` during `setup` and then try using catboost with `scikit-optimize` as the tuner, it doesn't work (the error is `ValueError: Dimension has to be a list or tuple.` and the problem is `tune_distributions["depth"] = (IntUniformDistribution(1, 8),)` where the last comma should be removed). I can open a pull request (or if someone else is faster they can), but I'm

[2021-05-08 19:16] nateGeorge commented on #1130
@xuzhang5788 can you provide the hyperparameters the catboost models found? I'm wondering if the depth has maxed out.

[2021-05-09 08:38] Yard1 commented on #1130
@nateGeorge Catboost documentation recommends lower depth values if Catboost is running on GPU.

[2021-05-09 21:03] pycaret commented on #823
@samuelmoss Can you reproduce the `LogisticRegression` error with sklearn==0.23.2? It will be helpful to know. I haven't encountered that error yet.

[2021-05-10 04:36] masuguaz commented on #1099
I have the same problem...

[2021-05-10 16:39] #1071 closed

[2021-05-10 19:29] samuelmoss commented on #823
The error happens when you run LR with sklearn==0.23.2 and scipy>=1.6.0 because in the upgraded scipy the result message for solver "lbfgs" is already decoded when optimize.py is called in sklearn. So it will raise an Attribute error saying that it has no attribute 'decode' anytime you're working with LR under the above conditions in PyCaret. They fixed this in sklearn>=0.24.0 to use a try except

[2021-05-12 02:30] #1097 closed

[2021-05-12 02:30] #1085 closed

[2021-05-12 02:30] #1073 closed

[2021-05-12 02:30] #1072 closed

[2021-05-12 02:30] #1046 closed

[2021-05-12 02:30] #1040 closed

[2021-05-12 02:30] #1034 closed

[2021-05-12 02:31] #1025 closed

[2021-05-12 02:31] #1017 closed

[2021-05-12 02:31] #1011 closed

[2021-05-12 02:31] #1010 closed

[2021-05-12 02:31] #995 closed

[2021-05-12 02:31] #991 closed

[2021-05-12 02:31] #972 closed

[2021-05-12 02:31] #970 closed

[2021-05-12 02:31] #966 closed

[2021-05-12 02:31] #964 closed

[2021-05-12 02:31] #961 closed

[2021-05-12 02:31] #953 closed

[2021-05-12 02:31] #939 closed

[2021-05-12 08:00] pyaf opened #1244 "tune_model on train data?"
I'm looking into the tune_model functionality of pycaret, and it can be seen that the `model_grid` is fitted on training data (`X_train`) [Reference](https://github.com/pycaret/pycaret/blob/4941df82919c2834b69e498ae5f322e826a79ad2/pycaret/internal/tabular.py#L4471)

Could you please confirm if I am correct here? If yes, then shouldn't we fit it on internal validation splits or maybe the test data

[2021-05-12 09:40] Yard1 commented on #1244
Cross Validation is performed internally by the tuners.

[2021-05-12 10:48] pyaf commented on #1244
Okay, thanks! @Yard1

[2021-05-12 10:48] #1244 closed

[2021-05-12 14:25] ngupta23 commented on #1040
Model have been added to the `time_series` branch (this is still in development), but ok to close.

[2021-05-13 02:06] ngupta23 opened #1245 "[BUG] time_series "ValueError: Multiplicative seasonality is not appropriate for zero and negative values""
**Describe the bug**
When y values are negative, multiplicative seasonality is not valid.

**To Reproduce**
`uschange` data from `sktime` can be used to test this

**Expected behavior**
Don't try multiplicative seasonality in `tune_model` when `y` has negative values

[2021-05-13 02:36] #936 closed

[2021-05-13 02:36] #930 closed

[2021-05-13 02:36] #917 closed

[2021-05-13 02:36] #903 closed

[2021-05-13 02:36] #908 closed

[2021-05-13 02:36] #900 closed

[2021-05-13 02:37] ngupta23 opened #1246 "[BUG] time_series Prediciton from output of compare models does not work"
**Describe the bug**
Time Series models from compare_models can not be used to predict (give error). This is not the case once they are tuned (this works).

**To Reproduce**

[code]

[code]

[code]

**Expected behavior**
If looks like somehow `fh` has not been set in the model that is returned by compare_model.

[2021-05-13 05:22] akashg116414 opened #1248 "Generate different Best Models everytime when apply compare_models on same dataset"
Hello,

if the data_split_shuffle = True then compare_models giving different best model everytime on same dataset and if data_split_shuffle = False then it is giving same best model but fold_strategy = "Kfold" is not working as it is giving NAN value in Kappa column and all other value like precision, f-score, AUC and Accuracy are coming same for all model and some time only 2-3 models are genera

[2021-05-13 10:19] ngupta23 commented on #1248
@akashg116414 Can you set the session id to a fixed number in the setup. This acts as a sees for the pipeline. If you do not specify a different number is selected in each run

From [this](https://pycaret.org/classification/)

If None, a random seed is generated and returned in the Information grid. The unique number is then distributed as a seed in all functions used during the experiment. This c

[2021-05-13 10:44] ngupta23 opened #1249 "[BUG] time_series Does not work if the data input series does not have a name"
**Describe the bug**

**To Reproduce**
[code]

[code]

The issue is that by default the column name will be assigned an integer of 0. But in `preprocess.py`, the columns are explicitly converted to a string which is why this fails.

[code]

**Additional context**
This was run on the `time_series` branch

[2021-05-13 11:42] ngupta23 commented on #794
Lets leave this open since it is marked as an enhancement.

[2021-05-13 11:44] ngupta23 commented on #796
@rajpratyush Are you still working on updating the docs?

[2021-05-13 11:45] ngupta23 commented on #861
Lets leave it open since it is marked as an enhancement.

[2021-05-13 11:47] ngupta23 commented on #840
Lets leave it open since it is marked as an enhancement.

[2021-05-13 11:47] ngupta23 commented on #839
Lets leave it open since it is marked as an enhancement.

[2021-05-13 12:08] Yard1 commented on #1249
Should be good now, pushed to `ts_datasets`

[2021-05-13 12:14] ngupta23 commented on #833
Let's leave this open since it is marked as an enhancement.

[2021-05-13 12:14] ngupta23 commented on #831
Let's leave this open since it is marked as bug.

[2021-05-13 12:15] rajpratyush commented on #796
Sorry i had left this for a long time due to exams i will start working on it from today though if anyone wnats to take up pls take it

[2021-05-13 12:22] #1249 closed

[2021-05-13 12:25] pycaret commented on #1248
@akashg116414 Seems like you are not using the `session_id` parameter in the `setup` function. That is why every time you run `setup`  you get a different `train_test_split`.

Hope this helps.

[2021-05-13 12:25] #1248 closed

[2021-05-13 12:27] pycaret commented on #21
@HenriqueAJNB Thanks for letting us know.

[2021-05-13 12:33] pycaret commented on #21
# HELP WANTED

[2021-05-13 12:34] pycaret commented on #1187
@mingjun1120 Is your issue resolved with `python==3.6`

[2021-05-13 13:47] ngupta23 commented on #816
@rajpratyush Are you still working on this?

[2021-05-13 13:48] ngupta23 commented on #826
Lets leave this open since it is marked as an enhancement.

[2021-05-13 13:49] rajpratyush commented on #816
I had some doubts on this pls clear them and i shall push a pr within 12 hours

[2021-05-13 13:57] ngupta23 commented on #918
Lets leave it open since it is marked as an enhancement.

[2021-05-13 13:59] ngupta23 commented on #921
Lets leave this open since it is an enhancement.

[2021-05-13 14:00] ngupta23 commented on #928
Lets leave this open since it is an enhancement.

@anacarolinarodrigues @vtoliveira Would any of you want to help with this development?

[2021-05-13 14:02] ngupta23 commented on #1098
Lets leave this open for now.

[2021-05-14 02:36] #884 closed

[2021-05-14 02:36] #883 closed

[2021-05-14 02:36] #880 closed

[2021-05-14 02:37] #876 closed

[2021-05-14 02:37] #867 closed

[2021-05-14 07:15] blanpa opened #1254 "Cant Install Pycaret on Windows, Microsoft Visual C++ 14.0 or greater is required"
[code]

[2021-05-14 13:50] Yard1 commented on #1254
Well, have you tried installing it?

[2021-05-14 13:51] #790 closed

[2021-05-14 16:09] ngupta23 commented on #771
@HenriqueAJNB  This is definitely a good thing to have in the long run.

We are adding comprehensive unit tests for the time_series package being developed currently. However, we noticed that the tests are taking a long time and really slowing down the CI pipeline. So we have to come up with a good compromise.

Would you be willing to contribute to this effort (creating some unit test for the othe

[2021-05-15 02:33] #879 closed

[2021-05-15 10:50] Yard1 commented on #879
@ngupta23 It's already possible in the current release by doing, for example:
[code]

[2021-05-17 10:27] actcod01 commented on #854
Hello Guys, @Yard1 @pycaret

**pycaret version : 2.2.3**
___

I'm getting issue while accessing the `get_system_logs` function

`NameError: name 'get_system_logs' is not defined
`

How can I get logs in cmd?

[2021-05-17 22:51] gm039 commented on #1176
Hi,

Can I use the below code to get the prediction probability on train data? WIll the probability for train samples be accurate?

% Importing dataset
from pycaret.datasets import get_data
diabetes = get_data('diabetes')
%Importing module and initializing setup
from pycaret.classification import *
clf1 = setup(data = diabetes, target = 'Class variable')
%creating a model
lr = create_model('lr')
%

[2021-05-18 06:05] schnetzlerjoe opened #1259 "PyCaret Crashes Google Colab with Large Dataset and feature engineering[BUG]"
Hello! My PyCaret model constantly crashes on Google Colab with 501808 rows × 311 columns especially when I utilize the feature engineering tools and/or the feature selection option. What can I do to get this to stop crashing due to memory usage? I have tried GPU usage, etc.

My setup code is currently,

modSetup = setup(data = train, target = 'target', session_id=1234, use_gpu=True, feature_inter

[2021-05-18 06:52] Yard1 commented on #1259
Using feature interaction and polynomial features on such a big dataset will inevitably exhaust all memory due to multiple new columns being generated. While the process can certainly be optimized, the nature of it by itself needs very large amounts of memory. Therefore, with a dataset as big as yours it is not possible to do those feature preprocessing steps without massive amounts of memory and

[2021-05-18 06:54] Yard1 commented on #1176
The idea is correct, but this will predict on all data. If you want to predict just on train data, I would first split the data into train and test sets before passing them to setup (you can pass the test dataframe to be used instead of splitting the data it has received as an argument there) and then predict on train.

[2021-05-18 07:53] bilalmussaukfd opened #1260 "Unable to install pycaret using either Anaconda and pip"
Hiya
I am having an issue installing PyCaret on my work laptop using both Anaconda and pip.
Below is my error

![image](https://user-images.githubusercontent.com/75366970/118613108-569d1c80-b7b6-11eb-8a7e-41babada0641.png)

I cant seem to find anyone else that has encountered this error.
Would anyone know how to fix it?

I have tried **pip install pycaret-nightly** and still get the same error.

[2021-05-18 11:47] varshithvvs commented on #694
@pycaret, a quick question does pycaret support hummingbird from PyCaret 2.3 ??

Context:
I'm working on creating data pipelines using machine learning. However, I felt it would be helpful if I can leverage the low code functionality along with GPU acceleration.

I have tried installing RAPIDS for GPU support, but RAPIDS doesn't support PIP install. I'm new to conda environment and have faced diff

[2021-05-18 12:51] #694 closed

[2021-05-18 14:54] set92 opened #1261 "[BUG] Fix_imbalance doesn't seem to be working"
**Describe the bug**
I tried to use the library to process a dataset of telco clients, but it didn't correct the imbalance dataset. I used https://www.kaggle.com/blastchar/telco-customer-churn as dataset to check if it was because of my dataset.

**To Reproduce**
[code]
Returns the following value_counts before running pycaret
[code]
and the next value_counts after running it:
[code]

And in the r

[2021-05-18 19:11] Yard1 commented on #1261
The imbalance fixing step is applied for each CV fold and during model fitting and thus the changes introduced by it will not be visible in the dataframes obtained through `get_config`.

[2021-05-18 19:11] #1261 closed

[2021-05-18 20:46] gm039 opened #1262 "[BUG] ValueError: Estimator catboost not available. Please see docstring for list of available estimators."
Hi,

I see an issue in pycaret 2.3.1. It throws errors in running catboost and xgboost model.

ValueError: Estimator catboost not available. Please see docstring for list of available estimators.

![image](https://user-images.githubusercontent.com/50217085/118721186-8bca5e80-b7f8-11eb-9bec-e1419d728d8a.png)

[2021-05-18 21:31] Yard1 commented on #1262
CatBoost and XGBoost are not mandatory dependences. You need to either install `catboost` and `xgboost` packages separately or install PyCaret with all of its optional dependencies with `"pycaret[full]"`.

[2021-05-19 17:22] gkumarg commented on #1254
Like the error said, try and install from the link provided

I had to also use the checkbox for C++ on top left, modify installation and restart PC after installation.

pip installing after this step worked fine.

[2021-05-19 18:23] chee154 opened #1263 "[BUG] 'numpy.dtype' object is not iterable"
**Describe the bug**
Compare compare_models() function occasionally results in TypeError: 'numpy.dtype' object is not iterable.

Data Size: 88k
Number of Columns: 49

Code runs all of the models fine but has trouble closing the function?

![image](https://user-images.githubusercontent.com/16231356/118863845-fe911380-b8a4-11eb-99ea-5e46029eb978.png)

![image](https://user-images.githubusercontent.c

[2021-05-19 19:32] Yard1 commented on #1263
Can you share the data and provide a full stack trace?

[2021-05-20 00:25] nateGeorge commented on #316
The training time depends on the size of the data and can be sped up with GPU and more powerful hardware. I think it should still be an option in `compare_models` that's deactivated by default. Some models' default hyperparameters are prone to overfitting, like random forests and decision trees with `max_depth=None` (unlimited splits in the trees), and you can get substantial performance increases

[2021-05-20 17:55] hamzag95 opened #1266 "Compare Models, Shuffle=True Error"
I am trying to run the compare_models() function but I get an error regarding Kfold cross validation,

This error happens when I run the compare_models() function.
 "setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None) or set shuffle=True"

Below is my full PyCaret code, where df is a pandas data frame with missing values filled in. Datas

[2021-05-20 20:16] Yard1 commented on #1266
This should have been fixed in the latest PyCaret version. Please run `pip install -U pycaret` and try again.

[2021-05-20 20:18] hamzag95 commented on #1266
@Yard1 what version should I be running? Im running 2.1.2 right now

[2021-05-20 20:27] Yard1 commented on #1266
2.1.3

[2021-05-20 20:28] hamzag95 commented on #1266
Thanks!

[2021-05-20 20:28] #1266 closed

[2021-05-20 22:35] tsereno opened #1267 "Can you add a feature to export/convert PyCaret model to ONNX format? This would enable deploying models created with PyCaret to any platform."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-05-20 22:39] tsereno opened #1268 "Please add support for "whylogs" in PyCaret. This would follow on with the existing MLFlow integration and provide model monitoring capability in production environments.."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-05-21 01:56] ngupta23 commented on #1267
@moezali1 wrote [an article](https://towardsdatascience.com/deploy-pycaret-models-on-edge-devices-with-onnx-runtime-c6d060a2e1a6) on it a few days back. Please refer to it to see how it can be done.

[2021-05-21 01:57] #1267 closed

[2021-05-21 02:37] #1098 closed

[2021-05-21 02:37] #960 closed

[2021-05-21 02:37] #842 closed

[2021-05-21 02:37] #841 closed

[2021-05-21 02:37] #834 closed

[2021-05-21 02:37] #831 closed

[2021-05-21 02:37] #826 closed

[2021-05-21 02:37] #819 closed

[2021-05-21 02:37] #797 closed

[2021-05-21 02:37] #798 closed

[2021-05-21 02:37] #792 closed

[2021-05-21 02:37] #794 closed

[2021-05-21 02:37] #777 closed

[2021-05-21 04:10] bimhud opened #1270 "Import pycaret took a long time"
With the latest version, importing pycaret took along time to finish due to its plotly dependency which inturn took a long time when you're running in an isolated environment without connecting to the internet.

Not sure this is the issue of pycaret or there is away out to speed up this process.

Tested on Pycaret 2.3.1, python 3.6

[2021-05-21 04:18] bimhud commented on #1270
**Run this command:**

time python -c "from pycaret.classification import *"

**Obtain 4m to complete the import**

real	4m19.667s
user	0m6.285s
sys	4m7.291s

[2021-05-21 04:21] bimhud commented on #1270
time python -c "import plotly.express"

real	3m5.489s
user	0m3.293s
sys	2m56.742s

[2021-05-21 14:22] gm039 commented on #1262
Thanks.

[2021-05-21 14:22] #1262 closed

[2021-05-21 22:56] noamanemobidata commented on #895
Hello!
I get the same issue when I try to run distributed pandas function that fit pycaret models  on spark cluster

[2021-05-22 02:36] #1048 closed

[2021-05-22 02:36] #755 closed

[2021-05-22 02:36] #703 closed

[2021-05-22 13:59] ngupta23 commented on #708
We might think about returning the plot object in a later release.

[2021-05-22 14:19] dkinneyBU opened #1278 "[BUG]ValueError: Setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None), or set shuffle=True."
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**
 1 clf1 = setup(df, target = 'diagnosis')

D:\Users\David\anaconda3\lib\site-packages\pycaret\classification.py in setup(data, target, train_size, test_data, preprocess, imputation_type, iterative_imputation_iters, categorical_features, categorical_imputation, categorical_iterative_imputer, ordinal_featur

[2021-05-22 14:39] Yard1 commented on #1278
Please update to the latest (2.3.1) version of PyCaret. This bug has been fixed in it. You can do that with `pip install -U pycaret`.

[2021-05-22 14:39] Yard1 commented on #1278
If the issue persists after updating, please reopen the issue.

[2021-05-22 14:39] #1278 closed

[2021-05-22 15:04] dkinneyBU commented on #1278
That worked. Apparently conda did not install the latest version, even though I specified update. And then my peers wonder why I loathe anaconda...

thank you...

[2021-05-22 17:20] TremaMiguel opened #1280 "[FEAT] Set logistic trend for prophet container"
**Describe the bug**

Define a `cap` column in dataset to be able to use `logistic` trend in Prophet container.

[code]

[2021-05-22 19:46] noamanemobidata opened #1281 "[BUG] Distribute Pycaret on Spark (databricks)"
**Distribute Pycaret on Spark (databricks)**

Hi!
I try to run pycaret models  for each group in a spark dataframe using applyInPandas with an pandas UDF but I got this error :
`ERROR:logs:(Process Exit): setup has been interupted with user command 'quit'. setup must rerun.`

[code]

[2021-05-22 23:20] ngupta23 commented on #1281
Can you try adding silent=True in the setup?

[2021-05-23 02:52] #700 closed

[2021-05-23 03:26] #286 closed

[2021-05-23 03:34] ngupta23 commented on #543
@navendu-pottekkat Could you share the instructions to add this bot? Thanks!

[2021-05-23 03:37] #572 closed

[2021-05-23 03:39] #609 closed

[2021-05-23 03:40] #619 closed

[2021-05-23 04:03] navendu-pottekkat commented on #543
Yes, you would be able to do that

[2021-05-23 08:32] eajamat commented on #1254
I encountered few errors during Pycaret installation, and using below steps Pycaret now works in my machine. I'm not sure which step eliminated which error exactly(except the pywin32 error), but on the whole, these steps work :
------------
Steps -
1. Download MSVC++ Build Tools from https://lnkd.in/gEb5bnG
2. Use Python v3.7 : I had v3.9 but uninstalled it to use 3.7
3. Do not open Anaconda promp

[2021-05-23 08:41] noamanemobidata commented on #1281
yes the function works well with a Pandas DataFrame.
Not working  with `silent=True` in spark cluster... maybe the problem is the fact that we can't run multiple `setup`  functions simultaneously in single worker ?

[2021-05-23 08:53] eajamat commented on #1260
I will detail the steps I followed, please use these and let me know if it works:

1. Your system should contain Microsoft Visual C++ version higher than 2014. If your version is 2014 or less, go to https://visualstudio.microsoft.com/visual-cpp-build-tools/ and download build tools. After successful download, your control panel should look like attached snapshot.
<img width="570" alt="Capture_1" s

[2021-05-23 10:03] Yard1 commented on #1281
That could be the reason. The next major update should help with that.

[2021-05-23 12:58] ngupta23 commented on #1281
You could try to run with number of shuffle partitions = number of executors and try to launch only 1 core per executor. Is that possible with your setup? I am not 100% sure but that could ensure that only 1 setup per executor at a time.

[2021-05-24 02:43] #1043 closed

[2021-05-24 08:05] pyaf opened #1288 "Add save_path to plot_model"
**Describe the Problem**

`plot_model` currently has the `save` argument which can be used to save the plots. It does not provide the functionality to decide where to save the plot and with what name. Right now it saves the plot with predefined names in the current working directory.

**Describe the solution you'd like**

We can have another argument `save_path` which is used whenever the `save` a

[2021-05-24 08:49] Yard1 commented on #1288
It's a good suggestion, and has been asked for before. We'll make it so that `save` will take a string/path as an argument in the next major release. Thanks.

[2021-05-24 13:52] ngupta23 commented on #1209
In Work

[2021-05-24 15:50] rogerpou opened #1289 "[BUG] Pycaret makes regression but not Clustering on the same dataset"
**Describe the bug**

Using the same dataset i can make a regression model but not do clustering on it.

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

'2.3.1'

</details>

[2021-05-25 01:33] #327 closed

[2021-05-25 11:31] Geethen opened #1291 "[BUG] model trained on fold_group column when using groupkfold cv"
I have been using the groupkfold cv strategy which requires me to specify a fold_groups parameter. The problem arises when this column remains as a feature in the model. if I specify the fold_groups column name within the ignore features argument. An error is returned. Any ideas to fix this? I know the fold_group column is being used as a feature to train the model because it appears in the featur

[2021-05-25 16:25] chee154 commented on #1263
The data has had quite a bit of cleaning and pre-processing done but stack traceback below:

`  File "C:\Users\David\Anaconda3\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\David\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\David\Anaconda3\lib\site-packages\ipykernel_launcher.py", line

[2021-05-25 23:32] StatsAI opened #1292 "[BUG] Install lightgbm GPU"
**Describe the bug**

Bug when trying to install GPU version of LightGBM. I followed these instructions

# create a conda environment
conda create --name yourenvname python=3.6

# install the full version of pycaret
pip install pycaret[full]

# uninstall lightgbm CPU
pip uninstall lightgbm -y

# install lightgbm GPU
pip install lightgbm --install-option=--gpu --install-option="--opencl-include-dir

[2021-05-26 00:04] StatsAI commented on #1292
Visual Studio Build Tools 2019 was already installed.
I installed Visual Studio Community 2019 and still get the same error when trying to install

[2021-05-26 01:54] StatsAI commented on #1292
It appears this is a LightGBM dependency issue. Apparently, you need a lot more dependencies to install it on Windows 10.

https://github.com/microsoft/LightGBM/blob/master/docs/GPU-Windows.rst
https://stackoverflow.com/questions/57412261/how-can-i-solve-problem-with-installing-lightgbm-gpu-on-windows-10

[2021-05-26 03:43] lcast5576 opened #1293 "MemoryError"
**Describe the bug**

setup() is keep getting memoryerror with data shape (276759, 893)

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

Computer memory is 16gb
pycaret '2.2.0'
Can't share data set.
**Versions**
<details>

</details>

[2021-05-26 10:50] Yard1 commented on #1292
Yeah, unfortunately we can't really do anything about that. I'll close it as it's not related to PyCaret.

[2021-05-26 10:50] #1292 closed

[2021-05-26 10:51] Yard1 commented on #1293
Please try updating PyCaret to the latest release (2.3.1). If you are using feature interactions or polynomial, trigonometric features, turn them off.

[2021-05-26 12:05] #1293 closed

[2021-05-26 12:28] ngupta23 opened #1298 "pycaret FAQ's - Most commomly asked questions"
## Installation Issues

* Installing with Anaconda and pip [#1260]
* Visual C++ error [#1254]
* Installation issues on Ubuntu [#1187]

## Run Time Too Long

## pycaret crashing

* For large datasets with feature interaction enabled [#1259]

## Optional Dependencies

* Catboost installation []

[2021-05-26 12:35] ngupta23 commented on #1209
Done

[2021-05-26 12:35] #1209 closed

[2021-05-26 19:35] reza1615 opened #1299 "[BUG] RecursionError: maximum recursion depth exceeded while calling a Python object"
**Describe the bug**
after creating clustering model with brich on DataBricks AZURE.
the model is created correctly but when i want to plot the model shows the below error

training data.shape is (50000, 100)
![image](https://user-images.githubusercontent.com/2202483/119720232-b7bc9400-be37-11eb-8197-5a3098f521ba.png)

**To Reproduce**

[code]

pycaret.__version__ :  '2.3.1'

[2021-05-27 10:31] bilalmussaukfd commented on #1260
Hi,
Brilliant it works.
So every time I want to use PyCaret, do I need to do the following steps or can I call it directly from Spyder?

  1.  In conda cmd, type > conda create -n pycaret_env python=3.7
  2.  It will show the command to activate the environment, run that command > conda activate pycaret_env
  3.  Go to the location where your code usually resides in your machine using cd, and type

[2021-05-27 11:38] eajamat commented on #1260
Great to know it works for you!
Steps you have shared  are scriptable, so I think they can be called from Spyder. But I have not tried it yet.

[2021-05-27 21:22] sagarnildass opened #1303 "One hot encoded column by pycaret gets dropped in get_config"
When I am running pycaret on titanic data, after running setup, I am pulling X_train, X_test etc by get_config method. But when I am printing X_train, I am seeing that for the 'Sex' column, only 1 one-hot-encoded column (Sex_male) is present while the other is dropped. But for other one-hot encoded columns, this is not the case and I am seeing that all the columns are correctly present. I don't wa

[2021-05-28 02:32] pycaret opened #1304 "[BUG] Gain and lift plot in pycaret.classification"
`gain` and `lift` plot in pycaret.classification module is wrong. `y_pred` is passed instead of `y_true`.

[code]

`y_test__` must be replaced to `test_y` instead of `fitted_pipeline_with_model.predict(X_test)`.

Similar change required in the lift function as well.

[2021-05-28 02:40] pycaret commented on #1281
@noamanemobidata Can you try explicitly passing `n_jobs = 1`. I am hopeful it might fix the issue for you.

[2021-05-28 02:41] pycaret commented on #1268
@Yard1 This seems pretty similar to the request you are working on for integrating weights and biases. whylogs is another project. I believe with the structure of class you are creating, it wouldn't make any difference if its whylogs or weights and biases?

[2021-05-28 02:43] pycaret commented on #1225
@farmboycycles Can you share the dataset?

[2021-05-28 02:43] #1226 closed

[2021-05-28 02:45] pycaret commented on #1299
@reza1615 Would you like to work on this issue?

[2021-05-28 02:47] pycaret commented on #1270
@Yard1 Any suggestions?

[2021-05-28 02:49] pycaret commented on #1268
@tsereno Would you like to share any example of whylogs?

[2021-05-28 05:04] tsereno commented on #1268
There are 9 working examples on [whylogs](https://github.com/whylabs/whylogs) including a notebook which extends mlflow functionality with whylogs.

I asked a whylogs developer at Databricks conference and they are already working on a one-liner integration with PyCaret.

For me, I would like to incorporate "model/data drift detection" MLOps functionality that I see in Azure and Databricks, but wo

[2021-05-28 09:12] noamanemobidata commented on #1281
Works with `n_jobs = 1`
Thank you

[2021-05-28 09:23] bilalmussaukfd commented on #1260
Hi,
What if I want to use Spyder? Is that possible?

Bilal

From: Nikhil Gupta ***@***.***>
Sent: 28 May 2021 10:03
To: pycaret/pycaret ***@***.***>
Cc: Bilal Mussa ***@***.***>; Author ***@***.***>
Subject: Re: [pycaret/pycaret] Unable to install pycaret using either Anaconda and pip (#1260)

  1.  In conda cmd, type > conda create -n pycaret_env python=3.7
  2.  It will show the command to activ

[2021-05-28 12:02] ngupta23 opened #1307 "[BUG] pull() with tune_model and choose_better=True may not be working as expected."
**Describe the bug**
pull() with tune_model and choose_better=True may not be working as expected. It still pulls the worse metrics (not the better metrics). Not sure if this is specific to time_series but that is where the bug was discovered.

**To Reproduce (from `time_series` branch)**

[code]

**Expected behavior**
`metrics_tune2` should have been same as `metrics_create`, but come out to be s

[2021-05-28 12:21] ngupta23 commented on #1260
That is an IDE specific question. Many IDEs (like VSCode) will provide access to a terminal. You can do the steps in the terminal within the IDE is one is provided.

[2021-05-28 13:30] #1260 closed

[2021-05-28 13:32] farmboycycles commented on #1225
Unfortunately I can't share all data due to privacy concerns. There is a sample included below. The dataset I was analyzing and receiving the error included ~650 comments and ratings.
[sample_ratings.txt](https://github.com/pycaret/pycaret/files/6561106/sample_ratings.txt)

Thank you for taking a look at this and sorry I can't share more data. If I can help troubleshoot in other ways, please let m

[2021-05-28 20:22] Yard1 commented on #1303
By default we drop columns that are perfectly colinear with each another. You can disable that behavior with `remove_perfect_collinearity=False` in `setup`. Let me know if that helps.

[2021-05-28 20:23] #1304 closed

[2021-05-28 20:24] Yard1 commented on #1270
This is a plotly issue, not PyCaret. We can't make plotly an optional dependency, though, so I am not sure what we can do here.

[2021-05-28 20:25] Yard1 commented on #1268
We are working on a way to easily integrate loggers other than MLFlow, which should help with this too. It will come with the next major release.

[2021-05-28 20:26] Yard1 commented on #1194
Can you share the data and the code?

[2021-05-28 20:26] #1281 closed

[2021-05-28 20:26] Yard1 commented on #1307
Will take a look, this is most likely something that will be an issue in all modules.

[2021-05-29 03:04] hokmingkwan opened #1308 "[BUG] Fail to import "from pycaret.regression import *""
**Describe the bug**

After !pip install pycaret and try to import from pycaret.regression import * at Kaggle environment, I got below error msg:

"ImportError: cannot import name '_raise_dep_warning_if_not_pytest' from 'sklearn.utils.deprecation' (/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py)"

**To Reproduce**

[code]

**Expected behavior**

"ImportError: cannot import nam

[2021-05-29 04:23] #693 closed

[2021-05-29 04:23] #688 closed

[2021-05-29 04:23] #684 closed

[2021-05-29 07:34] sagarnildass commented on #1303
Got it! Works perfectly now. You may want to change your documentation though. Over there, it says that the default value is False.

https://pycaret.org/classification/#get-config

[2021-05-29 07:34] #1303 closed

[2021-05-29 09:39] Yard1 commented on #1308
Can you try
[code]
Instead?

[2021-05-29 13:21] ngupta23 commented on #1299
Can you try changing the variable name from `birch` to something else. Not sure it will work, but worth a try.

[2021-05-29 13:21] hokmingkwan commented on #1308
It works now, thanks!

[2021-05-29 15:13] #1308 closed

[2021-05-29 16:33] #1254 closed

[2021-05-29 17:41] TremaMiguel opened #1311 "[BUG] Cloning Prophet estimator after random hyperparameter search fails"
**Describe the bug**

Tuning the Prophet model with random search `tune_model(search_algorithm='random')` fails after finding the best parameters. Specifically, when creating the model with the best parameters.

**To Reproduce**

[code]

if you were to find the following parameters in the random search, then it fails the creation of the model.

[code]

[2021-05-30 04:29] #668 closed

[2021-05-30 04:29] #666 closed

[2021-05-30 04:29] #655 closed

[2021-05-30 04:29] #640 closed

[2021-05-30 04:29] #615 closed

[2021-05-30 04:29] #607 closed

[2021-05-30 04:29] #584 closed

[2021-05-30 04:29] #509 closed

[2021-05-30 04:29] #389 closed

[2021-05-30 04:29] #478 closed

[2021-05-30 04:29] #250 closed

[2021-05-30 04:29] #361 closed

[2021-05-30 07:20] pycaret opened #1312 "[BUG] SHAP summary plots for binary classification showing as bar instead of beeswarm"
Currently, when the target variable is binary the 'summary' plot from the `interpret_model` shows a bar as opposed to beeswarm.

The problem happens with the following estimators:
- Decision Tree
- Random Forest
- Extra Trees Classifier
- LightGBM

## Current Outcome
![image](https://user-images.githubusercontent.com/58118658/120095524-7c022280-c0f4-11eb-84e6-3baae18b67f7.png)

## Expected Outcome

[2021-05-31 04:36] #634 closed

[2021-05-31 04:36] #629 closed

[2021-05-31 07:36] #1312 closed

[2021-06-01 00:11] soerendip opened #1314 "[BUG] AttributeError: 'Make_Time_Features' object has no attribute 'list_of_features'"
Using the dataset from kaggle I get "Tabular Playground Series - May 2021" with

[code]

[2021-06-01 05:03] #624 closed

[2021-06-01 15:33] soerendip commented on #1314
This is an incompatibility with the latest `scikit-learn` library.
using `scikit-learn==0.23.2` works.

[2021-06-01 21:12] pycaret opened #1319 "Implement Partial Dependence Plot in interpret_model"
Implement partial dependence plot under `interpret_model`. dependece_plot from `shap` only works for tree-based models. PDP from `pdpbox` is model agnostic.

Expected Plot:

![image](https://user-images.githubusercontent.com/58118658/120391083-8b53bc80-c2fc-11eb-8784-b2cd20b49357.png)

[2021-06-01 22:12] Yard1 commented on #1314
Yes, PyCaret is not yet compatible with sklearn 0.24. It will be rectified in the next major release.

[2021-06-01 22:12] #1314 closed

[2021-06-02 01:09] venkaateshd opened #1321 "Error during SetUp()"
i am trying to do a regression model , and a fresher to pycaret.

i am using the tutorial notebook, Regression 101 for beginner and when i set up the model i get a value error (please see the error below)

ValueError: Setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None), or set shuffle=True.

Any advises or solutions in this aspect would

[2021-06-02 01:10] pycaret commented on #1321
@venkaateshd please update your pycaret version

[code]

[2021-06-02 05:49] venkaateshd commented on #1321
when i try to upgrade pycaret, this is the error i am getting . please advise how do i solve it ?

![image](https://user-images.githubusercontent.com/51989263/120430242-4c2f7500-c3a9-11eb-9bbb-b1b6137993e1.png)

[2021-06-03 01:47] nateGeorge commented on #1163
Hmm, I could see wildcard imports being useful for experts developing code but not for beginners as it would get confusing (e.g. where is this function coming from I see in this example?). Plus we don't want to create bad habits with beginners. Most other packages import with an alias instead of a wildcard, like `import pandas as pd` or `import numpy as np`. Pycaret classification could be `import

[2021-06-03 01:56] nateGeorge opened #1322 "[BUG] preprocess=False doesn't seem to turn off preprocessing in classification setup"
**Describe the bug**
In pycaret.classification.setup, setting `preprocess=False` doesn't seem to actually turn off preprocessing.

**To Reproduce**
This loads the 20 newsgroups data, creates TFIDF vectors, and tries to run pycaret's setup for classification. However, it hangs for at least 10 minutes on 'preprocessing' even though `preprocess=False` (I interrupted it after waiting 10 minutes). The

[2021-06-03 06:45] Yard1 commented on #1163
Wildcard imports are intended to be used mainly in jupyter notebooks by users importing the public API are are indeed the intended way to use PyCaret in a notebook.

[2021-06-03 06:49] Yard1 commented on #1322
`Preprocess=False` still runs the data types inference and conversion step in order to guarantee PyCaret functionality. That'd be the reason. We cannot remove that step as it is the bare minimum required for the rest of PyCaret to not throw exceptions related to data constantly.

[2021-06-03 07:12] KrishnanSG opened #1323 "[BUG] `internal.persistence` module fails to handle few exceptions and contains few typos"
**Describe the bug**

`internal.persistence` module has minor bugs and typos

* The import exception is check on awscli rather than boto3 causing incorrect log message being displayed
* AWS/Azure/GCP connection fails exception are not handled
* eg: Successful is misspelt as "succesful"

Another problem is that the except scope used is too broad, rather this should be scoped to the specific excepti

[2021-06-03 12:25] nateGeorge commented on #1322
But if I'm providing the datatypes, why does it need to do data type inference and conversion?

[2021-06-03 13:39] ngupta23 commented on #1163
We have started using `black` to autoformat the code (for any new additions). So it should improve over time.

[2021-06-03 13:50] Yard1 commented on #1322
Because they need to be in a specific format for PyCaret to work. We will be refactoring the code responsible in the next major release and we'll see if we can drop that requirement.

[2021-06-03 15:31] tdekelver opened #1325 "[BUG] TypeError: unsupported operand type(s) for /: 'str' and 'int' when using remove_multicollinearity = True in clustering setup"
**Describe the bug**
Whenever I include the `remove_multicollinearity = True` parameter to the `setup` of clustering, an error is thrown just after confirming the inferred data types. If I put the parameter to False, everything works as expected.

**To Reproduce**

[code]

**Traceback**
[code]

**Versions**
<details>
pycaret==2.3.0
</details>

[2021-06-03 15:57] Yard1 commented on #1325
Can you update to 2.3.1?

[2021-06-04 01:05] pycaret opened #1326 "Add KS Statistic Plot"
Add KS statistic plot in the `plot_model` function from scikit-plots.

https://scikit-plot.readthedocs.io/en/stable/metrics.html

![image](https://user-images.githubusercontent.com/58118658/120730420-6fdce300-c4af-11eb-8ee4-2edfb5b30691.png)

In statistics, the Kolmogorov–Smirnov test (K–S test or KS test) is a nonparametric test of the equality of continuous (or discontinuous, see Section 2.2), o

[2021-06-04 01:30] nateGeorge commented on #1322
I see. It would definitely be very helpful to be able to provide the data already prepared and be able to turn off the inference and conversion. Or maybe some profiling to figure out where the bottlenecking is. It seems to make it unusable with big datasets with many features.

[2021-06-05 07:50] #1323 closed

[2021-06-05 14:38] TremaMiguel opened #1330 "[BUG] DatetimeIndex support for time series models containers"
**Describe the bug**

 Make sure `DateTimeIndex` works not only for Prophet model.

[Reference](https://github.com/pycaret/pycaret/pull/1279)

[2021-06-05 14:45] TremaMiguel opened #1331 "MAE and MASE metric support for time series modules"
**Describe the bug**

Check `MAE` and `MASE` metric support in `cross_validate_ts` function. [Reference](https://github.com/pycaret/pycaret/blob/time_series/pycaret/containers/metrics/time_series.py#L188)

[2021-06-06 08:06] PardeepRassani opened #1333 "PyCaret setup not completely running in Django views"
I have a function in the views.py of a Django app, in which I am setting up setup function of PyCaret regression module:

[code]

and I get the following output where setup is not fully run, neither giving any error:

![Screenshot from 2021-06-05 00-37-08](https://user-images.githubusercontent.com/36777973/120917154-fc152300-c6c6-11eb-8070-a3258b619282.png)

**Versions**
2.3.1

[2021-06-06 16:52] ngupta23 commented on #1333
You may be running out of memory. Monitor the memory usage to verify this. If it is close to the limit, try

1. with `preprocess = False` to see if it works.
2. on a different machine like Google Colab which may have a larger memory.

[2021-06-06 18:06] PardeepRassani commented on #1333
I am running PyCaret on jupyter notebook locally, which is working fine even without `preprocess = False`, however setup is  running completely in Django views if I set `preprocess = False` but then I get empty output from compare_models() or pull().

[2021-06-06 23:59] pycaret commented on #1325
@tdekelver Hi.. Can you confirm if the issue is fixed after the pycaret update to 2.3.1?

Thanks for your help.

[2021-06-07 00:05] pycaret commented on #1291
Hi @Geethen.

`fold_groups` parameter can also accept takes an array with shape (n_samples, ) where n_samples is the number of rows in the training dataset. You can pass an array with group values instead of passing the string with the name of the column in the dataset.

![image](https://user-images.githubusercontent.com/58118658/120944409-55e70e80-c702-11eb-8ddb-12f28f00aa80.png)

Hope this helps

[2021-06-07 03:08] #243 closed

[2021-06-07 03:10] pycaret commented on #1122
@bernard778 Can you check if you still get this issue with pycaret==2.3.1. If yes, can you upload the logs file here for us to look into?

Most likely it will be an issue with `umap-learn`.

Thanks

[2021-06-07 06:59] CJosh88 opened #1334 "[BUG] Cannot use saved anomaly model to predict on unseen data"
**Describe the bug**
After creating and saving an anomaly model with save_model, when I try to load this model and predict on unseen data (that has the same shape as the training data), I get a "TypeError: Model doesn't support predict parameter".  I even tried save_config and load_config, but the error persists. I also tried this with several models (pca, iforest, knn, and lof) and all return the

[2021-06-07 10:51] fedihamdi opened #1335 "OSError: [WinError 193]"
Hello,
I am new to pycaret, so i've using it on google Colab and it works just fine. However when I started using the package on my local machine using Windows 7 64 bits as OS. Once I write this line of code :

[code]
I get this error :

 1 from pycaret.classification import *

~\AppData\Roaming\Python\Python38\site-packages\pycaret\classification.py in <module>
      8 import numpy as np
      9

[2021-06-07 11:01] ngupta23 commented on #1213
We recently also added support for `auto_arima` (univariate only for now) .

[2021-06-07 11:01] #1213 closed

[2021-06-07 11:03] #137 closed

[2021-06-07 11:41] Yard1 commented on #1335
It looks to be a LightGBM error. Make sure it has been installed correctly and you have all of the required libraries to run it.

[2021-06-07 11:53] Geethen commented on #1291
Hi,

Thanks for your response. I have tried specifying a numpy array with shape
(n_samples,). However, this raises the error AttributeError:
'numpy.ndarray' object has no attribute 'index'.

I am not sure if I am doing something wrong or if it is a bug. it seems
like it wants a list object?

thanks for your help,
Geethen

On Mon, Jun 7, 2021 at 2:05 AM PyCaret ***@***.***> wrote:

[2021-06-07 12:07] ngupta23 commented on #1333
Not sure. It might be a Django specific issue. Maybe someone with experience in this framework can help.

[2021-06-07 12:36] set92 opened #1337 "Save interpret_model output in mlflow"
**Is your feature request related to a problem? Please describe.**
I'm trying to use MLFlow as the platform to track the runs, and if I wanted to have also the plots of XAI to know how the model worked, but seems they aren't in log_plots parameter of setup(). And I was not able to find a option to track it in setup() or interpret_model()

**Describe the solution you'd like**
I suppose it could be

[2021-06-07 15:12] maverick-gst commented on #1333
Once the setup is complete, can you try to access X/X_train from
get_config, yo check all the global variables are available from setup.

On Mon, Jun 7, 2021, 5:37 PM Nikhil Gupta ***@***.***> wrote:

[2021-06-07 23:15] bimhud opened #1338 "Feature Interaction Extension"
**Is your feature request related to a problem? Please describe.**
Feature interaction is really useful to discover the new combination and help for business explanation.
The current implementation should enable to have a choice to select which features to be interacted with as the business might have indicators for which features could be useful for interaction. This helps to reduce the memory is

[2021-06-08 02:42] PardeepRassani commented on #1333
@maverick-gst yes I am able to get the X from get_config('X) once the setup is complete. The X is not empty, it is the dataset that I passed to setup.

[2021-06-08 07:21] cailurus opened #1339 "[Clustering] num_clusters must >= 1?"
Hey guys, I'm trying to do clustering for geodata, so I think KMeans should be the first try.

For now, I want to find the center of my dataset. I can do this easily with sklearn

[code]

But in pycaret I got:

[code]

So, could you guys tell me a little bit more about this restriction? I mean, why we set 'num_clusters >= 1' ?

[2021-06-08 10:59] ngupta23 commented on #1033
@S-UP Towards the very end of [this notebook](https://nbviewer.jupyter.org/github/ngupta23/ds7333_qtw/blob/master/case_study_7/submission_Kannan_Moro_Gupta/code/cs7.ipynb), you will see how to use SHAP manually with a `pycaret` model.

[2021-06-08 10:59] #1033 closed

[2021-06-08 18:14] piEsposito commented on #639
Hi, any updates on this?

[2021-06-08 18:15] piEsposito commented on #162
Agree

[2021-06-08 18:50] Yard1 commented on #639
No updates, distributed training is something we would like to have but it's not on our schelude atm.

[2021-06-08 21:31] rg666 commented on #1288
May I pick up this 'good first issue'?

[2021-06-09 07:39] mjkanji commented on #1131
@Yard1 @moezali1 I've submitted a PR that fixes this.

[2021-06-09 09:33] #1131 closed

[2021-06-09 23:55] victor-mariano-leite opened #1343 "[Feature Selection] Boruta run-time display"
**Is your feature request related to a problem? Please describe.**

During Boruta execution, depending on the dataset sample size and number of features, complexity can grow quite large, it would be useful if during the pre-processing step Boruta displayed information about it's execution to avoid stopping to earlier or to later.

**Describe the solution you'd like**

Similar to tune_model display

[2021-06-10 00:07] victor-mariano-leite opened #1344 "[Interpret model] SHAP values to data frame and custom top values"
**Is your feature request related to a problem? Please describe.**

As far as I've seen, we can only plot the SHAP values when model is trained, it would be useful if we had an parameter to output to a dataframe, instead of a HTML visualization.

And set the ranking threshold of the visualization, that it's hardcoded as 25.

**Describe the solution you'd like**

output = 'html' (default) parameter

[2021-06-10 02:37] #1139 closed

[2021-06-10 05:09] zhaozhongfeng1990 opened #1345 "[BUG] Possibly with Simple Imputer?"
**Describe the bug**
when i run
''clf1 = setup(prepare_data, target = 'Class', session_id=456, train_size=0.7,
             log_experiment=False, experiment_name='test1')

then  return
        'Simple_Imputer' object has no attribute 'fill_value_categorical'

how can i fix this,thanks

[2021-06-10 06:47] jatom-tech opened #1346 "Installation Issue with numba"
**Describe the bug**
Cannot install pycaret. I have tried a number of times. I am not experienced with python yet, but i have done the installation in a virtual activated environment so i expected it to work.

A clear and concise description of what the bug is.

**To Reproduce**
The errors from my terminal

10.9-x86_64-3.8/numba/roc/hlc
    copying numba/roc/hlc/common.py -> build/lib.macosx-10.9-

[2021-06-10 08:01] CJosh88 commented on #1194
I just encountered this issue on 2.3.1. I downgraded to 2.2 and the issue went away.

[2021-06-10 09:39] ngupta23 commented on #1346
Are you installing in an existing virtual environment? It might be helpful to create a new virtual environment and install it there?

Note: use python 3.6, 3.7 or 3.8 while crating the virtual environment.

[2021-06-10 09:41] ngupta23 commented on #1345
Please provide more details (like a minimum reproducible example with the other required details that were mentioned in the bug template like version used, etc.

[2021-06-10 11:22] jatom-tech commented on #1346
Hello thanks for responding quickly.

i have done a new virtual enviroinment making sure in python 3.8 with the same result. when it comes to the numba package, it fails

regards Jan

[2021-06-10 11:59] ngupta23 commented on #1344
You can extract the shapley values manually for now. Refer to [this notebook](https://nbviewer.jupyter.org/github/ngupta23/ds7333_qtw/blob/master/case_study_7/submission_Kannan_Moro_Gupta/code/cs7.ipynb
) (it is towards the end)

[code]

[2021-06-10 12:13] ngupta23 commented on #1346
Can you try installing `numba` separately in a new env just to isolate the issue? Maybe it is related to `numba` and not `pycaret`.

https://numba.pydata.org/numba-doc/latest/user/installing.html

[2021-06-10 12:27] jatom-tech commented on #1346
Done. same result.

Regards Jan

[2021-06-10 14:01] victor-mariano-leite commented on #1344
@ngupta23 it's true! Nice, I'll close the issue then

[2021-06-10 14:01] #1344 closed

[2021-06-10 14:06] Yard1 commented on #1345
Make sure you have `sklearn==0.23.2`. Other versions (including newer ones) are not supported at this moment.

[2021-06-10 14:07] ngupta23 commented on #1346
So it is a `numba` installation issue in that case and not related to `pycaret`. Could you try to resolve the `numba` installation first (maybe file an issue on their github) and then install `pycaret`.

[2021-06-11 07:57] jackmau opened #1350 "Add Sample_weights to setup"
Following my reply on LinkedIn to @moezali1 call for new features, here is a big one

**Is your feature request related to a problem? Please describe.**
Since #573 it has been possible to fit models with `sample_weights` argument. However sample_weights are consequently ignored in pycaret metrics, evaluation and are not used to split the data at `setup` stage.

**Describe the solution you'd like**

[2021-06-11 08:38] iki77 commented on #21
Pycaret can be installed using conda from conda-forge channel since 9 months ago
[https://anaconda.org/conda-forge/pycaret](url)

[2021-06-12 14:21] mandar-karhade opened #1352 "Categorical data with too many levels stops setup() without throwing an error"
**Describe the bug**
If training data and test data are explicitly specified and target column does not exist in the test_data then
`setup(data=data, test_data=test_data, silent=True, target=target) ` will throw error only at lower dimensionality.. at higher dimensionality it will just be stuck forever.

Upon further exploration its a single feature `v22` that caused the issue. The distribution of

[2021-06-12 14:24] #1307 closed

[2021-06-12 14:47] mandar-karhade commented on #1352
Upon further exploration its a single feature `v22` that caused the issue. The distribution of this categorical feature is as following.
`pd.DataFrame(train.v22.value_counts()).shape
`(18210, 1)

[2021-06-12 15:06] mingjun1120 commented on #1187
No. I also don't know why. I don't use the Ubuntu OS PC anymore as it is my uni's lab PC.

[2021-06-12 15:41] mingjun1120 commented on #962
@pycaret
Currently, I am using **Python 3.9.5** on **Windows 10**. When I use `pip install pycaret[full]`, it works fine but when I try to use `pip install pycaret`, it will show the below error.

**_Building wheel for scikit-learn (PEP 517) ... error_**
![image](https://user-images.githubusercontent.com/54136320/121781407-2428e880-cbd7-11eb-8d90-1b3b9ef3a3cb.png)

But, I did have scikit-learn pac

[2021-06-12 19:55] mandar-karhade commented on #1352
update:
`model = setup(data=train, target='target', ignore_features = ['ID'], experiment_name = 'test1', high_cardinality_features= ['v22'], high_cardinality_method='frequency', session_id = 123, log_experiment = False)
`
Defining high_cardinality_feature allowed the code to run normally

[2021-06-13 09:32] ngupta23 commented on #962
`pycaret` only works till python 3.8. Could you use either one of 3.6, 3.7 or 3.8? Also, please file unrelated questions as a separate issues. Thanks!

[2021-06-13 11:34] #1245 closed

[2021-06-13 16:32] mingjun1120 commented on #962
Ok. Sorry for causing inconvenience.

*please file unrelated questions as separate issues*
Will look out for it next time😅

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2A

[2021-06-13 17:22] ptanalyst opened #1355 "Significant d8fference between train AUC and mean cross validated AUC"
**Is your feature request related to a problem? Please describe.**
I have seen that the result that I am getting of train auc from the evaluate model  (use_train_data=yes) is significantly higher than the mean AUC of cv result from the create model for test/hold out data set. Is there any way to minimise this gap

**Describe the solution you'd like**
I think a metric should be calculated in terms

[2021-06-13 17:23] ptanalyst commented on #1355
First issue

[2021-06-13 17:45] ptanalyst opened #1356 "Scored train data set"
Is there anyway to get the train data scored - when we run the predict_model(), we get only test/hold out data scored

[2021-06-13 21:19] Yard1 commented on #1355
This is not an issue with PyCaret but rather with data and/or models you are using. In general, metrics on train data will be higher than on test/validation data.

[2021-06-13 22:20] pycaret commented on #1356
@ptanalyst You can access the index of `X_train` using the `get_config` function and then call the `predict_model`. See example below:

[code]

[2021-06-13 22:20] #1356 closed

[2021-06-13 22:20] #1352 closed

[2021-06-13 22:21] #1355 closed

[2021-06-13 22:22] pycaret commented on #1346
@jatom-tech Try this:

[code]

Hope this helps.

[2021-06-13 22:22] pycaret commented on #1337
@set92 Would you like to work on this enhancement?

[2021-06-13 22:23] #1326 closed

[2021-06-14 02:22] #1049 closed

[2021-06-14 06:21] jatom-tech commented on #1346
Hi
I managed to install numba and pycaret and made a wonderful analysis with
the package. You can close the issue.

Thanks in advance.

Regards Jan

man. 14. jun. 2021 00.22 skrev PyCaret ***@***.***>:

[2021-06-14 10:02] set92 commented on #1337
@pycaret I'm not very confident in my programming skills and I haven't done it before, but I could try since I think I know how it should work.

Right now what I'm using is:
[code]
I was not able to use 'reason' and 'pdp', the first one because it is at observation level and wasn't sure how to ask the user for input, and the other option was always using the 'observation' plot of the first row. An

[2021-06-14 18:18] astenuz opened #1357 "[DOC] Sampling no longer available in pycaret but still on the webpage documentation"
#### Describe the issue linked to the documentation

The webpage for pycaret refers to a featured named sampling https://pycaret.org/sampling/. However, this feature is no longer available according to the setup function in pycaret 2.3.1 (screenshot added).
<img width="546" alt="image" src="https://user-images.githubusercontent.com/4689127/121939314-833f4800-cd12-11eb-9603-b7eb269a230f.png">

####

[2021-06-14 20:52] PranayMehta commented on #215
I am also facing a similar issue in my models. Whatever models I create, I end up assigning score that ranges from 0.5 to 1.0 instead of 0.0 to 1.0

I am using 2.2 version. Not sure if something has changed in here.

[2021-06-14 20:55] PranayMehta commented on #215
How is this parameter linked with the score that model generates ? If the model generates raw probabilities, then that is the first step that happens during scoring, the threshold parameter is just there to create your own decision boundary. It does not have anything to do with the actual raw scores that model generates.

[2021-06-14 20:59] Yard1 commented on #215
By default `predict_model` returns the probability of the *predicted* class as a score. If you want the same output sklearn would give you, you need to pass the `raw_score=True` argument to `predict_model`.

[2021-06-14 21:05] PranayMehta commented on #215
I ran the above mentioned code @Yard1  But I got below error

![image](https://user-images.githubusercontent.com/23047253/121959363-aed22a80-cd32-11eb-92f4-898f1dfcf2b3.png)

[2021-06-14 21:06] Yard1 commented on #215
You need to update to the latest PyCaret version (2.2.3). `pip install -U pycaret`

[2021-06-15 09:01] #1064 closed

[2021-06-15 09:09] #1077 closed

[2021-06-15 09:09] #1086 closed

[2021-06-15 09:15] ngupta23 commented on #1167
You might be using Python 3.9 which is not supported yet by many libraries. Please [see here](https://github.com/scikit-learn/scikit-learn/issues/18852). Can you try with 3.6, 3.7 or 3.8?

[2021-06-16 07:29] babaniyi opened #1362 "Return dataframe with processed features after setup()"
**Feature Request**

Currently after implementing setup() where setup() includes some data processing techniques such as outlier removal, missing value imputation, one-hot encoding, etc the user doesn't have access to the processed data used for data modelling but trusts PyCaret has done these data transformation behind the scene.

**Solution I would like**

It would be great to have a feature tha

[2021-06-16 07:32] Yard1 commented on #1362
This is already available as a feature by running `get_config('X')` after `setup()`. Let me know if that helps.

[2021-06-16 07:32] #1362 closed

[2021-06-16 08:03] babaniyi commented on #1362
Thanks for the information. I have to update to the latest version.

[2021-06-16 12:55] arnabmanna619 opened #1364 "[BUG] Numeric features which are imputed using Iterative Imputer are not getting normalized"
**Describe the bug**
When I am doing both imputation using Iterative imputer and then normalizing the numeric features, I see that the features which were imputed are not getting normalized. It's working fine when the imputation is 'simple', only causing problems when the imputation is 'iterative'.

[2021-06-16 16:03] Yard1 commented on #1364
Thank you. Do you have a script and a dataset this can be reproduced on?

[2021-06-16 16:08] tangdori opened #1367 "How to compute loss value?"
I'm using Pycaret to perform binary classification tasks.
Is it possible to display "loss value" for each model in the following image?
![classification_compare_models](https://user-images.githubusercontent.com/72227499/122254776-7568fe80-ce9b-11eb-980b-e235c7432617.png)

I wanted to see how loss value changes depending on different parameter settings for each model.

[2021-06-16 16:27] pycaret commented on #1367
Hi @tangdori

You can use the `add_metric` function to add Log Loss or any custom metric you would like. I have recently written an article showing the use of custom metrics: https://towardsdatascience.com/predict-customer-churn-the-right-way-using-pycaret-8ba6541608ac

In your case, you wouldn't need to write a metric, you can simply import Log Loss from scikit-learn and pass it in the `add_metri

[2021-06-16 16:27] #1367 closed

[2021-06-16 17:39] arnabmanna619 commented on #1364
The dataset is confidential but I have run it on a sample data
[code]

The above gives the following output :
A | B
10.80 | 0.903614
15.60 | 0.493976
13.10 | -0.885542
8.95 | 0.000000
2.30 | 1.000000

[2021-06-16 18:04] babaniyi commented on #1321
Since you have this error, don't update it. Reinstall it using

[code]

[2021-06-16 18:09] babaniyi commented on #1321
What this means is you have 2 options but select only 1 (not both). Either  set
[code]
OR

[code]

[2021-06-16 18:12] Yard1 commented on #1364
Thanks, will take a look.

[2021-06-17 01:27] ngupta23 opened #1368 "Refactor time series unit tests"
**Is your feature request related to a problem? Please describe.**

- [x] Some time series tests could be made more modular.
- [x] Also, tests need to be sped up
- [x] Separate out slow tests into own py file and run separately in parallel to speed up execution

**Describe the solution you'd like**
- [x] Create a fixture of created models that can be reused by all tests instead of creating models

[2021-06-17 01:34] ngupta23 opened #1369 "Upgrade from sktime 0.5.3 to 0.7.0"
**Is your feature request related to a problem? Please describe.**
Alpha version of time series module is using an older version of sktime (0.5.3)

**Describe the solution you'd like**
Upgrade to latest version of sktime (0.6.1) which has breaking changes compared to older version.

[2021-06-17 18:35] Yard1 commented on #1364
@arnabmanna619 Fixed in https://github.com/pycaret/pycaret/pull/1371, thanks for the report!

[2021-06-17 18:35] #1364 closed

[2021-06-18 03:01] TremaMiguel commented on #1369
One change here requires changing the `ExpandingWIndowSplitter`

[v0.6.1](https://github.com/alan-turing-institute/sktime/blob/v0.6.1/sktime/forecasting/model_selection/_split.py#L471)
[v0.5.3](https://github.com/alan-turing-institute/sktime/blob/v0.5.3/sktime/forecasting/model_selection/_split.py#L295)

[2021-06-18 11:14] ngupta23 opened #1373 "Incorporate window_length as a tuning parameter in tune_model"
**Is your feature request related to a problem? Please describe.**
`window_length` is not considered as a tuning parameter currently in time_series `tune_models` for reduced regression models. This could be an important parameters to consider

**Describe the solution you'd like**
Add window_length as a tuning parameter for reduced regression models

[2021-06-18 11:18] ngupta23 opened #1374 "Cleanup up default search space for all time_series models"
**Is your feature request related to a problem? Please describe.**

In many time_series models, some hyperparameter options were not working as expected. Need to clean it up.

**Describe the solution you'd like**

1. For reduced regression models, keep the regressor hyperparameters same (or as close as possible) to the ones used in the regression module
2. Some hyperparameters were picking values

[2021-06-18 12:54] #1346 closed

[2021-06-18 17:01] babaniyi commented on #1339
To use KMeans clustering, It is advisable to use > 1 cluster. The reason is that for KMeans to work:
1. Select K random points as cluster centres called centroids
2. Assign each data point to the closest cluster by calculating its distance with respect to each centroid
3. Determine the new cluster centre by computing the average of the assigned points
4. Repeat steps 2 and 3 until none of the clus

[2021-06-19 02:23] #1144 closed

[2021-06-19 06:35] SuhanC opened #1376 "Queue empty error arsing"
Hello,

I'm using pycaret for couple of month,
and I'm facing this error for the first time.

I'm using automl() for classification, and I'm comparing top 3 models following your tutorials.
It's about empty queues in your parallel.py script.

I'm including my errors in this issue.

Thank you!

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 88 concurrent workers.
[Parallel(n_jobs=-1)]: Done

[2021-06-19 10:23] Yard1 commented on #1376
Can you try running it with `n_jobs=1` in `setup`?

[2021-06-19 10:56] vinay9986 commented on #859
This is what I have observed. Training CatBoost using the `compare_models` method creates a directory `catboost_info`. The reported metrics do not change when the `cat boost_info` directory is not altered from the initial run. If you delete the `catboost_info` the reported metrics changes.

P.S.
This is my observation. I will try and put together a notebook that can verify this behavior.

[2021-06-19 19:51] gveronese01 opened #1379 "Confusion Matrix"
Enable the confusion matrix response to be in percentage.

[2021-06-20 02:26] #1162 closed

[2021-06-20 02:26] #1132 closed

[2021-06-20 02:26] #1115 closed

[2021-06-20 15:46] rajagurunath commented on #1379
Hi @gveronese01 , @ngupta23

I understood there is an option/parameter in the yellowbrick which enables showing percentage in the confusion matrix plot
as specified in this [documentation](https://www.scikit-yb.org/en/latest/api/classifier/confusion_matrix.html#yellowbrick.classifier.confusion_matrix.ConfusionMatrix)

And pycaret has a confusion matrix function in the below file
https://github.com

[2021-06-20 17:01] npapan69 opened #1382 "Keep features out of feature selection"
Dear all, in my opinion adding the possibility to define "immune" features to the feature selection process, would enhance pyCaret substantially. In other words, have a "must_keep" parameter in the setup of the classification problem would leave out of the feature selection process. Something like that would make it possible to perform subcohort analysis according to a feature value and check for

[2021-06-20 18:42] maverick-gst commented on #1382
I agree with this. Currently we are thinking of handling in our case, with
setting X_train, X_test with important columns added after setup, using
set_config.

On Sun, Jun 20, 2021, 10:31 PM npapan69 ***@***.***> wrote:

[2021-06-21 02:25] #1168 closed

[2021-06-21 12:18] tvdboom commented on #1382
Good idea. I'll add this possibility as extra feature to the refactoring of the preprocessing module.

[2021-06-21 15:20] noobmaster29 opened #1383 "[BUG] Wrong feature inference"
We are currently using setup and compare_model to obtain a model with Pycaret. Our setup is in Knime. The input dimension is 7 features and 1 target. All the features are integer or floats. However, the setup function still interprets some of them as categorical features and ends up creating more columns to encode them.

**To Reproduce**

from pycaret.regression import *
import pandas as pd

input

[2021-06-21 15:41] pycaret commented on #1383
@noobmaster29 Hi.. You can explicitly define data types in the `setup` function by using `categorical_features` and/or `numeric_features` parameter. Simply pass the name of the columns as a list. For example:

[code]

Hope this helps.

[2021-06-21 15:41] #1383 closed

[2021-06-21 23:43] Scottwrench commented on #197
I am using pycaret 2.3.1 and getting the same problem in the regression module.

[2021-06-22 08:05] HalfMAI opened #1384 "[BUG] Raise Error when setting fold_strategy='groupkfold' and call stack_models"
**Describe the bug**

Raise Error when setting fold_strategy='groupkfold' and call stack_models

**To Reproduce**

[code]

**Expected behavior**

No error raised

**Additional context**

[code]

**Versions**
2.3.1

</details>

[2021-06-22 08:25] AdriBee commented on #1321
I have had the same problem. For my case, I solved it installing Visual Studio C++ from https://visualstudio.microsoft.com/visual-cpp-build-tools/

This stackoverflow post will guide you through the installation process. There seem to be a problem with Bottleneck during installation, but this solved it for me.

https://stackoverflow.com/questions/44951456/pip-error-microsoft-visual-c-14-0-is-requi

[2021-06-22 15:15] sgujjaABM opened #1386 "Help installing pycaret 2.3[BUG]"
**Describe the bug**

**To Reproduce**

Hi, I am trying to install the latest version of pycaret using pip and conda, however the version that gets installed is 2.2.0. I've tried the nightly version too and it's the same. Please see the commands below. Also, tried updating using the command below, but the version is still 2.2.0:

My python version is: Python 3.9.2
Can you please help installing th

[2021-06-22 16:39] yinghawl opened #1387 "[BUG] Unable to specify test_data as an argument during setup."
When trying to run the following code to use a hold-out dataset as test set, it does not work
 336 exp_reg = setup(data = train,  test_data = test,  normalize = True, transformation = True,
      337                  transform_target = True, target = target, session_id=1234,  log_experiment = True,
      338                  experiment_name = 'Trial_2')
      339

TypeError: setup() got an unexpec

[2021-06-22 20:09] Yard1 commented on #1384
Thanks, I will take a look.

[2021-06-22 22:22] lgpatruyo opened #1389 "setup() got an unexpected keyword argument 'fold_strategy'"
### Discussed in https://github.com/pycaret/pycaret/discussions/1388

<div type='discussions-op-text'>

<sup>Originally posted by **lgpatruyo** June 22, 2021</sup>
Hi, I am trying to follow the code in your document "Time Series Forecasting with PyCaret Regression Module".
I have installed PyCaret 2.2 and also the nightly version. I did create a separate virtual environment.

I am getting the abov

[2021-06-23 02:07] S-C-H opened #1390 "MLFlow Experiment Logging (ad hoc)"
**Is your feature request related to a problem? Please describe.**
Sometimes additional graphs or outputs (objects, csvs) are created in a pycaret workflow e.g. custom interpretability plots etc. It would be nice to log in the same MLFlow experiment

**Describe the solution you'd like**
A Util function allowing a graph, csv or other python object to be logged to the MLFlow experiment for the run

[2021-06-23 02:08] #1158 closed

[2021-06-23 10:14] pyaf opened #1392 "Custom log file path in the setup function"
**Is your feature request related to a problem? Please describe.**
Currently, by default, the logs are saved in `logs.log` file ([Reference](https://github.com/pycaret/pycaret/blob/master/pycaret/internal/logging.py#L26)), when running multiple pycaret experiments this might not be a desirable way to log the logs.

**Describe the solution you'd like**
We can add a new argument to the setup functio

[2021-06-23 18:01] ngupta23 commented on #1389
Answered #1388

[2021-06-23 18:01] #1389 closed

[2021-06-23 18:02] ngupta23 commented on #1386
Please make sure you are installing it in a new virtual environment. Remnants from existing virtual environments may interfere with it.

[2021-06-23 19:13] sgujjaABM commented on #1386
Hi,
Thank you for the reply.
As per your suggestion, I've tried to install pycaret in a new virtual environment, however I am getting an error:

[code]

[code]
Can you please help with this error.
Thanks

[2021-06-24 02:04] #1075 closed

[2021-06-24 02:04] #494 closed

[2021-06-24 06:08] IncubatorShokuhou opened #1393 "[BUG] Cannot import pycaret using cuML==21.06"
**Describe the bug**
Cannot import pycaret with cuML==21.06 cudf==21.06

**Steps/Code to reproduce bug**
Install cuml/cudf
[code]
Install pycaret
[code]
then pycaret cannot be imported properly:
[code]

**Expected behavior**
[code]

**Additional context**

**Versions**
 - Linux Distro/Architecture: [Ubuntu 16.04.7  amd64]
 - GPU Model/Driver: [V100 and Driver Version: 460.73.01]
 - CUDA: [11.2]
 -

[2021-06-24 07:25] IncubatorShokuhou commented on #1386
Maybe you should downgrade your python.See https://github.com/pycaret/pycaret/issues/1167

[2021-06-24 08:24] ngupta23 commented on #1386
Also, it seems to be related to GCC. Check out this one from the FAQ's: https://github.com/pycaret/pycaret/issues/1254

[2021-06-24 08:24] ngupta23 commented on #1386
Python 3.6 should be ok. No need to downgrade it.

[2021-06-24 10:42] Yard1 commented on #1393
@IncubatorShokuhou That should be fixed on master. Can you try `pip install -U git+https://github.com/pycaret/pycaret.git`?

[2021-06-24 12:21] sgujjaABM commented on #1386
Thank you so much for the suggestions. I am getting the error trying to install pycaret in Mac, however the installation worked on linux:

'2.3.1'

[2021-06-24 13:38] ngupta23 commented on #1386
Thanks for confirming. We only test the install on Linux and Windows machines and with Python versions 3.6, 3.7, 3.8. I will close this out, but feel free to reopen if needed.

[2021-06-24 13:38] #1386 closed

[2021-06-24 13:45] ngupta23 commented on #1331
@TremaMiguel I think MAE is working fine. Did you see any issues with it?

MASE will require an extra argument to be passed to the metrics container and will need additional work.

[2021-06-24 13:47] ngupta23 commented on #1330
This was released for the Alpha milestone [https://github.com/pycaret/pycaret/pull/1279]

[2021-06-24 13:47] #1330 closed

[2021-06-25 01:26] ssayyah opened #1394 "[BUG] Random Forest init needs update to run on GPU"
**Describe the bug**
 When running Random Forest regressors or classifiers on GPU with cuML >=0.19, you get the following error:
[code]

**To Reproduce**

PyCaret Setup:
[code]
Creating model:
[code]

**Additional context**
 The parameter `seed` was removed in cuML since 0.19, and was replaced by `random_state` (matching sklearn).  Looks like codebase needs to be updated in 'pycaret/containers/mod

[2021-06-25 02:49] sgujjaABM opened #1395 "Help with improving R2 using autoML"
Hi, I am implementing pycaret autoML function for regression analysis, and following the sample code in the link https://pycaret.org/automl/ for my dataset. Predicting on the test data set results in R2 of 0.57, while R2 from CV is 0.55. Can you please suggest any options for hyperparameter tuning to further optimize R2? Thanks for helping.
**Describe the bug**

**To Reproduce**

[code]

**Expecte

[2021-06-25 02:54] alanceloth commented on #788
Same error here:

[code]

I will attach my notebook and log below:

The project is in a .rar folder in my onedrive, I can't upload directly here in github.
https://1drv.ms/u/s!Al5l7UUlb_GrhohIF_CSXycWmqmN-w?e=w8avzY

[logs.log](https://github.com/pycaret/pycaret/files/6713213/logs.log)

[2021-06-25 03:04] IncubatorShokuhou commented on #1393
It works. Thank you.

[2021-06-25 03:04] #1393 closed

[2021-06-25 08:05] ngupta23 opened #1397 "[BUG] Predict Model does not work time_series when we save and load a model back"
**Describe the bug**
Predict Model does not work time_series when we save and load a model back

**To Reproduce**

[code]

[code]

**Expected behavior**
Predict model works before saving model so should work after saving model as well.

**Versions**
Alpha version
Pycaret 2.3.0

[2021-06-25 08:06] ngupta23 commented on #1397
@KrishnanSG ... Seems to be related to preprocessing...

[2021-06-25 08:38] IncubatorShokuhou commented on #1394
Bug reproduced.
I think this bug can be simply repaired by comparing the current `cuml` version with "0.19".

[2021-06-25 08:40] IncubatorShokuhou commented on #1394
Here is a simple function to compare two version strings:
[code]

[2021-06-25 08:41] ngupta23 commented on #1397
Followup: Works if you use `model_only` = `True` so definitely related to the use of he existing preprocessing pipeline. Hopefully this will be fixed when we move to the dedicated preprocessing pipeline for the time series experiments.

[code]

[2021-06-25 10:12] ngupta23 opened #1398 "[BUG] Possible Bug in RMSE calculation?"
**Describe the bug**

The RMSE used during training seems to be very high compared to the RMSE from prediction. Not sure if it is a bug. Needs to be checked.

![image](https://user-images.githubusercontent.com/33585645/123409355-b3d57c00-d573-11eb-8f95-56047cedb691.png)

**To Reproduce**

[Use this link](https://nbviewer.jupyter.org/github/pycaret/sktime-dev-days-2021/blob/main/sktime_dev_days_101

[2021-06-25 18:33] SriRamGovardhanam opened #1399 "how to handle missing values on unseen data (final real time data)"
Hey, Firstly thank you for making this project opensource, repo is really awesome.
I have seen imputation during setup but is it possible to add impute feature while predicting the real time data?

like using it in predict_model() method to handle missing values on unseen data.

response would be much appreciated!

[2021-06-25 23:20] abinavrameshs commented on #1102
Just to add, I am getting the same error on running setup() function after importing anomaly detection module of pycaret.

Here is the code I am using :
[code]

The list of libraries I am using are as follows :

[code]

Thanks and Regards,
Abinav

[2021-06-26 03:19] ngupta23 commented on #1395
You could try some feature interactions to see if it improves performance. Pass these arguments to the setup.

[code]

Apart from this, you may have to apply some domain specific knowledge and create manual features with good predictive power before feeding to pycaret.

[2021-06-26 03:19] #1395 closed

[2021-06-26 04:47] pycaret commented on #1399
@SriRamGovardhanam Thank you.

Imputation and any other transformation that you choose in the `setup` function are automatically applied during inference on real-time data. All you need to do is call the `predict_model` function on the pipeline that you have saved using the `save_model` function and pass the new data. For example:

[code]

[2021-06-26 04:47] #1399 closed

[2021-06-26 06:22] SriRamGovardhanam commented on #1399
Thanks for the reply.
Even I followed the same procedure as mentioned above, which is:
[code]
this is the output dataframe I got
![temp](https://user-images.githubusercontent.com/35695549/123504077-b966bb00-d674-11eb-9d72-6221f98953cf.png)

data in independent variables here are not imputed, or at least I cannot see here.

[2021-06-26 06:44] KrishnanSG commented on #1397
@ngupta23
1. Fix the old preprocessing pipeline
2. Modify it to use the new time series preprocessing pipeline

What is ur suggestion here?

[2021-06-26 11:35] SriRamGovardhanam opened #1401 "imputation on inference data (unsolved"

[2021-06-26 11:38] SriRamGovardhanam opened #1402 "imputation on inference data (unsolved)"
Extension of previous issue which @pycaret has closed
I have seen imputation during setup but is it possible to add impute feature while predicting the real time data?
like using it in predict_model() method to handle missing values on unseen data.

Even I followed the same procedure as mentioned below
[code]
this is the output dataframe I got
![temp](https://user-images.githubusercontent.com/3569

[2021-06-26 11:39] #1401 closed

[2021-06-26 12:03] Yard1 commented on #1397
@ngupta23 @KrishnanSG We should probably just force `model_only=True` for the alpha

[2021-06-26 14:24] ngupta23 commented on #1397
For `beta` version (after alpha `release`), lets switch to a new preprocessing pipeline that is specific to time series. I think the current pipeline has lot of items that are not applicable to time series -- @moezali1 any thoughts?

[2021-06-26 14:49] ngupta23 commented on #1102
Please downgrade to sklearn version 0.23 for now. 0.24 is not currently supported.

[2021-06-26 16:12] TremaMiguel commented on #1311
Solved by [commit](https://github.com/pycaret/pycaret/pull/1279/commits/b1095b8adf00a3e0edfb27b27b392bd5b291ff87)

[2021-06-26 16:12] #1311 closed

[2021-06-27 13:33] ptanalyst opened #1403 "Evaluate function does not work when load model is used"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-06-27 22:29] ngupta23 opened #1404 "Forecast Plots should include Prediction Interval"
**Is your feature request related to a problem? Please describe.**

Per this [comment on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6814933350713741312?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6814934502796779520%29&replyUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6815038277939273728%29) from @RamiKrispin

**Describe the solution you'd l

[2021-06-27 22:31] ngupta23 commented on #1404
@ramikrispin

Regarding Prediction Intervals, this is available for some models right now (but not all - e.g. not available for reduced regression models). By default, we set it to not return this, but it could be returned by setting the following argument (as in cell 16 + in [this notebook](https://github.com/pycaret/sktime-dev-days-2021/blob/main/sktime_dev_days_201.ipynb)).

[code]

I understan

[2021-06-27 22:33] ngupta23 opened #1405 "Visualize Error Distribution across folds"
**Is your feature request related to a problem? Please describe.**
Per this [comment on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6814933350713741312?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6814934502796779520%29&replyUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6815038277939273728%29) from @RamiKrispin

**Describe the solution you'd li

[2021-06-27 22:33] ngupta23 commented on #1405
@ramiKrispin

Useful comments about distribution. I had added it to one of my previous packages - (cell 10 in [this notebook](https://github.com/AutoViML/Auto_TS/blob/master/example_notebooks/autots_univariate_example.ipynb)). Is this what you would like to see?

[2021-06-27 22:35] ngupta23 opened #1406 "Add Prediction Interval coverage of the test set"
**Is your feature request related to a problem? Please describe.**
Per this [comment on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6814933350713741312?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6814934502796779520%29&replyUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6815038277939273728%29) from @RamiKrispin

**Describe the solution you'd li

[2021-06-27 22:35] ngupta23 commented on #1406
@ramikrispin PI coverage on test set would be a valuable addition. We will consider adding it!

[2021-06-27 22:37] ngupta23 opened #1407 "Add compute time for each model as metrics"
**Is your feature request related to a problem? Please describe.**

Per this [comment on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6814933350713741312?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6814934502796779520%29&replyUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6814933350713741312%2C6815038277939273728%29) from @RamiKrispin

**Describe the solution you'd l

[2021-06-27 22:37] ngupta23 commented on #1407
@ramikrispin The compute time is already included in the results from `compare_models()` (though not as a metric). We could add it to `create_model()` as well. Would this satisfy your requirement?

[2021-06-28 01:57] ngupta23 opened #1408 "Auto Detect Seasonal Period for annual data"
**Is your feature request related to a problem? Please describe.**
Auto Detect `seasonal_period` for annual data. Currently it assumes 1 by default so it has to be specified manually in setup.

**Describe the solution you'd like**
Figure out a way to compute the `seasonal_period` from this data instead of asking user to input it.

**Describe alternatives you've considered**
Manual entry of `season

[2021-06-28 03:11] abinavrameshs commented on #1102
Okay.. Thanks for your response!

[2021-06-28 10:17] ngupta23 commented on #1408
@fkiraly

[2021-06-28 10:19] ngupta23 commented on #1408
@fkiraly

This disadvantage is that it can increase the search space and slow down the tuning. Another option could be to use statistical tests and find the `seasonal_period` that gives the best test statistic and use that as the `seasonal_period`. Need to research if such a test exists. The advantage of this approach is that statistical tests are less time consuming than expanding the grid's sear

[2021-06-28 18:15] pit9921 opened #1409 "Train Test Split issue?"
I am not sure if i understand the functionality of pycaret well.
They are two dataframes:
- train
- test

`reg = setup(data = train, target='Output')`
As default it takes train_size = 0.7.

But, **i do not need any split (train / test) in the setup**, because these are defined before the setup is being done.
How can i prevent the "train_size " in the set up at all?
I have tried to set it to 1 (all

[2021-06-29 00:31] fkiraly commented on #1408
See this discussion in `sktime`
https://github.com/alan-turing-institute/sktime/issues/1056

Shall we have that meeting where we plan the technical roadmap together?
E.g., what should be in `sktime`, what should be in `pycaret`, what the interfaces are?
Let's connect on slack.

[2021-06-29 01:24] IncubatorShokuhou commented on #1409
Actually, the `seen` dataset is splitted into two datasets: `training set` and `validation set`. Only when you get good results on both the `training set` and the `validation set` can you apply the model to the `test` set. To use all the dataset, you need to use `finalize_model` to finalize your  model with super parameters determined with all your `seen` dataset.

[2021-06-29 06:10] pranavchat14 commented on #218
Every time I run this, I get different values for s[2]. Sometimes it's a dataframe, other times it's a dictionary. Any idea why is that happening?

[2021-06-29 09:39] tvdboom commented on #1409
I believe what you are looking for is the `test_data` parameter in setup. Since you say that you already have a train and test set defined before the setup, you can add your test dataset to `test_data` as a pd.DataFrame with the same number of columns as `data`. If you do, the `train_size` parameter is ignored, the dataframe passed to `data` is used as training set and the dataframe passed to `tes

[2021-06-29 09:55] pit9921 commented on #1409
Thank you tvdboom. The parameter "test_data" is what i was looking for 👍

[2021-06-29 09:55] #1409 closed

[2021-06-29 10:53] h-swathi-shenoy opened #1410 "way to optimize the feature selection threshold parameter"
how to get the best feature subset using the optimized feature threshold value. currently trial and error approach exists but any other ways

[2021-06-29 14:47] mertcan-yukselsin opened #1418 "About exp.compare_models( ) function"
Hello,

First of all, thank you for sharing such tool to the community! It has lots of good properties and I'm pretty sure that you guys will increase its performance more in future!

My question is about exp.compare_models( ) function. Because I'm using an hourly time series data having 400k rows, while searching for all models, it stucks at autoarima model. I couldn't see any part about removing

[2021-06-29 16:16] RamiKrispin commented on #1404
Thanks @ngupta23, that is only my personal perspective (having PI as default on plot) :)
You should set the default options of your functions with the ones you believe

[2021-06-29 16:21] RamiKrispin commented on #1405
yes, bar plot or some other graphic that provides more context about the model performance beyond the error metrics. Here is an example I create in the past in the [TSstudio](https://ramikrispin.github.io/TSstudio/articles/forecasting.html#training-multiple-time-series-model-with-backtesting) package:
![image](https://user-images.githubusercontent.com/12760966/123833538-4d29c880-d8bb-11eb-8980-0b0

[2021-06-29 16:24] RamiKrispin commented on #1407
I think that compute time should be side by side with the error metric that users can evaluate the cost-benefit of using a more "expensive" model with respect to the added value it provides (e.g., improvement in the accuracy, etc.)

[2021-06-29 16:28] birend17 opened #1411 "[BUG]Can we store mlflow artifacts in the Azure blob storage for new experiments in pycaret?"
I was exploring mlflow with pycaret today. And tried to store the artifacts in the Azure blob using the --default-artifact-root tag. It's working fine when I am not giving a experiment name to pycaret setup function. When a experiment name is given the artifacts are getting stored in the local directory.

[2021-06-29 17:55] AkhileshThite opened #1412 "[BUG]: The FUNDING.yml file doesn't currently contain valid funding links."
**Describe the bug**

Add funding links, so that supporters can support / fund this project by clicking sponsor button.

[2021-06-29 18:54] pranavchat14 commented on #218
This is very convenient. Thanks.

[2021-06-29 23:06] tsereno opened #1413 "Add "TabNet" model to regression and classification algorithms"
**Is your feature request related to a problem? Please describe.**
Opportunity to improve model accuracy with ability to ensemble TabNet model (deep learning) with existing set of models.

**Describe the solution you'd like**
Add native support for TabNet.

**Describe alternatives you've considered**
Considered doing the ensemble using other libraries.

**Additional context**
There is a pytorch ve

[2021-06-30 13:09] fjehlik opened #1414 "The Kernel appears to have died. It will restart automatically. Classification."
**Describe the bug**

Howdy folks, I am also using Pycaret 2.3.1, Ubuntu 20.04, Anaconda Navigator 2.0.3 installation, and setup an environment solely with Pycaret (conda install pycaret[full] via the terminal). I am having the exact same issue with Jupyter/Jupyter lab that was posted in another issue thread that was closed. While running Jupyter, it randomly stops the kernel and gives the same er

[2021-07-01 02:12] #1165 closed

[2021-07-01 04:15] nateGeorge commented on #100
Looks like some of the docs need to be updated to reflect new arg names, still says "blacklist" and "whitelist": https://pycaret.org/classification/

[2021-07-01 05:05] sgujjaABM opened #1417 "ValueError: The Box-Cox transformation can only be applied to strictly positive data[BUG]"
Hi, I am using pycaret 2.3 for regression analysis, and get this error below: Can you please help? Thanks.
<img width="1201" alt="Screen Shot 2021-07-01 at 1 01 06 AM" src="https://user-images.githubusercontent.com/78435087/124068010-81f76600-da08-11eb-80c2-edbef73df681.png">
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</de

[2021-07-01 07:46] tvdboom commented on #1417
Hi. The documentation says the following about target transformations:

'Box-cox' and 'yeo-johnson' methods are supported. Box-Cox requires input data to
be strictly positive, while Yeo-Johnson supports both positive or negative data.
When transform_target_method is 'box-cox' and target variable contains negative
values, method is internally forced to 'yeo-johnson' to avoid exceptions.

Can you ch

[2021-07-01 10:12] yanmc commented on #1414
i met this situation too

[2021-07-01 13:19] fjehlik commented on #1414
I may have found a solution for my case, however, it is not particularly elegant. I uninstalled and reinstalled Anaconda a couple of times, but that didn't work. I then reinstalled Ubuntu 20.04 (without selecting the format drive option, just the erase and reinstall Ubuntu option), then reinstalled Anaconda, and that still didn't work. I then reinstalled Ubuntu 20.04 again, and this time selected

[2021-07-01 13:41] fjehlik commented on #1414
...I may have spoken too soon. The kernel just died again at the end of a run. This is really frustrating!

[2021-07-01 14:37] sriprad commented on #858
Hi ,
I have the same error version is 2.2.3. Can you please help?
Thanks

[2021-07-01 19:46] #1337 closed

[2021-07-01 22:39] Yard1 commented on #1418
@ngupta23 @mertcan-yukselsin Try `compare_models(exclude=["autoarima"])`

[2021-07-02 02:00] IncubatorShokuhou opened #1419 "Should we just give up support for legacy version of cuML?"
**Is your feature request related to a problem? Please describe.**
Should we just give up support for legacy  version of cuML (version under "21") and just switch to stable versions?
I am working on applying cuml on  `preprocess.py`, and I discover that there are so many `random forest` in `preprocess.py`
, which means I have to judge the version of cuML nearly everywhere to resolve the keyword pr

[2021-07-02 02:13] IncubatorShokuhou commented on #1417
Would it be a good idea to just switch `box-cox` to `yeo-johnson` if there is non-positive data in target?
Actually, In fact, the `yeo-johnson`  transformations on the positive line are equivalent to the generalised Box–Cox transformations ( according to the origin paper of `yeo-johnson`) [<sup>1</sup>](#refer-anchor-1).

<div id="refer-anchor-1"></div>
- [1] Johnson, Y. R. A. . (2000). A new fami

[2021-07-02 02:16] IncubatorShokuhou commented on #1417
I think we may even just drop the `transformation_method`, and automatically choose the method according to the data of the target.

[2021-07-02 02:59] sgujjaABM commented on #1417
Hi, thank you for the reply. There are no negative values in the target column. The values range from 0 to 100, and is negatively skewed.

[code]

Setting transform_target_method='yeo-johnson', seemed to have worked for only 9 models, and low value of R2 on train data
[code]
<img width="885" alt="Screen Shot 2021-07-01 at 10 36 13 PM" src="https://user-images.githubusercontent.com/78435087/1242123

[2021-07-02 03:04] IncubatorShokuhou commented on #1417
There are zeros in `y`, so Cox-Box (which requires all positive, not non-negative) cannot work on it.

[2021-07-02 03:08] sgujjaABM commented on #1417
Thank you. Can you please help me understand the discrepancy in R2 metric on the train set from running RF in pycaret vs. scikit-learn package? Is there anything I should be doing differently in my setup function?

[2021-07-02 03:08] IncubatorShokuhou commented on #1417
BTW, your data is so confusing. Thera are only 880 binary features, and many of them have only 0. I am quite confused if modeling on such data can work.

[2021-07-02 03:10] IncubatorShokuhou commented on #1417
Pycaret will automatically split the dataset and execute K-fold by default, maybe that causes the different.

[2021-07-02 03:14] IncubatorShokuhou commented on #1417
All of your data should be `bin_numeric_features`. Also, `ignore_low_variance` may help you remove those all-zero features.
Again, your dataset is too special and confusing, and I am quite not sure how to make the prediction better, actually.

[2021-07-02 03:23] sgujjaABM commented on #1417
I can try with `bin_numeric_features` and `ignore_low_variance`, and also run setup with the same train and test data sets used in scikit-learn. Can you please confirm if this code below is correct for setup without splitting the data into train/test:

`regr = setup(data=train, target = 'y',test_data= test,ignore_low_variance=True,bin_numeric_features=features)`

Please see the link below to the p

[2021-07-02 03:29] IncubatorShokuhou commented on #1417
@sgujjaABM You do not have to split data in `setup`. You only need to split the train and test data before setup, and put the train data into setup, and test the final trained model on yout test dataset.
For example, you can do:
[code]

[2021-07-02 03:33] IncubatorShokuhou commented on #1417
I just notice that your` test_pycaret_input.csv` is different with the data you actually using. I thought all your features are 0-1, so I suggest you to use `bin_numeric_features`. If they are actually numeric_features ,your origin `setup` settings are right.

[2021-07-02 03:51] sgujjaABM commented on #1417
Hi, Sorry for the confusion - the first screenshot was on scaled data. However, everything that I am testing currently is using the same input file that I shared, and the features are binary:

test_pycaret_input.csv
<img width="682" alt="Screen Shot 2021-07-01 at 11 36 40 PM" src="https://user-images.githubusercontent.com/78435087/124217000-69995100-dac5-11eb-8e66-acd516329912.png">

[code]
Using

[2021-07-02 05:14] IncubatorShokuhou commented on #1417
Maybe your nativa rf model overfits. You should test your native rf model on x_test and caculate r2_score on y_test.

[2021-07-02 05:28] jaeho3690 commented on #823
I am still getting the error **AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'**
even after I have installed the below version :(

scikit-learn              0.24.0
pycaret                   2.3.0

[2021-07-02 07:24] tvdboom commented on #1402
Hi, this is being picked up in the refactoring of the preprocessing module. It will probably be out with v3.0

[2021-07-02 09:00] sagarnildass opened #1421 "Optimize method not supported"
I have created a web app with flask and dash and I am running it via gunicorn. It utilizes pycaret in the background for machine learning.

Now I am facing a peculiar problem. When a single user logs in and runs a machine learning model, everything runs fine. But when two users log in with two different accounts and run two separate models on two different data sets, in one of them, I am getting a

[2021-07-02 12:54] vemaparna commented on #1048
Pycaret version 2.3.1

Got the same issue while building model, inspite of  data being cleared from null values and infinite values. When run with preprocess = False - the error disappears but strangely comes back while compare_models()
Tried all the options like normalize, transformation etc. but none of them worked out

[2021-07-02 17:12] ngupta23 commented on #823
Please downgrade to `scikit` 0.23. 0.24 is not yet supported.

[2021-07-03 07:37] atwahsz opened #1422 "append algorithm names to create_model_container"
in order to have a solid understanding of the folds and accuracy if possible to include model name in create_model_container

[2021-07-03 07:55] atwahsz commented on #1413
hello @tsereno , this looks interesting , lets work on it together and provide the implementation to the team

[2021-07-03 13:31] pycaret commented on #1422
Hi. Can you elaborate a little more. What do you mean by adding the name in model container?

Thanks

[2021-07-03 13:32] #1319 closed

[2021-07-03 13:34] pycaret commented on #1413
This is a great idea. I am in full support of this.

Are you interested working on this?

We will provide whatever support we can.

Cc: @Yard1

[2021-07-03 13:35] #1418 closed

[2021-07-03 13:39] pycaret commented on #1407
Isn't TT column in compare_models serving that purpose?

There is no point of adding TT in create_model as time by fold is not the information people will generally care about.

[2021-07-03 13:42] pycaret commented on #1406
How can we calculate coverage for models that doesn't support PI?

Question only.

[2021-07-03 13:47] pycaret commented on #1402
Hi @SriRamGovardhanam

The data is definitely being imputed. Otherwise it wasn't even possible for LightGBM to generate predictions.

predict_model function is intentionally built in a way that it returns the original DataFrame along with predictions. This is done to make sure output is human readable (think about one-hot-encoding).

Behind the scene all transformations are happening.

We can cons

[2021-07-03 13:49] pycaret commented on #1397
Yes. Krish and I spoke. As soon as Nikhil is back we should meet to discuss integration of new pipeline. Our number one priority should be to make every thing connected with new pipeline (even it its just basic).

Thanks.

[2021-07-03 13:52] pycaret commented on #1379
@Yard1 Can we handle this through **kwargs or any other recommendation?

[2021-07-03 14:10] atwahsz commented on #1413
yes totally interested , if possible can we pass a variable for deep learning , where the split will be train valid and test . so each fold can run normally

[2021-07-03 14:39] SriRamGovardhanam commented on #1402
Thanks for your response

[code]
Yes, It makes sense.

[code]
That would be awesome 👌🏻

Feel free to close the issue once it's done.

[2021-07-03 14:59] atwahsz commented on #1422
after doing compare_model()

you can accsess the result of all of the folds for each algo get_config('create_model_container ')

what im saying is to add a column saying the name of the algorthim name

[2021-07-03 15:11] SuhanC commented on #1376
Thank you! Solved.

[2021-07-03 18:21] Zawarud opened #1423 "Module for temporal image series anomaly?"
Can this Python module handle temporal image series anomaly? If so, you have an example of this one.

[2021-07-03 23:39] tsereno commented on #1413
Yes, the fit function for TabNet has parameter for train dataset and validation dataset (eval_set parameter), same as Scikit learn fit function.

Sent from Yahoo Mail for iPhone

On Saturday, July 3, 2021, 7:10 AM, Saleh Z. Atwah ***@***.***> wrote:

yes totally interested , if possible can we pass a variable for deep learning , where the split will be train valid and test . so each fold can run n

[2021-07-04 12:47] Yard1 commented on #1379
We'll probably have to make a new plot type like we did with feature plot (top 10 and all)

[2021-07-04 12:48] #1376 closed

[2021-07-05 11:08] ngupta23 commented on #1212
Hi @Sandy4321 , The goal of `pycaret` is not to implement new models. That is left to base libraries like sklearn. Probably this question would be more appropriate in that repo. If it is implemented, we can look into incorporating it into `pycaret` in the future,

[2021-07-06 06:48] jaehyunshinML opened #1427 "[BUG]Azure deployment error -"
**Describe the bug**
Followed Regression Tutorial (REG102)  and tried to deploy to Azure cloud but i got an error.

It wokred perfectly on the local.

when I run

deploy_model(model = tuned_lasso, model_name = 'lasso', platform = 'azure', authentication = {'container' : AZURE_STORAGE_CONNECTION_STRING})

this commend I've got

 'NoneType' object has no attribute 'rstrip'

Thanks!

[2021-07-06 09:22] ngupta23 commented on #1427
Did you provide your actual connection string?

[2021-07-06 11:35] jaehyunau commented on #1427
Yes i did ! Copied from my azure storage

[2021-07-07 03:05] salsa360 opened #1454 "Using PYSTAL via a Dataframe"

[2021-07-07 20:01] melonhead901 commented on #21
Here's the recipe used for conda-forge
https://github.com/conda-forge/pycaret-feedstock/blob/master/recipe/meta.yaml

[2021-07-08 02:10] #1207 closed

[2021-07-08 02:10] #1189 closed

[2021-07-08 02:10] #1050 closed

[2021-07-08 02:21] ngupta23 commented on #1423
No, currently, `pycaret` does not work on image data

[2021-07-08 02:21] #1423 closed

[2021-07-08 02:28] ngupta23 opened #1436 "[Time Series] compare_models top N by category"
**Is your feature request related to a problem? Please describe.**
compare_models currently lacks variety when getting top N models. Usually if top model is of type boosting, then most likely, top 2-3 are also of same type. This lack of diversity hurts when creating ensembles and blending. Plus, it may be possible that other models give better results after tuning.

**Describe the solution you'd l

[2021-07-08 02:46] ngupta23 commented on #1407
@RamiKrispin could you clarify how you would like this to work? Currently, training time is already provided for compare_models. Is there anything else you would like to see?

![image](https://user-images.githubusercontent.com/33585645/124854307-c2a53100-df6c-11eb-9cfa-6f9c6006d642.png)

[2021-07-08 02:48] ngupta23 commented on #1406
It will have to be limited to models that have PI. For others it will be NaN for now.

We will also add an option in setup to only use models that have a PI (when using compare_models), since this is a requirement in many applications.

[2021-07-08 02:55] ngupta23 opened #1437 "[Time Series] Limit models to only those that have a prediction interval"
**Describe the solution you'd like**
Many applications need to have a prediction interval available. In compare models, we currently show a mix of models - some that have PI and some that don't. Provide an option in setup (overridden in compare_models) to use only models that have a PI.

[2021-07-08 10:08] tezansahu commented on #953
Yeah, I think it should be modified to `score_func=np.sqrt(metrics.mean_squared_error)`

[2021-07-08 10:09] tezansahu commented on #953
I'll try to submit a PR with the correction.

[2021-07-08 17:49] SulanthaM commented on #895
What would be the timeline for the support of multiple setups in one kernel instance?

[2021-07-08 18:35] skannan-maf opened #1440 "[BUG] save_model saves only the pipeline. No associated data or metrics are stored"
**Describe the bug**

It looks like load_model() only saves the pipeline object and not the "holdout" and "training data" associated with it or any other training metric. For e.g. it is not possible to run "predict_model", if I individually load the model separately to examine what its performance was on the holdout set etc.

**To Reproduce**

Load a saved model in a separate notebook and then run

[2021-07-08 19:01] Yard1 commented on #1440
That is expected behavior. Saving data with the model would inflate it massively. You can run `setup()` again with the same data and then use the loaded model in this manner.

[2021-07-08 20:31] skannan-maf commented on #1440
Oh.. okay.. But I will not even know what was training and what was test in the data, right? I can use it for prediction without a doubt... But I would not have access to any metrics or any info on training... Thats my bother... But if thats by design, its okay then... Thanks!

[2021-07-08 20:31] #1440 closed

[2021-07-10 02:08] #1203 closed

[2021-07-10 02:08] #1211 closed

[2021-07-10 02:08] #1192 closed

[2021-07-10 02:08] #1134 closed

[2021-07-10 02:08] #1109 closed

[2021-07-10 02:08] #1111 closed

[2021-07-10 02:08] #1103 closed

[2021-07-10 02:08] #1093 closed

[2021-07-10 02:08] #1066 closed

[2021-07-10 02:08] #1092 closed

[2021-07-10 02:08] #1056 closed

[2021-07-11 02:11] #696 closed

[2021-07-12 05:25] dalmad2 opened #1443 "Set a key when deploying and loading models from AWS"
**Is your feature request related to a problem? Please describe.**
Currently, I can't give a key when deploying and loading models from AWS. A key is the model path. If a model shouldn't be saved in a root AWS S3 folder, a key/path must be assigned. But, the current PyCaret doesn't support it.

**Describe the solution you'd like**
If you look at the file, pycaret.internal.persistence, and line num

[2021-07-12 11:34] georgeblck opened #1444 "[BUG] Optuna tuning always maximizes metric"
**Describe the bug**
I was using `tune_model` with the search library optuna and the results were getting worse. I thought it was because of overfitting but now found a possible bug that would explain the results.

The corresponding code-bug that I found is [here](https://github.com/pycaret/pycaret/blob/c76f4b7699474bd16a2e2a6d0f52759ae29898b6/pycaret/internal/tabular.py#L4272) (for regression). T

[2021-07-12 11:36] Yard1 commented on #1444
Thanks, this is indeed wrong.

[2021-07-12 16:26] YongSa opened #1445 "[BUG] different results with CV when using test_data"
**Describe the bug**
When using CV and leaving test_data (setup parameter) undefinied, results are very high (>99% in RF)
When using CV and test_data is being set to a dummy, the results are much worse.

**To Reproduce**

`from sklearn.model_selection import LeaveOneGroupOut` as cv, using groupkfold leads to same results

without test_data:
`temp_setup = setup(data=temp_train, target="label", sile

[2021-07-12 16:31] AJSVB opened #1446 "feature dependant threshold optimization"
Threshold optimization can be very important to maximize cost for a given model (https://pycaret.org/optimize-threshold/).

I am facing a situation where all my data rows have true/false-negative/positive costs proportional to some features in the database.
For example, my true positives cost would be a*db['cost], and my false positive cost would be b*db[cost].

I do not think that Pycaret allows

[2021-07-13 02:10] #1212 closed

[2021-07-13 04:46] datanerdie commented on #1357
I agree. Is there a reason why the sampling feature is dropped (https://github.com/pycaret/pycaret/commit/e154dd9ad56c5449efdd454814e2c43caf1292ba#diff-c51d929bd6802959f40dc156e067fc81fd5e159c9bf7d40c8f15d4b6f379b833)?

[2021-07-13 05:54] sot232 opened #1447 "`load_model` won't work with AWS Lambda"
**Is your feature request related to a problem? Please describe.**
When using AWS Lambda, `load_model` doesn't work.
The problems are caused by:
- Saving a model file locally

`load_model` saves a pkl file locally, then it loads the model. AWS Lambda only allocates 512MB disk space when saving files. If you have large size models which exceed 512 MB, you will get error messages.

As a temporary fi

[2021-07-13 05:56] sot232 commented on #1447
I don't know how to participate in an open-source project. If you guys are okay, I would like to fix this problem.

[2021-07-13 16:44] miteshyadav commented on #241
Is there a feature that let's users pass their own train test instead of letting it generate automatically by pycaret?

[2021-07-13 17:15] Yard1 commented on #241
@miteshyadav `setup(test_data=test_df)`

[2021-07-14 07:54] IncubatorShokuhou commented on #700
@joaopalotti Did you successfully use skorch with pycaret now? I am also trying to work on it, but met a same error exactly as yours.

[2021-07-14 08:26] IncubatorShokuhou commented on #700
Well, I think I have figure out how to use skorch in PyCaret: all we need is use a pipeline instead of a native model:
Here is an example:
[code]

[2021-07-14 09:59] aniketkumar430 opened #1448 "Model Monitoring feature integration with Pycaret"
Pycaret has nice set of features.
Addition of model monitoring features can be a big value addition to the library.

To do this I came across one open source library which can make this possible. There can be alternate possible libraries . But I am just sharing one of them below :
https://github.com/evidentlyai/evidently?

This can help in monitoring the  Models and the data in production.

[2021-07-15 00:43] lokesharya99 opened #1449 "Catboost's Categorical feature to numeric conversion"
**Pycaret convert categorical variable to one hot matrix, So how does it uses catboost feature of categorical to numeric conversion ?**

In the pycaret documentation it is mentioned that when preprocessing is set to true, in that case pycaret converts all categorical feature to one hot matrix.

In Catboost documentation it is mentioned that when passing data to catboost, no preprocessing of catego

[2021-07-15 02:32] IncubatorShokuhou commented on #1413
Hi @tsereno , I just write a simple demo using tabnet by `create_model`, but I am wondering how can we integrete DL models into PyCaret as I don't know how to properly turn a DL model inside under the current framework, which might be quite different from current models ( including batchsize, learning rate scheduler, optimizer et. al. , and other more detailed network structure).
Here is my demo F

[2021-07-15 02:50] IncubatorShokuhou commented on #1413
What's more, TabNet uses embedding, instead of one-hot encoding et. al. used in Pycaret, to handle category features, which is completely different from PyCaret. As far as I am concerned, most of the CTR models based on DL also uses embedding, which means if we are trying to put DL models into PyCaret, we may need to introduce huge changes, especially in preprocessing. @pycaret I think we may need

[2021-07-15 03:30] atwahsz commented on #700
@IncubatorShokuhou  nice work ,

now i tried replicating this for another dataset

i get this error
IndexError: Target 5 is out of bounds.

[2021-07-15 03:32] IncubatorShokuhou commented on #700
Maybe you can list your dataset and your script so that I can help reprocuce & solve the error.

[2021-07-15 03:33] atwahsz commented on #700
import pandas as pd
import numpy as np
train = pd.read_csv('https://raw.githubusercontent.com/pkhetland/Facies-prediction-TIP160/master/datasets/facies_vectors.csv')
train=train.rename(columns={'Well Name':'WELL','Facies':'FACIES','Formation':'TOP','Depth':'DEPTH'})

from pycaret.classification import *
from sklearn.pipeline import Pipeline
from skorch import NeuralNetClassifier
from skorch.helper

[2021-07-15 03:34] atwahsz commented on #700
`import pandas as pd
import numpy as np
train = pd.read_csv('https://raw.githubusercontent.com/pkhetland/Facies-prediction-TIP160/master/datasets/facies_vectors.csv')
train=train.rename(columns={'Well Name':'WELL','Facies':'FACIES','Formation':'TOP','Depth':'DEPTH'})

from pycaret.classification import *
from sklearn.pipeline import Pipeline
from skorch import NeuralNetClassifier
from skorch.helpe

[2021-07-15 03:34] atwahsz commented on #700
[code]

[2021-07-15 03:44] IncubatorShokuhou commented on #700
@atwahsz I think you are trying to run a regression model, but your NN model has a softmax layer at the end of froward....  Maybe you should customize your own model structure ending with ,for example, a FC layer.

[2021-07-15 03:45] IncubatorShokuhou commented on #700
My fault.I misread the code.

[2021-07-15 03:55] IncubatorShokuhou commented on #700
@atwahsz You have 9 kinds in your output, but dimenson of last layer in your model is 2. You should try `self.output = nn.Linear(num_units, 9)` .

[2021-07-15 05:52] IncubatorShokuhou commented on #1449
As far as I can see, you are right. In the preprocessing step, the categorical feature are encoded by one-hot encoder, and that do will influence the performance of catboost.

[2021-07-15 05:53] IncubatorShokuhou commented on #1449
BTW, do you know how to transform features using catboost and fit data with other method? If that is possible, maybe we are able to add a new preprocessing method to PyCaret. @lokesharya99

[2021-07-15 06:38] IncubatorShokuhou opened #1450 "Support for better and more explicitly parallelization, including distributed"
**Is your feature request related to a problem? Please describe.**
In current version of PyCaret, only a stand-alone version with/without GPU is supported.

Actually, even in the current version, some conceptions related to parallelization is not so clear (as far as I am concerned). For example, in https://github.com/pycaret/pycaret/blob/master/pycaret/internal/tabular.py , there are variables lik

[2021-07-15 06:40] tsereno commented on #1413
I follow what you are saying about embeddings and possibly introducing big changes into the pipeline. Possibly a better approach would be to directly integrate tensorflow and pytorch into the pipeline first to directly support DL and then add in state of the art DL algorithms for each module (classification, regression, etc).
However, I keep thinking that MLP is a neural network and already works

[2021-07-15 06:53] IncubatorShokuhou commented on #1413
Pytorch has been able to be integrated to PyCaret (using [skorch](https://github.com/skorch-dev/skorch) ). Here is a demo written by me: https://github.com/pycaret/pycaret/issues/700#issuecomment-879700610

However, if we are looking forward to a deep and complete integration, there remains a lot of things that we need to do. For examples, ddp for Pytorch model, completely diffreent preprocessing

[2021-07-15 07:28] tsereno commented on #1413
Thank you for putting together this demo code.  I will attempt to tune hyper-parameters using the diamond dataset and revert back with results.    On Wednesday, July 14, 2021, 07:32:52 PM PDT, Hao Lyu ***@***.***> wrote:

Hi @tsereno , I just write a simple demo using tabnet by create_model, but I am wondering how can we integrete DL models into PyCaret as I don't know how to properly turn a DL mo

[2021-07-15 07:32] IncubatorShokuhou commented on #1413
I would like to suggest you not to use any preprocessing method in Pycaret because by default PyCaret handle the catalogical feature with one-hot, which means all the `X_train` will be numerical, which is terrible for using a embedding DL model.

[2021-07-15 07:32] IncubatorShokuhou commented on #1413
I would like to suggest you not to use any preprocessing method in Pycaret because by default PyCaret handle the catalogical feature with one-hot, which means all the `X_train` will be numerical, which is terrible for using a embedding DL model.

[2021-07-15 08:24] tsereno commented on #1413
That makes sense, I will try without pre-processing when I get a chance.
With pre-processing, I used parameters as follows.return self.tabnet.fit(check_array(X), np.array(y).reshape(-1, 1), max_epochs=1000, patience=3, batch_size=2048, virtual_batch_size=512)
The model comparison selected tabnet as the best model.
compare_models(include=[tabnet_reg, "lightgbm", "rf"],cross_validation=False)
Proces

[2021-07-15 08:35] lokesharya99 commented on #1449
I'm not exactly able to understand what actually catboost it doing, but they have mentioned their technique on the website.
[https://catboost.ai/docs/concepts/algorithm-main-stages_cat-to-numberic.html](url)

Catboost is doing it internally, so i'm not sure if it would be possible to get data out of it directly, we would have go into catboost code to access this preprocessing.

[2021-07-15 11:16] Yard1 commented on #1449
There is a catboost encoder in category_encoders package.

[2021-07-15 11:48] lokesharya99 commented on #1449
Thank you, @Yard1 so can we specify this encoding in pycaret using any argument?

[2021-07-15 12:13] skannan-maf opened #1452 "tune_model can support timeout, progress report"
**Is your feature request related to a problem? Please describe.**
While running tune_model, I only see a statement saying "10 folds of N fits resulting in N*10" fits. I don't get to see how many fits actually completed. It is not clear how long should I wait.

**Describe the solution you'd like**
1. tune_model should support a timeout value - after which the API simply returns the best among the

[2021-07-15 12:17] skannan-maf opened #1453 "Ptransform standardizes by default and no option to control"
**Is your feature request related to a problem? Please describe.**
The Ptransform step (when transformation=True in setup), instantiates the "**PowerTransformer**" class with "standardize=True" by default. An option to control this behavior will be useful.

**Describe the solution you'd like**
A parameter in Setup() that controls whether "standardization" needs to be run after the transformation e

[2021-07-15 13:20] Yard1 commented on #1452
As we are using various different tuning backends, most of the features proposed here would be very hard or impossible to implement. You can obtain extra information about trials with `tuner_verbose` parameter which controls the verbosity of the tuning backend. You can set the `n_jobs` parameter in `setup()`. Some tuning backends support timeouts and those can be passed through either kwargs or `f

[2021-07-15 13:22] Yard1 commented on #1445
if `test_data` is None, the test set will be automatically created by splitting the dataset. Therefore, the amount of rows used for training (including CV) will be smaller.

[2021-07-15 13:24] skannan-maf commented on #1452
Thank you for your inputs.

I have set tuner_verbose() but still no messages on progress. It has been running for 2 hours now and I dont know how much is completed or how long i have to wait.

n_jobs -> Thanks for the info. I will use this.

Will check the tuner specific options. Perhaps they have something for me.

Meanwhile - If no work can be taken on this, you can close this one.

[2021-07-15 13:27] Yard1 commented on #1452
You can consider using tune-sklearn or optuna backends as they are more advanced than the default scikit-learn one. Please refer to the documentation.

[2021-07-15 13:29] skannan-maf commented on #1452
Sure, I just read the recently filed bug on Optuna... i.e. it maximizes always. So I will check the tune-sklearn.

Truly appreciate your time on this and your suggestions. I m closing this now. Thanks!

[2021-07-15 13:29] #1452 closed

[2021-07-15 13:50] Yard1 commented on #1452
As a workaround for always maximization, you can define your custom error metrics as being negative. That way it will work properly.

[2021-07-15 15:43] Yard1 commented on #1449
No, not yet. But it should be possible in the next major release (date pending).

[2021-07-15 18:02] YongSa commented on #1445
But even this:
`  clf = setup(data=train, silent=True, target="label",
              normalize=True,
              fix_imbalance=True,
              fold_strategy=cv,
              fold_groups="group",
              ignore_features=["group"],
              train_size=0.99
              )`

doesn't lead to the same results this one gives me:

`  clf = setup(data=train, silent=True, target="label",

[2021-07-16 02:11] #1130 closed

[2021-07-16 06:15] tsereno commented on #1413
Tabnet doesn't train without pre-processing if there are any string columns, because the strings need to be embedded.
So, I used same embedding process used in the following notebook example dreamquark-ai/tabnet
Only a few tweaks to make it work for the "diamond" dataset and used same parameters for training.  Metrics look ok.
clf.fit(    X_train=X_train, y_train=y_train,    eval_set=[(X_train, y_

[2021-07-16 15:38] sinvaldomoreno opened #1456 "Exception related to tuning the best model"
<html>
<body>
<p style="box-sizing: border-box; margin-bottom: 16px; margin-top: 0px !important; color: rgb(201, 209, 217); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; let

[2021-07-17 09:31] tvdboom commented on #1449
Yes, the new release will contain the possibility to choose with which encoder algorithm to encode the categorical columns.

[2021-07-17 09:51] #1454 closed

[2021-07-17 10:01] ngupta23 commented on #1099
Couple of issues

1. Pass a string instead of list of strings to fold_groups

[code]

2. There are NA values in your fold_groups which should probably be removed or imputed.

![image](https://user-images.githubusercontent.com/33585645/126033333-bfaa02d9-ac0b-4560-a1f0-2aac13a705b5.png)

![image](https://user-images.githubusercontent.com/33585645/126033389-0b9ba6db-c91d-43f8-bfd1-5c0446c399e4.png)

[2021-07-17 17:27] wkuopt commented on #1445
Hi @YongSa,

Is your test_data split in the same way as how it's split by default when test_data is None? Since you are working with imbalanced dataset, I would suggest comparing the distribution of your test_data and train data and see if they are indeed similar.

[2021-07-17 17:50] wkuopt commented on #1334
It seems like you want to save pca, instead of 'pca'?

[2021-07-17 18:02] wkuopt commented on #1447
Hey @sot232, not sure if I got your request clearly - you can use the deploy_model function (https://pycaret.org/deploy-model/) for AWS S3, and then load the model to lambda with your method?

[2021-07-17 18:16] sot232 commented on #1447
@wkuopt Thank you for your comment.

I tested this out. If you upload any models through `deploy_model` and load models through `load_model`, you can load models in AWS Lambda. However, if you deal with large size models which exceed 512 MB, this won't work because of the Lambda limitation (/tmp directory storage is limited to 512MB. https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limi

[2021-07-17 18:18] wkuopt commented on #1443
Being able to specify the S3 path is definitely very useful. We can collaborate on this :)

[2021-07-17 18:22] wkuopt commented on #1447
AFAIK, the storage limit is about the lambda deployment package and the lambda layers. If you save models on S3, then this would not be an issue. The same goes for the library that you want to install :) Also there is also the EFS option now: https://aws.amazon.com/blogs/compute/using-amazon-efs-for-aws-lambda-in-your-serverless-applications/

[2021-07-17 20:09] ngupta23 commented on #1407
@RamiKrispin , I created a [Kaggle Notebook](https://www.kaggle.com/ngupta23/metrics-vs-training-time-tradeoff-using-pycaret?scriptVersionId=68413869) to show show the training time could be used to eliminate the slow models from the list. Let me know if this is what you were looking for.

[2021-07-18 12:18] lucazav opened #1461 "[BUG] Could not build wheels for bottleneck which use PEP 517 and cannot be installed directly"
I'm trying to install PyCaret on my Windows 10 machine. I created a brand new conda environment with Python 3.6. Then I run the command: `pip install pycaret`. I'm getting the following error:

Any hint?

[2021-07-18 21:58] YongSa commented on #1445
Hey,

I used a dummy for test_data, so just one line of zeroes with the same columns as the input data. So that would mean I am using 100% of the data in that instance.

If I set it to none and use a train_split of 0.99, I should be using 99% of the set which shouldn't lead to such different values while validating.

[2021-07-19 06:29] deenam opened #1463 "[BUG] Kernel becomes dead when dealing with huge dataset using pycaret"
**Describe the bug**
i'm currently using a bigger dataset with shape as (1987726, 65). This is causing kernel to be dead half way through setup() function execution

**To Reproduce**
Use a big data set of the order of (1987726, 65),

from pycaret.classification  import *
reg1 = setup(data = data_to_train, target = 'rlf',categorical_features =cat_cols,numeric_features=num_cols,train_size=0.50)

**E

[2021-07-19 10:26] ngupta23 commented on #1461
Check out the FAQs that have been pinned on the Issues pages. There is a similar post and solution there.

[2021-07-19 10:31] lucazav commented on #1461
Thank you @ngupta23 , I already installed the Build Tools to go ahead. But you shouldn't force the user to download these tools in order to compile stuff. You should provide the already compiled stuff to Windows users.

[2021-07-19 13:11] Yard1 commented on #1461
@lucazav @ngupta23 PyCaret itself doesn't require anything to be compiled, but we cannot control the installation processes of our dependencies. This is out of our hands.

[2021-07-21 02:13] #796 closed

[2021-07-21 02:13] #816 closed

[2021-07-21 12:30] sinvaldomoreno commented on #1456
Hi Nikhil,

Thanks for your attention.

About your question, I do not change the model default parameters, since I am running all models to trying to get the best model and then, improve it by trying to tune, as per the notebook example. When the best model is KNN, on the step of tunning the exception rise. I run with 3 folds, I will try to reduce the folds and update the issue here.

So this is m

[2021-07-21 13:03] pycaret commented on #1461
@lucazav I think I figured out your problem. I can reproduce your issue as of yesterday in python=3.6 environment.

The solution is to create a new conda environment with python=3.8 and the problem will go away :)

[2021-07-21 13:06] pycaret commented on #1463
@deenam How much memory you have on your system?

Can you share the dataset so I can try to reproduce this?

I have experimented on bigger datasets than this, without problems. So wondering if this has to do with memory?

[2021-07-21 13:08] lucazav commented on #1461
It's better to specify this into the installation guide.

[2021-07-21 13:17] pycaret commented on #1421
@sagarnildass Which version of pycaret are you using? Can you upload the logs file here?

[2021-07-22 08:26] ngupta23 commented on #1456
`compare_models` only runs with the defaults defined internally in PyCaret. These defaults can be viewed using the `Args` column when the following is run. Check out [this notebook](https://github.com/pycaret/sktime-dev-days-2021/blob/main/sktime_dev_days_201.ipynb).

[code]

@Yard1 Do you know if it possible to change the Args before running `compare_models`?

[2021-07-22 12:30] aqibfayyaz opened #1464 "How can i extract values of bi grams from PyCaret topic modeler?"
i have trained PyCaret topic modeler using the pycaret documentation https://pycaret.readthedocs.io/en/latest/api/nlp.html#pycaret.nlp.get_topics

I am able to plot Bigrams using following code as mentioned in documentation

plot_model(plot = 'bigram',save = True)
Now i want to know how can i get the values of Bigrams so i can use them later in code etc.Any help would be greatly appreciated.

[2021-07-22 16:53] bennydayana opened #1465 "[BUG] ValueError: Found input variables with inconsistent numbers of samples: [4830, 4018]"
while doing clustering,
_

_
I am getting an error for pycaret-nightly-2.3.2.dev1626396171 and the current stable version also.
Similar like https://github.com/pycaret/pycaret/issues/1194
The error occurs when the shape of df is (4830, 197).
When it is (5859, 197), no problem occurs...

[2021-07-22 18:36] sgujjaABM commented on #1417
sorry for the late reply. yes, there is overfitting with the RF model on test data.

[2021-07-23 05:13] nateGeorge commented on #1050
@Syed-Al-Khwarizmi for some reason it seems like pycaret installed the latest spacy for me, maybe there is a dependency issue there

[2021-07-23 09:19] lauraamy opened #1468 "[BUG] Kernel Dying Classification Light GBM"
**Describe the bug**
My kernel dies during compare_models(), and this happens when it's going through Light GBM every time.

**To Reproduce**
Data shape : 307507 rows × 795 columns
setup(train_df[feats], target = 'TARGET', fold_shuffle = True,
                train_size = 0.7, data_split_shuffle=True, session_id = 2,
                fix_imbalance = True)

Then I do compare_models() with an added c

[2021-07-23 10:56] aqibfayyaz commented on #1464
Please reply its important.

[2021-07-23 12:19] pycaret commented on #1468
@lauraamy Regarding `sklearn==0.23.2`. It is fine as `pycaret` is not yet compatible with `sklearn==0.24`.

Can you try excluding the lightgbm model from `compare_models`:

[code]

or can you try training LightGBM separately using `create_model` to see if you still face the same issue.

[code]

Is it possible for you to share the dataset?

[2021-07-23 12:20] pycaret commented on #1465
@bennydayana Can you try to reproduce this bug in stable version of pycaret i.e. `2.3.2`.

Also - can you share the dataset so I can try to reproduce the error?

[2021-07-23 12:22] pycaret commented on #1194
@wkuopt FYA

[2021-07-23 12:22] pycaret commented on #1465
@wkuopt FYA

[2021-07-23 12:23] pycaret commented on #1461
@lucazav The problem is specific to few windows OS. Another solution is to install `bottleneck` through conda before installing PyCaret.

[code]

[2021-07-23 12:23] #1461 closed

[2021-07-23 12:24] pycaret commented on #1453
@tvdboom @mfahadakbar

[2021-07-23 12:29] pycaret commented on #1448
@aniketkumar430 Will you be interested in working on this? Let me know.

[2021-07-23 12:32] pycaret commented on #1443
@wkuopt Thank you so much for working on this. :)

@dalmad2 Thanks for bringing this up.

[2021-07-23 12:33] pycaret commented on #1419
@Yard1 Any thoughts on this?

[2021-07-23 12:35] pycaret commented on #1414
@fjehlik Can you strip out all the parameters from your `setup` and just pass mandatory parameters like `data`, `target`. You can also pass `silent` and `session_id` if you would like. This can help us isolate issue to one specific functionality.

How big is your dataset?

[2021-07-23 12:40] pycaret commented on #1412
Sorry we will have to disable the funding link for now. Will come back to this later. I have disabled the sponsorship button.

[2021-07-23 12:40] #1412 closed

[2021-07-23 12:42] Yard1 commented on #1419
@IncubatorShokuhou What would be the minimal version that you think we should support?

[2021-07-23 12:43] pycaret commented on #1403
Incomplete request. @ptanalyst If you are still facing the problem please open another issue with more elaborate description of error and traceback so somebody can help you.

[2021-07-23 12:43] #1403 closed

[2021-07-23 12:44] fjehlik commented on #1414
HI @pycaret, thank you for the follow-up, it is appreciated. The dataset is a highly imbalanced classification set, 64000 rows, ~75 columns (features, mixed numeric/categorical).

As it stands it may be an issue with my motherboard and or motherboard/BIOS version/GPU fault rather than anything to do with Pycaret. I am currently trying to sort that out. Once I have the PC back I'll do some testing,

[2021-07-23 12:45] pycaret commented on #1334
@CJosh88

As @wkuopt pointed out rightly, you are saving string `pca` as oppose to model object `pca`. Change the following line your code and it shall work:

[code]

Hope this helps.

[2021-07-23 12:45] #1334 closed

[2021-07-23 12:52] pycaret commented on #1298
@ngupta23 Just saw this. Excellent initiative.

[2021-07-23 12:53] pycaret commented on #1321
@venkaateshd

Install `bottleneck` using conda and then install `pycaret`. It should fix the issue.

[code]

[2021-07-23 12:55] pycaret commented on #1288
@rg666 Sure please go a head.

[2021-07-23 12:57] IncubatorShokuhou commented on #1419
21.06 I think, which is the first stable version, and most APIs are more consistent with sklearn (i.e. random seed in RF).

---Original---
From: "Antoni ***@***.***&gt;
Date: Fri, Jul 23, 2021 20:42 PM
To: ***@***.***&gt;;
Cc: "Hao ***@***.******@***.***&gt;;
Subject: Re: [pycaret/pycaret] Should we just give up support for legacy  version of cuML?  (#1419)

@IncubatorShokuhou What would be the mi

[2021-07-23 13:34] Yard1 commented on #1419
Does that cuml version support the sklearn version we have pinned?

[2021-07-23 13:42] IncubatorShokuhou commented on #1419
I haven't studied this issue in depth, but as far as I know, the API of the estimators in most recent versions of sklearn and cuML are relatively fixed, so there should be no significant inconsistancy.

---Original---
From: "Antoni ***@***.***&gt;
Date: Fri, Jul 23, 2021 21:34 PM
To: ***@***.***&gt;;
Cc: "Hao ***@***.******@***.***&gt;;
Subject: Re: [pycaret/pycaret] Should we just give up support

[2021-07-23 23:58] SudheerRaghu opened #1470 "Unable to use predict_model after load_model in pycaret.anomaly"
Error occurs for iforest, knn and cluster model types in pycaret.anomaly. Model building done with preprocess=False.

pycaret version : 2.3.2
python version: 3.7.3 & 3.8.5

pycaret.anomaly.save_model(model, 'model_path', model_only = True)
ad_model = pycaret.anomaly.load_model('model_path)
train_data_scored = pycaret.anomaly.predict_model(model=ad_model, data=train_data)
Traceback (most recent cal

[2021-07-24 14:49] wkuopt commented on #1141
This seems to be the same issue as #1443. Please take a look at the PR and see if that makes sense to you :)

[2021-07-24 14:57] wkuopt commented on #833
IMO, pycaret is a library, but model monitoring should be done at the application level, i.e., your API would produce logs and that could be captured by cloud watch to further trigger alarms. Alternatively Sagemaker provides similar monitoring service without much setup.

I think we can close this issue

[2021-07-24 16:30] skannan-maf opened #1471 "[BUG] get_config of X_test print the entire data frame when logging level is INFO"
**Describe the bug**

When info level logging is enabled, **get_config()** prints value of retrieved variables. When these variables happen to be data variables like X, X_test, it ends up printing data frames which make the entire logging messed up with un-needed values. This should be enabled only for DEBUG logging mode and not really for INFO
**To Reproduce**

Enable logging in INFO model

[code

[2021-07-24 18:12] Yard1 commented on #1444
@georgeblck @pycaret Turns out I was wrong, and this is working correctly. The direction has to be set to always maximize, because the scorer function will automatically flip the sign if `greater_is_better=False`. As for why your two functions don't have similar results, I imagine it's due to the small number of samples.

[2021-07-24 18:12] #1444 closed

[2021-07-24 18:20] #1443 closed

[2021-07-24 18:32] wkuopt commented on #1448
I think this would be a good integration to detect data and model issues in production. @pycaret Tensorflow Extended also provides similar functionalities: https://www.tensorflow.org/tfx/guide/tfdv. It's very comprehensive but of course heavier :)

[2021-07-24 18:40] wkuopt commented on #1445
Thanks @YongSa, could you provide the dataset for us to reproduce your result?

[2021-07-24 18:51] Yard1 commented on #1448
@wkuopt If possible, we will want to introduce an abstraction layer to enable different monitoring backends. I have started work on something similar for logging in https://github.com/pycaret/pycaret/pull/1276 - @AyushExel is working on expanding it a little and adding Weights & Biases integration.

[2021-07-24 19:03] wkuopt commented on #1448
Thanks @Yard1. Yes a layer to enable different backend definitely sounds good. I feel there is a bit difference between these two groups:
Group 1: weights & bias, MLflow
Group 2: evidently, TFX

Group 1 seems mostly focused on experiment tracking and metric reporting. Group 2 seems more about detecting data drift and model anomaly, fairness concerns. Maybe we can have different layers to deal with

[2021-07-24 21:55] toblender commented on #962
I had a similar problem:
Turns out that setuptools was the issue.
Download the latest version from the website:
https://pypi.org/project/setuptools/#files

pip install setuptools-XX.X.X.tar.gz
Then run:
pip install pycaret

[2021-07-24 22:02] Yard1 commented on #1448
Yes, having two separate layers will be fine

[2021-07-25 06:06] sot232 commented on #1447
@wkuopt Thank you for your reply. I still think `load_model` doesn't work if the model size is too big. (i.e. model size > 9 GB) This may be an issue with Lambda. I am closing this ticket. Thank you again.

[2021-07-25 06:06] #1447 closed

[2021-07-25 19:56] YongSa commented on #1445
Thank you @wkuopt !

Here is the file:
[wrist.zip](https://github.com/pycaret/pycaret/files/6874467/wrist.zip)

I used Leave One Group Out CV on the column group. Any additional information you need?

[2021-07-26 01:40] angieariza commented on #618
Hi I'm trying to implement k-modes as you said, but it happens that setup transforms all my categorical features into numerical by itself and it haven't been possible to use the k-prototype algorithm, it's suggesting me the k-means algorithm . Do you know how can I stop the transformation to happens?

[2021-07-26 02:31] wkuopt commented on #1445
Hi @YongSa, thanks for the file. Could you also provide the full executable code to reproduce the issue? Thanks!

[2021-07-26 14:40] YongSa commented on #1445
[code]

[2021-07-27 07:05] karthikavarmar commented on #274
How to get the top keywords (together) out of the dominant topics created in a column ? Any updates?

[2021-07-27 19:23] lauraamy commented on #1468
I would prefer to include lightgbm for the project I am doing. As for training with create_model, I still face the same issue unfortunately.
Here is my dataset, that I plug directly into setup:
https://drive.google.com/file/d/1iX4JijfwAC4jfwMsCaXcRYRW6mJBkuXq/view?usp=sharing
And then:
exp_clf = setup(data, target = 'TARGET', fold_shuffle = True,
                train_size = 0.7, data_split_shuffl

[2021-07-28 04:29] akashg116414 opened #1477 "MemoryError:Unable to allocate 11.1 GiB for an array with shape (759926, 3935) and data type float32"
got this error in pycaret==2.3.0
Error: Unable to allocate 11.1 GiB for an array with shape (759926, 3935) and data type float32

[2021-07-28 07:30] IncubatorShokuhou commented on #1477
Can you show a demo script to help us reproduce it?

[2021-07-28 09:16] doraemonlei opened #1478 "[BUG]setup(target = 'label'),KeyError: 'label'"
python 3.8.10
pycaret[full], 2.3.3
win10
jupyter notebook

`
data = pd.read_excel('1875-29.xlsx') # have 'label' column

exp_clf1 = setup(data = data,
                 target = 'label',
                ……
                )
`

`
KeyError                                  Traceback (most recent call last)
d:\anaconda3\envs\env_pycaret\lib\site-packages\pandas\core\indexes\base.py in get_loc(self, key

[2021-07-28 16:44] gm039 commented on #929
Hi,

I am curious to know if this issue has been resolved? Does the feature_selection_threshold works with Boruta, now?

[2021-07-30 14:29] tvdboom commented on #1453
This issue is resolved in #1451. PowerTransformer now doesn't normalize the data after the transformation. If that's desired, it can always be achieved using the `normalize` parameter. The new feature will be available in the next major release. Closing.

[2021-07-30 14:29] #1453 closed

[2021-08-01 03:04] shreyajane23 opened #1482 "[BUG]Classification Setup fails when remove_multicollinearity is present"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**
 2 clf_base = setup(data = train_full,target = 'h1n1_vaccine',
      3                  ignore_features=['seasonal_vaccine'],feature_interaction=True,feature_ratio=True,ignore_low_variance = True,
      4                  remove_multicollinearity = True, multicollinearity_threshold = 0.95,
      5                  train_size=0.8

[2021-08-02 10:07] akashg116414 commented on #1477
[error.zip](https://github.com/pycaret/pycaret/files/6916106/error.zip)
i have uploaded zip file for example notebook and dataset

[2021-08-02 10:49] zingochampis opened #1483 "[BUG] Setup fails with remove_multicollinearity present"
**Describe the bug**

 Setup  finishes with no trouble with default parameters but throws Keyerror when
[code]
 is added.
 Here's a snippet of the error:
[code]
**To Reproduce**

[code]

**Expected behavior**

Setup finishes and certain correlated features are removed.

**Additional context**

**Versions**
<details>

</details>

[2021-08-02 10:53] zingochampis commented on #1483
similar to [BUG#1482]

[2021-08-02 12:06] ngupta23 commented on #1482
Check to make sure that your dataframe has a column called `h1n1_vaccine`. Also, if there are leading or trailing spaces in the column name, then the same needs to be provided to the `target` argument.

[2021-08-02 13:36] zingochampis commented on #1482
@ngupta23 I logged a similar bug #1483. In my case no extra spaces in target column name, and it is present in the dataset. If I comment out multicollinearity parameters, the setup completes just fine.

[2021-08-02 14:09] shreyajane23 commented on #1482
@ngupta23 - i have the same issue that @zingochampis  mentioned. There are no spaces in my target column name and it is also present in the dataset. If i comment the multicollinearity parameters the setup works fine. This code used to work in the earlier version of Pycaret

[2021-08-02 14:12] zingochampis commented on #1482
@shreyajane23 @ngupta23  upgrading pycaret nightly DID NOT FIX THE ISSUE :-(

[2021-08-02 14:16] zingochampis commented on #1482
@shreyajane23  fortunately my feature set is not large, so after inspecting the correlation matrix, I manually removed 2 features that had correlations >=0.79 with another feature. A poor workaround though.

[2021-08-02 14:31] shreyajane23 commented on #1482
@zingochampis  i tried upgrading pycaret to nightly too. Did not work for me either. Although i did notice that there was some fix for the multicollinearity part in version 2.3.2 which i assume did not get fixed.

[2021-08-02 19:54] zingochampis commented on #1478
Also #1482 and #1483. Let's join forces and push the issue!

[2021-08-03 02:19] #1259 closed

[2021-08-03 18:45] skannan-maf opened #1484 "[BUG] Unable to run interpret_model after a load_model"
**Describe the bug**

Unable to run pycaret.regression.interpret_model() after a load_model() to explain a prediction.
Errors out saying "This function only supports tree based models for binary classification: et, dt, lightgbm, rf"
Though the problem is a "regression" problem, the error message talks about "classification". I assume thats a typo.
Also, the model is a scikit pipeline ending with "

[2021-08-05 02:08] #1270 closed

[2021-08-05 07:16] venkaateshd commented on #1140
hi, i would like to check if downgrading the scikit learn is the only solution for this problem ? i am getting same problem too.

i am afraid downgrading will disturb my other applications.

Thanks and please advise.

[2021-08-05 18:29] skannan-maf opened #1491 "Need more control on Feature selection"
**Is your feature request related to a problem? Please describe.**
As of now, Users can only specify Feature selection threshold while enabling feature selection. However, if the user wants to keep some columns as "sticky", they cannot specify it.

**Describe the solution you'd like**
Sticky features in terms of "regular expressions"
Sticky features in terms of "categorical/nominal/numeric/date ti

[2021-08-05 18:33] Yard1 commented on #1491
cc @tvdboom

[2021-08-06 06:57] tvdboom commented on #1491
Yes, this is something we are working on and will be present in the next major release. The implementation will probably be a new parameter called something like `keep_features` where the user can specify a list of names of the features he wants to keep.

[2021-08-06 08:26] skannan-maf commented on #895
What are the repercussions of this error? Will this affect model fitting and training and prediction?

[2021-08-06 09:33] skannan-maf commented on #895
In this article, https://towardsdatascience.com/multiple-time-series-forecasting-with-pycaret-bc0a779a22fe
Moeen has used multiple setups() in a FOR loop.
This is very similar to the work that I do...

So I wonder whether this is really an issue. Can some1 confirm?

[2021-08-07 14:26] RamiKrispin commented on #1407
@ngupta23 sorry, missed your last comment. I think that having a column with the run time is sufficient.

[2021-08-07 15:58] ngupta23 commented on #1407
Thanks @RamiKrispin . We will close this in that case. Feel free to open a new Issue if you have more feedback. Thanks!

[2021-08-07 15:58] #1407 closed

[2021-08-07 16:15] moezali1 commented on #1484
@skannan-maf Here is what I will recommend:

Step 1 - Training
[code]

Step 2 - Re-use later

[code]

This works for me. Let me know if this helps.

![image](https://user-images.githubusercontent.com/54699234/128606669-3ab629a5-7c85-4851-bd85-1bb6f5e39758.png)

[2021-08-07 16:16] moezali1 commented on #1483
Hey @wkuopt Can you help on this one please?

[2021-08-07 16:18] moezali1 commented on #1478
#1482 #1483 and this issue - all can be handled at once.

[2021-08-07 16:22] moezali1 commented on #1477
@akashg116414 You are also passing `Loan ID` and `Customer ID` in the `setup` that's causing your memory limit. Replace the `setup` function in your Notebook with the following:

[code]

This will work. Please close the issue if this resolves your problem.

[2021-08-07 17:21] moezali1 commented on #1471
@skannan-maf The functionality intends to return X_test dataset.

Can you elaborate what do you mean by "get_config() should only print simple messages and not the entire X_test data frame"

Thanks

[2021-08-07 17:25] moezali1 commented on #1470
@SudheerRaghu

Is there a specific reason you are passing `model_only = True`. If you save the model with `model_only = False` the predict_model` function works as expected.

Having said that @Yard1 - This seems like a valid problem. When we only save the model as oppose to the entire pipeline, the `predict_model` fails with the NameError.

NameError: name 'prep_pipe' is not defined

`predict_mode

[2021-08-07 21:25] mfahadakbar opened #1494 "Compare Model does not ignore "error""
**Describe the bug**
The default behaviour or error handling in the compare_models function is to ignore (in case a specific model fails) the error and jump to the next model in the line. However, there are some situations when a model successfully fits all the folds in the training data set but doesn't fit on the entire data set. In that case, it does not handle the error and raises it, resulting

[2021-08-08 14:21] skannan-maf commented on #1484
Thanks for the detailed steps! It was very helpful.

I suppose "save_config" saves everything including data (and that can be costly..)
It would be a "nice to have" to save everything else except data and then have an API to specify the data (load_config(pkl_file, data = data_df))

Thanks!

[2021-08-08 15:52] mfahadakbar opened #1496 "blend_models does not handle custom estimator"
the custom estimator does not work with the blend_models function.
A reproducible notebook is provided below

https://colab.research.google.com/drive/1rq87KS5DuK1xF7wuJslIb0VTnoNZj0-4?usp=sharing

@Yard1 @moezali1

[2021-08-09 03:18] SudheerRaghu commented on #1470
@moezali1 No specific reason as I got errors for both cases. I thought I should save only the model when `preprocess=False`.

Either way, it's good if the `model_only` variable changes dynamically based on the `preprocess` and `custom_pipeline` inputs.

Please let me know if any additional info is required. Thanks.

[2021-08-09 09:38] zingochampis opened #1497 "[BUG] setup never finishes on Databricks"
**Describe the bug**

Unable to feed CR to setup, the dialog box never appears after inferred types.
**To Reproduce**

jut a regular setup command only in a databricks notebook.
[code]

**Expected behavior**

A dialog box appears with  the possibility of just entering CR. then normal setup output appears.
**Additional context**

**Versions**
<details>

</details>

[2021-08-09 13:02] zingochampis commented on #1497
silent=True helped.

[2021-08-09 13:02] #1497 closed

[2021-08-09 22:26] DanieleBaranzini opened #1498 "[BUG] [installation]"
** "api-ms-win-core-winrt-string-l1-1-0" is missing during pycaret 2.3.3 installation...**

during installation Pycaret 2.3.3  (on windows 7, 64bit, python 3.7) a ddl seems to miss out ...all is fine untill I call  pycaret.classification import *...and  all ends with a pop up window telling me that "api-ms-win-core-winrt-string-l1-1-0" is missing

any thoughts?
-->

[2021-08-10 00:13] moezali1 commented on #1498
@DanieleBaranzini Have you installed PyCaret in a fresh conda environment? If not, can you try that?

Here's the instruction: https://pycaret.readthedocs.io/en/latest/installation.html

[2021-08-10 00:14] moezali1 commented on #1494
Thanks @mfahadakbar

@Yard1 - Need your help here, please!

[2021-08-10 00:15] moezali1 commented on #1496
Thanks @mfahadakbar

@Yard1 - Need your help here, please!

[2021-08-10 04:38] akashg116414 commented on #1477
the idea is not ignore this feature, this is more trying to ignore the issue rather than fixing it. the work around is not convincing, as we will have such string based features which cannot be ignored and this was also a work around, which i have tried even before you have suggested this.

[2021-08-10 13:39] harsh204016 commented on #1477
I got this type of error for features which are having 15k unique values , so after removing those features it works fine.
So, I think there must be some constrain in the number of unique values of the features..

[2021-08-10 16:46] Yard1 commented on #1496
Fixed in https://github.com/pycaret/pycaret/pull/1500

[2021-08-10 17:09] #1496 closed

[2021-08-10 18:06] harsh204016 opened #1501 "Incorrect encoding of the target label [BUG]"
**Describe the bug**
While running the setup function for the classification problem, it is encoding the target labels which is already int64
![image](https://user-images.githubusercontent.com/37452506/128900395-5f0f481b-fab0-4ad4-8730-6070d0994ca4.png)
![image](https://user-images.githubusercontent.com/37452506/128900452-03c421c9-160f-44d8-b4b5-f114d5e355c7.png)

**To Reproduce**

for reference o

[2021-08-11 02:07] #1163 closed

[2021-08-11 08:58] DanieleBaranzini commented on #1498
@moezali1 Thanks Mr PyCaret!
Problem Solved by

1) first I 'conda install bottleneck' as I got 'failures to build bottlenecks  ...due to PEP 517'
2) and  then I proceeded to pip install pycaret[full] ...and all works vanilla now : )

[2021-08-11 08:59] #1498 closed

[2021-08-11 10:02] Yard1 commented on #1494
Thanks, will take a look

[2021-08-11 12:21] sarahzouinina opened #1503 "[BUG]BrokenProcessPool: A task has failed to un-serialize. Please ensure that the arguments of the function are all picklable."
Hello guys,

I have an issue with tuning the model, I get this error,
Would you help me please?

Thanks

[code]

**Error**
Fitting 10 folds for each of 20 candidates, totalling 200 fits
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
exception calling callback for <Future at 0x29067d57e20 state=finished raised BrokenProcessPool>
joblib.externals.loky.process_executor._R

[2021-08-11 13:29] moezali1 commented on #1503
@sarahzouinina This seems like an old issue with Loky. Can you try this:

In your `setup` function can you pass `n_jobs=1` and see if the issue goes away? Change your setup code to this:

[code]

[2021-08-11 14:03] mfahadakbar commented on #1494
Here is a link to the file where it happens
https://colab.research.google.com/drive/1abVjDHX8IGndEUbaqo016_E6I-cnZVaL?usp=sharing

[2021-08-11 14:08] deepakmehta79 opened #1504 "Optimal Number of Clusters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

How to extract an optimal number of clusters using methods like elbow, silhouette.

**Describe the solution you'd like**

tune_model api could perhaps allow to compute the optimal number of features

**Describe alternatives you've considered**

Currently using affinity propag

[2021-08-11 17:22] rezacsedu opened #1505 "Adding support for multi-label classification?"
I was exploring the examples as well the classification module of PyCaret. However, I did not find/see codes/examples for multilabel classification (e.g., via OneVsRestClassifier of sklearn). Am I missing something or is there a plan for adding this feature?

[2021-08-12 01:41] lanluoluo opened #1506 "compare_models() return NULL LIST [BUG]"
I run tutorial cases,then compare_models return null list,then i add errors="raise" and The following error is reported

Processing:
Initiated	. . . . . . . . . . . . . . . . . .	09:29:42
Status	. . . . . . . . . . . . . . . . . .	Fitting 10 Folds
Estimator	. . . . . . . . . . . . . . . . . .	Linear Regression
Model	MAE	MSE	RMSE	R2	RMSLE	MAPE	TT (Sec)
----------------------------------------------

[2021-08-12 12:10] niurencheng opened #1509 "[BUG] URL error"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

![LGOJ2JWO)39GMN2@ZI KXKN](https://user-images.githubusercontent.com/57834780/129194311-926db0f9-9b54-43a3-8848-8c346a7ec58f.png)

[2021-08-12 12:11] niurencheng commented on #1509
a question   -------URLError

[2021-08-12 19:38] #1478 closed

[2021-08-13 13:21] moezali1 commented on #1505
@rezacsedu Multi-label classification/regression not yet supported.

@reza1615 You want to take a look at this request?

[2021-08-14 14:16] Yard1 commented on #1494
Fixed in https://github.com/pycaret/pycaret/pull/1510

[2021-08-14 14:30] ngupta23 commented on #1398
@Yard1 Is this related to https://github.com/pycaret/pycaret/pull/1438?

[2021-08-14 15:21] #1494 closed

[2021-08-14 22:13] wkuopt commented on #1501
Hey @Yard1 @moezali1 i am thinking to add that flag as suggested to override it, but still default the flag to true so that by default we still encode the target variable. Any thoughts?

[2021-08-15 01:31] Yard1 commented on #1501
Can we, by default, encode only if target isn't an integer already?

[2021-08-15 01:51] wkuopt commented on #1501
@Yard1 yes that works too. I will make the change

[2021-08-15 02:06] #1291 closed

[2021-08-15 02:06] #1122 closed

[2021-08-15 12:35] sagittefrat opened #1514 "[BUG] if setup() receives categorical with np.na values then it inference it as Date type."
if setup() receives categorical with np.na values then it inference it as Date type.

I've also tried converting them to object types as mentioned in other responses but he only thing that worked is fillna().
I'm not sure it a bug but at least should raise some error that pycaret does not handle nones

** this is not working:
data=data.sample(n=1000000, random_state=1).astype('object')"""
exp_name

[2021-08-16 04:01] wkuopt commented on #1509
I was not able to reproduce this error, and this does not seem to be related to pycaret. A similar issue suggested to check Python installation and openssl: https://stackoverflow.com/questions/28376506/urllib-https-request-urlopen-error-unknown-url-type-https

[2021-08-16 14:18] #1501 closed

[2021-08-17 00:01] tsereno opened #1516 "Add DAE and AutoLGB from Kaggler library"
**Is your feature request related to a problem? Please describe.**
No problem, just opportunity to automate data pre-processing with deep learning and automate LightGBM parameter search with AutoLGB.

**Describe the solution you'd like**
Add DAE as a data pre-processing option.
Add support for AutoLGB as a regressor and classifier.

**Describe alternatives you've considered**
Considering to use DA

[2021-08-17 03:28] wkuopt commented on #1465
@bennydayana could you provide the data for us to reproduce the error?

[2021-08-17 03:30] wkuopt commented on #1194
Hi @CJosh88 , can you point us to the dataset so that we can reproduce the error?

[2021-08-17 03:45] wkuopt commented on #1477
@akashg116414 the issue here is that you have too many unique values for those two features, which requires lots of memory to encode them into numerical form. To address this issue, there are several options:
1. Check if it really makes sense to include those 2 features - Do you really want the model to learn based on IDs? Wouldn't that cause overfitting which is not a desired outcome?
2. Use a co

[2021-08-17 04:18] aliagowani opened #1517 "Statistical tests on Classification and Regression data and models"
A new feature is being implemented for the Timeseries module to evaluate relevant statistical tests on both pre and post models. It would be meaningful to implement this module throughout Pycaret and in particular with the Classification and Regression modules.

Allow the user to call statistical tests for classification and regression modules (see the attached screenshot that was shared for the t

[2021-08-17 10:28] lauraamy commented on #1468
Also, when I add my own metric the compare_models() outputs just this : []
This is the metric I add:

def my_comp_score(y_true, y_pred):

    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()

    tn_weight = 1
    fp_weight = 0
    fn_weight = -10
    tp_weight = 0

    # gain function
    gain = tp*(tp_weight) + tn*(tn_weight) + fp*(fp_weight) + fn*(fn_weight)

    best = (tn + fp) * tn_

[2021-08-18 02:07] #1345 closed

[2021-08-18 06:55] franz101 opened #1518 "ValueError: Shape of passed values is (6794, 58), indices imply (6794, 67)"
Tried running on the M1 with the latest pandas gives me this error:
ValueError: Shape of passed values is (6794, 58), indices imply (6794, 67)

The log is following. Will add an example too :)

`   1328             test_data = pd.concat([X_test, y_test], axis=1)
   1329
-> 1330         train_data = prep_pipe.fit_transform(train_data)
   1331         # workaround to also transform target
   1332

[2021-08-18 07:14] franz101 commented on #1518
Ok might be due to numerical and ignore columns passed will check in later... Still getting the AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical' error though

[2021-08-18 07:14] #1518 closed

[2021-08-18 12:43] netoferraz opened #1519 "mlflow.set_tags through setup, compare_models, finalize_model ..."
**Is your feature request related to a problem? Please describe.**
I have a script that calls sequentially `setup` -> `compare_models` -> `finalize_model` and I'd like to pass to each one of this steps custom tags that will be logged by `mlflow`. Thus, I'd like to send custom tags to mlflow tracking api through [setup](https://github.com/pycaret/pycaret/blob/6c51233da6a265df32944f17838fa7bf33b8786

[2021-08-18 13:22] zingochampis opened #1520 "[BUG] after a multiclass classification setup, decision tree construction fails"
**Describe the bug**

After a multiclass classification setup, a `create_model('dt')` fails. Something there defaults to an inapplicable parameter.
Here is the error message:

**File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 1263, in _check_set_wise_labels
    raise ValueError("Target is %s but average='binary'. Please "
ValueError: Target is multiclass

[2021-08-18 16:31] soerendip commented on #840
This would be great. The encoded labels are not very helpful for interpreting which classes are mixed up.

[2021-08-18 23:06] moezali1 commented on #1520
@zingochampis Thanks for reporting. I am unable to reproduce the error on `iris` dataset.

[code]

![image](https://user-images.githubusercontent.com/54699234/129983349-411ef3ec-d1a4-40ea-9336-1ed6a4bed7d7.png)

Do you think you can share the dataset? Maybe I can help.

[2021-08-18 23:09] moezali1 commented on #1519
@netoferraz That's a great idea. If you are just looking for a function tag to track the function source of the run then there is already a tag that does that exactly. However, for passing custom tags, I really like the idea.

Would you like to work on this change and submit a PR? Let me know and I can assign this to you.

Thank you.

[2021-08-18 23:10] moezali1 commented on #1517
@aliagowani That's a great idea. What kind of statistical tests do you normally perform on classification and regression problems? Anything you can share will help us create a requirement for this proposal.

[2021-08-18 23:39] netoferraz commented on #1519
@moezali1 I'd love to help pycaret with this feature. It will be a pleasure to me.

[2021-08-19 08:17] lanluoluo commented on #1506
thanks !
I solved it myself。
msg = '{0}:{1}:{2}\n'.format(cmd, name, rtype).encode('ascii')  Change to msg = '{0}:{1}:{2}\n'.format(cmd, name, rtype).encode('utf-8')

[2021-08-19 08:30] zingochampis commented on #1520
[complaint2.csv](https://github.com/pycaret/pycaret/files/7012918/complaint2.csv)
Attached: dataframe that is used here.
[code]

[2021-08-19 14:08] bhanuteja2001 commented on #1288
Hi, I would like to work on this as well.

[2021-08-19 14:33] #1509 closed

[2021-08-19 15:18] bhanuteja2001 commented on #1288
Is this still opened?
I would like to work on it as well.

[2021-08-19 16:13] moezali1 commented on #1520
Thanks @zingochampis. This is happening because one of your class only contains 5 example and the number of folds for cross validation is by default set to 10.

![image](https://user-images.githubusercontent.com/54699234/130103702-87086f1f-757f-459a-bae3-f445b2fc5c5a.png)

To fix the problem on this dataset I suggest you either get rid of class 2 which only contains 5 examples or your number of fo

[2021-08-19 16:15] moezali1 commented on #1519
@netoferraz Amazing. Thank you so much for your help. I will assign it to you. You can send a PR with pre and post functionality change and a new test case (if applicable) and we will review it and get this functionality out in the next release (hopefully).

[2021-08-19 16:15] moezali1 commented on #1517
@ngupta23 Do you have any thoughts on this?

[2021-08-19 16:17] #1483 closed

[2021-08-19 16:17] aliagowani commented on #1517
@moezali1 I have some thoughts and will share more details in few days.

@ngupta23 would love to get your thoughts to keep things consistent with time series module as well.

[2021-08-19 16:18] #1506 closed

[2021-08-19 16:19] #1484 closed

[2021-08-19 16:19] #1482 closed

[2021-08-19 16:24] netoferraz commented on #1519
Great! Let's make this happen :)

[2021-08-19 19:06] harsh204016 commented on #109
I am trying
`pip install pycaret`
[code]
Windows 10
python 3.8.6
@DaGuT @yogesh5c4 @pycaret

[2021-08-20 02:07] #1187 closed

[2021-08-20 04:25] wkuopt commented on #1387
Hi @yinghawl , I was not able to reproduce the error, as test_data is indeed an optional argument. Could you check if your pycaret installation is correct?

[2021-08-20 17:12] ngupta23 commented on #1517
For regression:
I think the only test that would be applicable from the time series list is the normality test on the model residuals. This would give you the goodness of model fit. The rest of the tests in the list are specific to time series so they will not apply.

We could add a summary stats section (for target) along with that.

For classification: I am not sure any of these would apply.

[2021-08-20 18:34] netoferraz commented on #1519
@moezali1 as soon you can, check out this [PR](https://github.com/pycaret/pycaret/pull/1526).

[2021-08-20 21:51] bhishanpdl opened #1527 "Add additional argument return_output for tune_model"
When we use `pyc.tune_model(model)` we get model object. When we use `pyc.tune_model(model, return_tuner=True)` we get two outputs tuned model and tuner (eg. sklearn RandomSearch).

We also see nice output in jupyter notebook (probably pandas Styler object), It would be better to add an option to return the dataframe (or styler object) so that we can compare the Mean of different tuned models late

[2021-08-20 22:00] moezali1 commented on #1527
Hi. You can run the pull() function immediately after tune_model function and it will return pandas dataframe that you can store in variable and access the values you want.

Hope this helps.

[2021-08-21 03:38] wkuopt commented on #1468
Hi @lauraamy , could you paste the error message from the terminal where you launched the jupyter notebook?

[2021-08-21 21:35] pit9921 opened #1528 "get the performance metrics for all hyperparameters from a grid"
Hi, i am not able to figure out hot to perform hyperparameter tuning with itertools:

[code]

[code]

I got an error: TypeError: fit() missing 1 required positional argument: 'y'

Do you have somebody an experience with it?
**My goal is to get the performance metrics for all hyperparameters from a grid (see the hparams).** Is there any other way?

[2021-08-22 02:07] #1167 closed

[2021-08-22 20:22] Yard1 commented on #1528
The error is caused by you not instantiating the model, but this is a very complicated way of getting around to this. What you should do is use PyCaret's `tune_model` function like so:
[code]

This will return both the best model and the sklearn GridSearchCV object, which you can use to access metrics for each combination. It is also worth noting that PyCaret has built in search spaces for all mod

[2021-08-23 12:05] crusher083 opened #1531 "[BUG] Attributes would be removed in `scikit-learn 0.25`"
Attributes:
- `average_intercept_`
- `average_coef_`
- `standard_intercept_`
- `standard_coef_`

are going to be removed in new `scikit-learn` version 0.25.

**To Reproduce**
Predict using `LogisticRegression` with `pycaret` on every dataset.

**Additional context**
Librabry needs adaptation for a newer sklearn version.

**Versions**
- python 3.8.11
- pycaret 2.3.3

[2021-08-23 13:49] lauraamy commented on #1468
I launched the jupyter notebook with anaconda, and I have tried using a new virtual environment with anaconda but it keeps crashing every time the compare_models gets to lightgbm.

<img width="1323" alt="Screenshot 2021-08-23 at 15 17 17" src="https://user-images.githubusercontent.com/86826494/130458219-6ed92bd5-169c-4b39-867c-98486f1aea5d.png">

[2021-08-23 14:03] moezali1 commented on #1531
@crusher083 Thanks for bringing this up. We are aware of it and we are currently working on revamping the preprocessing module that will allow us to switch to the latest version of sklearn.

[2021-08-24 01:27] SandyBy commented on #1176
hi, when I use plot_model(estimator = tuned_catboost, plot = 'auc',scale=3,use_train_data=False) , I'm using the test set to plot roc,right? However, the auc I get here is quite different from what I get from using predict_model(tuned_catboost) and I try to get 95%CI of auc, any ideas what's wrong here, thanks a lot!

[2021-08-24 01:28] SandyBy commented on #1176
hi, when I use plot_model(estimator = tuned_catboost, plot = 'auc',scale=3,use_train_data=False) , I'm using the test set to plot roc,right? However, the auc I get here is quite different from what I get from using predict_model(tuned_catboost) and I try to get 95%CI of auc, any ideas what's wrong here, thanks a lot!
![屏幕截图 2021-08-24 092307](https://user-images.githubusercontent.com/46986985/1305

[2021-08-24 05:42] SandyBy commented on #1176
sorry, it seems problem solved when I try this.
![屏幕截图 2021-08-24 134119](https://user-images.githubusercontent.com/46986985/130562287-c5b5dea3-4de1-4d00-b448-6da8ab3d045f.png)
![屏幕截图 2021-08-24 134204](https://user-images.githubusercontent.com/46986985/130562309-c1f9ef5c-b401-4357-bc24-ede76fcf8c82.png)

[2021-08-24 15:13] aliagowani commented on #1517
@ngupta23 I agree with you that this may only apply to regression models as there isn't much to add than what Pycaret does for classification models, such as, confusion matrix, adding custom metrics to models, etc. One thing to note is that it would be good to add some of output of the graphs (e.g.: confusion matrix) to global variables (e.g.: True Positives (TP), False Positives (FP), etc.)

For

[2021-08-25 02:07] #1339 closed

[2021-08-25 14:15] bhishanpdl commented on #1527
This solves the problem. And in the meantime, I would suggest that you may include that information in the docstring of `tune_model`. Then we would not have to wonder how to get styler or pandas data frame from tune_model and other functions (if any). We can close the issue now.

[2021-08-25 18:37] sorenwacker opened #1536 "[BUG] Repeated calls of setup lead to extended warning output in jupyter-lab 3.1.4"
It is a routine to remove features that are different in train and test.
[code]

This leads to extended warning output in the jupyter notebook:

[code]
I guess the error comes from repeated calls of setup. I would expect the warnings not to change upon repeated calls.

[2021-08-27 14:58] nunon opened #1539 "PyCaret automl function returning the wrong model parameters?"
**Describe the bug**
I'm using PyCaret to solve a regression problem.

After training 3 models, I decided to use automl function.

**To Reproduce**

[code]

This returns:

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,

[2021-08-27 17:15] sharlalka0805 opened #1540 "[BUG]"
**Describe the bug**
Unable to install pycare on local desktop

**To Reproduce**
Download and install Python and then use PyCharm IDE .
Create a new project and go to settings and Python interpretor and try to install Pycaret from there

[code]

**Expected behavior**
library should get install wihout any issue

**Additional context**

**Versions**
<details>

</details>

Full error Stack :

C:\User

[2021-08-27 19:09] kingtelepuz5 opened #1541 "Hey! Pleas add neural network, and i think this library be the best in the world, maybe use scikit learn neural network on book "python one lines"!??"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-08-27 21:09] kingtelepuz5 opened #1542 "[DOC] please tell me, i can use synergy on parametrs in model, if yes, whould? (i am use this in R)"
#### Describe the issue linked to the documentation

#### Suggest a potential alternative/fix

[2021-08-28 13:58] moezali1 commented on #1540
@sharlalka0805 Please install bottleneck library before installing pycaret and this may fix the issue.

[code]

[2021-08-28 13:58] #1540 closed

[2021-08-28 14:00] moezali1 commented on #1541
@kingtelepuz5 You can use mlp in pycaret just like any other model. See example:

[code]

![image](https://user-images.githubusercontent.com/54699234/131220385-478b01bc-a24e-4edc-a551-7869916efe1d.png)

Hope this helps.

[2021-08-28 14:00] #1541 closed

[2021-08-28 14:04] nunon commented on #1539
@moezali1
You may see it here:
https://colab.research.google.com/drive/1Bplartd4banFwWoPsIFACZMYEYHrP1Rq?usp=sharing
The last two cells are the relevant ones.
Thank you

[2021-08-28 14:11] nunon opened #1543 "PyCaret predict_model() method fails with Pipeline not Found error"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-08-28 14:22] moezali1 commented on #1477
@akashg116414 Do you really want to use ID column in training your machine learning model? For this instance, that's exactly the problem is and that's what I pointed out to.

If you really have a situation where your categorical feature have so many distinct values and you have memory limitation you can try this:

[code]

![image](https://user-images.githubusercontent.com/54699234/131221059-b8299f

[2021-08-28 14:22] #1477 closed

[2021-08-28 14:23] moezali1 commented on #1520
@Yard1 If this is a quick fix then we can take this in `2.3.4`

[2021-08-28 14:25] moezali1 commented on #1543
@nunon Have you trained the model using version `2.3.3`?

I have seen this problem in past (a long time ago) and this could happen if you have trained your model using an older version of pycaret. Can you try re-training with the latest version and confirm if you still get the error?

Thanks

[2021-08-28 14:25] moezali1 commented on #1542
@kingtelepuz5 Unfortunately not.

[2021-08-28 14:26] moezali1 commented on #1514
@sagittefrat Thanks for reporting. Can you please upload a reproducible notebook and sample data to reproduce this error on our end?

[2021-08-28 14:27] nunon commented on #1543
@moezali1 exactly the same version,
In fact, the model was tested only minutes after training, precisely to check whether it would work well after deployed as an API.

[2021-08-28 15:29] kingtelepuz5 commented on #1541
yes! thansk so much :)

[2021-08-28 15:33] kingtelepuz5 commented on #1542
Thx fo you answer, i think it's okay, i am use in future R, and waiting when this function add in Pycaret, if not, okay, but i belive this can do it :d

[2021-08-28 15:33] #1542 closed

[2021-08-30 10:25] akashg116414 commented on #1477
Thanks for the workaround

[2021-08-31 20:55] msincan opened #1545 "[BUG] numpy 1.19.5 produces an error during `import pycaret`"
**Describe the bug**
After installing pycaret in a new environment, I get an error when I try to import pycaret

**To Reproduce**
[code]

**Expected behavior**

uninstalling the numpy version that pycaret installs (1.19.5) and then reinstaling newer numpy solved the issue

**Additional context**
[code]

[2021-08-31 21:29] moezali1 commented on #1543
@nunon Can you provide the Notebook and dataset to reproduce the error on my end? I can investigate.

[2021-08-31 21:29] moezali1 commented on #1536
@Yard1 Any thoughts on this?

[2021-08-31 21:30] moezali1 commented on #1539
@nunon Access denied. Can you make your Notebook public?

![image](https://user-images.githubusercontent.com/54699234/131578324-4c89c037-dbe9-43e2-8b2d-a9b9a7ebbbf3.png)

[2021-08-31 21:36] moezali1 commented on #1528
@pit9921 Here is the sample code that I used to generate a grid that I think you are looking for:

[code]
![image](https://user-images.githubusercontent.com/54699234/131578927-1c9f17ca-8518-4352-b8ba-05709439f120.png)

Hope this helps.

[2021-08-31 21:42] soerendip commented on #1536
Maybe a word why I am doing this? It is a loop that removes the most predictive features. The purpose is to make train and test sets more similar to each other and to eliminate features that can discriminate both sets from each other. First I combine train and test and add a variable 'is_test' and then the features are removed until the cross validated ROC sinks below a certain threshold.

[2021-08-31 21:49] Yard1 commented on #1536
Try setting `verbose=False`?

[2021-08-31 21:59] nunon commented on #1539
Oh, sorry, please try again.
I believe it is accessible now. The dataset isn't mine, I can't share it.
Thank you.

[2021-09-01 02:23] igorkf commented on #823
For me the problem was not solved by downgrading `scikit` to 0.23
I tried as well setting `imputation_type='iterative'` and now I got another problem: `ModuleNotFoundError: No module named 'sklearn.kernel_ridge'`

[2021-09-01 02:37] igorkf commented on #1463
@deenam is this a regression or classification problem?
I ask this because you import `classification` but you are saving the `setup` as `reg1`.
The variable name is not a problem...but do you want to use regression?

[2021-09-01 11:44] KarinaYabra opened #1546 "Modeling on a sample of data"
When I initialize the Setup, PyCaret does not ask the sample size and considers all the database (590,000 rows x 15 columns). Then, when trying to run the different models it crashes due to memory issues. What should I do so that I can consider x% of the database as a sample to run everything? Thanks.

[2021-09-01 21:04] pit9921 commented on #1528
It works great! Thank you.

[2021-09-01 21:06] #1528 closed

[2021-09-01 23:14] KarinaYabra commented on #1546
Hi, thanks for the answer. I thought about that but the thing is that I know that Pycaret does a preliminary sample analysis where it shows a graph with the metric (let say accuracy) based on the sample size so that one can choose the optimal size and if I sample the data on my own I loose that.

[2021-09-01 23:37] Yard1 commented on #1546
That feature has been removed in one of the updates, as we have decided it didn't provide enough value to justify the cost of maintaining it. Sorry.

[2021-09-01 23:48] KarinaYabra commented on #1546
Ok, thank you so much for the answer.

[2021-09-02 02:16] soerendip commented on #1536
`verbose=False` only remove the displayed table. It is not changing the log messages.

This is how it looks in  the jupyter-lab 3.1.4. I have observed this before when calling setup multiple times in one session.

![image](https://user-images.githubusercontent.com/3391614/131770563-fdd4fa34-274d-4dbe-8bd8-aa7c8bfb0653.png)

[2021-09-02 14:45] lokesharya99 opened #1547 "Not using GPU for Light GBM"
Hi Team,

I'm trying to train a model on Kaggle using pycaret, i have data for more than 50k observations, I have specified use gpu as True, but Pycaret is unable to train Light GBM on GPU, I have tried the tutorial given here but still not using GPU more then 2-3%
as shown in the Image CPU is going upto 200% but GPU is 0.

Catboost and XGB are able to run on GPU.

![image](https://user-images.git

[2021-09-02 14:52] lokesharya99 commented on #1547
Tried the way given on pycaret github page for colab.

I'm using kaggle so i believe there is no need to install GPU version there. But i still tried uninstalling existing version and installing GPU version.

[2021-09-02 20:07] microprediction opened #1548 "[DOC] How should pycaret be cited?"
How should pycaret be cited?

[2021-09-04 02:10] #1102 closed

[2021-09-04 10:47] irkan-hadi opened #1549 "[BUG] Cannot clone object DataTypes_Auto_infer as the constructor either does not set or modifies parameter categorical_features"
**Describe the bug**
I am trying to stack 7 pretrained models (imported pkl files) but I am facing below error when trying to invoke stack_models():

[code]

The pretrained models are trained, tuned, and calibrated using pycaret if it makes any difference. Data set has zero categorical values.

**To Reproduce**

[code]

**Expected behavior**
Stacker should run without errors

**Additional context*

[2021-09-04 12:34] ngupta23 commented on #1369
Completed

[2021-09-04 12:34] #1369 closed

[2021-09-04 12:35] ngupta23 commented on #1398
Fixed

[2021-09-04 12:35] #1398 closed

[2021-09-06 14:02] moon195 opened #1550 "How can I make the plot output by plot be of svg type, or I can customize the DPI? The clarity of the existing graphs does not meet the journal's requirements"
How can I make the plot output by plot be of svg type, or I can customize the DPI? The clarity of the existing graphs does not meet the journal's requirements
at lest 300dpi

[2021-09-07 14:47] #1546 closed

[2021-09-07 14:47] #1545 closed

[2021-09-07 21:19] jonahwoods95 opened #1552 "IllegalMonthError for any NaT values"
**Is your feature request related to a problem? Please describe.**
If a dataset has any date column with NaT, it does not pass a standard setup(). Specifically, the following raise an IllegalMonthError (https://github.com/pycaret/pycaret/blob/master/pycaret/internal/preprocess.py, lines 1460-1468):
`if "is_month_end" in self.list_of_features_o:
                features.append(

[2021-09-07 21:59] moezali1 commented on #1550
Hi @moon195

There is a `scale` parameter in the `plot_model` function that you can use to control the resolutions of the graphic.

![image](https://user-images.githubusercontent.com/54699234/132416236-fdecd54c-3287-4bf2-b6fe-b37f88b9ecdb.png)

Check out documentation: https://pycaret.readthedocs.io/en/latest/api/classification.html

[2021-09-07 21:59] #1550 closed

[2021-09-07 22:00] moezali1 commented on #1548
Hi. We haven't published any paper yet (we hope to do that with 3.0).

For now, you can see the details of how to cite here: http://pycaret.org/about/

[2021-09-07 22:01] moezali1 commented on #1539
@nunon Nope, unfortunately same issue:

![image](https://user-images.githubusercontent.com/54699234/132416411-b931d8c1-6ffc-49c0-b353-42335d1d8d4c.png)

[2021-09-08 14:28] moon195 commented on #1550
Thanks for your reply, I finally modified it pycaret/internal/plots/yellowbrick.py，replace .png with .svg.It worked.Successfully make the  plot model output svg format.

[2021-09-09 02:10] #1410 closed

[2021-09-12 12:19] moezali1 opened #1554 "plot_model function in time_series module"
`plot_model` function in the `pycaret.timeseries` @ `time_series` branch.

For plots that don't require trained estimators such as `ts`, `acf`, `pacf`, should include the name of the time series in the title of the plot.

Current Behavior:

[code]
![image](https://user-images.githubusercontent.com/54699234/132987107-a88e1196-c01b-4c7b-ac27-5ca59531f70e.png)

![image](https://user-images.githubuser

[2021-09-12 12:53] moezali1 opened #1555 "Hide these parameters in plot_model function for time_series"
Can we hide the following parameters from the `plot_model` function in `pycaret.time_series`:

![image](https://user-images.githubusercontent.com/54699234/132988285-503c412a-dd38-4a1a-8b1f-3ed6080fb24d.png)

    scale: float = 1, ------ not applicable as we are using plotly now
    save: bool = False, -------- not applicable as you can save plotly graph through front-end
    fold: Union[int, Any,

[2021-09-12 13:00] moezali1 opened #1556 "add_metric function not working in time_series"
`add_metric` function not working in time_series. The `remove_metric` works just fine.

[code]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_25192/735269719.py in <module>
      1 from sklearn.metrics import mean_absolute_error
----> 2 add_metric(id = 'mae2', na

[2021-09-12 13:01] moezali1 opened #1557 "check_stats(test='summary') not working in time_series module"
check_stats(test='summary') not working in time_series module. All other tests work just fine!

[code]

ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_25192/3830716122.py in <module>
----> 1 check_stats(test='summary')

~\pycaret\pycaret\internal\utils.py in wrapper(*args, **kwargs)
    780                 if globals_d[name] is None:

[2021-09-12 13:04] moezali1 opened #1558 "load_model not working without setup in time_series module"
This is a critical bug.

**TRAINING PHASE**
[code]
It works fine. Model is saved. The problem happens during prediction. See below:

**PREDICTION PHASE (IN NEW NOTEBOOK)**

[code]
ValueError: _CURRENT_EXPERIMENT global variable is not set. Please run setup() first.

[2021-09-12 14:35] moezali1 opened #1559 "plot_model(plot='predictions') not working when output returned from compare_models"
plot_model(plot='predictions') not working when output returned from compare_models

[code]

ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_28112/410246559.py in <module>
----> 1 plot_model(best, plot = 'predictions')

~\pycaret\pycaret\internal\utils.py in wrapper(*args, **kwargs)
    780                 if globals_d[name] is None:
    7

[2021-09-12 14:38] moezali1 opened #1560 "Change behavior of fh argument in the predict_model function in time_series"
Change behavior of the `fh` argument in the predict_model function in time_series

Currently, if we want to predict 12 periods in the future we have to pass `np.arange(1,13)`. Instead, it should be `12`. This behavior is consistent with how it is currently handled in the `setup` function.

[code]

Currently, this produces this:
![image](https://user-images.githubusercontent.com/54699234/132991911-

[2021-09-12 14:42] moezali1 opened #1561 "metric grid in the predict_model function of time_series"
metric grid in the predict_model function of time_series

When the `predict_model` function is used without the `fh` parameter the metric grid makes sense as it is evaluated on the test set. However, when `fh` is not `None` metrics doesn't make sense since it is expected that `predict_model` used with `fh` None means the user is generating predictions in the unknown future.  The test set is an exc

[2021-09-12 14:45] moezali1 opened #1562 "plot renames in plot_model function of time_series"
plot renames in plot_model function of time_series

Can you please rename plots as per following:

'splits-tt' --> 'train_test_split'
'splits_cv' --> 'cv'
'predictions' --> 'forecast'

[2021-09-12 14:47] moezali1 opened #1563 "plot_model(plot='predictions') exception message in time_series is not correct"
plot_model(plot='predictions') exception message in time_series is not correct.

The exception is correct but the message is wrong.

[code]
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_28112/4270494707.py in <module>
----> 1 plot_model(plot='predictions')

~\pyc

[2021-09-12 14:49] moezali1 opened #1564 "default arguments of plot_model in time_series"
default arguments of plot_model in time_series

Following should be default arguments in the `plot_model` function:

when `model` is not passed, the default plot should be `ts`

when `model` is passed, the default plot should be `forecast` (previously: `predictions`)

[2021-09-12 14:52] moezali1 opened #1565 "Title when plot = 'predictions' in plot_model of time_series"
Model name should appear in the title when plot = 'predictions' in plot_model of time_series

Currently:

[code]

![image](https://user-images.githubusercontent.com/54699234/132992315-31d6d3aa-9fc4-43a4-b8eb-3993fbce41b0.png)

Also, Forecasts in the title should be reworded to Forecast.