[2020-12-28 13:04] muriloafonso commented on #968
Thanks for the answer

[2020-12-28 13:04] #968 closed

[2020-12-28 22:40] popcsev commented on #962
Ok for me installing xcode resolved the issue on a 3.6 conda environment:

`xcode-select --install`

[2020-12-29 00:19] Yard1 commented on #943
Ok, the issue is that `neg_log_loss` targets prediction probability and not predictions. We cannot automatically determine that when creating the metric, so the user needs to explicitly pass the `target` parameter in `add_metric`.

[code]

This will work and give the same results as pure sklearn.

[2020-12-29 06:22] sahil0094 opened #969 "Undersampling majority class"
Is there a way to undersample majority class while cross validation in pycaret?

[2020-12-29 06:37] minkim88 commented on #943
Very nice! It works!

I should have read the document more thoroughly.

Thanks again for the help!

[2020-12-29 09:22] sahil0094 commented on #918
That's what i am doing currently. I do set(original_dataframe.columns)-set(X_train.columns) to check features removed through multicollinearity.

[2020-12-29 10:03] VinayChaudhari1996 opened #970 "[ 📊 Enhancement ] : How to choose plotly or dash backend for model evaluation plots ?"
Hello Guys ,

I'm thinking about how we can choose model evaluation plots backend like **plotly/dash** for more interactive charts than traditional plots.

Is is possible to add this feature like to choose **plots backend** in next version ?

Thanks ,

[2020-12-29 11:13] batmanscode commented on #970
I think most of the plots are already done with plotly 🤔

[2020-12-29 15:07] VinayChaudhari1996 commented on #970
But they all are static (not very interactive)

[2020-12-30 10:40] bhaskoro-muthohar opened #972 "Export evaluate_model as html"
Hi, is it possible to export the output of `evaluate_model` as HTML?

[2020-12-30 15:31] brainlescoder commented on #963
yeah i thought that..

[2020-12-30 15:31] #963 closed

[2020-12-31 19:40] dgg32 opened #975 "finalize_model with unseen_data too?"
**Is your feature request related to a problem? Please describe.**

According to the [tutorial ](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb), the finalize_model method trains on the 95% fraction of my training data. And then we predict_model(final_lightgbm, data=data_unseen) on the last 5% to get the final me

[2020-12-31 21:11] Yard1 commented on #975
`finalize_model` trains on all data. This must be a mistake in the tutorial.

[2021-01-01 22:12] wkuopt commented on #834
Hey @Yard1, I was going through the surrogate imputer and found that this could probably be done with the boolean parameter add_indicator (https://scikit-learn.org/stable/modules/impute.html#marking-imputed-values), which exists for both the simple imputer and the iterative imputer.

Do you see any potential issues removing the surrogate imputer? I feel that it will be easier to ensure the consist

[2021-01-01 22:18] Yard1 commented on #834
I believe the surrogate imputer was left unfinished by the original author of preprocessing module. It was not available for users. I think it can be safely removed.

We have not had any plans for extra imputation strategies, but it would be good if you could structure the code in a way to facilitate easily adding new ones if it changes in the future.

[2021-01-02 09:12] bhaskoro-muthohar opened #976 "Is there any way to get probability of class in Clustering?"
Hi, I would like to know if it possible to get the probability of class in Clustering like we did on Classifications?

[2021-01-02 10:19] bhaskoro-muthohar commented on #969
Maybe you can try to pass `fix_imbalance = True, fix_imbalance_method = TomekLinks ` on your setup parameter in order to use undersample with TomekLinks method

[2021-01-02 21:54] salilathalye commented on #567
Is there a way to create a streamlined module for interferencing/prediction that will have a smaller footprint than pycaret? When we load a pickle file containing the pipeline and model, do we really need all the rest of the codebase that is needed to create and tune a model and build the pipeline?

Also is there a page where we can see the size of the pycaret "footprint" by version number. It sur

[2021-01-03 11:11] ngupta23 commented on #954
Since it is working standalone in Python in various IDEs, I think this is likely an issue with reticulate. Can you file a Issue in the [right repo](https://github.com/rstudio/reticulate/issues) and link this issue to that one?

[2021-01-03 13:01] Cytotoxicity commented on #954
Thanks for reply, I will do that soon.

[2021-01-03 17:02] pycaret commented on #976
@bhaskoro-muthohar Nope. I haven't heard of anything like that.

[2021-01-03 17:02] #976 closed

[2021-01-03 17:20] pycaret commented on #951
# The fix has been released for this. pycaret==2.2.3

[2021-01-03 17:20] #951 closed

[2021-01-03 17:23] Yard1 commented on #966
I don't think the dataset files are included.

[2021-01-03 17:25] minhaajre commented on #966
It should be. Its here anyways https://www.kaggle.com/c/house-prices-advanced-regression-techniques

[2021-01-03 17:39] Yard1 commented on #966
The issue is the `feature_interaction=True` parameter in `setup()`. It will create interactions for all columns, which, considering how many there are, will quickly cause a memory issue. `feature_interaction=True` should only be used on datasets with a small amount of columns.

[2021-01-03 17:41] minhaajre commented on #966
Its probably the smallest dataset i know of. It should be able to compute that without issues. :(

[2021-01-03 17:45] Yard1 commented on #966
The issue is with `feature_interaction=True` `setup()` parameter. It will try to create feature interactions between all columns - and while this dataset has a small number of rows, it has a large number of columns, causing it to quickly run out of memory. `feature_interaction` should only be used on dataset with a small number of columns. After removing that option, the notebook works fine.

[2021-01-05 11:02] vtoliveira commented on #969
To be more specific, you can do:

[code]

Where `default_setup` is a dictionary containing the remaining of setup parameters.
Don't forget to install imblearn:

```pip install imbalanced-learn```

[2021-01-05 22:00] Lion-Mod opened #979 "Q: Reason plot for unseen data in streamlit apps"
I'm looking to build a streamlit app that once build you can predict a value which will be displayed along with the shap/reason plot.

I've been trying with `interpret_plot`. I'm thinking if I can't get this working to go after the shap values way using `get_config("X")` to get the data for the `explainer.shap_values`.

Is there a known way of handling this?

[2021-01-05 23:51] dmangonakis commented on #922
@ericbugin: Make sure that the path `models/learning/pycaret_model` exists ...

@pycaret: Yes, it correctly returns `models/lr-aws-sunday.pkl.514251d3` but it cannot be saved on the local file system.

I'm fixing it.

[2021-01-07 04:17] bhaskoro-muthohar commented on #969
When you installed `pip install pycaret[full]` you won't need to install `imbalanced-learn` manually, because the full version takes care of it already

[2021-01-07 08:01] lcast5576 opened #981 "get transform train set column names from setup()"
How to get transform train set column names after setup() ?

[2021-01-07 09:30] Yard1 commented on #981
'get_config('X_train').columns`

[2021-01-07 09:58] athammad commented on #587
Hi,

tune_model doesn't work.

[code]

it returns the following error

[code]
any idea why this is happening?

Cheers

[2021-01-07 10:33] lcast5576 commented on #981
thanks!

[2021-01-07 10:33] #981 closed

[2021-01-07 13:42] WebDevelopmentLabs opened #982 "Unable to remove NaNs (missing values) using PyCaret"
I am unable to impute NaNs (missing values) with mean and constant using PyCaret. Their documentation says, it does that by default. However, I have tried both (manual and automatic) but nothing is working. I am using my own car sales dataset.

[code]

[2021-01-07 14:29] Yard1 commented on #982
How can you tell it's not working?

[2021-01-07 14:47] Yard1 commented on #587
Currently, `tune_model()` only supports models bundled with PyCaret. This is unintended and will be fixed in an update.

[2021-01-08 12:49] WebDevelopmentLabs commented on #982
Well, it still shows NaNs in when I recall the DF. See here please: https://prnt.sc/wj00p9

[2021-01-08 12:50] almirb opened #984 "[HELP] How to list discarded features when using feature_selection?"
Hello!
I'm new to PyCaret and read the documentation about feature_selection...  but I didn't find a way to get all features discarded with the selected threshold.
How can I do this?

Thanks and congratulations for this beautiful piece of software! :)

[2021-01-08 13:49] dmangonakis opened #985 "Loading model w/o PyCaret?"
Hi,

I've built a model with PyCaret and saved it into s3.
Now, I want to create an application w/o importing pycaret.

Downloading the model is easy with `boto3` but loading it with `joblib.load(...)` leads back to:

`ModuleNotFoundError: No module named 'pycaret.internal'`

It seems like joblib.load calls numpy_pickle, then runpy and finally pickle where find_class does `__import__(module, level

[2021-01-08 17:22] ericbrownaustin opened #986 "Error: Estimator {i} does not have the required fit() method."
I'm am trying to run a regression on a Pandas dataframe with all numeric features and with the pycaret.regression.compare_models() function using the default parameters, however, I am receiving this error:

[code]

Here is my code:

[code]

Python version 3.8.5
PyCaret version 2.2.2

[2021-01-08 20:38] Yard1 commented on #982
How are you recalling it? Using `get_config()`?

[2021-01-08 20:40] Yard1 commented on #986
That's an incorrect way to call `compare_models()`. You are not supposed to pass `exp_encode` anywhere, simply call `compare_models()` without any arguments.

[2021-01-08 20:49] Yard1 commented on #984
This is not yet supported natively, but you can get a list of columns that were kept with `get_config('prep_pipe').named_steps["feature_select"].selected_columns_test` after running `setup()`. You can then compare it with the starting columns.

[2021-01-08 20:51] Yard1 commented on #985
By default, the entire pipeline is saved, which requires PyCaret. You can use the `model_only=True` argument in `save_model()` to save just the model.

[2021-01-08 21:23] ericbrownaustin commented on #986
Indeed.  Thank you.

[2021-01-08 21:23] #986 closed

[2021-01-08 23:00] pycaret commented on #985
@dmangonakis You can also directly use `joblib` after the model is returned from the `create_model`, if you just need to access sklearn estimator. Hope this helps!

[2021-01-08 23:02] pycaret commented on #982
@WebDevelopmentLabs Models wouldn't even train if there are `null` values in the dataset. Are you able to run `create_model` or `compare_models` successfully?

[2021-01-08 23:03] pycaret commented on #979
This is not yet implemented @Lion-Mod.

[2021-01-08 23:05] pycaret commented on #975
@dgg32 Thanks for reporting. I have read the tutorial and I can't figure out what made you think that the `finalize_model` only trains on the training set. In fact, the purpose of the `finalize_model` function is to fit the model on the entire data.

![image](https://user-images.githubusercontent.com/58118658/104073588-17ddd100-51dc-11eb-9a1c-e9cfc7a1abd5.png)

[2021-01-08 23:06] pycaret commented on #972
@bhaskoro-muthohar Not implemented yet. If you would like to work on this enhancement, please let us know.

[2021-01-08 23:07] pycaret commented on #962
@harveyren1 Is your issue resolved now? Can we close this?

[2021-01-08 23:14] pycaret commented on #984
@almirb Or you can also access the column names from the training set by using `get_config('X_train').columns`. You can compare this list with the original dataset to determine which columns were ignored from the original dataset. However, note that `feature_selection` is not the only parameter because of which features are dropped/ignored. There are other parameters that can have the effect on ce

[2021-01-08 23:14] pycaret commented on #970
@VinayChaudhari1996 Would you like to work on this functionality?

[2021-01-08 23:15] pycaret commented on #969
That's correct. With `pycaret[full]` you do not need to install `imbalanced-learn` separately. :)

[2021-01-08 23:35] harveyren1 commented on #962
You can close it. I decided to use a juptyer notebook on a cloud platform
so didn't run into this issue.

On Fri, Jan 8, 2021 at 6:08 PM PyCaret <notifications@github.com> wrote:

--
Best Regards,

Harvey Ren
706-888-2268
Personal Website <http://harveyren.com>

[2021-01-09 00:16] dgg32 commented on #975
@pycaret Hi thank you for replying.

Perhaps I misunderstood the setting in the tutorial. I can think of two ways of understanding the tutorial. But regardless which, it is clear to me that the "12.0 Finalize Model for Deployment" happens before the "13.0 Predict on unseen data" (the 5% data). This implies that the final model should have not included the 5% data because otherwise it is cheating.

[2021-01-09 00:41] Yard1 commented on #975
The 5% has been held back specifically in the tutorial to act as unseen data for purposes of demonstration. The dataset has been divided into 95% to act as "known" data and 5% to act as "unknown" data before it was passed onto PyCaret. PyCaret does not do any data splitting aside from separating the data it receives into train and test sets. `finalize_model()` fits the model on all data passed to

[2021-01-09 01:25] dgg32 commented on #975
@Yard1  So you mean in an everyday scenario, there is no need for me to create that 5% data? Thank you!

[2021-01-09 02:26] almirb commented on #984
Very nice! Both solutions (@Yard1  and @pycaret ) worked well to list the remaining columns after ```features_selection``` process. Thanks!

But I have some category columns.  A thing that I couldn't do, It's to get the columns _after_ the ```one_hot_encoding``` (where a lot of columns are created) and _before_ ```features_selection``` (where some columns are removed).
I think I'll end doing the `

[2021-01-09 07:14] Yard1 commented on #975
That's correct. It was just for the purposes of the tutorial.

[2021-01-09 11:15] Lion-Mod commented on #979
Ok. I've had some progress since. Ideally I have the unseen data but need to acquire it preprocessed using the same steps from the pycaret setup.

I understand their is a pipeline used but I'm struggling to understand the underlying code to apply this to my unseen data (untransformed and no target column).

Is there a way I can apply the pipeline preprocessing as described?

[2021-01-09 18:50] Lion-Mod commented on #979
Got it!

I've exported (using `joblib.dump`) the `prep_pipe`. Obtained via get_config(`prep_pipe`)

Loading this in I've used prep.transform(prediction_df)

Where prep is the `prep_pipe`

Only problem was any columns that were ignored I had to add back in prior to the transform step.

[2021-01-09 18:50] #979 closed

[2021-01-10 14:47] joaopalotti commented on #700
Hi @atwahsz, jumping into this stuck conversation, could you use skorch with pycaret?

I tried it today and could not make it work.
Made this smaller example below using standard skorch and pycaret:

[code]

But got this error:
[code]

I used 24d in the input layer as this is what I see for the ``Transformed Train Set | (537, 24)``.
To be able to use this network with skorch only, the input layer

[2021-01-10 14:53] atwahsz commented on #700
To be honest , it did not work theb I decided for the time being to use
pycaret to setup then extract X and Y and use skorch directly

On Sun, 10 Jan 2021 at 5:48 PM joaopalotti <notifications@github.com> wrote:

[2021-01-10 17:26] VinayChaudhari1996 commented on #970
Yes for sure, I need steps and some guidance to start with.

[2021-01-10 19:29] Yard1 commented on #970
@VinayChaudhari1996 @batmanscode has added streamlit as a backend recently, perhaps he could help? If not I can do it, though I am occupied at this moment.

[2021-01-10 21:25] subrockmann opened #991 "conda install -c conda-forge pycaret - fails"
Problem:
I am trying to install pycaret through Anaconda on Python 3.7.9 and all my tried installs failed due to unsolvable dependencies.

`(tensorflow) C:\Users\Susanne>conda install -c conda-forge pycaret
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from cur

[2021-01-11 09:32] linchen111 opened #993 "Can't get the hyperparameter of CatBoost Regressor"
When I tuned the CatBoost Regressor model, I want to check the hyperparameter,
but when I use 'print(model)'
all I can get is this :<catboost.core.CatBoostRegressor object at 0x1a2ea2f6d0>

[2021-01-11 09:33] Yard1 commented on #993
That is a CatBoost issue. Please try `print(model.get_params())`.

[2021-01-11 09:43] linchen111 commented on #993
Thanks! It worked!

[2021-01-11 11:50] #993 closed

[2021-01-12 05:15] muraris opened #994 "Program fails with msg y contains previously unseen labels: '3'"
While attempting to learn and use pycaret on a dataset for regression, observed that for it errors with error..
"item_name1 with msg y contains previously unseen labels: '32'"
Appreciate any help to fix this.

[pycaret_issue_testing.zip](https://github.com/pycaret/pycaret/files/5799904/pycaret_issue_testing.zip)

[2021-01-12 09:56] WebDevelopmentLabs commented on #982
Yes, that is correct. But I did not try that. Let me try and update you in a while.

[2021-01-12 10:22] WebDevelopmentLabs commented on #982
It's not creating the model either.

[2021-01-12 13:49] Yard1 commented on #982
Is it possible for you to share the dataset and the logs.log file generated automatically in the directory from which you run the script/notebook?

[2021-01-12 19:58] batmanscode commented on #970
Yes I can. My plotting skills are basic but what better way to learn!

[2021-01-12 21:47] Yard1 commented on #991
I believe it could be changed to `scipy<=1.5.4` without issues. I have just done so in commit `ad629e7a8ea3fb36023e04529fc6ac15798ab25c`.

[2021-01-12 21:47] #962 closed

[2021-01-12 21:47] #969 closed

[2021-01-12 21:52] Yard1 commented on #994
I have ran the code you've posted without any issues. Please try reinstalling PyCaret in a new virtual environment.

[2021-01-13 09:07] Lion-Mod opened #995 "Handling SHAP values and one hot encodings"
I've been using interpret plot and exploring the use of SHAP values. I've been looking at the SHAP library and looks like whenever OHE is used it could affect the shap plots given the column(s) splitting into multiple and being filled with 0s.

[Understanding1](https://github.com/slundberg/shap/issues/1342)
[Understanding2](https://github.com/slundberg/shap/issues/397)

I can't see a way that pyca

[2021-01-13 09:24] Leo-Ji2020 opened #996 "AUC Plot, minor error. Please check."
**Is your feature request related to a problem? Please describe.**
The section 10.1 in "Binary Classification Tutorial Level Beginner -  CLF101" shows the AUC curves. However, the same line style was used for both **_micro-average_** & **_macro-average_** ROC curves. Please modify it in the next version. Thank you.

<img width="393" alt="10 1AUC" src="https://user-images.githubusercontent.com/6294

[2021-01-13 13:31] bgalvao opened #997 "cannot use tune_model with a model not in models()"
Code sample:

[code]

Stack trace:

[code]

I have not yet looked into the source code, but I will speculate that this looks like that PyCaret is looking for the model within its own model library and that, since `my_svm` does not belong there, it errors out.

Is this a possible use case with PyCaret?

[2021-01-13 17:56] Yard1 commented on #997
We are aware of this issue. It will be fixed in the next release (hopefully).

[2021-01-14 11:08] vmady opened #998 "PyCaret and Google Cloud Functions"
I try to use PyCaret in a Google Cloud Functions but I cannot import the classification modules (from pycaret.classification import *) because there is a reference to a non writable directory (OSError: [Errno 30] Read-only file system: '/workspace/logs.log')

Does anybody know a workaround or does that mean that PyCaret is not compliant with Cloud Function yet ?

[2021-01-14 16:06] bgalvao commented on #997
As I have professional needs/interest on this issue, I am open to working on it. I would just like some pointers on what I have to change, if that is possible.

[2021-01-14 20:47] rehoyt opened #999 "Installation Issue (lightgbm)"
First, it is hard to report an error when you can't upload a ipynb or html file. PDF export does not work on my JupyterLab. I have had no problems with loading and using PyCaret but today after installing and importing the data with pandas and then writing code such as the following from pycaret.regression import *
exp_reg101 = setup(data = data, target = 'Price', session_id=123)

I get this error

[2021-01-14 21:05] Yard1 commented on #997
We already have made the necessary changes on a branch targeted for the next major release - however, I can port them over to the current branch and we can release a small update soon. Does that work for you?

[2021-01-14 21:06] Yard1 commented on #999
This seems to be some sort of an issue with LightGBM files. Could you try making a new virtual enviroment and reinstalling PyCaret there?

Also, you can share notebooks through Google Drive/Colab.

[2021-01-15 10:01] muraris commented on #994
Thanks for the sharing your observation.
I was testing it just using Python 3.x and Jupyter.

[2021-01-15 10:31] Laurianne50 opened #1000 "Content of cross-validation folds"
Hi,
Is there a way to extract the datasets coresponding to each cross-validation fold in create_model() and tune_model()? I'm aiming at analysing the content of the folds and generating a confusion matrix for each fold.
Many thanks!

[2021-01-15 11:46] bgalvao commented on #997
yes 🙂

[2021-01-15 18:28] Yard1 commented on #1000
You should be able to obtain the fold generator with `get_config('fold_generator')`, and then run it on `get_config('X_train')` and `get_config('y_train')` to obtain the exact same indices as used internally.

[2021-01-15 19:14] rehoyt commented on #999
I did start over and again tried to run classification and regression scenarios but with the same results for JupyterLab and Jupyter Notebooks. I also installed Lightgbm but it said the requirement was already satisfied.

[2021-01-15 20:53] Yard1 commented on #999
I am afraid that this is an issue with your local environment, considering Colab works fine. That is why I suggested making a new virtual environment and installing PyCaret there, fresh - that solves almost every installation/package issue, which is what we are dealing with here.

[2021-01-15 21:13] rehoyt commented on #999
Pardon my ignorance but please define "new virtual environment" The problem may be with the Anaconda environment but that is what most people use

[2021-01-15 22:11] jamesmyatt commented on #21
`py-xgboost` is the right conda dependency for a python library. `xgboost` is just the C library, as far as I know.

[2021-01-16 13:48] Yard1 commented on #999
This guide should help:
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

[2021-01-16 13:49] Yard1 commented on #21
I believe that to be incorrect. `pip install xgboost` does work and is separate from `py-xgboost`. If I recall correctly, the latter was a third party project to create a Python wrapper around Xgboost, before it itself started providing one.

[2021-01-16 14:32] rehoyt commented on #999
I have JupyterLab 3.0 and the extensions that e.g., connect to Google Drive
have not been updated so they aren't compatible. I tried it with Jupyter
Notebook and the same thing happened

On Thu, Jan 14, 2021 at 3:07 PM Antoni Baum <notifications@github.com>
wrote:

--

*Robert (Bob) Hoyt MD, FACP, FAMIA, ABPM-CI*

*Associate Clinical Professor, Department of Internal Medicine*

*Virginia Commonwea

[2021-01-16 15:02] pycaret commented on #999
@rehoyt Can you follow these instructions to create a conda environment and then install pycaret:

[code]

This should solve your problem.

Thanks

[2021-01-16 15:04] pycaret commented on #21
@jamesmyatt I also think that is incorrect. `xgboost` is the right dependency and is unfortunately not available on `conda` hence became a show stopper for `pycaret` to be conda install compatible. In the future, we are planning to get slim down our mandatory dependencies in which case this problem will be resolved since we will remove `xgboost` and a few other libraries from our `requirements.txt

[2021-01-16 15:08] pycaret commented on #998
@vmady This means that your account in GCP does not have access to the workspace directory where logs are written.

@Yard1 This problem also exists in other cloud environments where the user is not an admin and does not have access to files written in cluster workspace. Are you planning to disable system logs by providing a `setup` parameter? What are your thoughts?

[2021-01-16 15:09] pycaret commented on #996
@Leo-Ji2020 Thanks for reporting. It seems like this is caused by the dependency we are using for the plots.

I will appreciate it if you can report the issue on their repo.

https://www.scikit-yb.org/en/latest/

[2021-01-16 15:11] #975 closed

[2021-01-16 15:11] #985 closed

[2021-01-16 15:14] pycaret commented on #994
@muraris I can also run the code without any issue. As @Yard1 recommended, please try installing pycaret in new virtual environment. You can follow the instructions here:

https://pycaret.readthedocs.io/en/latest/installation.html

Feel free to open another issue if it still doesn't work.

[2021-01-16 15:14] #994 closed

[2021-01-16 15:19] pycaret commented on #995
@Lion-Mod PyCaret currently just treats all one-hod-enoded columns separately.

[2021-01-16 15:21] pycaret commented on #931
@DXcarlos You can private message on our Slack channel. If you are still not there, you can join using the following link:

https://join.slack.com/t/pycaret/shared_invite/zt-kdoe7hee-yvNANPHXPM9VtK7R6Npx4Q

[2021-01-16 15:22] pycaret commented on #359
@jisho-iemoto Models trained using version < 2.2 will not work with 2.2 and forward. I suggest you retrain the model using `pycaret==2.2`.

[2021-01-16 15:24] #828 closed

[2021-01-16 15:27] pycaret commented on #922
@dmangonakis Would you like to make this change and submit a PR, please? Is this a problem for `aws` or other platforms `gcp`, `azure` as well?

@Yard1 Which branch @dmangonakis should submit PR to?

[2021-01-16 15:28] pycaret commented on #925
@TKassis Hi, Happy New Year! Were you able to log an issue with the `catboost` repo? Do you mind linking it here for future reference?

[2021-01-16 15:32] pycaret commented on #883
@batmanscode Sorry for the late response. Were you able to resolve this issue? Can you share your findings?

[2021-01-16 15:34] pycaret commented on #831
@g0lemXIV Hi. Did you get a chance to look into this?

[2021-01-16 15:35] pycaret commented on #658
@Rahul9597 Were you able to resolve the issue? If yes, can you please share your findings?

[2021-01-16 15:38] pycaret commented on #826
@linhy1993 At this moment, the `remove_outlier` parameter in the `setup`  for `pycaret.classification` and `pycaret.regression` only supports `pca`. In future, we may allow an additional parameter in the `setup` for the user to choose the method.

[2021-01-16 15:41] pycaret commented on #982
@WebDevelopmentLabs Can you please upload the dataset and Notebook here for us to see what is causing the issue?

[2021-01-16 16:18] Yard1 commented on #998
@pycaret I am not yet sure on the specific way to do it but I'll figure something out.

[2021-01-16 16:19] Yard1 commented on #922
@pycaret @dmangonakis Please submit PRs to `master`

[2021-01-16 16:49] Rahul9597 commented on #658
No I wasn't.

On Sat., Jan. 16, 2021, 10:35 a.m. PyCaret, <notifications@github.com>
wrote:

[2021-01-16 22:25] Yard1 commented on #997
Fixed in commit 73339b016c643f8ea308a7bcd653135155044f94

[2021-01-16 22:27] Yard1 commented on #998
Fixed in commit 6db437f27ad5c8ec98a99fe9c78260e8300b486d - if the logger cannot save a file, then it will just carry on with logging disabled

[2021-01-16 22:57] Yard1 commented on #945
Functionality added in commit `e729cf7d6716bb582233aa4bcf2689e72968b293` - do `predict_model(model, raw_score=True)` to obtain scores for all labels in separate columns.

[2021-01-16 22:57] #945 closed

[2021-01-16 22:57] Yard1 commented on #886
Functionality added in commit e729cf7d6716bb582233aa4bcf2689e72968b293 - do `predict_model(model, raw_score=True)` to obtain scores for all labels in separate columns.

[2021-01-16 22:57] #886 closed

[2021-01-16 23:18] #998 closed

[2021-01-16 23:19] #997 closed

[2021-01-16 23:19] Yard1 commented on #922
PR merged

[2021-01-16 23:19] #922 closed

[2021-01-17 17:30] pycaret commented on #658
@Rahul9597 You can overwrite the automated datatype inference done by PyCaret by passing the `numeric_features` and `categorical_features` parameters in the `setup` function.

Hope this helps. If this solves your issue, please close this issue.

[2021-01-17 17:32] rehoyt commented on #999
Thanks. I ran PyCaret on a Windows 10 laptop and using JupyterLab and it worked fine. I must assume there is an issue with the new Mac OS Big Sur. Thanks for your help

[2021-01-17 17:32] #999 closed

[2021-01-17 17:35] pycaret commented on #618
@ArjunKadya

KPrototypes is not available in the model library of `pycaret.clustering` but you can still use it in PyCaret. For example:

[code]

Hope this helps.

[2021-01-17 21:02] subrockmann commented on #991
@Yard1: Unfortunately the version on Anaconda has not been updated yet. Therefore I am unable to check the results.

[2021-01-17 21:54] Yard1 commented on #991
Yes, you will need to wait, I am afraid. Shouldn't take long though

[2021-01-17 22:12] jamesmyatt commented on #21
So I actually read the conda recipe: https://github.com/conda-forge/xgboost-feedstock/blob/master/recipe/meta.yaml, and it shows that the following commands will give you the same `xgboost` python module (assuming they're all at the same version for your platform):

* `pip install xgboost`
* `conda install -c conda-forge py-xgboost`: https://github.com/conda-forge/xgboost-feedstock/blob/c3e34bfea8

[2021-01-17 22:14] Yard1 commented on #21
I see. Well, that does clear it up. We should use that, then.

[2021-01-18 02:37] astrobenhart opened #1007 "Memory Error using pycaret.arules"
I keep running into memory errors when using pycaret.arules. Typically run into this issue when assigning large array to memory for multiple items, i.e. MemoryError: Unable to allocate 30.0 GiB for an array with shape (273430, 2, 7354).

One solution is to update create_model with low_memory option that can then be used when defining frequent_itemsets as apriori.apriori accepts a low_memory option

[2021-01-18 03:15] astrobenhart commented on #1007
#1008

[2021-01-18 14:34] stulrajtermatej commented on #293
hi, same problem here...

[2021-01-18 14:45] stulrajtermatej commented on #815
Hi, any example of regression?

[2021-01-18 16:06] Yard1 commented on #1007
Thanks, merged.

[2021-01-18 16:06] #1007 closed

[2021-01-19 12:48] Practcdi opened #1009 "[🤔 Question ] : If , I put particular feature in several condition , then what features Pycaret will choose among them ?"
### Pycaret 2.2.3
_____

Hi,

#### 🤔 Que : 1
_____

What happens when we put particular columns in multiple conditions, let say

I have `['Symmetry']` column And I put it inside,

`'categorical_features': ['Symmetry']`
`'high_cardinality_features':['Symmetry'] `or any multiple condition same time

then what conditions Pycaret will consider while preprocessing it?

#### 🤔 Que : 2
_____

If we inclu

[2021-01-19 14:12] jen-hayden opened #1010 "Final Features model?"
I go through the setup with many features that then get pared down to a set of final features that are kept in the final model I have chosen. But the original dataset from which I started may have hundreds of features. How can I tell the final model to only use the final root features I need to keep to do the preprocessing required to get the final features that were kept in the final model. In ot

[2021-01-19 18:14] Yard1 commented on #1010
You can check which columns have been left after preprocessing by doing `get_config('X').columns` (with the caveat that categorical columns will be split into one hot encoded ones).

[2021-01-19 19:52] prabhpreetsidhu opened #1011 "Issue Integrating PyCaret with KNIME Analytics"
Hi,

I am trying to use Pycaret within KNIME Analytics for regresison modelling. I created a virtual enviroment for that and downloaded the required libraries but am getting the below DLL issue when using it KNIME's python IDE. Any help on this would be highly appreciated. Code attached below -

ERROR Python Source        0:1        Execute failed: DLL load failed: The specified module could not b

[2021-01-19 20:04] jen-hayden commented on #1010
I have used `print(get_config('X_train').columns` to get the features remaining in the final model. How to drop those unused features from unseen data so that I don't have to keep 100 initial features, just the ones that would be pre-processed into the final kept features?

[2021-01-19 22:16] Yard1 commented on #1011
This is not a PyCaret error.

[2021-01-19 22:21] Yard1 commented on #1010
We would recommend to leave all the same columns as in data passed to `setup()` in order to avoid any issues, but you could try to do something like
[code]
where `columns_to_keep` is the list of columns to keep.

[2021-01-19 22:24] Yard1 commented on #1009
`high_cardinality_features` is not a data type - it is supposed to take `categorical_features` that have either been autodetected or defined by the user - so putting the columns in both `categorical_features` and `high_cardinality_features` is correct.

If a feature is ignored, it's completely removed from the dataset and will not be used anywhere.

[2021-01-19 23:34] prabhpreetsidhu commented on #1011
Thanks for your response. I am getting the same error when trying to model on PowerBI also. Would you be able to direct me towards the issue here.

DataSource.Error: ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 12, in <module>
    from pycaret.regression import *
  File "C:\Users\prabh\Anaconda3\envs\py3_knime\lib\site-packages\pycaret\regr

[2021-01-20 21:14] pycaret commented on #21
@Yard1 Does this mean pycaret can be made available on conda now?

[2021-01-20 21:59] Yard1 commented on #21
@pycaret I believe so, though this is not my area of expertise.

[2021-01-21 08:45] doraemonlei opened #1012 "predict_model() got an unexpected keyword argument 'raw_score'"
pycaret==2.2.3

but
print(pycaret.__version__)

predict_model() got an unexpected keyword argument 'raw_score'

[2021-01-21 10:52] Yard1 commented on #1012
Are you using the nightly version?

[2021-01-21 11:48] doraemonlei commented on #1012
Thank you. I downloaded the latest master branch code, replaced old code, and solved it.

[2021-01-21 13:30] #1012 closed

[2021-01-21 15:02] Anoop-A-Anto opened #1013 "Duplicate rows removal and treating missing value in Target column"
Is there any way IN PYCARET setup
**1.** Can we remove duplicate rows using pycaret?

**2.** Also when trying to preprocess datasets with missing value in Target column leads to errors.

[2021-01-21 15:12] Anoop-A-Anto opened #1014 "Case change and splitting text to new columns as per our requirement"
Is there anyway we can set in pycaret setup env for
**1**. Formatting String cases to lowercase or upper case or trimming unwanted spaces etc. in Text columns ?

**2**. Can we Split columns based on text content? Like A single column containing information -"Apple,Iphone11,64Gb" to be separated to three NEW columns?

[2021-01-21 15:13] #677 closed

[2021-01-21 20:10] Yard1 commented on #1013
1. We have had an option to do that before but it proved to be very performance intensive. We may readd it as an optional feature.
2. What sort of errors? Can you post the exception message?

[2021-01-21 20:11] Yard1 commented on #1014
PyCaret doesn't offer that functionality, you will need to do those steps separately before passing the data to PyCaret.

[2021-01-21 20:21] praks1980 opened #1015 "AttributeError: 'str' object has no attribute 'labels_' in IForest Model assignment"
![pycar_Err](https://user-images.githubusercontent.com/77641013/105407602-f2c57580-5c53-11eb-9eca-6f54550a8b8c.PNG)
Got this error when trying to assigning the model for Outlier Detection.

The Dataframe is not created / assigned. Can someone help with debugging or a fix ? Is this associated to https://github.com/pycaret/pycaret/issues/195

[2021-01-21 21:15] Anoop-A-Anto commented on #1013
![Miss-in-y](https://user-images.githubusercontent.com/75159380/105413273-e3e2c100-5c5b-11eb-979a-cbf1d89374f7.JPG)

[2021-01-21 21:21] Anoop-A-Anto commented on #1013
**1.**

For duplicate removal Couldn't we enhance by setting method like below for default pipeline in setup?

df.drop_duplicates(keep="first",inplace=True,ignore_index=True)

[2021-01-21 22:02] Anoop-A-Anto opened #1016 "Scaling and speeding dataframe 4x"
Can we enhance dataframe speed by using Modin instead of default pandas in pycaret backend. ?

![Modin](https://user-images.githubusercontent.com/75159380/105418009-76865e80-5c62-11eb-9958-a9527caa3356.JPG)

[2021-01-21 22:08] Anoop-A-Anto commented on #1014
could we pass those methods to custom pipeline?

[2021-01-21 22:19] pit9921 opened #1017 "Regression Model Accuracy is confusing & SHAP: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 342: invalid start byte"
I really do not understand, how the accuracy of regression (also classification) models is being evaluated.
The same issue is on all algorithms, therefore i am note sure, it is has something with xggoost, scikit-learn or pycaret.
`
xgboost = create_model('xgboost')`
with k=10 there is R2 mean of 28%, Std.Dev=0.7552, Range (-18% - (+74%)).
The performance is creepy.

`best = automl(optimize = 'R2')

[2021-01-21 22:19] Yard1 commented on #1015
You need to pass a model object created with `create_model()` instead of a string.

[code]

Let me know if that works.

[2021-01-21 22:23] Yard1 commented on #1016
We have considered this for the future. Sadly it's not as easy to replace Pandas with modin as it seems.

[2021-01-21 22:24] Yard1 commented on #1014
Custom pipeline is applied on every CV step so I don't think it's a good idea as the changes won't be even seen in the preprocessed dataframe.

[2021-01-21 22:28] Anoop-A-Anto commented on #1014
Hope that in future we could bring an enhancement in pycaret  for cleaning string formatting issues,removing white spaces ,special characters etc. Since this will be a common issue in real world datasets.

[2021-01-21 22:29] Yard1 commented on #1014
PyCaret already automatically removes any special characters from columns, but that step is not customizable. However, greater pipeline customizability in general is planned for the next major release.

[2021-01-21 22:31] #1016 closed

[2021-01-21 22:32] Yard1 commented on #1013
For duplicate removal - you can just run what you posted before passing it to PyCaret.

As for 2, thanks for the report, I just fixed it in commit 14ee94ed2e46e1d44aa450cfa9dc6a1101d02563.

[2021-01-21 22:33] Anoop-A-Anto commented on #1014
It's great news. Thank you for your quick response.
Closing this discussion now

[2021-01-21 22:33] #1014 closed

[2021-01-21 22:36] Anoop-A-Anto commented on #1013
Appreciate your effort.
Closing this issue now

[2021-01-21 22:36] #1013 closed

[2021-01-21 22:48] Anoop-A-Anto opened #1018 "could'nt access y Column Nan value fixed solution"
I tried again to run dataset with missing value in y column as mentioned in closed issue  #1013 after problem was fixed in  commit 14ee94ed2e46e1d44aa450cfa9dc6a1101d02563.

But still same error is repeating again. Please help for accessing new fixed solution in pycaret installation

[2021-01-21 22:51] Yard1 commented on #1018
Have you actually updated pycaret first?
`pip install -U git+https://github.com/pycaret/pycaret.git` will install the git version of PyCaret (aka the most up to date one, including that commit I just pushed).

[2021-01-21 22:54] Anoop-A-Anto commented on #1018
i installed by upgrading. But not by git repository . Let me check that

[2021-01-21 23:02] Anoop-A-Anto commented on #1018
Installing from git works. 💯 .
Can we achieve the same solution by installing from pypi  later? or when can we use direct installing with this solution incorporated

[2021-01-21 23:12] Yard1 commented on #1018
Yes, once we release an update.

[2021-01-21 23:31] Anoop-A-Anto commented on #1018
👍 thank you

[2021-01-21 23:31] #1018 closed

[2021-01-22 06:03] praks1980 commented on #1015
Yes it worked thank you team.

Regards,
Prakash G

On Fri, 22 Jan 2021, 3:50 am Antoni Baum, <notifications@github.com> wrote:

[2021-01-22 06:20] praks1980 commented on #1015
Closing this as it worked.

[2021-01-22 06:20] #1015 closed

[2021-01-22 11:05] WebDevelopmentLabs commented on #982
Yes, attached is the dataset file. However, I could not find log file. I am running it on Colab.
[car-sales-extended-missing-data.zip](https://github.com/pycaret/pycaret/files/5855359/car-sales-extended-missing-data.zip)

[2021-01-22 11:05] WebDevelopmentLabs commented on #982
Yes, attached is the dataset file. However, I could not find log file. I am running it on Colab.
[car-sales-extended-missing-data.zip](https://github.com/pycaret/pycaret/files/5855363/car-sales-extended-missing-data.zip)

[2021-01-22 14:33] rajpratyush commented on #972
hi @pycaret I would like to work on this issue. Could you please guide me?

[2021-01-22 14:42] rajpratyush commented on #966
yes, Because Creating a new feature through interaction of existing features is known as feature interaction and in PyCaret it is achieved using feature_interaction and feature_ratio parameters within setup. Feature interaction creates new features by multiplying two variables (a * b), while feature ratios create new features but by calculating the ratios of existing features (a / b). and as your

[2021-01-22 15:10] rajpratyush commented on #796
Hi @pycaret I would like to contribute on this issue. Do let me know if I can work on this. your guidance will be highly appreciated. Many thanks,

[2021-01-22 21:04] Yard1 commented on #982
There was an issue that could have been related to what you are facing that was fixed on the development version. Could you install PyCaret with: `pip install -U git+https://github.com/pycaret/pycaret.git` and try again?

[2021-01-23 03:56] pycaret commented on #796
@rajpratyush Sure. What are your thoughts in terms of the request @danbricedatascience has raised?

Basically, we need a second level of navigation under the main module sections. For example: under `classification` it should have `setup`, `compare_models`, `create_model` .... as sub-sections.

Hope this makes sense. Please let me know if you have any questions.

![image](https://user-images.githu

[2021-01-23 03:56] pycaret commented on #748
@rajpratyush Thanks. I have assigned it to you now.

[2021-01-23 04:01] rajpratyush commented on #748
Thank you! @pycaret

[2021-01-23 04:09] rajpratyush commented on #748
@pycaret Check the PR #1019

[2021-01-23 04:11] rajpratyush commented on #796
@pycaret I understand it Lemme have a day or do to understand how to use sphinx so that i can work on it

[2021-01-23 04:16] pycaret commented on #748
@rajpratyush Thanks. Will merge soon. Appreciate your help.

[2021-01-23 04:16] #748 closed

[2021-01-23 04:19] rajpratyush commented on #796
well the point @danbricedatascience has made is actually very important adding a second level would help the user browse through the docs more easily, like one who wants to lookup only for a specific function. but instead of adding a second layer we can't we create a dropdown sub menu in under each main module just like you mentioned. @pycaret I think that would be more feasible.

[2021-01-23 04:20] rajpratyush opened #1020 "Pull Request Template"
@pycaret I came across that there is no PR template in this repository for creating the pull request.

I would like to add a pull request template which will give a template and users need to fill it in order to open a pull request and maintainer will get better understanding of the pull request with images.

[2021-01-23 04:21] pycaret commented on #1020
Sure, please feel free to do that.

[2021-01-23 04:22] pycaret commented on #796
@rajpratyush Take a stab at it. I am okay with whichever method, the goal is to make it easier to navigate.

[2021-01-23 04:22] rajpratyush commented on #1020
@pycaret Please do assign me this issue.

[2021-01-23 04:24] pycaret commented on #1017
@pit9921 Which version of pycaret are you using? You can check the version with this code:

[code]

[2021-01-23 04:25] rajpratyush commented on #748
@pycaret thanks for the opportunity

[2021-01-23 04:35] rajpratyush commented on #1020
@pycaret Check the PR #1021

[2021-01-23 04:38] rajpratyush commented on #796
@pycaret sure lemme have a look at it

[2021-01-23 05:15] rajpratyush commented on #964
@pycaret I am trying if the same error gets reproduced in my system(windows). @satyam2829 can y6ou tell me the version of anaconda you are using? and are you trying it on Linux, mac or windows

[2021-01-23 05:56] rajpratyush commented on #964
Hi @pycaret I tried to install the same way as mentioned in the website I didn't got any error as mentioned by @satyam2829. I used the same process in the conda environment in windows 10. My Anaconda navigator version is 1.9.7 and i am also having Nvididia GeForce GTX 1050
![Screenshot (650)](https://user-images.githubusercontent.com/53184883/105570143-568f9180-5d6d-11eb-841b-8849959f3376.png)
 I

[2021-01-23 06:22] rajpratyush commented on #327
I used the same process in the conda environment in windows 10. My Anaconda navigator version is 1.9.7 and I am also having Nvidia GeForce GTX 1050.and it worked in one go. so I guess @Yard1 is right maybe your virtual environment is incorrectly set up.
![Screenshot (651)](https://user-images.githubusercontent.com/53184883/105570768-4a0d3800-5d71-11eb-84ff-ddb68e2b3e81.png)

[2021-01-23 09:23] quanbingDG opened #1022 "classification.tune_model() with customize optimize, something is wrong"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-23 11:13] Yard1 commented on #1022
You should not pass the `op` to optimize but instead a string id of the metric you have added (so that would be `ap1` here).

[2021-01-23 11:43] pit9921 commented on #1017
Thank you for your reply. I thought that i had '2.2.3' but i got '2.1' instead.
At the moment i have the version: '2.2.3' and it Regression Model Accuracy for test set was performed correctly.

However, i have got an another issue after upgrading regarded to SHAP values.
The following worked with Pycaret 2.1.
[code]
[code]
After upgrading (to 2.2.3) i have got the followng error:
----> 3 explainer

[2021-01-23 11:44] Yard1 commented on #1017
Have you tried using PyCaret's built-in `interpret_model` function? It's essentially a wrapper around SHAP.

[2021-01-23 11:49] pit9921 commented on #1017
Yes,
`
final_best = finalize_model(best)`

`interpret_model(best) `- works
`interpret_model(final_best) `- does not work -> UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 342: invalid start byte

But i would like to recieve shap values as described in the previous post. I have a dataset with huge variation in the results and i stored the shap values with sessions_ids to get a

[2021-01-23 12:11] pit9921 commented on #1017
![best_vs_final_best](https://user-images.githubusercontent.com/77811022/105577754-cad13180-5d7b-11eb-8f66-a40084baff8c.png)

I checked the both models - best and final_best and they seem to be identical.
The interpret_model(best) works well and with interpret_model(final_best) it does not work.

There are still some issues with the regression model accuracy.
From the attached picture it is obviou

[2021-01-23 12:15] Yard1 commented on #1017
Well, the final model has been trained on the entire dataset (that's what `finalize_model()` does), so an R2 of 100% is possible. I am not sure why it would fail SHAP though. Perhaps that's an issue with it and not with PyCaret, but I am not sure. I haven't seen this issue before.

[2021-01-24 02:37] quanbingDG commented on #1022
thanks

[2021-01-24 02:37] #1022 closed

[2021-01-24 03:13] marianotir opened #1024 "Tutorial: Include load_model in the website"
**Is your feature request related to a problem? Please describe.**
save_model is describe in the tutorial but load_model is not.

**Describe the solution you'd like**
Add load_model to the website tutorial

[2021-01-24 03:29] marianotir opened #1025 "Add expected Execution time as part of the function information output"
**Is your feature request related to a problem? Please describe.**
pycaret is a powerfull library and therefore the user can create complex experiments that may require too much time without the user knowing it.

**Describe the solution you'd like**
A time expected variable as information in the output would provide a helpul feedback then the user may decide to stop or continue the execution using

[2021-01-25 08:43] solondas007 opened #1026 "Facing value error for pycaret nlp setup"
IM facing this error when I'm setting up the pycaret nlp setup command:

# setting up the pycaret nlp environment for topic modelling of the text features.
py_nlp = setup(data = data, target = 'text', session_id = 123)

ValueError: y contains previously unseen labels: 'Customer Service  Representative Hawkeye Recruitment provides cost effective recruitment advertising solutions to help you cast th

[2021-01-25 08:55] solondas007 commented on #1026
[files.zip](https://github.com/pycaret/pycaret/files/5865310/files.zip)

[2021-01-25 11:00] atwahsz opened #1027 "Question about iterative imputation"
In setup when setting iterative imputation. It fills missing values by training a non missing datasets and filling it with prediction of the trained models iteratively . Now the question is what about the unseen data, will it fill the missing using seen and unseen ? Or the unseen only ?

[2021-01-25 11:11] Yard1 commented on #1027
The models used in interactive imputation will train on seen data and then fill both seen and unseen, preventing leakage.

[2021-01-25 13:15] sagarnildass opened #1028 "Pycaret not working in EKS cluster"
Hi,

I have developed a simple dash web app which uses pycaret in the backend. When I am pressing the button which calls the compare_models() function, the training is starting successfully. However, just after sometime, in between the logs of the training, I am getting this line:

INFO:Thread-137:werkzeug:192.168.71.8 - - [25/Jan/2021 13:08:57] "GET / HTTP/1.1" 200 -

At that point of time, the t

[2021-01-25 21:47] dxs8292nt opened #1029 "Problems with using tune_model in pycaret 2"
I am running pycaret 2.2 on databricks, when I run the command

tuned_lr=tune_model(lr,n_iter=50,optimize='AUC',search_library='tune-sklearn',search_algorithm='hyperopt')

I get the following error when I submit this cell:

ModuleNotFoundError: No module named 'tune_sklearn._detect_xgboost'

even if I change the search_algorithm parameter I get the same error

[2021-01-26 00:53] pycaret commented on #1024
@marianotir Which link are you looking at? I can see `load_model` documentation in API documentation.

![Uploading image.png…]()

[2021-01-26 00:54] pycaret commented on #1029
@Yard1

[2021-01-26 00:54] #1027 closed

[2021-01-26 00:57] pycaret commented on #1026
@solondas007 I don't see any error log? Can you please upload the dataset as well as Notebook with reproducible error?

[2021-01-26 01:00] pycaret commented on #1020
@rajpratyush Merged. Thanks.

[2021-01-26 01:00] #1020 closed

[2021-01-26 08:23] rajpratyush commented on #1028
@sagarnildass can you share the link of the dataset

[2021-01-26 08:27] rajpratyush commented on #816
@pycaret I want to work on this. Please assign me this issue

[2021-01-26 08:41] marianotir commented on #1024
Here

https://pycaret.org/guide/

[2021-01-26 10:16] WebDevelopmentLabs commented on #982
Thank you so much for your help. I will try doing that now and update here accordingly.

[2021-01-26 10:24] WebDevelopmentLabs commented on #982
It's still the same. I believe it is not creating any models nor comparing them because there the missing values are not imputed. You may have a look over the output in the attached screenshot below:

![PyCaret Compare Models](https://user-images.githubusercontent.com/29945777/105832939-58b25400-5fea-11eb-98af-5e9232ff7c56.png)

Also, here is the log file attached herewith for your review.
[logs (

[2021-01-26 11:38] Yard1 commented on #1029
@dxs8292nt @pycaret This will be fixed in the next PyCaret release. For now, you can install the nightly version:

[code]

[2021-01-26 12:10] Yard1 commented on #982
[code]

This would be the issue. Can you try setting `fold` to 5?

[2021-01-26 13:30] WebDevelopmentLabs commented on #982
Nopes, it's still the same. You may refer to the attached log file and the screenshot
[logs (2).log](https://github.com/pycaret/pycaret/files/5873547/logs.2.log)
![PyCaret Compare Models 2](https://user-images.githubusercontent.com/29945777/105851133-78ef0c80-6004-11eb-8026-5fcaea848074.png)

[2021-01-26 13:36] dxs8292nt commented on #1029
I loaded pycaret-nightly and issued the same command : tuned_lr=tune_model(lr,n_iter=50,optimize='AUC',search_library='tune-sklearn',search_algorithm='hyperopt')

and got the following back

AttributeError: 'ConsoleBuffer' object has no attribute 'fileno'

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent ca

[2021-01-26 13:47] WebDevelopmentLabs commented on #982
It worked on 2 folds - idk why. But of course, it eventually gave all the zeros in the results. Attached are the files for your review:
[logs (3).log](https://github.com/pycaret/pycaret/files/5873637/logs.3.log)
![PyCaret Compare Models 3](https://user-images.githubusercontent.com/29945777/105852969-fa479e80-6006-11eb-8f1b-a5a1528bb983.png)

[2021-01-26 14:44] Yard1 commented on #1029
Can you create a new virtual environment and try again?

[2021-01-26 14:45] Yard1 commented on #982
Thanks, I'll run some tests myself when I have a moment.

[2021-01-26 19:41] pycaret commented on #1024
Thanks @marianotir

Since `save_model` and `load_model` is covered as part of one page. I have now added `load` alias in the menu itself.

![image](https://user-images.githubusercontent.com/58118658/105896243-8d231180-5fe4-11eb-85a2-fcf77ae5961d.png)

[2021-01-26 19:41] #1024 closed

[2021-01-26 19:42] pycaret commented on #816
@rajpratyush Sure. I am assigning it to you. Thanks for your help.

[2021-01-26 22:14] aliagowani opened #1030 "Unable to plot after loading config and model files."
I created a clustering model (kmeans).

![Screen Shot 2021-01-26 at 4 08 04 PM](https://user-images.githubusercontent.com/51864674/105912185-b2b61800-5ff0-11eb-8ce8-05a09f23a4c2.png)

The model and configs were saved.
![Screen Shot 2021-01-26 at 4 08 57 PM](https://user-images.githubusercontent.com/51864674/105912289-daa57b80-5ff0-11eb-81dc-3525d53af62b.png)

Python is restarted.

I load the model

[2021-01-27 02:33] TKassis commented on #925
Not yet

[2021-01-27 03:40] rajpratyush commented on #816
@pycaret Do I have to add the source link in each dataset?

[2021-01-27 09:16] AlexInWonderland commented on #640
With pycaret 2.2.2, I exactly the same issue and am not able to work around it.  Code is working on jupyter notebook but not under python script.
   `model = load_model(model_name)
    predict_model(model, data=unseen_data)`

I have tried to directly loading the estimator directly with joblib but still got the following error.

ValueError: X has 80 features per sample; expecting 88 sklearn

Could

[2021-01-27 13:45] Yard1 commented on #1029
I cannot replicate this issue on Google Colab.

[2021-01-27 13:48] Yard1 commented on #982
@WebDevelopmentLabs You are trying to run classification on a regression problem. `Price` is a continuous variable, not a categorical one. Switch to regression module.

[2021-01-27 13:56] Yard1 commented on #1030
@aliagowani can you try saving the model without pipeline (`model_only=True`).

[2021-01-27 15:38] aliagowani commented on #1030
Yes, passing just the estimator works! Thank you.
![Screen Shot 2021-01-27 at 9 36 29 AM](https://user-images.githubusercontent.com/51864674/106014522-2ef93b80-6083-11eb-8c7b-001995bcce0e.png)

[2021-01-27 15:38] #1030 closed

[2021-01-27 16:30] javierperezcastan opened #1031 "Problems with regression ML models"
Hi¡

My issue is about with the regression ML models. I have trained a ML regresssion model, apply the finalize model function, save it and load it in another script.

However, when I predict a new database with the loaded ML model, the results of the regression predictions are integers insteat of floats. So I obtain a prediction with a value of 2 instead of 2.5678.

Can you help with this?

Best

[2021-01-27 17:08] Yard1 commented on #1031
Can you post code we can use to reproduce the issue?

[2021-01-27 19:13] alirezayazdani21 opened #1032 "Please add partial dependence plots"
Please add 2D and 3D Partial Dependence Plots as an option in the "interpret_model" function.

Partial dependence plots (PDP) show the dependence between the target response and a set of input features of interest, marginalizing over the values of all other input features (the ‘complement’ features). Intuitively, we can interpret the partial dependence as the expected target response as a function

[2021-01-27 22:47] miteshyadav commented on #342
Has this feature been added? How do you disable imputation?

[2021-01-28 05:00] rajpratyush commented on #816
please guide me @pycaret

[2021-01-28 05:54] AlexInWonderland commented on #640
I figured it out. For some reason, prep_pipe is missing in the last experiment. So you have to save_config('test') while setup and further if you want to use predict_model(), load the setup with load_config('test') before load_model().

[2021-01-28 06:08] Kowndinya25 commented on #640
is it! that's really helpful. i'll try it out and update you on this approach. Thanks a lot for this @AlexInWonderland  👍
and simultaneously i'll try to find the reason behind jupyter issue.

[2021-01-28 09:12] WebDevelopmentLabs commented on #982
@Yard1 Well, it was a classification problem actuall, where I wanted to predict `Price`, thus set it as `target` :-) the categorical columns were `Make` and `Color`. Could you please check the code below and let me know if I still did something wrong here?

clf1 = setup(data = car_data, target = 'Price', numeric_imputation='mean', categorical_imputation='mode', train_size = 0.5)
clf1 = setup(data

[2021-01-28 10:00] Yard1 commented on #982
I'm not sure if I understand correctly but it is not possible to treat predicting Price as a classification problem. Classification is used when the target variable is categorical (in other words, when the number of possible values is finite and limited), while the Price column in the dataset is a float with way too many possible values to treat it as a classification problem. You will not be able

[2021-01-28 11:03] WebDevelopmentLabs commented on #982
Oops, my bad. Yes, you are right. I was actually having 2 separate colab notebooks with two different datasets each of them. The other one was for classification problem :-) and I accidentally mixed both of them.

[2021-01-28 13:32] giantorreno opened #1033 "How to extract information on interpret_model(plot = 'correlation')"
I would like to know how to extract information, such as the SHAP value (y-axis) and its corresponding variable in x-axis, from the image generated by interpret_model(model, plot = 'correlation') in pycaret? I would like to store the information in a dataframe and do some preprocessing techniques for a better analysis.

[2021-01-28 15:39] VinayChaudhari1996 commented on #970
Hello Guys ,

Here is something interesting.
PACKAGE : https://github.com/oegedijk/explainerdashboard

DEMO : http://titanicexplainer.herokuapp.com/
Can we integrate it in pycaret ?

Thanks,

[2021-01-29 12:06] javierperezcastan commented on #1031
I have investigated and the problem arises when I open the loaded model in a different script than the one I have used to save it.

I think it is a problem that it shows when I apply predict that appear at the bottom ml_usecase = Classification but it is a regression.

![image](https://user-images.githubusercontent.com/64135621/106273294-b33df100-6232-11eb-9b36-5d2ee3fcd06f.png)

[2021-01-29 15:04] Yard1 commented on #1031
Are you running setup before loading the model?

[2021-01-29 16:23] javierperezcastan commented on #1031
No, I use the ML model without using the setup process. The idea is to apply it directly to new data as it would be applied in reality. The results that it provides are regression results but without decimals, i.e., instead of 5.2345 the model gives just the number 5.

[2021-01-29 16:28] Yard1 commented on #1031
Are you importing `predict_model` from the `pycaret.regression` module?

[2021-01-29 16:44] javierperezcastan commented on #1031
Thanks, that was the problem¡ I was only importing the pycaret.classification module.
Just one question more, How can I use the load_model function if the model is in other folder?

[2021-01-29 16:49] Yard1 commented on #1031
Just pass a path instead: `load_model('path/to/folder/modelfile')`

[2021-01-29 16:56] javierperezcastan commented on #1031
Great job¡

Thank you very much¡

[2021-01-29 16:56] #1031 closed

[2021-01-29 17:29] rajpratyush commented on #796
@pycaret I have looked at it and yes we can add a second level of menu to it can you just guide me where exactly the css and the rst files are there in the repositroy so that i can chnage them to accomodate the required changes and also please tell me what kinds of links we should put up in second level of submenu

[2021-01-29 18:00] Yard1 commented on #796
They are in the `docs/source` folder.

[2021-01-29 21:18] coksvictoria commented on #823
I am having the same issue just with the sample dataset and code....

------------------------------code------------------------
#check version
from pycaret.utils import version
print(version())

df=get_data('juice')

from pycaret.classification import *
clf1 = setup(df, target = 'Purchase',session_id=123)

Here below is the log
---------------------------------------------------------------------

[2021-01-29 22:22] Yard1 commented on #823
@coksvictoria Can you share the entire notebook?

[2021-01-29 22:39] coksvictoria commented on #823
Thank you for prompt reply... I have just had another run, somehow the issue was gone..

[2021-01-30 15:10] sagarnildass commented on #1028
@rajpratyush : Please find it here: s3://darkarosh-ml-data-regression/big_mart_sales/train.csv

[2021-01-31 05:34] rajpratyush commented on #1028
@sagarnildass it would be really helpful if you can share the codebase so that I can go through it

[2021-01-31 11:49] atwahsz opened #1034 "How to get test result of every fold"
Hello , how can i retrieve the prediction of every fold ?

[2021-01-31 12:28] atwahsz commented on #1034
Taking in mind I'm using LeaveOneOutGroup cv

[2021-01-31 16:03] ngupta23 opened #1035 "Time Series Grid Search"
Instead of using `ForecastingGridSearchCV` from `sktime` directly, create your own Grid Search Class (but use [`sktime` `_fit_and_score` method](https://github.com/alan-turing-institute/sktime/blob/36f3cb1b96421bb08e041d16949d3d8a9be6f7d8/sktime/forecasting/model_selection/_tune.py#L95).

This will enable us to use this with Bayesian Optimization, Random Search, and `sklearn` native tuners.

Next

[2021-01-31 16:10] ngupta23 opened #1036 "Add Model Container for Time Series"
Add Model Container for Time Series [here](https://github.com/pycaret/pycaret/blob/time_series/pycaret/containers/models/time_series.py). Refer to [regression example](https://github.com/pycaret/pycaret/blob/time_series/pycaret/containers/models/regression.py) for details

[2021-01-31 16:18] ngupta23 opened #1037 "Need to develop `create_model` for Time Series"
Need to implement `create_model` (similar to other modules like https://github.com/pycaret/pycaret/blob/16f2afa46fe14884df667e6fb4991cd4a0931917/pycaret/regression.py#L772)

[2021-01-31 16:20] ngupta23 opened #1038 "Add Time Series Datasets"
Add Time Series specific datasets in the library

[2021-01-31 16:21] ngupta23 opened #1039 "Add Time Series specific metrics"
Add Metrics (similar to regression https://github.com/pycaret/pycaret/blob/time_series/pycaret/containers/metrics/regression.py)

@TremaMiguel

Per @moezali1

[2021-01-31 16:33] ngupta23 opened #1040 "Add Model Zoo for Time Series"
Per @moezali1

- [ ] AutoARIMA
- [ ] ETS (auto)
- [ ] Regression models (let's use ReducedRegression with 3-4 estimators from sklearn that are known to perform well on univariate time series data -- consider Linear Regression, XGBoost, LightGBM, CatBoost)
- [ ] BATS / TBATS

[2021-01-31 19:19] Yard1 commented on #1040
FYI the `models()` function will be automatically populated by models in containers (https://github.com/pycaret/pycaret/issues/1036)

[2021-02-01 04:31] atwahsz opened #1041 "N_jobs in iterative imputation"
How can I set it to -1 ?

[2021-02-01 04:33] atwahsz commented on #1040
Fbprophet include ?

[2021-02-01 09:46] javierperezcastan opened #1042 "pos_label=1 is not a valid label: array(['0.0', '1.0'], dtype='<U3')"
Hi,
When I run the create_model function it appears this error,  "pos_label=1 is not a valid label: array(['0.0', '1.0'], dtype='<U3')"
I have read through the internet and it appears to be that there are more 1.0 than 0.0 . Is there any way to solve this issue?

Best regads
Javier

[2021-02-01 10:29] ngupta23 commented on #1040
@atwahsz , Yes, that will be included as well.

[2021-02-01 11:04] sahil0094 opened #1043 "Feature importance from .pkl file"
Is there a way to retrieve feature importance from model .pkl file?

[2021-02-01 11:06] sahil0094 commented on #984
set(orig_dataframe.columns)-set(get_config('X_train').columns)

[2021-02-01 11:18] Yard1 commented on #1041
It should use the same `n_jobs` setting as defined in `setup()`.

[2021-02-01 11:18] Yard1 commented on #1042
Can you share the notebook/script and the dataset?

[2021-02-01 11:20] Yard1 commented on #1043
Load the model, if it's a pipeline (by default) obtain `_final_estimator` and then get `coef_` or `feature_importances_` depending on the model.

[code]

[2021-02-01 12:00] javierperezcastan commented on #1042
I cannot share the dataset sorry but I send you pictures of the problem.
![image](https://user-images.githubusercontent.com/64135621/106456000-44a89f80-648d-11eb-8d60-a36d8ecf2a06.png)
![image](https://user-images.githubusercontent.com/64135621/106456038-4eca9e00-648d-11eb-9793-032f1cb3c61c.png)
![image](https://user-images.githubusercontent.com/64135621/106456104-5ee27d80-648d-11eb-84b4-ca99a601e

[2021-02-01 12:12] Yard1 commented on #1042
What happens if you cast the target to `int`?

[2021-02-01 12:35] javierperezcastan commented on #1042
Does it works¡¡

Thank  you very much
Javier

[2021-02-01 12:35] #1042 closed

[2021-02-01 12:47] almirb commented on #984
It worked!! Thanks @sahil0094 !

[2021-02-01 12:47] #984 closed

[2021-02-02 17:01] rajpratyush commented on #816
@pycaret please respond to my query

[2021-02-03 01:04] ngupta23 commented on #1035
@Yard1 , Spoke with `sktime` developers today. They will separate out `evaluate` into its own function, so we can eventually use that for `PyCaret`. Refer to this for the function signature (proposed). If you keep the signature the same, it can be easily swapped out later.

[STEP #1](https://github.com/sktime/enhancement-proposals/pull/8): Specifically, refer to `Evaluation` section in [this file]

[2021-02-03 16:40] hugo-pires opened #1045 "Setting distance on clustering modules"
Hello and congratulations for a great job

Is it possible when using cluster module to set distance to manhattan distance (or other)?

Thank you

[2021-02-03 23:03] pranaymodukuru commented on #818
Gives me "NameError: name 'display_container' is not defined" when calling "results = pull()"

[2021-02-03 23:04] Yard1 commented on #818
You need to run `setup()` first in order for `pull()` to work.

[2021-02-04 00:12] PubuduLasith093 opened #1046 "Changing Axis names of Plots in clustering"
Hi,
Could anyone please let me know how to change the **x- axis** and **y- axis** names of the plots in clustering ? I need to use my own ones instead of the default names.
Thank you

[2021-02-04 04:51] atwahsz commented on #1041
Another question is categorical features considered in numerical imputation?

[2021-02-04 05:34] rajpratyush commented on #1032
I would like to work on this @pycaret

[2021-02-04 07:41] Yard1 commented on #1041
Yes.

[2021-02-04 10:16] tmtmaj opened #1047 "Error in prediction"
I had an error when my model predicting.
The errors is as follows:
**IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices**

data:
https://drive.google.com/file/d/1shHSwV-D10B3dd25RU1hytpCMMYkfwjr/view?usp=sharing

This task is multi-classification task.

and my implementation environment:
Google colab, pycaret 2.2.3

my

[2021-02-04 14:42] atwahsz commented on #867
@Yard1 can you create an example of how to setup LeaveOneGroupOut
where the training set never sees the folded group . , in pycaret when passing 0.99 it seems to test on the leftover 1%

[2021-02-04 14:46] Yard1 commented on #867
I'm not sure I understand what you mean. Can you explain it in more detail @atwahsz ?

[2021-02-04 15:08] atwahsz commented on #867
![image](https://user-images.githubusercontent.com/24771158/106911583-5dc28200-6713-11eb-9fcd-570625f9f302.png)

![image](https://user-images.githubusercontent.com/24771158/106911371-1dfb9a80-6713-11eb-9486-6d7bc18d11db.png)

![image](https://user-images.githubusercontent.com/24771158/106911405-2b188980-6713-11eb-8df7-b7e8364fcde2.png)

![image](https://user-images.githubusercontent.com/24771158/1

[2021-02-04 15:11] atwahsz commented on #867
how do i make sure when im using leaveonegrupout that in each fold , whole group was taken out for testing , and the training was done on the rest of the groups ?

[2021-02-04 17:57] Yard1 commented on #867
It looks to be working correctly, though? There are 10 groups, so the CV generator creates 10 folds. Everything looks to be working as expected.

[2021-02-04 18:10] Yard1 commented on #1047
@tmtmaj Hey, thanks for the report. I have just pushed commit 447551204151903d569e34e6a3a594cd1906a3fe that should fix this issue. Can you install the development version of PyCaret with `pip install -U git+https://github.com/pycaret/pycaret.git` and try again?

[2021-02-04 21:32] atwahsz commented on #867
the question is what is it testing on ? what is the size of the test , is it a whole group ? or 1% of a group ?

[2021-02-05 00:04] Yard1 commented on #867
This is cross validation, so the 1% test set is not used here. From reading the documentation of LeaveOneGroupOut, it uses one group as the test set and the remaining groups as the train set and does so for each group.

[2021-02-05 04:31] aniketkumar430 opened #1048 "Getting error : "Input contains infinity or a value too large for dtype('float32')" while using predict_model function"
Hi Team,

While predicting on new data ,getting issue :    **# for object dtype data, we only check for NaNs (GH-13254)

ValueError: Input contains infinity or a value too large for dtype('float32').**

I have already imputed numerical/categorical factors within setup function.

I believe this issue was fixed in earlier release but getting it with pycaret 2.2.3 version as well .
The earlier issue

[2021-02-05 09:02] Yard1 commented on #1048
Is it possible for you to share the dataset?

[2021-02-05 09:05] aniketkumar430 commented on #1048
Sorry...I wish I could , but its internal data so will not be able to share the data.

[2021-02-05 11:44] Yard1 commented on #1048
Can you upload the logs.log file that is automatically generated in the folder pycaret is ran from?

[2021-02-05 14:42] joschkazj commented on #315
Hi,

first of all many thanks for putting together this package! Ever since reading the [book by Kuhn and Johnson](http://appliedpredictivemodeling.com/) and working with caret in R I've been wanting an equivalent Python library.

For me the use case is an application wrapping a PyCaret model. I've packaged the application using PyInstaller and it is distributed with a setup wizard as a "conventio

[2021-02-05 16:30] rehoyt opened #1049 "Consider adding classification report to performance measures"
**Is your feature request related to a problem? Please describe.**
For classification models the performance measures are very good but do they reflect a weighted average?

**Describe the solution you'd like**
If a Python "classification_report" was included in the pipeline we could get performance measures for the majority and minority classes, along with macro averages, micro averages and weight

[2021-02-05 20:32] SuumCuique84 opened #1050 "NLP TypeError: object of type 'NoneType' has no len()"
Hey everyone,

I tried to follow the tutorials on PyCaret for NLP, with the standard instructions:

[code]

And i got the following error:

[code]

Has anyone else this problem and would be so kind to help, please?
I am using Python 3.8.5 and PyCaret 2.2.0. Do you need more information?

[2021-02-05 21:35] Yard1 commented on #1050
Please update to the latest version of PyCaret.

[2021-02-06 06:13] atwahsz opened #1051 "get_config() inqury"
i wanted to do iterative imputation on a dataset , and then get it back without any scaling only the iterative imputation filling the missing numerical variables.

get_config() returns transformed datasets

is there a workaround ?

[2021-02-06 08:10] Yard1 commented on #1051
I'd use `get_config('prep_pipe')` to obtain the preprocessing pipeline, remove steps you don't want from it, and then use it to transform data.

[2021-02-06 09:10] sagarnildass opened #1052 "NameError: name '_all_models_internal' is not defined"
I am using gunicorn for running a flask app which is using pycaret in the backend. I am saving all the internal components like the leaderboard, model etc in a redis server (so that the states can be shared between workers). Now when I am using upto 2 workers like this:

[code]
Everything is working fine all the way up to finalize_model.

But when I am increasing the above number of workers to 3,

[2021-02-06 09:56] SuumCuique84 commented on #1050
I've done the update to version 2.2.3 and the error still exists.

[2021-02-06 10:02] Yard1 commented on #1050
Is it possible for you to share the dataset?

[2021-02-06 10:03] Yard1 commented on #1052
How are you importing PyCaret in the code?

[2021-02-06 10:08] SuumCuique84 commented on #1050
Wow you are very fast with your answers, thanks a lot!

I tried the standard tutorial from the PyCaret homepage: https://pycaret.org/nlp/
[code]

Unfortunately, I have not yet reached that point to try my own dataset, due to the error message.

[2021-02-06 10:25] sagarnildass commented on #1052
I am importing it as

[code]

Like I said, when the number of workers is <=2, I am not having any problem, the whole code is running fine. Only with >=3 workers, I am facing this problem.

[2021-02-06 10:29] SuumCuique84 commented on #1050
Brief update:

when I import SpaCy manually and load the appropriate language pack, the error message changes to:

_KeyError: "[E002] Can't find factory for 'tok2vec'. This usually happens when spaCy calls `nlp.create_pipe` with a component name that's not built in - for example, when constructing the pipeline from a model's meta.json. If you're using a custom component, you can write to `Language

[2021-02-06 10:50] atwahsz commented on #1051
@Yard1 also question about tune_model . is it possible to verbose or output a table for each iter that shows scores ?

[2021-02-06 12:13] Yard1 commented on #1051
You can get the tuner object with a an argument I can't remember right now but I know is there. `return_tuner=True` I think. You should be able to get those details from it.

[2021-02-06 12:14] Yard1 commented on #1050
Hmm, it could be a spacy issue. Could you try creating a new virtual environment and installing the development version of PyCaret with `pip install -U git+https://github.com/pycaret/pycaret.git`?

[2021-02-06 12:15] Yard1 commented on #1052
I am not sure whether this is an issue with PyCaret or gunicorn. We have not ran tests with or aimed for compatibility with it.

[2021-02-06 15:00] SuumCuique84 commented on #1050
I've done that but the error occurs again (in the same way)

[2021-02-06 18:10] vireshsaini commented on #640
@pycaret , I am getting the **ValueError: Pipeline not found**
Error Block
===========================================
Traceback:
File "c:\users\viresh.saini\appdata\local\programs\python\python37\lib\site-packages\streamlit\script_runner.py", line 324, in _run_script
    exec(code, module.__dict__)
File "D:\Software\Python\AppDepoyment_New_5thFeb21\ML_App.py", line 101, in <module>
    run()
File

[2021-02-07 06:30] aniketkumar430 commented on #1048
Hey I was able to fix the issue after applying normalization.

[2021-02-07 14:45] hugo-pires opened #1053 "KeyError during clustering setup"
Hello

During clustering setup I got the following error message:

`KeyError: 3`

the last message was:

Status | . . . . . . . . . . . . . . . . . . | Preparing Data for Modeling
-- | -- | --

on the error stack I found the following code:

`-> 1041         train_data.loc[0:3, target] = 3`

Could you help me?

[2021-02-07 15:38] Yard1 commented on #1053
Can you upload the logs.log file created in the folder from where you run the notebook?

[2021-02-07 15:47] hugo-pires commented on #1053
Here it is.

Thank you
[logs.log](https://github.com/pycaret/pycaret/files/5939322/logs.log)

[2021-02-07 15:56] Yard1 commented on #1053
Can you also share the dataset and the notebook you used?

[2021-02-07 18:33] JulienCANTONI opened #1054 "HTTPError: HTTP Error 404: Not Found"
****Is your feature request related to a problem? Please describe.**
I can't use 'get_data', I have a "HTTPError: HTTP Error 404: Not Found"

**A clear and concise description of what the problem is.**
I had had installed pycaret. I was used to low coding with it.
I don't understand why I have this error.
I have reinstalled it with conda prompt but I can't use Pycaret unfortunatelly.

**Describe t

[2021-02-07 20:33] Yard1 commented on #1054
I do not believe `dataSet` is a dataset pycaret can provide. You can get a list of all available datasets with `get_data('index')`.

[2021-02-07 22:08] Yard1 commented on #1045
It would depend on the model used. I believe some have arguments you can pass as keyword arguments in `create_model`. You'd need to check the documentation of the packages the models are from - `models()` should tell you where to look.

[2021-02-07 22:11] hugo-pires commented on #1045
You're telling to use Scikit-learn documentation?

[2021-02-07 22:14] Yard1 commented on #1045
Indeed.

[2021-02-07 22:15] hugo-pires commented on #1045
Thanks

[2021-02-07 22:30] hugo-pires opened #1056 "optimize_threshold function chart not rendering"
Hello

When I run:

`optimize_threshold(tuned, true_negative = 10, false_negative = -200, )`

I get an empty chart
![screenshot](https://user-images.githubusercontent.com/7768784/107161322-f49d7180-6993-11eb-9948-02ff6d440bce.png)

The optimized value is showing up.

Could you help?

Thanks a lot

[2021-02-07 22:37] JulienCANTONI commented on #1054
@Yard1 I just have tried to load another dataset, that I could have get with Pycaret before. I have got the same error. So I don't think that is the reason. Nevertheless thanks a lot

[2021-02-07 23:01] JulienCANTONI commented on #1054
And I just have tried with the edge explorator and not with Chrome. The same error :(.

[2021-02-08 00:08] JulienCANTONI commented on #1054
I have just understood my error. Thanks @Yard and sorry for my mistake

[2021-02-08 00:10] #1054 closed

[2021-02-08 12:44] Yard1 commented on #1053
I have pushed commit cb5f11f52c0ac50709dad12ebdba5c92f880a03a that should fix this issue. Can you install the development version of PyCaret with `pip install -U git+https://github.com/pycaret/pycaret.git` and try again?

[2021-02-08 14:03] hugo-pires commented on #1053
The error stays the same, but I am not sure if the version was updated. How can I check if have the updated version?

[2021-02-08 14:17] Yard1 commented on #1053
Can you create a new virtual environment and install pycaret there again using the above command?

[2021-02-08 14:29] hugo-pires commented on #1053
I've done it, but the error is the same. Sorry

[2021-02-08 14:38] Yard1 commented on #1053
I have just tested this out on colab using the notebook you have sent me and it is working as intended, so somehow you must not be updating pycaret correctly. Perhaps try `pip install -U --user git+https://github.com/pycaret/pycaret.git`

[2021-02-08 14:43] hugo-pires commented on #1053
I will double check but is still not working. Probably some version problem. Thank you very much

[2021-02-08 14:45] Yard1 commented on #1053
Maybe try to uninstall pycaret first: `pip uninstall pycaret`

[2021-02-08 14:48] hugo-pires commented on #1053
Running! Thanks a lot

[2021-02-08 17:46] #1053 closed

[2021-02-08 20:00] joschkazj opened #1057 "Make logging configurable"
Hi,

first of all many thanks for putting together this package! Ever since reading the book by Kuhn and Johnson and working with caret in R I've been wanting an equivalent Python library.

Referencing #315 I wanted to propose to change the way the default logger is configured in [`pycaret.internal.logging`](https://github.com/pycaret/pycaret/blob/master/pycaret/internal/logging.py#L26):
[code]

I

[2021-02-08 21:23] Yard1 commented on #1057
The main issue is figuring out a robust way to configure the logging path - but aside from that, there's nothing preventing it being more configurable. A PR will be appreciated!

[2021-02-08 22:24] Yard1 commented on #1056
Does this happen in Colab?

[2021-02-09 07:19] vireshsaini commented on #593
I am also facing same problem in "predict_model
    raise ValueError("Pipeline not found")"  and i trained the model and ran on same version pycaret 2.2.3
I don't know where is the gap.
I just saved the model in .pkl file and using the same model in program for testing data set..
Please help
Thanks
Viresh

[2021-02-10 08:18] jsperatan opened #1058 "ValueError: Cell is Empty"
Hi I encountered an issue using PyCaret where a ValueError: Cell is empty is shown when I tried to create my model. Here is my code:

[code]

As you can see from my code, I have already dropped cells with NaN values and during the setup, the summary also showed that I did not have any missing values in my Dataframe. For reference, the dataset I was using can be downloaded here: https://www.kaggle.

[2021-02-10 10:24] castorfou commented on #1032
Is it feasible to save a Pycaret model and use the standard PDP lib in scikit-learn waiting for this pycaret implementation?

[2021-02-10 12:21] Yard1 commented on #1032
PyCaret models are just sklearn-models, so yes, it is possible.

[2021-02-10 12:30] Yard1 commented on #1058
Hey, this is an issue with tensorflow. You need to import it after PyCaret:
[code]

This should work without issues.

[2021-02-11 03:57] aliagowani commented on #1045
@hugo-pires did you end up trying this out and passing the argument in the create model? Wondering how it turned out for you?

[2021-02-11 10:20] jsperatan commented on #1058
That worked . Thanks!

[2021-02-11 10:20] #1058 closed

[2021-02-11 12:18] Weltbummler1 opened #1059 "AWS model deployment failed with unexpected keyword"
Hi, could not find any related issue:

Deploying my code to AWS works fine with:.

`deploy_model(final_model, model_name = 'lr_aws', platform = 'aws', authentication = { 'bucket'  : 'pycaret-test' })`
`Model Succesfully Deployed on AWS S3`

but prediction failed (code is from the documentation) with:

`predictions = predict_model(model_name = 'lr_aws', data = data_unseen, platform = 'aws', authent

[2021-02-11 12:21] Yard1 commented on #1059
That is not how you should do predictions. You need to first obtain the model object from AWS and then run predict on it.

[2021-02-11 12:40] Weltbummler1 commented on #1059
Got it, makes sense.

`aws_model = load_model(model_name = 'lr_aws', platform = 'aws', authentication = { 'bucket'  : 'pycaret-test' })`
`predictions = predict_model(aws_model, data = data_unseen)`

[2021-02-11 12:40] #1059 closed

[2021-02-11 13:43] VinayChaudhari1996 opened #1060 "[❓Question ] How to prevent model.predict() for unseen wrong values?"
#### Pycaret version :  2.2.3
____
Hello Guys ,

I have trained model on diamond dataset (Regression).

Now I'm trying to predict some records using trained model. I observe model is really good for unseen new data.

#### ⚠️ But when I give wrong input values to model it returns some prediction. But those values are not consider while training.

 So how can I prevent this issue for unknown input v

[2021-02-11 14:27] Yard1 commented on #1060
Can you post the code you are using?

[2021-02-11 14:36] pycaret commented on #1060
@VinayChaudhari1996 Let's say you train your model on columns A, B, C, D, and then when using `predict_model`, you passed columns A, B, C, D, E, F. PyCaret will ignore column E and F internally. This means the predicted number is only based on A, B, C, D columns.

On the contrary, if you train your model on columns A, B, C, D and pass columns A, B, D only when using the `predict_model`, It will re

[2021-02-11 14:37] pycaret commented on #1032
@rajpratyush I have assigned this to you.

@Yard1 Where should Raj submit the PR? Can you please let him know. Are we still using `master` branch?

[2021-02-11 14:38] pycaret commented on #1056
@hugo-pires Which environment you are using?

[2021-02-11 14:40] pycaret commented on #1057
@joschkazj @Yard1 I am in full support of providing the ability to turn off logging. I have a couple of use cases where people are not able to use PyCaret on Databricks because PyCaret tries to create a `logs.log` file on a master node which is administratively restricted to create any log file. So if we can maybe provide a parameter in the `setup` to control that? Don't know whats the best way bu

[2021-02-11 14:49] rajpratyush commented on #816
@yard1 @pycaret Do I have to add the source link in each dataset? or just add a new column "source" in index.csv.

[2021-02-11 14:50] VinayChaudhari1996 commented on #1060
Pycaret : v2.2.3
Model : dt
Dataset : Regression
____

![image](https://user-images.githubusercontent.com/42869040/107652236-5e748e80-6ca6-11eb-8dec-0b3740909cc5.png)

1) See I have added some random input values (XXX), but still, I get the prediction, How Can I prevent that any error or something "Unknown" found at ...

Thanks ,

[2021-02-11 15:30] Yard1 commented on #1060
The columns you have added are simply ignored by the model.

[2021-02-11 15:30] Yard1 commented on #1032
@rajpratyush @pycaret `master` for now, yes

[2021-02-11 17:02] VinayChaudhari1996 commented on #1060
Yes , I know
I'm talking about values
( Check those random values for given key XXXX)

[2021-02-11 17:14] Yard1 commented on #1060
They are not used in prediction - the label and score column are simply generated and appended to the dataframe you passed, but the columns that were not used during training are ignored.

[2021-02-11 17:52] VinayChaudhari1996 commented on #1060
I consider this 2 columns for training.
=> Report and Polish

What I'm trying to say ,
Let's say Report has only 3 categorical values (A,B,C)

And Polish :- ( X,Y,Z)

Then while prediction I'm trying to give different categorical values to that column.

Report : XXXX <- Which is not appear in whole column while training.
(Same for polish)

So my question is how to catch this issue ?

[2021-02-11 17:54] Yard1 commented on #1060
Is it possible for you to create a notebook that would show us the entire process, from creating the model to prediction?

[2021-02-11 18:20] VinayChaudhari1996 commented on #1060
Yeah Sure,

Here you go

[pycaret_2_2_3.zip](https://github.com/pycaret/pycaret/files/5967568/pycaret_2_2_3.zip)

Thanks,

[2021-02-11 19:47] Yard1 commented on #1060
Ok, I see what you mean now. By default, PyCaret will treat unseen levels in data similarly to missing values and impute them. This is controlled by arguments in `setup()`:
[code]
However, if `handle_unknown_categorical` is set to `False`, there will be no exception as there should be, so I am marking this as a bug. Thanks for brining this to our attention.

[2021-02-11 20:17] zach-hedge opened #1061 "setup(df, target='target') error"
Receiving value error with a very simple model setup:

`ValueError: Setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None), or set shuffle=True.
`

Same code snippet worked fine 12-18 hours ago

[2021-02-11 20:22] Yard1 commented on #1061
Try making a new virtual environment and installing the development version of PyCaret with `pip install -U git+https://github.com/pycaret/pycaret.git`.

[2021-02-11 20:26] zach-hedge commented on #1061
@Yard1 Worked like a charm! Thanks!

[2021-02-11 20:26] #1061 closed

[2021-02-11 22:24] saimmehmood opened #1062 "ERROR: pandas-profiling 2.10.1 has requirement requests>=2.24.0, but you'll have requests 2.23.0 which is incompatible."
Found this issue when installed pycaret on colab using

[2021-02-11 22:48] pycaret commented on #1062
@saimmehmood Hi. This is just a warning, not an error. I just tried installing on colab got these warnings but PyCaret works just fine.

![Uploading image.png…]()

[2021-02-11 22:48] #1062 closed

[2021-02-11 22:51] pycaret commented on #1060
@Yard1 Are you gonna raise an exception when a new level is seen in categorical features when `handle_unknown_category` is set to False?

[2021-02-11 22:52] pycaret commented on #816
@rajpratyush Adding a source column in index.csv will be a good approach.

[2021-02-11 23:04] Yard1 commented on #1060
I think that would be the best way to handle it @pycaret. Otherwise it will give stupid predictions. I believe that's how sklearn handles it too.

[2021-02-12 04:21] rajpratyush commented on #991
The error is still there
This is the error message I got:

 C:\Users\rajpr>conda install -c conda-forge pycaret
Collecting package metadata (repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda-client==1.7.2=py37_0
  - defaults/win-64::anaconda==custo

[2021-02-12 07:24] Scoodood opened #1063 "add_metric() does not work on this dataset"
First of all, I am using
[code]

The `add_metric()` works fine on the built-in dataset as shown in below.
[code]
![Capture](https://user-images.githubusercontent.com/15989924/107740131-3b0a0d80-6cbf-11eb-8369-669f2869811e.PNG)

However, when I use my own dataset, it stops working for some reason. My output is simply blank. Here is my code.

[code]
![Capture](https://user-images.githubusercontent.c

[2021-02-12 13:06] Yard1 commented on #1063
Whenever `compare_models()` returns a blank table, it's best to run it again with `errors="raise"` argument. By doing that, you will receive an exception. In this case, the metric you are using does not support multilabel problems. It is a sklearn issue and will happen without PyCaret.

[2021-02-12 17:51] hugo-pires commented on #1045
@aliagowani I've tried. But I guess is not possible, according to I've found on this issue:

https://github.com/scikit-learn/scikit-learn/issues/13956

[2021-02-12 18:00] aliagowani commented on #1045
@hugo-pires I see; I appreciate the follow-up.

[2021-02-12 18:08] hugo-pires commented on #1056
Thank you
@Yard1 It is working on Google Colab.
@pycaret Do you mean which libs am I using?

[2021-02-12 18:11] #1045 closed

[2021-02-12 18:29] Scoodood commented on #1063
You are right, I had confirmed your observation that it was indeed `sklearn.metrics.average_precision_score` issue. The following code raises the same `multiclass` error message on `scikit-learn version 0.23.2`

[code]

I can see the `scoring='roc_auc'` also produce the same error messages.
[code]

But then since the `roc_auc()` can handle multiclass target with `multiclass='ovr'`, we can fix the

[2021-02-12 18:46] Yard1 commented on #1063
Indeed. I'll close this issue as it is not related to PyCaret.

[2021-02-12 18:46] #1063 closed

[2021-02-12 18:47] Scoodood commented on #1063
Thanks @Yard1

[2021-02-12 19:01] hugo-pires opened #1064 "Confusion matrix and probability threshold"
Hello

Is it possible to pass different probability threshold values (e.g the value obtained from `optimize_threshold()`) to the confusion matrix plot?
By now I guess we could only use it on `predict_model()`.

Thank you

[2021-02-12 23:22] Yard1 commented on #1060
Fixed in commit caa2eaf06a0896232d2ddf223b72103bba1e3a0f

[2021-02-12 23:22] #1060 closed

[2021-02-13 00:31] Scoodood opened #1065 "Discrepancy in AUC calculation?"
How does Pycaret calculate the **AUC** in the following multiclass dataset? I try to manually calculate them using `add_metric()` and `roc_auc_score`. But the numbers are off slightly. Is this normal or a bug somewhere?

[code]
![Capture](https://user-images.githubusercontent.com/15989924/107835465-730c6180-6d4e-11eb-8c85-8394f0d1ef52.PNG)

<hr>

For binary classification, it's ok
[code]

![Captur

[2021-02-13 11:14] Yard1 commented on #1065
We use `average="weighted"` for ROC-AUC calculation. If you do:
[code]
the results will be identical with the PyCaret ROC-AUC. Hope that helps.

[2021-02-13 14:38] ghost opened #1066 "Predict_model and interpret_model fro DBSCAN"
I am trying to implement DBSCAN in pycaret(Just a simple implementation). Just Calling all the APIs available. But I am unable to use the predict_model for DBSCAN. When I used this command for other models, it worked fine except for optics, sc,hclust, and dbscan. error says
                                            "Model does not support predict parameter"
What can be a possible issue with para

[2021-02-13 18:59] atwahsz commented on #1040
also , a great addition to the setup() is to pass a grouping by for preprocessing (so group by and do the preprocess steps)

[2021-02-14 10:21] ngupta23 commented on #1040
@atwahsz,  could you clarify your comment. Also, if it is a separate topic, could you please create a separate issue in GitHub. Thanks!

[2021-02-14 21:46] Scoodood commented on #1065
Dear @Yard1, thanks a lot!

[2021-02-14 21:46] #1065 closed

[2021-02-15 01:41] tmtmaj commented on #1047
@Yard1 thanks! It's work!!

[2021-02-15 08:36] #1047 closed

[2021-02-16 02:27] lcast5576 opened #1069 "plot_model not working after load_model regression"
As title says,
Tried to run plot_model after load_model and throws error below

`ValueError: Plot Not Available. Please see docstring for list of available Plots.`

[2021-02-16 07:56] lcast5576 commented on #1069
Apparently it has to do with display_format = streamlit on regression, waiting for the update!

[2021-02-16 07:56] #1069 closed

[2021-02-16 18:09] XinQi7788 commented on #823
I have the same error. Please let me know how to fix the error? Thank you very much.

[2021-02-16 18:22] Yard1 commented on #823
@XinQi7788 Can you share code and dataset to reproduce this error?

[2021-02-16 18:39] XinQi7788 commented on #823
Hi Antoni:

I attached the log, data and code.

When I changed to pip install pycaret[full], another error comes out: ValueError: Setting a random_state has no effect since shuffle is False. You should leave random_state to its default (None), or set shuffle=True.

Please help me how it and really want to use Pycaret for our study.

Thank you very much and looking forward to your reply.

Best
Xin

[2021-02-16 19:02] Yard1 commented on #823
That will be fixed in an update which should be out in the next couple days.

Also, I do not think attaching files worked. Can you upload them somewhere and post a link to them? Thanks.

[2021-02-17 06:24] mihird1010 commented on #1029
@dxs8292nt, you can either upgrade pycaret to nightly as @Yard1 pointed out or downgrade tune-sklearn while keeping the same pycaret. The error is because the tune_sklearn._detect_xgboost is renamed to tune_sklearn._detect_booster in the later versions of tune_sklearn.

Tl;dr:
`
$ pip uninstall tune-sklearn
$ pip install tune-sklearn==0.1.0
Run tune_model
`

[2021-02-17 06:27] mihird1010 commented on #1029
@dxs8292nt, you can either upgrade pycaret to nightly as @Yard1 pointed out or downgrade tune-sklearn while keeping the same pycaret. The error is because the tune_sklearn._detect_xgboost is renamed to tune_sklearn._detect_booster in the later versions of tune_sklearn.

Tl;dr:
`$ pip uninstall tune-sklearn`
`$ pip install tune-sklearn==0.1.0`
Run tune_model
`

[2021-02-17 07:56] Yard1 commented on #1029
tune-sklearn 0.2.0 compatibility will come in an update which will release this week.

[2021-02-17 14:19] dxs8292nt commented on #1029
That is great thanks for the update

[2021-02-18 13:47] #1052 closed

[2021-02-18 13:48] sagarnildass commented on #1052
Figured it out. This error is thrown when the intermediate stage is not saved in something like redis as the new worker doesn't know about the existent states.

[2021-02-18 13:48] #1028 closed

[2021-02-18 13:49] sagarnildass commented on #1028
Closing this as this problem was due to a gunicorn timeout error.

[2021-02-18 13:53] sagarnildass opened #1070 "Load_config() throws error"
I am trying to reproduce the example in your documentation for load_config and save_config

[code]

Now I restarted the jupyter notebook and loaded the config like this:

[code]

Now when I am running a create_model command like this:

[code]
It throws an error: NameError: name 'create_model_container' is not defined

Am I doing something wrong? It seemed like from your documentation load_config i

[2021-02-18 16:49] Yard1 commented on #1070
This should be fixed in an update to be released this week.

[2021-02-18 17:23] sagarnildass commented on #1070
Cool thanks!

[2021-02-19 05:49] sagnik1511 opened #1071 "Error while executing create model in pycaret"
i am trying to execute this code section -

            from pycaret.datasets import get_data
            anomaly=get_data('anomaly')
            from pycaret.anomaly import*
            exp_ano=setup(anomaly)

            iforest = create_model('iforest')
            plot_model(iforest)

and the error I am getting is -
     -------------------------------------------------------------------------

[2021-02-19 07:43] pyaf commented on #293
Hey @davidgibsonp, thanks for this amazing library, I'm in love with it :)

I had one question, if I want to save the feature names and their corresponding importances in a csv file, I'd need to access the names of the features used during the model training. I see that there's a workaround to get this by iterating over list returned by the `setup` function and manually figuring out which element

[2021-02-19 19:53] BenMacKenzie opened #1072 "no save_expirement function?"
this suggests existence of a function to save an entire experiment:

https://pycaret.org/save-experiment/

but I can't find the function anywhere and the example does not run.

[2021-02-20 01:55] Scoodood opened #1073 "potential bug on `plot_model()?`"
Here is the code that works just fine
[code]
![Capture](https://user-images.githubusercontent.com/15989924/108579066-2094ed00-72da-11eb-95a8-f3060643b703.PNG)

However, when I run multiple `compare_models()` with different datasets and store all `best` in a list and then plot them one by one, I get an error.

[code]
#### CatBoostError: c:/program files (x86)/go agent/pipelines/buildmaster/catboost

[2021-02-20 06:51] prabhakaran2812 commented on #460
best=compare_models() is working in my pc, but in colab it is returning null object. Is there a fix for it?
My pycaret version 2.2

[2021-02-20 06:53] prabhakaran2812 opened #1074 "compare_models return null object in colab"
compare_models return null object in colab

[2021-02-20 06:53] prabhakaran2812 commented on #1074
But it works in my pc local

[2021-02-20 07:41] Yard1 commented on #1074
Run it with `errors="raise" ` to see what's the issue.

[2021-02-20 09:26] atwahsz commented on #700
gents , can we investigate

https://github.com/google/model_search

possibly fork it for another set of compare_models()

[2021-02-20 11:16] hugo-pires commented on #1064
If I understand, the confusion matrix plot uses a probability threshold of  0.5, right?

[2021-02-20 14:46] prabhakaran2812 commented on #1074
Thanks tried this
    best = compare_models(turbo=True) when i print best it give [] (empty output) showed no errors BUT
When I ran     best = compare_models(turbo=True,errors="raise") below was the error
print best gave the name of the best model and showed the error that n_split > n_sample.
Upon debugging found it turned to be data sample insufficiency. When I increased the sample size, problem

[2021-02-20 14:48] #1074 closed

[2021-02-20 14:50] prabhakaran2812 commented on #1074
Pycaret is awesome!

[2021-02-21 02:53] ecdedios opened #1075 "Cannot call `vectorize` on size 0 inputs unless `otypes` is set"
When I call **create_model(**) I get the error:
`ValueError: cannot call vectorize on size 0 inputs unless otypes is set`

Here's my code:

[code]

And here's the error:

[code]

Is the problem with the dataset ?

[2021-02-21 18:06] atwahsz opened #1076 "adding custom scorers"
greetings , assume i have this following scoring function im trying to optmize

[code]

how can i added to my compare_models()

or create_model(), tune_model() ?

[2021-02-22 03:54] dxs8292nt opened #1077 "Changing the threshold values when using create,compare, and tune model"
Is there a way I can change the probability_threshold  to compute the metrics when I run the create_model() tune_model(), etc.. Can I change the performance metrics((precision, recall, F1) using the add_metric() function , if so what would be the logic change  I would have to make?

[2021-02-22 19:26] SuumCuique84 commented on #1050
Hey guys,

I've an important update for you!!! Use pip install spacy --upgrade to upgrade spaCy to Version 3.0 as well as the language packages and everything works fine!
Therefore: The problem is solved.

[2021-02-23 03:26] TremaMiguel opened #1078 "Map sktime cross validators to time series setup function"
Time Series Set up function should take parameters `fh`, `folds` from the user and map them to the `initial_window` and `step_length` parameters of sktime splitters.

[2021-02-23 08:50] pranaymodukuru commented on #1043
Made these two utility functions for people looking for feature importances from saved models

[code]

Usage:
[code]

Hope this helps!

[2021-02-23 14:36] Tinnguy commented on #243
Hi,

I need to use anomaly detection with timeseries data and plots as described above. It seems this plot feature is added. Is it available in 2.3 version? Is there any documentation on how to plot it

[2021-02-23 15:37] AmolMavuduru opened #1079 "TypeError: predict_model() got an unexpected keyword argument 'platform'"
I trained a model and ran the following code in a Jupyter Notebook after deploying the model to AWS successfully.

[code]

I followed the documentation for the predict_model function [here](https://pycaret.org/regression/).

However, I ran into the following error after running the code.

TypeError: predict_model() got an unexpected keyword argument 'platform'

[2021-02-23 16:22] #1076 closed

[2021-02-23 17:16] Yard1 commented on #1079
You need to load the model first. The documentation under the link is outdated, please use this one: https://pycaret.readthedocs.io/en/latest/

[2021-02-23 17:21] pavangadde opened #1080 "No module named 'pycaret.internal' - loading saved model from local drive - using jupyter notebook"
loading saved model using joblib.load and load_model
facing No module named 'pycaret.internal' error

[2021-02-23 21:25] AmolMavuduru commented on #1079
@Yard1 Thanks for pointing that out! So the deploy_model function really just uploads the pickled model to a storage service (ie. S3) in a cloud platform right? I was expecting it to deploy the model to some kind of service for running predictions in the cloud.

[2021-02-23 21:25] #1079 closed

[2021-02-24 00:48] dcsai-hitomi opened #1081 "TypeError: apriori() got an unexpected keyword argument 'low_memory'"
When I ran the following tutorial on Colaboratory, the following error message was displayed.

Association Rule Mining Tutorial (ARUL101)
https://github.com/pycaret/pycaret/blob/master/tutorials/Association%20Rule%20Mining%20Tutorial%20-%20ARUL01.ipynb

model1 = create_model() #model created and stored in model1 variable.
[code]

This support was added in PyCaret 2.3
#1008

When I ran `pip install

[2021-02-24 02:10] 59ranjbar commented on #206
Hi,
I have the same issue as @n8craig  had. When putting  from pycaret.utils import enable_colab and enable_colab() on top of jupyter only plot_model(lda) worked but the other did not. Any fix for this issue?

Thank you always for your help.

[2021-02-24 07:05] Scoodood commented on #1048
I had the same issue, but setting `normalize=False` in the `setup()` fixed the problem in my case.

[2021-02-24 08:51] Yard1 commented on #1081
Thanks for pointing this out, will update the requirements.

[2021-02-25 05:44] Scoodood commented on #1048
hi @Yard1,

I am running Python 3.8 + Pycaret 2.2 + Win10.
The error can be reproduced with this sample code on my system. I hope you can reproduce the same thing on your end as well.

[code]
### Error
[code]

[2021-02-25 13:31] SSITB opened #1083 "Setup model press enter"
Whenever I setup the model, at end I need to press enter to continue, is there a way to skip this enter.
And what is the purpose of this cell, what can I modify?

[2021-02-25 13:33] #1083 closed

[2021-02-25 14:50] pycaret commented on #1081
Thank you @dcsai-hitomi for pointing this out.

[2021-02-25 14:52] pycaret commented on #1080
@pavangadde Which version are you using? Can you please install the latest version of PyCaret in a new conda environment and try again and let us know how it goes?

Link to installation guide: https://pycaret.readthedocs.io/en/latest/installation.html

[2021-02-25 15:57] #1081 closed

[2021-02-26 00:59] brunobarella opened #1084 "Get and apply Pipeline Setup in the unseen data"
How do I get the construction pipeline of the input dataset made in the setup?
For example, when I apply on data not seen in the model.

[Link to the intermediate regression tutorial](https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Intermediate%20-%20REG102.ipynb) presents an example. The unseen data has 8 columns, but in the model there are 39. How do I cr

[2021-02-26 01:37] Yard1 commented on #1084
If you have an experiment running, you just need to call `predict_model(data=unseen_data)`. If you don't want to run PyCaret, you can either use `save_model()` which saves the entire pipeline (by default) to disk, or use `get_config(prep_pipe)` to obtain the same thing. PyCaret pipelines use the sklearn API.

[2021-02-26 06:56] sahil0094 commented on #948
Pls update

[2021-02-26 09:35] Yard1 commented on #948
It's just a warning that can be ignored. Alternatively you can set those parameters yourself using keyword arguments in `create_model()`.

[2021-02-26 12:00] brunobarella commented on #1084
I got this by applying `predict_model(data=unseen_data)`:
`AttributeError: 'LGBMRegressor' object has no attribute 'predict_model'`

But applying `predict(get_config(prep_pipe).transform(unseen_data))` it worked:
![image](https://user-images.githubusercontent.com/28939189/109247447-b17c3480-77c2-11eb-8563-58c336cb599d.png)

[2021-02-26 12:01] #1084 closed

[2021-02-26 12:59] SSITB opened #1085 "Label Encoded"
Hi ,

Is there a way to define the label for the target encoded.
For example suppose I have 3 classes A,B,C when setup the env, I will have for example
A-->1 , B-->2 , C-->3 ,
what I want is when I add more class D, the label encoding is changing this will be hard to check the confusion matrix of the 3 classes vs 4 classes

[2021-02-26 13:02] SSITB opened #1086 "Print Confusion Matrix Class Name"
Hi,

In the evaluate_model , is there a way to print the class name instead of label code in the confusion matrix

[2021-02-26 13:41] SSITB opened #1087 "Accessing variables from setup - Example "Label Encoded""
Hi,

Suppose i want to access label encoded value from the setup,  currently I am guessing by trying, as below
reg1[24][0][1] this will return the table description as database than need to get the value.

Is there a better way to access the value from the description table, or to navigate through the tuple setup output

An alternative to the below
reg1[24][0][1]['Value'][3]

Output :
A: 0, B : 1,

[2021-02-26 14:20] Yard1 commented on #1087
`get_config('prep_pipe').named_steps["dtypes"].replacement` will give you a dict of encoded labels.

[2021-02-26 14:26] SSITB commented on #1087
Perfect, but the documentation is not clear on how to get this, is there some detail documentation to access these variables

[2021-02-27 23:55] Yard1 commented on #1048
I will look into it, thanks.

[2021-02-28 17:33] #1078 closed

[2021-02-28 18:42] wkuopt commented on #1087
Hey @SSITB, this also seems to solve issue #1085, since you can do the mapping between the results with different levels?

[2021-02-28 21:30] SSITB commented on #1085
@wkuopt ,What I want exactly is to define the label encoder 1,2,3,4, what i did to resolve this, is to add number before the class before the setup, like this the label encoder will be ordered.
The reason behind is when i want to compare the confusion matrix for 3 classes or 4 or 5, I want the class add to be the same,

[2021-03-01 18:47] brunobarella opened #1092 "MLflow log of metrics for unseen data"
Is there a way to log the metrics and figures on the data portions unseen by the model with MLflow?

[2021-03-02 00:03] prabhakaran2812 opened #1093 "Custom model - Unable to set shape for input to custom model"
I am trying to use a custom model like below

[code]

I know this LSTM need a specific input shape for x_train, but I dont have option to shape through setup / create model. Please advise.

The error below
ValueError: Input 0 of layer sequential_3 is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 410)

[2021-03-02 03:57] TremaMiguel opened #1094 "Time Series Ensemble Models"
Mean or weight prediction from an ensemble of time series models

[2021-03-04 04:59] YongJIAXIANG opened #1097 "The shap graph is inconsistent"
i use `interpret_model(tune_clf)` to plot a shap graph.
i also use
[code]
to plot the other shap graph.
i found them are not consistent.

[2021-03-04 09:57] garyee opened #1098 "Add function/parameter to set working directory"
**Is your feature request related to a problem? Please describe.**
It would be great, if the path for all file-based output could be set with one function.
This includes save_model, logs ... I also get a cat_boost folder sometimes. I am using Google Colab with GDrive connected.

**Describe the solution you'd like**
It would be of great help, if all files would be put into my GDrive directory as th

[2021-03-04 11:48] atwahsz opened #1099 "GroupKfold error"
I keep getting this error when trying to use groupkfold

AttributeError: 'builtin_function_or_method' object has no attribute 'isin'

Please see the notebook below

https://colab.research.google.com/drive/1BfpmdQ1ufABYkCWQQwa1fnJ8iN_szHny?authuser=2

[2021-03-04 13:15] garyee opened #1100 ""display_container is not defined" error"
Hi,

I am using pycaret on Google Colab. Here is the code:
[code]

the code itself is the automl example code. I only added the save_config and load_config.
I think that the problem is connected to the load_config somehow.

[2021-03-04 13:20] garyee commented on #1100
Error was thrown [here](https://github.com/pycaret/pycaret/blob/63682f3e0629f5226b888d1bd0d7e025137c40d1/pycaret/internal/tabular.py#L2346)

[2021-03-05 06:57] sulphuricacid opened #1101 "Estimator xgboost and catboost not found"
I installed pycaret using !pip3 install pycaret

from pycaret.datasets import get_data
from pycaret.regression import *
dataset = get_data('diamond')
exp_reg = setup(dataset,target = 'Price')
x = create_model('xgboost')

this is the error I'm getting (same for catboost estimator as well)

   2897         if estimator not in available_estimators:
   2898             raise ValueError(
-> 2899

[2021-03-05 07:04] sulphuricacid commented on #1101
lightbgm also not working

[2021-03-05 08:48] Yard1 commented on #1101
You need to install them through pip separately, or do `pip install -U "pycaret[full]"`

[2021-03-05 08:52] sulphuricacid commented on #1101
thank you, its working

[2021-03-05 09:49] the-whopper commented on #1100
I am also getting this error in a using save_config, load_config and compare_models in an ide setting

[2021-03-05 10:59] Yard1 commented on #1100
I'll take a look

[2021-03-05 12:33] #1101 closed

[2021-03-05 17:50] bidhya opened #1102 "ValueError: Sklearn version error"
I get Sklearn version error.
Currently my installation is as follows:
`
Python == 3.8.8

pycaret == 2.3.0
scikit-learn == 0.23.2
`

[2021-03-06 10:02] Yard1 commented on #1100
Should be fixed in commit 68b2139a97184af1b51c50084721d13fd90d7f56 .

[2021-03-06 10:02] #1070 closed

[2021-03-06 10:02] #929 closed

[2021-03-06 10:03] #859 closed

[2021-03-06 11:23] joey1616 opened #1103 "About pycaret.classification"
Hello! When I use the "pycaret.classification.setup" module, it throws an error like this. And the logs.log like this. How can i solve it. Thanks!

Error
[code]

logs.log
[code]

[2021-03-07 07:05] atwahsz commented on #1099
@Yard1 any suggestions?

[2021-03-07 08:21] atwahsz commented on #867
The thing is when done manually on all groups . Same results are not achieved

[2021-03-08 01:25] the-whopper commented on #1100
Hey @Yard1, still getting errors:
<img width="809" alt="load error1PNG" src="https://user-images.githubusercontent.com/79564693/110262910-33612e80-8009-11eb-930a-c53cac5a7ca5.PNG">

<img width="807" alt="load error2" src="https://user-images.githubusercontent.com/79564693/110262917-3825e280-8009-11eb-9fb8-53c519b1d1f8.PNG">

[2021-03-08 01:48] DesiKeki commented on #823
I am getting a similar error, but for another attribute 'target_variable'

[code]

PyCaret version: 2.0

[2021-03-08 04:40] the-whopper commented on #1100
@Yard1 - Thank you, when updated to nightly building load_config is working. cheers

[2021-03-08 04:44] the-whopper opened #1104 "Budget time for tune_model"
it would great to have a budget time for the the tune_model function.

Similar to compare_models, it will return the best performing model trained within the time limit.

[2021-03-08 10:03] #1100 closed

[2021-03-08 10:04] Yard1 commented on #1104
It'd be very hard to implement given the reliance on external libraries for tuning, and not all of them would support this.

[2021-03-08 13:22] actcod01 commented on #1048
**Pycaret: v2.2.3**
Task:  Regression
_____

Hi,

I m also getting the same issue with **[Automobile](https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/automobile.csv)** dataset. @Yard1  you can use the same dataset from Pycaret to get data.

How we can fix that issue?

Thanks,

[2021-03-08 14:32] actcod01 commented on #1048
But by default, it's always False?

[2021-03-08 17:56] parthskansara commented on #808
Similar issue, Google Colab cell gets stuck for `plot_model(iforest)`.

Already tried reinstalling using `pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` but still stuck.

[2021-03-08 19:11] argenisleon commented on #639
Hi, Any update on this?

[2021-03-09 04:58] Scoodood commented on #1048
Yes it is. I get the error when I set `normalize=True`

[2021-03-10 15:49] KrishnaMohinani opened #1106 "['response, coronary heart disease'] not found in axis"
I really don't understand why I am having this error if I run the line. Trying to solve a classification problem.
clf = setup(data = df,target = 'response, coronary heart disease')

The data can be viewed from the link below
https://raw.githubusercontent.com/KrishnaMohinani/SAheart/main/SAheart.csv

[2021-03-10 17:39] juandpinto commented on #823
Not sure if this is related, but I'm also getting a similar error:

[code]

Using PyCaret 2.3.

[2021-03-11 16:06] Yard1 commented on #823
Can you share the datasets you are using?

[2021-03-11 16:06] Yard1 commented on #1106
Can you try renaming the column to something else?

[2021-03-12 19:11] ZellW opened #1107 "Attribute Errors in Variety of ENVs"
I have created fresh Python envs (I am using conda) with Python 3.6, 3.7, and 3.8.  With pycaret 2.23 and several older versions result in errors consistently using pycaret simple examples:

from pycaret.datasets import get_data
data = get_data('insurance')

from pycaret.regression import *
reg1 = setup(data, target = 'charges', session_id=123, log_experiment=True, experiment_name='insurance1')

p

[2021-03-13 14:27] KrishnaMohinani commented on #1106
Works now.
Thanks

[2021-03-13 20:11] #1106 closed

[2021-03-14 03:52] ahad-aa opened #1109 "llvmlite not allowing pycaret to install"
When I try the following code:

pip install pycaret

the error message i get is:

"ERROR: Cannot uninstall 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall."

i have tried several ways of installing/upgrading llvmlite but no success.

Any suggestions?

[2021-03-14 08:29] norbert-liki commented on #960
With Pycaret 2.3 you can add a custom pipeline to preprocess your input data.
I got it working by doing this:

![image](https://user-images.githubusercontent.com/47354641/111062174-a5bd8d00-84a7-11eb-80f0-f121697dfc9f.png)

What I have noted is that Pycaret does not report the dataset shapes correctly upon returning the setup() step, however the final trained pipeline involves the custom pipeline.

[2021-03-14 12:16] Yard1 commented on #1109
Can you try installing PyCaret in a new virtual environment?

[2021-03-14 12:17] Yard1 commented on #960
Yes, unfortunately we cannot predict how the custom transformed data will look like, but this is indeed the correct usage for the `custom_pipeline` argument.

[2021-03-15 01:30] ktlim86 opened #1110 "AttributeError: 'Make_Time_Features' object has no attribute 'list_of_features'"
I was using the pycaret for the first time to do some regression. After I run the setup code, it prompt me for an error.
I not sure what this error means and wondering if can provide any idea?

[code]

| Description | Value |
| -- | -- |
| session_id | 5676 |
| Target | next_7_return |
| Original Data | (295679, 473) |
| Missing Values | False |
| Numeric Features | 270 |
| Categorical Features |

[2021-03-15 07:10] Practcdi opened #1111 "[Question] : How to install pycaret==2.2.3 on blazingsql with GPU support ?"
### Pycaret : v2.2.3

____

# Approch 1 :

I try to compare CPU and GPU model training speed using **pycaret-v2.2.3.**

1) I m getting issues while installing **pycaret-v2.2.3** on blazingsql

![image](https://user-images.githubusercontent.com/58843833/111115827-25705800-858b-11eb-818e-b0bc51f663c0.png)

2) I have tried both kernels

- RAPIDS stable
- RAPIDS nightly

![image](https://user-images.g

[2021-03-15 08:44] Yard1 commented on #1110
What's your sklearn version?

[2021-03-15 12:36] ktlim86 commented on #1110
@Yard1 I use 0.24.1

[2021-03-15 13:16] Yard1 commented on #1110
PyCaret is not yet compatible with that version, please revert to 0.23.2.

[2021-03-15 18:51] soaring52 commented on #215
predict_model(estimator, data=None, probability_threshold=None, platform=None, authentication=None, verbose=True)

**probability_threshold** : float, default = None
threshold used to convert probability values into binary outcome. By default the probability threshold for all binary classifiers is 0.5 (50%). **This can be changed using probability_threshold param**.

[2021-03-16 02:23] s-bhatia commented on #1048
The error also comes when we use transform_target = True. See my setup below:

`ex = setup(data =    trainData
                           , target = targetName
                           , session_id=int(sid)
                           , train_size=.7
                           , n_jobs=20
                           , normalize=True
                           , normalize_method='maxabs' # 'maxabs'

[2021-03-16 13:31] ktlim86 commented on #1110
@Yard1 i downgrade and it works. Thanks.

[2021-03-16 15:14] #1110 closed

[2021-03-17 05:54] Dharani1008 commented on #1043
Is there any way to get feature importance for anomaly detection?

[2021-03-17 08:35] mkk355 opened #1113 "Unable to install pycaret on my Virtual Envioronment"
#273 i am unable to install pycaret. The error is for the genism module inside the package @pycaret @moezali1
![Capture](https://user-images.githubusercontent.com/51001457/111437995-be3cda00-8729-11eb-9b2a-b0bf4a849b58.PNG)
![Capture1](https://user-images.githubusercontent.com/51001457/111438017-c137ca80-8729-11eb-9494-7e664c1b30ad.PNG)

[2021-03-17 09:04] Yard1 commented on #1113
It tells your that you need Microsoft C++ Build Tools. Have you tried installing that?

[2021-03-17 09:28] huaji1992 commented on #1050
I've done that but the error occurs again (in the same way)

[2021-03-17 15:05] garyee commented on #818
@pranaymodukuru the error could also be related to #1100

[2021-03-18 09:00] garyee opened #1115 "KeyError when trying to plot a loaded model"
Problem:
When I want to plot a model that has been saved and then loaded I get an `KeyError: 'class'`

Source code:
[Colab](https://colab.research.google.com/drive/1DD9DFdcLQSgq3lbh_muxNFWoOS86_Fgy?usp=sharing)

[code]
the problem does not occur on the first plot but on the second, so I assume it is the either the save_model or load_model function which is the cause of the problem.

[2021-03-18 09:01] garyee commented on #1115
[code]

[2021-03-18 13:26] garyee commented on #1029
I think this can be closed as the [release 2.3.0](https://github.com/pycaret/pycaret/releases) fixes it

[2021-03-18 21:41] #1029 closed

[2021-03-19 01:54] brunonishimoto opened #1117 "Imblearn Pipeline for fix_imbalance_method"
The `fix_imbalance_method` does not support `Pipeline` class from `imblearn` package to apply more than one method for fix imbalance.
Does it make sense to apply more the one method of oversampling and/or undersampling in a imbalanced dataset?

[2021-03-19 02:00] brunonishimoto commented on #1117
The following is error message when using `Pipeline` in `fix_imbalance_method`:

[code]

[2021-03-19 06:48] Yard1 commented on #1117
Good point, will look into it.

[2021-03-19 18:32] LexiAM opened #1118 "classification.setup TypeError when using fix_imblanace_method=imblearn.under_sampling.OneSidedSelection"
**Possible bug**
Pycaret version=2.3.0
`TypeError: descriptor '__dir__' of 'object' object needs an argument` occurs during classification.setup() when fix_imbalance_method is set to imblearn.under_sampling.OneSidedSelection.

**Desired solution**
Verify/Add support for OneSidedSelection and other imblearn samplers.

**Considered alternatives**
classification.setup proceeds normally with the same

[2021-03-19 19:25] norbert-liki commented on #1102
I also face this issue install pycaret with pipenv:

![image](https://user-images.githubusercontent.com/47354641/111832564-3f929900-88f1-11eb-99c5-32808250133a.png)

[2021-03-19 21:22] Yard1 commented on #1118
Can you share the code you are using?

[2021-03-19 21:27] Yard1 commented on #1102
Should be fixed in the next update. For now, you should be able to install imbalanced-learn==0.7.0 before pycaret to make it work.

[2021-03-19 22:18] LexiAM commented on #1118
[code]

[2021-03-19 22:46] Yard1 commented on #1118
You need to pass an object, not a class. So do `OneSidedSelection()` instead.

[2021-03-19 22:58] LexiAM commented on #1118
That worked. Thank you.

[2021-03-19 22:58] #1118 closed

[2021-03-20 15:45] ZellW commented on #1107
The problem I experienced was related to the kernel in Jupyter Lab.  Was corrected flowing advice found here

https://github.com/ipython/ipython/issues/11270

Here is what worked:
pip uninstall -y ipython prompt_toolkit - ran this twice because there were multiple versions!
pip install ipython prompt_toolkit

[2021-03-20 15:45] #1107 closed

[2021-03-22 04:12] bernard778 opened #1122 "Numba Assertion Error When plot_model(iforest,plot='umap')"
I am running the Anomaly Detection 101 tutorial (www.pycaret.org/tutorials/html/ANO101.html)
Windows 10 19042.867
Python 3.7.10 (default, Feb 26 2021, 13:06:18) [MSC v.1916 64 bit (AMD64)]
Pycaret 2.3.0
Numba 0.53.0

At section 9.2 Uniform Manifold Approximation and Projection, I receive the following numba assertion error:

`AssertionError: Storing i64 to ptr of i32 ('dim'). FE type int32`

I per

[2021-03-22 16:44] ifyoungnet commented on #815
@stulrajtermatej
hi,
For regression, just change the
pd.DataFrame({'Feature': get_config('X_train').columns, 'Value' : abs(lr.coef_[0])}).sort_values(by='Value', ascending=False)
to
pd.DataFrame({'Feature': get_config('X_train').columns, 'Value' : abs(lr.feature_importances_)}).sort_values(by='Value', ascending=False)

[2021-03-24 07:43] AgastyaData commented on #294
Probability for positive class? or probability of predicted class?

[2021-03-24 07:53] AgastyaData commented on #294
<img width="1002" alt="Screenshot 2021-03-24 at 1 21 13 PM" src="https://user-images.githubusercontent.com/80875862/112274077-13d23300-8ca4-11eb-98b2-ea1acab02a00.png">

[2021-03-24 09:22] markgrujic opened #1127 "AWS deployed models can't be loaded"
There appears to be a bug in persistence.py that is calling the wrong string to load_model.
I will change and submit a PR

[2021-03-24 11:26] #1127 closed

[2021-03-25 02:18] bimhud commented on #342
It seems that this feature hasn't been added. There are only two choices of imputation, can't disable it from the current version @sparvaneh

[2021-03-25 02:38] xuzhang5788 opened #1130 "The results of catboost regressor are so different between cpu and gpu"
choosing "use_gpu=False or True" in setup, I got different results for catboost model.

use_gpu=True
  | Model | MAE | MSE | RMSE | R2 | RMSLE | MAPE | TT (Sec)
-- | -- | -- | -- | -- | -- | -- | -- | --
Random Forest Regressor | 0.3228 | 0.2657 | 0.5154 | 0.6305 | 0.0404 | 0.0271 | 55.1210
Extreme Gradient Boosting | 0.3590 | 0.2913 | 0.5397 | 0.5948 | 0.0407 | 0.0298 | 4.2670
Light Gradient Boos

[2021-03-25 02:44] tran-quang-thanh opened #1131 "Columns removed in setup"
**Is your feature request related to a problem? Please describe.**
When I run setup and keep the default parameters, my X_train is transformed and it has fewer columns than the original data. I can keep the original columns by setting preprocess=False. What does preprocess do in this case? I don't know if setting preprocess=False will change anything else besides allowing all columns. Bellow is my

[2021-03-25 03:26] sparvaneh commented on #342
@miteshyadav and @bimhud  You can skip imputation by setting preprocess: False. However, you can't train many classifiers such as SVM and LDA.
Below is description for preprocess:
When set to False, no transformations are applied except for train_test_split and custom transformations passed in custom_pipeline param. Data must be ready for modeling (no missing values, no dates, categorical data enc

[2021-03-25 08:49] Yard1 commented on #1130
This is an issue with Catboost, not PyCaret.

[2021-03-26 21:16] JianWang2016 opened #1132 "bin numerical feature"
Hi,
I'd like to use the bin numerical feature such as setup(data = mydata, target = 'mytarget', bin_numeric_features = ['age']).  How do I know how the age, in this case, is binned, how many bins and ranges of each bin?  Is there a way to specify customer bins?  Thanks much.

[2021-03-29 00:37] gm039 commented on #818
Thanks @Yard1 . I am worried that my data might get

[2021-03-29 00:37] #818 closed

[2021-03-29 05:30] davdkela225 opened #1134 "pycaret error: not importing all libraries"
I am trying to import all libraries from pycaret but I got an error. I had tried the following methods:

1. Did the installation on my virtual environment via a terminal using this command: pip install pycaret
2. Did the following command in a jupiter notebook: !pip install pycaret

Then I have the following error in my jupiter notebook

from pycaret.classification import *

----------------------

[2021-03-29 10:47] #727 closed

[2021-03-29 11:33] Yard1 commented on #1134
That doesn't look like an issue with PyCaret. Can you try on Google Colab?

[2021-03-29 19:23] ThinhNg commented on #1131
I have the same issue, where it keeps dropping my columns as well.

For some reason, if I set data_split_stratify=True in the setup parameter, it fixes this issues.
e.g.

setupData = setup(data = data, target = 'Hit',normalize=True,normalize_method='minmax',data_split_stratify=True, fold=5,session_id=123)

This is using version pycaret 2.3.

I'm not sure why, but for some reason, the remove column

[2021-03-29 20:53] Yard1 commented on #1131
Columns that are perfectly correlated with another column are dropped by default. You can disable this with `remove_perfect_collinearity=False` in `setup()`.

[2021-03-29 21:26] ThinhNg commented on #1131
Got it. It worked after applying that setting!
Thanks @Yard1 .

What is strange though, the print out for the setup breakdown is still showing False regardless of whether I changed the setting to remove_perfect_collinearity=True.

![image](https://user-images.githubusercontent.com/14099198/112902173-626c3c80-90ab-11eb-91ee-777d18acd92e.png)

[2021-03-29 21:27] Yard1 commented on #1131
That could be a small bug, I'll check. Thanks!

[2021-03-30 01:38] tran-quang-thanh commented on #1131
@ThinhNg I think remove_perfect_collinearity and remove_multicollinearity are different. In setup you can set those 2 separately, and by default, remove_multicollinearity=False but remove_perfect_collinearity=True. I think remove_perfect_collinearity is not shown in the breakdown

[2021-03-30 05:15] ThinhNg commented on #1131
@tran-quang-thanh Oh I see. Good catch. It would be nice to show it in the setup table.

[2021-03-30 07:00] SuhanC opened #1135 "Issue regarding compare_models()"
Hello,
I'm using pycaret's compare_models() to compare my top 5 models by your tutorial,
but it seems it gives an repeated error when making the model.

Error message is liek below.
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-4-45752a1152bc> in <module>
     59

[2021-03-30 08:08] Yard1 commented on #1135
Have you ran `setup()` before?

[2021-03-30 09:47] SuhanC commented on #1135
@Yard1 During editing my code, setup() had removed for some reason.
Thanks! I figured it out.

[2021-03-30 09:52] #1135 closed

[2021-03-31 08:41] PranayMehta commented on #823
I had created a model and stored it as a pickle file in S3. I had put this model in production and I recently also started observing error while trying to generate predictions on unseen data.

`unseen_predictions = predict_model(saved_model, data = finaldf_pandas)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/tmp/load_packages1/python_packages_folder/pycaret/cla

[2021-03-31 09:20] Yard1 commented on #823
There have been a number of changes since pycaret version 2.0.0. Can you update to the newest version, recreate the pipeline and try again? The saved pipeline will sadly not work.

[2021-03-31 14:55] PranayMehta commented on #823
@Yard1 Will the same pipeline work on pycaret 2.3 version? The reason why I ask is because I have a model that was trained on 2.0 and I dont want to lose that model. That model is very important from our production pipeline perspective and I will need to understand whether or not the same model will work on the 2.3 pycaret version.

[2021-03-31 16:43] PranayMehta commented on #823
@Yard1 @pycaret When I installed the latest version of pycaret(2.3), then I get below error when I load the pickle model.

[code]

My model was trained on pycaret2.0 and now I am stuck because of this issue. Any help is much appreciated.

[2021-03-31 17:05] mkbldn opened #1136 "pycaret.classification setup(): How do I display all rows of the 'Data Types' DataFrame?"
How do I display all rows of the 'Data Types' DataFrame that asks for confirmation during set up? I'm using Jupyter Lab.

![image](https://user-images.githubusercontent.com/8095617/113183184-bef16800-9221-11eb-9a12-7291547e8064.png)

[2021-03-31 17:34] Yard1 commented on #823
No, it will not work. Sorry for that.

[2021-03-31 17:35] Yard1 commented on #1136
That is not possible right now but it is obviously an issue. We will see what can be done about it.

[2021-03-31 17:54] PranayMehta commented on #823
No worries. thank u for the quick response. I think I have made it work somehow.  I am testing this out currently.

[2021-03-31 20:51] bilalahmed381 opened #1137 "OSError: dlopen(/Users/bilalahmed/opt/anaconda3/envs/pycaret/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib Referenced from: /Users/bilalahmed/opt/anaconda3/envs/pycaret/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so Reason: image not found"
**On executing command below**
`from pycaret.regression import *`

**Got this error**
[code]

**Versions:**
Pycaret == 2.2.2
MacOS Catalina == 10.15.4
Anaconda == 4.9.2

[2021-03-31 21:08] Yard1 commented on #1137
Seems like an issue with LightGBM and not related to PyCaret.

[2021-03-31 23:07] sungreong opened #1138 "How to use pycaret without preprocessing? I just want to use pycaret without preprocessing. So please tell me setup setting value"

[2021-03-31 23:09] Yard1 commented on #1138
`setup(preprocess=False)` - it's all in the docs :)

[2021-04-01 11:16] sungreong commented on #1138
Sorry 😞

[2021-04-01 11:16] #1138 closed

[2021-04-01 15:15] mkbldn opened #1139 "What are the correct steps to resume work on an experiment?"
I'm attempting to pick back up work on a experiment and I'm getting some funny behavior after loading my configuration and tuned model. Am I doing something wrong or is there an issue? I can't seem to find an example of the steps to resume. Any help would be greatly appreciated!

Forgot to mention that I'm working on a local installation of Jupyter Lab.

![image](https://user-images.githubusercont

[2021-04-01 17:41] Yard1 commented on #1139
This is an issue that has been fixed in development. Please install PyCaret nightly:
[code]

[2021-04-01 19:22] mkbldn commented on #1139
That cleared up the predict model() error, but unfortunately I'm still getting strange looking output and errors from plot_model. For example after loading the environment then model I'm getting this output below from `plot_model(tuned_lgbm, plot='confusion_matrix')` (my target is is named 'target').

[code]

[2021-04-01 19:25] Yard1 commented on #1139
Is it possible for you to create a reproductible notebook on google colab and share it here? Thanks.

[2021-04-02 04:01] gianghoang217 opened #1140 "Simple_Imputer' object has no attribute 'fill_value_categorical"
Hi, I'm using the Pycaret 2.3.0, the model runs smoothly on my local but ran into the same issue on both Google colab and when deployed to lambda. Has anyone happened to solve that issue yet? Thanks

"errorMessage": "'Simple_Imputer' object has no attribute 'fill_value_categorical'",
  "errorType": "AttributeError",

[2021-04-02 17:34] mkbldn commented on #1139
Here's a [google collab](https://colab.research.google.com/drive/1U09DjEJsbAEyfmbKnG1lJKOOWlpvI2zG?usp=sharing) with the errors.

[2021-04-02 18:12] Yard1 commented on #1139
Thanks. I've identified the issue. The problem is that when you save and load the model, by default, the entire pipeline is saved, while `plot_model` expects only the model itself. This will be accounted for in a future update but for now you can just do:

[code]

[2021-04-02 18:22] mkbldn commented on #1139
Thank you!

[2021-04-02 19:05] sagarnildass opened #1141 "Pycaret model deploy to aws subfolder"
Hi

Is there any method where I can the deploy_model function of pycaret to deploy a model in a specific subfolder within a AWS bucket? Right now, it only seems, that within a bucket's first level, can a model be deployed.

[2021-04-05 00:53] bimhud commented on #294
I have exactly the same issue about the "Score" column. You can see the distribution of the score for the "positive (1)" and negative (0) class.

Regardless of the target label, the score for any class are greater than .5

![image](https://user-images.githubusercontent.com/27791562/113526301-e9b23680-95fc-11eb-8fcf-f2a1102a3dd4.png)

![image](https://user-images.githubusercontent.com/27791562/1135

[2021-04-05 01:34] bimhud commented on #294
@AgastyaData  Found the issue, the "score" is considered  as probability of predicted class. probability of predicted class. It can seen clearly by turn on the raw_data from predict_model such as

predict_model(top1, data=d_test,raw_score=True)

There will be two score for positive and negative classes. This has explained the issue I've got. hope yours as well.

![image](https://user-images.github

[2021-04-05 22:24] Darkhero1976 commented on #1134
@Yard1 I am also getting errors while installing pycaret on Google Colab; first I tried with 'pip install', then I used 'conda install', then I used prefixes,

such as '!conda install -c conda-forge --prefix {sys.prefix} pycaret', I am also using conda virtual environment but '!source activate' command is only valid inside the cell, so it must be repeated at the beginning of every cell to be able

[2021-04-05 23:20] Darkhero1976 commented on #1134
This time I tried without using conda virtual environment and using /usr/local as prefix:
!conda install -c conda-forge --prefix /usr/local pycaret

I got this error:
Collecting package metadata (current_repodata.json): failed
InvalidVersionSpec: Invalid version '4.19.112+': empty version component

[2021-04-05 23:48] Yard1 commented on #1134
Pip install by itself should work. Can you try, in a fresh environment: `!pip install -U pycaret-nightly[full]`?

[2021-04-06 11:46] sixten16 opened #1142 "About the problems using Colab"
Hi, when i use pycaret with colab, it often throw an error. But there is no error in running the same code locally. One possible reason is that: Colab's pre installed environment conflicts with pycaret. One possible solution is using conda by
[code]
[code]
And then
`!pip install pycaret[full]`
The previous problem seems to have been solved.

[2021-04-06 13:48] Darkhero1976 commented on #1134
I tried that command in Google Colab, this one: '!pip install -U pycaret-nightly[full]', I got these errors:

ERROR: pandas-profiling 2.11.0 has requirement requests>=2.24.0, but you'll have requests 2.23.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: pyldavis 3.3.1 has requirement numpy>=1.20.0, but you'

[2021-04-06 13:52] Darkhero1976 commented on #1134
@Yard1 @pycaret I think I am out of luck with pycaret :(

[2021-04-06 14:32] Yard1 commented on #1134
Please find an example notebook I just put together below:
https://colab.research.google.com/drive/1jPm6J2aOG9KRQ8Aaa63TR-0p6sFIfRSk?usp=sharing

[2021-04-06 19:08] kingtelepuz5 opened #1143 "Hi! i'am use Hydrogen + Atom, and sometime it's all broken"
from time to time after running best_model = comprage_models () I get very strong distortions of my development environment, I can not say that I am sure that the problem is in Pycaret, perhaps Atom + Nydrogen is to blame, but the rest of the frames do not break, perhaps you can find the reason if not even, thanks anyway for your attention.

when displaying the table of results, the lines on the l

[2021-04-06 19:13] kingtelepuz5 commented on #1143
The same thing happens with a text editor and during the launch of some output from the frames, it just dies. Thanks for any answer, if this is a problem in the development environment, I will definitely duplicate it on another forum. But thanks for any participation!
![Снимок экрана от 2021-04-06 22-11-35](https://user-images.githubusercontent.com/61143710/113765556-18c3c780-9725-11eb-8406-ad0733

[2021-04-06 19:13] kingtelepuz5 commented on #1143
ubunta 20.04 LTS, Atom + Hydrogen

[2021-04-06 19:18] kingtelepuz5 commented on #1143
and I would like to add on my own, thank you very much for the work you've done, it's just amazing! When I accidentally found your library, I was crying with happiness, I am 19 and I am new to data science, but your library gave me a chance not to break, but on the contrary, to figure it out with everything, which I continue to do. Thank you so much for the tutorials, thank you so much for the exa

[2021-04-06 19:21] Yard1 commented on #1143
I would recommend you use an interactive Python notebook (ipynb) instead of pure script files. They are the mainstray for interactive data science. I am not sure if Atom has support for those but I know VSCode does. PyCaret is optimised to be used with notebooks.

[2021-04-06 19:23] kingtelepuz5 commented on #1143
I looked at your YouTube videos with demonstrations, and now I understand my idea breaks down, though it will be much easier just to use Jupiter, thanks for the answer!

[2021-04-06 21:28] vtoliveira commented on #1049
You can use `add_metric` function to calculate scores based on different weights.

Here is an example:

[code]

[2021-04-07 05:07] doraemonlei opened #1144 "How do I get TOP-K evaluation indicators for multi-classification? For example, TOP-3 accuracy."
How do I get TOP-K evaluation indicators for multi-classification? For example, TOP-3 accuracy.

[2021-04-07 07:49] #1143 closed

[2021-04-07 09:05] IncubatorShokuhou opened #1145 "Slack link no longer active"
I cannot access to the workspace pycaret. Can anybody share a new link?

[2021-04-07 11:42] vtoliveira commented on #1144
I am not sure if I understood correcly, but to select top k models using a specific metric you can do:

[code]

This way best will be a list with 5 best models ordered from top to bottom rank.

[2021-04-07 12:00] vtoliveira opened #1146 "Logging setup parameters when running create_model, tune_model, etc."
Is there a easy way to log setup parameters to other functions such as create_model, tune_model, compare_models, etc?

For example, the image below shows how it is today:

![image](https://user-images.githubusercontent.com/32197310/113862947-6d942c00-977f-11eb-9b04-85b658b6d8b5.png)
****

I would like to have these parameters in all next experiments so I can track them correcly when ordering by so

[2021-04-07 13:09] Yard1 commented on #1146
We don't have a builtin functionality that would let you save the parameters passed to functions other than `setup()`, sorry.

[2021-04-07 13:14] vtoliveira commented on #1146
That's fine. Do you think this is too complicated to build? I could somehow help with that.

Anyaway, to anyone interested in a workaround, I had an idea: getting all runs from MlFlow and then filling NaN values for setup parameters using forward fill (All setup parameters start with capital letter). Apparently this works fine.

[2021-04-07 13:19] Yard1 commented on #1146
I think it would be rather tiresome to implement it at this stage, though the next major release will come with another general architecture refactor which should make it easier.

[2021-04-07 13:27] vtoliveira commented on #1146
That's is good news. Ok then, I will close this issue and wait for next release. Thanks very much.

[2021-04-07 13:27] #1146 closed

[2021-04-07 17:37] askery commented on #1050
Hi guys, I was facing the same problem: "TypeError: object of type 'NoneType' has no len()" when trying to run the very first NLP example in PyCaret.

Solved with the two commands below from [link](https://spacy.io/usage):

conda install -c conda-forge spacy
python -m spacy download en_core_web_sm

TL,DR
/It is so frustrating when you cannot run the very first example ://

I tried:

1- creating an

[2021-04-07 21:28] moezali1 commented on #1145
@IncubatorShokuhou Sorry. Slack link expires every 15 days. Here is the new link:

https://join.slack.com/t/pycaret/shared_invite/zt-nm02k73a-PSDo5lwmQ6evlFCPRxsKKA

[2021-04-07 21:28] #1145 closed

[2021-04-07 21:29] moezali1 commented on #1142
@sixten16 I just tried opening a fresh colab notebook and tried `pip install pycaret[full]` and it worked without any problems.

[2021-04-07 21:31] moezali1 commented on #1140
@gianghoang217 Can you please share your code and notebook with sample data? I will take a look.

What's version of PyCaret you are using?

@Yard1 I think we have discussed this error in the past "'Simple_Imputer' object has no attribute 'fill_value_categorical'". Do you have any clue?

[2021-04-07 22:08] gyasis opened #1147 "Accessing the Preprocess pipeline to use on similiar datasets for other machine learning libraries"
Is there a way to access only the preprocessing step of the pipeline of a trained model? For example, if I use the preprocessing to create features for the data, instead of using the pipeline with the trained model can I somehow get a returned data frame of a test dataset using the preprocessing of the trained dataset? Sometimes I may want to train the data on other libraries but would still like

[2021-04-07 22:17] Yard1 commented on #1140
I believe it has been fixed on master already. `pycaret-nightly` should have the fix.

[2021-04-07 22:18] moezali1 commented on #1137
@bilalahmed381

MAC users will have to install LightGBM separately using Homebrew, or can be built using CMake and Apple Clang or gcc. See the instructions below:

Install CMake (3.16 or higher)

Install OpenMP

Run the following command in terminal:

[code]

[2021-04-07 22:18] #1137 closed

[2021-04-07 22:18] Yard1 commented on #1147
You can obtain the pipeline with `get_config("prep_pipe")` after running `setup()`. The pipeline can be used with new data, provided the name of the target column stays the same.

[2021-04-07 22:19] moezali1 commented on #1136
@mkbldn Can you try running this code before `setup`, it might work:

[code]

[2021-04-07 22:24] moezali1 commented on #1132
Hi @JianWang2016

`bin_numeric_features` is implemented based on `sklearn.preprocessing.KBinsDiscretizer`. It uses the `sturges` rule to determine the number of bins and uses the` kmeans` strategy under `KBinsDiscretizer` to convert numeric variables into categorical.

This is the actual codebase from the `preprocess.py` file of pycaret.

[code]

Hope this helps. If yes, please close the issue :)

[2021-04-07 22:25] moezali1 commented on #1134
@Darkhero1976 What is your operating system?

[2021-04-07 22:26] moezali1 commented on #1130
@xuzhang5788 Can you please report the issue on Catboost repo?

Link: https://github.com/catboost/catboost

[2021-04-07 22:27] moezali1 commented on #1115
@Yard1

[2021-04-07 22:29] moezali1 commented on #1131
@tran-quang-thanh That's right. `remove_perfect_collinearity` and `remove_collinearity` are two different parameters.

Also, `remove_perfect_collinearity` is not shown in the table, causing the confusion.

@tran-quang-thanh @ThinhNg Will you be able to push a commit to include `remove_perfect_collinearity` in the table. Should be an easy change.

@Yard1 Which branch should we use?

[2021-04-07 22:30] moezali1 commented on #1113
@mkk355 I have seen this problem before. Just install C++ build tools.

This will help: https://stackoverflow.com/questions/40504552/how-to-install-visual-c-build-tools

[2021-04-07 22:31] moezali1 commented on #1104
@the-whopper This is such a great idea but almost impossible to do as of today!

[2021-04-07 22:48] gyasis commented on #1147
Ok. Thank You!

[2021-04-07 22:48] #1147 closed

[2021-04-07 23:00] moezali1 commented on #1103
@joey1616 please update your scikit-learn version two 0.23.2.

[code]

Hope this helps.

[2021-04-07 23:07] moezali1 commented on #1109
@ahad-aa You can follow the instructions here for installing a new conda environment and then installing pycaret in that env.

https://pycaret.readthedocs.io/en/latest/installation.html

[2021-04-07 23:20] rlee300 opened #1148 "Large Dataset Stuck on Setup()"
I'm using Pycaret classification to do some machine learning with my >1 million of data (this includes 18 categorical and 1 numerical features). Pandas Dataframe is storing the data pulled from Oracle database. These steps take about 2-3 minutes. When my data is being preprocessed, it's taking >7 hours. Is there a way to improve the speed? Pycaret is a great resource and I want to continue to use

[2021-04-08 08:12] S-UP commented on #1033
Related to this: Is it possible to extract the variables and SHAP values from the 'summary' plot? This would allow to build nice automations like passing the top 10 variables into the 'correlation' plot. Also it would help with omitting typos as I am using Featuretools to generate quite a lot of features and reading and re-entering them manually is sometimes challenging.

[2021-04-08 11:37] gianghoang217 commented on #1140
@moezali1 , @Yard1 I found out the reason for this error, if the scikit learn package updated to 0.24.1, I  downgraded it to 0.23.2, no more errors. Thanks for your help!

[2021-04-08 11:37] #1140 closed

[2021-04-08 13:15] gm039 opened #1150 "Get metrics: Homogeneity, Rand Index, Completeness"
Hi,

How to get metrics as Homogeneity, Rand Index, Completeness. Let's consider that I have ground-truth labels available.

![image](https://user-images.githubusercontent.com/50217085/114032483-579f6d80-984a-11eb-84a5-34ab0e20eeb6.png)

Thanks

[2021-04-08 13:22] moezali1 commented on #1150
@gm039 It is very simple. There is a parameter `ground_truth` which accepts the name of the column containing the ground-truth value in the dataset.

[code]

Hope this helps. If yes, please close the issue. :)

[2021-04-08 13:25] moezali1 commented on #1148
@rlee300 Can you tell me how many levels each categorical factor has in the dataset? I am wondering if it is making the dataset too sparse for `remove_outliers` liking. Have you tried with `remove_outliers = False`.

You can also try using the `high_cardinality_features` functionality. That may compress the space and should help with timing.

![image](https://user-images.githubusercontent.com/5469

[2021-04-08 13:27] moezali1 commented on #1144
@doraemonlei

[code]

[2021-04-08 13:38] gm039 commented on #1150
Thanks, It worked.

[2021-04-08 13:38] #1150 closed

[2021-04-08 13:41] Jacques2101 opened #1151 "error message when installing full version"
Hi
I tried to install Pycaret on my computer using the full version. I did on my terminal:
`pip install pycaret[full]`as mention but get an error message:
```zsh: no matches found: pycaret[full]```

Any ideas ?
thx

[2021-04-08 15:03] rlee300 commented on #1148
THANK YOU!!!! When I set it false, it worked like a charm! I'm so happy that I can continue to use this awesome tool. Thank you, again!

[2021-04-08 15:19] Jacques2101 opened #1153 "Error message with: from pycaret.classification import *"
Hi,
I created a special env to install pycaret with the instructions: `pip install pycaret`

Then I tried:
`from pycaret.classification import *`

but get an error message (I am on macOs):
[code]

Any help ?
Thx.

[2021-04-08 15:47] Jacques2101 commented on #1153
finally I installed lightgbm with conda install...and it seems to be ok.

[2021-04-08 15:47] #1153 closed

[2021-04-08 16:04] Jacques2101 opened #1154 "errors while running example 'PyCaret 2 Classification.ipynb'"
Hi, I am new with PyCaret and for learning more I tried to run the simple example you put on your site but get some errors that I do not understand.
[code]
[code]

then:
`ensembled_models = compare_models(whitelist = models(type='ensemble').index.tolist(), fold = 3)`
[code]

then:
`catboost = create_model('catboost', cross_validation=False)`
[code]

thx

[2021-04-08 16:37] Yard1 commented on #1033
You can use the SHAP library on a PyCaret model separately to obtain more detailed results

[2021-04-08 16:38] Yard1 commented on #1151
That's due to how zsh expands square brackets. Whenever you have a pip package with square brackets, put it in quotes - `pip install "pycaret[full]"` should work fine.

[2021-04-08 16:40] #1148 closed

[2021-04-08 16:40] Yard1 commented on #1154
@moezali1 Can you update the tutorial to install `pycaret[full]` and change `whitelist` to `include`? Thanks.

[2021-04-08 16:41] Yard1 commented on #1115
@garyee Can you try installing `pip install -U "pycaret-nightly[full]"` instead and running all of the steps there (saving/loading)?

[2021-04-08 16:42] Yard1 commented on #1131
@moezali1 `master`

[2021-04-08 16:50] Jacques2101 commented on #1151
work fine.
Thx.

[2021-04-08 16:50] #1151 closed

[2021-04-08 16:59] Jacques2101 commented on #1154
I did: `pip install "pycaret[full]"`
but after that when I run again the example file, I get new error message that I did not get previously:
[code]
[code]

And the instruction that worked previously, now I get:
`best_model = compare_models()`
[code]

[2021-04-08 17:18] Jacques2101 commented on #1154
I needed to reinstall XGBoost with:
[code]
I found this here [https://xgboost.readthedocs.io/en/latest/build.html#building-on-osx](url)

Then everything is ok.

Thx.

[2021-04-08 17:18] #1154 closed

[2021-04-08 17:58] garyee commented on #1115
I did install the nightly full version if you look at the colab notebook. The saving and loading is kind of the point of the ticket.
When you look in the notebook, plotting is working but only before saving and loading not after.

[2021-04-09 02:14] doraemonlei commented on #1144
Thank you, but maybe I didn't express myself correctly.I mean Top-K accuracy (recall, precision), not Top-K model.

[2021-04-09 02:14] doraemonlei commented on #1144
Thank you, but maybe I didn't express myself correctly.I mean Top-K accuracy (recall, precision), not Top-K model.

[2021-04-09 04:57] pyaf opened #1155 "Optimizing saved pipeline size (disk space wise)"
**Is your feature request related to a problem? Please describe.**

Saving the pycaret pipeline with `save_model` saves many intermediary variables associated with `pycaret.internal.preprocess.Fix_multicollinearity` class are also saved. According to me, they can be dropped during saving the pipeline because they are of no use during loading the model and making predictions with it during producti

[2021-04-09 10:34] Yard1 commented on #1155
Thanks, I just took a look at the class. There are a lot of variables that don't have to be bound to the object there. I'll attempt to optimize it.

[2021-04-09 11:08] pyaf commented on #315
@pycaret I'm manually creating a separate log file for my project. I'd like to know if there's a way to disable the auto logs.log file creation functionality of pycaret.

[2021-04-09 11:29] pranaymodukuru commented on #1155
For people looking for a quick solution, here is a wrapper function to save the model after removing these space-occupying variables that are not required during inference.

[code]

[2021-04-09 15:25] #1155 closed

[2021-04-10 16:40] mkk355 commented on #1113
okay thanks

[2021-04-10 16:40] #1113 closed

[2021-04-10 22:26] moezali1 commented on #1144
@doraemonlei See this example:

[code]

You can use the `pull` function to store the score grid as `pd.DataFrame` and then you can access the `Accuracy` or any other metric just the way you will access elements of the list. (see the last line of code in the above example.

Hope this helps.

![image](https://user-images.githubusercontent.com/54699234/114286127-0cdc4c00-9a2a-11eb-9098-b63c7b909ad4.p

[2021-04-10 22:26] #1142 closed

[2021-04-10 22:27] moezali1 commented on #1141
@sagarnildass Yes. It's not possible to deploy into a sub-folder. Will you like to work on this? It should be a simple change.

[2021-04-11 04:25] doraemonlei commented on #1144
I think you still don't understand what I mean. For example, in ImageNet multi-classification task, if you want to get Top-3 accuracy, which means that the top-3 labels predicted by the model contain correct labels, then we think the results are correct.

[2021-04-11 06:49] Yard1 commented on #1144
You can add your own metrics with `add_metric`. Please refer to the documentation.

[2021-04-11 10:03] doraemonlei commented on #1144
ok, thanks!

[2021-04-11 13:39] raultomasmora commented on #951
I was getting this error using pycaret==2.2.1 and streamlit==0.71.0 versions.
AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'.

I fixed the problem by forcing scikit-learn version==0.23.2

[2021-04-11 13:40] raultomasmora commented on #823
I was getting this error using pycaret==2.2.1 and streamlit==0.71.0 versions.
AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'.

I fixed the problem by forcing scikit-learn version==0.23.2

[2021-04-11 14:18] Yard1 commented on #1115
This is the same issue as here - https://github.com/pycaret/pycaret/issues/1139 - apologies, I thought the fix has already made it into master. The workaround for now is in the link.

[2021-04-12 13:29] mkbldn commented on #1136
No luck, that didn't work.

[2021-04-12 14:08] sabatlive opened #1158 "Why target is required in insurance data set for setup"
**Is your feature request related to a problem? Please describe.**
Why target  is required in insurance data set for setup

**Describe the solution you'd like**
I am trying to run the notebook. I can see insurance data. But, setup fails saying charges field is missing.

**Describe alternatives you've considered**
It should not complain about missing target field.

**Additional context**
It is a st

[2021-04-12 14:20] moezali1 commented on #1158
@sabatlive Can you share the Notebook and your code. I can run the following code and it works without problem.

[code]

[2021-04-13 04:52] sixten16 commented on #1142
There is no problem in `pip install pycaret[full]`.  I mean when i used pycaret in colab for machine learning, it often throw errors.
Use `!pip install -q condacolab
import condacolab
condacolab.install_miniconda()`
can solve the problem.

[2021-04-13 04:56] sixten16 commented on #1142
And about the error,  you can find it by searching for colab in pycaret's issues. Such as https://github.com/pycaret/pycaret/issues/1140

[2021-04-13 06:09] garyee commented on #1115
thx

[2021-04-13 14:47] moezali1 commented on #1136
@mkbldn Sorry. We might have to do it inside the code base then.

[2021-04-13 14:47] moezali1 commented on #1132
@JianWang2016 Does this answer your question? Can we close the issue now?

[2021-04-13 14:48] moezali1 commented on #1141
@amjadraza Can you help with this issue?

[2021-04-13 15:17] snewhouse opened #1161 "Feature Request: option to save plots with user defined file names"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be great to run something like:

[code]

**Describe alternatives you've considered**
NA

**Additional context**
I'm creating a streamlit app for ML and would like to export and save any and all plots to local directories and give them specific file names at the same time as displayi

[2021-04-13 15:19] Yard1 commented on #1161
Should be doable

[2021-04-13 16:49] amjadraza commented on #1141
Let me review it. Looks like a simple change.

[2021-04-13 16:49] amjadraza commented on #1141
@moezali1 assign this issue to me please.

[2021-04-13 16:56] amjadraza commented on #1057
I am not sure what thought process has been followed while coding up logging however as agreed above it is important to issue to tackle. I had written a Custom Logging class in the past shipped with Python Package. Recently, I have come across the python package `loguru`, it may be worth exploring....

@joschkazj Happy to discuss further.

[2021-04-13 16:59] moezali1 commented on #1141
@amjadraza Thank you so much. Assigned to you.

I am not sure how should we handle the folder names for Azure/AWS/GCP but maybe some logic to parse the `model_name` parameter in the `deploy_model` function.

I will leave it up to you to decide the most optimal way to implement this use case. Let me know if you feel like catching the brain!

[2021-04-13 17:00] moezali1 commented on #1141
@sagarnildass Feel free to chip in.

[2021-04-13 21:55] nateGeorge opened #1162 "One-hot encoding should drop the last column and not alter binary columns"
**Is your feature request related to a problem? Please describe.**
One-hot encoding of categorical columns keeps all categories for multi-category columns and alters binary categorical columns.

**Describe the solution you'd like**
For multi-category columns with n categories, we should only keep n-1 of the one-hot encoded features. The last OHE column can be inferred from the rest of them, and th

[2021-04-13 22:51] Yard1 commented on #1162
We have made a conscious choice not to drop columns in OHE, though I would agree myself that an exception could be made for binary columns - perhaps that could be made into a configurable argument. Please consult https://inmachineswetrust.com/posts/drop-first-columns/ for explanation why we do not drop columns.

[2021-04-14 01:17] nateGeorge opened #1163 "Wildcard imports in docs should be changed"
[According to PEP8, the style guide for Python](https://www.python.org/dev/peps/pep-0008/#imports), "Wildcard imports (from <module> import *) should be avoided, as they make it unclear which names are present in the namespace, confusing both readers and many automated tools."

In the examples and other pages in the docs it seems wildcard imports are always used, like here on the [setup page](http

[2021-04-14 02:00] nateGeorge commented on #1162
I see, thanks for the link. It seems like a binary categorical column does not need to be OHE at all since it is already 0 and 1.

[2021-04-14 13:55] sungreong opened #1165 "tune_model hyperopt is too slow"
now I try to use hyperopt.
but it take a long time. and it doesn't finish
and it consume many memory.

so i want to know why it take a long time.

please tell me about this

[code]

[2021-04-14 13:55] DSrijon01 opened #1166 "Series.dtypes must be int, float or bool"
I was going through the[ Feature Selection Documentation](https://pycaret.org/feature-importance/) in Pycaret.org
Based on the given example I tried on my Jupyter notebook to run the chunk of code to see if it actually works or not.
But it gave me a error  **Series.dtypes must be int, float or bool**

- I was using the internal dataset of pycaret according to the example.
- I tried it on my own pr

[2021-04-14 16:28] deenam commented on #1165
i'm also facing similar issue tuned_et = tune_model(et) goes on for ever and it is not finishing.

[2021-04-14 16:47] raul-parada commented on #616
Is it already included?

[2021-04-14 17:26] PythonTrader88 commented on #823
Same issue on pycaret==2.3
Forcing scikit-learn version==0.23.2 solved the issue as well

Thanks man!

[2021-04-14 17:38] deenam opened #1167 "Installation Error"
i followed the instruction guidelines as mentioned https://pycaret.readthedocs.io/en/latest/installation.html
but i'm getting below error, please help

[code]

[2021-04-14 18:21] nateGeorge opened #1168 "xgboost and lightgbm fail silently if preprocess=False with categorical columns"
If we set preprocess=False with categorical columns (e.g. if we have label-encoded columns that are automatically detected as categorical), xgboost and lightgbm show 0 for all metrics (accuracy, AUC, etc) but are actually silently failing. For example:

[code]

The results of `compare_models` are:

![image](https://user-images.githubusercontent.com/10804060/114759519-7fe00e00-9d1b-11eb-8987-238d8a

[2021-04-14 20:49] Yard1 commented on #1168
If preprocess is set to false, the user needs to make sure their data is in the correct format. What happens if you run `compare_models(errors="raise")`?

[2021-04-14 20:53] Yard1 commented on #1166
This does look like a bug. Will take a look, thanks.

[2021-04-14 21:28] nateGeorge commented on #1168
Good point, perhaps it is expected behavior then, but it would still be nice to have something alert the user that xgboost and lightgbm failed. `errors='raise'` does not change anything.

[2021-04-14 21:48] Yard1 commented on #1168
Yeah, I suppose that if all metrics return 0's it should treat it as if an exception was raised.

[2021-04-14 22:09] gserapio commented on #25
Would love this enhancement, I'm sitting on a few multi-output / multi-target regression projects!

[2021-04-15 03:47] absognety commented on #162
Is this functionality going to be there in upcoming releases?

[2021-04-15 11:08] ngupta23 opened #1169 "PycaretExperiment.py"
File is over 17,000 lines of code. Need to split it into individual files based on learning task.

[2021-04-15 11:11] ngupta23 commented on #1165
Please provide a reproducible example so that we can debug. It is hard to say just by looking at the code snippet that you provided.

[2021-04-15 11:15] ngupta23 commented on #1163
Hi @nateGeorge , Good suggestion. Would appreciate a PR to update this. Would you be able to submit this?

[2021-04-15 12:42] nateGeorge commented on #1163
I will see if I can get it done in the next few weeks.

By the way, I noticed MLBox does it this way too, which is perhaps why it's this way here.

[2021-04-15 18:15] Yard1 commented on #1163
Yes, the idea was to make this more user-friendly for beginners, who may not be aware of which functions they will need. I think we should leave it as-is for now, considering that the wildcard import is designed to be used in a notebook for quick experiments, and not in production scripts. We could add a comment that we recommend using explicit imports for those.

[2021-04-15 20:21] soma2000-lang commented on #494
Is the issue still not solved ??If not then I would like to work on it...

[2021-04-15 21:23] HoumesG commented on #1075
do you still have this problem ? i got the same and i couldn't figure out what's the problem

[2021-04-15 21:48] moezali1 opened #1172 "load_model is failing when loading model back from aws"
I have trained and pushed a model on AWS using the `deploy_model` function but when loading the model back from `load_model` I get the error.

[code]

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-6-64ada9a45af4> in <module>
      1 from pycaret.classification import load_model,

[2021-04-15 21:49] moezali1 commented on #1172
@Yard1 @amjadraza Any thoughts?

Also, I am not sure but maybe it's also causing the issue for platform = 'azure' and 'gcp' as well.

[2021-04-16 01:03] ecdedios commented on #1075
Yes. I tried to troubleshoot myself but failed.

[2021-04-16 13:23] Yard1 commented on #1172
We are automatically adding pkl to the file names but I think we should not be doing that. This will be a breaking change, however.

[2021-04-16 13:23] Yard1 commented on #1075
Is it possible to reproduce this issue with a dataset you can share?

[2021-04-16 14:36] amjadraza commented on #1172
It depends on how to model is being saved on AWS

[code]

I suspect that when saving `mode_name` has `.pkl` at the end and when loading `model_name` was not included `.pkl` at the end.

This is not a bug but an adopted logic at the time of implementation however can be changed in upcoming versions.

[2021-04-16 15:48] jbechtel commented on #254
@pycaret I'd be interested in contributing to this, however I'd like your view on its feasibility. From the SHAP side of things, it is easy. Looks like it's just
[code]
Taking a brief look at the code, it seems like pycaret currently just grabs `X_train` or `X_test` from `global` scope, and uses that for `X_new_sample`. The problem then is tracking down what transformations `X_train` and `X_test`

[2021-04-16 16:04] amjadraza commented on #1172
@Yard1 and @moezali1, This is a Bug and can be fixed easily. I have just tested it.

The issue looks like in our `save_model` function where `model_name` has been modified. To fix this I have to set it up a proper test.

@Yard1, you may try debugging meanwhile...

@moezali1 , you can assign this issue to me. I will fix it.

[2021-04-16 20:07] Yard1 commented on #1172
Yeah it's due to inconsistent adding of `.pkl`. I think that it'd be best if we were not adding it anywhere (`load_model`/`save_model`). A PR would be appreciated!

[2021-04-16 20:09] Yard1 commented on #254
@jbechtel That should be all that's necessary. I'll assign this issue to you, thanks.

[2021-04-17 09:38] sungreong commented on #1165
check, please

[code]

[2021-04-17 10:28] Yard1 commented on #1165
Does it also take a long time with the default search space (without `custom_grid`)?

[2021-04-17 10:33] sungreong commented on #1165
No!
Actually when i use hyperopt tuning method, it take a long time : (

[2021-04-17 11:11] Yard1 commented on #1165
If it works with the default search space then some combination of hyperparameters in your search space causes the evaluation to take a long time. So this isn't an issue with the search algorithm but your search space.

[2021-04-17 11:32] sungreong commented on #1165
Please provide a reproducible example.
I want to try this.

[2021-04-17 11:46] deenam commented on #1165
Attached file and data set

[
[Py_Caret.zip](https://github.com/pycaret/pycaret/files/6329160/Py_Caret.zip)

](url)
[Lumos5G-v1.0.zip](https://github.com/pycaret/pycaret/files/6329162/Lumos5G-v1.0.zip)

[2021-04-18 20:18] #1169 closed

[2021-04-19 01:44] Chopin2 opened #1176 "Output of train score"
Using PyCaret, validation score and prediction score are easy to obtain, but how can I obtain train score?
Although it can be seen on learning curve, I want to output train score as a concrete number.

[2021-04-19 08:54] Yard1 commented on #1176
`predict_model()` without `data` argument specified will predict on train (aka holdout) set.

[2021-04-19 10:10] Chopin2 commented on #1176
Sorry for my bad writing.
I wrote "prediction score" in the sense of "hold out" (or "test") score.
I want to know how to output the score of train set which was used to train the model, like the one which I can see on learning curve (written as "Training score").

[2021-04-19 10:45] Yard1 commented on #1176
I see - there isn't a simple way to do it right now, but it wouldn't be hard to add. Tagging as enhancement.

[2021-04-20 10:00] zhenlingcn opened #1182 "Is it possible to provide a scikit-learn interface?"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Scikit-learn has been widely adopted as a command interface standard for many learning algorithms in the machine learning domain. Is it thus possible to provide a scikit-learn interface for pycaret to make it easier for users to understand how to use this package?

**Describe alternatives yo

[2021-04-20 11:50] S-UP commented on #1070
It does not look like this has been fixed.

I am running version 2.3.0 and still see this happening.

[2021-04-20 11:56] S-UP opened #1183 "Load_config() throws error"
I am having the very same issue as described in this recently closed report: https://github.com/pycaret/pycaret/issues/1070. I am re-creating a new one as I cannot reopen the old.

I am on PyCaret 2.3.0. Tried the nightly, but that did not have any effect.

--- ORIGINAL REPORT

I am trying to reproduce the example in your documentation for load_config and save_config

[code]
Now I restarted the ju

[2021-04-20 13:28] #1183 closed

[2021-04-20 13:29] S-UP commented on #1183
It seems the kernel was not properly refreshed when testing. All good.

[2021-04-20 14:20] Yard1 commented on #1182
It's hard to define what should happen after running `fit`. The next major release will bring an object based API so making sklearn wrappers will be very quick and simple.

[2021-04-21 09:37] akashg116414 opened #1185 "Predict issue for Timeseries branch"
Hello,
Is there is any way to get prediction on passing start and end date as of now there is only way to pass integer value of test_dataframe.

model.predict(start,end) not working...

please provide some solution.

Thanks

[2021-04-21 15:32] snewhouse opened #1186 "Set MLFLOW directory"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**

It would be great if we could specify an output directory when logging using mlflow

**Describe alternatives you've considered**
NA

**Additional context**

additional `setup` option:
**log_dir** = `/SOME/USER_DEFINED/LOCAL/DIR`

[2021-04-21 20:38] mingjun1120 opened #1187 "Unable to install pycaret on Ubuntu OS!"
**Failed at installing spacy**
Currently, I am using a PC with Ubuntu OS. I try to type pip install in the terminal to install pycaret but then it fails when the installation reaches Collecting spacy<2.4.0 (from pycaret)

![image](https://user-images.githubusercontent.com/54136320/115617519-1025e080-a324-11eb-83e1-8fa196539040.png)

[2021-04-22 08:51] aeriosk opened #1188 "binary_multiclass_score_func is a non-pickable object and causes error"
relating to https://github.com/pycaret/pycaret/commit/499ac03df22d7b5a73ed2b42fbcd8edba12207a5

pycaret.internal.metrics.binary_multiclass_score_func seems to be a non-pickable object. Error raised when running sklearn cross_validation in joblib parallel.

Code to replicate:

from pycaret.classification import setup,compare_models,models,create_model
from pycaret.datasets import get_data
dataset =

[2021-04-22 10:16] snewhouse commented on #234
I think some of this is down to default settings eg min_samples_split = 2 results in some overfitting. I see the same, really great results with default, my first instinct is overfitting

[2021-04-22 10:29] Yoshitama opened #1189 "How to use ensemble_model() to predict new dataset?"
I use esemble_model() to predict on a new dataset but it returned an error: it seems like esemble_model() will return a list of models instead of a single model. But I can`t use a list to predict. How can I use ensemble_model correctly?

Here is the code:

tuned_top5 = [tune_model(i) for i in top5]
bagged_top5 = [ensemble_model(i) for i in tuned_top5]
...
predictions = predict_model(bagged_top5, d

[2021-04-22 13:32] Yard1 commented on #1189
What version of PyCaret are you using?

[2021-04-22 13:41] Yard1 commented on #1188
Hey, I couldn't reproduce that on my machine. It also doesn't cause our Windows CI to fail. Can you try making a fresh virtual environment and installing `pycaret-nightly[full]` there?

[2021-04-22 14:20] #254 closed

[2021-04-22 15:21] #1166 closed

[2021-04-22 15:21] #1188 closed

[2021-04-22 18:38] pit9921 opened #1192 "missing models in compare_models() - Regression"
Hi,

i have a version '2.3.0' and when i run `best = compare_models()` it gives the results with 18 algorithms.
When i run `models()` it shows me the list with 25 algorithms.

Why the command `compare_models()` does not include all available models?

![Screenshot 2021-04-22 203731](https://user-images.githubusercontent.com/77811022/115768484-a56bb800-a3aa-11eb-84dd-75f721b2bb8d.png)
![Screenshot 2

[2021-04-22 19:22] Yard1 commented on #1192
Models with turbo set to False are not run by default, as well as any non-sklearn models you may not have installed (xgboost, catboost). Furthermore, if a model raises an exception during fitting it will be ommited from the list. If you want to run all the models you have installed and ensure that none fail silently, do:
```compare_models(turbo=False, errors="raise")```

[2021-04-22 19:32] pit9921 commented on #1192
ok, i see. Thank you for the reply.
I was interested in the XGBOOST, but got the following error:
XGBoostError: need to call fit or load_model beforehand

Is there way how to fix it?

[2021-04-22 20:08] Yard1 commented on #1192
I haven't seen this issue before. Is this happening on colab? Can you share the notebook?

[2021-04-23 00:30] Yoshitama commented on #1189
'2.2.0'

[2021-04-23 08:27] Yard1 commented on #1189
You need to upgrade to 2.3 asap. 2.2 is not supported anymore. In 2.3, ensemble_model returns a single estimator.

[2021-04-23 15:39] ifyoungnet commented on #394
how to set dpi or scale when using interpret_model()?

[2021-04-23 15:41] ifyoungnet opened #1193 "How to set dpi or scale when using interpret_model() function?"
How to set dpi or scale when using interpret_model() function?

[2021-04-23 18:04] pit9921 opened #1194 "Anomaly Detection - Tune -> ValueError: Found input variables with inconsistent numbers of samples: [125, 0]"
Hi,
i run the knn algorithm for anomaly detection:
![image](https://user-images.githubusercontent.com/77811022/115911875-f04f0380-a46e-11eb-990b-938ffa4dfe31.png)

I would like to tune it, but got the following error:
ValueError: Found input variables with inconsistent numbers of samples: [125, 0]

![image](https://user-images.githubusercontent.com/77811022/115911974-0bba0e80-a46f-11eb-83e9-5e2c3d

[2021-04-23 19:38] juandpinto commented on #823
I'm afraid I can't for privacy reasons. However, like others have already suggested here, I was also able to bypass this problem by forcing `scikit-learn version==0.23.2`.

[2021-04-24 14:59] jbechtel commented on #104
@pycaret I agree that these would be a nice comparison to have in `compare_models`. [DummyRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyRegressor.html) and [DummyClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html) with all of their strategies should be included. This is a good sanity check to make sure that the best mo

[2021-04-24 23:54] sungreong commented on #1165
so did you have any solution?...

[2021-04-26 00:36] Asymptote opened #1200 "predict_model output | Label & Score relationship"
Hi,
Please find attached the screenshot of predict_model output (on unseen data).
How is it possible that a probability of 0.64 is a positive class and 0.98 is a negative class, while 0.5165 is a negative as well?
Am I missing something?

<img width="96" alt="Screen Shot 2021-04-26 at 4 31 50 AM" src="https://user-images.githubusercontent.com/307615/116014923-9144e680-a648-11eb-8f95-ae1692cdb5dd.p

[2021-04-26 06:03] HalfMAI opened #1201 "Raise Error when setting fold_strategy='groupkfold' and call finalize_model"
**Is your feature request related to a problem? Please describe.**
Raise Error when setting fold_strategy='groupkfold' and call finalize_model

**Describe alternatives you've considered**
After using fold_strategy="groupkfold", do I need to set any other value when using finalize_model?

**Additional context**
code:

result:

[2021-04-26 11:40] Yard1 commented on #1200
The output is the probability of predicted class. If you want the same output format as sklearn would give you, you can do `predict_model(model, raw_score=True)`.

[2021-04-26 12:16] Asymptote commented on #1200
oh! okay
So this probability is of the Label. This makes sense.
Thanks

[2021-04-26 12:16] #1200 closed

[2021-04-27 13:16] moezali1 commented on #1172
@amjadraza @Yard1 Is this issue fixed already? I don't face the issue anymore when I am using the `master` branch.

[2021-04-27 13:20] Yard1 commented on #1172
There was a temporary fix by @markgrujic but we'll just remove the `.pkl` suffix for the next major release

[2021-04-27 13:28] #1201 closed

[2021-04-27 13:28] Yard1 commented on #1201
Thanks. Fixed in dev.

[2021-04-27 13:29] Yard1 commented on #1194
Can you share the full code?

[2021-04-27 13:48] ngupta23 commented on #1185
Hi @akashg116414 , Can you provide a reproducible example of what you are trying to do?

Also, you also mentioned the `timeseries` branch. Are you running from the GitHub code directly?

[2021-04-27 13:51] ngupta23 commented on #696
Hi @whiran, Since this issue has been open for a while, could you let us know if the reproducible example can be shared. It will help with debugging. Thanks!

[2021-04-28 18:30] mohsin-ashraf commented on #1187
I am also getting error while installing the pycaret[full] (`pip install pycaret` works fine). Can anyone help me what's going wrong
Attaching the logs below

[code]

[2021-04-28 18:56] pycaret commented on #1187
@mohsin-ashraf The error you get with `pip install pycaret[full]` is due to `shap` library.

Try installing shap with this command and then run `pip install pycaret[full]`:

[code]

[2021-04-28 18:57] mingjun1120 commented on #1187
@pycaret How about me?

[2021-04-28 18:58] pycaret commented on #1187
@mingjun1120 You are getting the error because of spacy. Try this before installing pycaret:

[code]

[2021-04-28 19:25] mohsin-ashraf commented on #1187
@mingjun1120 if you still face the problem I would suggest you going to `python3.6` since The suggestion by @pycaret did not work on `python3.7` then I switched to python3.6 and it worked!

[2021-04-28 23:26] leriky opened #1203 "pycaret nlp model doesn't support predict_model"
Once you create a topic modeling using any of the NLP  model , how do  you actually predict  or assign topic model to an user input data. it seems like the predict_model( molde#) is not available on nlp Model.  do you have any alternative .

[2021-04-29 08:49] Yard1 commented on #1203
CC @moezali1

[2021-04-29 09:30] zhenlingcn commented on #1182
@Yard1  Great. Thanks for your reply. I feel this is a reasonable solution.

[2021-04-29 09:30] #1182 closed

[2021-04-29 12:00] wgova opened #1204 "AttributeError: 'Make_Time_Features' object has no attribute 'list_of_features'"
I am running the anomaly detection module on preprocessed time series data. My data columns look like this:

hour	period	routingname	routingomname	networkname	responsecodelongdescription	obresponseduration
0	Downtime Route1		Route1.1	          	Network1         0 - No Error	                                2790

I am getting this error on Python 3.7 running from Jupyter Notebook. But I get that err

[2021-04-29 14:08] Yard1 commented on #1204
Ensure your scikit-learn version is 0.23.2 (not the latest 0.24).

[2021-04-30 00:26] dalmad2 opened #1205 "PicklingError: Can't pickle <function ModelContainer.__init__.<locals>.<lambda> at 0x7f61d08275f0>: it's not found as pycaret.containers.models.base_model.ModelContainer.__init__.<locals>.<lambda>"
Hello,

I encountered an error while saving a trained model. I am not sure how to resolve this issue. What am I doing wrong?

The version of PyCaret is `2.3.1`.

I trained my model with this code.
[code]
And I ran
[code]
I don't think `compare_models` and `pull` cause my issue. I took out this part and ran the rest but still got the same error.

When I executed this code,
`save_model(model, './mod

[2021-04-30 11:31] ganesh3 opened #1206 "How do you identify which coefficient map to which independent variables in Pycaret regression model?"
Hi,

We are using pycaret to run a regression model which will also give us feature importance of each of the co-efficients in the model.

When we look at the tuned models feature importance (tuned_model.feature_importances_)
, it is essentially an array of values which we are not sure how it correlates to the independent variables.

![WhatsApp Image 2021-04-30 at 16 54 19](https://user-images.git

[2021-04-30 12:00] pyaf opened #1207 "Fix_multicollinearity Docstring update"
**Is your feature request related to a problem? Please describe.**

[Fix_multicollinearity](https://github.com/pycaret/pycaret/blob/master/pycaret/internal/preprocess.py#L2463) needs to be updated. The default values mentioned in the docstrings aren't what they actually are.

**Describe the solution you'd like**
Update the numbers as per their actual default values.

I'd like to open up a PR to fi

[2021-04-30 12:25] costaverde opened #1208 "python util.py synchronize.py bug when tune_model('rf'), but tune_model('et') works"
With anaconda3, python3.9, pycaret 2.1.2:
tune_model('rf') returns:   (but tune_model('et') works well)

Traceback (most recent call last):
  File "[..]/anaconda3/envs/py39/lib/python3.9/multiprocessing/util.py", line 224, in __call__
    res = self._callback(*self._args, **self._kwargs)
  File "[..]/lib/python3.9/site-packages/joblib/externals/loky/backend/synchronize.py", line 96, in _cleanup

[2021-04-30 15:04] Syed-Al-Khwarizmi commented on #1050
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pycaret 2.3.1 requires spacy<2.4.0, but you have spacy 3.0.6 which is incompatible.
en-core-web-sm 2.3.1 requires spacy<2.4.0,>=2.3.0, but you have spacy 3.0.6 which is incompatible.

I installed spacy==2.3.1 and it worked li

[2021-04-30 15:49] pycaret commented on #1208
@costaverde Unfortunately PyCaret and some of its dependencies yet do not work on Python 3.9.

The error will go away if you degrade to Python 3.6, 3.7, or 3.8.

![image](https://user-images.githubusercontent.com/58118658/116720369-17935c80-a9aa-11eb-9a18-fdd9c705e4bd.png)

Let me know how it goes.

[2021-04-30 15:52] pycaret commented on #1206
@ganesh3 What you need is the name of columns in the same order that you can attach with this. To get the name of columns:

[code]

Hope this helps. Please close the issue if this answers your question.

[2021-04-30 15:53] pycaret commented on #1205
@dalmad2 Can you please upload the logs file here so we can see what's going on.

cc: @Yard1

[2021-04-30 15:53] #1204 closed

[2021-04-30 15:54] pycaret commented on #1193
@ifyoungnet Not yet possible. Would you like to take an attempt at this enhancement?

[2021-04-30 15:57] pycaret commented on #1186
@snewhouse Would you like to work on this issue?

[2021-04-30 15:59] pycaret commented on #1176
@Chopin2 Thanks for your input. What's the use case to know the performance metrics on the train set? Just trying to understand...

[2021-04-30 16:34] Yard1 commented on #1194
@pycaret It's possible, I hadn't had the chance to check. @pit9921 Can you update your PyCaret version to 2.3.1 and try again?

[2021-04-30 16:35] Yard1 commented on #1205
It would be great if you could make a reproductible Google Colab notebook @dalmad2

[2021-04-30 18:55] dalmad2 commented on #1205
@pycaret @Yard1 Here is the log file.
[logs.log](https://github.com/pycaret/pycaret/files/6407478/logs.log)

I am trying to make a reproductible Google Colab notebook, but I haven't been succeeded because I can't use the original data and the original data contains confidential information.

[2021-04-30 23:06] dalmad2 commented on #1205
I resolved my issue. What I needed was to use to object from `compare_models()` and save the object with the `save_model` method.

For example,
[code]

I am closing this ticket. Thank you @Yard1

[2021-04-30 23:08] #1205 closed

[2021-05-01 11:19] #1094 closed

[2021-05-01 11:21] ngupta23 commented on #321
Not sure, its been a while. We can close it. I will reopen it if needed.

[2021-05-01 11:21] #321 closed

[2021-05-01 11:23] ngupta23 commented on #137
Hi @sathishkumar999 , This is currently in work. A Alpha/Beta version should be ready shortly. Would you be interested in being one of the testers for this module?

[2021-05-01 11:25] ngupta23 commented on #319
Its been a while now so we can close this. If needed, we will reopen it.

[2021-05-01 12:03] costaverde commented on #1208
Yes, it goes well with Python 3.8. Thanks for the great work.

[2021-05-01 12:03] #1208 closed

[2021-05-01 15:49] ngupta23 opened #1209 "Modularizing Model Containers"
To make more clear and clean the `__init__` of the ArimaContainer, is it possible to decompose this process into methods that get called in the `__init__` ?. For example `return_order_related_params` can be a method of this class called during init

[code]

_Originally posted by @TremaMiguel in https://github.com/pycaret/pycaret/pull/1198#discussion_r624526592_

[2021-05-02 01:57] pycaret commented on #21
Hi All,

@HenriqueAJNB @Yard1 @jamesmyatt

Long time - Since now `xgboost` is no more a dependency in `requirements.txt`, can we look at this issue again and try to make `pycaret` available on conda?

[2021-05-02 13:31] bimhud opened #1211 "Binning From the pipline having an issue if the feature removed previously by other pre-processing"
The function of binning for numeric features has an issue if a feature was previously removed by a pre-process step.

It is suggested to do a check before processing the feature rather than taking what the user input on the `bin_numeric_features`.  The updated code demonstrates the concept for how to fix it.

``

pycaret/internal/preprocess.py line 1232

      if len(self.features_to_discretize) >

[2021-05-02 17:09] Sandy4321 opened #1212 "pls add same functionality as R caret : 143 Quantile Regression Neural Network qrnn"
**Is your feature request related to a problem? Please describe.**
https://github.com/tobigithub/caret-machine-learning/wiki/caret-ml-overview

143 | Quantile Regression Neural Network | qrnn
-- | -- | --

**Describe the solution you'd like**
same functionality as R caret : 143  Quantile Regression Neural Network  qrnn

[2021-05-02 20:04] jamesmyatt commented on #21
xgboost is not a problem on conda-forge win64 anymore.

[2021-05-03 09:41] akashg116414 commented on #1185
In model.predict(), if we pass the date or a date range, the model should forecast or predict but it giving error that "in sktime==0.5.3, TypeError: `values` type not supported. `values` must be one of ('int', 'np.array', 'list', 'pd.Int64Index', 'pd.RangeIndex', 'pd.PeriodIndex', 'pd.DatetimeIndex'), but found: <class 'str'>"

But with statsmodel.arima or sarimax allows date or dateRange to predi

[2021-05-03 09:45] akashg116414 opened #1213 "Support for Arimax and Sarimax Models in timeseries branch"
please Support auto regressive model with seasonality like sarimax and arimax in compare_model, create_model and tune_model as Arima is not enough for data with seasonal behaviour.

[2021-05-03 09:47] akashg116414 opened #1214 "Support for fbprophet in Timeseries branch"
Support fbprophet for timeseries forecasting, add fbprophet in create_model, compare_model and tune_model for timeseries forecasting.

[2021-05-03 09:49] akashg116414 opened #1215 "Support neural network based timeseries forecasting"
support for LSTM, GRU, and RNN in timeseries in create_model, compare_model and tune_model.

[2021-05-03 09:51] akashg116414 opened #1216 "Support plots and metrics in Evaluate_model in timeseries branch."
support plots like ACF, PCF, and other important Plots and Metrics for timeseries evaluate_model.

[2021-05-03 10:39] ngupta23 commented on #1185
From the error, it looks like your index is a `string` and not `datetime`. Can you check the type of the index?
Also, please provide a reproducible example, otherwise we are just guessing at what is happening.

[2021-05-03 10:40] ngupta23 commented on #1216
Hi @akashg116414 , thanks for the feedback. Yes, this is planned in the time_series module already.

[2021-05-03 10:41] ngupta23 commented on #1214
Hi @akashg116414 , Thanks for the feedback. Yes, this is planned already in the time-series module.

[2021-05-03 10:45] ngupta23 commented on #1213
Hi @akashg116414 , This is already present in the module (under development) to some extent. Note that `arima` is a general term in the `create_model`, Under the hood it is actually `SARIMA` so it takes seasonality into account.

The initial version will only support univariate analysis. When multivariate analysis (SARIMAX) is incorporated into the base `sktime` library, we will include that in `p

[2021-05-03 10:47] ngupta23 commented on #1215
Hi @akashg116414 , Thanks for the feedback. We will note this as a feature for future releases, but for the initial release, only traditional statistical models and reduced regression models are planned.

It may be worthwhile for us to produce a roadmap document for `time_series` that lists out what will and will not be covered in each release.

[2021-05-03 10:50] ngupta23 commented on #1215
@akashg116414 By the way, if you are interested in being a Beta tester for the time-series module, please join the [slack channel](https://github.com/pycaret/pycaret/discussions/1003). We can discuss more requirements and ideas there.

[2021-05-03 11:48] ngupta23 commented on #1093
It may be possible that the preprocessing is changing the number of features in the dataset. After the setup, you may be able to get the X_train value using `get_config` ([see doc](https://pycaret.org/get-config/)). Then pass that number of columns in X_train to your custom model before adding it to `pycaret`.

[2021-05-03 12:09] #1039 closed

[2021-05-03 12:11] ngupta23 commented on #243
Hi @sathishkumar999 @Tinnguy , Hopefully [this article](https://towardsdatascience.com/time-series-anomaly-detection-with-pycaret-706a6e2b2427) from @moezali1 will help answer your questions.

[2021-05-03 20:40] usyed15181 opened #1218 "predict_model() index reset issue"
I am using Pycaret Classification and want to add ignored features back to predict_model()'s dataframe. I cannot do it because test set's index is reset after predict_model().

For e.g., Take this dataset,
index | Feature A | Feature B | Feature C | Target
0 | 10 | 20 | Adam | Yes
1 | 20 | 30 | Steve | No
2 | 100 | 100 | Shan | Yes

At setup() I ignore Feature C, so train/test dataset becomes
inde

[2021-05-03 21:11] ngupta23 commented on #1212
Hi @Sandy4321, If you do find this regressor in a Python package and if it is `scikit-learn` compatible (has `fit` and `predict` method amongst other things), you can add it as a custom model in `pycaret`. An example is shown below and you can find some details [here](https://pycaret.org/create-model/).

[code]

[2021-05-04 05:48] pit9921 commented on #1194
Hi, it works now, thank you.

[2021-05-04 06:05] akashg116414 commented on #1213
Sarimax can be used for univariate Timeseries forecast as well, it need not multivariate always, AutoVIML and statsmodel.sarimax support Univariate timeseries as well. so can it be part of compare_model , create_model and tune_model.

How to choose between univariate and Multivariate in setup function.

[2021-05-04 06:09] akashg116414 opened #1219 "Normalization and scaling of continuous variable in timeseries branch"
support Normalization and scaling of continuous variable in Timeseries branch also.

[2021-05-04 08:07] akashg116414 commented on #1185
[timeseries_predict.zip](https://github.com/pycaret/pycaret/files/6419743/timeseries_predict.zip)
Upload a Notebook Example where Model is loaded using joblib but fails to predict which is serialized pipeline stored by pycaret in MLFLOW.

[2021-05-04 10:45] ngupta23 commented on #1219
It should allow for the same preprocessing as regression. Does it not do that right now?

[2021-05-04 10:54] ngupta23 commented on #1213
Maybe I was not clear. We do support univariate analysis right now with SARIMAX in `pycaret` (`time_series` branch which is under development). We do not support Multivariate analysis right now since it is not there in the base `sktime` library. We will add multivariate analysis to `pycaret` once this capability is added to `sktime`.

To use SARIMAX for univariate analysis, see [this notebook](htt

[2021-05-04 10:56] akashg116414 commented on #1219
No, it is giving the error.
please find attachment of images of error.
![image](https://user-images.githubusercontent.com/59723097/116993684-6ff19380-acf5-11eb-9b0e-0da8a7ee269a.png)

![image](https://user-images.githubusercontent.com/59723097/116993581-4fc1d480-acf5-11eb-8cec-60ac2db50631.png)

[2021-05-04 10:57] akashg116414 commented on #1215
@ngupta23 link is invalid for slack channel. can you re-share it.
Thanks.

[2021-05-04 10:59] ngupta23 commented on #1219
OK, I see now. We have disabled it for the initial development. We will try to enable it back later once the basic flow has been completed.

[2021-05-04 11:04] akashg116414 commented on #1219
ok thanks, is their any timeline when will initial release for timeseries.

[2021-05-04 11:15] ngupta23 commented on #1185
Hi @akashg116414 , Unfortunately, this is not a reproducible example and I am unable to run it for the following reasons.

1. You are loading model from your local directory (No one else has access to this model)
2. We don't know how you have trained your model. Please provide the code for training as well.
3. The data set is also on your local directory so it can not be loaded by anyone else.

Pl

[2021-05-04 11:19] ngupta23 commented on #1219
Maybe end of 2Q (depends on availability of developers :) ).

[2021-05-04 11:43] #1194 closed

[2021-05-04 11:44] ngupta23 commented on #1215
That one may have expired. Try [this one](https://join.slack.com/t/pycaret/shared_invite/zt-p7aaexnl-EqdTfZ9U~mF0CwNcltffHg).

[2021-05-04 13:31] balins commented on #137
Hi @ngupta23, sorry, but I'm no longer into time series analysis.

[2021-05-04 15:45] Sandy4321 commented on #1212
it is the point there is no such functionality on scikit learn but only in R caret : 143 Quantile Regression Neural Network qrnn

[2021-05-05 10:54] #1037 closed

[2021-05-05 12:29] akashg116414 commented on #1219
okay thanks.
Is first release have multivariate support also?

[2021-05-05 12:46] amgfernandes opened #1222 "Limit the number of processors being used"
I am aware that you can use n_jobs to decide if you are going to use all processors or a single one.

But, is there a way to limit the number of processors that can be used (for example if you want to limit to 10)?

Thank you in advance,
Miguel

[2021-05-05 13:04] ngupta23 commented on #954
@Cytotoxicity we will close this. Feel free to reopen or submit another issue if there are other issues with `pycaret`.