[2021-09-12 14:57] moezali1 opened #1566 "get_config for certain variables not working in time_series"
get_config for certain variables not working in time_series

[code]
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_28112/1317718211.py in <module>
----> 1 get_config('X_test')

~\pycaret\pycaret\internal\utils.py in wrapper(*args, **kwargs)
    780

[2021-09-12 15:00] moezali1 opened #1567 "display_format = 'streamlit' function in plot_model of time_series"
display_format= 'streamlit' function in plot_model of time_series

The `display_format` parameter is to be built in the `plot_model` of time_series.

You can see the functionality in `pycaret/internal/tabular.py`.

I can test it for you with Streamlit front-end.

[2021-09-12 15:04] moezali1 opened #1568 "MLFlow logging issue in compare_models of time_series"
MLFlow logging issue in compare_models of time_series

[code]

Check localhost:5000:

![image](https://user-images.githubusercontent.com/54699234/132992636-db293fe7-5461-43d9-baed-97d8790fd9bd.png)

All the runs fail in `compare_models`. Parameters are logged but metrics and artifacts didn't.

![image](https://user-images.githubusercontent.com/54699234/132992655-e0d81e16-9a59-49a5-ace3-d22ea2ea10b

[2021-09-12 15:07] moezali1 opened #1569 "plot_model(plot='splits_cv') improvement in time_series"
plot_model(plot='splits_cv') improvement in time_series

Two improvements:

1. Can we limit the y-axis to only integer labels. See the example below in which we see 0.5, 1.5, 2.5:
![image](https://user-images.githubusercontent.com/54699234/132992723-5202e424-65fd-449a-9e49-32d6f0a64d40.png)

2. `splits_cv` plot on the dataset with 3000+ data points takes down the entire Notebook. It makes it non-r

[2021-09-12 15:09] moezali1 opened #1570 "display progress bar in compare_models of time_series behaving abnormal"
display progress bar in compare_models of time_series behaving abnormally:

The bar hits the full completion but the run isn't completed. 10+ models were remaining at this point:

![image](https://user-images.githubusercontent.com/54699234/132992847-3db8437e-8218-4204-a410-a6fc22a3c16f.png)

[2021-09-12 18:54] nunon commented on #1539
@moezali1 please check again now.
thanks!

[2021-09-14 11:49] souravjamwal77 opened #1573 "Installation error on Google Colab and local Ubuntu 20.04"
**Couldn't install the PyCaret on Google Colab and Local Ubuntu 20.04**
This is related to unmatched dependencies, as pyLDAvis 3.3.1 (latest) requires numpy>=1.20 and yellowbrick requires numpy<=1.20, which is creating a conflict for installing NumPy. I installed PyCaret on my system by downgrading pyLDAvis to 3.2.2

**To Reproduce**
- just try to install PyCaret in a new virtualenv or on Google C

[2021-09-14 13:16] moezali1 commented on #1573
@souravjamwal77 I just tried installing on Google Colab. I got warnings but the installation works fine:

![image](https://user-images.githubusercontent.com/54699234/133264398-6a2d4cf2-78e4-4510-a344-9015e3c160d2.png)

[2021-09-14 13:40] souravjamwal77 commented on #1573
@moezali1, yes it's installed on Google Colab, but running on unmet dependencies still concerns me.
Also, for local testing, I think you're using windows, I tried on Ubuntu with pyenv for python versions(3.7 and 3.8) and for virtualenv I used venv and pipenv both but failed on NumPy on both of these.
You've pyLDAvis=3.2.2 installed on windows but for Linux it automatically installs 3.3.1 which has

[2021-09-15 02:14] NaelsonDouglas opened #1574 "[BUG] Numpy Versioning incompatibility"
**Describe the bug**
Numpy is [pinned on version 1.19.5](https://github.com/pycaret/pycaret/commit/c198f0f720800e05b04b7633fc676a59bc7845f5), but several other dependencies have their own version pinning for Numpy and specially on the case of **yellowbrick**, there's a conflict going on.

If we just call 'pip install -r requirements.txt', this error will not appear, but on the other hand, we will

[2021-09-16 14:12] elBichon opened #1575 "[BUG]building docker image fails"
Hello team
I am trying to build a docker image for pycaret (both locally and in a github actions), at first I just used the dockerfile that is provided in the documentation and systematically get this error
"  ERROR: Could not build wheels for bottleneck which use PEP 517 and cannot be installed directly
  The command '/bin/sh -c pip install --trusted-host pypi.python.org -r requirements.txt' retu

[2021-09-16 20:05] moezali1 commented on #1573
@Yard1 @mavs @ngupta23 What are your thoughts on this?

[2021-09-16 20:06] moezali1 commented on #1575
@elBichon In your docker image, can you install `bottleneck` with `conda` before running `pip install pycaret`. That should fix the issue? Let me know?

[2021-09-16 20:10] moezali1 opened #1580 "Implement 'decomp' plot in the plot_model function of of pycaret.time_series"
Implement 'decomp' plot in the plot_model function of of pycaret.time_series

Can we please implement a new plot type called "decomp".

Example of the plot below. Should be able to take types such as 'addition' or 'mult' as a kwargs argument in the `plot_model` function.

Output must be plotly.

![image](https://user-images.githubusercontent.com/54699234/133679024-dde42290-f3dc-445c-86b6-2f46687f4

[2021-09-17 01:42] souravjamwal77 commented on #1574
@NaelsonDouglas You can check the issue# 1573 [Here](https://github.com/pycaret/pycaret/issues/1573#issuecomment-919162086) for NumPy related issue.
Duplicate of #1573

[2021-09-17 07:20] elBichon commented on #1575
Hi @moezali1, do you mean something like RUN conda install bottleneck ?
I did and now I get a "  ERROR: Could not build wheels for bottleneck which use PEP 517 and cannot be installed directly
  The command '/bin/sh -c pip install --trusted-host pypi.python.org -r requirements.txt' returned a non-zero code: 1"
  I also tried the following combinations:
  "FROM python:3.7-slim
WORKDIR /app
ADD . /a

[2021-09-17 10:33] naujgf opened #1581 "[BUG] Saving interpret_model graph affects plot_model behavior"
**Describe the bug**
There is an issue when interpret_model is executed on a script, affecting the execution of any plot created by the plot_model function in classification and regression problems.
Before the execution of interpret_model the images saved by plot_model creates a plot with all the information correctly but after the execution of interpret_model, the generated graph includes informa

[2021-09-17 14:29] moezali1 commented on #1581
@naujgf Thanks for reporting. Would you like to submit a PR for this? We can include this fix in our next release, I think. @Yard1 ?

[2021-09-17 14:30] moezali1 commented on #1575
@wkuopt Wondering if you can help here?

[2021-09-17 19:55] wkuopt commented on #1575
Sure @moezali1 i will look into it

[2021-09-18 14:06] #1161 closed

[2021-09-18 14:07] #1288 closed

[2021-09-18 14:07] #1394 closed

[2021-09-18 14:08] ngupta23 commented on #1569
Disable hover points above a certain number of data points * number of splits.

[2021-09-18 14:08] Yard1 commented on #1573
@souravjamwal77 A PR would be appreciated, thanks!

[2021-09-18 14:11] ngupta23 commented on #1565
Get model container from model object, then get model name from container.

[2021-09-18 14:17] ngupta23 commented on #1561
Only show the test set metrics when fh is None. For a user defined fh, do not show test metrics.

Enhancement: if fh < one used for training, then we can show it.

[2021-09-18 14:20] mghifari1910 commented on #251
There's notebook by Hassan Amin on Kaggle explaining unsupervised sentiment analysis using Vader
https://www.kaggle.com/hassanamin/unsupervised-sentiment-analysis-using-vader
https://pypi.org/project/vaderSentiment/

it can assess sentiment based on punctuation, capitalization, conjunctions and slang even on emoji and emoticon
is it possible to implement it on NLP modules?

[2021-09-18 15:16] souravjamwal77 commented on #1573
@Yard1 I'm working in it and will submit PR by day end. Also, I only have linux and Google colab, so, you or someone else have to test that on windows and Mac.

[2021-09-19 02:11] #1357 closed

[2021-09-19 09:28] ngupta23 commented on #1566
@moezali1 @Yard1

I got `X_test` to work, but `create_model_container` does not work. I checked and it does not work for regression either.

[code]

[code]

[2021-09-19 10:05] ngupta23 commented on #1561
@moezali1

I think I already take care of this [Link](https://github.com/pycaret/pycaret/blob/e08165bb1a6e920f7596421716415620fa994b4f/pycaret/internal/pycaret_experiment/time_series_experiment.py#L2690). This is what the logic is doing

1. If fh is not provided, then use fh provided during training
2. If fh is provided and is < fh used during training, then use only the common periods to compute

[2021-09-19 10:24] ngupta23 commented on #1555
@moezali1 - Removed all unnecessary ones except `system`. That is needed for the unit tests to pass (@Yard1 - added this).

[2021-09-19 10:28] ngupta23 commented on #1557
It was called `summary_stats` earlier. Fixed to `summary` now.

[2021-09-19 19:18] Yard1 commented on #1570
Couldn't replicate on my end.

[2021-09-19 19:43] Yard1 commented on #1566
@ngupta23 Looks like we got rid of it, so it's a matter of updating documentation. Will add that to my PR.

[2021-09-19 19:46] Yard1 commented on #1555
We probably can remove system and use something like an env var. Will add that to my PR.

[2021-09-19 20:01] #1564 closed

[2021-09-19 20:02] #1560 closed

[2021-09-19 20:02] #1559 closed

[2021-09-19 20:04] #1566 closed

[2021-09-19 20:05] ngupta23 commented on #1216
Added in `time_series` branch. Will be released with next release.

[2021-09-19 20:05] #1216 closed

[2021-09-19 20:07] ngupta23 commented on #1214
This is already available in the alpha release so closing this issue.

[2021-09-19 20:07] #1214 closed

[2021-09-19 20:08] ngupta23 commented on #1185
We will close this issue since it has been open for a long time without any activity. As far as I understand, predict model is working just fine right now. Feel free to reopen (with a reproducible example) if the issue persists.

[2021-09-19 20:08] #1185 closed

[2021-09-19 20:32] Yard1 commented on #1581
A PR would be appreciated!

[2021-09-19 21:07] ngupta23 commented on #1246
fixed in https://github.com/pycaret/pycaret/pull/1585/commits/46a2ac45439591ce7b306223a2c3a85149c36610

[2021-09-19 21:07] #1246 closed

[2021-09-19 21:20] ngupta23 opened #1588 "Add Exogenous Variable Support for Time Series"
**Is your feature request related to a problem? Please describe.**
Add ability to create multivariate time series

**Describe the solution you'd like**
Current time series module only supports univariate time series. It would be nice to have multivariate time series capability as well.

**Describe alternatives you've considered**
None available.

**Additional context**
`sktime` may have started to

[2021-09-19 21:20] ngupta23 commented on #382
Related to multivariate time series - see https://github.com/pycaret/pycaret/issues/1588

[2021-09-19 21:33] ngupta23 opened #1589 "Incorporate residuals plotting & diagnostics & plotting in time series module"
**Is your feature request related to a problem? Please describe.**
Incorporate residuals plotting & diagnostics in time series module.

**Describe the solution you'd like**
Currently `sktime` does not store the residuals in the model object. Once this is stores in the model object (or an alternate solution exists, incorporate this into `pycaret`).

**Describe alternatives you've considered**
Stori

[2021-09-19 21:40] ngupta23 opened #1590 "Indexing for check_stats() can be improved"
**Is your feature request related to a problem? Please describe.**
`check_stats()` in time series module does not return all settings

**Describe the solution you'd like**
For example, Ljung-Box test returns the K value used but not the alpha. Convert the index based data frame to a column based dataframe with a dictionary for the settings. This will allow the ability to store as many settings as

[2021-09-19 21:53] ngupta23 opened #1591 "[BUG] Time Series Blend Models do not work when making predictions"
**Describe the bug**
Plotting does not work for "some" ensembled models.

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/33585645/133944149-e3e67437-c11a-4105-b1f1-b48c8d03851b.png)

**Expected behavior**
Would have expected mean and voting blender to work as median does

![image](https://user-images.githubusercontent.com/33585645/133944209-f926bc8d-93cf-4a10-b7d5-34ba

[2021-09-20 07:56] naujgf commented on #1581
Hi @moezali1 @Yard1
Yes, I can fix this, I'll create the PR during the day.

[2021-09-20 08:05] elBichon commented on #1575
Thanks to the two of you, if it helps, maybe I can share the repo with you ?

[2021-09-20 09:00] salmanea opened #1592 "XGBoost"
**Is your feature request related to a problem? Please describe.**
Hi, thanks for the great work. I am missing XGBoost among the methods that Pycaret has.

**Describe the solution you'd like**
Please add XGBoost classifiers and regressors to Pycaret.

[2021-09-20 09:04] salmanea opened #1593 "Specificity"
**Is your feature request related to a problem? Please describe.**
I think optimizing on metrics should also allow for specificity

**Describe the solution you'd like**
Please add specificity so that something like this is available:  `compare_models(sort='specificity')`. It is important as it provides a clearer picture of False Positives of the classification.

[2021-09-20 10:55] ngupta23 commented on #1592
It is already available ([Link](https://github.com/pycaret/pycaret/blob/e3d5c0fdf949c896aa82b23503a9316d7ef8eb7c/pycaret/containers/models/regression.py#L1437)). You may have to install the xgboost library separately since it is a soft dependency.

[2021-09-20 10:58] ngupta23 commented on #1593
You can add your own metrics to the list (specificity) and optimize them. Check out this issue: https://github.com/pycaret/pycaret/issues/880

[2021-09-20 12:27] mossan555 commented on #1592
I think that you should type "pip install pycaret[full]".

If you type "pip install pycaret", you will get a part of PyCaret.

[2021-09-20 12:44] salmanea commented on #1593
Thanks @ngupta23. I followed the link but I couldn't understand how one could add their own metrics.

[2021-09-20 12:45] salmanea commented on #1592
Thanks both. I'll close this.

[2021-09-20 12:45] salmanea commented on #1592
Thanks both. I'll close this.

[2021-09-20 12:45] #1592 closed

[2021-09-20 13:38] moezali1 commented on #1593
@salmanea Here is example I created for you:

[code]

![image](https://user-images.githubusercontent.com/54699234/134011861-99d7f216-39cd-4638-ac5a-23c684882657.png)

Hope this helps.

Ref: https://stackoverflow.com/questions/33275461/specificity-in-scikit-learn

[2021-09-20 13:38] #1593 closed

[2021-09-20 16:14] mghifari1910 opened #1594 "Unsupervised Sentiment Analysis Using Vader"
Hello,
In the NLP Model, when we returned the dataframe with topics and the dominant_topic Is it also possible to automatically label each row with the positive, negative or neutral category?

There's notebook by Hassan Amin on Kaggle explaining unsupervised sentiment analysis using Vader
https://www.kaggle.com/hassanamin/unsupervised-sentiment-analysis-using-vader
https://pypi.org/project/vaderSe

[2021-09-20 23:34] moezali1 commented on #1594
@mghifari1910 I wouldn't oppose the idea of adding a new model called `sentiment` under the `create_model` function of `pycaret.nlp`. Would you like to work on this @mghifari1910?

[2021-09-20 23:41] moezali1 commented on #1504
@deepakmehta79 I wouldn't mind that addition in the existing `tune_model` function of `pycaret.clustering`. Would you like to work on this enhancement?

[2021-09-20 23:42] moezali1 commented on #1503
@sarahzouinina Hi. Can you confirm if the issue is resolved?

[2021-09-21 06:08] salmanea commented on #1593
@moezali1 Thanks for the example. Appreciate it.

[2021-09-21 06:26] GDGauravDutta opened #1595 "[BUG] IndexError: index 3 is out of bounds for axis 0 with size 3 exception while using predict_model() function"
IndexError: index 3 is out of bounds for axis 0 with size 3 exception while using predict_model() function

predict_model(tuned_lightgbm)

Error :
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/tmp/ipykernel_43/3931662032.py in <module>
----> 1 predict_model(tuned_lightgbm)

/opt/conda/lib/pyt

[2021-09-21 07:50] sarahzouinina commented on #1503
@moezali1 Thank you for the mention, yes it is solved

[2021-09-21 07:50] #1503 closed

[2021-09-21 07:57] pratapwarrohit13 opened #1598 "Getting error while Installation"
Hi,

I am getting VS2014 C++ error while installing pycaret, I have installed C++ library but no luck

[2021-09-21 08:33] mghifari1910 commented on #1594
i'm sorry but i have no experience/knowledge in package development so i think i can't help on this :(
Thank you Sir Moez can't wait for it to be implemented & released on new update. Oh also, can the evaluation dashboard include bar chart comparing each sentiment distribution and top words for each sentiment?

[2021-09-21 12:57] moezali1 commented on #1598
@pratapwarrohit13 Can you please post a complete traceback of the error. I guess this issue is related to `bottleneck` library. This may solve your problem:

[code]

Let me know if that helps.

[2021-09-21 12:59] moezali1 commented on #1594
@mghifari1910  no problem. I will keep this issue open until somebody shows the interest in working on this.

[2021-09-21 13:33] NadeemNicoR opened #1599 "How to figure out the random state that is being used for the default 10 fold stratified Cross validation"
#### Describe the issue linked to the documentation
How to figure out the random state that is being used for the default 10 fold stratified Cross validation

I do see that there is something called sessions id which is like the random state for the whole of the experiment to be recreated but that does not give any clear info on what is the random state that is being used for the K-fold stratified

[2021-09-21 14:47] GDGauravDutta commented on #1595
https://www.kaggle.com/gauravduttakiit/fetal-health-classification-tuned-at-accuracy

Added

[2021-09-21 15:59] #1599 closed

[2021-09-21 16:16] NaelsonDouglas commented on #1574
Oh, thanks.

So it's safe to close this issue, right?

[2021-09-22 07:27] NadeemNicoR commented on #1599
This seems to be night right. i had a sessions id = 2514, when i was trying to tune model(for xgboost) i saw the hyperparameter random state for the model being 42.!!!!?

[2021-09-22 18:01] reza1615 opened #1601 "Adding Dummy Classifier and regressor as Baseline to compare_models"
Sometimes we need a baseline model which acts like common sense or human.
Would you please add the Sklearn [Dummy ](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html#sklearn.dummy.DummyClassifier) Classifier and regressors to the compare_models with different strategies

**Regressor**
* “mean”: always predicts the mean of the training set
* “median”: always predi

[2021-09-23 06:34] IgorFobia commented on #206
I keep having the same issue.
I am using
pycaret==2.3.3
jupyterlab==3.1.12

[2021-09-23 11:15] NadeemNicoR opened #1603 "More of a suggestion to add to the documentation: where to find the version of lets say catboost algorithm associated with a certain version of pycaret"
#### Describe the issue linked to the documentation
More of a suggestion to add to the documentation: where to find the version of lets say catboost algorithm associated with a certain version of pycaret.
i have an issue in using the hyper parameters that i just tuned using tune_model on pycaret, on the official catboost docx i see some of the parameters have been removed. i want to use the same v

[2021-09-23 11:22] NadeemNicoR commented on #1603
i have found the page, i think i did not search good enough :)
https://libraries.io/pypi/pycaret/2.3.3 is the place that you can find all the versions of the dependency/ additional libraries

[2021-09-23 11:22] #1603 closed

[2021-09-23 13:36] jfagn commented on #1390
I think by "experiment" you mean "run". Otherwise, you can simply create a new run in MLFlow with only your additional output.

[2021-09-23 13:41] jfagn opened #1605 "Group MLFlow runs"
**Is your feature request related to a problem? Please describe.**
A usual Pycaret workflow leads to multiple runs being logged to MLflow (setup, create_model, tune_model, ...). It's not always clear which runs are related to which.

**Describe the solution you'd like**
Creating a "main" mlflow run at the beginning of the process (setup) and having subsequent runs be nested under that main run.

*

[2021-09-23 13:44] reza1615 commented on #1601
**Added Dummy Classifier**

![Screenshot from 2021-09-23 09-38-34](https://user-images.githubusercontent.com/2202483/134517721-a5624232-3489-47a5-b8e8-3f1a5a871eb6.png)

**Added Dummy Regressor**
![Screenshot from 2021-09-23 09-43-20](https://user-images.githubusercontent.com/2202483/134518166-fe5a0b3d-3551-4d10-ba68-0db4df647267.png)

[2021-09-23 19:22] moezali1 opened #1606 "Add add_model and remove_model functionality"
Add `add_model` and `remove_model` functionality in all modules of pycaret.

Similar to `add_metric` and `remove_metric` we should have a functionality to append new estimators to model container or remove existing ones by `add_model` and `remove_model` function.

Likely impact: `pycaret.classification` `pycaret.regression` `pycaret.clustering` `pycaret.anomaly` `pycaret.nlp`

Let's target this fo

[2021-09-23 19:23] moezali1 commented on #1605
@jfagn I am not opposed to an idea. Would you like to work on this enhancement for `2.3.5` release?

[2021-09-23 19:35] mpaulonis opened #1607 "[BUG] custom_pipeline in setup does not transform the dataset"
Based on some discussion in the PyCaret Slack, I attempted to help a user employ custom_pipeline in setup to do some custom dataset preprocessing that they wanted to embed in the preprocessing pipeline such that it would be retained through model save/load operations.  They were unable to get custom_pipeline to complete their simple data transformation.  I looked at the code in tabular.py and it's

[2021-09-23 19:37] moezali1 opened #1608 "Probability threshold for metric evaluating in pycaret.classification"
Probability threshold for metric evaluating in `pycaret.classification`

Currently, all metrics during cross-validation or hold-out are evaluated using a default probability threshold of 0.5.

The `create_model` function or other training functions (tune_model, ensemble_model, etc). are calling the `predict` function on the trained model object to get the `y_pred` which is then evaluated with `y_t

[2021-09-23 19:38] moezali1 commented on #1574
@Yard1 @ngupta23 @tvdboom @wkuopt @IncubatorShokuhou Do you guys have any thoughts on this?

[2021-09-23 19:41] #1520 closed

[2021-09-23 19:43] moezali1 commented on #1448
@Yard1 Do you have any updates from the W&B guy? The last time I heard he went on a vacation and then the team changed. Would be good to follow up with them. Would be good to introduce this integration in `2.3.5` and so it can be stable by `3.0`.

[2021-09-23 19:52] raultomasmora opened #1609 "ValueError: dtype for the target variable should be int32 or int64 only"
**Describe the bug**

In regression it is usual to use independent variables in float.
In Pycaret version 2.3.4 I get the following error in regression when activating "Remove Multicollinearity=True", in "False" it does not give the problem.
ERROR: pycaret regression ValueError: dtype for the target variable should be int32 or int64 only

I understand that it should support float and integer value

[2021-09-23 20:00] moezali1 commented on #1609
@raultomasmora I just tried this on the `diamond` dataset and it worked for me. I am also on `2.3.4`

[code]

![image](https://user-images.githubusercontent.com/54699234/134575525-d02ac700-fec2-4126-a424-1848ff0be644.png)

![image](https://user-images.githubusercontent.com/54699234/134575533-11547122-e524-46ea-be0f-9ff94a43fca9.png)

[2021-09-23 20:54] raultomasmora commented on #1609
Try changing dataset['Price'] which is in int, changing it to float
dataset['Price'] =  dataset['Price'].astype('float32')

FULL
from pycaret.datasets import get_data
dataset = get_data('diamond')

dataset['Price'] =  dataset['Price'].astype('float32')

from pycaret.regression import *
exp_reg101 = setup(data = dataset, target = 'Price', session_id=123,
                   remove_multicollinearity

[2021-09-23 20:58] raultomasmora commented on #1609
I have detected the error in other data in my research, but in order to reproduce it, I have approached it with the diamond database.
I work with independent variables in regression as logarithms, so they have many decimals and are float. In version 2.2.1 I didn't get this error and I could use remove_multicollinearity = True without problems.

[2021-09-23 21:03] raultomasmora commented on #1609
Related Issuse or bug
fix target missing for multicollinearity [#1508](https://github.com/pycaret/pycaret/pull/1508)

[2021-09-24 00:11] raultomasmora opened #1610 "Save plots in other formats, vectorial and image"
**Is your feature request related to a problem? Please describe.**
Currently it is only possible to save plots in png format, but there is the possibility to implement other output files (pdf, svg, eps, jpg, tif).

**Describe the solution you'd like**
Possibility to save plots in other formats, such as vector (pdf, svg, eps) or image (jpg, tif, png).

**Describe alternatives you've considered**
I

[2021-09-24 13:32] NadeemNicoR opened #1611 "Tuning hyper parameters with optimization metric being LogLoss defined explicitly gave bad results"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions** pycaret 2.3.3
<details>

</details>

[2021-09-24 13:36] NadeemNicoR commented on #1611
i have added some notes to the expected behavior not sure why it does not show up above hence i'm adding it again here:

log loss should be minimized, the current condition the function ended up maximizing it, since most of the performance metrics are considered good when their values are max, may be the source code aims at maximizing the metric value for log loss as well

[2021-09-24 13:36] NadeemNicoR commented on #1611
i have added some notes to the expected behavior not sure why it does not show up above hence i'm adding it again here:

log loss should be minimized, the current condition the function ended up maximizing it, since most of the performance metrics are considered good when their values are max, may be the source code aims at maximizing the metric value for log loss as well

[2021-09-24 14:57] Yard1 commented on #1611
How are you adding the metric?

[2021-09-25 10:34] NadeemNicoR commented on #1611
add_metric('logloss', 'LogLoss', log_loss, greater_is_better=False, target="pred_proba")

[2021-09-25 12:33] moezali1 commented on #1562
wrong plot showing up with `plot='cv'`:

![image](https://user-images.githubusercontent.com/54699234/134771754-ab33d0ff-6603-4ecd-902b-1b7121b037a1.png)

[2021-09-25 12:34] moezali1 commented on #1557
Now `check_stats='summary'` shows following error:

![image](https://user-images.githubusercontent.com/54699234/134771786-4ac1db97-2d6d-43db-901c-94a5a549fb60.png)

[2021-09-25 12:39] moezali1 opened #1613 "plot_model bug in time_series module"
I noticed a new bug in the `plot_model` function of `pycaret.time_series`:

[code]

![image](https://user-images.githubusercontent.com/54699234/134771901-9dfb7697-4390-4f68-9c44-b26425f46ca4.png)

Notice that no matter what if no estimator is passed the `ts` plot is generated by default which is expected behavior. The problem is it is not stopping users to pass whatever is in the plot name (for ex

[2021-09-25 12:41] moezali1 commented on #1555
I can still see those parameters:

![image](https://user-images.githubusercontent.com/54699234/134771996-c461a27e-6dd9-45d0-a38b-468c849a8a32.png)

[2021-09-25 12:44] moezali1 commented on #1565
I still don't see the model name in the title. I see in legend. Is it possible to add in the title?

![image](https://user-images.githubusercontent.com/54699234/134772047-754d3339-0ef3-4a60-af39-981d674a2c75.png)

Adding them to the title makes it more readable. I understand why you used `Forecast(s)` in the title so that we can re-use the same function for multiple models being plotted on the sam

[2021-09-25 12:46] moezali1 commented on #1563
The exception message has changed but I am not sure if this is correct:

![image](https://user-images.githubusercontent.com/54699234/134772131-f9a8889e-4a08-447e-9f8d-d2ce4d86cfee.png)

You see all the plot names are treated as one big string as oppose to: 'ts', 'train_test_split', 'cv', 'acf', 'pacf' etc.

[2021-09-25 12:49] moezali1 commented on #1561
@ngupta23 I propose we keep it simple. If the `fh` is provided, do not show the grid at all and only show the forecast. What do you think? If people request dynamic metric scoring on test set with varied `fh` ranges, we can later add it as an enhancement.

[2021-09-25 12:50] moezali1 commented on #1611
@NadeemNicoR Not sure if this is the bug. Can you try using sklearn directly and see if you get the same behavior?

[2021-09-25 12:50] moezali1 commented on #1610
@raultomasmora I like this idea. Would you like to work on this enhancement?

[2021-09-25 12:51] moezali1 commented on #1609
@wkuopt Can you look into this? Please..

[2021-09-25 12:51] moezali1 commented on #1607
@Yard1 @tvdboom Something for you guys to look into.

[2021-09-25 12:53] moezali1 commented on #1468
@lauraamy This looks like your OS issue with `lightgbm`. Are you using MAC?

[2021-09-25 12:53] #1471 closed

[2021-09-25 12:57] NadeemNicoR commented on #1611
@moezali1  when I tried tuning the hyperparameters w.r.t inbuilt ones like AUC i was able to get better cross validation score than the default model but when I did it w.r.t add matric it was giving contrary results. none the less, now I see it is working fine, not sure what had happened before. i tried repeating the experiment for the same sessions id / seed now it is giving results as it ideally

[2021-09-25 12:57] #1611 closed

[2021-09-25 12:58] moezali1 commented on #1539
@nunon I looked at your Notebook and I find nothing wrong. You did `compare_models` and then a couple of the `create_model` and `tune_model` calls. This is the model that gets picked up in the `automl` function based on MAE.

![image](https://user-images.githubusercontent.com/54699234/134772423-c4a33db5-a1ad-4331-af71-15122f08c016.png)

This is correct and expected behavior. This is the lowest `MA

[2021-09-25 12:58] #1539 closed

[2021-09-25 13:04] raultomasmora commented on #1610
I am not a programmer or computer scientist, I am a researcher in construction and housing market, interested in machine learning. I don't feel qualified to program it, I only know that I can print the plots in pdf and I wanted to share it with others. It would be very useful to implement it in pycaret.

[2021-09-25 13:25] ngupta23 commented on #1562
Estimator is the first argument. Can you try with `plot="cv"` explicitly?

[2021-09-25 13:27] ngupta23 commented on #1565
Could you not have something like this pretty soon `plot_model([model1, model2, model3])`. I think that should be coming fairly quickly.

[2021-09-25 13:31] lauraamy commented on #1468
Yes ! I'm using MAC
In my case I can get lightgbm to work with pycaret, but for a smaller dataset

[2021-09-25 13:32] ngupta23 commented on #1557
try with explicit argument since estimator is the first argument in the function

`check_stats(test="summary")`

[2021-09-25 13:34] ngupta23 commented on #1555
I forgot to remove them from functional API. I will remove them in the next PR shortly.

[2021-09-25 14:18] moezali1 commented on #1613
Also to add:

This means we will need to raise an exception when `estimator` is not a trained model object. (maybe check for string?)

[2021-09-25 14:21] #1570 closed

[2021-09-25 14:26] moezali1 commented on #1565
As agreed:

Title can be: {name of time_series} Actual and Forecast

If there is no name then "Actual and Forecast".

[2021-09-25 14:32] #1562 closed

[2021-09-25 14:36] moezali1 commented on #1561
As discussed:

Keep the functionality. but when `fh` is not None. Let's print and log a generic exception saying something about "metric grid is evaluated only for common periods ....."

[2021-09-25 14:43] #1557 closed

[2021-09-25 14:49] #1556 closed

[2021-09-25 14:52] moezali1 commented on #1558
It working for Object-Oriented API but does not work for functional API.

[2021-09-25 14:54] moezali1 commented on #1561
Re-discussed:

Please implement if `fh` is not None and `X_test` doesn't exist in the global environment then do not display metric grid.

Use-case: If I try to use the trained model in the new Notebook where X_test doesn't exist in the global environment, the Metric grid is all NaN.

[2021-09-26 01:21] ngupta23 commented on #1561
@moezali1 How do I reproduce this? I am not seeing the metrics displayed on my end.

![image](https://user-images.githubusercontent.com/33585645/134789965-b4cc7caa-41f2-48a6-9f05-48a65b92fcc7.png)

[2021-09-26 15:39] #1555 closed

[2021-09-26 15:39] #1563 closed

[2021-09-26 15:39] #1613 closed

[2021-09-26 15:40] ngupta23 opened #1616 "Forecast Plot for multiple models"
Could you not have something like this pretty soon `plot_model([model1, model2, model3])`. I think that should be coming fairly quickly.

OR even

[code]

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/issues/1565#issuecomment-927121049_

[2021-09-26 15:42] #1591 closed

[2021-09-26 15:42] #1565 closed

[2021-09-26 15:46] ngupta23 commented on #1404
This is fixed by https://github.com/pycaret/pycaret/pull/1615

[2021-09-26 15:49] #1404 closed

[2021-09-26 16:53] Yard1 commented on #1558
Ok, will look into it

[2021-09-26 19:30] franz101 opened #1618 "[BUG] Running on M1 will lead to umpy version error (pycaret 2.3.4)"
**Installing pycaret on the m1 leads to a runtime error**

[code]
[code]

The training runs but it gives errors

[code]

[2021-09-26 21:27] #1558 closed

[2021-09-26 22:53] moezali1 commented on #1561
@ngupta23 You are using the `predict` method from the class itself. You should do this instead:

[code]

[2021-09-27 00:26] #1590 closed

[2021-09-27 02:13] ngupta23 commented on #1561
@moezali1  Please check out the PR for this fix. Thanks!

[2021-09-27 04:51] birend17 commented on #1411
Any updates on this ? Similar issues faced by me as well.

[2021-09-27 13:30] ngupta23 opened #1623 "Add crostons model to the time_series module"
**Is your feature request related to a problem? Please describe.**
This is now available in sktime.
https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.forecasting.croston.Croston.html

**Describe the solution you'd like**
Include crostons in model zoo

**Describe alternatives you've considered**
None

**Additional context**
Useful for intermittent time series forecasting

[2021-09-27 14:04] rspadim opened #1624 "[BUG] GroupKFold"
I was trying groupkfold split and i had errors, i think kfoldgroup values aren't being splitted at internal functions
what i did:

[code]

exception:
ValueError: groups has lenght 1624 which doesn't match X_train length of 1136.

i think it's a problem with split function internally, maybe something like:
receive the dataframe, train test split (70%), train the model but forgetting the train_test_

[2021-09-27 14:58] jfagn commented on #1605
@moezali1 what is the timeline? I would like to, but don't have the time to do so at the moment.

[2021-09-28 13:12] rspadim opened #1631 "Faster TSNE"
Could we use a faster tsne engine?
https://github.com/DmitryUlyanov/Multicore-TSNE

[2021-09-28 13:15] nunon commented on #1539
@moezali1
The issue is the model deployment as per script test_predict.ypnb

from pycaret.regression import *
new_prediction = predict_model(saved_final_lightgbm, data = data_unseen)

Returns error:
ValueError: Pipeline not found

[2021-09-28 16:21] oberoi2412 opened #1632 "Segmentation fault using hyperopt with RF, ET, KNN regression"
I am getting a segmentation fault when I use hyperopt to tune the RF, ET and KNN regression models. This error did not show up with the other models I ran, such as XGBoost and Huber regression.

This is the code I used:

![image](https://user-images.githubusercontent.com/91555488/135126561-51da269d-5206-435b-b223-b5eecc663d6f.png)

I expect to see a table with the 7 folds specified and the metrics

[2021-09-28 20:19] reza1615 commented on #1608
@moezali1: How about Anomaly models?

[2021-09-29 07:15] skyleong7777 opened #1633 "[BUG]'DataFrame' object has no attribute 'predict'"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Additional context**

**Versions**
refer to the file of test1.ipynb

</details>

[2021-09-30 02:17] #1321 closed

[2021-09-30 05:43] mwada7 opened #1634 "[BUG] Different compare_models() results for the same session_id and dataset"
Hello, I ran compare_models() twice using the same session_id and dataset on Jupyter Notebook yet I got different outputs.
Besides setup(), is there any other place I am supposed to specify session_id to reproduce the same process?

I saw a similar Issue #417, but its conclusion was not applicable for me.
Thanks for your help in advance!

![image](https://user-images.githubusercontent.com/55973363

[2021-09-30 13:52] moezali1 opened #1637 "Add FLAML as a search_library in tune_model function"
Add FLAML as a `search_library` parameter in the `tune_model` function.

Reference: https://towardsdatascience.com/fast-automl-with-flaml-ray-tune-64ff4a604d1c

[2021-09-30 13:55] moezali1 opened #1638 "Add text_features parameter in the setup"
Add the new parameter `text_features` in the `setup` function.

Just like we have `ignore_features` or `date_features`. We should also have `text_features` that gets a column name as a string and run some kind of embeddings. Maybe we can add another parameter `text_features_method` to define things like `CountVectorizer` or `TfidfVectorizer`. We will also have to think a way to be able to pass arb

[2021-09-30 14:44] HanwGeek opened #1639 "[Feat] sklearn upgrade"
**Is your feature request related to a problem? Please describe.**
I would like to know if it is possible to upgrade `sklearn` to `0.25` or higher.
Because I got the warning when I use some metric:
`FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.`

 Also, I want to use topk score which is in `sklearn 0.25`.

**Describe the solution you'd like**
I

[2021-09-30 22:54] rajeshkalakoti commented on #727
could it be possible to get the confusion matrix in percentages with pycaret? if it could be, how to do it?

[2021-10-01 09:08] tvdboom commented on #1639
We are currently working on a new release (v3.0) that should be compatible with the newest version of sklearn (v1.0)

[2021-10-01 11:44] tvdboom commented on #1638
Good idea. Added in the newest commit (see #1492). For now, there isn't an option for the user to decide it's own parameters, he can only choose an estimator: "bow" for bag of words - CountVectorizer or "tf-idf" for TfidfVectorizer. We can think on how the implementation of custom parameters would look like. It would probably require some kind of kwargs parameter in setup, which isn't consistent w

[2021-10-01 14:04] #1609 closed

[2021-10-01 14:05] Mohammedsaied89 opened #1641 "error message " Target parameter: ET0 mm/day does not exist in the data provided.""
![image](https://user-images.githubusercontent.com/54103097/135633101-cc95019c-80ab-4deb-a9c4-c6f28125648d.png)
[mydata - Copy.xlsx](https://github.com/pycaret/pycaret/files/7267757/mydata.-.Copy.xlsx)

[2021-10-01 16:27] ra67052 commented on #1048
Strange I had the same issue, however, earlier in the day I ran it no problem, then afterwards run the notebook and got the same error, I change the kernel from python 3 to python 3.8.2 and it worked :)

[2021-10-02 00:25] NadeemNicoR opened #1642 "remove_perfect_collinearity: bool, default = True"
**Describe the bug**

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2021-10-02 00:25] NadeemNicoR commented on #1642
I see what remove_perfect_collinearity: bool, default = True does, which is as follows as per the documentation:
When set to True, perfect collinearity (features with correlation = 1) is removed from the dataset, when two features are 100% correlated, one of it is randomly removed from the dataset.

with this i have the following queries:
1. now how is it possible to see what were the other featur

[2021-10-02 04:04] wkuopt commented on #1575
@elBichon Yes, could you share the repo with us so that I can investigate more? Also the error seems to be related to the installation of bottleneck. Here is the same issue that I found after a quick search: https://github.com/pydata/bottleneck/issues/281 Have you tried the solutions in it?

[2021-10-02 12:29] #1561 closed

[2021-10-02 12:33] moezali1 opened #1643 "plot_model(model, plot='forecast') error in pycaret.time_series [NEW BUG]"
2/10/2021.

New bug report:

[code]

![image](https://user-images.githubusercontent.com/54699234/135716199-534ace3c-4b37-488f-9327-0947465f4342.png)

`plot_model` command fails:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_58128/3494321475.py in <module>
---->

[2021-10-02 12:38] moezali1 opened #1644 "blend_models method parameter not taking effect in pycaret.time_series"
blend_models method parameter not taking effect in pycaret.time_series

[code]
![image](https://user-images.githubusercontent.com/54699234/135716450-0d68a519-b51e-4359-b1b0-d11e83ff190e.png)

Regardless of the voting method, the results of all these commands are exactly the same. See below:

![image](https://user-images.githubusercontent.com/54699234/135716427-61b48bdc-5565-4f79-8f89-d794feeb6df4.

[2021-10-02 14:07] ngupta23 commented on #1643
Please upgrade to sktime 0.8.0 for this to work.

[2021-10-02 15:25] moezali1 opened #1645 "Attribute in OOP API"
When using OOP API can we please add an attribute `performance` that stores the metric grid as `pd.DataFrame`.

[code]

In second phase we can configure the comparison operators for the class which means that if somebody wants they will be able to do this:

[code]

We will worry about this later.

@Yard1 @ngupta23 I am tagging both of you as this will affect all the modules (as tagged in labels).

[2021-10-02 15:28] moezali1 commented on #1643
This issue is resolved after sktime is updated to 0.8.

[2021-10-02 15:28] #1643 closed

[2021-10-02 15:29] moezali1 opened #1646 "plot_model(model) default plot not correct in pycaret.time_series"
plot_model(model) default plot not correct in pycaret.time_series

[code]
![image](https://user-images.githubusercontent.com/54699234/135722941-4fad332f-1984-4d33-9cd3-b57ff200bbd9.png)

When the estimator is passed i.e. when it is not `None` then the default plot should be `forecast` not `ts`.

[2021-10-03 08:34] mwada7 commented on #1634
I found a possible solution from the Keras community (https://github.com/keras-team/keras/issues/2743).
Following the suggestion and I restarted my Jupyter Notebook, it gave me a reproducible result.
I quite don't know why, but for now my problem is fixed so let me close this issue.

[2021-10-03 08:34] #1634 closed

[2021-10-03 08:56] ngupta23 commented on #1644
@moezali1 , Mean and Voting will give the same answer when no weights are provided to the voting blender (defaults to equal weights).

For median, it is a little surprisong that you are getting the same error, but it looks like you have both ARIMA and Auto ARIMA in the model list so if both of them settle on the same parameters, they will dominate the median calculation out of the 3 models.

I ver

[2021-10-03 10:02] ngupta23 commented on #1644
`method` was not being passed from the functional API to the internal OOP call. This has been fixed now.

[2021-10-03 10:05] ngupta23 commented on #1645
@moezali1 Do you mean you want to add this attribute to the model object (lr, dt)? That would be modifying the underlying `sktime` object. I would not recommend that.

[2021-10-03 12:36] #1554 closed

[2021-10-03 13:26] ngupta23 opened #1648 "Time Series Module Roadmap"
# Gamma Release

## Focus Areas

### Additional Visualization Enhancements
- #1405
- #1616

### Customization Enhancements

- #1436
- #1437

### Preprocessing
- #1234
- #1219

### Metrics
- #1331
- #1406

### AutoML
- #1408

### Multivariate
- #1588
- #382

### Models & Tuning
- #1373
- #1374
- #1280
- #1623

### Bug Fixes
- #1397
- #1456

### Maintenance
- #1368

[2021-10-03 13:29] #1646 closed

[2021-10-03 13:30] #1644 closed

[2021-10-03 13:30] #1589 closed

[2021-10-03 13:32] ngupta23 opened #1649 "[DOC] Cleanup time series documentation before Beta Release"
Cleanup time series documentation before Beta Release

[2021-10-03 17:47] Yard1 commented on #1645
Yeah, I wouldn't want that either

[2021-10-04 07:37] #1638 closed

[2021-10-04 13:58] NadeemNicoR commented on #1642
Hello Guys,

can i please get some help on this issue

[2021-10-05 18:08] Turanga1 opened #1650 "Is fix_imbalance = True working?"
Setting fix_imbalance=True doesn't appear to change anything. The training dataset after preprocessing is still imbalanced and classification metrics show very high accuracy results associated with guessing the majority class. Here's a simple example:

[code]

[2021-10-05 20:13] Yard1 opened #1651 "[preprocessing revamp] Fix `compare_models` failing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-10-05 20:13] Yard1 opened #1652 "[preprocessing revamp] Add `IterativeImputer`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-10-05 20:14] Yard1 opened #1653 "[preprocessing revamp] Add Boruta feature selection"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-10-05 21:58] tvaditya commented on #1052
How did you save the state?

[2021-10-06 11:41] MukulKirtiVerma commented on #109
run this in os consol:
python -m spacy download en
python -m spacy link en en_core_web_sm

then run this in python console or on your python IDE:
import spacy
spacy.load('en_core_web_sm')

[2021-10-06 13:50] ngupta23 opened #1654 "Time Series plot_model support for difference plots"
Add option to plot difference plots. Use `sktime` `Differencer` for this. More [details here](https://www.sktime.org/en/v0.9.0/api_reference/auto_generated/sktime.transformations.series.difference.Differencer.html)

## Option 1: User can specify `order` of difference

[code]

## Option 2: User can specify `lags` directly
[code]

## Option 3: Use Option 1 or 2 and plot additional plots such as ACF,

[2021-10-06 13:54] ngupta23 opened #1655 "`check_stats` on time series differences."
Related to https://github.com/pycaret/pycaret/issues/1654

Once this is implemented, add option to run ACF, PACF and Spectral Density and White Noise tests on the differences.

Interface: TBD

[code]

So the above example would have a 3x3 plot
- Row 1: Time Series Plots for [Original, 1st difference, 2nd difference]
- Row 2: ACF for [Original, 1st difference, 2nd difference]
- Row 3: PACF for [Ori

[2021-10-06 13:58] ngupta23 opened #1656 "Time Series Plot Model (Frequency Components)"
Add plot models for Spectral Density and FFT

[code]

All three can be achieved through scipy functions. We just need to plot them using plotly.

[2021-10-06 17:48] Yard1 commented on #1651
@tvdboom Labels are not being encoded, which causes a failure with classification. Other than that, I fixed one small oversight. `compare_models` works fine for classification now!

[2021-10-06 17:48] #1651 closed

[2021-10-08 11:41] moezali1 commented on #1641
@Mohammedsaied89 As the error message suggests, target col doesn't exist in the dataset. You don't have to split X and y for PyCaret. Your setup should be as follows:

[code]

Hope this helps.

[2021-10-08 11:41] #1641 closed

[2021-10-08 19:25] ejohnson-amerilife commented on #281
Ref: https://github.com/pycaret/pycaret/blob/f8c40ab0ccf2003823d3c397b383de61cbca65f6/CHANGELOG.md

[2021-10-08 23:51] #1437 closed

[2021-10-09 08:20] ngupta23 opened #1663 "Time Series plot_model (forecasts) should have an option to take fh value"
**Is your feature request related to a problem? Please describe.**
Time Series plot_model (forecasts) should have an option to take fh value. This will allow users to forecast a horizon that is longer than the one used for training.

**Describe alternatives you've considered**
Already supported by predict_model, just need to allow plot_model to accept the fh value and pass it to predict_model

Rep

[2021-10-09 13:53] moezali1 opened #1665 "tune_model failing in pycaret.time_series"
I think there are two problems:

(1) The `n_iter` parameter is not taking effect in the `tune_model` function. Based on the message printed, I can tell.
(2) The `tune_model` function is failing.

[code]

Fitting 3 folds for each of 2 candidates, totalling 6 fits
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
-------------------------------------------------------------

[2021-10-09 14:13] moezali1 opened #1666 "setup function in pycaret.time_series is doing inplace operation on index of original dataset"
setup function in pycaret.time_series is doing the in-place operation on the index of the original dataset

[2021-10-09 14:21] moezali1 opened #1667 "Multiple changes in the plot_model function of pycaret.time_series"
- [x] Please change the default template of all the plots in the `plot_model` function of `pycaret.time_series` to `plotly_white` from `ggplot` (currently).
- [x] Do not hard code the colors parameter in plotly so that when the template is passed as `fig_kwargs` the colors automatically change to reflect the user passed theme.
- [x] rename the key values in `fig_kwargs` parameter of the `plot_mode

[2021-10-09 14:30] #1569 closed

[2021-10-10 10:46] ngupta23 commented on #1665
I have added a check now so it will skip over the failed iterations

[code]

![image](https://user-images.githubusercontent.com/33585645/136692372-04181a0f-8584-4d8d-9ff7-d1a4129f0a1b.png)

[2021-10-10 11:34] ngupta23 commented on #1456
Related to #1665. This has been fixed in https://github.com/pycaret/pycaret/pull/1668 and will be available in the next release.

[2021-10-10 11:34] #1456 closed

[2021-10-10 12:09] ngupta23 opened #1669 "Backtesting Time Series"
**Is your feature request related to a problem? Please describe.**
If a user has a workflow that selects a final model from several candidate models, the user may want to know how this performs on a rolling basis.

**Describe the solution you'd like**
Examples can be found here: https://github.com/alan-turing-institute/sktime/pull/657

Possibly wait till AutoML is implemented in PyCaret Time Serie

[2021-10-10 12:15] ngupta23 opened #1670 "AutoML for Time Series"
**Is your feature request related to a problem? Please describe.**
Add an AutoML function for Time Series.

**Describe the solution you'd like**
Method should be able to choose 1 model from several candidate models.

[code]

Also, allow the user the ability to add their own AutoML functions/workflows

**Describe alternatives you've considered**
Doing this manually right now.

[2021-10-10 12:32] ngupta23 commented on #1463
Closing since this is a stale issue. Feel free to reopen is issue still exists.

[2021-10-10 12:32] #1463 closed

[2021-10-10 13:30] #1666 closed

[2021-10-10 13:30] #1665 closed

[2021-10-10 13:33] ngupta23 opened #1671 "Time Series Setup Display"
**Is your feature request related to a problem? Please describe.**
Current Setup Display does not show all relevant parameters such as `seasonal_period`, `seasonality_present`, `multiplicative allowed`, `recommended D`, `recommended d`, `white_noise` etc. Add these to the setup display

[2021-10-10 13:38] ngupta23 opened #1672 "Separate Datasets into own repository"
**Is your feature request related to a problem? Please describe.**
Currently datasets are mixed in with pycaret. Separate it into its own repository.

**Describe the solution you'd like**
https://github.com/pycaret/datasets

[2021-10-10 14:50] ngupta23 commented on #1642
@NadeemNicoR It is using np.corrcoef which uses Pearsons correlation coefficient

https://github.com/pycaret/pycaret/blob/058ab92bcc5598a2b858d495a98a3859985fe720/pycaret/internal/preprocess.py#L2745

[2021-10-10 15:18] Yard1 commented on #1568
@moezali1 merged a fix, please recheck

[2021-10-12 15:22] ejohnson-amerilife opened #1674 "[BUG] some types plot types are not getting saved to the MLFlow experiment artifacts dir"
**Describe the bug**
Thank you for creating such a helpful tool!
The problem i'm facing is that some types plot types (e.g. "calibration" and "feature") are not getting saved to the MLFlow experiment artifacts dir. I think the issue is with inconsistent naming for the saved png for certain plot types.
Thank you for your help!

**To Reproduce**

[code]

**Expected behavior**

I expect ALL of the pl

[2021-10-13 05:00] Chirag1168 opened #1675 "Support for transformation ,normalization and feature engineering in current timeseries branch."
Does current timeseries branch supporting any of the feature i.e. transformation, normalization and feature engineering.

[2021-10-13 05:04] bimhud opened #1676 "[BUG] Error when stacking multiple models with 'timeseries' cross-validation"
**Describe the bug**

**ValueError: cross_val_predict only works for partitions**

When having 3 models, xgboost, catboost and decision tree trained using 'timeseries' cross-validation, then stacked them together using 'lr' as the overlay, pycaret produces an error. See the error log for more details. This won't be with kfold cross validation, only the 'timeseries' one.

[code]

**Expected behavio

[2021-10-13 11:56] moezali1 commented on #1368
@ngupta23

Is @TremaMiguel still working on the time series module?

[2021-10-13 19:59] Mohammedsaied89 opened #1680 "Two level stacking models"
How could I implement two level with stacking models in pycaret

[2021-10-14 00:59] sparkey63 opened #1681 "pycaret-ts-alpha installation on windows"
Hi,

I've been trying to install the alpha of the time_series module on windows, but I keep getting errors. Is there a way around this or something I'm missing? Or is it going to be a exclusively non-windows module?

[2021-10-14 01:30] sparkey63 commented on #1681
Hi, thanks for the quick answer, I think it has something to do with sktime, when installing I get these errors, they both have longer logs that I can provide if needed

"Running setup.py install for sktime ... error
    ERROR: Command errored out with exit status 1:"

 " ValueError: path '/Users/mloning/.conda/envs/sktime-dev/lib/python3.7/site-packages/numpy/core/include/numpy/arrayobject.h' can

[2021-10-14 01:50] gm039 opened #1682 "[BUG] Unable to run the PyCaret code on my local GPU"
Hi,

I am unable to run the PyCaret code on my local GPU. I am using the command (use_gpu =True) in the setup. I am using pycaret. version: 2.3.4

![image](https://user-images.githubusercontent.com/50217085/137236700-e5437e68-678b-4e6a-bda4-d672b5d8a7db.png)

nvidia-smi output:
![image](https://user-images.githubusercontent.com/50217085/137236095-4d9f32e7-fcf2-404c-90a7-dd635f60cfc4.png)

Can you

[2021-10-14 14:38] ngupta23 commented on #1368
I will reassign if he is unavailable.

[2021-10-14 15:08] ngupta23 opened #1683 "Incremental (Online) Learning"
### Discussed in https://github.com/pycaret/pycaret/discussions/1426

<div type='discussions-op-text'>

<sup>Originally posted by **mertcan-yukselsin** July  3, 2021</sup>
Hello, I have 2 questions about newly developed AutoML flow for Time Series using the new PyCaret Time Series Module (Alpha Release).

1) While fitting AutoML Time series models, we only include the data itself and it automatica

[2021-10-15 13:08] ngupta23 commented on #872
@DASA39 It is hard to say without looking at the code you are using. It seems that you have very few data points somwhere in the flow (only 4) but are doing KNN with neighbors = 6 which is not possible. Try reducing the number of folds to see if you can increase the number of points in each fold.

[2021-10-15 13:12] #1368 closed

[2021-10-15 19:41] ngupta23 opened #1688 "Support chaining operation in OOP API"
**Is your feature request related to a problem? Please describe.**
Chaining of methods is generally easier to read compared to nested functions.

[code]

**Describe the solution you'd like**

Chaining of methods in OOP API. Example [here](https://www.linkedin.com/feed/update/urn:li:activity:6854113630401675264?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6854113630401675264%2C6854296751881486336%

[2021-10-16 09:59] vickaryan opened #1694 "In regression, while using the plot_model function, the error plot shows the prediction errors using R2 evaluation metric. Is there a possibility to plot the prediction errors using another evaluation metric i.e., MAE?"
In regression, while using the plot_model function, the error plot shows the prediction errors using R2 evaluation metric. Is there a possibility to plot the prediction errors using another evaluation metric i.e., MAE?

_Originally posted by @vickaryan in https://github.com/pycaret/pycaret/discussions/1691_

[2021-10-16 10:17] psrana opened #1695 "[BUG]Negative R2 for some models for regression models"
**Bug**
Negative R2 for some models for regression models while working with boston dataset

![bug](https://user-images.githubusercontent.com/7460892/137583630-c77f2dd2-951f-41a5-8530-efe5ddf919e0.png)

**Code**
[code]

**Expected behavior**
R2 (R-Square) value must be positive

[2021-10-16 12:21] moezali1 commented on #1695
@psrana Not a bug in PyCaret. This is possible when the model is a poor fit.

https://stats.stackexchange.com/questions/183265/what-does-negative-r-squared-mean

[2021-10-16 12:23] moezali1 commented on #1680
@Mohammedsaied89 There was a function called `create_stacknet` in PyCaret 1.0 that used to do multi-level stacking. Since we have switched stacking implementation to scikit-learn's `StackingClassifier`, it is not possible to have multiple layers in stacking. There are only 2 layers:

(i) Base layer of models
(ii) Meta model (Logistic/Linear regression by default but can be changed).

[2021-10-16 12:23] #1680 closed

[2021-10-16 12:37] vickaryan opened #1696 "Why only train set is used for cross validation and test set is left out in pycaret?"
I have a doubt why 10-fold cross validation is done only on train set because we generally need test set also for cross validation?

_Originally posted by @vickaryan in https://github.com/pycaret/pycaret/discussions/1689_

[2021-10-16 12:43] vickaryan commented on #1696
For training ML models, we either split data into train/test or do cross validation on the complete dataset as splitting method is considered inefficient. So, why in pycaret, all of the evaluation metrics are cross-validated results based on training set (70%) only. Could anyone please clear why test set is not included in cross validation process during training models and evaluating metrics?

[2021-10-16 13:03] moezali1 opened #1697 "When fh is left to default in pycaret.time_series R2 is NaN in compare_models"
When `fh` is left to default i.e. 1 in pycaret.time_series `setup`, R2 is NaN in the `compare_models` or other training functions such as `create_model`.

My understanding is this is happening because R2 cannot be calculated only on 1 point.

We can discuss if we should change the default `fh` value in setup to avoid wrong impression in subsequent functions.

![image](https://user-images.githubuse

[2021-10-16 14:42] moezali1 opened #1698 "[BUG] return_data parameter in the plot_model for time series is not working"
`return_data` parameter in the plot_model function in pycaret.time_series module is not working as expected

[2021-10-16 14:43] moezali1 opened #1699 "`return_fig` to be added as a new parameter in plot_model of pycaret.time_series"
`return_fig` to be added as a new parameter (default = False) in the `plot_model` function of `pycaret.time_series`.

[2021-10-16 14:45] moezali1 opened #1700 "Add insample forecast when plot='forecast' in pycaret.time_series"
Add insample forecast when plot='forecast' in pycaret.time_series

Add a new parameter called the `in_sample` and set it to `True` by default. After adding this functionality, the plot model (plot = 'forecast') will show a line plot with two lines. One for actual and one for the forecast.

[2021-10-16 14:46] ngupta23 commented on #1697
I do not think we should change the default `fh`. Instead if fh = 1, we should remove R2 from metrics. Are you ok with that?

[2021-10-16 14:47] moezali1 opened #1701 "reset the fh after plot_model(plot='forecast')"
reset the fh after plot_model(plot='forecast')

`fh` parameter is defined in the setup. When I run the following

[code]
`fh` parameter is globally set to 24. That shouldn't be the case. We should reset it to whatever it was defined at the time of the `setup` run.

[2021-10-16 14:48] ngupta23 commented on #1701
Yes, this is also true for `predict_model`. I will look into it

[2021-10-16 14:49] moezali1 opened #1702 "predict_model is very confusing"
predict_model is very confusing.

When `fh` is None only then show the metric grid, otherwise do not show. The intention is we will only show the metrics if the user is predicting the test set. Entire test set, not partial. Also after this change, the warning that you are printing can also be removed.

[2021-10-16 14:57] ngupta23 commented on #1698
Requirement: This should return the raw data used to create the plots (not the data for from plotly)

[2021-10-16 14:58] moezali1 opened #1703 "[BUG] tune_model bug in Voting Ensemble Model"
When model object is `pycaret.internal.ensemble._EnsembleForecasterWithVoting` `tune_model` will fail:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_6868/2247206210.py in <module>
----> 1 tune_model(blender)

~\pycaret\pycaret\internal\utils.py in wrapper(*args,

[2021-10-16 15:02] ngupta23 commented on #1406
@Yard1 ... For each fold, we need to calculate how many actual data points in the test set are within the prediction interval. This would need us to pass additional arguments to the metric calculator (for upper and lower confidence interval). Is this possible today? If not, what changes would be needed? Thanks!

[2021-10-16 15:03] ngupta23 commented on #1331
@Yard1  Related to #1406

For each fold, we need to pass y_train to calculated the scaled metric (MASE) in this case. Is this possible today? If not, what changes would be needed? Thanks!

[2021-10-16 18:07] ngupta23 opened #1705 "Time Series support for alpha in plot_model"
**Describe the solution you'd like**
Currently plot_model in time series supports only defalt alpha of 0.05. Need the ability to change this.

[2021-10-16 21:43] Yard1 opened #1708 "Add `save` argument to `plot_model` and `interpret_model` in time series"
`plot_model` and `interpret_model` should have a `save` argument for consistency with other modules, if possible. It should take both bools and string paths.

This is also required for `log_plots` functionality (automatically creating, saving and uploading plots to mlflow when a model is created).

[2021-10-17 03:39] GDGauravDutta opened #1709 "Pycaret with Bigdata"
Pycaret works great with small or medium size data. But I will like to see it working with big data too. Request to make integration with dask library.

[2021-10-17 10:49] GDGauravDutta opened #1710 "[BUG] Unable to install pycaret in Kaggle Notebook"
!pip install pycaret

**Logs :**

Installing collected packages: scipy, llvmlite, srsly, python-editor, plac, numba, catalogue, thinc, querystring-parser, prometheus-flask-exporter, gunicorn, databricks-cli, alembic, spacy, pyod, mlflow, imbalanced-learn, gensim, pycaret
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.1
    Uninstalling scipy-1.7.1:
      Successfully unin

[2021-10-17 13:15] moezali1 commented on #1709
@GDGauravDutta Thanks for your suggestion. We are already working on this.

Here is the issue you can follow: https://github.com/pycaret/pycaret/issues/1450

I am closing this one, since its duplicated.

[2021-10-17 13:15] #1709 closed

[2021-10-17 13:19] GDGauravDutta commented on #1710
Collecting pycaret
  Downloading pycaret-2.3.4-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 4.4 MB/s eta 0:00:01
Requirement already satisfied: umap-learn in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.5.1)
Requirement already satisfied: plotly>=4.4.1 in /opt/conda/lib/python3.7/site-packages (from pycaret) (5.3.1)
Requirement already satisfied: pyLDAvis in

[2021-10-17 13:32] #1701 closed

[2021-10-17 13:32] #1702 closed

[2021-10-17 13:32] #1671 closed

[2021-10-17 17:22] moezali1 opened #1713 "compare_models(cross_validation=False) and create_model(cross_validation=False) bug in time_series module"
compare_models(cross_validation=False) bug in time_series module:

[code]

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_21468/1173302213.py in <module>
----> 1 compare_models(cross_validation=False)

~\pycaret\pycaret\internal\utils.py in wrapper(*args, **kwargs

[2021-10-17 18:01] triper1022 opened #1714 "[BUG] plot_model seems not work in colab?"
**Describe the bug**

I tried to follow up with[ your post](https://towardsdatascience.com/predict-customer-churn-the-right-way-using-pycaret-8ba6541608ac).
but suddenly, plot_model() can not work on colab.

**To Reproduce**
I put code in [a public gist and link it in the issue.](https://colab.research.google.com/gist/triper1022/17d219a673add018b4297382250e1c44/customer-churn-analysis0.ipynb?hl=en

[2021-10-17 18:12] #1714 closed

[2021-10-17 18:28] moezali1 opened #1715 "log_experiment=True causing error in pycaret.time_series module"
log_experiment=True causing error in pycaret.time_series module

[code]
---------------------------------------------------------------------------
MlflowException                           Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_25428/994851179.py in <module>
      1 from pycaret.time_series import *
----> 2 setup(data, fh = 12, fold = 5, log_experiment=True)

~\pycaret\p

[2021-10-17 18:50] moezali1 opened #1716 "pull function not available in OOP API of time_series?"
pull function not available in OOP API of time_series?

[2021-10-17 19:53] ngupta23 commented on #1716
I think it is already there. Can you check please

![image](https://user-images.githubusercontent.com/33585645/137642858-5d91f586-6bb8-4d85-bf34-0c11d43fc9ee.png)

[2021-10-17 22:01] Yard1 commented on #1703
@ngupta23 You can tune the weights - at least that's how the functionality should work.

[2021-10-17 23:58] #1715 closed, assigned to Yard1

[2021-10-18 00:39] #1713 closed

[2021-10-18 02:07] ngupta23 opened #1721 "Add Global Forecasting"
**Describe the solution you'd like**
Support global forecasting as **[described here](https://www.linkedin.com/feed/update/urn:li:activity:6855552815675310080?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6855552815675310080%2C6855597341202894848%29)**

[2021-10-18 02:54] vickaryan opened #1722 "Is there an option to run only selected models in compare_models() function?"
Is there an option to run only selected combination of models in compare_models() function i.e., 5 models instead of running all models or separately creating models?

[2021-10-18 13:56] ngupta23 opened #1724 "Add `neuralprophet` to time_series module"
**Describe the solution you'd like**
See [this link](https://www.linkedin.com/feed/update/urn:li:activity:6855552815675310080?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6855552815675310080%2C6855553575188262912%29)

[2021-10-18 18:55] #1716 closed, assigned to ngupta23

[2021-10-19 00:06] IncubatorShokuhou commented on #1710
@GDGauravDutta I once met a similar problem on another cloab-like platform. To fix it, you may have to remove the llvmlite dictionary and then reinstall it.

[2021-10-19 06:37] Chirag1168 opened #1726 "Does current timeseries branch saving the plots in mlflow for each model"
Like in classification and regression, does current timeseries branch saving the plots in mlflow for each model.

[2021-10-19 14:40] PetricaR opened #1727 "plot_model(lda, plot='topic_model') [BUG]"
**Describe the bug**
Topic Model (pyLDAvis) plot error

**To Reproduce**
plot_model(lda, plot='topic_model')

[code]

**Expected behavior**
plot chart

**Additional context**
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-46-541a9c40e9d6> in <module>
----> 1 plot_model(lda, plot=

[2021-10-19 17:51] GDGauravDutta opened #1728 "[BUG] : Wrong Value in Light Gradient Boosting Machine in models(internal=True)[['Name', 'GPU Enabled']"
models(internal=True)[['Name', 'GPU Enabled']]

Name | GPU Enabled
-- | --

Logistic Regression | True
K Neighbors Classifier | True
Naive Bayes | False
Decision Tree Classifier | False
SVM - Linear Kernel | True
SVM - Radial Kernel | False
Gaussian Process Classifier | False
MLP Classifier | False
Ridge Classifier | True
Random Forest Classifier | True
Quadratic Discriminant Analysis | False
Ada

[2021-10-19 19:51] #1727 closed, assigned to nobody

[2021-10-20 02:25] #1728 closed

[2021-10-20 08:53] #1726 closed, assigned to nobody

[2021-10-20 12:38] ngupta23 opened #1731 "Add support for VAR model in time series module"
See request **[here for details](https://www.linkedin.com/feed/update/urn:li:activity:6856522182059708416?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6856522182059708416%2C6856556176419766272%29)**.

[2021-10-20 15:53] NadeemNicoR opened #1732 "Is it possible to build neural networks using pycaret ?"
**Is your feature request related to a problem? Please describe.**
Is it possible to build neural networks  using pycaret ?

**Describe the solution you'd like**
Is it possible to build neural networks  using pycaret ?

**Describe alternatives you've considered**
Is it possible to build neural networks  using pycaret ?
**Additional context**
Is it possible to build neural networks  using pycaret ?

[2021-10-21 03:25] vivekvision commented on #1731
VAR model with friendly support for differencing  & reversal of differencing (ML feature scaling like friendly interface)
Auto ARIMA like feature to support friendly evaluation

[2021-10-21 10:01] ngupta23 commented on #1731
Could you elaborate on this and provide some examples of what you are looking for?

[2021-10-21 11:00] Chirag1168 opened #1736 "[BUG] Issue with Mlflow Timeseries_beta branch"
if in setup log_plot set True then it is giving error in self._mlflow_log_model() as
for plot in log_plots:
TypeError: 'bool' object is not iterable

[2021-10-21 12:00] ngupta23 commented on #1731
Thank you. Will appreciate that!

[2021-10-21 13:19] ngupta23 commented on #1700
For now (until we add this internally), users can get this using the following

[code]

[2021-10-21 19:49] moezali1 opened #1740 "bug in plot_model of time_series (pycaret-ts-alpha)"
bug in plot_model of time_series (pycaret-ts-alpha). To reproduce:

[code]

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-103-4d56c7d73b8f> in <module>()
----> 1 plot_model(best, plot = 'decomp_stl')

3 frames
/usr/local/lib/python3.7/dist-packages/pycaret/internal/pycaret_exper

[2021-10-21 19:52] #1732 closed

[2021-10-21 19:56] moezali1 opened #1741 "plot_model(model, plot = 'forecast') showing unexpected behavior sometimes"
plot_model(model, plot = 'forecast') showing unexpected behavior sometimes.

Sometimes `forecast` plot also shows the in-sample forecast on the plot. This is what we eventually want but I am opening this ticket to understand more why it is happening now? To reproduce:

[code]

![image](https://user-images.githubusercontent.com/54699234/138348023-fc4ea309-7d63-42de-95cc-ee7b9640895c.png)

A lot of

[2021-10-21 23:22] ngupta23 commented on #1740
I do not get this. This is what you should be seeing

![image](https://user-images.githubusercontent.com/33585645/138369873-26ec399d-2e25-47c8-8daf-266524d17bad.png)

[2021-10-21 23:28] ngupta23 commented on #1740
@moezali1 Looks like your error is related to an model called "best". Can you add the reproducible code for this. I am not able to replicate it.

[2021-10-22 01:07] #1741 closed, assigned to ngupta23

[2021-10-22 01:12] #1740 closed

[2021-10-22 11:49] ngupta23 opened #1744 "[BUG] Seasonal Period used in Seasonal Decompose plots"
**Describe the bug**
`seasonal_decompose` period does not seem to match the seasonality of data. Maybe it is inferring seasonality automatically from the index. We should probably use our detected seasonality to decompose instead of relying on the `seasonal_decompose` to infer it if possible

**To Reproduce** **- with the Beta release**

[code]

[2021-10-22 11:56] ngupta23 opened #1745 "Make choose_better = True as the default option"
**Is your feature request related to a problem? Please describe.**
Should we consider making `choose_better = True` as the default option in all relevant functions/methods? (Currently defaults to `False`)

[code]

[2021-10-22 11:59] ngupta23 opened #1746 "[BUG] Time Series Plotting bug fixes"
**Describe the solution you'd like**
- [x] Decomposition plot (zooming on 1 is not linked to other 3 plots. All 4 plots should zoom to the same X-axis when one is zoomed manually)
- [x] Forecast Plot (Selecting Prediction interval legend only disables the upper interval, leaving lower interval behind)

[2021-10-22 12:07] moezali1 opened #1747 "logger issue in pycaret 2.3.4"
logger information is printed in Notebook since `2.3.4` version:

[code]

![image](https://user-images.githubusercontent.com/54699234/138450857-9848577a-43bd-4975-8c52-f62dceb7fab6.png)

![image](https://user-images.githubusercontent.com/54699234/138450875-328bc376-8bc9-4cd2-a64a-d37474a03fb1.png)

Any idea what's going on?

[2021-10-22 17:40] ngupta23 opened #1748 "TimeSeriesExperiment refactor"
Currently, we only support Forecasting so having a single TimeSeriesExperiment is fine. But sometime in the future, we may need to support other functions such as time series classification, time series anomaly detection, etc.

Recommend structuring the TimeSeriesExperiment appropriately.

[code]

[2021-10-22 18:20] reza1615 opened #1749 "Feature important and shap interpret_model should be base on average of CV multi folds"
I run pycaret two times without session_id and I got two different interpret_model and feature important plots. In my opinion, pycaret should generate these plots based on the average of CV multi folds not the best/last fold ratios.
![image](https://user-images.githubusercontent.com/2202483/138503927-a4d76b8f-29aa-438e-a6a4-20e73c0cc465.png)

[2021-10-22 18:50] ngupta23 opened #1750 "Seasonality Box Plots & Heatmap"
- [ ] Add box-plots to show appropriate seasonality - [example here](https://github.com/KrishnanSG/pytsal/blob/master/examples/101_forecasting.ipynb)
- [ ] Add heatmap for seasonal effects. example **[here](https://plotly.com/python/heatmaps/)**, **[here](https://www.analyticsvidhya.com/blog/2021/02/visualization-in-time-series-using-heatmaps-in-python/)**, [here](https://machinelearningmastery.co

[2021-10-22 19:25] ngupta23 opened #1751 "Add lag plots for time series with exogenous variables"
Add lag plots (CCF) for multivariate (or univariate) analysis

e.g.
- [here for exogenous variables - CCF](https://htmlpreview.github.io/?https://github.com/ngupta23/DS6373_TimeSeries/blob/master/Projects/gdp_prediction/analysis/gdp_prediction_analysis.html)
- [here for univariate](https://machinelearningmastery.com/time-series-data-visualization-with-python/)

[2021-10-22 19:31] ngupta23 opened #1752 "Add imputation capability in time series module"
Add ability to impute missing values in a dataset

Link to [sktime imputer](https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.transformations.series.impute.Imputer.html)

[2021-10-22 20:16] csinva opened #1753 "Include interpretable models from imodels package"
**Is your feature request related to a problem? Please describe.**
The available models focus on predictive performance but don't have enough interpretable model support.

**Describe the solution you'd like**
Would be nice to integrate in some of the interpretable, rule-based models from the [imodels](https://github.com/csinva/imodels) package.

**Describe alternatives you've considered**
Alternat

[2021-10-22 20:49] reza1615 opened #1754 "Adding Miss Classification table and plot"
I coded a snippet that can output a miss classification error report and a chart.
If you are Ok with this output I can make a PR
for example:

[code]

![Screenshot from 2021-10-22 16-44-34](https://user-images.githubusercontent.com/2202483/138520673-da6f91a6-367c-4161-8003-d734b9346344.png)

![Screenshot from 2021-10-22 16-44-52](https://user-images.githubusercontent.com/2202483/138520732-81042c86

[2021-10-23 15:12] galdezanni opened #1755 "PyCaret - XGBoost, error installing library"
Hey guys,

I'm trying to use PyCaret on GoogleColab to run XGBoost Classifier, but it's getting an error.
I installed the complete package:

`!pip install pycaret[full]`

but when I import the rating library it gives me an error:

`from pycaret.classification import *`

TypeError: load() missing 1 required positional argument: 'Loader'

When I install the standard version, the import doesn't give

[2021-10-23 18:20] ngupta23 opened #1756 "PyCaret Roadmap"
# 3.0 Release

## Object-Oriented Programming Interface
- #895
- #1688

## Preprocessing Update
-  sklearn compatibility

## Native Time Series Module
- #1648

## Distributed Computing
- https://github.com/pycaret/pycaret/issues/2015

## Maintenance
- #2137

[2021-10-24 14:30] ngupta23 opened #1762 "[DOC] Create a pycaret time series cheat sheet"
Include

- [ ] functions from functional API,
- [ ] overview of object oriented approach
- [ ] Common arguments that are used with each function/method

[2021-10-24 20:14] ngupta23 opened #1763 "[BUG] Dataset error"
On the `time_series` branch, this should report an error or something similar since there is no lynx dateset in that folder.

[code]

[2021-10-24 20:38] ngupta23 opened #1764 "[BUG] Time Series Setup Issue for short time series"
[code]

The following gives an error

[code]

[2021-10-25 09:13] ngupta23 opened #1766 "Add lower limit and upper limit for time series forecasting"
Time series data can be naturally clamped at a limit - could be lower limit or upper limit.
Provide an option to the user to set this limit such that the predictions and intervals do not cross it.

Reference [Link](https://www.linkedin.com/feed/update/urn:li:activity:6858135434724159488?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6858135434724159488%2C6858178529432100864%29&replyUrn=urn%3Ali%3Ac

[2021-10-26 00:53] #1683 closed, assigned to ngupta23

[2021-10-26 08:49] #1747 closed, assigned to Yard1

[2021-10-26 19:50] dvu4 opened #1768 "render tsne plot in Colab"
https://github.com/pycaret/pycaret/blob/1f113c01c0a4554dbd5022f1e8825b4caee2a950/pycaret/nlp.py#L2737

Hi,
I tried to plot t-sne in Colab but it did not work even though plotly version is 4.4.1. I think adding option renderer='colab' will work . Is there any way I can add this option ?

  `fig.show(renderer="colab")`

[2021-10-27 14:03] balgad opened #1770 "[BUG] Iterative imputer with classification problem: TypeError: '<' not supported between instances of 'NoneType' and 'str'"
**Describe the bug**
When trying to run a classification algorythm with iterative imputer, pycaret shows error "TypeError: '<' not supported between instances of 'NoneType' and 'str'". If I try to run with imputation_type = 'simple' it works.

**To Reproduce**
Content of sample dataframe used:
[pycaret_bug.xlsx](https://github.com/pycaret/pycaret/files/7426645/pycaret_bug.xlsx)

[code]

**Expected

[2021-10-28 07:11] #1674 closed, assigned to wkuopt

[2021-10-28 10:52] ngupta23 opened #1775 "White noise test lags in time series"
- [ ] Currently lags used for white noise are hard coded to 24 ans 48. This seems to be based on a monthly dateset with s = 12. This should ideally be adjusted based on seasonality (or index) of the dateset.
- [ ] Also, note that if no lag is provided, the test automatically computes for all lags up to a certain number. Should we make this the default? **[Link](https://www.statsmodels.org/dev/gene

[2021-10-28 12:51] ngupta23 opened #1777 "Standardize seasonal period handling"
## Flow

### When user does not enter `seasonal_period`

#### Philosophy:
Do what you (`pycaret`) think is best

#### Order of Operations
- `seasonal_period` is inferred using the data index.
- Then seasonality test is done
- If seasonality is detected, then the `seasonal_period` is used in modeling, else we use 1

### When user enters `seasonal_period`

#### Philosophy:
2 use cases
- Use Case 1:

[2021-10-28 12:53] #1764 closed, assigned to ngupta23

[2021-10-29 16:29] melovv opened #1780 "[BUG] Plots are being saved without labels and titles."
Plots are being saved without labels and titles.

**To Reproduce**

[code]
![Residuals_bug](https://user-images.githubusercontent.com/19955538/139469534-432fb181-2cad-4046-893d-82bc9561f503.png)

**Expected behavior**
Plot saved with title and labels.

![Residuals_fixed](https://user-images.githubusercontent.com/19955538/139469557-34247f24-dfcf-4eb7-8e0b-4922380e65e8.png)

**Additional context**
H

[2021-10-29 18:28] melovv commented on #1780
I can try, for sure.

[2021-10-29 22:24] Yard1 commented on #1052
Do you have any reproducible code? @batmanscode

[2021-10-30 14:24] moezali1 opened #1782 "Log plots in pycaret.time_series module"
When `log_plots=True` in the `setup` function. Please log the following plots in MLflow:

- forecast
- residuals
- diagnostics

Additionally, all the plots that doesn't require estimator can also be lagged at a setup stage such as ACF, PACF, ts, etc.

[2021-10-30 14:47] moezali1 opened #1783 "display_format = 'streamlit' in pycaret.time_series"
`display_format = 'streamlit'` in pycaret.time_series `plot_model` functionality to be added.

[2021-10-30 16:45] ngupta23 commented on #1764
This issue has not been fixed and is available on pip. Update pycaret to get this fix

[code]

[2021-10-31 08:59] Guuuud opened #1786 "[INSTALL] Error when installing PyCaret"
I got a problem when installing PyCaret in my virtual environment
Python 3.8.10.   macOs Catalina 10.15.7
Command: pip install PyCaret
Can anyone help with this? Appreciated.

Error message log:

   command: /Users/lee/.conda/envs/TensorFlow/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/1y/492pgpsd7vv980kggtsmx9140000gn/T/pip-install-pm27_fz8/w

[2021-10-31 12:08] ngupta23 commented on #1708
Implemented in https://github.com/pycaret/pycaret/commit/658ba6ff3fc8879237c281954bea03951e225e0c

[2021-10-31 12:21] ngupta23 commented on #1782
This is a good feature to have. We will take this up later (after model MLFlow logging is implemented).

[2021-10-31 12:21] ngupta23 opened #1790 "Time Series MLFlow logging during `setup`"
This is a good feature to have. We will take this up later (after model MLFlow logging is implemented).

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/issues/1782#issuecomment-955689962_

[2021-10-31 12:25] ngupta23 commented on #1699
Hi @moezali1 - Just thinking though this - why is `return_fig` needed? And if it is needed, should this be implemented in all modules (not just `time_series`)?

[2021-11-01 08:56] ngupta23 commented on #1783
Refer to how it is done elsewhere: https://github.com/pycaret/pycaret/blob/9e4dc45e6635fbec9abbcfd7083badf29b50327e/pycaret/internal/tabular.py#L4492

[2021-11-01 13:36] Ioannis-Mykelos commented on #1102
Using MacOs.

Getting error when I am just trying to replicate the example in the link
https://towardsdatascience.com/time-series-anomaly-detection-with-pycaret-706a6e2b2427, for anomaly detection.

I get the following error when I run the command :
from pycaret.anomaly import *.

OSError: dlopen(/Users/USER/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded

[2021-11-01 19:30] batmanscode commented on #1052
Sorry for the delay @Yard1. Here's the code

Run this with `uvicorn pycaret_test:app --reload` and optionally you can set `--host 0.0.0.0 --port 8080` if you need to

*requirements.txt*
[code]

*pycaret_test.py*
[code]

[2021-11-01 19:42] sagarnildass commented on #1052
@batmanscode : Can you try running the app without the --reload option? I vaguely remember this parameter giving me funky errors.

[2021-11-01 19:44] batmanscode commented on #1052
Oh interesting. That's a good idea, will try that. Thanks!

[2021-11-01 19:46] batmanscode commented on #1052
@sagarnildass got the same error :( thanks for the suggestion

[2021-11-01 19:55] sulantha2006 opened #1792 "Blending"
### Discussed in https://github.com/pycaret/pycaret/discussions/1772

<div type='discussions-op-text'>

<sup>Originally posted by **sulantha2006** October 27, 2021</sup>
Blending requires to use a percentage of the training data to train the meta learner.
How is this implemented in pycaret? I assume the models are not retrained with the reduced training set.

Can you help? Thanks. </div>

[2021-11-01 23:58] #1736 closed

[2021-11-01 23:58] #1782 closed

[2021-11-01 23:58] #1708 closed

[2021-11-02 00:18] moezali1 commented on #1786
Seems like `wordcloud` installation is failing. Check if this helps: https://github.com/amueller/word_cloud/issues/105

[2021-11-02 00:19] moezali1 commented on #1780
Hi @melovv, I have assigned this to you. Please feel free to submit PR.

[2021-11-02 00:20] moezali1 commented on #1768
@Yard1 Is this the new thing? I don't think in past we were doing this?

[2021-11-02 02:24] #1763 closed

[2021-11-02 09:19] Curry-38 opened #1794 "[BUG] Classification Score decimal problem"
I get a knn mode from classification, but why I output the data and data_unseen, the classification Score only has one decimal that is not enough. Obviouly, I need 4 decimals as the example from the Pycaret.

So how fix this problem?
![image](https://user-images.githubusercontent.com/67360084/139819417-6be1c011-2fbc-4e09-95fe-e0ece83ac1ec.png)

[2021-11-02 19:00] Yard1 commented on #1768
@dvu4 You can set a global plotly renderer. Check plotly documentation on how to do so.

[2021-11-04 01:37] wkuopt commented on #1770
Hi @balgad , I tried to reproduce the error with the exact same environment in your log, but the setup completed successfully. Could you try to install pycaret in a fresh environment and see if it works?

Here is the code that I used for testing:
[code]

Here is the log:
[code]

[2021-11-04 02:30] wkuopt commented on #1794
Hi @Curry-38 , can you share the data and code for reproducing this issue?

[2021-11-04 06:27] batmanscode commented on #1052
@Yard1 should I create a new issue for this?

[2021-11-04 09:23] jultou-raa opened #1799 "[BUG] Normalize does not affect interaction features"
**Describe the bug**

When using `normalize=True` option in regression setup coupled with other options like `feature_interaction=True`, the resulting train / test is not properly normalized.

**To Reproduce**
You can try with any dataset from sklearn. For this bug I used the diabetes one.

[code]

At this moment we have a normalized input data.

|       |           age |           sex |

[2021-11-04 13:24] #1783 closed

[2021-11-04 13:57] yelizkilinc opened #1801 "Load_Model On AWS Platform by defining S3 bucket and path"
**Describe the bug**
botocore.exceptions.ClientError: An error occurred (404) when calling the HeadObject operation: Not Found

Evenif I have the file under related s3 path, I can not upload_model. It is giving above error.

Traceback (most recent call last):
  File "/opt/ml/processing/input/code/test_model.py", line 56, in <module>
    model = load_model('FinalModel', platform = 'aws', authentica

[2021-11-04 21:53] batmanscode opened #1803 "[BUG] When using assign_model from clustering via FastAPI - NameError: name '_all_models_internal' is not defined"
**Describe the bug**
I get this error when using it as an API via FastAPI in the function that calls `assign_labels` from `clustering` after loading a saved model

Error: `NameError: name '_all_models_internal' is not defined`

**To Reproduce**
Save `pycaret_test.py`, install the requirements and `uvicorn pycaret_test:app --reload` in the terminal and optionally you can set `--host 0.0.0.0 --port

[2021-11-05 11:03] ngupta23 opened #1804 "Add a Grand Means Model to time series"
Current `naive` model uses the last point to make forecasts. We also need a baseline naive model that calculates the grand mean. This will be useful for modeling white noise.

[2021-11-05 13:05] moezali1 commented on #1794
@Curry-38 This is not a bug. Looking at the numbers it seems like you are using the KNN model?

If that's true then KNN has a very limited concept of probability. Its estimate is simply a fraction of votes among nearest neighbors. Increase the number of neighbors to 15 or 100 or query points near the decision boundary and you will see more diverse results. Currently, your points are simply always

[2021-11-05 13:05] #1794 closed

[2021-11-05 13:06] moezali1 commented on #1801
@wkuopt Can you please look into this one? I remember you worked on AWS PR in past as well.

[2021-11-05 13:08] moezali1 commented on #1792
@sulantha2006 Blending is just a voting classifier or regressor and it doesn't require setting % of training data aside for meta learners. I think you wanted to say stacking.

For stacking, we are using sklearn implementation of `StackingClassifier` and `StackingRegressor` with KFold cross-validation. To learn more about the details of implementation please see: https://scikit-learn.org/stable/mod

[2021-11-05 13:08] #1792 closed

[2021-11-06 14:07] #1746 closed

[2021-11-06 14:34] ngupta23 commented on #1699
So, we will only have `save`, and `return_data`

1. If save = False --> then return figure (do not plot it as jupyter will plot it by default)
2. If save = True --> then display figure & return the file name

Example

1. `save=False, return_data=False` --> return fig
2. `save=False, return_data=True` --> return fig, data
3. `save=True, return_data=False` --> return fig_name
4. `save=True, return_d

[2021-11-06 22:28] ngupta23 commented on #1700
As discussed on 11/6/2021, this will be implemented as a separate plot since the combined plot for out-of-sample and in-sample forecasts was very busy

[2021-11-07 00:42] nicholasdomene commented on #1413
@tsereno Are you still working on this issue? If so, I'd be willing to help.

[2021-11-07 00:45] djlacombe opened #1811 "[BUG] remove_multicollinearity = True Error: dtype for the target variable should be int32 or int64 only"
**Describe the bug**
I tried to use the setup command with remove_multicollinearity=True and it throws an error: dtype for the target variable should be int32 or int64 only

**To Reproduce**
To reproduce the error, please run the following code.

[code]

**Expected behavior**

I expected the setup command to work on this problem, however, an error gets thrown. The target variable has the following

[2021-11-07 00:54] ngupta23 opened #1812 "Bug in tune model for snaive and grand_means in time series"
You may have to override `eq_function` attr to make sure that it doesn't clash with the regular naive forecaster

_Originally posted by @Yard1 in https://github.com/pycaret/pycaret/pull/1806#discussion_r744179846_

In tune models, since the base class is the same for naive, snaive and grand_means, when we tune snaive and grand_means, it uses the grid from naive instead of using their own respectiv

[2021-11-07 00:56] #1745 closed

[2021-11-07 00:56] #1804 closed

[2021-11-07 00:56] #1700 closed

[2021-11-07 04:02] moezali1 commented on #1811
@wkuopt I remember you worked on a similar issue in past. Can you help on this one as well please?

[2021-11-07 04:03] moezali1 commented on #1799
@tvdboom Can you look into this? If it's a bug then we can fix it in our revamp.

@Yard1 Any quick fix for master? What do you think?

[2021-11-07 11:24] ngupta23 commented on #1699
@moezali1 @Yard1 @satya-pattnaik
The problem that I see now is that if we only return the fig when save=False without showing it, then we can not have 2 `plot_model` calls in 1 jupyter notebook cell. It will only display the last plot.

I think we should reintroduce the return_fig argument and it should work like this. Let me know your thoughts...

| save  | return_fig | return_data | display_form

[2021-11-07 17:26] djlacombe commented on #1811
I’m actually a different user but used the same example to point out the bug.

Thanks for looking into this.

From: Moez Ali ***@***.***>
Sent: Saturday, November 6, 2021 11:03 PM
To: pycaret/pycaret ***@***.***>
Cc: Donald Lacombe ***@***.***>; Author ***@***.***>
Subject: Re: [pycaret/pycaret] [BUG] remove_multicollinearity = True Error: dtype for the target variable should be int32 or int64 onl

[2021-11-07 19:30] tvdboom commented on #1799
This is not really a bug but more a design flaw in preprocess at the moment. First, the features are normalized and after that, the new interaction features are created, which, of course, are no longer normalized. A solution would be to apply the normalization step after all feature creation steps are applied. This probably also happens with other transformation steps in preprocessing like yeo-joh

[2021-11-07 22:29] Yard1 commented on #1799
@moezali1 we could just change the order on master for now

[2021-11-08 07:26] tsereno commented on #1413
I was able to use tabnet with pycaret using the demo code provided (BaseEstimator), and using the encoding method required for tabnet.  However, I wasn't able to do ensemble, stacking, bagging, etc. on a custom model (I tried with other algorithms such as NGBoost as well) in pycaret as it returned errors.  Since then there was an issue resolution for doing ensemble of custom model, but it still re

[2021-11-08 09:01] jultou-raa commented on #1799
Ok thank you for the feedback. Can't wait to try the features selection and features interaction working properly together 😄

[2021-11-08 14:28] FeFortti commented on #162
+1

[2021-11-08 15:06] fakhrmoosavy opened #1818 "issue with module 'sklearn' has no wttribute 'pipeline'"
hi
when I am running
from pycaret.classification import *
I am facing this error:
module'sklearn' has no attribute 'pipeline'. I already installed sklearn version 0.23.2 and also I ran this line
from sklearn.pipeline import Pipeline
and it is working to me but not sure why I am facing above error for pycaret.classification. Any idea or comments?

Thanks and looking forward for your help

[2021-11-08 17:07] ngupta23 opened #1819 "Time Series - Single call to plot all plots..."
Add an option to plot all types of plot (ts, csm train_test_split, residual, forecast, etc...) with a single call

- for data
- for estimator

Requested by @moritz steller through PM

[2021-11-08 17:14] msteller-Ai commented on #1819
Add type 'all' to parameter to enable all viz in one line of code.

[2021-11-09 01:58] moezali1 commented on #1818
Please show the complete traceback.

[2021-11-09 01:58] moezali1 commented on #1811
@djlacombe The message was intended for @wkuopt!

[2021-11-09 02:09] #823 closed

[2021-11-09 03:04] fakhrmoosavy commented on #1818
Hi Moez,
Here it is :
![image](https://user-images.githubusercontent.com/58143342/140854347-98a4daba-e9c8-4a5a-9e7a-6e3efabfee13.png)

Thanks

[2021-11-09 03:08] fakhrmoosavy commented on #1818
![image](https://user-images.githubusercontent.com/58143342/140854793-8dc6735a-796e-4bfa-9a4d-64b1a5be3da1.png)

[2021-11-09 03:20] wkuopt commented on #1811
@djlacombe this bug was fixed in https://github.com/pycaret/pycaret/pull/1640. The nightly build should contain the correct code for it.

[2021-11-09 03:21] #1811 closed

[2021-11-09 03:49] ngupta23 commented on #1699
Until this is resolved, we are showing the figure by default internally and not returning the figure. Rationale is as follows

[code]

[2021-11-09 15:32] Uday-Shankar-Shanthamallu opened #1828 "pycaret installation error"
I am getting the following error while trying to install pycaret inside the conda environment:

Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /Users/udayshanthamallu/opt/anaconda3/envs/pyc/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/fo

[2021-11-09 15:48] #1828 closed

[2021-11-09 20:01] ngupta23 opened #1829 "Empirical Dynamic Modeling in Time Series"
I try to create a Empirical Dynamic Modeling based on scikit API, here the implementation of Regression: https://github.com/nickc1/skedm/blob/master/skedm/skedm.py

https://github.com/nickc1/skedm

But I get an erro in fit method:
![image](https://user-images.githubusercontent.com/28939189/140992711-56d3b080-c154-4aa9-81e9-66b285514c59.png)

_Originally posted by @brunobarella in https://github.co

[2021-11-09 20:04] ngupta23 commented on #1829
@brunobarella - You will need to make the model sktime compatible. Here are the [extension examples from sktime](https://github.com/alan-turing-institute/sktime/blob/main/extension_templates/forecasting.py). Once you make it compatible with sktime, you can add the model to pycaret's time series module. Hope that helps.

[2021-11-09 21:25] #1829 closed

[2021-11-10 08:00] wolfryu opened #1832 "change "test" into "validation""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Dataset should be split into train ,test and validation.
Test data = unseen data.
"train" "test" data split by pycaret setup API, the "test" is not real test dataset, the "test" will be used in "evaluate_model", "tune_model" ... , so the "test" here is "validation"! The user

[2021-11-10 10:58] AdamTheDestroyer commented on #25
This enhancement woulde be realy great. For now i have to do a Loop one by one... ist takes several days to get all the 8x5000 features predicted.

[2021-11-10 19:23] ngupta23 opened #1833 "Time Series Predictions | Add Alpha value in dataframe"
Add alpha value in the dataframe that is returned when predicting

See [this comment link](https://www.linkedin.com/feed/update/urn:li:activity:6864215615461232640?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6864215615461232640%2C6864218565201940480%29)

[2021-11-10 19:24] ngupta23 opened #1834 "Time Series | Remove R2 as a metric"
See [linkedin comments here](https://www.linkedin.com/feed/update/urn:li:activity:6863853023995731968?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6863853023995731968%2C6863864860342546433%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A6863853023995731968%2C6863989154536054784%29) for reason.

[2021-11-10 20:46] sorenwacker commented on #1610
The plots that are saved are also lacking legend and labels etc. It would be great if e.g. a matplotlib figure would be returned instead, so the plots could be customized and saved in arbitrary formats. Also a method to change the filename would be great.

So, I really appreciate your code here. However, that means for each kind of plot we need a lot of overhead to create the plot etc.

[2021-11-10 21:04] valejop opened #1835 "[DOC] Pycaret regression's save_experiment missing"
#### Describe the issue linked to the documentation
I don't see the save_experiment function in the pycaret.regression module. I re-installed pycaret via pip but it doesn't show. I'm using the 2.3.4 version.

#### Suggest a potential alternative/fix

If it works well with you, could you give me the version you are using please?

[2021-11-10 21:13] ngupta23 opened #1836 "Time Series | Add insample prediction intervals for Anomaly Detection"
See [linkedin comment](https://www.linkedin.com/feed/update/urn:li:activity:6864215615461232640?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6864215615461232640%2C6864297306729025536%29).

- [ ] Add to insample prediction plot.
- [ ] Do we need an option like this in `predict_model` as well?

[2021-11-11 19:03] NadeemNicoR opened #1838 "cross-validation and train-test"
Is it not possible to not use cross validation but just train and test with the training and the holdout set and then do tune the hyperparameters also without cross validation (simply put i just want to disable cross validation, i understand the point of having a more stable score by averaging the result that you get by CV but i just want to train with respect to a specific split, then check its p

[2021-11-11 19:47] Sebagam commented on #1085
Is there a way to display the original labels when plotting the reports?

[2021-11-12 04:07] ngupta23 opened #1839 "Add alpha value to prediction dataframe in Time Series"
Add alpha value as a column to the predictions [per this comment](https://www.linkedin.com/feed/update/urn:li:activity:6864215615461232640?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6864215615461232640%2C6864218565201940480%29)

[2021-11-12 04:08] ngupta23 commented on #1839
duplicate of #1833

[2021-11-12 04:08] #1839 closed

[2021-11-12 15:54] #1699 closed

[2021-11-12 18:43] moezali1 commented on #1838
@NadeemNicoR In the training functions like `compare_models` or `create_model` just pass `cross_validation=False` and PyCaret will skip cross-validation and the metrics that get printed are based on the test set created or passed during the `setup` stage.

Hope this helps.

[2021-11-12 18:43] #1838 closed

[2021-11-12 18:49] moezali1 commented on #1832
@wolfryu

test data is not used by PyCaret in `tune_model`.  In the `evaluate_model` function it is only used for evaluation based on the final model selected based on cross-validation. I don't believe there is any change required in documentation or either in the library itself.

Thanks for reporting anyways.

[2021-11-12 18:49] #1832 closed

[2021-11-12 19:18] moezali1 commented on #1835
@valejop `save_experiment` function was removed from pycaret>=2.0.

You can now instead use the `save_config` function if you want to save your experiment settings.

![image](https://user-images.githubusercontent.com/54699234/141522797-605db485-7d79-44d7-8a42-2ec99c465f71.png)

Read more: https://pycaret.readthedocs.io/en/latest/api/classification.html

[2021-11-12 19:18] #1835 closed

[2021-11-12 19:19] moezali1 commented on #1834
I don't agree with this comment. Let's discuss.

[2021-11-13 02:39] sorenwacker opened #1842 "[DOC] Explanation of the score in predict_model output"
Hi,

I cannot find an explanation of the 'Score' column generated by `predict_model()`.

I would expect to find an explanation [here](https://pycaret.org/predict-model/), but it is not even mentioned.

It does not seem to be related to the probability corresponding to `predict_proba()` from 'scikit-learn' as positive and negative predictions have the same score range 0.5 to 1. The probability woul

[2021-11-13 03:00] sorenwacker opened #1843 "[BUG] Yellowbricks visualizer with Catboost model not working: YellowbrickTypeError"
[code]

[2021-11-13 04:16] ngupta23 opened #1846 "[BUG] CdsDt Models in Time Series do not take sp into account in create model"
[code]
![image](https://user-images.githubusercontent.com/33585645/141605333-3f3f804d-6bf8-431d-b437-062a0a37b303.png)

[2021-11-13 13:00] kurucan opened #1847 "[BUG] scikit-learn 0.24 or 1.0 compability?"
Successfully installed pycaret-2.3.4 scikit-learn-0.23.2

no scikit-learn 0.24 or 1.0.1 stable version compability?

[2021-11-13 14:33] Yard1 commented on #1847
The next major release will feature compatibility for latest versions of scikit-learn.

[2021-11-13 14:33] #1847 closed

[2021-11-13 15:18] moezali1 commented on #1799
@Yard1 Let's hold on to this on master for now.

[2021-11-13 15:18] #1799 closed

[2021-11-13 15:19] moezali1 commented on #1755
This is fixed now.

`pip install pycaret[full]` is now working on colab.

[2021-11-13 15:19] #1755 closed

[2021-11-13 23:40] kurucan opened #1851 "[BUG] No module named 'pycaret.internal.pycaret_experiment'"
On my linux python 3.7 virtual environment, I  have installed the latest pycaret from pip, I get the error below while importing?

I am following the example on the notebook below;
https://nbviewer.org/github/pycaret/pycaret/blob/time_series_beta/time_series_101.ipynb

import time
import numpy as np
import pandas as pd

from pycaret.datasets import get_data
from pycaret.internal.pycaret_experiment

[2021-11-14 00:20] moezali1 commented on #1851
@kurucan You have to install `pycaret-ts-alpha`. Please create a new conda environment and install time series module with `pip install pycaret-ts-alpha`. It should work then!

[2021-11-14 00:20] #1851 closed

[2021-11-14 00:22] moezali1 commented on #1842
@sorenwacker The column `Score` returned by the `predict_model` function is the probability of the predicted class.

![image](https://user-images.githubusercontent.com/54699234/141662895-fa9da90f-ec7a-4277-a928-f26363cc6fa2.png)

If you would like to see the probability of both the classes, just pass `raw_score = True` in the `predict_model` function.

[2021-11-14 00:22] #1842 closed

[2021-11-14 00:31] kurucan commented on #1851
sorry, I missed that it is a seperate package, thanks !

I have successufully run the example on python env, not on conda.

[2021-11-14 01:44] Subrata15 commented on #930
Oh god why

[2021-11-14 05:37] #1676 closed

[2021-11-14 05:37] #1384 closed

[2021-11-14 09:41] chws0508 opened #1852 "Korean translation"
Hello, I really like this open source and I want to contribute to this open source by translating your document into Korean. Is it possible?

[2021-11-14 14:12] kurucan opened #1853 "[BUG] business days freq (like stock market) is not supported"
I have a data consisting of business days only, excluding weekends.

pandas series as: Freq: B, Name: sales, Length: 8955, dtype: float64

ValueError: Unsupported Period frequency: B, valid Period frequencies: S, T, H, D, W, M, Q, A, Y

How to deal data like stock market?

[2021-11-14 14:15] moezali1 commented on #1853
@kurucan Can you please upload your Notebook and data here so we can try to reproduce the error and troubleshoot?

[2021-11-14 14:16] moezali1 commented on #1852
Hi, @chws0508 You are more than welcome to do the translation. Please let me know if I can help you in any way. This issue has been assigned to your name now.

[2021-11-14 15:10] kurucan commented on #1853
below is the code and attached you will find stock market data as business days.

import time
import numpy as np
import pandas as pd
from pycaret.datasets import get_data
from pycaret.internal.pycaret_experiment import TimeSeriesExperiment
[y.csv](https://github.com/pycaret/pycaret/files/7534009/y.csv)

y = pd.read_csv('y.csv')
y[["date"]] = y[["date"]].apply(pd.to_datetime)
y = y.set_index('date'

[2021-11-14 16:43] ngupta23 commented on #1853
@kurucan Modeling stock data is not a good idea using traditional methods. This data is a random walk and the predictions will not be useful (same as last known data point). I will write an article to explain that.

For the time being, please resample to weekly data and model it to see that this is indeed the case. Something like shown below.

[code]

Nonetheless modeling business week would be he

[2021-11-14 16:43] #1853 closed

[2021-11-14 16:45] ngupta23 opened #1854 "Support for business week"
Since many business activities happen only on weekdays, missing weekends can be an issue for time series models. Add support for data that is available only on weekdays.

Indirectly related: https://github.com/pycaret/pycaret/issues/1853

[2021-11-14 17:08] kurucan opened #1855 "[BUG] error on weekly freq data: TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'"
I am getting the error below for creatng the model when using weekly resampled data , I have also resampled the data to monhtly freq, It works fine.

Below is the code and attached you will find weekly data example.

[y_weekly.csv](https://github.com/pycaret/pycaret/files/7534217/y_weekly.csv)

import time
import numpy as np
import pandas as pd

from pycaret.datasets import get_data
from pycaret.i

[2021-11-14 17:43] ngupta23 commented on #1855
Missing values are not supported yet (it will be in a subsequent release). Can you try imputing the missing values manually for now before running the code?

[2021-11-14 18:00] kurucan opened #1856 "[BUG] cv plot only shows 3 folds"
I am following the example on pycaret/time_series_beta/time_series_101.ipynb

# Show the Cross Validation splits inside the train set
exp.plot_model(plot="cv")

this plot only shows 3 folds even though I set fold numbers different from 3.

model training accepts the fold parameter input and works fine.

[2021-11-14 18:03] #1856 closed

[2021-11-14 18:03] kurucan commented on #1856
closed.

[2021-11-14 18:07] kurucan opened #1857 "[BUG] fold number input does not work"
I am following the example on pycaret/time_series_beta/time_series_101.ipynb

I am trying to set fold number different from the default value but still showing me as 3.

![fold number](https://user-images.githubusercontent.com/7413036/141692913-4aeff67e-6aaf-458c-b5d2-807fd5225e8d.png)

[2021-11-14 18:27] ngupta23 commented on #1857
You have to pass the fold parameter to the setup method

[2021-11-14 18:27] #1857 closed

[2021-11-14 18:32] ngupta23 commented on #1856
https://github.com/pycaret/pycaret/issues/1856

[2021-11-14 18:41] kurucan commented on #1855
Many thanks, It was due to the missing values after pd.resample..

[2021-11-14 18:42] #1855 closed

[2021-11-15 13:58] nishuvr commented on #319
I am getting the, nothing gets plotted after running plot_model on colab. Can anyone please help

[2021-11-15 17:19] sorenwacker commented on #1842
Oh, so the page I was referring to is actually not the official documentation! Thanks!

[2021-11-15 20:31] sorenwacker commented on #234
`choose_better=True` should be default, no?

[2021-11-15 22:37] Yard1 commented on #234
It will be in the next major release.

[2021-11-15 23:06] sorenwacker commented on #234
It is an amazing library. I can do so much work in no time. Compared to typing out everything that pycaret does.

Consider just these to commands::

[code]

...just amazing.

[2021-11-16 09:11] #1608 closed

[2021-11-16 20:18] sorenwacker commented on #1843
see also

https://github.com/DistrictDataLabs/yellowbrick/issues/1099#issuecomment-969394284

[2021-11-17 10:35] ngupta23 commented on #1834
Ok, Once MASE is added, it could replace R2 if we want. MASE is anyway more important.

[2021-11-17 13:57] #1846 closed

[2021-11-17 16:53] ngupta23 commented on #1819
@msteller-Ai I think I will add this to the "diagnostics" plot (which already exists - but only has histograms, QQ plots and ACF right now) instead of adding one more called "all".
So "diagnostics" will eventually include all other plots as well - PACF, decomp, etc.

[2021-11-18 09:55] #1812 closed

[2021-11-18 11:26] ngupta23 opened #1864 "[BUG] Time Series tune_model does not work for custom pipeline"
Time Series Tune Model does not work with a custom pipeline

**To Reproduce**

[code]

[code]

[2021-11-18 11:57] tugra-alp opened #1865 "[BUG] plot_model() is not working consistently"
I used compare_model() to select top 3 models, and combine them with blend_model() function.

fh=np.arange(25,73) : 1 day gap and 2 days forecast horizon in each split (Hourly data).

`custom_split = SlidingWindowSplitter(fh=np.arange(25,73) , window_length=1200, step_length=720)`
`exp = TimeSeriesExperiment()`
`exp.setup(data=data1,
                  fold_strategy = custom_split,

[2021-11-18 12:13] jultou-raa commented on #1799
Is it available on pycaret-nightly package ?

[2021-11-18 12:17] ngupta23 commented on #1865
You seem to be passing a lot of custom things to the splitter. I can not tell the issue just by looking at the pictures. Can you share a minimally reproducible example (code + data) so I can debug? Thanks!

[2021-11-18 12:18] ngupta23 commented on #1865
Can you try passing fh = np.arange(1, 73) and check. I dont think intermittent fh is supported yet. Just a guess by looking at the image and the difference in the shapes in the error message.

[2021-11-18 13:43] tugra-alp commented on #1865
As a Temporary solving,
This problem can solve if we set data_kwargs when plotting.
Ex:
fh=np.arange(25,73) : 1 day gap and 2 days forecast horizon in each split (Hourly data).

exp.plot_model(estimator=model, data_kwargs = {'fh' : 72})

[2021-11-18 16:07] balgad commented on #1770
I did as you adviced, created a new environment with scikit-learn==0.23.2 and it worked now.

Thank you for your help!

[2021-11-18 16:07] #1770 closed

[2021-11-19 02:58] ngupta23 opened #1866 "[BUG] Time Series W-THU support"
**Describe the bug**

- [x] W-THU is not supported right now. It only works if user specifies `seasonal_period` in setup

**To Reproduce**
![image](https://user-images.githubusercontent.com/33585645/142557323-ea93d9e1-8f9a-4242-aa54-aba775496f61.png)

**Expected behavior**
Would have expected it to automatically infer the freq = 52 from there.

[2021-11-19 13:03] ngupta23 opened #1868 "Time Series | Move Auto-ARIMA to turbo=False bucket"
Auto ARIMA is very slow in general. Since we already have ARIMA in the list of models, it may be ok to move AutoARIMA into turbo=False list so it does not run by default in `compare_models`

[2021-11-19 13:03] ngupta23 commented on #1868
@moezali1 your thoughts on this?

[2021-11-19 18:36] ngupta23 commented on #1588
- [ ] Add VAR Model
    - See [comment link here](https://www.linkedin.com/feed/update/urn:li:activity:6867476659512127488?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6867476659512127488%2C6867497611818000384%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A6867476659512127488%2C6867512755595878400%29)
- [ ] Univariate Models with exogenous variables

[2021-11-19 18:47] ngupta23 commented on #1731
Also see [LinkedIn comment link here](https://www.linkedin.com/feed/update/urn:li:activity:6867476659512127488?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6867476659512127488%2C6867497611818000384%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A6867476659512127488%2C6867512755595878400%29)

[2021-11-19 19:03] galdezanni commented on #1755
@moezali1 ,

great!!! thank you!!!

[2021-11-19 19:08] sorenwacker commented on #1843
Apparently the returned model needs to be wrapped with `wrap_classifier` from yellowbricks.

[2021-11-19 19:08] sorenwacker commented on #1843
Though all the labels are gone.

[2021-11-19 19:43] ngupta23 opened #1872 "[BUG] Time Series | Wrong model argument gives error in run"
This should be handles more gracefully.

[code]

[code]

[2021-11-19 21:28] sorenwacker opened #1873 "[BUG] Shap exlainer and multiclass model not working together."
Using a multi-class model created with ``.

[code]
I can calculate the shap_values but then

[code]

[code]

[2021-11-19 21:43] sorenwacker commented on #1873
Actually this happens also with binary classification sometimes.

[2021-11-20 05:06] praveenck06 opened #1874 "[BUG] Data leakage if feature selection is enabled during setup in pycaret.classification"
Firstly, I like to thank for building this amazing tool

**Describe the bug**

It looks like entire training dataset is used for features selection and then same dataset is used for model selection with cross-validation.
Where the issue lies is during model selection training data will be divided into smaller splits and evaluated on those splits but during the feature selection entire training set

[2021-11-20 09:24] kennysong commented on #1531
+1 for compatibility with sklearn 1.0.

Our team uses sklearn 1.0 in production, and want to add PyCaret, but it's quite difficult due to this issue.

[2021-11-20 13:37] ngupta23 commented on #1866
@sayantan1410 - this might be a good one to look at if you are just starting off. You will need to look into how this is handled in the setup function - somewhere [over here](https://github.com/pycaret/pycaret/blob/73857c0502ec4d47e6ad6c03c2a3ec7a98af7d41/pycaret/internal/pycaret_experiment/time_series_experiment.py#L1007).

Let me know if you need any help to get started.

[2021-11-20 14:42] DanieleBaranzini opened #1875 "expose beta coefficients in print(lr)"
**for any parameterized model like linear regressions (OLS) let's generate:**

**...in the output the pycaret do not print the beta values of each feature predictor for final cross-validated model lr**

**solution:**
**>> have a printout of the beta coefficients**

[2021-11-20 14:46] ngupta23 commented on #1866
Also, "X" minute intervals are not supported (e.g. X = 10)

![image](https://user-images.githubusercontent.com/33585645/142730571-01a43326-8cd4-4975-a6fe-ba83a84905ee.png)

[code]

[2021-11-20 15:33] sayantan1410 commented on #1866
I will surely look at it and will let you know a tentative time within which I can complete it, soon. Also, if I find any issue while solving going through it, I will let you know.
@ngupta23

[2021-11-20 18:59] wkuopt commented on #1874
@Yard1 I believe this issue will be fixed once we are done with preprocessing revamping? Once preprocessing becomes sklearn compatible, we can fit and transform separately for different folds in cross validation.

[2021-11-20 19:03] wkuopt commented on #1575
Hi @elBichon  , I believe this is not a Pycaret issue, since it's the bottleneck library that's causing the error. If you build Pycaret alone, then there is no issue. I will close the issue.

[2021-11-20 19:03] #1575 closed

[2021-11-20 19:05] wkuopt commented on #1465
Closed due to inactivity.

[2021-11-20 19:05] #1465 closed

[2021-11-20 19:58] Yard1 commented on #1874
It will be, correct

[2021-11-20 22:41] moezali1 commented on #1875
@DanieleBaranzini The returned class is just a sklearn estimator. You can access the coefficient with `coef_` parameter. Like this:

![image](https://user-images.githubusercontent.com/54699234/142742882-5f79a2b0-4568-468a-b79d-d4cf9cfde329.png)

Hope this helps.

[2021-11-20 22:41] #1875 closed

[2021-11-21 00:53] wkuopt commented on #1468
Hi @lauraamy , I tried to reproduce the error and found memory error in my terminal. An example:
[code]
However, my kernel did not die and here is the output:
![image](https://user-images.githubusercontent.com/74427160/142745176-d975c4fd-f1e7-4041-9da9-e8cbcdeca828.png)

The result was obtained with the following code:
[code]

I think we can conclude this to be a memory issue.

[2021-11-21 00:53] #1468 closed

[2021-11-21 00:57] wkuopt commented on #1387
Since test_data is indeed an argument and I was not able to reproduce the error, I will close this issue.

[2021-11-21 00:57] #1387 closed

[2021-11-21 01:05] wkuopt commented on #1618
@Yard1 I don't think we claim to support Mac as the tests were only executed against Windows and Linux?

[2021-11-21 02:25] ngupta23 commented on #1656
@sedy2014 - you can have a look at this issue.

[2021-11-21 04:33] sedy2014 commented on #1656
Will do. Thanks.

[2021-11-21 12:25] GDGauravDutta opened #1877 "Needs to get control date_features in preprocessing"
Presently, date_features are encoded using One Hot Encoding but as a user, I feel it can be handled better with Ordinal Encoding or Cardinal Encoding.

Presently, we cannot control this in setup.

Thanks
GD

[2021-11-22 04:33] sayantan1410 commented on #1866
Hey, I have started working on it and will complete it by tomorrow or day after tomorrow !!
@ngupta23

[2021-11-22 08:36] DanieleBaranzini commented on #1875
Thanks Moez, appreciated.

Daniele

[2021-11-22 09:19] DanieleBaranzini commented on #1875
@moezali1 a little further clarification (if possible): is it correct to say that in your example above (10-k fold) such beta parameters (coef_) are of a 'finalised' trained model that  is a final 11th model that use all training data available (in your example above 9 training + 1 validation folds together).

The same process used to finalize a selected trained model by pooling all available data

[2021-11-22 09:20] Subrata15 commented on #1080
HI, I still have this issue, my pycaret version is 2.1.2, any though?

[2021-11-22 09:23] ngupta23 commented on #1836
Issues with in-sample predictions

- https://github.com/alan-turing-institute/sktime/issues/1625
- https://github.com/alan-turing-institute/sktime/issues/1626

Also, in-sample prediction for ARIMA gives very large confidence interval in the beginning for seasonal plots since there is not enough information in the first in-sample season.

[2021-11-22 09:26] ngupta23 commented on #1080
This is a very old version. Please install the latest version in a new conda env and check.

[2021-11-22 18:30] sayantan1410 commented on #1866
Hello, can you give me a little bit insight on :-
1. Why we want to have frequency = 7 in this case, is it because of the dtype or we need to infer frequency = 7 for all the cases, basically how to infer what should be the frequency ?

[2021-11-22 19:26] #1872 closed

[2021-11-22 19:26] #1864 closed

[2021-11-22 19:44] ngupta23 commented on #1866
@sayantan1410 , Currently it is based on the frequency. For example, weekly data has assumed frequency of 7 since the values will most likely repeat after a week. e.g. traffic on Saturdays might be lower than traffic on Wednesdays, etc.

For other frequencies, it is different. For example, quarterly has assumed frequency of 4.

This is a best guess at this time only. In the future, we may add more

[2021-11-23 13:20] osvaldoberg commented on #206
I have the same issue as @n8craig had.

[2021-11-24 07:57] nithinreddyyyy opened #1886 "Unable to show complete models list when training with Pycaret timeseries"
When i'm trying to userpycaret auto timeseries, it's not showing all the models when i'm trying to compare the models.

Below is the image for your reference.
<img width="657" alt="compare" src="https://user-images.githubusercontent.com/75740154/143197356-10e72688-166c-4ead-a19c-13489351c3ee.PNG">

I'm uploading the image of the data also. Please look into it.
<img width="289" alt="data" src="http

[2021-11-24 08:11] tvdboom commented on #1877
This behavior will change in the new release. Useful information will be extracted from the datetime column (day, month, year) and those (numerical) columns are added to the dataset instead of the original. If you think of better/faster/simpler ways to handle datetime columns, please feel free to drop your ideas here.

[2021-11-25 06:13] sayantan1410 commented on #1866
For the first part of the issue,
The pycaret module is correctly infering the frequency of 'W-THU' to be 52. There is no problem with it.
Here's the code:
`import pandas as pd`
`from pycaret.internal.pycaret_experiment import TimeSeriesExperiment`
`from pycaret.datasets import get_data`
`data = get_data('pycaret_downloads')`
`data['Date'] = pd.to_datetime(data['Date'])`
`data = data.groupby('Date'

[2021-11-25 07:00] theadammurphy commented on #1357
I'm working with a dataset of 600k rows and 100 cols. Pycaret is supposed to be a fast and effective way to do loads of experiments but it takes AGES to run a simple `compare_models()` without any tuning. I started with CPU but realised that was going to be way too slow. I've switched to GPU and some models are super fast (1s) but others take 30+ mins.

Having this sample function would give me th

[2021-11-25 09:26] Yard1 commented on #1357
You can sample the data yourself before passing it to PyCaret. That's literally the only thing that it was doing.

[2021-11-25 12:11] ngupta23 commented on #1866
@sayantan1410 Thanks for verifying. This should be good. You can proceed to the next part. Thanks!

[2021-11-25 14:12] AlgoQ opened #1888 "[BUG] Unable to disable shuffle when making use of the classification setup"
**Describe the bug**
When I disable the data_split_shuffle parameter when generating the setup variable for classification, the data stays shuffled. I've noticed this when exploring the `setup` variable.

**To Reproduce**
[code]

**Versions**
<details>
pycaret: 2.3.5
</details>

[2021-11-25 20:59] profbiyi commented on #197
I get this error every time I try to use pycaret for anything. it's frustrating

[2021-11-25 22:55] PabloJMoreno opened #1889 "Display multiple CI at plot_model() when plot='forecast' for ts module"
**Is your feature request related to a problem? Please describe.**
current plot_model(stimator, plot='forecast') displays only 1 CI at the chart, and it can be edited. It would be very convenient to be able to display multiple CI (no more than 3, for example) within the same plot, so comparing forecast values can be more contextualized.

**Describe the solution you'd like**
a new parameter that ca

[2021-11-26 03:45] ReeceJames24 opened #1890 "[BUG] Fix_imbalance parameter not working"
**Describe the bug**

Pulling the transformed 'X_train' and 'y_train' dataframes from get_config() after setup(......, fix_imbalance=True) still shows heavily imbalanced data.

**To Reproduce**

[code]

**Expected behavior**

The documentation for get_config() says X_train and y_train are already the transformed versions of the data meaning they should be balanced already. My assumption now is tha

[2021-11-26 05:22] sayantan1410 commented on #1866
Welcome, Yeah I have started working on the next part !!! @ngupta23

[2021-11-26 09:43] Yard1 commented on #1890
The resampling is applied per every fold in CV and therefore will not be visible in the dataframes obtained through get_config.

[2021-11-26 09:43] #1890 closed

[2021-11-26 13:26] ngupta23 commented on #1886
Sorry, we can not debug using images. We need to know lot more details about this. e.g. How was your experiment setup? Also, check `models()` to see what you get. Do you see all the models?

**Can you send a minimally reproducible example with code and dataset so it can be debugged further?**

[2021-11-26 14:04] edydev85 commented on #319
Hi,

Both evaluate_model() and interpret_model() start to work after using:

%matplotlib inline
%config InlineBackend.figure_format = 'svg' #or 'retina'. Makes the images more clear

Hope that helps

[2021-11-26 18:14] nithinreddyyyy commented on #1886
Sure. Here it is
[data.csv](https://github.com/pycaret/pycaret/files/7610232/data.csv)
https://github.com/nithinreddyyyy/Time-series-with-Pycaret/blob/main/pycaret-ts.ipynb

[2021-11-27 14:23] Moktar13 commented on #219
Did you end up finding a fix for this issue?

[2021-11-27 16:42] moezali1 commented on #1888
Hi @AlgoQ - I have tested this and it seems like `data_split_shuffle` is working as expected.

[code]
![image](https://user-images.githubusercontent.com/54699234/143689650-4280a468-b92f-4520-b9e0-86eaf4ef6abd.png)

[code]
![image](https://user-images.githubusercontent.com/54699234/143689668-e21471c1-0c27-4554-af0d-df078ed9d144.png)

[2021-11-27 16:42] #1888 closed

[2021-11-28 12:52] ngupta23 opened #1892 "Split Time Series Tests into smaller files"
Currently, test_time_series.py is over 800 lines long. Split this into smaller chunks

- [x] test_time_series_setup,py
- [x] test_time_series_metrics,py
- [x] test_time_series_mlflow,py
- [x] test_time_series_models,py
- [x] test_time_series_tune_models_base,py
- [x] test_time_series_stats.py

Add others as needed.

[2021-11-28 12:54] ngupta23 opened #1893 "Refactor time series predict_model"
- [x] Currently, prediction is called multiple times in this function. This can be simplified using the `get_predictions_with_intervals` function so that prediction only needs to be called once.

- [x] Also, make return format consistent (always `pd.DataFrame`) - currently, it is `pd.Series` when prediction interval is not asked for and `pd.DataFrame` when it is asked for.

[2021-11-28 13:06] ngupta23 opened #1894 "Time Series models to use `sp_to_use`"
Currently, all models use something like this

[code]

[code]

Consider replacing `sp` here with `sp_to_use` instead (from `self.sp_to_use`).

[code]

[2021-11-28 13:08] ngupta23 commented on #1865
Fixed, it will be available in the next release.

[2021-11-28 13:08] #1865 closed

[2021-11-28 13:12] ngupta23 commented on #1698
@sayantan1410 This is another issue that you can look at if you are interested. Let me know and I will assign it to you. Thanks!

[2021-11-28 13:13] ngupta23 commented on #1744
You can use `self.sp_to_use` to pass to the decomposition method.

[2021-11-28 13:14] ngupta23 commented on #1744
@sayantan1410 This is another issue you can look at after you are done with your current ones. Let me know if you would be interested in picking this up. Thanks!

[2021-11-28 14:14] ngupta23 commented on #1886
@nithinreddyyyy It looks like you have very few training data points in the first fold so the other models fail to train. Consider reducing the folds to 3 or alternately, reducing the fh to less than 30 and it should work (I have confirmed that it works with folds = 3).

![image](https://user-images.githubusercontent.com/33585645/143771550-1a42ab56-dbf6-460f-add0-5223a8f81adf.png)

[2021-11-28 14:15] ngupta23 commented on #1886
I will close this out but feel free to reopen if you want. Thanks!

[2021-11-28 14:15] #1886 closed

[2021-11-29 02:53] vvvijaya commented on #1766
hello,
Is the enhancement for setting the max/min limit on the data itself ("Time series data can be naturally clamped at a limit") or setting limit on the prediction results? my first impression is the later but wanted to be sure. thanks.

[2021-11-29 03:43] ngupta23 commented on #1766
Well, it was originally intended to be on the predictions only. The idea was that the input being fed would already be limited to the correct values. But the model knows nothing about these limits so it can produce forecasts (and prediction intervals) outside these limits. We would want to clamp those predictions and intervals to those limits.

One example is shown in the link in the 1st post. It

[2021-11-29 04:14] #1331 closed

[2021-11-29 04:15] #1406 closed

[2021-11-29 04:16] ngupta23 commented on #1406
@ramikrispin  This has been implemented. It will go out in the next release.

[2021-11-29 07:00] whire97612 opened #1898 "How to draw multiple models in an AUC curve chart?"
How to draw multiple models in an AUC curve chart? Used to evaluate the relationship between different models

[2021-11-29 07:52] whire97612 opened #1899 "How to save pictures in vector format"
When I save the AUC curve, the saved format is' PNG '. How can I save it in vector format? For example, 'EMF' or 'SVG' or 'PDF'

[2021-11-29 12:38] moezali1 commented on #1898
@whire97612 If you are asking about plotting AUC from multiple models on one plot. This is not possible at the moment.

[2021-11-29 12:38] moezali1 commented on #1899
@whire97612 Not possible at the moment. I will leave it open, in case somebody wanna work on this.

[2021-11-29 12:53] sayantan1410 commented on #1744
Yes, I would love to work on this after the previous ones are done  !!

[2021-11-29 12:54] sayantan1410 commented on #1698
Give me a little bit time, once I am done with the previous ones,  I will drop a comment here and then you can assign this to me !!

[2021-11-29 13:08] sayantan1410 commented on #1866
Hey can I get the dataset for which this error is happening, it will be easier for me to reproduce the issue then.

[2021-11-29 15:49] ngupta23 commented on #1698
Sounds good. Take your time.

[2021-11-29 17:54] vvvijaya commented on #1766
Not really. As mentioned before, I just wanted to be sure the cap is for the predictions & intervals only. :)

Thanks for clarifying!

[2021-11-29 20:05] moezali1 opened #1900 "Metrics in time_series"
Testing:

1. Added MASE Support https://github.com/pycaret/pycaret/issues/1331

![image](https://user-images.githubusercontent.com/54699234/143934739-a26ea555-694d-4a0e-8bc2-b8d469acb2a1.png)

- Can we move MASE after SMAPE? (The sequence should be --> MAE, RMSE, MAPE, SMAPE, **MASE**, R2, TT (Sec)
- Can we remove INPI from the default metric container? (Also I haven't heard of INPI before but I a

[2021-11-29 20:07] ngupta23 commented on #1900
1. I will move MASE after SMAPE.
2. How would someone enable INPI metric if they wanted to?

[2021-11-29 20:09] ngupta23 opened #1901 "Support for multiple seasonal periods?"
### Discussed in https://github.com/pycaret/pycaret/discussions/1895

<div type='discussions-op-text'>

<sup>Originally posted by **drmario-gh** November 29, 2021</sup>
The `seasonal_period` argument of `setup` only allows to specify a single value. However, several estimators such as TBATS or prophet support multiple seasonalities directly, and I guess the rest could support them via multiple des

[2021-11-29 20:11] ngupta23 commented on #1901
@drmario-gh I have created an enhancement request from this discussion but placed it in backlog for now. Would you like to work on this item? If so, we can move it to planned stage.

[2021-11-29 20:11] moezali1 opened #1902 "tuning custom pipeline in tune_model time_series"
[code]

---------------------------------------------------------------------------
_RemoteTraceback                          Traceback (most recent call last)
_RemoteTraceback:
"""
Traceback (most recent call last):
  File "C:\Users\owner\anaconda3\envs\pycaret-ts\lib\site-packages\joblib\externals\loky\process_executor.py", line 431, in _process_worker
    r = call_item()
  File "C:\Users\owner\

[2021-11-29 20:19] moezali1 commented on #1900
@ngupta23 INPI is not a standard metric so I am guessing it's not available in sklearn or sktime.

One thing I can think of is creating a sub-module `metrics` under the `utils` module. This can then be parked there and be used like:

[code]

[2021-11-29 20:21] ngupta23 commented on #1902
There is a typo in the grid. It should be `impute_method` instead of `imputer_method`.

[code]

It works after that is fixed

![image](https://user-images.githubusercontent.com/33585645/143937287-0ae3f6ad-46a4-4773-8dff-9ef523345ca0.png)

[2021-11-29 20:23] ngupta23 commented on #1900
Yes, I have added it under time_series.metrics container. Let me see. Maybe enable this only when `enforce_pi` is set to True? And users can add it manually as well if they want to. Let me check and get back.

[2021-11-29 20:26] ngupta23 commented on #1902
But it does not look like it is taking the parameters in the final model correctly. Let me look into this.

![image](https://user-images.githubusercontent.com/33585645/143937951-8048b345-a45d-489f-bca7-4ed93f444741.png)

[2021-11-29 21:38] maxiuboldi commented on #1136
Hi, is there any solution for this?

[2021-11-30 00:16] ngupta23 commented on #1900
I have implemented this now. Will push shortly. To test

[code]

[2021-11-30 01:02] ngupta23 commented on #1902
This is ok. `choose_better = True` by default, hence it picks the original model itself. This works fine. I will close this out. Feel free to reopen if needed.

[code]

[2021-11-30 01:02] #1902 closed

[2021-11-30 09:31] DanieleBaranzini opened #1904 "issue intalling pycaret-ts-alpha in jupiter notebook"
I cannot run pycaret-ts-alpha following this (https://towardsdatascience.com/announcing-pycarets-new-time-series-module-b6e724d4636c):

events:
I generated a virtual env,
then pip installed pycaret-ts-alpha (but no pycaret due to expected conflicts according to Ali),
but the following error is given when I run the following
_________
ModuleNotFoundError Traceback (most recent call last)
~\AppData\

[2021-11-30 09:34] GDGauravDutta opened #1905 "Online learning features for Classification & Regression modules"
As an user, My data refreshes on regular intervals. So wants to have module in code so as I can use new code to continuous train model rather than working from scratch.

This will help audience to work E2E effortlessly.

[2021-11-30 13:57] ngupta23 commented on #1904
Its hard to say the issue with your local environment. It is working ok for me in my local environment and in Colab in general so its not a package specific issue. Can you run in Colab for now?

Also, what happend when you do this?

[code]

[2021-11-30 14:01] ngupta23 commented on #1854
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

[2021-11-30 14:02] ngupta23 commented on #1866
Just for reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html (these are the options that are available)

[2021-11-30 14:15] moezali1 commented on #1873
@sorenwacker Can you please upload the dataset and the reproducible notebook so we can troubleshoot and resolve the bug?

Thanks for reporting!

[2021-11-30 21:43] #1900 closed

[2021-12-01 05:45] DanieleBaranzini commented on #1904
@ngupta23 Hi, and thanks for the support:

interesting as I got this (about o module named 'pycaret.internal.patches') following your suggestion:

from pycaret.internal.pycaret_experiment import TimeSeriesExperiment

![image](https://user-images.githubusercontent.com/42250123/144178506-f7b29e30-92d8-41dc-825e-917f203a23fd.png)

my pip list below:

`Package                       Version
-----------

[2021-12-01 11:17] ngupta23 opened #1907 "Create functionality to disable metrics"
This is fine for now, but we should have a method in the metric container that would determine whether a metric should be disabled or not in the future. More of a note :)

_Originally posted by @Yard1 in https://github.com/pycaret/pycaret/pull/1903#discussion_r759553213_

[2021-12-01 11:22] ngupta23 commented on #1904
Hey, what does this mean? Did you do that?

[2021-12-01 18:38] manishgupta-ind commented on #962
Great!!! I simply created new environtment with python 3.8 and I could install it smoothly. Root environement in my laptop was having python 3.9 and I struggled for more than 3-4 hours just to find solution on various platforms. I think you guys should clearly mention this in your official page.

[2021-12-02 05:45] drmario-gh commented on #1901
Sure @ngupta23. Not sure how much time I will be able to devote to it on the upcoming days but I will have a go at it.

[2021-12-02 05:59] levelalphaone opened #1909 "Requesting for training scores along with test scores after training models, tuning models or comparing models etc"
1. Currently, after running the functions create_model, compare_model function, etc., do not return train scores, only test scores across the splits or the mean of the test scores are displayed.
2. What if someone wants to validate the scores coming in the training sets, or how the scores are varying across the training sets? The comparison between training scores and testing scores helps us under

[2021-12-02 06:50] wolfryu opened #1910 "add "grid_interval" as a parameter in optimize_threshold method"
**Is your feature request related to a problem? Please describe.**
When using optimize_threshold method, calculate_loss method will run 10000 times to find best threshold. Because gird interval is 0.0001. It will cost a lot of time to calculate threshod, however, sometimes we do not need so small gird search interval.
[code]

**Describe the solution you'd like**
add "grid_interval" as a parameter

[2021-12-02 07:14] wolfryu opened #1911 "Request for get cross validation predict result y_foldN_pred"
**Is your feature request related to a problem? Please describe.**
when we do setup() like this:
[code]
create_model will do 10 folds cross validation and print each fold's AUC, F1score ...
My request is: sometimes we need each fold's y_pred results to do something else such as internal trial statistics p value calculation.
But the return object "clf" cannot get each fold's y_pred.

**Describe the

[2021-12-02 08:39] yeli7068 commented on #840
Thanks any efforts to solve this issue in advance.

It has been a year passed since this issue has been opened up. This would be very helpful for communicating with others.

Plz !!

[2021-12-02 09:06] ngupta23 commented on #1901
Thanks. Let me know if you need any help understanding the code.

[2021-12-02 09:48] ngupta23 commented on #1911
@moezali1 @Yard1 This type of functionality would be useful for time series as well since we may want to plot the predictions from the various folds visually as [shown here](https://github.com/alan-turing-institute/sktime/blob/v0.6.1/examples/01_forecasting.ipynb):

![image](https://user-images.githubusercontent.com/33585645/144397899-e954cc65-9887-4163-956f-bffb24ccf2c7.png)

[2021-12-02 09:52] ngupta23 commented on #1909
This would be useful functionality. But we need to think about the interface since it will apply to `create_model` as well.
May I also recommend adding it in "tall" format with a column for identifying the split (train or test)? That way it is easier to filter if we `pull()` the data frame metrics for further analysis and the user won't have to mess with extracting the splits from the column names

[2021-12-02 09:55] ngupta23 commented on #1904
@DanieleBaranzini I also released an updated pycaret-ts-alpha version yesterday. I did not change anything regarding the installation but would be worth a try. Also, the recommendation above to try and restart the kernel might help.

Let me know how it goes.

[2021-12-02 10:27] ngupta23 commented on #1901
One thing we will need to consider is if multiple seasonalities are passed by user, then which one gets picked for the models that only support one seasonal frequency. Maybe we can do this...

[code]

Also, we need to understand how we can programmatically determine which model supports a single frequency and which one supports multiple frequencies.

Just some thoughts... feel free to add to it.

[2021-12-02 10:28] ngupta23 commented on #1901
Also, when adding this, please submit a PR to the `time_series` branch for now. Thanks!

[2021-12-02 13:25] ngupta23 commented on #1331
See supported syntax for adding this metric here: https://github.com/pycaret/pycaret/issues/1900#issuecomment-982153605

[2021-12-03 09:34] levelalphaone commented on #1909
Hi. I could not understand your point. Can you explain via an example maybe? With some images as well? @ngupta23 it would be really helpful.

[2021-12-03 22:49] ngupta23 opened #1914 "Change name for INPI metric"
Change INPI to PICOV (Prediction Interval Coverage)

Refer this feedback from [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:6872550071746015233?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6872550071746015233%2C6872597586633621504%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A6872550071746015233%2C6872636030349012992%29) from @valeman

[2021-12-04 02:48] DanieleBaranzini commented on #1904
@ngupta23  SOLVED! the pycaret time series module is now up an running even in my jupiter ntbk as well:   --> the issue was  my windows 7 (sic!) configuration...there was a nasty dll (Api-ms-win-core-winrt-l1-1-0.dll) that I had to bring back to life and port it into the virtual env were I was doing my pycaret tests as you suggested...in fact there was nothing erroneous in pycaret but actually a c

[2021-12-04 13:06] moezali1 commented on #1909
@levelalphaone This is very useful. I would love to have this go in the next release. (in 1-2 weeks). Can you please clarify what is Train_ score is? Is it mean a cross-validated score, if yes, then it's not really performance of the train set, it is a cross-validated (out of sample) measurement.

[2021-12-04 13:08] moezali1 commented on #1910
@wolfryu Would you like to work on this issue?

[2021-12-04 13:10] moezali1 commented on #1899
@whire97612 Would you like to work on this issue?

[2021-12-04 13:40] wolfryu commented on #1910
@moezali1
Sure! I am glad to contribute to this great project!
Is there any instruction of contribution on Pycaret? Or just make a contribution the same as other open source projects? (such as this: https://www.dataschool.io/how-to-contribute-on-github/)

[2021-12-04 14:01] moezali1 commented on #1914
In statistics, the coverage probability of a technique for calculating a confidence interval is the proportion of the time that the interval contains the true value of interest.[1] For example, suppose our interest is in the mean number of months that people with a particular type of cancer remain in remission following successful treatment with chemotherapy. The confidence interval aims to contai

[2021-12-04 14:04] moezali1 commented on #1911
@ngupta23 @wolfryu @Yard1

This is a good suggestion but if we are doing intervention to return fold level details then we don't need to restrict ourselves to `y_pred` only. We can also return models at each fold, index of train and validation rows, and the actual dataset as well incase SMOTE is used. So basically anything that we might think is useful during cross-validation can be stored in a di

[2021-12-04 14:11] #1682 closed

[2021-12-04 14:12] moezali1 commented on #1633
@skyleong7777 This may have happened because you have pycaret and pycaret-nightly in the same environment.

![image](https://user-images.githubusercontent.com/54699234/144712588-67ad5370-da28-43a3-bd66-0829c5fba064.png)

I suggest you remove `pycaret-nightly` from your environment or create a separate environment for pycaret.

[2021-12-04 14:18] moezali1 commented on #1547
@lokesharya99 Please follow this Notebook for LightGBM GPU installation on Kaggle: https://www.kaggle.com/abhishek/running-lightgbm-on-gpu

[2021-12-04 14:18] #1547 closed

[2021-12-04 14:19] #1574 closed

[2021-12-04 14:23] moezali1 commented on #1633
@Yard1 I need your help here. I tried reproducing this error in a fresh environment and I am able to reproduce it. I don't understand why it is happening. All the variables are correctly defined. The reproducible notebook and data is [here](https://github.com/skyleong7777/test2).

This is the error:
---------------------------------------------------------------------------
AttributeError

[2021-12-04 14:25] moezali1 commented on #1910
@wolfryu Please submit the PR explaining what change is made and why. Also, please ensure you update the test cases for this (if any). Thanks

[2021-12-04 14:27] moezali1 commented on #1834
MASE is added now, but please do not remove R2.

Users have the ability to use the `remove_metric` function to remove R2 if they want.

[2021-12-04 14:28] moezali1 commented on #1753
@csinva Thanks for your suggestion. Would you like to work on this? I am open to additions.

[2021-12-04 14:29] moezali1 commented on #1749
With the current design, all the interpretations and analyses are based on the test set.

[2021-12-04 14:29] #1749 closed

[2021-12-04 14:30] moezali1 commented on #1670
Please inherit the `automl` and `get_leaderboard` function from `pycaret.classification` and `pycaret.regression`.

Open to other ideas as well.

[2021-12-04 14:31] #1601 closed

[2021-12-04 14:33] #1390 closed

[2021-12-04 14:37] moezali1 commented on #921
We can create a new function `analyze_clusters` which takes a trained model and internally will call `assign_model` and then group by to produce the output similar to what is shown above.

[2021-12-04 14:37] moezali1 commented on #618
@angieariza You can stop all the transformations by passing `preprocess=False` in the `setup` function.

[2021-12-04 14:37] #618 closed

[2021-12-04 14:38] #1289 closed

[2021-12-04 14:38] #1299 closed

[2021-12-04 14:46] #420 closed

[2021-12-04 14:48] #1032 closed

[2021-12-04 14:49] #66 closed

[2021-12-04 14:50] #372 closed

[2021-12-04 15:42] ngupta23 commented on #1911
Based on 12/4 weekly discussion...

folds["models"] = List of models per fold
folds["train_indices"] = List of training indices per fold
folds["cv_indices"] = List of CV indices per fold
folds["preds"] = List of predictions

Please add more as needed

[2021-12-04 18:10] csinva commented on #1753
I can but am swamped with wrapping up my PhD for a few months, so probably can't get to it for a while.

[2021-12-04 18:18] Yard1 commented on #1753
BTW. You can already use any sklearn-compatible model by passing it as an argument to `create_model`

[2021-12-04 18:49] csinva commented on #1753
Oh awesome thanks for the note, this should just work then!

[2021-12-04 19:11] moezali1 opened #1918 "Integration with Evidently for drift monitoring"
Integration with Evidently for drift monitoring

![image](https://user-images.githubusercontent.com/54699234/144721717-0376aafa-3ce6-4043-b244-1955c8afd524.png)

![image](https://user-images.githubusercontent.com/54699234/144721722-432e2f92-398f-4178-b0d7-f66fb73326e9.png)

![image](https://user-images.githubusercontent.com/54699234/144721728-2a6b32d5-1966-47dc-a531-8e3cf1eb7d8c.png)

![image](htt

[2021-12-04 19:14] moezali1 opened #1919 "Addition of new function create_report"
Three students from PURDUE University completed a development sprint for new functionality (`create_report`) in `pycaret.classification` and `pycaret.regression` and later for `pycaret.time_series` for automated documentation and audit. It will be released in `2.3.6`.

To see details, checkout the scope of work document:

[PyCaret Scope of Work Document - PURDUE  University MSBAIM.docx](https://gi

[2021-12-04 19:17] #1852 closed

[2021-12-04 19:24] moezali1 opened #1920 "New documentation"
Create and consolidate all documentation in one place.

Draft: https://pycaret.gitbook.io/docs/

This new documentation will be the single source of truth for everything related to PyCaret (including community contributions).

People interested in maintaining this long-term, please ping me on Slack.

[2021-12-05 02:21] mbeddo-crmz opened #1922 "Using NLP model on unseen data seems awkward"
For the NLP module, the assign_model() function is not useful for unseen document data. Maybe add arguments to handle new documents: assign_model(model, **newdata=NULL**, verbose=False)? If newdata is NULL then behavior is unchanged. If newdata is not null, then steps 1-8 from setup() are performed to preprocess the document(s) and step 9 is modified to use the is2word dictionary from the trained

[2021-12-05 11:22] AJarman commented on #1623
Hi @ngupta23 I'd like to try implementing this - However this is my first open source contribution. Is there a contributor guide?

[2021-12-05 19:01] moezali1 commented on #1922
@mbeddo-crmz I agree with you. To be honest, `pycaret.nlp` module was never a focus and I couldn't build a function like `predict_model` that can be used to pass next through the entire pipeline and generate inference. Hence it is not so much useful to create topic models in PyCaret since `predit_model` function is missing.

Will you be interested in creating this new function `predict_model` in t

[2021-12-05 22:18] jahidhasanlinix commented on #166
I also have the same issue. When I set my value into 0.09 it works other than when a higher value is set like 1...100 it does not show output and much smaller shows such error, any helps
![screenshot](https://user-images.githubusercontent.com/36171973/144766114-4998f717-ed6b-4ae1-9442-d9c4af9539e9.png)
.

[2021-12-06 00:32] ltsaprounis opened #1923 "time series - add Root Mean Squared Scaled Error for time series"
Root Mean Squared Scaled Error is a very popular time series metric. Similarly to MASE (already supported) it is scaled by the error of a one-step Naive forecaster in the in-sample set:

![](https://raw.githubusercontent.com/ltsaprounis/dsf-ts-forecasting/0ebdcc637f9971f7c7f6751e436def9f8bbaad4e/notebooks/images/02_rmsse.png)

It's also a very popular scaled metric for intermittent time series due

[2021-12-06 01:50] ngupta23 commented on #1923
Hi @ltsaprounis , Thanks for the discussion the other day and for picking this up. I have assigned this to you.

This would be the location to start looking to add new metrics: https://github.com/pycaret/pycaret/blob/time_series/pycaret/containers/metrics/time_series.py

[2021-12-06 05:34] mbeddo-crmz commented on #1922
I would be interested in helping out. I'll take a look at the predict_model function from other modules and learn how it works.

[2021-12-06 08:11] levelalphaone commented on #1909
Hi @moezali1. You are right. The Train_Score does not signify the performance of the model on the entire training set but the training samples of the cross-validation splits. Here is the example -

![image](https://user-images.githubusercontent.com/84379260/144810488-e7148236-825b-4bdc-8ff4-258ab44861d7.png)

[2021-12-06 10:23] AJarman commented on #1623
I've made a start here, not had time to look at tests yet.
https://github.com/AJarman/pycaret/commit/1a7d36eff58b7cda6d51c97e230f44e5053f7a0f

[2021-12-06 19:28] ngupta23 commented on #1623
@AJarman Thanks for taking the initiative with this open issue.

I would like to pair you up with @ltsaprounis who is an experienced `sktime` developer and has been coming up to speed on `pycaret` as well. If both of you could please join the Slack channel, we can continue the detailed discussion there. Thanks!

https://join.slack.com/t/pycaret/shared_invite/zt-row9phbm-BoJdEVPYnGf7_NxNBP307w

[2021-12-06 19:51] ngupta23 commented on #1904
Glad you like it.

I am not sure about Kuberflow.  @moezali1 - does that work with `pycaret`?

[2021-12-06 22:19] AJarman commented on #1623
Thanks @ngupta23, been following the project for a while and using the regression module at work,  so hopefully I can pay it forward a little and been using `sktime` too.
I am really busy this week but will have some time on Sunday to make some commits.
Until then I'll try and get a bit more familiar with the codebase.

[2021-12-07 14:35] rattlesnakey opened #1928 "NO SSH connection in profile"
Hello, I can't see SSH connection in macos arm64
device: m1 mac BigSurg

[2021-12-08 12:36] XiangBu commented on #925
I set up use_gpu=True and it's weird when training lightgbm, it works while catboost doesn't.

[2021-12-08 18:53] ngupta23 commented on #1914
@moezali1  @valeman So should we shorthand it "COVPROB" then?

[2021-12-09 12:11] moezali1 commented on #1928
Hi @rattlesnakey. You will have to describe the issue in a little bit more detail than, if you really need help.

[2021-12-09 12:14] moezali1 opened #1934 "Integration with Explainer Dashboard"
Create a new function `dashboard` in `pycaret.classification` and `pycaret.regression` module which takes a trained model and generates `ExplainerDashboard`. See the [project](https://github.com/oegedijk/explainerdashboard).

Example:
![image](https://user-images.githubusercontent.com/54699234/145394556-8b487298-1737-44ad-bdc6-e484cb2deb8b.png)

[2021-12-09 18:39] harsh204016 commented on #1780
Hi @moezali1, could I try to solve this issue ..

[2021-12-09 21:04] NadeemNicoR opened #1937 "when i set the cross_validation parameter to false why do i get the test score and not the training score , ideally i should be getting the training score on the training data and upon using predict_model is when i must be getting the hold out score"
**Is your feature request related to a problem? Please describe.**
when i set the cross_validation parameter to false why do i get the test score and not the training score , ideally i should be getting the training score on the training data and upon using predict_model is when i must be getting the hold out score
**Describe the solution you'd like**
when i set the cross_validation parameter to f

[2021-12-09 22:37] NadeemNicoR commented on #1937
the point i am trying to make is when i specify the training size to be 0.8 i want not the cross validation score but just the training score (simply put model's performance on the training data)

[2021-12-10 11:21] trungtly opened #1939 "Normalized confusion matrix"
**Is your feature request related to a problem? Please describe.**
Currently the `plot_model()` function (classification) plots the confusion matrix with absolute numbers. It would be great to have the normalized confusion as well.

**Describe the solution you'd like**
Just need to normalize the current confusion matrix to show values between 0 and 1.

**Describe alternatives you've considered**
A

[2021-12-10 13:45] #1923 closed

[2021-12-10 14:04] moezali1 commented on #1939
@trungtly Thanks for suggesting. We are working on this and this functionality will be available in the next release `2.3.6`.

[2021-12-10 14:04] moezali1 commented on #1379
This issue is being worked in #1939. Hence closing this one.

[2021-12-10 14:04] #1379 closed

[2021-12-10 14:05] moezali1 commented on #840
This will be addressed through enhancement in #1939. Hence closing this issue.

[2021-12-10 14:05] #840 closed

[2021-12-10 18:51] #1928 closed

[2021-12-10 18:52] moezali1 commented on #1922
Thanks. Feel free to reach out to me or @Yard1 as you need any help! Also, join us on [Slack](https://join.slack.com/t/pycaret/shared_invite/zt-row9phbm-BoJdEVPYnGf7_NxNBP307w).

[2021-12-11 13:34] moezali1 opened #1943 "parallel back-end"
At the moment scikit-learn uses `loky` backend to single node parallel processing. There are 3-4 other options for backend like `multithreading` or `ray`. We should create a new parameter in setup for the user to set that backend.

We can set the backend that gets reflected in the `n_jobs` parameter by using a function from `sklearn.utils` module.

Hopefully its not a big change.

[2021-12-11 13:34] moezali1 opened #1944 "parallel back-end"
At the moment scikit-learn uses `loky` backend to single node parallel processing. There are 3-4 other options for backend like `multithreading` or `ray`. We should create a new parameter in setup for the user to set that backend.

We can set the backend that gets reflected in the `n_jobs` parameter by using a function from `sklearn.utils` module.

Let's call this new parameter in setup: `parallel

[2021-12-11 20:58] #1943 closed

[2021-12-11 20:58] Yard1 commented on #1943
Duplicate

[2021-12-12 12:01] whire97612 opened #1947 "Deep learning"
As we all know, deep learning has become a research hotspot at present, but writing deep learning code is complex and difficult to get started. Under this background, whether pycaret team considers developing deep learning functions, such as CNN, RNN, LSTM, etc., will be pursued and used by a large number of scientific researchers

[2021-12-12 14:38] moezali1 commented on #1937
@NadeemNicoR Actually what you said is a valid point. I am thinking about this. Give me some time!

[2021-12-12 22:20] codecypher commented on #1698
What is the status? I would like to try workin on this ticket if it is still open.

[2021-12-12 23:32] ngupta23 commented on #1698
@codecypher - @sayantan1410  is already working on it. But we would love for you to contribute to any other open (unassigned) issue.

Please have a look at this roadmap for open tickets: https://github.com/pycaret/pycaret/issues/1648. If you want a curated list, may I recommend one of the plotting features such as https://github.com/pycaret/pycaret/issues/1656 or https://github.com/pycaret/pycaret

[2021-12-13 00:09] ngupta23 commented on #1588
## Proposed `setup` interface

Supports:

1. univariate,
2. univariate with exogenous variables and
3.  vector multivariate models.

| Data Type    | # Columns | Setup Arg `target` | Setup Arg `index` | Setup Arg `type` | Setup Arg `ignore_features` | Type | Notes |
|--------------|-----------|--------------------|-------------------|------------------|-----------------------------|-------|-------

[2021-12-13 05:55] codecypher commented on #1698
Will do. I would recommend assigning it to him since it is not showing as assigned to anyone.

[2021-12-13 13:33] wodecki opened #1953 "PyCaret doesn't import from python script and CLI[BUG]"
**Describe the bug**

I followed precisely the installation instruction provided on https://pycaret.org/install/
When run from CLI/Python Script (not Jupyter Notebook), Python generates the message:
ModuleNotFoundError: No module named 'pycaret'

**To Reproduce**

1. install pycaret following https://pycaret.org/install/
2. in terminal type: python
3. in python CLI: `import pycaret'
In my case sys

[2021-12-13 15:31] wodecki commented on #1953
Problemy solved by:
1. using installation instructions from:
https://pycaret.readthedocs.io/en/latest/installation.html
2. on one of the tested machines I had to create and activate a python virtualenv before conda env (probably due to some conflicts with other system packages.

[2021-12-13 15:31] #1953 closed

[2021-12-13 16:29] ngupta23 commented on #1654
Consider using `sktime` difference transformer for this to make it consistent with underlying sktime package.

https://www.sktime.org/en/v0.9.0/api_reference/auto_generated/sktime.transformations.series.difference.Differencer.html

[2021-12-14 08:20] dvl00 commented on #808
same plot_model does not seem to work on colab

[2021-12-14 12:58] AJarman commented on #1623
@ltsaprounis
[demo notebook](https://github.com/AJarman/pycaret/blob/de52570bcb5f60c4ae9aacd7236afdf131a4593b/time_series_croston.ipynb)
If you could review this that would be great, all i've really done is added the container and this demo notebook.
There is a codespace - Not sure how I can grant you access to this.

Happy to do some more QA tasks, but tests running fine and the model is behaving

[2021-12-14 15:29] set92 commented on #1947
Isn't better to create specialize libraries? I mean, Pycaret can focus on ML, and [Autogluon](https://auto.gluon.ai/stable/index.html) on DL. It is true that sometimes is hard to change the code to try different algorithms with 2 different libraries, but I don't see that many contributors to Pycaret to ask them to support more algorithms.

I suppose if some organization supports Pycaret or suddenl

[2021-12-15 05:34] wolfryu commented on #1910
Thank you!

[2021-12-15 05:34] #1910 closed

[2021-12-15 10:24] ngupta23 commented on #1892
Complete after merging preprocessing branch.

[2021-12-15 10:25] ngupta23 commented on #1894
complete after merging preprocessing since we would be changing form using `globals_dict` to `experiment` in Model Container.

[2021-12-15 10:28] ngupta23 opened #1955 "Option for Kubeflow as MLOps"
@ngupta23  SOLVED! the pycaret time series module is now up an running even in my jupiter ntbk as well:   --> the issue was  my windows 7 (sic!) configuration...there was a nasty dll (Api-ms-win-core-winrt-l1-1-0.dll) that I had to bring back to life and port it into the virtual env were I was doing my pycaret tests as you suggested...in fact there was nothing erroneous in pycaret but actually a c

[2021-12-15 10:29] ngupta23 commented on #1955
@Yard1 Is it possible to make mlflow integration more modular so we can swap other mlflow engines?

[2021-12-15 10:34] ngupta23 commented on #1623
@AJarman Thanks for working on this. From the notebook perspective, it looks good. Can you submit a Pull Request with the code changes and example notebook? It might be better to review the whole thing that way. This will also enable the unit tests to run to ensure that nothing else is breaking.

[2021-12-15 11:39] trungtly opened #1957 "Average metrics for class_report plot"
**Is your feature request related to a problem? Please describe.**
Currently the plot for class_report only show recall, precision, F1, support for each individual class.
Adding an average value for all classes would be great.

**Describe the solution you'd like**
The sklearn report is widely used:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html

**Desc

[2021-12-15 14:33] ngupta23 commented on #1904
I have opened a separate issue for Kubeflow. We will go ahead and close this one since it is resolved.

[2021-12-15 14:33] #1904 closed

[2021-12-15 14:33] #1866 closed

[2021-12-15 21:52] Scottwrench opened #1961 "[BUG] AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'"
**Describe the bug**

When running setup for regression get error: AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'. I have tried ensuring all of the dependency versions are loaded. I can change the specific type of AttributeError by with parameter settings but still get some type of AttributeError

**To Reproduce**

[code]
Error log
[code]

pycaret.__version__
-->

[2021-12-16 00:10] Yard1 commented on #1961
Update to latest pycaret version and make sure you have sklearn=0.23.2

[2021-12-16 15:05] #1961 closed

[2021-12-16 22:08] AJarman commented on #1766
@ngupta23 happy to pick this up next after Croston, I have 2 weeks vacation from work from tomorrow.
Interested in some of the other issues here, but building up my confidence/knowledge of the library before implementing something more difficult!

[2021-12-17 05:07] myeongsuseong opened #1964 "[BUG] Use of Custom CV Generator Object"
**Describe the bug**

Hi all!

Currently, I encountered an issue regarding using custom CV generator in 'setup'.

I am testing it based on the beginner level tutorial of binary classification of PyCaret (CLF101, https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb)

What I am checking is kinda simple.
Firstly, I tried

[2021-12-17 05:52] myeongsuseong commented on #1964
Sorry for confusing. Later I realized that what I wanted to use was 'LeaveOneOut()' rather than 'LeaveOneGroupOut()'.
After replacing 'LeaveOneGroupOut' as 'LeaveOneOut', it seems like everything works fine.

[2021-12-17 05:52] #1964 closed

[2021-12-17 15:39] AJarman commented on #1766
@ngupta23 I assume this would be useful in the regression module also?

[2021-12-17 17:18] #1623 closed

[2021-12-17 17:19] moezali1 opened #1967 "evaluate_model failing"
[code]
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-4-a8b702052935> in <module>
----> 1 evaluate_model(lr)

~\pycaret\pycaret\classification.py in evaluate_model(estimator, fold, fit_kwargs, groups, use_train_data)
   1668     """
   1669
-> 1670     return pycaret.internal.tab

[2021-12-17 17:19] #1892 closed

[2021-12-17 17:24] ngupta23 commented on #1766
Awesome. Please give it a shot. This is what I was thinking.

(1) Introduce 2 new parameters in `setup` called `lower_clamp` and `upper_clamp` (defaults to `None` which implies no limits). Note that this needs to be done in 2 files - `pycaret/time_series.py` (which supports the functional API) and `pycaret/internal/pycaret_experiment/time_series_experiment.py` (which supports the OOP API).
(2) The

[2021-12-17 17:25] ngupta23 commented on #1766
I think it would be. @moezali1 @Yard1 Would you like to include this functionality in the regression module as well?

[2021-12-17 17:55] ngupta23 commented on #1654
@codecypher Are you going to work on this one?

[2021-12-17 17:56] ngupta23 commented on #1656
@codecypher Are you going to work on this one? Let me know so that it can be assigned appropriately.

[2021-12-17 22:11] ngupta23 commented on #1654
So we should always plot the original and then the differences.

If only first difference is asked for, it can be a 1x2 plot. If first 2 are asked for, then it can be a 1x3 plot.

Anything more than that.wouod need to wrap into multiple rows.

[2021-12-17 22:13] codecypher commented on #1654
No, it would kinda help to have an example of what we want to do.

[2021-12-17 22:25] codecypher commented on #1656
Does this refer to scipy.signal.spectrogram, scipy.signal.welch, and spicy.fft?

[2021-12-18 12:14] AJarman commented on #1766
@ngupta23 Thanks for the heads up, very useful.
I'll have a look at the code this weekend , should be fairly straightforward - which branch should i use when forking ?
I assume `time-series` ?

[2021-12-18 14:15] ngupta23 commented on #1766
Yes, fork from `time_series` and merge back to the same branch. Thanks!

[2021-12-18 14:26] ngupta23 commented on #1656
Yes, correct. We basically want to plot the frequency profile that will make it easier to identify the `seasonal_period`.

[2021-12-18 14:35] moezali1 opened #1971 "Integrate sklearn-intelex"
Integrate sklearn-intelex

It is an intel driver for scikit-learn acceleration. There are few algorithms supported: https://intel.github.io/scikit-learn-intelex/algorithms.html

Results are awesome:

Original:

![image](https://user-images.githubusercontent.com/54699234/146644694-36b11dfa-b48e-4da0-b43f-2d679c7303e1.png)

With Intel Driver:
![image](https://user-images.githubusercontent.com/546992

[2021-12-18 15:14] AJarman commented on #1766
About to write some tests
I have just drafted this PR whilst I have time, please do not merge !

[2021-12-18 16:48] sumeshmr opened #1973 "models() not working"
NameError: name 'logger' is not defined
Traceback:
File "/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.7/site-packages/pycaret/regression.py", line 2098, in models
    type=type, internal=internal, raise_errors=raise_errors
File "/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.7/site-packages/pycaret/internal/tabular.py", line 9582, in models
    logger.info(f"gpu_param set

[2021-12-18 17:13] ngupta23 opened #1974 "[BUG] Some time series not working for alphanumeric frequencies"
**Describe the bug**

Related to #1866

10-minute frequency does not work for some models

Example notebook here: https://gist.github.com/ngupta23/cdea6111168d1671852bd95db4546d29

**To Reproduce**

[code]

[code]

**Expected behavior**
Models should work at 10 minute intervals

[2021-12-18 17:14] ngupta23 commented on #1974
@sayantan1410 FYI... I will look into this in a few days...

[2021-12-18 17:51] ngupta23 commented on #1654
@codecypher I updated the original post itself to avoid confusion. Let me know if this makes more sense.

https://github.com/pycaret/pycaret/issues/1654#issue-1018369554

[2021-12-18 18:07] ngupta23 commented on #1655
Actually, thinking about this more, the purpose of evaluation would not be to replicate the plotting (https://github.com/pycaret/pycaret/issues/1654), but to do additional tests on the differences for example, run `LJung-Box` test on differences or other tests on the differences.

Interface TBD

[2021-12-18 18:10] ngupta23 commented on #1654
@codecypher As you build this, think about adding modular functions to get the data required for the plot (i.e. the differences). I would like to reuse those functions for the `check_stats` functionality. For example, I will use your function to get the differenced data and then run statistical tests on them (#1655)

[2021-12-18 18:54] ngupta23 commented on #1973
Please provide complete code (reproducible example) to reproduce the error. You can find more details here: https://stackoverflow.com/help/minimal-reproducible-example

[2021-12-19 06:30] sayantan1410 commented on #1974
Okay, also I can look into this as well once I am done with my current issues but that may delay this a bit.

[2021-12-20 08:26] sumeshmr commented on #1973
`from pycaret.regression import *
models()`

pycaret version 2.3.5

[2021-12-20 13:05] moezali1 commented on #1973
@sumeshmr You must execute `setup` first to see the models through `models()` function. This is because when you initialize `setup`, depending on whether you are using GPU or not, specific estimators are imported.

[code]

Hope this helps.

[2021-12-20 13:05] #1973 closed

[2021-12-20 13:06] moezali1 commented on #1934
Done

[2021-12-20 13:06] #1934 closed

[2021-12-20 13:06] moezali1 commented on #1918
Done

[2021-12-20 13:06] #1918 closed

[2021-12-20 13:06] moezali1 commented on #1939
Done

[2021-12-20 13:06] #1939 closed

[2021-12-20 13:19] moezali1 commented on #1914
@ngupta23 I have submitted this to Prof. Anton for his suggestion. Will put the response here!

[2021-12-20 17:53] sumeshmr commented on #1973
Hello,

This behavior looks weird. I wanted to list all the regression algorithms supported, now this is not possible without a data set and calling setup method?

[2021-12-20 20:09] Yard1 commented on #1971
Honestly, is it worth doing that on our side? One simply needs to do `patch_sklearn()` at the very start of the script, before importing pycaret, and nothing else is needed

[2021-12-20 23:07] rjuarezp opened #1976 "[BUG] version 2.2.0 instead of 2.3.5 being installed after running pip install pycaret"
**Isue**

I just create a new virtual environment (```python -m venv venv``` with python 3.9.9) and run ```pip install pycaret```

**To Reproduce**

[code]

**After that, I just run**
[code]

**and I get version 2.2.0!!!! Do you know why I am not getting the version 2.3.5? Thanks for the help!**

The version 2.2.0 is having the **AttributeError: 'Make_Time_Features' object has no attribute 'list o

[2021-12-21 01:44] BlackArbsCEO opened #1977 "[BUG] blend_models with method auto generates an error"
**Describe the bug**
using blend_model method with auto generates the following error:

[code]
-->

**To Reproduce**

-->

[code]

**Expected behavior**
automatically choose 'soft' or 'hard' as described in the docs.

**Versions**
'2.3.5'

</details>

[2021-12-21 01:53] BlackArbsCEO commented on #1977
[code]

[2021-12-21 12:33] moezali1 commented on #1971
It's such a low-hanging fruit that I cannot resist and I think it will just create more awareness around intel drivers for scikit-learn. I think there is no harm in adding a parameter in setup, something like `use_intel_accelerator` or `use_intelex`

[2021-12-21 13:41] moezali1 commented on #1971
Also, I tried that just running `patch_sklearn` at the beginning of Jupyter Notebook doesn't work. Unless you don't import explicitly from `sklearnex` example: `from sklearnex.neighbors import KNeighborsClassifier`, you do not get performance gain.

When `patch_sklearn` is used after setup and before `create_model`, it doesn't generate any error but accelerator just doesn't work. If you want to se

[2021-12-21 13:42] moezali1 commented on #1971
@Yard1 I am thinking to handle it through the model container. What do you think?

[2021-12-21 18:57] jmrichardson opened #1980 "ValueError: test_size=0.0 should be either positive and smaller than the number of samples 6650 or a float in the (0, 1) range"
Using the following code, I am not able to use all data for training and cross validation.  The documentation says that train_size can be set to 1.0 (meaning I don't want a hold out test set) but I get an error:

[code]

`ValueError: test_size=0.0 should be either positive and smaller than the number of samples 6650 or a float in the (0, 1) range`

[2021-12-21 23:54] AlvaroMatsuda commented on #941
Hi, I would like to know if it's possible to access the transformed dataframe when we use custom_pipeline?

[2021-12-22 06:34] yamasakih opened #1981 "[BUG] Running the plot_model(plot="tree") of the decision tree will raise AttributeError"
**Describe the bug**

If the target variable type is integer, such as the dataset "questions", running the `plot_model(plot="tree")` of the decision tree will raise the following error.

**To Reproduce**

[code]

Error
[code]

**Expected behavior**
Draw tree like below:
![image](https://user-images.githubusercontent.com/10294378/147046725-7faebb9c-0234-42c4-9049-4da10d4777d8.png)

**Versions**
2.3

[2021-12-22 20:22] msincan commented on #1976
This may be a workaround but, have you considered trying `pip install pycaret==2.3.5`

[2021-12-22 21:06] jmrichardson commented on #1980
Sorry, this is not a bug and see there is a finalize_model which trains on the entire dataset.

[2021-12-22 21:06] #1980 closed

[2021-12-23 03:33] trungtly opened #1986 "plot_model for hold-out test dataset"
**Is your feature request related to a problem? Please describe.**
Currently pycaret supports `plot_model` for data that was used in `setup`.
In practice, a hold-out test set (with label) is often reserved only for testing purpose (i.e. not include the experiment `setup` / cross validation).

It would be great if `pycaret` can provide plot_model for this hold-out test dataset.

Another use case is

[2021-12-23 04:10] dandluu opened #1987 "[BUG]Tuned_model does not return most optimized model"
**Describe the bug**

Unsure if this is a bug or if I am doing something wrong, I can change the label of this report.
I created a tuned model following the basic workflow from pycaret and the score grid gave me a variety of results from its score grid.
I expected that the model returned is the most 'optimized' model however that did not seem to be the case. From plotting the model errors the mode

[2021-12-23 09:37] atwahsz opened #1988 "[BUG] Colab error , load() missing 1 required positional argument: 'Loader'"
![img](https://github.com/atwahsz/misc_graphics/blob/main/Screenshot%20from%202021-12-23%2010-34-43.png?raw=true)
as seen in the image above

[2021-12-24 08:15] bkavak opened #1993 "Using just pipeline of Pycaret"
I have a large dataset. I will not develop any model. Just I want to use preprocessing step of Pycaret. I'm getting a sample from the whole data and run setup with it. Afterwards I'm using that pipeline with get_config for transforming the whole dataset. But results of preprocessing of the whole dataset are changing everytime when I take different sample in setup step. I don't know if i'm right bu

[2021-12-24 16:58] #1993 closed

[2021-12-25 14:14] ngupta23 opened #1995 "[DOC] Time Series `check_stats` is not documented"
Documentation for `check_stats` is not visible [here](https://pycaret.readthedocs.io/en/time_series/api/time_series.html).

[2021-12-25 17:56] BassCoder2808 commented on #1988
Hi @atwahsz , the error is not related to the pycaret library it is actually related to the version of pyyaml which google colab uses.
The latest version of pyyaml is 6.0 which is not compatible with the current way Google Colab imports packages. This can also be seen through the requirements.txt file where it has been specifically mentioned about the pyyaml version. It should be less than 6.0.
Th

[2021-12-26 14:42] moezali1 commented on #1988
@BassCoder2808 +1.

In the next release, we will pin the `payyaml` version for Colab. However, in the meantime, you will have to do as @BassCoder2808 suggested.

Alternatively, you can install pycaret's master branch from GitHub directly:

[code]

Thanks

[2021-12-26 14:42] #1988 closed

[2021-12-26 14:44] moezali1 commented on #1976
@rjuarezp It seems like you have installed unstable and stable release in the same environment. Maybe thats why.

I suggest you either try it in a fresh conda environment or do this:

[code]

Hope this helps.

[2021-12-26 14:44] #1976 closed

[2021-12-27 01:52] moezali1 commented on #1987
@dandluu Is it possible for you to reproduce this bug using any open-source public dataset?

[2021-12-27 01:55] moezali1 commented on #1977
@Yard1

[2021-12-27 13:27] Yard1 commented on #1977
Hey, I couldn't reproduce this. Are you sure you have the latest PyCaret version? @BlackArbsCEO

[2021-12-27 18:07] astenuz opened #1996 "[BUG] `plot_kwargs` argument of `plot_model()` not working in regression"
**Describe the bug**

When trying to pass `plot_kwargs` to the `plot_model()` method in the regression submodule, the argument is ignored. For example, when using the type of plot 'learning' and wanting to change the scoring function to other than r2 (eg. `scoring=‘neg_median_absolute_error’`)

**To Reproduce**

[code]

Output:
![image](https://user-images.githubusercontent.com/4689127/147496761-5

[2021-12-27 19:27] dandluu commented on #1987
Hi @moezali1, I was able to use a different dataset and get a similar issue, however with this dataset, the returned model is sometimes optimized, other times it is not. In the case of this issue, I have reproduced the bug and provided the notebook as well. In this case, the returned model has a fit of ~61% however, in training it produced a model with an r2 of ~84%
[notebook with bug](https://git

[2021-12-27 21:01] #1981 closed

[2021-12-28 18:40] moezali1 commented on #1996
@astenuz Thanks for reporting. I will fix this.

[2021-12-28 19:23] moezali1 commented on #1996
@astenuz Just fixed this on `master`. https://github.com/pycaret/pycaret/commit/7739023fc19d69974376002a01bec8c9f5693721

Can you please test and confirm if the issue is resolved now?

[2021-12-29 15:26] teddylee777 opened #1998 "[BUG] import error after installation of pycaret[full] on Google Colab"
**Describe the bug**
I am testing on a Google Colab.
After I install pycaret[full] on Google Colab and then when I try to import either
classfication/regression modules I got following error

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-2975aae603d7> in <module>()
----> 1 fro

[2021-12-29 17:37] raphaccf opened #1999 "Is there any way to retrieve the yhat (in-sample forecast) estimated in the training data set?"
### Discussed in https://github.com/pycaret/pycaret/discussions/1985

<div type='discussions-op-text'>

<sup>Originally posted by **raphaccf** December 22, 2021</sup>
Hi there!!

It is possible to get the yhat (the estimated target variable) from predict_model(). However, this predict function only works for the test period.

Is there any way to recover yhat from training period?

The evaluation m

[2021-12-29 21:37] huanvo88 commented on #1448
Any update on this ticket? MLflow has been integrated into pycaret. From what I've seen WANDB is more superior than MLflow, with Sweep and auto-generated reports, but not sure how easy it is to integrate WANDB to an open source, since I think you need to sign up and run things on their platform.

[2021-12-30 08:51] SheldonXLD opened #2001 "to_csv is slow and cost lot storage. Should use to_feather(), use arrow ipc format?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

to_csv is slow and cost lot storage

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

use to_feather to make it more efficient and smaller

**D

[2021-12-31 01:30] moezali1 commented on #1998
@teddylee777

You can solve this problem by running this command after installing pycaret:

You have to click on the `RESTART RUNTIME` button for the changes to take effect on Colab.

[code]

[2021-12-31 01:30] #1998 closed

[2021-12-31 01:30] #1996 closed

[2021-12-31 01:30] moezali1 commented on #1996
Self-tested. Issue closed now.

[2021-12-31 18:25] mikaleroy opened #2004 "tune_model(**kwargs)"
**Describe the bug**

Using tune_model(..., search_library='optuna', return_tuner=True), i retrieve tuned_model and tuner object.
As i wanna go futher in optimisation, i use again tune_model(..., search_library='optuna', return_tuner=True,  **{'study':tuner.study_})

it raise an error for duplicate study declaration in tabular.py : model_grid = optuna.integration.OptunaSearchCV() function

**To Re

[2022-01-02 16:55] celestinoxp opened #2007 "Python Support max 3.8?[DOC]"
Anaconda (normal download) now is with python 3.9, and installation of pyycaret its impossible.

It's very hard associate pycaret only supports python 3.8.x. So documentation should said "Pycaret only supports <= python 3.8.x"

or, when try install pycaret via ex: pip... shoud get message like "only supports python 3.8..."

I think people make confusion about error because software not showing bes

[2022-01-02 23:28] eddy-geek commented on #1986
I probably should split this out into own issue, but even `predict` does not work for such a hold-out dataset.

the issue is that the `pipeline` object includes only a generic `DataTypes_Auto_infer` object which will create different one-hot encoded features for each dataset. so eg sklearn will complain that *Number of features of the model must match the input*.

[2022-01-03 00:20] microprediction opened #2009 "Hanging on setup in colab"
**Describe the bug**
Hangs during experiment setup

**To Reproduce**
Minimal(ish) example [here](https://github.com/microprediction/nba/blob/main/basketball_pycaret.ipynb)

**Expected behavior**
Not hang.

**Additional context**
Colab

**Versions**
pycaret 2.3.5

[2022-01-03 00:23] #2009 closed

[2022-01-03 15:57] ngupta23 commented on #1999
You can do something like this. This will return the data for insample predictions.

[code]

Will this work?

[2022-01-03 18:20] raphaccf commented on #1999
Yes, this works for some models, like auto.arima and theta (but setting "return_fig=False" does not avoid the plot to be shown), However, this does not work for other models (the majority, I guess) , and the following message is presented:
 "In sample predictions has not been implemented for this estimator of type 'BaseCdsDtForecaster' in `sktime`. When this is implemented, it will be enabled by d

[2022-01-04 11:08] talhaanwarch commented on #1080
i am getting same error in `2.3.5` ModuleNotFoundError: No module named 'pycaret.internal.pycaret_experiment'

[2022-01-04 16:28] jmrichardson opened #2014 "[BUG] ValueError: could not broadcast input array from shape (169,1) into shape (169,)"
Using classification and blend_models, including catboost gives the following error (works without catboost):

[code]

here is the code:

[code]

Pycaret Version: 2.3.5

[2022-01-04 16:45] kvnkho opened #2015 "Integration with Fugue to Distribute PyCaret Training Jobs to Spark/Dask"
**This issue is a collection of notes of ongoing discussions between the Fugue and PyCaret teams.**

### Collaboration

I'm Kevin Kho, one of the maintainers of [Fugue](https://github.com/fugue-project/fugue). Fugue is an abstraction layer that brings Python/Pandas/SQL code to Spark or Dask. I was going over the issues and there are a lot of requests to both parallelize (single-machine) and distri

[2022-01-04 19:13] codecypher commented on #1656
Do we have sample data? I understand the SciPy example but not sure if it applies to time_series_101.ipynb

[2022-01-04 20:00] Yard1 commented on #2015
Hey @kvnkho, we have been getting request to support distributed execution through other libraries such as Ray and Dask. I think we can definitely make this happen through a generic API to allow for any library to be used. We'll be looking at adding that to the next major (3.0) release.

[2022-01-04 21:00] ngupta23 commented on #1656
You can apply it to the airline dataset. Why do you think it is not applicable?

[2022-01-04 21:04] Yard1 commented on #1955
Yes, there has been work towards that already.

[2022-01-04 21:52] astenuz commented on #1996
Thanks! just saw this. Its working correctly now 👌

[2022-01-04 23:42] mfahadakbar commented on #2015
Thanks @kvnkho

Here are my few cents...

For a major boost (in the future) I believe we should solve for the following:

1. Irrespective_ of the size of the dataset, we should be able to parallelize all the tasks that are iterative by nature , e.g. CV,
    Compare Model function, hyperparameter tuning etc.
2. We have a large dataset but is divisible into smaller datasets.  We can then perform all

[2022-01-05 01:57] moezali1 commented on #2014
@jmrichardson Can you try updating the version of catboost?

[2022-01-05 01:58] moezali1 commented on #2007
Thanks for the suggestion @celestinoxp. It is already taken care of in the new documentation .. on the way.

![image](https://user-images.githubusercontent.com/54699234/148148655-0d1a119c-0c75-4c08-80b4-7dea77f7463e.png)

[2022-01-05 03:59] kennysong opened #2016 "Compatibility guarantees for loading models saved with different version of PyCaret / scikit-learn?"
PyCaret models are saved in (joblib's) pickle files. Pickle files import class definition code at load time, so it could cause compatibility issues if I save a model in PyCaret 2.2 and try to load it in PyCaret 2.3.

Additionally, PyCaret models seem to use scikit-learn models [under the hood](https://github.com/pycaret/pycaret/blob/06f340d26b712abb5cb68368e23573f95b6917b7/pycaret/containers/model

[2022-01-05 04:33] ANOOPAANTO opened #2019 "[BUG]Decision boundary plot for test data wrong"
**Describe the bug**

Class Report and confusion matrix showing good test data(holdout set) accuracy -> while Decision boundary plot shows very low test data accuracy for the same model!

![error screenshot](https://raw.githubusercontent.com/ANOOPAANTO/Pycaret_issues/main/Test_data_decision_boundary_%20error.JPG)

[2022-01-05 13:00] sagarnildass opened #2021 "AttributeError: 'Fix_multicollinearity' object has no attribute 'target_corr_weight'"
**Describe the bug**
When I am running pycaret leaderboard generator with remove_multicollinearity=True, multicollinearity_threshold=0.9, it fails with the error message: AttributeError: 'Fix_multicollinearity' object has no attribute 'target_corr_weight'

[2022-01-05 13:44] tueseu opened #2022 "PyCaret + SKORCH : Issues in the step of 'predict_model'"
### Discussed in https://github.com/pycaret/pycaret/discussions/2020

<div type='discussions-op-text'>

<sup>Originally posted by **tueseu** January  5, 2022</sup>
I am trying to build PyTorch neural networks and integrate them to pycaret workflow, as introduced in the post: https://towardsdatascience.com/pycaret-skorch-build-pytorch-neural-networks-using-minimal-code-57079e197f33.
All steps in th

[2022-01-05 16:03] ngupta23 commented on #1762
Pablo is creating this already: https://www.linkedin.com/posts/pablo-moreno-363188150_pycaret-cheat-sheet-all-functions-and-setup-activity-6884489626548097024-9jkx

[2022-01-05 18:15] codecypher commented on #1656
Well, Spectrograms are used as a way of visualizing the change of a nonstationary signal’s frequency content over time which is quite different from the sample data.

[2022-01-05 18:43] ngupta23 commented on #1656
Ah, I see your confusion now. This is what I really meant. https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.periodogram.html. Lets change it to this then

[code]

[2022-01-05 18:57] ngupta23 commented on #1999
@raphaccf There is a misunderstanding here. The `yhat` values that we get during create_model/tune_model are all out of sample values. We use part of each fold in the training data to "train" and part of it to "cross_validate". This is not the same as "in-sample" y-hat for the model that you get at the end of `create_model` (which is trained on the entire training dataset). If you do `plot_model(p

[2022-01-05 20:00] raphaccf commented on #1999
Thanks for your response. I understand your points and especially the limitation that comes from sktime models. My main goal with residuals (in-sample predicted values ​​and actual values, retrived from plot_model as you metioned ​​) is to build prediction intervals, so I need them (for models that don't create intervals in their estimation process) .

[2022-01-05 20:00] #1999 closed

[2022-01-05 20:01] Ley002 opened #2023 "Unable to plot after loading model"
I have created a regression model. With the following code:

[code]

I load the model, but I am unable to create any of the plots, There is no error.

[code]
![Captura](https://user-images.githubusercontent.com/19893256/148281265-01f9b11f-88a7-4070-90fc-1113881b5084.PNG)

[2022-01-05 20:20] PabloJMoreno commented on #1762
Cheat sheet created. There are 2 versions, so you can pick the one you like the most
[PyCaret cheat_sheet_all_functions.pdf](https://github.com/pycaret/pycaret/files/7817563/PyCaret.cheat_sheet_all_functions.pdf)
[PyCaret cheat_sheet_tutorial.pdf](https://github.com/pycaret/pycaret/files/7817566/PyCaret.cheat_sheet_tutorial.pdf)

Thanks @ngupta23 for the outstanding job done with the TS module of

[2022-01-05 20:38] ngupta23 commented on #1762
Thanks @PabloJMoreno for picking this up. I have assigned it to you.

[2022-01-05 21:26] ngupta23 commented on #1999
If you want to use only models that provide a prediction interval, you can refer to this FAQ: https://github.com/pycaret/pycaret/discussions/1814

[2022-01-06 03:20] liwii commented on #2016
It seems that in PyCaret 2.3 the version of scikit-learn is fixed to `0.23.2`,
https://github.com/pycaret/pycaret/blob/e826133202c68ca8b3a37ffc2450e968c72cf1cf/requirements.txt#L8

while in the previous versions there was no upper bound for the scikit-learn version.
https://github.com/pycaret/pycaret/blob/3dcb3c8c2cc3c0633ed6329ccce4c5a03bee88a7/requirements.txt#L7

I'm also curious how it will be

[2022-01-06 03:39] kennysong commented on #2016
Thanks! Looks like the possible combinations of PyCaret version to scikit-learn version are:

| PyCaret Version  | Possible Scikit-Learn Versions |
| ------------- | ------------- |
| 0.0.1 to 0.0.60  | ???   |
| 1.0.0  | ???   |
| [2.0](https://github.com/pycaret/pycaret/blob/2.0/requirements.txt) to [2.1.2](https://github.com/pycaret/pycaret/blob/2.1.2/requirements.txt)  | scikit-learn>=0.23   |

[2022-01-06 08:19] breisfeld opened #2024 "[BUG] TypeError: unsupported operand type(s) for +: 'int' and 'str'"
**Describe the bug**
I may be doing something completely wrong, but when running a case similar to an example of a regression analysis in the documentation, I get an error,
[code]
that seems inconsistent with the data I am using.

**To Reproduce**

The following was run in a jupyter notebook:

[code]

**Versions**

[code]

**Full traceback**

[code]

[2022-01-06 11:08] drmario-gh commented on #1901
@ngupta23 I finally had a bit of time to take a look to this. This is what I'm roughly planning to do:
* Will add a `multiple_seasonalities` class attribute to those TimeSeriesContainers that support multiple seasonalities. I will initially start with Prophet and TBATS.
* If multiple_seasonalities are specified when setup experiment, in https://github.com/pycaret/pycaret/blob/14e1a19e811b2a8abdb80

[2022-01-06 12:15] ngupta23 commented on #1588
Simplified interface after discussion with @ltsaprounis

### Changes:

- Removed 1C and 1D. The alternate for this is as follows - If the user has a dataframe with multiple columns and wants to do univariate analysis on a single column, they can
    1. simply pass the single column to the `data` argument in `setup` or
    2. pass the rest of the columns to `ignore_features` in `setup`.

### Advant

[2022-01-06 17:17] carlok opened #2025 "[BUG] Problem within the SOD model in pycaret.anomaly"
Hi,
thanks for your work.
I tested all the algorithms in `anomaly` and they are fine but it seems that `SOD` has an issue, both creating/assigning it and predicting with it.
When I simply create/assign it with something like:

[code]

it emits

[code]

which it seems due to a dependency package.

Then while I try to use the previously saved model with something like

[code]

it raises

[code]

[2022-01-06 20:28] #2007 closed

[2022-01-07 04:09] Frank3W commented on #1987
Based on the notebook shared, I think the data frame returned by pull() is the cross validation metric results for the model with best hyper parameters (after tuning process). By default, there are 10 folds. That's why 10 results shown in that table. n_iter=20 is used in hyper parameter tuning process to control the number of iterations. It is not on the number of folds. The mismatch between R2 61

[2022-01-07 10:11] ngupta23 commented on #1744
Updated Code to verify

[code]

[2022-01-07 10:49] ngupta23 opened #2029 "plot_model return data unit test modularization"
Thanks @sayantan1410. I will merge it for now but modularize the unit tests after the merge. I will let you know once that is done.

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/issues/1966#issuecomment-1001022505_

[2022-01-07 13:47] jruots opened #2031 "Issue with tsne plot in clustering when using PCA"
Hello!
I'm working on clustering with PyCaret 3.5.0. I have the following setup:
`#initialize setup`
`pycaret_cluster_raw = setup(data = pycaret_raw_data`
`                            ,session_id = 42`
`                            ,log_experiment=True`
`                           ,log_plots=True`
`                            ,preprocess=True`
`                           ,ignore_features = ['ID']`

[2022-01-07 14:16] mpaulonis commented on #2031
The problem can be worked around by including one of the original (pre-PCA) dataset column names as the feature argument in `plot_model`.  For example, using the included 'mice' dataset:

`plot_model(kmeans, plot='tsne', feature='DYRK1A_N')`

This shouldn't be needed, but is easy to do.  Having the plot function go back to data_before_preprocess seems like it could also run into trouble if the fir

[2022-01-07 14:53] moezali1 commented on #2031
@jruots Thanks for reporting. Just fixed this.

[2022-01-07 14:57] #1967 closed

[2022-01-07 14:59] moezali1 commented on #2016
@kennysong PyCaret 2.x is compatible with 0.23.2. It will stay the same for all the 2.x releases.

When we release PyCaret 3.x it will be compatible with the latest version of scikit-learn. Hope this helps.

[2022-01-07 15:00] moezali1 commented on #2016
@liwii In future we plan to make `pycaret` compatible with the always the latest version of `sklearn`

[2022-01-07 15:03] moezali1 commented on #2019
@ANOOPAANTO How can you tell accuracy from the decision boundary plot?

[2022-01-07 15:05] moezali1 commented on #2023
@Ley002 There is a function called `save_config` and `load_config`. Since `plot_model` uses many environment variables you must save the environment using `save_config` (it will save many global vars as a pickle object) and then use `load_config` to load that in the Notebook before you use `plot_model`. Hope this will help.