[2020-08-18 22:45] QiwenZheng1234 opened #481 "plot_model returns KeyError: 'weight' for xgboost model"
I've got an error that relates to this line:
 `coef = np.array(json.loads(b.get_dump(dump_format='json')[0])['weight'])`
when I ran plot_model function in pycaret. If I switch from xgboost to rf, no errors. So it is related to xgboost model specifically.
My xgboost version is 1.1.1.

Below are the codes that generated this error:

[code]

And the errors are:

[code]

[2020-08-18 22:59] QiwenZheng1234 commented on #481
Upgrade xgboost version to 1.1.1 actually worked for me. I didn't refresh my notebook kernel after upgrading. Sorry!
`pip install --upgrade xgboost`

[2020-08-18 22:59] #481 closed

[2020-08-19 00:13] Yard1 commented on #432
Looks like it didn't trigger. Bummer. @pycaret could you check if the repo is set to run all actions including third party ones? https://docs.github.com/en/github/administering-a-repository/disabling-or-limiting-github-actions-for-a-repository

[2020-08-19 00:38] Yard1 commented on #432
Hmm, the issue is that in order for a prerelease version to be considered latest all other versions must be prerelases too. That means either all old versions of nightly are deleted, or we change the versioning in the action. Whatever works for you @pycaret

[2020-08-19 00:57] pycaret commented on #432
@Yard1 Thanks. I have deleted all previous releases in `pycaret-nightly`.

Let's see tomorrow if the new build is defaulted or not.

Thanks for your help. This is excellent work done in such a short amount of time.

👏👏👏

[2020-08-19 02:22] iteachmachines commented on #171
@g0lemXIV  Teah the steps are mentioned in upward section by @pycaret refer that.

[2020-08-19 04:31] clgarciga commented on #471
@pycaret Still working on adding train/test split and CV options, and hoping to finish that up before working on something else. Come back to me later if no one else takes up this issue.

[2020-08-19 11:00] sarang-kharpate commented on #404
Getting same error in case of sparse matrix.  Shape of dataframe is data=(215126, 10001) last columns is of label.

[2020-08-19 11:45] georgepapaioannou opened #482 "PyCaret & SQL Machine Learning Server"
When we 're trying to install pycaret version 2.0 in a Windows 2019 Server with SQL Machine Learning Server we 're taking the following error
![pycaret_error](https://user-images.githubusercontent.com/69902674/90630938-91bfee80-e22a-11ea-97d5-111ae6b4aa96.png)

 Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonh

[2020-08-19 11:55] Yard1 commented on #482
Update pip as the yellow text says and try again.

[2020-08-19 12:31] pycaret commented on #471
@clgarciga ok

[2020-08-19 12:36] pycaret commented on #404
@sarang-kharpate is it pandas.DataFrame or are you passing sparse matrix into the `setup` function?

[2020-08-19 12:41] ByrdOfAFeather commented on #404
@pycaret I've made some investigation into the issue and tried some quick fixes. There are a few things to note where this is coming from:
- First and foremost the preprocessing pipeline simply doesn't support sparsity. This is the biggest issue as there are a multitude of functions in pre-processing and it's unclear what does and does not support sparsity. As well, there are global variables modi

[2020-08-19 14:24] daikikatsuragawa commented on #431
This seems to have been resolved.

[2020-08-19 14:30] sarang-kharpate commented on #404
@pycaret I will not be able share the code as such, but process which I have followed is like below
1. Created a TfidfVectorizer using sklearn
2. Fit and transform my corpus of 10k words
3. As it is a sparse matrix of scipy format, and Pycaret needs data frame, so create a pd.DataFrame using
```python training_data = pd.DataFrame.sparse.from_spmatrix(vectorizer)```
4. added another column 'Label'

[2020-08-19 16:00] clgarciga opened #488 "Replace terms blacklist, whitelist"
To follow GitHub's lead on this issue (see article [here](https://developer-tech.com/news/2020/jun/15/github-replace-slavery-terms-master-whitelist/)).

[2020-08-19 16:02] pycaret commented on #488
@clgarciga This is a good point. Do you have suggestions for new terms?

[2020-08-19 16:03] clgarciga commented on #488
As the article suggests, I would go with `allowlist` and `excludelist`.

[2020-08-19 16:06] pycaret commented on #488
@clgarciga Thanks. Seems like good suggestion. I will take this change soon.

[2020-08-19 16:35] Yard1 commented on #488
Or perhaps, `models_to_check` and `models_to_ignore`? Seems to be more descriptive of what's actually being done.

[2020-08-19 16:42] clgarciga commented on #488
`models_to_include` and `models_to_exclude`?

[2020-08-19 17:56] brinew27 commented on #478
@pycaret I ran both:

[code]

and

[code]

lightgbm completed fine (after searching for hyperparameters for about 60 seconds, then training). xgboost does now throw an error now, but sits at "Loading dependencies" as mentioned and requires the kernel being reset.

[2020-08-19 22:29] pycaret commented on #488
@clgarciga @Yard1 replaced `blacklist` with `exclude` and `whitelist` with `include` param in `compare_models` for `classification.py` and `regression.py`.

Also updated test cases for `test_classification.py` and `test_regression.py`

Thanks for your help.

[2020-08-19 22:29] #488 closed

[2020-08-19 23:19] #474 closed

[2020-08-19 23:21] pycaret commented on #431
@daikikatsuragawa Great. I am planning to drop the `2.1` release next week. Let me know if you need any help to finish this.

[2020-08-19 23:23] pycaret commented on #432
@Yard1 @clgarciga So far we have achieved the following using GitHub actions:

- Build test to replace Travis-ci functionalities
- Auto publish `pycaret-nightly` daily
- For auto-documentation, we have used `readthedocs`.

Do we need to keep this open or can we close this issue for now since we already introduced GitHub actions. Maybe we can open another issue later for enhancement.

What are your

[2020-08-19 23:34] richardliaw commented on #61
@Yard1 just merged your patch - what are the other steps we need to take to make this work? :)

[2020-08-19 23:59] hyunjoonbok commented on #339
I'm having the same error message
**KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'**

Any updates on this yet? Appreciates it in advance.

[2020-08-20 00:01] hyunjoonbok commented on #339
Based on below link, it looks like SMOTE has to take in dataframe as a matrix
https://datascience.stackexchange.com/questions/66302/resampling-with-python-smote

[2020-08-20 00:25] pycaret opened #492 "New function create_webservice"
Create a new function called create_webservice and use FastAPI to deploy web service on localhost.

FastAPI will be optional dependency of PyCaret.

## Who can work on this feature?

[2020-08-20 00:46] neuratree commented on #282
I faced the same issue, seems like a common one when running the code from command line.

@pycaret  : Better to add this to your tutorials docs

[2020-08-20 01:28] dcsai-hitomi opened #493 "An error occurs when executing setup with the nlp module"
An error occurs when executing setup with the nlp module.

If the data type is list type, an error will occur because data is assumed to be dataframe at the time of log output.

https://github.com/pycaret/pycaret/blob/bbaee64e3f49733918619aafb5ff9b81838d4ba2/pycaret/nlp.py#L142

The error can be reproduced below.
pycaret/tutorials/Natural Language Processing Tutorial Level Beginner - NLP101.ipynb

[2020-08-20 03:43] koh-joshua commented on #38
This is a common problem with loky when there's > 60 logical processors (i.e. 30 physical cores).

For example, on my threadripper 3970X (32 physical cores, 64 logical processors), using n_jobs=-1 will cause this error. The same error happens for sklearn and joblib because they use loky backend for parallel multicore processing.

In my case, I set n_jobs=30 (30 physical cores, 60 logical processor

[2020-08-20 04:22] clgarciga opened #494 "Sources of Data"
I recognize some but not all of the [datasets included in pycaret](https://pycaret.org/get-data/). Were they all obtained from existing datasets online? If so, could we include links to the original source of the data/data documentation if it exists online somewhere?

[2020-08-20 04:26] clgarciga opened #495 "Classification dataset with groups"
I've looked through the datasets included in pycaret and maybe I overlooked it but I can't find a classification dataset with non-i.i.d. data. Was wondering if there was one with groups (e.g. dataset of repeated measures on different patients - here the groups would be the patients) already included, or if anyone can think of one off the top of their head that is available online somewhere. If not

[2020-08-20 05:36] Yard1 commented on #61
@richardliaw Aw, thanks for your concern! We'll be working on implementing this in `2.2`, the next release after this. I'll make some proofs of concept before that, see how it all works, and if there are any problems, I'll make sure to let you know.

[2020-08-20 05:37] Yard1 commented on #432
We can still make an action to build and publish `pycaret` proper when a release (tag) is created. It's not a big deal now as you can just do it yourself, but it's future proofing.

[2020-08-20 08:01] SuryaThiru opened #497 "Custom estimators in compare_models"
Currently `compare_models()` only takes model strings for the `whitelist` parameter. Is it possible to pass a custom sklearn-compatible estimator object like in `create_model()`?

[2020-08-20 08:35] Yard1 commented on #497
This is planned for a future release.

[2020-08-20 08:55] divyanshu-sam opened #498 "getting error in predict_model function"
I have used this earlier also but right now I am getting in the predict_model() function. My pkl file is getting successfully loaded but after that in predict_model() showing this error.

![image](https://user-images.githubusercontent.com/61079404/90748969-761f1b80-e2f0-11ea-9153-bd57117723cc.png)

using this code for prediction **prediction_price_Model_1 = predict_model(model_predictor_price_1,da

[2020-08-20 12:12] pycaret commented on #494
Yes. Most of them are from UCI. This is a mid to long-term project to get their links and metadata information as well.

Nobody complained so far but we must give a link and credit to original source on website as well as docstrings.

Thanks for bringing this up.

I will keep this open and see if any student has interest in working on this?

[2020-08-20 12:13] Yard1 commented on #61
@richardliaw I have tested patched tune-sklearn, and sadly it's not working as expected. It takes much longer than scikit-learn's RandomizedSearchCV (up to 5 times as much) and it runs out of memory easily on my laptop. It uses around 4-5 GBs of memory, compared to less than 100 MBs used by RandomizedSearchCV. This is all with default settings, running a slightly modified example. Is this expected

[2020-08-20 12:18] siddharthchauhan opened #500 "Unable to setup the dataset without using column names."
I am trying to create a generalized Outlier detection model which works for all dataset. I don't want to give column names but unable to do so.

Is there any alternative?

[2020-08-20 12:35] georgepapaioannou commented on #482
Than you for your reply
1. I have update pip
2. I have override the TLS/SSL download problem

and now I'm getting the following error

![pycaret_error](https://user-images.githubusercontent.com/69902674/90770569-a8357b00-e2fa-11ea-8314-1e0d270b2a3a.png)

The user in Windows is Administrator

[2020-08-20 12:45] Yard1 commented on #482
I have only very cursory experience with Microsoft SQL Server, but maybe there are people here who can help. That being said, this isn't a PyCaret issue, so you may have better luck asking for help on Microsoft forums.

[2020-08-20 12:49] georgepapaioannou commented on #482
Thank you

[2020-08-20 14:06] daikikatsuragawa commented on #431
No type checking is done for the libraries used to create a particular model. This is because we may use another library in the future. For example, I might change A to another library that does the same thing.

Therefore, I don't think it is mandatory for the test to fail in such cases. Because it is not the essence. Therefore, I am doing this. Based on that idea, the general type check is comple

[2020-08-20 16:00] pycaret commented on #431
@daikikatsuragawa One thing we should also try to do before `2.1` release is to add tests related to preprocessing which means that we will have to add a couple of `setup` functions above the final `setup` function based on which all other modeling functions are executed. I will try to add an example of what I am saying in `test_classification.py` soon. Then maybe you can replicate that for other

[2020-08-20 16:11] daikikatsuragawa commented on #431
@pycaret
Thank you very much.
I will use it as a reference for other tests.

[2020-08-20 16:13] pycaret commented on #482
@georgepapaioannou I have informed one of the team member who is a subject matter expert on the SQL server. He will respond here shortly.

[2020-08-20 16:14] pycaret commented on #500
@siddharthchauhan Thanks. This issue is not clear to me. Please include some code and examples so that somebody can help.

[2020-08-20 16:15] pycaret commented on #498
@divyanshu-sam What's the version of `pycaret` are you using? Have you trained your model using `pycaret` on a different machine or in the same machine? Are you using `conda` environment?

[2020-08-20 16:16] pycaret commented on #495
@clgarciga Would be good to include that in `dataset` folder and also `index.csv` must be updated with metadata.

[2020-08-20 16:26] #493 closed

[2020-08-20 16:29] pycaret commented on #339
@chamsdg Can you please share the dataset here? I have looked at logs and it seems like it's failing when SMOTE is initialized however I don't see anything funny with the `setup` so I need dataset to reproduce this issue at my end.

Also can you please share the version of `imblearn` by doing `pip freeze`.

Thanks

[2020-08-20 17:03] richardliaw commented on #61
OK let me take a look into this!

[2020-08-20 17:58] richardliaw commented on #61
Got it. @Yard1 it looks the parallelism is hurting us here. I switched Ray to use "local mode" (where we run everything in a single process), and I can get it to perform faster and better on my MacBook Pro:

Changes:

[code]

Result:
[code]

Can you check if the memory still explodes on your side with this change? I could dig a bit into it if so.

We can also upstream this to tune-sklearn (as a fl

[2020-08-20 18:22] Yard1 commented on #61
@richardliaw Thank you very much. With the `local_mode` parameter set to True, memory usage is still bigger, but not nearly as much - 1 GB, which is manageable. It is also now faster than RandomizedSearchCV. It'd be great if that flag could be up streamed, it would help us here. @pycaret With this change, I think we will be able to include tune-sklearn as an option alongside Optuna, so the users w

[2020-08-20 18:28] pycaret commented on #61
@richardliaw @Yard1 Thanks a lot for working on this.

Is the algorithm behind `optuna` and `tune-sklearn` same? I know `optuna` is bayesian search. What about `tune-sklearn`?

[2020-08-20 18:30] richardliaw commented on #61
roughly speaking, it should be the same :) I think they implement TPE, which we provide via "hyperopt". We will also offer optuna underneath the hood.

[2020-08-20 18:32] Yard1 commented on #61
@pycaret tune-sklearn is a wrapper for several algorithms - originally it was only scikit-optimize, but with my patch it's also HpBandSter (BOHB), Hyperopt (Bayesian) and Optuna (yes, it's also wrapped). It also supports various early stopping schedulers. It's more configurable than Optuna due to more choices, but because it's running on Ray, it's more geared towards large datasets and distributed

[2020-08-20 19:28] #495 closed

[2020-08-20 19:50] pycaret commented on #61
@richardliaw Thanks a lot. Please apologize me for my ignorance. I have checked `ray` documentation and it looks really useful for our use-case here.

@Yard1 This makes good sense to me. We can extend as much as we want as long as we keep them in optional dependency with default behavior set to `random_search`. I like where this is going.

By the time we will be ready to drop this in `2.2` or `2.3

[2020-08-20 22:36] sambhe commented on #420
[Data.zip](https://github.com/pycaret/pycaret/files/5105786/Data.zip)

[DNAClassification_jupyterNotebook.zip](https://github.com/pycaret/pycaret/files/5105796/DNAClassification_jupyterNotebook.zip)

Reference - https://github.com/nageshsinghc4/DNA-Sequence-Machine-learning

I have run the code in a jupyter notebook, showing the all the output.
Data is uploaded too.

[2020-08-21 06:30] g0lemXIV commented on #492
I could start doing it at the beginning of September (I'm going on vacation next week), now I'm creating my own API, base on FastApi. We could talk about it more, and establish endpoints and schemes for that, in September.

[2020-08-21 07:11] divyanshu-sam commented on #498
Hi @pycaret ,

Problem solved there was an issue with the pandas version. I have updated the pandas and problem solved. Thanks for your quick reply.

[2020-08-21 11:46] NicholaiStaalung opened #505 "Trouble replicating experiments"
Hello,

When running setup() and either create_model() or compare_models() i experience that results vary slightly on each new experiment.

In the documentation it says that session_id is suppose to control this but thats not what im experiencing. I have looked through the code and i do see that session_id gets passed to seed, which gets passed on to any random_state argument when necessary.

What

[2020-08-21 16:02] Yard1 opened #509 "Testing sampling"
A test for `setup` with `sampling=True` for regression & classification with a dataset big enough (25,000 rows) would be very much appreciated.

[2020-08-21 21:46] Yard1 opened #513 "2.2 refactoring - Please read before contributing"
Project tracking progress: https://github.com/pycaret/pycaret/projects/3

After `2.1` releases, we'll be working on refactoring the PyCaret internals to make it, as @pycaret elegantly put it, not only user friendly, but also developer friendly. `2.2` will be a release focused mainly on this - but thanks to the refactor, adding new features should become much easier. We are also trying to avoid cha

[2020-08-23 00:09] papagala opened #516 "Error in Binary Classification Tutorial Level Beginner - CLF101 tutorial"
I was reproducing locally this tutorial and came across this error:

[code]

The solution was to remove the quotes from

[code]

to

[code]

Something similar with

[code]
[code]

[2020-08-23 00:49] cgarciga opened #517 "2.2 Possible bug: unresolved reference in ensemble_model()"
![image](https://user-images.githubusercontent.com/13739205/90968320-f42e1e80-e4b8-11ea-8683-d28945646558.png)

Should it say check_model instead of model?

[2020-08-23 10:36] #517 closed, assigned to nobody

[2020-08-23 16:33] clgarciga opened #521 "2.2 Unused Imports"
Seems like there are a number of unused imports in `classification`, could be an opportunity to reduce the code base further:

![image](https://user-images.githubusercontent.com/13739205/90983505-b8d53380-e53c-11ea-8e1c-9b358ac14f48.png)

For example all imports from `metrics` to `px` above are unused. Happy to submit a PR removing these. Let me know @Yard1.

[2020-08-23 16:46] Yard1 commented on #134
I'm afraid there's no "magic solution" for this. Finding duplicates is one of the things that is going to be computationally expensive either way. I guess one could try to do something with hashing, but I'd need to test it.

[2020-08-23 16:52] Yard1 commented on #256
As far as I know pip doesn't support this, though I have a workaround in mind. Basically, we'd create another `pycaret` package, `pycaret[full]`, which by itself would be empty, but it would install `pycaret` + any optional dependencies. It's a bit hacky but should work fine.

I think it may be more straightforward with conda, but I don't have much experience with it.

[2020-08-23 17:09] AarthiKalyanasundaram commented on #166
But those data are confidential @pycaret

[2020-08-23 20:42] papagala commented on #516
I’d love to help if you let me. We could divide and conquer. Thanks anyways for looking into this

[2020-08-23 21:16] Yard1 commented on #134
Pandas provides a function to find duplicate rows - I doubt anything we come up with is going to be faster than that.

[2020-08-23 21:58] Yard1 commented on #521
@clgarciga Would be great if you could do that, but after I finish adding the new features to classification. I'll let you know when you can go ahead with it, thanks.

[2020-08-23 23:06] MichaelPeibo commented on #221
@pycaret  Thanks for reply, but I did not see parameters to 'refit' one established model in `create_model `function. Could you show me an example using minimal code?
Here is function of `create_model`
`create_model(estimator = None, ensemble = False, method = None, fold = 10, round = 4, cross_validation = True, verbose = True, system = True, **kwargs)
`

[2020-08-24 02:22] jmrichardson opened #524 "ValueError: Stratified train/test split is not implemented for shuffle=False"
Hi,

I am new to pycaret and hoping someone can help.  I have a tabular dataset which is not IID (time series) and would like to disable shuffle and stratify for train/test split as well as CV (ideally using a time series split in CV).  Setting data_split_shuffle=False gives this error:

`ValueError: Stratified train/test split is not implemented for shuffle=False`

Also, is there a way to not do

[2020-08-24 02:37] jmrichardson commented on #524
Hi, I was thinking it would be great to be able to send the test dataframe as an argument in setup() as an option for this type of use case?

Also, I took a look as the classsification.py code, and it appears that stratify is hard coded to y which combined with False for data_split_shuffle appears to the cause of the error.

[2020-08-24 08:13] Wookloo opened #525 "Prediction with Saved Model Attribute Error"
Hello,

I have an issue when trying to re use my saved regression Model.
I have been able to create use and save my model within the same session.
However after i stop my session and want to load previously save model and make new prediction as per the Tutorial.
I am loading the Model succesfully but after typing the cmd "predict_model" I'm getting an an "Attribute error"
![image](https://user-ima

[2020-08-24 09:51] Ijustwantyouhappy opened #526 "A typo"
I'd like to count how many datasets for each task contained in this git repository, then I use codes:
[code]
and from the results below I feel a little bit strange,  there seems to be an extra space before 'Classification (Multiclass)' and 'Multivariate'.

![image](https://user-images.githubusercontent.com/26211339/91029534-76415300-e631-11ea-8e92-aa253d8b85dd.png)

![image](https://user-images.gi

[2020-08-24 09:57] Yard1 commented on #526
Thanks, opened a PR fixing it.

[2020-08-24 10:28] elgalu opened #528 "Re-using auto-sklearn"
Would it make sense to transparently re-use https://github.com/automl/auto-sklearn in pycaret ?

[2020-08-24 11:51] #526 closed

[2020-08-24 11:51] pycaret commented on #528
@elgalu Already in WIP.

[2020-08-24 11:52] pycaret commented on #221
@MichaelPeibo If you will pass a model object with `fit` and `predict` param. `create_model` will retrain it.

[2020-08-24 12:10] #331 closed

[2020-08-24 13:17] NicholaiStaalung commented on #505
Im on Ubuntu 20.04

2020-08-07 11:54:59,313:INFO:PyCaret Regression Module
2020-08-07 11:54:59,314:INFO:version 2.0
2020-08-07 11:54:59,314:INFO:Initializing setup()
2020-08-07 11:54:59,314:INFO:USI: fb2f
2020-08-07 11:54:59,315:INFO:setup(data=(524, 44), target=Score, train_size=0.7, sampling=True, sample_estimator=None, categorical_features=None, categorical_imputation=constant, ordinal_features

[2020-08-24 20:34] pycaret commented on #516
@papagala Great. I have now updated all the tutorials. Please check `/pycaret/tutorials` for all the tutorials. We don't have an `expert` level tutorial for any of the modules (there is a placeholder though). Let's not worry about expert level tutorials for now.

If you can spend a couple of hours checking all the tutorials it would be great. Look for these things:

- Broken links and fix them
- C

[2020-08-24 20:35] pycaret commented on #505
@NicholaiStaalung Thanks

[2020-08-24 20:43] pycaret commented on #258
@clgarciga Assigning to you.

[2020-08-24 20:54] clgarciga commented on #258
@pycaret Sure thing.

@Yard1 Let me know once you want me to get started on this.

[2020-08-24 21:15] kubekmonika opened #533 "Error occurs when trying to predict new data using trained kmeans model"
Hello! I built a kmeans model to cluster my data. But when I try to predict values based on this model I get the following error:
[code]
It appears even when I pass the same dataset that was used for training the model. I run the code with the 'jewellery' dataset from the `predict_model` documentation, and there was no problem. So I guess that it has something to do with my dataset.

My dataset ha

[2020-08-24 21:52] pycaret commented on #152
## This is now fixed on `master`.

[2020-08-24 21:52] #152 closed

[2020-08-24 23:43] pycaret commented on #327
@morestart Can you please install `pycaret-nightly` in a separate environment and try to reproduce the error?

[2020-08-25 00:47] jmrichardson commented on #524
I see this is similar to #436.  Closing

[2020-08-25 00:47] #524 closed

[2020-08-25 00:57] jmrichardson opened #534 "Production data?"
Hi, what is the recommended process to ensure that production data is processed the same as setup function?  That is, new data (not the unseen data withheld from original setup call) once the model is deployed.  Thanks for your help.

[2020-08-25 01:03] jmrichardson commented on #534
Sorry, I see that the predict_model handles the prediction as well as the data processing.

[2020-08-25 01:03] #534 closed

[2020-08-25 01:13] papagala commented on #516
Happy to help

[2020-08-25 02:59] papagala commented on #516
First results, I'll go in more detail next week that I have got more time if you're still interested.

Successfully ran

- Anomaly Detection Tutorial Level Beginner - ANO101
- Clustering Tutorial Level Beginner - CLU101
- Regression Tutorial Level Beginner - REG101
- Natural Language Processing Tutorial Level Beginner - NLP101
- Natural Language Processing Tutorial Level Intermediate - NLP102
- Mu

[2020-08-25 06:06] kubekmonika commented on #533
@pycaret sure, here is the code and dataset sample

[dataset_sample.txt](https://github.com/pycaret/pycaret/files/5121594/dataset_sample.txt)

[code]

[2020-08-25 11:53] SSITB opened #535 "Get Label Encoded"
How can i get the Label Encoded from the setup of the model?
I know i can print them and save in dictionary, is there a function that print 'Label Encoded'

[2020-08-25 12:52] pycaret commented on #535
@SSITB Thanks. There is no separate function but you get the mapping in the information grid you get after you run the `setup` function. You can create your own dictionary from that point.

If you are asking this question in reference to `predict_model` then please note in 2.1 we have changed the behavior. Now `predict_model` will return `Label` as the original input instead of encoding. So for ex

[2020-08-25 12:52] #535 closed

[2020-08-25 12:59] pycaret commented on #533
@kubekmonika Resolved it. This is happening because of the `bool` type. I have solved it by converting TRUE/FALSE column from type `bool` to `str`. See below:

[code]

[2020-08-25 12:59] #533 closed

[2020-08-25 13:01] SSITB commented on #535
Perfect, looking forward to 2.1 👍

[2020-08-25 13:41] pycaret commented on #516
@papagala Thanks. I have fixed the issue in Regression Intermediate but I can't find the typo error you mentioned in Classification Beginner anymore. Can you please recheck?

https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb

[2020-08-25 13:48] pycaret commented on #525
@Wookloo Is it possible to share the data so that I can try to reproduce this error?

[2020-08-25 13:54] kubekmonika commented on #533
@pycaret that is really interesting! It was not that straightforward as I did trained a model based on this dataset successfuly and only then the problem occured when I tried to use the model to predict the labels. I see a discrepancy there that might be addressed :) Thank you for your help!

[2020-08-25 14:20] HenriqueAJNB commented on #21
The dependency on `DateTime` package is solved.

Now I need to deal with `xgboost` mentioned by @synapticarbors in comments above.  I still can't install `xgboost` on Windows platform because is not available in any conda channels

There is another package with same name that seems to work on Windows and I could install it normally. It's called `py-xgboost`. See [this question in Stackoverflow](ht

[2020-08-25 14:42] Yard1 commented on #21
https://anaconda.org/conda-forge/xgboost ?

[2020-08-25 18:29] pycaret commented on #431
@daikikatsuragawa I have now started adding preprocess related tests. I am calling `preprocess.py` from `pycaret.classification` not sure if we want to replicate the tests using `pycaret.regression` as both the modules use the same file and function from `preprocess.py` but I will leave it up to you. So far I have added:

- test_normalize.py
- test_missing_values.py
- test_categorical_features.py

[2020-08-25 18:42] pycaret commented on #21
Does this help: https://anaconda.org/conda-forge/xgboost ?

[2020-08-25 18:46] pycaret commented on #320
## Thanks everyone for submissions. It will not be an ongoing activity. I am closing this issue now.

[2020-08-25 18:46] #320 closed

[2020-08-25 18:55] Yard1 commented on #521
@clgarciga Feel free to start working on it now. Please use the up to date `2.2-refactor` branch and make a PR into it.

[2020-08-26 02:33] Wookloo commented on #525
Hi pycaret.,

Here is my file i give you an extract of what i use.
Dataforexample.xlsx is the data i use to train the model (an extract of it), in my setup "target = Vol."
Prediction.xlsx is the subset of data i was trying to predict the value for prediction that's why there is no "Vol." Column

Let me know if you need anything.

[Prediction.xlsx](https://github.com/pycaret/pycaret/files/5127212/P

[2020-08-26 07:25] zhenlingcn opened #541 "How to use imputer in sklearn?"
I find that the imputation method in pycaret is rather simple. I hope to use the imputer in sklearn to improve the performance, such as the KNNImputer or even Iterative Imputer. It seems that the API documentation does not provide this choice, so is it possible to use those imputers in the current version?

[2020-08-26 09:15] morestart commented on #327
if i use this code, i got ssl error:
`urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate (_ssl.c:1056)>
`
[code]

so i remove ssl verfiy
[code]

i got this error:
`urllib.error.HTTPError: HTTP Error 404: Not Found`

[2020-08-26 10:35] SSITB opened #542 "compare_models use GPU"
Can i use compare_models to be trained on GPU ?

below is the Signature for it

compare_models(
    blacklist=None,
    whitelist=None,
    fold=10,
    round=4,
    sort='Accuracy',
    n_select=1,
    turbo=True,
    verbose=True,
)

[2020-08-26 11:41] Yard1 commented on #542
Support for GPU models will be added in `2.2`.

[2020-08-26 12:17] navendu-pottekkat opened #543 "Change contributors list to all-contributors"
Great work team!

I am new to this and while I was going through the README, I thought it would be better to list the contributors in the [**all-contributors**](https://allcontributors.org/) format.

With it, we can recognise all the contributors including people who do not push code.

Also, it automates the process with a handy bot.

If you approve, I can do this.

[2020-08-26 12:23] SSITB commented on #542
Thank you

[2020-08-26 12:57] pycaret commented on #543
@navendu-pottekkat Sure. If you would like to submit a PR, I will have a look.

[2020-08-26 12:58] pycaret commented on #541
@zhenlingcn This is WIP. We will be adding this in next release `2.2`

[2020-08-26 13:05] navendu-pottekkat commented on #543
Sure, I will make a PR

[2020-08-26 13:11] navendu-pottekkat commented on #543
@pycaret Actually, the repo owners have to add the all-contributors bot to the repo. You can check how it looks from one of my projects [here](https://github.com/nsfw-filter/nsfw-filter).

[2020-08-26 13:14] pycaret commented on #525
@Wookloo Thanks.

I tried to reproduce this issue but I cant. See below:

![image](https://user-images.githubusercontent.com/58118658/91307710-510d2b80-e77c-11ea-8cff-b07b86a80450.png)

Here is output from my logs.log file which shows my environment and the major dependencies:

![image](https://user-images.githubusercontent.com/58118658/91307842-78fc8f00-e77c-11ea-9e69-70687ffe9d23.png)

Let me kn

[2020-08-26 13:15] pycaret commented on #327
@morestart I have never seen this before. I will keep the issue open and see if anybody else can help you with this issue. Whatever it is, it has to do something with your computer/internet settings.

[2020-08-26 13:23] Yard1 commented on #327
It's possible your virtual enviroment (eg. conda)/base Python installation is incorrectly set up.

[2020-08-26 14:49] daikikatsuragawa opened #547 "Migrate commonly implemented processing to utils.py"
This is one of the refactoring plans. I think it would be nice to find out where it seems to be applicable.

[2020-08-26 15:13] pycaret commented on #547
@Yard1 FYI.

[2020-08-26 15:29] Yard1 commented on #547
@daikikatsuragawa I will need to look, but tbh it's a pretty low priority thing. What I had in mind was eg. copying datasets and so on, but I am not sure if it's worth it moving them to a function.

[2020-08-27 00:24] morestart commented on #327
my enviroment  is Virtualenv , but this code is work for me
[code]

[2020-08-27 02:46] Wookloo commented on #525
Thanks for your quick reply.

Still not working for me... I check the environment and all my library version seems updated
![image](https://user-images.githubusercontent.com/36540215/91378086-2beaec80-e852-11ea-8b16-b6f966c3e31f.png)

I m attaching the fill error message log in a "Series Object has no attribute _data.txt"
[Series Object has no attribute _data.txt](https://github.com/pycaret/pycare

[2020-08-27 06:47] Yufei-Z opened #552 "why r sqaure is negative in compare model demo"
what is the definition of the r2 in compare_model ?
is it sign(corrcoef)* r2 in cv validation part?

[2020-08-27 09:19] whiran opened #553 "Got an issue when I run the regression model in pycaret 2.0"
When I run regression model , whole note book got stuck at the time of **TheilSen Regressor** runing. Kindly help someone in this regard.
![2020-08-27 11_42_39-](https://user-images.githubusercontent.com/7403939/91420183-ea6a3980-e871-11ea-9cac-abd8d2698ecd.jpg)

[2020-08-27 11:54] pycaret commented on #553
@whiran `TheilSen Regressor` doesn't scale well. I would suggest you can `blacklist` this just like `ransac`.

The algorithm calculates least-square solutions on subsets with size n_subsamples of the samples in X. Any value of n_subsamples between the number of features and samples leads to an estimator with a compromise between robustness and efficiency. Since the number of least square solutions

[2020-08-27 11:54] #553 closed

[2020-08-27 11:56] pycaret commented on #552
@Yufei-Z It uses `sklearn.metrics.r2_score`.

R-square can be negative. Read more: http://www.fairlynerdy.com/what-is-r-squared/

[2020-08-27 11:56] #552 closed

[2020-08-27 12:01] daikikatsuragawa commented on #431
Thank you! I will check it from now on.

[2020-08-27 12:12] meaniket opened #556 "Interpret_Model does not support multi-class classification"
Team. Being a business guy I am not sure about the feasibility . But will it be feasible to add model interpretability  for multi class classification problems.

[2020-08-27 14:58] pycaret commented on #556
@meaniket It's not possible at the moment.

[2020-08-27 16:02] ykh96 opened #557 "Allow data_split_shuffle equal false with non-stratified sampling in Classification function"
Hi Team,

Just noticed that that for the classification problem pycaret will always use stratified sampling which will shuffle the data and cause problem when we set data_split_shuffle = False. The data shuffling can cause information leakage for timeseries classification. Just wondering if we can add an option whether to use the stratified sampling in the data setup so we can ban the shuffle. Hop

[2020-08-27 23:35] pycaret commented on #557
@ykh96 Good point. Will take this in future release.

[2020-08-27 23:35] pycaret commented on #557
@Yard1 Feel free to delegate this to anybody you would like.

@ykh96 Would you be interested in working on this?

[2020-08-27 23:35] #556 closed

[2020-08-27 23:36] pycaret commented on #431
@daikikatsuragawa Great. We will be releasing `2.1` tomorrow. I guess between `2.1` and `2.2` refactoring sprint there would be a lot of work that we can do on improving unit tests.

[2020-08-28 00:11] Yard1 commented on #557
Isn't this related to adding other CV options?

[2020-08-28 00:21] ykh96 commented on #557
It's the train_test_split in the setup() function, it seems that we always do the stratified sampling on y, which force the shuffle=True

[2020-08-28 00:43] Yard1 commented on #557
Oh, alright. Thanks for clearing that up.

[2020-08-28 02:01] Yufei-Z commented on #552
is it in train set or validation set?

[2020-08-28 11:20] Yard1 commented on #492
@g0lemXIV What's the progress on this?

[2020-08-28 12:12] Qiao-27 opened #563 "How to modifiy the plot (name of titel etc.)"
Dear all,
I am using Pycaret to do a prediction. It is really cool to see that several types of the plot including residuals, errors are provided, however, I would like to know how I can modify the plot including the title, the font size, the figure size as well as the range of x, y labels.
I'm looking forward to your reply.

[2020-08-28 12:43] zhenlingcn commented on #471
I want to add this feature into pycaret, but I find adding this function is too tricky because iterative imputer needs other values in the data. However, in the pipeline of pycaret, encoding occurs after imputation. Thus, we must deal with categorical data in the imputation process.
A simple solution is just to use decision tree as the estimator and encoding all features by the ordinal encoder, bu

[2020-08-28 13:20] Yard1 commented on #563
It's not possible yet, but we can add that as a feature for 2.2.

[2020-08-28 13:20] Yard1 commented on #471
@pycaret Do you think it would be possible to have encoding happen first?

[2020-08-28 13:28] lbaiao commented on #535
Do I have to copy/paste the label encoding from the information grid? Is there a more efficient to access the encoding?

[2020-08-28 17:14] Qiao-27 commented on #563
I just went through the codes about "plot_model", the title and other modifications can be done if the related codes in "yellowbrick" are changed, or any better ideas?

[2020-08-28 17:15] #516 closed

[2020-08-29 11:20] zhenlingcn commented on #471
I want to add another point. I think that fully supporting iterative Imputer is very complex because we not only need to encoding data but also need to normalize the data if we do not use the tree-based imputer. Thus, I think that implementing a specific instance (tree-based imputer) may be a more feasible way.

[2020-08-29 14:37] pycaret commented on #431
@Yard1 I suggest we continue to commit the new tests or changes on the `master` branch. Do you agree?

[2020-08-29 15:10] Yard1 commented on #431
@pycaret Yes, that's fine.

[2020-08-29 15:49] HenriqueAJNB commented on #21
This link just confirm that xgboost is not supported in Windows platform. See image below

![2020-08-29_12h32_49](https://user-images.githubusercontent.com/54143210/91640445-f978f500-e9f3-11ea-9e79-37d3bc269bc7.png)

If you check other package (`pandas` for example) there is a symbol indicating that it is supported in Windows:

![2020-08-29_12h49_16](https://user-images.githubusercontent.com/54143

[2020-08-29 16:00] synapticarbors commented on #21
Or look in https://anaconda.org/conda-forge/xgboost/files, which gives the files corresponding to every build for every version.

[2020-08-29 16:11] HenriqueAJNB commented on #21
A possible solution would be adapt code for using `py-xgboost` instead of ´xgboost`.

`py-xgboost is available in all platforms, including Windows. See this link: https://anaconda.org/anaconda/py-xgboost.

How much efforts would this solution takes? It is achievable?

[2020-08-29 16:24] sagarnildass opened #566 "Compare models MLFlowException"
Hi. I just upgraded to pycaret 2.1. When I ran the compare_models function with the Titanic dataset, I got the following error:

MlflowException: Unable to map 'np.object' type to MLflow DataType. np.object canbe mapped iff all values have identical data type which is one of (string, (bytes or byterray),  int, float)

The same code worked fine in pycaret 2.0.

[2020-08-29 16:38] pycaret commented on #566
@sagarnildass Hi, Thanks for reporting. This seems like an error from `MLFlow`. I tried to reproduce this out of `pycaret` and I was successful. See below code that throws an error:

[code]
This gives the following error:
MlflowException: Unable to map 'np.object' type to MLflow DataType. np.object canbe mapped iff all values have identical data type which is one of (string, (bytes or byterray),

[2020-08-29 16:44] sagarnildass commented on #566
Hey

Thanks for the quick reply.

I found out that presence of null values are a problem. If the dataset contains null values, this error was raised. When I imputed the null values, this problem was solved. Can you also mention this when you log this issue?

Thanks!

[2020-08-29 16:51] pycaret commented on #566
@sagarnildass Thanks. I have added that in my issue but I don't think so it's 100% True. I have worked with few missing datasets and it worked okay. For example, the `hepatitis` dataset on our repo works fine. Example code:

[code]

This dataset has missing values but it just worked fine.

![image](https://user-images.githubusercontent.com/58118658/91642055-41991700-e9f6-11ea-9b6f-0f42a86401d9.png

[2020-08-29 16:53] pycaret commented on #566
@Yard1 I don't know how soon `MLFLow` will be able to fix this but in `2.2` we will have to create some kind of exceptions under `logging_param` chunks to not fail the process even when `infer_signature` fails, as it's not mandatory and has no impact other than the signature file that gets generated under `model` directory when `log_experiment` is set to `True`.

[2020-08-29 16:55] pycaret commented on #195
@PBenavides Thanks. Will add the exception in the next release.

@Yard1 will have to take care of this in `2.2`

[2020-08-29 16:56] pycaret commented on #195
@PBenavides If you would like to work on this, please get in touch with @Yard1 (he is leading the next sprint).

[2020-08-29 16:57] pycaret commented on #363
@MislavSag Custom folds are not supported at this time but we are working towards adding that for the future release.

[2020-08-29 16:58] #368 closed

[2020-08-29 17:01] sagarnildass commented on #566
@pycaret : I believe object datatypes are a problem. It clearly states: "np.object canbe mapped iff all values have identical data type which is one of (string, (bytes or byterray), int, float)". So do you think null values in a object datatype column might be the root  problem here? Because in hepatitis data, all the columns are numeric.

[2020-08-29 17:54] Yard1 commented on #566
@pycaret If we get MLFlow logging into a function then it will be easy to wrap it into a try except block.

[2020-08-29 17:56] Yard1 commented on #21
Can we force pip installation as a part of conda install process?

[2020-08-29 18:04] ashishgopal1414 opened #567 "Pycaret 2.0 and Streamlit deployment issue in Heroku"
Hi Team,
First of all, fabulous work!

I was trying to create an app with "streamlit" and "pycaret" and deploy it in heroku.

If I use "pycaret 1.0" the app is deployed successfully, but with "pycaret version 2.0", the size of dependency files becomes huge and crosses the heroku threshold of 500 MB slug size

Any help would be appreciated.

[2020-08-29 18:17] synapticarbors commented on #21
@Yard1 -- conda-forge requires that all dependencies be packaged on conda-forge as well (https://conda-forge.org/docs/maintainer/adding_pkgs.html#avoid-external-dependencies).

There have been attempts to get xgboost working on conda-forge, but they have as of yet, been unsuccessful (https://github.com/conda-forge/xgboost-feedstock/pull/43, https://github.com/conda-forge/xgboost-feedstock/issues/3

[2020-08-29 23:07] pycaret commented on #566
@sagarnildass Thanks again for reporting. I am planning to do a bug fix release tomorrow `2.1.1`. For now, I have wrapped this inside `try` and `except` clause to avoid the error. I have tested it on the titanic dataset.

Can you please sync the `master` and try to see if you can reproduce the error now?

Thanks

[2020-08-30 13:07] Yard1 commented on #567
Can you try to deploy Docker using the provided Dockerfile instead?

[2020-08-30 13:15] ashishgopal1414 commented on #567
I am unaware of the process to deploy using Docker. Can you please help me with the process if there are any tutorials for the same or link etc. ?

[2020-08-30 14:42] Yard1 commented on #567
https://devcenter.heroku.com/categories/deploying-with-docker

[2020-08-30 15:56] sagarnildass commented on #566
Done...it's working as expected.

[2020-08-30 16:57] pycaret commented on #566
@sagarnildass Thanks. I will publish the `2.1.1.` release today. @Yard1 FYI.

Thanks for your help @sagarnildass

[2020-08-30 16:57] #566 closed

[2020-08-30 17:00] pycaret commented on #567
@ashishgopal1414 Sorry to hear you are having issues. I think soon `Heroku` is reducing the `slug size` further to 300mb from 500mb so even if you try to add `.slugignore` for now to barely make it at 500mb, it won't work in future once it is reduced to 300mb.

I have written many articles for deploying models using Docker containers on Azure, AWS, and GCP. Almost all of them provide a joining cre

[2020-08-30 17:00] #567 closed

[2020-08-30 18:20] saitej123 opened #571 "Facing issue when load .pkl in new environment , NameError: name 'target_inverse_transformer' is not defined"
For my streamlit app , used only .pkl output from pycaret. when I loaded and run the app, got error

name 'target_inverse_transformer' is not defined. 2 months back I used same code It was working .

but when I loaded the pkl file in the  same notebook where I created model, it is fine .

![image](https://user-images.githubusercontent.com/18657211/91666585-984c4100-eb1b-11ea-9a9a-a4cd78f754fd.png)

[2020-08-30 18:25] saitej123 commented on #571
https://github.com/saitej123/ML-APP-HEROKU

Please use this repo to recreate

[2020-08-30 18:34] saitej123 commented on #525
I am also facing similar issue. please check this '

https://github.com/pycaret/pycaret/issues/571

[2020-08-30 18:35] saitej123 commented on #525
test case: read pkl file in new notebook, create dummy dataframe with input. try predict, it throws error .

[2020-08-30 19:34] pycaret commented on #525
@saitej123 Which version of PyCaret are you using? Recently in `2.1` we have changed the behavior of `Pipeline` so if you have trained your model using older version of PyCaret and then updated your environment to the recent version, this may cause an issue.

[2020-08-30 19:35] pycaret commented on #571
@saitej123 Have you trained your model using `2.0` and trying to generate predictions using `2.1`?

We have recently changed the behavior of `Pipeline`. Can you try re-training the model in `2.1` and see if you still get the error?

[2020-08-30 19:40] pycaret commented on #571
@saitej123 This could also be due to one of the bug in `2.0`. Can you please update to `2.1` and see if this is okay now?

[2020-08-30 22:44] simoneperazzoli commented on #231
@pycaret I have tested with Pycaret 2.0 and it is working now. Thank you for all the support!

[2020-08-31 00:26] bolfaine commented on #319
I still have issue with model_plot in Jupyterlab, but works in jubyter notebook. Maybe some with ipy
widgets?

[2020-08-31 01:59] webzest opened #572 "confused about the steps to reach a prediction"
I am excited to work with your pycaret tool for python.  I use caret for R and like it, but I find it unable to help me raise the score on kaggle.  I was so happy to see your python version and hope it can help me deliver a great prediction for my housing competition project.
I am trying to predict housing prices and was trying to follow the tutorials.  I am not able to find a straight-forward tut

[2020-08-31 02:12] pycaret commented on #572
@webzest Thanks. There are many tutorials around. Tutorials were created to provide building blocks but there are also many examples available that shows end-to-end process plus you can find all my tutorials here: https://medium.com/@moez_62905

For now, let me show an end-to-end flow here:

[code]
Hope this helps. Please close the issue, if this answers your question.

[2020-08-31 03:14] kmedved opened #573 "Sample weight support for regression problems?"
Hello - thanks for this very interesting/promising library. I was wondering whether there is any support or planned support for regression sample weights? These are essential for many types of regression problems, where your observations are not always available at the most granular level and are somehow grouped before being converted to features. This is common with sports data, and with certain

[2020-08-31 03:59] saitej123 commented on #571
@pycaret I am using latest version,
![image](https://user-images.githubusercontent.com/18657211/91681543-58fa1080-eb6c-11ea-90e6-67fd402507f0.png)

trained model on latest version and tried to deploy.

[2020-08-31 04:10] saitej123 commented on #525
@pycaret  Hi, I did re train with 2.1 version, still facing the same issue . is there any hack to solve this "AttributeError: 'Empty' object has no attribute 'p_transform_target'"

 target_transformer = estimator.steps[13][1].p_transform_target # make it dynamic instead of hardcoding no 13

[2020-08-31 05:34] siddharthchauhan opened #574 "Can anomaly detection module able to find contextual outlier if so than which algorithm?"
How to find contextual outlier using anomaly detection module?

[2020-08-31 06:23] whiran opened #575 "Getting Error when I run Regression problem"
Recently I use pycaret package to solve my regression issue. Unfortunately, following issue came up when I run jupyter notebook.
`blacklist  = ['ransac', 'TheilSen Regressor']`
`top_model = compare_models(
    blacklist = ['TheilSen Regressor']
    ,sort = 'MAE' ## competition metric
    ,turbo = True
    ,verbose=1
)`
**TypeError: compare_models() got an unexpected keyword argument 'blacklist'**

[2020-08-31 08:34] Yard1 commented on #575
`blacklist` has been renamed to `exclude`. Also, you need to use the ID of the TheilSen Regressor, not the full name. You can find the IDs in the documentation.

[2020-08-31 12:49] pycaret commented on #575
@whiran As @Yard1 said, In `2.1` we have renamed `blacklist` and `whitelist` to `exclude` and `include`. Please read the release notes for more details. Also as he mentioned, you have to put `ID` of the model in `exclude` or `include`. To get all the model information you can do this:

[code]
Hope this helps.

[2020-08-31 12:49] #575 closed

[2020-08-31 13:14] webzest commented on #572
Thank you for your response...  I ran your recommended step-by-step.  The predictions were not great, In fact, they were terrible and scored 0.19739.   This score is way to high and needs to be improved...    I am looking for a much better score, such as a 0.0001 or we can start with a 0.10000, if that is even possible.

How would we go about tuning the initial selected top 3 models with a GridSea

[2020-08-31 13:39] pycaret commented on #574
@siddharthchauhan We are using `pyod` at back-end. I am not sure if any specific algorithm will serve your need but you can check the details of all algorithms here: https://pyod.readthedocs.io/en/latest/relevant_knowledge.html

[2020-08-31 13:39] #574 closed

[2020-08-31 13:45] pycaret commented on #525
@saitej123 I am unable to reproduce this issue on my end. Can you please attach your Notebook that used for training and code that used for inference here? Thanks

[2020-08-31 13:45] pycaret commented on #571
@saitej123 I can't reproduce the issue. Please provide your notebooks/code so I can have a look.

[2020-08-31 13:48] pycaret commented on #573
@kmedved You can do that. `create_model` function supports **kwargs argument. Any algorithm that supports sample_weight can be passed directly inside the `create_model` function.

Example:
[code]

This is just an example to show you can pass any arbitrary parameter inside `create_model` as long as it is supported by the estimator. In this case, `learning_rate` param is supported by `lightgbm`.

Ho

[2020-08-31 13:48] pycaret commented on #231
Thanks @simoneperazzoli

[2020-08-31 13:48] #231 closed

[2020-08-31 14:19] pycaret commented on #572
@webzest Not sure I can help you with scores. It really depends on the dataset.

You can tune your top3 models. Here is what I would do:

[code]

Hope this helps.

[2020-08-31 14:20] saitej123 commented on #525
https://github.com/saitej123/ML-APP-HEROKU

Please check this repo, app.py , notebook and dependency files attached here

[2020-08-31 14:39] kmedved commented on #573
Thanks @pycaret, but I'm not sure that actually solves this issue. In the lightgbm example, sample weights are passed into a model via the `.fit()` call, not the instantiation call (which is where you'd pass a `learning_rate` parameter for instance).  This isn't specific to LightGBM - other estimators in python take sample weights the same way (e.g., scikit-learn, lightgbm, catboost, xgboost, etc.

[2020-08-31 15:15] Yard1 commented on #573
I don't think it would be easy to add with how our functions are structured. You can call `fit` directly on the returned model object, though. You can get the training and test data by using `get_config()`. The arguments are (one at a time) `'X_train'`, `'y_train'`, `'X_test'` and `'y_test'`.

[2020-08-31 15:44] pycaret commented on #573
@kmedved Thanks a lot for clarifying. I think this is totally possible and I can work on this change fairly quickly. Can you please provide me with 2 working example (one for classification and one for regression) using sklearn directly. If you can share those notebooks I can work on this change.

@Yard1 I think it won't be that hard. We can't use **kwargs but we can have an additional parameter i

[2020-08-31 16:02] krlng opened #577 "Custom Transformer Integration"
**Is your feature request related to a problem? Please describe.**
I want to create more powerful, hand-crafted features. Therefore I often create custom sklearn Transformers and use those in a Pipeline with my model. How ever, this does not work with pycaret, since it is not possible to apply the Transformers before doing the train_test_split, which is done within the setup step. How ever I am no

[2020-08-31 16:11] pycaret commented on #525
@saitej123 Thanks. I have now figured out the issue. It's a bug, I have fixed this and will shortly release `2.1.2` on `PyPi`. I will ask you to please retest after the update. Thanks

[2020-08-31 16:34] pycaret commented on #573
@kmedved I think we can make it work. Here is my working example of how to do it until the functionality is available:

[code]

This is working. Once this makes sense to you, we will figure out a way on how to handle this inside pycaret.

[2020-08-31 16:47] pycaret commented on #571
@saitej123 Thanks. I have now figured out the issue. It's a bug, I have fixed this and will shortly release 2.1.2 on PyPi. I will ask you to please retest after the update. Thanks

[2020-08-31 16:52] pycaret commented on #525
@Wookloo @saitej123 After updating my version `pycaret==2.1.2` this works fine now.

![image](https://user-images.githubusercontent.com/58118658/91745355-d9c70580-eb88-11ea-921a-62b39b82f4b8.png)

Thank you for reporting the bug.

[2020-08-31 16:52] #525 closed

[2020-08-31 16:53] saitej123 commented on #525
Thank you for the update !!

cheers,
sai

On Mon, Aug 31, 2020, 9:41 PM PyCaret <notifications@github.com> wrote:

[2020-08-31 16:53] pycaret commented on #571
@saitej123  After updating my version `pycaret==2.1.2` this works fine now.

![image](https://user-images.githubusercontent.com/58118658/91745355-d9c70580-eb88-11ea-921a-62b39b82f4b8.png)

Thank you for reporting the bug.

[2020-08-31 16:53] #571 closed

[2020-08-31 16:55] saitej123 commented on #571
Cheers !

On Mon, Aug 31, 2020, 10:23 PM PyCaret <notifications@github.com> wrote:

[2020-08-31 16:56] pycaret commented on #577
@krlng Great suggestions. Would you have time and skills to work on this change?

[2020-08-31 16:58] pycaret commented on #466
@clgarciga We are trying to get away from the hassle of maintaining the website and hence we are moving everything slowly to `readthedocs` as it's more sustainable in terms of maintenance. The website is an entirely manual effort using `WordPress` and I want to discontinue that asap.

Thanks for the suggestion anyways.

[2020-08-31 16:58] #466 closed

[2020-08-31 16:58] pycaret commented on #494
@fireddd Great I have assigned the issue to you. Please keep us posted on your progress. Let's target this for next release `2.2` (end of Sep)

[2020-08-31 17:00] pycaret commented on #467
I will take care of this.

[2020-08-31 17:05] Yard1 commented on #577
The changes I have made on refactor allow for this already, I just need to add it as a parameter to setup

[2020-08-31 17:18] webzest commented on #572
when I tuned as indicated, the score is higher, not lower: 0.24312  :(

[2020-08-31 18:03] pycaret commented on #572
@webzest Sorry. Can't help you without any more information. Can you share the dataset and your script?

[2020-08-31 18:11] Yard1 commented on #577
`2.2` will have `custom_pipeline_steps_after_split_before_pycaret` and `custom_pipeline_steps_after_split_after_pycaret` parameters, allowing the user to add their custom transformers after train-test split and before/after PyCaret's transformers (eg. SMOTE).

[2020-08-31 18:11] webzest commented on #572
Sure...
You can download the Data from here:  https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
train and test data are available for you to download.
[code]

[2020-08-31 18:44] krlng commented on #577
That sounds just perfect - can't wait for 2.2

[2020-08-31 18:44] #577 closed

[2020-08-31 18:45] kmedved commented on #573
Thanks @pycaret - I've put up working examples on [Colab here:](https://colab.research.google.com/drive/1CEt2upkKLZyMbU08Nq3GM4DNAxUKFQnR?usp=sharing.)

Note that if you're passing an evaluation set, into something like LightGBM, xgboost, or Catboost, for the purposes of early stopping, that you need to pass an evaluation set sample sample weight as well. This isn't relevant for sklearn, since the

[2020-08-31 20:50] pycaret commented on #573
@kmedved Actually after writing my comment I discussed this with @Yard1 (he is leading the `2.2` sprint). His view is we should allow `fit_params` within `create_model`, `tune_model`, and all the other trainer functions (except for `compare_models`). Because we have realized that there are few other `params` you can pass using `.fit()` and not all of them are applicable to all the estimators.

Whi

[2020-08-31 20:52] pycaret commented on #572
@webzest Thanks. Can you share the notebook, please?

[2020-08-31 20:55] pycaret commented on #557
@ykh96 That's correct. We are unfortunately forcing `stratify` param of `train_test_split` to target variable and hence `shuffle` is forced to `True`. In `2.2` release we will be introducing two new params, one to decide whether `stratify` is required `True` or `False` and if `True` the name of the column on which `stratification` is required. This is applicable to both `pycaret.classification` an

[2020-08-31 21:09] kmedved commented on #573
Sure - I'll add examples of each. I presume you want the sklearn API for each? (They each have their own native APIs as well).

One consideration for putting this into `fit_params` vs into `setup` is cross-validation. Insofar as PyCaret is splitting the training data internally via `setup` for cross-validation purposes, you'll need to do the same for the sample weights, so depending how PyCaret ha

[2020-08-31 21:23] kmedved commented on #573
[The Colab notebook is updated (sklearn API).](https://colab.research.google.com/drive/1CEt2upkKLZyMbU08Nq3GM4DNAxUKFQnR?usp=sharing.#scrollTo=LI1iTM4zYDlz)

One example of regression and classification for each.

[2020-09-01 00:40] fireddd commented on #494
If you give me an idea of what is expected from me as the final result that would be really good to know.

[2020-09-01 03:01] ykh96 commented on #557
Sounds good. Thanks a lot for your help!

[2020-09-01 06:27] AsraKhalidSiddiqui opened #579 "Problem in installing PyCaret"
I am trying to install PyCaret on jupyter notebook using the following command
`!pip3 install pycaret`

It is giving me following error:

[code]
I have also tried to restart the kernel but it didn't work.

[2020-09-01 06:42] Wookloo commented on #525
Thanks for fixing the bug.
After i update my pycaret to 2.1.2 should I train and save another model ? or I can use the model i save before ?

[2020-09-01 07:44] g0lemXIV commented on #492
@Yard1 I've just back from the holiday. I will start implementing web service this week.

If I understand correctly, the `create_webservice` function in the basic version should take model, model_name, port number (optional), and path (optional). If the user trigger the function, fast API initializes REST API with POST endpoint and return prediction in the body.

In the next version, I can add aut

[2020-09-01 11:09] ngupta23 commented on #319
Yes, I am still having issues with this.

[2020-09-01 12:01] webzest commented on #572
[pyCaretEnsembleReduced.zip](https://github.com/pycaret/pycaret/files/5156031/pyCaretEnsembleReduced.zip)

[2020-09-01 12:02] webzest commented on #572
please let me know if that works...  I can also create a GIT to share it, if that is better for you.

[2020-09-01 14:07] joschkazj opened #581 "Updated requirements.txt: install dependencies via conda"
Hi,
this project appears to be very interesting, I'm looking forward to applying it to my modeling problems!

When installing the package using conda I stumbled upon some mis-named packages in `requirements.txt` which I've updated to **enable direct installation of most dependencies via conda** (I prefer to let conda handle my packages).
As I haven't tried this package, yet, I didn't invest the ti

[2020-09-01 14:31] pycaret commented on #579
@AsraKhalidSiddiqui Seems like a lot of conflicts. Can you please follow the instruction here: https://www.pycaret.org/install and create a separate conda environment. Hope it works fine.

[2020-09-01 14:33] pycaret commented on #581
@joschkazj Thanks. There are few people already working on it. The last thing I have heard about this issue is that there is `xgboost` on `conda`. I am not very familiar with conda so can't be of any help here but I am linking you to the original issue and closing this was. https://github.com/pycaret/pycaret/issues/21

[2020-09-01 14:33] #581 closed

[2020-09-01 14:35] pycaret commented on #319
@ngupta23 Thanks. I have received much feedback wrt jupyter hub. Seems like visuals are not rendering in Jupyter Hub. Not sure who can help, please let's keep this open.

[2020-09-01 14:35] pycaret commented on #573
@kmedved Thanks

[2020-09-01 14:41] pycaret commented on #494
@fireddd we have a lot of public datasets uploaded here: https://github.com/pycaret/pycaret/tree/master/datasets

They are used in `get_data` function from `pycaret.datasets` module. For example:

[code]

This function reads the data frame from the GitHub repo and returns it as a pandas data frame. There are two problems:

1. We do not have appropriate credits/citations in place. The first step wo

[2020-09-01 14:43] Yard1 commented on #573
Yeah now that I think about it that would be the best solution, @pycaret

[2020-09-01 14:44] pycaret commented on #492
@g0lemXIV Your understanding is 100% correct. plus obviously incorporate the dependencies in `requirements.txt` as well. We will keep `FastAPI` optional / commented in `requirements.txt` and in the docstring of `create_webservice` we can put a warning and an exception check on top. See exception checking for `interpret_model` where I have done a similar check to detect `shap` before executing the

[2020-09-01 14:45] pycaret commented on #21
@Yard1 Should we hold on this until the `xgboost` issue on `conda` is sorted. I don't think we should shift to `py-xgboost`. I don't think update cycles for `py-xgboost` and `xgboost` is in sync. Your thoughts?

[2020-09-01 15:29] pycaret commented on #249
@Yard1 I think we can easily do this in the `setup` function before `train_test_split` in the new structure. We can drop all the rows where the target variable is `NULL` (applicable to `pycaret.classification` and `pycaret.regression`). We will also have to throw some warning in the logger for that since we are modifying the number of rows of the original dataset.

[2020-09-01 15:46] pycaret commented on #66
@npapan69 Would you like to work on this issue or at least provide a detailed user story so that its easy to understand the requirement and expected results. Feel free to upload example notebooks and calculations required to calculate CI.

[2020-09-01 15:51] pycaret commented on #73
@Yard1 With the new structure it is going to be a very simple change. We can add a new parameter in the `setup` function for `regression` and `classification`. Let's say the parameter is called `test_data` which takes a pandas data frame. The default should be `None`  but when `test_data` is provided and it matches the `data` and all other exception checkings, there is no need for `train_test_spli

[2020-09-01 15:52] pycaret commented on #134
@Yard1 After thinking a lot about this. The cost-benefit for this feature is not viable. If there are duplicate rows, users can remove it themselves before passing it into pycaret.

Closing this issue.

[2020-09-01 15:52] #134 closed

[2020-09-01 16:21] kmedved commented on #66
This is an incredibly difficult problem fwiw, and an area of active research. I'll flag two libraries with active development on this issue, which are [ngboost ](https://stanfordmlgroup.github.io/projects/ngboost/)(from Andrew Ng's team), and Catboost's recently released [RMSEWithUncertainty](https://github.com/catboost/catboost/releases) loss function, but analyzing CIs more robustly may require

[2020-09-01 18:51] Yard1 commented on #21
Agreed, I'd rather not try to support both libraries.

[2020-09-01 18:53] Yard1 commented on #249
Alternatively, we could add it as a preprocessing pipeline step. I think it would be better that way, as it will stay consistent, and also work on passed data.

[2020-09-01 18:53] Yard1 commented on #73
Sounds good.

[2020-09-01 19:06] saitej123 opened #583 "is there any way to set default 'yes' to "setup" Step?"
At the end of this step we have to give  "yes' or quit
clf1 = setup(data, target = 'Class variable')

is there any way to setup that in default step?

trying to implement pycaret AUTOML using streamlit based on target variable selection
 unless I select it wont got the next step

Please suggest any hack to select yes

[2020-09-01 19:10] pycaret commented on #583
@saitej123 Yes. please pass `silent = True` within the `setup` function. You can programmatically control the data types, in this case, using `categorical_features` and `numeric_features` param inside the `setup`. Read more: https://www.pycaret.org/setup

[2020-09-01 19:10] #583 closed

[2020-09-01 19:31] lbaiao commented on #215
When I use the model for inference, on a new DataFrame, the `predict_model` method does not return the 'Scores' column. How can I get these probabilities?

Ex. : `predict_model(my_model, data=new_df)`

[2020-09-01 19:33] pycaret commented on #215
Which model are you using? Certain algorithms do not support predict_proba and hence for those there will be no score.

[2020-09-01 19:38] lbaiao commented on #215
I am using random forest. If I use the `predict_model`, with the data passed on `setup`, it returns the Scores.

ex.: `predict_model(rf)`

[2020-09-01 19:38] saitej123 commented on #583
thanks, is there any way to deploy in heroku..with less dependencies..size
reached more than 600 mb..app crashed

On Wed, Sep 2, 2020, 12:41 AM PyCaret <notifications@github.com> wrote:

[2020-09-01 19:46] pycaret commented on #249
@Yard1 Yes. The reason I suggested in the `setup` is that it's not really `preprocessing`. Its basically preparing data for preprocessing as we do not need a `transformer` for this. If we can put it on top in `preprocess.py`, that's fine as well.

[2020-09-01 19:47] pycaret commented on #583
@saitej123 Unfortunately not.

[2020-09-01 19:47] pycaret commented on #215
@lbaiao Please attach the notebook here. I cannot reproduce the issue at my end. Which version are you using? I am using `2.1.2`

[2020-09-01 19:52] saitej123 commented on #583
Ok thanks

[2020-09-02 03:30] dani-lbnl commented on #96
we were able to use pycaret with dask - needed to hack cufflinks/auth.py and pycaret/classification.py

[2020-09-02 09:49] gcaminero opened #584 "Trigonometry Features not working"
Hi!!

I got no results when trying to get feature enginnering by trigonometry features setting the boolean: trigonometry_features = True
This is not working as expected. It isn't generating new features like expected in the example: https://i0.wp.com/pycaret.org/wp-content/uploads/2020/03/trig_after.png?resize=1080%2C186&ssl=1

As the example, my output: reg1[0].columns is:

[code]

My environment

[2020-09-02 10:45] Yard1 commented on #584
Can you run this after setup: `get_config('X').columns` and see if the columns are in the returned dataframem

[2020-09-02 10:54] gcaminero commented on #584
Hi

This is the result:

[code]

[2020-09-02 13:54] pycaret commented on #584
@gcaminero I have checked. For some reason, you need to have `polynomial_features` enabled as well for `trigonometry_features` to work but on this particular dataset even that is not working.

[2020-09-02 14:33] gcaminero commented on #584
This works, but they are discarded because of their low importance.
You can see how it works by setting the threshold_polynomial = 0.99

And the output is next:
[code]

The problem is that polynomials may not be of interest in my case so It would be nice if they could be chosen separately.
Also making posible to set `trigonometry_threshold` as importance threshold.

Thanks

[2020-09-02 15:09] lbaiao commented on #215
@pycaret  I can't post the notebook, because of the data. I was not able to reproduce the bug with public data, or the pycaret datasets. However, I can paste a print screen.

![image](https://user-images.githubusercontent.com/25750921/92001469-1889c680-ed15-11ea-84a9-dd449e389712.png)

[2020-09-02 15:42] Yard1 commented on #215
`get_config('prep_pipe')` will return the pipeline used.

[2020-09-02 17:58] rohan-gt opened #587 "[Feature Request] Support for NGBoost"
Add support for [NGBoost](https://github.com/stanfordmlgroup/ngboost) for probabilistic regression predictions

[2020-09-02 18:15] kmedved commented on #587
This would be a great feature to add. I'll flag that Catboost has also recently rolled out `RMSEWithUncertainty' loss, which is likewise probabilistic in nature. It's not as well documented as ngboost yet, but is also promising (and much faster to fit).

[2020-09-02 20:17] pycaret commented on #492
@g0lemXIV All okay?

[2020-09-02 20:18] pycaret commented on #584
@gcaminero You know actually what. The threshold for `trigonometry_features` is also controlled through `polynomial_threshold`. Will just have to clarify that in the documentation somewhere.

Thanks for bringing this up.

[2020-09-02 20:30] pycaret commented on #587
@rohan-gt @kmedved

Even though `ngboost` is not part of default pycaret, you can still use it just like any other estimator. See below example:

[code]
![image](https://user-images.githubusercontent.com/58118658/92033359-8b0c9d80-ed39-11ea-9418-a6cdc71d18df.png)

Hope this helps?

[2020-09-02 20:40] lbaiao commented on #215
@Yard1 Thanks! That was helpful.

[2020-09-03 05:49] g0lemXIV commented on #492
@pycaret, yes sorry that I didn't respond. I'm creating it right now, it should be implemented in all main files, yes? (classification, regression, etc.)

[2020-09-03 07:30] rohan-gt opened #590 "[Bug] Tuned model has worse performance than default model"
In this particular Kaggle [example](https://www.kaggle.com/frtgnn/pycaret-introduction-classification-regression), the tuned LghtGBM performance has worse performance compared to the default model. This can be fixed if the default model is compared to the tuned model and the best model chosen from there

[2020-09-03 08:20] Yard1 commented on #590
You can use the `choose_better=True` parameter to return the untuned model if it's better.

[2020-09-03 11:16] chamsdg opened #591 "Replace Nan values by Zero in pycaret 2.1"
Hello, when i want to replace nan values by zero in version 2.1
i have an issue

i get this error:

`SystemExit: (Value Error): numeric_imputation param only accepts 'mean' or 'median' `

someone can help me
thank you

[2020-09-03 13:18] lbaiao opened #592 "Bug: compare_models() got an unexpected keyword argument 'blacklist'"
The `compare_models` method does not accept the `blacklist` argument.

![image](https://user-images.githubusercontent.com/25750921/92119704-8940e980-edce-11ea-98bc-b84eb9d3b544.png)

version: pycaret==2.1.2

[2020-09-03 14:27] jrycw commented on #592
`blacklist` and `whitelist` parameters in `compare_models` function is now renamed to `exclude` and `include` with no change in functionality for [pycaret2.1](https://towardsdatascience.com/pycaret-2-1-is-here-whats-new-4aae6a7f636a).

[2020-09-03 14:33] lbaiao commented on #592
@jrycw Thanks for the answer! I think this change in `compare_models` is not documented yet.

[2020-09-03 14:39] pycaret commented on #591
@chamsdg Which module are you using?

[2020-09-03 14:40] pycaret commented on #590
@rohan-gt as @Yard1 mentioned you can use `choose_better` parameter in functions to return the better performing model as a result of your functions like `tune_model` `ensemble_model` etc.

[2020-09-03 14:40] #590 closed

[2020-09-03 14:42] pycaret commented on #249
@Yard1 Yes. This is already implemented. Great, let me test it.

[2020-09-03 15:40] g0lemXIV commented on #492
I missed it. I think, will pull request the first version on Sunday/Saturday. Should I add Pydantic to check the input data format?

[2020-09-03 16:13] chamsdg commented on #591
i use classification for predict churn
i work in jupyterLab

[2020-09-03 17:26] chamsdg commented on #339
thank you

[2020-09-03 18:23] papagala opened #593 "Error in Pycaret regression/predict_model"
I used to be able to run [pycaret_deployment_streamlit](https://github.com/pycaret/pycaret-deployment-streamlit) with no problem. All of the sudden I started getting this error

[code]
![image](https://user-images.githubusercontent.com/6526276/92144962-1c811b80-eddd-11ea-8ca6-422ca0ed7549.png)

Reproduction steps

[code]

I'm running Python 3.8 and tried it in multiple OS (Ubuntu anr MacOsX).

**N

[2020-09-03 19:08] fireddd commented on #494
Hi, sure adding column shouldn't be a problem in the index.csv , is there a naming convention that is being followed while giving credit like just the name of the organization or something else?

[2020-09-03 20:17] pycaret commented on #354
will be handled through custom_splitter param.

[2020-09-03 20:19] pycaret commented on #456
Are we taking care of this in `refactor-2.2`

[2020-09-03 20:23] pycaret commented on #316
@eonsmile Hi, we have internally checked the viability of this functionality. Actually, in the early release, we were providing this functionality to get the tuned models from compare_models instead of plain vanilla. This wasn't feasible in terms of training time.

At this time, I will be closing this issue, and maybe in future at some point we might reopen to put it in our backlog.

Thanks anyway

[2020-09-03 20:23] #316 closed

[2020-09-03 20:24] pycaret commented on #258
@Yard1 has completed this functionality in `2.2-refactor`.

Cheers.

[2020-09-03 20:25] pycaret commented on #223
@Yard1 This is the one we talked about a few days ago. Adding a test_set param in the `setup` function that overwrites the `train_test_split`.

Thanks.

[2020-09-03 20:26] pycaret commented on #256
@Yard1 Do you think I should post on my LinkedIn to seek for help from somebody who can help us with modular installation?

[2020-09-03 20:27] pycaret commented on #220
@rahul-raoniar We have added the `scale` param in `2.1`. Hope it will be useful. It's still not like `ggplot`.

[2020-09-03 21:33] #592 closed

[2020-09-03 21:52] Yard1 commented on #456
Once refactoring is complete we can see if the metrics have improved.

[2020-09-03 23:17] Yard1 commented on #256
Let's get the refactor done first, then we can think about publishing changes @pycaret

[2020-09-03 23:20] Yard1 commented on #316
As `compare_models` will support comparison of trained model objects, code will be possible in `2.2`:
[code]

[2020-09-04 01:09] papagala commented on #593
I figured this out. It turned out that the model was built with Pycaret 1.0 and I was running the streamlit app with 2.1.2. I think it would be nice to put it on the docs if not already. I can help out with that.

[2020-09-04 09:34] doubianimehdi opened #594 "Inference of Numerical features in Clustering not working even when forced ..."
Hi,

I have the following dataset
	LIBELLE_ARRET	CATEGORIE_TITRE	NBRE_VALID
997	CHATELET-LES HALLES	NAVIGO	83082
4606	SAINT-LAZARE	NAVIGO	60859
1904	GARE DU NORD	NAVIGO	54785
180	AUBER	NAVIGO	46096
2345	LA DEFENSE-GRANDE ARCHE	NAVIGO	45454
...	...	...	...
3426	NANTEUIL-SAACY	?	5
4422	ROSNY-SUR-SEINE	?	5
4641	SAINT-MARTIN-D'ETAMPES	?	5
5124	US	?	5
5283	VIARMES	?	5

info on the dataset :
<class 'pan

[2020-09-04 11:35] pycaret commented on #594
@doubianimehdi The grid shows the inferred information on original dataset. I don't think it's looking at overwriting functions.

You can check get_config('X') and if `NBRE_VALID` is not one-hot-encoded then you are good. It will be treated as numeric.

[2020-09-04 11:35] #594 closed

[2020-09-04 11:36] #587 closed

[2020-09-04 11:36] pycaret commented on #591
@chamsdg What's your version?

[2020-09-04 11:36] #579 closed

[2020-09-04 11:39] doubianimehdi commented on #594
Sorry but I didn't understand what you mean ...

[2020-09-04 11:47] doubianimehdi commented on #594
the get_config('X') gives me this :

NBRE_VALID | CATEGORIE_TITRE_? | CATEGORIE_TITRE_AMETHYSTE | CATEGORIE_TITRE_AUTRE TITRE | CATEGORIE_TITRE_FGT | CATEGORIE_TITRE_IMAGINE R | CATEGORIE_TITRE_NAVIGO | CATEGORIE_TITRE_NAVIGO JOUR | CATEGORIE_TITRE_NON DEFINI | CATEGORIE_TITRE_TST
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
20.0 | 1.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0
96.0 | 0.0

[2020-09-04 12:20] chamsdg commented on #591
ok i will try it

[2020-09-04 12:45] holgern commented on #428
@Yard1  The newest scikit-optimize version 0.8.1 supports scikit-learn >=23, the new version was released today.

[2020-09-04 12:46] chamsdg commented on #591
hello i try iy

but i have the same error

![pycaret_2](https://user-images.githubusercontent.com/50946856/92240756-6e996e00-eebd-11ea-89de-d02cafad9bc2.PNG)

![pycaret_zero](https://user-images.githubusercontent.com/50946856/92240786-76591280-eebd-11ea-9c29-edfe16280847.PNG)

[2020-09-04 13:07] pycaret commented on #591
@chamsdg Are you using any virtual / conda environment?

[2020-09-04 13:09] pycaret commented on #593
@papagala Yes. Can you please put a warning under the `predict_model` function for all modules. Please submit a PR on `master`. Following the documentation format followed for other functions. See the `warnings` section for the `compare_models` as an example.

[2020-09-04 13:10] Yard1 commented on #428
Thanks, we'll add that as an option :+1:

[2020-09-04 15:49] chamsdg commented on #591
Yes, i create a virtual environment

On Fri, Sep 4, 2020, 1:07 PM PyCaret <notifications@github.com> wrote:

[2020-09-05 00:34] papagala commented on #593
[PR](https://github.com/pycaret/pycaret/pull/595) is up

[2020-09-05 16:20] danbricedatascience opened #598 "Issue with fix_imbalance_method"
When setting `fix_imbalance=True,fix_imbalance_method=imblearn.over_sampling.RandomOverSampler ` in setup (or any other imblearn method, including SMOTE), I always get this error when calling `create_model('rf')`:

[code]

[2020-09-05 20:38] TKassis opened #599 "plot_model only works when used once in a Jupyter cell"
The plot_model() function works well when run once in a Jupyter cell, but when I try:

[code]

The resulting plots are flawed in a variety of ways. See attached as an example.

Is there a way to save these plots outside of a Jupyter notebook? I'd like to use them in a .py script.

![Validation Curve](https://user-images.githubusercontent.com/9168908/92313123-d28f6580-ef95-11ea-872b-a6c43b2bbbb2.pn

[2020-09-05 21:32] rushingJustice opened #600 "Predictions on a separate hold out set"
Hello!

Thank you for creating pycaret. I've learning a lot!

I am trying to make predictions on a personal holdout set (not the holdout set that pycaret auto-generated from `setup`).

I figured it would be as simple as:

[code]

`df_test `appears to transform just fine, but when I go to use `predict_model`:

[code]

I get the following error: `SystemExit: (Type Error): test data does not have col

[2020-09-05 21:43] Yard1 commented on #600
Don't transform the data yourself, it will be transformed inside the function. Just pass unedited data to it, it should work fine :)

[2020-09-05 22:11] g0lemXIV commented on #492
@pycaret  @Yard1 Tomorrow I will pull request the version with the web service. I did all the functionality except tests, docs, and requirements completion. Basic structure looks this:
`create_webservice(model, model_name, port=8080, api_key=True,
                      use_pydatic=True, pydantic_payload=None)`

api_key is responsible for generating a basic security level;
pydatic is responsible fo

[2020-09-06 14:37] pycaret commented on #492
@g0lemXIV Great thanks. Will, you also include dependencies in `requirements.txt` (though should be commented out just like other optional dependencies)

[2020-09-06 14:37] pycaret commented on #600
@rushingJustice If this answered your question, please feel free to close the issue.

[2020-09-06 14:39] pycaret commented on #599
@TKassis you can use the `save` parameter inside the `plot_model` function to save them as `png` file in your working directory. So if you are using `.py` scripts to run your jobs, you can do this:

[code]

This will use the `png` file in your working directory. You cannot choose the names of files as of now, it will use some default names (self-explanatory, though). You can also increase the `sca

[2020-09-06 14:40] #599 closed

[2020-09-06 14:40] #593 closed

[2020-09-06 14:41] pycaret commented on #591
@chamsdg Please uninstall `pycaret` and install again.

[code]

It seems like there is a conflict in your environment with `pycaret-nightly` or older versions.

Thanks

[2020-09-06 14:41] #591 closed

[2020-09-06 14:41] #600 closed

[2020-09-06 16:01] danbricedatascience opened #602 "New feature : add **kwarg to compare_models"
Add `**kwarg` to `compare_models`. Several models accept the same args like `class_weight` for instance.

For managing the models not accepting a given arg:

- first call to the model with exception catch
- if exception is raised  : remove all the args for this model and call it again
- at the end of `compare_models` add a summary telling which models were not called with optional arg because at l

[2020-09-06 21:50] clgarciga opened #604 "Feature Request: Progress Bar for tune_model"

[2020-09-06 21:59] clgarciga opened #605 "Feature Request: Reduce max_depth to max 10 for rf, lgbm, xgb in tune_model"
`tune_model` seems to never finish for me for lgbm and I think it is because `max_depth` can take a value up to 100 currently, which seems like quite a bit? And I would like to avoid passing my own parameter grid...

[2020-09-06 23:02] TKassis commented on #599
Thank you for the feedback. Unfortunately, I'm already doing what you suggested, but the plots only behave properly when executed in a Jupyter notebook one cell at a time.

[2020-09-07 02:33] CosmicMiriam commented on #162
+1

[2020-09-07 05:58] aliagowani commented on #563
Is there a way for Pycaret to output the code used to generate the chart, such as:

- visualizer = ResidualsPlot(LinearRegression())
- visualizer.fit(X_train, y_train)
- visualizer.score(X_test, y_test)
- visualizer.show()

The user can then add title, size, etc.?

Not sure whether that is possible instead of trying to add all the variables of the plot for Pycaret to accommodate.

[2020-09-07 09:23] Yard1 commented on #602
Already in progress for `2.2`.

[2020-09-07 09:24] Yard1 commented on #604
It unfortunately depends on the tuner used. Not every one supports callbacks, or other ways we could easily measure progress.

[2020-09-07 09:24] Yard1 commented on #605
Already done for `2.2`.

[2020-09-07 09:25] Yard1 commented on #599
I can take a look. What software are you using to handle notebooks @TKassis.

[2020-09-07 10:22] TKassis commented on #599
Jupyter Lab (version 2.2.4)

[2020-09-07 16:47] chamsdg commented on #591
I try all
but i have the same error

[2020-09-07 17:16] Crisfon6 commented on #166
i have the same problem creating a dataframe

[2020-09-07 18:30] danbricedatascience opened #606 "Issue : error when passing n_estimators parameter to rf"
Error when passing `n_estimators` to `rf` model.

[code]

We get this error:

[code]

[2020-09-07 18:59] Yard1 commented on #606
Will be fixed in 2.2.

[2020-09-07 19:38] pycaret commented on #606
@danbricedatascience Thanks. Looks like a bug. We will fix this in the next release of `pycaret` (expect at the end of Sep).

Thanks.

[2020-09-07 19:38] pycaret commented on #166
@Crisfon6 Can you share details about the dataset?

[2020-09-07 19:39] pycaret commented on #604
Yes. at least it's not possible with `sklearn`

[2020-09-07 19:40] pycaret commented on #605
@Yard1 I have done this for `xgboost` only in `2.1` release. Have you taken care of `lightgm` and `rf` as well?

[2020-09-07 19:41] pycaret commented on #563
@aliagowani We are already working on this. We might have this functionality in the next release `2.2` (end of Sep). Keep an eye on here.

[2020-09-07 19:49] Crisfon6 commented on #166
@pycaret  i am sorry, the db are confidential

[2020-09-07 19:53] aliagowani commented on #563
@pycaret Wonderful! Will keep an eye out and happy to test it.

[2020-09-07 20:05] Yard1 commented on #605
@pycaret I had no issues with those, even with that depth, but if other people experience problems we should reduce it for them as well.

[2020-09-07 21:06] pycaret commented on #159
@wsn4iv Can you please update your pycaret version to `2.1.2` and xgboost to `1.1.1`

If it still doesn't work, please feel free to open another Issue.

[2020-09-07 21:06] #159 closed

[2020-09-07 21:10] pycaret commented on #163
@UjwalTalele Can you please update pycaret to `2.1.2` and xgboost to `1.1.1` using pip install --upgrade. I was able to run `compare_models` on this dataset successfully.

![image](https://user-images.githubusercontent.com/58118658/92416759-0650c380-f12d-11ea-99d1-eaebd2b59e5c.png)

[2020-09-07 21:10] #163 closed

[2020-09-07 21:13] pycaret commented on #177
@saludes Apologies for the late reply. It somehow gets slipped from my radar.

In PyCaret 2.0 we have got rid of `save_experiment` and `load_experiment`, instead, we are using `MLFlow` back-end now to provide end-to-end experiment logging. Please see this link for more details: https://www.pycaret.org/mlflow

If you are still looking for help, please feel free to open another issue.

[2020-09-07 21:13] #177 closed

[2020-09-07 21:14] #221 closed

[2020-09-07 21:14] #255 closed

[2020-09-07 21:14] #315 closed

[2020-09-07 21:15] #309 closed

[2020-09-07 21:15] #305 closed

[2020-09-07 21:15] pycaret commented on #498
@divyanshu-sam Thanks. Closing the issue.

[2020-09-07 21:15] #498 closed

[2020-09-07 21:16] pycaret commented on #417
@Yard1 This one is about setting seed in a few places where it was missed. I think you have already figured this out?

[2020-09-08 02:01] CosmicMiriam opened #607 "Hi, I'm testing pycaret in Databricks but I can't visualize some plots, especially interactive graphics, for example the tsne plot, would you have any idea how I could visualize them?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-08 02:14] koh-joshua commented on #61
+1 for Optuna. Really easy to set up and use. Works on Windows. The Optuna team is also very responsive and a very bunch of guys in general to work with.
Not sure about Ray tune for Windows. I think it's only Linux for now?

[2020-09-08 02:37] richardliaw commented on #61
Hm, Ray Tune should work fine for Windows and Mac. Let me know if you see otherwise!

[2020-09-08 02:43] kmedved commented on #61
Optuna is quite nice and intuitive to use, but as far as I know, it does not support multiprocess local hyperparameter searching yet (I understand they are working on it). This is pretty important, especially for GBDT models, which frequently don't scale well with additional cores, and you're better off spending additional processing resources on more trials.

To the extent that's important for Py

[2020-09-08 06:35] Yard1 commented on #61
We will provide a choice of several libraries to be used in `tune_model()`.

[2020-09-08 06:38] Yard1 commented on #417
Yes, I think I got them all.

[2020-09-08 12:35] g0lemXIV opened #608 "Add variable to load different corpus to pycaret nlp"
**Is your feature request related to a problem? Please describe.**
I'm working now on the Polish dataset for the NLP task, I would like to change the default corpus to polish to recognize my vocabulary. For now, only the English corpus was implemented and it can't be changed by the user.

**Describe the solution you'd like**
Add language variable in the setup function in nlp.py which is responsibl

[2020-09-08 14:10] David-Luca opened #609 "Error loading saved model from different Jupyter notebooks"
Hi there,
I have an issue loading a saved model: when I load a saved model from the same Jupyter notebook where I created it there is no problem, but when I load it from a different notebook, I get the following error:
`---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
~/.local/share/virtualenvs/t

[2020-09-08 14:15] gm039 commented on #234
Hi,
Even I am facing a similar issue the tuned model perform worse. I tried increasing n_iter parameters but no improvement in the results. Any suggestions?

[2020-09-08 15:44] Yard1 commented on #234
You can use `choose_better=True` param to have the original model returned if the tuned one performs better. It is not unusual for tuned models to sometimes give worse results than non-tuned ones.

[2020-09-08 23:18] pycaret commented on #609
@David-Luca This was the bug we have recently fixed in `2.1.2` release. Can you please update your pycaret to `2.1.2`.

[code]

Let me know how it goes.

[2020-09-08 23:19] pycaret commented on #607
@CosmicMiriam Do you know if `plotly` is compatible with Databricks. I am not sure.

Can you give a try to create plots using plotly on Databricks? Please let us know.

[2020-09-09 13:32] sulphuricacid opened #612 "MLflow integration for load and save models"
**Is your feature request related to a problem? Please describe.**
I have tried to integrate mlflow with pycaret to load and save pycaret model with mlflow. But later realised that mlflow enables to save and load models for few model varieties like sklearn,xgboost,fast.ai etc, but not pycaret models.

**Describe the solution you'd like**
Include MLflow save and load functions for pycaret models.

[2020-09-10 14:04] twostarxx opened #615 "availibale datatype in setup function, like sparse metrics"
When the sparse metrics size is too big, `pd.DataFrame` datatype in `regression.setup` function is out of memory. Is there an solution?

[2020-09-10 15:15] pycaret commented on #612
@sulphuricacid You can use `sklearn` flavor to `load_model` from `MLFlow`.

https://www.mlflow.org/docs/latest/_modules/mlflow/sklearn.html#load_model

[2020-09-10 15:15] #612 closed

[2020-09-10 15:42] pycaret commented on #79
Hi All,

We will be introducing this functionality in the next release `2.2` (exp by end of Sep).

We are introducing a few new params in the `setup` function that allows you to pick the fold strategy and shuffle. By allowing `shuffle` to be disabled during `train_test_split` and the ability to choose `timeseries` as a fold_strategy instead of `kfold` or `stratifiedkfold`, this should satisfy the

[2020-09-10 15:45] pycaret commented on #196
@dcohron Can you please re-test this and confirm if you still get the issue in `2.1.2` release. Thanks

[2020-09-10 15:49] pycaret commented on #290
This issue will be fixed in `2.2` release expected by the end of Sep.

[2020-09-10 15:49] pycaret commented on #313
@sparvaneh Even though I have already provided the hack around this but the functionality will become available in the next release `2.2` (expected by end of Sep). You will be able to pass separate `train` and `test` set in the `setup` function.

[2020-09-10 15:50] #288 closed

[2020-09-10 15:55] #465 closed

[2020-09-10 15:55] #482 closed

[2020-09-10 15:56] #367 closed

[2020-09-10 15:57] pycaret commented on #431
@daikikatsuragawa I will close this issue for now. Once @Yard1 will merge `refactor-2.2` branch into the `master`, I can open another issue for test enhancement, and then we can add more tests for the next release `2.2`.

[2020-09-10 15:57] #431 closed

[2020-09-10 17:12] pycaret commented on #389
@rkharatmol123 Can you please provide more details such as your code, link to repo etc.

[2020-09-10 17:14] pycaret commented on #66
@kmedved I have no experience with this. I will leave it open and see if we can get any contributor to this.

[2020-09-10 17:15] pycaret commented on #131
@ManuelBanza Can you re-test this using pycaret `2.1.2`

[2020-09-10 17:15] #140 closed

[2020-09-10 17:17] pycaret commented on #256
Modular installation similar to what `ray` has will be implemented before the `2.2` release.

[2020-09-10 17:18] pycaret commented on #273
@rijesh123 Do you still need help on this issue or can we close this?

[2020-09-10 17:18] #278 closed

[2020-09-10 17:19] pycaret commented on #287
@SzQaNinja @sedy2014 Can you please confirm if you were able to resolve the issue?

[2020-09-10 17:28] #366 closed

[2020-09-10 17:32] pycaret commented on #377
Hi All,

shap release `0.36` released on Aug-26th has fixed this issue. Please update your `shap` and let us know if its still a problem.

Thanks

[2020-09-10 17:32] pycaret commented on #370
@Prabhu-kottapu Any progress on this?

[2020-09-10 17:34] pycaret commented on #387
Great. Closing this issue.

[2020-09-10 17:34] #387 closed

[2020-09-10 17:37] pycaret commented on #497
@Yard1 How are we planning to add custom estimators in `compare_models`. Is it similar to `add_metric` we will have a function of `add_model` ?

[2020-09-10 17:39] pycaret commented on #598
@danbricedatascience Can you please upload the sample dataset, I will try to reproduce the issue.

[2020-09-10 17:40] pycaret commented on #608
@g0lemXIV Would you want to work on this? after we finish `create_webservice` ?

[2020-09-10 18:40] g0lemXIV commented on #608
@pycaret yes I can.

[2020-09-10 19:22] SSITB opened #616 "Can Pycaret predict multiple taget?"
Can PyCaret detect multiple taget in one model similar to the below?
https://machinelearningmastery.com/multi-output-regression-models-with-python/

Suppose i have a data with multiple target to predict? should i create and train a model for each target ?

[2020-09-10 23:01] Yard1 commented on #497
@pycaret Users can pass sklearn-compatible model objects to `include` in `compare_models` and they will be handled correctly.

[2020-09-11 05:02] qinbinhao commented on #377
Thank you, the problem has been solved, can use the original code to directly get the result.

[2020-09-11 08:11] ArjunKadya opened #618 "Requirement for K- Prototype clustering"
**Is your feature request related to a problem? Please describe.**

It is becoming difficult to get precise results in existing clustering algorithms of pycaret for data set containing both numerical and categorical features.

**Describe the solution you'd like**
While K modes will work with categorical and k means with numerical. Require algorithm like K prototypes to handle data-sets having both

[2020-09-11 10:53] chamsdg opened #619 "how automate modele machine leearning using pycaret"
hello @pycaret, I would like to know how I could automate my machine learning models
As a result, at the end of each month, the business teams will benefit  predictions without human intervention

[2020-09-11 11:23] koh-joshua commented on #61
Really excited for Ray-Tune and Optuna to be part of tune_model() in the near future. Can't wait! Thank you, guys for your stellar effort in making PyCaret the go-to library for ML.

[2020-09-11 15:40] gm039 commented on #590
Hi
Thanks for the suggestion. The option choose_better=True still gives a worse model than the untuned one. Even I tried increasing n_iter, but no much improvement.
Please suggest.

![image](https://user-images.githubusercontent.com/50217085/92945548-6d1ef700-f423-11ea-8055-29566e790164.png)

[2020-09-11 15:48] Yard1 commented on #590
The printed out grid is for the tuned model, but the model object is the better one.

[2020-09-11 15:49] gm039 commented on #234
Hi
The option **choose_better=True** still gives a worse model than the untuned one. Even I tried increasing n_iter, but no much improvement.
Any suggestions.

![image](https://user-images.githubusercontent.com/50217085/92946540-ce939580-f424-11ea-86d9-f053f96b5923.png)

[2020-09-12 00:11] djokester commented on #598
@pycaret can I take this issue up?

[2020-09-12 13:40] Sebagam opened #622 "Feature importance plot"
Dear all,

How can I get the full feature importance list?
Currently, it shows only the 10 most important features.

Regards,
Sebastian

[2020-09-13 08:09] hehuan710 opened #624 "regression “predict_model” Error"
![QQ截图20200913160659](https://user-images.githubusercontent.com/21091848/93013464-515e5100-f5db-11ea-96c1-0ce7bf71d701.png)
Hello,
Use regression Mode，“predict_model”  Error。

[2020-09-13 19:02] ezeeetm opened #627 "TypeError in Binary Classification Tutorial (CLF101) - Level Beginner"
- Running this tutorial: https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb
- no changes, just 'run all cells' after successfully installing pycaret.
- all cells complete as expected,  up until this cell:

[code]

- returns error `TypeError: '<' not supported between instances of 'str' and 'int'`

No changes have bee

[2020-09-14 04:23] hehuan710 commented on #622
Same question

[2020-09-14 14:01] rexnsmith opened #629 "Get data from plot model in pycaret anomaly"
I am using the anomaly module in Pycaret. It is an impressive program and easy to use.

plot_model(knn, plot="umap", save=True) engenders a nice umap plot, see pdf. This interactive plot identifies the x=0 and y=1 coordinates with hovering.

I would like to look at the x=0 and y=1 as primary data to manually cluster of groups. The df from 'assign' does not give this. only a single value 'score'.

[2020-09-14 17:57] danbricedatascience commented on #598
@pycaret  this dataset is confidential but I can check a dummy one that can generate the same issue.

[2020-09-15 15:59] clgarciga opened #633 "Support lightgbm>=3.0.0 in pycaret 2.2"
See: https://github.com/microsoft/LightGBM/releases/tag/v3.0.0

[2020-09-15 16:01] Yard1 commented on #633
If the sklearn wrapper hasn't changed, it should still work fine.

[2020-09-15 16:03] clgarciga commented on #633
Okay, then I would suggest adding lightgbm>=3.0.0 to requirements.txt

[2020-09-15 16:05] Yard1 commented on #633
I can confirm it works with every lightgbm version starting 2.3.1, including 3.0.

[2020-09-15 16:42] pycaret commented on #633
@Yard1 Thanks.

[2020-09-15 16:42] #633 closed

[2020-09-15 16:43] pycaret commented on #622
@Sebagam @hehuan710 We will add a new plot `feature-all` in the next release. Keep an eye here.

[2020-09-15 16:43] pycaret commented on #598
@danbricedatascience Great. Please upload the sample data so I can reproduce the issue.

[2020-09-15 16:44] pycaret commented on #627
@ezeeetm Thanks for notifying. I will take a look at this during next revision.

[2020-09-15 16:44] pycaret commented on #616
@SSITB Not yet.

[2020-09-15 16:47] pycaret commented on #615
@twostarxx How big is your dataset?

[2020-09-15 16:50] danbricedatascience commented on #598
Please find how to reproduce with synthetic data:

[code]

Then we get :

[code]

[2020-09-15 17:28] dknoxon opened #634 "tune_model hangs at "loading_dependencies""
Hi,

I've been using pycaret with our dataset and wanted to use the tune_model feature.  However, it would hang on our dataset.  Switched over to the example in your documentation and get the same problem.  It hits the tune_model step and hangs at loading_dependencies / Initializing and never returns or completes and am forced to reset the kernel in Jupyter Lab.

I was running pycaret 2.0, and tho

[2020-09-15 17:34] pycaret commented on #634
Can you please confirm the size of your dataset and the model you are using?

[2020-09-15 17:44] Yard1 commented on #598
Are you sure this isn't an issue with imblearn itself?

[2020-09-15 17:52] dknoxon commented on #634
Yes ... I'm using the "kiva" dataset from the example code (see below) for LDA.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      6818 non-null   object
 1   en           6818 non-null   object
 2   gender       6818 non-null   object
 3   loan_

[2020-09-15 18:23] rijesh123 commented on #273
@pycaret ,@manish007700,
Apologies for late reply. I didn't get a chance to try on my office machine.

I will try again and log a new request if that didn't work

[2020-09-15 18:23] #273 closed

[2020-09-15 20:08] nithinreddyy opened #635 "Following data types have been inferred automatically, if they are correct press enter to continue or type 'quit' otherwise."
The above step is the problem for me. we can press enter when running on colab or jupyter. But how can we press when running code in command prompt or when we deploy code we can't press enter each and every time right? Is there any solution to this?

[code]

[2020-09-15 20:13] Yard1 commented on #635
Use `silent` param.

[code]

[2020-09-15 20:16] nithinreddyy commented on #635
Thanks, man.

[2020-09-15 20:28] #635 closed

[2020-09-15 22:07] Sebagam commented on #622
Thanks,

While we wait, is there a quick override that we can apply to the code to avoid the feature list shortening?

Another question, what does exactly the feature rank measure? Does the x-axis correspond to a statistical test score or is it just a weight of the feature assessing the relevance in the model?

[2020-09-15 22:47] Yard1 commented on #622
@Sebagam If you don't have issues with modifying the module code itself, [remove line 8138 in classification.py](https://github.com/pycaret/pycaret/blob/c65a6f83a893872ca343bc9f8fafbfa6f2c62396/pycaret/classification.py#L8138).

[2020-09-16 08:21] ayoolafelix opened #638 "Inconsistencies in compare_model Documentation replace (whitelist, blacklist) with (include, exclude)"
compare_models = (whitelist = ['xgboost', 'lightgbm']) raises an error because instead the module had compare_models =(include = ['xgboost', 'lightgbm'])

compare_models = (blacklist = ['xgboost', 'lightgbm']) raises an error because instead the module had compare_models =(exclude = ['xgboost', 'lightgbm'])

There is a need to correct this either in the documentation or in the code itself. I'm wil

[2020-09-16 08:56] sanath984 opened #639 "pycaret automl for large and medium sized dataset and dask integration"
Thinking on how to support large datasets above 1gb to 20gb

**context**
the tool is very good in simplify ml modeling with multiple models. the framework could be extended to dask so that it
can support distributed preprocessing, and training
additionally it will be great if all the algorithms are ported to support incremental fitting for large datasets

**alternatives**
dask-ml but lot of custom

[2020-09-16 09:23] Yard1 commented on #638
It will be fixed in the next release :)

[2020-09-16 09:31] Yard1 commented on #639
We are considering adding support for libraries like Dask and Ray but that's planned for a future release.

[2020-09-16 10:17] rg8143 opened #640 "classification 'predict model' error"
predict_model inside classification module produces erroneous output when a unseen pandas dataframe is passed.
Number of row in input and outputs are different.

[2020-09-16 13:19] SSITB opened #642 "Bug when loading two modules, the prediction value is different"
I Have a strange error.
I have two trained modules (regression and classification)
when i load only the regression module and i use the predict_model function i got for example a number 1.6
but when i have loaded only the classification module before the regression the prediction is now different

Below is an example of what i mean

# Example:

import pandas as pd
from sklearn import datasets
from

[2020-09-16 22:37] sedy2014 commented on #287
Yes,
it is working now. even without making the change you suggested. I didn't do anythings special other than re-installing pycaret.

[2020-09-16 22:38] #287 closed

[2020-09-17 02:55] Wookloo commented on #525
I confirm it works for me too I had to create another model and was able to load it afterwards on a different machine and environment.

Thanks again

[2020-09-17 06:34] Wookloo opened #646 "Question: Is it possible to re train a saved model (.pkl) with a new set of data"
Hi,

I have train a regression model with data for 2018 and 2019 to predict Sales for 2020.
I would like to know if it is possible to, once i get the new sales data every month, be able to load it in the saved model and readjust the model based on the latest data i received and then make new adjusted prediction ?
Is this possible without have to start a model from scratch ?

Thanks

[2020-09-17 07:06] danbricedatascience opened #647 "New feature : add custom_scorer to create_model and compare_model"
* Add the possibility to pass a `custom_scorer` to `create_model`, `compare_model`, `predict_model` and any other future displaying metrics
* Display its output in the returned score grid

[2020-09-17 07:08] Wookloo commented on #609
You might have to re do the model from scratch as the model i created prior to the update i wasn't able to load it despite updating pycaret.

got the folowing error:
TypeError: object of type 'NoneType' has no len()

[2020-09-17 07:57] sathishkumar369 opened #648 "choosing the best_model automatically for finalizing"
Hi pycaret team!

I started using pycaret library since April. lot of request has been considered and solved. tons of thanks for your hard work and to Moez.

I have concern on selecting the best model

# compare specific models
best_specific = compare_models(whitelist = ['dt','rf','xgboost'])

In the above code I have passed 3 models for training. and it will give the best model on the top, based

[2020-09-17 08:26] buddythumbs commented on #177
Hey - I had issues with this and found an answer here, the documentation has no mention of this anywhere - if you would like some additional contribution from community I would be happy to get involved.

[2020-09-17 08:50] Yard1 commented on #647
Already done for next release.

[2020-09-17 08:51] Yard1 commented on #648
`automl()` function returns the best model created so far.

[2020-09-17 12:03] danbricedatascience opened #649 "Default RF n_estimators does not match with scikit-learn default RF"
scikit-learn version installed: 0.23.1

Default `n_estimators` is 10 with pycaret and 100 with scikit-learn.

This default was changes in scikit-learn in 0.22.

When using many features, let's say 200, having only 10 estimators, each trained on sqrt(200) = 14 features by default makes missing features.

The default sklearn seems to be a better choice when using `compare_models` even if longer to t

[2020-09-17 12:35] pycaret commented on #649
@danbricedatascience Thanks for bringing this up.

In the next release, we will adapt to the default values of `sklearn` i.e. 100.

@Yard1 FYI. I think you have already fixed this. Somebody opened an issue of not being able to pass `n_estimators` in `RandomForestClassifier`. This issue is linked to that one.

[2020-09-17 12:38] Yard1 commented on #649
Yep, both things have been fixed.

[2020-09-17 12:39] pycaret commented on #648
@sathishkumar369 What you are looking for is `automl` function but also `compare_models` returns the best model as well. In scenarios, when you are only using compare_models you can try something like this:

[code]

If you are going beyond compare models and trying different models, tuning, ensembling etc. you can look at this example:

[code]

[2020-09-17 12:39] #648 closed

[2020-09-17 12:39] pycaret commented on #647
@danbricedatascience Already done for next release.

[2020-09-17 14:17] pycaret commented on #638
@ayoolafelix The documentation on the website is only updated on major releases. For the most-updated documentation please see this link: https://pycaret.readthedocs.io/en/latest/

[2020-09-17 14:17] #638 closed

[2020-09-17 14:19] pycaret commented on #642
@SSITB This is the correct approach. Normally PyCaret works one module at a time but in cases where you want to use both, you can have to import the functions individually with a different alias, just like you have done in your code above.

[2020-09-17 14:19] #642 closed

[2020-09-17 14:21] pycaret commented on #646
@Wookloo You will have to manually re-train the model.

[2020-09-17 14:21] #646 closed

[2020-09-17 14:22] pycaret commented on #609
@David-Luca Yes. Please retrain the model using the latest upgrade.

[2020-09-17 14:22] pycaret commented on #634
@dknoxon Can you try reproducing this behavior on google colab?

[2020-09-18 03:55] PranayMehta commented on #640
I am too facing similar issue. I have tried reaching out on stack overflow by posting this question - https://stackoverflow.com/questions/63949025/pycaret-predict-model-method-fails-with-pipeline-not-found-error

Here is my use case - I have trained my pycaret model locally and then later on I pushed it to S3. Now I want to run a predict_model() method on my bigger production datasets.

Using boto

[2020-09-18 04:33] PranayMehta commented on #640
Looks like this issue persists in pycaret 2.1 and above. When I run the same with pycaret 2.0 it runs fine.

[2020-09-18 11:12] pycaret commented on #640
@PranayMehta Is your model trained using 2.1? Also can you please update to 2.1.2 and let me know how that goes.

[2020-09-18 12:18] webzest opened #652 "Letting pyCaret work on its own"
Hi,

Thank you for your amazing work and effort.  I wanted to enhance my prediction a bit, after using several approaches (stacking, ensemble, GridSearchCV, and HyperparameterTuning) to try to improve my results.  I got to a point where my tuning efforts were not changing my prediction accuracy.  so, I decided to give pyCaret a chance.  I ran my clean data through it using all 21 models to see wha

[2020-09-18 13:03] rg8143 commented on #640
I figured out the cause of the problem, If we pass a dataframe in "predict_model" which is not indexed properly then it outputs garbage rows, but if the we perform reset_index() on the pandas dataframe and then pass it to the "predict_model" then it works fine.  @pycaret I think this reset_index() can be incorporated inside "predict_model".

[2020-09-18 13:30] PranayMehta commented on #640
Thanks @rg8143  for this. I had trained my model using 2.0 and then I was scoring using 2.1 .

I have one more issue - I noticed that using 2.0 for both training and predicting phases, I am getting different probabilities for roughly 10% of my data. I will test with this reset_index() if it works fine or not.

Some background - I have trained a classification model locally using 2.0 which has arou

[2020-09-18 13:38] pycaret commented on #640
@PranayMehta The behaviour of predict_model in 2.1 has changed. Please retrain your model using the latest version 2.1.2 and the problem will be fixed.

Sorry we forgot to add the backward compatibility warning in predict_model function.

[2020-09-18 13:42] PranayMehta commented on #640
@pycaret  how about if I use 2.0 for create_model() and model predict_model() method ? Is the 2.0 not stable ?

I am a little bit hesitant to train the new model because I have done a lot of experiments using 2.0 and we have a high profile client who has liked one of the models that I trained using 2.0 and asked me to put it in production.

Now if I re-train again and dont get the same model then

[2020-09-18 13:45] pycaret commented on #640
Well that will also work. If your model is trained using 2.0 and if you make sure the machine that is used for inference/ generating prediction also has 2.0, it will work fine.

Do let me know how it goes!

[2020-09-18 13:48] PranayMehta commented on #640
Exactly - that is what I have tried out. I have 2.0 in my local and I have the same version installed in my AWS EMR cluster.

There are 215k records out of which 8% have the scores off as you notice in the above screenshot. I am not able to figure out the issue. Even if I re-do the scoring in both local and production env, still the scores are different.

I checked out each feature values in the d

[2020-09-18 14:07] PranayMehta commented on #640
Sure, this is the `print(saved_model)` from local

[code]
and this is from production

[code]

[2020-09-18 14:21] Yard1 commented on #640
This will be fixed in 2.2. In the meantime, you can do this:
[code]
This should make it work.

[2020-09-18 14:23] pycaret commented on #640
@PranayMehta Thanks. What @Yard1 said is another alternative, if you don't want to keep the same version in the inference machine.

@PranayMehta Pipeline print looks okay to me. Can you try to predict those 215K records on your local machine in two separate conda environments and compare the prediction scores? Let me know if it matches. I am trying to find out if you can reproduce the inference on

[2020-09-18 15:22] PranayMehta commented on #640
@Yard1  please let me know if there is another way to fix this. Thanks for all the help.

[2020-09-18 15:38] webzest commented on #652
@Yard1 : Do you mean that I need to create just one model, catboost, untuned as a prediction starting point?
Then, what is next?

[2020-09-18 16:31] Yard1 commented on #652
Then see what results it gives on kaggle :P

[2020-09-18 22:12] krishcode commented on #622
for catboost it is saying plot_model cant be used and we need to use interpret_model , how to get feature importance for a catboost model?

[2020-09-18 22:56] Yard1 commented on #622
Using `interpret_model`.

[2020-09-20 10:02] zhaoli-IHEP commented on #392
Thank you for this improvement. Is it possible to use `custom_scorer` in `compare_models`?

[2020-09-20 10:49] Yard1 commented on #392
Not yet, but it will be possible in the next version.

[2020-09-20 15:27] zhaoli-IHEP opened #655 "Error from tune_model"
We are trying to use `tune_model` for `dt` as
[code]
However, it produced an error.
[code]
What could be the possible root of the error?
Thank you.

[2020-09-20 16:52] webzest opened #656 "Is there a way to improve on pyCaret Predictions?"
Hi,

No matter how I setup and ran pyCaret, the best predicton is always around 0.14... on Kaggle, which is a very poor prediction, but it is a good start on the housing competition.  Nevertheless, I can't seem to find a way to enhance the score.

I tried tuning, stacking, and blending five top models, etc.  The score remains around 0.14.  As an example, this is my finalyze blender that generated

[2020-09-20 16:55] zepef opened #657 "Problems with vscode and azure notebooks"
Hello,

I really enjoy using PyCaret. Binary Classification Tutorial (CLF101) - Level Beginner works fine with collab.
I run into problems with both vscode and Azure Notebooks. I tried to use PyCaret 2.1 and the nightly version.

**With vscode / anaconda / python 3 (6,7,8) I get**:

  File "c:\Users\zepef\source\repos\fnm-pyc-prospect-train\fnm-pyc-prospect-train.py", line 14, in <module>
    comp

[2020-09-20 19:00] Rahul9597 opened #658 "Issue with binary inputs"
**Is your feature request related to a problem? Please describe.**
When you have data with both numeric and binary inputs, the library considers binary as categorical and compare models throws this error -
FloatingPointError                        Traceback (most recent call last)
<ipython-input-31-9ff5ccfe3077> in <module>
----> 1 compare_models()

~\AppData\Roaming\Python\Python37\site-packages\

[2020-09-21 16:51] pycaret commented on #658
@Rahul9597 Can you please attach the Notebook and sample dataset that we can use to reproduce this error. Thanks.

[2020-09-21 16:52] pycaret commented on #657
@zepef When working outside of the Notebook environment you have to pass `silent = True` parameter in the `setup` function.

[2020-09-21 16:52] #657 closed

[2020-09-21 16:53] pycaret commented on #656
@webzest This question is outside the scope of this repo. I can suggest feature engineering and anything to do with data processing but you must handle before passing the dataset to PyCaret.

Thanks.

[2020-09-21 16:53] #656 closed

[2020-09-21 16:54] pycaret commented on #655
@zhaoli-IHEP Can you attach the Notebook with a sample dataset so that we can reproduce the error and investigate further?

[2020-09-21 20:41] dknoxon commented on #634
Hi ... I tried on google colab and it doesn't complete.  Hangs at the same spot (initializing/loading dependencies), then I get a javascript error and have to force quit chrome.

[2020-09-22 03:31] Wookloo commented on #646
Got it thanks

[2020-09-22 06:33] zepef commented on #657
Hello PyCaret,

I passed an html=False in setup.py but it does not work neither in vscode nor from command-line python

Best regards,

Pierre-Emmanuel

[2020-09-22 12:43] E-B-Manohar opened #662 "permission error when ran blend_models"
blend_hard = blend_models()

[permission error.docx](https://github.com/pycaret/pycaret/files/5261438/permission.error.docx)

issue only with blend models so far

[2020-09-22 15:11] E-B-Manohar opened #663 "How to silent these input fields?"
![Please Enter the sample % of data you would](https://user-images.githubusercontent.com/45871357/93901159-d94b0600-fd13-11ea-915e-8d8a0381b978.PNG)
![data types have been inferred automatically](https://user-images.githubusercontent.com/45871357/93901286-ff70a600-fd13-11ea-9f6e-12b63e3bcc89.PNG)

[2020-09-22 15:13] Yard1 commented on #663
Don't use sampling.

[2020-09-22 15:16] E-B-Manohar commented on #663
Okay, how to avoid the 2nd field?

[2020-09-22 15:18] Yard1 commented on #663
`silent=True`

[2020-09-22 15:22] E-B-Manohar commented on #663
Dang it... My question has answer in it... Thanks Budd

[2020-09-22 15:22] #663 closed

[2020-09-22 17:37] asaglimbeni commented on #598
I resolved instantiating the class RandomOverSampler
`
dummy_df = pd.DataFrame.from_dict({
    'feature1': np.random.randint(0,10,100),
    'feature2': np.random.randint(0,10,100),
    'feature3': np.random.randint(0,10,100),
    'feature4': np.random.randint(0,10,100),
    'feature5': np.random.randint(0,10,100),
    'label': np.random.choice([0,1],100,p=[0.9,0.1])
})

experiment = setup(data=dum

[2020-09-23 01:21] zhaoli-IHEP commented on #655
I have upload the sample code and data in the following place.

https://github.com/zhaoli-IHEP/play_pycaret

[2020-09-23 01:25] zhaoli-IHEP commented on #392
In the result of `tune_model` function, how to show the result of `custom_scorer`, and how to use `custom_scroer` for the option `optimize`? Thank you.

[2020-09-23 17:31] pycaret commented on #598
@asaglimbeni Thanks for sharing.

I am closing the issue now. @danbricedatascience If this is still a problem, please feel free to open another issue.

[2020-09-23 17:31] #598 closed

[2020-09-23 17:32] pycaret commented on #662
@E-B-Manohar Seems like an issue with parallel processing. Can you try passing `n_jobs` in the `setup` function as `None`. By default, it's set to `-1`. Let me know how it goes.

[2020-09-23 17:34] pycaret commented on #622
@krishcode The compatibility issue of `catboost` with `plot_model` function is fixed. Will be available in the next release `2.2`. Keep an eye on the repo for next release.

[2020-09-23 17:36] Sandy4321 commented on #286
any answer pls?

[2020-09-23 18:22] E-B-Manohar commented on #662
Yeah worked.
and this disables te parallel  processing ability right  :(
Please look into on avoiding this ... blender is nice function

[2020-09-23 23:17] gm039 opened #665 "Feature selection options."
Hi,

May I know what are the statistical tests available for feature selection?
Can we perform feature selection using 'Wilcoxon','ttest','mrmr'?

Thank you

[2020-09-24 13:45] E-B-Manohar opened #666 "Throwed Key Error when loaded a model ("et")"
plot_model(fd_best_loaded, 'auc')

Here, "Class" is target variable name.

[2020-09-24 13:47] E-B-Manohar commented on #652
Any Luck @webzest ?

[2020-09-24 13:52] E-B-Manohar commented on #662
I guess, I want your response to go further and close this issue?

[2020-09-24 13:57] actcod01 opened #667 "How to use pycaret in terminal without jupyter notebook or Ipython kernel ?"
1. Looking for a simple way to **train model in command line/terminal**

2. It should **always consider the best model while model_save.**

[2020-09-24 14:54] webzest commented on #652
I was able to clean the data, as you indicated, and fed it to pyCaret.  Unfortunately, the best I can do is a 0.12x, wich is still too high, but it is better than a 0.14.  Is there a way to use pyCaret to fine tune the estimators parameters to enhance the model training?

[2020-09-24 15:07] E-B-Manohar opened #668 "While interpreting the model, Took almost 5+ min time for "Name Error""
![interpret_model_ delay](https://user-images.githubusercontent.com/45871357/94163344-5a85d280-fea5-11ea-8ce1-f2611c084c6b.PNG)

I'm not sure why?  Can someone explain this delay could have occured?

[2020-09-24 15:32] pycaret commented on #668
@E-B-Manohar Just by looking at the error I can tell `best` is not defined.

[2020-09-24 15:33] pycaret commented on #667
@actcod01 You can use pycaret just like any other python script. The only thing you have to take care of is the `silent` parameter in the `setup` that must be set to `True` and `html` should be set to `False`.

[2020-09-24 15:34] pycaret commented on #666
@E-B-Manohar Can you share the dataset and notebook please?

[2020-09-24 15:34] #662 closed

[2020-09-24 16:49] E-B-Manohar commented on #668
I knew that and I am wondering about the execution **time** it took to identify that "best" is not defined?

[2020-09-24 16:55] E-B-Manohar commented on #666
The dataset: https://www.kaggle.com/mlg-ulb/creditcardfraud/download

model is "et"
then saved it
---------
performed **plot_model** on the **loaded model**
plot_model(fd_best_loaded, 'auc')

[2020-09-24 21:26] nithinreddyy opened #669 "Running too slow in linux and returning different error."
I'm getting this error when i'm trying to run anomaly detection in linux and suddenly pc is becoming too slow

Process finished with exit code 137 (interrupted by signal 9: SIGKILL)

[2020-09-24 21:58] Yard1 commented on #652
`tune_model` function. You can also pass your own tune grids. In the currently released version (2.1), only random search is supported.

[2020-09-25 09:10] actcod01 commented on #667
**✔️  AIM : To run pycaret this snippet as the py script.**
___
I didn't found the required solution params so ,

## Can you **Update this Code-Snippet** ?

**Note :**
I'm getting issues while importing `from pycaret.classification import * ` and snippet is not running as py script.
.

____

[code]

Thanks ,

[2020-09-25 09:28] #667 closed

[2020-09-25 14:11] zhaoli-IHEP opened #672 "how to optimize with custom_scorer?"
In the result of tune_model function, how to show the result of custom_scorer, and how to use custom_scroer for the option optimize? Thank you.

[2020-09-27 02:16] claywey opened #675 "Databricks setup support"
Databricks does not support ipywidgets when running notebooks from the UI. Cannot finish setup because the widget for data type confirmation will not display as a widget. Example output below:

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue or type 'quit' otherwise.", layout=Layout(width='100%'))

This also happens with HTML=False

[2020-09-27 18:05] sathishkumar369 opened #676 "How to see train score and test scores on trained data"
Hi team,

Could you please clarify me.
If compare models or create model gives the train score. so how could I see the test score with metrics. I'm confusing, whether create model is giving train score or test score.
Because I just wanted to know, whether my model is overfitted or underfitted.
In learning curve I was able to see train and test score. Is it possible to get metrics with data frame f

[2020-09-27 19:25] Yard1 commented on #676
`create_model()` is returning cross-validation scores on the train set. In order to obtain scores and predictions on the test set, use `predict_model()`.

[2020-09-27 19:35] devil-cyber commented on #627
Can i work on this

[2020-09-27 21:10] Lion-Mod opened #677 "Encorporating missing values into setup(ordinal_features) & missing/unknown level in ordinal"
**Missing known level in ordinal feature in data**
I've been working with the house prices Kaggle and know the orders of certain features e.g. overallqual (1 - 10), but I think 9 or 8 is not in the data so when I want to use {"OverallQual": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]} pycaret won't allow me to use it as there are 10 values to the key but only 9 distinct values in the data.

Reason for this is

[2020-09-28 03:53] twostarxx commented on #615
[code]

[2020-09-28 11:04] brunocous opened #678 "get_config() fails with UnboundLocalError for several arguments"
Using Pycaret 2.1.2 in a notebook and in a conda env for a regression task, `get_config()` fails for several arguments with an `UnboundLocalError` for a few arguments (Y_test, Y_train, prep_pipeline) defined in [https://pycaret.org/regression/#get-config](https://pycaret.org/regression/#get-config). Weirdly, it works for X_train and X_test for example.
[code]

This is a scoping issue, but don't kn

[2020-09-28 11:24] Yard1 commented on #678
Will be fixed in the next release.

[2020-09-28 13:42] AnshuTrivedi commented on #624
@hehuan710 can you share programmig file or lines of code used before error code line.
It seems there is no 'index' in dataframe.Or do what logging says use regression mode.

[2020-09-28 14:23] Evange95 opened #679 "Out of ram on colab during setup"
I'm still facing this problem during setup with a dataset of shape (261942, 93). After confirming datatypes the colab session suddenly crashes because OOM

[2020-09-28 16:37] phuggins opened #680 "fix_imbalance and SMOTE"
I'm trying to find the SMOTE training data that is being created when fix_imbalance = True. I've set it to True and then run get_config to pull out the X/Y/train/test data but it does not appear that SMOTE is being used on the training sets that are pulled from get_config.

Is the balanced training set stored somewhere else?

![image](https://user-images.githubusercontent.com/59326297/94460797-e09

[2020-09-28 18:37] claywey commented on #680
No. SMOTE should be added as a step to the pipeline. If you are doing any sort of cross-validation, you will want the sampling to occur WITHIN training folds. If you apply a sampling technique, like SMOTE, as a preprocessing step first, you will leak data into the test folds and overfit.

[2020-09-28 18:40] phuggins commented on #680
Awesome, thank you for the information!
________________________________
From: claywey <notifications@github.com>
Sent: Monday, September 28, 2020 1:37 PM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Huggins, Paul <paulh@mail.smu.edu>; Author <author@noreply.github.com>
Subject: Re: [pycaret/pycaret] fix_imbalance and SMOTE (#680)

No. SMOTE should be added as a step to the pipeline. If yo

[2020-09-29 09:07] Evange95 commented on #679
Yeah I can confirm that I solved it dropping the categorical columns with too many categories

[2020-09-29 09:30] Aurora11111 opened #681 "deep learning"
can this be used in deeplearning?

[2020-09-29 12:00] kunalgupta2616 commented on #681
No @Aurora11111 .For now, the Pycaret platform only supports Machine Learning, Hopefully, in future, we'll get to see it automate Deep Learning tasks.

[2020-09-29 13:12] Yard1 commented on #679
Is it possible for you to share the datasets?

[2020-09-29 15:11] pycaret commented on #681
@Aurora11111 At this point its not on the road map. Keep an eye on the repo for more updates in the future.

[2020-09-29 15:11] #681 closed

[2020-09-29 15:12] pycaret commented on #680
@phuggins Yes. For SMOTE in order to avoid leakage, we are over-sampling within the folds as oppose to outside of the fold and hence you cannot access the over-sampled dataset.

[2020-09-29 15:12] #680 closed

[2020-09-29 15:13] pycaret commented on #675
@claywey You have to also pass `silent = True` along with `html = False` in the `setup` function. When you pass `silent` as `True`, it will not ask for confirmation of data types and would instead use whatever is inferred by default. To programmatically define the data types you can use `numeric_features` and `categorical_features` parameter in the `setup` function.

Hope this helps.

[2020-09-29 15:13] #675 closed

[2020-09-29 15:16] pycaret commented on #665
@gm039 There are currently two methods available for feature selection. `classic` method uses a combination of `lightgbm` and `randomForest` feature importance and the `boruta` method uses the `boruta` algorithm for features selection.

Read more about it: https://pycaret.readthedocs.io/en/latest/

[2020-09-29 15:16] #665 closed

[2020-09-29 15:17] pycaret commented on #652
I am closing the issue as it's not related PyCaret specifically.

[2020-09-29 15:17] #652 closed

[2020-09-29 15:19] pycaret commented on #627
@devil-cyber We are currently working on the next release which would result in multiple changes in the official tutorial. I think it's best you wait 1-2 more weeks for the new release. Once that is done, you can reach out, and would be great to get your contribution on this.

Thanks.

[2020-09-29 15:20] pycaret commented on #669
@nithinreddyy You will have to explain more than that if you need help with this. Can you please upload a log file + complete error message and your code?

[2020-09-29 15:20] devil-cyber commented on #627
Thanks 😊

On Tue, Sep 29, 2020, 8:49 PM PyCaret <notifications@github.com> wrote:

[2020-09-29 15:21] pycaret commented on #672
@zhaoli-IHEP Adding custom metrics will be available in the next release.

[2020-09-29 17:32] sathishkumar369 opened #683 "Is pycaret going to be commercial one?"
Hi pycaret team and Moez!

we are planning to create machine learning web applications and we wanted to use pycaret for our backend instead of sklearn and some other pacakges. our senior management had asked a question to us, what if pycaret is going to be paid one, then again all your code needs to be restructured with open source packages.
so I told them it will be open source for data science c

[2020-09-29 17:35] sathishkumar369 commented on #676
thanks that helped

[2020-09-29 17:35] #676 closed

[2020-09-29 19:53] DXcarlos opened #684 "Tune model method in ligthgbm fails"
I'm trying to tune a ligthgbm model  but it fails.
Here is my code :

[code]

I get this error

[code]

When I use catboost as estimator it doesn't throw a error unless I use the parameter optimize='AUC' I don't know why

[2020-09-30 06:31] Lion-Mod commented on #679
Morning, I cannot given the confidentiality of it. But based upon Evange95's point it should work.

I didn't declare the columns as high cardinality features so will try that.

[2020-09-30 16:42] gm039 commented on #648
Hi,

I am finding difficulty using automl.
Let's assume a case where we have only one model (QDA) created and fine-tuned. I am calling automl after it.

Trying to predict on both (Tuned model and automl best model). But there is a difference in performance. Since the parameters of both the models are the same and hence the performance on holdout should be also the same. Can you please explain this

[2020-09-30 17:57] pycaret commented on #683
@sathishkumar369 PyCaret is an open-source library and will remain so.

[2020-09-30 17:57] #683 closed

[2020-09-30 18:00] pycaret commented on #648
@gm039 This is because when you call `automl` function, the model is refitted on the entire dataset. Whereas the model generated with `tune_model` as you are comparing with is only fitted on the train set.

[2020-10-01 13:23] morrgeo opened #688 "Classification 'predict _model' issue"
predict_model inside classification module produces in accurate scoring. I am in jypyter notebooks utilizing the holdout-out data and the output table will show the score as 1 regardless if the target and the label match.

[2020-10-03 02:03] hehuan710 commented on #624
Yes, there is no 'index' column, but why do you need it?

[2020-10-04 05:42] kamahmad commented on #195
@Yard1 @pycaret

Is someone working on this issue or can I pick it up?

Thanks

[2020-10-04 09:40] Yard1 commented on #195
I think it has already been taken care of, but thank you for interest!

[2020-10-04 23:25] SSITB opened #693 "X has 11 features per sample; expecting 12"
Hi

I trained a classification model however when testing it am getting unexpected  error.
X has 11 features per sample; expecting 12

I am sure that the number of feature used in prediction are same for the training.

When I added more data for the training dataset, I got another error
ValueError: query data dimension must match training data dimension

[2020-10-05 04:30] BraINstinct0 opened #694 "Use Hummingbird for sklearn acceleration using GPU"
**Is your feature request related to a problem? Please describe.**
Though several sklearn models support multicore CPU for speedups, they mostly still don't support the use of GPU.

**Describe the solution you'd like**
By incorporating/using MS's [Hummingbird](https://github.com/microsoft/hummingbird), this can be achieved(though currently not in stable release).

[2020-10-05 06:32] SSITB commented on #693
When i save the model without finalize the issue is resolved, the end model should be saved with or without?

[2020-10-05 08:31] SSITB opened #695 "RANSAC could not find a valid consensus set. All `max_trials`"
While using compare model on regression problem

ValueError: RANSAC could not find a valid consensus set. All `max_trials` iterations were skipped because each randomly chosen sub-sample failed the passing criteria. See estimator attributes for diagnostics (n_skips*).

[2020-10-05 08:46] whiran opened #696 "Error comes when I run the regression model"
Following error is being generated when I run regression model
`top_model = compare_models(exclude  = ['ransac', 'tr'],sort = 'R2',n_select = 3,turbo = False  )`

**Latter part of the Error**
`~\anaconda3\envs\py36\lib\site-packages\pandas\core\internals\construction.py in extract_index(data)
    353
    354         if not indexes and not raw_lengths:
--> 355             raise ValueError("If using

[2020-10-05 12:10] pycaret commented on #696
@whiran Can you please share the notebook and sample dataset here so we can reproduce the error?

[2020-10-05 12:12] pycaret commented on #695
@SSITB Hi, This is a known issue of the estimator. Can you try increasing `max_trials` param. For example:

[code]

Let me know how it goes.

[2020-10-05 12:13] pycaret commented on #694
@BraINstinct0

We have included gpu support using RAPID's AI and it will be generally available in the next release. Keep an eye on the repo.

@Yard1 - FYI.

Thanks,

[2020-10-05 12:15] pycaret commented on #693
@SSITB Can you please upload your notebook and sample dataset so that we can investigate what is causing the issue.

As in terms of `finalize_model`, it depends on the use-case. If the split sample was fair, finalizing shouldn't have any impact on model performance. In fact in the next release we are changing the behavior of `automl` function which by default finalize the model. We are changing th

[2020-10-05 12:16] pycaret commented on #688
@morrgeo You will have to explain more than that and provide a sample dataset and notebook if you need help.

[2020-10-05 12:16] pycaret commented on #684
@DXcarlos Can you try updating your `lightgbm` version by `pip install --upgrade lightgbm`.

Let me know how it goes.

[2020-10-05 12:17] pycaret commented on #679
@Lion-Mod Also we are making some major improvements on the memory footprint in the next release. It should definitely solve this problem. Keep an eye on the repo.

@Yard1 - FYI

[2020-10-05 15:08] NitinMahajan1 opened #697 "Setup function on Databricks do not give an option to accept the data types"
Hello!
I'm having issues when running setup function on data-bricks notebook.
The function rightly gives all dater types but it does not give any option to accept or quit. So, the command gets struck, while waiting for an input which I am unable to provide.

[2020-10-05 15:45] kamahmad commented on #195
@Yard1 - No worries, thanks for letting me know. I'll check out other issues.

[2020-10-05 21:13] Yard1 commented on #195
There's the project here - https://github.com/pycaret/pycaret/projects/3. You can check the current state of the sprint on `2.2-refactor` branch.

[2020-10-05 21:24] accidentalfeature opened #698 "Question - Possible to leverage plot_model function within Streamlit?"
Good day,

First and foremost, Moez & contributors of PyCaret deserve the most ridiculous amount of applause! I've been using PyCaret since early 2020 and have been blown away at how awesome it is! Incredible!

The context of this question is when using the NLP module, but I suppose it is applicable to the plot_model function in general and not just the NLP module. I've recently stumbled across St

[2020-10-06 00:47] Prabhu-kottapu commented on #370
No sorry

[2020-10-06 01:14] gm039 commented on #676
Hi,
I understand that the create_model() returns cross-validation scores on the train set averaged over n_iter.
Can I get the cross-validation scores on each iteration?

[2020-10-06 14:06] NitinMahajan1 commented on #697
I did try silent=true and it helps but then I’m not able to modify data types

[2020-10-06 17:22] atwahsz opened #700 "DL impeded fucntions"
hello , is it possible to wrap around skorch ? they have a framework similar to sklearn but for deep learning

all of the best

saleh ,

[2020-10-06 19:21] Yard1 commented on #695
`exclude=["ransac"]`

[2020-10-07 00:59] BettyWang07 opened #702 "problem of the example of Regression Tutorial (REG101)"
data = dataset.sample(frac=0.9, random_state=786).reset_index(drop=True)
data_unseen = dataset.drop(data.index).reset_index(drop=True)

These code may bring data leakage.

[2020-10-07 01:04] pycaret commented on #702
This issue was fixed some time ago. Can you confirm if you still see this on master branch?

[2020-10-07 01:10] BettyWang07 commented on #702
I can still see this on&nbsp;http://www.pycaret.org/tutorials/html/REG101.html.
I do not know the&nbsp;updated document has been changed.
Thanks for your reply.

王雨
华南理工大学 土木与交通学院
Tel:18813296316
Email: 2401344829@qq.com
地址：广州市天河区华南理工大学五山校区 510641

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-10-07 05:55] PitS99 opened #703 "Interpretation of anomaly detection (unsupervised)"
This is not a feature request, but the question only.
I am not able to interpret results from an anomaly detection (unsupervised).

I have a dataset from a process (Target variable: Thickness, Variables: Temperature, Pressure, Speed etc.)
I ran the analysis for all the variables (without target variable) with 11 different algorithms and found out one observation that was chosen from 7 of them.

Ok

[2020-10-07 17:24] pynkfloydfan opened #704 "Cannot import name 'parse_version' from 'sklearn.utils.fixes'"
Hi

I installed pycaret today (version 2.0.0) and have scikit-learn version 0.23.2 installed.

When I tried the setup function it ran into an import error, the end of which is:

~\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py in <module>
     30 from ..utils._mask import _get_mask
     31 from ..utils.validation import _deprecate_positional_args
---> 32 from ..utils.fixes import sp_versi

[2020-10-08 09:38] pynkfloydfan commented on #704
I resolved this by creating a fresh conda environment.

I think there may have been a conflict with dataprep too.

[2020-10-08 09:38] #704 closed

[2020-10-08 10:20] pynkfloydfan opened #708 "Has plot_model reset matplotlib.pyplot?"
Hi

After running plot_model() I am finding when I try the following code that the standard plt shortcut (i.e. 'import matplotlib.pyplot as plt') is now a NoneType object.

My traceback shows this:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-224-531a1b5f5982> in <module>
----

[2020-10-08 11:46] deesumblip opened #709 "plot_model confusion matrix and other visualisation options for CatBoost"
I'm finding that a lot of visualisation options for multiclass classification with CatBoost are not available. I'd like to see classification accuracy broken down by each label within the my multiclass target. Was wondering if this feature will be added soon?

[2020-10-08 18:26] Yard1 commented on #709
Yes, they will be available in the next version.

[2020-10-08 19:15] roberthoyt opened #710 "Error message "SystemExit: (Value Error): Target parameter doesnt exist in the data provided.""
Here is the code I ran to do a classification to predict diabetes (yes = 1, no = 0)
data = pd.read_csv('/Users/roberthoyt/Desktop/NHANES 2011-2012/Merged files/Adults/Adults_Diabetes_NHANES_2011_2012.csv')
from pycaret.classification import *
exp_clf = setup(data, target = 'Diabetes')

I ran data.head to confirm that the last column was Diabetes. Why won't it accept the column as target? It is cap

[2020-10-09 12:51] koptimizer commented on #695
[code]

[2020-10-09 20:27] pycaret commented on #697
@NitinMahajan1 You can programmatically define data types by using `numeric_features`, `categorical_features`, and `date_features` parameter in the `setup` function.

Read more: https://pycaret.org/data-types/

Hope this helps.

[2020-10-09 20:27] #697 closed

[2020-10-09 20:31] pycaret commented on #700
@atwahsz As long as it follows sklearn API, you should be able to pass it under `create_model`. It would be a good test to see. Would you like to try?

[2020-10-09 20:32] pycaret commented on #702
@BettyWang07 Sorry. I have now updated the link on the website. Here is the updated tutorial link:

https://github.com/pycaret/pycaret/blob/master/tutorials/Regression%20Tutorial%20Level%20Beginner%20-%20REG101.ipynb

[2020-10-09 20:32] #702 closed

[2020-10-09 20:32] pycaret commented on #708
@Yard1 Would you be able to check on this?

[2020-10-09 20:35] pycaret commented on #710
@roberthoyt I have checked your file. Apparently there is a space at the end of the target variable name. It is "Diabetes " NOT "Diabetes". As such if you will run this code, it should work:

[code]

Please close the issue if this works.

[2020-10-09 21:35] #710 closed

[2020-10-09 22:41] leocd91 opened #714 "How to get score for all labels in multiclassification problems?"
Suprised to see this new variable when predict after updating PyCaret.
Can I get the other label score too?
For example :
- label 0 : 0.7, label 1 : 0.2, label 2 : 0.1

[2020-10-10 04:36] ssfantasy opened #715 "ModuleNotFoundError: No module named 'sklearn.externals.funcsigs'"
1186     #import library
-> 1187     import pycaret.preprocess as preprocess
   1188
   1189     logger.info("Creating preprocessing pipeline")

~/venv_total/venv3/lib/python3.6/site-packages/pycaret/preprocess.py in <module>
     26 from sklearn.decomposition import IncrementalPCA
     27 from sklearn.preprocessing import KBinsDiscretizer
---> 28 from pyod.models.knn import KNN
     29 from pyod.

[2020-10-10 04:41] pycaret commented on #715
@ssfantasy What is your `sklearn` version?

[2020-10-10 09:01] atwahsz commented on #700
yes of course !

[2020-10-10 09:02] atwahsz opened #716 "finalize model addition"
is it possible to add progressive bar for finalize_model ? tqdm

[2020-10-10 12:15] Yard1 commented on #708
`plot_model` doesn't return plots so I don't think such usage is possible.

[2020-10-10 15:24] pynkfloydfan commented on #708
Fair enough @Yard1, I can live with that.

However, it still leaves me questioning why I have to reimport the reference to `matplotlib.pyplot` after I've used `plot_model`?

[2020-10-11 12:31] anoopboseml opened #718 "Error while using check_metric() function"
I am trying to use the check_metric() function to get the accuracy score for my model. But, I am getting an error that states this:

'<' not supported between instances of 'str' and 'int'

I have double checked everything in my code and everything appears to be ok from my end. My actual and prediction value columns are both numeric and not string.

Note: This is a binary classification problem.

!

[2020-10-11 12:48] anoopboseml commented on #718
OK, kind of found a workaround to the problem with PyCaret as well as SKLearn but they aren't very elegant. It appears that the problem is with the predict_model() function. The labels it produces are strings instead of integers.

I got 2 solutions:

**Solution 1:**

from pycaret.utils import check_metric
check_metric(unseen_predictions.Outcome, unseen_predictions['Label'].astype(int), 'Accuracy')

[2020-10-11 21:12] Yard1 commented on #718
This will be fixed in the next update.

[2020-10-13 21:58] pycaret commented on #716
There aren't many call backs in the function. It's only fitting the model once on the entire dataset. There would be very little value / no-value in adding a progress bar for `finalize_model`. If you can maybe explain a use-case little bit and we can evaluate it?

[2020-10-13 22:00] pycaret commented on #695
Just to add. In the next release `2.2` we are adding a new parameter to deal with errors in `compare_models`. It will automatically skip the model if an error is raised instead of stopping the entire function.

Hope this helps.

[2020-10-14 18:24] gm039 commented on #196
Hi,

I am facing an issue in re-plotting the AUC, Confusion matrix etc with the loaded model (Trained on 80%) on the test data (20 %).
I am able to load the model successfully predict the performance metric using it as well.

![image](https://user-images.githubusercontent.com/50217085/96027648-2a877a80-0e26-11eb-996e-2b398afaa35f.png)

But when I try to plot the model.

plot_model(saved_mdl, plot

[2020-10-15 03:11] shjb16 opened #722 "Decrease/Increase # of words being plotted in Pycaret"
Is there a way to Decrease/Increase # of words being plotted in Pycaret ? Right now by default is shows Top 100 words after removing stop words, but I need the Top 30 .

Also is there a way to get the words and their frequencies in a list?

[2020-10-15 06:25] djcunniffe commented on #250
Hi @ManuelBanza I had a similar problem and it was caused by filtering my dataframe before assigning the model. df.reset_index() resolved it for me.

[2020-10-16 07:01] DesiKeki commented on #100
Doesnt seem to be working for me. Getting following error:

`TypeError: compare_models() got an unexpected keyword argument 'whitelist'`

[2020-10-16 07:49] Yard1 commented on #100
@DesiKeki It has been changed to `include` and `exclude`.

[2020-10-16 11:05] DesiKeki commented on #100
@Yard1 Thanks for the quick help. It helped! 👍

[2020-10-16 12:41] noorikhalifa opened #727 "Confusion_matrix"
For a classification model, is there a way of obtaining the confusion matrix for the training set as well? Because plot_model(plot = 'confusion_matrix') gives the results of the held out test set from the train-test split. And is there a way of not splitting the data at all during the setup.

[2020-10-16 13:04] sathishkumar999 opened #728 "could you please avoid the step that setup is asking for quit or enter option to preprocess"
Hi pycaret team,

we wanna use pycaret in our production instead of sklearn and some other packages to reduce the code.
but we are facing some problems with pycaret when we run in production. especially when we use setup.
the data is about predicting priority on customer ticket. I could not share the data, because it's confidential.
pls find the attachments.
![Screenshot (408)](https://user-images

[2020-10-16 13:08] Yard1 commented on #728
`silent=True` in `setup()`

[2020-10-18 08:11] sathishkumar999 commented on #728
Hi @Yard1
thanks that works, but setup data is not interpreting with the compare models. is there any way to pass 'setup' data into compare models. I know in jupyter notebook it does automatically. but here when we create functions it's not working. if we pass "clf-setup" data into compare models for training it might works.
![Screenshot (411)](https://user-images.githubusercontent.com/40235632/96

[2020-10-18 12:23] jonppe commented on #728
Maybe you should specify the column types explicitly using categorical_features=[...], numeric_features=... and so on?

[2020-10-18 16:15] Yard1 commented on #728
Try importing pycaret inside the function, before calling setup.

[2020-10-19 03:41] sathishkumar999 commented on #728
we couldn't pass import module inside the function.

![Screenshot (412)](https://user-images.githubusercontent.com/40235632/96399042-fd9ee300-11ea-11eb-8f1d-9d60765ed904.png)

[2020-10-19 04:07] lostmygithubaccount opened #734 "Documentation for Classification, Regression, Clustering, and Anomaly are missing"
see: https://pycaret.readthedocs.io/en/latest/#classification

![image](https://user-images.githubusercontent.com/54814569/96400580-f691b980-1185-11eb-85da-da75140e387e.png)

[2020-10-19 08:32] Yard1 commented on #728
Well, the error message explains it. Remove all pycaret imports outside the function level, and then import just the pycaret functions you use inside each of your functions. Eg. `from pycaret.classification import setup, compare_models`

[2020-10-19 14:13] driesbuyck opened #736 "compare_models fold parameter not used when calling create_model"
When you call compare_models with the fold parameter, it's not used when you eventually call create_model

[code]

I could fix it by adding fold=fold:
classification.py
        m = create_model(estimator=k, verbose = False, system=False, cross_validation=True, **fold=fold**)

[2020-10-19 14:18] Yard1 commented on #734
Thanks, should be fixed now.

[2020-10-19 14:18] #734 closed

[2020-10-19 14:27] Yard1 commented on #736
Already fixed for future release.

[2020-10-19 16:17] sathishkumar999 commented on #728
Hi, I'm really sorry for interrupting @Yard1
still the same issue. try to see once. if it's not possible. I'm gonna close this ticket. I don't want to disturb.
it's the same when I calling " from pycaret.classification import * " from outside the function and inside the function as you mentioned in the above comment as " from pycaret.classification import setup, compare_models "

![Screenshot (413

[2020-10-19 18:08] Yard1 commented on #728
Could you try one last thing? Pass `html=False` in `setup()`.

[2020-10-20 04:09] sathishkumar999 commented on #728
Thanks a lot @Yard1
that's worked...

[2020-10-20 04:09] #728 closed

[2020-10-20 09:35] kolya95 opened #742 "Add advanced categorical encodings methods"
PyCaret encodes categorical features using OneHotEncoder, but I want to use other categorical encoders: [category_encoders](https://github.com/scikit-learn-contrib/category_encoders) - in this library a lot more methods.

Is it possible to add them to PyCaret?

[2020-10-20 11:31] Yard1 commented on #742
It's on our roadmap.

[2020-10-20 17:03] sai45741 opened #743 "i got this memory error in text mining dataset"
[courseera reviews.zip](https://github.com/pycaret/pycaret/files/5410240/courseera.reviews.zip)
This is a dataset

`corpus`

['good interest',
 'one excellent course coursera information technology boss managers',
 'reason apply course bcg content pretty unique include high level analysis wide range knowledge need cover detail aspects best regard oleg serov',
 'course say anything digitization cor

[2020-10-20 23:05] Yard1 commented on #743
Try converting the corups to `int32`.

[2020-10-21 02:42] VinayChaudhari1996 opened #744 "Not working on module level :from pycaret.classification import *"
### Problem :-
___
1) Import * is not working on some platforms.

Example:
`from pycaret.classification import *`

2) How can I use individual import rather than *

Thanks

[2020-10-21 05:55] Yard1 commented on #744
You can import individual functions. For example, `from pycaret.classification import setup, create_model`.

[2020-10-21 08:44] ealvarezj opened #746 "'Series' object has no attribute '_data' -- Loaded Model fails to predict when loaded on Windows but works on Linux"
Hi,

I'm have som trouble working with cross platform models created with pycaret. In my code I do the following at the end of the project in order to train and save multiple models at once:

[code]
This works great in Linux(WLS2 Ubuntu). I need to create my models in Linux since to preprocess the data I'm using some packages that are available only in Linux. If I load the models back in Linux and

[2020-10-21 11:38] sai45741 commented on #743
@Yard1  corpus is in str format, its not work

[2020-10-21 13:21] Yard1 commented on #746
Make sure that all libraries have the same versions on both systems

[2020-10-21 13:22] Yard1 commented on #743
Try
[code]

[2020-10-21 14:33] sai45741 commented on #743
@Yard1 Thank you for giving the suggestion its working

[2020-10-21 14:39] #743 closed

[2020-10-21 17:18] sai45741 opened #747 "I could not understand what is that error."
![Demand forecasting](https://user-images.githubusercontent.com/73189049/96753998-4b376d80-13ee-11eb-94ee-46f303908bde.jpg)
This is a dataset

[code]

I tried remaining classifiers and regressors also but i get same error

ValueError                                Traceback (most recent call last)
<ipython-input-44-e2fa6b830ebd> in <module>
----> 1 fpr,tpr,thresold=roc_curve(y_test,y_pred_knn)

~\

[2020-10-21 17:44] Yard1 commented on #747
This isn't a PyCaret issue (same as your last issue). Please open an issue in the scikit-learn repository.

[2020-10-21 17:44] #747 closed

[2020-10-21 17:51] sai45741 commented on #743
`from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)`

MemoryError                               Traceback (most recent call last)
<ipython-input-36-4cc4229aa9df> in <module>
      1 from sklearn.model_selection import train_test_split
      2
----> 3 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.

[2020-10-21 21:03] Yard1 commented on #743
You need to buy more RAM, or increase the size of you swap memory.

[2020-10-21 22:09] ealvarezj commented on #746
Somehow tha pandas was causing the problem. after removing pandas and installing it again, te problem was solved. The weird thing is that the version of pandas in Linux was way older than the one i had to update in Windows. Still in linux I was able to predict and load the models.

I'm closing this issue now

[2020-10-21 22:09] #746 closed

[2020-10-21 23:31] clgarciga opened #748 "Add Python Version Badge to README"
For example:

![image](https://user-images.githubusercontent.com/13739205/96800721-00a8f780-13d4-11eb-87d1-cd95947fd083.png)

[2020-10-22 09:01] actcod01 opened #749 "How to configure parameters of algorithm ?"
**Problem: Regression**
Pycaret version: 2.0.0

❌ The example mentioned in docs is not working
https://pycaret.org/tune-model/

____

Ex: I have used the decision tree

### 1) How to configure the parameters of the selected algorithm?
![image](https://user-images.githubusercontent.com/67143298/96855841-e8d87e80-147a-11eb-8a0f-99091c1ebf30.png)

___
Error :

![image](https://user-images.githubuserc

[2020-10-22 13:44] pycaret commented on #748
@clgarciga Would you like to work on this? Can you please submit a PR on master?

[2020-10-22 13:56] Yard1 commented on #749
The example is for classification, but your issue states that you have a problem with regression. `DecisionTreeRegressor` and `DecisionTreeClassifiers` have different possible values for some parameters. Refer to scikit-learn documentation.

[2020-10-22 14:17] pycaret commented on #727
@noorikhalifa Unfortunately not at the moment.

[2020-10-22 14:17] pycaret commented on #722
@shjb16 Not yet. We can put it in our backlog for future.

[2020-10-22 14:18] pycaret commented on #714
@leocd91 PyCaret's native `predict_model` will only attach the probability of the predicted class. If you want to see the probability value for all classes, I suggest you use `predict_proba` function.

[2020-10-22 14:38] clgarciga commented on #748
Yup

[2020-10-22 17:41] chamsdg opened #753 "AttributeError: 'DataFrame' object has no attribute 'predict'"
hello i need your help
i have this error when a want to predict

please find below my file and and file.csv

[pycaret.zip](https://github.com/pycaret/pycaret/files/5424637/pycaret.zip)

[2020-10-22 22:13] chamsdg commented on #753
finally,i find the solution

[2020-10-22 22:13] #753 closed

[2020-10-23 05:19] #749 closed

[2020-10-23 05:27] Practcdi opened #754 "Catboost : Did not show parameters of model"
**Pycaret version : 2.0.0**
___
**Issue: I m trying to get parameters like [  **ada**  ] but it does not work for [  catboost  ]**
___

### In Ada
![image](https://user-images.githubusercontent.com/58843833/96959589-0874b300-151e-11eb-976b-bb7e765f6be3.png)

____

### In Catboost
![image](https://user-images.githubusercontent.com/58843833/96959376-85535d00-151d-11eb-9196-0e7ca862ad18.png)

Thanks,

[2020-10-23 08:34] #744 closed

[2020-10-23 08:34] VinayChaudhari1996 commented on #744
👍 thanks

[2020-10-23 19:55] DXcarlos opened #755 "ML Flow integration throws an error"
I'm creating this experiment it seems that there is no problems

[code]
[code]
My mlflow version is mlflow==1.11.0

But when I compare models I got this error

[code]

When I create the log

[code]

[2020-10-25 04:15] Jheel-patel opened #757 "Stack_models method error"
Obtained this error on running  `stack_hard = stack_models(top3, method='hard')`

An exception has occurred, use %tb to see the full traceback.

SystemExit: (Value Error): Method parameter not acceptable. It only accepts 'auto', 'predict_proba', 'decision_function', 'predict'.

On running %tb

---------------------------------------------------------------------------
SystemExit

[2020-10-25 11:30] wentworth001 opened #758 "use multiple process to do predict in parallel"
Hi,

Currently I want to use regression.predict_model in multiple processes, but seems it quit each process, could you give a hand? Thanks.

Meanwhile, my model is already trained, so I want to transfer it to sub-process by ProcessPoolExecutor's executor.submit, seems I cannot send it to sub-process. Then I have to load model in each sub process directly, but still fail as I mentioned at the begin

[2020-10-25 11:42] wentworth001 commented on #758
sometimes it hung, maybe deadlock?

[2020-10-25 15:41] Yard1 commented on #758
PyCaret is not designed to be ran in parallel. You should save and load the model pipeline with `save_model` and `load_model` and predict using sklearn API in that case.

[2020-10-26 01:03] wentworth001 commented on #758
got it, thanks, let me close this question.

[2020-10-26 01:03] #758 closed

[2020-10-26 16:37] VinayChaudhari1996 opened #765 "Default Transformation = false not working"
Pycaret - 2.0.0
____

Dataset used :- Diamond
Problem :- Regression

**How do I use original data without any additional transformed features after setup** ?

1) `Transformation = False` not working

Original shape of data : (4200,8)
Even I false the transformation ,

Transformed train set :- (2939,29)
Transformed test set :- (1261,29)

I don't want that extra 29 columns , what should I do ?

![IM

[2020-10-26 19:43] HenriqueAJNB opened #771 "Implement test coverage and get code coverage badge"
**Test code coverage implementation**

My suggestion is to implement test code coverage and get code coverage badge to reinforce the package confiability.

I was thinking on using the `pytest-cov` package. Any other ideias?

[2020-10-27 14:39] flachboard opened #774 "Reason Plot on Predicted Data Set"
Hello,

This isn't an issue. I just can't seem to find if this functionality is available. I'd like to generate a reason plot for observations in the predicted data set. It seems that I can only get this for the training data. Is this correct?

https://pycaret.org/interpret-model/

[2020-10-27 15:01] pycaret commented on #736
@driesbuyck

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists.

[2020-10-27 15:01] #736 closed

[2020-10-27 15:02] pycaret commented on #505
@NicholaiStaalung

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:02] #505 closed

[2020-10-27 15:03] pycaret commented on #709
@deesumblip

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:03] #709 closed

[2020-10-27 15:03] pycaret commented on #547
This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:03] #547 closed

[2020-10-27 15:04] pycaret commented on #27
@nyk510

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:04] #27 closed

[2020-10-27 15:04] pycaret commented on #647
@danbricedatascience

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:04] #647 closed

[2020-10-27 15:04] pycaret commented on #605
@clgarciga

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:04] #605 closed

[2020-10-27 15:05] pycaret commented on #471
@clgarciga @zhenlingcn @aliagowani

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:05] #471 closed

[2020-10-27 15:05] pycaret commented on #622
@krishcode @Sebagam @hehuan710

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:05] #622 closed

[2020-10-27 15:06] pycaret commented on #73
@vishal-subedi @HiroTamori

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:06] #73 closed

[2020-10-27 15:11] NicholaiStaalung commented on #505
Thanks for getting back to me! Love your work

[2020-10-27 15:14] pycaret commented on #469
@Anbulenin

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:14] #469 closed

[2020-10-27 15:15] pycaret commented on #61
@Riazone @MattiaVerticchio

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:15] #61 closed

[2020-10-27 15:16] pycaret commented on #542
@SSITB

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:16] #542 closed

[2020-10-27 15:16] pycaret commented on #497
@SuryaThiru

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:16] #497 closed

[2020-10-27 15:16] pycaret commented on #258
@raheems

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:16] #258 closed

[2020-10-27 15:17] pycaret commented on #557
@ykh96

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:17] #557 closed

[2020-10-27 15:17] pycaret commented on #353
@sparvaneh

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:17] #353 closed

[2020-10-27 15:17] pycaret commented on #354
@clgarciga

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:17] #354 closed

[2020-10-27 15:18] pycaret commented on #606
@danbricedatascience

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:18] #606 closed

[2020-10-27 15:18] pycaret commented on #223
@DJ-LYH

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:18] #223 closed

[2020-10-27 15:18] pycaret commented on #358
@Yard1

It all started with this one single PR. :)

Closing this now...

[2020-10-27 15:18] #358 closed

[2020-10-27 15:19] pycaret commented on #194
@s-bhatia

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:19] #194 closed

[2020-10-27 15:21] pycaret commented on #79
@nasospat @ngupta23

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:21] #79 closed

[2020-10-27 15:21] pycaret commented on #313
@sparvaneh

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:21] #313 closed

[2020-10-27 15:22] pycaret commented on #573
@kmedved

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:22] #573 closed

[2020-10-27 15:22] pycaret commented on #602
@danbricedatascience

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:22] #602 closed

[2020-10-27 15:23] pycaret commented on #649
@danbricedatascience

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:23] #649 closed

[2020-10-27 15:23] pycaret commented on #342
@sparvaneh

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:23] #342 closed

[2020-10-27 15:24] #604 closed

[2020-10-27 15:24] pycaret commented on #672
@zhaoli-IHEP

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:24] #672 closed

[2020-10-27 15:29] pycaret commented on #541
@zhenlingcn

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:29] #541 closed

[2020-10-27 15:29] pycaret commented on #428
@rohan-gt

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:29] #428 closed

[2020-10-27 15:30] pycaret commented on #417
@mvpalheta

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:30] #417 closed

[2020-10-27 15:31] pycaret commented on #678
@brunocous

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 15:31] #678 closed

[2020-10-27 16:06] pycaret commented on #718
@anoopboseml

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 16:06] #718 closed

[2020-10-27 16:06] pycaret commented on #521
@Yard1 Can we close this now?

[2020-10-27 16:06] #513 closed

[2020-10-27 16:07] pycaret commented on #456
@Yard1 Can we close this now?

[2020-10-27 16:07] pycaret commented on #363
@MislavSag

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 16:07] #363 closed

[2020-10-27 16:08] pycaret commented on #528
@elgalu

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 16:08] #528 closed

[2020-10-27 16:08] #521 closed

[2020-10-27 16:09] pycaret commented on #195
@soerendip @kamahmad

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 16:09] #195 closed

[2020-10-27 16:09] pycaret commented on #156
@AlexanderKonstantinidis

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 16:09] #156 closed

[2020-10-27 16:10] pycaret commented on #748
@clgarciga Are you planning to push PR soon?

[2020-10-27 16:11] pycaret commented on #757
@Jheel-patel As the message says, please pass one of these values:  'auto', 'predict_proba', 'decision_function', 'predict'.

Old methods have been deprecated. 'hard' equivalent would be 'predict'. For example:

[code]

[2020-10-27 16:11] #757 closed

[2020-10-27 16:12] clgarciga commented on #748
@pycaret Was going to get to it on Saturday.

[2020-10-27 16:13] pycaret commented on #754
@Practcdi You can use this to get catboost params:

[code]

[2020-10-27 16:13] #754 closed

[2020-10-27 16:59] kmedved commented on #573
Great. Thanks @pycaret

[2020-10-27 17:20] pycaret commented on #290
@similang

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 17:20] #290 closed

[2020-10-27 17:21] pycaret commented on #171
@iteachmachines

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 17:21] #171 closed

[2020-10-27 17:25] pycaret commented on #695
@SSITB

This issue has been fixed in the `pycaret-nightly` release. Please install pycaret-nightly using `pip install pycaret-nightly`. Feel free to open a new issue, in case the problem persists. This fix will be published to PyPi as `pycaret==2.2.0` on October 28, 2020.

[2020-10-27 17:25] #695 closed

[2020-10-27 17:45] pycaret commented on #771
@Yard1 Can you comment on this?

[2020-10-27 17:47] pycaret commented on #765
@VinayChaudhari1996 Transformation Train Set and Transformed Test Set shows the shape of the dataset after transformations. The increase in the number of columns is likely due to One Hot Encoding. If there are categorical values in your dataset, they are automatically encoded, otherwise, subsequent functions for training will not work.

Are there any categorical features in your dataset? Can you s

[2020-10-27 20:22] Yard1 commented on #771
The coverage will be very poor due to how our tests are created. We'd need to create proper unit tests for each function.

[2020-10-27 20:29] #456 closed

[2020-10-27 21:17] mvpalheta commented on #417
Sorry, I forgot to answer. In fact, the problem was with the order of variables in the input dataframe. Every time I tried to run Pycaret, I inserted the variables
in different ordering on the dataframe, due to an earlier variable selection method I use. I noticed that performance only changed for algorithms based on
in trees, therefore, in Python, for these algorithms the order of variables matte

[2020-10-27 21:31] roberthoyt opened #777 "Results worse with SMOTE"
I am analyzing the COVID-19 data that [[Kaggle]used for a data competition. https://www.kaggle.com/dataset/e626783d4672f182e7870b1bbe75fae66bdfb232289da0a61f08c2ceb01cab01?select=dataset.xlsx

I excluded anyone with missing data, so I ended up with a cohort of 658 patients, with 10% of them testing positive for COVID. I was anxious to try out the SMOTE option to fix the imbalanced dataset but was

[2020-10-28 02:19] #467 closed

[2020-10-28 08:42] doraemonlei opened #778 "How to output TP, FP, TN, FN to define my own evaluation indicators, such as specificity, NPV, etc."
How to output TP, FP, TN, FN to define my own evaluation indicators, such as specificity, NPV, etc.

[2020-10-28 08:46] pa-blan opened #779 "Callbacks in non Jupyter-Environment"
Is it possible to get callbacks from the training to set like a progress bar in frameworks like streamlit? Unfortunately, I have not found anything like that in the docs

And i found an issue with the plots in streamlit

            pycc.plot_model(clf,"confusion_matrix")
            st.pyplot()
            plt.clf()

![image](https://user-images.githubusercontent.com/54003618/97456957-99da8f80-19

[2020-10-28 11:13] VinayChaudhari1996 commented on #765
1) Transformation issue fixed

2) For cleaned data frame object after preprocessing `get_config()` method is worked for me

Thanks,

[2020-10-28 11:13] #765 closed

[2020-10-28 15:57] hakobjan opened #780 "Is it possible to install pycaret on Azure Databricks ?"
I tried !pip install --user pycaret
but getting
ModuleNotFoundError: No module named 'pycaret'

[2020-10-28 16:03] #780 closed

[2020-10-28 20:41] hakobjan opened #781 "PyCaret in Azure Databricks issue"
when running the setup command in Azure data bricks

`exp_ano101 = setup(data, normalize = True,
                   session_id = 123)`

It takes a very long time to run the cell and does not converge.
any idea why is it happening or is there a fix?
Thanks in advance

[2020-10-28 22:06] gm039 opened #782 "QuadraticDiscriminantAnalysis instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator."
from pycaret.classification import *
exp_name = setup(data,  target = 'TARGET')
Model_qda = create_model('qda', fold = 5)
tuned_model_qda_best = tune_model(Model_qda, fold = 5,choose_better=True,n_iter = 100) #Return best model
pred_holdouts_qda = predict_model(tuned_model_qda_best)

I get the following error in PyCaret 2.2.0. It used to work well on PyCaret 2.1.0. Can you please help?

##########

[2020-10-28 22:27] nau7ic opened #783 "TypeError: tune_model() got an unexpected keyword argument 'search_library'"
Python Version 3.8.5
Pycaret 2.2

when i try to run

tuned_top5 = [tune_model(i,choose_better=True, search_library='scikit-optimize') for i in top5]

i get

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-4a1ae687039d> in <module>
----> 1 tuned_top5 = [tune_model(i,choose_bette

[2020-10-28 22:43] Yard1 commented on #782
@gm039 Thanks for your report. I just pushed commit 3ff4b89cda0879ba4a11fa14371cec2505b0862a that should fix this issue. Could you run
`pip install --upgrade --user git+git://github.com/pycaret/pycaret.git` to install PyCaret's development version and try again?

[2020-10-28 22:52] pycaret commented on #781
@hakobjan Azure Databricks doesn't support html. Please pass silent = True and html = False in the setup function. Your code should look like this:

[code]

Hope this will help. Please close the issue if it works for you.

[2020-10-28 22:53] pycaret commented on #783
@nau7ic Seems like some kind of conflict with the previous version. Can you please upload the` logs.log` here? You can find it the directory where your Notebook or Python script is.

[2020-10-28 22:54] pycaret commented on #755
@DXcarlos What is the version of pycaret? Can you please upload `logs.log` file here?

[2020-10-28 22:55] pycaret commented on #777
@roberthoyt

We cannot comment on these results. However, in pycaret==2.2 you can also pass the `sample_weight` parameter for estimators that allows it. For example below is the documentation of Logistic Regression:

![image](https://user-images.githubusercontent.com/58118658/97505327-1fb50580-194f-11eb-88ad-63a4468903e7.png)

Maybe you can try passing weights instead of SMOTE to see if things get

[2020-10-28 23:06] hakobjan commented on #781
I see, thanks for the tip

[2020-10-28 23:44] gm039 commented on #782
Thanks! It worked.
I found another issue with catboost model. it throws the below error when I run the following lines.

Model = create_model('catboost', fold = 5)
tuned_model_best = tune_model(Model, fold = 5,choose_better=True,n_iter = 100) #Return best model
pred_holdouts_qda = predict_model(tuned_model_best)

############################################################################
       4

[2020-10-28 23:59] Sebagam commented on #727
I'm getting values of 78 for false negatives and 83 for true positives with really good AUC  scores for a balanced sample of 1000 vs 1000 subjects. So I assume that the values in each entry of the matrix are rates, not the number of subjects.

However, in an imbalanced sample (1000 vs 9000), I'm getting 600 for true negatives,

So, are they rates or the number of subjects in the entries of the mat

[2020-10-29 01:06] Yard1 commented on #782
@gm039 Thanks. I pushed another fix.

[2020-10-29 04:26] noorikhalifa commented on #727
During the setup, check the number in the transformed train and test set, The confusion matrix shows it only for the test set, and not the entire train set.

[2020-10-29 12:32] #779 closed

[2020-10-29 12:53] anne-leroy-T opened #784 "plot_model prediction error plot - X and Y scale not adapted to data"
Hello,

For plot_model prediction error plot, the X and Y scale is not adapted to data.

scale parameter only changes the size of the plot, not the scaling; so it's useless.

Is there another parameter that could help ?

Please check attached picture
<img width="268" alt="plot" src="https://user-images.githubusercontent.com/25195665/97576189-2050a900-19ee-11eb-8a56-b0bdd8b9131b.png">

Thanks.

[2020-10-29 13:19] sathishkumar999 commented on #777
@roberthoyt
hey could you post classification report.

[2020-10-29 13:29] roberthoyt commented on #777
[COVID PyCaret (1).pdf](https://github.com/pycaret/pycaret/files/5458624/COVID.PyCaret.1.pdf)

[2020-10-29 14:52] anneleroytotal opened #785 "Output multiple create model in a single jupyter notebook cell"
Hello,

I try to iterate on some models (without using compare) with create_model and tune_model.  I would like to receive in the output jupyter cell iteratively all the results of each model.
But it only gives me the last.

I changed the interactive shell property, but it does not help :
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

If

[2020-10-29 14:57] andreb8 opened #786 "Memory limit"
Does PyCaret have a memory limit for big data sets or is a too big to fit memory data set spilled to disk? If former, what is the memory limit.

Thank you and congratulations on a great product!

[2020-10-29 16:10] Yard1 commented on #786
PyCaret will use all available system memory. The disk will not be used.

[2020-10-29 16:11] Yard1 commented on #785
You can get the last displayed dataframe with `pull()`, so for example:
[code]

[2020-10-29 16:33] pycaret commented on #782
@gm039 Can you re-test again and let us know if the problem is resolved after installing the latest master branch? We are planning to push out a patch release over weekend.

[2020-10-29 16:34] #781 closed

[2020-10-29 16:44] pycaret commented on #166
@soerendip @Crisfon6 @GLevV

This issue has been fixed in `pycaret==2.2`.

Please feel free to open another ticket if the issue persists.

Thanks

[2020-10-29 16:44] #166 closed

[2020-10-29 16:50] AarthiKalyanasundaram commented on #166
Sure.

Thanks

On Thu, Oct 29, 2020, 22:14 PyCaret <notifications@github.com> wrote:

[2020-10-29 17:48] pa-blan opened #787 "Failed to build statsmodels, Try to install pycaret in new conda env"
**Is your feature request related to a problem? Please describe.**
Failed to build statsmodels, Try to install pycaret in new conda env. Is this behavior normal? Do I need VS++ now? This morning the installation was still working normally. It does install on python 3.7 but not on python 3.8.

**Additional context**
Add any other context or screenshots about the feature request here.

(tfcaret) PS

[2020-10-29 19:03] pycaret commented on #783
@nau7ic Your logs shows you are using the old version. Can you uninstall and re-install pycaret from scratch or install in a new environment?

[code]

![image](https://user-images.githubusercontent.com/58118658/97620348-d8368400-19f7-11eb-97bb-718595b81f89.png)

[2020-10-29 19:08] #783 closed

[2020-10-29 19:08] nau7ic commented on #783
Thank you! The reinstall helped

[2020-10-30 07:44] #787 closed

[2020-10-30 10:08] faruktufekci opened #788 "UnboundLocalError: local variable 'master_display_' referenced before assignment"
Bug? (similar to visualizer --> viz issue before)

[code]

[2020-10-30 11:02] Yard1 commented on #788
Can you send us your `logs.log` file, present in the directory from where you run the script/notebook?

[2020-10-30 12:48] pycaret commented on #788
@faruktufekci I can't reproduce this error. If you can please share the logs file as @Yard1 requested, also if you can upload the Notebook here? That will help us troubleshoot.

[2020-10-30 12:51] pycaret commented on #295
@Joydeep75 We have made some major improvements with regards to memory footprint in `pycaret==2.2`. I suggest you update the version to 2.2 `pip install --upgrade pycaret` and try again.

Feel free to open another issue, if the issue persists. For now, I am closing this issue.

[2020-10-30 12:51] #295 closed

[2020-10-30 12:52] pycaret commented on #256
@joaopcnogueira This issue has been addressed in `pycaret=2.2`.

The default installation of pycaret is a slim version. Many libraries are moved to optional requirements for which you will have to do `pip install pycaret[full]`.

Hope this helps :)

[2020-10-30 12:52] #256 closed

[2020-10-30 12:54] pycaret commented on #304
@MattiaVerticchio @webpolis

Hi all,

This issue has been resolved. We have provided the option to use GPU in `pycaret=2.2`. Please check the release notes for more details: https://github.com/pycaret/pycaret/releases

Thanks

[2020-10-30 12:54] #304 closed

[2020-10-30 12:54] #714 closed

[2020-10-30 12:55] pycaret commented on #679
@Lion-Mod Can you please update pycaret to 2.2 `pip install --upgrade pycaret` and try again?

[2020-10-30 12:56] pycaret commented on #359
@sarikanyaram Can you please update pycaret to 2.2 and try again? `pip install --upgrade pycaret`.

Let us know if the issue persists.

[2020-10-30 13:26] Practcdi opened #789 "How to get final metrics value after model training like , R2 or Accuracy ?"
## Pycaret Version: 2.2

_____

**Task Regression:**

Problem: I'm trying to find the final Score of my model, without creating an unseen dataset

`Mean   905.49  3792223.23  1888.88  0.96   0.10  0.07
`

_____
![image](https://user-images.githubusercontent.com/58843833/97709441-58381900-1ae0-11eb-8b6e-ad897ef6e507.png)

☑️  In code I have used 70% Data for training, I want to **find the final Mod

[2020-10-30 13:39] pa-blan commented on #789
Try the finalize_model function:

pycaret.classification.finalize_model(estimator, fit_kwargs: Optional[dict] = None, groups: Optional[Union[str, Any]] = None,
model_only: bool = True)

This function trains a given estimator on the entire dataset including the holdout set.

[2020-10-30 15:05] clgarciga opened #790 "Close or merge pre 2.2. PRs"

[2020-10-30 15:18] aliagowani opened #791 "optimize_threshold error: no attribute 'update_monitor'"
When I execute the following command: optimize_threshold(blender_specific, true_negative = 15, false_negative = -50), I receive the following error. Note: I receive the same error even when I run the code provided in the latest document for optimizing threshold.

Link: https://pycaret.readthedocs.io/en/latest/api/classification.html?highlight=optimize_threshold#pycaret.classification.optimize_thre

[2020-10-30 15:31] pycaret commented on #791
@aliagowani Which environment are you using? Is it Jupyter Notebook or something else? Also can you please upload the `logs.log` file here?

@Yard1 FYI.

[2020-10-30 15:32] #786 closed

[2020-10-30 15:52] Yard1 commented on #789
`predict_model(model)` will do that.

[2020-10-30 15:56] Yard1 commented on #791
Those lines of code are not present in the release version. If you are using `pycaret-nightly`, please u install it and install `pycaret`.

[2020-10-30 16:38] joaopcnogueira commented on #256
Hello there!

Thank you very much guys for having put a lot of work into this, much appreciated!

Also wanna to say that I have already use the new version 2.2 and it is working like a charm, congratulations to you all guys.

I firmly believe that PyCaret is a turning point of all python machine learning/data science ecossystem, in the same level as pandas and scikit-learn!

It helped a lot!

[2020-10-30 22:06] garar commented on #788
Hello!

I can't paste logs here, because it contains confidential data, but I can say that this when an exception is thrown when creating model for comparison.

In my case, this only happens I use custom metrics, example:

[code]

Then I call:

[code]

I see this exception logs.log

[code]

I don't think there is anything particularly wrong with logloss or my model, just that some combination caus

[2020-10-30 23:21] Yard1 commented on #788
Thanks, I'll look into this.

[2020-10-31 13:05] roberthoyt commented on #777
Please see my posted Jupyter Notebook

[2020-10-31 18:20] Yard1 commented on #788
@faruktufekci I just pushed commit 4a19b8b51d1e58bf2f9c4133bee603dd5a04d4c2 that should fix this issue. Could you run
pip install --upgrade --user git+git://github.com/pycaret/pycaret.git to install PyCaret's development version and try again?

[2020-10-31 18:34] danbricedatascience opened #792 "feature Proposal : Enable profile tuning in setup"
The `profile` parameter in setup enable getting pandas profiling reports. This can be quite long for big datasets.

So in addition to `True` or `False`, enable passing the mode including minimal mode for large dataset.

[2020-10-31 19:01] faruktufekci commented on #788
I'll try soon, thanks.
Did you commit this on purpose btw?

[code]

[2020-10-31 19:09] pycaret commented on #335
@Yard1 Should we close this issue?

[2020-10-31 19:12] pycaret commented on #197
@ManuelBanza We have made some changes in `pycaret==2.2` that should fix this issue. Can you please try after updating the version and let us know if the issue persists?

For now, I am closing this issue. Please feel free to open another issue, if you would like.

[2020-10-31 19:12] #197 closed

[2020-10-31 19:12] #715 closed

[2020-10-31 19:12] #716 closed

[2020-10-31 19:13] pycaret commented on #655
@zhaoli-IHEP Can you please update the version to `pycaret==2.2` and try again? Please let us know if the issue persists.

[2020-10-31 19:13] pycaret commented on #361
@nkalhan Can you please update pycaret to `2.2` and let us know if the issue persists?

[2020-10-31 20:56] Yard1 commented on #788
No, it was a mistake. I have fixed it in a subsequent commit.

[2020-10-31 20:56] Yard1 commented on #335
Yeah

[2020-10-31 20:56] #335 closed

[2020-10-31 23:44] gm039 commented on #782
Thanks!
The problem is solved.

[2020-10-31 23:44] #782 closed

[2020-11-01 11:04] danbricedatascience commented on #602
I can't use it for `class_weight`.

I get:

[code]

If it's applied to the model fit function only, it's normal as `class_weight` has to be applied to the model creation.

Anyway, can you confirm the syntax for fit_kwarg dict?

[code]

[2020-11-01 15:06] Yard1 commented on #602
`class_weight` is not a fit param. Pass it as a keyword argument (`compare_models(class_weight=:{0:1,0:5})`).

[2020-11-01 17:32] pycaret commented on #792
@danbricedatascience What is the minimal mode, do you have any example?

[2020-11-01 17:33] pycaret commented on #748
@clgarciga Thanks. Waiting for PR.

[2020-11-01 19:34] danbricedatascience commented on #792
When using directly pandas-profile.

https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/big_data.html

[code]

So in PyCaret setup this could becomes:

[code]
Or also enable customizing the report:

https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html#general-settings

When using directly pandas-profile:

[code]

So in PyCaret setup t

[2020-11-02 06:51] Practcdi commented on #789
Hey,

**Problem : ```predict_model(model)``` returns type data frame and I think model evaluation comes from print()
statement**
____

![image](https://user-images.githubusercontent.com/58843833/97838028-5dc27880-1d05-11eb-95fa-3c96dc3e843a.png)

**So how can I access the R2 value in it?  I want to store model performance data in list or dict !**
____
![image](https://user-images.githubusercontent

[2020-11-02 07:54] Yard1 commented on #789
`pull()` will return the latest printed dataframe, so just call it after `predict_model()`.

[2020-11-02 08:22] anneleroytotal commented on #785
Thank you for your precious help. It's working !

[2020-11-02 08:23] #785 closed

[2020-11-02 08:30] VinayChaudhari1996 opened #794 "How to use different encoding techniques in setup()"
Pycaret - 2.2
_____
I want to use following encoding techniques for specific columns in pycaret. How can I use that in ```setup()``` ?

______

**One hot Encoding
Dummy Encoding
Effect Encoding
Binary Encoding
BaseN Encoding
Hash Encoding
Target Encoding**

For now , I think very few techniques are supported in pycaret 2.2.0

So is there any way to integrate custom techniques in setup ?

Ref blog

[2020-11-02 09:54] atwahsz opened #795 "question about iterative imputation:"
does the iterative imputation (lightgbm,knn,etc) use the setup prepossessing prior to training  a model to fill the missing data ?

all of the best

Saleh ,

[2020-11-02 11:21] Yard1 commented on #795
Iterative imputation uses simple imputation as the first step.

[2020-11-02 11:41] atwahsz commented on #795
In pycaret 2.2 it says that it uses lightgbm to train on data and fill the missing

[2020-11-02 11:51] Yard1 commented on #794
Only OHE is supported in the current release.

[2020-11-02 15:10] Hveemos commented on #404
I bump into the same problem. I'm working with Swedish text data so I cannot rely on the built-in preprocessing in Pycaret. I tried to turn preprocessing off but I still get an error message from scripts with names such as `preprocess.py`.

So for the example from @ByrdOfAFeather
[code]
Will give these type or errors:

[code]

My expectation was the if there were any errors they would not be attri

[2020-11-02 16:16] Yard1 commented on #404
The first preprocessing step is always executed to infer data types and remove values that will cause errors later. Unfortunately, support for dense matrices is not yet present. They may work, but it is not guaranteed.

[2020-11-02 19:10] danbricedatascience opened #796 "Documentation : add a second level in the left table of content"
In [documentation](https://pycaret.readthedocs.io/en/latest/index.html) add a second level to the left table of content to enable quick browsing of each function.