[2020-04-03 01:14] Riazone opened #6 "Top Models from Compare Models"
Hi,

I was wondering if there is a way to select top 'n' models from compare models. If we can have this feature, the whole training process can be automated. This would also help users to use it in platforms like KNIME/Power BI that do not support HTML output.

Thanks,
Riaz

[2020-04-03 01:25] Riazone opened #7 "Custom Tuning Grid"
Hi,

The current **_tune_model()_** I understand uses randomized grid search for tuning a model. However, how can I provide my own tuning grid for selected hyper-parameters. I don't think PyCaret currently offers this flexibility. If we can have this feature, it will be very instrumental.

Thanks

[2020-04-03 01:34] Riazone opened #8 "Merging Stack_Model and Stacknet"
Hi,

**_stack_model()_** and **_create_stacknet()_** are both wonderful features, something I havent seen being provided by any other package. However, intrinsically I feel the only difference in them is of layers. If we can have just one function with options of choosing number and estimators at each layer, we would not need two functions here.

Thanks.

[2020-04-03 01:42] Riazone opened #9 "Meta model default in stacking"
The default for _meta-model_ is linear/logistic for classification/regression. Though it might work in certain cases, places where I have used, especially with re-stack = True, the model performance only improves when I have chosen one of the better performing models as meta model. Since most of the users would begin with Compared_models(), if there was a way to have the stacking default to best m

[2020-04-03 15:42] pycaret opened #10 "Docstring spaces in Google Colab"
Reformat docstrings for create_model and tune_model specifically as Google Colab cannot handle table spacing.

[2020-04-13 16:20] tmontana opened #12 "Cross validation with/without shuffling rows"
Hi.  Great package.  Thank you.

Is there a way to select whether we want rows to be shuffled or not during CV?  What is the base behavior?  Not shuffling is critical for time series analysis.

Thanks

[2020-04-13 16:26] tmontana commented on #12
Similar to setting KFold(..., shuffle=True) or KFold(..., shuffle=False) in SKlearn

[2020-04-15 11:04] salilathalye opened #13 "Colab link for Binary Classification Tutorial sends you to NLP Tutorial"
On the Binary Classification Tutorial (CLF102) – Level Intermediate page, click on the Colab icon. You get sent to the NLP Tutorial notebook.

[2020-04-15 14:38] pycaret commented on #13
Thanks for pointing that out. Will fix today. Much appreciated.

[2020-04-16 12:00] ericmjl opened #14 "Parellelizing compare_models"
Hi team,

Wonderful work with `pycaret`! I'm wondering if you might be open to a PR that parallelizes `compare_models()`, such that one core takes on one model class? Yes, this might change some of the UI elements, but it might also speed up training. I have some experience using Dask, and am happy to lend some time to make this happen, though I might also need some guidance through the codebase a

[2020-04-16 23:15] klahrich opened #15 "Problem installing pycaret"
Hi everyone,

I had some issues pip-installing pycaret. Some of my other libraries use the same underlying packages as pycaret, but require more recent versions.

Here are the error messages I get:

ERROR: prettierplot 0.1.1 has requirement scikit-learn>=0.22.1, but you'll have scikit-learn 0.22 which is incompatible.
ERROR: mlmachine 0.1.3 has requirement catboost>=0.22, but you'll have catboost

[2020-04-17 01:55] pycaret commented on #12
Hi,

shuffle in kfold is set to False by default. Currently there is no way to set shuffle to True. I will keep this open so can be included in feature list for future.

Thanks,
Moez

[2020-04-17 01:56] pycaret commented on #13
Issue Fixed. Thank you.

[2020-04-17 01:56] #13 closed

[2020-04-17 01:58] pycaret commented on #14
Hi,

Thanks for showing interest.

This is a very good idea. . Can you please create an entry on https://www.pycaret.org/contribute. I will start getting back to people in next 2-3 weeks.

Thanks

[2020-04-17 01:58] #14 closed

[2020-04-17 05:27] LinxiFan commented on #15
Agreed, the `requirements.txt` seems to be very restrictive. Is there a reason to require those packages to be the exact version number?

[2020-04-17 14:14] evasehr opened #16 "AttributeError"
Hi - I really enjoy the package! However, when executing the script on a server, I get the following error:

Traceback (most recent call last):
  File "RF_pycaret.py", line 15, in <module>
    model1 = create_model('rf')
  File "/home/../.conda/envs/pycaret/lib/python3.8/site-packages/pycaret/regression.py", line 1691, in create_model
    display_id = display_.display_id
AttributeError: 'NoneType'

[2020-04-17 14:18] pycaret commented on #16
Hi,

Can you try it on Jupyter notebook.

What IDE are you using? I will try to reproduce the issue at my end.

Thanks.

[2020-04-17 15:27] evasehr commented on #16
hi - thanks for your quick reply. locally (with jupyter lab) it seems to work, at least until the tuning step, which is running right now. on the server, well, I didn't use any IDE, but vim...

[2020-04-17 23:34] fcakyon opened #17 "Couldnt find any tests"
Hello,

First of all, thanks a lot for this comprehensive library.

I wanted to add cross platform continious integration workflow pr but couldnt locate the tests for the implemented functions. Where can i find them?

If there arent any, you should definitely consider adding unit/integration tests, otherwise it would be extremely hard to identify/localize bugs and errors.

Bests

[2020-04-18 08:23] BismeetSingh opened #18 "Dataframe constructor not properly called"
While running a simple linear regression model on kaggle using pycaret, I get the error
DataFrame constructor not properly called on running setup. The dataset contains only two columns.

[code]
Logs:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-12-c3ad091d442b> in <module>
---

[2020-04-18 13:55] npapan69 opened #19 "Memmory related Crash"
Dear All,

Thanks for the great library, I'm facing problems when trying to use pandas to import my csv which has 130 rows and 110 columns. It consumes all my RAM (which is 64GB, MacBook Pro 16") and crashes. Any ideas? Up till now, I was able to use it only with csv files with a limited number of columns .

Nikos

[2020-04-18 14:18] pycaret commented on #19
Hi,

It is quite surprising that with 64GB memory a csv load fails. Can you share the size of csv file? is it dataset publicly available? if yes, I would like to try that on several pc's as well. Can you share?

Thanks.

[2020-04-18 14:19] pycaret commented on #17
Hi,

Would you like to contribute in building unit tests? please reach out moez@pycaret.org.

Thanks

[2020-04-18 14:20] pycaret commented on #18
Hi,

Thanks for logging the issue. I don't see if you have imported regression module in above code. Can you please confirm if you have run the below code before running setup function:

from pycaret.regression import *

Thanks.

[2020-04-18 14:23] BismeetSingh commented on #18
Yes, I have made all the necessary imports otherwise the error would be module not found. I didnt write that since I thought that's implied.

[2020-04-18 14:31] pycaret commented on #18
Thanks. Can you try this on a local Jupyter notebook or Google colab and see if you can reproduce the error?

Can you also share the csv file?

[2020-04-18 15:04] pycaret commented on #19
One more question - are you using Python 32 bit or 64 bit?

[2020-04-18 15:04] pycaret opened #20 "Python 64 bit only"
Website and git documentation to mention that it supports 64 bit only.

[2020-04-18 15:05] pycaret opened #21 "URGENT HELP - conda distribution"
upload pycaret on conda cloud so that people can do conda install just like pip install.

[2020-04-18 15:18] BismeetSingh commented on #18
I get the same error on a local Jupyter Notebook. Cant attach the csv so shared the link to the file:
https://www.kaggle.com/karthickveerakumar/salary-data-simple-linear-regression

[2020-04-18 15:54] npapan69 commented on #19
I'm using MacOS Catalina and 64bit Python. The size of the csv is about 5MB with 4300 columns and 99 rows. I'm uploading here the xlsx version of it.
[test_pycaret.xlsx](https://github.com/pycaret/pycaret/files/4496923/test_pycaret.xlsx)

Thanks

[2020-04-18 16:01] TechyNilesh opened #22 "Vocab Size showing zero while using NLP (pycaret.nlp)"
Can you please provides the solution about this, I try many data but **vocab size is showing zero** and not working **create_model('lda')**, showing error _**"cannot compute LDA over an empty collection (no terms)"**_

I attached screen shot also you can see below..?
![12](https://user-images.githubusercontent.com/49296182/79642485-5c8f8b00-81bb-11ea-96c3-05170e0582d7.PNG)

[2020-04-18 16:30] npapan69 commented on #19
The problem happens using JupiterNotebooks both locally and in Google Collabs

[2020-04-18 16:53] pycaret commented on #22
Hi,

Thanks for asking. You should be passing target = 'text' because the column containing text is named 'text'. So it should be following code:

exp_nlp = setup(data=df, target='text')

Let me know how it goes.

Thanks.

[2020-04-18 16:59] TechyNilesh commented on #22
Acutely I want to compare my text classification like you provide but its not tracking TFidf vector...How we can use Text classification in your library..??

[2020-04-18 17:05] pycaret commented on #19
Hi, I will check this out and get back.

[2020-04-18 17:12] pycaret commented on #22
Hi,

Do you want to use text in your dataset to eventually build a classification model that predict label named 'target' in dataset?

Thanks.

[2020-04-18 17:18] TechyNilesh commented on #22
Yes

[2020-04-18 17:22] pycaret commented on #22
follow this code:
dataframe stored in variable df

from pycaret.nlp import *
nlp1 = setup(data=df, target = 'text')
lda = create_model('lda', num_topics = 4)
lda_results = assign_model(lda)

from pycaret.classification import *
clf1 = setup(data = lda_results, target = 'target')

# compare all models
compare_models()

[2020-04-18 17:26] TechyNilesh commented on #22
I think you should change the technique of tacking dataframe instead of that you should tack input of X(input) and Y(target) like other algorithms are tacking. Its easy for peoples

[2020-04-18 18:51] mfahadakbar commented on #19
@moezali1 can you share the details with me too? I think I experienced this issue as well, will talk to you about it

[2020-04-18 19:05] tciric-tc opened #23 "Problem with numba"
Hi everyone!
When I try to run script where I use pycaret classification module this thing happens:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3_all\envs\intelliq_risk\lib\site-packages\numba\core\typeconv\typeconv.py", line 4, in <module>
    from numba.core.typeconv import _typeconv
**ImportError: DLL load failed: The specified module could not be found.**

During handlin

[2020-04-18 19:53] ajayprakashm opened #24 "int32 issue"
Hi,
I tried to use the package for classification problem, and when i entered the dataframe with target data in setup environment and ran the code, it showed no dtype for the dataframe, but it has dtype of 'int32'. When i changed the dtype to int64, it worked. Can you fix this issue.

[2020-04-18 23:13] pycaret commented on #24
issue noted. classifying as bug.

[2020-04-18 23:15] pycaret commented on #23
Hi.

exp_clf = setup(X, target=config.Y)

Target variable should be part of dataframe X.

Looking at the code above. Question is does config.Y contains string of target col name?

Thanks.

[2020-04-18 23:16] pycaret commented on #22
PyCaret's API is built to work directly with pandas dataframe.

Closing this issue for now.

[2020-04-18 23:16] #22 closed

[2020-04-19 09:22] forestriveral opened #25 "Multi target columns"
Does it support multi target columns(two or more output features)?

[2020-04-19 11:22] anderson93 commented on #25
There is a PR about it: #https://github.com/pycaret/pycaret/pull/11

[2020-04-19 15:48] tciric-tc commented on #23
Unfortunately, X contains the target variable and config.Y is its string name.

[2020-04-19 22:02] DaGuT commented on #19
I confirm the same issue on Ubuntu 19.10 with python notebook.

It wants to eat more than 400gigs of RAM for a 6mb csv file :\

Log:

Pandas frame info:
`<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Columns: 4306 entries, Label to peritumoral_wavelet2-LLL_ngtdm_Strength
dtypes: float64(4300), int64(5), object(1)
memory usage: 4.3+ MB`

[2020-04-20 10:55] nyk510 opened #27 "Change Fold Strategy"
In pycaret, the number of k-folds can be changed by using fold as an argument.
However, the fold strategy is fixed as random split (i.e. KFold), cannot be changed by the user. For general problems, there are many cases where you want to use Group KFold or TimeSplitFold.

So I propose that allow the user to change the fold strategy by allowing them to pass an instance that inherits _BaseFold https:

[2020-04-20 12:29] pycaret commented on #27
Thanks. As of 1.0.0. Stratified K-fold is available for classification and Kfold for regression. I will mark this as an enhancements for future release to include Group Kfold, TimeSplitFold.

Somebody also asked for LWO (just writing it here so we do remember this when we are working on this).

[2020-04-20 12:31] pycaret commented on #19
@DaGuT Thanks.
@mfahadakbar Can you please have a look at #26

[2020-04-20 12:36] madazone commented on #16
I got the same issue after running the compare_models
    models = compare_models(sort='Precision')

  File "/Users/madazone/Workspace/blincks/env3.7/lib/python3.7/site-packages/pycaret/classification.py", line 3185, in compare_models
    display_id = display_.display_id
AttributeError: 'NoneType' object has no attribute 'display_id'

[2020-04-20 14:13] rkakamilan opened #28 "Specify "n_jobs" Parameters"
Currently n_jobs=-1 is set in `compare_models`, `tune_model` and so on. But I think it would be more useful if user can specify it when the calculation is done on a shared server. I would appreciate if you could consider it.

[2020-04-20 14:45] pycaret commented on #28
Thanks. Did you mean by default n_jobs shouldn't be -1 except if somebody is using on server in which case they will pass n_jobs as -1. or do you just want a parameter in each function to define n_jobs?

[2020-04-20 22:38] mfahadakbar commented on #19
@pycaret accept the pull request, its all good
@DaGuT thanks for the fix

[2020-04-20 22:41] mfahadakbar commented on #24
@ajayprakashm can you share the data? want to replicate it

[2020-04-21 01:29] rkakamilan commented on #28
Thanks. I just want to set n_jobs in each function.

[2020-04-21 08:59] ajayprakashm commented on #24
[edata.xlsx](https://github.com/pycaret/pycaret/files/4508810/edata.xlsx)

Load the data and convert data into dtype 'int32' for F1, F2, F3 and F4 and run the setup from pycaret, after executing you should see blank in data types.

[2020-04-21 11:02] sarathsurpur opened #29 "Estimator Error"
Tried regression data and catboost regressor found to be the best performing model, but after tuning the model tried to evaluate the model to view the hyperparameters got the below error
SystemExit: (Estimator Error): CatBoost estimator is not compatible with plot_model function, try using Catboost with interpret_model instead.

[2020-04-21 17:48] mfahadakbar opened #30 "compare model bugg"
compare mode failing here :
![Capture](https://user-images.githubusercontent.com/19522276/79896776-c5068400-83d6-11ea-9309-51035cc29760.PNG)

[2020-04-21 18:50] pycaret commented on #30
Can you please try after blacklist RANSAC.
compare_models(blacklist = ['ransac'])

It seems like an exception has to be built for RANSAC (because sometimes it may not converge - just like this example).

Marking this as bug for fix.

[2020-04-21 19:48] andrealbh opened #31 "How to get the value of compare_models table"
When we use the make_model/ compare_models/tune_model function, a table containing much information will be returned. Is it any function used for get a specific row/column/value of the table?

[2020-04-21 22:37] pycaret commented on #31
compare_models() returns a dataframe that has all the values. You can access it just like how you would access pandas dataframe (using loc or iloc). Other functions unfortunately, doesn't return the metric table, it only displays them.

I will mark this as an enhancement and if I get more requests like this, I will prioritize this functionality in next release.

[2020-04-21 22:40] pycaret commented on #16
Hi,

To avoid this please pass verbose = False in function. PyCaret uses html to display progress which I believe is not supported in all environment. Hence for unattended runs on servers verbose must be set to False.

Thanks.

[2020-04-21 23:00] wsn4iv opened #32 "xgboost not working"
First of all, I love this package. It is great and makes training, testing, and tuning so much simpler.

I am unable to compare or create an xgboost classification or an xgboost regression model. With the same dataset, all of the other models work except xgboost. For the classification, i get the error:
"attempt to get argmax of an empty sequence"

For the regression, i get the error:
"Found array

[2020-04-21 23:53] pycaret commented on #32
Hi,

Can you please share your specs, os, environment.

Can you also please share the dataset so I can try to reproduce an error.

Thanks.

[2020-04-22 10:07] DaGuT commented on #18
@pycaret help granted :) at https://github.com/pycaret/pycaret/pull/33

[2020-04-22 12:11] madazone commented on #16
compare_models does not support the verbose mode

[2020-04-22 12:34] pycaret commented on #16
@madazone Are you using notebook?

[2020-04-22 12:45] madazone commented on #16
No. I am running it directly from python3.7

[2020-04-22 13:10] pycaret commented on #18
@DaGuT Thank you so so much. I will start working on PR's in weeks time.

[2020-04-22 13:43] pycaret opened #36 "Ipython exceptions for python"
When using python directly Ipython is not supported hence display function doesn't work. Create an exception rule for future.

[2020-04-22 18:40] pycaret opened #37 "Unattended run in pycaret.clustering and pycaret.anomaly"
Support unattended run in clustering and anomaly by defining default value of input() in setup to "Y" when verbose is set to False. Currently verbose = False is over written internally due to supervised = False.

[2020-04-23 06:39] nasospat opened #38 "ValueError: need at most 63 handles, got a sequence of length 65"
When i try to run tune_model() on Windows server I receive the following error

`Exception in thread QueueManagerThread:
Traceback (most recent call last):
  File "d:\anaconda3\envs\pycaret\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "d:\anaconda3\envs\pycaret\lib\threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "d:\anaconda3\envs\pyca

[2020-04-23 12:43] wsn4iv commented on #32
I am using Windows 10
Python 3.7.1
pycaret 1.0.0
xgboost .90
Jupyter Notebook

Thank you for your help.

[PyCaret Test.ipynb.zip](https://github.com/pycaret/pycaret/files/4522534/PyCaret.Test.ipynb.zip)

[Social_Network_Ads.xlsx](https://github.com/pycaret/pycaret/files/4522500/Social_Network_Ads.xlsx)

[2020-04-23 13:43] Abhinandan1414 opened #40 "Some of the required packages are missing in Conda and Conda-Forge."
PackagesNotFoundError: The following packages are not available from current channels:

  - cufflinks==0.17.0
  - kmodes==0.10.1
  - datefinder==0.7.0
  - yellowbrick==1.0.1
  - datetime==4.3

Alternatives would be appreciated. Thanks in advance

[2020-04-23 14:04] wsn4iv opened #42 "Tune Model [WinError 5] Access is denied"
I am using Windows 10 and Python 3.7.1. Whenever I run tune_model() for any model, I receive a [WinError 5] Access is denied error. The full error code is attached.

Please advise.

[Error.txt](https://github.com/pycaret/pycaret/files/4522949/Error.txt)

[2020-04-23 14:53] KaitoKikuhara commented on #15
I thought to solve that problem setup.py have to be changed with the requirements file. because of requirements in setup.py too.

[2020-04-23 16:53] shamv opened #43 "Unable to enter text for regression setup in databricks"
Using pycaret.regression to build the model. But unable to enter after displaying column datatypes.

![image](https://user-images.githubusercontent.com/9548391/80126808-19fdf200-85b1-11ea-834a-6fdfcfe94fda.png)

[2020-04-23 17:27] pycaret commented on #42
Hi,

Which environment are you using? Jupyter?

Thanks.

[2020-04-23 17:27] pycaret commented on #40
@Abhinandan1414 Anything you can do to help?

[2020-04-23 17:29] wsn4iv commented on #42
Yes. I am using Jupyter Notebook

[2020-04-23 17:31] pycaret commented on #43
Databricks doesn't support input() function. We are investigating alternates. For now, try passing silent = True parameter within setup and it shall work.

[2020-04-23 17:32] pycaret commented on #43
I am marking this as en enhancement for DB compatibility in future.

[2020-04-23 17:33] pycaret commented on #23
Are you using Jupyter?

[2020-04-23 17:42] pycaret commented on #42
Can you run Jupyter Notebook as administrator and try again?

Please let me know how it goes.

[2020-04-23 17:47] pycaret opened #44 "Integrate Predictive Power Score (PPS)"
Integrate Predictive Power Score (PPS)

[2020-04-23 17:49] wsn4iv commented on #42
It is a work computer and I do not have admin access. I can create a ticket to see if our IS department can assist with running as an admin.

[2020-04-23 20:27] joaopcnogueira opened #45 "Lack of info in the create_model function documentation"
In the create_model() function, after the model has been evaluated on a kfold cross validation and its ready to be used to make predictions on unseen data, a question remained (I've read the function documnetation and didn't find an answer): Is the model trained in the entire data set?

If yes, would it be great to have this piece of information stated in the function docs?

[2020-04-23 20:31] pycaret commented on #45
Hi.

The model is not trained on the entire dataset until you you finalize_model( ) function. For example:

lr = create_model('lr') <-- this model is trained on training dataset only, the results presented in grid is CV results.

Once you are ready to deploy the model, you can check the score of model on hold-out set by using:

predict_model(lr);

Once you have checked over-fitting / under-fitting

[2020-04-23 21:34] Abhinandan1414 commented on #40
I have created package. Please try pip install --extra-index-url https://pypi.anaconda.org/Abhinandan1414/simple pycaret
I have tested it. But could some one verify it and then please close this

[2020-04-23 23:27] nasospat commented on #23
I had the same problem and I uninstalled the pypi numba with
`pip uninstall numba`
and then installed the conda version with
`conda install numba`
After that it worked fine for me.

[2020-04-24 01:08] joaopcnogueira commented on #45
Thanks for the quick answer!

Now it is clear for me. Maybe it should be more cristal clear in the documentation.

[2020-04-24 01:14] pycaret commented on #45
Thanks. Will try to improve documentation.

Closing issue now.

[2020-04-24 01:14] #45 closed

[2020-04-24 05:23] #40 closed

[2020-04-24 05:30] pycaret commented on #40
Thanks.

[2020-04-24 11:05] shamv commented on #43
Thanks team. I choose that option and worked. But there is one more issue observed.
![image](https://user-images.githubusercontent.com/9548391/80206131-7280ce00-8649-11ea-94fa-b9b4e009eb62.png)

Please add to your list and make it compatible with databricks

[2020-04-25 05:24] pycaret commented on #42
Sure. Let us know how it goes.

[2020-04-25 05:26] pycaret commented on #23
@tciric-tc Can you try what @nasospat has suggested? Please let us know how it goes.

@nasospat  Thanks for sharing.

[2020-04-25 06:56] rmill040 commented on #17
Look, this library is anything but "production ready" for serious machine learning applications. You are off to a good start but go check out any of the libraries this package depends on and see how far away the current codebase is from the level of testing, code quality, and overall effort it takes to build a production ready machine learning library. I really hope nobody is using or will be usin

[2020-04-25 12:36] xandrade opened #47 "Normalization is not working"
Hi, just noted that the example at [https://pycaret.org/normalization](https://pycaret.org/normalization) doesn't normalize all numerical columns in dataset as in the example. Instead, only the target class if data type is numeric.

[code]

[2020-04-25 12:50] xandrade commented on #47
My fault. Normalization is done to X, X_test, X_train and y, y_test, y_train.
That information cannot be understood without looking at the source code

[2020-04-25 12:50] #47 closed

[2020-04-25 12:52] xandrade commented on #10
Right, this is a by annoying. in Google Colab.

[2020-04-25 13:42] pycaret commented on #17
Thanks for your comment @rmill040.

Is there anything specific you can help us with?

[2020-04-25 14:00] nasospat opened #48 "interpret_model() problem with XGBoost regression"
I was trying interpret_model with XGBoost for a regression model and had this error

![shap_xgboost](https://user-images.githubusercontent.com/26347750/80281748-061fd080-8716-11ea-9980-28ee6bb91187.PNG)

I searched for it and seems to be a known issue of shap-0.32.1.
https://github.com/slundberg/shap/issues/887
I updated to shap-0.35.0 and the problem was fixed. Maybe you should consider not using

[2020-04-25 14:26] pycaret commented on #48
Thanks for identifying. Will do it in next release.

[2020-04-25 22:00] pycaret opened #50 "Integrate Kaggle API for datasets"
Integration. Future enhancement.

[2020-04-26 11:53] nasospat commented on #38
It seems that this is a known issue of loky library.
https://github.com/scikit-learn/scikit-learn/issues/13354
As it says loky is broken on windows with more than 60 cores. A solution could be to provide the user the ability to set the maximum cores for the processes.

[2020-04-26 12:21] reza1615 opened #53 "Feature request: training and predicting time to the compare_models"
Please add training and predicting time to the compare_models table.
![image](https://user-images.githubusercontent.com/2202483/80307397-d95fcd80-8796-11ea-99f5-7c2cac7cfe6b.png)

[2020-04-26 12:25] reza1615 opened #54 "Creating separate Models"
Please make a alternative model name's dictionary for Creating separate Models.
PyCaret doesn't recognize 'Extra Trees Classifier'
![image](https://user-images.githubusercontent.com/2202483/80307478-47a49000-8797-11ea-9136-7039806c9949.png)

It would be helpful to get the names from this table
![image](https://user-images.githubusercontent.com/2202483/80307496-6e62c680-8797-11ea-9b73-bba1f7158899.

[2020-04-26 12:34] reza1615 opened #55 "for multi-class classification AUC is 0"
![image](https://user-images.githubusercontent.com/2202483/80307695-b0403c80-8798-11ea-9ec7-fe22afd28aea.png)

[2020-04-26 13:36] reza1615 opened #56 "Showing warning message instead of error"
It would be perfect to inactive buttons for multi-class classification or showing a warning message instead of error.
![image](https://user-images.githubusercontent.com/2202483/80309149-116c0e00-87a1-11ea-9e51-3a21976682ad.png)

[2020-04-26 14:53] reza1615 opened #57 "Recursive Feature Selection is too slow"
Please make it verbose to show results in each iterations. may be stopping at the middle is useful.
I test it for [this tutorial](http://www.pycaret.org/tutorials/html/CLF101.html) and after 10min I stopped the process

[2020-04-26 14:59] reza1615 opened #58 "Set n_jobs"
How can i set n_jobs=-1

[2020-04-26 15:09] reza1615 opened #59 "Adding SGD to the model list"
Based on [here](https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html). SGD mostly recommended for data more than 100K. Please add it to the list of models to have better comparsion.

[2020-04-26 16:12] pycaret commented on #53
Thank you for your contribution. I will mark this as an enhancement for future release.

[2020-04-26 16:13] pycaret commented on #54
Hi. To create Extra Trees please use following:

create_model('et').

Read complete list of models at https://www.pycaret.org/create-model

Closing the issue.

[2020-04-26 16:13] #54 closed

[2020-04-26 16:13] pycaret commented on #55
AUC is not supported in multiclass problems. Column is kept for consistency with Binary Classification.

[2020-04-26 16:13] #55 closed

[2020-04-26 16:15] pycaret commented on #57
Marketing for investigation and future enhancement.

[2020-04-26 16:15] pycaret commented on #58
n_jobs are by default set to -1 in all processes.

[2020-04-26 16:17] pycaret commented on #59
It is already there.  To create a linear SVM model use:

create_model('svm').

SVM uses SGDClassifier() from sklearn with linear parameters to create a linear support vector machine. For radial kernel you can use:

create_model('rbfsvm')

Thanks.

[2020-04-26 16:17] #59 closed

[2020-04-26 16:18] pycaret commented on #56
Marking this as an bug / enhancement.

[2020-04-26 16:19] #48 closed

[2020-04-26 16:23] reza1615 commented on #54
I saw https://www.pycaret.org/create-model. I mean also config pycart to accept full name. Now it needs to check  https://www.pycaret.org/create-model for finding the abrivation. you can make it simple to also accept "LogisticRegression" or "lr"

[2020-04-26 16:32] reza1615 commented on #58
in the below image shows n_jobs is None
![image](https://user-images.githubusercontent.com/2202483/80313615-f0fc7d80-87b9-11ea-886b-3a62515f080f.png)

[2020-04-26 17:02] pycaret commented on #58
Actuall you are right. This is a bug.

Thanks for pointing out.

[2020-04-26 17:03] pycaret commented on #58
Re-opened and marked as bug.

[2020-04-26 17:22] shubhsoni opened #60 "Integrate custom accuracy function for CV in regression/classification?"

[2020-04-26 18:29] Riazone opened #61 "Bayesian Hyperparameter Optimization"
Hi,
I was wondering if we can have Bayesian Hyperparameter Optimization technique used instead of Random Grid. This will help with speed of tuning and allow us to scrape through much larger grid scientifically.  We can have this enhancement along with ability to add custom grid in tuning.

Thanks

[2020-04-26 20:49] pycaret commented on #61
Thanks.

Marking this as an enhancement.

[2020-04-26 20:50] pycaret commented on #60
Can you elaborate a little bit or share example?

[2020-04-27 04:02] Satinder83 opened #62 "Clustering create_model not working"
The create_model for Kmeans or other clustering seems not to be working.  I get the following error

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

even n_clusters is also not available.

Setup worked fine.

I am using colab for processing

[2020-04-27 04:03] pycaret commented on #62
This is exception. Can you share the code you are writing?

[2020-04-27 05:50] Satinder83 commented on #62
Hi,
Here is the code -

`import pandas as pd
from pycaret.classification import *

mf = pd.read_csv(mf_test_complete.csv', thousands= ',')

clf1 = setup(data = mf,
             numeric_imputation= 'mean',
             categorical_imputation = 'mode',
             create_clusters= False,
             normalize = True,
             target = 'greatstone_rating',
             ignore_features= ['fund_i

[2020-04-27 05:52] pycaret commented on #62
On top of your code you are importing classification module instead of clustering. You should import clustering module by:

from pycaret.clustering import *

[2020-04-27 07:44] Satinder83 commented on #62
This worked. Sorry, did not realize this.. I thought setup is same across pycaret modules.
Great tool you have developed

[2020-04-27 10:56] abhishekmamdapure opened #63 "Not able to fill missing values"
Hello,

According to [Missing Value Imputation](https://pycaret.org/missing-values/) section, I am trying out to fill the missing values but the syntax is not mentioned. I am in search of the syntax to impute the missing values as mentioned on the page.

I tried to use the following code but that does not work.

[code]

[code]

The above code did not work and the missing values still exist in the

[2020-04-27 12:29] vijay1057 opened #64 "Tree visulization"
Hi,

Thank You for a nice package.

Is there a way to visualize the tree output in Pycaret?
Like plot_tree or export_graphviz?

[2020-04-27 12:45] pycaret commented on #63
Can you please share the dataset and the code you are using?

[2020-04-27 12:46] pycaret commented on #62
No problem. Closing this now.

[2020-04-27 12:46] #62 closed

[2020-04-27 12:46] pycaret commented on #64
Not yet available. Can you please provide an example. Will see If we can add it in future.

[2020-04-27 13:17] vijay1057 commented on #64
I have built a multiclass classification model and want to interpret the results. Currently interpretation is not available for multiclass, please correct me if wrong.

[2020-04-27 16:02] reza1615 opened #65 "WOE Encoder"
would you please add WOE as a Encoder alternative?
[Source](https://medium.com/@sundarstyles89/weight-of-evidence-and-information-value-using-python-6f05072e83eb)
[Library for WOE](http://contrib.scikit-learn.org/category_encoders/)

[2020-04-27 19:49] npapan69 opened #66 "Confidence interval for performance metrics"
Is there any way to compute 95%CI for all performance metrics (especially the hold-out test set) since a single value doesn't really help that much to evaluate models robustness. Many thanks for the great work you have done and keep on doing.

[2020-04-27 23:27] pycaret commented on #65
Future enhancement.

[2020-04-27 23:27] pycaret commented on #66
Thanks for suggestion.

Marking as future enhancement.

[2020-04-28 00:16] soloblack opened #68 "train_test_split shuffle problem"
First of all, my English is not very good, may not express clearly. When the setup() function is executed, it is used to split the training set and the test set, shuffle param is default True. This is fine in most scenarios, but it can cause serious overfitting problems in timeseries tasks.

[2020-04-28 00:18] pycaret commented on #68
Will include shuffle parameter in setup() in future release.

Marking this as enhancement.

[2020-04-28 03:03] pycaret commented on #64
yes. shapley values are not available for multiclass problems.

[2020-04-28 03:03] #64 closed

[2020-04-28 04:55] kevin7lou opened #69 "pip installation error"
Would you pls help to check `pip` installation error? Thanks!
[code]

[2020-04-28 06:32] abhishekmamdapure commented on #63
Hello,

I am using the same dataset mentioned in the pycaret which is 'hepatitis' and the code that I have used is mentioned above.

I am looking for the syntax to fill the missing values using the pycaret library.

[2020-04-28 10:31] g2giovanni opened #72 "Get coefficients and intercept for linear regression"
How can I collect coefficients and intercept for a linear regression model I created with PyCaret?

In ScikitLearn I can do:

lm = LinearRegression()
print(lm.intercept_)
print(lm.coef_)

[2020-04-28 13:10] pycaret commented on #72
Hi.

Same way.

lr = create_model('lr')
print(lr.coef_)
print(lr.intercept_)

Thanks.

[2020-04-28 13:10] #72 closed

[2020-04-28 14:42] vishal-subedi opened #73 "No test set parameter inside the setup function"
The setup function obviously has the training and testing split size but lets say if a candidate wants to provide a separate training and testing dataset instead of passing a complete dataset and splitting it posterior to that; there is no parameter for this purpose.

[2020-04-28 15:27] pycaret commented on #73
@vishal-subedi  Thanks.

So I am thinking why would somebody have a testset separately. For a Kaggle kind of scenario your testset doesn't have label so they are used under predict_model to generate predictions. Other scenario I could think of is where somebody wants to shuffle the data outside of pycaret.

What are your thoughts and use-case behind this idea. I like the idea very much.

[2020-04-28 16:00] DaGuT commented on #69
@pycaret  this can easily be solved by letting people install more recent version of xgboost (older versions can not be compiled on recent mac machines, I had the same problem).

To author:
Just install it with
`pip install xgboost pycaret`

This will force install the latest version of xgboost and ignore requirements from pycaret (and it's okay, since they are compatible)

[2020-04-28 16:19] DaGuT commented on #19
@pycaret issue solved and can be closed?

[2020-04-28 16:20] DaGuT commented on #18
@pycaret issue solved and can be closed?

[2020-04-28 17:30] kevin7lou commented on #69
Hi @DaGuT , your method is working! Thank you a lot! 👍
Before installing pycaret, I tried to install xgboost alone with `pip install xgboost`, but the system showed the long error message with "cmake not found". In this case, I installed cmake firstly.
`pip install cmake`
Then I installed pycarent with
`pip install xgboost==1.0.2 pycaret` and ignore erros saying xgboost should be downgraded.

Than

[2020-04-28 17:30] #69 closed

[2020-04-28 19:04] nasospat opened #79 "time series kfold"
Is it possible to use k-fold for time series as skleanr uses ?
 https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

[2020-04-28 21:43] pycaret commented on #32
@wsn4iv

Sorry I cannot reproduce the issue. It works fine on my computer. I will leave this issue open and see if someone else can help.

Thanks.

[2020-04-28 21:44] pycaret commented on #28
pull request passed in dev-1.0.1.

[2020-04-28 21:44] #28 closed

[2020-04-28 21:56] #58 closed

[2020-04-29 06:06] vishal-subedi commented on #73
Lets say I am working on a credit based dataset.
Now, I currently have only 2 datasets as of today viz the train and test. Now, the testing data is very small so I want the training as well as tuning to be done on the train data itself. But the problem here is that the parameter train_size will split my training set itself into further training and hold-out set, which further reduces the accuracy.

[2020-04-29 08:44] abhishekmamdapure commented on #63
Hello,

Can I kindly get any update on this?

[2020-04-29 12:36] vishal-subedi opened #84 "Stratification issue while splitting an imbalanced dataset"
Hey, I was trying to implement an imbalanced dataset while I got this error:

_-> 1439         X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1-train_size, stratify=y, random_state=seed)
   1440         progress.value += 1
   1441

~\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py in train_test_split(*arrays, **options)
   2139                      random_state=r

[2020-04-29 12:38] moezali1 commented on #84
Can you share the dataset so we can reproduce the issue.

[2020-04-29 12:41] moezali1 commented on #73
Seems like a good idea. Would you like to work on this? This would require change in setup function for classification and regression.

You can send the PR on dev-1.0.1 branch.

[2020-04-29 12:42] vishal-subedi commented on #84
I am afraid I can't do so as I am working on a real life dataset and comes under the nondisclosure part of the project. In order to reproduce the issue, an imbalanced dataset could always be synthesized, or in that case, any other imbalanced dataset could serve the purpose.

[2020-04-29 12:59] pycaret commented on #84
ok one question. Are there less than 10 instances of minority class?

[2020-04-29 13:06] pycaret commented on #63
@abhishekmamdapure The missing values are imputed automatically. See an example how you can see imputed values.

from pycaret.datasets import get_data
data = get_data('hepatitis')

from pycaret.classification import *
clf1 = setup(data, target = 'Class')
clf1[0]

See how NaN is imputed on instance 3 in STERIOD column.

[2020-04-29 13:35] #42 closed

[2020-04-29 13:36] #23 closed

[2020-04-29 13:56] vishal-subedi commented on #84
No, there are around 2500 instances of the minority class in the complete dataset(test+train)

[2020-04-29 13:58] vishal-subedi commented on #73
Ya sure, will try my best to come up with a solution, although I am new to this platform. Will take some time to analyze the basic functions.

[2020-04-29 16:47] #63 closed

[2020-04-29 17:12] wsn4iv commented on #32
I figured it out. I had multiple versions of xgboost installed on my computer and pycaret was referencing the wrong one.

Thank you for looking into this. You may close the ticket.

[2020-04-29 17:35] #15 closed

[2020-04-29 17:53] pycaret commented on #19
@DaGuT yes. closing the issue now.

Thanks.

[2020-04-29 17:53] #19 closed

[2020-04-29 17:53] pycaret commented on #10
@xandrade Do you happen to know the solution for this? by any chance.

[2020-04-30 10:44] asafmaman101 commented on #20
Hi,
Would like to take that one.
The git documentation references to the README file? Also, where can I find the source code of the website?
Thanks.

[2020-04-30 14:05] wsn4iv opened #88 "Correlation Feature Selection"
When using the interpret_model correlation plot, can you select the two specific features for the correlation?

[2020-05-01 09:23] ngupta23 opened #89 "Passing custom grid to the tune_model function"
Can we pass a custom grid to the `tune_model` function? I looked at the code on github and it seems that this can be added fairly easily through an argument and passed to the model object.

Reference: [Discussion on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6661097050945519616?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6661097050945519616%2C6661456303426191360%29)

[2020-05-01 09:24] ngupta23 opened #90 "Customizing model parameters in create_model and tune_model"
Can we customize the model parameters in `tune_model` and `create_model` functions? Again it seems that is should be straightforward to do this with a **kwargs argument.

Reference: [Discussion on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6661097050945519616?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6661097050945519616%2C6661456303426191360%29)

[2020-05-01 09:25] ngupta23 opened #91 "Adding a custom wrapped Scikit learner to the PyCaret framework"
Can I add a custom (proprietary) model that has already been wrapped into Scikit-learn into the PyCaret framework (for regression and classification)?

Reference: [Discussion on LinkedIn](https://www.linkedin.com/feed/update/urn:li:ugcPost:6661097050945519616?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A6661097050945519616%2C6661456303426191360%29)

[2020-05-01 12:00] ngupta23 commented on #90
Please see https://github.com/pycaret/pycaret/pull/92 to these enhancements to the classification module. If this looks good, I can make similar changes to the regression and clustering module as well.

Here are examples to try out this new functionality

# Load Data and Environment
[code]

# Create Models

## Extra Trees Example

[code]

## Neural Network Example
[code]

## XGBoost
[code]

# Tune

[2020-05-01 22:50] ngupta23 commented on #79
Just my 2 cents...The models in PyCaret don't seem suitable for use with correlated data. What model do you wan to use with your time series data?

[2020-05-02 02:30] sid-the-coder opened #96 "PyCaret is unable to scale for large datasets"
I'm facing some issue with the setup() while using this dataset which contains 4357336 rows and 26 columns.

Here's the Kaggle link:
https://www.kaggle.com/c/pubg-finish-placement-prediction/data

I tried to run my scripts on Google Colab using GPU/TPU but I am facing similar issues. It crashes after confirming the feature types.

Is this supposed to happen for large datasets. If yes, how do I rec

[2020-05-02 14:16] pycaret commented on #96
@sid-the-coder

Hi Sid. This is due to a reported bug. Will be fixed in next version.

Thanks for reporting.

[2020-05-02 14:18] pycaret commented on #91
@ngupta23 There is no functionality for custom object but it should not be a problem if its already wrapped around sklearn API but I think other dependencies will not work with that for example yellowbricks in plot_model won't work and shap in interpret_model will not work etc. We have to think a little bit about broader implications.

Maybe 3 - 4 releases down the road we can pick this up.

[2020-05-03 11:10] nasospat commented on #79
@ngupta23 this link may help you underastand why in some cases we need TimeSeriesSplit
https://www.kaggle.com/kashnitsky/correct-time-aware-cross-validation-scheme

[2020-05-03 12:12] ngupta23 commented on #91
Yes, that makes sense. I think it might still work with yellowbrick, but not sure about the SHAP functionality yet. I am also fairly new to wrapping custom models in scikit so will probably know better in a few weeks, once I have played more with it.

[2020-05-03 12:18] ngupta23 commented on #79
I understand the concept of time series cross validation, but that is only useful if the algorithms can take advantage of the serial correlation in the data. As far as I can see, none of the algorithms in the PyCaret framework do that.

Which particular algorithm in PyCaret did you want to use for time series analysis?  If you are just using Logistic Regression, then you don't need the time series

[2020-05-03 12:50] nasospat commented on #79
Training and evaluating machine learning models require a training set and a test set. In most cases, train and test splitting is done randomly by taking a percent of the data as test data, unseen by the model and using the rest for training.  There are some cases when dealing with time-related and dynamically changing environments, where the characteristics of the environment change throughout ti

[2020-05-03 17:44] alittlesliceoftom opened #100 "Make easier to make compare_models run fast. E.g. Whitelist or Turbo Levels or Train Time Limit Per Model"
Firstly, really enjoying exploring the library, it's cool, great work!

Secondly, as i first test this library out, the first thing that frustrated me is that compare_models() runs for a very long time at full CPU, without viable exit options, and no saved state.  That means that if I decide to just press compare_models() as seems natural, I bear a risk of getting towards the end of comparison, an

[2020-05-03 18:41] shubhsoni commented on #60
Sorry for incomplete info...
Below is an example of custom function used for tuning (could also be used during 'setup' itself)

##custom error function
def error_fun(y_true, y_pred):
    return np.sqrt(mean((np.log(y_true) - np.log(y_pred))**2))

##use user define error function
hb = tune_model('huber', optimize=error_fun)

[2020-05-04 04:14] pycaret commented on #100
Thank you for suggestion.

I am working this as enhancement for next release

[2020-05-04 04:16] pycaret commented on #91
Tagging this as enhancement.

[2020-05-04 04:17] pycaret commented on #89
Thanks. Will be added in next release.

Tagging this as enhancement.

[2020-05-04 04:18] pycaret commented on #84
Hi.

We are adding shuffle parameter in next release. It should solve this problem.

Thanks.

[2020-05-04 04:26] ngupta23 opened #101 "Dev branch showing 11 folds instead of 10"
I am getting results back from 11 folds (0 to 10) using the code on the dev branch. Is this expected?

![image](https://user-images.githubusercontent.com/33585645/80936129-60afd100-8d95-11ea-92f7-cefcf909811e.png)

[2020-05-04 04:29] pycaret commented on #101
No. Is it colab? Apparently the last fold is repeating. See the results of fold 10 matches with fold 9.

[2020-05-04 04:37] ngupta23 commented on #101
No, this is VSCode. Apparently `tune_model` is working fine so the issue may be specific to `create_model`.

![image](https://user-images.githubusercontent.com/33585645/80936492-044db100-8d97-11ea-9398-f8e335f26c0b.png)

[2020-05-04 04:38] ngupta23 commented on #89
I can submit a pull request if you like...

[2020-05-04 04:40] pycaret commented on #89
I have worked on this already. If you can, can you please see if you can permutation plot and partial dependence in plot_model function. They are released in >0.21

[2020-05-04 04:41] pycaret commented on #89
Released in sklearn.

[2020-05-04 04:42] ngupta23 commented on #101
Also, may be specific to the classification module. Regression module runs fine.

![image](https://user-images.githubusercontent.com/33585645/80936673-c69d5800-8d97-11ea-8e36-5f6c5821782a.png)

[2020-05-04 04:48] ngupta23 commented on #89
Sure, I will have a look at it and see if I can add it.

[2020-05-04 04:52] ngupta23 commented on #79
I think there are 2 things here - time series CV splitting and the model actually taking advantage of the serial data. The former will only ensure that the future correlated data points don't leak into the test set. The latter will require models like ARIMA, VARS, RNNs (and its variants), etc which are not supported by pycaret at this time.

In any case, I will work on a pull request to pass a cus

[2020-05-04 05:07] pycaret commented on #101
@ngupta23 question for you. When you run the code in VSCODE. Do you also see a processing bar that stays there in output. Do you also have similar experience? For some reasons it's not clearing output of progress bar in VScode. Would you know why?

[2020-05-04 10:14] skwolvie opened #102 "OverflowError: cannot convert float infinity to integer"
![image](https://user-images.githubusercontent.com/22741452/80956103-276f7380-8e1e-11ea-949f-3eec575ae0c4.png)

![image](https://user-images.githubusercontent.com/22741452/80956129-33f3cc00-8e1e-11ea-8f02-053c0578c484.png)

[2020-05-04 10:54] DaGuT commented on #96
after https://github.com/pycaret/pycaret/pull/103 this pull request is merged you will be able to install fixed version of pycaret via `pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

That way you will not have to wait for stable release or do changes manually

[2020-05-04 12:25] ngupta23 commented on #101
I see the progrsss bar alright. It shows the right number of folds and stays on till the end, but does not persist after the cross validation is done.

### While cross validation is being performed (shows correct number of folds)

![image](https://user-images.githubusercontent.com/33585645/80965492-3af7eb80-8dd8-11ea-9665-23aa71d37bc0.png)

### After CV is completed (shows the extra line item for

[2020-05-04 12:48] pycaret commented on #102
Hi.

Can you please the dataset so I can try to reproduce error.

Thanks

[2020-05-04 13:24] DaGuT commented on #102
When you load the dataset, just add `.replace([np.inf, -np.inf], np.nan)`

E.g.
`pd.read_csv('./whatever.csv', sep=',').replace([np.inf, -np.inf], np.nan)`

This might solve the issue. Dunno, if I should do it at pycaret level. But if you want, I can make a pull request with fix.

[2020-05-04 13:42] pycaret commented on #101
Strange. for some reasons by progress bar doesn't go away. It sits at the bottom in VScode. In other environments like Jupyter notebook it works fine. Any guesses why? I am using VSCode 1.44.2 and executing python in VScode using kernel

[2020-05-04 13:46] fcakyon commented on #21
tried to add auto-publish to anaconda cloud via github actions in my fork but having conflicts between package versions https://github.com/fcakyon/pycaret/runs/611534708?check_suite_focus=true

[2020-05-04 13:47] pycaret commented on #102
@DaGuT Where do you propose to make this fix? preprocess.py?

[2020-05-04 13:51] reza1615 opened #104 "DummyRegressor and DummyClassifier"
I suggest to have all possible DummyRegressor and DummyClassifier in compare model to have a baseline for comparing the results.

[2020-05-04 14:47] DaGuT commented on #102
No, I propose to make changes in setup function, that is classification.py, regression.py and clustering

https://github.com/pycaret/pycaret/pull/105

Honestly, I feel It's better to make a new function in utils.py to fix this issue in 1 place and then call it in all three places so that if you'd want to modify the fix, you would not have to do it multiple times. So you can reject my PR and ask me

[2020-05-04 15:35] azharirfan opened #106 "Allow using custom cost function (optimize_threshold() function) with in create_model(), Tune_model() and ensemble_model() functions"
At present, the custom cost function (optimize_threshold() function) is a standalone function that provides the optimum threshold probability given the cost values of TP/TN/FP/FN. Request is to allow the usage with in the create_model(), Tune_model() and ensemble_model() functions (and others where possible) so that the resultant probabilities & label is optimized using the custom cost function in

[2020-05-04 15:39] azharirfan opened #107 "During Setup, allow user to specify columns that should not be removed while calculating Feature Selection or Variance"
Using real life data, there are instances where the user requires some columns to remain in the final cleaned data set, even though these columns may not be able to pass the Feature Selection or Variance tests and would be removed otherwise. Hence allow user to pass the names of such columns that should be part of the final data before the modeling is initiated.

[2020-05-04 19:01] xandrade commented on #10
Just tried this in Google Colab:

def testing():
  """
Help on function create_model in module pycaret.regression:

create_model(estimator=None, ensemble=False, method=None, fold=10,
round=4, verbose=True)
    Description:
    ------------
    This function creates a model and scores it using Kfold Cross Validation.
    (default = 10 Fold). The output prints a score grid that shows MAE, MSE,
    R

[2020-05-05 18:02] cryptonaut1357 commented on #18
i have the same issue - one numeric, one label data type

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-18-cb3d7795c377> in <module>()
      1 from pycaret.regression import *
----> 2 exp1 = setup(df, target = 'y')

~\Anaconda3\lib\site-packages\pycaret\regression.py in setup(d

[2020-05-05 19:35] DaGuT commented on #18
@cryptonaut1357
dev version 1.0.1 has this problem fixed. You can install it with:
`pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

Or you can apply changes yourself:  https://github.com/pycaret/pycaret/pull/70/files

[2020-05-06 03:42] pycaret commented on #107
Tagging this as enhancement.

[2020-05-06 04:10] pycaret commented on #104
@reza1615 Which algorithm these classes use? sklearn documentation doesn't recommend using these? isn't it?

[2020-05-06 10:48] reza1615 commented on #104
@pycaret: Dummy models are just for comparing and we can compare nominated model with the worst case scenario (Dummy models).
Sklearn define them to have a baseline.

[2020-05-06 11:08] reza1615 commented on #104
@pycaret You removed the history https://github.com/pycaret/pycaret/graphs/contributors
I don't contribute here

[2020-05-06 11:08] #104 closed

[2020-05-06 11:09] reza1615 commented on #65
@pycaret You removed the history https://github.com/pycaret/pycaret/graphs/contributors
I don't contribute here

[2020-05-06 11:09] #65 closed

[2020-05-06 11:09] reza1615 commented on #57
@pycaret You removed the history https://github.com/pycaret/pycaret/graphs/contributors
I don't contribute here

[2020-05-06 11:09] #57 closed

[2020-05-06 11:09] reza1615 commented on #56
@pycaret You removed the history https://github.com/pycaret/pycaret/graphs/contributors
I don't contribute here

[2020-05-06 11:09] #56 closed

[2020-05-06 11:09] reza1615 commented on #53
@pycaret You removed the history https://github.com/pycaret/pycaret/graphs/contributors
I don't contribute here

[2020-05-06 11:09] #53 closed

[2020-05-06 12:57] pycaret commented on #53
@reza1615 Is it only showing contribution on master branch?

[2020-05-06 15:24] reza1615 commented on #53
I had [this](https://github.com/pycaret/pycaret/pull/74) commit  after you reuploaded the file all history removed [here ](https://github.com/pycaret/pycaret/commits/dev-1.0.1/pycaret/classification.py)

[2020-05-06 21:29] azharirfan opened #108 ""Cox and Snell R2" and "Nagelkerke R2" for Logistic Regression like in SAS"
SAS Software displays "Cox and Snell R2" and "Nagelkerke R2" for Logistic Regression. A number of organizations and Senior Management are used to seeing the R2 for Logistic Regression. Hence please see if similar calculations(s) be replicated in pycaret for Classification.

SAS Usage: https://communities.sas.com/t5/Statistical-Procedures/Cox-Snell-and-Naglekerke-R-squares/td-p/162734

[2020-05-07 04:53] yogesh5c4 opened #109 "Unable to install Pycaret"
Description
While trying to install Pycaret package, I am getting the below error :
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\Users\SasanapY\AppData\Local\Continuum\anaconda3\Anaconda64bit\Library\bin\tbbmalloc.dll'
Consider using the --user option or check the permissions.

Expected behavior:
I expected to install pycaret package
Actual behav

[2020-05-07 06:42] yogesh5c4 commented on #109
I am getting below error after fixing the above error :
SystemExit: (Type Error): spacy english model is not yet downloaded. See the documentation of setup to see installation guide.

[2020-05-07 10:15] Davisy opened #110 "Catboost version problem while installing pycaret"
I got this error while installing pycaret

ERROR: Could not find a version that satisfies the requirement catboost==0.20.2 (from pycaret) (from versions: none)
ERROR: No matching distribution found for catboost==0.20.2 (from pycaret)

[2020-05-07 11:16] DaGuT commented on #110
already fixed in dev-1.0.1 version

[2020-05-07 11:23] DaGuT commented on #109
Run in console in your enviroment
`python -m spacy download en_core_web_sm`

It'll load the english model and should work

[2020-05-07 11:37] yogesh5c4 commented on #109
Hi After loading spacy for english, I ran below code :

[code]

It worked..but when I run below code..its again generating error :

**Code :**
[code]

**ERROR:**
root:Internal Python error in the inspect module.
Below is the traceback from this internal error.
Traceback (most recent call last):
  File "C:\Users\SasanapY\AppData\Roaming\Python\Python37\site-packages\pycaret\nlp.py", line 115, in se

[2020-05-07 11:48] DaGuT commented on #109
Hm... That's weird.

Please, try
`python -m spacy download en`

Will it solve the issue?

[2020-05-07 11:51] yogesh5c4 commented on #109
Any other solution to think about?

[2020-05-07 11:52] DaGuT commented on #109
Yes,
`https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz`

This helped some people

[2020-05-07 11:59] DaGuT commented on #109
If you are running python notebook, then you can add
`!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz` at the beginning. This might install it under correct enviroment.

[2020-05-07 11:59] yogesh5c4 commented on #109
I tried that option already and it didnt work out

[2020-05-07 12:00] yogesh5c4 commented on #109
ok let me try this

[2020-05-07 12:04] DaGuT commented on #109
yet another suggestion:

`pip install --user https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz`

I'm just not good at anaconda things (I was never using it, so no idea how that works with storing packages for different enviroments), so if you fixed the first problem with adding --user (and I'm almost certain you did that), package was not

[2020-05-07 12:08] yogesh5c4 commented on #109
No difference...I have tried all options now and still the same issue persists..

[2020-05-07 12:15] DaGuT commented on #109
Just to make sure, there was '--user' added. Did you try with that?

Anyway, I suggest to reboot your computer first, then create new enviroment and install everything again without --user (I think that's the cause of the problem).
Also, when you open your cmd, run it with administrator privileges (right click -> run as admin)

[2020-05-07 12:20] yogesh5c4 commented on #109
I tried with --user added and downloaded in anaconda prompt and as well in jupyter notebook...But it didnt worked still

[2020-05-07 12:21] DaGuT commented on #109
Also, when you open your cmd, run it with administrator privileges (right click -> run as admin)

Please, try it :)

[2020-05-07 12:41] yogesh5c4 commented on #109
Now everything is working fine..One more question to add here..How to define topic number?

[2020-05-07 12:54] DaGuT commented on #109
Sorry idk. I really have not used the package yet. I was just asked to make it work by my chief (there was a bug) xD and after that I'm here. @pycaret ,

:DDD
__
Glad that everything worked.

[2020-05-07 14:19] azharirfan commented on #108
This is the math used by SAS to calculate the values:
https://support.sas.com/resources/papers/proceedings/proceedings/sugi25/25/st/25p256.pdf

Others:
https://web.archive.org/web/20130701052120/http://www.ats.ucla.edu:80/stat/mult_pkg/faq/general/Psuedo_RSquareds.htm
http://wlm.userweb.mwn.de/ST004.pdf
https://stats.idre.ucla.edu/other/mult-pkg/faq/general/faq-what-are-pseudo-r-squareds/

[2020-05-07 15:24] kdash-code opened #111 "Error Installing PyCaret"
I'm having trouble installing PyCaret and hoping for some assistance.

Here is a snippet of the installation process but it seems to error out around "Building wheels for collected packages: shap".  I'm a little lost so any help would be appreciated.

Requirement already satisfied: pandocfilters>=1.4.1 in ./anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~

[2020-05-07 15:29] sathishkumar369 opened #112 "can't able to control default parameters in DBSCAN clustering"
![dbscan issue](https://user-images.githubusercontent.com/40235632/81315479-f904c900-90a7-11ea-9f51-c6a2b3851e80.png)

I tried dbscan clustering to find outliers in data.the default parameters in dbscan are "eps=0.5" and min_samples=5.etc. I need to change this parameter values as like scikit learn supports. when I try to
modify the parameter values in dbscan module it's raising an error like " cr

[2020-05-07 15:57] DaGuT commented on #111
You have few options:
1) `pip install shap pycaret`
2) `pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

Please, try them out and see if to works

[2020-05-07 16:08] DaGuT commented on #112
It's because kwargs are not accepted and passed to a model, so you cant control it yet. You need to do something similar to https://github.com/pycaret/pycaret/pull/92 for clustering if you want it to work.

If you dont want it, I can do it for ya these holidays
[code]

[2020-05-07 16:18] kdash-code commented on #111
@DaGuT Thank you immensely for the solution and the quick response!
Option 3 worked in my case.

[2020-05-07 16:18] #111 closed

[2020-05-08 11:02] Davisy commented on #110
thanks

[2020-05-08 11:03] #110 closed

[2020-05-08 11:43] xandrade opened #113 "remove_multicollinearity parameter ignored"
Team, based on the documentation, the parameter `remove_multicollinearity` (for regression and classification) shouldn't drop the features with high correlation between the features and with the target. I tried with my own dataset and PyCaret's dataset, but these correlated features are always dropped. There are cases where you must keep all features (just a gentle warning should be enough).

This

[2020-05-08 12:49] zhaozhongfeng1990 opened #114 "pmml"
how to convert model to pmml .Thanks for this great library and continuous support.

[2020-05-08 13:43] pycaret commented on #114
@zhaozhongfeng1990  Unfortunately at this point you can only save it as a pickle file. PMML is not supported. I will tag this is enhancement for future and see if somebody would like to work on this.

[2020-05-08 13:59] pycaret commented on #113
@xandrade Thanks for your question. Very good one indeed.

Frequency and Monetary is 100% correlated that's why one of them is randomly removed. This is not a function of remove_multicollinearity.

100% correlated is forced remove because we had to avoid dummy variable trap when one-hot-encoding is performed.

Unfortunately this is one of those scenarios where two numeric values "Frequency" and "M

[2020-05-08 13:59] #113 closed

[2020-05-08 14:00] pycaret commented on #112
@sathishkumar369 Unfortunately **kwargs is not supported at the moment. We have included this for our next release that is coming out soon. (in few weeks).

Tagging this issue as an enhancement.

[2020-05-08 16:52] xandrade commented on #113
Probably it wasn't the best example, but there are many. For example, imagine you have a two pressure sensors. You can calculate the diferencial pressure too and add this as a feature (example of process oil and gas). In this cases, there is a high correlation, not equal to 1 but close. However, the 3 features must be used and my any means excluded, otherwise the model will be biased....

Please,

[2020-05-08 19:23] pycaret commented on #109
@DaGuT and @yogesh5c4

Hi. sorry for late response. The number of topics can be defined using num_topics parameter within create_model.

Check https://pycaret.org/nlp/ for more details.

@DaGuT You can close this issue if the original question of installation is already addressed, which I believe is done. Thanks for your help.

[2020-05-08 20:30] hakobjan opened #115 "Amazon SageMaker Studio installation"
Getting multiple error massages while trying to pip install pycaret  in Amazon SageMaker Studio.

`ERROR: Command errored out with exit status 1: /opt/conda/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-ysd97u4u/shap/setup.py'"'"'; __file__='"'"'/tmp/pip-install-ysd97u4u/shap/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().r

[2020-05-09 03:49] ZMSun99 opened #116 "pip install error"
<img width="651" alt="截屏2020-05-09 上午11 48 49" src="https://user-images.githubusercontent.com/52390746/81463288-0e364080-91eb-11ea-9912-f7f4455badbc.png">

[2020-05-09 04:10] #116 closed

[2020-05-09 04:14] pycaret commented on #90
This feature will be available in next release.

Tagging this as enhancement.

[2020-05-09 04:15] pycaret commented on #84
Marking this as an enhancement.

[2020-05-09 04:16] pycaret commented on #88
@wsn4iv

Unfortunately not at the moment. It should be an easy change. I will tag this as an enhancement.

Thanks.

[2020-05-09 04:16] pycaret commented on #106
@azharirfan Good suggestion.

Tagging this as an enhancement for future.

[2020-05-09 04:17] #101 closed

[2020-05-09 04:17] pycaret commented on #108
@azharirfan thanks for sharing.

I will mark this as an enhancement for future.

[2020-05-09 08:50] eliwchen opened #117 "typeError: can only concatenate str (not "float") to str"
I get the typeError, when I  import a  dataset.
The detail is below.

TypeError                                 Traceback (most recent call last)
<ipython-input-25-819900f202da> in <module>
----> 1 s= setup(data,target="price",categorical_features=cat_feat)

~\AppData\Roaming\Python\Python37\site-packages\pycaret\regression.py in setup(data, target, train_size, sampling, sample_estimator, categori

[2020-05-09 20:03] robert-hoyt opened #118 "Error message installing to Jupyter Notebooks"
I was able to install Pycaret to CoLab but not Juptyer Notebooks via Anaconda. Pycaret will load and almost complete but each time regardless of how I install it (pip, conda) (terminal, Notebook) I get an error message
ERROR: Command errored out with exit status 1:
     command: /Applications/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/4c/zjb0

[2020-05-10 12:29] tianflame commented on #117
I encountered the same problem. I checked my dataset and found that the column name of my DataFrame is NOT "str" type but "int" type. So I give each column one name with string type and the problem is solved.

[2020-05-10 12:32] tianflame opened #119 "Is there any function to treat imbalanced data in classification task in pycaret now?"
My dataset has imbalanced samples for positive and negative labels in a classification task.Is there any function that can be used to treat imbalanced data in classification task in pycaret now? Thanks!

[2020-05-10 14:12] DaGuT commented on #109
I cant close issues :)

but yeah, @yogesh5c4 close the issue, pls

[2020-05-10 17:16] TonyTnT opened #120 "TypeError: 'int' object is not iterable"
when i loading my data it shows that
![image](https://user-images.githubusercontent.com/43055856/81505830-d6331880-9324-11ea-8a21-1b23aa65e379.png)

i think there is no problem in my data
![image](https://user-images.githubusercontent.com/43055856/81505848-f531aa80-9324-11ea-9511-ec64cb7831fa.png)

this is my data
![image](https://user-images.githubusercontent.com/43055856/81505818-bef42b00-9324-1

[2020-05-10 20:30] pycaret commented on #120
Hi.

Can you try changing your col names so that they are string. I can see they are named as 1,2,3,4 etc. Can u force them into string? Adding a character in-front or after should do the trick for now.

I am tagging this as a bug to be fixed in next release.

Let me know how it goes?

[2020-05-10 21:25] sanzgiri opened #121 "Processing forever when run in Google Colab. How do you auto-accept inferred datatypes?"
Even with a very small dataset, the setup step takes forever on Google Colab. Looks like it is waiting for response to this prompt "Following data types have been inferred automatically, if they are correct press enter to continue or type 'quit' otherwise." - but I am not able to provide any input within Google Colab = - pressing enter does nothing.  Is there a way to "auto accept" the inferred da

[2020-05-10 21:26] #121 closed

[2020-05-10 21:27] sanzgiri commented on #121
never mind, the prompt is there, just didn't notice

[2020-05-10 21:48] pycaret commented on #119
Not at the moment unfortunately. Tagging this as an enhancement for future.

[2020-05-10 21:49] pycaret commented on #117
Known bug. working on a fix for next release.

Tagging this as Bug.

[2020-05-10 21:50] pycaret commented on #118
Can you give more details about your system, OS etc?

[2020-05-10 21:50] pycaret commented on #115
@hakobjan I don't know how to resolve that. I will keep it open and tag it for help needed and see if somebody can respond.

[2020-05-10 21:52] pycaret commented on #102
@DaGuT I am holding-off on the PR for this one. I have contacted the author of preprocess.py and he is looking for a fix into preprocess.py since it serves all other module, it makes sense to fix it in one place.

Thanks.

[2020-05-10 21:53] pycaret commented on #121
@sanzgiri  Thanks.

[2020-05-10 23:51] robert-hoyt commented on #118
Sorry I didn't include that. I have a Mac Air 2019 laptop running 10.15.4 (Catalina)

[2020-05-11 01:33] TonyTnT commented on #120
i try to force the columns' name into string, it does work
thanks for your help

[2020-05-11 01:33] #120 closed

[2020-05-11 07:35] Spartacus8080 commented on #109
import en_core_web_sm
nlp = en_core_web_sm.load()

[2020-05-11 07:37] #109 closed

[2020-05-11 17:03] DaGuT commented on #118
Hi,

Yes, there was a problem with setup.py file

Feel free to install dev version that already installs well and have plenty of bugfixes:
`!pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

[2020-05-11 17:04] DaGuT commented on #115
Please, try `!pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip` and show the error message if it still gives an error.

[2020-05-11 17:36] robert-hoyt commented on #118
I did install the dev version (zip file) and the exact error once again appeared

[2020-05-11 17:40] robert-hoyt commented on #118
I may be incorrect that it was the same error. Here is the most recent error message

 ERROR: Command errored out with exit status 1:
     command: /Applications/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/4c/zjb0c1753g70dgrrsb3xy6c80000gn/T/pip-install-ghl0_roz/xgboost/setup.py'"'"'; __file__='"'"'/private/var/folders/4c/zjb0c1753g70dgrrsb3xy

[2020-05-11 18:03] hakobjan commented on #115
Gives the exact same Error

[2020-05-11 18:20] DaGuT commented on #118
Hm, that's trully weird, as latest version of xgboost comes precompiled for most of systems.

You have few options:
Try to find version of xgboost that is precompiled for you
`pip install xgboost==VERSION pycaret`
where version can be: 1.1.0rc2 , 1.0.2 , 0.90 (try each)

or

you can install cmake to your system and install dev version of pycaret again.

[2020-05-11 18:32] pycaret commented on #118
@DaGuT Hi.

Could it be because our requirements.txt still says xgboost>=0.9.

Do you think changing that will fix the problem? I can do commit now.

Thanks.

[2020-05-11 18:34] DaGuT commented on #118
No, it was a problem and it was just ==
At the time, those version are not compiled for some system and were causing errors installing xgboost due to missing compilers.

After we've changed it to xgboost to >= we load new stable version, the most recent version is now fully okay with everything.

[2020-05-11 18:37] DaGuT commented on #115
As far as I know there is only xgboost that can come non-compiled from devs.

Idk if you can install linux packages on  ASS, but if you can, then:
`sudo apt-get install build-essential libssl-dev libffi-dev python-dev python-pip libsasl2-dev libldap2-dev`

If not, then try to install other version of xgboost
`pip install xgboost==VERSION`
where version can be: 1.1.0rc2 , 1.0.2 , 0.90 (try each)

i

[2020-05-11 19:07] robert-hoyt commented on #118
When I listed the installed Python packages I am using with Anaconda, xgboost was not part of them. I did manually install xgboost version 0.9. When I then tried to install PyCaret using the zip dev file pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip

This is the error message

 via Collecting xgboost>=0.90 (from pycaret==1.0.1)
  Using cached https://files.pythonhosted.org/p

[2020-05-11 19:11] DaGuT commented on #118
what the heck xD
If you have installed version why does it even tries to install it again?

then install it with
`pip install xgboost==0.90 https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

This will surely keep your xgboost 0.90 version and force install pycaret with it

[2020-05-11 19:13] robert-hoyt commented on #118
I did use the script above with the following error

Collecting https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip
  Using cached https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip
Collecting xgboost==0.90
  Using cached https://files.pythonhosted.org/packages/96/84/4e2cae6247f397f83d8adc5c2a2a0c5d7d790a14a4c7400ff6574586f589/xgboost-0.90.tar.gz
    ERROR: Command errored out with exit

[2020-05-11 19:15] DaGuT commented on #118
100% xgboost is installed under different enviroment

Install
`conda install -c conda-forge xgboost`
and then install pycaret again

[2020-05-11 19:19] DaGuT commented on #118
or you can install
`xcode-select --install`
or
`sudo xcode-select --reset
`
You have mac, dont you?

[2020-05-11 19:24] robert-hoyt commented on #118
I had already tried the above scripts conda install -c forge xgboost and tried to install with both pip install pycaret and the dev package, both generating errors. I have a Mac

[2020-05-11 19:32] DaGuT commented on #118
Oh, I thought "I did manually install xgboost version 0.9" meant that it worked :\

Nevertheless, please try https://github.com/pycaret/pycaret/issues/118#issuecomment-626904522

[2020-05-11 19:34] DaGuT commented on #118
If you have brew on you system you can install
'brew install cmake'
and then install xgboost==1.0.2

[2020-05-11 19:57] robert-hoyt commented on #118
The code you mentioned produces syntax errors

[2020-05-11 19:59] robert-hoyt commented on #118
I installed xcode-select on my Mac and then a developer file. Using the terminal I installed PyCaret using the zip file, as before. It appeared to install ok, so I thought I would check to see by writing
from pycaret.utils import version
version()

This generated

 ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-8-2109eb7d3e84> in <module>
----> 1 from py

[2020-05-11 20:00] DaGuT commented on #118
wtf :D

Try install normal pycaret then (`pip install pycaret`), please. Anyway, xgboost was installed, which means it's already great.

[2020-05-11 20:04] robert-hoyt commented on #118
It downloaded multiple packages with only a few minor error messages. When I then asked for the from pycaret.utils import version
version().   it said 1.0. I think it is installed. Is there any other script I can write to confirm it is installed ok? Many thanks

[2020-05-11 20:11] pycaret commented on #118
@robert-hoyt

If you are using Jupyter notebook try running this:

from pycaret.datasets import get_data
data = get_data('boston')

from pycaret.regression import *
s = setup(data, target = 'medv', silent=True, session_id=123)

compare_models()

Let us know if it works?

[2020-05-11 20:19] robert-hoyt commented on #118
That started PyCaret and the usual pipeline. It did stop and give the following message
----
OSError                                   Traceback (most recent call last)
<ipython-input-11-88fdd56eca18> in <module>
      3
      4 from pycaret.regression import *
----> 5 s = setup(data, target = 'medv', silent=True, session_id=123)
      6
      7 compare_models()

/Applications/anaconda3/lib/python

[2020-05-11 20:24] robert-hoyt commented on #118
The simple commands like head (), describe () and info () all work so I assume PyCaret is working  properly in Jupyter Notebook

[2020-05-11 20:32] robert-hoyt commented on #118
Many thanks. I'll close this string. Can't thank you enough

[2020-05-11 20:32] #118 closed

[2020-05-11 20:32] robert-hoyt commented on #118
Many thanks to DaGuT for sticking by me until the issue was resolved

[2020-05-11 21:42] DaGuT commented on #118
Ow, I also had that (or similar) problem.

As far as I remember I just installed `pip install lightgbm`, but then I was getting errors so I had to install brew to install 'libomp' and then install lightbgm again.

[2020-05-12 05:21] reaCodes opened #125 "URLError: <urlopen error [Errno 11004] getaddrinfo failed>"
Python: 3.8.2
OS: Windows 10.18363
Pycarset: 1.0.0
----
<img width="1279" alt="2020-05-12_131844" src="https://user-images.githubusercontent.com/13817254/81641387-74bd9780-9453-11ea-9b2d-72a3f46c63fe.png">

[2020-05-12 09:55] souvikg10 opened #126 "Removing selected algorithms from setup"
Hi,
I have non-ASCII characters in my dataframe and i would like to avoid using lightGBM for it's known issues during compare_models() or feature_selection.

Is there a way i can simply import selected algorithms i want to compare so i can omit lightGBM from the list. I could not figure out a way to do so

Thanks

[2020-05-12 09:57] DaGuT commented on #126
compare_models(blacklist = ['lightgbm'])

[2020-05-12 10:53] AdityaKj opened #127 "Manually updating Hyperparameters, after tune_model() call"
After running the tune_model - function e.g. for tune_model('xgboost') , I would like to update some of the hyper-parameters ex. scale_pos_weight (imbalanced data) (or any other params) from the output model of tune_model() function.
Suggest a way to do this so that I could finalize the updated model please.

[2020-05-12 11:04] souvikg10 commented on #126
cool thanks

[2020-05-12 11:11] souvikg10 commented on #126
@DaGuT ,
Sorry another question-what about during setup to calculate feature importance?
clf1 = setup(data = diabetes, target = 'Class variable', feature_selection = True)

can i blacklist a model during setup as well?

[2020-05-12 12:12] DaGuT commented on #126
Sorry, I did not find anything that allows you to control feature selection methods (other than some of their parameters) in https://github.com/pycaret/pycaret/blob/master/classification.py setup function

Anyway, Let's ask @pycaret

[2020-05-12 20:59] Anastassiiaa opened #128 "Power BI issue with Pycaret"
Hi!
I've tried once to execute python script with dataset from you Medium article, it was Ok.
But right now I'm facing an issue:
DataSource.Error: ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 14, in <module>
    dataset = get_clusters(data = dataset)
  File "C:\Users\uaSemeniAn1\AppData\Local\Continuum\Anaconda3\envs\myenv\lib\site-packages

[2020-05-12 21:36] pycaret commented on #127
@AdityaKj In current version this is not possible. In our next release this functionality is added. You will be able to simply pass the parameter under create_model. I will keep this issue open until release.
Tagging this as enhancement.

Thanks for reaching out.

[2020-05-12 21:37] pycaret commented on #125
get_data function uses internet to pull the dataset from github, not from your local.

Do you have internet activated when using get_data function?

[2020-05-12 21:39] pycaret commented on #126
@DaGuT  Thanks for help as alwys.

@souvikg10 feature selection in setup when set to True, a subset of features are selected using a combination of various permutation importance techniques including Random Forest, Adaboost and Linear correlation with target variable. The size of the subset is dependent on the feature_selection_param. Generally, this is used to constrain the feature space in order

[2020-05-12 21:40] pycaret commented on #128
@Anastassiiaa Can you please confirm your OS details, Power BI version (64 or 32 bit) etc?

[2020-05-13 01:14] wukan1986 opened #129 "all py files are too big"
files are too big to learning and contribution code

[2020-05-13 03:50] dioncst opened #130 "How to profile the data after setting up?"
Hi，
Thank you very much for this wonderful program. I have a little question here.

I'm wondering how can I get the profiling report of data after setting up? I would like to see how the data were changed. Please take your tutorial as an example.(http://www.pycaret.org/tutorials/html/CLF102.html#6.0-Comparing-All-Models)

Thanks!

[2020-05-13 05:47] Anastassiiaa commented on #128
64 bit version

[2020-05-13 07:12] AdityaKj commented on #130
in the setup() please add profile=True, this would give pandas_profiling report

[2020-05-13 07:13] AdityaKj commented on #127
Awesome !! Thank you so much for the package... Awaiting the next release ....

[2020-05-13 07:15] dioncst commented on #130
Thanks，I’ve tried this, but seems it gave profilings of original data.

On 05/13/2020 15:12, AJ wrote:

in the setup() please add profile=True, this would give pandas_profiling report

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-13 07:29] AdityaKj commented on #130
Okay, if your need is to view the dataset post setup, meaning the dataset after applicable transformations, then you could do ..
exp1 = setup(...)
exp1[0] --> this gives you the transformed pandas-dataframe and further if you need profiling of this dataframe you could run setup with the above dataframe object. Hope this helps..

[2020-05-13 07:52] souvikg10 commented on #126
Hi,
Thanks for the explanation. Actually when i run the setup with a dataset with non-ASCII characters, lightGBM throws an error. I include the feature_selection param. My intention is to avoid using lightGBM. I can blacklist it during compare models but if i want to run feature importance, it also throws the same error during setup. How do i avoid using lightGBM during feature importance in my se

[2020-05-13 07:56] dioncst commented on #130
Thank you for your quick reply. This works for me!

[2020-05-13 07:56] #130 closed

[2020-05-13 08:07] DaGuT commented on #126
Sadly, you cant. You will need to disable feature selection completely

[2020-05-13 08:11] souvikg10 commented on #126
Yeah, let's hope lightGBM address this issue soon. I am currently using compare_model and ignore lightGBM, and create individual models to get feature_importance

[2020-05-13 08:11] #126 closed

[2020-05-13 18:14] ManuelBanza opened #131 "NLP - Provide Texts and dictionary - Stops on 20% progress"
Hi,

I am using a dataset with 600k rows and when I use the option tune_model it just stucks, I waited 24 hours and still does not pass the 20/25%.

Is it possible to get the Texts and dicitionary so I can see the Coherence score on my own? I ca see in your code that it seems to be the text and id2word:

[code]
However I get the error :
NameError: name 'text' is not defined

Also is it possible to

[2020-05-14 02:11] yashwatwani opened #132 "CatBoostError: catboost/libs/train_lib/dir_helper.cpp:20: Can't create train working dir: catboost_info"
while running "comapre_models()"

CatBoostError                             Traceback (most recent call last)
<ipython-input-6-9ff5ccfe3077> in <module>()
----> 1 compare_models()

/usr/local/lib/python3.6/dist-packages/pycaret/classification.py in compare_models(blacklist, fold, round, sort, turbo)
   3434             if hasattr(model, 'predict_proba'):
   3435
-> 3436                 model.fit(X

[2020-05-14 07:55] Sakil786 opened #133 "How to convert "exp_nlp" into dataframe"
Hi I want to convert exp_nlp  output into dataframe.
I am writing code:
exp_nlp =pd.DataFrame(exp_nlp )
I am getting error.
Please help.

[2020-05-14 12:53] azharirfan opened #134 "Finding and removing duplicate data during setup"
Hi, it may not be a big issue, but i have tried Pycaret on my work dataset and there were some entries duplicated (by error) and it would be great to have an option in setup that could be activated to find (and remove) duplicate entries or atleast highligh to user that possible duplicate entires are noticed. Suggestion: ID column (if available in the dataset) can be used to identify a possible dup

[2020-05-14 13:22] ManuelBanza commented on #133
hi @Sakil786
I think you can use the assign_model:

lda_results = assign_model(exp_nlp)

it will add the topics to your dataset

[2020-05-14 16:40] FaridAhamadaGunners opened #135 "Could not convert STR column to FLOAT when this column has missing values"
I load a dataset (8000,22) with a string column contains float numbers. So the setup() function infer that this column is categorical because this column contains whitespace characters.
So when i force the setup() function with the parameter numeric_features set to with this column

I encountered this error : ValueError: could not convert string to float

When i debug the code i see that in the sc

[2020-05-15 04:13] gillbates opened #136 "AttributeError: 'NoneType' object has no attribute 'display_id'"
Hi pycaret team,

when i try following code according to the tutorial

`
diabetes = pd.read_csv('/Users/xxx/projects/github/pycaret/datasets/diabetes.csv')
clf1 = setup(data=diabetes, target='Class variable')

compare_models()

`

when I cloned the repo and use following code from tutorial.
`
Traceback (most recent call last):
  File "/Users/xxx/projects/python/pycaret/test.py", line 15, in <modul

[2020-05-15 04:50] amjadraza commented on #136
did you try with session_id?

Below code worked for me in notebook
`!pip install pycaret
from pycaret.datasets import get_data
from pycaret.classification import *
diabetes = get_data('diabetes')
# diabetes = pd.read_csv('/Users/xxx/projects/github/pycaret/datasets/diabetes.csv')

clf1 = setup(data=diabetes, target='Class variable', session_id=12369)

compare_models()`

[2020-05-15 05:34] gillbates commented on #136
it runs well in notebook. But still gets the same error when I run in pycharm/terminal

[2020-05-15 08:21] sathishkumar999 opened #137 "Request for Time series modules"
Hi Pycaret Team...
I've been using pycaret modules since 1 month....It makes most of the models automative.
All data science modules are available, except  for time series modules.
could you guys add Time series modules in next version such as "Arima and Holt-Winters".
where most of the retail companies are using for forecasting the monthly, quarterly and yearly product sales.

[2020-05-15 09:41] HiroTamori commented on #73
Hello, I found this issue on another case.

I'm trying to analyze time-series data separated in 10-minute time windows sliding 1-minute for calculating values included in each window like this picture below;
![time-slide-window](https://user-images.githubusercontent.com/10972221/82035384-69c86880-96da-11ea-8d22-03829854bcc1.png)

As the picture shows, time window 0 -  9 are overlapping and  1 -  1

[2020-05-15 10:47] vishal-subedi opened #138 "plotly version not working for 4.4.1."
Hey, I noticed that the pycaret module throws an error while using plotly=4.4.1, which is mentioned in the requirement.txt file in the repo. However, it works fine with the latest version i.e. 4.7.1, so it could be changed to something like plotly > 4.4.1

[2020-05-15 11:35] DaGuT commented on #138
it's fixed in dev 1.0.1.

[2020-05-15 15:15] wukan1986 opened #139 "How to continue training?"
xgboost and lightgbm can pass old model by fit, but how to do it in pycaret?

[2020-05-15 18:39] DaiZack opened #140 "NLP num of line doesn't match error from colab"
nlp.py

line 141

 `   try:
        max_sub = len(data[target].values.tolist())
    except:
        max_sub = len(data)`

When the data frame target column has empty values, it courses num of lines not match error in model_plot step.

PS: I ran it from Colab

[2020-05-16 09:37] gerxyuan opened #141 "How to get AUC of prediction on test data?"
I want to observe how the model performs in the test set, but I can only get a table of predicted results at the moment, I want to see the results of Accuracy, AUC,Recall, Prec, F1, Kappa. how does that work?

[2020-05-16 13:05] sathishkumar999 opened #142 "Request for adding correlation techniques in preprocessing and recommendation techniques to add in association rule mining module."
Please add some more correlation techniques to find strengthen between the features in preprocessing.
1.karl Pearson correlation.(relation between two numeric features)
2.spearmen rank correlation.(relation between more than two numeric features)
3.Chi-square correlation.(relation between categorical features)
4.Biserial correlation.(relation between numerical and categorical).

And also add some

[2020-05-16 18:32] neemesh84 opened #143 "while"
cannot import name 'LatentDirichletAllocation' from 'sklearn.decomposition._online_lda' (....sklearn\decomposition\_online_lda.cp37-win_amd64.pyd)

[2020-05-16 23:24] #129 closed

[2020-05-16 23:28] pycaret commented on #131
@ManuelBanza Thanks for reporting. text, corpus, and i2word is returned in setup variable. If you check the variable in which setup is stored you will find them. I should have made that clear in documentation. I will include it soon.

Another good point re # of topics in tune_model. If you would like feel free to submit a PR to accomodate for that change. Ideally you will include a parameter in tu

[2020-05-16 23:28] pycaret commented on #132
@yashwatwani Can you please share more details regarding your OS and environment. Also can you tell which version of catboost you are using. You can do pip freeze to check that.

[2020-05-16 23:30] pycaret commented on #133
@ManuelBanza Thanks for helping.

@Sakil786 You can close the issue if the answer has solved your problem?

Please check https://www.pycaret.org/assign-model for more details.

[2020-05-16 23:31] pycaret commented on #134
@azharirfan Thanks.

Marking this as an enhancement for future.

[2020-05-16 23:31] pycaret commented on #135
@FaridAhamadaGunners Can you submit the PR to dev-1.0.1 branch?

[2020-05-16 23:33] pycaret commented on #136
@gillbates Hi Gillbates, Thanks for reporting. This is a known bug which prevents pycaret to run in environment that doesn't support html such as pycharm or CLI. This will be fixed in our next release (in couple of weeks from now).

Thanks.

[2020-05-16 23:33] pycaret commented on #137
@sathishkumar369 Thanks for your feedback. This is surely in the list.

Keeping this issue open and tagging this as an enhancement.

[2020-05-16 23:34] pycaret commented on #138
@vishal-subedi Issue fixed in dev-1.0.1. Will be pushed in production in next release.

@DaGuT  Thanks.

[2020-05-16 23:34] #138 closed

[2020-05-16 23:35] pycaret commented on #139
@wukan1986 Do you mean you have a lightgbm and xgboost model with specific parameters and you want to re-train on new data using same parameters?

[2020-05-16 23:35] pycaret commented on #140
@DaiZack Thanks. Please feel free to submit a PR on dev-1.0.1 branch.

[2020-05-16 23:36] pycaret commented on #141
@gerxyuan you can use predict_model without passing data parameter and it will print a table of metrics on test dataset (which is separated when you run setup).

See more details : https://www.pycaret.org/predict-model

[2020-05-16 23:38] pycaret commented on #143
@neemesh84 Can you please share more details. Environment, sample code and complete message?

[2020-05-16 23:39] pycaret commented on #142
@sathishkumar369 Hi Satish. Thanks for all the suggestions. Wonderful ideas. Please feel free to submit a PR on dev-1.0.1 branch. I would particularly be more interested for enhancements in association rule module. Happy to talk further.

Thanks.

[2020-05-17 00:40] gerxyuan commented on #141
Thank you! And  I asked the wrong question, actually my question should have been how to get AUC of prediction on unseen data(or new data)?

[2020-05-17 01:57] FaridAhamadaGunners commented on #135
Yes, i will do it

[2020-05-17 03:52] DogarXu commented on #141
The same question

[2020-05-17 04:06] gerxyuan commented on #141
sorry,
predict_model(final_rf, data=data_unseen) ?
it print a table without AUC
Thank you.

[2020-05-17 09:35] ManuelBanza commented on #131
@pycaret thank you for the help. However I am having the same issue. For example in the setup variable you have this:

[code]

So the dictionary is id2word, however when I try to see the coherence score:
[code]
I get the error:
NameError: name 'id2word' is not defined
Thanks again for the help

[2020-05-17 11:05] reaCodes commented on #125
I've activated the Internet

[2020-05-17 15:29] ManuelBanza commented on #131
Hi @pycaret thanks for the help. However I know get this error:
KeyError: 832

And get it when I tried to calculate myself the coherence score and also when I want to se the optical model. Ex:

1-
[code]
KeyError: 832

2-
[code]
Thanks!

[2020-05-17 18:32] robert-hoyt opened #144 "Set up Issue"
I am trying to upload and analyze the heart prediction dataset. If I run it via a path from my computer it starts the setup and then stops and gives an error message.
If I run it via get_data from your repository I get a different error message. The code is below, followed by the error message.

from pycaret.datasets import get_data
data = get_data('heart_disease')
pycaret.classification import *

[2020-05-17 20:28] DaGuT commented on #144
it should be `exp1 = setup(data, target = 'Disease')`

Your 'heart_disease' is not defined, you save it to 'data' variable instead.

[2020-05-17 20:33] robert-hoyt commented on #144
I now realize that instead of setup(heart_disease, target = 'Disease') it should be
setup(data, target = 'Disease'). It generates another error message

  |   |  
-- | -- | --

Initiated | . . . . . . . . . . . . . . . . . . | 15:28:56
Status | . . . . . . . . . . . . . . . . . . | Preparing Data for Modeling
ETC | . . . . . . . . . . . . . . . . . . | Calculating ETC

[2020-05-17 20:37] DaGuT commented on #144
If you have macos:

1. install brew ( [brew home page](https://brew.sh/index_ru) ). There is just 1 command, but I cant copy it here as my antivirus blocks the page the moment I paste it.
2. install `brew install libomp`
3. and then install `pip install lightgbm` again.

___

Sorry, I dont know any easier way to install libomp, so you need to install brew package manager :\

[2020-05-17 20:57] robert-hoyt commented on #144
That commands gives this error. I can try to find the brew package manager

  File "<ipython-input-1-0034d6b14513>", line 1
    homebrew install libomp
                   ^
SyntaxError: invalid syntax

[2020-05-17 21:16] DaGuT commented on #144
I provided a link with brew (check point 1)

[2020-05-17 21:17] rijesh123 opened #145 "Errors faced while installing PyCaret- Catboost/VS installer stopped"
[err installing pycaret.docx](https://github.com/pycaret/pycaret/files/4641040/err.installing.pycaret.docx)
I've attached errors that I am facing while installing PyCaret.
Please help how to proceed further.

[2020-05-17 21:21] DaGuT commented on #145
install pycaret with `pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip`

[2020-05-17 21:22] robert-hoyt commented on #144
I was able to install brew in the terminal and lipomp. I now have it working in Jupyter Notebook and Google Colab but with slightly different performance parameters for unclear reasons. I got really good results performing classification in RapidMiner so wanted to compare it with what I got using PyCaret, Thanks for your help

[2020-05-17 21:22] #144 closed

[2020-05-17 21:55] rijesh123 commented on #145
@DaGuT, Thanks for quick reply.

Tried >> pip install https://github.com/pycaret/pycaret/archive/dev-1.0.1.zip
but still I am facing below error.
Previous I also tried to install "Microsoft Visual C++ 14.0" but faced issues as shown in the error doc attached.

    copying thinc\neural\_classes\maxout.py -> build\lib.win32-3.7\thinc\neural\
_classes
    copying thinc\neural\_classes\mish.py -> buil

[2020-05-17 22:00] DaGuT commented on #145
Em... You're supposed to install Visual Studio ( https://visualstudio.microsoft.com/ru/downloads/ ) when you catch that error. Are you sure you install it and not redistributable packages?

[2020-05-17 22:27] rijesh123 commented on #145
Thanks DaGuT.
Tried to install > vs_community__1952959766.1589753943.exe
It says VS Installer has stopped working.
So you say that I need to crack that first before getting on with PyCaret installation?

[2020-05-18 00:33] wukan1986 commented on #139
Yes

`fit(X, y, sample_weight=None, base_margin=None, eval_set=None, eval_metric=None, early_stopping_rounds=None, verbose=True, xgb_model=None, sample_weight_eval_set=None, callbacks=None)`

`fit(X, y, sample_weight=None, init_score=None, eval_set=None, eval_names=None, eval_sample_weight=None, eval_class_weight=None, eval_init_score=None, eval_metric=None, early_stopping_rounds=None, verbose=Tru

[2020-05-18 01:04] faibercalderon commented on #128
I have the same problem!

[2020-05-18 04:15] zhere commented on #142
Wonderful ideas，Hope to use this function as soon as possible 。

[2020-05-18 05:48] sathishkumar999 opened #146 "Backward fill / Forward fill and interpolate with time for missing date values"
Hi pycaret team...
I figure out that, In pycaret modules there is no option for making Imbalanced data into balanced one in classification. as we know there are many oversampling and under sampling techniques are there to make it balance, but in majority of the cases we use SMOTE module.  so that we can train the module equally for both "Yes and No" classes. which avoids inaccurate prediction on n

[2020-05-18 07:22] doraemonlei opened #147 "module 'pandas' has no attribute 'SparseDtype'"
Multiclass Classification Tutorial Level Beginner - MCLF101.ipynb
compare_models()
pandas==1.0.3
catboost==0.20.2

# logs
AttributeError                            Traceback (most recent call last)
<ipython-input-11-9ff5ccfe3077> in <module>
----> 1 compare_models()

e:\workspace\env_prnet_366\lib\site-packages\pycaret\classification.py in compare_models(blacklist, fold, round, sort, turbo)
   343

[2020-05-18 08:43] DaGuT commented on #145
Yeah, for some reason you should do it. At least logs say so. And we should believe them and try their ideas.

[2020-05-18 11:10] amjadraza opened #148 "Feature Proposal: adding support for GCP model deployment"
# Deploy Models on GCP

Adding support to deploy models on GCP along with aws.

## Assignees
happy to contribute

## Background
the idea is to add another cloud deployment such as GCP. Currently, library supports deployment on aws, I think we can easily add support for gcp.

## Constraints and Assumptions
the life cycle of code would remains the same. Adding one more `gcp`  parameter for in `save_

[2020-05-18 11:20] zhere opened #149 "Request for adding some method in preprocessing ，so that i can build some features"
for example：
1、 From the "datetime" field, extract "date," hour "," weekday "," month " ；
2、Mapping some fields；

Pycaret a great tool ，I hope it will become more powerful  ！！！

[2020-05-18 14:38] Ranu14 opened #150 "Pycaret Failed installation."
Hi,
My Pycaret installation got failed, however after going through errors I found out the resolution.
Error that I got was related to numpy 1.16 that I was having however pycaret supports numpy >=1.17 and joblib >=1.14.

Resolution--
I updated my anaconda (conda update --all)
My all packages got updated to the latest version and afterwards I was able to install pycaret.

[2020-05-18 14:38] #150 closed

[2020-05-18 14:45] Ranu14 opened #151 "Pycaret installation failed"
Installation got failed error message that popped up was related to numpy and joblib version that I was using. Pycaret support numpy >=1.17 and joblib >=1.14.

Resolution -
I updated conda (conda update --all) after that was able to install pycaret.

[2020-05-18 16:05] chamsdg opened #152 "Nan values by ZERO for next version"
I would just like to make a contribution that will have to be seen in the next versions
often in the real world we replace not every time the null values by the average or by the median
but rather by zero to express the understanding of a customer

AIDARA Chamsedine
From Senegal
aidarachamsedine10@gmail.com

[2020-05-18 17:51] azharirfan opened #153 "Imputing Missing Values by Mean/Mode/Zero however based on values of another column"
By Default, we impute missing values with Mean or Mode of the same column. However there are instances where you would want to impute the value of a numeric column based on another column (e.g. city or product). I have attached an example to highlight my point. Although i do not have any testing to prove that this is a statistically better or worse method, It makes sense in business environment wh

[2020-05-18 17:59] faibercalderon commented on #128
When I charge the csv file, My powerBI change de data type automatically but if I see, the data have
a dot as a decimal separator, but in order for power bi to recognize it, I must replace the dot with commas before changing the data type.

worked perfectly for me.

tell me how it goes

[2020-05-18 20:54] wsn4iv commented on #42
I attempted it after running Jupyter notebook as admin and the problem still persists

[2020-05-18 21:38] alof0l commented on #128
I have the same problem, installed pycaret though anaconda in a 3.6 and 3.7 python env. Neither worked. I also resinstalled PowerBi x64 and did applied the .csv recommendation.

[2020-05-18 21:45] DaGuT commented on #149
Cant you just edit your dataframe in advance?

[2020-05-19 01:41] doraemonlei commented on #147
I created a pure virtual environment and the problem was solved.

[2020-05-19 02:32] zhere commented on #149
Sorry, I'm not a technician. It takes time to use other tools for data processing. Now it's easier for me to use pycaret for data processing, so I hope it can be implemented in pycaret 。

[2020-05-19 03:33] xhlubuntu commented on #96
i'm really appreicate it if this package supprot spark or dask distribution.

[2020-05-19 06:39] xhlubuntu commented on #16
i encounter the same problem. i'm running directly from python too.

[2020-05-19 10:00] skwolvie opened #155 "valueerror: the least populated class in y has only 1 member, which is too few. the minimum number of groups for any class cannot be less than 2."

[2020-05-19 14:52] AlexanderKonstantinidis opened #156 "Giving to the User the option to decide which subset should be used as Dev Set --rather than using cross-validation."
PyCaret implements a very promising idea.  Unfortunately, the PyCaret Module by default uses cross-validation for Hyperparameter optimization and model evaluation without offering any alternative.  However, there are cases where this is not advisable.  Specifically whenever one feels that the entire training set is not equally representative of the out of sample set.  In such cases, one would bene

[2020-05-19 20:41] Srikanth421 opened #157 "Compare_models() needs a better way to select models."
The function compare_models() has an option to blacklist models but it would be better to also have something like a whitelist i.e., list models to compare rather than exclude models to compare. I'm new here and would like to contribute to the project if given a chance.

[2020-05-20 03:48] sathishkumar369 commented on #157
yes, that would be a better to give an option for selecting a list of models to train while using compare_models(). because some models take long time to train the model,when we work for large amount data. some times,it may even get stuck.

[2020-05-20 13:39] gkourogiorgas opened #158 "Is it using all available cores?"
Many sklearn algos have the n_jobs argument for parallelizing where possible. Is it set to -1 by default in pycaret?

[2020-05-20 14:26] Anastassiiaa commented on #128
Hello! Nope, it doesn't work:
= Csv.Document(Web.Contents("https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/jewellery.csv"),[Delimiter=",", Columns=4, Encoding=65001, QuoteStyle=QuoteStyle.None])

On the first step, csv is loaded with delimiter ",".

[2020-05-20 14:40] sriprad commented on #145
Hi ,
I am also facing the above error @rijesh123 Please let me know if you solved it. thanks

[2020-05-20 14:55] DaGuT commented on #145
@sriprad have you tried installing visual studio?

[2020-05-20 15:01] sriprad commented on #145
@DaGuT  thank you for the reply. yes i installed it. But it's throwing error just like above @rijesh123  posted with errors- like failed due to wheel Shap, Astropy and wordcloud.

[2020-05-20 15:05] sriprad commented on #145
Building wheels for collected packages: wordcloud, shap, astropy
  Building wheel for wordcloud (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\users\p.sridharansrinivas\appdata\local\continuum\anaconda3\envs\work2\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\P.SridharanSrinivas\\AppData\\Local\\Temp\\pip-install-ua68mxsk\

[2020-05-20 15:05] sriprad commented on #145
@DaGuT  Microsoft Visual C++ is already installed not sure why it's giving error

[2020-05-20 15:06] sriprad commented on #145
@DaGuT I have Developer Powershell for VS 2019

[2020-05-20 15:07] sriprad commented on #145
Visual studio 2019

[2020-05-20 16:00] DaGuT commented on #145
and you still have "Microsoft Visual C++ 14.0 is required"??

[2020-05-20 16:02] sriprad commented on #145
yes that's what the error says. I am confused

On Wed, May 20, 2020, 18:00 DaGuT <notifications@github.com> wrote:

[2020-05-20 19:15] wsn4iv opened #159 "Tune Model [Errno 22] Invalid argument"
I am using Windows 10 and Python 3.7.1. Whenever I run tune_model() for any model, I receive a [Errno 22] Invalid argument error. I have tried running it is admin with no luck. The full error code as well as the file used are attached.

[Tune Error.txt](https://github.com/pycaret/pycaret/files/4658836/Tune.Error.txt)
[Social_Network_Ads.xlsx](https://github.com/pycaret/pycaret/files/4658840/Social

[2020-05-20 19:40] ghcmartins opened #160 "Training/ Test split for time series forecasting"
Hi Pycaret team! For time series forecasting is important to be sure that during train/test split data selected from train are older than test data. Can you clarify if this is assured by the Train_size in setup()? All the best!

[2020-05-20 23:31] rijesh123 commented on #145
@sriprad Download complete visual studio not just the buildtools

[2020-05-20 23:34] rijesh123 commented on #145
Yes. I reinstalled Visual studio and it worked. Thanks @DaGuT

[2020-05-20 23:34] #145 closed

[2020-05-21 01:21] ra67052 opened #161 "ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2."
Greetings,
I'm trying out the Missing Value Imputation function on my a data frame I created but I get this stack trace:
`ValueError                                Traceback (most recent call last)
<ipython-input-32-ecc5abb1dfbc> in <module>
----> 1 example = setup(data = dataset, target = 'Network Reference ID', session_id=123)

~\Anaconda30220\lib\site-packages\pycaret\classification.py in setup

[2020-05-21 02:40] xhlubuntu opened #162 "Request for adding spark support for large dataset."
Request for adding spark support for large dataset.

[2020-05-21 04:33] UjwalTalele opened #163 ""attempt to get argmax of an empty sequence" while comparing model Extreme Greadient Boosting"
I am repeatedly getting above error while training a classifier, because of this all next models are not able to train and compare accuracy. Please suggest some hack to exclude this model or a generalised solution using pycaret.
![Annotation 2020-05-21 100157](https://user-images.githubusercontent.com/52368122/82523570-3e1a0800-9b4a-11ea-9873-fff8ab4ed777.jpg)

[2020-05-21 04:49] pycaret commented on #163
You can pass blacklist parameter within compare_models.

Can you share the dataset you are using so I can try to reproduce the error on my end.

[2020-05-21 07:31] sriprad commented on #145
@rijesh123  Thanks. I installed completely but still it's an issue

[2020-05-21 07:33] UjwalTalele commented on #163
Thanks for the response:
here is the link for training dataset, the target variable is "Loan_Status"
https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/download/train-file

[2020-05-21 07:57] sriprad commented on #145
@rijesh123  can you please share the link for the visual studio to be downloaded? i downloaded from here
https://visualstudio.microsoft.com/

[2020-05-21 09:52] TalhaAsmal opened #164 "Multi threaded compare_models()"
The prevalence of multi-core and multi-thread systems, it would make sense to allow multiple models to be trained simultaneously, or alternatively training multiple folds at a time. This will substantially reduce processing time, and increase the usefullness of this package.

As an example, an 8C/16T CPU is only utilized ~14% during the compare_models() run.

[2020-05-21 13:41] pycaret commented on #146
@sathishkumar369 Excellent points.

I am tagging this issue as an enhancement. There are two points:

1. Add SMOTE functionality
2. Allow missing dates to be filled with backward fill or forward fill.

Thanks.

[2020-05-21 13:42] pycaret commented on #147
@doraemonlei Thanks. Closing this now.

[2020-05-21 13:42] #147 closed

[2020-05-21 13:47] pycaret commented on #148
@amjadraza Thanks for sharing. I haven't gone through the entire medium article but I like the post. I will try to read it over the weekend. I would be happy to take this enhancement.

Can you please review the code of deploy_model function. That's how I have handled AWS. It seems like GCP will also be a similar idea i.e. save pickle file on GCP through your notebook.

For AWS deployment. I am usi

[2020-05-21 13:48] pycaret commented on #149
@zhere Thanks. PyCaret automatically extracts the features you mentioned from the Date and then eventually drop the date column for modeling. I am closing this issue now. Thanks

[2020-05-21 13:48] #149 closed

[2020-05-21 13:49] pycaret commented on #151
@Ranu14 Thanks. I am closing the issue now.

[2020-05-21 13:49] #151 closed

[2020-05-21 13:51] pycaret commented on #152
@chamsdg Hi. Can you please start reviewing the code in preprocess.py. The methods are handled in Simple_Imputer class.

Once the new method is added in preprocess.py I will also have to add that in documentation and validation control for other modules (that I can handle - no worries).

Please submit a PR with test case on dev-1.0.1 branch.

Thanks for your suggestion. Really liked it.

[ENHANCEM

[2020-05-21 13:55] pycaret commented on #153
@azharirfan Very good suggestion.

Tagging this as enhancement for future.

[2020-05-21 13:56] pycaret commented on #155
sa@skwolvie Can you please provide full traceback and also share the sample data you are using?

[2020-05-21 13:59] pycaret commented on #161
@ra67052 What is the name of target column in dataset? From your code I can see you are trying to predict Network Reference ID <-- is that correct?

Also can you please share your complete code chunk. It doesn't look like a classification problem and the error you have shared is usually for classification problems where target variable y is less than the number of folds defined.

Thanks.

[2020-05-21 13:59] pycaret commented on #157
@sathishkumar369

Already in plan to be included in next release.

Marking this as enhancement.

[2020-05-21 14:01] pycaret commented on #158
Yes. by default it's using -1 for n_jobs. However in the first release there were places where it was not using all cores. Those are already fixed and will be there in next release. In addition we have now given a n_jobs parameter under setup if somebody manually wants to change that.

[2020-05-21 14:02] pycaret commented on #162
Not sure about spark. But command line support is coming up in next release which means you will be able to use it on Databricks with parallel processing but no distributed processing yet.

Tagging this as enhancement for future.

[2020-05-21 14:03] pycaret commented on #163
@UjwalTalele Can you please upload file here. I have to create an account on AV to get file.

[2020-05-21 14:52] ra67052 commented on #161
Thanks,
Yes I saw I made an error in my code, revised it but still the same error, difierent field. Here's my code:
`# Importing libraries
import pandas as pd
from pycaret.datasets import get_data
from pycaret.classification import *

# Read csv
raw_data = pd.read_csv('example.csv')

# View highlevel dataframe info
raw_data.info()

# Remove NULL columns
revised_data = raw_data.dropna(axis=1,how='a

[2020-05-21 15:44] UjwalTalele commented on #163
Oh, okay apparently forum dosent support csv files, adding in xlxc format
[train - Copy.xlsx](https://github.com/pycaret/pycaret/files/4663319/train.-.Copy.xlsx)

[2020-05-21 15:48] ghcmartins commented on #160
Extracting data from test and train I could find it doesn´t advance on future, but it still not sure if the train set is "shuffled" in any way for the k folds validation

[2020-05-21 16:01] ThinhNg opened #165 "evaluate_model not generating User Interface"
Evaluate_model() functions not generating the user interface properly.

I've tested it on the following environments:
Colab : This is the only environment that I've been able to get it to work, but it is glitchy most of the time.

Locally: It only generates the following:
![image](https://user-images.githubusercontent.com/14099198/82578544-221a6480-9b52-11ea-97ff-cc5e19b1ade0.png)

Kaggle:
It seem

[2020-05-21 17:11] rijesh123 commented on #145
@sriprad: Yes that's correct. To install visual studio, I have also used the same link you shared.
See the your error message and try installing any related components if any

[2020-05-21 17:30] soerendip opened #166 "MemoryError: Unable to allocate 116. GiB for an array with shape (15554265202,) and data type int64"
I am using a table with 1092 rows and 127 features plus one categorical target column and I am getting this error above. Any idea what could be going wrong here? The table contains integer values and the target column has a total of two classes.

     from pycaret.classification import *
     clf1 = setup(data = data,
             target = 'ORG',
             silent = False)

I think, the data is

[2020-05-21 17:52] RahulSinghYYC opened #167 "Memory Error"
Hi,
I am trying to train100000 rows with 4 columns data frame  for anomaly detection but when I run this command
ano1=setup(data,normalize= True,ignore_features=['User']) , i get a memory error . if someone can have a look and guide me in the right direction that be great.

MemoryError                               Traceback (most recent call last)
<ipython-input-10-01657439561c> in <module>
---->

[2020-05-21 18:21] vandermoerDOTcom commented on #128
@Anastassiiaa
@faibercalderon
@alof0l

I run in to the same issues.

For error ErrorCode=-2147467259 with Clustering in Power BI you have to go to power query  Transform tab and select Promoted Headers and not Changed Type  apply the python code  click on Table  click Close & Apply and it will work properly.

Anomaly Detection in Power BI get the data from the web and go to power query and sel

[2020-05-22 00:46] rijesh123 opened #168 "Error running python script in powerBI"
from pycaret.clustering import *
dataset = get_clusters(data = dataset)

DataSource.Error: ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 13, in <module>
    from pycaret.clustering import *
ModuleNotFoundError: No module named 'pycaret'

Details:
    DataSourceKind=Python
    DataSourcePath=Python
    Message=Python script error.
Traceback (

[2020-05-22 04:31] alof0l commented on #128
@Anastassiiaa Finally it worked for me!

Anaconda and Python were not configured in my System Path.

To do that, I could suggest one of the following:

1. Uninstall / install anaconda. Make sure you do 2 things: execute the installer with "admini privileges" right click for it AND check "Add Anaconda to my environment path variable", even if it says it is not recommended (you could change that lat

[2020-05-22 06:15] vandermoerDOTcom commented on #168
Do you have pycaret installed (check by running import pycaret in the python shell (if you don’t get an error it is installed) and set the path in powerbi?
I have pycaret running on python 3.6.6 in windows. I install modules in python with powershell. If you have more python versions running than you have to specify on what version you want to install modules. For installing with powershell I use:

[2020-05-22 07:51] xxyy001 opened #169 "How to start without supervision"
for pycaret.classification，
exp1 = setup(data, target = 'xxx')

[2020-05-22 17:20] RahulSinghYYC commented on #166
i have the same issue as well and I even tried using pycaret 1.0.1 dev branch

[code]
Any help would be great thanks

[2020-05-22 23:35] amjadraza commented on #148
@pycaret I have included working google colab notebook and written the code after reading deploy_model function for `aws`.  I followed the similar idea of authentication must be done through command line or notebook also set the target project in your environment. No keys are passwords needed to be passed.

I am not expert with Azure, however looking at briefly it is pretty straight forward to sto

[2020-05-23 04:44] amjadraza commented on #148
@pycaret I have given a try with Azure and made it work. see the below article.

https://medium.com/@amjadraza24/build-with-pycaret-deploy-on-azure-6099fd4bce24

[2020-05-23 18:19] rijesh123 commented on #168
@vandermoerDOTcom  Many thanks for your reply.

It looks like pycaret is installed on my system but still it says "Module not found error"

Please check the attached file and advice.
[Load errors.docx](https://github.com/pycaret/pycaret/files/4672296/Load.errors.docx)

[2020-05-23 19:16] iteachmachines opened #171 "Request to add imputation Using k-NN"
This can be very useful in making predictions about the missing values by finding the k’s closest neighbours to the observation with missing data and then imputing them based on the non-missing values in the neighbourhood.

Can be much more accurate than the mean, median or most frequent imputation methods (Depending on the dataset).

[2020-05-24 05:00] vandermoerDOTcom commented on #168
@rijesh123

Run PowerShell as admin and type: py -3.8 -m pip install pycaret . After this check if it is installed in Python IDE. Powerbi shut recognize the default os program for python and you shut be able to select the right python version if you have more than one. I tested it on version 3.8.1. (I don’t use anaconda).

Have a nice day 😊

[2020-05-24 06:56] Janglee123 commented on #166
I am facing the same issue. My data frame shape is (1280,4041). Yet my google colab crashes due to larger memory allocations.

[2020-05-24 10:51] rijesh123 commented on #168
Thanks @vandermoerDOTcom .

![image](https://user-images.githubusercontent.com/65109986/82751424-14ade600-9daf-11ea-9fa2-34101652c2f2.png)

Recently I uninstalled python 3.8 and tried 3.7.7

I followed your instructions and got attached message

[2020-05-24 12:48] pycaret commented on #171
@iteachmachines Sure. I am tagging this as enhancement for future release.

[2020-05-24 12:48] pycaret commented on #169
@xxyy001 pass silent=True and verbose=False.

Let me know how it goes.

[2020-05-24 12:49] BismeetSingh opened #172 "Error No module named 'plotly.graph_objs._area'"
While trying to use pycaret on following dataset in Kaggle: https://www.kaggle.com/aljarah/xAPI-Edu-Data,Pycaret throws an error. This is the setup code:
`exp_clf = setup(df, target = 'Class')`

Logs:
 ---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-402-5e61dbe27c41> in <module>
-

[2020-05-24 12:50] pycaret commented on #166
@Janglee123 @RahulSinghYYC @soerendip can anyone of you share the dataset so I can try to reproduce the issue and debug.

It is very likely this is a known bug and has already been fixed in dev-1.0.1 branch.

[2020-05-24 12:51] pycaret commented on #164
@TalhaAsmal Did you meant using n_jobs parameter in sklearn?

[2020-05-24 12:52] pycaret commented on #167
@RahulSinghYYC Can you share the dataset please? I will try to reproduce the issue on my end and debug.

[2020-05-24 12:53] pycaret commented on #172
@BismeetSingh Can you try the same dataset on your local Jupyter please? Does the problem still persist.

[2020-05-24 12:58] pycaret commented on #165
@ThinhNg When you run it locally you don't see any buttons to toggle between different plots?

[2020-05-24 12:59] pycaret commented on #152
@chamsdg Hi. Do you plan to submit a PR on this?

[2020-05-24 13:00] pycaret commented on #141
@gerxyuan predict_model appends two new columns to dataset. Label and Score. Label contains prediction (1 or 0) and Score contains probabilities.

[2020-05-24 13:00] #141 closed

[2020-05-24 13:01] pycaret commented on #140
@DaiZack Hi. Do you plan to submit a PR on this one?

[2020-05-24 13:02] pycaret commented on #148
@amjadraza I have read your article. Beauty. It seems like we can use the same approach as AWS and can include Azure and GCP under deploy_model function. Do you plan to submit a PR on this?

[2020-05-24 13:06] ThinhNg commented on #165
Nope I don't even see the buttons pop up to toggle locally.

[2020-05-24 13:31] BismeetSingh commented on #172
It works on my machine. Maybe its  some dependency issue on Kaggle notebooks.

[2020-05-24 13:44] xxyy001 commented on #169
It works, thank you, but there is no keyword “ verbose”

[2020-05-24 14:30] chamsdg commented on #152
Hello, sorry  i will do tomorrow
I am busy with th EID Filtre(ramadan party)

Thank you
AIDARA Chamsedine
DATA SCIENTIST

On Sun, May 24, 2020, 1:00 PM PyCaret <notifications@github.com> wrote:

[2020-05-24 20:52] iteachmachines commented on #171
@pycaret  Thanks.I am willing to contribute to codebase too.CAn you tell me how to proceed?

[2020-05-24 20:59] #172 closed

[2020-05-24 21:02] pycaret commented on #171
@iteachmachines Hi .. At this point I haven't created any guideline but I can give you some pointers.

- Change will be have to be done mainly in preprocess.py. Look out for a class SimpleImputer and see around that you will figure out a way to inject Knn imputer there. It's from sklearn so it shouldn't be a problem. You will have to see if it behaves differently for categorical and numeric featur

[2020-05-24 21:40] bigtoga opened #173 "Request to add "timing" column to compare_models()"
Just would be useful to have another column "Execution Time (ms)" to compare_models(). As I often go through a first EDA/exploration w compare_models "to figure out what I want to blacklist for my next run", sometimes I am "on the fence" (unclear) on whether the metrics alone help make the decision and "How long did this one take?" might help make it easier to decide whether a model should be incl

[2020-05-24 21:52] iteachmachines commented on #171
Thanks nicely explained I'll look onto to it.Looking forward to dive deeper with this project. 👍

[2020-05-24 21:53] bigtoga commented on #173
Maybe also add "Avg execution time per fold"? Would be useful.

[2020-05-25 01:39] Jpirog opened #174 "OSError: dlopen(/Users/cint41/opt/anaconda3/lib/python3.7/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib Referenced from: /Users/cint41/opt/anaconda3/lib/python3.7/site-packages/lightgbm/lib_lightgbm.so Reason: image not found"
I continually get this error, running this in Anaconda on a Mac.

from pycaret import classification
classification_setup = classification.setup(data= data_classification, target='Personal Loan')

OSError                                   Traceback (most recent call last)
<ipython-input-8-f89d9155af62> in <module>
----> 1 classification_setup = classification.setup(data= data_classification, targe

[2020-05-25 02:30] xxyy001 commented on #169
Please Enter the sample % of data you would like to use for modeling. Example: Enter 0.3 for 30%.
Press Enter if you would like to use 100% of the data.

Sample Size:

it still needs to choose.

[2020-05-25 05:03] pycaret commented on #169
Can you also please pass sampling=False

[2020-05-25 07:25] vandermoerDOTcom commented on #168
@rijesh123

You don’t need to type python first in powershell. Run PowerShell as admin and type: py -3.7 -m pip install pycaret .

[2020-05-25 07:52] amjadraza commented on #148
@pycaret , yes I will prepare `deploy_model` and `load_model` functions with azure and GCP and will send a PR.

Is there any deadline for next public release?

[2020-05-25 08:03] xxyy001 commented on #169
thanks

[2020-05-25 11:11] HenriqueAJNB opened #175 "NameError: name 'display_id' is not defined when executing code in IDE"
Hi there,

I just got this error while coding execution in Visual Studio Code.

`NameError: name 'display_id' is not defined`

And here is code tried:

[code]

Is there somehow to check if user is executing code either in prompt, IDE or Jupyter Notebook/Google Colab?

How can I contribute to solve this problem?

For this specific case, I just comment 5 lines and it worked.

[code]

Thanks!

[2020-05-25 12:15] doubianimehdi opened #176 "Custom Metrics?"
Hi,

Is there a way to specify our own metric for regression ?

Thanks for your answer !

[2020-05-25 15:26] RahulSinghYYC commented on #166
@pycaret I have tried this using dev-1.0.1 branch as well but it's still not working

[2020-05-25 15:29] RahulSinghYYC commented on #166
@pycaret I suppose can share the dataset but I cannot share it publicly. if I have a secure and private place to put the file then I can share it.

[2020-05-26 02:06] python-cmd commented on #125
楼主有解决的方法吗

[2020-05-26 05:07] soerendip commented on #166
Maybe a high cardinality feature got interpreted as categorical e.g. due to wrong data type??

________________________________
From: RahulSinghYYC <notifications@github.com>
Sent: Monday, May 25, 2020 9:29:51 AM
To: pycaret/pycaret <pycaret@noreply.github.com>
Cc: Sören <soerendip@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [pycaret/pycaret] MemoryError: Unable to allocate 116.

[2020-05-26 07:37] rijesh123 commented on #168
@vandermoerDOTcom Many thanks for your help on this.

All sorted now. I completely uninstalled Python,Anaconda and installed again :)

[2020-05-26 08:45] IncubatorShokuhou opened #177 "Error when loading a saved stacking model"
I met an error when loading a saved stacking model  in tutorial REG102.

### To Reproduce

Steps to reproduce the behavior:

1. run REG102
2. restart the kernel
3. regenerate the dataframes

[code]

4. load saved experiment

`saved_experiment = load_experiment('Experiment_123 08Feb2020')`

5. reuse the model(according to the tutorial REG102

[code]
6. then the error is shown as below:

[code]
Is t

[2020-05-26 09:28] chamsdg commented on #152
Hello, sorry for the delay.
I checked the imputer class as you said
but the numeric values are replaced only by the average
and the median
while often it’s not the right way
in the real world we can find ourselves with a variable
which contains 50% of Nan values
in this case it will be absurd on our part to replace them by
average or median
this percentage represents a real behavior of the custome

[2020-05-26 11:37] amjadraza commented on #148
@pycaret , I have noticed that there repetition of `deploy_model` and `load_model` function in `regression.py` and `clustering.py`. Is it something intended?

I have modified above function in below file for initial review.

https://github.com/amjadraza/pycaret/blob/feature/gcp-azure-deploy/utils.py

Any feedback is welcomed.

I have not tested tested them yet so no PR ready.

[2020-05-26 13:21] pycaret commented on #177
@IncubatorShokuhou Hi .. Your code doesn't look complete.  It seems like you haven't trained any model after loading data set.

[2020-05-26 13:29] IncubatorShokuhou commented on #177
@pycaret maybe I didn't explain it clearly. I have trained the model in the tutorial REG102, and the model is saved into a pkl file at the end of this tutorial. Then I want to use the saved model in a new scrpit, but I failed to reuse it. I'm wondering what is wrong.

[2020-05-26 13:54] pycaret commented on #176
@doubianimehdi No at this point. Can you give some example and use-cases? that will help us priotize this. Thanks.

[2020-05-26 13:55] pycaret commented on #175
@HenriqueAJNB Hi.. this is a known issue in first release. Version 1.0.0 is not optimized to work in environment that doesn't support HTML such as IDE or Python command line. This issue has been fixed in classification.py and regression.py in dev-1.0.1 branch. Feel free to test.

Please close this issue once you tested it on dev-1.0.1 branch.

Thanks.

[2020-05-26 14:02] pycaret commented on #174
@Jpirog Hi. We have seen issues in installing LightGBM on MAC. We have some installation guide on our page https://www.pycaret.org/install. Please let me know if that solves the problem. If you find the installation guide for MAC not so accurate, please feel free to propose changes.

[2020-05-26 14:05] pycaret commented on #173
@bigtoga Thanks for reporting. We have added training time in compare_models() function in dev-1.0.1 branch. Thanks for suggestion.

[2020-05-26 14:06] pycaret commented on #168
@vandermoerDOTcom  @rijesh123 Thank you for sorting this out. If the issue is resolved can you please close the issue?

[2020-05-26 14:07] pycaret commented on #165
@ThinhNg I have no idea. I will tag this as help needed to see if anybody experience with google colab  can help here.

[2020-05-26 14:17] doubianimehdi commented on #176
Yes, in this competition , TreNds Neuroimaging , this person used PyCaret : https://www.kaggle.com/rohitsingh9990/trends-pycaret-training-inference but the metric used to improve the models was the MAE , this competition used a custom metrics called feature weighted normalized error and the formula of this metric is :
ubmissions are scored using feature-weighted, normalized absolute errors.

score

[2020-05-26 14:19] pycaret commented on #159
@wsn4iv Hi. I am unable to reproduce this issue at my end. Can I ask you version of your xgboost. I am using xgboost 0.90.

[2020-05-26 14:22] pycaret commented on #166
@RahulSinghYYC Thanks. Can you please upload the file on google drive or drop box and share the link?

[2020-05-26 14:35] pycaret commented on #160
@ghcmartins As of first release train_test and Kfold is not shuffling. For next release there would be a shuffle_param and fold_shuffle_param in setup function. The change has already been made, feel free to check on dev-1.0.1 branch.

[2020-05-26 14:38] pycaret commented on #156
@AlexanderKonstantinidis This is a great idea. Marking this as enhancement for future. Please feel free to take a stab on it and submit and PR on dev-1.0.1 branch.

[2020-05-26 15:03] pycaret commented on #177
@IncubatorShokuhou Its hard to answer without looking at notebook. Can you please share notebook so I can figure out what's wrong?

[2020-05-26 15:15] IncubatorShokuhou commented on #177
@pycaret
The notebook is your official [REG102 tutorial](https://github.com/pycaret/pycaret/blob/master/Tutorials/Regression%20Tutorial%20Level%20Intermediate%20-%20REG102.ipynb) :sweat_smile:

[2020-05-26 15:38] Jpirog commented on #174
Thank you for this. I was installing Pycaret from a different article that didn't mention the special Mac instructions. I followed the links you mentioned and it worked like a charm.

[2020-05-26 15:38] #174 closed

[2020-05-26 17:54] wsn4iv commented on #159
I am using xgboost 0.90.

[2020-05-26 21:56] ghcmartins commented on #160
Thank you very much!

[2020-05-26 21:56] #160 closed

[2020-05-26 21:58] ghcmartins opened #178 "GaussianNB() vs ModifiedNB() - Laplace smoothing"
Hi Pycaret team!

In order to solve an issue with NayveBayes models, when the probability of something is zero, there is a "correction" called Laplace Smoothing. If you can implement that or the solution proposed by https://github.com/chembl/ModifiedNB wouyld be very nice!

Best Reagrds

[2020-05-27 06:34] reaCodes commented on #125
No,

[2020-05-27 07:53] xxyy001 commented on #169
it works. Thanks

[2020-05-27 16:08] tech-a-go-go commented on #16
@pycaret
I specified the verbose arg like this `compare_models(verbose = False)` but getting the following error.
[code]

My tooltip in VSCODE says
[code]

Cheers

[2020-05-27 22:05] RahulSinghYYC commented on #166
Hi
Here is a sample example, the original file has a million lines similar to this sample set

AccountID | Detail | Date | Debit | Credit | Memo | Flag
-- | -- | -- | -- | -- | -- | --
2432342 | Repairs | 2015-04-16 | 2348.65 | 0.00 | Parking | AXP
6575577 | Repairs | 2015-04-17 | 0.00 | -1343.74 | Parking | AXP
6576576 | Maintenance | 2015-04-18 | 0.00 | -3855.15 | Parking | AXP
4950000 | Mainten

[2020-05-28 00:11] tech-a-go-go opened #179 "get_data('diamond', profile=True) throws an error."
Hi there,

I followed "Regression Tutorial Level Intermediate - REG102" in pycaret repository with jupyter notebook but the line `get_data('diamond', profile=True)` gave the following errors.

[code]
Any tips ??
Btw, get_data('diamond') without profile=True option works well.

Cheers

[2020-05-28 05:18] sathishkumar369 opened #180 "Request to add pre-built templates to create an API for deployment"
Hi pycaret team!
please add some pre-built templates to select an API for a model, which will be useful for non-coding developers Instead of using flask and html. the pipe line for this is, once we finalize the model, we have an option to select some templates for an api. so that we can deploy that api to the environment in a easy way.
the template contains options such as
1.selecting background t

[2020-05-28 10:02] sathishkumar369 commented on #146
Not really missing dates. missing values corresponding to data type feature.
![Screenshot (183)](https://user-images.githubusercontent.com/40235632/83127881-4f3db880-a0f8-11ea-9369-7f4ae4119012.png)
![Screenshot (184)](https://user-images.githubusercontent.com/40235632/83127914-5a90e400-a0f8-11ea-818e-30b22b08713d.png)
![Screenshot (185)](https://user-images.githubusercontent.com/40235632/83127933

[2020-05-28 23:22] asaddiqu opened #181 "HuberRegressor Fails in compare_models()"
Following error message appears in model_compare() for regressions:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-15-9ff5ccfe3077> in <module>
----> 1 compare_models()

~\AppData\Roaming\Python\Python37\site-packages\pycaret\regression.py in compare_models(blacklist, fold, roun

[2020-05-29 00:43] #181 closed

[2020-05-29 06:47] rijesh123 commented on #168
Thanks @vandermoerDOTcom

[2020-05-29 06:47] #168 closed

[2020-05-31 07:22] MauGal commented on #179
Hi, same issue following tutorial CLF102.
In this case I'm using google colab.
Library versions installed of pandas and pandas-profiling  are respectively 1.0.3 and 2.3.0.
These modules are upgraded when I run the command !pip install pycaret.
I hope this information is useful.

[2020-05-31 13:04] harikiran-mudipalli opened #184 ""Multi label" Classification"
Is there a way to run model on a multi-label / multi-target dataset?

[2020-05-31 15:40] joaopcnogueira opened #185 "Classification Setup Removing Features Without Being Asked"
First of all, I have no words to thank you all  people for having create Pycaret! I truly believe it is goin[g to be the defacto python ml library. For me, it already is!

Well, modeling today with pycaret I came into the following issue:

I have 70 features numeric features and I sign to remove 4 features, named `['dt_ref', 'seller_city', 'seller_state', 'seller_id']`. Even though, the final set

[2020-06-01 13:51] pandeynandancse commented on #184
@harikiran-mudipalli pass target column names as a list in target parameter.
And let me know if it worked.
Thanks,

[2020-06-01 16:54] harikiran-mudipalli commented on #184
I tried it but it doesn't work. There is a MultiOutputClassifier() from sklearn which takes care of multiple targets. This option isn't available in pycaret's source code.

[2020-06-01 20:16] bhishanpdl opened #186 "How to get output dataframe displayed after running create_model()?"
I was just introduced to this library and I already liked it a lot. It's easy to use
and has lots of pre-built models. I like to extend my thanks to the devs for creating this awesome module.

I have one follow up question:
[code]

When we run this code, it displays a dataframe with metric columns.
But the object clf_xgb is xgboost object (NOT pandas dataframe).

How to get the output dataframe di

[2020-06-02 06:53] atwahsz opened #187 "Accelerating pycaret"
Is threre n_jobs option to accelerate the processing time ? Or Dask also

[2020-06-02 07:08] atwahsz opened #188 "CatboostRegressor wont print"
Afrer creating the model , i can not print the model in text when i call it , even with print commans

[2020-06-02 11:26] D-junyang opened #189 "load_model error"
why when I saved the  'rf' model, it's class is true, but when  I load it it's class is a list class?
![1](https://user-images.githubusercontent.com/46164563/83515128-7127a880-a507-11ea-8608-a63cb2e62232.png)
![2](https://user-images.githubusercontent.com/46164563/83515139-74bb2f80-a507-11ea-937e-e26d00faa598.png)

[2020-06-02 11:40] sathishkumar369 opened #190 "request to add an option to download all evaluated visualization plots"
Hi pycaret team!
could you please add an option to download the visualization plots.

![Screenshot (189)](https://user-images.githubusercontent.com/40235632/83515975-de314300-a4f3-11ea-9b21-aa70712892f0.png)

[2020-06-02 16:30] 414theodore opened #191 "Cannot leverage get_data from behind a proxy"
Looks like theres no way to pass through proxy info to leverage the get_data from anywhere behind a proxy. Not critical to using the package, but it'd be nice to demo to teammates how to use it quickly.

[2020-06-02 19:25] azharirfan opened #192 "Create a geographic heat map using the results"
There are instances where the dataset contains Postal Codes, City Names or other location identifiers. It would be great if pycaret can allow creating a geographic heatmap (using these location identifiers) and the results of modelling. Eg, if the data set has Canadian provinces and i run regression to forecast sales volume, then a geographic map in the end to show (average or actual) sales volume

[2020-06-03 17:06] agrawalparth08 opened #193 "setup() in clustering doesn't support passing silent=True"
from pycaret.clustering import *
data_setup = setup(df, normalize = True, silent=True, session_id = 42,verbose=False)

`_TypeError: setup() got an unexpected keyword argument 'silent'_`

[2020-06-03 17:14] agrawalparth08 commented on #193
The workaround is to have supervised=True and having one column at least as supervised_target="".
Can this be fixed to similar thing like in classification by passing silent variable in setup?

[2020-06-03 23:05] s-bhatia opened #194 "setup(), providing options for train/test split"
I cannot seem to figure out how to avoid data shuffle during setup.

I intend to provide first 70% rows for training and remaining 30% for testing without re-arranging the order.
Also, would be great to have stratified split.

[2020-06-03 23:29] soerendip opened #195 "AttributeError: 'DataFrame' object has no attribute 'dtype'"
I am getting this more or less randomly:

[code]
To me the pandas.DataFrame (both X and X_train) looks good. Any idea why that would crash?

[code]

[2020-06-04 00:07] dcohron opened #196 "NLP tutorial #2 Extrinsic Classifier- "KeyError: "['PendStatus'] not found in axis""
Working through the last model in the NLP tutorial #2 using my own dataframe with 1 column of type string used in the lda model and 1 column with label, also of type string.  The tune_model function runs for a little bit and I see "100 topics", "200 topics", "300 topics"...  However, on "Evaluating Classifier with 2 topics" get error "KeyError: "['PendStatus'] not found in axis" with PendStatus th

[2020-06-04 00:29] pycaret commented on #195
Can you share which version of pandas you are using?

[2020-06-04 01:52] D-junyang commented on #190
maybe you can do that by adding  like visualizer.poof(outpath='./regression_picture/' + plot + '.png')  at source code

[2020-06-04 09:16] ManuelBanza opened #197 "Message The Kernel appears to have died - Clustering"
Hi,

I tried to copy the tutorial for making clustering analysis and when I use a dataset like "mice" it works just fine, but then I used my own dataset with 160k rows and when I do the setup and validate the datatypes it just takes too long to run and then this message shows up.

<img width="709" alt="Captura de ecrã 2020-06-04, às 10 12 38" src="https://user-images.githubusercontent.com/535250

[2020-06-04 10:13] yoshikiaoyamajp commented on #165
I am facing a some issue on local Jupyter Notebook in anaconda3(most current)
Python: 3.6.10(64bit)

[2020-06-04 10:48] krannnn commented on #184
@harikiran-mudipalli did you find a solution? I'm trying to do the same: multilabel classification

[2020-06-04 12:36] harikiran-mudipalli commented on #184
@krannnn I'm trying to add sklearn's MultiOutputClassifier() in the pycaret scripts but then we can not do parameter tuning as there is no option of tuning in MultiOutputClassifier() source code as far as I observed. I was partially able to solve a multilabel problem without pycaret, from scratch by implementing papers.

[2020-06-04 17:34] saurabh1157 opened #199 "Anaconda 3"
While installation of anaconda 3 it gets stuck at setting up the package cache. Any help is truly appreciated.

[2020-06-04 18:47] rijesh123 opened #200 "error loading >> get_data('juice') in powerBI"
# 'dataset' holds the input data for this script
from pycaret.datasets import get_data
data = get_data('juice')

error:
Details: "ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 12, in <module>
    data = get_data('juice')
  File "C:\ProgramData\Anaconda3\envs\myenv\lib\site-packages\pycaret\datasets.py", line 58, in get_data
    data = pd.rea

[2020-06-05 12:58] saludes commented on #177
I have a similar problem: I start a new Python session with a saved experiment with two trained models, one of them at index 7:
[code]
Fails with
[code]
in about the same place.

But, the fact is that a toplevel variable named `prep_pipe` exists:
[code]

Looks like this variable is the one required in `load_experiment`but somehow, it isn't passed along.

[2020-06-05 18:23] xenonsb opened #201 "GPU support for XGBoost, CatBoost (and other models)"
Hi there, thanks for creating this library! Having a low-code library to run ML experiments is definitely a nice fresh idea :)

Having said that, are there any plans to allow for using GPU for models that support GPU acceleration (like XGBoost through gpu_hist, CatBoost through GPU)? This could significantly decrease training time required when we're running on GPU-enabled machines.

Thanks in adv

[2020-06-05 21:11] #175 closed

[2020-06-06 08:53] Barry1 opened #202 "parameter sample_size for setup not available"
When running setup() on huge data (>25.000) one is asked for a sample_size. This is a quite cool feature. But, when running with `silent=True`, I think one should also be able to pass the sample_size as a parameter.
So I suggest adding an optional parameter `sample_size` with default `None` and if given the interactive question (maybe also based on `silent`) would not be raised.

[2020-06-06 09:19] Barry1 commented on #202
Maybe one step further overloading the parameter `sampling` might also work: If numeric running not interactive and using that value as the `sample_size`

[2020-06-06 09:26] ManuelBanza commented on #197
Hi,

I am having this problem with other models like classification. I already install everything from scratch. Can anyone help me?
Thanks

[2020-06-06 18:21] pycaret commented on #202
@Barry1 Thanks. This a good suggestion.

For next release I have linked silent parameter with sampling parameter. At the moment you turn sampling to False if you don't want to sample, in which case 100% of the dataset would be used.

In next release when silent is set to True it will internally switch sampling to False.

However, I like your suggestion on sampling_size parameter. For now, I will m

[2020-06-06 18:30] pycaret commented on #178
@ghcmartins Thanks for suggestion. I will mark this as an enhancement for future inclusion.

[2020-06-06 18:32] pycaret commented on #201
@xenonsb Thanks

In next release we will support **kwargs in functions so that you can access all parameters of estimator. So for example you will able to pass gpu_ram_part parameter in catboost in next release.

For now - I am tagging this as an enhancement and upon next release I will close this log.

Thanks

[2020-06-06 18:33] pycaret commented on #200
@rijesh123 Hi Rijesh,

Which environment are you running this function in? It seems to me you are using get_data within PowerBI.

Thanks

[2020-06-06 18:36] pycaret commented on #179
@MauGal When you used it in colab with pandas==1.0.3 and pandas-profiling==2.3.0. Did it worked or not?

[2020-06-06 18:37] pycaret commented on #191
@414theodore I have no idea how to work around this. Do you wanna help?

[2020-06-06 18:38] pycaret commented on #184
@krannnn  @harikiran-mudipalli  @pandeynandancse

This is not supported at the moment. I am tagging this as an enhancement for future release.

[2020-06-06 18:38] pycaret commented on #199
@saurabh1157 Can you please provide more information. Error log message or pictures might help.

[2020-06-06 18:39] pycaret commented on #192
@azharirfan Marking as enhancement. (low priority)

[2020-06-06 18:40] pycaret commented on #187
@atwahsz Next release of pycaret will provide a parameter in setup() to control n_jobs accross the experiment run. By default it will be set to -1.

Tagging this as an enhancement for now. Will close this once next version is released.

[2020-06-06 18:40] Barry1 commented on #202
Sounds good, thanks!

Am Sa., 6. Juni 2020 um 20:21 Uhr schrieb PyCaret <notifications@github.com

[2020-06-06 18:41] pycaret commented on #188
@atwahsz

CatBoost return is different then scikit-learn. If you intend to print parameters then you can do this:

cat = create_model('catboost')
cat.get_params()

It should print all parameters.

[2020-06-06 18:41] #188 closed

[2020-06-06 18:42] pycaret commented on #185
@joaopcnogueira This is happening not because of remove_multicollinearity. There is another functionality in preprocess.py which is bound to remove 100% collinear variables. In this case idade_base_dias is 100% collinar with atleast 1 other variable.

[2020-06-06 18:42] #185 closed

[2020-06-06 18:43] pycaret commented on #193
@agrawalparth08 Thanks for pointing out. This is a bug and will be fixed in next release.

[2020-06-06 20:59] pycaret commented on #186
@bhishanpdl Thanks for raising this.

This is not available in pycaret==1.0.0. However for next release I have created a universal function pull() which will return the dataframe of previously run model. so using your example:

clf_xgb = create_model('xgboost')
clf_xgb_df = pull()

In this example clf_xgb_df will be a pandas dataframe containing the results of clf_xgb. clf_xgb stores xgboost model

[2020-06-06 20:59] pycaret commented on #180
@sathishkumar369 Hi Satish, do you have any plan on how to build this? Would you like to work on this in next to next release?

[2020-06-06 21:00] pycaret commented on #190
@sathishkumar369 @D-junyang Thanks for suggestion. Adding this feature in next release.

Tagging this as enhancement and will close when next version is released.

[2020-06-06 21:01] pycaret commented on #195
@soerendip Hi. Do you still need help on this?

[2020-06-06 21:01] pycaret commented on #197
@ManuelBanza Hi Manuel which environment are you using it in? Is it Kaggle Kernel?

[2020-06-06 21:03] ManuelBanza commented on #197
hi @pycaret ,
I am using jupyter notebook. I already create two conda environments but the problem remains.
Thanks

[2020-06-06 21:03] pycaret commented on #189
@D-junyang Hi. When you execute save_model it saves the transformation pipeline and model as two separate elements in list. You can access element 1 if you particularly want model. For example:

rf = create_model('rf')
save_model(rf, 'rf_saved')
loaded_rf = load_model('rf_saved')

To access model:
model = loaded_rf[1]

Hope this helps.

[2020-06-06 21:03] #189 closed

[2020-06-06 21:04] pycaret commented on #196
@dcohron Any chances you can share sample data?

[2020-06-06 21:06] pycaret commented on #194
@s-bhatia While this is not possible in this version. In next release there is a parameter of data_split_shuffle in setup() function that you can turn off by changing it to False.

I will keep this open until next release and will close the issue upon release.

Thanks.

[2020-06-06 21:36] rijesh123 commented on #200
@pycaret Thank you.
Yes, I am using that code in PowerBI
How can i proceed further?.

[2020-06-07 00:35] joaopcnogueira commented on #185
Thank you very much for the answer!

Can you tell me what is this functionality? I planning to teach machine learning with PyCaret and just wanna know in details what is really driving this behaviour.

[2020-06-07 15:14] sathishkumar369 commented on #180
Hi Moez,
I don't have experience in development side. But I have seen in some ML tools that once we finalize the model. We have an option to deploy a model with pre built templates for better end user experience.
Which makes pycaret is more productive and competitive to other ML tools. I wanna see pycaret to be in top 10 list of ML tools.
I personally know that it's already making it's way.

[2020-06-07 15:34] sathishkumar369 commented on #115
Try to use command as
    !pip install pycaret    in notebook instances.it worked for me Amazon notebook instances. It will automatically install all the packages.
Note: you must set the kernel as python 3.
Because by default it opens with pyspark.
You should change it python 3.
Hope it would work for you.

[2020-06-07 15:53] sathishkumar369 opened #203 "Is there any way to speed up the model training"

[2020-06-07 18:52] MauGal commented on #179
No, It didn't work.

[2020-06-07 23:16] LesGuessing opened #204 "Classifier Jupyter Notebook a json file"
Love PyCaret!!! I tried to download the Jupyter Notebook from GitHub and it only shows a jason file. Is there a way to download an actual notebook?

[2020-06-07 23:24] LesGuessing commented on #204
My ignorance. So I simply selected everything on the page and saved it as a n .ipynb file. I was then able to open that file in a Jupyter notebook.   Thank you Stack Overflow.

[2020-06-08 12:17] MichaelPeibo opened #205 "change default label encoded level or orders"
Hi, thanks for developing this great tool!

I want to change the default order or levels of label encoded during `setup`, because I have several models(five) and I found `setup` function define label encoded by first-come-to-first-row.

For example, in my #1 dataset first label is A, then class 0 is assigned A, while in my #2 dataset first label is B, then class 0 is assigned B.

I want to make th

[2020-06-08 13:41] saurabh1157 commented on #199
Hello,

This is the screen print for your perusal.Please provide your
expert assistance.

Best regards,
[image: image.png]
Saurabh Olkar

On Sat, Jun 6, 2020 at 2:39 PM PyCaret <notifications@github.com> wrote:

[2020-06-08 20:26] n8craig opened #206 "plots not showing in jupyter lab but does show in jupyter notebook"
I am working through the PyCaret Natural Language Processing Tutorial ([NLP101](
http://www.pycaret.org/tutorials/html/NLP101.html)). This looks like a really interesting tool, I'm keen to use it for classifying news items for social science research. I am running the tutorial code out of Jupyter Lab 1.2.6 and Jupyter Notebook 6.0.3 on Windows 10 with Firefox 77.0.1.

- On both platforms the lda m

[2020-06-08 20:54] ManuelBanza opened #207 "setup() Categorical and Numeric features"
Hi,

I am trying to force some columns to be categorical but i get the error:
[code]

In the settings it says:

If you choose to enter ‘quit‘ because one or more data types were not inferred correctly, you can overwrite them within setup command by passing categorical_feature parameter to force categorical type and numeric_feature parameter to force numeric type. Similarly, in order to ignore cert

[2020-06-08 21:10] pycaret commented on #207
@ManuelBanza Hi. I think that is because of typo. You should be passing categorical_features parameter and not categorical_feature.

Hope this helps.

[2020-06-08 21:10] #207 closed

[2020-06-08 21:11] pycaret commented on #205
@MichaelPeibo Not possible at the moment but you raise a good point. I will keep this open for future enhancement.

[2020-06-08 21:11] pycaret commented on #204
@LesGuessing Thanks.

[2020-06-08 21:11] #204 closed

[2020-06-08 21:12] pycaret commented on #206
@n8craig I am not sure but maybe try this if it helps:

On top of your notebook in Jupyter Lab, put this on top:

from pycaret.utils import enable_colab
enable_colab()

[2020-06-08 21:49] incoming-virus commented on #199
![Annotation 2020-06-08 224809](https://user-images.githubusercontent.com/40635351/84083825-41324680-a9da-11ea-903d-04fef4e7babf.png)
 My package cache isnt setting up properly

[2020-06-08 21:53] ManuelBanza commented on #207
hi @pycaret thanks it worked 👍  is it possible to have set as label feature as well?

[2020-06-08 21:54] n8craig commented on #206
I logged out of Jupyter Lab, placed the suggested code up with the imports and re-ran the model.

Suggested addition:
`from pycaret.utils import enable_colab`
`enable_colab()`

Results:
- `plot()`: works on the first run, but if the outputs are cleared subsequent runs do not produce a figure.
- `plot_model(plot = 'bigram')`: does not produce a figure.
- `plot_model(lda, plot = 'frequency', topic_n

[2020-06-08 22:28] dcohron commented on #196
Unfortunately cannot share data as company a regulated entity (healthcare).  However, I believe that I found the problem in that I was using labels as data type string ("good"/"bad").  When I changed the labels to 0 and 1 in building the binary classifier, this seemed to solve the issue.  My fault, but did not notice this in the documentation.

If it is the case that labels for the classifier must

[2020-06-08 22:35] n8craig commented on #206
Based on continued tinkering, I'm starting to wonder if the issue doesn't have something to do with Jupyter theming.

- If I apply a dark theme to Jupyter Notebook, the figures are not produced.
- If I use the default Jupyter Lab theme, the figures are produced.
- evaluate_model(lda) still does not work but that is a different issue #165.

Note: the results described here are with the suggested `e

[2020-06-09 00:22] n8craig commented on #206
Based on my tinkering the issue seems to have some relationship to Jupyter theming. I can get the figures to render if Jupyter Lab is set to default theme and the kernel restarted.

[2020-06-09 00:30] #206 closed

[2020-06-09 14:20] #203 closed

[2020-06-09 18:03] wsn4iv opened #208 "NLP Data Question"
I see when assigning a model, additional columns are added to the dataset identifying the Topic each line is associated with. Is it also possible to export the Trigram, Bigram, Word Cloud, etc. data associated with the plots?

[2020-06-09 21:01] ecdedios opened #209 "Programatially extract keywords from Topics"
Is there a way to programmatically extract the keywords from each topics in the NLP module? Currently, I am having to hover over the result of plot_model() but I'd rather that I get it without hovering.

[2020-06-10 05:16] ThinhNg opened #210 "Enhancements for setting prediction threshold for classification"
Hello!

This is really great work.
I've ran into some limitations with the classification side.

Two main things(The first one is the a higher priority):

1. I'm working with an unbalanced dataset and was trying to set the threshold for when I'm plotting the classification_report or the confusion matrix.

There wasn't an option to predict based on a classification threshold.
Is it possible to add

[2020-06-10 06:42] pandeynandancse opened #211 "Session Crashed on Colab and Kaggle"
I am  trying to set up the model using setup() method but when it is doing so session is being crashed as CPU is working too much and RAM is also being used too much  on Google colab as colab provides 12.72 GB free RAM but this module is requiring more than that and thus crashing.
I have dataset of 25000 rows and 18 columns.

[2020-06-10 11:23] mugundhs29 opened #213 "I’m just giving pip install pycaret from anaconda prompt getting the below error"
![image](https://user-images.githubusercontent.com/44088670/84262215-d64c5100-ab3a-11ea-93a9-e154ed50cf37.jpg)

[2020-06-11 18:59] robert-hoyt opened #214 "KeyError Issue"
I am following the PyCaret tutorial on classification and using CoLab. I loaded the data with this script from pycaret.datasets import get_data
dataset = get_data('credit', profile=True).    and received this KeyError message below

KeyError                                  Traceback (most recent call last)
<ipython-input-3-a7336600326f> in <module>()
      1 from pycaret.datasets import get_data

[2020-06-11 19:13] aljubrmj opened #215 "Prediction Probabilities in Classification"
predict_model() returns the label and score. Can we also return the prediction probabilities?

I did it personally by simply saving the sklearn pipe and model objects, and then running them using sklearn methods.

[2020-06-11 20:28] aliagowani commented on #215
Aljubrmj,

I am curious how were you able to save the sklearn pipe and model objects. Would you mind sharing the code?

[2020-06-11 21:28] robert-hoyt commented on #214
I uploaded the data through Colab and no longer got the error

[2020-06-11 21:28] #214 closed

[2020-06-11 21:28] robert-hoyt commented on #214
Closed

[2020-06-12 03:19] saurabh1157 commented on #199
Hello,

Can you please provide assistance on the screen print provided. Truly
appreciated.

Best regards,
Saurabh Olkar

On Mon, Jun 8, 2020 at 9:41 AM Saurabh Olkar <saurabhvolkar@gmail.com>
wrote:

[2020-06-12 07:30] AlexanderKonstantinidis opened #216 "Return Important Variables and importance as DataFrames"
Currently interpret_model() returns plots. It would be useful to return also a data structure (e.g. dataframe) that will contain the important variables and their relative importance, for downstream tasks and efficient communication.

[2020-06-12 10:03] subhash-tm commented on #215
Hi i am getting error on classification
 File "/root/venv/lib/python3.6/site-packages/pycaret/classification.py", line 7975, in predict_model
    pred_ = model.predict(Xtest)
AttributeError: 'tuple' object has no attribute 'predict'

[2020-06-12 10:17] aljubrmj commented on #215
@subhash-tm, the model object you are using is a tuple. Find out which tuple element is the model and extract it first.

@aliagowani, consider the following code/pseudocode:

`clf1 = setup(data = DATA, target = TARGET, train_size = 0.9)
prep_pipe = clf1[-1][-1][1]
model = tune_model(MODEL)

model.predict_proba(prep_pipe.transform(EXAMPLE))
`

[2020-06-12 11:17] subhash-tm commented on #215
@aljubrmj Thanks you

[2020-06-12 13:47] aliagowani commented on #215
Thanks @aljubrmj. This is exactly what I was looking for.

[2020-06-12 17:58] azharirfan commented on #215
Hi, just for clarity, what needs to be passed in place of EXAMPLE for the command "model.predict_proba(prep_pipe.transform(EXAMPLE))"

[2020-06-13 04:20] bhishanpdl commented on #186
That's GREAT news, waiting for the next release.

[2020-06-13 06:52] UjwalTalele opened #218 "Preprocessed Dataframe"
I want to extract the preprocessed dataframe which is generated after setup. Could'nt find any way to do is so far, suggestions requested.

[2020-06-13 20:31] ghcmartins opened #219 "Setup uses future data"
Hi Pycaret team!

I´ve made a test today to see if the setup models was using future data and it seems to do be doing it.
The test:
-csv file with 5000 daily data from SPY ETF(total base)
-csv file with 2778 oldest days  from SPY ETF(training base)

1st Run:
-Using the total base file (5000) and setting train_size = 0.5 (2500 days for train)
-Results on the evaluate model  (0.61 AUC)
-Exporting re

[2020-06-13 20:34] pycaret commented on #219
@ghcmartins Ho,

Thanks for reporting. Are you trying to do time series? Maybe if you share your files and script that will help to understand what you are saying.

Thanks

[2020-06-13 20:46] ghcmartins commented on #219
Sure! I´ll attach it here in the thread.

[2020-06-13 20:59] pycaret commented on #219
@ghcmartins

I think I got your point. The reason this is happening is because PyCaret is shuffling the data in train_test_split. At the moment there is no option to set that to False but in next release there would be a parameter in setup named 'split_shuffle' that will control the ability of shuffle.

The next release is expected to be out in next 30 days.

I will keep the thread open until then

[2020-06-13 21:00] ghcmartins commented on #219
Thank you very much, it´s important to avoid "too good" results, it´s what I was having 60-80% accuracy on time series (I was feeling like king of the quants!LOL)

[2020-06-13 21:05] ghcmartins commented on #219
Also the gold example gives results "too good to be true", so I´d suggest to add this note on the notebook also.

[2020-06-14 01:47] MichaelPeibo opened #220 "save interpret_model() plot"
Hi , I am trying to save figure generated by interpret_model() in publicable style.

I tried this https://github.com/slundberg/shap/issues/153#issuecomment-404566720, while it is not working in the `interpret_model` wrapper.

Any suggestion? Thanks!

[2020-06-14 01:48] MichaelPeibo commented on #205
I sort of solve it by shuffling the data. But still looking forword to tunable parameters.

[2020-06-14 01:48] #205 closed

[2020-06-14 08:36] MichaelPeibo opened #221 "different features modeling"
Hi, I got a question quite a bit of off-pycaret topic.

Consider I want to evaluate different set of features, should I create model seperately or trained one model than apply parameters of the model to another set of features?

[2020-06-14 17:01] #133 closed

[2020-06-15 11:34] DJ-LYH commented on #164
Yes, I think that would be helpful to speed up

[2020-06-15 13:33] DJ-LYH opened #223 "setup(), providing options for test dataset"
Sometimes, we have two dataset, one is train dataset, one is test dataset. So in this situation, we don't need auto-spilt dataset, could you provide parameters that let user could define his own test-dataset?

[2020-06-15 15:13] pycaret commented on #223
@DJ-LYH Thanks. This is a good idea. I am tagging this as enhancement for future release.

[2020-06-15 15:14] pycaret commented on #221
@MichaelPeibo Thanks for reaching out. Can you please elloborate your question. Maybe add some example to help us understand.

[2020-06-15 15:16] pycaret commented on #220
@MichaelPeibo We are currently working on functionality to allow saving the plots through save parameter within plot_model. I think we can replicate that to save plots under interpret_model as well. Tagging this as an enhancement.

[2020-06-15 15:17] pycaret commented on #219
@ghcmartins Thanks.

I am tagging this as an enhancement as the feature you are looking for is to disable shuffle in split which is coming in next release. I will close this issue when next release is out.

Thanks.

[2020-06-15 15:21] pycaret commented on #210
@ThinhNg Thanks for reaching out. Both are good points.

For 1st one, you can pass probability_threshold parameter under predict_model function to achieve predictions based on given threshold level. I am not sure if we can pass the parameter under classification report but I will check that.

For no 2. This is a good idea. I will tag this as an enhancement to include a function to get the objects

[2020-06-15 17:16] pycaret commented on #216
@AlexanderKonstantinidis Good point. Will tag this as an enhancement for future.

[2020-06-15 17:19] pycaret commented on #208
@wsn4iv Excellent point. Not for next release but this is definitely a great feature to be included in future releases. I will keep this open and tag this as an enhancement.

[2020-06-15 17:21] pycaret commented on #209
@ecdedios Good question.

The model object returned by create_model('lda') function is a gensim object. You can call off all the methods/attributes of gensim. To get the keyword of topics from trained LDA model you can do something like this:

lda = create_model('lda')
lda.print_topics()

Let me know if that works.

Thanks.

[2020-06-15 17:21] #209 closed

[2020-06-15 17:26] pycaret commented on #218
@UjwalTalele You can access the preprocessed dataset stored in object returned upon setup. For example:

s = setup(data, target='target')

X_train = s[2]
X_test = s[3]
y_train = s[4]
y_test = s[5]

Thanks.

[2020-06-15 17:26] #218 closed

[2020-06-15 17:28] pycaret commented on #211
@pandeynandancse Thanks for reporting. The dataset is very small, this shouldn't happen. One thing I could think of is if the data types are inferred wrong as a result of which there would be a numeric column that is considered as categorical resulted in sparse matrix. When you execute setup the data types that are printed, were they okay?

[2020-06-15 17:31] pycaret commented on #215
@azharirfan Thanks.

@subhash-tm In **pycaret.classification** when you use **predict_model** it returns two columns "Label" and "Score". "Score" column is probability of positive outcome. If its binary you can calculate the probability of other class by 1 - Score.

Also you can access **predict_proba** from model. For example:
lr = create_model('lr')
lr_predict_proba = lr.predict_proba()

Thanks.

[2020-06-15 17:32] pycaret commented on #213
@mugundhs29 Can you open Anaconda Prompt with admin rights and try pip install pycaret again. Hope it works.

[2020-06-15 17:33] pandeynandancse commented on #211
Yes , pycaret was considering numerical features as categorical features ,Now it has been resolved .
Thanks.

[2020-06-15 17:33] #211 closed

[2020-06-15 17:34] pycaret commented on #196
@dcohron Thanks. I thought I have handled the label encoding but apparently not. Will look at this as soon as I can. The expected outcome should be, it should work even with categorical labels such as "good / bad" instead of 1/0.

Thanks for reporting.

[2020-06-15 19:09] Taneja-Siddharth commented on #214
@robert-hoyt Hi! I am having the same issue. I am a little unclear about how you fixed this issue. I am running the tutorial on Jupyter Notebook.

[2020-06-15 19:30] AlexanderKonstantinidis commented on #216
Moreover, it would be useful to have the results of the trials of the tuner again as a dataframe (each row containing the hyperparameters that were tried and the performance achieved.)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: PyCaret<mailto:notifications@github.com>
Sent: Δευτέρα, 15 Ιουνίου 2020 20:16
To: pycaret/pycaret<mailto:pycaret@noreply.github.c

[2020-06-15 22:24] aljubrmj commented on #215
@azharirfan EXAMPLE is your input data

@pycaret would this work if I have a prep pipe in a multi-class model?

[2020-06-16 00:13] MichaelPeibo commented on #221
See, I have 1000 features, I choose 200 paticular by calculation some parameters as my hypothesis; then I random choose 200 features as control.
should I create model seperately? Or apply parameters of the model to another set of features?

[2020-06-16 04:47] ecdedios commented on #209
Worked like a charm! This is a really great library. Thank you so much!!!

[2020-06-16 04:49] MichaelPeibo commented on #220
Hi @pycaret ,
I sort of figured it out with png format, here is code:

[code]
However, when I save it in pdf format, it reports error. I have no idea...
Any suggestion?

[2020-06-16 16:15] bhishanpdl commented on #176
To add to this, I was interested in using Quadratic Weighted Kappa for multiclass classification.

I assume default kappa is cohens kappa with linear weights, but I am looking for quadratic weights.

The use case if kaggle competition for Prudential Insurance.
- https://www.kaggle.com/c/prudential-life-insurance-assessment/overview/evaluation

If there is already a way to assign quadratic weight p

[2020-06-16 17:01] juanfranciscomunoz opened #224 "ImportError: cannot import name 'six' from 'sklearn.externals'"
ImportError: cannot import name 'six' from 'sklearn.externals'

[2020-06-16 18:09] pycaret commented on #224
@juanfranciscomunoz Thanks for reporting. Which version of sklearn are you using? Can you please do "pip freeze" and let me know the version.

[2020-06-16 19:28] juanfranciscomunoz commented on #224
scikit-learn 0.23.1

[2020-06-16 19:31] pycaret commented on #224
@juanfranciscomunoz can you also share the full traceback. When do u get this error? Were you able to initialize setup? Which module are you using?

[2020-06-16 19:36] juanfranciscomunoz commented on #224
the module is pycaret

---------------------------------------------------------------------------ImportError
                              Traceback (most recent call
last)<ipython-input-5-f89d9155af62> in <module>----> 1
classification_setup = classification.setup(data= data_classification,
target='Personal Loan')
~/anaconda3/lib/python3.7/site-packages/pycaret/classification.py in
setup(data, t

[2020-06-17 03:06] hermandr opened #225 "display undefined in datasets.py"
Hi,

I am using pycaret in rstudio.

[code]

Returns this error:
[code]
Need to include `import IPython`

Herman

[2020-06-17 03:17] hermandr opened #226 "input() in preprocess.py triggers error"
Hi,

I using python in rstudio with reticulate package.

[code]

triggers this error
[code]

Line 272 in preprocess.py:
[code]

When I tried in REPL, input() requires a string as a prompt and it is mandatory.
[code]

Herman

[2020-06-17 10:44] rudreshmehta opened #227 "Installation error when using pip"
ERROR: No .egg-info directory found in C:\Users\Rudresh Mehta\AppData\Local\Temp\pip-pip-egg-info-bvzqwuas

[2020-06-18 09:52] AlexanderKonstantinidis opened #228 "Return the transformed dataset"
As of now if I understand well, we can define transformations on the data --e.g. removal of highly correlated features, limitation of features to the ones passing importance thresholds etc.-- but we never get the final dataset following the transformations as a dataframe we can work with.
I believe it would add great value to the use if the module returned the transformed dataset and I understand

[2020-06-18 09:55] AlexanderKonstantinidis opened #229 "Return the history of experiments during the tuning of the model's hyperparameters."
When we tune a model we get the model tuned but we do not have the opportunity to view the history of experiments (hyperparameters tried and performance achieved).  It would be useful to have this history as a dataframe --each row being an experiment and hyperparameters being columns with the final column being the performance achieved-- so that we may push performance higher by trying some experi

[2020-06-18 16:57] HemanthDavuluri opened #230 "cannot import name 'pinvh' from 'sklearn.utils.fixes'"
when i create the setup file this is error im getting.

[code]

[2020-06-18 17:22] vijay5158 commented on #230
Check the version of scikitlearn, pinvh was removed from scikitlearn in version 0.21. You'll need to either install a upgraded version of the package, or use the scipy implementation.

[2020-06-18 17:24] pycaret commented on #225
@hermandr  Thanks for reporting. This is a bug that is resolved in next release.

[2020-06-18 17:25] pycaret commented on #226
@hermandr You can pass silent=True within setup to avoid the input box.

Let me know if this solves your problem.

[2020-06-18 17:27] pycaret commented on #229
@AlexanderKonstantinidis Wonderful suggestion. In next release, PyCaret's logging backend is entirely designed on MLflow. In next release we will be including a csv output of what you are asking.

Tagging this as an enhancement. Will close the issue on next release.

[2020-06-18 17:28] pycaret commented on #227
@rudreshmehta Can you please provide the complete traceback?

[2020-06-18 17:29] pycaret commented on #230
@HemanthDavuluri Thanks for reporting. Can you please share the version of sklearn you are using. you can check that with "pip freeze"

[2020-06-18 17:30] pycaret commented on #228
@AlexanderKonstantinidis Thanks. You can access the transformed dataset which is stored in the variable in which setup is called. Unfortunately there is no index but the first 5 values are x_train,x_test,y_train,y_test.

[2020-06-18 17:30] #228 closed

[2020-06-18 17:31] vijay5158 commented on #230
Check your sklearn version pinvh was removed from scikitlearn in version 0.21. You'll need to either install a upgraded version of the package

[2020-06-18 18:22] simoneperazzoli opened #231 "Getting error when creating clustering kmeans model"
Dear all,
I am getting the following error '**TypeError: invalid data type for einsum**' when I try to create a model for clustering with kmeans: **kmeans = create_model('kmeans')**.
When I run the tutorial case, it works well, but when I try to run with my dataset this error comes.
![WhatsApp Image 2020-06-18 at 20 17 49](https://user-images.githubusercontent.com/32544918/85057456-0b8f1980-b1a1-1

[2020-06-18 20:09] ebpetrov opened #232 "PyCaret NLP doesn't appear to remove my custom_stopwords list"
The PyCaret NLP doesn't appear to remove the list of custom stopwords I pass to the custom_stopwords argument when I run setup. Words I specified in the custom stopwords list still appear in the ngrams.

[2020-06-18 20:11] ebpetrov opened #233 "For PyCaret NLP, how can I extract the post-text processing text from the model?"

[2020-06-19 02:12] linchen111 opened #234 "Tuned model behaves even worse"
Take Extra Trees Classifier for example:

et = create_model('et')
Accuracy	AUC	Recall	Prec.	F1	Kappa
0	0.8140	0.0	0.6000	0.8295	0.7961	0.5175
1	0.8837	0.0	0.8778	0.8808	0.8816	0.7378
2	0.8372	0.0	0.6889	0.8680	0.8135	0.5657
3	0.9070	0.0	0.8111	0.9088	0.9043	0.7831
4	0.8140	0.0	0.7489	0.8098	0.8093	0.5972
5	0.8333	0.0	0.7503	0.8358	0.8315	0.6504
6	0.8095	0.0	0.6774	0.8424	0.7906	0.5372
7	0.7619	0.0

[2020-06-19 05:00] ZamoraAndres opened #235 "Clustering plot_model changing the index of the dataset"
I found an issue when executing the function:
def plot_model(model, plot='cluster', feature = None, label = False)

This line is changing the index of the dataset and wrongly assigns the cluster label:
[line 2528] b.reset_index(inplace=True, drop=True)

If you remove the line, the plot shows correctly the cluster label for each row.

[2020-06-19 15:48] aliagowani commented on #234
This has happened to me multiple times as well. Usually, the initial compare() has the best results and then gets worse from there (create_model, tune_model).

[2020-06-19 17:32] rudreshmehta commented on #227
I reinstalled and create a new environment. Anyway now it is working.
I want to give a suggestion cum request for a feature that can we do auto optimization on the data before taking it further ?
Here optimization means to allocate the minimum memory require for the data in a column.

[2020-06-19 17:32] #227 closed

[2020-06-19 19:36] oguzhangur96 commented on #176
Hi, thanks for this beautiful module.

In some cases customers have their custom metric to measure human successs while you have to surpass humans by using machine learning. For example it is common, almost traditional for sales persons to predict future sales to/of customers they are responsible to sell in my country.

One might cannot use this custom metric to optimize inner parameters of a mode

[2020-06-20 17:16] rijesh123 commented on #200
Ignore my error reported. It is not valid

[2020-06-20 17:16] #200 closed

[2020-06-22 04:53] pycaret commented on #231
@simoneperazzoli Thanks for reporting. Not sure. by any chance you can provide the sample dataset so I can try to reproduce the issue on my end and see what is causing it?

[2020-06-22 04:54] pycaret commented on #232
@ebpetrov Hi Can you please provide a sample dataset with an example. I will reproduce the issue and try to figure out what's causing it.

[2020-06-22 04:55] pycaret commented on #234
@linchen111 Thanks for reporting. This is happening because tune_model uses random grid function. You can try increase **n_iter** parameter within **tune_model()** that may improve the performance.

[2020-06-22 04:55] #234 closed

[2020-06-22 08:37] sathishkumar369 opened #236 "shall we expect topic Modelling and RNN in pycaret for text clustering and classification"

[2020-06-22 08:41] simoneperazzoli commented on #231
Thanks for your reply @pycaret
Here is a sample of the dataset.

[data_to_model.zip](https://github.com/pycaret/pycaret/files/4812170/data_to_model.zip)

[2020-06-22 14:35] anuj-glitch opened #237 "Converting target column into numerical feature is not supported."
Wrongly detecting the target column in my dataset as a categorical feature whereas, it is actually a numerical feature.
and when I am trying to force convert it into a numerical feature, getting this error?

(Value Error): Column type forced is either target column or doesn't exist in the dataset.

[2020-06-22 14:37] pycaret commented on #237
@anuj-glitch Thanks for reporting. I believe you are trying to do Regression? Can you show head of your data?

[2020-06-22 14:51] anuj-glitch commented on #237
yes, I am doing Regression.
And here is the head of my dataset.

![image](https://user-images.githubusercontent.com/48061059/85301732-d434ab80-b4c5-11ea-946e-cf39c2056a7e.png)

[2020-06-22 14:53] pycaret commented on #230
@HemanthDavuluri You need to update sklearn version. Please let us know if your issue is resolved?

[2020-06-22 14:57] anuj-glitch commented on #237
If, I just leave it as a categorical feature and build a model, then in prediction it is giving me the same value(1874) for all the test samples. that's why I am thinking it is taking this column as a categorical feature.

[2020-06-22 14:59] pycaret commented on #237
@anuj-glitch Can you share the dataset?

[2020-06-22 15:00] pycaret commented on #236
@sathishkumar369 Not soon but will tag this as an enhancement for future releases.

[2020-06-22 15:02] pycaret commented on #233
@ebpetrov When you execute setup() it returns various object as a list. one of them is preprocessed text. See the index of what is returned:

**return** text, data_, corpus, id2word, seed, target_, experiment__

[2020-06-22 15:09] anuj-glitch commented on #237
Dataset -

[Train.zip](https://github.com/pycaret/pycaret/files/4813992/Train.zip)

[2020-06-23 06:45] chiminghui opened #238 "ERROR: No matching distribution found for botocore==1.17.8 (from awscli->pycaret) when execute "pip install pycartet" on ubuntu 16.0.4"
when i execute  "pip install pycart"  on ubuntu 16.0.4, it  appear the fllowing error "ERROR: No matching distribution found for botocore==1.17.8 (from awscli->pycaret)" , anyone else encounter the same problem like me? need your help! thanks!!

[2020-06-23 09:38] chiminghui commented on #238
Strangely, when i run the pip install pycartet after several hours, it installed successfully!

[2020-06-23 09:38] #238 closed

[2020-06-23 11:47] MichaelPeibo commented on #220
An update:
I tested with

[code]
It returns pdf file normally.

While when I did similar way in `tune_model()`

tuned_xgboost = tune_model('xgboost')
shap_values = shap.TreeExplainer(tuned_xgboost).shap_values(exp1[3])
shap.summary_plot(shap_values, exp1[3],show=False)
plt.savefig('importance_scatter.pdf')

It reported the error.

So I think the difference is returned object between `tuned_xgboost

[2020-06-23 12:39] rudreshmehta commented on #155
The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2

This is the error encountering.

Solution (from stackoverflow) : -
x_train, x_test, y_train, y_test = train_test_split(data_x,data_y,test_size=0.33, random_state=42)

By adding random_state might solve but in PYCARET it is abstract to user, So, cannot solve it.

[2020-06-23 12:44] pycaret commented on #155
@rudreshmehta I believe you are doing classification? Can you share the value count of target variable and your code.

[2020-06-23 23:11] HemanthDavuluri commented on #230
Yes it is resolved after I updated the sklearn library

[2020-06-23 23:11] #230 closed

[2020-06-24 14:03] robert-hoyt opened #239 "Three questions"
1. I emailed Moez about a month ago asking if you planned to add a neural network to your list of algorithms. I'll be talking to some AI-oriented physicians about PyCaret and they may ask

2. When I code "plot_model(lr)" I expected multiple options like your guide's show: AUC, confusion matrix, etc. All I get is the AUC plot. When I use "evaluate_model(lr)" it gives some numbers but not the multip

[2020-06-24 15:00] KuriaMaingi opened #240 "AttributeError: 'DataFrame' object has no attribute 'dtype' when running setup"
Receiving error below executing this line of code:
`from pycaret import regression
exp_reg1 = regression.setup(data = dfcat, target = 'val_chg1_perc', session_id=1)`

Running python=3.6.10, pandas=1.0.5, pycaret=1.0.0

  File "<input>", line 1, in <module>
  File "~\anaconda3\envs\dspy36pycaret\lib\site-packages\pycaret\regression.py", line 957, in setup
    random_state = seed)
  File "~\envs\dsp

[2020-06-24 15:01] pycaret commented on #240
@KuriaMaingi Thanks for reporting. Can you update your pandas to most recent version.

Let me know if that works!

[2020-06-24 15:21] KuriaMaingi commented on #240
Interestingly, I attached a debugger as well as added a try...except to catch the AttributeError around preprocess.py line 111 to understand which columns were causing this issue.

The issue was being caused by duplicate columns (same col name). I deduplicated the dataset and everything works swimmingly. It might be worth to add a callout in the documentation warning against this OR catching the e

[2020-06-24 15:21] #240 closed

[2020-06-24 15:27] pycaret commented on #240
Thanks a lot.

[2020-06-25 02:33] sparvaneh opened #241 "Extracting train and test data created by setup in Pycaret"
Hi,

Is there any way to extract the train and test data that are created by Pycaret?
Is there any way to provide train and test data to Pycaret and skip data splitting using Pycaret?

[2020-06-25 02:45] sparvaneh opened #242 "Predictions on unseen data when Cardinal Encoding is used"
Hi,

I had variables with high cardinality and used "high_cardinality_features" option in setup. Using unseen_predictions = predict_model(final_xgboost, data=data_unseen), I am getting the following error:
"ValueError: Number of features of the model must match the input. Model n_features is 1078 and input n_features is 49 "

I am wondering if there is any way to use Pycaret for Cardinal Encoding

[2020-06-25 02:53] pycaret commented on #242
@sparvaneh Thanks for reporting. Can you share the dataset and the code you are using.

[2020-06-25 08:15] sathishkumar999 opened #243 "Does pycaret supports anomaly detection for time series data in real time"
Could you please add time series visualization plots identifying anomalies instead of using powe bi. which is good for evaluating in pycaret library itself.

![Screenshot (210)](https://user-images.githubusercontent.com/40235632/85715990-a2138b80-b709-11ea-95e9-ca4a76d66c9b.png)

[2020-06-25 10:05] luistelmocosta opened #244 "Anomaly Detection Power BI"
Hello, I was following [this tutorial ](https://towardsdatascience.com/build-your-first-anomaly-detector-in-power-bi-using-pycaret-2b41b363244e) to use pycaret in Power BI and get the outliers for a certain table. I was wondering if it is possible to get the column and row where the anomaly is found instead of only returning the row

Kind regards,
Luís

[2020-06-25 16:22] ajatau opened #245 "ValueError: at least one array or dtype is required during classification"
I have a data with 97 columns and I cant seem to get a multi class classification to work.

Heres a sample of the data `

str0 | str1 | str2 | str3 | str4 | str5 | str6 | str7 | str8 | str9 | str10 | str11 | str12 | str13 | str14 | str15 | str16 | str17 | str18 | str19 | str20 | str21 | str22 | str23 | str24 | str25 | str26 | str27 | str28 | str29 | str30 | str31 | str32 | str33 | str34 | str35 |

[2020-06-25 17:44] pycaret commented on #245
@ajatau Thanks for reporting. Can you share the same dataset?

[2020-06-25 18:04] ajatau commented on #245
https://github.com/trality-bots/wizard-challenge/blob/master/data/train_input.txt

[2020-06-25 23:55] sparvaneh commented on #242
Restarting notebook, resolved the issue.
Initially I create a model without "high_cardinality_features" and the second round I added "high_cardinality_features" that got me to the error message!

[2020-06-25 23:55] #242 closed

[2020-06-25 23:56] pycaret commented on #242
@sparvaneh Thanks for sharing.

[2020-06-26 03:59] pycaret commented on #239
@robert-hoyt

Hi Robert, Sorry for delay in responding.

See the answers to your question:

1. At the point the only NN implementation in pycaret.classification and pycaret.regression is MLP. We donot plan to extend the package to deep learning at this time.

2. Which environment are you using for evaluate_model(). Since it uses html widgets you can only use that function in Notebook only. If you

[2020-06-26 03:59] #239 closed

[2020-06-26 04:01] pycaret commented on #244
@luistelmocosta Hi. You can use filter the output from PyCaret in Power Query. If you filter out for Label = 1 (this will select all the outliers).

Hope this helps.

[2020-06-26 04:01] #244 closed

[2020-06-26 04:01] pycaret commented on #241
@sparvaneh Thanks for asking. Not possible at the moment. Tagging this as an enhancement for future release.

[2020-06-26 04:08] pycaret commented on #237
@anuj-glitch Hi. I have tried this on my end and it works without any issues. Please see my code:

import pandas as pd
data = pd.read_csv('Train.csv')
data.head()

**#initialize setup**
from pycaret.regression import *
reg1 = setup(data, target = 'Attrition_rate', ignore_features=['Employee_ID'])

**#train lr model**
lr = create_model('lr')

**#predict holdout**
pred = predict_model(lr)
pred.head(

[2020-06-26 04:09] pycaret commented on #235
@ZamoraAndres Thanks for reporting. Is it possible you can provide an example? It will be easier to understand and evaluate the impact before fixing the issue.

[2020-06-26 04:10] #233 closed

[2020-06-26 04:11] pycaret commented on #243
@sathishkumar369 Thanks. Can you please provide some example of plots you are proposing?

[2020-06-26 04:54] pycaret commented on #245
@ajatau Hi.. I have investigated this. It turns out that there is an internal functionality in **preprocess.py** that removes all the X features that are 100% or approximately 100% correlated. It turns out in this example all the 97 features are 99.9% correlated so a process in preprocess.py file gets executed when you run setup() and that process removes all the columns in X feature set. I was ab

[2020-06-26 04:55] pycaret commented on #245
I am also tagging this issue as an enhancement so that we can expose the **remove_perfect_multicollinearity** parameter within **setup()** in next release. It seems like there will be cases like this where it will be useful.

[2020-06-26 04:58] pycaret commented on #224
@juanfranciscomunoz  Thanks for sharing. Can you do this "pip install six".

Let me know if this solves your problem.

[2020-06-26 05:30] ajatau commented on #245
Hi that worked I guess but I am running into a new error on the same dataset

`ValueError: DataFrame constructor not properly called!`

[2020-06-26 07:30] hufanghahaha opened #246 "AttributeError: 'NoneType' object has no attribute 'display_id'"
Hello, there is an error in 'classification.py' file,Below is my code and error message,Looking forward to your reply. Thank you very much
<img width="879" alt="捕获" src="https://user-images.githubusercontent.com/54930032/85831714-47d60180-b7c1-11ea-962f-2d557245ef17.PNG">

[2020-06-26 08:39] hufanghahaha commented on #246
[pnr.zip](https://github.com/pycaret/pycaret/files/4835893/pnr.zip)

[2020-06-26 09:09] sathishkumar369 commented on #243
Hi moez!
I know pycaret supoorts anomaly detection.
what i'm proposing is that I want to visualize the anomalies in time series format plots.
I have seen only clustered anomaly detection plots in pycaret.

![image](https://user-images.githubusercontent.com/40235632/85840387-0726ba00-b7ba-11ea-8b00-67b78b573313.png)
![image](https://user-images.githubusercontent.com/40235632/85840517-3806ef00-b7ba-

[2020-06-26 09:18] juanfranciscomunoz commented on #224
Mi solve was delete pycaret and use other tool

Enviado desde mi iPhone

El 25/06/2020, a la(s) 11:58 p. m., PyCaret <notifications@github.com> escribió:

[2020-06-26 10:16] tuner007 opened #247 "LightGBMError: Do not support non-ASCII characters in feature name."
I am trying classification with pycaret. I am facing challenges with LightGBM.
I have checked and there are no non-ASCII characters in my feature names still i am getting this error.

Can someone help me resolve it ?

[code]

[2020-06-26 10:28] luistelmocosta commented on #244
That's not what I want. If I filter out for Label = 1 it will give me the row-wise outliers. I guess I am looking for some kind of interpreability, which column(s) were important for the row to be an outlier.

[2020-06-26 10:50] #246 closed

[2020-06-26 12:56] #237 closed

[2020-06-26 13:35] robert-hoyt commented on #239
1. I see on the PyCaret website that MLP is available but it has never appeared as an algorithm on multiple classifications I have run? reason. That is why I was unaware that PyCaret included MLP or ANN. My last classification model in Jupyter Lab used 14 algorithms, but not MLP

2. I know I can code multiple plot models one at a time but wanted that automatically generated. I am currently using J

[2020-06-26 14:03] skrunt7 opened #248 "AttributeError: 'NoneType' object has no attribute 'flush' outside notebook"
Does pycaret support usage outside of notebooks utilizing IPython?

I am trying to deploy models in production (outside of Jupiter notebooks) by loading models that I saved from a notebook but I get errors related to IPython. The model loads properly but fails on predict_model due to clear_output() on line 6636.

[2020-06-26 19:23] sparvaneh opened #249 "Feature Suggestion: adding option to the classification to remove rows where target variable is empty/null"
Hi,

Current version consider an empty cell in the target as a new class. It would be great to add an option to allow removing rows where target class is empty/null.

[2020-06-26 19:26] ManuelBanza opened #250 "NaN records when Assign Model - NLP"
Hi,
I did all the steps from the tutorials but when I do the code:

[code]

it returns a data set with NaN values but with values in the topic columns

<img width="997" alt="Captura de ecrã 2020-06-26, às 20 25 39" src="https://user-images.githubusercontent.com/53525022/85893706-46213380-b7eb-11ea-8baf-c277bc76f8de.png">

<img width="994" alt="Captura de ecrã 2020-06-26, às 20 27 40" src="http

[2020-06-26 19:30] ManuelBanza opened #251 "Assign Sentiment to each text record - NLP"
Hi,

In the NLP Model when we do the assign model a dataset is returned with topics and the dominant_topic. Is it possible to also bring the sentiment score and polarity?

Cheers!

[2020-06-26 19:46] robert-hoyt commented on #239
I did notice that my results were the same for Jupyter Notebook as it was for Jupyter Lab with classification models run on the heart disease prediction dataset. Because PyCaret ranks model performance based on descending accuracy, is it possible that performance by MLP is not included because it's performance is below a certain threshold?

[2020-06-26 19:58] pycaret commented on #239
@robert-hoyt Hey Robert,

The reason performance of MLP is not included is because by default turbo mode is set to True in compare_models which prevents training algorithms which may take longer times. MLP is one of them. That said, it doesn't mean its not available. You can still train MLP by passing it in create model (example: create_model('mlp') ).

If you would like to include it in compare_m

[2020-06-26 21:30] robert-hoyt commented on #239
Thanks. I did create a MLP model but it produced an AUC mean of .325, compared to a mean logistic regression AUC of .87
The other surprise was a test AUC for logistic regression AUC of .95 suggesting underfitting (I think)

[2020-06-27 20:41] oguzhangur96 commented on #247
Hi @tuner007  could you please share your data and code for me to try? Source of this error might be same with microsoft/LightGBM#3102

[2020-06-28 11:34] tuner007 commented on #247
Yes, it seems to be the same problem. It is working now thanks !

Solution:
[code]

[2020-06-28 11:34] #247 closed

[2020-06-28 14:49] Om-patel2398 opened #252 "lib issue power BI"
This is the first time i am trying pycaret, I followed the medium blog by pycaret [about using it with power BI](https://towardsdatascience.com/machine-learning-in-power-bi-using-pycaret-34307f09394a). I did everything as specified, I created a new conda environment for pycaret and installed py caret there. I also specified my power BI to use that environment. I fetched data from given git link, t

[2020-06-28 16:37] sathishkumar999 opened #253 "Request to add new features as topic keywords, inferring the topic and optimal topics in topic modelling"
Hi Moez and team of pycaret!

since we are working on topic modelling project we stareted using pycaret nlp library.
but there are some features needs to add in nlp library.

while assigning a model we have seen that it's showing the number of topics with percentages, dominant_topic and perc_dominant_topic.

![Screenshot (225)](https://user-images.githubusercontent.com/40235632/85952641-5ae6fe00-b

[2020-06-29 11:38] bourbe opened #254 "interpret_model (reason) on an other dataset than the train/test"
Hi,

I contruct a model with pycaret and when I launch this:

classification.interpret_model(classification_xgb, plot = 'reason', observation = 0), it gives me the interpretation on observation 0 on the test dataset

regards

[2020-06-29 18:09] ajaysh2193 opened #255 "Loading model get failed"
Hi,

While loading saved pycaret classifier model (.pkl file) in flask app, I am facing an error i.e. **ValueError: EOF: reading array data, expected 262144 bytes got 239490**. I have tried to use joblib also, but getting the same issue.
Model is able to predict in jupyter notebook but facing the issue while using in flask app. Attaching code snippet and error screenshot!

![error](https://user-im

[2020-06-29 21:16] joaopcnogueira opened #256 "Modular Instalation for Deployment"
Hi everyone! As always, first I would like to thank you all for making pycaret! I am already using it as my primary machine learning tool.

I would like to make a sugestion. If I put pycaret==1.0.0 in my requirements.txt file, all of the good stuff will come, but maybe in a deployment environment that is not necessary. Imagine that I am create a machine learning app for classification, wouldn't ma

[2020-06-30 08:03] amjadraza commented on #148
@pycaret , any update regarding above issue?

[2020-06-30 09:28] ZamoraAndres commented on #235
Yes, in this file: https://github.com/pycaret/pycaret/blob/master/clustering.py

The line 2528 is changing the order of the data, hence assigning the cluster ids to the wrong rows.

With that line, and by creating a backup attribute based on the original cluster:
data_['Cluster_Backup'] = data_['Cluster']
feature = "Cluster_Backup"

this is the file i received:

  | PCA1 | PCA2 | Cluster | Feature

[2020-06-30 10:36] npapan69 opened #257 "Feature Selection Confusion"
Dear All,
I'm a bit confused about how feature selection is working. For example in the setup the feature selection is true and I see that it takes into consideration a subset of features (from 106 initially down to 55). But then in the evaluate_model I get an AUC which value is not changing after I activate the feature selection tab (RFE_CV) and I get only 4 features. I would expect different AUC

[2020-06-30 13:41] raheems opened #258 "Stratification based on a selected variable in a regression problem"
Is there any option to stratify based on a binary covariate?

For instance, I am doing a regression but I want to create the train test split based on a binary variable (treatment indicator variable). Is it possible?

Thanks

[2020-07-01 06:57] sathishkumar369 opened #259 "Getting an error while running the topic modeling"
Hi pycaret team,
when I was using setup for topic modeling it's giving me an error

PFA

![Screenshot (233)](https://user-images.githubusercontent.com/40235632/86212473-c2be6400-bb95-11ea-917d-41352e33b4c3.png)
![Screenshot (234)](https://user-images.githubusercontent.com/40235632/86212485-c94cdb80-bb95-11ea-9c70-46518dde8748.png)

when I have run this from scratch also I got the same error.
but I