[2022-01-07 15:09] moezali1 commented on #2021
@sagarnildass which version are you using? I am unable to reproduce this error. See below:

[code]

![image](https://user-images.githubusercontent.com/54699234/148563559-0823da9d-0171-4c1c-a2fb-e70c36e4464b.png)

Make sure you are using latest version i.e. pycaret==2.3.5.

[2022-01-07 15:09] #2021 closed

[2022-01-07 15:16] moezali1 commented on #2024
@breisfeld Sorry I can't reproduce this errror:

![image](https://user-images.githubusercontent.com/54699234/148564454-d33f8148-cb46-445d-a680-5a3d8f5c8824.png)

[2022-01-07 15:17] #2024 closed

[2022-01-07 15:19] moezali1 commented on #2015
@kvnkho Thank you for initiating this. Undoubtedly, distributed processing in PyCaret is the number one requested feature.

Looking forward to this collaboration.

I welcome all the other members of the community to join this thread and participate in building this exciting future!

[2022-01-07 15:19] moezali1 commented on #1450
This issue is now being moved to #2015

[2022-01-07 15:19] #1450 closed

[2022-01-07 15:20] moezali1 commented on #1057
This is being addressed in the release of 2.3.6.

[2022-01-07 15:20] moezali1 commented on #162
This issue is now being moved to #2015

[2022-01-07 15:20] #162 closed

[2022-01-07 15:21] moezali1 commented on #639
This issue is now being moved to #2015

[2022-01-07 15:21] #639 closed

[2022-01-07 17:18] Yard1 commented on #2022
Can you try
[code]

This is a bit of an ugly hack for now, I'll see if I can fix it properly for the next release.

[2022-01-07 17:32] moezali1 commented on #2031
The issue is fixed now. Will be included in next release which is tomorrow! :)

[2022-01-07 17:32] #2031 closed

[2022-01-07 17:37] #1744 closed

[2022-01-07 17:37] #1698 closed

[2022-01-07 18:24] sayantan1410 commented on #1974
Thank you for assigning, I will start working on it.

[2022-01-07 18:28] tueseu commented on #2022
Thank you so much for your help man. The last line of code should be:
`predict = predict_model(pipeline, data)`
And it works. You guys are amazing.

[2022-01-07 18:39] ngupta23 commented on #1901
Hi @drmario-gh Thanks for looking into this.

I would recommend a few things:

We should introduce a new class attribute to the Experiment Class called `all_sp_values`. This will be a List. In addition, we should rename `sp_to_use` to `primary_sp_to_use`. When there is a single `seasonal_period` value provided or derived from index (e.g. 12), this will have the following

[code]

If multiple `seas

[2022-01-07 18:43] ngupta23 commented on #1901
No it should only take about 40-45 minutes to run all the tests. It may be stuck on the plotting tests somewhere. If you run locally, it expects you to close the pop up plot before the test can proceed. If it is a hassle, you can try to run just the time series tests. There are multiple files so you will have to run then one at a time manually unless you know of a way to run multiple files at a ti

[2022-01-07 19:37] #2029 closed

[2022-01-07 19:55] ngupta23 commented on #1654
@codecypher I got some time to work on this. Since you are working on the frequency components, I will go ahead and add some code for this. We can sync up once that is done.

This is sample code for base functions that need to be incorporated: https://gist.github.com/ngupta23/c93116dede5436c05faffd992181b89d

[2022-01-07 20:06] ngupta23 opened #2033 "Refactor time series setup"
Currently, the setup function is all over the place. Refactor it and organize it in appropriate sections so it is easier to organize and code collaboratively with other developers.

[2022-01-07 21:53] ajayarunachalam opened #2034 "[BUG] Problem still persist with the create_api func"
**Problem still persist with the create_api func. Pls. check.**

[2022-01-08 02:11] kennysong commented on #2016
@moezali1 Thanks for the clarification!

The other part of my question: Since a PyCaret model contains other code than scikit-learn, does a pickled PyCaret model have compatibility guarantees across PyCaret versions?

[2022-01-08 02:56] BlackArbsCEO commented on #1977
yes I only have this issue sometimes. I will try to create a reproducible example

[2022-01-08 12:22] ngupta23 commented on #2034
Please provide a reproducible example of what the problem is.

[2022-01-08 15:47] ngupta23 commented on #1914
Based on the discussion on 8th Jan 2022, we will change this to "COV_PROB".

[2022-01-08 16:30] ajayarunachalam commented on #2034
![image](https://user-images.githubusercontent.com/17896896/148651941-a9722507-ce9b-441c-b141-33686df43c6b.png)

[2022-01-08 17:58] drmario-gh commented on #1901
Hi @ngupta23,
Sounds cleaner that way, and ok to start with TBATS only. Regarding the testing suite, I was using the [-k flag](https://docs.pytest.org/en/6.2.x/example/markers.html#using-k-expr-to-select-tests-based-on-their-name) to match "time_series" only tests and that was taking more than an hour, but I'll keep an eye to check whether it was simply stuck (didn't see any plot in any case).

[2022-01-08 17:59] ngupta23 commented on #2034
This functionality will only be released in 2.3.6. It is unavailable in the version you are using.

[2022-01-08 18:08] ngupta23 commented on #1901
The time series tests take the longest amongst all tests (roughly 1 hour on my machine). Within time series tests. the ones for tuning take the longest (especially `auto_arima`, `bats` and `tbats`). You can try to run one by one to see which one is tripping and we can take it from there.

I also have an open PR that refactors the setup method. It might be better to start once this is merged since

[2022-01-08 19:21] wkuopt commented on #1325
Hi, an upgrade should fix this issue. I was testing with version 2.3.4 and the setup was done successfully.
Code for testing:
[code]
Log:
[code]

[2022-01-08 19:21] #1325 closed

[2022-01-08 20:00] wkuopt commented on #1514
Hi @sagittefrat,

I tested with the following example and the dtype is correctly inferred. Please let me know if your test case is different, and we can reopen the ticket.

Code:
[code]
Dataset before:
[code]
Dataset after preprocessing:
[code]

[2022-01-08 20:00] #1514 closed

[2022-01-08 23:28] BlackArbsCEO opened #2037 "How to Suppress All Output"
**Is your feature request related to a problem? Please describe.**
I'm using pycaret in a prediction pipeline. I don't need to see the output of the model fitting process once everything is tested.

**Describe the solution you'd like**
verbose option to suppress all output.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2022-01-09 00:46] ngupta23 commented on #1901
Can you provide the entire command? It is not working for me. The tests themselves don't have the word `time_series` in them, just the file name.

[2022-01-09 02:24] #1768 closed

[2022-01-09 14:04] drmario-gh commented on #1901
Sure, I didn't tinker with them much, just launched them a couple of times and saw a long run. I'll have a deeper look to this.

Sure. I'll keep an eye on it.

Sure: `pytest -k time_series`. It does not only try to match test names, but also a bunch of other stuff (including filenames). From [pytest docs:](https://docs.pytest.org/en/6.2.x/example/markers.html#using-k-expr-to-select-tests-based-on-

[2022-01-09 19:27] ngupta23 commented on #1654
To test

[code]

[2022-01-09 23:27] jfewz commented on #206
%matplotlib inline
%config inlinebackend.figure_format = 'retina'

Try running that, it worked for me :)

[2022-01-09 23:28] jfewz commented on #319
My word, you sir are a legend

[2022-01-09 23:47] codecypher commented on #1656
Oh good. I was confused. All I got was a blank plot.

Jeff Holmes

On Jan 5, 2022, at 1:43 PM, Nikhil Gupta ***@***.***> wrote:
Ah, I see your confusion now. This is what I really meant. https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.periodogram.html. Lets change it to this then

plot_model(plot='periodogram') # Change from "spectrogram"
plot_model(plot='welch')
plot_model(plot=

[2022-01-10 11:33] maiaufrrj opened #2042 "[DOC] Clustering Model Tutorials"
Good morning to all here.
Could anyone help me to localize this tutorials?

1) Clustering Tutorial (CLU102) - Level Intermediate
2) Clustering Tutorial (CLU103) - Level Advanced
both pages are not founds.

This links are indicated in the end of this page:
http://www.pycaret.org/tutorials/html/CLU101.html

Thanks in advance for all efforts to help me acess this guide.

[2022-01-10 13:53] OleksiyAnokhin opened #2043 "Data Types for `pycaret.regression.eda()`"
I am using `pycaret.regression.eda(data=None, target: Optional[str] = None, display_format: str = 'bokeh', **kwargs)` from [documentation](https://pycaret.readthedocs.io/en/latest/api/regression.html).

When I check `dtypes` of my data, I only have `int64` and `float64` dtypes.

But when I run the `.eda()` function, half of my features are identified as categorical.

![image](https://user-images.g

[2022-01-11 02:23] etujnr commented on #1898
@moezali1 is there a timeframe we should expect that multiple classification models on pycaret will be merged into one auc plot?

[2022-01-11 07:10] sayantan1410 commented on #1914
@ngupta23 ,I think I will be able to do it.

[2022-01-11 08:34] valeman commented on #1914
So for late reply folks, Cov_Prob sounds much better.

[2022-01-11 15:43] wkuopt commented on #2001
This could be considered as an alternative option for users that want to use a different format, but should not replace to_csv by default. Saving in a different format, e.g., feather, parquet, would create additional library & code dependency, and the data can't be open directly by non-technical users such as business stakeholders.

[2022-01-11 18:46] codecypher commented on #1656
I would need to see a code example of how we want to do the plots. I am working on fft right now and I still don't know what we want to plot using the airline dataset.

[2022-01-11 19:16] codecypher commented on #1656
I found some examples using fft with time series data. However, the code examples for SciPy are less than helpful.

[2022-01-11 21:17] dandluu commented on #1987
Thank you for clarifying the n_iter and folds. However, how does the optimize model work, does the model store the hyper parameters from the cv metric results that gave the highest result during its kfold cv? Is there a way to tease out and store the train/test for each fold during training so we get the train/test that resulted in the highest r2 during training? I say this because the data is com

[2022-01-12 01:32] wkuopt commented on #1421
I am closing this issue due to inactivity.

[2022-01-12 01:32] #1421 closed

[2022-01-12 03:28] wkuopt commented on #1803
The error occurs at line 43, where assign_model() is called after the model is loaded. I don't think this would work as assign_model() needs the data that's passed to the setup function. Since the pickle file only contains the transformation pipeline and the trained model, assign_model() will not work in this scenario.

[2022-01-12 03:28] #1803 closed

[2022-01-12 03:34] #1801 closed

[2022-01-12 13:28] srikanthSampathi1 commented on #181
@asaddiqu how did you resolve this issue?

[2022-01-12 17:59] #2033 closed

[2022-01-12 18:04] ngupta23 commented on #1656
The images that you attached did not come through. Can you attach them again and share your sample code somehow?

[2022-01-12 19:59] kylegilde commented on #1847
Was this addressed in the 2.3.6 release? If no, is this planned for a specific release? Thank you!

[2022-01-12 22:15] reza1615 opened #2053 "Bug in dahsboard () when the columns has especial characters"
It seems before sending feature columns to the explainerdashboard. pycaret should clean them

[code]

![image](https://user-images.githubusercontent.com/2202483/149231429-13b53e3d-4035-4419-a912-40c5e67b1324.png)

[2022-01-12 22:17] reza1615 opened #2054 "[BUG] error on check_fairness"
It seems line 10422 in tabular.py the .iloc should be .loc
![image](https://user-images.githubusercontent.com/2202483/149231650-f0c0fb17-4b7d-40ec-b906-b0f45176dd9b.png)

[2022-01-12 23:00] Yard1 commented on #1847
The next major release (3.0) will feature compatibility with latest scikit-learn versions.

[2022-01-13 06:15] drmario-gh commented on #1901
Maybe you already had this in mind @ngupta23, but the time series models pick up their seasonality from `seasonal_period` instead of `sp_to_use`, so specifying a list in `seasonal_period` will break models that only support a single seasonality.
https://github.com/pycaret/pycaret/blob/e994cc04fced16b8d5056fe241076279e11ce473/pycaret/containers/models/time_series.py#L750

Unless I'm missing somethi

[2022-01-13 13:24] ngupta23 commented on #1901
Good catch. This is a TODO item already. See here: https://github.com/pycaret/pycaret/issues/1894

We want to use `sp_to_use` in the models. And it is ok to use 1 if the seasonal test fails. For example, if we have daily data which is noise, we will first test with seasonal_period = 7. It will fail the test and then we will revert to 1. If multiple seasonal periods are provided by the user, we can

[2022-01-13 14:15] ngupta23 commented on #1588
Sample code to detect target and exogenous variables: https://gist.github.com/ngupta23/1053638d20fab6e5de84c9da43e6a455

[2022-01-13 15:15] ngupta23 commented on #2042
@moezali1 Does the new documentation cover this?

[2022-01-13 15:17] ngupta23 commented on #2042
@maiaufrrj  it may be possible that we only have the beginner tutorial for this

https://pycaret.gitbook.io/docs/get-started/tutorials

[2022-01-13 18:19] ngupta23 commented on #1656
I wrote template code snippets for all 3 options. Have a look and let me know if that makes sense.

https://gist.github.com/ngupta23/f09baa54465b2247a87455d6008523e3

[2022-01-14 01:53] ngupta23 commented on #1901
@drmario-gh Another thing worth noting is that there is an open item about how to handle seasonal_period - whether to use it as is or do a seasonality test first. https://github.com/pycaret/pycaret/issues/1777

Currently, we do the seasonality test and that is ok for the current implementation. In the future, we may provide an option to not enforce the seasonality test and use the values as is.

[2022-01-14 04:47] wkuopt commented on #2016
Hi @kennysong you can pip freeze the installed libraries and their versions along with your pycaret model to ensure that the model can be loaded without issues. In general, the developers should keep track of the model lineage for reproducibility.

[2022-01-14 05:07] wkuopt commented on #918
@Yard1 I can take this one along with #1642 :)

[2022-01-14 05:32] kennysong commented on #2016
We'd prefer to identify the version from the model file directly, rather than generating and handling it in a separate artifact.

Most ML libraries solve this problem in one of two ways:
1. Allow the user to determine what library version a model file was generated with (so the user can use the correct library version at load time)
2. Provide compatibility guarantees (so the user doesn't need to w

[2022-01-14 06:48] drmario-gh commented on #1901
@ngupta23, regarding what to do with multiple seasonalities and the autocorrelation test, yeah, I agree with you, that's what I had in mind.

Sure, no problem!

Not much to add there, I agree with what you wrote in #1777. An `enforce_sp` parameter will only have a minor impact in these changes, so we should be good anyway.

[2022-01-14 07:57] Yard1 commented on #918
@wkuopt awesome, thank you!

[2022-01-14 15:15] moezali1 commented on #2054
@reza1615 Thank you. The PR has been merged now.

[2022-01-14 15:17] moezali1 commented on #2042
Yes @ngupta23

@maiaufrrj Please use the link @ngupta23 has mentioned above. The website link is old and will be removed soon.

[2022-01-14 15:17] #2042 closed

[2022-01-14 15:17] #2019 closed

[2022-01-14 16:19] ngupta23 commented on #1901
@drmario-gh Do you mind commenting on #1894 so that I can assign it to you? Thanks!

[2022-01-14 16:45] wkuopt commented on #2016
Thanks @kennysong . Can you provide links to the ml library that you mentioned for both options? That will give us some good reference.

[2022-01-14 17:08] uzair756667 opened #2057 "Pycaret kernel issue in jupytor notebook"
I installed pycaret using pip install pycaret[full]. All installations were completed successfully. Then added nb conda kernel using conda install -c conda-forge nb_conda_kernels. Now when I'm starting my notebook, it fails connecting to the kernel that is Python[conda.env:pycaret]. The issue that is occurring is a connection problem or network error whereas my internet is working completely fine.

[2022-01-14 20:41] reza1615 opened #2059 "[BUG] drift report error"
when the index is not ordinal the drift report shows error
![image](https://user-images.githubusercontent.com/2202483/149582370-41295c14-46b5-46fc-a1b7-93a15ceccf64.png)

[2022-01-14 21:23] reza1615 commented on #2059
![image](https://user-images.githubusercontent.com/2202483/149587054-fa5ac969-993a-4199-b3a5-69763267e3aa.png)

[2022-01-14 23:22] ngupta23 commented on #1974
Related to https://github.com/alan-turing-institute/sktime/issues/1876#issuecomment-1013429263

[2022-01-15 01:36] kennysong commented on #2016
Sure!

In scikit-learn, saved model files can only be loaded in [the same library version they were saved with](https://scikit-learn.org/1.0/modules/model_persistence.html#security-maintainability-limitations). However, the library version is [saved in the pickle](https://stackoverflow.com/questions/41146759/check-sklearn-version-before-loading-model-using-joblib/41201029) so you can read it at lo

[2022-01-15 09:24] dkapitan commented on #2001
@moezali1 first time in this repo, I also would like to see parquet support for pycaret and happy to contribute.

could you point me in the right direction: where would be a good place to implement the `to_parquet()` method as an alternative? I will start reading up the code base from there and try to propose a solution.

[2022-01-15 15:07] moezali1 commented on #2059
@reza1615 I have assigned it to you.

[2022-01-15 15:10] ngupta23 commented on #1616
Expected behavior

[code]

[2022-01-15 19:45] drmario-gh commented on #1894
As we talked in #1901, I'll happily take up this one.

[2022-01-16 02:25] #1818 closed

[2022-01-16 03:27] ngupta23 commented on #1894
Thanks, @drmario-gh. I will assign this to you.

[2022-01-16 03:38] ngupta23 commented on #1588
Initial version available in `ts_exog` branch. To test

[code]

[2022-01-16 03:50] ngupta23 opened #2065 "[Forecasting] Add setup argument for `alpha` that is used in the rest of the methods for forecasting"
**Is your feature request related to a problem? Please describe.**
The current value of alpha value is hardcoded in many places to 0.05.

**Describe the solution you'd like**
Take this as a setup argument and use it everywhere for consistency. The default value can be 0.05.

[2022-01-16 15:53] #38 closed

[2022-01-16 21:16] OleksiyAnokhin opened #2067 "No model results for `compare_models()` in regression, while applying `transform_target`"
Team, I am running a simple regression and everything works.

When I try to add:

    `transform_target = True`, `transform_target_method = 'box-cox'`, # or another method

the modelling results for `compare_models()` are not printed.

Thanks

[2022-01-17 04:50] Rjotsin opened #2068 "[BUG] Timeseries Setup fails with some datasets"
**Describe the bug**
 Hi team, discovered this bug when setting up a data set. Setup errors out for the pycaret-ts-alpha package. Happens on both Jupyter and Databricks.

Link to dataset included at the bottom, monthly timeseries three years long. My goal was to use the theta model with this, but it seems to be erroring out with the arima package.

ValueError: There are no more samples after a fir

[2022-01-17 13:27] moezali1 commented on #2067
@OleksiyAnokhin Can you set errors='raise' in the `compare_models` function and show us what the error says?

[2022-01-17 20:47] ngupta23 commented on #2068
You have very few data points and are trying to model ARIMA with a seasonality of 12 as well as 3 fold cross validation. There are not enough data point to model it like this. Maybe disable cross validation to see if it helps.

[2022-01-17 21:08] OleksiyAnokhin commented on #2067
@moezali1 , this is with `errors = raise`

![image](https://user-images.githubusercontent.com/24446791/149836904-f77de519-1a56-4c55-b150-94c9a8bdb91d.png)

This is without `transform_target`

![image](https://user-images.githubusercontent.com/24446791/149837165-4c0370f6-6510-4ca3-a8aa-f80a246a9e85.png)

[2022-01-18 01:23] Rjotsin commented on #2068
I did try many combinations of fh and folds and sadly no results. I was planning on just using theta, not arima, is there any way to avoid the arima validation steps?

[2022-01-18 02:34] moezali1 commented on #2068
@ngupta23 In this case why would `setup` fail. No model training is done at this stage. no?

[2022-01-18 06:50] etujnr opened #2071 "@moezali1 is there a timeframe we should expect that multiple classification models on pycaret will be merged into one auc plot?"
@moezali1 is there a timeframe we should expect that multiple classification models on pycaret will be merged into one auc plot?

_Originally posted by @etujnr in https://github.com/pycaret/pycaret/issues/1898#issuecomment-1009540980_

[2022-01-18 12:48] ngupta23 commented on #2068
It does some checks in setup for the value of d and D. I am guessing it is failing there. I will need to look into it in detail and get back.

[2022-01-18 20:38] Rjotsin commented on #2068
@ngupta23 here is the complete output
[timeseries_pycaret_error_output.txt](https://github.com/pycaret/pycaret/files/7892250/timeseries_pycaret_error_output.txt)

[2022-01-19 04:00] phdwight opened #2075 "[BUG] Tune_Model is Broken"
**tune_model is broken**
 1 tuned_dt = tune_model('dt')

1 frames
/usr/local/lib/python3.7/dist-packages/pycaret/internal/tabular.py in tune_model_supervised(estimator, fold, round, n_iter, custom_grid, optimize, custom_scorer, search_library, search_algorithm, early_stopping, early_stopping_max_iters, choose_better, fit_kwargs, groups, return_tuner, verbose, tuner_verbose, display, **kwargs)
   3

[2022-01-19 10:36] gserapio commented on #2075
try passing a trained model object. in other words, remove the quotes from `dt`.

[2022-01-19 10:37] gserapio commented on #2075
`tuned_dt = tune_model(dt)`

[2022-01-19 14:19] moezali1 commented on #2071
@etujnr There is no timeline but I can tell you it will be a very low priority. so not any time soon unless you want to work on it and submit a PR.

[2022-01-19 14:20] moezali1 commented on #2075
@phdwight It is not broken. You are using very old documentation. `tune_model` doesn't accept a string anymore. You have to do this:

[code]
Hope this helps.

[2022-01-19 14:20] #2075 closed

[2022-01-19 15:03] moezali1 commented on #2067
@OleksiyAnokhin Can you share the dataset so I can see what's going on?

Do you have negative values in your target?

[2022-01-19 15:03] #2057 closed

[2022-01-19 15:04] moezali1 commented on #2053
PR merged.

[2022-01-19 15:04] #2053 closed

[2022-01-19 15:06] moezali1 commented on #2043
Hmm. I think `eda` function is not getting dtypes from the `setup`. It's a third party library which I guess automatically infers type using pandas dtypes. Can you try converting your `int` to `float` and see if this fixes the issue for EDA.

Thanks

[2022-01-19 15:37] #2067 closed

[2022-01-19 15:37] #2043 closed

[2022-01-19 15:44] sahanaraguram2000 commented on #2059
I am getting a different kind of error with drift report regression. Please help me understand why this happens.

Here is the code:

`import pandas as pd
from pycaret.regression import *
data = pd.read_csv("E:\\on_nine_ai\\testing data\\Iris.csv")
s = setup(data, target = 'PetalWidthCm', session_id = 123)
lr = create_model('lr')
pred_holdout = predict_model(lr,drift_report=True)`

and here is the

[2022-01-19 15:47] ngupta23 commented on #2034
2.3.6 is now available. Can you try with this latest version?

[2022-01-19 19:03] ajayarunachalam commented on #2034
Yes, I will update you back. Thanks.

[2022-01-19 20:30] ngupta23 commented on #2068
@Rjotsin I have made a fix and submitted a PR to the local development branch `time_series`. The fix will go out in the next release of the time series module. In the meantime,  you can install from Git directly (once the associated PR is approved and merged to the `time_series` branch).

## Instructions for installing the time series branch.
[code]

[2022-01-19 21:00] FredericoSL opened #2078 "ValueError: Number of features of the model must match the input."
**Describe the bug**
Output:

[code]

**To Reproduce**
[code]

**python**
3.8, pycaret-nightly[full]

**Expected behavior**
I expect a predict function to work correctly.

**Additional context**
csv url: https://1drv.ms/u/s!Aqc2EBC-O4GwjYclUyqdkc7Qj-9Hcg?e=t50LWD

**Versions**
import pycaret
pycaret.__version__

2.3.6

[2022-01-19 22:24] moezali1 commented on #2068
Thank you so much @ngupta23

[2022-01-20 02:50] #1762 closed

[2022-01-20 09:04] agorshk commented on #1971
Hi @moezali1 , I'm one of sklearn-intelex maintainers. I appreciate that you are interesting of it, I'm happy to help you with the activity.

You mentioned that you have some issues with kNN importing, we are investigating it. I also open for any discussion related with sklearn-intelex project, if you share challenges ahead of your project we can discuss and probably find a solution.

[2022-01-20 10:59] ajayarunachalam commented on #2034
works fine.

[2022-01-20 10:59] #2034 closed

[2022-01-20 11:11] FredericoSL opened #2079 "[BUG]"
**Describe the bug**
  File "AutoML.py", line 75, in <module>
    predictions = predict_model(automlmodel, X_test)
  File "/azureml-envs/azureml_00fe395d564c8928d8ab7de32f77ce0a/lib/python3.8/site-packages/pycaret/classification.py", line 2025, in predict_model
    return pycaret.internal.tabular.predict_model(
  File "/azureml-envs/azureml_00fe395d564c8928d8ab7de32f77ce0a/lib/python3.8/site-packa

[2022-01-20 12:09] ngupta23 commented on #1766
From @ltsaprounis  - https://robjhyndman.com/hyndsight/forecasting-within-limits/

Will add this transformer to sktime...

[2022-01-20 14:21] DanieleBaranzini opened #2080 "[BUG] finalized model and baseline model with same .coeff_ ?"
**Describe the bug**
After generating a lar model (least angle regression) the ".coeff_"  called for the finalized model and baseline model are exactly the same ...I think these parameters would slightly change as they are being trained on slightly different datasets (for instance the finalized one use the holdout set as well).

**To Reproduce**
the code and relative output in line 41 show the two

[2022-01-20 15:35] john6214058 commented on #2059
I also have this issue.
ypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_17120/478297414.py in <module>
----> 1 predict_model(catboost,drift_report= True)

~\AppData\Roaming\Python\Python38\site-packages\pycaret\classification.py in predict_model(estimator, data, probability_threshold, encoded_labels, raw_score, drift_report, round, verbose)

[2022-01-20 15:39] john6214058 opened #2081 "[BUG]dashboard error"
dashboard(catboost,display_format='dash')
Note: model_output=='probability'. For CatBoostClassifier shap values normally get calculated against X_background, but paramater X_background=None, so using X instead
Generating self.shap_explainer = shap.TreeExplainer(model, X, model_output='probability', feature_perturbation='interventional')...
Note: Shap interaction values will not be available. If sh

[2022-01-20 15:41] john6214058 opened #2082 "[BUG]EDA error"
eda()
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_17120/3763129898.py in <module>
----> 1 eda()

~\AppData\Roaming\Python\Python38\site-packages\pycaret\classification.py in eda(data, target, display_format, **kwargs)
   2914         None
   2915     """
-> 291

[2022-01-20 15:42] reza1615 commented on #2059
I sent a PR and waiting to merge @moezali1

[2022-01-20 18:51] codecypher commented on #1656
Hmm. This will work for now but if I am going to work on other tickets we would have to come up with a better approach.. It would be helpful if you could provide references with code examples or refer to lines of existing source code and describe what you would like done. A sample of the output you would like to see would be good to. Sorry, the ticket just doesn't provide enough information for me

[2022-01-20 21:54] aRafiyi opened #2083 "NameError: stats_check() function"
Hi everyone,

Since yesterday, the `stats_check()` function throws the following error:

"NameError: name 'stats_check' is not defined"

Also, it seems that there is no documentation for this function.

[2022-01-20 23:07] ngupta23 commented on #1656
Do you have all the information you need now from my code gist?

[2022-01-21 15:04] ngupta23 commented on #2083
Its `check_stats`

[2022-01-21 15:09] #2083 closed

[2022-01-21 18:09] aRafiyi commented on #2083
Hi Nikhil,

As you mentioned it was `check_stats` that mistakenly reported as `stats_check`.

Thanks for that!

[2022-01-21 22:16] DerekKane opened #2085 "[BUG] Pycaret 2.3.6 Evidently Not working for drift_report=True"
I had installed the latest version of pycaret 2.3.6 onto a docker jupyter/tensorflow-notebook build. I recreated the example on the YouTube channel with the Evidently and it worked with no issue. However, when I rebuilt my container today the pycaret code doesnt seem to be working now and throws up an error claiming ModuleNotFoundError: No module named 'evidently.tabs'. Ther version of Evidently i

[2022-01-22 04:46] john6214058 commented on #2023
%matplotlib inline
you can run above before plot ,then will auto show the image

[2022-01-22 13:41] ngupta23 commented on #1588
After discussing with @ltsaprounis , it was decided that the `plot_model` functionality will be changed to avoid confusion

Earlier
[code]

Proposed
[code]

Also note that the name `X_test` has been changed to `X` to make it more general

[2022-01-22 15:26] #2068 closed

[2022-01-22 16:08] #1654 closed

[2022-01-22 16:25] codecypher commented on #1656
No it would prefer some references. I think there are some mistakes in the code smaples you provid

[2022-01-22 17:00] ngupta23 commented on #1623
To Test:

[code]

[2022-01-22 17:10] ngupta23 commented on #1914
To Test

[code]

[2022-01-22 17:32] ngupta23 commented on #1656
I am not sure what additional information you are looking for. What are the mistakes?

[2022-01-23 03:41] #2082 closed

[2022-01-23 03:41] #2081 closed

[2022-01-23 08:59] neomatrix369 commented on #1623
There are four types of Croston methods - are these covered? I can help with literature for it if you like, what method is covered by Pycaret?

[2022-01-23 13:13] Anagha-github commented on #1074
thank you very much.. this helped me too

[2022-01-23 13:49] ngupta23 commented on #1623
@neomatrix369 Underlying model is from `sktime`. Details can be found here: https://www.sktime.org/en/latest/api_reference/auto_generated/sktime.forecasting.croston.Croston.html

[2022-01-24 13:55] ngupta23 commented on #1766
PR in sktime added: https://github.com/alan-turing-institute/sktime/pull/1913

[2022-01-24 17:28] JuanBGV opened #2088 "[BUG] Problem... with drift..."
Problem... with drift...

I had installed the latest version of pycaret 2.3.6-I recreated the example on the YouTube channel with the Evidently and it worked without any problems. However, when I rebuilt today, the pycaret code doesn't seem to be working now and throws up an error that states ModuleNotFoundError: There is no module called 'evidently.tabs'. The version of Evidently installed is 0.1

[2022-01-25 03:55] kennysong commented on #2016
It will be very helpful if you can provide (1) in PyCaret 2.4 (store the PyCaret library version and sklearn library version in the pickle).

[2022-01-25 13:47] ngupta23 commented on #1909
@moezali1 @levelalphaone @Yard1

I think we should really consider the format of the output. The words "Train" and "Test" have no place in the columns.
We will have to change the sort argument from `accuracy` to "test_accuracy"

![image](https://user-images.githubusercontent.com/33585645/150988518-ed6dccac-7f45-4775-b9c6-5b2ade4b1ac7.png)

My strong opinion is that these should be in the tall form

[2022-01-25 16:29] moezali1 commented on #2088
@JuanBGV There is a pending PR for the drift report. I wonder if that PR will resolve this issue, if not, will you be interested in working on this?

[2022-01-25 19:58] reza1615 commented on #2085
After the recent merge it is ok
![image](https://user-images.githubusercontent.com/2202483/151050072-a8e0441e-e161-4ea6-a208-4658cc08d414.png)

[2022-01-25 20:03] reza1615 commented on #2088
Now it seems ok
![image](https://user-images.githubusercontent.com/2202483/151050853-a244f993-197d-4cb6-ac88-acdf80b95617.png)

[2022-01-25 23:33] JuanBGV commented on #2088
Thank you- Great.

[2022-01-25 23:33] #2088 closed

[2022-01-26 02:56] kennysong opened #2092 "Output all scores in predict_model"
**Is your feature request related to a problem? Please describe.**

`predict_model()` only outputs the score of the predicted class.

For multiclass classification, we'd like to know the predicted scores of all classes.

**Additional context**

There was [a similar issue](https://github.com/pycaret/pycaret/issues/294#issuecomment-813136919) for binary classification, where it's possible to get the

[2022-01-26 11:38] ngupta23 opened #2096 "Add Support for Multivariate Time Series"
Add support for true multivariate models such as VAR

Check out the proposed interface here: https://github.com/pycaret/pycaret/issues/1588#issuecomment-1006535581

NOTE: This will need major changes to pycaret infrastructure since it does not support multiple output problems even for classification.

[2022-01-26 11:46] ngupta23 commented on #1656
@codecypher I believe all the information should be there in the code that I sent to you (https://github.com/pycaret/pycaret/issues/1656#issuecomment-1012391671). All that is needed is to convert the data to plotly plots and add to pycaret. Let me know if you want me to pick it up. We would like to have this released at the end of Feb release as it is an important feature for EDA. Thanks!

[2022-01-26 12:44] ngupta23 commented on #1588
Compared to https://github.com/pycaret/pycaret/issues/1588#issuecomment-1013804131, if you do not have the future exogenous variables available from external sources, then you can predict them yourself using pycaret as shown below.

[code]

[2022-01-26 16:55] reza1615 commented on #2085
It is fixed. If there are any issues feel free to reopen it

[2022-01-26 16:55] #2085 closed

[2022-01-26 22:17] reza1615 commented on #2059
It is solved

[2022-01-26 22:17] #2059 closed

[2022-01-27 08:38] john6214058 opened #2098 "how can show all rows during setup to confirm if all features type been identify correct"
Code:
from pycaret.datasets import get_data
dataset = get_data('mice')
from pycaret.clustering import *

exp_clu101 = setup(data, normalize = True,
                   ignore_features = ['MouseID'],
                   session_id = 123)

here I got a summary data frame to confirm if all the features types were identified correct.

Current problem is if  there are total 81 features, it can not show a

[2022-01-27 12:35] hu-milize commented on #1102
I got same error , scikit-learn==0.23.2

[2022-01-27 13:10] levelalphaone commented on #1909
@ngupta23 We can sure do that, but this only gives the choice to the user how he wants to sort, optimize his model. If we need to sort or optimize only on the metric names only, can you please tell me the name of the functions, or if in all the functions, then can you please respond accordingly?
@moezali1 Please comment on this as well.

[2022-01-27 21:28] Yard1 commented on #1102
Install scikit-learn==0.23.2

[2022-01-28 16:41] codecypher commented on #1656
Actually no.

I like the potential of PyCaret but there would have to be some changes in your software development (SD) approach before I would be willing to donate my time and expertise.

I can tell from the comments in the PRs that you have a lot of developers who volunteer to contribute but later give up.

Here are some problems that I have encountered so far:

- Code one-liners and one or two

[2022-01-29 23:37] ngupta23 commented on #2065
Places where alpha is used and will need to be modified to use the value from setup

- [ ] Forecasts (predict)
- [ ] Plots (e.g. prediction intervals)
- [ ] check_stats

[2022-01-30 02:31] #1588 closed

[2022-01-30 02:40] ngupta23 opened #2102 "Time Series Plotting to support exogenous variables"
**Is your feature request related to a problem? Please describe.**
Add exogenous variable plots in plot_models() for time series

**Describe the solution you'd like**

[code]

The current solution only plots the target. It would be nice to see all the exogenous variables along with this as well (plotted below it and synchronized in x-axis).

[2022-01-30 12:20] ngupta23 opened #2103 "STL decomposition fails when seasonal_period = 1"
Fair enough. This is a bug though and we will need to fix this. The appropriate action would be to through a warning message in this case from pycaret rather than have the program crash. I will open a new issue for this.

Thanks for catching this!

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/pull/2101#r795173218_

Check sp when user wants to plot stl decomposition and thr

[2022-01-30 13:21] ngupta23 commented on #1995
@moezali1 I have added the documentation in the code now. Once the PR is merged, you can regenerate the docs.

[2022-01-31 01:22] #1894 closed

[2022-01-31 08:42] PitS99 opened #2106 "# Decision Boundary Chart does not match with the Confusion matrix"
Decision Boundary Chart does not match with the Confusion matrix.

![image](https://user-images.githubusercontent.com/69504431/151762191-b22c9f0c-336e-475d-a0ba-c64adfbb40a3.png)

vs.

![image](https://user-images.githubusercontent.com/69504431/151762292-915e6530-400b-44bb-b364-3ee5643ed858.png)

Class 1 - there is a good match between both charts
Class 3 - there is a good match between both chart

[2022-01-31 09:20] ngupta23 opened #2107 "[BUG] Datasets unable to read from a web address"
**Describe the bug**
Unable to read data from a web location using `address` filed

**To Reproduce**

[code]

[code]

An extra path "data/commom/" is being appended to the address.

**Expected behavior**
Data should be read from the link directly without appending anything else to it (i.e. the user should provide the complete link for the dataset)

**Versions**
Time Series Module (Jan 30th release

[2022-01-31 10:31] ngupta23 commented on #1655
To Test

[code]

[2022-01-31 10:31] #1655 closed

[2022-01-31 23:31] agusxpro commented on #219
I put optional argument:
fold_shuffle = True
inside the setup function, it worked fine.

[2022-02-01 04:27] ngupta23 opened #2110 "[BUG] Prophet does not work with forecasting when exogenous variables are provided"
**Describe the bug**
When exogenous variables are provided, Prophet does not work since X data does not have the same index as the y data.

**To Reproduce**
[code]

[code]

**Expected behavior**
Should work properly when exogenous variables are provided.

**Versions**
Jan 2022 Release

[2022-02-01 04:32] ngupta23 opened #2111 "[BUG] Prophet Model does not work when data has RangeIndex"
**Describe the bug**
Prophet Model does not support RangeIndex

**To Reproduce**
[code]

[code]

**Expected behavior**
If Prophet does not support IntIndex, disable it if that kind of Index is provided. Also update setup docstring appropriately.

**Versions**
Jan 2022 Release

[2022-02-01 17:08] #2015 closed

[2022-02-02 06:53] VinayChaudhari1996 opened #2114 "[BUG][time_series] Installation Issue"
Hello Team,

###  Issue:
Unable to use pycaret ts  on google colab

Instalation status = **Success**

`!pip install -U pycaret-ts-alpha
`

![image](https://user-images.githubusercontent.com/42869040/152107087-72cd9a06-86a9-4853-a277-6e4a9250b3a6.png)

[code]

How to fix this issue?

Thanks

[2022-02-02 13:54] AJarman commented on #1766
Happy to pick this up and integrate the`ScaledLogitTransformer` from sktime which @ltsaprounis kindly provided.
I would assume that this is now to be implemented differently during `setup` so the pipeline can persist(save) the transformer between `TimeSeriesExperiment`s

https://github.com/alan-turing-institute/sktime/releases/tag/v0.10.0
(now on pypi etc)
Assuming all the existing tests pass, is

[2022-02-02 18:42] ngupta23 commented on #1766
Hi @AJarman , Yes that is correct. It has to be added as a preprocessing step in the pipeline which will appropriately transform the data to keep it within the user specified limits.

Currently, preprocessing has not been implemented in the time-series module. We are actively working on it though (along with a revamp of the preprocessing for other modules such as regression/classification).

https

[2022-02-02 18:57] d4deva opened #2117 "ValueError: Input contains NaN, infinity or a value too large for dtype('float64').[BUG]"
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

Getting this error when i am trying to run GBR for the data set. The data set doesn't have nans and below are the params i have used to buld the model.

     params = setup(data = model_data_train,test_data=model_test_data, target = "Target_variable",
                                      normalize = True,session_

[2022-02-02 20:00] AJarman commented on #1766
No problem, I will pick up something else !
I'll keep an eye on the issue above and implement once preprocessing is done.

[2022-02-02 21:45] Brunokemon opened #2118 "How to deal with big data and shrink required memory"
Hi, I have some really big training data files (ranging from 1gb to 5gb) and I'm having trouble using them with Pycaret

Here is the code I'm using
[code]

for the dataset with 1gb it yields the following memory error
[code]

so I'd like to know if it is possible to make it explicit for Pycaret that the data is int32 instead of float64 and other tips that would shrink the needed memory size.

Than

[2022-02-03 01:50] ngupta23 commented on #2118
It looks like you have about 0.5 Million features. Is that correct? Do you really need all of them for your modeling?

[2022-02-03 01:55] ngupta23 commented on #2117
It is hard to say what the issue is just from the information you provided, so you will have to narrow this down a bit.

Can you try with the following

[code]

Then add them back **one by one** and see at which point it is failing. That may shed some more light on what is going on. Also, please paste the entire error message stack since it points at the exact file and line location where the issu

[2022-02-03 02:11] Brunokemon commented on #2118
I removed less important features but that still leaves me with about 0.3 Million features.
Yeah it's still a lot but biological data has a lot of important features unfortunately that I can't remove.

[2022-02-03 04:01] ngupta23 commented on #2114
`sktime` made a new release (0.10.0) which is breaking something. I just made a new release for `pycaret-ts-alpha` pinning `sktime` to a prior version (0.9.x). Can you try again and let me know if you still face any issues?

[2022-02-03 04:07] ngupta23 commented on #2118
Do you know which model is giving the issue in `compare_models()`. If so, you could try to remove it from the list using the `exclude` argument to see if it will work.

[2022-02-03 04:27] Brunokemon commented on #2118
I've put to test each model, one by one today earlier. We'll see which one causes the issue.

[2022-02-03 05:18] moezali1 commented on #2118
@Brunokemon I bet `knn` here will be a deal breaker here. Do you have GPU available? If yes, I suggest use `use_gpu = True` in the `setup`.

[2022-02-03 05:21] moezali1 commented on #2106
Well, the Decision boundaries x and y-axis are PCA'ed, so there is an information loss there. I am not sure if this will ever match this way.

[2022-02-03 05:21] #2106 closed

[2022-02-03 08:32] tvdboom commented on #2118
Is it possible to convert your data to a [sparse dataframe](https://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html)? That would definitely help with the memory the most and the majority of sklearn's models support sparse input.

Shrinking the data types is not yet implemented, but will be a new feature for the next major release, as well as some improvements in memory efficiency.

[2022-02-03 08:35] tvdboom commented on #2118
Also, if your data does not need preprocessing, use `preprocess=False` in setup(). That will skip the transformation steps that is causing the memory failure in your example.

[2022-02-03 13:58] ngupta23 commented on #1909
@levelalphaone There may be more nuances to this now that I think of it. For example, you are not really showing the test scores here - what you are showing is the train and validation part of the Cross validation folds.

In addition, we also can have the scores on the entire train dataset (trained model after cv) as well as the test score (not used in training at all).

Let me think about this so

[2022-02-03 14:17] Brunokemon commented on #2118
@moezali1 I have a GPU. I'm waiting the results of the KNN. Hope it works.

[2022-02-03 16:25] fkiraly commented on #2114
I think this is not `sktime` related.

Quick look indicates that `sklearn` made `safe_indexing` private in version 0.22.0, since then it's `_safe_indexing`.
https://scikit-learn.org/stable/modules/generated/sklearn.utils._safe_indexing.html

https://stackoverflow.com/questions/65602076/yellowbrick-importerror-cannot-import-name-safe-indexing-from-sklearn-utils

So, you've been calling a long depre

[2022-02-03 16:28] fkiraly commented on #2114
here, this is the root issue, seems to be `yellowbrick`
https://github.com/DistrictDataLabs/yellowbrick/issues/1137

[2022-02-03 16:34] ngupta23 commented on #1766
Thank you. I appreicate your patience with this one.

[2022-02-03 17:03] VinayChaudhari1996 commented on #2114
Just 2 weeks before , it was working fine on Google colab.

[2022-02-04 05:41] levelalphaone commented on #1909
@ngupta23 you are absolutely right. I have mentioned in this comment thread, that the test scores here are nothing but the validation scores. Please let me know what other changes I have to make for this PR. Thanks again!

[2022-02-04 05:55] jgdpsingh opened #2124 "[BUG] Installation issue"
**Describe the bug**

**To Reproduce**

[2022-02-04 05:55] #2124 closed

[2022-02-04 06:06] jgdpsingh opened #2125 "[BUG] Installation Issue"
**Describe the bug**

The library is not installing at all. I tried running Command prompt as administrator as well but to no avail.

**To Reproduce**
Requirement already satisfied: phik>=0.11.1 in c:\users\jagdeep\appdata\roaming\
python\python39\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.0)
Requirement already satisfied: networkx>=2.4 in c:\users\jagdeep\anaconda3\lib\s
ite-pack

[2022-02-04 07:50] tvdboom commented on #2118
The majority of sklearn models **can't** deal with NaN values. The compressed value in a sparse dataframe is usually zero.

[2022-02-04 09:21] sayantan1410 commented on #2107
@ngupta23 Hey, I would like to on this one !!

[2022-02-04 13:02] ngupta23 commented on #2114
@VinayChaudhari1996 The temporary fix that I released should allow you to install it now. This will use version sktime 0.9.0. We will try to release a permanent fix later which will allow the use of sktime 0.10.0 and all other relevant libraries properly.

[2022-02-04 13:47] ngupta23 commented on #2125
Your error seems to be related to this one: https://github.com/pycaret/pycaret/issues/1254

[code]

[2022-02-04 14:34] lsfranco7 opened #2126 "AttributeError - Traceback (most recent call last)"
**Describe the bug**

**To Reproduce**
<div class="output_area" style="box-sizing: border-box; padding: 0px; break-inside: avoid; -webkit-box-orient: horizontal; -webkit-box-align: stretch; display: flex; flex-direction: row; align-items: stretch; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures:

[2022-02-04 14:46] VinayChaudhari1996 commented on #2114
Great @ngupta23  !!!

[2022-02-04 20:48] GDGauravDutta opened #2127 "Train the model with 100% of the data instead of train_size<1.0"
Train the model with 100% of the data instead of train_size<1.0

Presently, we don't have this feature, which is restricting us to use it any competitions.

finalize_model(parameters) is retraining the same train data again.

[2022-02-04 21:33] gm039 opened #2128 "Issue with optimizes probability threshold Function"
**Describe the bug**

optimize_threshold is not working as expected. I am using PyCaret '2.3.6'

**To Reproduce**

## PyCaret Version
import pycaret
pycaret.__version__

'2.3.6'
## Predict using a trained model
predict_model(Model, raw_score=True)
print(Model)

![image](https://user-images.githubusercontent.com/50217085/152604304-f25c76fc-0058-47df-b4de-49a82b44defe.png)

## Optimize threshold and

[2022-02-05 01:02] #2110 closed

[2022-02-05 01:02] #2111 closed

[2022-02-05 08:07] GDGauravDutta opened #2129 "Compare_models() to show how model performed at test results"
As an user I loved how compare_models() shows the report of how model performed in trained data.

I want same to be shown for test data too so as I can visualise how all models performed in test data.

This will help users to decide the best model upon performance of model in train & test data.

This will help community to have excellent models rather than thinking how other models may have perfor

[2022-02-05 13:31] ngupta23 commented on #1656
@codecypher We are aware of these challenges but these things take time to fix especially with a codebase this large that is being supported by a small group of dedicated volunteers who are doing this in their free time (and not getting paid to do this). Comparing it to scikit-learn and Keras is not a fair comparison because they have been around for a much longer time and are backed financially b

[2022-02-05 13:33] ngupta23 commented on #1656
Only supporting Periodogram and FFT for now. We can revisit welch later since these two should probably be enough to get the information we want.

For Testing

[code]

[code]

![image](https://user-images.githubusercontent.com/33585645/152643735-c1cacd3d-776e-4c92-a17b-4d9363d33520.png)

![image](https://user-images.githubusercontent.com/33585645/152643748-92c78497-1758-4248-a57b-7435b18fa42c.png)

[2022-02-05 13:35] ngupta23 commented on #2129
Using metrics from test data to decide the "best" models defeats the purpose of the test data. Test data is an independent dataset that should not be used to make any decision about hyperparameters or the best model. It is only for reporting purposes.

[2022-02-05 14:03] GDGauravDutta commented on #2129
It will help to know how good model performed.

Example : rf has good score in training but maybe bad in test data.

If we have a function to show train & test data result for multiple models . It helps to improve our models

[2022-02-05 15:49] sayantan1410 commented on #2107
@ngupta23 Hey, when I am reproducing the bug it is running successfully,
I have done `pip install pycaret` and then ran the above code, do I have to install a specific version of pycaret for reproducing the bug ?
here's the link to the notebook - https://colab.research.google.com/drive/1-FoFLjSR_klLuTEcLvKBAZ1-Om-KAQvm?usp=sharing

[2022-02-05 16:19] ngupta23 commented on #2126
`results` is a Pandas dataframe and it does not have an attribute call Models. This is not a pycaret bug.

[2022-02-05 16:20] #2126 closed

[2022-02-05 16:23] ngupta23 commented on #2107
@sayantan1410 This is in the time_series branch.

You can try with `!pip install pycaret-ts-alpha`

[2022-02-05 16:30] sayantan1410 commented on #2107
Okay sure !!

[2022-02-05 16:32] ngupta23 commented on #2129
I think what you are really looking for is the comparison of the cross-validation "train" and cross-validation "validation" scores used in cross validation. There is an open Issue for this already. https://github.com/pycaret/pycaret/issues/1909

Using test scores to make decisions will lead to overfitting on the test data. Ideally you want to avoid that and keep the tests data completely separate

[2022-02-05 21:43] codecypher commented on #1656
I think the most pressing issue right now is that u seem to have a habit of giving one-liner function prototypes and/or one sentence blurbs and think that a seasoned developer can somehow use that to complete the PR. A seasoned developer donating their time is not going to want to play 20 questions to get u to do your job.

[2022-02-05 23:57] #1656 closed

[2022-02-06 02:27] ngupta23 opened #2132 "Add `show_versions` to pycaret"
**Is your feature request related to a problem? Please describe.**
When debugging user issues, it is not clear what versions are installed in their environment.

**Describe the solution you'd like**
Add show_version() similar to what sklearn and sktime does. This will help when we need to debug user issues

https://github.com/alan-turing-institute/sktime/blob/v0.10.0/sktime/utils/_maint/_show_vers

[2022-02-06 05:53] ngupta23 commented on #2125
@jgdpsingh I am going to close this now. Feel free to reopen if the above does not resolve the installation issue.

[2022-02-06 05:53] #2125 closed

[2022-02-06 05:55] ngupta23 commented on #2080
Could you try on another dataset to confirm? It could be the dataset is such that it is giving the same coefficients.

[2022-02-06 15:06] ngupta23 opened #2133 "[Time Series] Add argument to `setup` called `enforce_exogenous`"
**Is your feature request related to a problem? Please describe.**
In the development version of pycaret time series module, exogenous variable support has been added. But in compare models, when a certain model does not support exogenous variables, it automatically switches to univariate forecasting without warning.

**Describe the solution you'd like**
Add an argument to `setup` called `enforce_

[2022-02-06 16:09] ngupta23 commented on #2132
To use

[code]

[2022-02-06 19:53] ngupta23 opened #2136 "Release a docker image with pycaret already installed"
**Is your feature request related to a problem? Please describe.**
Some users may have issues installing pycaret.

**Describe the solution you'd like**
Would it make sense to release a docker image for each release for users?

**Describe alternatives you've considered**
Status Quo - users install on their own.

**Additional context**
Will avoid unnecessary installation issues.

[2022-02-07 02:25] ngupta23 opened #2137 "Installation - Dependency cleanup"
**Is your feature request related to a problem? Please describe.**
Currently, there are many dependencies that can conflict with each other during installation.

**Describe the solution you'd like**
Break up installation into smaller modules

Ideas

- [x] Break into smaller modules
    - [x] pip install pycaret for Regression and Classification
    - [x] pip install pycaret[ts] for Time Series

[2022-02-07 04:04] khursani8 opened #2138 "Hill Climbing"
**Is your feature request related to a problem? Please describe.**
When use compare_model, I can use n_select to pick n number of models with high metric. Usually when ensemble even not top model will be useful in improving CV score when I want to blend my model.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
A clear and concise description of any alterna

[2022-02-07 18:35] Luizgs7 commented on #1176
Hi,
@gm039 I got the splited train and test set to use in the predict_model as you suggested:

`
% Importing dataset
from pycaret.datasets import get_data
diabetes = get_data('diabetes')

%Importing module and initializing setup
from pycaret.classification import *
clf1 = setup(data = diabetes, target = 'Class variable')

%creating a model
lr = create_model('lr')

%Get transformed train and test d

[2022-02-08 05:27] DanieleBaranzini commented on #2080
OK I will try out on another dataset, and will report back. Thanks.

[2022-02-08 10:36] jgdpsingh commented on #2125
I installed the Visual C++ 2019 but it's still showing the same issue. Can you help me out?

[2022-02-08 12:04] ngupta23 commented on #1751
Alternatively for exogenous variables, we can add CCF plots. Some analysis done here: https://gist.github.com/ngupta23/35da3a2768c0730d086408d49fce7ff0

[2022-02-08 12:43] #2114 closed

[2022-02-08 14:58] ngupta23 commented on #1751
Cleaned up notebook with Statsmodels implementation

https://gist.github.com/ngupta23/370dacc3abf1af0df873110acb70f568

[2022-02-08 21:56] Muhtasham opened #2143 "pip package manager issue on colab [BUG]"
**Describe the bug**

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentation

[2022-02-08 22:45] creotiv opened #2144 "[BUG] ValueError: Found input variables with inconsistent numbers of samples: [13204, 26408]"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
No exceptions

**Versions**
Python3.8
<details>
2.3.6
</details>

[2022-02-08 22:57] creotiv commented on #2144
When i use d = d.iloc[:500] problems goes away. so it's somehow related to number of rows in dataframe

[2022-02-09 12:42] Brunokemon commented on #2118
I needed to do additional data filtering and that made it work.

Thanks, lads, for the help.

[2022-02-09 12:42] #2118 closed

[2022-02-10 11:37] ngupta23 commented on #2127
The idea behind modeling would be to make a model that can be generalized to an unknown dataset. In the case of any competition, this unknown dataset would be the private leaderboard datasets. So you can (and should) still use the recommended methodology of performing a train-test split on the public dataset, then cross-validate the train split. Once you are happy with the results, you can finaliz

[2022-02-10 13:01] GDGauravDutta commented on #2127
I am able to see final showing train data only .

[2022-02-10 15:16] ngupta23 commented on #2127
I am not sure what you mean. You will need to provide a reproducible example of what is going on (data + code) for someone to debug further.

[2022-02-11 12:38] DongningS opened #2145 "[BUG] sklearn 0.24.2"
I encounter this issue due to incompatibility od sklearn version.

codes to reproduce this problem
python

**Versions**
python 3.8.8

[2022-02-11 18:37] ngupta23 commented on #2145
It is not clear from your message what the real issue you are facing. Please elaborate with as much detail as you can. Thanks!

[2022-02-11 18:38] ngupta23 commented on #2145
In the mean time, this might be helpful: https://github.com/pycaret/pycaret/issues/1847

[2022-02-11 18:43] ngupta23 opened #2147 "[Forecasting] Add setup argument for `lags` that is used in the rest of the methods"
Is your feature request related to a problem? Please describe.
The current value of lags used in plotting is inconsistent.

Describe the solution you'd like
Take this as a setup argument and use it everywhere for consistency.

TBD
- [ ] Decision on default value for number of lags needs more thought. Look at what existing statsmodels library is doing and see if we can keep it as close to it as pos

[2022-02-11 18:46] #2145 closed

[2022-02-11 18:53] ngupta23 commented on #2143
It is installing correctly for me (version 2.3.6). Can you check again? Maybe it was a temporary issue. Another thing to check is whether you are installing any other packages that may be interfering with the installation of `pycaret`.

![image](https://user-images.githubusercontent.com/33585645/153652033-22e95a78-0b06-4a54-9a09-d581af1dd856.png)

[2022-02-11 18:55] ngupta23 commented on #2125
That is the only error in the message that you posted. If you are still getting the same message, maybe check that the Visual C++ 2019 installation happened correctly.

Alternately, try installing on Google Colab as it is working there.

[2022-02-11 21:40] #2143 closed

[2022-02-12 14:00] ngupta23 commented on #1909
Some more thoughts for discussion with team

| Index |     Split    | Accuracy |  AUC | ... |
|:-----:|:------------:|:--------:|:----:|:---:|
| 0     | CV-Train     | 0.9      | 0.85 |     |
| 0     | CV-Val       | 0.85     | 0.86 |     |
| 1     | CV-Train     | 0.6      | 0.9  |     |
| 1     | CV-Val       | 0.65     | 0.92 |     |
| 2     | CV-Train     | 0.8      | 0.9  |     |
| 2     | CV

[2022-02-12 15:22] ngupta23 commented on #1748
# Finalized Structure in meeting  on Feb 12, 2022

* Current: pycaret/internal/pycaret_experiment/time_series_experiment.py
* Change Suggested: pycaret/internal/pycaret_experiment/time_series/forecasting_experiment.py --> TSForecastingExperiment
  - Aliased To --> `from pycaret.time_series import TSForecastingExperiment`

## Example Aliases (for all classes):

[code]

[2022-02-12 16:34] ngupta23 commented on #1909
@levelalphaone We discussed this in an internal meeting today and this is what we are recommending as the final structure. This structure will enable easy filtering and plotting of the results to diagnose under/overfitting in the models as shown below. Can you update your code to implement this?

Note that the last line with `Split = Train` is the score for the final model that is returned from `c

[2022-02-12 18:23] bibhabasumohapatra opened #2148 "Please Manage links in a better way"
**Describe the bug**

Every time I want to learn something or search some feature about PyCaret (not taking away the fact that PyCaret is great)

![image](https://user-images.githubusercontent.com/68384968/153723288-bc64ae6f-7221-4fd2-ad6e-0109d0b4884d.png)

Please link all the these link to helpful docs

[2022-02-12 21:33] ngupta23 commented on #2148
What link is this? Also, did you try clicking on "moved here"? What happens when you do that?

[2022-02-12 22:39] moezali1 opened #2150 "drift_report for new data"
Currently, the `drift_report` parameter in the `predict_model` function when set to True generates a drift report and saves it as an HTML file. This report measures the drift between the training set and the test/hold-out set. The more useful way of monitoring drift is to compare it between training data and the new data on which score needs to be generated. However, since we do not store training

[2022-02-12 22:46] moezali1 commented on #2148
@bibhabasumohapatra We have moved the documentation [here](https://pycaret.gitbook.io). As long as that link is taking you on the documentation, there is nothing wrong with this.

The reason I had to be a redirect like that is because there are tons of articles and tutorials that were referencing directly to a specific page on pycaret.org for example pycaret.org/classification.

Hopefully you will

[2022-02-12 22:46] #2148 closed

[2022-02-12 22:57] moezali1 commented on #2136
@mfahadakbar Isn't it what we already have? Assigning this to you.

[2022-02-12 23:04] moezali1 commented on #2138
@khursani8 Do you want to work on this enhancement?

[2022-02-12 23:06] moezali1 commented on #2144
@creotiv Can you reproduce this issue on a public dataset that you can share so we can troubleshoot what's going on?

Can you try `use_gpu = False`. I am wondering if it's related to any GPU estimator.

[2022-02-12 23:06] #2129 closed

[2022-02-13 01:08] moezali1 commented on #2128
@gm039 The difference between cross-validation and hold-out metric could be due to overfitting.

I checked if `predict_model` has any bug and it is ignoring the threshold for scoring. I couldn't find any bug.

[code]
![image](https://user-images.githubusercontent.com/54699234/153734008-05c3ebe1-b4f6-4101-a526-2c25f717ac33.png)

[2022-02-13 01:10] #2127 closed

[2022-02-13 01:49] mfahadakbar commented on #2136
Yes.. we already have it... It's just not merged with the master yet..  I
will be adding that to repo.

https://hub.docker.com/r/pycaret/full

https://hub.docker.com/r/pycaret/slim

On Sat., Feb. 12, 2022, 5:57 p.m. Moez Ali, ***@***.***>
wrote:

[2022-02-13 03:09] bibhabasumohapatra commented on #2148
![IMG_20220213_083234.jpg](https://user-images.githubusercontent.com/68384968/153736456-d3acd10e-f69e-4bc1-85a0-0384387190e4.jpg)

The problem is not it redirects to pycaret.gitbook.io
The problem is redirects everything to pycaret.gitbook.io

Searching _numerical features pycaret_   should take me to numerical features_  on pycaret.gitbook.io

Rather it takes me to _numerical features pycaret_ on

[2022-02-13 07:48] ryan11lee opened #2151 "Cannot import name '_centered' from 'scipy.signal.signaltools'"
**Describe the bug**
 Getting Error:
`cannot import name '_centered' from 'scipy.signal.signaltools' `

After installing alpha I cannot load package to try it out. I tried a couple versions on SciPy but was unable to resolve the issue.

**To Reproduce**

[code]

**Expected behavior**
 The package should load

**Additional context**

**Versions**
<details>

 pycaret-ts-alpha 3.0.0.dev1643860751

</

[2022-02-13 11:47] drmario-gh commented on #1901
Hi @ngupta23,

- I've finally decided to leave the renaming of `sp_to_use` for a different PR to make reviews easier.
- Shouldn't we allow non integer seasonal values too (where it makes sense)? E.g., TBATS and Prophet support them.

[2022-02-13 12:17] ngupta23 commented on #2151
This is breaking due to the latest version of scipy. Can you install scipy version 1.7.3 instead of 1.8.0?

[2022-02-13 12:28] ngupta23 opened #2153 "[Time Series] Disabling hovering for plots with a lot of data"
**Is your feature request related to a problem? Please describe.**
Some plots have a lot of data which make jupyter notebooks very slow.

**Describe the solution you'd like**
Hovering should be automatically disabled for these kinds of plots. e.g.

- [x] Time Series plots with many exogenous features and long time scale

[code]

### Suggested Implementation

Add an argument [`hoverinfo`](https://s

[2022-02-13 12:33] ngupta23 opened #2154 "[Time Series] figure width/height control"
**Is your feature request related to a problem? Please describe.**

Currently to control the figure width in `plot_model`, we need to provide the following

[code]

This does not follow plotly convention.

**Describe the solution you'd like**
Consider changing this to plotly convention, i.e.

[code]

This also has the added advantage of the user being able to provide just a width while not having

[2022-02-13 12:50] ngupta23 opened #2155 "[BUG] Missing exogenous variables"
**Describe the bug**
In some cases, exogenous variables are not being calculated correctly (some are missing).

**To Reproduce**

[code]

Column `T` is missing from the exogenous variables.

![image](https://user-images.githubusercontent.com/33585645/153753761-9090cdd8-3254-4a99-bf3d-c8e73eefbeff.png)

**Expected behavior**
Column `'T` should not be missing from the list of exogenous variables.

*

[2022-02-14 05:52] levelalphaone commented on #1909
@ngupta23 Sure! This looks really clean and has a much better implementation. I will try to close this within two weeks, and I will post my doubts here if I come into any. Thanks for the information and support.

[2022-02-14 07:56] mingjun1120 commented on #962
So, pycaret still cannot support Python 3.9 until today?

[2022-02-14 08:16] tomleung1996 opened #2156 "Is is possible to combine two ROC plots?"
While the AUC can compare two models directly, is it possible to compare two models using their ROC plots? e.g., combining two plots together.

In addition, is it possible to have more control over the plots? I would like to hide some lines that I don't need and modify the appearance (e.g., grid, color, etc.)

Thank you!

[2022-02-14 08:19] tomleung1996 commented on #2156
Maybe I can obtain the data used to generate these plots and create my own one? However, I have no idea how to get the data

[2022-02-14 09:44] ngupta23 opened #2157 "GitHub Actions: cancel old but running workflows of a PR when pushing again"
**Is your feature request related to a problem? Please describe.**
When developing, each push to GitHub triggers a run for the unit tests which can take ~ 45-50 mins. When we have multiple pushes within that 45 mins, unit tests are run for each push which may be unnecessary.

**Describe the solution you'd like**
Add action to Cancel previously running workflows as shown here per https://github.com

[2022-02-14 10:14] ngupta23 commented on #2153
- [ ] Confirm if `hoverinfo` argument in `plot_model` should reside in the `fig_kwargs` or whether it should be a separate argument?

[2022-02-14 10:32] ngupta23 commented on #1901
That is a good idea. We are also undergoing a major refactor of the code which will get merged into the `time_series` branch shortly. We should wait for that to be done before we do this changes to make it easier.

Good idea. If the model can support it, we can provide it, but we have to coordinate this appropriately. For example, if the user just specifies seasonal_period = 52.14, how do we handl

[2022-02-14 10:36] ngupta23 commented on #1909
No problem. Just let us know if you face any issues. Thanks for your work on this PR.

[2022-02-14 11:47] #1751 closed

[2022-02-14 11:47] #2102 closed

[2022-02-14 11:47] #2155 closed

[2022-02-14 12:07] ngupta23 commented on #2148
@bibhabasumohapatra For now can you use the search capability on the new documentation page itself?

![image](https://user-images.githubusercontent.com/33585645/153861513-248e6b01-05a3-4907-95cf-047d0652bf6d.png)

[2022-02-14 13:56] moezali1 commented on #2156
Not yet.

[2022-02-14 15:34] mfahadakbar commented on #2136
@ngupta23 only the latest versions... but I guess users can keep the containers separate at their end for older versions

[2022-02-14 17:47] prafulbatra opened #2160 "Confusion matrix on train dataset showing 0 in False Positives and False Negatives in Decision Tree and Random Forest models[BUG]"
**Describe the bug**
I trained various models on my tabular dataset and plotted the confusion matrix after training. During set up I used 'test_data' parameter to provide test dataset separately. Also , for printing Confusion matrix , I used, 'use_train_data' parameter to 'True' in all models.  **In Decision Trees and Random Forest models , I am seeing zero values in both False Positives and False

[2022-02-14 18:24] prafulbatra commented on #2160
[code example.pdf](https://github.com/pycaret/pycaret/files/8063080/code.example.pdf)
In the above  file , I have shown in pycaret 'credit' dataset that , confusion matrix on train data is not in accordance with the performance scores of the model.

[2022-02-15 02:26] sgujjaABM opened #2163 "[BUG] Error running autoML function"
**Describe the bug**

**To Reproduce**

Hi, I am trying to run PyCaret automl function, however I get an error with or without excluding 'huber' (please see error below). Can you please help with the code.
Thank you.

Initiated . . . . . . . . . . . . . . . . . .      02:33:45
Status   . . . . . . . . . . . . . . . . . . Preprocessing Data
Text(value="Following data types have been inferred automa

[2022-02-15 04:44] khursani8 commented on #2138
Sure, I will try this weekend if I got time. Need to explore pycaret code first since I don't know what really happen inside.

[2022-02-15 11:41] ngupta23 commented on #2153
Other ideas

- [ ] Use with fig.batch_update()
- [ ] Disable interactive renderer for plots above a certain threshold but allow users to specify renderer if needed.

[2022-02-15 12:06] ngupta23 commented on #2151
@ryan11lee Did downgrading `scipy` resolve your problem?

[2022-02-15 12:07] ngupta23 opened #2165 "Support for non integer seasonal periods"
That is a good idea. We are also undergoing a major refactor of the code which will get merged into the `time_series` branch shortly. We should wait for that to be done before we do this changes to make it easier.

Good idea. If the model can support it, we can provide it, but we have to coordinate this appropriately. For example, if the user just specifies seasonal_period = 52.14, how do we handl

[2022-02-15 12:09] ngupta23 opened #2166 "Rename `sp_to_use` to `primary_sp_to_use`"
That is a good idea. We are also undergoing a major refactor of the code which will get merged into the `time_series` branch shortly. We should wait for that to be done before we do this changes to make it easier.

Good idea. If the model can support it, we can provide it, but we have to coordinate this appropriately. For example, if the user just specifies seasonal_period = 52.14, how do we handl

[2022-02-15 12:10] #1901 closed

[2022-02-15 12:15] ngupta23 commented on #1901
Hi @drmario-gh Thank you for closing out this development. This will be a good addition.

I have created 2 new issues for the ones you pointed out. Let me know if you would like to pick up any of these.

Thanks again!

- #2165
- #2166

[2022-02-15 13:31] IkshulDureja commented on #563
Hi, is the feature to change the name of the plot added in the plot_model( ) function?

[2022-02-15 21:25] dimension23 commented on #2163
@sgujjaABM I don't think it's related to AutoML

It looks like your problem was inferred as classification instead of regression, and as the classification does not have `huber` it is failing to exclude - as indicated by the ValueError message.

[code]

Check the following line of your error, it is pointing to `classification.py`. It's likely that your prediction variable `y` is categorical. Pleas

[2022-02-15 22:36] sgujjaABM commented on #2163
Thank you for the reply, I am running this as a classification problem, and so initially I ran it without excluding 'huber' and got an error: please see below. The target variable is categorical. Can you please let me know if I am missing something here.
[code]

[2022-02-16 05:28] moezali1 commented on #2163
@sgujjaABM If you have imported classification module then you don't need to pass exclude in compare_models. `huber` doesn't exist in the classification module, that's why you get this exception.

[2022-02-16 05:33] moezali1 commented on #2160
@prafulbatra The scoring grid that you see is the cross-validated score. In your example, you see 3 folds and the yellow highlighted is the mean of 3 folds.

When you pass `use_train_data=True` it actually fits the model on the entire train set and then obtains predictions on the entire train set to calculate the confusion matrix.

For tree-based models like Decision Tree and Random Forest, I woul

[2022-02-16 05:33] #2160 closed

[2022-02-16 05:34] moezali1 commented on #2151
@ryan11lee As Nikhil mentioned, downgrading scipy will resolve the issue. If it doesn't, feel free to open another issue.

[2022-02-16 05:34] #2151 closed

[2022-02-16 18:15] prafulbatra commented on #2160
@moezali1  I still didn't understand why its overfitting on RF and DT. Ideally , the values confusion matrix should be close representation and in accordance with the values of scoring grid. Shouldn't the confusion matrix on full train data be according to the model we created using create_model function ?

[2022-02-17 10:02] fabSchAdastra opened #2172 "setup() got an unexpected keyword argument 'experiment_custom_tags' [BUG]"
**Describe the bug**

According to the documentation there should be a parameter called 'experiment_custom_tags', but I receive the error message.

**To Reproduce**

from pycaret.datasets import get_data
juice = get_data('juice')
from pycaret.classification import *
exp_name = setup(data = juice,  target = 'Purchase', experiment_custom_tags = {"test": "test"})

**Expected behavior**

The purpose i

[2022-02-17 10:07] ngupta23 commented on #2172
This feature has not been released yet. You can try to install from `master` branch if you want to try this out.

[2022-02-17 10:12] ngupta23 commented on #1995
Available on he web now: https://pycaret.readthedocs.io/en/time_series/api/time_series.html

[2022-02-17 10:12] #1995 closed

[2022-02-17 10:46] fabSchAdastra commented on #2172
@ngupta23 is there a timeline to when expect this feature?

[2022-02-17 16:03] sgujjaABM commented on #2163
Thank you for the reply. I updated the code, and it seems to be running now, however it is not using all the cores and so it's running very slowly. Can you please suggest how to speed up processing?  Thank you.
[code]

[2022-02-18 05:08] relic-yuexi opened #2173 "pycaret-ts-alpha can't install [BUG]"
**Describe the bug**
When i create a new conda enviroment, and use the `pip install pycaret-ts-alpha` to install that.
I get some wrong.
![QQ截图20220218125837](https://user-images.githubusercontent.com/53668275/154621044-79322f63-bc54-41d9-9d9d-19323e30d501.png)
My python version is 3.9.7.
`ERROR: Failed building wheel for scikit-learn`

**To Reproduce**

[code]

**Expected behavior**

**Additional

[2022-02-18 07:44] Jie-NB opened #2174 "how to save figures in high resolution in dashboard"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen, ideally taking into consideration the existing toolbox design, classes and methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2022-02-18 13:24] ngupta23 opened #2175 "Enhanced seasonal period detection"
**Is your feature request related to a problem? Please describe.**
Currently, the seasonal period is detected based on the index, e.g. Monthly data is assigned a seasonal period of 12. But it may have a different seasonality such as 6 or 3. How do we detect this in a more intelligent manner.

**Describe the solution you'd like**
Check the periodogram of the data and derive based on the peaks

exam

[2022-02-18 13:29] ngupta23 commented on #2175
Related to https://github.com/pycaret/pycaret/issues/1408. There are references in the sktime discussion in that issue that points to packages that can also help with this detection.

[2022-02-18 14:06] ngupta23 commented on #2153
Also, we have added 2 arguments to `plot_model` and `setup` called `renderer` and `hoverinfo`.

[ ] Should these reside in an argument called `fig_kwargs` in both functions otherwise there will be a proliferation of such arguments.

e.g.

[code]

All arguments are from `plotly` except `big_data_threshold` is pycaret specific and disables the hovering above this threshold on certain plots irrespect

[2022-02-18 14:29] ngupta23 opened #2177 "Add time series experiment Deprecation note to Feb release"
**Is your feature request related to a problem? Please describe.**
Add a Deprecation warning to `TimeSeriesExperiment` for Feb release and where the import will be move in the future.

Related to https://github.com/pycaret/pycaret/issues/1748

[2022-02-18 15:18] #2133 closed

[2022-02-18 16:30] GHENA-NIZAR opened #2178 "Compare_model() error"
Hi, I was trying to implement a classification model for the iris data set using the following code :
[code]
and I don't know what I'm doing wrong to receive this error from the compare_models function :

<ipython-input-56-1ad10be5dc92> in <module>
      3 from pycaret.classification  import *
      4 s = setup(data, target = 'species',n_jobs=1)
----> 5 compare_models()

~\Anaconda3\lib\site-packa

[2022-02-18 18:58] fjpa121197 opened #2179 "[BUG] feature_interaction=True makes interactions between categorical processed features and numerical features"
**Describe the bug**

When setting feature_interaction=True, Pycaret is giving new features which are the product of numeric features, but it is also generating new features that are the multiplication of numerical features and encoded categorical features.

Documentation says that when `feature_interaction=True`
"it will create new features by interacting (a * b) for all **numeric variables** in

[2022-02-18 18:58] gm039 opened #2180 "[BUG] Save=True not working with clustering module."
**Describe the bug**
We should be able to save the plot as a .png file using the save parameter. It is saving but without any file extension.
Pycaret version: '2.3.6'

**To Reproduce**

[code]
Output:
![image](https://user-images.githubusercontent.com/50217085/154744304-3c7b8bd0-afb1-4c78-8cd5-f899f2f0502b.png)
![image](https://user-images.githubusercontent.com/50217085/154745335-e1e738b4-296b-4c6

[2022-02-18 20:01] fjpa121197 opened #2181 "Influential data points - get indexes"
**Is your feature request related to a problem? Please describe.**
I'm currently working on a supervised machine learning project, where the type of problem is regression. I have detected some outliers (based on my target variable) in the EDA part, and even though I have read that big outliers will affect the MSE of my model, I wanted to still keep them in my modelling part.

I wanted to know whet

[2022-02-19 10:49] lucazav opened #2184 "[BUG] Error importing from pycaret.time_series"
I've just create a new environment with Python 3.8 and I've just installed the time series module using this code:

`pip install pycaret-ts-alpha
`

When I try to import stuff using this:

`from pycaret.time_series import *`

I get the following error:

[2022-02-19 13:01] ngupta23 commented on #2184
You probably have scipy 1.8.x installed. Can you downgrade to 1.7.x and try. scipy made some breaking changes in 1.8.x.

[2022-02-19 14:22] lucazav commented on #2184
I installed just the` pycaret_ts_alpha` package in a new environment. So I suppose there is a reference to the wrong version of SciPy in it.

[2022-02-19 14:41] #2150 closed

[2022-02-19 14:49] moezali1 commented on #2178
@GHENA-NIZAR I tried reproducing this error but I cannot. It seems like must be related to your environment.

Here is the link to Notebook where I cannot reproduce this error:

https://colab.research.google.com/drive/1krFnjXls27_Dc0S5BWq3FjHvNzdSbqmm?usp=sharing

[2022-02-19 14:49] #2178 closed

[2022-02-19 14:49] moezali1 commented on #2181
@fjpa121197 Would you like to work on this request?

[2022-02-19 14:50] moezali1 commented on #2180
@gm039 Can you submit a fix please?

[2022-02-19 14:51] moezali1 commented on #2179
@fjpa121197 https://www.theanalysisfactor.com/interactions-categorical-and-continuous-variables/

Hope this helps.

[2022-02-19 14:51] #2179 closed

[2022-02-19 14:55] moezali1 commented on #2184
@lucazav @ngupta23

I just did a fresh installation on Google Colab and it worked without any problem.

Here is the link to Notebook: https://colab.research.google.com/drive/1s6aaaKNCOyNkFCy2LpbWyVNtIZIbRXU4?usp=sharing

![image](https://user-images.githubusercontent.com/54699234/154806120-7ab4064b-047f-412c-acc8-c10251309561.png)

No further action is needed.

[2022-02-19 14:55] #2184 closed

[2022-02-19 14:58] moezali1 commented on #2172
@ngupta23 The API reference doc is automatically built using docstring and there is no bifurcation between development and production branch in sphinx hence the API reference is always built of the master branch and hence the gap between API doc and released functionality.

@Yard1 Any idea how to solve this in long run? I guess we should have a `master` branch that is synced to the released versio

[2022-02-19 14:58] lucazav commented on #2184
Ok, I created my environment with Python 3.8. You're using Python 3.7. Maybe the 3.8 version cause the error.

[2022-02-19 14:59] moezali1 commented on #2163
@sgujjaABM Glad this helps.

For multiple core, please open a new issue with logs and more detailed explanation of what you are expecting, etc.

[2022-02-19 14:59] #2163 closed

[2022-02-19 15:00] moezali1 commented on #2174
@Jie-NB For that, you will have to raise a request on this repo: https://github.com/oegedijk/explainerdashboard

[2022-02-19 15:00] #2174 closed

[2022-02-19 15:01] moezali1 commented on #2173
@relic-yuexi I just tried installing `pycaret-ts-alpha` and it worked without any errors.

Check out this Notebook: https://colab.research.google.com/drive/1s6aaaKNCOyNkFCy2LpbWyVNtIZIbRXU4?usp=sharing

[2022-02-19 15:01] #2173 closed

[2022-02-19 15:43] fjpa121197 commented on #2181
I can give it a try. It will be my first time contributing, so I think it will take me some time, but more than happy to help.

[2022-02-19 17:16] ngupta23 commented on #2172
Yes having a separate develop branch is a good idea.

[2022-02-19 18:00] moezali1 commented on #1909
@levelalphaone @ngupta23 I am thinking we can do 2.3.7 release this week. I would love this to be in 2.3.7. Do you think it is possible to get PR submitted and approved by Thu/Fri?

Thanks.

[2022-02-19 20:16] moezali1 opened #2186 "Time Series bug (univariate)"
Using `time_series` branch you can reproduce this error:

[code]
---------------------------------------------------------------------------
_RemoteTraceback                          Traceback (most recent call last)
_RemoteTraceback:
"""
Traceback (most recent call last):
  File "C:\Users\owner\anaconda3\envs\pycaret-ts\lib\site-packages\joblib\externals\loky\process_executor.py", line 431, in _p

[2022-02-19 20:29] moezali1 opened #2187 "Consider adding Brier score as default metric"
![image](https://user-images.githubusercontent.com/54699234/154817973-622fef95-d857-46ca-b2fc-dfb3886f1c36.png)

Need to investigate. I don't know the value of this.

[2022-02-19 23:47] ngupta23 commented on #2186
I think the data has missing values. Until imputation is implemented, the data  needs to be imputed before passing to pycaret. Can you try that and see if it resolves the problem?

[2022-02-21 03:51] moezali1 commented on #2186
@ngupta23 You are right.

![image](https://user-images.githubusercontent.com/54699234/154886206-af16105e-c39f-4d2b-ae70-e871cfeff829.png)

[2022-02-21 03:51] #2186 closed

[2022-02-21 10:51] HaithemH commented on #1140
Hi there
Same problem here with PyCaret 2.2.0

[2022-02-21 11:00] HaithemH commented on #1140
Yup Yup, problem solved with PyCaret 2.3

[2022-02-22 04:48] prabhakaran2812 opened #2192 "[BUG] Unable to impute data on test data before prediction_model like we can do during compare models."
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-02-22 07:41] Jie-NB opened #2193 "for plot_model function----how to Set image resolution and output high quality image"

[2022-02-22 14:01] vermaankitttn opened #2194 "[BUG] Prophet Model Not available in list of estimators"
I am trying to use the beta version of the time series module of the pycaret. On analysing I found that though in tutorials it is mentioned that prophet model can be used, however it is not available in list of estimators

**To Reproduce**

1) Create a new virtual environment
2) Install pycaret-ts-alpha library
3) run setup function and check models(), fbprophet is not available
4) create fbprophe

[2022-02-22 19:26] ngupta23 commented on #2194
Prophet is an optional dependency in `pycaret`. You will need to install it on your own. It does not get installed when you install pycaret-ts-alpha.

[2022-02-22 19:26] #2194 closed

[2022-02-22 22:50] sgujjaABM opened #2195 "[BUG] "test_data" columns are not coerced into string like the "train" data is"
**Describe the bug**

**To Reproduce**

Hi, I am getting an error running the setup function with train and test data sets. Can you please help?
[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-02-23 03:27] gm039 commented on #2128
Thanks @moezali1

I see the difference in probability scores of model after using optimize_threshold. See attached snap.
I believe that the first 3 columns should have same values. Any comments?

# import dataset and setup
from pycaret.datasets import get_data
data = get_data('juice')

from pycaret.classification import *
s = setup(data, target = 'Purchase', session_id = 1234,silent=True)

# train

[2022-02-23 09:07] #2153 closed

[2022-02-23 09:08] #2154 closed

[2022-02-23 09:08] #1667 closed

[2022-02-23 09:08] #2177 closed

[2022-02-23 09:21] #2107 closed

[2022-02-23 10:12] ngupta23 commented on #2195
There is not enough information here to reproduce the error. Please submit a Minimally Reproducible Example per

https://stackoverflow.com/help/minimal-reproducible-example

[2022-02-23 10:13] ngupta23 commented on #2192
There is not enough information here to reproduce the error. Please submit a Minimally Reproducible Example per

https://stackoverflow.com/help/minimal-reproducible-example

[2022-02-23 10:54] phdwight opened #2196 "[BUG] plot_model and evaluate_model() is not showing results"
**Describe the bug**

executing the plot_model and evaluate_model does not return anything

**To Reproduce**

When trying to execute the following code:
[code]
or
[code]
- and clicking on the confusion matrix
here is the notebook: https://github.com/phdwight/machinelearning_experiments/blob/main/Wine%20Quality%20ML%20Experiment%20-%20Binary%20Classification.ipynb

**Expected behavior**

a confusio

[2022-02-23 15:39] sgujjaABM commented on #2195
Hi,

Here's the code used:

[code]

[2022-02-23 22:11] mgabmgabmgab opened #2197 "Mac OS pycaret installation"

[2022-02-23 22:11] mgabmgabmgab commented on #2197
I use this website as reference : https://docs.python.org/3/tutorial/venv.html

[2022-02-23 22:28] #2197 closed

[2022-02-24 02:27] #2192 closed

[2022-02-24 02:28] prabhakaran2812 commented on #2192
I will open a feature request though.

[2022-02-24 02:32] prabhakaran2812 opened #2200 "Impute for Test set"
**Is your feature request related to a problem? Please describe.**
Yes, I can impute data for train but was unable to do for test

**Describe the solution you'd like**
Setup enabling imputation for test separately. Alternate option is I could merge train & test and can impute. Which means I used setup just for imputation sake alone and then separated the test and train to run the setup against my

[2022-02-24 06:38] moezali1 commented on #2193
@Jie-NB You can use the `scale` parameter in the `plot_model` function.

Docs: https://pycaret.gitbook.io/docs/get-started/functions/analyze#change-the-scale

[2022-02-24 06:38] #2193 closed

[2022-02-24 11:19] ngupta23 commented on #2200
Why do you want to impute the test (unseen) data? The imputation should not use any information from test. This will cause leakage in your model and it will produce biased results.

The way it works is that

1. The imputation is done on the train dataset only. The imputation parameters are stored in the model that is built on this train data.
2. Then when you try to predict on the test data (which

[2022-02-24 11:26] ngupta23 commented on #2195
It is still hard to debug with the incomplete information you have provided (partial error message and no data). Also just a small comment - the code is producing the error at the `setup` stage so you should only provide the code snippet till that point  (when producing a Minimal Reproducible Example). This will help those who are debugging. The rest of the code is not important for the problem be

[2022-02-24 12:07] ngupta23 commented on #1974
The following now works with sktime 0.10.1

[code]

[2022-02-24 12:27] ngupta23 opened #2202 "Prediction Interval and Quantiles for Time Series Forecasting + Other Deprecations"
**Is your feature request related to a problem? Please describe.**

`return_pred_int` is deprecated from sktime 0.10.1 ([see this](https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/sktime/forecasting/base/_base.py#L222)).  This is used extensively in pycaret today.

**Describe the solution you'd like**

Use [predict_interval](https://github.com/alan-turi

[2022-02-24 13:21] ngupta23 commented on #2202
So is predict_interval(coverage = 0.95) same as return_quantile(alpha=0.05)?

Response from sktime developer [Franz Király]

`predict_interval(coverage=0.95)` will return P02.5 and P97.5 as lower and upper interval ends
`predict_quantile(alpha=0.05)` will return only P05

`predict_interval(coverage=0.9)` and `predict_quantiles(alpha=[0.05, 0.95])` (because 0.95-0.05 = 0.9 )

[2022-02-24 13:28] #1974 closed

[2022-02-24 14:04] goradbj commented on #166
[MemoryError: Unable to allocate 22.8 GiB for an array with shape (3059203866,) and data type int64]()

I am getting this error when building recommendation system using TFIDF and cosine similarity. Can anyone tell what mistake I am doing? Help appreciated

![1](https://user-images.githubusercontent.com/48828479/155538368-f6e890f4-7503-4e33-bff3-934e649cbdfc.png)

[2022-02-24 14:54] sgujjaABM commented on #2195
Yes, the error comes up at the setup function: the key error comes up on all the columns. It's not clear to me why that is the case. Thanks for helping with this.

[code]

[2022-02-24 19:04] hellosamstuart commented on #25
ended up on this issue researching to see if PyCaret could handle multi-target regression... +1 would also love to see this enhancement.

[2022-02-24 19:19] ngupta23 commented on #2156
The time series module has an argument called `return_data` which can let users recreate the plots using there own custom methods. Maybe the same should be added to other modules as well.

[2022-02-25 08:55] Jie-NB commented on #2193
thanks

[2022-02-25 11:54] ngupta23 commented on #2195
Could you try converting the test data frame columns to `string` before feeding to the setup function? Does that solve the problem?

[2022-02-25 15:36] praveenmec67 opened #2207 "Issue in recreating the results of an assign_model during predict_model in Anomaly Detection (lof)"
I am currently working for an anomaly detection problem and I am using pycaret local outlier factor.

Generated Anomaly score for a data point using assign_model. When I try to predict the anomaly score (using predict_model) of the same data point the anomaly score is totally different.

Initially i used pycaret 2.3.4 with/without session_id in the setup().
Later i used pycaret 2.2.0 with session_

[2022-02-25 16:51] ngupta23 commented on #1762
Available here: https://pycaret.gitbook.io/docs/learn-pycaret/cheat-sheet

[2022-02-26 00:58] ngupta23 commented on #1819
Now that classification and regression have a function called `eda()`, maybe we can include it in time series as well. It would essentially contain all the main plots mentioned in this issue

[2022-02-26 01:00] ngupta23 commented on #1833
Based on how https://github.com/pycaret/pycaret/issues/2202 is implemented (is it called coverage, level, or alpha?), we will have to use the same terminology for this issue.

[2022-02-26 20:03] baturayo opened #2209 "[INSTALL] Incompatibility between pandas and pandas-profiling versions"
There is an incompatibility between pandas==1.4.0 and pandas-profiling==3.1.0 libraries as shown in this [issue](https://github.com/ydataai/pandas-profiling/issues/911). The following command doesn't work with pycaret=2.3.6.

[code]

To make it work, we need to downgrade the pandas version to 1.3.5.
[code]

[2022-02-26 23:35] ngupta23 opened #2210 "[BUG] Time Series "diff" plot does not work when frequency components are requested"
**Describe the bug**
Time Series "diff" plot does not work when frequency components are requested

**To Reproduce**

Try with any dataset.

[code]

Version:  Feb release of Time Series

[2022-02-26 23:38] ngupta23 opened #2211 "[BUG] Upper and Lower Limit is not getting plotted in ACF and PACF"
**Describe the bug**
Upper and Lower Limit is not getting plotted in ACF and PACF in "diff" plots, standalone or in "diagnostics"

**To Reproduce**
[code]

**Expected behavior**
Upper and lower significance levels should be plotted.

**Versions**
Feb release of time series module

[2022-02-27 08:50] whire97612 opened #2214 "plot_kwargs Parameters"
I tried version 2.3.6 of pycaret. It's great! Plot model is now more configurable, but there are very few parameters that can be passed into "plot_kwargs" in the introduction of the document. Please tell me the parameter table that can be passed in? thank you

[2022-02-27 12:25] ngupta23 commented on #2195
So this is actually a bug then. I think somewhere in the train data columns are being coerced into strings but not for the test data. We will have a look into this.

[2022-02-27 12:37] #2211 closed

[2022-02-27 12:37] #2210 closed

[2022-02-27 12:39] ngupta23 opened #2216 "[BUG] Time Series plot does not show hover info even when there are less than 200 data points"
**Describe the bug**
Time Series plot does not show hover info even when there are less than 200 data points. This applies to periodogram as well.

**To Reproduce**

[code]

**Expected behavior**
Should show hover info for small time series.

**Versions**
Feb release of time series

[2022-02-27 12:53] ngupta23 opened #2217 "[Time Series] Add PACF and Periodogram to "diagnostics" plots"
**Is your feature request related to a problem? Please describe.**
Current "diagnostics" plots only shows histogram, QQ plot, ACF and the time series. This does not show the complete picture.

**Describe the solution you'd like**
Add PACF and Periodogram to make them complete.

**Describe alternatives you've considered**
Plot manually one by one.

[2022-02-27 12:55] ngupta23 opened #2218 "Add AR1 datasets with negative phi"
**Is your feature request related to a problem? Please describe.**
Current AR1 datasets only contain positive phi values

**Describe the solution you'd like**
Add AR1 datasets with negative phi

[2022-02-27 12:56] ngupta23 opened #2219 "Time Series - Add datasets for MA1"
**Is your feature request related to a problem? Please describe.**
No MA1 datasets

**Describe the solution you'd like**
Add MA1 datasets with positive and negative theta

[2022-02-27 13:46] ngupta23 commented on #2216
NOTE: This could not be replicated for `periodogram`, bit could be replicated for the time series plot.

[2022-02-27 14:48] sgujjaABM opened #2221 "[BUG] Help with Regression automl analysis"
**Describe the bug**

**To Reproduce**
Hi,
I would like to get some help with the Regression analysis using automl function - running this on my data set that's is split into train and test results in an R2 value (0.29) that is lower than what I get using an alternative approach (R2 = 0.66). Can you please let me know if there's any way to optimize the code, or if I am missing something? Also, is

[2022-02-27 14:57] #2217 closed

[2022-02-27 14:57] #2216 closed

[2022-02-27 19:29] OleksiyAnokhin commented on #1080
The same version on `2.3.5` version

[2022-02-27 19:59] ngupta23 commented on #1080
I think you might be trying to use the time series module? Is my understanding correct? If so, you need to install it in a separate environment from the regular pycaret. The regular pycaret (2.3.x) does not have the 'pycaret.internal.pycaret_experiment' module yet. It is only available in the time series module.

To install the time series module, for now, you should do the following in a clean en

[2022-02-27 21:13] prabhakaran2812 commented on #1102
I am using flaml and built a model. Now I try to include this in pycaret for possible ensemble and other scenarios. Its a catch 22
flaml demands newer version of scikit but pycaret demands lower version. Is there are any timeline for higher version support?

[2022-02-27 21:47] OleksiyAnokhin commented on #1080
@ngupta23 , thanks, would be great, if you guys did a short tutorial on how to do TS with exogenous variables. Working on it right now.

[2022-02-27 21:54] ngupta23 commented on #1080
Yes, it's already there. Check out this post: https://www.linkedin.com/posts/guptanick_pycaret-timeseries-opensource-activity-6903390711044038656-IsZv

[2022-02-27 22:15] moezali1 commented on #2214
@whire97612 This is something I will put into the documentation.

Since pycaret uses yellowbrick, plot_kwargs will accept any parameter that is acceptable to the Visualizer object.

https://github.com/DistrictDataLabs/yellowbrick

[2022-02-27 22:25] moezali1 commented on #2207
@praveenmec67 `assign_model` function uses decision score to label the anomalies whereas `predict_model` function uses trained model to score new data points.

https://pyod.readthedocs.io/en/latest/api_cc.html

[2022-02-27 22:25] #2207 closed

[2022-02-27 22:27] moezali1 commented on #2221
@sgujjaABM One thing you can try is increasing the `n_iter` parameter in the `tune_model` function. Example:

[code]

This may improve the chance of getting the best possible model. The performance of the models is broadly dataset-dependent. I suggest you focus on capturing more data that may have some better signal for target variable.

[2022-02-27 22:27] #2221 closed

[2022-02-27 22:28] moezali1 commented on #2196
@phdwight I executed your notebook and it works perfectly fine. `evaluate_model` uses interactive widget that's why you will not see it when you are viewing Notebook on GitHub.

[2022-02-27 22:28] #2196 closed

[2022-02-27 22:29] moezali1 commented on #2195
@Yard1 @tvdboom This is something we should take care of in the current version (next release 2.3.7) as well as 3.0.

[2022-02-28 03:39] sgujjaABM commented on #2221
Thank you for the suggestion @moezali1 . I've tried the n_iter parameter as you mentioned, however the R2 value is still similar.

                     Model     MAE    MSE    RMSE      R2   RMSLE    MAPE
0  Random Forest Regressor  0.3966  0.284  0.5329  0.2878  0.2681  0.9421

To put this in context - I am using the the same train and test data sets to run the other regression algorithm for whic

[2022-02-28 04:18] prabhakaran2812 commented on #2200
Thanks for the reply. By imputation, do you mean prediction? Below is my scenario
I've x1,x2,x3,x4,y1 dataset
I've missing values in x in both train and test data set. I am using below setup
iterative_imputation_iters=10,numeric_iterative_imputer='lightgbm',categorical_iterative_imputer='lightgbm'
for my train dataset imputation as preprocess step.

Can I do similar preprocess imputation on test d

[2022-02-28 07:45] tvdboom commented on #2195
I pushed a fix for 3.0

[2022-02-28 12:05] ngupta23 commented on #2200
No, I mean imputing the x* in your test set

As I mentioned above, the value to impute for the missing x* rows will be determined using the train dataset. Once these are determined, they will be used to impute the missing x* values in the test set before the predictions can be done. So you do not have to do anything separately for the test set.

@tvdboom @Yard1 - Do you have any further comments o

[2022-02-28 12:22] ngupta23 opened #2225 "[BUG] PACF and Diagnostics do not work for short time series"
**Describe the bug**
PACF and Diagnostics do not work for short time series

**To Reproduce**

[code]
[code]

**Expected behavior**
Should pass appropriately. Check for number of lags before passing.

**Versions**
Time Series Feb release

[2022-02-28 12:26] ngupta23 commented on #2225
PACF docstring states this:

    The largest lag for which the pacf is returned. The default is currently 40, but will change to min(int(10 * np.log10(nobs)), nobs // 2 - 1) in the future

We should set this by default for now and use it instead of the default 40.

[2022-02-28 15:53] macazan-jg opened #2226 "[BUG] Time Series Issue - set_config save_config"
**Describe the bug**

I just installed the new time series module and was attempting to run the example from (https://towardsdatascience.com/announcing-pycarets-new-time-series-module-b6e724d4636c) and I get the following error...

[code]

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-02-28 17:42] ngupta23 commented on #2226
Please paste the complete code (and data) until the point that you got the error. Also, paste the complete error stack. In general a minimal reproducible example is needed to debug. Thanks!

[2022-02-28 17:52] macazan-jg commented on #2226
Thanks Nikhil!

Here is the full code and the stack trace.

# Code Below
import traceback

try:
    from pycaret.time_series import *
except:
    traceback.print_exc()
​
Traceback (most recent call last):
  File "<ipython-input-3-e4cda4158417>", line 4, in <module>
    from pycaret.time_series import *
AttributeError: module 'pycaret.time_series' has no attribute 'set_configsave_config'

Screensho

[2022-02-28 18:47] sgujjaABM commented on #2221
Hi @moezali1 , not sure why you closed this issue. It still doesn't work as expected.

[2022-02-28 19:40] ngupta23 commented on #2226
OK, I see the issue now. For now, can you do this instead (do not use *)?

[code]

I will try to push a release later today for this fix.

[2022-02-28 21:19] cctony1 commented on #1102
Similar problem here...I need new sklearn for a specific analysis, but an old sklearn for pycaret within the same jupyter notebook. What is the timeline?

[2022-03-01 01:19] #2226 closed

[2022-03-01 01:19] #2225 closed

[2022-03-01 01:30] ngupta23 commented on #2226
@macazan-jg This should be fixed now. Please check.

[2022-03-01 04:04] moezali1 commented on #2195
Thanks @tvdboom

[2022-03-01 05:52] levelalphaone commented on #1909
Sorry @moezali1 for replying this late. I will work on this and create appropriate PR as soon as possible.

[2022-03-01 10:36] levelalphaone commented on #1909
Should we give the option for sorting or optimizing for train metrics or only for test metrics, while doing compare_model, automl, or similar functions? Can you help me with this @ngupta23?

[2022-03-01 10:42] ngupta23 commented on #1909
It should never be based on the test metric as that will be leakage. It should always be based on the CV-Val score. Let's just keep it as such for now. Hope that helps.

[2022-03-01 11:13] ngupta23 opened #2230 "INcorporate FeatureSelector in time series"
**Is your feature request related to a problem? Please describe.**
Currently, users may have to choose the relevant exogenous features manually after doing EDA.

**Describe the solution you'd like**
Can we use this instead? https://github.com/alan-turing-institute/sktime/blob/v0.10.1/sktime/transformations/series/feature_selection.py

Needs to be tested.

**Describe alternatives you've considered*

[2022-03-01 12:17] macazan-jg commented on #2226
Hi Nikhil,

Yes.  It is fixed.  Thank you so much!

Best,
Justin

On Mon, Feb 28, 2022 at 8:30 PM Nikhil Gupta ***@***.***>
wrote:

[2022-03-01 12:50] levelalphaone commented on #1909
@ngupta23 sorry for the miscommunication. By test, I wanted to mention CV-Val only. Thanks for the clarification.

[2022-03-02 07:44] tvdboom commented on #2200
@prabhakaran2812 What you are asking for already happens. The IterativeImputer class used to impute the training set is also used to impute the test set. What you are missing here is this. You said `I am using below setup ... for my train dataset imputation as preprocess step`. But it's not only the training set that gets transformed by preprocessing. The test set as well. The only difference is t

[2022-03-02 12:35] IkshulDureja commented on #563
Hi, I found something that works.
Save your plot in string object variable using save=true
and then rename it using os.rename(objname , preferred name)
I would also like to knwo how to do this directly using pycaret?

[2022-03-02 15:27] raul-parada opened #2232 "TypeError: load() missing 1 required positional argument: 'Loader' [BUG]"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-03-03 08:47] bsriganesh opened #2234 "Custom_stopwords not working in NLP "TypeError: setup() got an unexpected keyword argument 'custom_stopwords'""
nlp1 = setup(data,
             target='Short_Description',
             session_id=123,
             custom_stopwords = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves',
                                 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours',
                                 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she',

[2022-03-03 11:33] rahulsahai78 commented on #130
Hi Aditya,
can you please explain the step to look up the transformed train dataset in pycaret?
thanks,

[2022-03-03 14:02] sgujjaABM opened #2236 "[BUG] Help with generating metrics on Train data set"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-03-03 14:05] levelalphaone commented on #1909
@ngupta23 Can you please review the code to the new pull request I just put in? Modified and mentioned some comments about two test files as well. And please let me know if everything is okay. Thank you.

[2022-03-03 14:09] ngupta23 commented on #2236
What is the problem? What do you need help with?

[2022-03-03 14:27] sgujjaABM commented on #2236
Sorry, I was trying to edit the issue to describe the problem with the screenshot of the output, but it was not being shown.

"Hi, Can you please share the command to generate classification/regression metrics on train data set. I've tried using the predict_model() command, however it results in CV metrics and not on the train set:
<img width="717" alt="Screen Shot 2022-03-03 at 9 26 54 AM" src="h

[2022-03-03 14:28] sgujjaABM commented on #2236
I did see a similar issue #1176, but it's not working for me.

[2022-03-04 15:34] #1652 closed

[2022-03-04 18:22] srikarplus commented on #1549
If you save the model using `model_only=False` (which is default), you also save a bunch of metadata along with the model. Hence when you load the model you get back the model along with metadata.  Incase you only need the model you can do
[code]
or save the model with `model_only=True` in which case you lose the metadata.

The example above then become
[code]

[2022-03-04 19:37] sgujjaABM commented on #2236
Hi,Can you please help with this issue? Thanks!

[2022-03-06 00:38] ngupta23 opened #2243 "Allow ability for user to pass seasonal period when plotting decomposition"
**Is your feature request related to a problem? Please describe.**
Currently, when performing decomposition, the auto-detected seasonal period is used. But sometimes, the users may want to try out different frequencies.

**Describe the solution you'd like**
Allow the users to pass the seasonal period when plotting decomposition

**Describe alternatives you've considered**
None available at this ti

[2022-03-06 00:42] ngupta23 opened #2244 "[BUG] ACF with nlags specified does not manage the X-axis appropriately"
**Describe the bug**
ACF with nlags specified does not manage the X-axis appropriately

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/33585645/156904419-16b0aaef-c552-4898-85bd-ee2dc9af1033.png)

**Expected behavior**
X-axis for ACF plot should have been trimmed appropriately.

**Versions**
Feb release of time series module.

[2022-03-06 00:48] ngupta23 opened #2245 "Allow ability to run ACF and PACF on the seasonal components of decomposition"
**Is your feature request related to a problem? Please describe.**
Users do not have a convenient way to plot ACF and PACF on the seasonal component of a time series decomposition.

**Describe the solution you'd like**
Allow the ability to run ACF and PACF on the seasonal components of decomposition. This will allow for users to determine the P and Q values to be used for modeling ARIMA.

Refer to

[2022-03-06 00:51] ngupta23 opened #2246 "Allow ability to run tests such as ADF on the seasonal components of decomposition"
**Is your feature request related to a problem? Please describe.**
Similar to #2245, allow the ability to run tests (e.g. ADF) on the seasonal component of a time series decomposition.

**Describe the solution you'd like**
The solution is described in #2245

**Describe alternatives you've considered**
Manually create another experiment as described in #2245

**Additional context**
Refer to #2245 f

[2022-03-06 01:03] ngupta23 opened #2247 "Determine max_P and max_Q for AutoARIMA models"
**Is your feature request related to a problem? Please describe.**
Currently, we use the values of max_p and max_q based on seasonality which may be too high in some cases.

**Describe the solution you'd like**

Refer to Konrad's 2nd Time Series notebook on how this can be obtained (see link below)

[code]

**Describe alternatives you've considered**
None at this time.

**Additional context**
- [

[2022-03-06 12:30] PrithivirajDamodaran opened #2248 "Add Zero Shot text and image classification capabilities."
**Is your feature request related to a problem? Please describe.**
It's more of a great addition rather a problem. PyCaret has a robust collection of algorithms and datasets. It will be a great addition to have zero shot text & image classification capabilities. It can help in classification as well as in weak labelling data.

**Describe the solution you'd like**
The solution is pretty straight fo

[2022-03-06 12:42] ngupta23 commented on #2248
Hi @PrithivirajDamodaran To be honest, we need an owner for the NLP module which only has the older classical techniques in it right now. Given your work on NLP (with the latest and greatest techniques), would you be willing to help revamp and own this module's development and roadmap? If so, let's set up a call to discuss with the rest of the core team.

[2022-03-06 12:45] ngupta23 commented on #1914
On further investigation, the word "coverage" is more generally seen. e.g. This is what it is called in Prophet and I have seen it elsewhere as well. I would recommend changing it to "coverage" to match what is generally used in the industry. Not a big change, but better to be consistent with the general forecasting population.

[2022-03-06 12:49] ngupta23 commented on #1854
Double check (from **[Konrad's 3rd presentation](https://youtu.be/74rDhJexmTg?t=2616)**)

[code]

[2022-03-06 13:00] ngupta23 opened #2249 "Preprocessing: Support for various imputation types"
**Is your feature request related to a problem? Please describe.**
I understand that **[`IterativeImputer`](https://scikit-learn.org/stable/modules/impute.html#iterative-imputer)** (MICE) is going to be supported in pycaret 3.0.0, but will other imputation techniques be supported as well?

e.g.

- [ ] Pandas: "ffill", "bfill", groupBy
- [ ] sklearn: KNNImputer
- [ ] lgbm: LightGBM Imputer

**Descr

[2022-03-06 13:58] ngupta23 commented on #1748
From 3/5/22 meeting between @Yard1 and @ngupta23 , it was decided that we will have 2 files under pycaret/time_series called

- functional.py: Will contain the Functional API
- oop.py: Will contain the time_series_experiment.py

The __init__.py will import the relevant functions and classes from these 2 files. There will be no impact on the end user. They will continue to import as usual,

[2022-03-06 15:23] #2166 closed

[2022-03-06 17:34] #1914 closed

[2022-03-06 17:36] ngupta23 commented on #1748
Time Series has been refactored. I will close this. For the rest, we will open another PR.

[2022-03-06 17:36] #1748 closed

[2022-03-06 17:38] ngupta23 opened #2252 "Refactor Regression/Classification/Anomaly/Clustering Experiments"
**Is your feature request related to a problem? Please describe.**
Similar to time series, refactor the other experiments as well per https://github.com/pycaret/pycaret/issues/1748

**Describe the solution you'd like**
Described in https://github.com/pycaret/pycaret/issues/1748

[2022-03-06 21:21] #2200 closed

[2022-03-06 21:22] ngupta23 commented on #2232
Closing issue due to missing data. Feel free to reply back with details and we can reopen at that time.

[2022-03-06 21:22] #2232 closed

[2022-03-06 21:24] ngupta23 commented on #2236
By "not on the train set" what exactly are you looking for - are you wanting the train metrics for each fold - or the metric for the model that is refit on the full train data at the end of CV?

In either case, this is not available right now, but will be available in the next release. There is an open PR for this: https://github.com/pycaret/pycaret/pull/2237

[2022-03-06 21:48] prabhakaran2812 commented on #2200
Thanks @ngupta23 , @tvdboom
The challenge is, when I use test_data=testdataset in setup, it is expecting the target column to be present in my test data. I don't have any target values in my test dataset. I can use dummy 0 values in my target data if thats what is the normal way to do. I wasn't sure. Please clarify.

[2022-03-07 00:10] moezali1 commented on #1914
I agree with this. coverage looks more appropriate.

[2022-03-07 02:45] sgujjaABM commented on #2236
Yes, I am trying to get train metrics on the full train set after CV is completed. Thanks for the heads up on the next release. Can you please let me know when it would be out?

[2022-03-07 08:49] ngupta23 commented on #146
Since your example is referring to time series analysis, I wanted to let you know that this will be added to the time series module shortly. You can track the progress here: https://github.com/pycaret/pycaret/issues/1752.

I will close this Issue for now. We can track it in the link mentioned above.

[2022-03-07 08:49] #146 closed

[2022-03-07 08:52] ngupta23 commented on #1229
@moezali1 This should be taken care of in the preprocessing refactor - correct? Should this remain open?

[2022-03-07 08:56] ngupta23 commented on #153
@tvdboom : `IterativeImputer` should take care of this to come extent - corect?

[2022-03-07 12:18] Mr-Optimistic commented on #1780
Has this been solved?

[2022-03-07 12:51] PrithivirajDamodaran commented on #2248
Thank you - My idea of opening this feature request was to add a new category of feature called “labellers" for PyCaret.

But I like your larger proposal, I would be happy to own/lead the NLP side of things for PyCaret but at the moment I have some prior professional commitments, so, if you are looking for someone to start immediately, I can also help refer someone in my network.

Let me know what

[2022-03-07 17:23] lucazav commented on #128
The short answer is that the solution is launching the Power BI Desktop executable from the Anaconda Prompt after activating the environment in which you want to run the Python script.

The long one is described in this [blog post](https://medium.com/microsoftazure/fixing-ado-net-error-trying-to-run-python-script-in-power-bi-83e4b98cba8d).

[2022-03-07 17:55] Yard1 commented on #1229
Yes, it should be fine now

[2022-03-07 20:51] ngupta23 commented on #1834
Why is R2 not a good measure for time series:

- https://www.youtube.com/watch?v=MN5AYymKDhc
- https://www.jstor.org/stable/2286421

[2022-03-07 21:30] spf255 opened #2253 "Anomaly Import Issue"
I've been using the PyCaret anomaly detection package in a Jupyter Notebook in Cloudera Data Science Workbench (CDSW) for a while now. It's been very valuable! I'm now trying to automate this by running it as a script daily.

I've created a script with the exact same commands that are successfully working in Jupyter Notebook. Unfortunately, importing the anomaly package fails when I run it in a Py

[2022-03-08 05:47] enesavci16 commented on #1102
similar problem
RuntimeError: This version of PyCaret requires scikit-learn==0.23.2, got 1.0.1. Support for newer scikit-learn versions will be added in a future release.

[2022-03-08 11:23] ngupta23 commented on #2253
Check the `ipython` version on CDSW and see if it has the `update_display` feature. Sometimes the environments in CDSW are older. You may have to update the `ipython` version if that is the case. Just my guess.

https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html#IPython.display.update_display

[2022-03-08 14:36] sgujjaABM opened #2255 "[BUG] NameError: name 'display_container' is not defined"
**Describe the bug**

**To Reproduce**

Hi, I am getting this error when I predict on a new data set with true labels (defined as 'dataset') using existing trained model. This is same as issue #818, however the pull() function doesn't work since I am not using setup function. Can you please help?

NameError: name 'display_container' is not defined

[code]

**Expected behavior**

**Additional conte

[2022-03-08 20:54] spf255 commented on #2253
I can run a Jupyter session in CDSW and the `IPython` (v 7.16.3) functions load just fine. They are installed in the directory  `./.local/lib/python3.6/site-packages`.

If I try to run this exact same script in a CDSW Python 3 workbench session (command line), this error occurs. In this session, I found it's using the `IPython` package in the same directory `./.local/lib/python3.6/site-packages`.

[2022-03-08 21:03] tvdboom commented on #2249
#2256

[2022-03-09 09:27] bsriganesh opened #2257 "[BUG] Tune model in NLP fails"
**Describe the bug**
Tune model in NLP fails

**To Reproduce**

[code]

[code]

[2022-03-09 09:53] Ant3ng opened #2258 "[Time Series] plot_model fails when range of days is over 200d"
**Describe the bug**

When sample days are over 200d, plot_module in time-series module doesn't give a plot, but a bizarre error.
Even if you can solve the issue by following instruction below (installing `kaleido`), this error might not be expected and welcomed.

[code]

**To Reproduce**

When days are 200d or less, it is safe
[code]

When days are over 200d, problem arises
[code]

**Versions**
G

[2022-03-09 10:58] ngupta23 commented on #2258
For larger datasets, the renderer is switched to a static one (for some plots only) since larger datasets with interactive plots can slow down notebooks. The default threshold is 200 data points You can increase the threshold in setup (please see docstring).

![image](https://user-images.githubusercontent.com/33585645/157428139-bb4e4ffb-94f4-4dc2-bf66-27a2a2174598.png)

Do you have any alternate s

[2022-03-09 11:06] ngupta23 commented on #2248
Thanks @PrithivirajDamodaran. I think we have a bit of time here since we are going through a refactor for the other (non-NLP) related modules right now. Let me touch base with you in a bit to discuss the next steps (either way we decide to take it).

This would probably be a new class of tasks as you pointed out. I am envisioning something like this, but of course, we have to go through the plann

[2022-03-09 11:23] jeroenvermunt opened #2259 "GroupKFold not working as it should"
**Describe the bug**
I am using pycaret to get an overview of the accuracy scores that I can achieve with my current dataset. For this task to goal is to predict whether a case will be won or lose, making it a binary classification problem. Each case has multiple observations with the same win/loss label. It is crucial that multiple observations of each case are not in both the train and test set.

[2022-03-09 12:56] ngupta23 commented on #2258
Do you have any alternate suggestion on what should be done here?

Maybe we could install `kaleido` by default when we install pycaret. I will look into it,

[2022-03-09 18:50] #2249 closed

[2022-03-10 01:34] Ant3ng commented on #2258
Thank you for reply

Possible suggestion is putting your description on error message. It means telling not just how to fix it (including install `kaleido`), but why this occurred just because of changing number of datasets from 200->201.

Though I installed kaleido after getting error above, same error occurred. I checked it being installed by seeing its version and I was able to print version. S

[2022-03-10 01:34] akramIOT commented on #891
same issue here  and  NOT able to load a Model with load  API  which was previously  trained in older pycaret versions.

(python ) (base) akram@ISHERIFF-M-RBNA STREAMLIT_APPS % conda env list
# conda environments:
#
AKRAM_CODE_FOLDER        /Users/akram/.conda/envs/AKRAM_CODE_FOLDER
base                  *  /Users/akram/opt/anaconda3
pycaret_akram            /Users/akram/opt/anaconda3/envs/pycaret

[2022-03-10 01:36] akramIOT opened #2261 "pycaret Load model not working"
**Describe the bug**

(python ) (base) akram@ISHERIFF-M-RBNA STREAMLIT_APPS % conda env list
# conda environments:
#
AKRAM_CODE_FOLDER        /Users/akram/.conda/envs/AKRAM_CODE_FOLDER
base                  *  /Users/akram/opt/anaconda3
pycaret_akram            /Users/akram/opt/anaconda3/envs/pycaret_akram

(python ) (base) akram@ISHERIFF-M-RBNA STREAMLIT_APPS % conda activate pycaret_akram
(pycar

[2022-03-10 10:01] ngupta23 commented on #2258
@Ant3ng Thanks for the feedback. I am able to run the plots with > 200 points once `kaleido` is installed. May I know where you are running your analysis?

- Is it in a notebook?
- Is it on your local machine or Google Colab or somewhere else?

It may be possible that you installed `kaleido`, but did not restart the environment so the notebook did not pick up the install. Just some thoughts. If yo

[2022-03-10 13:25] ngupta23 opened #2263 "Refactor: Add checks for soft dependencies"
**Is your feature request related to a problem? Please describe.**
With 3.0 refactor many hard dependencies will be moved to soft dependencies, hence we need to check for them appropriately.

**Describe the solution you'd like**
Something similar to how `sktime` does it.

Implementation: https://github.com/alan-turing-institute/sktime/blob/v0.10.1/sktime/utils/validation/_dependencies.py
Check: ht

[2022-03-10 14:32] ngupta23 opened #2264 "Replicate TSstudio plots from R"
**Is your feature request related to a problem? Please describe.**
Many cool plots are available in [TSstudio](https://github.com/RamiKrispin/TSstudio).

**Describe the solution you'd like**
Replicate them in the time series module

**Additional context**
This is just a placeholder issue. The details need to be ironed out and this may have to be split into several sub-issues.

[2022-03-10 14:36] ngupta23 opened #2265 "Benchmark Time Series Results against Darts"
**Is your feature request related to a problem? Please describe.**
Basic results from Darts can be [found here](https://towardsdatascience.com/darts-swiss-knife-for-time-series-forecasting-in-python-f37bb74c126)

**Describe the solution you'd like**
Benchmark the results from pycaret against them to see if there are comparable or if there are any appreciable differences.

[2022-03-10 15:55] #1909 closed

[2022-03-10 15:55] #2236 closed

[2022-03-10 17:26] gfragi opened #2266 "[BUG] n_jobs raises unexpected arguement error in Clustering v3.0.0"
**Describe the bug**

My dataframe is with 3 columns and 1209 rows. Same process in 2.3.6 runs smoothly.
When I am trying to use clustering with version 3.0.0 an error is raising, about n_jobs argument

[code]

[code]

**Expected behavior**

[code]

**Versions**
<details>

3.0.0
</details>3.0.0

[2022-03-10 18:32] #2266 closed

[2022-03-10 19:33] sgujjaABM opened #2270 "[BUG] Pycaret autoML Regression with very high error metrics"
**Describe the bug**

**To Reproduce**

Hi, I am running regression analysis on a data set that results in very high error metrics and low R2 values. The metrics on test data are below. Can you please help understand what this means?
Test metrics:
                Model     MAE     MSE    RMSE      R2   RMSLE    MAPE
0  CatBoost Regressor  0.4003  0.3513  0.5927  0.6486  0.0869  0.0723

<html xmlns

[2022-03-10 19:56] gfragi commented on #2266
Sorry I didn't want to make any noise, I have just mentioned that because I have noticed the problem and I thought it a good idea to know about.

[2022-03-10 21:39] ekamperi commented on #1911
Hi folks! Is there any progress on this one? It would be valuable to get per-fold y_preds & y_true to calculate aggregate confusion matrices and ROC curves. Is there any branch that I could test to help? Or could you point me to the part of the code I should modify to implement this functionality? Thanks!

[2022-03-10 22:55] ngupta23 commented on #2266
No problem. Were you able to resolve the issue by installing correctly?

[2022-03-10 22:57] spf255 commented on #2253
Thanks, @ngupta23!

After digging, I found that it's using `IPython` (v. 7.16.3) in this directory when working in Jupyter Notebook:

`/home/cdsw/.local/lib/python3.6/site-packages/IPython/`

And it's using `IPython` (v. 5.1.0) in this directory when working in the command line:

`/var/lib/cdsw/python3-engine-deps/lib/python3.6/site-packages/IPython/`

Since these are being called from the `pycare

[2022-03-10 22:57] #2253 closed

[2022-03-10 22:59] ngupta23 commented on #2253
Yes, I have been burned by similar issues on CDSW before , hence my suggestion. Glad it helped.

[2022-03-11 01:01] ngupta23 commented on #2252
Also include NLP and ARULES

[2022-03-11 03:05] #2244 closed

[2022-03-11 03:05] #2243 closed

[2022-03-11 03:06] #2103 closed

[2022-03-11 03:06] #2258 closed

[2022-03-11 03:07] ngupta23 commented on #2195
@tvdboom Can we close this now?

[2022-03-11 13:41] someshfengde commented on #295
I am getting this issue again with Kaggle and pycaret. I have about 20 columns and 20000 rows of data

[2022-03-11 13:54] ngupta23 commented on #1911
Hi @ekamperi We are preparing for the 3.0 release at this point and some major refactoring is going on. Hence, this could not be worked on. We will have to pick this up (most likely) after the 3.0 release.

@Yard1 Do you have any recommendations? Should we do this now or wait for the release?

[2022-03-11 22:05] atwahsz opened #2273 "feature selection using FRUFS: Feature Relevance based Unsupervised Feature Selection"
is there a way to implement this as a feature selector technique?
https://github.com/atif-hassan/FRUFS

[2022-03-11 23:09] gfragi commented on #2266
Yes of course. As I have mentioned on my first comment I had already tested both stable (2.3.6) and the alpha version of time series (3.0.0). So I am already ahead to my research, using pycaret. Great job guys!!!!!1

[2022-03-12 06:02] aicybersec commented on #1786
it works on Colab but not on notebook

[2022-03-12 06:03] aicybersec commented on #1786
I installed wordcloud with conda but still pycaret don't get installed

[2022-03-12 20:30] ngupta23 opened #2275 "Enable exogenous variable support for CdsDt models in Time Series"
**Is your feature request related to a problem? Please describe.**
Reduced Regression Models are nothing but regression models under the hood. These should be able to support exogenous variables.

**Describe the solution you'd like**
This was not enabled until now since the tags might have indicated otherwise. But based on this analysis, it seems that they do support exogenous variables. Hence, en

[2022-03-13 07:34] camille1 opened #2276 "[BUG] transform_target_method not working..."
Although `transform_target_method` is included, Y (labels) is always returned with no transformation

[code]

[2022-03-13 07:45] Ant3ng commented on #2258
@ngupta23
Sorry for being late.

Answer is Google Colab.
I found why it didn't work. Order of install might matter. Please correct me if order doesn't matter.

▼ Wrong order
[code]

▼ Correct order
[code]

I think it is great!!
If order I mention above is correct, it might be better to incorporate explanation about order into error message.

[2022-03-13 17:23] ngupta23 commented on #2258
Thanks for the feedback. I do not think the order matters (but of course, I could be wrong). In any case, we will install this by default (when you install pycaret) in the next release so users will not get that message.

[2022-03-13 17:23] #2275 closed

[2022-03-13 17:23] #1752 closed

[2022-03-14 08:45] moezali1 commented on #2276
@camille1 It's not a bug, it's a feature. When you pass `transform_target=True` we perform the transformations under the hood then when you call `predict` on the model, we inverse transform and return the result. If you are really want to model the transformed y and want to take care of inverse transformation outside of pycaret then you can simply transform your y and pass it into setup without se

[2022-03-14 08:45] #2276 closed

[2022-03-14 08:49] moezali1 commented on #2270
@sgujjaABM The metrics on test data are your hold-out metrics. Whereas the metrics you see with training functions like `create_model`, `compare_models`, etc. are cross-validated metrics on the training set only. Ideally the cross-validated metrics and hold-out metrics should be close to each other, if they are not, it signifies over-fitting/under-fitting.

By default the `automl` function runs th

[2022-03-14 08:51] moezali1 commented on #2261
@akramIOT Seems like you are using the old version of PyCaret and it is causing some conflict. Can you please ensure you are in a fresh environment with `pycaret==2.3.6`. Please let me know if you still get the same error.

Thanks.

[2022-03-14 08:52] moezali1 commented on #2259
@Yard1 Can you take a look at this one when you get a chance? I doubt it's a bug but want to be sure.

[2022-03-14 08:53] moezali1 commented on #2234
@bsriganesh Maybe try installing pycaret in a fresh conda environment. I can see `custom_stopwords` in signature and I also can't reproduce this bug on my end.

![image](https://user-images.githubusercontent.com/54699234/158137599-2af3a78d-995b-43b7-b95f-7554ba78beab.png)

[2022-03-14 08:53] #2234 closed

[2022-03-14 08:54] moezali1 commented on #2255
@sgujjaABM I think your environment is having multiple conflicts with older version of pycaret. Have you installed time series module and pycaret in the same environment?

Can you please try installing pycaret in the new conda environment and try to reproduce the bug?

Thanks

[2022-03-14 14:03] Yard1 commented on #2259
Will do

[2022-03-14 21:53] #2252 closed

[2022-03-15 07:50] tvdboom commented on #2273
Hi @atwahsz, we normally don't add extra dependencies just for a single extra functionality, but since your library is extremely lightweight we could consider it. Can you tell how this approach compares to other standard approaches like sequential feature selection or recursive feature selection?

[2022-03-15 07:54] atwahsz commented on #2273
https://www.deepwizai.com/projects/how-to-perform-unsupervised-feature-selection-using-supervised-algorithms

This blog post explains everything

[2022-03-15 11:35] ngupta23 opened #2282 "Remove experiment specific references from Base Experiments"
**Is your feature request related to a problem? Please describe.**
pycaret_experiment.py, supervised_experiment.py other base experiment classes have switched for task-specific items. This makes the code harder to understand. e.g.

[code]

**Describe the solution you'd like**
Create a child class from "supervised experiment" - one for `time_series` and one for all other tasks. In this child class,

[2022-03-15 12:02] ekamperi commented on #1624
Hey folks! Is there any update on this one? I just encountered it. What if I use `test_data=training_data` in `setup()`? Would that be a valid workaround? `compare_models()` & `tune_model()` would work ok, right? But it wouldn't make sense to call `predict_model()` then, unless I stash, say, 30% of the data *before* passing it to `setup()`. Correct?

[2022-03-15 12:27] JelleAdan commented on #2259
I have exactly the same problem in pycaret!

Trained a model and got >0.99 accuracy on classifier models when using "groupkfold" as the fold strategy. Then decided to use scikitlearn random forest classifier and also got a >0.99 accuracy after cross validation. However, when using the option "groupkfold" as fold strategy here, the accuracy dropped to approximately 0.75.

Seems like this option fai

[2022-03-15 14:46] ngupta23 commented on #2157
example here: https://github.com/alan-turing-institute/sktime/blob/main/.github/workflows/cancel.yml

[2022-03-15 14:53] ngupta23 opened #2283 "Additional Unit Tests - prophet"
**Is your feature request related to a problem? Please describe.**
Currently Prophet is not tested on Windows because of installation issues.

**Describe the solution you'd like**
See how `sktime` implements it here (installation through conda): https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/.github/workflows/test.yml#L47

**Describe alternatives you'

[2022-03-15 14:57] ngupta23 opened #2284 "Additional Unit Tests - running example notebooks"
**Is your feature request related to a problem? Please describe.**
Currently example notebooks are not run when unit tests are run.

**Describe the solution you'd like**
Implement something like what sktime does: https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/.github/workflows/test.yml#L30

**Additional context**
This will ensure that breaking changes

[2022-03-15 15:20] ngupta23 opened #2285 "Additional Unit Tests - code quality"
**Is your feature request related to a problem? Please describe.**
No code quality tests right now in pycaret

**Describe the solution you'd like**
Add similar to sktime: https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/.github/workflows/test.yml#L12

[2022-03-15 15:21] ngupta23 opened #2286 "Additional Unit Tests - MAC"
**Is your feature request related to a problem? Please describe.**
Add unit tests for MAC

**Describe the solution you'd like**
Similar to what is done in sktime: https://github.com/alan-turing-institute/sktime/blob/87bdf36dbc0990f29942eb6f7fa56a8e6c5fa7b7/.github/workflows/test.yml#L130

[2022-03-15 21:20] #2137 closed

[2022-03-15 21:21] ngupta23 opened #2287 "Refactor large functions into smaller functions"
**Is your feature request related to a problem? Please describe.**
Most current functions like `create_model`, `compare_model` etc. are several hundreds of lines long. This can make it hard for new contributors to ramp up quickly.

**Describe the solution you'd like**
The backend functions need to be refactored into smaller functions/methods and these need to be documented so that new contributors

[2022-03-15 21:23] ngupta23 opened #2288 "Improve Code Quality"
**Is your feature request related to a problem? Please describe.**
Currently code quality is inconsistent.

**Describe the solution you'd like**
- [ ]  Use precommit
- [ ] Auto apply black
- [ ] Auto apply isort
- [ ] Auto apply flake8

[2022-03-16 05:57] kilickursat opened #2293 "[BUG] plot_model() got an unexpected keyword argument 'plot_kwargs'"
### Discussed in https://github.com/pycaret/pycaret/discussions/2292

<div type='discussions-op-text'>

<sup>Originally posted by **kilickursat** March 16, 2022</sup>
When I was trying to apply the percentage version of the confusion matrix, pycaret plot_model provided "plot_model() got an unexpected keyword argument 'plot_kwargs'" error. Could you help me to solve that error?

</div>

[2022-03-16 05:58] kilickursat commented on #2293
I have solved that error using the following steps;

!pip uninstall matplotlib
!pip install matplotlib==3.1.3

[2022-03-16 11:02] bsense-rius opened #2299 "plot_model() fails due to possible matplotlib incompatibility"
**Describe the bug**
In google colab, with full install of pycaret and enable_colab(), just running the plot_model example from pycaret's documentation website
https://pycaret.gitbook.io/docs/get-started/functions/analyze#plot_model
The plot_model() section throws an error

If i revert to a previous matplotlib the error is over:
 !pip install matplotlib==3.1.3

**To Reproduce**
[code]

**Expected

[2022-03-16 12:53] naarkhoo opened #2300 "[INSTALL] installation on apple m1 arch"
I am trying to install pycaret on my m1 laptop but encounter the following error

[code]

I am using python 3.8

[2022-03-17 06:06] macklark opened #2302 "[BUG] pycaret models do not show up in mlflow ui"
This is a simple pycaret example, but this happens

[code]

I run a mlflow tracking server `mlflow server --default-artifact-root . --backend-store-uri postgresql://some-postgres-link` and when I open the ui at `http://localhost:5000` this happens

![mlflow window](https://kughclpmuvxmlieyobhv.supabase.in/storage/v1/object/public/images/Capture.PNG)

models do not log to the ui

[2022-03-17 06:53] macklark commented on #2302
anyone there

[2022-03-17 09:37] ngupta23 commented on #2302
You need to click on the + sign to expand the tracking.

[2022-03-17 09:40] #2293 closed

[2022-03-18 05:19] Echo9k commented on #2136
Hi,
I'm using **pycaret/slim** and this error shows up.
```ImportError: Numba needs NumPy 1.21 or less```

While running
[code]

Checking pip it says it has Numpy it has 1.22.3

[2022-03-19 04:22] prabhakaran2812 opened #2305 "[BUG] - TimeSeriesExperiment() - Getting error "ValueError: Unsupported Period frequency: B""
**Describe the bug**
I am trying to run a simple timeseries experiment, if have consecutive date including Sat, Sun and when I run experiment, it throws ths error "ValueError: Unsupported Period frequency: B, valid Period frequency suffixes are: S, T, H, D, W, M, Q, A, Y" But when I use the dates including Sat & Sun, I do not get this error, Is there a fix for this bug, I dont want to include dumm

[2022-03-19 04:33] prabhakaran2812 commented on #2305
Inherently my question is, for seasonal_period while we have D:7, can we have B:5 (as facilitated by pandas date_range)

[2022-03-19 16:42] ngupta23 commented on #2305
Hi @prabhakaran2812 Can you share your dataset and code snippet with me so I can evaluate and get back to you? Thanks1

[2022-03-19 18:50] prabhakaran2812 commented on #2305
Please find the code snipped to reproduce error (if we replace freq to D and change range to 30, the code works.
import pandas as pd
import datetime
format = '%Y-%m-%d'
a = []
b = []
for x in range(22):
  a.append(x)
  b.append(a)
  a = []
print(a)
chkdf = pd.DataFrame([l for l in b],columns=['Value'],\
                     index=pd.date_range(start="2022-03-01",end="2022-03-30",freq='B').tolist()

[2022-03-19 19:12] prabhakaran2812 commented on #2305
Condensed the code above

[2022-03-19 19:20] ngupta23 commented on #2305
Thanks for providing the reproducible code. This is helpful.

Just add the seasonal_period argument to the setup and it should work. Also, note the new class interface in the latest release.

[code]

[2022-03-19 19:25] prabhakaran2812 commented on #2305
@ngupta23 Thank you!! Does 5 correspond to 5 business days ? I dont see that in https://pycaret.readthedocs.io/en/time_series/api/time_series.html (If it corresponds to 5 business days, could you please add to the pycaret link above so it will be helpful to others. Thanks again, it works!!

[2022-03-19 19:26] ngupta23 commented on #2305
5 is just the expected seasonal_period. It tries to get it from the index is nothing is specified. It looks like the support for Business week is not there right now. But the way I provided bypasses that and just uses what the user provides so this is a workaround.

[2022-03-19 19:30] prabhakaran2812 commented on #2305
Will it impact the prediction for business days (having weekend break) if I use the workaround? Please let me know. Good to see that other incident log. Thanks for that.

[2022-03-19 19:57] ngupta23 commented on #2305
I ran the code and it predicts the gaps correctly. So it is just a matter of adding the "B" to the support index values. But I will have to do a deeper dive when this is implemented. For now, it seems to work, but if you find issues, please report them. Thanks!

![image](https://user-images.githubusercontent.com/33585645/159136495-512edd82-1697-41e7-9280-aacbf2096f7c.png)

[2022-03-19 20:46] prabhakaran2812 commented on #2305
@ngupta23 Thank you! That helps.

[2022-03-19 20:46] #2305 closed

[2022-03-20 09:15] biomedatascientistSV opened #2307 "Error while installing pycaret-ts-alpha -U"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
jupyter core     : 4.7.1
jupyter-notebook : 6.3.0
qtconsole        : 5.0.3
ipython          : 7.22.0
ipykernel        : 5.3.4
jupyter client   : 6.1.12
jupyter lab      : 3.0.14
nbconvert        : 6.0.7
ipywidgets       : 7.6.3
nbformat         : 5.1.3
traitlets        : 5.0.5
macOS Monterey

[2022-03-20 10:34] biomedatascientistSV commented on #962
I had a related questions while installing pycaret and prophet.

@ngupta23

Here is the full error while installing using the following code in Jupiter notebook
!pip3 install pycaret-ts-alpha -U

Building wheel for wordcloud (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /opt/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/privat

[2022-03-20 15:50] #1234 closed

[2022-03-20 15:50] #1675 closed

[2022-03-20 15:51] #1397 closed

[2022-03-20 15:51] ngupta23 commented on #1397
Now, this works with `model_only = False` as well (and this has been set as default so it saves the entire pipeline by default).

[2022-03-20 15:57] ngupta23 commented on #2307
@biomedatascientistSV This works for me.

A few things to try:

1. Try on Google Colab to eliminate your machine environment-specific issues. This should go through, but you can also confirm.
2. If 1 passes, then create a fresh environment on your local machine and only install these 2 libraries. There may be other libraries in your current environment that might be interfering with the installati

[2022-03-20 16:27] ngupta23 commented on #962
@biomedatascientistSV - Can you try installing wordcloud on its own. Does it go through? If it does, try installing pycaret after that.

[code]

Also, would recommend verifying this step by step as outlined in this Issue: https://github.com/pycaret/pycaret/issues/2307

[2022-03-20 18:14] ngupta23 opened #2308 "Refactor plot_model for time series"
**Is your feature request related to a problem? Please describe.**
Refactor time series

- [x] Out of Sample, In-sample and Residuals should share the same code base allowing to make overlays of the plots for multiple models (along with original dataset), Currently, residuals is clubbed with plot_series (which plots the original time series data in separate plots).
- [x] #2343

[2022-03-20 21:54] ngupta23 commented on #2245
Another way to possibly estimate may be using the following. But this needs to be evaluated.

https://www.statsmodels.org/devel/examples/notebooks/generated/autoregressions.html

Also, compare this to `est.arma.wge` from `tswge` package in R.

[2022-03-20 22:42] #1616 closed

[2022-03-20 23:57] ngupta23 opened #2310 "Exponential Smoothing Parameter Search Space Improvement"
Exponential Smoothing Parameter Search Space

https://otexts.com/fpp3/holt.html

[2022-03-21 04:39] biomedatascientistSV commented on #962
@ngupta23  word cloud installation did not work. Same error.  Tried few other codes including
!pip install wordcloud==1.8.1
!pip install wordcloud -version-compatible-operatingsystem

[2022-03-21 05:15] biomedatascientistSV commented on #962
@ngupta23  I solved the issue with first installing word cloud using
!pip install wordcloud==1.8.0

but now I cannot install prophet  its shows the following error
Collecting prophet
  Using cached prophet-1.0.1.tar.gz (65 kB)
Requirement already satisfied: Cython>=0.22 in /opt/anaconda3/lib/python3.8/site-packages (from prophet) (0.29.23)
Collecting cmdstanpy==0.9.68
  Using cached cmdstanpy-0.9.

[2022-03-21 11:13] ngupta23 commented on #962
@biomedatascientistSV Installing prophet (especially using pip) is always challenging. That is why we did not club it by default with pycaret. What has worked for me in general is installing from conda. You can Google the instructions and try the same.

If it does not work, I would recommend opening an issue in the prophet repository.

[2022-03-21 14:24] biomedatascientistSV commented on #962
@ngupta23  worked like a charm, so I have installed both pycaret and prophet, off to running your codes with my data set. Thx for your help.

[2022-03-21 15:12] ngupta23 commented on #2307
Solution posted in #962

[2022-03-21 15:12] #2307 closed

[2022-03-21 23:28] ekamperi commented on #602
Hey folks. Is there any update on this one? Pass `class_weight(s)` on `compare_models()` doesn't work. It yield an error: "TypeError: compare_models() got an unexpected keyword argument 'class_weights(s)'. Is it a valid workaround to change the class_weight attribute, after `compare_models()` returns and before calling `tune_model()`? To at least tune with the desired class weights?

[2022-03-22 06:45] kilickursat opened #2314 "How to see PCA components name?"
I applied PCA and then feature importance but it shows important features with Component_1,2 and 3 so how can I know/understand which parameters are corresponding to these components?

![PCA3](https://user-images.githubusercontent.com/25801054/159423272-5310a224-07bf-4534-bc50-db4bd57de2f7.png)

[2022-03-22 14:43] kilickursat commented on #2314
Thanks for your reply. However, the new components are kind of black box.

[2022-03-22 16:17] kilickursat commented on #2314
I have 18 features and applied PCA for feature extraction and then I would like to see the names of three components in the feature importance plot? For example, component 1 refers to thrust force, component 2 refers to pressure, etc.

[2022-03-22 16:25] ngupta23 opened #2315 "Add option to use only ONNX compatible models"
Some models can be exported in ONNX format. Currently, there is no way to filter by only these models.

Proposing addition of a `setup` option to only enable only those models that have ONNX support.

[2022-03-22 18:03] ngupta23 commented on #2314
Correct. But the components are a linear combination of initial features. I believe in R, you can see constituents of the initial features in the components. Irrespective of what @kilickursat is looking for, I hope something similar is available in Python as well (seeing the component composition of initial features).

PS: It may be available in the `components_` attribute in PCA (maybe). Is it po

[2022-03-22 21:05] felipedram opened #2318 "[BUG] AttributeError: 'numpy.float32' object has no attribute 'is_integer'"
Hi!

I'm getting an `AttributeError: 'numpy.float32' object has no attribute 'is_integer'` in this part of the code:
https://github.com/pycaret/pycaret/blob/a2436a1485b325e7f99f57f99f8049177f26a8c9/pycaret/internal/preprocess.py#L194

And it makes sense because if you convert all the `float64` columns into `float32` ones
https://github.com/pycaret/pycaret/blob/a2436a1485b325e7f99f57f99f8049177f26a

[2022-03-22 21:49] ngupta23 commented on #2318
Can you paste your entire code to reproduce this error (with data if possible)?

[2022-03-22 22:28] felipedram commented on #2318
I've just got an additional info: the error just happens when the dataframe is sparse
[code]
which is the result from

[code]
.
The env setup is
[code]
.
If I pass `sparse_threshold=0`, the resulting dataset is dense
[code]
.
It costs me 1000x more memory, but the error does not happen.

[2022-03-23 02:17] kilickursat commented on #2314
@tvdboom and @ngupta23 , First of all, many thanks for your all suggestions and effort. You enlightened me about PCA and feature extraction. Sorry for the late reply due to the time difference.
I have numerical machine parameters such as torque, thrust, pressure and etc. total of 18 features. In addition, I have 3 main geological layers like A, B and C, and I am trying to classify geological layer

[2022-03-23 03:20] kilickursat commented on #2314
According to your comments, I have checked and applied Multicollinearity with PyCaret. I think that kind of a way is more reasonable than the PCA for my case.

[2022-03-23 07:41] tvdboom commented on #2318
Hi, thanks for noticing the bug. This bug is already fixed in the development branch and will be released with pycaret v3.0

[2022-03-23 12:26] mana19 opened #2320 "when use eda(display_format = 'bokeh') from pycaret with jupyterlab ,the bokeh plot cannot change by selecting different var[BUG]"
when use eda(display_format = 'bokeh') from pycaret with jupyterlab ,the bokeh plot cannot change by selecting different var.But it run smoothly in notebook. jupyterlab 3.1.2, the ipywidget has been installed.
pycaret 2.3.7
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-03-23 12:31] felipedram commented on #2318
Looking forward the version 3.0!
Anxiously!

Many tks!

[2022-03-23 12:31] #2318 closed

[2022-03-23 13:00] reza1615 opened #2322 "[BUG]: FugueBackend with spark backend"
Pycaret version 2.3.8 on the Databricks the below code shows **unexpected keyword argument 'available_plots'** error and crash. Dask backend is ok

[code]
![image](https://user-images.githubusercontent.com/2202483/159704975-1d578b67-4492-462b-9f4c-17a5578b0dea.png)

[2022-03-23 18:01] ngupta23 opened #2323 "Same model from multiple libraries"
**Is your feature request related to a problem? Please describe.**

In time series, many libraries provide the same models. Example,

AutoARIMA is available from pmdarima and a faster variant is available through statsforecast that now has a plugin in sktime.
Similarly, there are plans to probably add AutoARIMA from statsforecast to darts as well.

[code]

**Describe the solution you'd like**

Pro

[2022-03-23 21:14] ngupta23 opened #2324 "Incorporate `WindowSummarizer` in `ReducedRegressionModels`"
**Is your feature request related to a problem? Please describe.**
Add ability for users to extract lagged features from exogenous and target variable.

**Describe the solution you'd like**
See how to use this in `sktime` here: https://gist.github.com/ngupta23/361d353ddd5e4b55c2f46d8fab6d4b44

**Describe alternatives you've considered**
None

**Additional context**
Related to #382

[2022-03-24 05:15] sptiwari commented on #728
silent=True in setup() worked for me.

[2022-03-25 08:32] lorenzoyeung commented on #1047
i have the same issue. The error pops up when I am running the "Binary Classification Tutorial Level Intermediate - CLF102.ipynb".
Running ```
from pycaret.datasets import get_data
dataset = get_data('credit', profile=True)
[code]

[2022-03-25 14:13] sandorkonya commented on #1314
I still have this issue in 2022 :(
In custom env in conda.

scikit-learn              1.0.2            py39he931e04_0    conda-forge
scipy                     1.8.0            py39hc0c34ad_1    conda-forge
pycaret                   2.2.3              pyhd3deb0d_0    conda-forge

first AttributeError: 'SimpleImputer' object has no attribute '_validate_data'
and if i use  imputation_type='iterative'

[2022-03-25 14:20] ngupta23 commented on #2202
Other deprecations that need to be incorporated when `sktime` `0.11.0`.

- [ ] DEFAULT_ALPHA (we use this internally in some places)
- [ ] Transformers Z argument (affects pipeline)

[2022-03-25 14:44] crystalmunyee commented on #1102
hi i have the same issue with the following error but i checked my scikit learn is already 0.23.2
RuntimeError: This version of PyCaret requires scikit-learn==0.23.2, got 0.22. Support for newer scikit-learn versions will be added in a future release.

[2022-03-25 14:47] crystalmunyee opened #2326 "sklearn version error when running pycaret 2.3.8"
hi i have the some issue with the following error but i checked my scikit learn is already 0.23.2.
Its happens when im setting up the model:
exp_mclf1 = setup(data = job, target = 'Salary_Bins', session_id=123)

RuntimeError: This version of PyCaret requires scikit-learn==0.23.2, got 0.22. Support for newer scikit-learn versions will be added in a future release.
![image](https://user-images.githu

[2022-03-26 12:02] ngupta23 commented on #1893
Current functionality that needs to be preserved in refactor

https://gist.github.com/ngupta23/f37f7e226e39d387d7163c24367a3880

## In a native Experiment
1. Test metric displayed when does not pass fh explicitly
2. Test metric not displayed when the user passes fh explicitly (even if it matches the test indices)

![image](https://user-images.githubusercontent.com/33585645/160238352-b45eb0c8-48ef-

[2022-03-26 20:45] ngupta23 opened #2329 "[BUG] Blended Model in Time Series fails to predict with fh different from one used in training"
**Describe the bug**
Model from blend_model can only be predicted with fh used during training. This prevents users from predicting with a different forecast horizon

**To Reproduce**

[code]

[code]

**Expected behavior**
Should work with a different forecast horizon as in other models

**Versions**
Feb release of pycaret-ts-alpha

System:
    python: 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC

[2022-03-26 21:10] ngupta23 opened #2330 "Use sktime `EnsembleForecaster` instead of pycaret `_EnsembleForecasterWithVoting` for blending"
**Is your feature request related to a problem? Please describe.**
Currently, blending is managed by a PyCaret custom forecaster. This was done since at the time of initial development, sktime did not have an [`EnsembleForecaster`](https://www.sktime.net/en/latest/api_reference/auto_generated/sktime.forecasting.compose.EnsembleForecaster.html) with the required features. Now this is available in s

[2022-03-26 21:11] ngupta23 commented on #2329
Related to #2330. Once #2330 is implemented, this issue should be resolved.

[2022-03-26 21:18] ngupta23 commented on #1893
**Final Implementation**

Metrics are only shown if ALL of the following conditions are satisfied (applicable for native experiments OR for experiments that load a model):
1) `setup` has been run AND
2) `verbose` = True AND
3) prediction indices match test indices exactly.

[2022-03-26 22:58] ngupta23 commented on #1854
This notebook shows a workaround for now (i.e. pass seasnonal period manually): https://gist.github.com/ngupta23/420fef55fb6a6c92c6035432660f6552

But this (along with all other frequency types per **[this link](https://stackoverflow.com/a/35339226/8925915)**) should be easy to handle.

[2022-03-27 00:09] ngupta23 opened #2331 "Add GPU support for ReducedRegressionModels"
**Is your feature request related to a problem? Please describe.**
Some regression models can be run faster on GPUs.

**Describe the solution you'd like**
Add this capability for Reduced Regression Time Series models where applicable.

**Describe alternatives you've considered**
Run on CPUs only

[2022-03-27 04:50] kennysong commented on #2016
This issue is not stale.

[2022-03-27 06:02] gm039 commented on #1874
@Yard1 @ngupta23

Any plan to work on this issue? The cross-validation results are misleading.
By the way, what is the best way to select the best models among a few?

[2022-03-27 06:58] Yard1 commented on #1874
This will be resolved in the next major update (3.0)

[2022-03-27 21:18] moezali1 commented on #2326
Hi @crystalmunyee Seems like some conflicts. Can you please try that in a fresh environment? I am not able to reproduce this bug when I install pycaret on fresh environment or on Colab.

[2022-03-27 21:20] moezali1 commented on #2320
@mana19 Do you mind logging this issue on [this repo](https://github.com/AutoViML/AutoViz).

[2022-03-27 21:23] #2270 closed

[2022-03-27 21:23] #2261 closed

[2022-03-27 21:23] #2255 closed

[2022-03-27 21:25] moezali1 commented on #2299
@bsense-rius I just tried this on Colab and I cannot reproduce the bug. You do not need to run the `enable_colab` command anymore. Where do you find the reference for `enable_colab`. I thought I removed it everywhere from the documentation.

Link to Colab: https://colab.research.google.com/drive/1g21vnMEwOtL5Hp1QDvZJomeYFYIJsSXf?usp=sharing

Anyways, hope this helps. Closing the issue now.

[2022-03-27 21:25] #2299 closed

[2022-03-27 21:26] moezali1 commented on #2273
@tvdboom This looks really great. If it is lightweight and won't likely to cause any dependencies conflict, we should think about implementing this.

[2022-03-28 04:06] 1996010320 commented on #1102
Hi there

I had the same issue but my scikit-learn version is 0.23.2

RuntimeError: This version of PyCaret requires scikit-learn==0.23.2, got 1.0.1. Support for newer scikit-learn versions will be added in a future release.

[2022-03-28 05:42] moezali1 commented on #2172
@fabSchAdastra The feature has now been released in `2.3.9`.

[2022-03-28 05:43] moezali1 commented on #1920
This is finally done.

[2022-03-28 05:43] #1920 closed

[2022-03-28 06:15] goodwanghan commented on #2322
I am investigating

[2022-03-28 06:37] goodwanghan commented on #2322
It seems I can't reproduce this issue on Databricks. I am using Spark 3.2.1.

On my environment, there is no such issue.

In order to reproduce your error, I have to do something like

[code]
 But obviousely this parameter isn't on your function call.

Also searching the entire repo of pycaret, the keyword `avaialbe_plots` is only in the unit tests.

So here are my suggestions:

1. Restart a new c

[2022-03-28 07:05] mansouralawi commented on #1047
I have the same issue too, The error pops up when I am running the "Binary Classification Tutorial Level Intermediate - CLF102.ipynb". or any <code>get_data</code> with <code>profile=True</code>

gives this error <code>IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices</code>

Running on Windows.

[2022-03-28 07:16] mansouralawi commented on #1047
Downgrading pandas to 1.3.5 was a workaround. Error happened with pandas 1.4.1

[2022-03-28 09:13] Haosam commented on #2234
@bsriganesh
Did you call multiple pycaret imports before trying to run setup?

[2022-03-28 10:18] bsriganesh commented on #2234
Hi,

That may have been true.

Thanks,
Bharat Balasubramanian.

Sent from my iPhone

On Mar 28, 2022, at 14:43, Haosam ***@***.***> wrote:

﻿

@bsriganesh<https://github.com/bsriganesh>
Did you call multiple pycaret imports before trying to run setup?

—
Reply to this email directly, view it on GitHub<https://github.com/pycaret/pycaret/issues/2234#issuecomment-1080394177>, or unsubscribe<https://g

[2022-03-28 11:29] #1893 closed

[2022-03-28 19:18] ngupta23 opened #2337 "[BUG] Time Series Plotting fixes for models without prediction intervals."
**Describe the bug**
Plotting a model forecast that does not provide prediction intervals still adds an empty prediction interval legend.

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/33585645/160470575-744e2668-8d9e-4624-8f36-24ffc05f6ae9.png)

**Expected behavior**
Do not show prediction interval legend if model does not support it.

**Versions**
Current `time_ser

[2022-03-28 19:21] ngupta23 opened #2338 "[BUG] Plotting after loading model but without running setup"
**Describe the bug**
Plotting after loading model but without running setup is not supported and should give an appropriate warning message. Currently it fails to run.

**To Reproduce**

[code]

[code]

**Expected behavior**
Give appropriate warning and graceful exit without terminating.

**Versions**
Version on `time_series` branch as of 03/28/22

[2022-03-29 00:03] arenstar commented on #177
I still have issues.

I am producing a model as per shown in the examples however if i load the model in a new script and try to pass the same dataset to it ( shown below ) i get the error: **NameError: name 'prep_pipe' is not defined**

[code]
Error:
[code]

However if i add `exp_clf101 = setup(data = dataset, target = 'result', use_gpu=False, silent=True)` after loading the model it works.

[2022-03-29 03:36] crystalmunyee commented on #2326
Hi @moezali1, thanks for the feedback. Im not sure why but reinstalling anaconda and resetup of all the packages is able to work now.

[2022-03-29 03:36] #2326 closed

[2022-03-29 07:53] kilickursat opened #2340 "Numeric confusion matrix does not match with percentage confusion matrix"
I have worked with imbalanced datasets and created confusing matrix. The numeric based CM shows the distribution of the test data properly. However, the percentage CM is not matching with numeric CM, so what is the reason for it?

`session_1 = setup(df2, target = 'Layers', session_id=123, log_experiment=False, experiment_name='lithologies', normalize_method="minmax",fix_imbalance=False,remove_mult

[2022-03-29 09:03] kilickursat commented on #1650
Can you please elaborate resampling during per fold? Especially for under sampling with per fold. Thank you.

[2022-03-29 09:53] moezali1 commented on #2340
@kilickursat This is really strange. Thanks for bringing this up. We are actually using [yellowbrick](https://github.com/DistrictDataLabs/yellowbrick) project for all the visualizations. Can you check to see if there is some parameter you are missing or the way multi-class confusion matrix percentages are calculated is different or is it really a bug in [yellowbrick](https://github.com/DistrictDat

[2022-03-29 09:58] kilickursat commented on #2340
Thanks for your reply. I will apply and share here my results. However, I realized that I applied training and test with Fold Number together, so I thought the reason for it was because of the two splitting methods. But I could not remove the Fold Number from set-up, how can I remove fold number from setup?

[2022-03-29 10:02] kilickursat commented on #2340
In addition, it might show different metrics like AUC instead of Accuracy?

[2022-03-29 10:25] kilickursat commented on #2340
About the dataset, as you can see there is no missing value in the model summary. I have 18 features and 3 classes but I applied multicollinearity.  I applied yellowbrick with logicregression the results:

**Yellowbrick CM**
![github LR](https://user-images.githubusercontent.com/25801054/160591354-988ba7f8-2b03-4d4f-9429-fa7097112054.png)

**Pycaret CM**

![pycaret cm](https://user-images.githubus

[2022-03-29 10:52] ngupta23 commented on #1766
@AJarman @ltsaprounis - Here is another option to limit the values but this uses clipping vs. transformation. I wonder which one is better?

https://github.com/alan-turing-institute/sktime/issues/2291#issuecomment-1077868581

[2022-03-29 11:12] atsangarides commented on #1766
Hi @ngupta23 just to clarify that I have that step to only make sure non-negative values are not fed into models that cannot handle that. I personally prefer having the "full" predictions and manually clipping these later according to the domain. Reason is unclipped predictions are more symmetric and represent model uncertainty better, whereas clipping can "fool" downstream users if that makes sen

[2022-03-29 11:23] AJarman commented on #1766
@ngupta23 I feel that both implementations have their use cases. Might be useful to have an upper limit, lower limit and 'clamp method' parameters. If the user simply wants to clamp predictions they could do this themselves but the implementation suggests we want to fit/evaluate the forecasters based on user-defined clamps

[2022-03-29 11:27] karailker opened #2342 "[DOC] Failed building wheel for ciso8601"
**Issue**
In Ubuntu 20.04 & Python 3.8.12, I faced an error like this:

**Potential alternative/fix**
Ubuntu/Debian users can fix this error with
`apt-get update && apt-get install -y python3-dev python3-pip python3-venv python3-wheel`

[2022-03-29 11:32] ngupta23 commented on #1766
@atsangarides @AJarman Thinking about this more, the use case in this issue is actually slightly different form what @atsangarides describes. Here we are saying that the data (naturally) does not exceed the limits. For example, energy consumption is always positive (> 0). So the training data will always be positive. But if the trend is decreasing, future predictions (or intervals) may be negative

[2022-03-29 11:35] ngupta23 commented on #1766
@AJarman By the way, the way @ltsaprounis has implemented the transformer, if the training data itself is outside the limits specified by the user, the transformation will fail since the premise is that the training data is within the limits naturally and we are just trying to clamp the predictions to be within the same limits. @ltsaprounis - correct me if I am wrong.

[2022-03-29 11:37] ngupta23 opened #2343 "ACF and PACF plots to reuse subplot logic directly instead of replicating code."
In Time series module, we can create ACF & PACF plots either

1. Individually (on data or residuals)

[code]

This uses the `plot_acf` and `plot_pacf` functions as shown below

https://github.com/pycaret/pycaret/blob/915a13d3b4d880b5a0dac0797465217b2ba934b9/pycaret/internal/plots/time_series.py#L446

https://github.com/pycaret/pycaret/blob/915a13d3b4d880b5a0dac0797465217b2ba934b9/pycaret/internal/

[2022-03-29 11:42] atsangarides commented on #1766
I am actually dealing with energy demand/price forecasting :)
I started clamping my predictions when they were actually made, but moving away from that, and handling clamping differently in different places.
If you use forecasts as inputs to an optimiser, you can use lower/upper quantiles for including uncertainty. Even though you cannot have <0 values for say demand, clipping your predictions cou

[2022-03-29 11:51] ngupta23 commented on #2343
Note: When this change is made, `plot_acf` and `plot_pacf` will be essentially converted to a plotly subplot with 1 row and 1 column. This will allow us to use `corr_subplot` within `plot_acf` as follows (similarly for `plot_pacf`)

[code]

[2022-03-29 11:55] ngupta23 commented on #1766
@atsangarides - Got it. In any case, the way this will be implemented, user will be in control. They can decide to clamp the predictions or just leave it as is (default). So this would address both cases :)

[2022-03-29 11:59] ngupta23 commented on #1766
@atsangarides Would love for you to try out PyCaret Time Series (based on sktime) and provide feedback. If you would be open to it, please connect on LinkedIn and I will follow up with you. Thanks!

https://www.linkedin.com/in/guptanick/

[2022-03-29 12:10] atsangarides commented on #1766
@ngupta23 we are the point of deciding on picking a framework Vs writing our own, so good timing. Your connections are maxed out so maybe reach out to [me](https://www.linkedin.com/in/andreas-tsangarides-2975a550/)

[2022-03-29 13:44] ryanxjhan commented on #2343
Hi, you can assign this to me.

[2022-03-29 13:57] Yard1 commented on #1650
The resampling is applied during model fitting for every fold (so that the changes are reflected in cross validation results) and during fitting of the model that is returned. Therefore, the changes are not visible in the train and test datasets you can obtain with `get_config`.

[2022-03-29 14:04] kilickursat commented on #1650
Thanks for your reply. How can I cite this information? Could you suggest to me a paper about it? Because I want to use this information in my paper.

[2022-03-29 14:07] kilickursat commented on #1650
In addition, why pycaret use train and test split with kfold together?

[2022-03-29 14:57] ngupta23 commented on #2343
@ryanxjhan , Awesome. I have assigned this to you.

Please create a branch from `time_series` and submit the PR back to the `time_series` branch itself (not `master`)

[2022-03-29 21:23] celestinoxp opened #2345 "[BUG] isocalendar().week not works"
**Describe the bug**

FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.

**To Reproduce**

My code works --> dados['semana'] = dados['Data'].dt.week

Error after change --> dados['semana'] = dados['Data'].dt.isocalendar().week

**Expected behavior**

No errors

**Additional context**

I have checked, error appear after s =

[2022-03-30 08:56] goodwanghan commented on #2322
I have tested on the exact same environment as yours, and I still can't reproduce this issue. Everything works fine.

<img width="863" alt="image" src="https://user-images.githubusercontent.com/21092479/160792623-b42de25a-1e19-41d7-a77c-77dd9fdf4917.png">

@reza1615 do you mind testing on 10.4 LTS (spark 3.2.1)?

[2022-03-30 10:45] ngupta23 commented on #2337
Actually, in this case, the model supports prediction intervals but since we wrap it in a pipeline, the pipeline does not support returning prediction intervals. This may be fixed in 0.11.1 release of `sktime`.

![image](https://user-images.githubusercontent.com/33585645/160814099-5713687a-b5bb-4775-baa4-808f58e0acd5.png)

[2022-03-30 10:52] ngupta23 commented on #2337
This may actually be a limitation when we switched to add the pipeline (pipelines do not support returning prediction intervals as of 0.11.0 release).

One workaround would be to extract the model from the pipeline (if the pipeline is empty) and use the model to make the predictions directly. This way, we would get the prediction intervals.

The drawback is that prediction intervals will be disabl

[2022-03-30 10:56] ngupta23 commented on #2338
Add a check to see if the setup has been run. If not, then log and print a message for the user and exit out.

[code]

[2022-03-30 11:07] ngupta23 commented on #1833
This issue will be impacted by the changes made for coverage and quantiles in #2202. Don't work on this issue until #2202 is closed.

[2022-03-30 14:29] balgad opened #2348 "[BUG] Model predict after load in 2.3.8 does not work - 'prep_pipe' is not defined"
**Describe the bug**
After training, finalizing and saving a model, load and predict does not work, "name 'prep_pipe' is not defined" error occured.

**To Reproduce**
I saved notebook and source files [here](https://drive.google.com/drive/folders/17NMU-ZwjXMK_pUkkFqUSzg228XcPAGnT?usp=sharing)

**Versions**
2.3.8, I noticed it works well in 2.3.6

</details>

[2022-03-30 16:21] ngupta23 commented on #2345
What type of analysis are you performing - regression, classification, time_series, other?

You must be using the time_series module package "pycaret-ts-alpha". Currently, it is not integrated with the main pycaret module. If you are doing anything other than time series, please install the main pycaret package for now in a separate environment from pycaret-ts-alpha.

[code]

[2022-03-30 17:28] moezali1 commented on #2348
@Yard1

[2022-03-30 17:56] ryanxjhan commented on #2338
Hi @ngupta23, you can assign this issue to me. Thanks!

[2022-03-30 18:27] celestinoxp commented on #2345
you're right. thanks.

[2022-03-30 19:20] ngupta23 commented on #2338
Thanks @ryanxjhan

Note, this fix needs to be made to many functions

[code]

[2022-03-31 02:44] #2023 closed

[2022-03-31 09:39] balgad commented on #2348
@moezali1 Thanks for your quick reply. It works perfectly, I will use this till fixed. Thanks once again (also for this awesome package)

[2022-03-31 09:39] #2348 closed

[2022-03-31 11:00] ngupta23 commented on #2345
Can you post the complete code with data to reproduce this problem? It is hard to debug without that.

[2022-03-31 11:02] ngupta23 commented on #2342
@karailker When do you get this error?

[2022-03-31 11:03] ngupta23 commented on #2323
@moezali1 @Yard1 here are my thoughts about this topic. Feedback is welcome.

[2022-03-31 11:15] karailker commented on #2342
When I try to install the library on my Ubuntu 20.04

[2022-03-31 11:15] celestinoxp commented on #2345
https://github.com/celestinoxp/pycaret_tests

[2022-03-31 14:01] ngupta23 commented on #2345
@celestinoxp If the inferred types are not correct, then you can also set them manually in `setup` using arguments like `categorical_features`, `numeric_features`, etc.

[2022-03-31 15:44] ngupta23 commented on #2342
OK, is it resolved now?

In any case, I have added this to the FAQ Issue for future reference.

[2022-03-31 17:03] #2343 closed

[2022-03-31 17:28] #2345 closed

[2022-03-31 20:05] ngupta23 commented on #2342
OK, thanks for reporting. We will close this and since it is available in the FAQ's, others will be able to reference this solution.

[2022-03-31 20:18] reza1615 commented on #2322
@goodwanghan: i tested with 10.4 LTS and have the same issue

[2022-04-01 04:48] kvnkho commented on #2322
I can't replicate it too on the same setup. PyCaret 2.3.9 for me. Running on Databricks. Just confirming you are running on Databricks and not connecting remotely?

![Screen Shot 2022-04-01 at 12 45 41 AM](https://user-images.githubusercontent.com/32503212/161196589-907717ba-31af-4fc0-88f5-7c2cf67fd522.png)

[2022-04-01 09:18] reza1615 commented on #2322
I am directly running on databricks with the pycaret 2.3.9

On Fri., Apr. 1, 2022, 12:48 a.m. Kevin Kho, ***@***.***>
wrote:

[2022-04-01 09:56] joaomj commented on #2300
Same problem here (Ubuntu 20.04). I suspect the problem is with the installation method used to get numpy package. See these lines:

      Ignoring numpy: markers 'python_version == "3.6" and platform_system != "AIX"' don't match your environment
      Ignoring numpy: markers 'python_version == "3.7" and platform_system != "AIX"' don't match your environment
      Ignoring numpy: markers 'python_v

[2022-04-01 15:59] reza1615 commented on #2322
I checked it on another cluster which is a shared cluster and shows the below error
![image](https://user-images.githubusercontent.com/2202483/161299808-e0745f1a-be28-4a37-b415-c9407ba1a269.png)

[2022-04-01 16:32] ngupta23 commented on #1790
We want to log the following plots during setup

- [ ] "diagnostics" (covers ACF, PACF, Periodogram, QQ-plot)
- [ ] "decomp" (covers classical decomposition)
- [ ] "diff" (covers difference plots)

[2022-04-01 16:34] goodwanghan commented on #2322
@reza1615 maybe it is helpful to setup a meeting so I can understand the difference between our environments.

Before that, can you try to install

[code]

instead of

[code]

Because this can install the latest code change that could prevent this issue on your side.

But meanwhile it will be great if we can meet and we need to understand the root cause of this.

Thank you so much for your help!
H

[2022-04-01 17:54] ngupta23 commented on #1790
This can mimic the way `_mlflow_log_model` is implemented

https://github.com/pycaret/pycaret/blob/b3fcf143f8d0dfae008fe8b69aef82074bec8215/pycaret/internal/pycaret_experiment/tabular_experiment.py#L168

So, maybe create another method called `_mlflow_log_setup` and internally, you can call the respective `plot_model` calls (similar to what is done inside `_mlflow_log_model`

https://github.com/py

[2022-04-01 18:43] Serg132003 opened #2357 "ValueError: Estimator cat not available."
working with pycaret after create_model('cat') got error
ValueError: Estimator cat not available. Please see docstring for list of available estimators.
i have
!pip install pycaret[full]

[2022-04-01 18:50] ngupta23 commented on #2357
Did you check the docstring for the list of estimators as indicated by the error message? There is no estimator called "cat".

[2022-04-01 19:03] Serg132003 commented on #2357
Thank you for fast answer. Sorry - I am new to Pycaret - where I can find this 'docstring'?

[2022-04-01 19:42] reza1615 commented on #2322
pip install git+https://github.com/goodwanghan/pycaret.git@fugue-fix#egg=pycaret[full]
It doesn't work on notebook it has issue with #

[2022-04-01 19:46] reza1615 commented on #2322
I installed based on your repo and the error still the same

[2022-04-01 20:00] goodwanghan commented on #2322
This is how I installed it

<img width="1125" alt="image" src="https://user-images.githubusercontent.com/21092479/161333234-1ae8266f-a5d3-4f38-a181-d23e18b18f25.png">

[2022-04-01 20:05] reza1615 commented on #2322
I don't have edit access

[2022-04-02 00:47] joanlofe commented on #177
@arenstar I can confirm this works. And it is true that this is not mentioned anywhere in the documentation, or at least I've been not able to see it.

[2022-04-02 02:26] ryanxjhan commented on #1790
Hi @ngupta23, can you assign this issue to me? Thanks!

[2022-04-02 03:59] goodwanghan commented on #2322
hmmm i see, both I and @kvnkho both install the pycaret as a cluster library.

Is it possible your spark cluster pycaret is of a different version?

Maybe we should setup a meeting to investigate.

[2022-04-02 06:04] kilickursat commented on #2340
Hi, @moezali1, I could not solve the problem. How can I check the calculation way of the confusion matrix? Most probably different metrics work with CM, the result is not accuracy based.

[2022-04-02 14:18] ngupta23 opened #2359 "Add setup run check method to base class of experiment"
Currently the checks reside in the time series module. It would be better to move them to base class so that all task types can benefit from it.

O, we went with a private method for now. Currently, it is in the time series module only. Later we may add it to the base class itself.

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/pull/2354#discussion_r841081569_

[2022-04-02 14:20] #2338 closed

[2022-04-02 14:23] ngupta23 commented on #2357
@Serg132003 Docstring is a python construct that helps developers document the usage of the function/method and users can refer to them for proper usage. You can find an [overview here](https://www.programiz.com/python-programming/docstrings).

[2022-04-02 15:05] ngupta23 opened #2361 "pass cross_val = False tune_model method and use test_data for eval"
### Discussed in https://github.com/pycaret/pycaret/discussions/2344

<div type='discussions-op-text'>

<sup>Originally posted by **kkumawat25** March 29, 2022</sup>
I see there are no params to set cross_val = false and use test_data for evaluation in tunning parameters in **tune_model** method as we have options in **setup** and **compare_models** ?  Can we do that in **tune_model** as well ?</d

[2022-04-02 15:46] ryanxjhan opened #2362 "[BUG] Training Time Not Accurate"
**Describe the bug**

The training time for some models is indicated as a few seconds when it actually takes 5 - 10 minutes to train.

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
2.3.9
<details>

</details>

[2022-04-02 17:38] ngupta23 commented on #2362
Hi @ryanxjhan, can you provide a complete reproducible example and which model time is inaccurate?

[2022-04-02 19:57] Yard1 commented on #2323
This sounds good, though how would it work with `compare_models`?

[2022-04-02 20:07] ngupta23 commented on #2323
I was thinking that we will have a default priority list of aggregators and engines. But users will be able to provide their own priority to override that.

I will draft the interface for review.

[2022-04-02 20:47] #2322 closed

[2022-04-03 00:25] #2337 closed

[2022-04-03 07:21] #2314 closed

[2022-04-03 14:17] AJarman commented on #1766
Just summarising the implementation I did today:
## `oop.py, TSForecastingExperiment.setup()`
- Implemented two (optional) arguments to feed to `ScaledLogitTransformer`:
   - I have currently implemented this as `transform_target_kwargs` and `transform_exogenous_kwargs` (both dicts)
   - These set instance variables to `TSForecasting experiment` (implemented in `TSForecastingPreprocessor` parent c

[2022-04-03 14:27] AJarman commented on #1766
Bonus:
 `ExponentTransformer` and `SqrtTransformer` also accept kwargs, so this can help deliver that functionality as well.

[2022-04-03 15:00] ryanxjhan commented on #2362
@ngupta23 Sorry, I thought this was already a well-known issue. I was doing a regression task. And the `compare_model` training time was never near accurate. I used it for a couple times, and the margin is usually more than 10x (est.). So if it says it took 60 sec to train, it in fact will take 10 - 15 minutes to train. This is especially obvious for tree-based models.

[2022-04-03 15:26] ngupta23 commented on #2362
@ryanxjhan the time noted there is the average time for each fold only. If you have 10 folds, the total time will be ~10x. Plus in the end, the model is also trained on the entire train dataset as well. That time is not included in there.

[2022-04-03 15:42] ngupta23 commented on #1766
@AJarman Could you submit a PR so we can review it (even one without tests would be ok for now until you add them later)? Thanks!

[2022-04-03 16:19] ngupta23 opened #2364 "[BUG] Time Series Plotting when data is transformed is not good."
**Describe the bug**

If data has missing values, and the user decides to impute the data, the plotting still works on the original dataset (which has missing values). This causes a lot of plots to not display any results.

Moreover, some plots like decomposition fail since we have missing values.

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/33585645/161437473-6e02

[2022-04-03 16:40] #2362 closed

[2022-04-03 17:26] ngupta23 commented on #2364
We probably need to provide the user an option to pick which dataset they want to use for plotting - original or transformed.

Add an argument called `dataset` to `plot_model`. Default set to `auto` which picks according to the defaults below.  User can also specify the alternate values as indicated.

| Plot             | Default     | Alternates  | Notes

[2022-04-03 18:37] AJarman commented on #1766
I think the implementation is OK, will need a little while tomorrow evening to do tests for each of the transformers, which I'll probably work through in a notebook. It delivers a little more than the original issue 😀 !

[2022-04-03 23:50] ngupta23 commented on #1854
To test,

[code]

[2022-04-04 00:18] ngupta23 opened #2368 "Time Series Multiple forecast - names"
**Is your feature request related to a problem? Please describe.**
With the March release of time series module, we have the ability to plot multiple forecasts in a single plot. This works ok if we have different models (such as from the output of `compare_models`). But sometimes, we want to compare different versions of the same model in which case, we get the same legend

[code]

![image](https:

[2022-04-04 00:25] ngupta23 opened #2369 "Metrics when data has missing values"
**Is your feature request related to a problem? Please describe.**
With the March release of the time series module, we have the ability to impute missing values. However, if there are missing values in the cross validation fold or test fold, then even with imputation, metrics are still NaN. This is because, all metrics are calculated with the original dataset (without transformation).

**Describe

[2022-04-04 00:30] #2357 closed

[2022-04-04 07:12] pyaf commented on #2016
![image](https://user-images.githubusercontent.com/17473589/161491531-ecba5454-c5ab-4e92-acb8-895e2c6cff99.png)

Hi @moezali1,

yellowbrick>=1.0.1 requires scikit-learn>1.0.0

and pycaret requires scikit-learn==0.23.2

Due to this mismatch, I'm not able to install my custom library which uses pycaret as a dependency.

[2022-04-04 09:11] #1854 closed

[2022-04-04 09:32] pyaf commented on #2016
Good to know that 3.0.0 is coming soon.

Installing the pycaret-ts-alpha gives the following error:
![image](https://user-images.githubusercontent.com/17473589/161515921-694c13dd-12ec-4cf2-8692-fbd1e2c16cd3.png)

I'm installing pycaret-ts-alpha as a dependency for my custom package. I've listed it in `install_requires` and installing the custom package using setuptools with `python setup.py instal

[2022-04-04 09:39] ngupta23 commented on #2016
What is causing numpy 1.22.3 to be installed? If I just install pycaret-ts-alpha it works ok for me.

[2022-04-04 13:49] karailker opened #2371 "NameError: name 'prep_pipe' is not defined"
**Error:**
[code]

When I try to make predictions using saved classification model, I faced an error above.

The code sample that I used:

[code]

I tried to make predictions with **PyCaret 2.3.8 & 2.3.9. Both versions gave this error**.

**But I downgraded the version to 2.3.6, this solved the issue.**

[2022-04-04 14:43] ngupta23 commented on #2371
Related to #2348 which has a potential alternate solution while this is fixed.

[2022-04-04 14:55] karailker commented on #2371
Thanks for reply, the issue is exactly the same.
Have a good day.

[2022-04-04 14:55] #2371 closed

[2022-04-04 17:35] tvdboom commented on #1653
we decided to drop boruta from pycaret. closing this issue.

[2022-04-04 17:35] #1653 closed

[2022-04-04 18:17] anunaykumar03 opened #2373 "[BUG] NameError for _ml_usecase when using evaluate_model()"
**Describe the bug**

NameError: name '_ml_usecase' is not defined
This bug keeps showing anytime I run the evaluate_model() function

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
2.3.9
<details>

</details>

[2022-04-04 19:04] ngupta23 commented on #1710
You can also use the following to install. In the example below, I am installing the time series module, but the same would work for main pycaret as well

[code]

[code]

[2022-04-04 19:39] ngupta23 commented on #2373
Did you run setup before running `evalaute_model`? I think `evaluate_model` required the user to run setup first (when the model is loaded)

[2022-04-04 19:42] anunaykumar03 commented on #2373
I ran setup while creating and saving the model. I am not sure how to run setup after load_model(), since I thought the load_model would automatically load the saved setup and everything from the pkl file.

[2022-04-04 19:48] ngupta23 commented on #2373
No, the setup is not saved. You can run the setup using the same settings as you used to create the model and then it should work. Please check and confirm.

[2022-04-04 19:48] ngupta23 commented on #2373
Related to https://github.com/pycaret/pycaret/issues/2359

[2022-04-04 20:00] ngupta23 opened #2374 "`develop` branch + Time Series merge"
**Is your feature request related to a problem? Please describe.**
Any documentation updates (on `master`) for unreleased version of PyCaret get published automatically. Propose using a `develop` branch going forward.

Plus `time_series` branch needs to be merged into `master` for 3.0.0 release.

**Describe the solution you'd like**

- [x] Create `develop` branch from `master`
- [x] Merge `develop

[2022-04-05 03:02] moezali1 commented on #2373
@anunaykumar03 If you trying to access plots from the saved model, you must use `save_config` and `load_config` function to load the environment in addition to the model before you can use `plot_model`, `evaluate_model`, etc.

[2022-04-05 10:13] shivajigit commented on #197
It seems a memory issue. It got resolved by reducing the dataset ..say
df=df.head(10000)
run setup() and compare_models() again

[2022-04-05 14:02] ngupta23 commented on #2197
These resources might help:

[Link 1](https://pareekshithkatti.medium.com/setting-up-python-for-data-science-on-m1-mac-ced8a0d05911)
[Link 2](https://dschloe.github.io/python/python_edu/00_settings/pycaret_installation_on_m1_mac/)

[2022-04-05 14:03] ngupta23 commented on #1386
These resources might help:

[Link 1](https://pareekshithkatti.medium.com/setting-up-python-for-data-science-on-m1-mac-ced8a0d05911)
[Link 2](https://dschloe.github.io/python/python_edu/00_settings/pycaret_installation_on_m1_mac/)

[2022-04-05 17:03] anunaykumar03 commented on #2373
The save_config made it work! Thanks

[2022-04-06 16:15] celestinoxp opened #2377 "[BUG] ImportError: cuML is outdated or not found. Required version is >=0.15, got 1.3.3"
**Describe the bug**

I'm investigate some code of pycaret and i think i found some things to pycaret team investigate...

**To Reproduce**

I have code for use gpu like use_gpu = True, but if someone try use a word to force use of gpu like use_gpu = "force", can rceive an curious warning:

ImportError: cuML is outdated or not found. Required version is >=0.15, got 1.3.3

[code]

**Expected behavi

[2022-04-06 22:04] gayathridk opened #2379 "Error while trying multiple time series using pycaret"
Code:

[code]

![error](https://user-images.githubusercontent.com/18213984/162079657-26dc0143-e17a-4fac-b26c-cd9468992a3d.PNG)

I have attached the error along with the mock data for the code executed. Could anyone help me to solve the issue?

[test.csv](https://github.com/pycaret/pycaret/files/8432614/test.csv)

[2022-04-07 01:05] malikergin opened #2380 "My target value is showing as label"
![image](https://user-images.githubusercontent.com/83214499/162099563-1c2822bd-adf5-4dd3-9531-98e81d8af1ca.png)

![image](https://user-images.githubusercontent.com/83214499/162099608-a27d0af8-0912-48ea-9752-1f2d9c353425.png)

dmi is my target value and numeric but it's showing label.

[2022-04-07 04:15] taiwos6 commented on #2379
I encountered the same error, I replaced "finalize_model()" with evaluate_model().

[2022-04-07 05:13] gesourav commented on #1588
target= is an unexpected keyword in the setup() function and hence adding exogeneous variables is not an option. Can you kindly help me in understanding this? the version installed do match with the one that is required

[2022-04-07 07:39] rajatscibi opened #2381 "[BUG] installation error with Python 3.10"
installation error with numpy during normal installation and installation error with scikitlearn for anaconda
![python_error](https://user-images.githubusercontent.com/74652470/162146121-0a10e788-19c6-4e5a-a24a-85807693978a.png)
![python_error1](https://user-images.githubusercontent.com/74652470/162146122-77bc0685-4b0e-43f6-9d9c-10d3ffc790f3.png)
![python_error3](https://user-images.githubusercont

[2022-04-07 18:51] ngupta23 commented on #2381
I think you have many libraries already installed on the environment that you are on. Some of them may be interfering with the installation of `pycaret`. Can you try creating a clean python environment and install `pycaret` using pip?

[2022-04-07 18:52] ngupta23 commented on #2380
In `setup`, you can specify the data types if the autodetection is not per your liking. Have you tried it?

[2022-04-07 19:52] rajatscibi commented on #2381
ok Nikhil, I'll try it and get back to you.

Thanks for your input.

[2022-04-07 20:09] SebastianBelmonte95 commented on #2381
I've tried installing on a clean environment and i'm getting a similar error.
![image](https://user-images.githubusercontent.com/76168625/162287470-9912fbf6-525e-4c5f-a3e3-7a80f28e3ec7.png)

[2022-04-07 20:32] rajatscibi commented on #2381
I got these replies from **_numpy_** and **_scikit-learn_** communities:

**_Numpy:_** "Since [pycaret requires](https://github.com/pycaret/pycaret/blob/master/requirements.txt#L2) scipy < 1.5.4, I would strongly recommend you use python3.9 or less since there are precompiled binary wheels for that combination. If you use python3.10 you must compile from source, which is not easy."

**_scikit-lear

[2022-04-07 22:05] ngupta23 commented on #2381
Yes, python 3.10 is not supported. Try 3.8 to be on the safe side.

The supported python versions should be available on GitHub and on the pypi page.

[2022-04-07 22:06] ngupta23 commented on #2381
The 3.0.0 release of pycaret will short python 3.9 (but still not 3.10).

[2022-04-07 23:35] vivi-scarpioni opened #2385 "[BUG] compare_models in regression Pycaret appear a empty dataframe in databricks"
**Describe the bug**
 I'm trying running the compare_models in regression module of Pycaret in databricks but return a empty dataframe. I already tried n_jobs =1 and html = False, but didn't work :(
**To Reproduce**

[code]

**Expected behavior**

**Additional context**

**Versions**
<details>

</details>

[2022-04-08 00:17] SebastianBelmonte95 commented on #2381
Aye, 3.8 Worked like a charm as long as it was a clean slate. Thank you guys!

[2022-04-08 00:32] abazrodrigo opened #2386 "[BUG] importing TimeSeriesExperiment, since last commit"
**Describe the bug**

when i install and then i try to import the last time series module i get this error:

ImportError                               Traceback (most recent call last)
[<ipython-input-1-acc0eadf9673>](https://localhost:8080/#) in <module>()
      1 get_ipython().system('pip install pycaret-ts-alpha')
----> 2 from pycaret.internal.pycaret_experiment import TimeSeriesExperiment

Imp

[2022-04-08 09:38] ngupta23 commented on #2386
Please try this instead. We renamed the experiment class recently to make it extensible to more time-series tasks in the future.

[code]

[2022-04-08 09:40] #2381 closed

[2022-04-08 10:09] ngupta23 commented on #2369
## Proposed Solution

Since we will enforce imputation when data has missing values (and this is the first step in the transformations for X and y), should the metrics always be with reference to the imputed dataset?

If we use the imputed values to compute metrics, this issue will be resolved.

### Drawback

- Imputed values are not the actual values, hence metrics will be affected by the quality

[2022-04-08 11:09] ngupta23 commented on #2202
# Proposed Changes to interface

## Additions to `setup`

Introduce 2 new arguments to setup - `alpha` and `coverage`.

[code]

### References:

- [sktime - predict_quantile](https://github.com/alan-turing-institute/sktime/blob/8daa3510224cf7aa6526ee9c7233c1fe57781eff/sktime/forecasting/base/_base.py#L291-L342)
- [sktime - predict_interval](https://github.com/alan-turing-institute/sktime/blob/8daa

[2022-04-08 23:19] ngupta23 commented on #2386
Note to self: Add back call from `TimeSeriesExperiment` to `TSForecastingExperiment` until deprecation. This must have been removed accidently.

[2022-04-08 23:21] ngupta23 opened #2388 "[BUG] Time Series with missing indices"
**Describe the bug**
Missing data checks are done now and error issues if imputation is not enabled. But data can also have missing indices. This check needs to be added to pycaret.

**To Reproduce**
https://gist.github.com/ngupta23/984dcdcf6ce7b3b45047396e20102cca

**Expected behavior**
Add the check for missing index values and raise error appropriately.

**Versions**
March, 2022 release of time

[2022-04-09 01:04] ngupta23 commented on #2263
This is what the error message looks like in the implementation

![image](https://user-images.githubusercontent.com/33585645/162550496-1dc1d1da-1540-489f-ba8c-12cef2eac3d8.png)

[2022-04-09 11:23] ngupta23 opened #2390 "[BUG] Adding Custom Metrics to Time Series"
**Describe the bug**
While removal of metrics works for time series data, addition of metrics is not working anymore.

**To Reproduce**
https://gist.github.com/ngupta23/3424663805aab4198d8491672b6c6c75

**Expected behavior**
The addition of custom metrics should work.

**Versions**
March release of time series

[2022-04-09 12:16] ngupta23 commented on #2390
Related to #1900 where it was working.

[2022-04-09 13:38] ngupta23 commented on #2379
Can you reduce this to the single time series that is causing the problem (minimal reproducible example)? Also, limit the code to the exact step that is producing this error. This will help anyone who is debugging this. See details below.

https://stackoverflow.com/help/minimal-reproducible-example

[2022-04-09 14:15] ngupta23 commented on #2368
Use `data_kwargs = {"labels": ["baseline", "tuned", "finalized"]}` instead

[2022-04-09 14:26] ngupta23 commented on #2364
# Options:
[code]

# Final Agreement

[code]

[2022-04-09 15:10] ngupta23 commented on #2359
If anyone from the community wants to pick this up, please get in touch with @Yard1 for guidance.

[2022-04-09 16:21] ngupta23 commented on #1766
Hi @AJarman

I discussed this with @moezali1 and @Yard1 in the meeting on 20220409 and this is the recommendation. We should add an argument to setup called `forecast_limit: Optional[List[Union[int, float]] = None`. By default, no limits are applied (same as today's functionality). If user wants to set limits, they can do it as follows:

[code]

## Coding Actions:
- Inside `setup`, there will have