[2022-07-01 06:33] ngupta23 commented on #2651
You can probably get that from `get_config("X")`. This gives the original values for X before the transformation. Will that not work?

[2022-07-01 06:36] ngupta23 commented on #2617
I think there was some work on this earlier (https://github.com/pycaret/pycaret/issues/1909), but it has not been formalized into a utility. You can still do it manually as shown here: https://gist.github.com/ngupta23/86cc7cc3221693e71a45b6a4431be104. Will this help?

[2022-07-01 07:18] jnsflt opened #2693 "[ENH]: Possibility of changing the order of the pipeline along with custom_pipeline in setup."
### Describe the feature you want to add to this project

I have a custom_pipeline with some feature engineering steps in my model. Although, I also want to use PyCaret's built in "feature_selection" step. However, I don't want feature_selection to happen before my custom feature engineering steps, since it can remove features that would not be removed if feature engineering would be done first.

[2022-07-01 07:24] AmandaAll commented on #2688
That seems to work, also to set low_variance_threshold to 0.01. However, there will be a possibility that not only perfect duplicates or constant features are removed but also those with somewhat difference.

I also saw in the documentation below that default for low_variance_threshold is said to be set to 0 (and should remove the features with the same value in all samples). This is not true now,

[2022-07-01 08:42] ngupta23 opened #2694 "[ENH]: Enhancements for `plotly-resampler`"
### Describe the feature you want to add to this project

- Add unit tests for plotly resampler per #2671
- Do we need `big_data_threshold` now, or should large dataset switch to using the resampler automatically instead of a static renderer? (static rendering was a hacky workaround for large datasets, it seems that the resampler would be a better alternative).

### Describe your proposed solution

[2022-07-01 08:50] AmandaAll commented on #2688
Can agree with you on the first part, yes.

Regarding default variance of 0. If all values are the same for a feature, it is true that it is wanted be removed. However, this is not the case for now. As seen in exp_var, no feature has been removed even though both StoreID and DiscCH contains only the value 10.

[2022-07-01 09:02] celestinoxp commented on #2638
@ngupta23 No. i make mistake because i follow docs of https://pycaret.readthedocs.io/en/latest/api/classification.html (from pycaret 2.3.x) instead read source code of pycaret 3.x.

ReadDocs (latest vesrsion) should be updated for new version 3.x.

[2022-07-01 09:03] #2638 closed

[2022-07-01 09:04] #2634 closed

[2022-07-01 09:09] ngupta23 commented on #2688
Can you check with a value of 0.01 instead of 0? It may also be a numerical issue.

[2022-07-01 09:11] ngupta23 commented on #2638
Yes, this will be done when the RC tag is lifted from pycaret 3.0 (@moezali1 FYI...)

[2022-07-01 09:15] ngupta23 opened #2695 "[DOC]: Update documentation for pycaret 3.0.0"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.readthedocs.io/en/latest/index.html

### Documentation problem

- [x] Currently points to 2.3.10 documentation. Needs to be updated for 3.0.0
- [x] Remove the `time_series` branch documentation s

[2022-07-01 09:19] ngupta23 commented on #2469
@StatsAI We will close this for now due to missing information. Feel free to provide a reproducible example and reopen this issue. Thanks!

[2022-07-01 09:19] #2469 closed

[2022-07-01 09:40] AmandaAll commented on #2688
Yes, seems to be!

[2022-07-01 10:22] jonasvdd commented on #2694
1. At a first-glance, I would add a `display-format` test-matrix in the `test_time_series_plots.py`; however, there are some caveats, <br> when for-example `show_dash` is internally called (by setting `display_format` to `plotly-dash` it will block when we not reside within an ipython environment (so you would need to start up the `plot_model` method in a thread.
2. I think big-data threshold -> r

[2022-07-01 10:56] AnthonyA1223 opened #2696 "[ENH]: Add Pydantic input and output models to create_api function"
### Describe the feature you want to add to this project

The current create API works fine but it uses query parameters instead of a post json body and it's lacking some FastAPI staples like pydantic input and output models.
I know the [create_webservice](https://github.com/pycaret/pycaret/commit/0da35e9596c2c531307fb449f1bcbe5356af0fb1) function used pydantic models but didn't support output mod

[2022-07-01 11:57] AmandaAll commented on #2688
I just did an extra check with exp_col.get_config('X_train') . It seems like it is not the columns with perfect correlation that are the ones removed when the threshold is set to 0.99. Both 'StoreID' and 'DiscCH' are kept in the transformed dataset.

[2022-07-01 12:33] moezali1 commented on #2696
@AnthonyA1223 Would you like to work on this issue? Happy to accept a PR on `develop` branch.

[2022-07-01 12:34] moezali1 commented on #2684
@okikosuke Please update your version. This issue has been fixed long time ago. You are using old version.

[2022-07-01 12:34] #2684 closed, assigned to nobody

[2022-07-01 12:36] AnthonyA1223 commented on #2696
@moezali1 Sure! no problem

[2022-07-01 12:37] ngupta23 commented on #2688
You should look at `X_train_transformed` not `X_train`

[2022-07-01 15:25] tvdboom commented on #2693
@jnsflt Thanks for the ideas. The alternative idea is not feasible since Python doesn't take parameter order into account. I like the idea of being able to specify the position exactly but having to state all the names is long and tedious work. How about making it a `int` parameter specifying the position of the custom steps in the pipeline? It could default to -1 to append it last, but you could

[2022-07-03 07:24] jnsflt commented on #2693
Do you mean as a new parameter in setup? So for example `exp.setup(..., custom_pipeline=custom_pipeline, custom_position=2, ...)`. Making the custom pipeline happen after the first and the second step in the pipeline?

Yes that may be more efficient and would solve my problem. But could it be that you want 2 of your custom pipeline steps to run before feature_selection and a third step that run la

[2022-07-03 12:26] tvdboom commented on #2693
That would make it a bit too complicated imo. I'll implement first the `custom_position` option and if a user needs the extra capabilities, he can always open a new issue on GitHub

[2022-07-04 02:23] epsilon-deltta opened #2702 "[ENH]: Option to set the mark color in compare_models()"
### Describe the feature you want to add to this project

TIC

### Describe your proposed solution

![image](https://user-images.githubusercontent.com/45354219/177070437-c58a402b-67bd-41bb-9092-77711d7f891c.png)
In dark mode, i cant see well markable scores cuz of that yellow mark. Could u make the option to choose the mark color.
Or is there any solution?

### Describe alternatives you've conside

[2022-07-04 04:39] chrimaho opened #2703 "[ENH]: Support `verbose` in `.choose_better()`"
### Describe the feature you want to add to this project

This line is causing issues when I run experiments:

https://github.com/pycaret/pycaret/blob/98cbf9451f1c20cc701b406f0b9b72d21f4ec2a6/pycaret/internal/pycaret_experiment/supervised_experiment.py#L208

That's because there is no option within the method parameters to declare `verbose`:

https://github.com/pycaret/pycaret/blob/98cbf9451f1c20c

[2022-07-04 06:07] jnsflt commented on #2693
Understandable. Thank you!

[2022-07-04 17:20] Yard1 commented on #2703
Hey @chrimaho, thanks for your suggestion. Would you be interested in submitting a PR yourself? Happy to give you any guidance you may require.

[2022-07-04 19:00] #2618 closed

[2022-07-04 19:00] #2648 closed

[2022-07-04 19:36] #2650 closed

[2022-07-04 19:37] #2646 closed

[2022-07-04 20:34] #2523 closed

[2022-07-04 23:18] chrimaho commented on #2703
Hi @Yard1, yup sure thing. Leave it with me 👍

[2022-07-04 23:19] chrimaho commented on #2686
Hi @ngupta23, good suggestions, thanks! I'll work on the changes, and will submit the PR shortly.

[2022-07-05 07:55] AmandaAll commented on #2688
X_train_transformed does not seem to exists (as shown in the attached error message). Also, in the documentation in the link below, it gives the example:

    This will return X_train transformed dataset.
Maybe this should be changed if it is not true?

https://github.com/pycaret/pycaret/blob/12b488174f0b48b01a7ea83dde96bf910677590f/pycaret/classification/functional.py

<img width="693" alt="X_tra

[2022-07-05 09:30] DanieleBaranzini commented on #2702
same issue as @epsilon-deltta   : )  and color change option for the highlighted ones?

[2022-07-05 10:32] GDGauravDutta opened #2710 "[BUG]: Unable to use GPU for clustering"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-05 12:54] chicolucio opened #2711 "[BUG]: Pycaret 3 "group_features" not available in ClassificationExperiment"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-05 13:53] PabloJMoreno opened #2712 "[BUG]: `get_outliers` and `get_clusters` functions missing at PyCaret 3.0-rc"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-05 19:30] danybonfil opened #2713 "Pycaret and Dash Plotly Integration [ENH]:"
### Describe the feature you want to add to this project

I have only found an integration between Pycaret and Streamlite.
It would be great to be able to use the powerful and ease-made graphs into a Dash web app...
Hope you can reconsider or provide guidelines.... Great job and tx!

### Describe your proposed solution

Integrate Pycaret with Dash Plotly

### Describe alternatives you've considere

[2022-07-05 19:56] rezaghaffari opened #2714 "[DOC]: Time series tutorial link is broken"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

[Time Series Forecasting - Level Beginne](https://pycaret.gitbook.io/docs/get-started/tutorials)

### Documentation problem

The link to "Time Series Forecasting - Level Beginner" notebook is dead

### Suggested

[2022-07-05 23:47] psxpa3 opened #2716 "[INSTALL]:"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

macOS-10.16-x86_64-i386-64bit

### Installation Method

conda install

### pycaret Version

3.0.0

### Python Version

3.8.13

### Description

Hello, I am trying to use TimeSeries module. Got to know that {`pip install pycaret-ts-alpha`} has to be used. Whil

[2022-07-06 03:03] kilickursat commented on #2617
Thank you!!, it would be helpful.

[2022-07-06 06:58] #2703 closed

[2022-07-06 07:48] cespos opened #2717 "[BUG]: finalize_model() does not train the model on the entire dataset if test_data is used in the setup"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-06 08:07] jnsflt opened #2718 "[BUG]: System_log = False not possible in Setup"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-06 08:28] joseazdir opened #2719 "[DOC]: adding model parameters outside pycaret setup function"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/get-started/quickstart#setup-6

### Documentation problem

To my understanding, when creating a model, you can insert any other parameter related to the needed model not available

[2022-07-06 08:31] psxpa3 opened #2720 "[INSTALL]: Installing time series module"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

macOS-10.16-x86_64-i386-64bit

### Installation Method

conda install

### pycaret Version

3.0.0

### Python Version

3.8.13

### Description

Hello,  I have one entire day in installing this library. Through this command {!pip install pycaret-ts-alpha}, I g

[2022-07-06 08:42] ngupta23 commented on #2720
We have merged time series with the other modules now. Can you try installing the following.

`pip install -U --pre pycaret`

[2022-07-06 10:40] #2687 closed, assigned to tvdboom

[2022-07-06 10:41] tvdboom commented on #2693
This issue will be solved when https://github.com/pycaret/pycaret/pull/2722 merges

[2022-07-06 10:41] #2693 closed

[2022-07-06 12:13] tvdboom commented on #2688
Hi. I finally had time to have a look at this.

About low variance: This was indeed a bug. It is fixed in #2722, thanks for pointing it out.

About multicollinearity. You forgot to use the `remove_multicollinearity` parameter to indicate that you want to use this transformation, see:
https://github.com/pycaret/pycaret/blob/98cbf9451f1c20cc701b406f0b9b72d21f4ec2a6/pycaret/classification/oop.py#L361

[2022-07-06 12:46] cespos opened #2723 "[ENH]: AUC for SVM Classifier"
### Describe the feature you want to add to this project

Hi,
For SVM classifiers, PyCaret returns an AUC value of 0.0000.
For models that do not return "true" probabilities, would it be possible to return an AUC calculated on the predicted labels?

Thanks,
Carmen

### Describe your proposed solution

`if hasattr(best_model, 'predict_proba'):`
`    metrics.roc_auc_score(y_true, best_model.predict_

[2022-07-06 16:03] #2723 closed

[2022-07-06 17:54] psxpa3 commented on #2720
Thanks @ngupta23 for the reply. Now I am getting error w.r.t logging. I have created a fresh conda environment, and doing the following steps:
1) pip install -U --pre pycaret -- went fine
2) from pycaret.utils import version
version() -- gives '3.0.0.rc2'
3) When I do {from pycaret.time_series import TS}, get the following error
"""
System:
    python: 3.8.13 (default, Mar 28 2022, 06:16:26)  [Cla

[2022-07-06 19:32] tvdboom commented on #2718
this issue has already been fixed in pycaret 3.0. Install the pre-release to avoid it.

[2022-07-06 19:32] #2718 closed

[2022-07-06 22:36] chrimaho commented on #2703
Thanks! 😊

[2022-07-06 23:12] ngupta23 commented on #2720
`show_versions` has an issue in rc2 which will be fixed in the next release. Rest should work though.

[2022-07-07 05:08] jnsflt commented on #2718
I am using pycaret 3.0.0rc2?

[2022-07-07 14:48] #1756 closed, assigned to Yard1, tvdboom, ngupta23, moezali1, wkuopt

[2022-07-07 17:53] atwahsz commented on #2681
plot_model

[2022-07-08 03:31] ngupta23 commented on #2681
I meant regression, classification, etc?

[2022-07-08 03:35] zmatrix24 opened #2728 "[DOC]: Sample notebook could not be loaded in github"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Intermediate%20-%20CLF102.ipynb

### Documentation problem

The page won't load for the tutorial notebook.
I

[2022-07-08 03:59] jkcdc opened #2729 "[BUG]: high_cardinality_feature param failed in regression setup()"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-08 07:21] tvdboom commented on #2729
The `high_cardinality_features` parameter has been deprecated in pycaret 3.0. Use the new encoding options to handle high cardinality features:

https://github.com/pycaret/pycaret/blob/98cbf9451f1c20cc701b406f0b9b72d21f4ec2a6/pycaret/regression/functional.py#L237-L247

[2022-07-08 09:37] thinkinds opened #2731 "[DOC]: Request: Optuna custom grid example"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.readthedocs.io/en/latest/api/regression.html

### Documentation problem

when using Optuna in tune_model, how should I define a customized search space? I tried many times, but all failed, so ple

[2022-07-08 09:55] ngupta23 commented on #2728
It is an issue with GitHub. It fails to render notebooks sometimes. Can you open the notebook link in nbviewer?

[2022-07-08 11:37] brusand opened #2732 "[INSTALL]: import not found"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-08 12:17] joseazdir opened #2734 "[BUG]: initial_score / baseline are not passed to model"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-08 17:07] cespos commented on #2717
It seems like it is working in the development branch.
Do you know already when the new version will be released?
![image](https://user-images.githubusercontent.com/31316943/178038319-ebc1a35e-42a0-4843-9a1e-5f76239c922b.png)

[2022-07-08 18:43] tvdboom commented on #2717
We don't have an exact date yet. Updates are a bit slow now because of holidays, but we are aiming to make a release before the end of the summer.

[2022-07-08 20:07] #2717 closed

[2022-07-08 20:08] #2729 closed

[2022-07-09 10:29] tvdboom commented on #2711
The `group_features` transformation was not yet available in v3.0. I have added it to #2722. It will be available with next release.

[2022-07-10 00:26] erickp1 commented on #2731
No estaría de más agregar ejemplos en la documentación.
![Uploading IMG_20220709_201549.jpg…]()

[2022-07-10 07:26] #2728 closed

[2022-07-10 07:28] ngupta23 commented on #2716
@psxpa3 Is this a duplicate of https://github.com/pycaret/pycaret/issues/2720?

[2022-07-10 07:45] ngupta23 commented on #2519
@debdarsan The rc release is now done. You can install it using

```pip install -U --pre pycaret`

[2022-07-10 13:52] saravana325da opened #2737 "[DOC]:"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://[pycaret.gitbook.io](https://pycaret.gitbook.io/docs/learn-pycaret/official-blog/anomaly-detector-in-power-bi-using-pycaret)/docs/learn-pycaret/official-blog/anomaly-detector-in-power-bi-using-pycaret
![

[2022-07-10 16:04] erickp1 commented on #2731
from pycaret.distributions import UniformDistribution, DiscreteUniformDistribution, CategoricalDistribution, IntUniformDistribution

params_lightgbm = {
    "max_depth" : IntUniformDistribution(4, 6, 1),
   "learning_rate" : UniformDistribution(0.05, 0.2, 1),
}

tuned_lightgbm = tune_model(lightgbm, custom_grid=params_lightgbm, optimize="rmse",
                             search_library="optuna",

[2022-07-10 17:18] MohammadSoltani100 opened #2738 "[BUG]: [BUG]: tune_sklearn not working"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-11 12:50] #2711 closed

[2022-07-11 13:50] debdarsan commented on #2519
Many thanks, Nikhil!

Is the issue I raised resolved?

[2022-07-11 14:09] jnsflt opened #2739 "[BUG]: remove_multicollinearity and low_variance_threshold does not work simultaneously"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-11 14:21] 13247767713 commented on #1633
Have you solved this problem？

[2022-07-11 15:13] msdumanlc opened #2740 "[DOC]: PyCaret - QuickStart - Issues"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/get-started/quickstart

### Documentation problem

Downloaded and installed the Docker version from the installation page.  I am on windows 10 pro.  Running through the Quickstart

[2022-07-11 18:08] isaiahxcruz commented on #2691
It fixed everything.

[2022-07-11 19:20] snamjoshi1 opened #2741 "[BUG]: Getting cannot import name '_boxcox_conf_interval' from 'scipy.stats.morestats' during set up for timeseries"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-12 00:14] zmatrix24 commented on #2728
Thanks @ngupta23!
I can see it from the link you provided.
I clicked download from there, it took a while, but I was able to get the raw content and paste it as ipynb file locally. Thanks!

[2022-07-12 03:40] #2502 closed

[2022-07-12 04:47] ngupta23 commented on #2741
We have released a fully integrated version of time series (with other modules) now (hence pycaret-ts-alpha is deprecated). Can you try with it to see if the issue persists with the latest version.

`pip install -U --pre pycaret`

[2022-07-12 07:21] tvdboom commented on #2739
Hi. This bug has been solved in `develop`. Install it using `pip install -U git+https://github.com/pycaret/pycaret.git@develop` and run it there or wait until the next release.

[2022-07-12 07:22] jnsflt commented on #2739
Great, thank you! :)

[2022-07-12 07:23] #2739 closed

[2022-07-12 07:24] jnsflt commented on #2739
Any updates when next release candidate is coming? @tvdboom

[2022-07-12 08:44] AmandaAll opened #2743 "[BUG]: choose_better = True in stack_models gives error"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the develop branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@d

[2022-07-12 11:09] Yard1 commented on #2743
Thanks, fixed in a5d05de9a2ef8086b543a26a6146f49d0cf29fff

[2022-07-12 11:09] #2743 closed

[2022-07-12 11:10] Yard1 commented on #2738
What is the tune-sklearn version you have installed?

[2022-07-12 11:11] Yard1 commented on #2734
Can you show how this would work without pycaret?

We are passing the kwargs as is to the model, so I am not sure why this wouldn't work.

[2022-07-12 11:12] Yard1 commented on #2732
Try to restart the kernel after installing

[2022-07-12 11:12] Yard1 commented on #2712
This is intended. `get_clusters` has been deprecated and is superseded by running `setup` and then `create_model`.

[2022-07-12 11:13] Yard1 commented on #2710
We do not have any GPU support for clustering or anomaly detection right now.

[2022-07-12 11:19] joseazdir commented on #2734
When we use pycaret with xgboost or lightgbm we get the very same scores to the last decimal point. That is not possible. Scores should be affected somehow so we guess that the baseline is not passed (or any other issue)

here an example using catboost outside pycaret.

[code]

We get metrics and then compare using baseline:

[code]

You will notice there is differences in metrics as we expected.

[2022-07-12 11:29] Yard1 commented on #2734
How big of a difference are we talking about? PyCaret rounds the scores, so possibly that is the reason?

[2022-07-12 11:33] joseazdir commented on #2734
Xgboost metrics with no baseline
![image](https://user-images.githubusercontent.com/106954470/178480571-3bda4ed9-f248-4ea1-bbe1-84c496c09d62.png)

Xgboost metrics with baseline score
![image](https://user-images.githubusercontent.com/106954470/178480681-a8b5434f-e9ff-4c07-90b4-bbee8b849ffc.png)

[2022-07-12 11:35] Yard1 commented on #2734
I can confirm that the argument is indeed being passed to the model. You can even see that if you do `print(model)` after creating the model with arguments. I do not believe this is an issue with PyCaret, based on that.

[2022-07-12 11:37] joseazdir commented on #2734
ok thanks for double checking.
In addition to that is there any way of passing these parameter to catboost? (as Pool seems not to be directly accessed from pycaret)

[2022-07-12 11:38] Yard1 commented on #2734
Reading xgboost documentation I believe that you are supposed to use `base_margin` as a fit argument, not a model init argument. Indeed, this changes the metrics:
[code]

[2022-07-12 11:43] joseazdir commented on #2734
so any parameter outside setup should be pased this way as **fit_kwargs** ? I am thinking on monotonic constraints or Pool catboost parameters

[2022-07-12 11:44] AmandaAll opened #2744 "[ENH]: Add parameter choose_better for calibrate_model()"
### Describe the feature you want to add to this project

Adding the parameter "choose_better", also for the calibrate_model function.

### Describe your proposed solution

Setting choose_better = True can ensure that the model returned is the best one of the original model and the calibrated model according to certain metrics.

As for tuning, ensamble, stacking ect., an optimize parameter could b

[2022-07-12 11:45] Yard1 commented on #2734
Looking at catboost code, you would pass the `baseline` argument in `fit_kwargs`.

To summarize - `create_model` kwargs are passed to model initialization, `fit_kwargs` are passed to model `fit()` method. You need to set `fit_kwargs` on every function each time (so eg. on both `create_model` and `tune_model`).

[2022-07-12 11:47] joseazdir commented on #2734
that's good to know! thanks Yard1 !

[2022-07-12 12:00] GDGauravDutta commented on #2710
Documentation says differently
![Screenshot_20220712-172934.jpg](https://user-images.githubusercontent.com/62606251/178485099-99138a1e-288d-43bc-bd8b-530f2554692b.jpg)

[2022-07-12 12:47] tvdboom commented on #2739
rc3 has just been released: https://pypi.org/project/pycaret/3.0.0rc3/

[2022-07-12 12:55] Yard1 commented on #2710
I'll double check, thanks

[2022-07-12 12:56] #2734 closed, assigned to nobody

[2022-07-12 14:03] jnsflt commented on #2739
Glad to hear! Will upgrade immediately. Great work!

[2022-07-12 18:51] ShreySrivas commented on #2737
The link seems to be working on my end. Try disabling your browser's firewall extensions/ ad-blockers to see if it works.

[2022-07-12 18:59] msdumanlc opened #2746 "[ENH]: Pull data from ODBC on Quickstart page; PyODBC?"
### Describe the feature you want to add to this project

Need an example to pull data from Windows ODBC.  For example pull via Excel and/or SQL Server sources?  I seem to have a different version of Python than PyCaret and do NOT want to corrupt my version so, would be great if it worked on a Docker container?  Maybe show it in Quickstart page?  Use PyODBC?

### Describe your proposed solution

H

[2022-07-12 19:46] ShreySrivas opened #2747 "[INSTALL]: ImportError for 'Jinja2' when importing pycaret.classification"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-13 03:53] ngupta23 commented on #2747
Did you restart the kernel after installing? If you do not do that, it might be causing the issue.

[2022-07-13 04:53] ShreySrivas commented on #2747
Thank you for replying. I did restart the kernel but the problem still persists.

[2022-07-13 08:59] jnsflt opened #2748 "[BUG]: RC3: Setup getting stuck at preprocessing pipeline"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-13 09:33] jnsflt commented on #2748
It turns out that it will continue eventually, but can take a really long time. I narrowed the dataset down to (4460,11) and setup took 2m31s to finish. Perhaps some efficiancy issues?

[2022-07-13 09:42] jnsflt commented on #2748
When I wait it out on my full dataset (4460,906) I get this error message:

    self.pipeline.fit(self.X_train, self.y_train)
  File ".../lib/python3.8/site-packages/pycaret/internal/pipeline.py", line 158, in fit
    _fit_one(self._final_estimator, X, y, **fit_params_last_step)
  File ".../lib/python3.8/site-packages/pycaret/internal/pipeline.py", line 36, in _fit_one
    transformer.fit(*args, *

[2022-07-13 09:44] Yard1 commented on #2748
Can you share your setup code and full logs.log file?

[2022-07-13 09:56] jnsflt commented on #2748
[logs.log](https://github.com/pycaret/pycaret/files/9101026/logs.log)

Here is the log file. Will try share the setup code later!

[2022-07-13 10:00] tvdboom commented on #2748
The problem is caused by the `low_variance_threshold` step in preprocessing. Setting it equal to `None` should solve it. The reason this causes memory issues is probably due to the large number of NaNs you have. It seems like a sklearn bug tbh. As you can see in your error output, the code in https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html is tryi

[2022-07-13 10:30] joseazdir commented on #2734
sadly, fit_kwargs is not working for any parameter you use in xgboost:
`TypeError: fit() got an unexpected keyword argument 'monotonic_constraints'`

[2022-07-13 11:10] jnsflt commented on #2748
Sorry to bother you again, just mentioning that the same issue occurs when setting `remove_multicollinearity = True`

...
  File ".../lib/python3.8/site-packages/pycaret/classification/oop.py", line 850, in setup
    self.pipeline.fit(self.X_train, self.y_train)
  File ".../lib/python3.8/site-packages/pycaret/internal/pipeline.py", line 158, in fit
    _fit_one(self._final_estimator, X, y, **fit_p

[2022-07-13 11:53] tvdboom commented on #2748
Uhmm, that's weird. I would like to debug this but I cant' reproduce the error. How many of your values are `NaN`? run `df.isna().sum().sum() / df.size`. How large is the dataset? run `df.memory_usage()`.

[2022-07-13 14:08] #2712 closed

[2022-07-13 15:05] jnsflt commented on #2748
I have to debug it further. I will return if I have something to send you. Thanks for taking the time!

[2022-07-13 15:19] Yard1 commented on #2734
Please make sure that you are passing the parameters correctly as described in XGBoost documentation

[2022-07-14 07:49] jnsflt commented on #2748
Hi, some updates:

I located the remove_multicollinearity down to one specific column which looks like this:
![image](https://user-images.githubusercontent.com/107557528/178929772-d85e034b-e9c5-41ed-8e1e-ac80c280fb57.png)

If I drop this column, remove_multicollinearity will work. Otherwise I get the allocation of 200 GB error as before.

It seems like a very specific bug, which did not occur in 3

[2022-07-14 09:11] AmandaAll opened #2750 "[ENH]: Add possibility for rare encoding"
### Describe the feature you want to add to this project

The possibility to do encoding of rare values, grouping them to one single category for example "other" or "rare".

### Describe your proposed solution

In setup, the parameter encoding_method only allows encoding methods in category_encoders objects. I cannot find this library to include rare label encoding.

Could rare label encoding be a

[2022-07-14 18:44] msdumanlc opened #2753 "[DOC]: Tutorials missing - The notebook took too long to render or 404"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/get-started/tutorials

### Documentation problem

From the tutorial web page click on link for **Binary Classification -Level Intermediate**, and/or **Time Series Forecasting - Le

[2022-07-14 20:33] celestinoxp opened #2754 "[ENH]: sktime is 0.13.0 version!"
### Describe the feature you want to add to this project

sktime have new version with a lot of fixes...

### Describe your proposed solution

should update to make pycaret better...

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

latest changes and bugs fixed
https://github.com/alan-turing-institute/sktime/commits/main

[2022-07-15 06:57] joseazdir commented on #2734
from the documentation for xgboost here https://xgboost.readthedocs.io/en/stable/tutorials/monotonic.html
`
monotone_constraints = (1,-1)   # a tuple of values`

[2022-07-15 09:07] john6214058 opened #2755 "[ENH]: suggest add function for difference Feature combination in setup"
### Describe the feature you want to add to this project

Suggestion:
Pls study if can add different Feature combination in setup.

Reason: Normally it is very difficult to decide if put some feature in machine learning modeling, and need do some comparison between different feature combination base on modeling result.

### Describe your proposed solution

we have a data which contain 5 feature co

[2022-07-15 10:34] nityanantan23 commented on #2747
you can try this  `!pip install --pre pycaret`

[2022-07-15 10:38] sorenwacker opened #2756 "[DOC]: Cannot install pycaret 3 with command displayed on web-page"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/

### Documentation problem

PyCaret 3.0-rc is now available. `pip install --pre pycaret` to try it. Check out this example [Notebook](https://colab.research.google.com/drive/1_H0

[2022-07-15 10:54] nityanantan23 opened #2757 "[BUG]: create_app not removing one-hot codded columns"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-15 18:31] tvdboom commented on #2750
Yes, I was planning to implement something like this in the near future. I'll keep you updated here.

[2022-07-17 06:08] HighPerformance01 opened #2763 "[ENH]: class weight or sample weight for compare_models"
### Describe the feature you want to add to this project

When using compare_models instead of create_model. Is it still possible to use class weight or sample weight or this feature is not available?

### Describe your proposed solution

fix training balance WITHOUT resampling (using class weight or sample weight) and WITH compare_models WITHOUT
 create_model

### Describe alternatives you've con

[2022-07-17 12:02] #2696 closed

[2022-07-17 22:30] jmrichardson opened #2764 "[BUG]: Unable to use customer CV fold_strategy"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-18 06:56] AmandaAll opened #2765 "[BUG]: Combination of PCA and remove_multicollinearity is causing error"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-18 08:34] ngupta23 commented on #2747
Yes, please try this. This is the latest version that will be released shortly.

[2022-07-18 14:15] celestinoxp opened #2769 "[BUG]: AttributeError: 'CatBoostClassifier' object has no attribute 'steps'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-18 16:19] gfragi opened #2770 "[BUG]: You must pass a freq argument as current index has none"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [x] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-18 16:45] ngupta23 opened #2771 "[BUG] Why is the inverse transformation of the target not applied?"
### Discussed in https://github.com/pycaret/pycaret/discussions/2706

<div type='discussions-op-text'>

<sup>Originally posted by **acartro** July  4, 2022</sup>
Good morning,

I am doing a time series experiment with the new 3.0 library. I have found that when I set the setup to do a logarithmic transformation of the target (transform_target='log') when making the forecasts, it applies the invers

[2022-07-18 16:45] ngupta23 commented on #2771
Also see: https://github.com/pycaret/pycaret/discussions/2724

[2022-07-18 17:29] jvdd commented on #2694
Hi,

To further comment on the enhancements;

I recall that you (@ngupta23) had some remarks w.r.t. the rendering of plotly-resampler figures in the notebook output (when the notebook is not connected to a kernel) - #2671 .

We (@jonasvdd & me) both agree that it would be nice to at least support some visualization of the figure when the kernel is not connected. Hence, PR (https://github.com/predi

[2022-07-18 18:14] ngupta23 commented on #2753
Thanks for pointing this out. The [time series link](https://github.com/pycaret/pycaret/blob/time_series/time_series_101.ipynb) that you are referring to is old. We will update this shortly. For now, you can refer to this location: https://github.com/pycaret/pycaret/tree/master/examples/time_series/forecasting

The [classification link](https://github.com/pycaret/pycaret/blob/master/tutorials/Bina

[2022-07-18 18:16] ngupta23 commented on #2716
Closing since this is a duplicate. Feel free to reopen if it is not.

[2022-07-18 18:16] #2716 closed

[2022-07-18 18:24] ngupta23 commented on #2732
You probably have a very old version of `pycaret-ts-alpha` which does not support this import. You should switch to the latest release (install this in a new environment) as you should not have any such issues there.

`pip install -U --pre pycaret`

I will close this issue for now, but feel free to reopen if the issue persists with the latest install.

[2022-07-18 18:24] #2732 closed

[2022-07-18 18:28] ngupta23 commented on #2720
rc3 was released recently. The issue should be fixed there so I will close this for now. Feel free to reopen if the issue exists.

[2022-07-18 18:28] #2720 closed

[2022-07-18 18:48] pepeto opened #2772 "[ENH]: interpret_model takes TOO long in big dataset (request auto sampling or parameter)"
### Describe the feature you want to add to this project

interret_model(model) takes too long in big datasets
I am using a 1 million record dataset and I can't see the result after a couple of hours.

### Describe your proposed solution

Having a parameter to indicate sampling='auto' or percentage
In this way, auto can autosample for a reasonable amount of data in order to finish the task in a ma

[2022-07-18 18:51] ngupta23 commented on #2694
Thanks @jvdd and @jonasvdd . This is great. When this is available in the pip release, we can update the version in pycaret!

[2022-07-18 19:39] celestinoxp commented on #2674
sktime is in 0.13.0 now with a lot of fixes
can you update this tests to sktime 0.13.0. we should focus here.

[2022-07-18 19:57] ngupta23 commented on #2674
Yes, it wont make sense to not support the latest version directly.

[2022-07-18 22:29] gfragi commented on #2770
Hi again,

I tried but no luck. Let me explain

After loading the dataset  I have set index to my column,

`df = df.set_index('dateTime')`

so the `df.info()` gives us at the moment

`Index: 146798 entries, 2020-03-01 14:23:23 to 2020-11-10 15:35:36`

![image](https://user-images.githubusercontent.com/9120111/179627681-ed191fc1-9ef2-4532-ad39-0520b8e9ee15.png)

but now I get a different error:
`
V

[2022-07-18 22:55] gfragi commented on #2770
I suppose the issue here is that the index dates are not continuous!!

[2022-07-19 04:40] moezali1 commented on #2772
Hi @pepeto. This is a good suggestion. Would you like to work on this functionality? Happy to accept PR.

[2022-07-19 04:51] moezali1 commented on #2744
Hi @AmandaAll Would you like to work on this issue? Happy to accept PR.

[2022-07-19 07:05] tvdboom commented on #2765
Hi. This issue is fixed in #2768. I refactored the parameter a bit to follow sklearn's API. To return all components, just leave the parameter to it's default value, which has changed from 1.0 to `None`. After the PR is merged, you can install directly from `master` to utilize this.

[2022-07-19 07:15] tvdboom commented on #2769
We can't fix the issue without code to reproduce it. If you have private data, please reproduce the error on a public dataset and share it here.

[2022-07-19 07:23] tvdboom commented on #2764
Hi. Thanks for pointing it out. The issue is fixed in #2768

[2022-07-19 12:58] gfragi commented on #2770
UPDATE: I checked to see whether my dates are continuous and cleared them if they are not. The error is still present.

`
ValueError: The index of your 'data' is of type '<class 'pandas.core.indexes.base.Index'>'. If the 'data' index is not of one of the following types: <class 'pandas.core.indexes.period.PeriodIndex'>, <class 'pandas.core.indexes.datetimes.DatetimeIndex'>, then 'seasonal_period'

[2022-07-19 14:37] ngupta23 commented on #2770
The issue is not about being continuous but rather being uniformly spaced. `pycaret` and `sktime` only work on uniformly spaced data. Can you resample the data to make it uniformly spaced? This might lead to missing data but missing values are ok, but you must have all index values (even if some have missing values).

[2022-07-19 15:13] celestinoxp opened #2778 "[ENH]: create useful features for machine learning"
### Describe the feature you want to add to this project

creatiom of useful features for machine learning is very important point to increase prediction accuracy.

My idea is work in something like Automated Feature Engineering. I know pycaret do something about this but can improve to work better?

Maybe a function to allow user to use more time and memory to search more features combinations? F

[2022-07-20 07:05] AmandaAll commented on #2744
Unfortunately, I will not be able to do so since we've come to the conclusion that this feature is not needed for our case.

[2022-07-20 09:28] u1353279 opened #2783 "[BUG]:"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-20 09:45] celestinoxp opened #2784 "[BUG]: Datetime extraction features drop time"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-20 11:55] celestinoxp commented on #2783
Can you give more information?
- python version
- more code lines before "setup"

[2022-07-20 12:05] ngupta23 commented on #2783
It just means that you have not imported setup before and are trying to use this function. Please import `setup` from the right location and then it should work.

[2022-07-20 14:15] #2750 closed

[2022-07-20 16:05] sorenwacker commented on #2756
Which Python version are you using?

[2022-07-20 16:34] ekdz opened #2786 "[ENH]: Remove multicollinearity using VIF technique"
### Describe the feature you want to add to this project

It would be great to enhance the multicollinearity removal feature with another technique using Variation Inflation Factor (VIF).
https://en.wikipedia.org/wiki/Variance_inflation_factor

### Describe your proposed solution

- Calculate VIF for all variables
- If VIF > 5, try to remove the variable with the highest VIF
- Calculate VIF for al

[2022-07-20 22:21] ngupta23 commented on #2756
Anything 3.9 and below should work.

[2022-07-22 13:55] isaiahxcruz opened #2789 "[BUG]: Regression Compare Models only returning LightGBM and Dummy"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-22 14:23] jnsflt opened #2790 "[BUG]: Prediction column named the same as target column if target == "Label""
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-22 17:59] #2765 closed

[2022-07-22 18:01] tvdboom commented on #2786
Is there somewhere a sklearn-like transformer that implements this in Python or should it be done from scratch?

[2022-07-22 19:43] MohammadSoltani100 commented on #2738
tune-sklearn 0.4.3

[2022-07-22 19:49] sorenwacker commented on #2756
Seems that was the issue. Probably, my other environment uses python 3.7 or 3.8.

[2022-07-22 19:49] #2756 closed

[2022-07-23 12:07] ngupta23 commented on #2741
@snamjoshi1 We will close this issue for now since we are not able to reproduce it. If the recommendation does not work for you, please feel free to reopen this issue. Thanks!

[2022-07-23 12:07] #2741 closed

[2022-07-23 12:08] ngupta23 commented on #2374
@Yard1 Are there any pending items here? Do we need to create a separate `release` branch which should be used for all API documentation (readthedocs)?

[2022-07-23 12:39] Yard1 commented on #2374
I think that is not necessary, we just need to make sure to configure RTD to use stable (latest non-prerelease tag) by default.

[2022-07-23 13:08] ngupta23 commented on #2374
Tracking documentation here: https://github.com/pycaret/pycaret/issues/2695

[2022-07-23 13:08] #2374 closed

[2022-07-23 13:41] PabloJMoreno opened #2791 "[BUG]: categorical column not at index when `create_app()` function is invoqued at PyCaret 3.x"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-24 03:01] BalasubramaniamDakshinamoorthi opened #2795 "[ENH]: Anomaly - need to include seasonality"
### Describe the feature you want to add to this project

I need Anomaly Detection needs to take into account of seasonality , currently there is no option - included for seasonality.

### Describe your proposed solution

Needs to include  categorical features for seasonality [flags] such quarterly , half yearly , weekly , monthly flags to indicate seasonal patterns and pass them to model for trai

[2022-07-24 03:07] ngupta23 commented on #2795
@BalasubramaniamDakshinamoorthi  Are you referring to the Anomaly Detection module or the time series module?

[2022-07-24 12:42] ngupta23 commented on #2771
@acartro This seems to be a bug in sktime. I have opened an issue in their repository and will wait for their response

https://github.com/alan-turing-institute/sktime/issues/3084

[2022-07-24 16:38] BalasubramaniamDakshinamoorthi commented on #2795
Anomaly Detection

[2022-07-24 16:38] BalasubramaniamDakshinamoorthi commented on #2795
@ngupta23 Anomaly Detection

[2022-07-24 16:39] BalasubramaniamDakshinamoorthi commented on #2795
@ngupta23 I need to predict Anomaly score but my data is seasonality based time series

[2022-07-24 19:32] AJ5PY opened #2796 "[BUG]: fix_imbalance=True hides metric output of compare_models."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-25 01:57] yglpyn8888 opened #2797 "[BUG]: models() still not work in pycaret version 2.3.10"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-25 01:59] yglpyn8888 commented on #2797
I can't install the Logging package, and I have correctly installed pycaret[full], but it doesn't include Logging.

[2022-07-25 12:01] tvdboom commented on #2796
Running your example for classification yields `ValueError: Stratified train/test split is not implemented for shuffle=False` since you can't mix stratification (True by default) with shuffling=False.
However, setting `data_split_shuffle=True` worked as expected, showing the ouput of compare_models. Can you share a reproducible example and tell us which module you are using? With data and working

[2022-07-25 12:03] tvdboom commented on #2784
The PR above adds a new parameter `create_date_columns` where the user can choose which features to extract from `date_features`. It will be available in `master` after the merge.

[2022-07-25 12:04] tvdboom commented on #2790
#2798 changes the name to `prediction_label`.

[2022-07-25 12:36] celestinoxp commented on #2784
Can convert example 2022-01-01 20:00:00
year: 2022
month: 01
day: 01
hour: 20
minutes: 00
seconds: 00

?

[2022-07-25 12:49] tvdboom commented on #2784
You have to select them yourself using create_date_columns=["year", "month", "day", "hours", "minutes", "seconds"]

[2022-07-25 14:53] #2674 closed

[2022-07-25 14:53] #2607 closed

[2022-07-25 14:53] #2754 closed

[2022-07-25 19:14] MindBack commented on #2377
cuML has sckit-learn dependency conflict with pycaret, cuML requires scikit-learn=0.24 while pycaret has scikit-learn==0.23.2, and the latest pycaret dependency is going to be scikit-learn>=1.0.

[2022-07-26 01:13] yglpyn8888 commented on #2797
solved

[2022-07-26 01:13] #2797 closed

[2022-07-26 08:30] nockn opened #2800 "[BUG]: Cannot specify bracketed column names in target at setup()"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-26 13:14] ngupta23 commented on #2797
It would be great if you can post a summary of how you solved it here as it would help others that face the same problem. Thanks!

[2022-07-26 14:37] DerekKane opened #2801 "[BUG]: pycaret + mlflow integration does not allow probabilities for classification and binary response models"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-26 20:00] #2784 closed

[2022-07-26 20:00] #2790 closed

[2022-07-26 22:30] celestinoxp opened #2803 "[BUG]: create_api errors!"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-26 22:48] celestinoxp commented on #2803
After edit file final_model_api.py and run notebook cell to run file, i receive new error: Traceback (most recent call last):
  File "C:\...\final_model_api.py", line 3, in <module>
    from pycaret.MLUsecase.CLASSIFICATION import load_model, predict_model
ModuleNotFoundError: No module named 'pycaret.MLUsecase'

[2022-07-27 09:38] moazkh60 commented on #165
![eval](https://user-images.githubusercontent.com/14291374/181215332-4a681c91-04d1-43a7-a419-cf56f8e6ebc5.PNG)
I am actually getting this but nothing else

[2022-07-27 09:42] moazkh60 opened #2804 "[BUG]: evaluate_model results don't show up in databricks"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-27 09:45] ngupta23 opened #2805 "[ENH]: Add support for python 3.10"
### Describe the feature you want to add to this project

Add support for python 3.10

### Describe your proposed solution

Add support for python 3.10 now that sktime supports this version of python,

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-07-27 10:53] AJ5PY commented on #2796
Hi,

Apologies. I should have mentioned that the dataset is time series. On the above code, I am only running my model on the training dataset (df_train). Therefore, data_split_shuffle=True seems to be bad practice. In this case, what am I supposed to do regarding stratification and shuffling? It doesn't make sense to me that an initial classifier (without imbalance fix) works just fine regardless

[2022-07-27 13:32] ngupta23 commented on #2795
Do you have only 1 time series and want to detect anomalies there?

[2022-07-27 16:46] BalasubramaniamDakshinamoorthi commented on #2795
yes - meaning 1 -one variable - measured during seasonal time period

[2022-07-27 16:46] BalasubramaniamDakshinamoorthi commented on #2795
time series

[2022-07-27 17:23] ngupta23 commented on #2795
We do not have a module for time series anomaly detection at this time. You can consider using sktime to build this manually for now. For example,

https://github.com/alan-turing-institute/sktime/pull/708

[2022-07-28 07:06] tvdboom commented on #2796
I am a bit confused here. Why are you using pycaret.classification with time series data? Is date one of your features? What are you trying to predict? Secondly, if you have a test set yourself, use the `test_data` parameter in setup. Else, pycaret is always going to split the data you provide into a train and test set because it needs a test set for evaluation

[2022-07-28 07:59] AJ5PY commented on #2796
Thanks for your response.

Classification seemed useful because the target (recessions) is quite rare. Therefore, it would be an imbalanced classification problem despite being time series data. I remove the actual date from economic data, but wish to keep the rows in order.

Thank you for the insight regarding `test_data`, I seem to have missed that out!

[2022-07-28 11:32] turkalpmd opened #2806 "[INSTALL]: !pip install error"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

!pip install pycaret[full]

### Installation Method

pip install

### pycaret Version

latest

### Python Version

python 3.10.4

### Description

I have already trying everything;
uninstall python
uninstall vscode
uninstall pycaret
uninstall everything and a

[2022-07-28 11:59] celestinoxp commented on #2806
pycaret 2.3.10 only supports python 3.8.x
if you want use pycaret 3.0 it supports python 3.9.x

pthon 3.10 will be supported in the future... but not now!

suggestion: creaate new clean environment

[2022-07-28 12:09] maulanaakbardj opened #2807 "[INSTALL]: pip install error because cannot uninstall 'llvmlite'"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Windows-10-10.0.19041-SP0

### Installation Method

pip install

### pycaret Version

latest

### Python Version

python 3.8.5

### Description

i did pip install pycaret on my conda environment and got error
`ERROR: Cannot uninstall 'llvmlite'. It is a distu

[2022-07-28 12:55] turkalpmd commented on #2806
Thank you

[2022-07-28 15:03] celestinoxp commented on #2803
@ngupta23 create_api maybe work on pycaret 2.3.x, however pycaret code as changed but create_api command needs changes too. Can you have a look on that?

[2022-07-28 17:25] tvdboom commented on #2796
I see. If the order of the rows matter I would not recommend using classification. The majority of the models don't take that into account. What do you think @ngupta23 ?

[2022-07-29 04:19] maulanaakbardj commented on #2807
Hi @ngupta23 , I tried what you suggest and still get the error

**PyCaret 3.0.0 Release Candidate**

`pip install --ignore-installed --pre pycaret`

ERROR: Could not build wheels for plotly-resampler, which is required to install pyproject.toml-based projects

**Error Installation Logs**

<details>
Collecting pycaret
  Downloading pycaret-3.0.0rc3-py3-none-any.whl (544 kB)
     ------------------

[2022-07-29 04:20] maulanaakbardj commented on #2807
**PyCaret 2.3.10**

`pip install --ignore-installed pycaret`

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\ProgramData\\Anaconda3\\Lib\\site-packages\\zmq\\backend\\cython\\context.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

**Error Installation Logs**

<details>

Collecting pycaret
  Using cached pycaret-2.3.10-py3-

[2022-07-29 08:58] celestinoxp commented on #2803
I tried to test the create_app command and it also doesn't work in pycaret 3. It doesn't assume the features that pycaret itself created, like the year, month, day extracted from date_time feature...

[2022-07-29 11:59] AJ5PY commented on #2796
I agree, but the target is binary (0 for no recession, 1 for yes). This means classification would be much better suited, especially when a class imbalance is clear.  Quite a tough spot, so any insight would be much appreciated!

[2022-07-29 15:49] tarmojuristo opened #2810 "[BUG]: clustering.setup does not accept 'iterative' in imputation_type"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-30 15:40] Rainman21 commented on #563
**Request for future updates** - allow an options dictionary to pass down from the external lib and at a minimum support a title **for all plot types**,

#Hack - will be overwritten if you update your local package

I was able to modify the plot title by importing the internal plot model
[code]

and using the available method's plot_kwargs argument,

[code]

BUT - it isn't observed in certain mode

[2022-07-30 19:47] TahaSha opened #2811 "[BUG]: mlflow incorrectly logging models "Lasso Least Angle Regression" and "Least Angle Regression""
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-07-31 18:04] ngupta23 commented on #2807
It looks like you have sine permission issues. Did you try adding the --user option?

[2022-07-31 18:05] ngupta23 commented on #2807
@jvdd @jonasvdd Do you know anything about this other error?

[2022-07-31 19:11] jonasvdd commented on #2807
Hi @maulanaakbardj @ngupta23.

Consider using the --user option or check the permissions.

It seems like this error has to do with (cython bindings to) `zmq`. I also see that plotly-resampler is not listed in your *detailed output*, did you install it beforehand?

---

Regarding the plotly-resampler error, it seems like the needed packages to compile plotly-resampler are not available on your (ana

[2022-08-01 06:35] tvdboom commented on #2810
Unsupervised learning only supports `imputation_type="simple"` since you need a target column to fit the estimator for `iterative`. I submitted a PR to update the error and docstrings accordingly.

[2022-08-01 08:09] AmandaAll opened #2813 "[BUG]: raw_score = True removes the score column completely"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-01 08:32] diligejy opened #2814 "[DOC]: tutorial link problem"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/get-started/tutorials

### Documentation problem

When I click on the link in "Time Series Forecasting - Level Beginner", it goes to the wrong link (https://github.com/pycaret/pyc

[2022-08-01 09:03] jnsflt opened #2815 "[ENH]: Parameter for index column in setup"
### Describe the feature you want to add to this project

Often, we use datasets which have different index columns than usual counter (0,1,2,...). For example a long identification string. In PyCaret, there is no option for setting this index column.

Before passing in the dataframe, I can however manually set my index_column with `df.set_index("index_col")`. But this is not saved internally in P

[2022-08-01 11:22] ngupta23 commented on #2814
related to #2753

[2022-08-02 20:34] #2810 closed

[2022-08-02 22:22] ngupta23 commented on #2796
We do not have a way to fix the imbalance while maintaining the temporal dependence in pycaret. Maybe try a different approach such as predicting the actual GDP and then calling a recession if you see 2 quarters of contraction (similar to what is done **[here](https://htmlpreview.github.io/?https://github.com/ngupta23/gdp_prediction/blob/master/analysis/gdp_prediction_analysis.html)**).

[2022-08-02 22:29] ngupta23 commented on #2771
The issue is fixed in sktime (unreleased version). This should be fixed with the next release of sktime and pycaret.

[2022-08-03 07:16] JiaCheng-Lai commented on #2659
I have the same problem and still can't solve it.

[2022-08-03 12:38] ngupta23 commented on #2659
@ZhaiCong Would you be willing to make a PR for this? Thanks!

[2022-08-03 15:10] vakarithika723 opened #2821 "[INSTALL]: ModuleNotFoundError: No module named 'pyod.models.sklearn_base' when running "from pycaret.regression import *""
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-04 03:18] kakalovedata commented on #2494
I am reporting exactly the same issue!
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/var/folders/wr/zr3swp2j5q33rsrn4q2n8mbr0000gn/T/ipykernel_64802/1668823279.py in <module>
----> 1 df_result=predict_model(lightgbm)

/opt/anaconda3/lib/python3.8/site-packages/pycaret/classification.py in pre

[2022-08-04 05:35] fawad-mahdi opened #2822 "[INSTALL]: Unable to use pycaret after installation"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

### Installation Method

pip install

### pycaret Version

latest

### Python Version

3.7.6

### Description

installing pycaret is givin

[2022-08-04 09:20] alejandroLlorentePiperLab opened #2823 "[BUG]: azureml experiment registry organization"
### pycaret version checks

- [x] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-04 13:54] ngupta23 commented on #2822
The latest version has jinja2 as a dependency so it should be installed.

https://github.com/pycaret/pycaret/blob/9ca12a1eb19683508f8c2d9f03fe22fdfbb0f0f7/requirements.txt#L7

Can you try the following to see if it helps (create a clean environment).

`pip install --pre pycaret`

[2022-08-04 13:55] ngupta23 commented on #2821
This is a very old version of pycaret. Can you try with the latest version:

`pip install --pre pycaret`

[2022-08-04 14:15] fawad-mahdi commented on #2822
Ive reinstalled Jinja2. Created a fresh environment and interestingly after
installing all dependcies jupyter notebook fails to reopen. Have to
uninstall anaconda completely and reinstall. Strange behaviour

On Thu, 4 Aug 2022, 6:54 pm Nikhil Gupta, ***@***.***> wrote:

[2022-08-04 14:45] vakarithika723 commented on #2821
Okay, thank you! It worked with the newest version

[2022-08-04 14:45] #2821 closed

[2022-08-04 15:03] ngupta23 commented on #2822
I don't think there is any issue with pycaret here. And installing pycaret in a conda environment should not corrupt conda or prevent you from opening jupyter. There must be some other issue.

[2022-08-04 17:21] msdumanlc opened #2825 "[BUG]: Jupyter-Lab - evaluate_model(best) Issue?"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-05 06:47] tvdboom commented on #2494
Can you confirm that this error occurred using the newest rc release `pip install -U --pre pycaret`? And if so, share a reproducible example. Thanks

[2022-08-05 06:54] tvdboom commented on #2815
This is indeed a useful feature, however, it's not as straightforward as you may think. During preprocessing, some of the transformers may drop rows. We have to keep track of which indices are dropped (this means always working with dataframes and never with numpy arrays). This may become an issue specially when users add their own custom pipeline.

However, I think the issues can be solved so I'l

[2022-08-05 12:33] tvdboom opened #2827 "[ENH]: Reorder all utilities and tests"
### Describe the feature you want to add to this project

* I noticed we have `pycaret\internal\pycaret_experiment\utils.py`, `pycaret/internal/utils.py` and `pycaret/utils`. We should move everything to `pycaret/utils` imo.
* We have `pycaret/tests` and `pycaret/internal/tests`. Not sure what the latter does. Can it be moved/removed?
* I suggest to move the whole tests directory outside of the co

[2022-08-05 14:07] ngupta23 commented on #2827
`pycaret/internal/tests` refers to statistical tests used in the code and modeling building process. That is different from `pycaret/tests` which are the unit tests. As such, the statistical tests should not be changed/altered in my opinion.

I noticed the same thing when developing time series. I started consolidating any new utils that I was developing into `pycaret/utils`. I agree, we need to c

[2022-08-05 18:32] Prashavu opened #2828 "[BUG]: `outliers_method` setup() got an unexpected keyword argument 'outliers_method'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-05 18:39] celestinoxp opened #2829 "[BUG]: error message should show more details"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-05 18:47] celestinoxp commented on #2829
and we also have to solve this problem of having a feature with only 1 occurrence and pycaret gives an error, because this feature is not the target.
Imagine it happened only once in a lifetime for a football team to have 2 red cards, this being a visiting team. But my target is the number of goals, that is, it has nothing to do with red cards, but they are very important, so pycaret cannot force

[2022-08-06 12:24] AJ5PY commented on #2796
Hi @ngupta23 thank you for your response and for sharing this work, it is very closely linked to my project!

Unfortunately, I would not be able to utilise this definition of a recession, as my project requires me to focus on NBER's definition so I will have to find some kind of work-around.

If PyCaret does not allow for imbalance fixing whilst maintaining temporal dependence, would I be able to

[2022-08-07 10:50] ZviBaratz opened #2830 "[ENH]: scipy version update"
### Describe the feature you want to add to this project

Increase max `scipy` version to allow users to use relatively recent versions.

### Describe your proposed solution

Changing the maximal supported version in the requirements and running the tests.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-08-07 17:45] Prashavu commented on #319
@edydev85 could you explain howtomake it work. only facing issues plotting `pycaret` models.
`fig = plt.figure(figsize=(18,6))
ax = fig.add_subplot(5,2,1)
plot_model(blender, plot='cooks', save=True, verbose=False, scale=1.1)
ax = fig.add_subplot(5,2,2)
plot_model(blender, plot='manifold', save=True, verbose=False, scale=1.1)`
#plt.savefig('plots_cooks_and_manifold.png', dpi=300, pad_inches=0.25)

[2022-08-07 17:55] Prashavu opened #2831 "[BUG]: plot_model, evaluate_model not producing any output in databricks"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-07 18:27] ngupta23 commented on #2830
We can not do this at this time due to the limitation in the sktime dependency

https://github.com/alan-turing-institute/sktime/blob/d18e393a17a02a45329221df5c42b4e8d7d90d20/pyproject.toml#L51

You may wish to open a ticket in their repo to upgrade the version there. Once that is done, we can ease the restriction in pycaret as well.

[2022-08-07 18:34] #2016 closed

[2022-08-07 18:57] #2480 closed

[2022-08-08 08:49] #2815 closed

[2022-08-08 10:12] Yard1 commented on #2753
Related to https://github.com/pycaret/pycaret/issues/2814

[2022-08-08 10:23] moezali1 opened #2834 "[BUG]: PyCaret 3.0 logging system printing logs on screen on colab"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-08 11:32] ZviBaratz commented on #2830
@ngupta23 Sorry, I should have mentioned I am using the latest published release (2.3.10), in which the requirements specify `scipy<=1.5.4`, which was released nearly two years ago. Not sure whether `pycaret~=2.3` is still seeing patch releases, but if so it might be worth considering to update

[2022-08-08 14:10] ngupta23 commented on #2830
We are working towards the 3.0.0 release now, so no further updates to 2.3.x is expected. Can you switch to this version (3.0.0)?

`pip install --pre pycaret`

[2022-08-08 14:23] ZviBaratz commented on #2830
Sure, thank you!

[2022-08-08 15:04] celestinoxp commented on #2829
Can check line 559? i added manualy in my notebook  this line f"{self.X[key]}", but i think you should analyse that.

@tvdboom are you the author of this file ... pycaret\internal\preprocess\preprocessor.py? Can you check that?

[2022-08-08 19:06] tbellamey opened #2836 "[BUG]: fit_kwargs parameters break pycaret.time_series.compare_models()"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-08 22:57] JamesMcGuigan opened #2837 "[INSTALL]: pip-compile dependency hell"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Linux-5.10.133+-x86_64-with-debian-bullseye-sid

### Installation Method

pip install

### pycaret Version

All

### Python Version

3.7.12

### Description

The basic issue is that I am running into dependency hell when attempting to create a self-consistent

[2022-08-09 06:23] szymoonl opened #2838 "[BUG]: MLflow server integration"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-09 07:41] tvdboom commented on #2829
Hi, the issue is fixed in #2839. I clarified the message and changed it from error to warning. The reason it should not be an error is because users can know of classes that will appear with new data but are not present during fit.

[2022-08-09 07:42] tvdboom commented on #2829
Can you open a new issue with a reproducible example? I don't know which error pycaret is producing.

[2022-08-09 14:13] jnsflt commented on #2769
Hey @tvdboom! I experienced the same issue today. Here is code for you to reproduce it:

`
from pycaret.datasets import get_data
df = get_data('titanic')
exp = ClassificationExperiment()
exp.setup(data=df, target='Survived')
clf = exp.create_model('catboost')

path = '.../catboost_clf'
exp.save_model(clf, path)
model = exp.load_model(path)
exp.predict_model(estimator=model, data=df)
`

[2022-08-09 14:32] jnsflt commented on #2769
This only happens if you previously save the model.

[2022-08-09 16:47] nichoqu opened #2840 "[BUG]: AttributeError: 'TransformerWrapper' object has no attribute '_memory_transform'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-10 07:57] DanielLeung222 commented on #2494
Hi, I have face the same problem, however, when I use pip install -U --pre pycaret, it occur another error.
![image](https://user-images.githubusercontent.com/108645351/183846973-3e791245-ec66-4c03-86e9-e79cf856d3b5.png)

[2022-08-10 12:40] philipperbd commented on #2144
I had the same error trying to tune anomaly detection method on standard dataset (mnist, cifar, etc.). I was on 2.31 and downgraded to 2.2. It went perfect then.

[2022-08-10 17:26] tvdboom commented on #2840
I can't debug the error without a full working example. Please, either share the model file or the code to produce that file.

[2022-08-10 17:29] tvdboom commented on #2494
Can you share which version of pycaret you are using? Run `pycaret.__version__`. Also, I can't debug without a reproducible example. Thanks

[2022-08-10 17:34] tvdboom commented on #2769
This error seems to appear only for the catboost model. I pushed a fix in #2841. Until the merge, try any other model.

[2022-08-11 08:29] #2769 closed

[2022-08-11 10:33] ngupta23 commented on #2840
It is likely that you trained the model with a different version of pycaret than the one you are using for prediction now.

[2022-08-11 12:04] celestinoxp commented on #2829
Thank you! :)

[2022-08-11 12:07] celestinoxp commented on #2829
yea. as soon as i can i will create a new issue

[2022-08-11 12:50] #2829 closed

[2022-08-11 13:30] VinayChaudhari1996 commented on #2747
The same thing happened with the anomalies detection module,

![image](https://user-images.githubusercontent.com/42869040/184144778-ce2e8794-8ff2-41a3-9acf-b7f47e27becf.png)

[2022-08-11 13:35] ngupta23 commented on #2747
@VinayChaudhari1996 What version of pycaret are you using. Have you tried the latest version (3.0.0rc) and face the same issues?

[2022-08-11 13:57] jnsflt commented on #2840
I've noticed a similar error as well when scikit-learn released a new version a couple of days ago. When I trained the model, I used scikit-learn==1.1.1, but after creating a docker-image for my project (re-installing every dependency) I used scikit-learn==1.1.2, thus causing an error.

I know its of course up to the user to know that their versions is alike, but since PyCaret doesn't specify an e

[2022-08-11 14:24] jnsflt commented on #2840
Funny coincidence, but `plotly-resampler` released a new version (0.7.2.3) one hour ago and now I cant re-install PyCaret, since the `requirements.txt` says `plotly-resampler>=0.7.2.2` and there is probably a bug from `plotly-resampler` which makes it not able to install.

[2022-08-11 15:46] ngupta23 commented on #2840
It is never a good practice to hard code the version in open source since users will be using different systems, installers, version of python, etc. and the availability of the library versions will vary based on that. In order to make sure that the open source library works for a wide spectrum of users, usually library versions are not pinned and it is up to the installer (pip, conda, etc.) to re

[2022-08-11 15:48] ngupta23 commented on #2840
I don't see a new release in the last day. Where is this new release?

https://pypi.org/project/plotly-resampler/#history

[2022-08-12 06:17] jnsflt commented on #2840
Thank you for the clarification above!

Maybe they removed the release (if thats even possible). I saw it at https://github.com/predict-idlab/plotly-resampler when it was "1 hour ago". But as I said, something was wrong so maybe they removed it.

[2022-08-12 06:39] szymoonl commented on #2838
With new mlflow release-1.28.0- and **[Tracking / Model Registry] Fix an mlflow server bug that rejected parameters and tags with empty string values (https://github.com/mlflow/mlflow/pull/6179, @dbczumar)** bug fixed, the problem no longer occurs and artifacts are saved correctly

[2022-08-12 06:39] #2838 closed

[2022-08-12 12:27] #2827 closed

[2022-08-13 02:18] #2771 closed

[2022-08-15 08:12] celestinoxp opened #2853 "[BUG]: data engineering problem or bug or nothing? (give me a better title)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-15 10:10] ngupta23 commented on #2673
Based on meeting 8th August, @moezali1 will try to reproduce this.

[2022-08-15 10:15] ngupta23 commented on #2288
Per meeting on 15th August

- We will not add `precommit` to the tests, but can add the hooks so that developers can use it locally.

[2022-08-15 10:24] ngupta23 commented on #2494
Verified in August 15th meeting.

This is fixed in the latest pre released version. Users should install the following to check it out

`pip install --pre pycaret`

If the issue persists, please open a new issue with a reproducible example,

[2022-08-15 10:24] #2494 closed

[2022-08-15 10:33] ngupta23 commented on #2803
Reproduced in August 15th meeting. Fix needed in these 2 places

- Indent
- correct import per latest library structure

![image](https://user-images.githubusercontent.com/33585645/184620403-b4ad8e7b-0f61-44e1-aafa-9186103e230a.png)

[2022-08-15 10:38] celestinoxp commented on #2803
Reproduced in August 15th meeting...where is the meeting? Live on Youtube?

[2022-08-15 10:39] ngupta23 commented on #2757
@tvdboom will look at it per the August 15th meeting

![image](https://user-images.githubusercontent.com/33585645/184621254-aed8d28a-3c54-49a6-b583-821b4a27babd.png)

[2022-08-15 11:00] ngupta23 commented on #2803
The core developers try to meet once a week to discuss next steps, etc.

[2022-08-16 09:19] EdwinKamau2 opened #2854 "[INSTALL] AttributeError: 'NoneType' object has no attribute 'columns'[BUG]:"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-16 10:33] ngupta23 commented on #2854
You have installed pycaret-ts-alpha which only works for time series. If you want to use other modules, you should install the latest pre-release version of pycaret which has all modules incorporated.

`pip install --pre pycaret`

[2022-08-16 11:58] jnsflt opened #2856 "[BUG]: MlFlow not logging metrics"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-16 12:07] EdwinKamau2 commented on #2854
Thank you for the prompt reply sir, however after installing that version
the web page won't even load.
[image: image.png]

On Tue, Aug 16, 2022 at 1:33 PM Nikhil Gupta ***@***.***>
wrote:

[2022-08-16 12:28] jnsflt commented on #2856
Update:

When I write `exp.get_logs()` I can see some metrics there. But some runs still have the status "RUNNING", unsure why.

Also, all the runs that exist when I start the server using `!mlflow ui` are missing metrics.

[2022-08-16 12:35] jnsflt commented on #2856
Edit: found issue, not on you! Sorry :)

[2022-08-16 12:35] #2856 closed

[2022-08-16 12:43] EdwinKamau2 commented on #2854
Thank you sir! It actually worked

[2022-08-16 12:47] EdwinKamau2 commented on #2854
I had to pip install pytorch-transformers first.

[2022-08-16 12:48] #2854 closed

[2022-08-16 15:39] bhishanpdl opened #2857 "[BUG]: Timeseries model fails if we use the parameter use_gpu"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-17 04:28] Prashavu opened #2859 "[BUG]: AttributeError: 'CatBoostClassifier' object has no attribute 'steps' while trying to tune catboostclassifier model"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-17 06:57] tvdboom commented on #2859
See #2769. This has already been solved in `master` and will be available with next release.

[2022-08-17 06:57] #2859 closed

[2022-08-17 06:57] #2840 closed

[2022-08-17 06:59] tvdboom commented on #2828
Which version of pycaret are you using? You should install the pre-release version to use this parameter: `pip install --pre pycaret`

[2022-08-17 07:16] #2796 closed

[2022-08-17 07:36] Prashavu commented on #2859
@tvdboom so what do we do to make it work with 3.0.0.rc3?

[2022-08-17 07:41] Prashavu commented on #2828
Yes this version mentioned solved the issue

[2022-08-17 07:41] celestinoxp commented on #2857
Hi @bhishanpdl,

2 suggestions:
- If you are using python 3.10, you should python 3.9 (create new clean environment to avoid conflicts with packages).
- Please update your pycaret version from rc2 to rc3. You can use `pip install --upgrade --pre pycaret`

If problem pesrsists, you can post new errors here

[2022-08-17 07:55] celestinoxp commented on #2837
Hi @JamesMcGuigan ,

i don't understand what you want to do... install pycaret with all dependencies? full pycaret?

Suggestion:
Python 3.7 is no longer advisable, use python 3.8 or python 3.9 instead.

The ideal is:
python 3.8 to pycaret 2.3.10
python 3.9 to pycaret 3.0rc3 (recommended)
Note: To install new python do it in a new clean environment, to avoid conflicts with packages.

To install lat

[2022-08-17 08:09] celestinoxp commented on #2825
Hi @msdumanlc,

It looks as though you have the newest labextension, however i think the problem is from python 3.7.

Try create new environment with python 3.8 or python 3.9, and install packages jupyterlab, pycaret....

If works you can close this issue.

[2022-08-17 08:17] celestinoxp commented on #2822
Hi,

The problem may be from python 3.7 (no longer recommended).

I suggest, you create a new environment with python 3.8 or python 3.9.

[2022-08-17 08:34] celestinoxp opened #2862 "[ENH]: Minimum python version"
### Describe the feature you want to add to this project

Today I spent some time responding to posts on the issues page and found that most problems with installing pycaret are due to systems with python 3.7.

From what I've seen some problems reported are not even from pycaret but from other packages that have been updated and do not correctly support python 3.7, consequently leading to pycaret

[2022-08-17 09:05] celestinoxp commented on #2859
You need wait for rc4 or try make a build. Note: can be instable.

-uninstall pycaret
-install pycaret from source (need git installed)
- use `pip install -U git+https://github.com/pycaret/pycaret.git@master`

[2022-08-17 10:08] Prashavu commented on #2859
ok!

[2022-08-17 10:33] Prashavu opened #2865 "ValueError: When passing a model not in PyCaret's model library, the custom_grid parameter must be provided."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-17 10:41] joncassidy commented on #2789
I have the same issue when adding many (100+) float16 features, but the issue does not happen if the features are float instead.

[2022-08-17 11:07] celestinoxp commented on #2789
Hi,
are you using pycaret 2.3.10? i think it's problem from scikit-learn, because pycaret uses "old" 0.24.2 version of scikit-learn.
Scikit-learn have a lot of bugfixes since 0.24.2. I think i have seen something like there in scikit bugfixes...

Suggestion: install latest pycaret (rc3 at this time) and it will install latest scikit-learn. Test if works. After that tell me if works.

Note: To avoi

[2022-08-17 11:09] tvdboom commented on #2853
This is intended behavior. The one hot encoder makes columns of the form [original column]_[category]. We aren't going to change this for three reasons:

* This is the clearest name we can give to the new feature.
* It's fairly easy for the user to evade this error (as you mentioned).
* Detecting that the feature already exists and change the name is not trivial, since the naming is done by the un

[2022-08-17 11:11] celestinoxp commented on #2853
Thanks!

[2022-08-17 11:11] #2853 closed

[2022-08-17 11:13] #2828 closed

[2022-08-17 11:21] celestinoxp commented on #2865
I think you have an error in your reproducible code...

this line:
`tuned_lr = tune_model(lr1,optimize = 'F1',return_train_score=True)`

you sould change "lr1" to "lr"
like this `tuned_lr = tune_model(lr,optimize = 'F1',return_train_score=True)`

Why? You saved model as lr1 name, but not opened this model as lr1, so in this reproducible code only exists "lr"

[2022-08-17 11:59] Prashavu commented on #2865
I tried to edit it to correct but was not able to. I saved and loaded the same model. Hope it clears your doubt

[2022-08-17 12:02] celestinoxp commented on #2865
What version of pycaret you have?

[2022-08-17 12:05] Prashavu opened #2869 "[BUG]: raw_score=True dees not work in the latest version of Pycaret for binary classification"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-17 12:08] ngupta23 commented on #2869
If you are using the `pycaret-ts-alpha` install, that only works for time series and has been deprecated now. Please switch to this install as it now has all modules integrated together

`pip install --pre pycaret`

[2022-08-17 12:09] Prashavu commented on #2869
Im using the same. Version 3.0.0.rc3. And this was working for 2.3.10 s few days ago

[2022-08-17 12:18] Prashavu commented on #2865
![image](https://user-images.githubusercontent.com/13661149/185116559-c9c87b5b-b8b7-42df-a2c7-fdbaeea4d44d.png)

[2022-08-17 12:18] celestinoxp commented on #2869
I found possible problem. you use python 3.7 and the problem could come from scikit-learn.

You must create a new environment with python 3.8 or python 3.9.

[2022-08-17 12:18] celestinoxp commented on #2865
I found possible problem. you use python 3.7 and the problem could come from scikit-learn.

You must create a new environment with python 3.8 or python 3.9.

[2022-08-17 12:19] Prashavu commented on #2865
System:
    python: 3.7.13 (default, Apr 24 2022, 01:04:09)  [GCC 7.5.0]
executable: /usr/bin/python3
   machine: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic

PyCaret required dependencies:
                 pip: 21.1.3
          setuptools: 57.4.0
             pycaret: 3.0.0.rc3
             IPython: 7.9.0
          ipywidgets: 7.7.1
                tqdm: 4.64.0
               numpy: 1.21.6

[2022-08-17 12:22] Prashavu commented on #2865
ok. so anyone using latest Pycaret shoukd strictly use python 3.8 and above?

[2022-08-17 12:23] celestinoxp commented on #2862
Pycaret 3.0 rc3 installs scikit-learn >= 1.1.x (now 1.1.2) and it have minimal dependencies python 3.8+

I think its a problem, because scikit-learn don´t gives a error and allow permit install a incompatible version.

[dependencie](https://scikit-learn.org/stable/whats_new/v1.1.html#minimal-dependencies)

What you think about that @ngupta23 ?

[2022-08-17 12:30] celestinoxp commented on #2869
What version of scikit-learn you have?

[2022-08-17 12:44] Prashavu commented on #2865
@celestinoxp I am using google colab, I am not sure if we can change that without anything breaking
/conflicts

[2022-08-17 12:48] Prashavu commented on #2869
@celestinoxp sorry but I do not understand that language so I could not follow your previous sentence.

[2022-08-17 12:50] celestinoxp commented on #2869
Please paste the output of `from pycaret import show_versions; show_versions()`

[2022-08-18 04:15] Prashavu opened #2871 "[BUG]: fix_imbalance_mothod and fix_imbalance does not seem to work in 3.0.0rc"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-18 06:12] tvdboom commented on #2869
This a known error (see #2813) and has been fixed in #2866. It will be available with next release.

[2022-08-18 06:18] tvdboom commented on #2871
This works as expected in `master` and it should work from the latest rc release as well. Make sure to download the latest release or directly from master using `pip install -U git+https://github.com/pycaret/pycaret.git@master`

[2022-08-18 06:23] tvdboom commented on #2862
We discussed this but decided not to drop support for Python 3.7 yet because colab still uses 3.7 as default version, and a lot of our users rely on colab. Nevertheless, we will drop it sooner rather than later.

[2022-08-18 06:30] Prashavu commented on #2871
@tvdboom  are you able to view and get the resampled dataset?

[2022-08-18 07:06] tvdboom commented on #2871
I think you are using an older version of pycaret that indeed had issues with resampling. Are you sure it's 3.0.0rc3? Can you share the result of `pycaret.__version__`?

[2022-08-18 07:06] tvdboom commented on #2871
As I said, on master it's working as expected. I can see the resampling being done and get_config('X_train') returns the transformed train set.

[2022-08-18 07:52] celestinoxp commented on #2871
Note: as the latest release is rc3 and the version that is on master is rc3, you must uninstall pycaret first and then install the version that is on master through pip install -U git+https://github.com/pycaret /pycaret.git@master

[2022-08-18 08:07] celestinoxp commented on #2862
I think we have a thorn in the side because with python 3.7 we can only have scikit-learn 1.0.2 which has a lot of problems and consequently these problems will bring more problems for pycaret even if the pycaret code is correct.

The minimal version of scikit-learn that pycaret should be 1.1.2 recently released which has many bugfixes and has minimal python 3.8 support.

In my opinion something s

[2022-08-18 08:12] celestinoxp commented on #2862
Another very strong argument is that pycaret is based on scikit-learn, that is, if pycaret uses a lot of scikit-learn functions, then it should use a highly updated version, without errors or problems, so I insist that we should switch to python 3.8 to at least use scikit-learn 1.1.x

[2022-08-18 08:25] celestinoxp commented on #2862
@tvdboom we can also make a manual to install python 3.8 on google colab (https://stackoverflow.com/questions/60775160/install-python-3-8-kernel-in-google-colaboratory) and so our problem is solved. I want to know your opinion about that

[2022-08-18 08:53] tvdboom commented on #2862
Installing a custom version of Python on colab is "hacky" and prone to get many errors. I wouldn't recommend doing that.

It's a well known issue on their github (see https://github.com/googlecolab/colabtools/issues/2165 for example). It's unclear when/if it's going to happen.

This is a less bigger problem than you might think since Python 3.8+ users can use the latest version of sklearn. They ar

[2022-08-18 10:13] Prashavu opened #2872 "[BUG]:ValueError: 'fill_value'=constant is invalid. Expected a numerical value when imputing numerical data"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-18 10:19] ngupta23 commented on #2872
It is likely now a bug. If you want to fill with a constant value, just provide that value.

[2022-08-18 10:42] Prashavu commented on #2872
hi @ngupta23 could you elaborate. I am not intending to fill a constant. I think smote is causing this. what package should I update to resolve this issue

[2022-08-18 10:52] Prashavu commented on #2872
@ngupta23 There are no nulls or NaNs and I am not doing any imputation

[2022-08-18 10:55] ngupta23 commented on #2872
Can you provide a complete reproducible example for this with data.

[2022-08-18 10:59] Prashavu commented on #2872
Thing is the data is confidential. I will try to reproduce it on the juice data i/f I can. but its not cused by fix_imabalance paramter as even without it , its throwing error

[2022-08-18 11:08] Prashavu commented on #2872
I think these are the paramters causing this issue. these are some inbuilt conditions handled. For example I do not want any imputation in my data, but maybe another transformation is causing this?
![image](https://user-images.githubusercontent.com/13661149/185380624-dba4e731-8a07-4758-9c4f-bbb0e9b6aadc.png)

[2022-08-18 11:21] ngupta23 commented on #2872
Thanks for digging into it. Which RC version have you installed?

[2022-08-18 11:47] Prashavu commented on #2872
3.0.0rc

[2022-08-18 12:28] ngupta23 commented on #2872
Can you try to see if it is still there with the latest rc version 3.0.0rc3?

`pip install --pre -U pycaret`

[2022-08-18 12:49] Prashavu commented on #2872
Yes whatever I'm reporting is with the exact same version

[2022-08-18 14:00] nprime496 opened #2874 "[DOC]: Broken Link on top of Google recommendation"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

Here is the link proposed by Google for [predict_model](https://www.google.com/search?q=predict_model+pycaret&oq=predict_model+pycaret&aqs=chrome..69i57j69i60l3.5658j0j4&sourceid=chrome&ie=UTF-8)

### Documentat

[2022-08-18 19:10] msdumanlc commented on #2825
Resolved

[2022-08-18 21:07] pepeto opened #2879 "[BUG]: TypeError: setup() got an unexpected keyword argument 'feature_interaction' (V 3.0.0r)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 00:56] moezali1 commented on #2879
@tvdboom

[2022-08-19 07:46] celestinoxp commented on #2879
Just as https://github.com/pycaret/pycaret/issues/2585, the problem here is the documentation. The feature_interaction and trigonometry_features are deprecated in version 3.0. The documentation needs to be updated accordingly. For now, it's best if you look at the docstrings in github's code.

[2022-08-19 10:57] ngupta23 commented on #2874
This would be ideal but we don't know how to do this. Do you know how to do it?

Why is redirection to https://pycaret.gitbook.io/docs/ not meaningful? It is the one-stop for all things related to `pycaret`. You can use the search bar on that page to navigate anywhere on that website.

[2022-08-19 10:59] ngupta23 commented on #2865
@Prabhu-kottapu Just to clarify, you can still use python 3.7. All our tests run on 3.7 as of now and pass without issue.

[2022-08-19 11:00] ngupta23 commented on #2865
Your problem is that the variable `lr1` is not defined here in your code. You need to pass the actual model object here which in your code is `lr` not `lr1`. lr1 is just the pickle file name of the model saved on your disk.

[code]

[2022-08-19 11:04] ngupta23 commented on #2857
I never tested this argument since none of the models can leverage GPU (well maybe regression based - but I will have to check). I will look into it and get back.

[2022-08-19 11:07] ngupta23 commented on #2837
Just a follow-up (unrelated to the original question): You can still use python 3.7. All our tests pass in it. See more details here if needed: https://github.com/pycaret/pycaret/issues/2862. That being said, since 3.7 is getting old, if there is an option, use 3.8 or 3.9 instead.

[2022-08-19 11:17] ngupta23 commented on #2836
This is what I see in the internal base module documentation

[code]

Can you try setting errors parameter to 'ignore'?

@Yard1 Any idea what is going on here? Is this the right format to pass the `fit_kwargs` in?

[2022-08-19 11:38] bhishanpdl commented on #2857
The error originally originated when by mistake I used model name “catboost” instead of “catboost_cds_dt” when using “use_gpu=True” but still I assumed it’s a bug. The code failed when used that parameter and ran well if we omit that parameter.

Part 2:
Thanks for Python 3.9 suggestion. I will create new venv and use py39

For now, the monkey patch is working fine with Py310.

[2022-08-19 11:47] ngupta23 commented on #2737
Same here, it works fine. We will close this for now. Feel free to open a new one if there are more issues.

[2022-08-19 11:47] #2737 closed

[2022-08-19 11:55] JSPAnthony opened #2880 "[BUG]: ModuleNotFoundError: No module named 'pycaret.internal.preprocess.transformers'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 11:57] JSPAnthony commented on #2880
@ngupta23 kindly see the new bug report you requested.

[2022-08-19 12:20] Prashavu commented on #2865
Like i mention in previous comment. That is not the issue . I forgot to add
the `load` line in example . But I did do it the right way

On Fri, Aug 19, 2022, 4:31 PM Nikhil Gupta ***@***.***> wrote:

[2022-08-19 14:19] moezali1 opened #2881 "[BUG]: Display progress bar not displaying in 3.0.0.rc3 and ipywidgets 8.0.1 / python=3.8.13"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 14:51] pepeto commented on #2879
@celestinoxp thank you for the answer. Were these deprecated features replaced, or were these functionalities lost?
THANK YOU!

[2022-08-19 17:04] moezali1 opened #2882 "[BUG]: Why deepchecks is not installed with pycaret[full]"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 17:05] moezali1 opened #2883 "[BUG]: create_api function is not creating file correctly"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 17:08] celestinoxp commented on #2883
I have related that here https://github.com/pycaret/pycaret/issues/2803

[2022-08-19 17:18] moezali1 opened #2884 "[BUG]: deep_check function failing"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 17:21] moezali1 opened #2885 "[BUG]: why boto3 is not installed with pycaret[full] in 3rc"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 19:51] tvdboom commented on #2879
Please search in the closed issues for your question before opening a new one. This has already been answered in #2675 and #2586.

[2022-08-19 19:51] #2879 closed

[2022-08-19 19:54] tvdboom commented on #2880
You have the wrong version of pycaret installed. The module `pycaret.internal.preprocess.tranmsformers` was introduced in pycaret 3.0.0rc1. Please, use the same version of pycaret you used to pickle the model to unpickle it.

[2022-08-19 20:02] tvdboom commented on #2872
First, this is probably caused by the imputation step. If you don't want any imputation being done, use `imputation_type=None` in setup. This will probably avoid the error. I don't think `fix_imbalance` has anything to do with it.

Secondly, I can't know for sure if this is really a bug without a reproducible example. It seems you are forcing a categorical feature onto a numerical column. This is

[2022-08-19 20:03] celestinoxp opened #2886 "[ENH][BUG]: Pycaret should detect version of pickle files"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 20:34] celestinoxp opened #2887 "[BUG]: Dummy model can't be tuned"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-19 20:41] Prashavu commented on #2872
I do not have missing values to perform imputation. So i dint think this is
the reason.

On Sat, Aug 20, 2022, 1:32 AM Mavs ***@***.***> wrote:

[2022-08-19 21:48] JSPAnthony commented on #2880
Noted, will revert to you soonest.

[2022-08-20 04:27] Prashavu commented on #2872
How do I set these to None further?
![image](https://user-images.githubusercontent.com/13661149/185728921-44f9d192-d9c1-4793-9255-5598add7e8d6.png)

[2022-08-20 07:05] tvdboom commented on #2886
This has already been implemented in #2751

[2022-08-20 07:05] #2886 closed

[2022-08-20 07:14] tvdboom commented on #2872
the reason.I saw in the documentation there is default value for imputation.My data set is 100 p clean, then why is pycaret performing imputation?This should be fixed.

Pycaret has an imputer in the pipeline as default value. Even though you don't have missing values, it could be desired to have an imputer because you could have missing values in new unseen data.  Pycaret is not performing imputat

[2022-08-20 14:31] nprime496 commented on #2874
For Google referencement, I don't know either, but the problem is most of the time related to SEO. What I noticed though is that searching for [preprocess pycaret](https://www.google.com/search?q=preprocess+pycaret&oq=preprocess+pycaret&aqs=chrome.0.69i59j69i60l3.5481j0j9&sourceid=chrome&ie=UTF-8) gives a result with the right documentation host in search results.

About redirection, it is useful

[2022-08-20 15:08] JSPAnthony commented on #2880
Thank you all, it worked

[2022-08-20 15:08] #2880 closed

[2022-08-20 16:03] npapan69 opened #2890 "How to use a triple dataset split for a calibrated classifier [ENH]:"
### Describe the feature you want to add to this project

For risk assessment models, calibration of the predicted probabilities is as important as having good discrimination between classes. When using CalibrationClassifierCV, with a base estimator that has already been fitted, the calibration should be done on a separate dataset (calibration set) from the training to avoid overfitting. At the mo

[2022-08-21 14:50] Prashavu opened #2895 "[ENH]: Sample Weights for classification"
### Describe the feature you want to add to this project

I see a old request
https://github.com/pycaret/pycaret/issues/573

But I am unable to find the paramter in the documentation for it `create model` / `tune model`

Would like to have `samle_weights` paramter for classifciation problems . Hels in lot of cases where test and train distrubution are not really similar.

### Describe your propose

[2022-08-21 15:17] ngupta23 commented on #2887
What module is this for? What version of the library are you using?
Can you provide a reproducible example for this?

[2022-08-21 15:18] #2883 closed

[2022-08-21 15:27] celestinoxp commented on #2887
classification.
scikit-learn1.1.2
i have normal code with model = compare_models() and tuned_model = tune_model(model, n_iter=100).
As the dataset is constantly being updated, the models for prediction may vary, and pycaret has already chosen the "dummy" model and the code stopped in tune_model with the error I mentioned above. I just suggested that pycaret instead of stopping and showing this err

[2022-08-21 15:33] #2753 closed

[2022-08-21 15:33] #2814 closed

[2022-08-21 15:33] #2714 closed

[2022-08-21 16:20] moezali1 commented on #1595
@tvdboom Can you take a look at this? I doubt this problem still exist but if it is there can we fix and close this? seems like a simple fix. Not sure if @mpaulonis is still available to help.

[2022-08-21 16:22] moezali1 commented on #1987
@dandluu The model returned by `tune_model` function is the model that has best hyperparameters. The results you see on screen or you access using `pull` function is the cross-validated results of best selected hyperparameters. If you need access to trials generated as a result of `n_iter` then you can pass `return_tuner=True` in the `tune_model` function.

More details on this link: https://pycar

[2022-08-21 16:22] #1987 closed

[2022-08-21 16:23] #1873 closed

[2022-08-21 16:23] moezali1 commented on #1873
Cannot reproduce hence closing.

[2022-08-21 16:26] moezali1 commented on #2874
@nprime496 and all. Its a fair point but I don't know how to fix this from SEO perspective. Originally all the documentation was hosted on pycaret.org and when I move them over to Gitbook I thought I will create a redirect instead of removing the pages. Maybe removing the page will delink it from Google SEO algorithm. I will try that in few months.

[2022-08-21 16:28] moezali1 commented on #2025
The error still exist. Last tested on 21/8/2022

[2022-08-21 16:32] moezali1 commented on #2695
I have now made `stable` version as default.

![image](https://user-images.githubusercontent.com/54699234/185801295-28834145-42f2-40e1-96e6-d688af9d0eee.png)

[2022-08-21 16:32] moezali1 commented on #2695
@ngupta23 Seems like all points are addressed. can we close this?

[2022-08-21 16:33] #2670 closed

[2022-08-21 16:33] moezali1 commented on #2136
@mfahadakbar Can you please look at this issue?

[2022-08-21 20:34] celestinoxp opened #2897 "[ENH]: time for tune model"
### Describe the feature you want to add to this project

when using the compare_models() command, in addition to the models, the running time is also shown in the TT (Sec) column, however when using the tune_model command, we are not shown how long the model took to tune. This would be interesting to be able to compare which model is faster to tune, or even in the case of using a cycle to tune se

[2022-08-21 22:12] ngupta23 opened #2899 "[ENH]: Add sklearnex engine for time series"
### Describe the feature you want to add to this project

`sklearnex` engine was added for regression and classification. This can be added for time series reduced regression models as well

### Describe your proposed solution

Support change of engines for reduced regression models as follows

[code]

### Describe alternatives you've considered, if relevant

None at this time.

### Additional con

[2022-08-21 22:27] #2695 closed

[2022-08-22 07:01] tvdboom commented on #1595
This is already fixed.

[2022-08-22 07:01] #1595 closed

[2022-08-22 07:50] tvdboom commented on #1236
Better late than never. This feature is not within the scope of mlflow since mlflow is tightly related to the model training and this is a feature about preprocessing. mlflow stores every model in a separate run. Storing datasets at different stages of preprocessing doesn't fit in their landscape.

I'm closing because of the date of creation. Feel free to reopen.

[2022-08-22 07:50] #1236 closed

[2022-08-22 07:52] tvdboom commented on #2273
Closing due to inactivity. Feel free to reopen if there's an answer to this question, so we can consider adding the algorithm.

[2022-08-22 07:52] #2273 closed

[2022-08-22 07:55] celestinoxp opened #2900 "[BUG]: Remove initial blank space of graphic in features(all)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-22 09:37] jonasvdd commented on #2694
Hi,

`plotly-resampler==0.8.0` contains the above-mentioned remarks (i.e. figure serialization), and should not need the numpy pre-install requirement, so will look into integrating that version into `pycaret` somewhere later this week!

[2022-08-22 10:11] ngupta23 commented on #2882
Per August 22nd, @tvdboom  will

- [ ] add it to MLOps section in requirements-optional.
- [ ] Add optional library check for `deepchecks` in the code where this library is referenced.

[2022-08-22 10:16] ngupta23 commented on #2885
Per August 22nd, @tvdboom will

- [ ]  add it to "MLOps" section in requirements-optional.
- [ ]  Add optional library check for boto3 in `deploy_model` in the code where this library is referenced.

[2022-08-22 10:28] tvdboom commented on #2882
Done in #2866

[2022-08-22 10:28] tvdboom commented on #2885
Done in https://github.com/pycaret/pycaret/pull/2866

[2022-08-22 10:28] #2885 closed

[2022-08-22 10:43] ngupta23 opened #2902 "[ENH]: `use_gpu` to use engines interface"
### Describe the feature you want to add to this project

Currently, we have a parameter `use_gpu` which uses the cuml library. This conflicts with the new `engines` interface. If I set the engine to a non-default engine and also set `use_gpu = True`, the `use_gpu` wins (silently).

### Describe your proposed solution

- [ ] Incorporate `cuml` as an alternate engine (maybe even default - before `s

[2022-08-22 11:45] tvdboom commented on #2884
This is not a pycaret issue. As you can see in the traceback, the code error has something to do between deepchecks and ipython

[2022-08-22 20:44] celestinoxp commented on #2902
Any change cuml work in windows11? As i know cuml can´t be installed in windows...

[2022-08-22 23:02] ngupta23 commented on #2902
This is probably a question for the cuml folks. We are only providing the option to use it if it is installed. Also from `pycaret` perspective, it is an optional dependency which needs to be installed by user if they want to use it. If their system does not support it, they do not have to use it.

[2022-08-23 02:09] sumantabasak opened #2904 "[INSTALL]: PyCaret [Full]"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Kaggle

### Installation Method

pip install

### pycaret Version

Latest

### Python Version

3.8

### Description

I'm using Kaggle platform, and unable to install PyCaret due to dependency issues.

"ERROR: Cannot uninstall 'llvmlite'. It is a distutils ins

[2022-08-23 12:00] ngupta23 commented on #2904
Please check out the existing issues for how to solve this

https://github.com/pycaret/pycaret/issues?q=label%3Akaggle+is%3Aclosed

[2022-08-23 17:22] AbdulJabbar64 commented on #2904
You can use like this, I have got same error like your error but solved it

``pip install pycaret --ignore-installed llvmlite``
@sumantabasak #1710

[2022-08-23 18:29] #2904 closed

[2022-08-23 18:33] Prashavu commented on #1350
@jackmau how do we give `sample_weights` i in `fit`or classification problems in the 3.0.0rc3 version of pycaret?

[2022-08-23 22:23] nunon opened #2905 "[INSTALL]: Time Series installation"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic

### Installation Method

pip install

### pycaret Version

ts-alpha

### Python Version

3.7.13 (default, Apr 24 2022, 01:04:09)  [GCC 7.5.0]

### Description

I cannot run any of the time series tutorials on Go

[2022-08-23 23:07] ngupta23 commented on #2905
We have merged the time series module with the main pycaret module and also simplified the dependencies. So you can simply install as follows. Let me know if you have any issues with this

`pip install --pre pycaret`

[2022-08-24 02:35] mfahadakbar commented on #2136
@Echo9k

I am unable to replicate the error. Seems fine at my end. One solution could be to downgrade NumPy to 1.20 version in the notebook.

`pip install numpy==1.20`

@moezali1 I have updated images for the latest version i.e. 2.3.10

[2022-08-24 05:02] Prashavu opened #2906 "@kmedved I think we can make it work. Here is my working example of how to do it until the functionality is available:"
How do I use this fit to predict using pycaret?
I do not think  its working. I fit on lr and used lr to predict, is that the correct way to do it?
@kmedved I think we can make it work. Here is my working example of how to do it until the functionality is available:

[code]

_Originally posted by @pycaret in https://github.com/pycaret/pycaret/issues/573#issuecomment-683890030_

[2022-08-24 08:08] nunon commented on #2905
Thank you so much, it now installs without issues.
The plots do not show, though:
![image](https://user-images.githubusercontent.com/4312852/186365404-104e0b21-756f-4d72-9369-63cc8a507137.png)
There are lots of warnings concerning the EDA, as you may see in the notebook.
I'm trying pip install catboost

[2022-08-24 08:50] nunon commented on #2905
I have added to the top of my notebook:

`from pycaret.utils import enable_colab
enable_colab()`

The plots are now displaying!

[2022-08-24 11:53] ngupta23 commented on #2905
@nunon Thanks for confirming

@Yard1 @tvdboom I think we have removed `enable_colab` in unreleased version. Maybe we should add it back?

[2022-08-25 00:04] Yard1 commented on #2905
It should not be required. I'll take a look when I have a moment as to why it's not working out of the box.

[2022-08-25 00:52] beckernick commented on #2902
cuML is currently experimentally supported on Windows via Windows Subsystem for Linux (WSL). Installation instructions are linked at https://rapids.ai/start.html.

We're (RAPIDS) actively working on improving and streamlining this support, so please keep an eye out for updates.

[2022-08-25 10:13] ngupta23 commented on #2906
@Prashavu What is your issue or question?

[2022-08-25 10:14] ngupta23 opened #2911 "Plots not being rendered in Google Colan"
@nunon Thanks for confirming

@Yard1 @tvdboom I think we have removed `enable_colab` in unreleased version. Maybe we should add it back?

_Originally posted by @ngupta23 in https://github.com/pycaret/pycaret/issues/2905#issuecomment-1225614830_

[2022-08-25 10:19] ngupta23 commented on #2905
OK, thanks. I will close this since the original issue is resolved. I opened a separate one for the rendering issue.

@nunon FYI... In the time series setup function, there is another option to specify the renderer (so even if `enable_colab` is deprecated, you should be able to set the renderer). See docstring for details:

https://github.com/pycaret/pycaret/blob/f93e7087a671458a20bed6dd3a8bcca891

[2022-08-25 10:19] #2905 closed

[2022-08-25 11:15] Prashavu commented on #2906
@ngupta23 how to give sample_weights for a tuned classifier from setup? is it possible? IF not how else can we do it. If we manually fit , Then we cannot use pycaret `ceeate_model`, 1tune_model` right?

[2022-08-26 14:10] szymoonl opened #2914 "[BUG]: Unable to use GPU for classification"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-26 16:50] moezali1 commented on #2673
I have tried both with 2.3.10 and 3.X and plot displays fine.

2.3.10 Colab Notebook: https://colab.research.google.com/drive/1nYhuoluCbYNm0Afjmyc6xRqybzbZrLk-?usp=sharing
3.X Colab Notebook: https://colab.research.google.com/drive/1xlJVr8mklXwTnUlCwti6LfBKA6SPjLzW?usp=sharing

[2022-08-26 16:50] #2673 closed

[2022-08-26 16:51] moezali1 commented on #2385
Not enough details.

[2022-08-26 16:51] #2385 closed

[2022-08-26 16:53] moezali1 commented on #2911
I just tried and plots are being displayed fine.

https://colab.research.google.com/drive/1xlJVr8mklXwTnUlCwti6LfBKA6SPjLzW?usp=sharing

[2022-08-26 16:53] #2911 closed

[2022-08-26 20:28] celestinoxp opened #2915 "[ENH]: New algorithm: PyGad"
### Describe the feature you want to add to this project

PyGAD - Python Genetic Algorithm!
PyGAD supports different types of crossover, mutation, and parent selection.

GitHub: https://github.com/ahmedfgad/GeneticAlgorithmPython
ReadTheDocs: https://pygad.readthedocs.io/en/latest/

Can you analyze if it can be an asset to pycaret?

### Describe your proposed solution

Can you analyze if it can be

[2022-08-26 20:40] celestinoxp opened #2916 "[ENH]: New feature engine: Feature-Engine"
### Describe the feature you want to add to this project

I think this is very important to pycaret make new features automatically.

GitHub: https://github.com/feature-engine/feature_engine
ReadTheDocs: https://feature-engine.readthedocs.io/en/latest/

### Describe your proposed solution

I think this is very important to pycaret make new features automatically.

### Describe alternatives you've

[2022-08-27 20:31] celestinoxp opened #2917 "[ENH]: Deep Q-Learning"
### Describe the feature you want to add to this project

https://towardsdatascience.com/deep-q-learning-tutorial-mindqn-2a4c855abffc

Can we do this for machine learning--> pycaret?

### Describe your proposed solution

https://towardsdatascience.com/deep-q-learning-tutorial-mindqn-2a4c855abffc

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No r

[2022-08-28 17:20] JamesMcGuigan commented on #2837
Thank you, the suggestion to use `pip install --pre pycaret` seems to work and I have successfully managed to get PyCaret working inside the Kaggle Competition environment, which currently puts PyCaret in 1213/1718'th place for the Aug 2022 Tabular Playground Series competition.
- https://www.kaggle.com/code/jamesmcguigan/tps-pycaret3-automl-classification-aug-2022

Still have issues rerunning my

[2022-08-28 17:20] #2837 closed

[2022-08-29 10:08] #2899 closed

[2022-08-29 10:20] ngupta23 commented on #2881
Per August 29th meeting, @Yard1 to look into it.

[2022-08-29 10:25] ngupta23 commented on #2836
Per August 29th meeting, the current functionality is applied to all models. We will need to reevaluate this functionality after the 3.0.0rc4 release. Maybe better to have model-wise kwargs (dictionary of dictionary). Open Question from @Yard1: How does this affect custom model.

[2022-08-29 10:27] ngupta23 commented on #2834
Per August 29th meeting, @moezali1, this is happening in Jupyter notebook as well. @Yard1 to look into it.

[2022-08-29 10:30] ngupta23 commented on #2803
Per August 29th meeting, reassigned to @tvdboom.

[2022-08-29 10:35] ngupta23 commented on #2667
Per August 29th meeting, we will reevaluate it after 3.0.0rc4 release.

[2022-08-29 10:48] #2857 closed

[2022-08-29 10:51] moezali1 opened #2919 "[BUG]: The engine parameter in create_model is not resetting"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-29 11:03] ngupta23 opened #2920 "[ENH]: Add back clustering tests to pycaret"
### Describe the feature you want to add to this project

In https://github.com/pycaret/pycaret/pull/2901/files, we had to remove the clustering tests from windows since they were getting stuck (and timing out). They passed on linux as well as locally on windows. Hence, they were temporarily disabled. Need to enable them again for completeness.

### Describe your proposed solution

Need to figure

[2022-08-29 13:01] moon195 opened #2921 "[ENH]: Completed model drawing"
### Describe the feature you want to add to this project

I would like to add the ability to change the format of the image when visualizing the generated model, and to add the ability to validate the completed model against a new dataset and to make comparative plots.

### Describe your proposed solution

i cant

### Describe alternatives you've considered, if relevant

_No response_

### Additio

[2022-08-29 15:29] microprediction commented on #2747
Confirming that this problem seems to be fixed in colab, there there is a cuml warning for regression import

       from pycaret.regression import *
       WARNING:logs:No module named 'cuml'.
'cuml' is a soft dependency and not included in the pycaret installation. Please run: `pip install cuml` to install.

[2022-08-29 23:50] Ali-Flt opened #2924 "[BUG]: use_holdout=True causes automl function to fail (PyCaret 3.0-rc)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-30 03:31] ngupta23 commented on #2747
Thanks for confirming @microprediction (Peter)!

@ShreySrivas @VinayChaudhari1996 We will close this for now as the issue is not reproducible from our side as well. Please file a new request if you continue to face issues.

[2022-08-30 03:31] #2747 closed

[2022-08-30 05:55] #2813 closed

[2022-08-30 05:55] #2757 closed

[2022-08-30 05:55] #2872 closed

[2022-08-30 06:48] #2871 closed

[2022-08-30 06:48] #2869 closed

[2022-08-30 07:27] #2919 closed

[2022-08-30 14:14] ingluissantana opened #2927 "[BUG]: eda() not interactive in VSCode"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-30 17:58] Prashavu opened #2928 "[BUG]: `imputation_type` cannot be set to none"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-30 18:06] Prashavu opened #2929 "[BUG]: Turn off Dataframe preprocessing while setting `preprocess`= True"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-30 19:47] moezali1 commented on #2881
The issue is fixed as per latest merge by @tvdboom on 30/8/2022, hence closing.

[2022-08-30 19:47] #2881 closed

[2022-08-30 20:28] moezali1 opened #2930 "[BUG]: engines parameter in compare_models"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-08-31 06:13] tvdboom commented on #2930
I agree. I'll make the changes

[2022-08-31 07:41] noah8287 commented on #2929
fix_imbalance _is_ a form of preprocessing in the sense that it's an adjustment made to the data prior to fitting a machine learning model. Since `preprocessing=False` is meant to disable all preprocessing steps pycaret has built-in, I'm not sure what you're asking for makes sense.

That said, it would be nice to have an option to disable all preprocessing steps _except_ for the one(s) the user sp

[2022-08-31 08:05] tvdboom commented on #2930
apparently we use the `engines` parameter almost everywhere except `create_model`. Still, I agree that we should use a single name for consistency. I'll stick to engine (singular) and change it everywhere

[2022-08-31 08:17] tvdboom commented on #2803
I fixed this error but my app is not launching correctly. @moezali1 can you try using the [change_engine_param_name](https://github.com/pycaret/pycaret/tree/change_engine_param_name) repo? Not sure what the error is now

[2022-08-31 17:22] Prashavu commented on #2929
@noah8287 Even before sending to `setup` I have defined what is numerical) and what is categorical(my categorical in the data set im working on consists of only 0/1). but I do not want one hot encoding for my categorical. How can I prevent any other preprocessing except smote(fix_ibalance)

[2022-09-01 05:06] Prashavu opened #2931 "[BUG]: weights only avialbale for blend_models"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-01 07:51] Prashavu commented on #2931
I tried using this but still wont work
![image](https://user-images.githubusercontent.com/13661149/187861539-4225814e-60e8-472a-9c43-8738a076dc68.png)

[2022-09-01 12:42] mydataag commented on #2906
Possible duplicate of: https://github.com/pycaret/pycaret/issues/1350

[2022-09-01 12:49] mydataag commented on #2887
Here's a reproducible example:
[code]

[2022-09-01 13:00] mydataag commented on #2865
Here's the snippet to reproduce it.
[code]

The issue is that `load_model` returns the whole serialized pipeline, whereas `tune_model` only expects the classifier.
![Screenshot from 2022-09-01 14-58-43](https://user-images.githubusercontent.com/107613585/187919528-88b366ef-1035-4ba2-9ca6-d319f4985dad.png)

An ugly workaround would be to use `tune_model(clf_loaded[-1])`.

[2022-09-01 13:34] LUS24 commented on #2865
It seems that `save_model` pickles the Pipeline and not just the model so when I used `load_model` and then `tune_model` the error

`ValueError: When passing a model not in PyCaret's model library, the custom_grid parameter must be provided.`

popped up.

I'm using pycaret version `2.3.10` with python `3.9.12` in Ubuntu:
[code]

The workaround proposed by @mydataag made it work. Thanks!

[2022-09-02 01:54] natsukium opened #2933 "[ENH]: ExplainerDashboard: add function to get explainer"
### Describe the feature you want to add to this project

The `dashboard` function is very useful but returns a running dashboard.
I want to use `ExplainerDashboard CLI` or `InlineExplainer`, which needs `Explainer` objects.
Could you add `get_explainer` function or something else?

### Describe your proposed solution

Since the name `get_explainer` may be too general (explainer is not only for Ex

[2022-09-02 08:12] Ankitkalauni commented on #2136
`!pip install pycaret[full] --ignore-installed llvmlite`

[code]

`!pip install numpy==1.20`

[code]

`from pycaret.regression import *`

[code]

[2022-09-02 08:15] Ankitkalauni commented on #2136
getting errors while installing pycaret full or normal pycaret. using the pinned environment (2022-08-25) of Kaggle

`!pip install --ignore-installed pycaret[full] `

also giving the same error `Numba needs NumPy 1.20 or less`

[2022-09-02 15:36] messaoudia opened #2934 "[BUG]: Cluster PCA plot and TSnE not showing"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-03 05:36] tvdboom commented on #2929
Use the latest rc version of pycaret: `pip install --pre pycaret`. This version will **not** one-hot encode columns with only 2 classes. Also, make sure pycaret treats your columns as numerical since they only contain 0/1. Use `categorical_features=[]` as @noah8287 suggests or change the type of the column before setup

[2022-09-03 05:37] tvdboom commented on #2928
Use the latest rc version: `pip install --pre pycaret` and set `imputation_type=None`

[2022-09-03 12:43] Ali-Flt opened #2936 "[ENH]:"
### Describe the feature you want to add to this project

Ability for `automl` function to return topk models instead of only the top 1 (best) model.

### Describe your proposed solution

Just like `compare_models` function, it is useful to be able to have `n_select` option for `automl` function too. Right now I can't see any way to have the top n best models using holdout set.

### Describe alter

[2022-09-03 19:13] Infinitay commented on #2914
I am having the same issue with PyCaret `v3.0.0.rc3`. Happens regardless of using either the classifiers or time series modules.

[2022-09-03 21:25] turkalpmd opened #2940 "[BUG]: time_series.prediction() returns NaN"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [x] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-04 09:05] ekamperi commented on #2259
Hey folks. Any update on this one? This is a significant blocker for us, and I'm surprised it wasn't prioritized. Can we help somehow to get this fixed? Like offer a bounty or help with testing? Thanks!

[2022-09-04 12:50] #2805 closed

[2022-09-04 18:55] Yard1 commented on #2259
Can you try with the 3.0 prerelease version and see if the problem still occurs? Thanks.

[2022-09-05 13:41] ekamperi commented on #2259
With 3.0 prerelease `compare_models()` returns an empty list here, when setting `fold_strategy='groupkfold'` and `fold_groups` set either to the column name or to an array of samples.

[2022-09-06 08:06] Yard1 commented on #2259
Can you provide a reproductible code sample?

[2022-09-06 12:12] #2807 closed

[2022-09-06 12:42] Ali-Flt commented on #1517
Hi,
I wanted to check if there is any updates on this rather important issue. Regression output could be considered irrelevant without knowing the uncertainty of each coefficient and uncertainty of the residuals so p-values, t-values and confidence intervals are a critical output need to be reported in the model evaluation phase.

[2022-09-06 21:01] moezali1 commented on #2803
@tvdboom Just did. The exact same error.

![image](https://user-images.githubusercontent.com/54699234/188737302-a7de6c11-f783-4d83-9530-8abd11c3504a.png)

[2022-09-07 06:33] tvdboom commented on #2803
@moezali1 That can't be because that code is no longer there. Are you using the [change_engine_param_name](https://github.com/pycaret/pycaret/tree/change_engine_param_name) repo?

[2022-09-07 13:54] ngupta23 commented on #2940
@turkalpmd Can you produce a minimal set of data and code to reproduce the problem. It is hard to debug with the entire code base and dataset. Thanks!

[2022-09-07 13:57] ngupta23 commented on #2940
Also, please break down `create_model`, `tune_model` and `finalize_model` into individual steps so that it is easier for you to also debug and get to the root cause faster (i.e. which step is causing the issue).

[2022-09-08 16:02] KulikDM opened #2948 "[ENH]: Addition of PyThresh to the Anomaly library"
### Describe the feature you want to add to this project

The Anomaly library within pycaret contains many useful methods for anomaly detection. However, as with PyOd and other outlier detection libraries it is up to the user to set the amount of contamination that exists in the dataset as an input parameter. This parameter is often difficult to ascertain and is where PyThresh comes in. PyThresh i

[2022-09-08 16:35] moezali1 commented on #2948
@KulikDM Would you like to work on this integration?

[2022-09-08 16:42] KulikDM commented on #2948
@moezali1 I would definitely like to, though assistance would be really helpful.

[2022-09-08 22:13] reza1615 opened #2949 "[ENH]: For timeseries Compare_model has a plot"
### Describe the feature you want to add to this project

To select the best model most of the time, we can not just trust evaluation metrics (MAE, RMSE , MAPE ,SMAPE , MASE, RMSSE,...) In my opinion, If we have a plot that can show model prediction will be helpful.

### Describe your proposed solution

For example:
For comparing the top 2 models with the actual value
![image](https://user-images.

[2022-09-08 22:24] reza1615 opened #2950 "[ENH]: timeseries Compare_model with/without outliers"
### Describe the feature you want to add to this project

Sometimes outliers in the data cause some confusion in selecting the best model and make the metrics useless.

### Describe your proposed solution

In my opinion, if we have an option to remove/keep outliers, we can have better visibility to select the best model

### Describe alternatives you've considered, if relevant

_No response_

###

[2022-09-10 22:02] ngupta23 commented on #2949
@reza1615 This is already available. You can compare the forecasts from multiple models as follows

[code]

Simply get the top N models from `compare_models` and plot them together.

[2022-09-11 21:17] turkalpmd commented on #2940
Dear Nikhil,

I solved the problem. Transformation feature is doesnt work properly. Maybe box-cox or yoe-johnson create infinity or NaN values. When I close this my problem is solved.

[2022-09-12 10:27] moezali1 commented on #2882
Will not be done because deepchecks is not yet compatible with latest version of plotly. deepchecks is pinned to plotly==5.5.0 and some other dependencies of pycaret requires the latest version. Hence `deepchecks` is skipped from requirements until that is sorted.

[2022-09-12 10:28] moezali1 commented on #2884
Just tested again on colab using `master` branch and it is working. Hence closing the issue.

![image](https://user-images.githubusercontent.com/54699234/189631985-8f3c7c28-9a3c-42c3-a467-4ae1086069a1.png)

[2022-09-12 10:28] #2884 closed

[2022-09-12 11:12] zhangyingying520 opened #2958 "[BUG]: There is no dataset Airline in the time series"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-12 11:19] zhangyingying520 opened #2959 "[BUG]: In NLP,when init setup,I found a error"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-12 17:52] Ali-Flt opened #2960 "[BUG]: fold_groups argument doesn't accept column name string"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-13 06:19] ArtificialZeng opened #2961 "[BUG]: PicklingError: Could not pickle the task to send it to the workers."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-13 07:34] #2929 closed

[2022-09-13 07:34] #2928 closed

[2022-09-13 18:19] dcnadler opened #2963 "[ENH]: Allow modification of Pipeline memory"
### Describe the feature you want to add to this project

When a Pipeline is instantiated, it uses the current memory to create caching method: https://github.com/pycaret/pycaret/blob/3.0.0.rc3/pycaret/internal/pipeline.py#L82-L84

This is unlike v2, which didn't do anything with the memory.

The issue is with the v3 setup is there is no public way to modify the memory. When I loaded a model, it's

[2022-09-14 01:34] ngupta23 commented on #2940
@turkalpmd I would like to fix the issue with the transformations if it truly exists. Will you be able to provide a simplified code example with sample data to reproduce the issue? Thanks!

[2022-09-14 01:36] ngupta23 commented on #2958
There seems to be a problem with your internet connection so it is unable to fetch the data. Please make sure you have an active internet connection. I will close out this issue. Feel free to reopen if the issue persists.

[2022-09-14 01:36] #2958 closed

[2022-09-14 05:57] turkalpmd commented on #2940
I can share notebook with you. Is it possible?

[2022-09-14 11:12] ngupta23 commented on #2940
@turkalpmd Yes, you can attach the zip here. Thanks!

[2022-09-14 13:46] #2930 closed

[2022-09-14 13:46] #2803 closed

[2022-09-14 18:44] kinoto86 commented on #319
I am getting the same thing, nothing gets plotted after running plot_model, evaluate_model() in jupyterlab. Is there anything we can try for this? Thanks!

[2022-09-14 18:44] kinoto86 commented on #319
how? where??

[2022-09-14 21:58] turkalpmd opened #2964 "[BUG]: module 'pycaret.containers.metrics' has no attribute 'classification'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-15 06:17] tvdboom commented on #2963
There is a `memory` parameter in setup to change the memory of the pipleine. See [here](https://github.com/pycaret/pycaret/blob/84faafe7b982b05a069280e93a081f802775083b/pycaret/classification/oop.py#L682-L686)

[2022-09-15 06:19] tvdboom commented on #2961
Please, add a full reproducible example. We can't debug without it.

[2022-09-15 06:57] linetor opened #2965 "[ENH]: TUNE_MODEL seems to run with n_jobs=1. Is it possible to run with more cpu?"
### Describe the feature you want to add to this project

When tune_model, log said that
**Tuning with n_jobs=1**
**Cross validating with StratifiedKFold(n_splits=3, random_state=None, shuffle=False), n_jobs=1**
...
 although model's parameter is set to n_jobs=4 and **setup**s n_jobs=4.
So I want to add parameter n_jobs for tune_model.

[code]

### Describe your proposed solution

I think n_jobs n

[2022-09-15 15:18] PabloJMoreno commented on #2959
I also have problems with NLP module when using PyCaret 3.0 when running `setup()`:

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_25368\4259649529.py in <cell line: 1>()
----> 1 nlp = setup(data = df, target = 'comentario', session_id = 100)

~\anaconda3\envs\py

[2022-09-15 16:44] dcnadler commented on #2963
I understand you can set the memory attribute at the time of model creation with `setup()`, but in my case the model was created offline and saved a while ago.

The current program is consuming the saved model with `load_model()`. I'm looking for a way to modify the Pipeline memory when not in the model-creation environment. Unless there's some way to use `setup()` in my case? (but I get a ValueEr

[2022-09-15 19:37] tvdboom commented on #2964
Hi. Thanks for pointing out the bug. This specific bug is fixed in #2968 but there is another one in tune_model for clustering which is a bit trickier. I'll look at it over the weekend.

[2022-09-16 00:32] turkalpmd commented on #2964
How can I help you, please share with me and also feel free.

[2022-09-16 06:37] tvdboom commented on #2963
I see your point. I added a `@setter` for the memory parameter in #2968 so you can do `pipeline.memory = new_memory` in the future version. Thanks for pointing out the issue.

[2022-09-16 06:45] tvdboom commented on #2964
The new problem arises here:https://github.com/pycaret/pycaret/blob/84faafe7b982b05a069280e93a081f802775083b/pycaret/internal/pycaret_experiment/unsupervised_experiment.py#L1494-L1496

`tune_model` calls `_create_model` internally and `_create_model` transforms the data using the pipeline fitted in `setup`. But this fails since the pipeline in `setup` was fitted on all features, and for `tune_mode

[2022-09-17 18:51] #2963 closed

[2022-09-19 00:17] Kon3000 opened #2974 "[INSTALL]:"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Apple M1 - Docker

### Installation Method

Other

### pycaret Version

latest

### Python Version

latest

### Description

I installed the pycaret image in Docker, I run the container. I get the URLs that I am supposed to copy on my browser to open the Jupi

[2022-09-19 00:27] Kon3000 commented on #2974
I think I solved it. I specified the name of the container port in the "options" tab of the Docker image, when I was creating the container.

[2022-09-19 03:16] nagamatz opened #2975 "[BUG]: Runs recorded in MLflow nests all recursively"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-19 14:16] AndIaAnd opened #2976 "[ENH]: Linear regression formula in R language from Pycaret"
### Describe the feature you want to add to this project

Hello, if you know in R language linear regression have some formula from parameter in model
https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/lm
http://imagedrop.xyz/viewImage.php?name=uploads/img_2022-09-19-14-02-18_6328766a7bd95.png
http://imagedrop.xyz/viewImage.php?name=uploads/img_2022-09-19-14-02-35_6328767b6885c.pn

[2022-09-20 16:26] jonasvdd commented on #2694
Hi,

I found some time for this issue.

I looked at all the examples in the `tutorials` folder, but didn't find a time series use-case. So maybe expanding the `tutorials` folder with a (high-frequency) time-series use-case might be beneficiary? As for the `examples/time-series` folder, the majority of the `time_series_20X` notebooks can use plotly-resampler as visualization tool.

So I propose you

[2022-09-21 08:52] nagamatz opened #2978 "[ENH]: experiment_custom_tags for tune_model, etc."
### Describe the feature you want to add to this project

In the MLflow integration, runs of tune_model, ensemble_model, blend_models, stack_models are recorded there, but they don't accept experiment_custom_tags parameters. For the precise tracking, I want to record custom tags even with them.

### Describe your proposed solution

Add 'experiment_custom_tags' keyword argument to other trackable f

[2022-09-21 15:50] Yard1 commented on #2975
Cannot reproduce on master. Please try again with `pip install -U --pre pycaret` @nagamatz and reopen the issue if it persists.

[2022-09-21 15:50] #2975 closed

[2022-09-21 16:25] lucidviews opened #2980 "[BUG]: Cannot import pycaret.classification (KeyError)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-21 17:32] celestinoxp commented on #2377
cuML not support windows. Only work in windows via Windows WSL.

[2022-09-21 17:32] #2377 closed

[2022-09-21 20:58] LUS24 opened #2981 "[QUESTION]: The `plot_model` function does not generate an out of sample forecast --pre release version:"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-21 21:28] ngupta23 commented on #2981
2 things to note:

1. To make future forecasts, you need to finalize the model
2. If you are making forecasts for the future, you also need to provide the future exogenous variable values.

Please refer to the 200 series notebooks for details.

[2022-09-21 21:36] ngupta23 commented on #2950
For now, you will need to do outlier correction outside pycaret. Or try adding a custom `sktime` pipeline with a step that removes anomalies. I think they have an example in their repo using Hampel Filters: https://www.sktime.org/en/stable/api_reference/auto_generated/sktime.transformations.series.outlier_detection.HampelFilter.html

Caveat: I have not tried it myself, so you may have to experimen

[2022-09-21 21:38] ngupta23 commented on #2927
Dont know for sure, but try putting `%matplotlib inline` before calling `eda()`

[2022-09-23 13:28] IacusElias commented on #2980
i Have a problem also importing classification from pycaret.
ImportError: cannot import name '_astype_copy_false' from 'sklearn.utils.fixes'

[2022-09-23 20:29] celestinoxp opened #2983 "[UPDATE]: parameters update"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-24 13:58] sabirjana opened #2984 "[INSTALL]: Installation Issue"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Windows-10-10.0.22000-SP0

### Installation Method

pip install

### pycaret Version

'3.0.0'

### Python Version

3.8

### Description

Hi, Thanks for your huge contribution towards open source! I have installed ( pip install pycaret-ts-alpha --user) the lib

[2022-09-24 14:22] sabirjana commented on #2984
While resolving the previous issue, ended up with another
![image](https://user-images.githubusercontent.com/52304765/192103090-cdd83e5c-324d-4efd-a96c-079a0332b365.png)

[2022-09-24 15:42] ngupta23 commented on #2984
In your case, you do not have the right sklearn version installed. You should switch to using the integrated version of the time series module now (where time series is available with other tasks such as regression, classification, etc). Also, please install this in a clean environment.

[code]

I will close this for now. If the issue persists, please reopen it or file a new issue.

[2022-09-24 15:42] #2984 closed

[2022-09-24 15:44] ngupta23 commented on #2981
@LUS24 is the problem is resolved, can you close this issue?

[2022-09-24 15:46] ngupta23 commented on #2976
Since pycaret just relies on sklearn models under the hood, you should open this issue with sklearn.
Alternately (a little more involved), if you want the statistical outputs, you can wrap the linear regression model from `statsmodels` into a sklearn compatible model and add that as a custom model in pycaret. This will return the statsmodels linear regression model to you which you can probe furth

[2022-09-24 15:46] #2976 closed

[2022-09-24 16:19] LUS24 commented on #2981
Sure, thanks for the help and awesome work with Pycaret! 😄

[2022-09-24 16:19] #2981 closed

[2022-09-25 12:54] sabirjana commented on #2984
Thanks for your quick response. This is a duplicate of https://github.com/pycaret/pycaret/issues/2542. I force install pip install scikit-learn==1.0.2 --user to resolve the issue.

[2022-09-25 14:10] sabirjana opened #2986 "[BUG]: times series prediction is returning empty dataframe"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-25 16:14] ninjit opened #2987 "[INSTALL]: cuML + pycaret install steps?"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

Linux-5.4.0-125-generic-x86_64-with-glibc2.31

### Installation Method

Other

### pycaret Version

2.x + 3.pre

### Python Version

3.9

### Description

I've been trying to get pycaret and cuML (rapids) installed together for a while now, and I think I'm mi

[2022-09-25 19:41] ninjit commented on #2987
The rapids.ai release tool suggests:
[code]

However this takes forever to execute, and the one time I let it go overnight, it conda had exited with some unresolveable conflict message (it's still running now when I tried to repeat...)

[2022-09-25 19:44] ninjit commented on #2987
I next tried starting with empty environment, and installing packages with mamba (faster than conda) followed by pip
[code]

But the pycaret install fails with the following message about `distutils` installed projects
[code]

[2022-09-25 19:51] ninjit commented on #2987
Reversing the install order, completes the installs, but results in a borked pycaret installation because of the package versions installed by rapids afterwards
[code]
![Screen Shot 2022-09-25 at 12 48 46](https://user-images.githubusercontent.com/753263/192162479-cefd77d8-19f4-4639-859e-59c67c18b8d8.png)

[2022-09-25 20:03] ninjit commented on #2987
Using --pre for pycaret, after cuml first, installs successfully, but results in a type error when trying to check cuml version
[code]
![Screen Shot 2022-09-25 at 13 00 15](https://user-images.githubusercontent.com/753263/192162912-de78b700-2a94-4f8b-ac29-d2cdd549439d.png)

![Screen Shot 2022-09-25 at 13 00 38](https://user-images.githubusercontent.com/753263/192162915-6bb21dda-1a08-4f0e-a93b-8251

[2022-09-25 20:19] ninjit commented on #2987
And the last thing I've tried is installing from github main
[code]
 pip complains about some package dependency problems
[code]
But seems to still complete
However I still get the same type error when checking cuml version as above

[2022-09-25 21:24] ninjit commented on #2987
ok, I think I made a little progress.
Installing full rapids forces sklearn version >1, which is not compatible with the pycaret v2.3 available in conda-forge (but doesn't seem to be specified as a requirement)
Installing just cuML doesn't enforce this
[code]
pycaret in conda-forge is also missing the scikit-plot dependency, so adding that fixes associated import errors.

I'm now running through t

[2022-09-26 02:03] ngupta23 commented on #2986
There is not enough information here to debug. Can you provide a completely reproducible example of the code? Thanks!

[2022-09-26 05:37] sabirjana commented on #2986
Please find attached a zip file with the code. Appreciate it if you can have a look. Thanks!
[pycaret_prediction_v.10.zip](https://github.com/pycaret/pycaret/files/9643232/pycaret_prediction_v.10.zip)

[2022-09-26 08:38] celestinoxp opened #2988 "[ENH]: Pandas 1.5.0 compatibility"
### Describe the feature you want to add to this project

Pandas 1.5.0 compatibility

### Describe your proposed solution

Pandas 1.5.0 compatibility

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-09-26 08:44] celestinoxp commented on #2988
If you use `pip list --outdated` you will receive a list of latest version of packages and versions you have installed.

after update pycaret to rc4 i have a list i can´t update and is considered important to update:

llvmlite 0.38.1  0.39.1 wheel
numba    0.55.2  0.56.2 wheel
numpy    1.22.4  1.23.3 wheel
pandas   1.4.4   1.5.0  wheel
pmdarima 1.8.5   2.0.1  wheel
scipy    1.8.1   1.9.1  wheel

[2022-09-26 10:12] aidsj opened #2989 "[INSTALL]: Fail Encountered error while try to install Numpy (Mac)"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

MAC M1

### Installation Method

pip install

### pycaret Version

2.3.10

### Python Version

3.8

### Description

Have an issue installing Pycaret using `pip install pycaret`.

I am using a new python environment and python=3.8.

### Installation Logs

<de

[2022-09-26 13:03] MMYusuf opened #2990 "[BUG]: skopt custom search grid throws ValueError"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-26 21:27] moezali1 opened #2991 "[BUG]: plot_model in clustering"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-27 07:56] LerysG opened #2992 "[BUG]: No tree visualization for RF & DT: AttributeError: 'NoneType' object has no attribute 'classes_'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-27 09:33] verajosemanuel opened #2993 "[DOC]: clarification on exporting pipeline/transformer"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.gitbook.io/docs/get-started/functions/deploy#save_model

### Documentation problem

I am in a position in which a colleague that only uses sklearn (not permitted to install pycaret on the server)

[2022-09-27 14:00] drewaight commented on #2960
I am experiencing the exact same issue with pycaret3.
When 'groupkfold' is selected compare_models returns nothing. Thank you.

[2022-09-28 02:26] ArtificialZeng opened #2996 "[BUG]: Can't save model to .txt? Only can save to .pkl? It's buggy when I transform the saved .pkl to txt."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-28 02:27] ArtificialZeng commented on #2992
same bug https://github.com/pycaret/pycaret/issues/2996

[2022-09-28 08:45] cespos commented on #2980
Hi!
I also cannot import pycaret.classification but I got a different error:
[code]
Thanks!

[2022-09-28 09:42] asmaier commented on #2989
To install pyCaret on an M1 successfully I had to do the following:

    brew install cmake
    pipenv install --pre pyCaret

Installing `cmake` first is necessary, because otherwise the installation of `lightgbm` will fail, see https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#macos .
For pyCaret I was only able to install the prerelease version successfully on an M1 Mac with Pyth

[2022-09-28 17:48] binaryyskull opened #2998 "[BUG]: pycaret clustering - ValueError: Supervised encoders need a target for the fitting. The target cannot be None"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-28 18:23] binaryyskull opened #2999 "[BUG]: Multiclass Classification boundary plot (plot_model)"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-28 18:59] tevfikcagridural commented on #2906
Based on @mydataag’s answer it is possible give sample weights not on `setup` but on `create_model` or `compare_models` within pycaret. Works for both classification and regression

[code]

[2022-09-28 19:01] tevfikcagridural commented on #1350
Based on @mydataag’s answer it is possible give sample weights not on setup but on create_model or compare_models within pycaret. Works for both classification and regression

[code]

[2022-09-29 02:13] Louis-udm opened #3001 "Showing original label not encoding value in plot_model for pycaret3"
### Describe the feature you want to add to this project

Hi pycaret team!

I know that pycaret2.x has solved this issue (#1939), but it seems pyCaret3 does not support this feature.

Thanks!

### Describe your proposed solution

copy the feature form 2.x

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-09-29 04:35] maulanaakbardj opened #3002 "[BUG]: Save Model to Disk, AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-29 13:10] lucidviews opened #3004 "[BUG]: Dependency conflicts with pip install pycaret in Google Colab"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-29 13:20] lucidviews commented on #3004
Sorry guys, just had to restart the runtime :-D

[2022-09-29 13:20] lucidviews commented on #3004
Sorry guys, just had to restart the runtime :-D

[2022-09-29 13:20] #3004 closed

[2022-09-30 10:16] celestinoxp opened #3005 "[ENH]: RidgeClassifier new "positive" parameter"
### Describe the feature you want to add to this project

In sklearn documentation (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeClassifier.html), says:

solver ‘lbfgs’ uses L-BFGS-B algorithm implemented in scipy.optimize.minimize. It can be used only when positive is True.

So. In pycaret\containers\models\classification.py, the ridgeclassifier not have the "positi

[2022-09-30 10:19] celestinoxp commented on #2983
@moezali1 , @Yard1, can you do check this?

[2022-09-30 12:05] Yard1 commented on #2983
I do not recall any significant hyperrparameter changes being introduced with the updates

[2022-09-30 12:19] Yard1 commented on #3002
Can you try with the 3.0 prerelease? `pip install -U --pre pycaret`

[2022-09-30 12:21] Yard1 commented on #2998
Can you try with the 3.0 prerelease? `pip install -U --pre pycaret`

[2022-09-30 14:47] drewaight opened #3006 "[BUG]: Cant get group shuffle split to work under any circumstances"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-30 16:07] reza1615 opened #3007 "[BUG]: Most recent Master version shows all metrics as 0"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-09-30 18:58] binaryyskull commented on #2998
@Yard1  Thank you! It is now working! Can you please also check my other issue which is about classification? Regards.

[2022-09-30 20:02] ryankarlos commented on #1790
@ngupta23  Is this issue being worked on or can I have a go ? My first contribution to pycaret

[2022-09-30 20:44] ryankarlos commented on #2417
@ngupta23  could you assign this to me please  ?

[2022-09-30 22:00] celestinoxp commented on #3007
You have updated from 2.x to 3.x version?

[2022-09-30 22:27] ngupta23 commented on #2417
Thanks @ryankarlos. I have assigned it to you.

[2022-09-30 22:27] ngupta23 commented on #1790
Thanks @ryankarlos. I have assigned it to you. This is not being worked on right now by anyone.

[2022-09-30 23:40] reza1615 commented on #3007
yes before that I worked with 2.3.10
I just updated pycaret without changing code or data

[2022-10-01 09:14] celestinoxp commented on #3007
I think when upgrading from version 2.x to 3.x some files from version 2.x stay in folders and then create conflicts in version 3.

My suggestion: use `pip uninstall pycaret` to delete pycaret completely and then use `pip install --pre pycaret -U` or the latest version on GitHub `pip install -U git+https://github.com/pycaret/pycaret.git@master`

See if it works now. If so, you can close this issue

[2022-10-01 14:05] reza1615 commented on #3007
I install pycaret on databases notebook every time the notebook temporary install it after detaching it will remove

[2022-10-01 16:45] moezali1 commented on #3007
@reza1615 Can you please upload a reproducible notebook with data so that we can reproduce the error?

[2022-10-01 20:04] reza1615 commented on #3007
Unfortunately I can not upload the dataset it is confential data.

[2022-10-02 13:28] binaryyskull commented on #319
Still, any kind of visualization does not appear on Jupyter Lab using pycaret. Does someone have updates?

[2022-10-02 15:17] ngupta23 commented on #3007
Can you create mock data to reproduce the problem?

[2022-10-02 15:21] ngupta23 opened #3011 "[BUG]: Number of folds not reported correctly when passing ExpandingWindowSplitter"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-03 13:55] jmsuthar opened #3012 "[INSTALL]: Upgrade to 2.3.10 and still requires scikit-learn==0.23.2"
### Installation check

- [X] I have read the [installation guide](https://pycaret.gitbook.io/docs/get-started/installation).

### Platform

macOS-12.6-x86_64-i386-64bit

### Installation Method

pip install

### pycaret Version

2.3.10

### Python Version

3.8

### Description

As per [requirements.txt](https://github.com/pycaret/pycaret/blob/master/requirements.txt#L10), it should point to great

[2022-10-03 16:58] ninjit commented on #3006
I've had the same experience with other CV data splitters.
e.g. the LeaveOneGroupOut (logo) class from sklearn.model_selection

[2022-10-03 17:05] ninjit commented on #3012
I believe this is intentional (actually required) per the installation guide (which you marked as read):

![Screen Shot 2022-10-03 at 10 00 24](https://user-images.githubusercontent.com/753263/193635892-fe1ba08a-287d-42fc-b9b8-1510ab2deaf4.png)

The requirements file on github master is for the current development version (3.x) of pycaret which I gather will relax some of the == package requiremen

[2022-10-03 17:08] jmsuthar commented on #3012
Okay that make all sense. Thanks a lot 👍

[2022-10-03 17:08] #3012 closed

[2022-10-04 09:07] rcshetty3 commented on #2992
I have the same issue, please help

[2022-10-05 12:25] huaji1992 commented on #2992
I have the same issue, please help

[2022-10-05 12:54] philipperbd opened #3014 "[ENH]: Plots with several models"
### Describe the feature you want to add to this project

I would like to plot ROC/PR Curves of several models on the same graph. It does not seem to be possible at the moment.

### Describe your proposed solution

Using sklearn it is possible but I think it is just not yet included.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-10-06 10:06] mkn-skrb opened #3015 "[BUG]: The LR model does not predict correctly after tune_model with search_library='optuna'"
### pycaret version checks

- [x] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-06 19:56] ninjit opened #3016 "[BUG]: GroupKfold no longer working in v3.x"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-06 23:45] JhingleDiff opened #3017 "[BUG]: finalize_model no longer working in v3.x for catboost"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-07 06:03] sonaliukarde opened #3018 "[BUG]: cannot import name 'TimeSeriesExperiment' from 'pycaret.internal.pycaret_experiment'"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-07 08:52] PabloJMoreno opened #3019 "[BUG]: setup() function on time_series module is not working in PyCaret 3"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-07 09:25] moezali1 commented on #3019
Update the xgboost version and the issue will fix. Please let me know if it doesn't.

[2022-10-07 12:59] jonasvdd commented on #2694
@ngupta23; I still have some questions regarding `big_data_threshold`, see the Slack channel for more info.

[2022-10-07 23:29] sorenwacker opened #3024 "[ENH]: Line thickness in ROC plot"
### Describe the feature you want to add to this project

![image](https://user-images.githubusercontent.com/3391614/194675069-7dd1db47-6c6c-4e3c-87a7-d686498b834f.png)

With a "perfect" model the lines disappear.

### Describe your proposed solution

If the default line would be thicker it would be still visible.

### Describe alternatives you've considered, if relevant

Alternatively the z-level

[2022-10-08 00:05] sorenwacker opened #3025 "[ENH]: LightGBMError: Do not support special JSON characters in feature name."
### Describe the feature you want to add to this project

Would be nice to have a standardized way to get the feature importances.
This also does not work for random forest or other types of models.

https://github.com/pycaret/pycaret/issues/815

### Describe your proposed solution

This specific error comes from LightGBM, I wonder if the feature names could be hidden from the models and restored

[2022-10-08 07:31] prateekjoshi565 commented on #3019
Thanks @moezali1

I was facing the same issue. Upgraded xgboost and it started working fine.

[2022-10-08 14:38] ngupta23 commented on #3018
You are using an older depracated version of the library (pycaret-ts-alpha). Please switch to the latest pre-release version which should resolve the issue.

`pip install --pre pycaret`

[2022-10-08 14:38] #3018 closed

[2022-10-08 14:42] ngupta23 commented on #1851
Just a follow-up in case folks face the same issue again.

`pycaret-ts-alpha` has been depracated and the time series module has now been merged back to the main `pycaret` module. You can install it by using

`pip install --pre pycaret`

With this installation, you can now also use the time series module along with the other tasks such as regression, classification, clustering, etc.

[2022-10-08 14:44] ngupta23 commented on #3019
Awesome! We will close this for now. Feel free to reopen if the issue persists

[2022-10-08 14:44] #3019 closed

[2022-10-08 14:49] ngupta23 commented on #2989
Thanks @asmaier.

@aidsj If this resolves the problem, please close this issue. Thanks!

[2022-10-08 14:52] ngupta23 commented on #2988
The goal is not to install the latest version of all the packages but to install a version that is compatible with all the other libraries in that environment. What is the specific issue you are facing? I am able to install pycaret 3.0.0rc4 without any issues.

[2022-10-08 18:00] celestinoxp commented on #2988
This is not a specific problem. It is said that Pycaret is a software hub, and they all have bugs that are fixed with new versions. If we are not aware of these improvements we will end up using software with bugs that have already been fixed but we are not using it.

The simple fact that a software works doesn't mean that it doesn't have bugs.

Here's a huge list of things that have been fixed, p

[2022-10-08 18:06] celestinoxp commented on #2988
I checked in requierements.txt and the reason pycaret doesn't support pandas 1.5.0 seems to be because of sktime compatibility, but they already support the latest pandas. See https://github.com/sktime/sktime/commit/29a1864ab8c302a1b2abc6e7d9fed6f569aaf58a

[2022-10-08 18:24] celestinoxp commented on #2988
Sorry if i don't agree of 1st rule of programming: "If works don´t touch it".
https://twitter.com/TheInsaneApp/status/1369170238701375489?s=20&t=rEjc0QrLkWcGUao9zn-pmA

[2022-10-08 19:03] ngupta23 commented on #2988
We can relax pandas to match sktime since they have relaxed their requirement. That is not a problem. Bottom line is that in this case, we will be limited by sktime in this case since sktime is a dependency of pycaret.

[2022-10-08 19:40] ngupta23 opened #3027 "[BUG]: Time Series setup fails with 3.0.0rc4"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-08 20:12] ngupta23 commented on #2986
I am not able to reproduce your issue. It seems to be working fine for me. See here: https://gist.github.com/ngupta23/f550e5f0530dce73ad3afb90a8fee8bb

I will close this issue. Feel free to reopen if you can provide the reproducible code for this issue.

[2022-10-08 20:12] #2986 closed

[2022-10-08 20:17] ngupta23 commented on #2940
@turkalpmd I can not debug the issue with such a big notebook. Can you create a minimal example? In any case, I see you are using pycaret-ts-alpha. This has been deprecated. You should switch to the pre release of 3.0.0. Please see here:

https://github.com/pycaret/pycaret/issues/3018#issuecomment-1272334059

[2022-10-08 20:28] ngupta23 opened #3029 "[BUG]: Time Series prediction plot not showing prediction interval"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-08 22:20] ngupta23 commented on #3029
@jonasvdd, It seems that this issue is coming after we changed `Scatter` to `Scattergl` in `plot_predictions_with_confidence` in [this PR](https://github.com/pycaret/pycaret/commit/8ece199d84c29539ef0311c9eea55bc73148ed2f). Can we change this back to `Scatter` (this resolves the issue - I have verified locally)?

![image](https://user-images.githubusercontent.com/33585645/194729649-480f3658-9512-4

[2022-10-08 23:00] jonasvdd commented on #3029
Hi, sure!
I mainly did that to speed up graph construction time. But as it induces this bug, this can certainly be changed back!

Thanks for checking with me!

[2022-10-09 00:16] #2989 closed

[2022-10-09 02:22] ninjit commented on #3006
Can you try
` create_model('dummy')`
instead of compare_models()

In my case this revealed the actual error being encountered:
![Screen Shot 2022-10-08 at 19 15 54](https://user-images.githubusercontent.com/753263/194734517-8fee46cc-a9c1-4b22-9dbf-1ff8a740e403.png)

n_splits doesn't seem to be a required attribute for all sklearn CV classes
I think the correct way to query this is with the functio

[2022-10-09 02:56] #3029 closed

[2022-10-10 03:27] Riazone opened #3033 "[BUG]: Adding list of categorical_features to set up throwing ValueError"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-10 19:29] #2417 closed

[2022-10-10 22:46] #2988 closed

[2022-10-10 22:49] Ali-Flt commented on #3016
Have you tried giving `data["EDUCATION"]` directly as the setup argument?
[code]

[2022-10-10 22:53] Ali-Flt opened #3034 "[BUG]: Finalizing model with GroupKFold validation fails."
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-11 06:55] tvdboom commented on #3033
The problem is that the `AGE` column is numerical. You can set the `categorical_imputation` parameter in setup to "mode" to solve this issue. I created a PR as well to use it as default value. See #3505

[2022-10-11 07:01] celestinoxp commented on #2988
LGTM. Thank you!

[2022-10-11 07:38] edygianez commented on #319
Hi! Sorry for such a late reply.

Follows the link to a colab notebook so you guys can check where the %matplotlib inline is set

https://colab.research.google.com/drive/1ZqxMUQeeGTuKEDPP_vrph_nnglPFubaH?usp=sharing

Hope that helps

[2022-10-11 17:04] ninjit commented on #3016
... that's what I did and described in the problem statement and code
[code]

[2022-10-11 17:18] #3033 closed

[2022-10-11 18:52] Ali-Flt commented on #3016
I guess they are basically the same, I said that because in my code I did it the way I mentioned and it works (although I have no Idea if it's really working properly or just not returning errors)
I think groupKfold has many issues in the current version which they are addressing in [rc5](https://github.com/pycaret/pycaret/milestone/18)

[2022-10-12 10:47] ConnorReedAvantum opened #3036 "[BUG]: Pycaret 3.0.4rc can finalize Prophet"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-12 15:50] Jorgvt commented on #2259
I also found that the column used in `fold_groups` was still being used, but used `ignore_features` to ignore it during training and seems that it's doing it properly.

[2022-10-13 16:10] asmaier opened #3039 "[BUG]: No module named 'cufflinks' in tune_model()"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-13 16:18] asmaier opened #3040 "[BUG]: UnboundLocalError: local variable 'warnings' referenced before assignment in plot_model()"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [ ] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [ ] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-17 10:13] BrandonKMLee opened #3046 "[DOC]: Regression's Target Column looks as if it is classification"
### pycaret version checks

- [X] I have checked that the issue still exists on the latest versions of the docs [here](https://pycaret.gitbook.io/docs/)

### Location of the documentation

https://pycaret.readthedocs.io/en/latest/api/regression.html#regression

### Documentation problem

Am attempting setting of target variables but it refused to budge, and looking at the doc it implies that it us

[2022-10-17 14:27] asmaier commented on #2831
The [pycaret NLP tutorial](https://nbviewer.org/github/pycaret/pycaret/blob/master/tutorials/Natural%20Language%20Processing%20Tutorial%20Level%20Intermediate%20-%20NLP102.ipynb) also doesn't show any plots on databricks. Mainly the problem is, that it internally pycaret uses [plotly/cufflinks](https://github.com/pycaret/pycaret/blob/master/pycaret/nlp/__init__.py#L1978) to create the plots, which

[2022-10-18 12:58] hdaa opened #3047 "[BUG]: ''local variable 'fix_imbalance_model_name' referenced before assignment ' when defining fix imbalance method"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-19 00:09] mkurzner commented on #2659
Hi there,

I am new to pycaret and am running into the same issue described in this issue, are there any updates on how to ensure that the generated legend is visible in the saved figures or a a documented workaround? Thank you very much!

[2022-10-20 13:14] radmilr opened #3048 "[BUG]: regression setup train_size parameter produces wrong test/train and validation splits"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [x] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [x] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-21 22:09] timmhuang commented on #1057
Just checking in again to see if anyone found a way to workaround this on Databricks? Or can we now disable log writing somehow?

[2022-10-22 08:28] #2998 closed

[2022-10-22 08:30] tvdboom commented on #2999
can you try this on the newest version `pip install --pre pycaret`?

[2022-10-24 04:16] #2822 closed

[2022-10-24 09:31] celestinoxp opened #3054 "[BUG]: Test config file on github needs attention"
### pycaret version checks

- [X] I have checked that this issue has not already been reported [here](https://github.com/pycaret/pycaret/issues).

- [X] I have confirmed this bug exists on the [latest version](https://github.com/pycaret/pycaret/releases) of pycaret.

- [X] I have confirmed this bug exists on the master branch of pycaret (pip install -U git+https://github.com/pycaret/pycaret.git@ma

[2022-10-24 11:41] celestinoxp opened #3055 "[ENH]: CPU and GPU benchmarks"
### Describe the feature you want to add to this project

This idea is for anyone who uses a laptop or pc from home.

I'm wondering what it will be like to use pycaret with a newer processor.

I have a Ryzen 7 4800H with 16GB of RAM (3200mhz) and honestly I don't think it satisfies me in my projects.

I don't like to wait for hours for the end of the process and in the end to have an accuracy of l

[2022-10-25 07:41] tvdboom commented on #3047
Please, use the latest version of pycaret `pip install --pre pycaret`

[2022-10-25 11:39] celestinoxp commented on #3054
I think I found a github thread with relationship about canceling. Can anyone confirm?
Discussion: https://github.com/orgs/community/discussions/8336

[2022-10-25 16:34] #3040 closed

[2022-10-25 16:34] #3048 closed

[2022-10-27 07:16] tvdboom commented on #3017
Hi. I think this was resolved in rc4. Could you update to the latest rc and give it a try? If it still doesn't work, please share a reproducible example.

[2022-10-27 15:33] tvdboom commented on #3016
Hi, thanks for noticing the bug. I fixed it in #3057. The fix will be available with next release